[2020-02-05 08:59] williamdes commented on #14371
Yes you dit get it alright @yashrajbothra
So I did see PRs that tried to list all possible functions but because we can use user defined ones and even chained functions etc..

[2020-02-05 09:04] OlafvdSpek commented on #14371
Who approved that condition? ;)

[2020-02-05 09:16] williamdes commented on #14371
@OlafvdSpek can you be more explicit?

[2020-02-05 09:24] OlafvdSpek commented on #14371
The first part is too hard to understand, `($type != 'datetime' && $type != 'timestamp')` would be easier.
(Just a comment in general)

[2020-02-05 09:24] yashrajbothra commented on #14371
@OlafvdSpek  I think this de250fbae3d8bb5f68ef816f63abd9d04e792ff2 commit .

[2020-02-05 10:08] yashrajbothra commented on #14371
![image](https://user-images.githubusercontent.com/47683556/73832002-541aeb80-482d-11ea-9c0a-a7863e6e0623.png)

We Expect these `USER DEFINED VALUES` in Functions right?

[2020-02-05 10:20] williamdes commented on #14371
That would maybe be a solution but be sure that very custom non standard functions also work

Basically I think we can say that the rule is : keep the user defined default value (function or mysql magic constants like timestamp) usable for insertion but also allow that the user changes the function or uses a hard coded value

Thoes conditions make a fix very complicated IMO but a great idea could

[2020-02-05 11:41] yashrajbothra commented on #14371
But if we keep functions in USER DEFINED DEFAULT VALUES how will we diffrentiate that the input is a function or string?

Did you mean to hard code all the mysql function like we did with current_timestamp() ?

[2020-02-05 12:39] rabeehrz commented on #13557
@williamdes I would like to work on this.
If I'm correct, I just have to remove the seperator and make everything a single list right?

[2020-02-05 12:44] williamdes commented on #13557
I am not sure about what to do :)
Please ping me back on this one Saturday

[2020-02-05 13:44] anirudhsingh20 commented on #15890
@satyamsihare  are you still working on it?

[2020-02-05 13:57] rabeehrz commented on #12340
@williamdes I would like to work on this issue.

[2020-02-05 14:10] ianthedev commented on #15615
For people who are encountering this issue, you may change the value of the `$cfg['Servers'][$i]['hide_db']` parameter in config.inc.php to:

[code]

More info at [here](https://stackoverflow.com/a/50147332/1091014).

[2020-02-05 14:37] stu01509 commented on #15908
@williamdes
Excuse me, I have a question, If I have been pull request,
How can I to do another pull request?

[2020-02-05 14:38] williamdes commented on #12340
@rabeehrz yes you can
I had as an idea to have a scrollable list of columns

[2020-02-05 14:43] williamdes commented on #14371
I have no idea it is a challenge to solve :)

And no for hard coding the functions, I will not work because the possibilities are endless

Maybe we could add an option the the selected function that would equal to the default value of the column
But it would be confusing for the user

[2020-02-05 15:14] marvinhinz opened #15920 "Edit row in new tab destroys session in both tabs with multi server setup"
### Describe the bug

We are using latest version (4.9.4) and have set up multiple servers with cookie auth.
When trying to edit multiple rows in a new tab all sessions seem to get dropped.
On a local similar setup without multiple servers this does not seem to be happening

### To Reproduce

Steps to reproduce the behavior:
1. Login to PMA
2. Verify PMA is working as usual
3. Go to a database and

[2020-02-05 15:21] williamdes commented on #15908
@stu01509 you can have as many PRs as you want :)

[2020-02-05 15:24] williamdes commented on #15920
@marvinhinz can you reproduce this behavior between the MySQL and MariaDB servers one of them? :
Demo servers (`root`, no password)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-02-05 15:36] marvinhinz commented on #15920
On every combination i tried the following:
1. Log in
2. Select db mysql
3. Select table db
4. Open the edit link of the first row in new tab

Results:

5.0 with mysql: im still logged in, but redirected to the index page (index.php?reload=1)
5.0 with mariadb: im logged out
4.9 with mysql: im still logged in, but redirected to the index page (index.php?reload=1)
4.9 with mariadb: im logged out

[2020-02-05 15:50] rabeehrz commented on #12340
@williamdes Making a scrollable list will mess up the current relationship lines.

[2020-02-05 16:13] NKarasek commented on #12340
The list of columns for each table selected for a page would necessarily contain at a minimum the columns participating in indexes.  Relationship lines would find a guaranteed home at each end of the line.  An attempt to build a new relationship without the necessary index column visible in the list of available columns would be more readily seen as a need to build a new index.
Adding additional c

[2020-02-05 17:11] williamdes commented on #15920
Thank you @marvinhinz I will look into it soon

[2020-02-05 17:16] noyearzero opened #15921 "Navigation panel refresh bug"
### Describe the bug

Refreshing the nav panel shows no databases and no tables (in specific circumstances listed below).

### To Reproduce

Steps to reproduce the behavior:
1. Setup a server that has enough DBs in it to cause the db list to break into pages
2. Setup that server to use the 'only_db' variable so that it shows few enough DBs not to break the paging limit AND the DBs it includes woul

[2020-02-05 17:36] yashrajbothra commented on #14371
IMO for diffrenciating BTW values there can be a field like `DEFINED FUNCTION` like ` USER DEFINED VALUES` so it will not be treated as string.

[2020-02-05 17:48] yashrajbothra commented on #14371
OR Can we give a checkbox in INSERT tab which treats value as function ?

[2020-02-05 17:58] williamdes commented on #14371
Seems like a good idea, the user can fill the contents with another function or real data and it will work

[2020-02-05 18:02] yashrajbothra commented on #14371
this would be even better than checkbox i guess
![image](https://user-images.githubusercontent.com/47683556/73869020-8d744b00-486f-11ea-8ed0-050e81086102.png)

It will solve all the problems 😃

[2020-02-05 18:08] OlafvdSpek commented on #14371
Alter table and create table functions are more important then the Insert tab..

[2020-02-05 18:20] yashrajbothra commented on #14371
Ya Sure @OlafvdSpek ,But this change can solve basic problem of executing query with functions in GUI. Because AFAIK the form is same for ALTER and INSERT. And for CREATE table we do the same change like this 🤨

[2020-02-06 09:44] Jay04653 opened #15923 "Wrong phpmyadmin version after upgrade via composer"
### To Reproduce

Steps to reproduce the behavior:
1. `composer create-project phpmyadmin/phpmyadmin --no-dev`
2. Now you still have version 5.0.0, see attached screenshot #1
3. In the changelog, I can see updates from 5.0.1, see attached screenshot #2

### Expected behavior

I expect to see correct PHPMyAdmin version

### Screenshots

![image](https://user-images.githubusercontent.com/2777846/739

[2020-02-06 09:49] Jay04653 commented on #15923
Sorry, it was an issue with the local file cache.

[2020-02-06 09:49] #15923 closed

[2020-02-06 09:50] williamdes commented on #15923
Thank you for reporting this issue @Jay04653
Did you logout/login back to check ?

[2020-02-06 11:02] blaasvaer opened #15924 "Demo link gives: 502 Bad Gateway"
As the title says: On https://www.phpmyadmin.net/ – upper right corner, button labeled "O- Try demo".

[2020-02-06 11:04] williamdes commented on #15924
@blaasvaer maybe an update is in progress, please wait an hour and it should be solved

[2020-02-06 11:06] blaasvaer commented on #15924
OK, so an hour for updating a broken link ... has some CI/CD process gone wrong? ; )

[2020-02-06 11:18] williamdes commented on #15924
@blaasvaer the link is not broken, the service behind the link is maybe broken and I have no access to fix it
Only @ibennetch does
So I hope it will go back online soon

[2020-02-06 11:22] blaasvaer commented on #15924
No, worries. But have me made sure that someone at their end are made aware of the issue? Or are we just going "this is their problem, not mine"?

[2020-02-06 11:22] blaasvaer commented on #15924
Seems not, it's up again. Thanks.

[2020-02-06 11:22] #15924 closed

[2020-02-06 11:56] williamdes commented on #15924
It is a problem and I am aware of it but I can not do anything and sure I agree with you something must be done because I also had it multiple times

https://github.com/phpmyadmin/scripts/tree/master/demo

It I'll take me time or someone else to investigate what Is going on to crash the php-fpm service or another service.

So we are taking this issue seriously, and will make sure it "never" happen

[2020-02-06 12:07] bismitaguha commented on #15921
@noyearzero
On trying to reproduce the error, I found everything working fine and dbs I listed in `only_db` also were always present on the navigation after refreshing.

[2020-02-06 12:38] bismitaguha commented on #15897
I am working on this issue

[2020-02-06 12:46] ibennetch commented on #15924
Thanks for the report! Despite our monitoring, it's always helpful to get reports like this in case something slips through the cracks.

No, I'm not sure why you would think that — we don't run the CI server on the same server the demo server runs on in order to isolate processes a bit.

William is right that there is a...I think the term is "heartbeat monitor" that (usually) acts like a failsafe

[2020-02-06 14:24] noyearzero commented on #15921
Are you sure you tested it in a way that the DBs matched by `only_db` would have shown on page 2 or afterward of the nav pane had there been no `only_db` present?  For example a DB starting with a z.

I found I can fix the issue by setting `FirstLevelNavigationItems` high enough to prevent any paging.

[2020-02-06 14:35] BaseMax opened #15926 "PhpMyAdmin\Core::getRealSize('8000M') returns a float instead of an int"
### Describe the bug

There were some serious issues after upgrading the PHP of server to PHP version 7.4.
I tried to fix some of them. But there are still problems.
I also downloaded the latest version of the script so it might be compatible with PHP 7.4.
But it seems that PHPMyAdmin is not yet compatible with PHP 7.4.

The old script has been working with php 7.4, but it always shows errors. But

[2020-02-06 14:48] williamdes commented on #15926
Hi @BaseMax we are php 7.4 compatible
The error you have is caused by a php uni setting

@yashrajbothra do you want do have a look?
Maybe adding a test case will be needed to reproduce the issue (using the stack trace data)

We will keep you updated as soon as possible

Thank you for reporting this issue

[2020-02-06 14:59] yashrajbothra commented on #15926
Hey  @williamdes  which script they are reffering to?

[2020-02-06 15:05] BaseMax commented on #15926
Solved. :+1:

[2020-02-06 15:23] rabeehrz commented on #14933
@williamdes Is this open? Can I work on this?
Also, I would like to know how to access the Theme Generator. I can't find it anywhere on the pMA interface.

[2020-02-06 15:52] williamdes commented on #14933
I would agree but I have absolutely no idea where it is and if maybe it is on another branch

[2020-02-07 00:02] tabraiz961 commented on #15346
SELECT @@lower_case_table_names; //returns 1
used your query to create table and insert data

Could reproduce the error when using the query
`SELECT ID, content FROM 15346_not_unique;`
i.e 15346_not_unique without single quotes
using single quotes with database name does not show the warning and fields are editable.

[2020-02-07 03:11] stu01509 opened #15929 "UI Issue: Metro UI navigation panel setting icon bug"
### Describe the bug

In the Metro UI settings page, The navigation panel setting icon should be hidden.

### To Reproduce

Steps to reproduce the behavior:
1. Choose Metro UI.
2. Go to the settings page.
3. The navigation panel setting icon still visibility.

### Expected behavior
![](https://i.imgur.com/2q3dPf6.png)

### Screenshots
![](https://i.imgur.com/tnLnRYX.png)

### Server configuration

[2020-02-07 06:52] AkashDPA commented on #15888
I am ready we can both start after discussion with @ibennetch

[2020-02-07 07:02] thesmallstar commented on #15888
@AkashDPA this is really a interesting idea! Looking forward to contribute if this is accepted 😁

[2020-02-07 08:04] bismitaguha commented on #15888
Flutter will be better idea, with easy to maintain codebase for all OS.
@AkashDPA @williamdes @ibennetch

[2020-02-07 08:58] rabeehrz commented on #15929
Both the settings are different. I don't think this is an issue.

[2020-02-07 09:43] rabeehrz commented on #14933
@williamdes It is on the gsoc-theme-generator branch only.
When I switched to the branch and opened the theme generator, I was greeted with this.
![](https://imgur.com/vJRon0F)

This shows that the styles for the theme generator has not been loaded. If we take a look at the source, we can see that the file theme_generator.css.php from the themes/css is not being loaded. I think this was omitted wh

[2020-02-07 09:57] williamdes commented on #14933
I am not sure if you will need to merge QA_5_0 into the branch and maybe do the fixes so it is scss compatible

I think you can have a try and we can discuss on a PR

[2020-02-07 10:08] yashrajbothra commented on #14371
Hey @williamdes can i start working on this or do we need suggestions from other members ?

[2020-02-07 10:19] williamdes commented on #14371
It would be an idea but it is not explicit enough, maybe in italic
A checkbox would be cool

- [ ] value is a function

Pre-filled with the default value

That would be a double enhancement

[2020-02-07 13:17] yashrajbothra commented on #14371
I can agree with this as well but it

[2020-02-07 13:40] yashrajbothra commented on #14371
Ya this is also nice idea but there are some consequenses like

1. We need more UI space for whole row of `value is a function` and the will only one checkbox in it
2. If we check the `value is a function` then we have to disable the functionality of `Function` row because we cant use both.

If we use `Value is a function` field in `Function` than there is not need of those things.

@williamdes  O

[2020-02-07 14:26] williamdes commented on #14371
I agree with you we can do better

I was thinking what about setting the function with the value of the default value in functions list ?

I would more explicit that "user defined" and also would be a valid function to be in such a list

[2020-02-07 15:23] williamdes commented on #15200
Fixed in 6729c89b1775b48f6fb636e27279ab94c91f79da as much as I could
thank you @aschuch247

[2020-02-07 15:23] #15200 closed

[2020-02-07 16:03] milosterzic opened #15931 "Parser validation fails"
### Describe the bug

Executing `\<?php echo \'\1\'\; ?>\` ends up in infinite loop.

### To Reproduce

Steps to reproduce the behavior:
1. Select database
2. Go to SQL tab
3. Type `\<?php echo \'\1\'\; ?>\`
4. Click Go button

### Expected behavior

Printing error message that this code isn't regular MySQL code.

### Server configuration

- Operating system: Ubuntu 16.04.1
- Web server: nginx/1.1

[2020-02-07 16:14] #15899 closed

[2020-02-07 16:36] rabeehrz commented on #15931
I wasn't able to reproduce this issue. I'm using PHP 7.3.9. Is that why?

![](https://i.imgur.com/ZpzmJLf.png)

[2020-02-07 16:55] giolaza opened #15932 "PhpMyAdmin\Core::getRealSize('8G') php error"
On local enviroment using php.ini I increased memory size for php.
As result getting error:
PhpMyAdmin version is 5.0.1
[code]

[2020-02-07 16:56] williamdes commented on #15932
Duplicate of #15926

[2020-02-07 16:58] williamdes commented on #15932
Thank you for the report @giolaza
A PR is open (#15928) and the issue will be solved in next version

[2020-02-07 16:58] #15932 closed

[2020-02-07 16:59] williamdes commented on #15926
#15932

[2020-02-07 17:05] milosterzic commented on #15931
@rabeehrz

Github parser removed some characters from string.

This is malicious string, try:
`\<?php echo \'\1\'\; ?>`

[2020-02-07 17:11] yashrajbothra commented on #14371
Ya, Thats good but what about normal insertion of user defined functions (can we do that with current UI ?)

Like I have created a User Defined function `foo` (or any function which is not in the function list)  can we use it while insertion or altering

[2020-02-07 17:17] williamdes commented on #14371
Yes, let the user use it anytime :)

[2020-02-07 17:29] yashrajbothra commented on #14371
So in conclusion ,

1. All the function should be shown in `Function` field (including user defined function)
2. And Value will be treated as parameters

Correct me if i am wrong 👍

[2020-02-07 17:53] alexander-lamdan commented on #15236
Hello for everyone. I am a new at this discussion, but I have some good knowledge of this programm functionallity and how it works, I used a lot of time.
Also I have good knowledge at PHP and JavaScript skills.

I was thinking about this too.

I just wan't to give my words about this.

First what I wanted to say is that we need to support Mysql? Maybe we can just use mariadb at least the best choi

[2020-02-07 17:56] mauriciofauth commented on #15888
I don't see the point of having a mobile app like this. It may can cause more confusion than help. I think tutorials fit better in specialized platforms like [DEV](https://dev.to/) and [Medium](https://medium.com/) or in a blog.

@AkashDPA Do you have examples of other open source projects that have an app like this?

[2020-02-07 19:44] williamdes commented on #14371
Maybe I would disable the input for the default function added in the list because it is not expected to have parameters in a normal mysql insert into workflow

[2020-02-08 04:44] stu01509 commented on #15929
But in Bootstrap, pmahomme, original theme, The setting icon is hidden.
Besides, when we go to the settings page, the navigation setting icon currently add hide css class.

![](https://i.imgur.com/C81jfBh.png)

[2020-02-08 06:02] victorphoenix3 commented on #13106
@williamdes  am trying to reload  the row containing the edited cell but am confused about which function to use for retrieving the updated data of the row. Could you please suggest?

[2020-02-08 08:20] williamdes commented on #15893
Seems like a bug

[2020-02-08 08:55] DavidThomas48 opened #15933 "phpMyAdmin 501"

[2020-02-08 08:58] williamdes commented on #15933
@DavidThomas48 did you forget to post a description?

[2020-02-08 09:01] DavidThomas48 opened #15934 "phpMyAdmin 501 Execute routine param entry window title broken"
This window is showing the following:

I  presume that is meant to be the name of the procedure that you are about to execute? If it's meant to be as shown, I respectfully suggest a rethink.

[2020-02-08 09:02] williamdes commented on #15933
Duplicate of #15934

[2020-02-08 09:02] #15933 closed

[2020-02-08 09:03] williamdes commented on #15934
Thank you for the report @DavidThomas48 I will find the linked issue, we have a fix ready for it soon

[2020-02-08 12:40] williamdes commented on #15934
Duplicate of #15810

[2020-02-08 12:40] #15934 closed

[2020-02-08 14:28] rabeehrz commented on #13557
@williamdes ping.

[2020-02-08 18:33] williamdes commented on #13557
https://github.com/phpmyadmin/phpmyadmin/blob/6729c89b1775b48f6fb636e27279ab94c91f79da/libraries/classes/Util.php#L3921-L3935

The criteria is to list functions for the column type

Maybe we can add a configuration option, or remove the first group of entries

[2020-02-08 18:34] rabeehrz commented on #13557
@williamdes I've already made the changes. I'll open up a PR?

[2020-02-08 18:40] rabeehrz commented on #13557
@williamdes I found another set of code here as well.
https://github.com/phpmyadmin/phpmyadmin/blob/f4c77961310993f830b45f01ac86839407f08068/libraries/classes/Html/Generator.php#L550-L568

[2020-02-08 18:46] rabeehrz commented on #15929
I don't think that was intended behaviour. Wait until one of the maintainers comments on this.

[2020-02-08 19:35] jeronimodesign opened #15936 "phpMyAdmin 5.0.1 errors out on a 32 bit system"
When opening the login page, nothing appears.

The error log shows the following error:

One of the tests for the class in question also fails:

[code]

### To Reproduce

Installing version 5.0.1 on for example a raspberry pi using the standard 32bit raspian reproduces the problem.

### To Potentially Solve

To  make phpMyAdmin usable, removing the return specification from the method seems to wor

[2020-02-08 20:54] williamdes commented on #15936
@jeronimodesign Please try #15928
Thank you for the report we will fix this issue in next version.

[2020-02-08 20:54] williamdes commented on #15936
Duplicate of #15926

[2020-02-08 20:54] #15936 closed

[2020-02-08 20:55] williamdes commented on #15926
#15936

[2020-02-09 11:38] williamdes commented on #13106
From my investigation more code needs to be changed in depth.

Why:
- open a tab (1) with a table data
- open a tab (2) with the same table data
- edit row 1, column 1 on tab 1
- edit row 1, column 2 on tab 2
- on tab 2 see that edit row 1, column 1 did not change

So I conclude this is a "normal" behavior and we never did notice it until "generated columns" where created.

[2020-02-09 12:00] stu01509 commented on #15929
@williamdes any comments or ideas?

[2020-02-09 12:12] DavidThomas48 opened #15937 "Modal draggability/expand (down) with screen zoom change."
### Describe the bug

Modal won't drag down to utilise space created by zooming out in the browser/
### To Reproduce
Steps to reproduce the behavior:
1. Open the "Edit Routine" modal
2.  Zoom out the  browser view to give more space to extend the modal.
3. Try to drag the modal's bottom edge down into the newly available space, but the bottom edge won't drag.
## Expected behavior
The modal should

[2020-02-09 12:14] williamdes commented on #15929
I agree, this is the behavior on the other themes

Please use QA_5_0 as base branch.

Also I did see that the icon is shown on 2FA tab but for me it show be hidden as it is on other tabs.

[2020-02-09 12:21] DavidThomas48 opened #15938 "Coding space in modal too small when extended right"
### Describe the bug
Drag the Edit Routine modal to the right and the code area remains small
### To Reproduce

Steps to reproduce the behavior:
1. Edit Routine
3 Zoom out in the browser
2. Drag right edge to the right
### Expected behavior
Coding are should occupy expand with the dragged edge. Left hand label area should not extend.
A clear and concise description of what you expected to happen.

[2020-02-09 12:23] stu01509 commented on #15929
So I need to change the pull request to QA_5_0,  right?

[2020-02-09 12:25] stu01509 commented on #15938
Can I work on this issue?

[2020-02-09 12:32] williamdes commented on #15938
Yes @stu01509

[2020-02-09 12:36] williamdes commented on #15929
Yes, as base and target

[2020-02-09 12:44] stu01509 commented on #15929
OK, I changed it, Please check it is correct.

[2020-02-09 13:05] stu01509 opened #15939 "UI Issue: Form labels alignment issues in add user account."
### Describe the bug

The add user account form labels have alignment issues.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'User accounts'
2. Click Add user account.
3. See the Login Information form labels have alignment issues.

### Expected behavior
![](https://i.imgur.com/DJED680.png)

A clear and concise description of what you expected to happen.

### Screenshots
![](https://

[2020-02-09 13:20] jeronimodesign commented on #15936
Thanks, but this will not solve the problem.

I should have mentioned that casting to int was the first thing I tried. However when you cast a number bigger than maxint on a 32bit system, the result turns out to be a completely different number:

[code]

So although this fix will appear to be working, it only works for numbers up until maxint. The test will still not pass.

[2020-02-09 13:36] bismitaguha commented on #15937
@williamdes Can I work on this issue?

[2020-02-09 13:42] DavidThomas48 commented on #15938
Hi Cliff,

While you are in there, the line across the bottom of the code area that is sensitive to the “mouse hover” to trigger the drag cursor is very thin – maybe only a few pixels high, If you expand this code area regularly, as I do, you’d agree that it would be great to have a wider target to hover over to get the drag cursor. I’ll lodge a ticket if you like.

All the best,

David Thomas

Fr

[2020-02-09 14:22] williamdes commented on #15937
Yes @bismitaguha you can

[2020-02-09 14:55] williamdes commented on #15897
@fabpot can you give your thoughts on this issue ?

Trace: https://github.com/phpmyadmin/phpmyadmin/issues/15897#issuecomment-581681163

https://github.com/twigphp/Twig/blob/76352a037db381fd688f0d3b81faf48fe74fdbd4/src/Extension/CoreExtension.php#L1032

I am not sure if I should open an issue upstream
For now I will maybe use some internal code that can use another extension if needed

[2020-02-09 15:37] williamdes commented on #15897
@bismitaguha I think you could open a new PR with this patch
[code]
But to block the user use `self::warnMissingExtension('iconv', true);`

To test locally use `if (! function_exists('icotyponv')) {`

[2020-02-09 15:39] williamdes commented on #15897
@iBrabus I can not fix this issue on our end because it is called in the twig codebase, so maybe https://github.com/phpmyadmin/phpmyadmin/issues/15897#issuecomment-583858622 is the only way to "fix" this issue

[2020-02-09 16:56] williamdes commented on #15936
@jeronimodesign I added a comment on the PR for this test case

[2020-02-09 17:01] yashrajbothra commented on #15893
`git bisect` gave aec04026794345e68e5c99000c38f3f196266d37 as first bad commit

[2020-02-09 17:01] Bungeefan opened #15940 "UI Issue: Idle kick destroys page with login form"
### Describe the bug
The (maybe old) login form "breaks" the current displaying page.

### To Reproduce

Steps to reproduce the behavior:
1. Login
2. Stay idle until phpMyAdmin kicks you

### Expected behavior

Displaying the form properly

### Screenshots

![InkedFireShot Capture 005 - 192 168 0 100 _ localhost - phpMyAdmin 5 0 1 - 192 168 0 100_LI](https://user-images.githubusercontent.com/39010

[2020-02-09 17:03] williamdes commented on #15940
@Bungeefan Can you try on pmahomme theme ?
I never had this issue but I think there is an issue open or closed somewhere with the same screenshot.

[2020-02-09 17:04] williamdes commented on #15893
Thank you, a PR will be very welcome :)

[2020-02-09 17:06] yashrajbothra commented on #15893
Its Just few mins away 😉

[2020-02-09 17:35] #14947 closed

[2020-02-09 17:35] #15790 closed

[2020-02-09 18:11] Bungeefan commented on #15940
Yeah, looks like it only happens in the Metro theme

[2020-02-09 19:07] BaseMax commented on #15936
Hello,
We can do it in next step, We need to decide about it first.

There is three way for converting...
- casting: (int) $float or intval($float)
- truncating: floor($float) (down) or ceil($float) (up)
- rounding: round($float)

[code]
Output:
[code]

It seems 9223372036854775807 is max integer in the PHP. (64bit)

But by refer to constains page it's clear:

#### PHP_INT_MAX (integer)

#### PHP_

[2020-02-09 19:57] Devvyky commented on #15939
@williamdes i will try out the issue

[2020-02-09 20:07] williamdes commented on #15939
@Devvyky nice, if you need help let me know
Do not forget to run `yarn run css-compile`

[2020-02-09 20:56] victorphoenix3 commented on #13106
I'll try to come up with an appropriate fix.

[2020-02-09 21:26] jeronimodesign commented on #15936
Personally I would throw a custom exception if the user-provided value is bigger than maxint.

[2020-02-09 23:23] iBrabus commented on #15897
It is giving another error... sad story..
[code]
But it's okay, if it's working with just enabled 'iconv', than I dont interfere within its business logic :D

[2020-02-09 23:42] williamdes commented on #15897
Be sure I already fixed it  in 84cd7fb4b5efbfbd8898df2042d1e6954e20674d also ed48153e7b73a90a902138a2e33c9ab2ac312d20 and 612e501086aa0ba00d5145ea2264c6cce3ad0c5f

And the changelog e7eac68a964cc288c959a0d9c1f4e09232f5b176

Can you apply the patches and let me know if it is okay?
Also how do you disable iconv it seems built in nowdays :)

[2020-02-10 04:17] stu01509 commented on #15938
Hi @DavidThomas48

Thanks to your detail description, it's very helpful for me, I will try on this description to solve this problem.

Have a nice day :)

[2020-02-10 07:47] williamdes commented on #15936
I not have this permission.

My answer would be that nothing can store more than maxint in 32bit systems, right ?

[2020-02-10 08:09] #15926 closed

[2020-02-10 08:09] #15410 closed

[2020-02-10 08:09] #15187 closed

[2020-02-10 08:24] stu01509 commented on #15940
I had this issue one time in the Metro theme, It seems open more tabs and due the connect timeout, the page will redirect content to the login form.

[2020-02-10 12:36] stu01509 opened #15944 "UI Issue: Pagination table section background issue"
### Describe the bug

Pagination table section background color issue.

### To Reproduce

Steps to reproduce the behavior:
1. Choose "information_schema" database.
2. Choose "KEYWORDS" table.
3. See the pagination section.

### Expected behavior
![](https://i.imgur.com/oO9gqmJ.png)

### Screenshots
![](https://i.imgur.com/B0VaLYf.png)

### Server configuration

- Operating system: Windows 10
- Web

[2020-02-10 20:35] victorphoenix3 opened #15946 "PhpMyAdmin Logo not clickable"
### Describe the bug
The PhpMyAdmin logo is not clickable in the "Metro" theme.
It is supposed to redirect the user to the landing page onclick.
Works as expected for other themes.

![Screenshot from 2020-02-11 01-59-10](https://user-images.githubusercontent.com/48182195/74187561-d0209380-4c72-11ea-8666-8ae37c3108ac.jpg)

Working on this

[2020-02-11 02:10] stu01509 commented on #15940
When I opened two tabs of phpmyadmin, and due to the connection lost, The Metro theme will happen to this problem.

![1](https://user-images.githubusercontent.com/22230889/74206472-95404f00-4cb6-11ea-8eec-0a5bdef78ada.png)

It looks like the login form will be appended modalOverlay this section.

![2](https://user-images.githubusercontent.com/22230889/74206474-98d3d600-4cb6-11ea-8cf1-009125aa8040.

[2020-02-11 07:54] williamdes commented on #15940
If someone wants to work on a fix you can :)

[2020-02-11 12:54] victorphoenix3 commented on #15946
@williamdes
![Screenshot from 2020-02-11 18-17-54](https://user-images.githubusercontent.com/48182195/74238114-20dbcf00-4cfb-11ea-95be-ad1676ef7e84.png)

This is the PMA logo for the metro theme but we currently don't use it.
Do we intentionally not display it ?
Should I add it or just make the current text clickable?

[2020-02-11 13:17] tabraiz961 commented on #15931
Reproduced on php 7.2.24
Is this a parsing issue for the BufferedQuery class extract function?

[2020-02-11 15:11] fabpot commented on #15897
@williamdes The `iconv` PHP extension is compiled into PHP by default. You can of course explicitly disable the extension but that's the first time we hit this problem (maybe because we are using iconv only when the charset is not UTF-8). Anyway, to avoid the problem, I've added a check and a proper exception if `iconv` is not available. To fix the issue, one can install the PHP extension or the p

[2020-02-11 16:30] rabeehrz commented on #15946
@victorphoenix3 I think there is a PR that is trying to add the logo back. Check #15902

[2020-02-11 17:55] thesmallstar commented on #13432
@williamdes  can I work on this?

[2020-02-11 18:04] victorphoenix3 commented on #15946
@rabeehrz My guess is that its intentionally not being used since in the css files I found that `display` has been set to `none` for it.

[2020-02-11 18:05] thesmallstar commented on #15619
can I work on this? @williamdes
If yes, I think this to be an enhancement, should I use master branch?

[2020-02-11 18:11] thesmallstar commented on #15020
THIS WILL BE SO COOL :D
@williamdes can I work on this? It has a lot of work, but it would be worth it ;)

[2020-02-11 18:58] yashrajbothra commented on #15877
Ping @williamdes

[2020-02-11 19:09] yashrajbothra commented on #14371
Some of the default mysql function expects parameters like `Reverse()` and currently value is being used for parameters

[2020-02-11 20:34] victorphoenix3 commented on #15882
@anirudhsingh20  @williamdes I think instead of  removing the `kbd` tag (in your PR#15882) , it's better to define the css properties for it similar to that already present for the other three themes. It will also keep the code consistent across the themes.

[2020-02-11 21:14] williamdes commented on #13432
Yes @thesmallstar you can ;)

[2020-02-11 21:17] williamdes commented on #15897
Thank you @fabpot !
Next release will have the updated twig version

[2020-02-11 21:19] williamdes commented on #15020
Yes @thesmallstar you can have a try
If you need please do multiple PRs instead of an very big one with all the changes

[2020-02-11 21:21] williamdes commented on #14371
What I was pointing out is not to disable parameters for all functions but only for the one that will correspond to the default value of the column

[2020-02-11 21:38] williamdes commented on #15877
I could not reproduce the issue but I am investigating
Thank you for the ping

[2020-02-11 21:41] williamdes commented on #15619
@thesmallstar no because @NikhilNagdev has a PR open #15625
Can you please review it ?

[2020-02-11 21:46] williamdes commented on #15931
@tabraiz961 I could not reproduce the issue in an unit test in this repository and in the sql-parser repository

If someone can succeed reproducing this issue in a unit test I would be very happy because it would help solve the issue

[2020-02-11 22:44] williamdes commented on #15200
@aschuch247 I made the changes you asked for in 71a02a92d43c946eb67fa161fffe5ad806e7fd46

[2020-02-11 22:44] #15877 closed

[2020-02-11 22:46] williamdes commented on #15877
@felsd can you try af18dcec6b106d18e8cedbd97d320d946df32c7e ?

[2020-02-12 00:47] vibhuti019 commented on #15937
Hello I am a newbie and would like to help out.

[2020-02-12 03:45] aschuch247 commented on #15200
@williamdes: Thanks for really caring. You deserve more than just a single thumbs up.

[2020-02-12 03:53] aschuch247 commented on #15187
@williamdes: Is there any chance this one-line fix can be backported to phpMyAdmin 4.9 and released with any further security fix (in case such a security fix is ever required)?

[2020-02-12 05:18] victorphoenix3 commented on #14520
@williamdes this has been fixed

[2020-02-12 06:40] yashrajbothra commented on #13488
@williamdes Can I touch this issue 😀

[2020-02-12 06:45] #14520 closed

[2020-02-12 06:47] williamdes commented on #13488
Yes @yashrajbothra and use QA_5_0 as base

[2020-02-12 06:58] yashrajbothra commented on #13488
Hey @williamdes I am not able to export tables in demo/master

![image](https://user-images.githubusercontent.com/47683556/74310376-1a993180-4d93-11ea-87be-37a8ac12513c.png)

I this a issue?

[2020-02-12 08:34] anirudhsingh20 opened #15950 "Bad UI of Datetime picker (while updating or adding datetime to a field in a table)"
### Describe the bug

Bad UI of Datetime pickerwhile updating or adding datetime to a field in a table

### To Reproduce

Steps to reproduce the behavior:
1. Select a table with a DateTime field.
2. Click on 'Insert on navigation'
3. Insert or update a value on the DateTime field using DateTime picket.
4. See error while updating datetime.

### Screenshots

![datetime](https://user-images.githubus

[2020-02-12 08:49] williamdes commented on #15937
@bismitaguha are you working of this issue ?

[2020-02-12 08:50] williamdes commented on #13488
Yes maybe but "use QA_5_0 as base" ;)

[2020-02-12 09:57] yashrajbothra commented on #14371
Did you mean if user gives a default function with param. then we should disable the value field ?

But if that is the case then what if user doesnt always want to use default param. and want to change the param. what should happen in that case?

[2020-02-12 11:55] tabraiz961 commented on #15931
Tested on sql parser, i could not reproduce this issue.
To reproduce this issue using unittests, I will be running the malicious string in pma_bookmark.sql file.
When running unit tests locally the "templates/" directory does not access the root path instead it call the current working directory causing directory not found issue. Is there a debug switch that toggles for finding the correct path lo

[2020-02-12 12:38] williamdes commented on #15931
@tabraiz961 I used
[code]

But I coud not make it work as I wanted

[2020-02-12 16:21] tm8544 opened #15952 "version_check reports wrong version"
version_check reports version 4.9.4 as latest , but it should report version 5.0.1

### To Reproduce
run version_check.php, output is {"version":"4.9.4","date":"2020-01-08"}

### Server configuration
- Operating system: Windows 10 x64 1909
- Web server: Apache 2.4.41 x64
- Database version: MariaDB 10.4..12
- PHP version: 7.4.2.
- phpMyAdmin version: 5.0.1

[2020-02-12 16:22] williamdes commented on #15952
Duplicate of #15745

[2020-02-12 16:24] williamdes commented on #15952
Duplicate of #15860

[2020-02-12 16:24] williamdes commented on #15952
Thank you @tm8544 for the report
A fix will be done soon

[2020-02-12 21:41] #15795 closed

[2020-02-12 21:59] williamdes commented on #15845
@Uggy1 can you post the php error logs ?

[2020-02-12 23:02] williamdes commented on #15709
https://bugs.php.net/bug.php?id=79267

[2020-02-12 23:09] #15781 closed

[2020-02-12 23:12] williamdes commented on #15781
@Gaurav-Punjabi I closed this issue, please take another one if you want to :)

[2020-02-13 10:36] tabraiz961 commented on #15937
Hi @williamdes  can i work on this ?

[2020-02-13 10:48] williamdes commented on #15937
Yes @tabraiz961
@vibhuti019 do you want to pick another issue ?

[2020-02-13 12:47] tabraiz961 commented on #15940
Hi @williamdes
I'd like to work on this.

[2020-02-13 12:59] williamdes commented on #15940
Hi @tabraiz961
You can, please use QA_5_0 as base

[2020-02-13 15:32] DavidThomas48 opened #15954 "Export Maximal length of created query input too small"
### Describe the bug
In the export page, the "Export Maximal length of created query" input is both too small to see the default value in there, and also seems to have scroll buttons to move it one byte at a time. When the default is 50000, one byte at a time is obviously not what it ought to be.

It used to be a plain text input with plenty of width - I think it should go back to being that.

![i

[2020-02-13 17:39] auction-savvy opened #15955 "phpmyadmin/phpmyadmin Demo link gives: 502 Bad Gateway - Still An Issue"

[2020-02-13 17:40] williamdes commented on #15955
Duplicate of #15924

[2020-02-13 17:40] williamdes commented on #15955
Hi @auction-savvy please be patient, the server will be up back soon :)

[2020-02-13 17:41] auction-savvy commented on #15955
Ok, thank you.

[2020-02-13 21:45] williamdes commented on #15955
Demo seems back up.
Thank you for the report, discussion will follow in #15924

[2020-02-13 21:45] #15955 closed

[2020-02-13 21:51] #15880 closed

[2020-02-13 22:08] #15882 closed

[2020-02-14 01:05] #15913 closed

[2020-02-14 04:01] stu01509 commented on #15954
I'd like to work on this.

[2020-02-14 06:53] williamdes commented on #15954
@stu01509 go ahead

[2020-02-14 07:14] williamdes commented on #14371
No parameter is possible for a column that defines a function as default value ;)

[2020-02-14 07:49] stu01509 commented on #15954
@williamdes Fixed, Please review this PR.

[2020-02-14 10:45] stu01509 opened #15957 "UI Issue: Rename export database model button"
### Describe the bug

In the Bootstrap theme,
The rename export database model button background color issue.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Export page.
2. Choose an Export custom method.
3. Click Rename exported databases/tables/columns

### Expected behavior
![](https://i.imgur.com/MivCK2Q.png)

### Screenshots
![](https://i.imgur.com/okjYzFr.png)

### Server c

[2020-02-14 12:18] 8ele8 opened #15958 "[phpMyAdmin 5.0.1] Uncaught TypeError when sorting tables by size or by rows"
### Describe the bug

Trying to sort a database's tables by size returns a PHP error of type:
[code]
### To Reproduce

Steps to reproduce the behavior:
1. Open phpMyAdmin and select a database
2. Under "Structure", click on the "Size" to try to sort the tables by size

### Expected behavior
The tables should be sorted by size

### Actual behavior
Error message is displayed

[code]

### Server conf

[2020-02-14 12:20] williamdes commented on #15958
Thank your for the report @8ele8
I will have a look ASAP

[2020-02-14 19:19] #15745 closed

[2020-02-14 19:19] #15860 closed

[2020-02-14 19:19] #15952 closed

[2020-02-14 22:01] williamdes commented on #15958
[code]

Will also be fixed (sort by "Rows")

[2020-02-14 22:14] #15958 closed

[2020-02-15 00:12] #13268 closed

[2020-02-15 01:38] williamdes commented on #15830
@dala00 @yagiribenma I need help :pray:
I am unable to reproduce the issue on my W10 VM.
Could you make a fix or help me reproduce this issue so I can make a proper fix ?
Or maybe help me find the right fix

I added tests as you can see above and they are all in success

If someone can help or open a PR I would be so happy

[2020-02-15 04:04] rabeehrz commented on #12437
@williamdes Can I work on this?

[2020-02-15 06:25] thesmallstar commented on #13432
I came to the same conclusion as @OlafvdSpek
I think we don't need to ask the user for the size field over here:
![image](https://user-images.githubusercontent.com/42006277/74583156-fdaa6b80-4fe9-11ea-81d3-54583ecfd79f.png)

And not include it in the query, any suggestions? @williamdes

[2020-02-15 07:49] yashrajbothra commented on #14371
Like if CURDATE() doesnt expect a param. we should disable the value for the same. If i am correct than i will definetly include that 👍

[2020-02-15 08:46] yashrajbothra commented on #13488
After analysing the issue i found this
https://github.com/phpmyadmin/phpmyadmin/blob/efcd4be2b7cf5909c5e05f4f5148ffedcc434725/libraries/classes/Sql.php#L1877

this line is causing the issue if somehow i get justification of this line i can try to fix this issue.

[2020-02-15 08:59] williamdes commented on #12437
Yes @rabeehrz

[2020-02-15 09:03] williamdes commented on #13432
Maybe just disable the size if the index type is an int for a primary key :thinking:

[2020-02-15 09:06] williamdes commented on #13488
You should have a look to the sql-parser repository to find out if the join query is well detected?

[2020-02-15 09:08] thesmallstar opened #15961 "Non intuitive UI on search Results Page"
The UI is non-intuitive, links/buttons appear as texts.  We can replace those text with proper button to toggle results.
![image](https://user-images.githubusercontent.com/42006277/74585249-a06de480-5000-11ea-8d54-746a557304bf.png)

[2020-02-15 09:10] williamdes commented on #14371
I think I did not explain well my point

The list will contain
- functions as it did before
- a new entry that will be the value of the default value for the column

Obviously it is impossible that it can have a parameter because the table schema will not allow that.

So for that particular option I do not want that the user fills a value that will not be used anyway

Just to say in another way:
W

[2020-02-15 09:13] thesmallstar commented on #15961
Working on master branch :)

[2020-02-15 09:18] thesmallstar commented on #13432
Sorry, I was rather harsh removing the field for ints :P
Disabling is a better option, working on QA_5_0

[2020-02-15 09:19] I-Info commented on #15267
Not entirely correct, I added permissions to the USERS group.And it worked.It is no use to add IUSR to it on my computer.

[2020-02-15 09:20] I-Info commented on #15267
But your advice is helpful

[2020-02-15 09:58] yashrajbothra commented on #14371
I this was able to understand your point 👍

but If in case lets say i have a table with a column without any default value. When i insert data from INSERT form i want to use USER_DEFINED function (which is not a default value). Can we do that as of now?.

Or this is totally diffrent issue?

[2020-02-15 10:06] anirudhsingh20 commented on #15890
I am working on this issue now.

[2020-02-15 10:08] williamdes commented on #14371
;)

Yes, I would like to avoid mixing features :)

[2020-02-15 12:14] anirudhsingh20 opened #15964 "There should be a quick guide for beginners (after installation process) and tips should also be shown after login"
### Suggestion

There should be a quick guide for beginners after the installation process and cool tips should also be shown after login and the user can also disable tips.

###Example

![tips](https://user-images.githubusercontent.com/49402380/74587591-b6889e80-501a-11ea-8e4c-89d9e262b099.PNG)

[2020-02-15 12:18] thesmallstar commented on #15964
Any idea how to find if the user logged in for the first time?
Also, rather than showing this after login this can be kept as a tour button instead.

[2020-02-15 12:36] OlafvdSpek commented on #15961
It's not just styling that's non-intuitive.

Being able to hide results doesn't seem to make sense.

[2020-02-15 12:39] thesmallstar commented on #15961
YES, I would be more than happy to remove that. Should I proceed? @OlafvdSpek

[2020-02-15 13:06] yashrajbothra commented on #13488
if ($analyzed_sql_results['join']
                || $analyzed_sql_results['is_subquery']
                || count($analyzed_sql_results['select_tables']) !== 1
            ) {
                $just_one_table = false;
            }

What i meant from that line is because of this condition
the `$just_one_table` is false and the links are not getting displayed

Do i need to look in sql-parser?

[2020-02-15 13:16] namosuke commented on #15830
@williamdes I'm a writer of the error report(https://crieit.net/posts/phpMyAdmin5-0-1-Fatal-Error).
I tried your test with using setlocale() in UtilTest.php on line 2073, instead of _setlocale() and then this error reproduced.

This is the result:

[code]

And I don't know whether it helps you, my friend made a web page that can try same convert issue that relate to charset 2 years ago. https://sp

[2020-02-15 13:36] williamdes commented on #15830
Thank you @namosuke!
I will try this tomorrow and make a fix
So I will need to have the locale compiled on my workstation to use setlocale

I will change it, I have no idea what it means but will have a look

[2020-02-15 14:18] williamdes commented on #13488
Maybe not ;)

Can you make a PR so I can understand the issue? 🤔

[2020-02-15 16:06] rabeehrz opened #15965 "Add event dialog title"
### Describe the bug

The add event dialog title is messed up.

### To Reproduce

Steps to reproduce the behavior:
1. Select a db
2. Go to events
3. Click add event
4. See error

### Expected behavior

Proper heading

### Screenshots

![Screenshot](https://i.imgur.com/dQRWTGQ.png)

### Server configuration

- Operating system: macOS
- Web server: Apache/2.4.41
- Database version: MySQL 8.0.18
- PH

[2020-02-15 18:37] pirland commented on #12437
I know I've been MIA this,  but if it's not too late,  I'd still like to
upload my changes.

Paul

On Sat, Feb 15, 2020, 2:59 AM William Desportes <notifications@github.com>
wrote:

[2020-02-15 20:53] williamdes commented on #12437
Yes, you can upload them but maybe you can merge your work with @rabeehrz

[2020-02-15 23:51] vibhuti019 commented on #15937
Sure @williamdes . Please let me know.

[2020-02-16 02:15] williamdes commented on #13325
@vibhuti019 could you fix this one?

[2020-02-16 03:09] vibhuti019 commented on #13325
It will require some help. I can try @williamdes.

[2020-02-16 08:04] thesmallstar commented on #15879
@nunoperalta Can you give a whole screen ss? Couldn't directly locate the button :)

[2020-02-16 08:13] thesmallstar commented on #15501
@ibennetch for phpmyadmin have you considered having a not a lightweight mode, but some mode where a user sees only the option which he is concerned about? Like PHPMyAdmin have ton of options(All required) but not necessary for most of the time, like I was observing my seniors, friends using PHPMyAdmin they are mostly concerned about viewing and editing data. Can we do something for this?

[2020-02-16 08:37] thesmallstar opened #15966 "Fatal error in Copy table option"
![image](https://user-images.githubusercontent.com/42006277/74601541-66b2e180-50c5-11ea-91fa-59f19c5fa653.png)

![image](https://user-images.githubusercontent.com/42006277/74601466-c52b9000-50c4-11ea-91cd-c98064b68bf0.png)

- branch: master
- PHP version: 7.2.9
- phpMyAdmin version: 5.1.0-dev

- Browser: chrome
- Operating system: windows

[2020-02-16 08:44] OlafvdSpek commented on #15961
Yes please

[2020-02-16 08:55] nunoperalta commented on #15879
Humm... can't get that to appear anymore either o_O
Maybe a regression of 5.0.1 ??

You just need to go to a Table, open the SQL tab, and type an UPDATE or DELETE query.

[2020-02-16 09:23] williamdes commented on #15966
I changed this recently
Thank you for the report

[2020-02-16 09:37] thesmallstar commented on #15966
@williamdes are you working on this? , Should I give it a try?

[2020-02-16 09:42] williamdes commented on #15966
Yes @thesmallstar you can work on this one it will be an easy fix

[2020-02-16 10:04] nunoperalta commented on #15879
Ah no.. it's still there 😂
When I was quickly testing, I was only putting "UPDATE", but now I added "SET ...", and the button appeared:

![image](https://user-images.githubusercontent.com/487079/74602716-ba143800-50a3-11ea-9e34-8c072fc097fc.png)

[2020-02-16 10:19] thesmallstar commented on #15879
Yes, confirmed :D
Thank you for your reply.
@williamdes this is just a missing class name, can I quickly fix it under the master branch?
![image](https://user-images.githubusercontent.com/42006277/74602946-e8aa0700-50d3-11ea-8cb5-7ceb5f8e8d45.png)

[2020-02-16 10:40] yashrajbothra commented on #13488
Hey @williamdes  I will open PR as soon as i find the main problem because as of now i am not so clear so i will debug and find some more info to open PR 👍 .

Till that can you please tell why this is happening.

So when i imported the `world` db from  QA_5_0 all of the table name were in small cases while origanally the first char is capital ?

![image](https://user-images.githubusercontent.com/4

[2020-02-16 10:41] williamdes commented on #15879
If QA is not affected then a PR to master branch is a good idea

[2020-02-16 10:49] thesmallstar commented on #15966
So the problem is

Possible solution:
assign the boolean value at this point, for correct execution.
Line 1517-1521 (ExportSql.php)

[2020-02-16 10:51] thesmallstar commented on #15966
So the problem is
at line 1771- ExportSql.php
The global variable $sql_backquotes has integer value.

[code]
Possible solution:
assign the boolean value at this point, for correct execution.
Line 1517-1521 (ExportSql.php)
[code]
Am I on the right path?

[2020-02-16 11:25] AndikanAffiah commented on #15966
Try boolean values.. Instead of `1`, replace with `true` and instead of `0`, replace with `false`

[2020-02-16 11:26] yashrajbothra commented on #13488
Hey @williamdes  `SELECT b.*, a.Name FROM City a, Country b WHERE b.Code = (SELECT CountryCode FROM City WHERE id = '1')` do we expect to have those options in this query as well ??

[2020-02-16 15:12] williamdes commented on #13488
What do you call options?

And for the tables in lowercase it is an option named lower case table names (https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html)

[2020-02-16 16:34] yashrajbothra commented on #13488
Sorry for uncertain comment, i mean option like edit/delete/copy

https://github.com/phpmyadmin/phpmyadmin/issues/13488#issue-242408764
Which are quoted in expected behaviour

[2020-02-16 19:09] williamdes commented on #13488
Maybe not, I am not sure how the sql-parser handles it

[2020-02-16 19:16] williamdes commented on #15966
Maybe it is linked to
[code]

Adding a cast could be a solution or maybe a safer way `is_string($sql_backquotes) ? false : $sql_backquotes`

[2020-02-16 19:18] williamdes commented on #15966
NB: 01cd7dc33b0308e42e8571bb4cc0bab557ffeace introduced this issue

[2020-02-16 19:23] yashrajbothra commented on #13488
Okay, Thanks 👍
I think i have little better understanding so i will open a PR now :)

[2020-02-16 19:31] 8ele8 commented on #15958
Thanks for the quick fix!
Will patch it this way for now at our end - and waiting for the next release  :)

[2020-02-17 00:10] stu01509 opened #15968 "UI Issue: Database table print button style"
### Describe the bug

Database table print button style lost.

### To Reproduce

Steps to reproduce the behavior:
1. Choose the database.
2. Choose the table.
3. Click the print button.

### Expected behavior

![](https://i.imgur.com/mED2CZh.png)

![](https://i.imgur.com/6W4Vw0E.png)

![](https://i.imgur.com/iBAGA3W.png)

### Screenshots

![](https://i.imgur.com/tEL3k4I.png)

![](https://i.imgur.c

[2020-02-17 02:14] stu01509 opened #15970 "Status page wrong html tag"
### Describe the bug

@williamdes
The replication status this title used anchor tag, But it didn't have href value,
So I think it would remove anchor tag, Am I right?

### To Reproduce

Steps to reproduce the behavior:
1. Go to the status page.
2. Click the Replication status title.
3. The browser will be redirected to the index page.

### Screenshots

![](https://i.imgur.com/IR5vbFi.png)

### Ser

[2020-02-17 08:05] felsd commented on #15877
@williamdes Sorry for the late response - I just tried that but it didn't to the trick unfortunately.

Here is a more detailed error message:

[code]

[2020-02-17 08:15] williamdes opened #15972 "Notice in ./libraries/classes/Display/Results.php#2787 Undefined offset: 2"
Here is a more detailed error message:

[code]

_Originally posted by @felsd in https://github.com/phpmyadmin/phpmyadmin/issues/15877#issuecomment-586864125_

[2020-02-17 08:16] williamdes commented on #15877
Thank you
I opened a new bug #15877

[2020-02-17 10:25] stu01509 commented on #15970
I've checked  5.0.2 also have this issue.

[2020-02-17 13:42] kurtxie opened #15974 "The two-factors authentication can't work for mariaDB version 10.1.44"
Security problems should not be reported here.

See our security page: https://www.phpmyadmin.net/security/

Thanks for your help!
Hi I am using mariaDB version 10.1.44 with PHPmyadmin v5.0.0 all install in CentOS7.6 and cyberpanel.
Unfortunately, I found that the phpmyamdin 2FA function can't work correctly
I can scan the QR code, and phpmyadmin show that it was enable,
but when I re-login in the

[2020-02-17 13:45] williamdes commented on #15974
@kurtxie could you please try latest version available

https://github.com/phpmyadmin/phpmyadmin/blob/618a90bab9828cc70ee6d0fe7a4fd44be038d4a3/ChangeLog#L131

`5.0.1 (2020-01-07)` must also contain the fix

[2020-02-17 17:47] thesmallstar commented on #15966
Thanks, on it.

[2020-02-18 06:57] anirudhsingh20 opened #15976 "Bad UI: button like text in customize browse mode and edit mode"
### Describe the bug

Button like text in "customise browse mode" and "edit mode":
 1. Default sorting order ->descritption ( smart )
 2. Repeat Headers -> descritpion ( 0  )
similarly check edit mode ( content and id)

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Top navigations'
2. Click on 'settings' and then click on 'Main Panel' and then click on browse mode
3. Scroll down in

[2020-02-18 10:43] vibhuti019 commented on #13325
Can you guide me on how to remove this bug?

[2020-02-18 10:49] kartik1000 commented on #15972
@williamdes  Can you expand the description a bit more? like what action caused the issue?

[2020-02-18 13:18] victorphoenix3 commented on #15652
The warning does not appear when server is MariaDb. working on this.

[2020-02-18 14:10] kartik1000 commented on #15389
@williamdes This problem is caused only when we delete all the rows on the last page.  When we delete the rows on some other page the rows next to the deleted page are moved to that page. I think we can edit the description to avoid any confusion.

[2020-02-18 20:16] kartik1000 commented on #15367
@williamdes Hey why is this issue still opened? Has the last commit not fixed it?

[2020-02-18 20:17] williamdes commented on #15367
@rolfjentsch Is this issue fixed ?

hey @kartik1000 I do not know :)

[2020-02-18 20:19] kartik1000 commented on #15367
@rolfjentsch If you can let us know how you reproduced it maybe, we can check. Else you can check and let us know :)

[2020-02-18 20:44] kartik1000 commented on #15652
@victorphoenix3 The warning is not shown because FOUND_ROWS is not being deprecated for MariaDB, but only for MySQL.  You can check this by googling or also refer from here https://core.trac.wordpress.org/ticket/47280

[2020-02-18 20:44] williamdes commented on #15972
@kartik1000 I fixed the previous issue #15877 but could not reproduce it
I think this one should be the same unfortunately

[2020-02-18 20:47] kartik1000 commented on #15972
Ok @williamdes I will see if I can make something out of it :)

[2020-02-18 20:53] victorphoenix3 commented on #15652
@kartik1000 so should we modify the sql  to not use SQL_CALC_FOUND_ROWS anywhere. Right?

[2020-02-18 21:00] kartik1000 commented on #15652
Yes I think this should be the best possible solution since, It will do the same task for MariaDB as well and we will not need FOUND_ROWS for it as well. What do you think @williamdes

[2020-02-18 21:05] williamdes commented on #15652
I agree, if we can migrate out of FOUND_ROWS totally without breaking all the current servers supported

[2020-02-18 21:07] victorphoenix3 commented on #15652
I'll try to fix this :)

[2020-02-18 21:09] kartik1000 commented on #15652
@williamdes Moreover we might as well reduce the complexity of counting rows which is needed for pagination and it might also fix https://github.com/phpmyadmin/phpmyadmin/issues/15285 . What do you think?

[2020-02-18 21:11] Warlockk commented on #15652
I am working on it...

19 Şubat 2020 Çarşamba tarihinde victorphoenix3 <notifications@github.com>
yazdı:

[2020-02-18 21:25] williamdes commented on #15652
That would be cool if possible

Keep us updated @Warlockk

[2020-02-18 21:27] williamdes commented on #13325
@vibhuti019 did you reproduce this issue on your local setup ?
@kartik1000 could you please help on this one ?

[2020-02-19 13:54] kartik1000 commented on #13325
@williamdes I will reproduce and let you know.

[2020-02-19 14:48] kurtxie commented on #15974
It's ok now.thanks

[2020-02-19 15:09] #15974 closed

[2020-02-19 16:16] rolfjentsch commented on #15367
Hi,

Even with Version 4.9.4 i Keep getting this error

Mit freundlichen Grüßen

Rolf Jentsch

Von: Kartik Kathuria <notifications@github.com>
Gesendet: Dienstag, 18. Februar 2020 21:20
An: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Rolf Jentsch <gast@rolfjentsch.de>; Mention <mention@noreply.github.com>
Betreff: Re: [phpmyadmin/phpmyadmin] Replication fails during Install (#15367)

[2020-02-19 16:23] williamdes commented on #15367
Hi @rolfjentsch can you send the error, It seems that you tried to include it in the email but it got removed

[2020-02-19 16:43] rolfjentsch commented on #15367
Here u go again

Mit freundlichen Grüßen

Rolf Jentsch

Von: William Desportes <notifications@github.com>
Gesendet: Mittwoch, 19. Februar 2020 17:24
An: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Rolf Jentsch <gast@rolfjentsch.de>; Mention <mention@noreply.github.com>
Betreff: Re: [phpmyadmin/phpmyadmin] Replication fails during Install (#15367)

Hi @rolfjentsch <https://github.com/

[2020-02-19 16:44] rolfjentsch commented on #15367
and one more try as an attachment

Mit freundlichen Grüßen

Rolf Jentsch

Von: William Desportes <notifications@github.com>
Gesendet: Mittwoch, 19. Februar 2020 17:24
An: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Rolf Jentsch <gast@rolfjentsch.de>; Mention <mention@noreply.github.com>
Betreff: Re: [phpmyadmin/phpmyadmin] Replication fails during Install (#15367)

Hi @rolfjentsch <h

[2020-02-19 16:47] williamdes commented on #15367
@rolfjentsch Sorry but you can not use attachements you need to go to https://github.com/phpmyadmin/phpmyadmin/issues/15367 and post the screenshots or use an external service and post the link here

[2020-02-19 16:55] rolfjentsch commented on #15367
Well it seems to be the same as posted on #15367

Mit freundlichen Grüßen

Rolf Jentsch

Von: William Desportes <notifications@github.com>
Gesendet: Mittwoch, 19. Februar 2020 17:47
An: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Rolf Jentsch <gast@rolfjentsch.de>; Mention <mention@noreply.github.com>
Betreff: Re: [phpmyadmin/phpmyadmin] Replication fails during Install (#15367)

@ro

[2020-02-20 04:10] vibhuti019 commented on #13325
![Screenshot from 2020-02-20 09-35-39](https://user-images.githubusercontent.com/44270768/74900123-d6c2af80-53c4-11ea-8d21-90a055d2f059.png)

Yes, @williamdes. I have reproduced this issue.

[2020-02-20 05:37] satyamsihare commented on #15890
Ok

[2020-02-20 07:38] williamdes commented on #15367
Hi @rolfjentsch
Can you try version 5.0 of phpMyAdmin?
Also please post the new stack trace, it is very important for us to debug :)

[2020-02-20 07:58] williamdes commented on #13325
It gets moved to the right section ;)
Now you need to discover what makes it go into the wrong section (triggers/functions)

Do you need further help?

[2020-02-20 08:39] p-rakowski89 commented on #15367
Hi,
I keep watching this conversation about replication. I am sorry to say that no replication options work for phpmyadmin> 5.
I checked them all. It is strange that phpmyadmin does not report any error. As it was in version 4.9.1.
If necessary, I can test the changes. I have 5 master servers and 10 slaves.

[2020-02-20 10:00] williamdes commented on #15367
@p-rakowski89 If you can try the download the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/) and let me know what I should do
Because I tried after making a fix and everything was okay

[2020-02-20 11:09] p-rakowski89 commented on #15367
I downloaded
1 - `phpMyAdmin 5.1+snapshot Daily snapshot, generated 2020-02-19, from Git commit 922cd6bd69c1fff5cdbfe39faa50927454fa4ff3.Future version compatible with PHP 7.1 and newer and MySQL 5.5 and newer.`
2- `phpMyAdmin 5.0+snapshot Daily snapshot, generated 2020-02-19, from Git commit a4fcf79db08b38a3de8f4e06c59ebfb1665528fd.Current version compatible with PHP 7.1 and newer and MySQL 5.5 a

[2020-02-20 11:16] williamdes commented on #15367
Thank you, I will have a look another time

[2020-02-20 11:16] DavidThomas48 opened #15980 "user with no global but all database privileges can't edit routine"
### Describe the bug

I have a user with no global privileges but all database privileges and that user can't edit routine in that database.

I have tried adding global Super, Create Routine,  Alter Routine and Execute but that does not help.

Message received is: " Error in processing request: No routine with name `copp_opacSearch` found in database `catopacdev`. You might be lacking the necessar

[2020-02-20 11:24] rolfjentsch commented on #15367
Hi William,

I downloaded and installed 5.01

When trying to “change Masterserver or configure it new” nothing happens.

Pphpadmin reports “loading” for a short time but no new window opens

So unfortunately I cant Test it

Mit freundlichen Grüßen

Rolf Jentsch

Von: William Desportes <notifications@github.com>
Gesendet: Donnerstag, 20. Februar 2020 08:38
An: phpmyadmin/phpmyadmin <phpmyadmin@nore

[2020-02-20 11:30] rolfjentsch commented on #15367
I also downloaded  <https://files.phpmyadmin.net/snapshots/phpMyAdmin-5.1+snapshot-all-languages.zip> phpMyAdmin-5.1+snapshot-all-languages.zip and tried it

Same result

Thin menu point Master-Server wechseln oder neu konfigurieren  <http://qnap/phpMyAdmin5/index.php?route=/server/replication>  leads nowhere

Mit freundlichen Grüßen

Rolf Jentsch

Von: William Desportes <notifications@github.com>

[2020-02-20 11:41] rolfjentsch commented on #15367
Also downloaded this Versionsinformationen: 5.0.2-dev, aktuelle stabile Version:  <https://www.phpmyadmin.net/files/5.0.1/> 5.0.1

Clicked on replication and then  <http://qnap/phpMyAdmin5/server_replication.php> Master-Server wechseln oder neu konfigurieren

Dsmr Rresult – nothing happened

Tried a different browser (this time chrome) but same results

Mit freundlichen Grüßen

Rolf Jentsch

Von:

[2020-02-20 15:26] anirudhsingh20 commented on #15976
@williamdes
I have cloned my forked project again and now I want to add new pr but it is prompting the phpmyadmin:master branch and my branch are entirely different commit histories.

can you please help me to solve this so that I can add new pr

![saveas](https://user-images.githubusercontent.com/49402380/74949112-49627800-5423-11ea-95cb-fe80ab495d13.PNG)

[2020-02-20 16:23] jb-boin opened #15981 ""Current Server" list breaks per server "ssl" parameter when using SignON auth"
### Describe the bug

On a PMA 4.9.4 using SignON auth with multiple servers, the `$cfg['Servers'][$i]['ssl']` parameter is not working correctly as it seems to be always using the value of the first server (`$cfg['Servers'][1]`) upon login.
Then if another server is selected on "Current Server" on the home page of PMA, `$server['ssl']` value will become the one of the selected server while the `$

[2020-02-20 16:26] williamdes commented on #15976
@anirudhsingh20
![image](https://user-images.githubusercontent.com/7784660/74956095-e0b8d280-5405-11ea-8bcd-51fe3075b99c.png)

You can see in this screenshot that you have commits very far away from main branches and that you have a detached history, this is the cause of "and my branch are entirely different commit histories."

Did you read and follow #15942 (maybe I did not explain very well ?)?

[2020-02-20 19:55] cPanelMigrations opened #15982 "Undefined index HMAC_secret when accessing phpMyAdmin after update (to 4.4.9.4-1) with same session"
### Describe the bug

In cPanel after updating from phpMyAdmin 4.9.0.1-2 (in cPanel version 84.0.21) to phpMyAdmin 4.9.4-1 (in cPanel version 86.0.4), users trying to access phpMyAdmin using the same session URL as before and clicking one a previously viewed table gets this error:

Notice in ./libraries/classes/Core.php#1303
Undefined index: HMAC_secret

Backtrace

./libraries/classes/Display/Resu

[2020-02-22 11:05] williamdes commented on #15515
Hi everyone
I published 4.9.4 to the [Ubuntu PPA](https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa) :rocket: !
Only available for Eoan and Bionic.

[2020-02-22 11:06] williamdes commented on #15236
Hi everyone
I published 4.9.4 to the [Ubuntu PPA](https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa) :rocket: !
Only available for Eoan and Bionic.

[2020-02-22 11:07] williamdes commented on #15236
We already have a PPA and do our best to package as quickly as possible the relases :)

[2020-02-22 13:00] msvamp commented on #12489
**This bug is now fixed.**
Just tested the above behaviour on the latest PHPMyAdmin release (v5.0.1 at the time of writing) - it reports the error correctly. The test was performed by creating 2 different foreign key constraints with the same name in the same and in different tables in the same database.

![(Screenshot) PHPMyAdmin Demo RELEASE_5_0_1-1077-g27d631e164](https://user-images.githubuser

[2020-02-22 13:10] williamdes commented on #12489
Thank you @msvamp !

[2020-02-22 13:10] #12489 closed

[2020-02-22 13:11] williamdes commented on #15830
I could not reproduce this issue on any setup but my GitHub actions CI could
https://github.com/williamdes/phpmyadmintest/runs/461980610#step:6:483
I added `setlocale` and it works.
Working on a fix

[2020-02-22 14:02] williamdes commented on #15830
I checked and it is considered "okay" for the test case but I understand it does not make sense outside of the test case

[2020-02-22 16:26] #15830 closed

[2020-02-22 17:26] #15879 closed

[2020-02-22 17:26] williamdes commented on #15972
@kartik1000 I fixed it
@felsd can you try the patch c8c44caa6ddd69a2596438a9ea07ab991c196d8c

[2020-02-22 17:30] williamdes commented on #15965
Duplicate of #15810

[2020-02-22 17:30] #15965 closed

[2020-02-22 17:30] williamdes commented on #15965
Thank you for the report, I flagged it as a duplicated

[2020-02-22 18:16] williamdes commented on #15982
Duplicate of #15401

[2020-02-22 18:19] #15982 closed

[2020-02-22 18:19] #15401 closed

[2020-02-22 18:43] williamdes commented on #15810
The line was added by 50266d206b974d2e6003a39aef1577eeb3eaab35 and can not be removed.
It will affect table renaming, navigation between tables, etc..

Git bisect is correct for 6ed803588a4c87416e3605e9f725264ea97cfa5b but this issue is a mix of multiple issues.

Back in the day, remove the "title" attribute on "new procedure" link and you will see the current issue.

[2020-02-22 18:50] garak opened #15983 "Unexpected "apply" tag"
### Describe the bug

Uncaught Twig_Error_Syntax: Unexpected "apply" tag (expecting closing tag for the "set" tag defined near line 27). in /usr/share/phpmyadmin/[templates/display/import/javascript.twig](https://github.com/phpmyadmin/phpmyadmin/blob/09c89bab7518dea609f45df15a0cdfcc7dc3f525/templates/display/import/javascript.twig#L27)

### To Reproduce

Steps to reproduce the behavior:
1. Go to i

[2020-02-22 18:50] williamdes commented on #15983
Ref: https://salsa.debian.org/phpmyadmin-team/phpmyadmin/issues/43

[2020-02-22 18:51] williamdes commented on #15983
I need to investigate if it is a solution to upgrade twig on the PPA

@garak are you using the PPA ?

[2020-02-22 18:53] garak commented on #15983
I do

[2020-02-22 18:54] williamdes commented on #15983
So my recent upload did break things..
I will try to fix this ASAP

https://github.com/phpmyadmin/phpmyadmin/commit/b475cfdd6c5176399020a3139bc6ad900b36da58
https://github.com/phpmyadmin/phpmyadmin/commit/bd33d92f39e7b0ea91aa96a3766207d389483927
https://github.com/phpmyadmin/phpmyadmin/commit/99250a88ba5aae65f0c35b5645d5ee918d4c6343
https://github.com/phpmyadmin/phpmyadmin/commit/eb8472ba312c5f99c

[2020-02-22 19:58] #15810 closed

[2020-02-22 19:58] #15970 closed

[2020-02-22 20:00] williamdes commented on #15937
@vibhuti019 did I give you one ?

[2020-02-22 20:24] williamdes commented on #13488
6b256e89dd4d405b5c74cacdaa1bf11aa53ee6e1 and 8c357fab12b041b1dd67ce8505e7767c4a7a413e for #12625

[2020-02-22 20:26] williamdes commented on #13488
@devenbansod can you give some advice on this issue ?
You did the 2 commits https://github.com/phpmyadmin/phpmyadmin/issues/13488#issuecomment-589994944

[2020-02-22 20:33] #15937 closed

[2020-02-22 21:32] williamdes commented on #15903
98757d05abfba86066d8857a8e0fbc331653269d

[2020-02-22 22:05] williamdes commented on #15876
Reproduced successfully on QA_5_0 using a `int(10)` field and a `int(11)` field
`int(10)` is wrongly not multiple select

[2020-02-22 22:47] williamdes commented on #15876
In fact you will see on 001cc92bc7aeab31db27ceb74f3e2a5eafd046c3 that the code uses indexes
So the second select field was wrong and could work depending on the structure of the table.
Using incremented indexes is sometimes risky..

[2020-02-22 22:48] #15876 closed

[2020-02-22 22:50] williamdes commented on #15584
I changed the milestone to 5.1 because 5.0 is for bug fixes and we agreed this is an enhancement request

[2020-02-22 22:56] aommundsen commented on #15584
Well. I am not going to wait for this. I am already manually patching phpMyAdmin on our servers every time we upgrade, deleting the offending code.

[2020-02-22 22:58] williamdes commented on #15584
I totally understand and am very sorry for this situation

[2020-02-22 23:45] williamdes commented on #15282
Thank you for your patience and help
This issue will be fixed in next 5.0 release
Patch: e671ee3ebb86d8ff3e9f84c37b51cfc5e98d0b31

[2020-02-22 23:48] #15282 closed

[2020-02-22 23:54] williamdes commented on #15981
Thank you for the report @jb-boin I will investigate ASAP

[2020-02-23 00:42] CommanderRoot opened #15985 "Table content is visible beneath navigation "tab" when horizontal scrolling on Bootstrap theme"
### Describe the bug

Since 618a90bab9 if you horizontal scroll while using the Bootstrap theme you can see the "main content" beneath the navigation tab on the left.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the Demo site
2. Switch to the Bootstrap theme
3. Select a table which has enough columns to have horizontal scrolling
4. Scroll to the right to notice that the content is

[2020-02-23 05:38] rabeehrz commented on #15985
@mauriciofauth I think my pull request #15878 should fix this. I add an overflow property to the table and it looks like it fixed it. Please take a look.

[2020-02-23 08:43] AbdullahiAbdulkabir commented on #15619
@williamdes just reviewed the PR it looks good here.
![pr-check](https://user-images.githubusercontent.com/33360580/75106999-c3ac1b80-5620-11ea-86c9-c234b73db994.png)

[2020-02-23 09:19] williamdes commented on #15619
Thank you, I am waiting for the css advice of @mauriciofauth and I will merge

[2020-02-23 09:29] williamdes commented on #15983
works for Twig 1.40+ and 2.9+: https://twigfiddle.com/jhf5f0

[2020-02-23 09:31] williamdes commented on #15983
One thought I had is WTF why did you remove the tag between 1.40 and 2.9 :thinking:
@fabpot do you have an idea ?

[2020-02-23 10:15] mauriciofauth commented on #15983
It was not removed, it was added in 2.9 and backported to 1.40. Both versions are released at the same time, because Twig develops 1.x, 2.x and 3.x in parallel.

[2020-02-23 10:21] williamdes commented on #15983
Oh !
Maybe the documentation should be more clear about that
Eg: display the versions it is available on each tag
One line with versions restrictions in the composer format could be easyly readable

[2020-02-23 11:47] PhoChiDes opened #15986 "fatal error: Uncaught TypeError: array_flip() expects parameter 1 to be array, null given in"
I got this error now i cannot access anything
[code]
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![image](https://user-images.githubusercontent.com/61379039/75111455-f0b4fa00-5631-11ea-9ff2-f6cac7c58c27.png)
![image](https://user-images.githubusercontent.com/6137903

[2020-02-23 11:49] williamdes commented on #15986
@PhoChiDes can you give the version you are using by reading the contents of `ChangeLog` file

And post `config.inc.php` contents here

thanks for making a great tool though so far its really sped up progress

;)

[2020-02-23 11:53] PhoChiDes commented on #15986
It says in a change log 2.12.3 at the top

And this is the contents of the config file
<?php
/*
 * This is needed for cookie based authentication to encrypt password in
 * cookie
 */
$cfg['blowfish_secret'] = 'xampp'; /* YOU SHOULD CHANGE THIS FOR A MORE SECURE COOKIE AUTH! */

/*
 * Servers configuration
 */
$i = 0;

/*
 * First server
 */
$i++;

/* Authentication type and info */
$cfg['Servers']

[2020-02-23 11:56] williamdes commented on #15986
Can you download on our [website](https://www.phpmyadmin.net/downloads/) the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/) or latest stable version

Version 2 is very very old and we do not support it anymore.
Let me know if that solution did work for you.
You will maybe need to copy config.inc.php file to the nex unzipped version

[2020-02-23 11:59] PhoChiDes commented on #15986
Thanks, But how would I put this into xampp? Or should I just ignore it? All I am looking to do is take an input from a webform which would be local and then from the database display values in a VS program

From: William Desportes
Sent: 23 February 2020 11:56
To: phpmyadmin/phpmyadmin
Cc: PhoChiDes; Mention
Subject: Re: [phpmyadmin/phpmyadmin] atal error: Uncaught TypeError:array_flip() expects p

[2020-02-23 12:01] williamdes commented on #15986
You can replace the actual phpMyAdmin in xampp (empty folder, unzip, copy config back)
But I am quite surprised you really have version 2
Pleas double check this

[2020-02-23 12:06] PhoChiDes commented on #15986
Nevermind must have read the wrong file it was 5.0.1 but it now has been replaced. I now get to a login and password which I didn’t have originally. I guessing I will have to just re-add the data do issues occur when a cell in a csv may be blank?

From: William Desportes
Sent: 23 February 2020 12:01
To: phpmyadmin/phpmyadmin
Cc: PhoChiDes; Mention
Subject: Re: [phpmyadmin/phpmyadmin] fatal error:

[2020-02-23 12:12] williamdes commented on #15986
I am not sure to understand the data part. Data is stored in the database server and phpMyAdmin is only a web UI to access the data and more..
If you can login, then the issue is solved ?
Maybe consider posting screenshots so I can help you further

[2020-02-23 12:17] PhoChiDes commented on #15986
Its all resolved now, I just need to login but I am unsure of what to put in there.
Thanks for all the help
I should be back to my coding shortly

From: William Desportes
Sent: 23 February 2020 12:12
To: phpmyadmin/phpmyadmin
Cc: PhoChiDes; Mention
Subject: Re: [phpmyadmin/phpmyadmin] fatal error: Uncaught TypeError:array_flip() expects parameter 1 to be array, null given in (#15986)

Nevermind mu

[2020-02-23 12:21] williamdes commented on #15986
:)

Just create a `config.inc.php` file and paste back
[code]

The username is root and no password but you will be missing `$cfg['Servers'][$i]['AllowNoPassword'] = true;` so creating back the file is the best option

[2020-02-23 12:26] PhoChiDes commented on #15986
Its all there 😊 thanks for the help

From: William Desportes
Sent: 23 February 2020 12:21
To: phpmyadmin/phpmyadmin
Cc: PhoChiDes; Mention
Subject: Re: [phpmyadmin/phpmyadmin] fatal error: Uncaught TypeError:array_flip() expects parameter 1 to be array, null given in (#15986)

Its all resolved now, I just need to login but I am unsure of what to put in there. Thanks for all the help I should be ba

[2020-02-23 12:33] #15986 closed

[2020-02-23 12:35] williamdes commented on #15986
Thank you for the report and quick responses
I patched the next version with 379dd368c926e15df691450bfeeed08fcb60d673 so it does not occur anymore

[2020-02-23 13:49] williamdes commented on #14611
[code]
I added a check that the slider is used to prevent a crash https://github.com/phpmyadmin/phpmyadmin/pull/15622/files

[2020-02-23 14:00] #15968 closed

[2020-02-23 14:27] #13371 closed

[2020-02-23 14:36] #12969 closed

[2020-02-23 14:46] #15012 closed

[2020-02-23 20:07] #15853 closed

[2020-02-23 20:09] williamdes commented on #15696
Please download on our [website](https://www.phpmyadmin.net/downloads/) the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-02-23 20:09] #15696 closed

[2020-02-23 20:14] williamdes commented on #14871
I would have liked to fix this one
If you have more details I will be happy to have them.

[2020-02-23 20:14] #14871 closed

[2020-02-23 20:14] williamdes commented on #14972
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2020-02-23 20:14] #14972 closed

[2020-02-23 20:14] williamdes commented on #15476
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2020-02-23 20:14] #15476 closed

[2020-02-23 20:16] williamdes commented on #15536
Closing because conversation about security issues is done by email
@OverRide-BT please ping us by email if we missed one email

[2020-02-23 20:16] #15536 closed

[2020-02-23 20:18] williamdes commented on #15839
Issue seems to be solved, closing
Comment if you think it is not fixed

[2020-02-23 20:18] #15839 closed

[2020-02-23 20:19] williamdes commented on #15904
Please reply here if the issue is still active

[2020-02-23 20:19] #15904 closed

[2020-02-24 11:02] AbdullahiAbdulkabir commented on #15656
Can I still work on this?

[2020-02-24 13:03] OverRide-BT commented on #15536
@williamdes i didn't get any response yet regarding to this vulnerability . so if it fixed in the new update please let me know to i check it again

[2020-02-24 13:26] ibennetch commented on #15536
I've also replied to your email but this report is still being assessed by the security team.

[2020-02-24 13:41] OverRide-BT commented on #15536
@ibennetch  can you check the new mail , waiting for your update regarding the new problem!

[2020-02-24 16:47] Trainmaster opened #15989 "Foreign key check setting is not respected"
### Describe the bug

The setting for foreign key checks has no effect. I checked the phpMyAdmin configuration and it's set to `Server default` which is:
[code]

I changed the phpMyAdmin setting for the current session to `Enable` but it's still the same behaviour.

When executing a `DROP INDEX` query via `STRUCTURE` tab -> `Indexes` -> `Drop` the following form data are sent:

[code]

Furthermore

[2020-02-24 20:47] binipinki opened #15990 "getting strange issue wrong row count"
in my database insert are being performed and immediately after insert are being made row count increases say if 1000 rows are inserted the count will become 628442 +1000= 638442

but immediately after that it will start showing 628442 and this is happening  always. i got confused thought our delete row operation is doing the same so we disabled all delete operation and then also it started showin

[2020-02-24 21:14] williamdes commented on #15536
williamdes@wdes.fr please only CC me as I would prefer only reading conversations
Reply takes me so much time, as I already have all the GitHub issues/pr notifications

[2020-02-24 21:19] williamdes commented on #15989
Thank you for the report, I will investigate it or someone will do so

[2020-02-24 21:23] williamdes commented on #15990
@binipinki The issue you report seems similar to #11905
Try to configure [$cfg['MaxExactCount']](http://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxExactCount) that has 50000 as default value

[2020-02-24 21:25] williamdes commented on #15990
https://stackoverflow.com/a/11926300/5155484

[2020-02-24 23:14] mauriciofauth commented on #15895
Metro theme not including the phpMyAdmin logo was a design decision. This is not an issue. So no fix is needed.

[2020-02-25 09:41] tazr opened #15991 "Bad handling of procedure parameter names starting with a dollar sign ($)"
### Describe the bug
Procedure parameter names starting with a "$" are truncated in the interface.

### To Reproduce
1. Create a procedure
[code]

2. Go to *schema*>Procedures>Edit routine.
  1. In "Parameters", the parameter is shown as "foo" rather than "$foo"
  2. In "Definition", a red cross showing a syntax error is shown on the line with the parameter name

### Expected behavior

I would exp

[2020-02-25 10:25] ccyarm opened #15992 "Print table structure - missing table name"
When printing a table structure, the name of table is no longer displayed as a Title as it used to.
This was very helpful. Now I need to copy the print view to Word and add the title myself.
Why has this disappeared?  I'm using latest version 4.9.4
If somebody knows what to modify on the programs to fix this I will appreciate it.
Thanks

[2020-02-25 10:38] hudecof opened #15993 "do not expose PMA_VERSION in requests"
### Is your feature request related to a problem? Please describe.

In version **5.0.1**, not tested on earlier versions, the PMA_VERSION is exposed by subsequent requests to the server.

For example `https://<domain>/js/cross_framing_protection.js?v=5.0.1`

See the code in `Scripts.php->getDisplay()`, wehere the **version**  field is hardcoded to **PMA_VERSION** .
### Describe the solution you'd

[2020-02-25 10:40] williamdes commented on #15993
cc @ibennetch security ?

[2020-02-25 10:41] williamdes commented on #15992
Thank you @ccyarm for the report
It will be investigated ASAP

[2020-02-25 16:18] vermajnv commented on #15515
Thanks @williamdes ,
This works for me.

[2020-02-25 19:03] Simbiat opened #15994 ""Extra" column definition not editable"
### Describe the bug

When editing a column "extra" definitions are not editable and not visible. Only AUTO_INCREMENT is visible and editable as a separate option, but, for example, ON UPDATE CURRENT_TIMESTAMP is not visible or editable. Furthermore, when you try to edit such a column, such extra definition will be lost. It is retained however when exporting the table with such column.

### To Rep

[2020-02-25 21:14] #15582 closed

[2020-02-25 21:36] #15662 closed

[2020-02-25 21:36] #15663 closed

[2020-02-25 22:30] baqwas commented on #15515
v4.9.4 worked on my _Eoan_ platform. Thx again @williamdes for your persistent efforts. **You** and **phpmyadmin** keep me productive.

Kind regards.

[2020-02-25 22:47] Filip785 opened #15995 "phpMyAdmin Error - "Bad parameters!" when trying to export database to SQL file"
### Describe the bug

This issue occurs when attempting to export any database from the phpMyAdmin. Using the phpMyAdmin 5.1.0-dev, upon clicking 'Go' button in the database 'Export' tab user is presented with **'phpMyAdmin - Error - Bad parameters!'** error.

### To Reproduce

Steps to reproduce the behavior:
1. Login to PMA
2. Navigate to the database in the left-hand side menu
3. Go to 'Export'

[2020-02-26 01:34] ibennetch commented on #15993
I'd call this "hardening" rather than directly a security matter; we should definitely fix this but I think we can leave it as a regular bug rather than switching it to the security workflow.

@phpmyadmin/developers could we have introduced this to aide with caching issues?

Thanks for the report.

[2020-02-26 15:06] hcoin opened #15996 "setup doc links broken (w/fix)"
In current stable, unchanged from the main download page:

On the various ~/setup screens there are blue circle links to related docs.  These reside in the ~/doc directory, however during setup the links refer to /setup/doc which doesn't exist and so none of the docs are actually available.

Solution:
Add a symbolic link to ~/doc in ~/setup/doc
or fix all the references in ~/setup/*

OS: Ubuntu/eo

[2020-02-26 17:27] darrentayloruk opened #15997 "Auto saved query no longer loading"
### Describe the bug

The get auto-saved query button always shows the message

"No previously auto-saved query is available. Loading default query."

Rather than loading a previous query

### To Reproduce

Steps to reproduce the behavior:
1. Login to PMA
2. Go to the SQL tab for a particular table
3. Write and run an SQL statement
4. Return to the SQL tab and press "Get auto-saved query"
5. Messa

[2020-02-26 17:31] willwalsh96 commented on #13124
I want to try this issue. How do I see how my changes affect the running application? I do not want to host my own server to do testing.

[2020-02-26 18:13] willwalsh96 commented on #15895
I do not think there is a fix. The icons work with the navigation resizer, and the code in Inspect Element seems as simple as it could be.  Change might make it worse.

[2020-02-26 20:03] williamdes commented on #13124
@willwalsh96 you could do the changes online and submit a patch afterwards
For sure having a local php web server would be a better idea
Demo servers (`root`, no password)
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-02-27 00:42] vibhuti019 commented on #13325
Not just with the procedure.
But this issue is with all functions which create a new entry (except Indexes).

![Screenshot from 2020-02-27 05-57-27](https://user-images.githubusercontent.com/44270768/75400827-5ea93c00-5926-11ea-9685-969bf781a798.png)
Like, in this case, I have generated a trigger while I am in the Procedure tab.

![Screenshot from 2020-02-27 06-06-59](https://user-images.githubuse

[2020-02-27 08:05] przemyslawzygmunt opened #15999 "Problem with parameters starting with _"
### Describe the bug

If you create a procedure that contains parameters that start with the _ character, then you cannot see the parameters in the procedure body when you edit it later.

### To Reproduce

Steps to reproduce the behavior:
1. CREATE new procedure:
[code]
2. Start editing

### Screenshots

<img width="675" alt="Zrzut ekranu 2020-02-27 o 09 04 05" src="https://user-images.githubuserc

[2020-02-27 08:07] williamdes commented on #15999
Could be related to #15991

[2020-02-27 10:08] sarveshcchauhan commented on #14440
Hey during the export click on custom  and scroll at bottom
uncheck Dump binary columns in hexadecimal notation (for example, "abc" becomes 0x616263)
![1](https://user-images.githubusercontent.com/18181752/75434121-16fed080-5977-11ea-904d-a54e9e37e3dc.png)

and then try to import it is working for me

[2020-02-27 10:10] sarveshcchauhan commented on #11553
hey while exporting go to custom and scroll at bottom uncheck Dump binary columns in hexadecimal notation (for example, "abc" becomes 0x616263)
![1](https://user-images.githubusercontent.com/18181752/75434327-604f2000-5977-11ea-86a0-e4dbe5ff5ea8.png)

and then import the database in my case it works

[2020-02-27 13:08] garak commented on #15983
It seems to be fixed with latest release of php-twig package
Thanks!

[2020-02-27 22:41] williamdes opened #16001 "Input elements should have autocomplete attributes"
https://www.chromium.org/developers/design-documents/create-amazing-password-forms

https://www.chromium.org/developers/design-documents/form-styles-that-chromium-understands

[code]

[2020-02-28 06:46] tennsk opened #16002 "2fa activation brocken"
PHP Fatal error:  Uncaught Error: Call to undefined method PragmaRX\Google2FA\Google2FA::getQRCodeInline() in /var/www/libraries/classes/Plugins/TwoFactor/Application.php:96

To Reproduce
Steps to reproduce the behavior:

Install brand new phpmyadmin 4.9.4
exec "composer require pragmarx/google2fa-qrcode"

Click settings -> Two-Factor Authentication
Select 'Authentication Application (2FA)'
Click

[2020-02-28 07:01] williamdes commented on #16002
Hi
Install brand new phpmyadmin 4.9.4
From our website?
What operating system are you using?

[2020-02-28 07:03] williamdes commented on #16002
13 :use PragmaRX\Google2FA\Google2FA;
to
13: use PragmaRX\Google2FAQRCode\Google2FA;

I need to look if they recently renamed the namespace

[2020-02-28 07:28] tennsk commented on #16002
Yup, https://www.phpmyadmin.net/downloads/

[2020-02-28 07:32] tennsk commented on #16002
Composer install google2f and google2f-qrcode 1.0.3:
https://github.com/antonioribeiro/google2fa-qrcode/blob/master/src/Google2FA.php

[2020-02-28 18:25] anniew86 commented on #15236
I look forward to phpmyadmin on debian buster!

[2020-02-28 19:27] baxandrei commented on #15401
I still have this problem.

[2020-02-28 20:32] ibennetch commented on #15401
@baxandrei Are you using the latest master branch from git? This fix 0da6ad6 hasn't yet been part of a released version yet but is part of master. The fixed version should be released soon.

[2020-02-28 21:02] vibbow opened #16003 "PMA 5.0.1 still suggest 4.9.4 as latest stable version"
### Describe the bug

I have a web server with folloing configuration:

Web Server: Microsoft-IIS/10.0
MySQL Server: 5.7.29-log - MySQL Community Server (GPL)
PHP version: 7.3.15
PMA Version: 5.0.1

In theory, PMA should suggest 5.0.1 as latest version (or show I'm on latest version), but in my environment, PMA still suggest 4.9.4 as latest stable version.

### To Reproduce

Install PMA 5.0.1 on P

[2020-02-28 21:06] ibennetch commented on #16003
Thanks for your report and detailed analysis.

This is a duplicate of #15860 and will be fixed as part of the next release (5.0.2).

[2020-02-28 21:06] #16003 closed

[2020-02-28 21:44] williamdes commented on #16002
After investigation 8a7d18df9ceeaf5c40271e80fb06b3f16a822620 did fix this issue, please try 5.0 version from our website

4.9 versions are now only for security fixes.
Does 5.0 version work for you ?

[2020-02-28 21:44] #16002 closed

[2020-02-28 21:51] baxandrei commented on #15401
I just updated my cPanel.

[2020-02-28 21:56] williamdes commented on #15898
method `getPartitionsDefinition` is affected

[2020-02-28 22:16] williamdes commented on #15898
I made a proposal in #16004

[2020-02-28 22:25] williamdes commented on #15997
Confirmed, I tested on 4.9 and it worked fine.
Investigating..

[2020-02-28 22:30] williamdes commented on #15997
Introduced by 9c7c5ca951be1e75b6c773520fd366f8478d02b3 in #14166

@Piyush3079 do you know if you did introduce a regression by trying to fix #14093 ?

[2020-02-28 22:33] williamdes commented on #15996
Hello @hcoin
Can you share a screenshot and let us know the version you are using ?

[2020-02-28 22:35] williamdes commented on #15995
Hi !
Thank you for the report, and sorry for the response delay :)

[2020-02-28 22:38] williamdes commented on #15994
Hi @Simbiat

Thank you for the report, I would say the bug is that it is not selected in the Extra selector automatically when editing the column ?

![image](https://user-images.githubusercontent.com/7784660/75592754-70542600-5a83-11ea-9caf-1c362ed2fa4e.png)

[2020-02-29 04:15] Simbiat commented on #15994
Did not even notice it was there in the field even :D But, yes, this seems to be the case. Although, I am not sure it's correct to have "on update CURRENT_TIMESTAMP" in the "Attributes" field, because you may need both, say, UNSIGNED and "on update". I am also not sure, whether "CURRENT_TIMESTAMP" is the only possible clause for "on update", although was not able to google anything proving that.

[2020-02-29 09:42] williamdes commented on #15994
Except the bug do you have comments on the previous message @OlafvdSpek?

[2020-02-29 09:51] OlafvdSpek commented on #15994
`on update current_timestamp` is available for `datetime` and `timestamp` columns (and maybe others) but not for columns where `binary` or `unsigned` are available.

As far as I know `current_timestamp` is the only option available for `on update`.

[2020-02-29 10:52] #12963 closed

[2020-02-29 10:52] williamdes commented on #12963
_Closing since no feedback was given.
Comment if you want to re-open for a valid reason._

[2020-02-29 10:56] williamdes commented on #14542
I maybe missed the notification..
Yes, anyone can work on this one but I will want to have some research done in the history to understand if it is a big or a design decision.

[2020-02-29 20:37] daviid5 commented on #13616
Any news on this pull request?

[2020-03-01 13:03] free4myself commented on #14184
In my case " Safe torrent scanner " chrome extension caused the login problem. So I disable it .

[2020-03-02 16:59] #15985 closed

[2020-03-03 13:32] Pankaj-Wadhwani commented on #16001
Can I work on this?

[2020-03-03 13:35] williamdes commented on #16001
Yes, go ahead @Pankaj-Wadhwani
Please use master branch and do not forget to use [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) option to add your signoff line in the commit body, please use your real name (this option is an agreement to our [policy](https://github.com/phpmyadmin/phpmyadmin/blob/master/CONTRIBUTING.md#patches-submission))

[2020-03-03 13:46] Pankaj-Wadhwani commented on #16001
This is my very first contribution can you please guide me with the steps that how should i proceed

[2020-03-03 14:38] williamdes commented on #16001
To contribute I would suggest to follow:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch since it is an enhancement and create a new branch from master
- Run `yarn install`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Start developing the feature
- Commit an

[2020-03-03 17:08] Pankaj-Wadhwani commented on #16001
yes,thanks.

[2020-03-03 22:56] williamdes opened #16005 "More performance, speed first"
[code]

Yes I know we are talking about milliseconds. This is the point of this issue.

Symfony DependencyInjection consumes to much time.

[2020-03-03 22:57] williamdes commented on #16005
@mauriciofauth the DI yaml parsing is very very complicated and uses a lot of operations.
I would want to change it to a format that does not need complex parsing
Do you agree ?

[2020-03-03 23:39] mauriciofauth commented on #16005
If you think it is a good improvement, go ahead. And if I remember correctly, this is the only place where we use the yaml dependency.

[2020-03-04 00:29] neneone opened #16006 "Hiding host in failed login attempts"
Hi, I've installed phpMyAdmin in a server where I need to access a remote server, but if someone tries to login without having the correct username and password phpMyAdmin says:
` mysqli::real_connect(): (HY000/1045): Access denied for user 'myUser'@'XX.XX.XX.XX' (using password: YES)`
I need to hide it, but I have no idea how. Could anyone help me?
Thanks #

[2020-03-04 00:49] williamdes commented on #16005
I am working on it, kind of complicated because I need to write some php code to process the array but I will end up making it work

[2020-03-04 00:52] williamdes commented on #16006
@ibennetch @lem9 did an option to hide host was implemented some day ?

If not this is a good feature request

[2020-03-04 01:02] mauriciofauth commented on #16005
Isn't easier to switch the [file loader](https://symfony.com/doc/current/components/dependency_injection.html#setting-up-the-container-with-configuration-files)?

[2020-03-04 06:50] williamdes commented on #16005
The XML parsing is better than the yaml one but using a php array in a file should even better

[2020-03-04 07:37] williamdes commented on #16005
Done in #16007

[2020-03-04 07:43] vladyslavstartsev opened #16008 "add psalm checks"
I see that in the repo you do use `phpstan`. I think it will be even better if you will add `psalm` checks to your CI and code checks.

### Additional context

- phpMyAdmin version:

any

[2020-03-04 07:46] williamdes commented on #16008
I agree
https://github.com/williamdes/phpmyadmintest/commits/psalm

[2020-03-04 11:27] jdtechsol commented on #15001
So... the ability to modify this value via the web interface was removed in 4.9.0.1?

[2020-03-04 11:28] ali-code opened #16009 "Trying to access array offset on value of type null Results.php#4445"
### Describe the bug

Trying to access array offset on value of type null
in ./libraries/classes/Display/Results.php#4445

### To Reproduce

Steps to reproduce the behavior:
1. Go to any db
2. Click on 'console'
3. Make any query with empty result and order clause  'select id from table where id < 0 order by id;'
4. See error

### Expected behavior

Empty result response.

### Server configuration

[2020-03-04 12:26] williamdes commented on #15001
I would say 4.8.0 https://github.com/phpmyadmin/phpmyadmin/issues/15001#issuecomment-473079133

[2020-03-04 17:05] Pankaj-Wadhwani commented on #16001
Please review my pull request @williamdes

[2020-03-04 18:16] btacordex opened #16012 "Spatial Data does not render correctly in MySQL 8 with geographic SRIDs"
### Describe the bug

After upgrading to MySQL 8, using data with a geographic SRID (specifically, 4326) causes phpMyAdmin to behave incorrectly when visualizing GIS data.

### To Reproduce

Steps to reproduce the behavior:
1. Have a table with properly formatted spatial data in a geographic SRS.
2. Select some data from the table.
3. Click the "Visualize GIS Data" button below.
4. The map may tem

[2020-03-04 18:45] williamdes commented on #16012
Thank you for report and details
I really appreciated
Could you send a test table with test data?

[2020-03-04 18:56] btacordex commented on #16012
Here's a dump file that should recreate it. Looking at the data in WKT format, it looks like it doesn't actually hit 90°W, but it does come pretty close.

[code]

[2020-03-04 19:01] williamdes commented on #16012
Thank you, I will try to reproduce and fix this issue ASAP

[2020-03-04 19:04] btacordex commented on #16012
Actually, sorry, I just realized that phpMyAdmin didn't quite capture all the properties of the original table when I created the one-row copy. (Or it didn't copy them on export?) Please use this version:

[code]

[2020-03-04 19:06] vishwajeetmallick commented on #15463
Thank you. This solved the problem. March 4, 2020
-   phpMyAdmin 5.0.1
-   Server: Localhost via UNIX socket
    Server type: MariaDB
    Server connection: SSL is not being used Documentation
    Server version: 10.4.12-MariaDB - MariaDB package
    Protocol version: 10
    User: root@localhost
    Server charset: UTF-8 Unicode (utf8mb4)

[2020-03-04 20:16] mauriciofauth commented on #16009
Probably fixed by cc58506d147ac0dffa70c5c713165127a479a7d7.
Can you confirm @williamdes ?

[2020-03-04 20:36] mauriciofauth commented on #16012
I was able reproduce this on demo server. Works with the MariaDB server.

[2020-03-04 22:15] williamdes commented on #16009
Thank you @mauriciofauth

To be sure @ali-code could you try to download on our [website](https://www.phpmyadmin.net/downloads/) the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-03-04 22:17] williamdes commented on #16009
But maybe the patch @mauriciofauth mentioned should be back-ported to 5.0
The snapshot version may not have the fix for now

[2020-03-05 11:02] ali-code commented on #16009
I checked on 5.1.0 @ https://www.phpmyadmin.net/try/ - seems to work correctly.

[2020-03-05 11:06] felsd commented on #15972
@williamdes - thank you, now the data is shown, but the colum headers aren't.
It only shows the first 2 column headers.

[2020-03-05 13:35] garak opened #16013 "Be more friendly with binary uuid"
I'd love to see more friendliness when handling binary uuid fields.
My typical use for uuids is in primary keys.
Currently, if you define a field as binary, you get in display a content like `0x11ea5ee2fa5a30f29ae70242ac1a0003`.
It would be nice if, at least with primary keys (where we can reasonably suppose that binary is an uuid and not some kind of data), display were applying a transformation

[2020-03-05 16:27] JSn1nj4 commented on #13124
@williamdes I'm sorry, I was, but I'm too short on time to add a project into my schedule. Sorry for the late reply.

[2020-03-05 18:53] dhavalveriheal commented on #15401
I am also having the same issue. when can we expect the solution for this?

[2020-03-05 18:53] williamdes commented on #15972
@felsd can you send more details so I can debug this issue ?
Table structure, server version and screenshots would help me

[2020-03-05 18:54] williamdes commented on #15401
5.0.2 will patch this issue.
For now, logout and login again :)

[2020-03-05 18:58] felsd commented on #15972
It's the same as in #15877
Here is a screenshot of the missing column headers: [http://pix.toile-libre.org/upload/original/1583438039.png](http://pix.toile-libre.org/upload/original/1583438039.png)

[2020-03-05 19:00] williamdes commented on #15972
Thank you, can I have a screenshot of the table structure ?

[2020-03-05 19:02] felsd commented on #15972
![image](https://user-images.githubusercontent.com/42386423/76015912-86b02500-5f4e-11ea-86a6-8d3079d81c86.png)

[2020-03-05 19:57] ibennetch commented on #16013
Thanks for bringing this up. There are several issues here that should be addressed.

About the display of the binary field, I thought that was what the "Well Known Binary" toggle was for in the `+ Options` area above the browse results — but that doesn't do what you'd expect, so even that takes some more research from us.

Just to make sure, you have a BINARY field and you're using the UUID() fun

[2020-03-05 20:11] smarek commented on #15821
@bismitaguha just to let you know, and others too, about my proposal to fix this mess in https://github.com/phpmyadmin/sql-parser/pull/294

[2020-03-06 02:55] mauriciofauth opened #16014 "Undefined indexes in services_loader.php"
Related to #16007.

[code]

[code]

[code]

[2020-03-06 04:34] baxandrei commented on #15401
Same

[2020-03-06 07:11] #16014 closed

[2020-03-06 07:15] williamdes commented on #16009
Thank you for the confirmation
The fix is part of next 5.0 version and next major release

[2020-03-06 07:15] #16009 closed

[2020-03-06 09:41] garak commented on #16013
Well, not exactly. I'm inserting values using PHP (more specifically, [ramsey/uuid](https://github.com/ramsey/uuid) library).
I also tried a manual insert via phpmyadmin, but none of proposed functions work (not UUID() function for sure)

[2020-03-06 09:45] riyaora27 opened #16016 "mysqli_real_connect(): The server requested authentication method unknown to the client [caching_sha2_password]"
Plz help me out to solve this.

[2020-03-06 09:58] williamdes commented on #16016
Duplicate of #14220

[2020-03-06 09:58] #16016 closed

[2020-03-06 09:58] williamdes commented on #16016
Please have a look to #14220 you will find what you are searching for

[2020-03-06 11:40] smarek commented on #15821
I've just tested my proposal, and found out, that phpmyadmin does not automatically set the `@@sql_mode` on sql-parser, setting the mode only in `class Table` function `moveCopy` (libraries/classes/Table.php), but not generally

So if I set the default mode manually in sql-parser Context to `2` (ANSI_QUOTES), it starts working immediately

So, step-by-step, and I can see the relations again

1) Do

[2020-03-06 12:31] DavidThomas48 opened #16017 "Merge of table structure and routine edits in display"
### Describe the bug
If the main display is a table structure (i.e. listing fields) and then you edit a routine from the directory panel, the routine is added to the field list when you close the "edit routine" dialog.
### To Reproduce
1. display the structure of a table.
2. click on a routine in the database tree listing on the left
3. Close the edit routine dialog
4. The name of the routine now

[2020-03-06 16:30] Alabtros78 opened #16018 "Lock tables does not work from phpmyadmin.... But ok from SQL Client like SQLyog"
### Describe the bug

I try to lock a table into phpmyadmin UI with following syntax (I am on Win7 64 bits + uwamp)

**LOCK TABLES my_table WRITE**

I have a little red cross wich said that this syntax seems not correct... Execute button returns no error.

the SHOW OPEN TABLES FROM my_base displays the table not used !
And in fact the table is not locked. I can do a SELECT * FROM my_table fromothe

[2020-03-06 16:41] jayantredhat opened #16019 "phpMyAdmin - Error Incorrect format parameter"
### Describe the bug

When Import DB then Error will accured

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Import'
2. Click on 'Import'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add
![Screenshot from 2020-03-06 22-13-23](https://user-images.githubusercontent.com/5076

[2020-03-06 16:45] ibennetch commented on #16019
Could you please tell us your phpMyAdmin version and database version?

Can you share a small sample of the file you're trying to import that causes the error?

[2020-03-06 16:49] jayant12489 commented on #16019
Sorry I can't share file because its confidential

[2020-03-06 16:53] williamdes commented on #16019
Can you let us know how large is the file on the disk?
And the file type (eg: zip, sql, gz,..)

[2020-03-06 16:54] jayant12489 commented on #16019
its 575mb size

[2020-03-06 16:58] jayant12489 commented on #16019
I want to know how increse limits without php.ini file because the docker build container ther no php.ini file so I think Increse limits

[2020-03-06 17:04] ibennetch commented on #16018
This is interesting to me, because sql-parser has no problem with the syntax:

`./bin/lint-query --query 'lock tables foo write'`

However, phpMyAdmin's SQL query window gives several errors:
* Unexpected keyword (near table)
* Unexpected beginning of statement (near foo)
* Unexpected statement type (near write)

I _think_ the reason the lock doesn't hold is because phpMyAdmin establishes a new se

[2020-03-06 17:19] Alabtros78 commented on #16018
FYI

1. I close PMA
2. I lock a table via SQLyog GUI
3. I check with other SQLyog instance by a select * from mytable. No result. Everyhting is grey because the lock is active !
4 .if I open PMA and do a SHOW OPEN TABLES FROM my_db the table is locked and the value in_use = 1
5. If i Close the first SQLyog instance, the lock is released for PMA and other SQLyog instance.

SO the issue is really wi

[2020-03-06 17:33] ibennetch commented on #16018
Well, yes, but the way phpMyAdmin is built (in part as a result of being a
web-based application instead of a native application such as SQLyog) makes
it difficult to keep the session open. In all honesty, the massive design
changes it would take to change this make it unlikely that phpMyAdmin will
properly support this any time soon.

[2020-03-06 17:56] Alabtros78 commented on #16018
So for me it's a big issue because I am developing a php application with PHP Generator from SQL Maestro and the lock command into my source page does not works... And the application is hanged !
To be honest I don't undertsand really why, because it's a full PHP application. We can think that it's an issue with PHP server. But why in this case it works with client SQLyog !!!
And with a sniffer SQ

[2020-03-06 18:11] williamdes commented on #16018
TLDR
Did you know php does not have the ability to keep connections open?
But a sql client (an application) that does not close can do so

This is why we will have some difficulties to fix the issue

each php file is processed, connexion is open then work is done and the connection is closed
An sql client (app) does not close the connection

[2020-03-06 18:14] Alabtros78 commented on #16018
@williamdes

Ok, but we can use all SQL commands inside PHP !!! it's a main fucntion to "play" with DB...

So how can I lock a table to avoid another user to read the table when I work on it.

Any idea ? code ?

[2020-03-06 18:14] williamdes commented on #16019
If you are using our docker version you can increase the limit using an ENV variable.
Have a look to https://github.com/phpmyadmin/docker#environment-variables-summary

[2020-03-06 18:43] williamdes commented on #16018
I will investigate the options available and report them to you

But last time I used my cli to lock and unlock the table

I totally understand the issue you are having with this use case

[2020-03-06 18:53] Alabtros78 commented on #16018
Thanks Williamdes

In fact I cannot use a SQL client because the goal is to deliver a PHP app and to intsall it on a web server for a client. The only GUI will be a browser.

So SSL commands inside PHP is mandatory (like SELECT, INSERT ...)

Grrrr.....

[2020-03-06 19:33] philiptdotcom opened #16020 "keyboard shortcut to Clear MySQL command window?"
Is there a keyboard shortcut to Clear MySQL command window? If so, I haven't been able to find it.

It would be extremely useful to be able to have a shortcut key with the identical functionality of the "Clear" button on the MySQL command console.

Any chance this exists/could be added?

Thanks!

Aloha,
-pt

[2020-03-06 20:59] ibennetch commented on #16018
If you're delivering a PHP app to your client, can't you make the LOCK
statement part of that PHP application?

Unfortunately, William is right, this is a limitation for phpMyAdmin of
being a web-based application and is difficult for us to work around.

[2020-03-06 22:14] Alabtros78 commented on #16018
@ibennetch

I need to delivered a full PHP app to the customer qith some SQL request like this one... It a well known SQL request... and needs to works fine .....  After I have no hand on the app...
The locking system needs to be implemented inside the app.

So if this bug is not solved.. My app cannot be delivered on time.
Grrrrr....

[2020-03-06 22:17] williamdes commented on #16020
Hi
That could be a nice feature, thank you

[2020-03-06 22:37] #15447 closed

[2020-03-06 22:48] williamdes commented on #16018
I looked but no solution seem possible for php apps
Maybe you could kill the process that has the lock open in process manager using a sleep statement after locking
But this seems more like a bad idea

Having a php worker that receives events could be a solution for your app.
But this is for now out of the scope of phpMyAdmin

[2020-03-07 18:01] #15905 closed

[2020-03-07 20:51] mauriciofauth opened #16021 "Fatal error: non-existent service @response"
### To Reproduce

Steps to reproduce the behavior:
1. Go to the route `index.php?route=/test`.

### Expected behavior

See `Error 404! The page /test was not found.` error message.

### Additional context

Affects `master` branch.

Related to #16007.

[code]

[2020-03-07 23:38] #16021 closed

[2020-03-07 23:39] williamdes commented on #16021
Thank you for reporting this issue :)

[2020-03-07 23:52] williamdes commented on #15626
#15893

[2020-03-08 13:02] #15626 closed

[2020-03-08 13:02] #15893 closed

[2020-03-08 20:12] Meteor64 commented on #15401
go to phpMyAdmin and click on empty session data button

[2020-03-08 20:31] williamdes commented on #15401
@Meteor64 please try latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-03-08 23:32] williamdes opened #16022 "Uncaught TypeError on browse foreigners"
[code]

[2020-03-08 23:42] williamdes commented on #16017
Reproduced when saving the routine.
Thank you for reporting this issue, it seems very similar to #13325

[2020-03-08 23:53] williamdes commented on #15992
[a1dc.a1dc _ dateTimes.pdf](https://github.com/phpmyadmin/phpmyadmin/files/4304064/a1dc.a1dc._.dateTimes.pdf)

[2020-03-08 23:57] williamdes commented on #15992
@ccyarm What version of phpMyAdmin where you using ?

Can you hare screenshots ?

Printing using CTRL+P displays the table name and using the "Print" button does not show the table title but I checked version 4.7.7 and it had the same display without the table name.

[2020-03-08 23:59] #16022 closed

[2020-03-09 08:23] ccyarm commented on #15992
I was using 4.4.2

I am attaching a picture.

Thanks

From: William Desportes [mailto:notifications@github.com]
Sent: 08 March 2020 23:58
To: phpmyadmin/phpmyadmin
Cc: Cecilia; Mention
Subject: Re: [phpmyadmin/phpmyadmin] Print table structure (#15992)

the name of table is no longer displayed as a Title as it used to.

@ccyarm <https://github.com/ccyarm>  What version of phpMyAdmin where you usin

[2020-03-09 08:30] williamdes commented on #15992
Unfortunately @ccyarm the attachement was removed by GitHub
You will need to go to https://github.com/phpmyadmin/phpmyadmin/issues/15992 to post it
But I will be able to reproduce with the version, thank you

[2020-03-09 08:37] ccyarm commented on #15992
![20200309_081948](https://user-images.githubusercontent.com/16085644/76195934-3ac8de80-61e1-11ea-856c-30c1f4a64d8a.jpg)

[2020-03-09 17:43] williamdes commented on #15992
I can confirm, thank you
A fix must be done :)

[2020-03-10 20:35] #16001 closed

[2020-03-10 20:36] williamdes commented on #16001
`one-time-code` could be used for 2FA codes but I am not sure about it because we use `off` for now

[2020-03-10 20:37] williamdes commented on #16001
https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete

[2020-03-10 21:27] #13519 closed

[2020-03-10 21:31] williamdes commented on #15627
This issue is now solved, please check another time @OlafvdSpek

[2020-03-10 21:47] OlafvdSpek commented on #15627
I don't see the transform field @ https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor&field=actor_id&change_column=1

[2020-03-10 22:07] williamdes commented on #15627
Nor do I see it on 5.0
![Uploading image.png…]()

[2020-03-10 22:08] williamdes commented on #15627
Nor on 4.9
https://demo.phpmyadmin.net/QA_4_9/tbl_structure.php?db=sakila&table=actor&goto=tbl_structure.php&back=tbl_structure.php&field=actor_id&change_column=1

[2020-03-10 22:12] williamdes commented on #14808
:ping_pong:

[2020-03-11 02:44] alexissel commented on #15001
I'm using v5.0.1 and I cannot see the "Login Cookie Validity" option in Settings -> Features.

Do you have any suggestions?

[2020-03-11 06:34] williamdes commented on #15001
For now you can use the config file, I am not sure why it was removed

[2020-03-11 07:29] #15954 closed

[2020-03-11 07:36] #15944 closed

[2020-03-11 07:42] williamdes commented on #15929
Can you fix the issue on Bootstrap theme on the PR @stu01509 ?

[2020-03-11 08:36] JayEn84 commented on #15224
I'm using the browser plugin "User Agent Switcher" in Firefox and Chrome on Windows. This enables me to test the mobile view of websites. Once I switch to a mobile browser with the plugin and open PHPMyAdmin, the keyboard shortcuts are active even after entering the SQL command textarea. Maybe this helps finding the bug.

[2020-03-11 08:41] #14808 closed

[2020-03-11 11:33] JayEn84 commented on #15224
I have examined the problem in more detail:

The file "shortcuts_handler.js" uses the following code to disable the keyboard shortcuts for some special circumstances:

[code]

This means, the keyboard shortcut functions won't fire if you press a shortcut key while inside an input, a textarea or a select element. And this works very well! However, the problem is that the SQL command "area" is not (

[2020-03-11 11:49] hcniet commented on #15877
I had the same issue. i got to table option (operations) -> flush table and OPTIMIZE TABLE. This work again. Maybe the problem is with mysql cache.

[2020-03-11 13:42] williamdes commented on #15224
Thank you for the debugging @JayEn84 !
Let me know if you want to open a pull-request to fix this issue

[2020-03-11 13:47] felsd commented on #15877
@hcniet Thank you, that fixed it for me.

[2020-03-11 13:48] felsd commented on #15972
The steps described by hcniet in this [comment](https://github.com/phpmyadmin/phpmyadmin/issues/15877#issuecomment-597587782) fixed it for me.

[2020-03-11 13:53] williamdes commented on #15972
If you can help me reproduce this issue I will see if a fix could be done :)
For now I am not sure where to start

[2020-03-11 13:53] #15972 closed

[2020-03-11 14:01] williamdes commented on #16012
@Pankaj-Wadhwani could you have a look ?

[2020-03-11 15:04] DoctorSubtilis commented on #15710
It could be? How? If I set keywords-dottorato as set colomn I am asked for values, and so I don't see how I could link with other values (in another (shared) table.

[2020-03-11 16:06] DoctorSubtilis opened #16024 "relation between tables"
### Is your feature request related to a problem? Please describe.

I'd like to share certain values (a colomn, e.g. keywords) betweeb different tables (e.g. citations and bibliography).
So far I have tried with "relation view" in "structure" menu. That way I am able to link (as a set field type) the values of a table in another, but with two big limits:

1. I see _doubled_ the values, as in attac

[2020-03-11 20:38] Pankaj-Wadhwani commented on #16012
can you share screenshots?

[2020-03-11 22:08] #15885 closed

[2020-03-11 22:14] williamdes commented on #15885
In fact this was a regression, labels are hidden on 4.9 and 5.0 versions

[2020-03-11 22:48] williamdes commented on #16012
## MariaDB

![image](https://user-images.githubusercontent.com/7784660/76471271-81415780-63f2-11ea-8fa3-d4b08023beec.png)
## MySQL 8
![image](https://user-images.githubusercontent.com/7784660/76471303-928a6400-63f2-11ea-8bfd-6f0db2cea640.png)

[2020-03-11 22:49] williamdes commented on #16012
Disabling the OpenStreetMaps checkbox shows the data
![image](https://user-images.githubusercontent.com/7784660/76471428-e1d09480-63f2-11ea-97b9-11f100a0e6c6.png)

[2020-03-12 10:52] DoctorSubtilis commented on #16024
Thank you @williamdes

[2020-03-12 12:31] JayEn84 commented on #15224
It's the first time I'm trying to do a pull request, and I'm not sure if I screwed up. :)

[2020-03-12 13:05] williamdes commented on #15224
Good first pull-request ;)

[2020-03-12 13:18] williamdes commented on #15224
I could reproduce this issue using https://chrome.google.com/webstore/detail/user-agent-switcher/clddifkhlkcojbojppdojfeeikdkgiae and "Firefox on Android Mobile"

[2020-03-12 17:33] rishirajpurohit commented on #13124
@willwalsh96 Is this issue still valid, I want to work on it if possible.

[2020-03-12 18:50] #15908 closed

[2020-03-12 19:03] williamdes commented on #13124
@rishirajpurohit Is seems still valid, you can have a try to fix it if you want

[2020-03-13 10:51] jb-boin commented on #15981
It also uses the wrong control database : It will use the control database of the "selected" server instead of the one for the server of the database it is connected to.

It might be a security issue if the same username/login/database exist on both servers.

[2020-03-13 10:52] rishirajpurohit commented on #13124
Awesome, on it. The expected behaviour is have the same height by default. Quick questions:
1. If user resizes the Query field, should it change the height of column field as well ?
2. Should the target be master ?

[2020-03-13 12:48] williamdes commented on #13124
@OlafvdSpek what do you think about this ?

I would like to have the text area in sync with the column list

Yes

[2020-03-13 13:00] OlafvdSpek commented on #13124
Yes, having the two fields be the same vertical size seems good.

[2020-03-13 22:38] williamdes commented on #14555
https://github.com/codemirror/CodeMirror/issues/6174

[2020-03-13 22:42] fakhamatia opened #16027 "Problem with install phpmyadmin in Ubuntu 19.10"
### Describe the problem
I can't install without problem phpmyadmin in Ubuntu 19.10
I use this repository :
[code]
But when ask me database password its show error:
![Screenshot from 2020-03-14 01-53-26](https://user-images.githubusercontent.com/20030910/76663767-5ba18300-6597-11ea-9fc6-a88509da4546.png)
if I ignore that part I can login to phpmyadmin page but I have error:

![Screenshot from 2020

[2020-03-13 22:52] williamdes commented on #16027
Hi @fakhamatia

Please have a look to #14220 and et me know if your issue is solved

[2020-03-14 02:11] fakhamatia commented on #16027
I can login successfully, but phpmyadmin its not config and its not have a user because I skip that part, I chose no to config or chose ignore after error

![Screenshot from 2020-03-14 05-30-04](https://user-images.githubusercontent.com/20030910/76672846-26a42900-65b5-11ea-90c1-e9336db6fb41.png)

user `root` it's already `mysql_native_password`

![Peek 2020-03-14 05-34](https://user-images.githubu

[2020-03-16 14:53] mrror commented on #15634
I had this problem and was able to find a fix in my situation:
phpMyAdmin Version 5.0.1 (but tried with 4.9.0 as well)
OS: Windows 10
web server: Apache v2.4.41 with fcgid v2.3.10
PHP: 7.4.3

PMA is installed in C:\Apache24\htdocs\phpmyadmin (virtualhost http://phpmyadmin.localhost) but when I tried the [patch](https://github.com/phpmyadmin/phpmyadmin/issues/15634#issuecomment-564229694) it return

[2020-03-16 14:58] williamdes commented on #15634
Thank you @mrror !
https://httpd.apache.org/mod_fcgid/mod/mod_fcgid.html#fcgidfixpathinfo

[2020-03-17 04:04] RodneySW commented on #15401
I have just updated my PMA (not the developer version), and now I am getting this error too.

[2020-03-17 06:46] williamdes commented on #15401
Hi
For everybody having this issue before 5.0.2 please logout and login back again.
If the issue persists please open another issue.

[2020-03-18 01:24] weichengcing opened #16030 "table structure page is broken"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table structure page
2. is broken

### Screenshots

![註解 2020-03-18 091547](https://user-images.githubusercontent.com/5038022/76915678-1663b500-68f9-11ea-9afe-7961e8ab94bc.jpg)

### Server configuration

- Operating system:win 10
- Web server:apache2.4.41
- Dat

[2020-03-18 07:21] williamdes commented on #16030
Hi @weichengcing please try the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-03-18 14:12] ThomasCr commented on #14217
I downloaded today phpMyAdmin 5.0.1 - and have MySQL 8.0.19 - and I am also not able to change user permissions:

`#1064 - Fehler in der SQL-Syntax. Bitte die korrekte Syntax im Handbuch nachschlagen bei 'REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_' in Zeile 1`

Createing a new user works :)

[2020-03-18 14:13] ThomasCr commented on #14217
please reopen this bug:)

[2020-03-18 14:17] williamdes commented on #14217
@ThomasCr please try the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

And if the issue persists open a new issue so we can have a discussion outside of this closed issue

[2020-03-18 20:01] #13124 closed

[2020-03-19 04:58] Sylvain303 opened #16032 "tracking_version_auto_create = true CREATE TABLE doesn't tracking changes on a new table"
### Describe the bug

I would like to enable Change tracking feature for all operations.

I added the following config in `config.inc.php`

[code]

### To Reproduce

1. activate tracking in config.inc.php
2. login to phpmyadmin
3. go to a database
2. Click on 'Create table '
3. Fill up the form and create the table
4. The table doesn't appear in `pma_tracking` nor it has tracking enabled.

### Exp

[2020-03-19 18:24] Sylvain303 commented on #16032
So I've read some of the code and traced some use case.

As far as I see, the test

https://github.com/phpmyadmin/phpmyadmin/blob/517222ff59a59d45f42d8223cdbd6ca09ab1e462/libraries/classes/Tracker.php#L836

Is done before

https://github.com/phpmyadmin/phpmyadmin/blob/517222ff59a59d45f42d8223cdbd6ca09ab1e462/libraries/classes/Tracker.php#L847

So no chance that a new table will ever be tracked.

M

[2020-03-19 18:45] williamdes commented on #16032
Thank you for the debug details !
If you want you can open a pull-request from and to branch QA_5_0

[2020-03-19 21:01] williamdes commented on #16033
I opened https://github.com/phpmyadmin/phpmyadmin/pull/16034 to fix this behavior

[2020-03-19 21:31] ibennetch commented on #16033
I agree. This is harmless behavior and the warning/error can be disregarded, but I think we can discard these as part of creating the release.

[2020-03-19 22:23] williamdes commented on #15898
Merge: abcf875ae2af370aa6440ddd0e038a83f476ff13
ChangeLog: bc982466f08ddccad4804ba928f84ff8e25107cb
Security fix: ca42395ee4b2936d3702524f8fb8bec1e9502bc7

[2020-03-19 22:41] #15898 closed

[2020-03-19 22:41] #16033 closed

[2020-03-19 23:21] williamdes commented on #15997
@mauriciofauth could I have your advice on this one ?

[2020-03-19 23:22] #15224 closed

[2020-03-20 09:33] Sylvain303 commented on #16032
hi @williamdes

I'm not a php developer and the PR will take me some time and probably some wrong php code.
I'm gonna hack a little more, I may find a gentle php dev on IRC or such.

I'm not aware enough about this functionally tracking, I tough is was mostly working, but now, I suppose it's at some early stage yet, isn't it?

The current Table format `pma__tracking` is not well designed for versi

[2020-03-20 16:04] williamdes commented on #16032
Hi @Sylvain303 :fr:
It will take me some time to reproduce and try to fix this issue
Thank you for all the context and debug you provided us

[2020-03-20 17:02] Sylvain303 commented on #16032
OK, @williamdes, let me know if I can help.

[2020-03-21 00:28] fahadshery opened #16035 "phpMyAdmin5 HTTP HTTPS Error Behind Reverse PRoxy"
### Installation on FreeBSD

Server version: Apache/2.4.41 (FreeBSD)
mysql80-server-8.0.19
phpMyAdmin5-php72-5.0.1

### Describe the bug
I **can** access it locally i.e. directly via IP address (http://ip_address/phpmyadmin)

but getting the following error when accessing through a reverse proxy (nginx):
Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.

[2020-03-21 00:29] williamdes commented on #16035
@fahadshery I would recommend you to try the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-03-21 01:09] fahadshery commented on #16035
thanks for your prompt response. I am even struggling to install the new one.
I was getting Forbidden and now Internall 500 error.
PS trying to access locally before trying to put it behind a reverse proxy.

Here are the exact steps to reproduce the error on a fresh install:
[code]
add this at the end:
[code]
Also in the same file find where
[code]
and add index.php
[code]
this gets rid of the For

[2020-03-21 02:30] ychunc opened #16036 "option title Do not show"
![image](https://user-images.githubusercontent.com/33736639/77217634-daca2480-6b5e-11ea-89e4-927d8829ef9e.png)
![image](https://user-images.githubusercontent.com/33736639/77217639-e87faa00-6b5e-11ea-9033-e26ad09f75bf.png)
Use Google Chrome
Not shown in other versions

[2020-03-21 13:29] Pankaj-Wadhwani commented on #16012
I'm unable to find a solution , I will try to solve other issues. @williamdes

[2020-03-22 16:16] fahadshery commented on #15634
I can't find `FcgidFixPathinfo 1` inside my `httpd.conf` file. I am still having this issue. However, I am using a reverse proxy using `nginx`. The weird thing is that I can access and login using HTTP but not USING HTTPS

[2020-03-22 17:28] williamdes commented on #15634
@fahadshery Could you post your nginx config file ?

[2020-03-22 17:53] fahadshery commented on #15634
my nginx.conf as requested:

[code]

here is virtual domain conf inside `vdomains/`

[code]

`example.com.cert.conf` contains `ssl certs` paths etc.

here is the 'ssl_common.conf`

[code]
here is the `proxy_params.conf`:

[code]

I can access and login with no issues at: `http://192.168.0.101/phpmyadmin/`
The page loads at: `fuse.example.com`. But doesn't let me login and throws the error `Failed

[2020-03-22 19:23] williamdes commented on #15634
@fahadshery I would recommend you to try removing headers to find the faulty one
Let me know when you found the right one so I can know if we need to fix something ;)
[code]

On last thing, before any change please try the latest 5.0 version (5.0.2)

[2020-03-23 13:00] fahadshery commented on #15634
I can't take off:

[code]
Because it gives me the error:
[code]

I have checked one by one taking out the rest, still getting the same error.
I will try the latest 5 version and report back

[2020-03-23 13:55] fahadshery commented on #15634
I just downloaded and installed the latest pma 5.0.2. But getting internal 500 error. Here is the log:

[code]

[2020-03-23 14:11] williamdes commented on #15634
@fahadshery are you using a php 7 version?

[2020-03-23 14:19] fahadshery commented on #15634
I resolved the issue by installing:

[code]

I can now load and login using HTTP locally i.e. http://192.168.0.11/phpMyAdmin
But getting the same error via HTTPS.

Here is httpd -V

[code]

[2020-03-23 14:24] williamdes commented on #15634
but you are using httpd or nginx ?

[2020-03-23 14:27] fahadshery commented on #15634
where the PMA is installed, that is a `apache24`. The `reverse proxy` box is running `nginx`

[2020-03-23 14:50] williamdes commented on #15634
Could you paste the apache2 config?

[2020-03-23 15:41] thisname12345 opened #16038 "generate php code button makes php code that is too easy to fix"
### Describe the bug

\"generate php code\" button generates php code that may run.

### To Reproduce

1. press "generate php code"
2. paste code into php script

### Expected behavior

expect: code paste to run

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operating system:
- Web server:
- Database version:
- PHP version:
- phpMyAdmin

[2020-03-23 15:47] thisname12345 commented on #16038
php 7.2

[2020-03-23 16:11] fahadshery commented on #15634
there you go:

[code]

[2020-03-23 16:31] ibennetch commented on #16038
Hi @thisname12345

Could you show us the generated code and perhaps explain a bit more about what the problem is with it?

[2020-03-23 16:34] ibennetch commented on #16036
Hi @ychunc

Sorry, I don't see what the problem is here. Your screen shots look correct to me, and in my tests with Firefox and Chrome both work as expected. Could you clarify more what problem you're having?

[2020-03-23 16:49] williamdes commented on #15634
Thank you, I will do my best to have a docker version running of your context and try to help you find out the issue

[2020-03-23 16:53] williamdes commented on #16027
@fakhamatia Did you try changing the control user password with the web UI ?

[2020-03-23 20:24] fakhamatia commented on #16027
@williamdes
I'm sorry I didn't understand what to do, Why should I change password?

[2020-03-23 20:32] williamdes commented on #16027
When you change the password you will be asked what type of encryption
You can choose no to use sha2

[2020-03-23 21:10] fakhamatia commented on #16027
I've changed my password now from here and select `Native MySQL authentication`
Uninstall phpMyAdmin and install again but [same error](https://user-images.githubusercontent.com/20030910/76663767-5ba18300-6597-11ea-9fc6-a88509da4546.png)

![Screenshot from 2020-03-24 01-33-32](https://user-images.githubusercontent.com/20030910/77363187-df195c00-6d6f-11ea-85af-b1358fe8e087.png)

When I install MySQ

[2020-03-24 16:27] VanshikaSingolia commented on #13158
Try giving a value for length in all attributes having VARCHAR data type,it actually works...!!

[2020-03-24 22:11] #15983 closed

[2020-03-25 09:57] SjamonDaal opened #16041 "Search IN(...) Clause doest not permit multiple values"
### Describe the bug

Not sure but it seems to be the same issue as in #10105. (Which has been resolved in 2015)

### To Reproduce

Steps to reproduce the behavior:
1. Go to my database and select a table
2. Click on Search
3. In my Column "ID" I select the Operator "IN(...)"
3. In my Column "ID" I enter the value "1,2,3"
4. And the error shows "Please enter a valid number."

### Expected behavior

[2020-03-25 10:57] prcdpr commented on #14478
It's still broken on 5.0.2, I had to go back to 4.9.5 for working exports. On 5.0.2 I get out of memory error, while on 4.9.5 it works flawlessly.

Please reopen this bug

[2020-03-25 11:15] williamdes commented on #16041
Thank you for the report, a recent change introduced it..

[2020-03-25 12:26] prcdpr opened #16042 "Exported gzip file of database has first ~73 kB uncompressed and rest is gzip compressed"
### Describe the bug

I'm exporting 280 MB database with Export to file with gzip compression.
Resulting file `database.sql.gz` has first 73 kB written in plain SQL and then the rest of file is gzip compressed.

### To Reproduce

Steps to reproduce the behavior:
1. Export database to file with gzip compression checked.
2. Leave all other export settings default

### Expected behavior

Resulting ex

[2020-03-25 12:29] williamdes commented on #16042
Thank you, I will try to reproduce this issue

[2020-03-25 17:40] jsfrerot opened #16043 "Use of undefined constant MYSQLI_TYPE_JSON"
### Describe the bug

I get the following error when browsing data in tables:
Warning in ./libraries/classes/Dbi/DbiMysqli.php#463
 Use of undefined constant MYSQLI_TYPE_JSON - assumed 'MYSQLI_TYPE_JSON' (this will throw an Error in a future version of PHP)

### To Reproduce

Steps to reproduce the behavior:
Install phpmyadmin 5.0.2
1. Connect to a db server
2. click on a table to browse it's cont

[2020-03-25 17:55] williamdes commented on #16043
I was looking for a way to reproduce this issue that I see very often on the reporting server.
I hope to reproduce it this time, this error does not make sense in php 7

[2020-03-25 18:00] rafalohaki opened #16044 "blowfish_secret"
after installation phpmyadmin to 5.0.2 i got error with blowfish_secret:
 The configuration file now needs a secret passphrase (blowfish_secret).

![image](https://user-images.githubusercontent.com/20607107/77569664-d1c4b480-6eca-11ea-8b82-49af8faf6f87.png)
i generated new blowfish secret but its the same error

[2020-03-25 18:01] williamdes commented on #16044
@rafalohaki could you post your `config.inc.php` file (altering some of the blowfish secret but keep it quite similar, perhaps exchanging letters par example)

[2020-03-25 19:57] Bllacky commented on #15997
Just tried this on version 5.0.2 and still not working. Not sure when it got broken, but it was working a few months ago.

[2020-03-25 20:00] williamdes commented on #15997
It was broken since 5.0.0 alpha 1
I need some feedback to know if I can revert the change I mentioned or if it was expected in some way

[2020-03-25 21:39] ibennetch opened #16045 "Database export to SQL not available"
When trying to export a database, the SQL type is not available.

Exporting a table seems to work fine.

Git bisect tells me 1b56c8e0edf245c47ad625a9abb4f5815f8733dc is the first bad commit.

Affects: master
PHP 7.4, MariaDB 10.3.22, Apache 2.4

[2020-03-25 21:45] ibennetch commented on #16044
Also, how have you installed phpMyAdmin (downloading yourself, using a package manager, as part of a kit like XAMPP or WAMP)?

[2020-03-25 21:51] ibennetch commented on #16042
Thanks for your good report, this is strange as I can't reproduce this. I'm trying with the sakila test database using the payment table, which phpMyAdmin reports as approximately 2.1 MiB, and when compressed gives me a 235Kb file.

Can you try on the demo server at https://demo.phpmyadmin.net/QA_4_9/ using username root with a blank password?

[2020-03-25 22:53] darrentayloruk commented on #15997
I've had a read over the commits and it's this change here:
"deleting auto_saved_sql on clicking submit query button "
https://github.com/phpmyadmin/phpmyadmin/pull/14166/commits/6a44368cc53f60e8ed868b627608d6b7b8b97401#diff-330ef13a94973fd5d1aefa611e91b23eR451

![image](https://user-images.githubusercontent.com/30502984/77592178-8bcb1900-6ee9-11ea-9ad0-364038d01907.png)

Which was clearly intende

[2020-03-25 23:01] williamdes commented on #15997
If you find the other piece of code that clears the storage I would be interested to know where to find it

@ibennetch could you give your point of view on this issue ?

[2020-03-25 23:10] darrentayloruk commented on #15997
Yep it appears to be here

https://github.com/phpmyadmin/phpmyadmin/blob/b2d1615176c7c9533dded6fdd961c987595cb66c/js/ajax.js#L269

On navigate away asks for confirmation and clears it

[2020-03-25 23:22] rafalohaki commented on #16044
i used comamnds like
`1.sudo mv /usr/share/phpmyadmin/ /usr/share/phpmyadmin.bak
2.sudo mkdir /usr/share/phpmyadmin/
3.cd /usr/share/phpmyadmin/
4.sudo wget https://files.phpmyadmin.net/phpMyAdmin/5.0.2/phpMyAdmin-5.0.2-all-languages.tar.gz
5.sudo tar xzf phpMyAdmin-5.0.2-all-languages.tar.gz
6.sudo mv phpMyAdmin-5.0.2-all-languages/* /usr/share/phpmyadmin
changed
sudo nano /usr/share/phpmyadmin/l

[2020-03-25 23:23] rafalohaki commented on #16044
+1 rep for fast support btw <3

[2020-03-25 23:23] #16044 closed

[2020-03-25 23:43] ibennetch commented on #16044
❤️ Thank you

Glad you got it sorted out. I think the problem you're seeing is because the default location phpMyAdmin looks for the configuration file is in the same directory, so your `/usr/share/phpmyadmin`, but what you've done should definitely fix that.

Cheers

[2020-03-26 00:00] prcdpr commented on #16042
I have troubles reproducing it on this demo server so I'll try again tomorrow.

For now I know that compressed part starts always at the same offset no matter which tables I select for export. To decompress compressed part it's enough to call
[code]

So first 75370 bytes are uncompressed, then the rest of file is compressed.

[2020-03-26 00:07] prcdpr commented on #16042
On Chrome it's fully compressed! So it's a Firefox problem.

[2020-03-26 00:10] ibennetch commented on #16042
Thanks for the additional information. That's so wacky! I'm using
Firefox 74 here on Mac, I'll have to test some other combinations.

[2020-03-26 00:15] darrentayloruk opened #16046 "Improvement to the "Get auto-saved query" UX"
### Is your feature request related to a problem? Please describe.

When returning to a SQL query if you have a query Saved in local storage you get a popup on screen for ~5 seconds

![image](https://user-images.githubusercontent.com/30502984/77596429-dfdafb00-6ef3-11ea-8b79-24e437b2289a.png)

While not actually preventing input - it does have a loading feel, so implies a wait and obscures the edi

[2020-03-26 00:30] prcdpr commented on #16042
Might be related:

https://bugzilla.mozilla.org/show_bug.cgi?id=424306
https://bugzilla.mozilla.org/show_bug.cgi?id=233047

Workaround: in `phpMyAdmin-4.9.5-all-languages\libraries\classes\Export.php` change

[code]
to

[code]

And it works!

But 2004 Firefox bug, really...?

[2020-03-26 19:27] Corrodian opened #16047 "SQL history doesn't log generated queries"
### Is your feature request related to a problem? Please describe.

I have activated phpMyAdmin SQL History and it logs all manually written queries to phpmyadmin.pma__history table.

However if I use automatically generated queries like the Search tab to find a row or update a row by clicking the cell, this generates queries but does not log them into the SQL History.

### Describe the solution y

[2020-03-26 19:28] williamdes commented on #16047
Hi @Corrodian
Could you try latest version available on our [website](https://www.phpmyadmin.net/downloads/) ?

[2020-03-26 22:17] williamdes commented on #15515
Hi !
I published 4.9.5 to the [Ubuntu PPA](https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa) :rocket:
- updated tcpdf to 6.3.5
- updated sql-parser to 4.6.1

Only available for Eoan and Bionic.

[2020-03-26 22:23] baqwas commented on #15515
Thank you for your continuing efforts.

Kind regards.

[2020-03-27 07:07] Corrodian commented on #16047
@williamdes Tested it on 5.0.2 with same results.

[2020-03-27 08:11] waja commented on #15236
Hi there,

thanks for keeping up the work providing recent phpmyadmin packages.

With the latest phpmyadmin depends on php-phpmyadmin-motranslator (>= 5.0) but in the PPA is only 4.0-3 available.

Many thanks, Jan.

[2020-03-27 08:14] williamdes commented on #16047
Thank you for the feedback, so it is a very old bug

[2020-03-27 08:34] alvianaufan commented on #14217
if you still got the problem you can only run this SQL command :

GRANT ALL PRIVILEGES ON  *.* TO 'the-user'@'%' ;

[2020-03-27 09:06] williamdes commented on #15236
Hi @waja
Thank you for pointing this out
I did not notice this because [debian/control change](https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/blob/master/debian/control#L24) was forgotten on [f68bff7a4b3a0708ed8b244590f74b863d13c063](https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/commit/f68bff7a4b3a0708ed8b244590f74b863d13c063)

Anyway, I fixed this by publishing motranslator 5 to th

[2020-03-27 09:07] williamdes commented on #15515
I published motranslator 5 to the PPA for Eoan and Bionic because of https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-604871109

Explained in https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-604892735

Happy apt-get upgrade :rocket:

[2020-03-27 09:33] gmrfrost opened #16048 "Error 500 field of type bit"
Hi,

We are facing an error when trying to modify a field of type BIT.
phpMyAdmin-5.0.2-1
php73-php-common-7.3.16-1 (FPM)
Linux  4.4.217-1 #1 SMP  2020 x86_64 x86_64 x86_64 GNU/Linux
CentOS release 6.10 (Final)
Server version: Apache/2.4.34 (Red Hat) (Server MPM:     event)

Trace:
[code]

Regards,

[2020-03-27 13:34] IsraaOsta commented on #13404
i have the same problem can you help me ?

[2020-03-27 13:52] williamdes commented on #13404
@IsraaOsta you should have a look to #15267 and let me know if this fixes your issue

[2020-03-27 16:30] ibennetch commented on #16048
Thanks for the report.

This affects QA_5_0, does not affect QA_4_9

[2020-03-27 23:12] darrentayloruk commented on #16047
Started to have a little investigate, not got far as realise there are many ways to run SQL, but I started on the config info and it says.

"Since release 2.5.0 you can store your SQL history, which means all queries you entered manually into the phpMyAdmin interface."

As I read it, should only work for the manually entered ones,

This matches @Corrodian's request and has put this as a feature an

[2020-03-27 23:27] williamdes commented on #16047
Indeed that would be an enhancement
Next time I pass on this issue I will also have a look and change the tagging accordingly

Thank you for investigation!

[2020-03-28 10:14] williamdes opened #16049 "JS error when adding a DB to a user"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Add a user
2. Add a db for this user
3. See the error during 1 sec between form post and request success

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 5.1.0-dev

### Additional context

[code]

[code]

[2020-03-28 10:16] williamdes opened #16050 "[5.1] French login form misaligned"
![image](https://user-images.githubusercontent.com/7784660/77820821-7c182400-70e5-11ea-9912-b2e0946c7b2a.png)

NB: I use LastPass

And *Choix du serveur :* is not in bold

[2020-03-28 10:19] williamdes opened #16051 "[5.1] Logged out when creating a new table"
The route generation must be fixed somewhere

[2020-03-28 12:21] DavidThomas48 opened #16052 "JS error on mousemove, $.throttle"
### Describe the bug

js error message on screen

### To Reproduce
can't

### Expected behavior
### Screenshots

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/1977575/77822859-a223df80-714a-11ea-8e6e-cfc36b4a6b15.png)

![image](https://user-images.githubusercontent.com/1977575/77822884-cc759d00-714a-11ea-933b-033e268185a1.png)

###

[2020-03-29 01:35] DavidThomas48 opened #16053 "Metro theme routine editor diminishing width"
### Describe the bug
In the metro theme, when you drag the bottom edge of the code window up or down, the right edge also moves, but always to reduce the width of the code space. In the following screenshots,

The first is the editor freshly opened
![image](https://user-images.githubusercontent.com/1977575/77837801-0f6e5980-71b9-11ea-823a-9de91fe53bf4.png)

Next is after I dragged the bottom  edge

[2020-03-29 01:57] DavidThomas48 opened #16054 "With long routines, error messages can't be read"
When editing long routines in pmahomme, error messages cannot be read, because the re-display of the query consumes all visible space, and the error message is at the bottom, out of sight

#Steps to reproduce the behavior:
Write a long routine with an error and attempt to save

### Expected behavior
Either:
a. an option to exclude the query itself from the error window, or
b. make the error window

[2020-03-29 09:08] williamdes commented on #16053
Hi @DavidThomas48 could you try latest 5.0 version but I think the bug is still present
Thank you for reporting this issue

[2020-03-29 10:09] DavidThomas48 commented on #16053
Hi @williamdes, I have installed 5.0.2 and it is still there.

[2020-03-29 13:53] NKarasek commented on #15194
Quick question - does this issue reference the problem with "column headers not maintaining correct column widths"?
1.  view as query result with more columns than can fit on a single screen (horizontal)- and more rows than can fit on a screen (vertical).
2.  scroll down the initial results page to the point where the original column headers scroll off the top.
3.  the replacement header's content

[2020-03-29 14:08] williamdes commented on #15194
Good question, I am not sure to have the good answer could you try on demo server ? (`root`, no password) [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)

[2020-03-29 15:54] NKarasek commented on #15194
Sorry William, seems that the server (both mysqli and Mariadb) are somewhat
broken to my browser (Chrome).  Two screens of errors on each page
requested data - can't even access the home page properly

Warning in ./vendor/nikic/fast-route/src/functions.php#68
 file_put_contents(/home/demo/.pma-demo/master/libraries/cache/routes.cache):
failed to open stream: Permission denied

Will wait to hear fr

[2020-03-29 15:59] NKarasek commented on #15194
Ooops - was able to get some results from queries.  Errors still appear but
the seem to generate after processing my request.

The bad behavior I noted previously is still present in the latest 5.1.0
dev build.  After a quick inspection of the generated html, it appears the
problem is the same.

On Sun, Mar 29, 2020 at 11:53 AM Nick Karasek <nzk.tbkd@gmail.com> wrote:

[2020-03-29 18:05] ibennetch opened #16055 "Caching requires webserver-user permissions on cache directory"
Related to #16028, the caching requires that the webserver process has write access to the `libraries/cache` folder. By default, we don't do that (and can't know the local webserver user/group name).

With `tmp/`, this is solved/worked around by creating the tmp folder from within phpMyAdmin; in the case of caching the folder currently exists in the file system. Creating the folder externally (suc

[2020-03-29 18:05] ibennetch commented on #15194
@NKarasek I have fixed the demo server (at least, for now), so you can try again if you'd like. I've opened issue https://github.com/phpmyadmin/phpmyadmin/issues/16055 relating to that problem.

[2020-03-29 19:02] ibennetch commented on #16055
Also, we should check the fix for this on Windows to make sure all systems work correctly.

[2020-03-29 19:03] williamdes commented on #16055
This will only affect installations from GIT

[2020-03-30 01:21] oldkingcone opened #16056 "CRLF/HTML entity injection with most recent version of PHPMyAdmin"
### Describe the bug

The login form does not properly escape CRLF sequences, this can lead to HTML entity injection at the very least, or reflected XSS at the very worst.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'index.php'
2. Insert into the login fields, username, password, and the hidden field of target, and insert this value into those fields: %0D%0Astring%0D%0A and the lo

[2020-03-30 12:51] jsfrerot commented on #16043
Let me know if you need more informations.

[2020-03-31 05:54] MattyTheMad opened #16057 "Non back-tick table names starting with integer in an UPDATE/DELETE statements can't be executed."
### Describe the bug

UDATING/DELETING/INSERTING with non back-ticked table names that start with an integer cause errors, though it is valid in MySQL. (Probably other query types too)

Works fine:
[code]
Causes error:
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Open database
2. Create table named 0searchhistoryx
2. Open SQL tab
3. Enter SQL `"UPDATE 0searchhistoryx SET complete

[2020-03-31 07:09] williamdes commented on #16057
Thank you for the detailed report, I hope that it will be fixed soon :)
If you want you can open a pull-request on the https://github.com/phpmyadmin/sql-parser repository to branch QA

[2020-03-31 09:25] RS974 opened #16058 "Clicking on table header don't sort by fieldname when using SignON Auth"
### Describe the bug

I authenticate with SignOn, display a table and click on one fieldname in the table header.
After displaying "loading in progress", the sort was not included in the SQL query.
This problem is found for any version higher than 4.9.2

### To Reproduce

1. Start phpMyAdmin with config.inc.php

[code]

1. Go to 'Table record list'
2. Click on 'fiedname'
3. The SQL query doesn't s

[2020-03-31 09:28] Dahkon commented on #16058
Same problem for me.
It seems server=2 in the url prevents the query to be executed.

[2020-03-31 09:47] RS974 commented on #16058
I test 2 configurations

1. My config : server1 auth_type=cookie and server2 auth_type=signon
2. Test config : server1 auth_type=signon

I have the same problem.

[2020-03-31 10:03] williamdes commented on #16058
Can you try latest 5.0 version in case it would be fixed, but anyway I will try to have a look and fix the request
Thank you for reporting this issue

[2020-03-31 10:26] RS974 commented on #16058
I try all version : 4.9.0 to 5.0.2
so I was able to determine that as of 4.9.2 my Signon Auth configuration had this problem.

[2020-03-31 16:00] eccirc commented on #12177
Hi all - many thanks for all of the advice listed here already! I was having a similar error (my browser only displaying raw php) - in the end what worked for me was navigating to /etc/php/7.0/apache2 and editing the php.ini file:
`sudo nano -c php.ini`

I then found this section (jump to line 694!) and uncommented the appropriate line for unix (see in bold):
;;;;;;;;;;;;;;;;;;;;;;;;;
; Paths and

[2020-03-31 20:30] carnil commented on #16056
CVE-2020-11441 seem to have been assigned for this issue.

[2020-03-31 20:34] williamdes commented on #16056
https://nvd.nist.gov/vuln/detail/CVE-2020-11441

cc @ibennetch

[2020-03-31 20:46] ibennetch commented on #16056
The security team is aware of this issue. It’s  unfortunate that the
reporter chose to post here instead of follow our directions for reporting
a security issue privately, which would give the team time to assess the
issue and properly prepare fixes across all of our supported branches.

We are currently working to assess the impact of this report and prepare
the appropriate fixes.

[2020-03-31 22:54] oldkingcone commented on #16056
I emailed your distro list, i looked on your website to try to find the guidelines to report to you. I also, followed the link listed in this github to report securely. All lead to dead ends, which resorted to the post here. If there was a more direct route to report to you, I would have taken it. Be lucky I reported this to you at all.

[2020-04-01 00:11] Ekultek commented on #16056
You know what I find sad? That the developers were aware of this issue and kept it a secret instead of telling people "hey guys we kinda messed up just watch for this and this". Have we not learned from the shadow brokers that keeping issues like this a secret just causes even more problems for everyone involved?

I'm sorry but if your team was aware of the issue it should of been your number one

[2020-04-01 00:19] Ekultek commented on #16056
Also exactly where the hell is your "directions for reporting a security issue privately"? It's not on your website, it's not on your README, so did you hide that too?

[2020-04-01 00:45] ibennetch commented on #16056
@oldkingcone Sorry, I looked again through the messages to the security address and don't see yours there. The email address is the main way we look for reports, and I don't know why I haven't seen your messages.

Regardless, we're glad to get the report, of course.

[2020-04-01 00:52] ibennetch commented on #16056
@Ekultek I think you misunderstood. There were two comments between the post and mine, but not any confirmation from a team member that this is being taken seriously. Nothing I said was meant to mean "We have known about this and are choosing not to fix it." but rather "We see this report and are working, but because of needing to backport fixes and determine which branches are affected you may no

[2020-04-01 01:00] ibennetch commented on #16056
Also, to everyone, my tone seems to have been poorly written, I did not mean to be dismissive of @oldkingcone or unhappy about the report. As I mentioned, I'm of course glad for the report.

Sorry the tone of my message was poorly written.

I don't know why the security address didn't work but will investigate the server logs further when I have a chance.

[2020-04-01 02:26] ibennetch commented on #16056
I can't reproduce this with the steps provided. I've put in the username `root%0D%0Astring%0D%0A` in the username field and when I submit the form, the error seems to be properly quoted:

<img width="417" alt="image" src="https://user-images.githubusercontent.com/1443710/78088707-f15c5100-7392-11ea-84ae-8b990cc6916f.png">

I've tried with both submitting the text directly through the form manually

[2020-04-01 05:16] oldkingcone commented on #16056
@ibennetch sure thing! I will provide more information on reproducing this. I have see similar issues like this arise in other technologies(i will not disclose here), the issue isnt SQL injection or passing it back to the database, the issue arises from the CRLF sequences being injected into the page, and the subsequent HTML entities also being injected into the page. Since I had not focused too m

[2020-04-01 10:39] deligant commented on #16021
This bug still affects stable branch on the index page as of 1 april 2020.
Fatal error: Uncaught Error: Class 'Symfony\Component\DependencyInjection\ContainerBuilder' not found in /opt/phpmyadmin/libraries/common.inc.php on line 92

[2020-04-01 11:08] williamdes commented on #16021
@deligant this is totally impossible on stable branch ;)
But you are not totally wrong and a `composer update` will solve this issue for you

[2020-04-01 11:41] ibennetch commented on #16056
I did, and I don't see anything specifically exploitable there. From what I can tell, the submitted characters are correctly encoded/escaped for submitting to MySQL, then again properly converted back to HTML for display on the error page. I look forward to seeing more when you have a chance to investigate further.

[2020-04-01 12:53] NKarasek opened #16059 "Simple LEFT OUTER JOIN causes PHPMA error"
### Describe the bug

A vanilla LEFT OUTER JOIN causes big error in display functions.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a database containing two related tables - Table A and Table B
2. Build an SQL query using a LEFT OUTER JOIN between the tables asking for ALL rows from Table A and matching rows from Table B.
3. Execute the Query
4. See error:
[code]

### Expected beh

[2020-04-01 22:40] omermujtaba18 commented on #16050
I would like to give this a try. Is this up for grabs? Any pointers?

[2020-04-01 22:50] omermujtaba18 commented on #13270
Is it open for contribution? first-timer here. :D

[2020-04-01 23:08] omermujtaba18 commented on #15101
Hi, I would like to contribute, Is this available? first-time contributor btw :D

[2020-04-02 11:19] williamdes commented on #15101
Hi @omermujtaba18
Yes of course, go ahead ;)

[2020-04-02 11:23] williamdes opened #16060 "Use prepared queries to avoid security issues"
Ref: #15492

In order to reduce all possible SQL injections ~~I am thinking about making a query builder class.~~ I am thinking about using prepared queries.

[2020-04-02 11:34] williamdes commented on #16050
@omermujtaba18 If you want to solve this one you can go ahead

Branch: master

Here is my work in progress but it did not work, hope it helps you
[code]

[2020-04-02 11:36] williamdes commented on #13270
Hey @omermujtaba18

You can contribute on this issue, if you need you can follow https://github.com/phpmyadmin/phpmyadmin/issues/13270#issuecomment-538645735

Branch: master

[2020-04-02 21:33] pamamolf opened #16062 "Can't export to .xml on latest 5.0.2 - Error: htmlspecialchars() expects parameter 1 to be string, null given"
### Describe the bug

Export to .xml doesn't work and got an error message ERR_INVALID_RESPONSE on Chrome...

### To Reproduce

Steps to reproduce the behavior:
Just try to export anything to .xml

### Expected behavior

Export to .xml file.

### Screenshots

https://i.postimg.cc/W1yTrPPr/image.png

### Server configuration

- Operating system: Centos 7 64bit
- Web server:Nginx 1.17.9
- Database v

[2020-04-02 22:38] ibennetch commented on #16062
Thanks for the report! We will look in to it.

[2020-04-03 03:33] ibennetch commented on #16062
The error message you've helpfully provided should be enough for us to fix this, however I can't reproduce it.

The value of `$tbl` here should be the CREATE statement that gets placed in the `<pma:table name`... tag, and it's not immediately clear to me why this could be null.

Would you mind exporting an SQL file of the database structure (obscuring any sensitive information) and posting it here

[2020-04-03 05:12] peterkroon commented on #16048
I can reproduce this only when the default value is set to NULL. When a default value has been specified then I'm able to edit the bit field.

Server version: 10.1.44-MariaDB-0+deb9u1 - Debian 9.11
nginx/1.10.3
Database client version: libmysql - mysqlnd 7.4.4
PHP version: 7.4.4
Version information: 5.0.2 (up to date)

[2020-04-03 07:08] #16048 closed

[2020-04-03 07:09] williamdes commented on #16048
ae640ebcce4fffdc489f3abbdaf53353e4c75e8e is the fix and I added a test case aab8c19731b54d629a669ab97c3be01fb495915f

[2020-04-03 07:15] williamdes commented on #16062
Here is my proposal patch, could you test it @pamamolf ?
[code]

[2020-04-03 13:42] pamamolf commented on #16062
Yes it works !

Thank you

[2020-04-03 13:43] williamdes commented on #16062
Thank you, I will commit it to close this issue :)

[2020-04-03 14:23] IdahoPL opened #16064 "2FA stopped working in phpMyAdmin 5.x"
I am using 2FA in PMA 4.x, it works ok. In PMA 5.0.1 and 5.0.2 it's not working. When I try to turn on "Authentication Application (2FA)" it fails:

`
Fatal error: Uncaught BaconQrCode\Exception\RuntimeException: You need to install the libxml extension to use this back end in /usr/local/www/phpMyAdmin/vendor/bacon/bacon-qr-code/src/Renderer/Image/SvgImageBackEnd.php:46 Stack trace: #0 /usr/local/

[2020-04-03 14:26] williamdes commented on #16064
Hi @IdahoPL
This seems to be a packaging issue, I will try to find someone to ping

[2020-04-03 14:30] IdahoPL commented on #16064
Thank you @williamdes

joneum@FreeBSD.org is this package maintainer according to https://www.freshports.org/search.php?query=phpmyadmin5

[2020-04-03 14:35] williamdes commented on #16064
@joneum could you please have a look ?
https://svnweb.freebsd.org/ports/head/databases/phpmyadmin5/Makefile?view=markup&pathrev=529192

[2020-04-04 07:27] nikkolai14 commented on #14801
Since this is still open, I believe this is not yet complete, right? I want to join to contribute!

[2020-04-04 07:52] williamdes commented on #14801
Hi @nikkolai14
You can contribute on this issue, we are very glad to have new contributors!

Branch: master

[2020-04-04 12:42] etlam262 opened #16065 "Error during installation on Raspbian"
### Describe the bug

After I installed the MariaDB server I changed the root password and then tried to install phpMyAdmin. During the configuration I got the error
[code]
when the configuration tool tried to set up the pypmyadmin DB.

I just saw, that the same happens when I try to remove the phpmyadmin package and delete the phpmyadmin DB while doing so.

### To Reproduce

1. Fresh installation

[2020-04-04 12:46] williamdes commented on #16065
@etlam262 I would recommend your to try our Ubuntu PPA
See #15515 or #15236 for Debian

We do not support 4.6 versions anymore

I hope our PPA will solve your issue

[2020-04-04 14:11] etlam262 commented on #16065
Unfortunately I can't add the Ubuntu PPA unless there's a workaround for this:
[code]

But since it looks like there will be a version for debian buster in the future I'll just leave my system as it is now and hope that the issue will be fixed then.

[2020-04-04 14:18] williamdes commented on #16065
yes, I had forgot about his issue
You could try to add `deb http://ppa.launchpad.net/phpmyadmin/ppa/ubuntu eoan main` to the source list manually

[2020-04-04 15:23] asprazz commented on #16050
Is this the issue we are having ?

![Screenshot from 2020-04-04 20-52-23](https://user-images.githubusercontent.com/19568165/78454540-3b587600-76b6-11ea-874e-e61d71cf8075.png)

[2020-04-04 15:25] williamdes commented on #16050
Not quite, but it is maybe the same issue

[2020-04-04 16:28] MattyTheMad commented on #16057
Also appears to happen with INSERT INTO 0table

[2020-04-04 16:34] asprazz commented on #16050
If it is same issue, please consider reviewing my pull request :)

[2020-04-04 17:23] asprazz commented on #16050
My bad, I reverted someone's work on _commons.scss
Need another approach..

[2020-04-04 23:52] etlam262 commented on #16065
I was able to add the PPA manually and then had to add the PUBKEY. When I now try to install pma I get the following error:
[code]
When I install php-twig manually it's Version 2.6.2.2 as well. Is there a way to specify to install a more recent version of the package?

[2020-04-04 23:57] williamdes commented on #16065
If you use `bionic` instead of `eoan` you will have the twig package (#16040)
See: https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa/+packages

[2020-04-05 00:29] etlam262 commented on #16065
Good news everyone!
I am now able to run the current version of pma.
Unfortunately however my initial problem still exists (but my workaround also still works).

[2020-04-05 00:46] williamdes commented on #16065
Oh you where referring to #14220 ?

[2020-04-05 00:54] etlam262 commented on #16065
I guess not. This isn't about the authentication method, but rather that the installer just tries to use the default password for mysql root (which is none) and doesn't ask for a password if the default doesn't work.

[2020-04-05 08:06] williamdes commented on #16065
@Blaimi do you understand what did go wrong for this user?

[2020-04-05 12:43] carnil commented on #16056
@oldkingcone, @ibennetch, @williamdes From a CVE assignment point of view (note I was neither involved in requesting the CVE, just stumbled over it while looking up CVEs in the MITRE feed as part of a downstream) is this issue then valid? If not, does the CVE need to be rejected (if so this is best done by the CVE requestor or upstream at MITRE level via https://cveform.mitre.org). (That said it w

[2020-04-05 13:24] #16050 closed

[2020-04-05 16:01] ibennetch commented on #15845
I'm going to close this for now because it seems to be an packaging issue on the RedHat side. If there's something I missed, feel free to comment here and we'll reopen.

[2020-04-05 16:01] #15845 closed

[2020-04-05 18:13] #16062 closed

[2020-04-05 18:14] williamdes commented on #16062
Done as 4f4b86d27b4912163a913409248dda12f91089b1
Sorry for the delay

[2020-04-05 18:29] ibennetch commented on #15996
Confirmed, thanks for reporting.

This broke somewhere between 4.9 and 5.0 but I'm having a bit of trouble using git bisect to find where exactly, because it broke in several different ways (at one point, paths became relative to the location on disk, at one point rendering the page broke completely). So I'm still looking in to *why* this happened, but it definitely seems broken to me.

[2020-04-05 19:40] ibennetch commented on #16030
@weichengcing Is this problem still occurring for you? Are there any errors in your webserver error log?

[2020-04-05 19:41] ibennetch commented on #16036
Closing due to lack of feedback, if you are still having problems then please comment here again.

[2020-04-05 19:41] #16036 closed

[2020-04-05 19:41] ibennetch commented on #16038
Closing due to lack of feedback, if you are still having problems then please comment here again.

[2020-04-05 19:41] #16038 closed

[2020-04-05 21:51] williamdes commented on #16043
@jsfrerot could you send the output of `php -m` ?

[2020-04-05 21:52] williamdes commented on #16027
@etlam262 is this similar to #16065 (I hope it is not unrelated)

[2020-04-05 21:54] williamdes commented on #16035
@fahadshery could you paste the error from php here so I can reproduce this issue more quickly ?

[2020-04-06 10:17] fahadshery commented on #15634
'''
Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.
'''

[2020-04-06 10:18] fahadshery commented on #16035
[code]

[2020-04-06 10:26] Blaimi commented on #16065
Yes, the problem is the change of the root-password. More specific the change of the authentication-method from socket to password.

dbconfig-common expects to connect to the mysql-server via socket-authentication, That's why you don't get asked for the root-password during installation anymore since debian stretch. changing the root-authentication method will lead into more problems than this one

[2020-04-06 10:38] williamdes commented on #16035
So no more error 500 ?

[2020-04-06 10:41] williamdes commented on #16065
Thank you!
should we fix this on our side or is it to dbconfig-common to fix it ?

[2020-04-06 11:02] Blaimi commented on #16065
There's nothing to fix. The fix is not changing the authentication-method for root and setup a different admin-user as the readme recommends ;)

Another way is maybe to install phpmyadmin with `DEBIAN_PRIORITY=low apt install phpmyadmin`. This should enable the dbconfig-common questions with low priority where you should be able to give an administrative user and password. I've not tested it with

[2020-04-06 11:08] #16065 closed

[2020-04-06 11:13] fahadshery commented on #16035
sorry my bad... I have fixed the 500 error.
The `Failted to set session cookie`. still there.
[Here](https://fahadusman.com/install-mysql-8-phpmyadmin-python3-apache-in-freenas-11-3-jail-freebsd/) is how I fixed the internal 500 error.

[2020-04-06 13:20] etlam262 commented on #16065
Thanks! I'm fairly new to all this so that was really great help.

[2020-04-07 12:13] redrain-wang commented on #16043
php -m
Core
ctype
date
dom
fileinfo
filter
gd
hash
iconv
json
libxml
mbstring
mysqli
openssl
pcre
PDO
pdo_mysql
pdo_sqlite
Phar
posix
Reflection
session
SimpleXML
SPL
sqlite3
standard
tokenizer
xml
xmlreader
xmlwriter

[2020-04-07 12:16] redrain-wang commented on #16043
if (!defined('MYSQLI_TYPE_JSON')) {
    define('MYSQLI_TYPE_JSON', 245);
}

[2020-04-07 12:17] jsfrerot commented on #16043
He, here is the output of "php -m" as requested

[code]

[2020-04-07 12:18] redrain-wang commented on #16043
if (!defined('MYSQLI_TYPE_JSON')) {
define('MYSQLI_TYPE_JSON', 245);
}

[2020-04-07 12:18] redrain-wang commented on #16043
`if (!defined('MYSQLI_TYPE_JSON')) {
define('MYSQLI_TYPE_JSON', 245);
}`

[2020-04-07 12:18] redrain-wang commented on #16043
[code]

[2020-04-07 18:36] Ekultek commented on #16056
It seems that the issue is valid but they're disputing the CVE due to exploitablitiy of it @carnil

[2020-04-07 18:56] ibennetch commented on #15888
I think this is a novel idea, but I don't think we're going to pursue it at this time. Having a "phpMyAdmin" app would mislead users in to thinking we have ported the application to Android, confusing the brand. Development effort spent on the Android or iOS apps could better be spent on improving the project itself. This seems like something that could quickly become outdated and would require ad

[2020-04-07 18:56] #15888 closed

[2020-04-07 19:20] ibennetch commented on #16056
@carnil thank you for that information. I actually didn't even know there was a way to reject a CVE; I've had a good relationship with the MITRE folks through requesting them for the project, but never realized that was an option.

@ekultek I haven't disputed anything with MITRE. I'm not sure who has or why the form shows that quote.

I still don't see how this report is valid, this appears to be

[2020-04-08 15:38] php4fan commented on #11834
Either this is not fixed, or https://demo.phpmyadmin.net/ is two years out of date

[2020-04-08 15:51] php4fan opened #16067 "Make database selector resizable when editing privileges for user"
https://demo.phpmyadmin.net/master-config/

Steps to reproduce:

- create a new user
- go to the Databases tab to manage database-specific privileges for that user

Expected:
The multi select for selecting the databases should be usable, that is, decently sized and more importantly **RESIZABLE**.

Observed:
It isn't. It's ridiculously tiny and not resizable. Trying to scroll through the list of da

[2020-04-08 16:28] ibennetch commented on #11834
I also see this behavior (testing with master), except the second part about copying it to `something_else` didn't convert the type in my case.

Reopening for reassessment.

[2020-04-08 23:11] cyrialize commented on #14801
Hello @williamdes, I'll also contribute to this.

What is a good way to find files that need their html extracted?

I'm thinking of just looking for files that:
- Match for html (quick and dirty regex, /<.*?>/)
- And do not match for $template->render(), or use PhpMyAdmin\Template;

[2020-04-08 23:20] williamdes commented on #14801
Hello @cyrialize
You can contribute on this one :+1:

maybe by searching for `'<` you will have most results
Your suggestions look okay

[2020-04-08 23:28] joho1968 commented on #15068
I can't seem to find any reference in the 5.x documentation on how to set the color scheme either, but I may be looking in the wrong place. Or is something like "metro-mono" the implied syntax? If so, I think this should be stated in the documentation.

[2020-04-09 03:09] ward13 commented on #14959
I just had this error when setting up phpmyadmin. Install was on debian 10 (buster).

Fixed error by installing php extension 'php-zip' (and restarting apache2 service).

Not sure if other missing extension would cause similar error but somewhere to start if you see this error.

[2020-04-09 07:41] williamdes commented on #14959
BTW: Where you trying #15236 or #15515 ?

[2020-04-09 21:03] williamdes commented on #16043
If someone want to investigate before I have time to do so I would really appreciate

This constant exists on my version of php

[2020-04-09 22:02] hiimjustin000 opened #16068 "mysqli::real_connect(): (HY000/1045): Access denied for user 'root'@'localhost' (using password: YES)"
### Describe the bug

I cannot log in to phpMyAdmin.

### To Reproduce

Steps to reproduce the behavior:
Go to homepage
Login with a username of "root", and any password, **even the one in the configuration**.

### Expected behavior

I expected myself to be logged into the PMA dashboard.

### Screenshots

![image](https://user-images.githubusercontent.com/52604018/78944406-d329db80-7a8b-11ea-9320-

[2020-04-09 22:17] hiimjustin000 commented on #16068
Don't act confused, I'm trying to log in, but I can't because it thinks I'm using the wrong password. I'm using the same password in the config.inc.php file.

[2020-04-09 22:42] williamdes commented on #16068
Hello @hiimjustin000
You are just using the wrong password ;)
How did you install the MariaDB server ?

[2020-04-09 22:49] hiimjustin000 commented on #16068
Installing WAMP. I am absolutely not using the wrong password. I double-checked and it is the same one in config.inc.php.

[2020-04-09 22:52] williamdes commented on #16068
@hiimjustin000 To be sure everything is okay please try to connect using the mysql command line or a piece of code. After you can conclude the code or tool was able to connect we can discuss to find a _possible_ bug

Also could you send your configuration file?

[2020-04-09 22:57] hiimjustin000 commented on #16068
Tried with a different user (hiimjustin000@localhost) and got the same error. I'm not using the wrong password!

[2020-04-09 22:57] williamdes commented on #16068
okay, then maybe we should try to debug your `config.inc.php` file

[2020-04-09 23:01] hiimjustin000 commented on #16068
[code]

[2020-04-09 23:02] hiimjustin000 commented on #16068
[code]

[2020-04-09 23:03] williamdes commented on #16068
@hiimjustin000 you will have to reset the leaked passwords in the previous post because we receive notifications by email and they are archived.

Anyway `$cfg['Servers'][$i]['auth_type'] = 'cookie';` should be `$cfg['Servers'][$i]['auth_type'] = 'config';` to allow usage of user and password

[2020-04-09 23:08] hiimjustin000 commented on #16068
Crap... Well ok then.

![image](https://user-images.githubusercontent.com/52604018/78948160-76cbb980-7a95-11ea-9376-093af498a6f1.png)

[2020-04-09 23:08] ibennetch commented on #16068
Hi,

Just to be clear; you may already know this but I'm not sure.

phpMyAdmin passes the username and password you provide along to MySQL. You don't define the password in `config.inc.php` that you wish to use when logging in, you must tell phpMyAdmin a valid MySQL user account. When you're using the `auth_type` 'cookie' (or 'http'), you are prompted for the username and password (the `$cfg['Serv

[2020-04-09 23:12] hiimjustin000 commented on #16068
![image](https://user-images.githubusercontent.com/52604018/78948368-05403b00-7a96-11ea-837f-a0cdc80ef7de.png)
hiimjustin000@localhost has the same password as mentioned in config.inc.

[2020-04-09 23:13] williamdes commented on #16068
So using the command line you could login to the user ?

[2020-04-09 23:16] hiimjustin000 commented on #16068
Yes, I can.

[2020-04-09 23:59] hiimjustin000 commented on #16068
How do I make it so when I put it to type "cookie", it will accept the config.inc values? WAMP people can do that, so I can.

[2020-04-10 03:07] asprazz commented on #16041
I am pretty sure that this e92e51d42d38b9516153c011781bc90f94c144d5 commit introduced it.

Moreover I noticed

https://github.com/phpmyadmin/phpmyadmin/blob/e92e51d42d38b9516153c011781bc90f94c144d5/js/table/change.js#L759

This `select#filedID_` doesn't exists

I changed `select#fieldID_` to `input#fieldID_` because we have to check existence of that input
_(please correct me if i am wrong)_

My t

[2020-04-10 05:31] williamdes commented on #16041
Seems to be the best solution

[2020-04-10 07:10] williamdes commented on #16068
The cookie mode does not use the user,password values, you are free to put the right or wrong credentials in the form

[2020-04-10 15:04] cie2Ooya opened #16069 "Setting ssl_ca results in OpenSSL error."
### Describe the bug

Login fails with:
`mysqli_real_connect(): SSL operation failed with code 1. OpenSSL Error messages: error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed`

### To Reproduce

Set options **ssl** and **ssl_ca** in config.inc.php

### Expected behavior

Successful login and message in database server info box that Server connection: SSL is used _wi

[2020-04-10 19:04] williamdes commented on #16069
@cie2Ooya could you post your config.inc.php file here ?

[2020-04-10 19:36] cie2Ooya commented on #16069
### config.inc.php
[code]

[2020-04-10 19:52] jamilabashir012 commented on #12177
`This really works . A very helpfull content. My problem is solved by following your guide. God bless You

[2020-04-11 02:31] ibennetch commented on #16068
That's not how 'cookie' authentication works, it doesn't read the 'user' and 'password' fields from `config.inc.php` because you're prompted for them when you connect. WAMP, at least last time I checked, uses the 'config' auth_type setting, which does use the 'user' and 'password' that are hardcoded in the configuration.

Your configuration looks okay to me, in particular the use of host 'localhos

[2020-04-11 11:41] long76 opened #16070 "No charts in monitor when using a decimal separator ",""
### Describe the bug

No charts.

### To Reproduce

Steps to reproduce the behavior:
1. Go to `/server_status_monitor.php`
2. See error

### Expected behavior

Render charts.

### Screenshots
![2020-04-11_143346](https://user-images.githubusercontent.com/18124433/79042698-73a20c00-7c02-11ea-9f7c-cf006140034e.png)

### Server configuration

- Operating system: Windows 8.1 x64
- Web server: Apache 2

[2020-04-11 12:17] williamdes commented on #16070
@long76 could you have a look if you can find javascript errors or php errors ?

[2020-04-11 14:03] long76 commented on #16070
@williamdes no php errors, js:
[1586613751501.log](https://github.com/phpmyadmin/phpmyadmin/files/4464717/1586613751501.log)

[2020-04-11 16:03] hiimjustin000 commented on #16068
Somehow works now. Only my PHP code (Not in PHPMyAdmin) acts up now.

Website sends back `Connection failed: SQLSTATE[HY000] [1045] Access denied for user 'hiimjustin000'@'localhost' (using password: YES)`

[2020-04-11 16:03] williamdes commented on #16070
Thank you, I could not find any errors in the log you sent and after looking on the reporting server I did not find anything.

Could you help me reproduce this issue ?
Maybe try English language just in case

[2020-04-11 16:05] williamdes commented on #16068
I would definitely create another user with a simple name and password just to understand what is going wrong

[2020-04-11 16:09] hiimjustin000 commented on #16068
I looked closely...

[2020-04-11 16:10] williamdes commented on #16068
Maybe try what Isaac mentioned to use 127.0.0.1 instead of localhost

[2020-04-11 16:20] #15873 closed

[2020-04-11 16:27] hiimjustin000 commented on #16068
Didn't work.

[2020-04-11 16:36] hiimjustin000 commented on #16068
127.0.0.1 Does not work. **Still.**

[2020-04-11 16:42] williamdes commented on #16068
"Only my PHP code" where is it ?
on your local station ?

[2020-04-11 16:49] long76 commented on #16070
i can show `server_status_monitor.php` POST response
[code]

[2020-04-11 16:57] long76 commented on #16070
@williamdes i don't know what changes but...
![2020-04-11_195611](https://user-images.githubusercontent.com/18124433/79049849-99dda100-7c2e-11ea-91c7-61910f6cb0ca.png)

[2020-04-11 17:06] williamdes commented on #16070
So It looks like a language problem then, witch one did you select before ?

[code]

Not sure it will help you

[2020-04-11 17:23] long76 commented on #16070
@williamdes `$cfg['DefaultLang'] = 'ru';`

[2020-04-11 17:34] long76 commented on #16070
@williamdes from debug i got:
in my lang:
[code]
in en:
[code]

[2020-04-11 17:49] hiimjustin000 commented on #16068
I mean this code written by Michael Brabec.

[code]

[2020-04-11 17:52] hiimjustin000 commented on #16068
`|C:/justingdps.com/server/incl/lib/connection.php|/../../config/connection.php` exists

[2020-04-11 23:49] AlamSirji commented on #14887
Command 1:
ERROR 1305 (42000): PLUGIN validate_password does not exist

Command 2:
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'BY 'root'' at line 1

[2020-04-12 14:26] Coernel82 opened #16072 "Register multiple FIDO2-Hardware keys"
Currently there is the option to enable one single method for 2FA and within this method there is the great option for hardware keys. However **only one key can be registered.**
It would be great to be able to **register multiple FIDO2-Hardware keys (in case you lose one)** and also enable TOTP to have multiple fallback options.
This also goes hand in hand with issue [https://github.com/phpmyadmin

[2020-04-12 21:46] Tithugues commented on #16059
@williamdes , were you able to reproduce it please? I'm not able. Is there any link with date / time fields (based on error)?

@NKarasek , would it be please possible to provide a script with table creations and select that produces this error?

Thank you.

[2020-04-12 21:48] bricoreur commented on #15584
Hello, I'm a beginner.
To date, I am trying to configure my vps. I installed on my vps, apache2, mariadb and phpmyadmin 5.0.2. I also have the message: connection to the server: ssl is not used.
question 1:
If I understand correctly, am I really local?

Question 2:
therefore SSL is not required and would be a bug?

Thank you for your answers because I have been looking for a way to correct this er

[2020-04-12 22:55] williamdes commented on #15584
Hi @bricoreur are you sure that you did not confuse SSL as the connexion between your browser and the server ?
Because the displayed message is between php and the MySQL server (so it could be local in your case)

[2020-04-12 22:57] williamdes commented on #16059
Hi @Tithugues I did not have time to try to reproduce this issue, any help with issues assigned to milestones is very appreciated ;)
(I need some help to manage issues this month)

[2020-04-12 23:02] williamdes commented on #16072
Thank you for the report @Coernel82 !

[2020-04-12 23:42] bricoreur commented on #15584
yes most certainly ...sorry
However, I did create a user 'tom' with an ssl connection in mariadb
status:
....
ssl: Cipher in use is TLS_AES_256_GCM_SHA384

How to make it recognized in in phpmyadmin

Is it possible or necessary?

------

if everything is on my vps (apache, mariadb, phpmyadmin....), does that mean that i'm local?

Again, I am starting to understand how it works ... but I am progres

[2020-04-12 23:49] williamdes commented on #15584
yes :)

No worries :muscle:

I think is is possibe, please have a look to https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_ssl_ciphers

[2020-04-12 23:49] bricoreur commented on #15584
I wanted to insert in config.inc.php

$ cfg ['Servers'] [$ i] ['ssl'] = true;
$ cfg ['Servers'] [$ i] ['ssl_verify'] = false
my certificate is self-signed
$ cfg ['Servers'] [$ i] ['ssl_ca'] = ca-cert.pem
$ cfg ['Servers'] [$ i] ['ssl_cert'] = server-cert.pem
$ cfg ['Servers'] [$ i] ['ssl_key'] = server-key.pem

Is it correct

[2020-04-12 23:50] bricoreur commented on #15584
I answered before reading your message..I will read your documentation

[2020-04-12 23:58] williamdes commented on #15584
@bricoreur here is one of my configurations:
[code]
https://github.com/wdesportes/phpmyadmin-local-setup/blob/a9ac9dc281bcfa3348e4c7ad10e00ef71cbcf546/docker-compose.yml#L3

[2020-04-13 00:43] bricoreur commented on #15584
I have users:
- root
- user
- pma

I did tests on mariadb in command line:
- root: ok - TLS_AES
- user: ok _TLS_AES

I connect to my site in https
https: // my_domain / phpmyadmin

i have a htaccess control that works well

I arrive on the phpmyadmin login page

Here is my configuration of my config.inc.php

$ cfg ['blowfish_secret'] = 'blablabla';
$ cfg ['TempDir'] = '/ var / lib / phpmyadmin / t

[2020-04-13 00:43] bricoreur commented on #15584
Errors :

mysqli :: real_connect (): this stream does not support SSL / crypto
 mysqli :: real_connect (): Cannot connect to MySQL by using SSL
 mysqli :: real_connect (): [2002] (trying to connect via (null))
 mysqli :: real_connect (): (HY000 / 2002):
 The connection to the “controluser” as defined in the configuration failed.
 mysqli :: real_connect (): this stream does not support SSL / crypto

[2020-04-13 09:21] bricoreur commented on #15584
i activate in php.ini

extension=openssl

is there anything else to do ?

the problem is the same...

[2020-04-13 13:06] bricoreur commented on #15584
i don't know if i can to say that but i followed this :
https://www.digitalocean.com/community/tutorials/how-to-install-phpmyadmin-from-source-debian-10

[2020-04-13 17:07] williamdes commented on #15584
So you are now connected but the control user is not connected and throws a warning ?

[2020-04-13 17:26] bricoreur commented on #15584
Hi,
Thank you for your help
When I want to connect with my user, I have the messages mentioned above
As if he couldn't read ssl / crypto? too difficult for my skills and I have been blocking for several days

Is it used to be in SSL with regard to my architecture?

otherwise I would still like to get there to understand and progress

[2020-04-13 19:24] williamdes commented on #16068
I am closing this issue because it does not seem to be a phpMyAdmin issue and also seems to be resolved.

[2020-04-13 19:24] #16068 closed

[2020-04-13 19:37] williamdes commented on #16069
@cie2Ooya Just to be sure everything is okay could you perform the following tests ?

[code]

Source: https://stackoverflow.com/a/60831762/5155484

Here is my local setup and the certificates pass the commands above: https://github.com/wdesportes/phpmyadmin-local-setup/blob/master/public/ssl/generate.sh

[2020-04-13 20:06] asprazz commented on #16041
Hi @williamdes,

I have fixed the issue but need a code review whenever you will get time (I haven't sent PR).

https://github.com/asprazz/phpmyadmin/commit/c2d4dba9fe9122175f676c229cd5192d191010f6#

the branch name is 'fix_multiple_not_working`

- i have added one validator method for validating Multiple Int with regex (don't know where to put it)
- also There was a problem with `min` and `max` a

[2020-04-13 20:24] williamdes commented on #16041
Hi @asprazz

The mentioned commit seems interesting but some of the fix could be done on the back-end side
Also be sure to use QA_5_0 branch as base to make the fix

[2020-04-13 20:26] asprazz commented on #16041
Yeah I am targeting QA5_0

I am little bit confused
Please, guide me through this.

[2020-04-13 20:35] cie2Ooya commented on #16069
The certificate was created with [EFF's certbot](https://certbot.eff.org/).
[code]
No client certificate was created nor is used.

Remote check is also successful (_[..] means redacted_):
[code]

[2020-04-13 20:57] williamdes commented on #16069
@cie2Ooya and if you do not use SSL does the user connect successfully ?

Also another debugging point would be to use my script to generate a CA certificate (if possible to change it on the server) and try again to be sure it works fine and then switch back to your certificate

[2020-04-13 21:03] williamdes commented on #15584
NB: once solved I will hide all our off-topic messages for other readers of this issue

Could you try to disable SSL in the configuration `$cfg['Servers'][$i]['ssl'] = false;` to see if it connects correctly ?

Maybe you could try the command mentioned here to test the connection
https://github.com/phpmyadmin/phpmyadmin/issues/16069#issuecomment-613085144

I am not very sure on how to help you

Yo

[2020-04-13 21:09] adamindr opened #16075 "Parameter must be an array or an object that implements Countable"
### The bug
Whenever I open a new table on PHPMyAdmin, it shows this error:
Warning in ./libraries/SQL.lib.php#613
 count(): Parameter must be an array or an object that implements Countable

### To Reproduce

Steps to reproduce the behaviour:
1. Go to any table or database
3. Wait for like a second
4. See error

### Expected behaviour

I expected it to work properly.

### Screenshots

http://cdn.

[2020-04-13 21:09] williamdes commented on #16041
@asprazz I think #15942 can help you manage any GIT issues
For the fix just create a branch from the latest upstream QA_5_0 and commit your fix to open a pull-request

Does that seem okay ?

[2020-04-13 21:13] williamdes commented on #16075
Hi @adamindr this issue is already patched, we are working on packaging a new version on debian (#15236) and if you use Ubuntu you can use our PPA before Ubuntu has the version we build on Debian (#15515)

Thank you for reporting this issue
It is a duplicate of #14273 or #13938 or any linked issue to them

[2020-04-13 21:13] williamdes commented on #16075
Duplicate of #14273

[2020-04-13 21:13] #16075 closed

[2020-04-13 21:20] williamdes commented on #16070
For now my testing with MariaDB 10.4 and Yandex Browser  `20.3.2.282-1` did not help reproduce the issue. (using language 'ru')

[2020-04-13 21:50] cie2Ooya commented on #16069
Yes, the user connects successfully when _['ssl']_ is not set.

Using the certificates that I generated with your script results in the same behavior. Connection with or without SSL works fine. Enabling _['ssl_ca']_ results in aforementioned OpenSSL error 1416F086.

[2020-04-14 02:19] asprazz commented on #16041
That was helpful

But I was talking about backend changes, I am confused about it.

[2020-04-14 07:05] rololo88 commented on #13351
Hello Guys,

 I have same kind of issue, with the hosting company we try to troubleshooting several issues preventing me to export the database of our e-commerce website running prestashop.

Here are the errors:

Undefined index: output_format
Undefined index: compression
Undefined variable: filename_template

We use Phpmyadmin 5.0.2 , php version is 5.6

Thanks for your help.
Best regards.

[2020-04-14 07:07] toitzi commented on #15315
@williamdes Can we reopen this? The problem still exists for me on two different servers.
Direct dump with `mysqldump` works as expected, just dumping over phpmyadmin does not work

### Server 1 configuration
Operating system: Ubuntu
Web server: Nginx/1.17.9
Database version: MySQL 8.0.19
PHP version: 7.4.3
phpMyAdmin version: 5.0.2

### Server 2 configuration
Operating system: Debian
Web server:

[2020-04-14 07:30] williamdes commented on #16051
Hi @ebuildy

Would you want to try to fix this one ?

Or fix a bug in https://github.com/phpmyadmin/phpmyadmin/milestone/258 (that requires to use QA_5_0 as a base branch)

Thank you for your volunteering!

You can email me in Franch :fr: if you need

[2020-04-14 07:33] williamdes commented on #13351
Hi @rololo88
Please have a look to https://www.phpmyadmin.net/downloads/
5.0 is "Current version compatible with PHP 7.1 and newer and MySQL 5.5 and newer."
So I would recommend you to use 4.9 version or upgrade PHP

[2020-04-14 07:34] williamdes opened #16076 "Cannot edit or export TIMESTAMP column with default CURRENT_TIMESTAMP in MySQL >= 8.0.13"
@williamdes Can we reopen this? The problem still exists for me on two different servers.
Direct dump with `mysqldump` works as expected, just dumping over phpmyadmin does not work

### Server 1 configuration
Operating system: Ubuntu
Web server: Nginx/1.17.9
Database version: MySQL 8.0.19
PHP version: 7.4.3
phpMyAdmin version: 5.0.2

### Server 2 configuration
Operating system: Debian
Web server:

[2020-04-14 07:35] williamdes commented on #16076
Hi @toitzi
I opened a new issue for this one
Could you give us a table structure as SQL ?

[2020-04-14 07:42] williamdes commented on #16069
You can add `$cfg['Servers'][$i]['ssl_verify'] = false;` but it is not a very good practice

[2020-04-14 07:43] williamdes commented on #16041
Maybe you can open a pull-request so se we can discuss about potential changes :)

[2020-04-14 07:52] rololo88 commented on #13351
@williamdes

Thank you for your fast reply.

This will solve my issue to export database?

I can ask my hosting company to migrate to PHP 7.1 since i use PhpMyadmin 5.0.x
and I use prestashop 1.6 which is still compatible with PHP 7.1

Thank you for your help.
Best regards.

[2020-04-14 07:55] williamdes commented on #13351
Yes, it should

[2020-04-14 07:55] rololo88 commented on #13351
Perfect ! Thanks.

[2020-04-14 08:04] cie2Ooya commented on #16069
I know, thanks. But that's not the fix I was looking for. Why bother at all, setting _['ssl_ca']_ when negating it with _['ssl_verify'] = false_ ;-)

[2020-04-14 08:07] williamdes commented on #16069
I agree with you, something seems wrong because I do not need ssl_verify with my script
Could you try to debug more on your side using openssl commands ?

[2020-04-14 10:02] long76 commented on #16070
@williamdes it sometime works(rarely) but after i press F5 don't work again, now i try remove pma tables and config and try again

[2020-04-14 10:12] long76 commented on #16070
@williamdes nay it did't help. maybe bad encoding? i use `utf8mb4_unicode_ci` as default.

[2020-04-14 10:19] long76 commented on #16070
@williamdes i open in incognito mode, all work, press F5 and nothing to work again

[2020-04-14 10:20] long76 commented on #16070
@williamdes with Ctrl + F5 works.

[2020-04-14 10:46] williamdes commented on #16070
Could you do <kbd>F12</kbd> and go to "Console" and then make a screen shot or paste here any red line or errors that you could find in the console ?
If you can capture the request that sends the data to capture and post the output here and eventually the CURL command (right click> copy as > CURL)

Better would be to be able to reproduce on demo server (`root`, no password) [`5.0.x-dev`](https://d

[2020-04-14 10:51] long76 commented on #16070
how? i open dev console(F12). i found problem in `monitor.js` in `refreshChartGrid` func.
![2020-04-14_133859](https://user-images.githubusercontent.com/18124433/79216166-6597f980-7e55-11ea-87e3-4b91421d51ea.png)

[2020-04-14 10:53] long76 commented on #16070
@williamdes i try disable all browser extensions, it did't help, in console no errors. put log when all works.
[1586860845981.log](https://github.com/phpmyadmin/phpmyadmin/files/4474844/1586860845981.log)

[2020-04-14 10:54] long76 commented on #16070
@williamdes
[code]

[2020-04-14 10:59] long76 commented on #16070
@williamdes error here when init
[code]
`chartData.x` have value `runtime.xmax` is NaN => diff = NaN

[2020-04-14 11:09] long76 commented on #16070
i make some experiments and give info and maybe PR)

[2020-04-14 11:11] long76 commented on #16070
@williamdes
in en locale `$jsDataForm.find('input[name=server_time]').val()` return `"1586862546723.5"`
in ru locale `$jsDataForm.find('input[name=server_time]').val()` return `"1586862546723,5"`
i make fix for me just replace `,` on `.`)

[2020-04-14 11:27] williamdes commented on #16070
:clap: @long76
If you want to open a PR please use QA_5_0 as base branch and target for the fix
let me know if you want to me make the fix or not

[2020-04-14 12:34] long76 commented on #16070
@williamdes i add PR

[2020-04-14 12:49] yogesh-chaudhari-77 opened #16079 "new command support - show create table <tablename>"
The output of `show create table <table-name>` is displayed truncated.
Can we please show the entire output?

[2020-04-14 12:49] long76 commented on #16070
@williamdes done. i add PR

[2020-04-14 12:54] williamdes commented on #16079
@yogesh-chaudhari-77 what version of phpMyAdmin are you using ?

[2020-04-14 12:58] yogesh-chaudhari-77 commented on #16079
@williamdes I am using phpMyAdmin 4.5.1

[2020-04-14 13:10] williamdes commented on #16079
@yogesh-chaudhari-77 Please upgrade to latest 5.0 or 4.9 version available to download on our [website](https://www.phpmyadmin.net/downloads/)

If you use Debian or Ubuntu let me know and I will give you some details on how to upgrade

[2020-04-14 13:31] cie2Ooya commented on #16069
I looked around in the phpMyAdmin source and I had the impression that phpMyAdmin is using curl/libcurl to determine the SSL/TSL stuff. So I asked in the curl-users mailinglist:

[2020-04-14 14:57] Tithugues commented on #16052
@DavidThomas48 , would it be please possible to get the screenshot of the whole page with the errors displayed?
Can you please confirm that you have the error on the home page?

[2020-04-14 15:36] ibennetch commented on #16079
It's more of a workaround than a direct solution, but you can use the Export tab to view the table structure (without exporting the data as well), and this is going to give you the similar commands to re-create the table structure.

You can also run the `SHOW CREATE TABLE`... command in the SQL tab. You may have to click the "+ Options" link to toggle from "Partial texts" to "Full texts" to see th

[2020-04-14 15:57] Tithugues commented on #16057
@MattyTheMad , thanks for noticing it. With the changes, it seems to fix the `INSERT` also.