[2019-03-25 20:58] #15083 closed

[2019-03-25 22:23] #14926 closed

[2019-03-25 22:23] williamdes commented on #14926
Fixed by a7ac037b168259eb32ee4e2ba599a5548d56d6de

[2019-03-26 03:42] agasheaditya commented on #15083
There not such a issue . we can create a mobile application to access a database(which will have servers such like apache , MySQL, tomcat, etc.) which is on android OS . In some conditions if we are unreachable to our pc or laptop , at that time we can use mobile application to control our database  or we can try operations using particular application directly. Also mobile platforms are widely us

[2019-03-26 03:49] agasheaditya commented on #15082
But we can add a option like 'move to trash' or 'delete/drop'. and also it will be helpful if we want to refer old databases which we have deleted already .

[2019-03-26 06:14] kndol opened #15109 "Problem in spatial queries in MariaDB"
[code]
 is a correct query.
But phpmyadmin makes query with
[code]
, and the result is null.

- Operating system: UNIX
- Web server:
- Database version: 10.1.13-MariaDB
- PHP version: 7.0.0p1
- phpMyAdmin version: 4.8.5

[2019-03-26 09:59] ibennetch commented on #15083
I believe your idea is a bit beyond the scope of this project, unfortunately. Note that our project already allows most of that (except the offline feature), cross-platform, through a web browser interface.

Thanks and best wishes

[2019-03-26 19:51] anfegoga18 commented on #15060
It's Ok @williamdes,

One important think I should say is: I had been using firefox developer edition before with wamp. However, I had to format my laptop and, after that, this problem come up

[2019-03-26 20:05] #15077 closed

[2019-03-26 20:05] #15100 closed

[2019-03-26 20:05] #14205 closed

[2019-03-26 20:05] #14853 closed

[2019-03-26 20:05] #14957 closed

[2019-03-26 20:39] williamdes commented on #14927
@sudo-bot Deploy PR

[2019-03-26 21:24] ibennetch commented on #15082
The problems of providing a trash can/recycling bin are numerous and the potential for us to get blamed if something goes wrong is high. I prefer not to add such a feature.

Specific problems that come to mind are:

* many users have shared hosting situations where they are only given access to one database,
* how would we handle garbage collection/clearing the trash,
* there are scenarios where s

[2019-03-26 22:26] williamdes commented on #14927
`innodb_file_per_table=ON` shows a negative value for `Effective` with my percona `5.5.61-38.13` server

[2019-03-27 04:13] eeraanjum13 commented on #13178
Do these steps:

open your MySQL configuration file: [drive]\xampp\mysql\bin\my.ini
look up for: # The MySQL server [mysqld]
add this right below it: lower_case_table_names = 2
save the file and restart MySQL service
From: http://webdev.issimplified.com/2010/03/02/mysql-on-windows-force-table-names-to-lowercase/

^Took this from another forum regarding lowercase issue and it worked fine for me.

h

[2019-03-27 05:24] dogukanarkan commented on #14223
@troglodyne thank you so much. That works for me!

[2019-03-27 07:25] williamdes opened #15110 "TypeError e.preventDefaulut is not a function"
e.preventDefaulut is not a function

Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |e.preventDefaulut is not a function
 Exception Type |js
 phpMyAdmin version |4.6.6
 Incident count | 800
 Link | [Report#30918](https://reports.phpmyadmin.net/reports/view/30918)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.

[2019-03-27 07:34] #15110 closed

[2019-03-27 09:34] AbdullahiAbdulkabir commented on #15070
@AghaSaad04 has said it all, it fine in my side

[2019-03-27 17:07] williamdes commented on #11783
This Issue is no longer associated with [Report#15166](https://reports.phpmyadmin.net/reports/view/15166)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-27 17:11] williamdes commented on #11783
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |PMA_messages is not defined
 Exception Type |js
 phpMyAdmin version |4.7.4
 Incident count | 1
 Link | [Report#56609](https://reports.phpmyadmin.net/reports/view/56609)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-27 17:13] williamdes commented on #11783
I tried to re-post the summary of this issue but I could not
`68 652 792` incidents where recorded for this issue :astonished:

[2019-03-27 17:21] williamdes commented on #14826
This Issue is no longer associated with [Report#53433](https://reports.phpmyadmin.net/reports/view/53433)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-27 17:21] williamdes commented on #14826
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |PMA_messages is not defined
 Exception Type |js
 phpMyAdmin version |4.8.2
 Incident count | 1701
 Link | [Report#53433](https://reports.phpmyadmin.net/reports/view/53433)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-27 17:47] williamdes opened #15111 "ReferenceError zxcvbn is not defined"
zxcvbn is not defined

Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |zxcvbn is not defined
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 23870
 Link | [Report#54204](https://reports.phpmyadmin.net/reports/view/54204)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-27 17:54] williamdes opened #15112 "TypeError f is undefined"
f is undefined

Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |f is undefined
 Exception Type |js
 phpMyAdmin version |4.8.3
 Incident count | 4602321
 Link | [Report#53071](https://reports.phpmyadmin.net/reports/view/53071)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-27 19:16] williamdes opened #15113 "[JS] SecurityError - The operation is insecure."
If someone can reproduce this issue ?

See: https://stackoverflow.com/questions/13348766/securityerror-the-operation-is-insecure-window-history-pushstate

Param | Value
 -----------|--------------------
 Error Type | SecurityError
 Error Message |The operation is insecure.
 Exception Type |js
 phpMyAdmin version |4.8.5
 Incident count | 200
 Link | [Report#55838](https://reports.phpmyadmin.net/rep

[2019-03-27 19:17] williamdes commented on #15113
See `js/shortcuts_handler.js#L96`
See `js/ajax.js#L743`

[2019-03-27 22:15] ibennetch opened #15115 "Settings export "Save as file" should reference JSON type"
In the Settings area, we can "Export as file" but it doesn't specify what type of file that is. I think it should say "Export as JSON file".

This text is used twice, as `Export_asfile_name` in `libraries/classes/Config/Descriptions.php` and in `prefs_manage.php`. We need to verify the use of each of those before making the change.

This probably needs to be a dirty translation change.

[2019-03-27 22:47] ibennetch commented on #15115
`libraries/classes/Config/Descriptions.php` references the settings -> export setting to save the export as a file, so this is fine as-is.

[2019-03-27 23:11] ibennetch commented on #15115
I propose also changing "Save as PHP file" to "Save as `config.inc.php` file".

[2019-03-28 02:37] pklapperich commented on #11528
@pleizi I'm also using ubuntu (version 4.5.4.1-2ubuntu2.1) and was experiencing this issue. I downloaded phpMyAdmin-4.8.5 and manually installed it (with a symlink to /etc/phpmyadmin/config.inc.php) and things are working fine. I will keep this setup until Ubuntu updates their package.

[2019-03-28 07:29] williamdes opened #15116 "Notice Undefined index: sql_insert_syntax"
Undefined index: sql_insert_syntax
[code]

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: sql_insert_syntax
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 192
 Link | [Report#56503](https://reports.phpmyadmin.net/reports/view/56503)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://repor

[2019-03-28 07:37] williamdes opened #15117 "[JS] Script error."
Script error.

Posted by a user:
[code]

Param | Value
 -----------|--------------------
 Error Type |
 Error Message |Script error.
 Exception Type |js
 phpMyAdmin version |4.8.0.1, 4.8.5, and more
 Incident count | 1469
 Link | [Report#49196](https://reports.phpmyadmin.net/reports/view/49196)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadm

[2019-03-28 07:40] williamdes commented on #15117
Param | Value
 -----------|--------------------
 Error Type |
 Error Message |Script error.
 Exception Type |js
 phpMyAdmin version |4.8.5
 Incident count | 8547
 Link | [Report#55612](https://reports.phpmyadmin.net/reports/view/55612)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-28 11:10] saurass commented on #14933
@ibennetch @shucon @williamdes ,

I was looking at the theme generator issue, and I can think of two ways to solve problem.

1) Let the common.css.php and navigation.css.php be created as it is at the moment and after these files are created, we can render it to SCSS and save to correponding folder. But in Theme.php functions like loadCss() and getCssGradient() have been removed. So, we will have

[2019-03-28 13:07] ibennetch opened #15119 "Uninterpreted HTML on Settings->Export page"
There is a set of HTML tags being presented as literal characters rather than being interpreted.

On the Settings tab, go to the Export option, and about halfway down it's `Use <code>LOCK TABLES</code> statement`.

This affects QA_4_8 and master.

Similar to: #14908

[2019-03-28 13:14] ibennetch commented on #14908
I missed the question from @bahl24 earlier, but I've seen it now. To reproduce (you may need to first have defined some custom setting in this settings tab):

Go to the Settings tab of the main page. The default tab is "Manage your settings". From "Export" pick "Save as file" (which should be "Save as JSON file", see #15115) - or create a custom JSON file from my example below. Save the JSON file

[2019-03-28 13:27] ibennetch opened #15120 "Spacing wrong on Settings page"
The spacing seems to be wrong between the radio buttons and their text labels on the Settings page in the Import area. This affects only master.

Bad:
<img width="159" alt="image" src="https://user-images.githubusercontent.com/1443710/55161310-9bc7e580-513b-11e9-9c1b-41d355195bb8.png">

Fine:
<img width="108" alt="image" src="https://user-images.githubusercontent.com/1443710/55161318-a2565d00-513b

[2019-03-28 13:39] #15115 closed

[2019-03-28 14:33] AghaSaad04 commented on #15120
Sir @ibennetch, I have already opened issue #15098 and also PR #15099. Check that out and I'll make changes if required.

[2019-03-28 14:41] ibennetch commented on #15120
Indeed this is a duplicate, thank you!

[2019-03-28 14:41] #15120 closed

[2019-03-28 14:52] saurass commented on #15064
@williamdes @ibennetch  I have done some work related to this, I am opening a PR here.

[2019-03-28 14:58] ibennetch commented on #14958
This makes sense to me.

[2019-03-28 14:58] fallingrock commented on #14782
FWIW: There may still be a build issue... I tried installing the English only zip and could not enable 2FA.

When I installed the all-languages zip, I was able to enable 2FA.

[2019-03-28 16:33] sudoranger commented on #15082
No need for a recycle bin. Just export your .sql and put it somewhere else as your own personalized recycle bin be it your local disk or cloud storage plus encryption.

Regarding the shared hosting it is possible that phpmyadmin can have a bin per user basis so they can manage those deleted databases individually without worrying about garbage collection. However, this will significantly consume m

[2019-03-28 16:41] sudoranger commented on #15059
Awesome!

[2019-03-28 17:11] saurass commented on #15119
@ibennetch I would like to take up the issue

[2019-03-28 17:27] ibennetch commented on #15119
Sure, go right ahead.

[2019-03-28 17:29] apoorvkhare07 commented on #15111
@williamdes Any idea about how to reproduce this one ?

[2019-03-28 17:39] williamdes commented on #15111
@apoorvkhare07 I think it is used on a page where the vendor was not loaded

See: https://github.com/phpmyadmin/phpmyadmin/search?q=zxcvbn&unscoped_q=zxcvbn

[2019-03-28 18:57] apoorvkhare07 commented on #15111
@williamdes Ya I checked it is imported everywhere properly, so it must be issue with non-proper loading of vendor packages in local code.
I doubt how can we fix that through our code ?

[2019-03-28 19:43] williamdes commented on #15111
@apoorvkhare07 Thanks for testing, I will try myself and close the issue.
I have this message often reported to the server..

[2019-03-28 20:01] apoorvkhare07 commented on #15117
Unable to reproduce on the demo servers. @williamdes were you able to reproduce the same ?

[2019-03-28 20:15] apoorvkhare07 commented on #14933
I think since @shucon has added this issue in the list of bugs and features to be done during GSoC as a part of General Improvements project, this shouldn't be worked on for now ?

[2019-03-28 22:17] williamdes commented on #15117
@apoorvkhare07 nope :(

[2019-03-29 01:34] souledBoxer opened #15122 "sql box disappear from sql tab"
I'm not sure this is bug. Because I googled for a couple of days and couldn't find one like this.
I have mariadb 10.313 and phpmyadmin 4.8.5 on IIS 10.

Everything seems fine.
But if I click SQL tab from right pane sql query box is gone from right pane.
And width of that page is too large.
Please check the image below.
[https://i.stack.imgur.com/iX25c.png](https://i.stack.imgur.com/iX25c.png)

I'v

[2019-03-29 02:42] saurass commented on #15116
@williamdes please lemme know the steps to reproduce error.

[2019-03-29 03:19] saurass commented on #15122
Unable to reproduce error on demo server. @williamdes are you able to reproduce the error ?

[2019-03-29 04:16] ibennetch commented on #14782
@fallingrock perhaps you're seeing the same effects as #15017. Which phpMyAdmin version did you download that didn't work, 4.8.5?

[2019-03-29 04:31] souledBoxer commented on #15122
It was my fault to mis-figure php cgi handler.
I did set *.* instead *.php.
Its gone now.

[2019-03-29 06:44] saurass commented on #15122
Okay can close the issue now : )

[2019-03-29 06:46] williamdes commented on #15122
Closing since it is solved :)

[2019-03-29 06:46] #15122 closed

[2019-03-29 06:48] williamdes commented on #15116
@saurass I don't know, I think you need to analyze the code to understand

[2019-03-29 09:17] saurass commented on #15116
Okay thanks @williamdes : )

[2019-03-29 12:53] williamdes opened #15123 "phpMyAdmin unusable with user having WITH GRANT OPTION privileges and an existing Configuration Storage database"
### Describe the bug

All attempts to access tables, databases, anything is blocked.

### To Reproduce

- Create a user, GRANT him `GRANT` and select the option to create a database and give all privileges to the user.
- Login to the user, try to browse his database

NOTE: the user can see other databases witch is for me quite strange.

### Screenshots

![User](https://user-images.githubuserconten

[2019-03-29 12:57] williamdes commented on #15123
Loading forever when clicking an owned database
![image](https://user-images.githubusercontent.com/7784660/55233939-41598280-522a-11e9-8f7f-40d37550064d.png)

When clicking onto a non owned database
![image](https://user-images.githubusercontent.com/7784660/55233962-5504e900-522a-11e9-8afa-046e900abced.png)

The db structure page if you press <kbd>F5</kbd> after selecting a database
![image](https

[2019-03-29 12:58] williamdes commented on #15123
And so much more, unusable.

[2019-03-29 13:01] williamdes commented on #15123
The storage analysis

![image](https://user-images.githubusercontent.com/7784660/55234268-14f23600-522b-11e9-9fc4-a20de59e41cd.png)

[2019-03-29 13:34] saurass commented on #14770
@williamdes I am not able to reproduce this error on demo server 5.0.0-dev.

I used both chrome and firefox
Windows 10 operating system and linux
I tried creating view both using SQL query and from GUI

innodb_version	5.6.40
protocol_version	10
slave_type_conversions
version	5.6.40-log
version_compile_machine	x86_64
version_compile_os	Linux

Am I going wrong somewhere.

Please mention the steps to

[2019-03-29 14:28] ravgeetdhillon commented on #15041
Based on this suggestion of @ibennetch, I would love to update the documentation specified here:
[Documentation](https://docs.phpmyadmin.net/en/latest/config.html#cfg_NavigationLogoLink).
I am also a GSOC '19 aspirant and want to contribute to phpMyAdmin as much as possible.

[2019-03-29 16:50] ravgeetdhillon commented on #14940
@bahl24  man are you working on this feature? If not, please let me know I have got a good way of din this.

[2019-03-29 16:53] #15041 closed

[2019-03-29 16:55] williamdes commented on #14770
@saurass Thanks for pointing this out
@RobertoBochet Can you try once more and send more detailed steps ?

[2019-03-29 17:09] kartik1000 opened #15125 "Alignment of any modal is not flexible"
### Describe the bug
The alignment of any modal appended to some function is not flexible which often leads to misplaced modal when one changes the size of the browser screen.
### To Reproduce
To reproduce you can use the modal for index creation while adding a column
Steps to reproduce the behavior:
1. Go to Structure of any table
2. Click on 'add columns'
3. Now select any Index say 'Index type'

[2019-03-29 20:19] #14816 closed

[2019-03-29 20:24] williamdes commented on #12900
Param | Value
 -----------|--------------------
 Error Type | DataError
 Error Message |Data provided to an operation does not meet requirements.
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 130
 Link | [Report#54996](https://reports.phpmyadmin.net/reports/view/54996)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net)

[2019-03-29 21:16] williamdes opened #15127 "[UI] Horrible white square"
### Describe the bug

![image](https://user-images.githubusercontent.com/7784660/55263039-185be080-5270-11e9-8cf6-0fe5272e391d.png)

This occurs for some reason a some time but is very annoying ...
Use designer and navigate between pages

[2019-03-29 21:20] williamdes commented on #15127
[code]

[2019-03-29 21:28] williamdes commented on #15127
`./js/navigation.js`
[code]

[2019-03-30 03:26] ibennetch commented on #15123
This is interesting because the ability to see all databases comes from MySQL directly, even when testing from the command-line client I can see all databases. The documentation doesn't seem to cover this scenario, so it's not clear whether it's a bug or the intended behavior.

As for the rest, I'm having trouble reproducing. Have you configured the phpMyAdmin Configuration Storage database in con

[2019-03-30 10:06] williamdes opened #15129 "Notice - Undefined index: ORDER BY"
Undefined index: ORDER BY
Execute:
[code]

- Go to table, expand 'partitions'
- Click on optimize

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: ORDER BY
 Exception Type |php
 phpMyAdmin version |4.8.6-dev
 Incident count | 212
 Link | [Report#56905](https://reports.phpmyadmin.net/reports/view/56905)

*This comment is posted automatically by

[2019-03-30 11:20] williamdes commented on #15129
[code]

[2019-03-30 11:22] williamdes commented on #15129
[code]

[2019-03-30 11:24] williamdes commented on #15129
@devenbansod Can you please have a look at this issue ?
Seems to need to be fixed on the sql-parser repository

[2019-03-30 11:41] williamdes commented on #14555
Another codemirror issue.., will open an issue and make a PR on the codemirror repo some day.
If somebody has time to do so, go ahead and leave a comment :)

[2019-03-30 11:42] williamdes commented on #12216
Closing, will re-open if I see some errors on the reporting server.

[2019-03-30 11:42] #12216 closed

[2019-03-30 11:59] williamdes commented on #14516
`SHOW FULL COLUMNS FROM tablenamehere` does not indicate that the columns are versioned

[2019-03-30 12:01] akkywadhwa opened #15130 "Confirm dialog before logout"
### Is your feature request related to a problem? Please describe.
There can be a "confirmation dialog" which will confirm from the user is he really wants to logout.

[2019-03-30 12:46] #15112 closed

[2019-03-30 14:18] williamdes commented on #15123
I my config there is nothing more than simple multiple servers :)
[code]

[2019-03-30 14:29] williamdes commented on #13728
ID | Exception Name | Message | Location | PMA Version | Status | Exception Type | Incident count
 -- | -- | -- | -- | -- | -- | -- | --
 [55626](https://reports.phpmyadmin.net/reports/view/55626) | Warning | include_once(PhpMyAdmin/SqlParser/Contexts/ContextMySql50562.php): failed to open stream: No such file or directory | ./../../../../../../../../plib/Loader.php | 4.8.4 | Forwarded | php | 2
[

[2019-03-30 15:45] lem9 commented on #15032
@AghaSaad04 Any feedback?

[2019-03-30 17:48] ibennetch commented on #14912
I don't think there's anything remaining that would block PHP 7.3 support, so with the next release I plan to bump the supported PHP version to include PHP 7.3.

[2019-03-30 17:56] ibennetch commented on #15057
I agree, moving to sql-parser repository.

You may work on it if you'd like.

@svaningelgem thank you for the report.

[2019-03-30 18:01] AghaSaad04 commented on #15032
Yeah, I am going to close this issue.
Thanks, everyone 👍

[2019-03-30 18:01] #15032 closed

[2019-03-30 18:20] darkain commented on #14516
It looks like as of today, this is finally being addressed upstream: https://jira.mariadb.org/browse/MDEV-16804

[2019-03-30 18:22] imdhruvgupta commented on #15127
Hi @williamdes , I am not able to reproduce this bug. Could you please provide some steps to reproduce?

[2019-03-30 18:30] williamdes commented on #15127
@imdhruvgupta unfortunately no, I can not find a reliable way to reproduce this for now
You need to do some browsing and hope to find the issue, or best option: understand the code that generates the `margin-left`

[2019-03-30 19:36] saurass commented on #15001
@ibennetch should I work on this and incorporate the cookie setting?

[2019-03-31 04:13] akkywadhwa commented on #15130
@williamdes Can I make PR for this?

[2019-03-31 04:44] saurass commented on #15130
Really very sorry @akkywadhwa . I didn't see the comment and created the pull request, Really very sorry.

[2019-03-31 04:58] ibennetch commented on #15130
I don't really see this as necessary; we can't prompt the user before every action and I think it's rather uncommon in this type of tool to confirm an action such as logging out. I think this just adds an extra layer for the user and don't think we need this.

[2019-03-31 05:09] akkywadhwa commented on #15130
@saurass You should have the basic ethics to work on open source. You must respect other's work. :)

[2019-03-31 05:44] saurass commented on #15130
I am closing my PR

[2019-03-31 09:56] williamdes commented on #15130
@akkywadhwa I agree with @ibennetch , this is not IMO very useful and can be quite annoying
Maybe you can find a better issue to work on :)

[2019-03-31 09:57] williamdes commented on #15001
@saurass You can work on this one if you want and we will review your PR :)

[2019-03-31 09:59] williamdes commented on #15119
Seems like @saurass you did the same change as @AghaSaad04 but changed one more file.

[2019-03-31 10:07] AghaSaad04 commented on #15119
Oh sorry did not see @saurass PR. So should I close mine? Sir @williamdes.

[2019-03-31 10:14] williamdes commented on #15119
@AghaSaad04 I will merge one of the 2 ;)

[2019-03-31 10:51] saurass commented on #15001
Okay great !

[2019-03-31 17:24] kartik1000 opened #15136 "Hex converter giving invalid results"
### Describe the bug
The hexadecimal converter 'HEX' in the insert field is giving invalid results. Suppose if I enter 70 as my int value it should give answer as '46' in HEX but it is giving answer as '3730'.
The 'OCT' converter for the same is working correct as I verified.
### To Reproduce
1.  Add int type column in any table.
2. Go to insert section.
3. Select the function 'HEX' in that 'int'

[2019-03-31 18:11] kartik1000 commented on #14953
@williamdes, Hey don't you think we already have this feature. See this
![Screenshot 2019-03-31 at 11 39 27 PM](https://user-images.githubusercontent.com/43112279/55292953-42e3a000-540e-11e9-9e88-627ad2c30a0c.png)
This is in the insert section, from the edit we can easily edit the name.
Do let me know your views on it.

[2019-03-31 18:27] ibennetch commented on #14953
@kartik1000 maybe I’m misunderstanding something, but think that interface uses the `DROP INDEX` / `ADD INDEX` syntax referenced in the original post. The feature request is about changing the back end to use `RENAME INDEX` where supported.

[2019-03-31 18:35] williamdes commented on #14953
As @ibennetch explained, this is more about the SQL syntax to use for renaming an index :)

[2019-03-31 18:41] kartik1000 commented on #14953
Yup @ibennetch  and @williamdes, got it from the first line I thought it was about front-end. That's why the issue seemed a bit weird to me. Thanks for the Explaination :)

[2019-03-31 18:46] kartik1000 commented on #15136
@williamdes, this was the one

[2019-03-31 19:06] kartik1000 commented on #15117
same here @williamdes, couldn't reproduce this one. I think there is something missing ;/

[2019-03-31 19:18] williamdes commented on #15117
Impossible to reproduce for know, closing.

[2019-03-31 19:18] #15117 closed

[2019-03-31 19:20] kartik1000 commented on #15117
Yes, best option. If more occurrences of this are reported then we can look into this

[2019-03-31 19:25] williamdes commented on #14969
Could not reproduce, closing since no feedback or no way of reproducing was found.

[2019-03-31 19:27] williamdes commented on #13684
@OlafvdSpek ?

[2019-03-31 19:29] williamdes commented on #13928
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 19:29] #13928 closed

[2019-03-31 19:30] williamdes commented on #14736
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 19:30] #14736 closed

[2019-03-31 19:42] williamdes commented on #15129
[code]

[code]

**And then, edit the query (edit inline) and run it another time**

[2019-03-31 19:46] williamdes commented on #14614
Create the procedure
[code]
And run
[code]

[2019-03-31 19:48] williamdes commented on #14776
@andy200486 any more feedback ?

[2019-03-31 19:56] williamdes commented on #13302
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

Tried with `300` tables

[code]

[2019-03-31 19:56] #13302 closed

[2019-03-31 20:01] williamdes commented on #13577
Could not reproduce, closing since no feedback after **2 years** or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:01] #13577 closed

[2019-03-31 20:02] williamdes commented on #13833
Could not reproduce, closing since no feedback **since 2 years** or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:02] #13833 closed

[2019-03-31 20:03] murex971 opened #15138 "Improper border radius of login box"
### Describe the bug

border radius of one of the corners(lower left) is different from the border radius of other three corners of the login box in pmahomme theme .

### To Reproduce

Steps to reproduce the behavior:
1. open phpmyadmin in pmahomme theme.
2. Now inspect login box.

### Expected behavior

Other 3 corners have 4px as their border radius whereas lower left corner's border radius is 5

[2019-03-31 20:10] kartik1000 commented on #15046
![2019-04-01 01 36 22](https://user-images.githubusercontent.com/43112279/55294364-e89f0b00-541e-11e9-9350-2e2f19c67d7a.gif)
The issue is not reproducible on Mac (Browser: Google Chrome)

[2019-03-31 20:15] williamdes commented on #14393
Create a primary index on 2nd column and chose an index to use for order and then order a column

[2019-03-31 20:16] williamdes commented on #14284
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:16] #14284 closed

[2019-03-31 20:19] williamdes commented on #13676
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:19] #13676 closed

[2019-03-31 20:22] williamdes commented on #14014
Closing.

[2019-03-31 20:22] #14014 closed

[2019-03-31 20:24] williamdes commented on #13909
Closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:24] #13909 closed

[2019-03-31 20:27] williamdes commented on #14745
Param | Value
 -----------|--------------------
 Error Type | User Error
 Error Message |Invalid class name &quot;Node&quot;, using default of &quot;Node&quot;
 Exception Type |php
 phpMyAdmin version |4.5.4.1
 Incident count | 4
 Link | [Report#49616](https://reports.phpmyadmin.net/reports/view/49616)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.

[2019-03-31 20:27] williamdes commented on #14745
@Batey96 You where using phpMyAdmin `4.5.4.1`
Closing since it is not supported any more.

[2019-03-31 20:27] #14745 closed

[2019-03-31 20:32] williamdes commented on #14038
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:32] #14038 closed

[2019-03-31 20:34] williamdes commented on #14427
Seems like a duplicate or #15004
Closing since no feedback.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:34] #14427 closed

[2019-03-31 20:35] #14385 closed

[2019-03-31 20:40] williamdes commented on #13973
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:40] #13973 closed

[2019-03-31 20:40] williamdes commented on #14703
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 20:40] #14703 closed

[2019-03-31 20:43] williamdes commented on #14383
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |mysqli_fetch_array() expects parameter 1 to be mysqli_result, boolean given
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 3936
 Link | [Report#55947](https://reports.phpmyadmin.net/reports/view/55947)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://repor

[2019-03-31 21:07] OlafvdSpek commented on #13326
Why was this closed?

[2019-03-31 21:10] williamdes commented on #14474
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'replace' of undefined
 Exception Type |js
 phpMyAdmin version |4.8.3
 Incident count | 410
 Link | [Report#52644](https://reports.phpmyadmin.net/reports/view/52644)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-31 21:13] williamdes commented on #14474
Could not reproduce, closing since no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 21:13] #14474 closed

[2019-03-31 21:16] williamdes commented on #14285
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-03-31 21:16] #14285 closed

[2019-03-31 21:21] williamdes commented on #13326
Okay, now a screenshot is a minimum, I found a way to reproduce this.
And the real issue is that you should no allow the user to enter a string, like it is done on the Insert page
## Search
![Search](https://user-images.githubusercontent.com/7784660/55295290-ab7d4d80-540b-11e9-9ad6-86f178f54ff9.png)
## Insert
![Insert](https://user-images.githubusercontent.com/7784660/55295298-b506b580-540b-11e9-8

[2019-03-31 21:24] williamdes commented on #14369
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

@BloomCake ?

[2019-03-31 21:24] #14369 closed

[2019-03-31 21:52] williamdes commented on #13872
I bought one month of Yahoo small business hosting service.
Going to have serious testing soon !

[2019-03-31 22:21] williamdes opened #15140 "Failing an insert, edit link does not work"
### Describe the bug

Fail an insert, an edit link in sent back in the modal, but it does not work anymore
The query is sent to `tbl_sql.php` in _GET and is not used to fill the sql query box

### To Reproduce

Steps to reproduce the behavior:
1. Fail an insert
2. Click on 'edit query'

The query is not filled.

### Screenshots

![image](https://user-images.githubusercontent.com/7784660/55296006-1

[2019-03-31 22:25] williamdes commented on #14274
Could not reproduce, seems to be fixed.

[2019-03-31 22:25] #14274 closed

[2019-03-31 22:36] williamdes commented on #14632
Param | Value
 -----------|--------------------
 Error Type | User Notice
 Error Message |empty linktext in function getHtmlTab()
 Exception Type |php
 phpMyAdmin version |4.8.0.1
 Incident count | 1
 Link | [Report#50297](https://reports.phpmyadmin.net/reports/view/50297)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-31 22:39] williamdes commented on #14632
@andyknas Since I found only this incident on the reporting server it seems that you are the *only one* to have it (or to have reported it)
If you can reproduce it comment on this issue, for know I consider that we can not help you without more feedback :)

[2019-03-31 22:39] #14632 closed

[2019-03-31 22:43] williamdes commented on #13158
Still no feedback, closing.
Please try on latest version and send detailed steps to reproduce, and we will fix the issue !

[2019-03-31 22:43] #13158 closed

[2019-04-01 06:06] OlafvdSpek commented on #13326
I think this isn't just an UI issue. Backend should also validate / quote.

[2019-04-01 07:49] OlafvdSpek commented on #13684
I'd just check the code to see what's happening..

[2019-04-01 09:40] saurass commented on #15140
@williamdes  I just checked, in case of failure, the EDIT link redirects to `tbl_sql.php` and the query box is filled with a query.

using branch QA_4_6

[2019-04-01 09:50] williamdes commented on #15140
@saurass Did you check this is the expected query?

Did you want to say QA_4_8?

[2019-04-01 12:20] saurass commented on #15140
Seems I went wrong at two points,
the query is NOT visible
using branch QA_4_8

Error reproduced.

Would try to work this out : )

[2019-04-01 12:24] williamdes opened #15141 "Notice - Undefined index: designer_settings"
Undefined index: designer_settings

No configuration storage is configured or is misconfigured

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: designer_settings
 Exception Type |php
 phpMyAdmin version |4.8.3
 Incident count | 32400
 Link | [Report#52585](https://reports.phpmyadmin.net/reports/view/52585)

*This comment is posted automatically

[2019-04-01 12:41] williamdes commented on #13872
I tested and had no issues, everything works great (phpmyadmin & mysql) at `Yahoo Small Business hosting Service` (except some things that are not related to phpMyAdmin..).
@akshaybajpei92 Please try the latest version of phpMyAdmin and confirm before end of this week (I will cancel my hosting plan)

To find the phpMyAdmin version you are using browse `https://domain.xyz/phpmyadmin/changelog.php`

[2019-04-01 14:27] #15141 closed

[2019-04-01 14:27] #12729 closed

[2019-04-01 15:18] saurass commented on #15140
@williamdes @ibennetch please review this PR : )

[2019-04-01 18:47] #14334 closed

[2019-04-01 18:47] #15140 closed

[2019-04-01 20:30] #14673 closed

[2019-04-02 01:11] yjd opened #15143 "select @var issue"
Google Translate

I am querying the data under phpmyadmin: (each table ID is the primary key)

`SET @_ID='111'；
select @_BSID:=bsid from `table1` where devid=@_ID limit 0,1；
select @_BSNAME:=bsname from `table2` where bsid=@_BSID limit 0,1;
SELECT RECVTIME,@_BSID AS bsid,@_BSNAME AS bsname,ID FROM `table3` where ONENET=@_ID order by RECVTIME desc limit 10`

The result is correct. When exporting to

[2019-04-02 04:55] murex971 commented on #13959
@mauriciofauth what kind of behaviour do you expect to fix this issue...
add a horizontal scroll bar to the table itself or moving the columns to the next line/row to avoid horizontal scrolling of the page ?

[2019-04-02 14:14] williamdes opened #15146 "Error reports can not be sent because too large"
### Describe the bug

Reproduce issue #14611 and try to send error report

Error report cannot be sent because `413 (Request Entity Too Large)`

Github does not allow me to post the request as CURL (in the comment) because it is too long.

[2019-04-02 14:17] williamdes commented on #15146
[code]
This seems like total nonsense.

[2019-04-02 14:18] williamdes commented on #14611
#15146 Explains why I can not find any reports on the reporting server.

[2019-04-02 14:22] williamdes commented on #15146
[REQUEST_AS_HAR_ISSUE_15146.json](https://github.com/phpmyadmin/phpmyadmin/files/3034363/ERROR_PMA.json.txt)

[2019-04-02 14:54] kartik1000 commented on #15146
I am trying to do it @williamdes

[2019-04-02 15:01] williamdes commented on #15146
Okay, I was working on it, but I let you fix it ;)

Do not forget to check that the `stack` property exists and is an array

And find an arbitrary length to truncate context lines :)

See attached exception for tests
[stackObject.json.txt](https://github.com/phpmyadmin/phpmyadmin/files/3034575/stackObject.json.txt)

Do not forget to use : https://caniuse.com

That would be stupid to have an error

[2019-04-02 15:01] williamdes commented on #15146
cc @kartik1000

[2019-04-02 15:04] kartik1000 commented on #15146
Hey, I tried but I . don't know why I am getting Network Error while opening JS error report, although there is actually no network issue i assure. This was done on demo server
![Screenshot 2019-04-02 at 8 26 28 PM](https://user-images.githubusercontent.com/43112279/55412866-d1c6f880-5585-11e9-92f8-8d4ffa1eb86b.png)
This was from localhost
![Screenshot 2019-04-02 at 8 31 58 PM](https://user-images

[2019-04-02 15:05] kartik1000 commented on #15146
I am onto it @williamdes :)

[2019-04-02 15:12] williamdes commented on #15146
@kartik1000 You successfully the error, this is a network error caused by an very very long request body

[2019-04-02 16:38] apoorvkhare07 commented on #15136
@williamdes I was looking into this issue and found that the issue is not with PMA code, rather this is a  issue with mysql itself.

mysql give different output of HEX() when passed string('70') or int(70) whereas OCT() give same output for int and string.
<img width="354" alt="Screen Shot 2019-04-02 at 4 26 12 PM" src="https://user-images.githubusercontent.com/26320019/55419587-b9a9a600-5592-11e9

[2019-04-02 16:52] kartik1000 commented on #15136
Nice lead @apoorvkhare07👍. But shouldn't the input field take it as an int since my column type is int

[2019-04-02 16:59] murex971 commented on #13959
@williamdes my doubt is whether the columns should wrap themselves to the next line (in case there are many)
or they should appear in single line and we should provide horizontal scrolling???

[2019-04-02 19:34] williamdes commented on #13959
@murex971 I vote for

[2019-04-02 19:36] #15098 closed

[2019-04-02 20:03] williamdes commented on #13197
@sritd Can you please sum up what needs to be done on our side ?
Sorry for not responding for so long, now I will do everything possible to solve this issue !

[2019-04-02 20:06] williamdes commented on #15143
Hey @yjd thanks for reporting this, we have another similar issue (#12156)

[2019-04-02 20:13] williamdes commented on #15109
@kndol Thanks for the report, totally explains why I could not make the UI work each time I tried !

[2019-04-02 20:16] williamdes commented on #14882
@JasonDonner Does the comment of @bahl24 solve the issue ?

[2019-04-02 23:00] nunoperalta commented on #14956
The issue with the dropdown menu is fixed by #14673

I edited the post to make this a Suggestion rather than Bug Report.

[2019-04-03 06:29] williamdes commented on #14956
@mauriciofauth or @ibennetch This issue should target witch branch ?

[2019-04-03 06:31] williamdes commented on #14903
@WayneGit1 Do you have Xdebug enabled ?

[2019-04-03 06:40] yjd commented on #15143
Okay thank you!

[2019-04-03 07:53] williamdes commented on #14883
@Ioannis-Karyotis Any news since you had a look at this issue ?

[2019-04-03 07:53] williamdes commented on #14883
@kartik1000 can you try to reproduce this issue ?

[2019-04-03 09:47] ibennetch commented on #14956
I’d say QA_4_8

[2019-04-03 11:11] kartik1000 commented on #14883
@williamdes , I'll try and let you know

[2019-04-03 11:39] Tim-Veestraeten opened #15148 "Dutch localisation rounds query time to seconds"
When a execute a sql query the time of that query gets rounded to seconds, but not when the language is set to English.
Example result: "Weergave van records 0 - 24 (13146516 totaal, Query duurde 0,0000 seconden.)"
Example English result: "Showing rows 0 - 24 (13146503 total, Query took 0.1341 seconds.)";
Despite the result showing 4 zeros after the comma, those numbers are always zeros, but the n

[2019-04-03 11:41] williamdes commented on #15148
Duplicate of #13975

[2019-04-03 11:42] williamdes commented on #15148
Hi @Tim-Veestraeten the issue is fixed on next version, wait for 4.8.6 or use the patch #14831 to fix the issue locally while waiting for the next version :)

[2019-04-03 11:42] #15148 closed

[2019-04-03 11:45] williamdes commented on #12865
https://demo.phpmyadmin.net/QA_4_8/sql.php?db=opengis&table=gis_all&pos=0

[2019-04-03 14:12] williamdes commented on #12865
https://dev.mysql.com/doc/refman/5.6/en/gis-general-property-functions.html#function_srid
https://dev.mysql.com/doc/refman/5.6/en/gis-format-conversion-functions.html#function_st-astext
https://mariadb.com/kb/en/library/mysqlmariadb-spatial-support-matrix/
https://mariadb.com/kb/en/library/st_srid/
https://mariadb.com/kb/en/library/st_astext/

[2019-04-03 17:06] williamdes commented on #14972
@marcus-hiles @wmac Can you provide more informations about the number of procedures ?
Can you create a test database with procedures that makes the UI slow ?

[2019-04-03 20:31] williamdes opened #15150 "[UI] "Generate password" hidden on second open of change password modal"
### Describe the bug

"Generate password" is hidden on second open of change password modal.

### Server configuration

- phpMyAdmin version: 4.8.6

![1st time](https://user-images.githubusercontent.com/7784660/55510916-a1ec2380-565f-11e9-9206-00602212eee1.png)

![2nd time](https://user-images.githubusercontent.com/7784660/55510959-b29c9980-565f-11e9-9002-e3d088f90549.png)

[2019-04-03 20:33] williamdes commented on #15150
@saurass Can you have a look if you have time ?

[2019-04-03 20:58] Bournvita1998 commented on #14770
**Steps to reproduce:**

**With databases:**
1. Create a new database named "aaaaa".
2. You will observe that, as soon as you click create, it creates a new database in the left navigation panel with the name "aaaaa". This database get append to the list of databases as soon as you click "CREATE".

**With view:**
1. Create a new view named "bbbbb" within a database.
2. After entering the required

[2019-04-03 23:18] saurass commented on #15150
Yeah sure, I am on to it

[2019-04-04 05:29] saurass commented on #15150
@williamdes , I Opening a PR in few minutes, that fixes this. In just a moment

[2019-04-04 05:36] williamdes commented on #15150
@saurass Thanks !

[2019-04-04 12:19] apoorvkhare07 commented on #14719
@williamdes What exactly is the issue here ? I pretty much got what @OlafvdSpek is saying. But what behaviour do you expect ?

[2019-04-04 14:17] shubhams9099 commented on #13270
Hi there I am new to contributing to open source projects is this issue still open, as in some of the files which were listed by @nijel are already updated.

[2019-04-04 16:13] computerManiac commented on #14992
Can you elaborate more on the bug?

[2019-04-04 16:39] williamdes commented on #14992
@computerManiac Sorry, I can not elaborate because I do not have more informations about this issue
If you find the bug or potential bug in the code base It will be very helpful for us

[2019-04-04 17:40] williamdes commented on #15001
@ibennetch should the #15145 PR target `QA_4_8` ?

[2019-04-04 19:32] AghaSaad04 opened #15152 "[UI] Export/Import tabs placement inconsistency"
### Describe the bug

Export/ Import buttons placement is not consistent. In settings, the **Import** button is placed before the **Export** while in the main navigation bar and databases thing Export is placed before Import.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Settings
2. See Import is placed before Export
3. While in other places it's not

### Expected behavior

I am exp

[2019-04-04 19:49] #15150 closed

[2019-04-04 19:55] #15152 closed

[2019-04-04 20:53] #15036 closed

[2019-04-04 21:17] williamdes commented on #14770
@Bournvita1998 can you try the same steps on demo servers ?
Demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

I could not reproduce this

Steps used to create a view
- `SELECT 1;`
- Click on create view
- Enter a name
- Click Go
View is added to left panel

[2019-04-04 21:31] williamdes opened #15154 "[Discussion] Browser E2E testing"
I am beginning to think that browserstack testing (that uses selenium) is too slow and fails too often, maybe should we rewrite them using javascript and/or use more modern tools ?

Negative points for me:
- Time for requests since they are proxied to BrowserStack
- One session at a time and login/logout on each test
- Missing a lot of tests (maybe due to how it is complicated to write browser tes

[2019-04-04 21:31] williamdes commented on #15154
cc @mauriciofauth

[2019-04-04 22:03] williamdes commented on #14299
`while on "insert" page, with unfinished insertion I switched to "browse" page`
Posed on reporting server

[2019-04-05 00:56] saurass commented on #15154
Yeah I was thinking the same, I thought to report the issue.

Well I have some experience with selenium testing. I would say lets rewrite tests using `Test Cafe` or `Selenium webdriver` or some other `Node JS` open source frameworks.

It will be really exciting and fun : )

[2019-04-05 06:05] AghaSaad04 commented on #15154
Yeah @williamdes, It always takes more than 20mins :| and I think for the improvement we better rewrite the selenium code.

[2019-04-05 08:34] williamdes commented on #14719
@apoorvkhare07 I think we should disable inputs (user, password) for socket and config auth options in the UI

[2019-04-05 11:27] ibennetch commented on #14719
I’m not sure how to handle this, because it doesn’t really fit in tomour
auth_type model (since it’s configurable per-user). It doesn’t really fit
in to our existing login models because you need to specify the user name
(which normally would come from the Unix username, but in our case that’s
going to be the web server process.

The best idea I have right now is to implement it as a new auth_type

[2019-04-05 13:51] OlafvdSpek commented on #14719
@ibennetch
There are multiple aspects, one is editing users and two is signing into pMA itself.
This ticket is about the former.

Not sure why @williamdes wants to disable the username input, just disabling the password input seems like the right thing to do.

[2019-04-05 13:56] AghaSaad04 opened #15155 "Theme name initial in lower case"
### Describe the bug

Theme pmahomme initial is in lower case while the other two themes that are Metro and Original have initials upper case.

### To Reproduce

Steps to reproduce the behavior:
1. Login to PMA
2. See lower case

### Expected behavior

Theme name initial should be in upper case

### Screenshots

![image](https://user-images.githubusercontent.com/36513474/55632550-fca68c00-57d3-11e

[2019-04-05 14:10] williamdes commented on #14719
@OlafvdSpek I want to disable input for 'config' authentication method because it does not make sense

[2019-04-05 14:50] ibennetch commented on #15155
I believe this was a stylistic choice by the author of the theme, plus it follows the loose convention we have of referring to phpMyAdmin with a lowercase ‘p’, despite being a proper noun.

[2019-04-05 15:23] AghaSaad04 commented on #15155
Okay alright Sir. I am going to close the PR and issue then. 👍

[2019-04-05 15:26] #15155 closed

[2019-04-05 21:45] AghaSaad04 opened #15157 "'Settings' not marked as active when browsing 2FA settings"
### Describe the bug

Whenever I select **two-factor authentication** its parent that is **settings** got unselected but for other children, it shows different behavior.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on two-factor authentication
3. You'll see that settings gets unselected.

### Expected behavior

Settings should not have got unselected

### Screen

[2019-04-05 21:46] AghaSaad04 commented on #15157
I am working on its solution @williamdes, will create a PR shortly.

[2019-04-06 06:11] OlafvdSpek commented on #14969
I think it's related to https://github.com/phpmyadmin/phpmyadmin/issues/15004

I too am using `arg_separator.input = ";&"`

[2019-04-06 07:29] OlafvdSpek commented on #14719
What form / screen are you talking about?

[2019-04-06 07:32] williamdes commented on #14719
@OlafvdSpek This one, the login screen
![image](https://user-images.githubusercontent.com/7784660/55666403-db36b600-584e-11e9-8a62-0095690cab38.png)

[2019-04-06 07:40] OlafvdSpek commented on #14719
This issue is about this form:

![pma](https://user-images.githubusercontent.com/2218936/55666489-edfdba80-584f-11e9-832c-ab73fd0cb6f7.PNG)

[2019-04-06 07:52] williamdes commented on #14719
Okayyy, sorry for the confusion

[2019-04-06 17:52] preeti13456 commented on #13624
i think you should apply this in syntax that is chrome.bookmark.search(string,object,function call)

[2019-04-06 19:11] williamdes commented on #13872
11$ for no error or issue :smile:
Closing.

[2019-04-06 19:11] #13872 closed

[2019-04-07 01:15] #15130 closed

[2019-04-07 10:45] williamdes opened #15159 "Missing query time and database in console"
### Describe the bug

Missing query time and database in console

### 4.7.7
![4.7.7](https://user-images.githubusercontent.com/7784660/55682362-c92e4380-5932-11e9-8425-e81b09f1c8fc.png)

### 4.8.1
![4.8.1](https://user-images.githubusercontent.com/7784660/55682371-e82cd580-5932-11e9-9fa2-3cddc6e66216.png)

[2019-04-07 11:08] williamdes commented on #15159
Git bisect found that 275baf60bde9d20fe25980ada293d8abd313cc6e is the first bad commit

[2019-04-07 13:56] #15119 closed

[2019-04-07 13:56] #15159 closed

[2019-04-07 14:39] williamdes commented on #15070
### 4.7.9
![4.7.9](https://user-images.githubusercontent.com/7784660/55685195-90529680-5953-11e9-9daf-eaff087c752f.png)

### 4.8.1
![4.8.1](https://user-images.githubusercontent.com/7784660/55685207-aeb89200-5953-11e9-914d-fff451813b20.png)

[2019-04-07 16:31] IlyaIndigo opened #15160 "No check for installed zip extension"
### Describe the bug
There is no check for the presence of an installed zip extension, and in the advanced export options, the "zipped" item always appears, even if the extension is not installed.
If you try to export with zipped, this causes an error.

### To Reproduce
Disable or remove the "zip" extension from php.
Login --> Select DB --> Export --> Custom --> Compression --> zipped --> Go
File

[2019-04-07 16:32] williamdes commented on #15160
Related to #14326 ?

[2019-04-07 18:25] AghaSaad04 opened #15161 "[UI] Text area overflows its parent element"
### Describe the bug

Text Area is overflowing its parent div

### To Reproduce

Steps to reproduce the behavior:
1. Select a DB
2. Click on 'Query'
3. Scroll down
4. See text area overflowing

### Expected behavior

It should not overflow its parent

### Screenshots

![image](https://user-images.githubusercontent.com/36513474/55687654-df66ee80-5988-11e9-99f2-76b6d1617563.png)

### Server configur

[2019-04-07 19:31] ibennetch commented on #14326
I think the reason I thought we should continue to show the zip option in the menu is so as to not confuse users if it's missing, but with 10 months of time to think about it, I think it would be more consistent with our interface to not show it there at all.

[2019-04-07 19:31] ibennetch commented on #15160
Yeah, I'd say this is a duplicate of the bug williamdes referenced.

Thank you for reporting this!

[2019-04-07 19:31] #15160 closed

[2019-04-07 19:44] kartik1000 commented on #14326
@ibennetch, don't you think that warning message would be most appropriate, in case of missing extension rather than simply removing it?

[2019-04-07 19:56] williamdes commented on #14326
I agree with @kartik1000 !
Will will have people reporting this as an issue if we do not make it clear ..

[2019-04-08 10:47] IlyaIndigo commented on #14326
You do not need any impressions in the "Compression" with warning messages that it does not work.
Just in the "Compression" show "zip", if include the extension zip; and show "gzip" if include the extension "zlib".
Why is it so hard to do?

[2019-04-08 10:56] Bournvita1998 opened #15163 "Improving performance of the designer"
[Designer's JS code related]

I have observed a few performance issues in the designer's JS code like calculating multiples things inside a for loop (which could be calculated outside the loop). Also other than the performance issues, I also observed some bad coding practices in this section, like declaring each variable in a different line(bad coding practice).

[2019-04-08 10:59] Bournvita1998 commented on #15163
Working on it. Will create a PR soon

[2019-04-08 11:04] ibennetch commented on #14326
What we should do here is not list it as type in the drop down, but do have an “i” informational button next to the drop down with a tool tip stating “Export to a zip file is not possible because the PHP Zip extension is not installed.”

[2019-04-08 11:12] IlyaIndigo commented on #14326
@ibennetch Sorry, If so then everything is fine.
Although I am "Compression" with the option "No", already hints about it.
Reading your correspondence, I thought that you want to leave everything as it is, just add messages that this type of compression does not work does not work.

[2019-04-08 14:31] teletee commented on #13757
I have the same issue. I tested it on several databases ad every time I change all copied views to the new database name.
As I see it is old post but till now it is not solved.

**Server configuration**
**Operating system:**
macOS 10.13
**Web server:**
Apache/2.4.27
**Database:**
5.7.18 - MySQL Community Server (GPL)
**PHP version:**
7.1.16
**phpMyAdmin version:**
4.8.5

**Client configuration**
*

[2019-04-08 14:42] teletee opened #15164 "Ability to search when viewing stored procedures list"
**Issue**:
When I choose a database from left side then click on procedures list of all procedures appear to me, but it will take time to search on specific SP,  because there is no search box like one used in tables list.
Same problem when browsing Functions/Events.

**Solution**:
Add a search box such like database's table section.

**Addtional info:**
- phpMyAdmin version: ~~5.7.18~~ 4.8.5

[2019-04-08 14:46] AghaSaad04 commented on #15164
@teletee you sure about the PMA version?

[2019-04-08 14:52] teletee commented on #15164
Sorry for mistake @AghaSaad04 . Please check attachment.
PMA version: 4.8.5
<img width="658" alt="Screen Shot 2019-04-08 at 5 49 35 PM" src="https://user-images.githubusercontent.com/19839671/55733647-da587c80-5a26-11e9-946c-c1bbb8d01958.png">

[2019-04-08 18:17] Bournvita1998 commented on #15163
@williamdes Please review this PR, will work on other files once you approve these changes

[2019-04-08 19:38] saurass opened #15166 "Copy table keeps showing "loading..." -- When no row is selected."
## Describe the bug

* When browsing a table if we click copy (without selecting any row). Then it keeps showing "loading...." box.
* This issue occurred when solving #13023 (PR #14436 )

## To Reproduce
Steps to reproduce the behavior:
1. Go to any table
2. Do not select any row.
2. Click on 'copy'
4. A box appears showing 'loading....'
5. It doesn't disappear.

## Expected behavior
It must show

[2019-04-08 20:12] imdhruvgupta opened #15168 "Improving performance of javascript"
[Migrating from javascript to jQuery]

I have observed that although most of the javascript code is written in jQuery, but in few js files instead of using jQuery selectors, elements are accessed by document.getElementById. Apart from that I have observed that few files are missing file overview comments. (Bad coding practice)

[2019-04-08 20:16] imdhruvgupta commented on #15168
I am working on it. Will create a PR soon.

[2019-04-08 20:16] kartik1000 opened #15169 "Column support for currency kind of values"
### Is your feature request related to a problem? Please describe.

Few days back while working in some hackathon, I realised that nowadays we often use databases, for say storing amount of certain items, something like what Amazon does but seeing the amount of different items as simple integral values is a bit frustrating as neither does one get to understand if it is amount of something or in wh

[2019-04-08 20:18] williamdes commented on #15168
Great !

@imdhruvgupta Do not forget to create the PR from and against master ;)
See: #15165 (if you modify designer files)

[2019-04-08 21:06] saurass commented on #15169
Yeah that would be great, @kartik1000 , PMA already supports some transformation. It would be great if currency transformation is implemented.

We can even implement something like currency conversion in real time. We can use some APIs to convert a currency to other. It will enhance user experience.

[2019-04-09 02:19] mauriciofauth commented on #15154
I like the Selenium tests, but it can be improved. We can remove the login/logout on each test, for example. But testing with real browser will always be slow.

[2019-04-09 02:24] mauriciofauth opened #15170 ""Generate password" is hidden when adding user account"
### Describe the bug

The _Generate password_ button is hidden when adding user account.

Related to #15150.

### Additional context

Introduced by #15151.

[2019-04-09 02:46] #15170 closed

[2019-04-09 05:44] kartik1000 commented on #15169
Yes, using an API for conversion definitely seems a great idea to me too @saurass. It will definitely be useful for users using database for market related activities.

[2019-04-09 05:52] kartik1000 commented on #15168
@imdhruvgupta it would be a great idea to share info. about those files so that others can help you out too. what do you think @williamdes ?

[2019-04-09 05:54] williamdes commented on #15169
@kartik1000 I am not sure that depending on an api is a good idea :confused:
@ibennetch what do you think about that idea?

[2019-04-09 05:57] kartik1000 commented on #15169
@williamdes, is it because if the api host make some change into it then our converter/transformation might crash?

[2019-04-09 06:25] williamdes commented on #15168
@kartik1000 Good idea, posting a to-do list to this issue and posting updates when taking files to work on and when some files are done

[2019-04-09 06:25] saurass commented on #15169
Yeah maybe this is one of the reason.

This will surely enhance user experience, but also this isn't much of scope for phpMyAdmin project.

[2019-04-09 06:28] williamdes commented on #15169
@kartik1000 Yes
- Data leak
- Api closing down
- Api deprecation
- Api changing to paid plan
- Api not supporting currencies and then users posting issues to PMA
Lots of things like the points above

[2019-04-09 15:51] Bournvita1998 commented on #15163
@williamdes any reviews?

[2019-04-09 17:30] ZeroGit2015 commented on #14938
Message changed, screenshot added.

[2019-04-09 17:58] mauriciofauth commented on #15154
@williamdes Do you have a tool in mind already?

[2019-04-09 18:14] williamdes commented on #15154
@mauriciofauth No, I am trying to have all the opinions of everybody and maybe someday work on this enhancement or someone can work on it

[2019-04-10 00:33] ZsgsDesign commented on #13773
@kartik1000 Still working on it? I would like to have a try if nobody is doing this

[2019-04-10 00:58] ZsgsDesign commented on #15033
I would like to try fixing that

[2019-04-10 06:48] kartik1000 commented on #13773
No I am currently not onto this issue, you can freely take it up, In case I find more info. Related to it which can help you i'll let you know ;)

[2019-04-10 07:07] williamdes commented on #15033
@ZsgsDesign You can have a try :)

[2019-04-10 08:20] ZeroGit2015 commented on #14938
Quick fix:
/libraries/classes\Server/Status/Processes.php
String 61
$show_full_sql = ! empty($_POST['full']); => $show_full_sql = ! empty($_REQUEST['full']);

[2019-04-10 12:33] kartik1000 commented on #15169
@williamdes, I think transformation plugin idea would be better then and i think we can wait for @ibennetch review for this one

[2019-04-10 19:11] mauriciofauth commented on #15168
I'm not really convinced in converting every plain JavaScript to jQuery. JS evolved a lot in recent years and converting everything to jQuery is not a huge benefit anymore.

[2019-04-10 19:18] imdhruvgupta commented on #15168
Yes, that's why I did not opened a pull requests following the conversation in the issue #15165 .I think jQuery still has a lot of benefits as compared to vanilla js but still particularly jQuery selectors does not add up to a lot of performance gain.

[2019-04-10 21:32] imdhruvgupta opened #15174 "Improve Filter Method in server variables page"
### Is your feature request related to a problem? Please describe.
Right now, the variables can filtered based on the single word present in the variable name or not. Some words are present in a lot string for example 'aria'.

![Screenshot 2019-04-11 at 2 54 08 AM](https://user-images.githubusercontent.com/32172694/55914810-b56e3000-5c05-11e9-8145-64a1be9a4fbb.png)

### Describe the solution you'd

[2019-04-11 12:25] williamdes opened #15175 "TypeError - Unable to get property 'AlwaysExpand' of undefined or null reference"
Unable to get property 'AlwaysExpand' of undefined or null reference

Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Unable to get property 'AlwaysExpand' of undefined or null reference
 Exception Type |js
 phpMyAdmin version |4.8.5
 Incident count | 384
 Link | [Report#55417](https://reports.phpmyadmin.net/reports/view/55417)

*This comment is posted autom

[2019-04-11 12:32] williamdes commented on #15175
A user reported this issue and sent to me the following capture:
![pma-issue-15175](https://user-images.githubusercontent.com/7784660/55957393-8b992580-5c66-11e9-8cc9-57ff1447c69e.png)

[2019-04-11 12:57] agmikhailov opened #15176 "phpMyAdmin hangs on LOCK TABLES statement with MySQL 5.7"
### Describe the bug

Cannot execute standard MySQL 5.7 database dump script in PMA because of it contains LOCK/UNLOCK TABLES statements.

### To Reproduce

1. Use PMA 4.8.5. Login to MySQL 5.7 server and create/choose a clean database.
2. Go to SQL tab and copy SQL script from attachment.
[sql.txt](https://github.com/phpmyadmin/phpmyadmin/files/3068606/sql.txt)
3. Click Go.
4. See that:
  A. PMA

[2019-04-11 14:02] saurass commented on #15176
Failed to reproduce error on demo server.

@williamdes are you able to produce this error on demo server ?

[2019-04-11 15:09] AghaSaad04 commented on #15176
@saurass works perfect on my side (demo server) as well

[2019-04-11 19:00] saurass commented on #15176
You able to reproduce the error?

[2019-04-11 19:04] AghaSaad04 commented on #15176
Nope nope.

[2019-04-11 19:33] murex971 commented on #13732
@williamdes @OlafvdSpek  could anyone give a detailed description of the issue?

[2019-04-11 19:59] murex971 commented on #15024
@kunalvishnoi when I'm inspecting the mentioned buttons , I could find the Bootstrap classes.
Unable to reproduce your issue.

[2019-04-11 21:08] murex971 opened #15177 "label not aligned with baseline"
### Describe the bug

label text aligned at the top.

### Expected behavior

label text should be properly aligned to baseline.

### Screenshots

![baseline](https://user-images.githubusercontent.com/46920259/55993047-b49fd180-5ccb-11e9-9798-0db111851138.png)

[2019-04-11 21:17] AghaSaad04 commented on #15177
@williamdes What do you think about this one?

![image](https://user-images.githubusercontent.com/36513474/55993623-02ffa100-5cc9-11e9-8a4f-a705a4ea896e.png)

Should I move the label near to fields?

[2019-04-11 22:11] murex971 commented on #15177
@AghaSaad04 I've already open a pr referencing the issue in which I've fixed the label text alignment with respect to the input field

[2019-04-12 06:18] OlafvdSpek commented on #13732
Hi murex, what part of the question is unclear to you?

[2019-04-12 11:28] AghaSaad04 commented on #15177
@murex971, you have fixed that but I am not talking about that. I am asking @williamdes for aligning text to center.

Your solution:
![image](https://user-images.githubusercontent.com/36513474/56034078-a9868900-5d3f-11e9-8352-1cf009e73b0f.png)

and the solution I am proposing is different.
![image](https://user-images.githubusercontent.com/36513474/56034125-daff5480-5d3f-11e9-93a6-2146c99d401d.png

[2019-04-12 13:04] AndikanAffiah commented on #15177
I think the second is okay

[2019-04-12 13:20] murex971 commented on #13732
where to find the drop you have mentioned.

[2019-04-12 13:26] murex971 commented on #15177
@AghaSaad04 IMO aligning text of label at the center alongwith baseline is a good idea.
Thanks for your opinion.
I'm working on another commit to make the changes you have suggested.

[2019-04-12 13:31] OlafvdSpek commented on #13732
https://demo.phpmyadmin.net/master-config/tbl_structure.php?db=sakila&table=actor&goto=tbl_structure.php&back=tbl_structure.php&field=actor_id&change_column=1

[2019-04-12 14:43] AghaSaad04 commented on #15177
Okay, great @murex971. I was actually about to create the PR.

[2019-04-12 19:43] bigwavealex commented on #14220
doveraudio's suggestion worked for me as well.   I'm using php7.3, caching_sha2 still not working there either I guess, hopefully they are working on it.

[2019-04-13 08:10] OlafvdSpek commented on #14969
Could this be reopened?

[2019-04-13 08:28] AghaSaad04 opened #15183 "Layout issues in designer"
### Describe the bug

There are multiple layout issues and bugs in designer.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Designer
3. See the issues

### Expected behavior

There should be a stretched name panel and words should not be cropped in side menu.

### Screenshots

![image](https://user-images.githubusercontent.com/36513474/56076791-5f101580-5dee-11e9-9d76-a1ead4259473.pn

[2019-04-13 08:28] williamdes commented on #14969
@OlafvdSpek Please send details :)

[2019-04-13 08:28] AghaSaad04 commented on #15183
I am working on it and will create a PR in a while :)

[2019-04-13 08:29] OlafvdSpek commented on #14969
It's the `arg_separator.input = ";&"` setting that wreaks havoc.

[2019-04-13 11:17] AghaSaad04 opened #15185 "Buttons not in Bootstrap4"
### Describe the bug

There are buttons in a form which have not been converted into bootstrap yet.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Export
2. Click on Custom
3. Check Rename
4. See Dialog

### Expected behavior

The buttons of the dialog should be in Bootstrap4

### Screenshots
![image](https://user-images.githubusercontent.com/36513474/56119725-1f7c3180-5f86-11e9-9a23

[2019-04-13 11:18] AghaSaad04 commented on #15185
Working on it :)

[2019-04-13 19:47] ibennetch commented on #15176
I'm also unable to reproduce this.

Can you try executing the SQL file directly from the command line client to see if that hangs for you?

[2019-04-13 22:29] ibennetch commented on #14383
I don't think I can reproduce this any longer.

[2019-04-13 22:37] aschuch247 opened #15187 "editing a row and using 'insert as new row' uses primary key 0"
### Describe the bug

If editing a row with an autoincrement primary key and using the option 'insert as new row', the new row will get the primary key 0 assigned.

### To Reproduce

Steps to reproduce the behaviour:

0. Have the database server using SQL mode `NO_AUTO_VALUE_ON_ZERO` (https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_auto_value_on_zero).
1. Create a table with an au

[2019-04-14 07:27] williamdes commented on #14383
@ibennetch You can reproduce this with a table that was a GIS row (with data) using a mysql 8.0 server

[2019-04-14 09:33] gettherefast opened #15188 "Sidebar error after clicking any database on 4.8.5"
### Describe the bug

Recently upgraded to 4.8.5
found UI Bug,
Just whenever i tried to open DB, sidebar will overlap main display and completely uncontrollable / resize error.

### To Reproduce

Steps to reproduce the behavior:
1. Open any DB
2. Ta da

### Expected behavior

Sidebar should work as usual sidebar.

### Screenshots

https://imgur.com/a/Pq4HV3G

### Server configuration

- Operating

[2019-04-14 10:18] murex971 opened #15189 "text not wrapping according to column size"
Even after increasing the column size, the content fails to appear accordingly.

content with default column size.
![ss1_issue](https://user-images.githubusercontent.com/46920259/56091431-79202580-5ecc-11e9-9bd9-b9ca17877d2b.png)

content after appearing column size.
![ss2_issue](https://user-images.githubusercontent.com/46920259/56091433-8b01c880-5ecc-11e9-9b32-e6f8d7f50963.png)

It can be notice

[2019-04-14 12:54] murex971 opened #15190 "plugin buttons not responsive"
### Describe the bug

plugin buttons not responsive (breaking/splitting)

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Plugin'.
2. Try to resize browser window.
3. You will notice something like I've captured in the screen shot below.

![btn_issue1](https://user-images.githubusercontent.com/46920259/56093115-27829580-5ee2-11e9-9583-03fa37f14dea.png)

This is really horrible how the

[2019-04-14 12:56] murex971 commented on #15190
While inspecting these , I observe that these options are not declared under any button class or any list just <a> tags.
So I think these should be provided with 'button' class.
It will surely solve the issue.
Will make a PR regarding the same :)

[2019-04-14 14:10] sritd commented on #13197
Dear William,
I have finished the code rework for this issue. Please have a look at pull request #15192. There are the needed modifications included.
I have tested it in my environment for SIGNON method. This will work now as expected.
Please feel free to give my feedback about this implementation, if it does not match your requirements.

Best regards
Sven

[2019-04-14 15:28] murex971 commented on #15190
After the changes I've made in the PR the plugins button will look like:

![btn_issue2](https://user-images.githubusercontent.com/46920259/56095207-fca33c00-5ef7-11e9-9f4f-e4a84dc83518.png)

[2019-04-14 15:50] williamdes commented on #13197
Will be closed by : #15192

[2019-04-14 16:17] AghaSaad04 opened #15193 "Inconsistency in error message for same input field"
### Describe the bug

I have faced different error messages for max value for one input field
### To Reproduce

Steps to reproduce the behavior:
1. Select any DB with an int column
2. Go to structure
3. Edit its length/values
4. See errors

### Expected behavior

I was expecting consistency in error but it changes for different inputs. It should give the same max value for both.

### Screenshots

[2019-04-14 16:26] AghaSaad04 opened #15194 "Layout Issue in Structure"
### Describe the bug

Layout issue when horizontally scrolled

### To Reproduce

Steps to reproduce the behavior:
1. Select a DB and a table
2. Go to Structure
3. Click on change option for any column
4. Scroll horizontally
5. See error

### Expected behavior

Buttons should not scroll.

### Screenshots

![image](https://user-images.githubusercontent.com/36513474/56095940-45102900-5efb-11e9-9903-9

[2019-04-14 16:26] AghaSaad04 commented on #15194
Working on it :)

[2019-04-14 16:45] BauyrzhanMaksot opened #15195 "Positioning Panel"
### Is your feature request related to a problem? Please describe.

The panel (under phpMyAdmin logo) which contains home, logout and etc, positioned at the top left corner of screen.

### Describe the solution you'd like

I think many users as me expect at least log out button to be located at the top left corner.

[2019-04-14 17:08] murex971 commented on #15195
Yeah! I agree .
Logout button should be highlighted or should be placed so that can be spotted easily.
I think we can highlight it by providing focus property or can place it somewhere else as you are pointing.

[2019-04-14 17:14] murex971 opened #15196 "Enclosing 'recent' and 'favorites' in buttons"
### Is your feature request related to a problem? Please describe.

while inspecting the frontend of PMA I found that 'Recent' and 'Favorites' options appearing at the left panel(top) of the window are declared (enclosed) in <span> tag.

### Describe the solution you'd like

They should be declared(enclosed) within buttons, that is , as what they are actually.

[2019-04-14 17:16] murex971 commented on #15196
This does not bring any change in the appearance of those 2 options. But IMO it is a good practice to declare everything properly so noone faces any problem while inspecting the code.

[2019-04-14 17:16] murex971 commented on #15196
Working on it :)

[2019-04-14 20:45] nunoperalta opened #15199 "Support STORED keyword (same as PERSISTENT)"
### Describe the bug

In the Virtuality dropdown menu, I don't see STORED.

### To Reproduce

Find a column that is STORED generated, and then press Edit (to edit column config).
You'll see that the Virtuality dropdown menu doesn't show anything (as it only supports VIRTUAL and PERSISTENT), and you can't see the virtual formula.

### Expected behavior

Support "STORED"
https://mariadb.com/kb/en/li

[2019-04-14 20:48] mauriciofauth commented on #15068
I don't know if adding a option to change the color scheme through GUI would be a good idea, because only a few themes have color schemes.
We should at least need to make changing color schemes more easy, like replacing CSS files.

[2019-04-14 21:13] aschuch247 opened #15200 "server-side HTTPS detection misses support for Forwarded HTTP Extension (RFC 7239)"
### Describe the bug

The phpMyAdmin login dialogue says `There is mismatch between HTTPS indicated on the server and client. This can lead to non working phpMyAdmin or a security risk. Please fix your server configuration to indicate HTTPS properly.` This is not fully correct.

PHP runs via Apache on HTTP, but protected by a reverse proxy (SSL accelerator) which unpacks HTTPS and reverse proxies

[2019-04-14 21:19] ibennetch commented on #15200
I believe this is a duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/14184

In general, this often can be worked around by entering your credentials a second time or sometimes resolved by clearing your current phpMyAdmin cookies. Those cookies start with “pma” and clearing them may reset a few settings and could clear the stored username from the login form, but may resolve the issue f

[2019-04-14 22:06] aschuch247 commented on #15200
@ibennetch: I don't think this is a duplicate. Logging in works without a problem. The bug is just the fact that the error/warning message is shown.

JavaScript compares the scheme used on the client with the scheme reported back by the back-end. As JavaScript sees `https`, but the back-end reports `http`, JavaScript decides to show the error/warning message.

If the reverse proxy is configured to

[2019-04-14 22:25] aschuch247 commented on #15200
The algorithm for parsing is pretty straight forward:

[code]

[2019-04-15 09:08] Interghost opened #15202 "Creating user with single quote in password results in no password user"
Tried on demo.phpmyadmin 4.8.5 and 4.8.6-dev
Go to User accounts tab, Add user account
Username: test
Password: test'123
And submit/create...afterwards go back to User accounts tab and the new user will be listed as no password.

[2019-04-15 13:01] musicpanda commented on #14903
I have the same problem with phpMyadmin 4.8.5.

My installation runs on Xampp under Windows 10 with PHP 5.6.

Importing a 60MB sql file took a full hour - after which a PHP timeout was triggered. When I checked everything seemed to be there. This on a fast new computer.

When in another upload I ended MySql after more than an hour it crashed my Mysql. But it gave an interesting error message (I re

[2019-04-15 14:06] musicpanda commented on #14903
I had a look into my Mysql error log and I found many times the following:
2019-03-24 23:52:36 28632 [ERROR] Incorrect definition of table mysql.column_stats: expected column 'max_value' at position 4 to have type varbinary(255), found type varchar(255).
2019-03-24 23:52:36 28632 [ERROR] Incorrect definition of table mysql.column_stats: expected column 'min_value' at position 3 to have type varbin

[2019-04-15 14:52] aschuch247 opened #15203 "copy row/edit and insert as new does not consider different UPDATE/INSERT privileges"
### Describe the bug

When using `copy` on a row or when using `edit` on a row and then selecting `insert as new row` does not allow editing a column if the user does not have the UPDATE privilege on the column but only the INSERT privilege.

### To Reproduce

Steps to reproduce the behaviour:

1. Create a database and a table and the columns `id` and `name`.
2. Create a user with SELECT on both c

[2019-04-15 20:19] williamdes opened #15205 "[UI] Useless backquotes, sql preview, delete index"
### Describe the bug

Useless backquotes in the sql query: around the query and the table name (2 instead of one)
### To Reproduce

Steps to reproduce the behavior:
1. Try to delete an index
2. See backquotes

### Expected behavior

No quotes and a beautiful sql preview box

### Screenshots

![Screenshot_20190415-221441](https://user-images.githubusercontent.com/7784660/56162413-3b0a2b00-5fcc-11e9

[2019-04-15 20:20] williamdes commented on #15205
@saurass can you please have a look?

[2019-04-15 20:24] williamdes commented on #14732
Can someone help me find the rename PK ui ?

[2019-04-15 20:32] saurass commented on #15205
Yeah sure, I will look into it ASAP.

[2019-04-15 20:35] OlafvdSpek commented on #14732
Rename the field that has the primary key.

[2019-04-16 01:00] mauriciofauth commented on #13961
I think a good solution would be to change the text to **Log in** instead of **Go**.

[2019-04-16 01:04] #15138 closed

[2019-04-16 01:55] #13713 closed

[2019-04-16 04:54] saydulk opened #15206 "proxy grant remove from mysql"
I was reading on this page https://www.bitcoinabuse.com/reports/1HXnLWN8Bi8nKAhTg1YqtGWZ2KttHhiDZF

How i can find out if the hacker left a "proxy grant" so he can access phpmysql system again and how i can remove proxy grant

![Screenshot from 2019-04-16 10-51-38](https://user-images.githubusercontent.com/1058663/56182882-f915cf00-6035-11e9-99fe-c5f9390d93f6.png)

[2019-04-16 06:21] ibennetch commented on #15206
I guess what is meant is an account with administrative privileges on the database with which the attacker could gain access again, aside from the account used directly in an attack or exploit. The solution to that would be to directly audit all user accounts (under the “User accounts” tab from the main page), verifying that each account should exist.

[2019-04-16 10:43] williamdes commented on #15199
Duplicate of #14957

Added by PR #14966

[2019-04-16 10:44] williamdes commented on #15199
Thanks for the report, comment back if this issue is not solved using the latest 5.0.0-dev version or latest stable version :)

[2019-04-16 10:44] #15199 closed

[2019-04-16 10:44] williamdes commented on #15199
Duplicate of #14957

[2019-04-16 12:09] williamdes opened #15209 "`Warning: #1287 'SHOW PROFILE' is deprecated and will be removed in a future release. Please use Performance Schema instead`"
### Describe the bug

`Warning: #1287 'SHOW PROFILE' is deprecated and will be removed in a future release. Please use Performance Schema instead`

- Use profiler on query (checkbox)

- See warning

### Server configuration

- Database version: 5.7.21 - MySQL Community Server (GPL)
- phpMyAdmin version: 4.8.6

[2019-04-16 15:44] still-dreaming-1 commented on #14800
The problem in the stable version is it is using the POST value instead of the GET value. I peeped at the latest code and it seems that may have been fixed. However, I also feel the logic should be fully reversed to use FULL by default rather than after explicitly requesting this, otherwise it is basically setup to be annoyingly almost useful by default and only actually useful upon request. Or at

[2019-04-16 16:43] williamdes commented on #15202
@Interghost thank you for the report!

[2019-04-16 16:48] williamdes commented on #15188
Demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

@gettherefast can you reproduce this issue on demo servers?

[2019-04-16 17:13] saurass commented on #15209
So, this warning mustn't be shown. Right ?

[2019-04-16 17:35] aschuch247 commented on #15200
@williamdes: What does `help wanted` mean? Anything I can help you with?

[2019-04-16 17:37] aschuch247 commented on #15187
If the primary key `NULL` is used, a new autoincrement value will be created regardless of `NO_AUTO_VALUE_ON_ZERO` set. So the fool-proof way is to always provide `NULL` when inserting a new primary key (or do not specify the field at all).

[2019-04-16 18:24] murex971 commented on #13961
IMO Go is fine as log in already appears at the top left corner of the box.
For a user the current text provides no confusion nor any misinterpretation , so no need of change.

[2019-04-16 19:09] williamdes commented on #15200
@aschuch247 it means that I would want someone to help us solve this issue with a pull-request

[2019-04-16 22:51] #15177 closed

[2019-04-16 23:51] #15183 closed

[2019-04-17 01:27] smumargilani commented on #14220
Works for me as well, thanks @p8ul

[2019-04-17 07:26] OlafvdSpek commented on #14809
What's unclear in `When editing a row.. I didn't touch any binary fields.`?

[2019-04-17 10:02] Bournvita1998 commented on #15044
@williamdes I need some help here.
I think I found where do I need to make changes for this, but I can't print anything for debugging. Can you please help me here so that I can print and check something from this section of code.

For example, let's consider the input field for **Default transformations for Substring**
![Selection_034](https://user-images.githubusercontent.com/26218090/56273604-aa

[2019-04-17 10:25] ibennetch commented on #15044
Because of how the output buffering and other output functions work, I often prefer to log debugging code to a file instead, using the PHP error_log function. Would that help you here?

[2019-04-17 10:29] Bournvita1998 commented on #15044
@ibennetch what I understood is that you print your error logs in the red section which appears at the bottom of the screen. I think this might help.

[2019-04-17 12:55] dddns commented on #14909
Howdy,

Was this commited to the PMA source tree?

[2019-04-17 12:56] dddns commented on #14967
Howdy,

Please give us a Eater gift with 4.8.6 :-)

[2019-04-17 12:56] dddns commented on #14967
*Easter*
(for some reason can't edit)

[2019-04-17 13:24] saurass commented on #14909
No, not yet @dddns

[2019-04-17 18:31] gettherefast commented on #15188
@williamdes

I am so sorry, I made a mistake.
Maybe I copied everything incorrectly.
I just re-download new 4.8.5 and replace my current PMA, it is now good as usual.

[2019-04-17 19:10] #15190 closed

[2019-04-17 19:36] mauriciofauth commented on #14220
The `caching_sha2_password` authentication method will only be supported in PHP 7.4+ due to the hard dependency on ext/hash. See https://github.com/php/php-src/commit/4f06e67ad2201390ed35a9ea6288a00c0b04782b.

[2019-04-18 02:33] LaurianoElmiroDuarte opened #15211 "error installation with composer"
### Describing the bug
on the installation of the phpMyAdmin, follow, $ composer create-project phpmyadmin/phpmyadmin --repository-url=https://www.phpmyadmin.net/packages.json --no-dev

### To Reproduce
Installing phpmyadmin/phpmyadmin (4.8.5)

  [InvalidArgumentException]
  Project directory /home/laurianoelmiroduarte/phpmyadmin/ is not empty.

create-project [-s|--stability STABILITY] [--prefer-

[2019-04-18 02:45] ibennetch commented on #15211
Hi,

I believe the error is saying that you have some files or directories in the `/home/laurianoelmiroduarte/phpmyadmin/` folder. You should move (or delete) those files and try again.

[2019-04-18 02:54] lingnancfy opened #15212 "mysql database is always auto disappear."
### Describe the bug

I use phpmyadmin in the xampp to create a simple mysql database for my wordpress. But I found the database would disappear after some time. My server is a remote server. Can you guide me?

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what yo

[2019-04-18 03:17] ibennetch commented on #15212
This behavior isn't coming from within phpMyAdmin and unfortunately, since we don't have access to your system or know anything about your hosting provider, we're not able to help look in to it further. I suggest escalating this question with the support folks at your hosting provider.

[2019-04-18 03:25] LaurianoElmiroDuarte commented on #15211
hi @ibennetch
I discovered that I had not updated the "$ composer update"
this was the error ..

[2019-04-18 03:29] LaurianoElmiroDuarte commented on #15212
@ibennetch eu think its his server ..
@lingnancfy are you server in localhost ?

[2019-04-18 03:31] Bournvita1998 commented on #15044
How should I print the error?
I think these might be three possibilities:

**Case 1:**
Printing error at the bottom. Similar to this
![Selection_037](https://user-images.githubusercontent.com/26218090/56334948-25f1ef80-61b8-11e9-8771-5c61e7238ebc.png)

**Case 2:**
Printing error in the middle of the window. Similar to this
![Selection_038](https://user-images.githubusercontent.com/26218090/5633495

[2019-04-18 04:07] lingnancfy commented on #15212
@LaurianoElmiroDuarte I rent a virtual server from Tencent cloud platform.

[2019-04-18 04:28] LaurianoElmiroDuarte commented on #15212
@lingnancfy so, is better your to contact your hosting provider ..

[2019-04-18 04:53] LaurianoElmiroDuarte opened #15213 "Dependencies used in Fedora 29 with amd64 platform."
### Is your feature request related to a problem? Please describe.
this following dependecies are need for installation phpMyAdmin in system fedora 29

Downloading Packages:
(1/27): nginx-filesystem-1.14.2-1.fc29.noarch.rpm              70 kB/s |  10 kB     00:00
(2/27): php-bcmath-7.2.17-1.fc29.x86_64.rpm                   160 kB/s |  43 kB     00:00
(3/27): php-gmp-7.2.17-1.fc29.x86_64.rpm

[2019-04-18 10:21] lem9 commented on #15213
Please close this issue and contact Fedora support.

[2019-04-18 10:23] ibennetch commented on #15213
Hi,
Is there any problem here? This looks about like the expected list of dependencies and the package manager should automatically install them for you. This seems like how everything should work.

[2019-04-18 10:23] lem9 commented on #15212
@lingnancfy I agree with other commenters, please close this issue.

[2019-04-18 10:24] lem9 commented on #15211
@LaurianoElmiroDuarte Please close this issue.

[2019-04-18 10:24] #15212 closed

[2019-04-18 10:25] #15211 closed

[2019-04-18 10:26] lem9 commented on #15206
@saydulk Please close this issue.

[2019-04-18 10:52] lem9 commented on #15196
I'm not sure that these controls should be defined as buttons as they are not clickable. Maybe we should just remove the drop_button class on them.

[2019-04-18 10:54] #15206 closed

[2019-04-18 12:20] lem9 commented on #15213
@ibennetch By the way, looking at https://docs.phpmyadmin.net/en/latest/require.html I see less requirements than those found in the "require" section of https://github.com/phpmyadmin/phpmyadmin/blob/QA_4_8/composer.json.

[2019-04-18 12:32] lem9 commented on #15195
What I mostly see on various websites is the username at top right, which on some sites just acts as the logout mechanism and on some other sites brings a menu containing Logout. We could use the MySQL user name for this, in addition to the current "door" icon in the navigation panel.

[2019-04-18 13:32] lem9 commented on #15194
To reach your screenshot some steps are missing; I had to reach the page where I can change a column's structure. Are you talking about the "Preview SQL" and "Save" buttons?

[2019-04-18 13:47] AghaSaad04 commented on #15194
Oh yeah, Sorry @lem9. I am going to edit them right now. And I have got the solution for this issue but I am not sure if it's the best solution, I will create the PR for this soon

[2019-04-18 13:52] AghaSaad04 commented on #15194
and yes Sir @lem9. I am talking about those buttons

[2019-04-18 17:32] #15188 closed

[2019-04-18 20:05] LaurianoElmiroDuarte commented on #15213
Okay guys,
thanks .

[2019-04-18 22:22] murex971 commented on #15196
@lem9 What if I don't define them as buttons but define their class as btn btn-primary inside span element itself?
I think this is what you are saying.
Should I implement this?

[2019-04-20 12:16] saurass commented on #13845
@williamdes @ibennetch should I go with using `IF NOT EXISTS` for checking foreign key constraint?

This will work good but may cause compatibility issues with older version of MariaDB.

[2019-04-20 13:35] saurass commented on #13845
A solution apart from what is discussed above, which i can think of goes like -

* When exporting DB, we must drop table if it exists, before creating the table. (instead of using `CREATE IF NOT EXISTS` first `DROP TABLE IF EXISTS`). Because in some case if user makes any change to the exported SQL file and wants to execute it, user won't be able to see the changes as table will not be recreated.

[2019-04-20 13:38] saurass commented on #13845
I guess second solution will be more reliable. As it will take good care of both the issues without compatibility issues in MySQL or MariaDB.

[2019-04-20 17:52] AndikanAffiah commented on #15209
I think we should prevent sql queries from running on server unless a database be selected and connected to...
Also.. Database, **table** and **column** names must start with a letters, so the input has to be validated against those set of rules and an error message sent back to the user.

I would like to be assigned this issue.

[2019-04-20 17:54] AndikanAffiah commented on #15209
I think we should prevent sql queries from running on server unless a database be selected and connected to...
Also.. Database, **table** and **column** names must start with a letters, so the input has to be validated against those set of rules and an error message sent back to the user.

I would like to be assigned this issue.

[2019-04-20 17:54] AndikanAffiah commented on #15209
I think we should prevent sql queries from running on server unless a database be selected and connected to...
Also.. Database, **table** and **column** names must start with a letters, so the input has to be validated against those set of rules and an error message sent back to the user.

I would like to be assigned this issue.

[2019-04-20 18:25] williamdes commented on #15209
@AndikanAffiah I think that you did not understand correctly the issue, please have a look one more

The issue is a compatibility/deprecation issue

[2019-04-21 06:22] AndikanAffiah commented on #15209
Now clear..
So.. There will be no profiling in future versions.

[2019-04-22 02:34] ibennetch commented on #15209
The MySQL documentation explains how to use `performance_schema` to achieve the same thing, but it seems rather more convoluted and more difficult.

[2019-04-22 09:11] apoorvkhare07 commented on #15195
@williamdes @lem9 Since, we already have a top-bar on almost all pages,
<img width="1107" alt="Screenshot 2019-04-22 at 2 36 17 PM" src="https://user-images.githubusercontent.com/26320019/56493252-22d66680-650c-11e9-9069-d3fbe76c3006.png">
We can replace the `more` tab with user's `mysql username`, which on click will open a dropdown having `logout` option along with the already present ones in `m

[2019-04-22 09:54] snzhaoyua opened #15217 "can't login if changed mysql default_authentication_plugin=sha256_password"
### Describe the bug
1. when mysql server set default_authentication_plugin=mysql_native_password, if user was created identified with 'mysql_native_password', phpmyadmin works well
2. when mysql server set default_authentication_plugin=mysql_native_password, if user was created identified with 'sha256_password', phpmyadmin works well too
3. when mysql server set default_authentication_plugin=sha2

[2019-04-22 12:39] ibennetch commented on #15213
@lem9 I would argue that most users download the zipfile we distribute, which includes the requirements from composer.json. The documentation "Requirements" section specifically addresses requirements that are external to the phpMyAdmin installation, so I think we're okay here.

[2019-04-22 14:53] apoorvkhare07 commented on #15202
@williamdes I would like to work on this one.

[2019-04-22 19:00] williamdes commented on #15217
Duplicate of #14220

[2019-04-22 19:00] williamdes commented on #15217
@snzhaoyua I think this issue is a duplicate of #14220

[2019-04-22 19:56] murex971 commented on #15195
@apoorvkhare07 IMO logout option should be placed somewhere so that it can be easily spotted.
Placing 'mysql username' or 'logout' option along with all the general tabs will not serve the purpose nor will it deal with the problem pointed in issue efficiently.

[2019-04-22 20:34] apoorvkhare07 commented on #15195
@murex971 Where else do you think we can place it in the top-right ? Giving a completely different location to it would make the UI unconventional for the users.

[2019-04-23 05:45] williamdes commented on #15202
@apoorvkhare07 You can work on this one :)

[2019-04-23 05:55] kartik1000 commented on #15209
@ibennetch, I read that documentation and found that it is not simple like SHOW PROFILES syntax which directly does the task instead we first need to setup 'UPDATE performance_schema.setup_instruments' and 'UPDATE performance_schema.setup_consumers' and then using 'performance_schema.events_statements_history_long' we can get the desired results like SHOW PROFILES

[2019-04-23 09:41] kartik1000 opened #15219 "'No Password' Option does not switch automatically to 'Use Text Field' in Add User Account"
### Describe the bug

In Add User Account option, in the Password field When you select 'No Password' from the dropdown and start writing in input text area, it should automatically switch to 'Use Text Field', to avoid any confusion for the user, but currently it does not happen and thus it needs to be 'ajaxified'.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'User Accounts'
2. In

[2019-04-23 09:42] kartik1000 commented on #15219
I have worked out the fix and will make the PR soon :)

[2019-04-23 10:09] kartik1000 commented on #15202
@apoorvkhare07, Hey a suggestion for this one, you might have to use [mysqli_real_escape_string](https://www.w3schools.com/php/func_mysqli_real_escape_string.asp) function of php while working with input password field in php, to remove any problem that the quotes might be causing :)

[2019-04-23 11:14] williamdes commented on #15217
Comment if you want to re-open this issue :)
Closing since this is a duplicate

[2019-04-23 11:14] #15217 closed

[2019-04-23 11:14] williamdes commented on #15217
Btw, very nice issue description !

[2019-04-23 11:17] williamdes commented on #12994
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:17] #12994 closed

[2019-04-23 11:18] williamdes commented on #13575
@devenbansod @OlafvdSpek What should be done for this issue ?

[2019-04-23 11:19] williamdes commented on #13782
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:19] #13782 closed

[2019-04-23 11:20] williamdes commented on #13942
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:20] #13942 closed

[2019-04-23 11:24] williamdes commented on #14242
Closing since this issue seems fixed.
Comment if you want to re-open for a valid reason.

[2019-04-23 11:24] #14242 closed

[2019-04-23 11:29] williamdes commented on #14346
@JBES this issue should be fixed by https://github.com/phpmyadmin/phpmyadmin/commit/346eb9057dc5268668c5ec749349f5a2ad92a161

Changelog: https://github.com/phpmyadmin/phpmyadmin/commit/e889aea9e111272072ef786ed3feddd86df92fe3

Can you try using latest [phpMyAdmin 4.8+snapshot](https://www.phpmyadmin.net/downloads/) ?

[2019-04-23 11:31] williamdes commented on #14346
Param | Value
 -----------|--------------------
 Error Type | SyntaxError
 Error Message |Unexpected end of JSON input
 Exception Type |js
 phpMyAdmin version |4.8.0-dev
 Incident count | 179
 Link | [Report#38278](https://reports.phpmyadmin.net/reports/view/38278)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-04-23 11:32] williamdes commented on #14346
This Issue is no longer associated with [Report#38278](https://reports.phpmyadmin.net/reports/view/38278)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-04-23 11:32] williamdes commented on #14301
Param | Value
 -----------|--------------------
 Error Type | SyntaxError
 Error Message |Unexpected end of JSON input
 Exception Type |js
 phpMyAdmin version |4.8.0-dev
 Incident count | 2148
 Link | [Report#38278](https://reports.phpmyadmin.net/reports/view/38278)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-04-23 11:34] williamdes commented on #12968
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:34] #12968 closed

[2019-04-23 11:35] williamdes commented on #14508
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:35] #14508 closed

[2019-04-23 11:36] williamdes commented on #14509
cc @ibennetch ?

[2019-04-23 11:39] williamdes commented on #14711
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:39] #14711 closed

[2019-04-23 11:42] williamdes commented on #14959
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:44] williamdes commented on #14915
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:44] #14915 closed

[2019-04-23 11:46] williamdes commented on #13822
@jtl999 Any update on this issue ?

[2019-04-23 11:46] williamdes commented on #13911
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-04-23 11:46] #13911 closed

[2019-04-23 11:47] williamdes commented on #14495
@mightydok Can you still reproduce this issue ?

[2019-04-23 11:51] williamdes commented on #14986
- To reproduce this issue, execute the given sql query to create the table
- Go to Insert page
- Insert a row
- The `current_timestamp(2).000000` breaks the insert and `current_timestamp(2)` does not work since it is not recognized as a function (ends up quoted)

[2019-04-23 11:51] williamdes commented on #14986
@kartik1000 @AghaSaad04 @saurass

[2019-04-23 12:16] Gegetz opened #15221 "Don't charge Phpmyadmin"
Hello, I have a problem with Phpmyadmin I can not connect to my database SQL, the url of the site does not lead to anything and I wanted to know what is happening exactly. Thanking you!
Here I put you a screen:

http://prntscr.com/nfqwtt

[2019-04-24 08:06] Gethin2018 commented on #14301
is still not fixed?

[2019-04-24 11:41] sharifzadesina commented on #14301
It is a shame to say, but NO.

[2019-04-24 13:08] saurass commented on #14986
@williamdes
* I am getting following error
![Capture](https://user-images.githubusercontent.com/31488093/56661611-be5c0880-66bf-11e9-89f3-00c05bcc96c9.PNG)
**Still data is inserted like** ->  0000-00-00 00:00:00.00	abcxyz

* Also after removing `.000000` I get same error
![Capture2](https://user-images.githubusercontent.com/31488093/56661720-f7947880-66bf-11e9-93d0-0b9ea48b5d89.PNG)
Again same dat

[2019-04-24 13:19] williamdes commented on #14986
@saurass No, you need to use a Mysql >= 5.7 or a MariaDB >= 10.2 server

[2019-04-24 13:25] saurass commented on #14986
Okay lemme have a look

[2019-04-24 14:24] AghaSaad04 commented on #14986
@williamdes I have faced the same error and I have figured out that if we remove the quotes from CURRENT_TIMESTAMP(2) then it gives the right output. I am working on it, will update you guys or will create a PR if I get the solution.

[2019-04-24 14:44] kartik1000 commented on #14986
Yup @AghaSaad04 working for me as well on removing the quotes
Also, @saurass, You can see the exact error on demo server. The only difference is on demo server it is not executing the query, but on your system it might be executing the query giving a warning, but rest of the major issue is same.

[2019-04-24 15:06] saurass commented on #14986
Thanks @AghaSaad04 @kartik1000

Yeah removing quotes has fixed the problem on my system. I have figured out how to remove quotes.

Also please lemme know if there is any significance of adding `.000000` in tail of `CURRENT_TIMESTAMP(2)` ?

Should I remove it as well ?

[2019-04-24 15:39] kartik1000 commented on #14986
No @saurass, It has no significance because if u add it, it even breaks the SQL Query.

[2019-04-24 15:45] saurass commented on #14986
Great thanks @kartik1000 for confirmation.
But it seems that it has intentionally being added (may be it has some logic -> `libraries/classes/Util.php` line 4051, QA_4_8 branch, a little dive into git shows that this part was added back in 2007)

[2019-04-24 15:51] celestinoxp opened #15222 "Server Status Advisor: Increase or Decrease key_buffer_size?"
### Describe the bug

I have two incoerent suggestions at same time. One tell me to increase key_buffer_size and other tell me to decrease key_buffer_size... so, one or other?

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Server Status'
2. Click on 'Server Status Advisor'
3. See messages...

### Expected behavior

Increase key_buffer_size OR Decrease key_buffer_size

### Screenshot

[2019-04-24 15:58] kartik1000 commented on #14986
Yes @saurass, I had seen that already but see
![Screenshot 2019-04-24 at 9 25 38 PM](https://user-images.githubusercontent.com/43112279/56674389-95477200-66d7-11e9-82ab-6bb9d6ccf9ea.png)
As far as I see, this second $value .= '.00000' has been added by mistake and thus needs to be removed, because it has to happen based on some particular condition as written above it. Removing this line I think w

[2019-04-24 16:03] kartik1000 commented on #14986
@saurass, I am working on it and will let u know once I find the required solution :)

[2019-04-24 16:04] saurass commented on #14986
Yes it seems useless over here.

Let's get this worked out : )

[2019-04-24 16:12] kartik1000 commented on #14986
Hey, I made the changes on my system, removing `.00000` infact from the first `$value` which is if statement will do the required task and also yes you were right it had been made intentionally(you can see in comments above that code) but I think it could have been to maintain some form of compatibility in SQL Code at that time, but is useless now.

[2019-04-24 16:12] AghaSaad04 commented on #14986
@saurass and @kartik1000, yeah you guys are right, tailing .00000 after the function is useless, I think we should remove quotes and these tailing .00000,  What do you say @williamdes ?

[2019-04-24 16:15] williamdes commented on #14986
@AghaSaad04 and everyone, I agree
I had some issues with the trailing `.00000` when inserting dates

Ref: #582
Ref: b495061cdf01a63d43f521a75ad184e9d8b82e2d

[2019-04-24 22:03] jtl999 commented on #13822
Alas I'm not running OS X anymore so this issue "doesn't" affect me anymore, but if someone else can reproduce I feel like it should be reopened.

[2019-04-24 22:03] #13822 closed

[2019-04-25 01:29] Titeflafla commented on #14826
Hello same error on my server after upgrade on 4.8.5, ok after install php7.0-bz2 all is good :)

[2019-04-25 07:37] OlafvdSpek commented on #13575
At least `To convert existing data, it is suggested to use the column(s) editing feature (the "Change" Link) on the table structure page.` should be improved.

[2019-04-25 08:48] tonyroberts opened #15224 "Shortcuts make entering text impossible on mobile browsers"
### Describe the bug

When trying to type a SQL query in a mobile browser (specifically, Safari or Chrome on an iPad), the keyboard shortcuts always fire. For example, if you select the SQL editor and start typing ‘select’, the first ‘s’ brings up the settings menu.

### To Reproduce

Steps to reproduce the behavior:
1. Use the mobile versions of Safari or Chrome on an iPad
2. Go to the SQL tab
3.

[2019-04-25 08:58] williamdes commented on #15224
Seem to be a duplicate of #14711 but with a great description :smile:

[2019-04-25 09:33] ftrotter opened #15225 "Using Command+Click to open in new tab does not work (Firefox/Safari)"
### Describe the bug

When clicking a table in the database/table tree (on the left side of the web interface) will open that tables "browse" interface (sql.php).

Clicking the same link with the command key (Ctrl on windows) SHOULD result in this same page opening in a new tab. Instead, the table is opened in the current web-browser tab.

On OSX, this impacts both safari and firefox. But Chrome w

[2019-04-25 10:06] williamdes commented on #14711
Duplicate of #15224

[2019-04-25 10:07] williamdes commented on #14711
I flagged this one as a duplicate, because it has a poor description.

[2019-04-25 10:08] williamdes commented on #15224
Reproduced on chrome, when typing multiple times 's' or 'S' in the sql query box

[2019-04-25 11:59] williamdes commented on #15221
Hello @Gegetz we are not responsible for this issue, sorry.
We do not offer support for hosting issues, contact your hosting provider.
If you have an issue with some phpMyAdmin functionality please open another issue ;)

[2019-04-25 11:59] #15221 closed

[2019-04-25 17:03] williamdes commented on #15001
@ibennetch ?

[2019-04-25 17:26] #15166 closed

[2019-04-25 17:40] #15038 closed

[2019-04-25 17:40] #14460 closed

[2019-04-25 17:40] #15219 closed

[2019-04-25 19:36] shrimpwagon opened #15227 "The pencil icon looks phallic"
I'm being totally serious. The edit pencil icon looks strange. Looks phallic.

[2019-04-25 20:05] williamdes commented on #14395
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |d.getTime is not a function
 Exception Type |js
 phpMyAdmin version |4.8.6-dev
 Incident count | 18
 Link | [Report#57276](https://reports.phpmyadmin.net/reports/view/57276)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-04-25 21:05] LaurianoElmiroDuarte commented on #15213
solved problem,
thanks

[2019-04-25 22:10] williamdes commented on #14395
The issue in code is that the data is not well built

Another issue is trying to hover the labels, but this is due to the incorrect data.

### Well built
https://github.com/phpmyadmin/phpmyadmin/blob/3a00dd69a5655f700a2e379b453e851124dcdce9/js/tbl_chart.js#L81-L115

### Build without setting as date

https://github.com/phpmyadmin/phpmyadmin/blob/3a00dd69a5655f700a2e379b453e851124dcdce9/js/tbl_char

[2019-04-25 22:11] williamdes commented on #14395
If someone can find a fix for this issue

@AghaSaad04 or @saurass if you want and have time ;)

[2019-04-25 22:19] williamdes commented on #14986
I think that I will merge #15226 and #15223

[2019-04-26 00:35] saurass commented on #14395
Sure, working on it

[2019-04-26 06:39] AghaSaad04 commented on #14395
yeah sure @williamdes, I will look into this :)

[2019-04-26 09:54] williamdes commented on #15154
Wow I found an awesome tool ! (https://uilicious.com)
https://snippet.uilicious.com/embed/test/private/Qop4fWQSwkU1HfozatWMsu?step=1&autoplay=1

[code]

[2019-04-26 12:40] williamdes commented on #15154
A create, upload file, delete database, logout scenario
https://snippet.uilicious.com/embed/test/private/MVg649HDSc2YcoH5hhxdf8?step=1&autoplay=1

[2019-04-26 14:03] williamdes opened #15228 "Notice - Undefined index: foreign_keys_data"
Undefined index: foreign_keys_data

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: foreign_keys_data
 Exception Type |php
 phpMyAdmin version |4.8.3
 Incident count | 880
 Link | [Report#57108](https://reports.phpmyadmin.net/reports/view/57108)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpm

[2019-04-26 14:09] williamdes opened #15229 "Notice - Undefined index: strPrivDescDelete versioning rowsTbl"
Undefined index: strPrivDescDelete versioning rowsTbl

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: strPrivDescDelete versioning rowsTbl
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 36
 Link | [Report#56928](https://reports.phpmyadmin.net/reports/view/56928)

*This comment is posted automatically by phpMyAdmin's [error-r

[2019-04-26 14:14] williamdes commented on #15228
When using designer on a db that we have partial access
``GRANT SELECT (idUser) ON `adatabase`.`Users` TO 'db1'@'%'``

[2019-04-26 14:15] williamdes commented on #15229
When editing a table row permission in the users UI

Users permission:
``GRANT SELECT (idUser) ON `adatabase`.`Users` TO 'db1'@'%'``

[2019-04-26 14:29] williamdes commented on #15127
Demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

@imdhruvgupta
- Go to any database, do to designer, then **reload the page using <kbd>F5</kbd>** and chose reload in the designer left bar
OR
- Go to any database, do to designer, then **reload the page using <kbd>F5</kbd>** and navigate to structure

[2019-04-26 22:24] williamdes commented on #15229
Currently working on a fix to integrate in 4.8.6 release

[2019-04-27 01:41] #15196 closed

[2019-04-27 09:05] direc85 commented on #14777
Ubuntu 18.04 uses PHPMyAdmin version 4.6.6, which has this issue, and it has been filed already:

https://bugs.launchpad.net/ubuntu/+source/phpmyadmin/+bug/1779969

Please add some heat to it, so it gets fixed. Thanks!

[2019-04-27 09:36] williamdes commented on #14777
@direc85 phpmyadmin 4.6.6 is not supported anymore, but we can not update the Ubuntu packages

[2019-04-27 10:04] direc85 commented on #14777
@williamdes Sorry, I meant that heat should be added to the Ubuntu bug tracker, not here, because obviously Ubuntu uses ancient version.

Already created and submitted a patch in another, more popular bug over there :)

[2019-04-27 10:09] williamdes commented on #14777
@direc85 No problem, no not hesitate to report issues here ;)

[2019-04-27 10:56] ibennetch commented on #14777
I believe the Ubuntu package currently has no maintainer and is scheduled for removal. It probably makes more sense regardless to installing your own (either manually or through some automated Docker or Composer process) because of the lengthy release cycle that can come from the packaged versions.

[2019-04-27 11:46] direc85 commented on #14777
I think you are right; even in fresh Ubuntu 19.04 Disco Dingo the version is still 4.6.6-5, so it really hasn't been updated. Something needs to be done about it....

[2019-04-27 14:48] ibennetch commented on #14777
Unfortunately, IIRC, the "something" in this case was the former
package maintainer announcing that he would not be maintaining it
going forward. I've never maintained a package before so I'm not sure
about the process for us to official take over, either.

[2019-04-27 17:19] #12900 closed

[2019-04-27 17:19] #15228 closed

[2019-04-27 17:19] #15229 closed

[2019-04-27 21:30] williamdes commented on #13178
https://github.com/williamdes/mariadb-mysql-kbs/blob/master/dist/merged-raw.md#lower_case_table_names

https://mariadb.com/kb/en/library/server-system-variables/#lower_case_table_names
[code]

https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_lower_case_table_names
[code]

[2019-04-27 21:34] williamdes commented on #13304
@Gemorroj @cersos Can you have a try with the latest version, I can not reproduce this issue
Did I miss a step ?

[2019-04-27 22:04] williamdes commented on #14908
Fixed by 2a4729c18ea8d04fc29db61b5c20d8d129b7708b
I missed the issue when creating the fix and the initial changelog entry

[2019-04-27 22:27] williamdes commented on #14938
Duplicate of #14800

[2019-04-27 22:31] williamdes commented on #14833
Fixed by 60564b5d923a371cf8a15ec34d010d4574f1dfbc

[2019-04-27 22:31] #14833 closed

[2019-04-27 22:32] williamdes commented on #14920
Fixed by 60564b5d923a371cf8a15ec34d010d4574f1dfbc

[2019-04-27 22:32] #14920 closed

[2019-04-27 22:32] williamdes commented on #14938
Fixed by 60564b5d923a371cf8a15ec34d010d4574f1dfbc

[2019-04-27 22:32] #14938 closed

[2019-04-27 23:01] #14527 closed

[2019-04-27 23:01] #14800 closed

[2019-04-27 23:01] #14908 closed

[2019-04-27 23:03] williamdes commented on #14082
@DoctorSubtilis Is this issue still accurate ?

[2019-04-28 12:00] OlafvdSpek opened #15230 "Column misalignment"
[code]

https://demo.phpmyadmin.net/master-config/tbl_sql.php?db=sakila&table=actor

![pma](https://user-images.githubusercontent.com/2218936/56864024-f57f3200-69bd-11e9-8375-2581551a04ed.PNG)

[2019-04-28 12:01] williamdes commented on #15230
Confirmed !

[2019-04-28 12:05] williamdes commented on #15230
@OlafvdSpek can you please send steps to reproduce ?
I had this issue bu can not reproduce it ..

[2019-04-28 13:12] OlafvdSpek commented on #15230
Click link, execute query, profit?

[2019-04-28 15:41] williamdes commented on #15230
@OlafvdSpek thanks
To reproduce you need to use the profiling feature.

[2019-04-28 18:14] teo1978 commented on #13062
So is this fixed or what?? This has been closed without any comment mentioning it being fixed. The commits linked in the last commit contain a mention to this issue (literally "Issue XXX") with no explanation whatsoever.

I am experiencing this issue with 4.2.12deb2+deb8u5 which is the version I get with apt-get on debian 8.11.

I would install the latest version if the installation instructions w

[2019-04-28 18:18] williamdes commented on #13062
@teo1978 You can install latest version on our website and unzip the file on your web directory and you are ready to use phpMyAdmin !
https://www.phpmyadmin.net/downloads/

You will maybe need to copy `config.inc.php` from the phpMyAdmin installed by Debian

We do not manage Debian/Ubuntu packages, this is why they are outdated versions of phpMyAdmin out there ..

[2019-04-28 18:28] #14401 closed

[2019-04-28 18:28] #14982 closed

[2019-04-28 18:28] #15146 closed

[2019-04-28 18:28] #15205 closed

[2019-04-28 18:29] kartik1000 commented on #15146
Sorry @williamdes, couldn't work on this one :(

[2019-04-28 18:31] williamdes commented on #15146
No problem @kartik1000 this one is not very funny to solve :)

[2019-04-28 18:43] williamdes commented on #15060
Could not reproduce..

[2019-04-28 18:43] #15060 closed

[2019-04-28 18:58] antonioaltamura commented on #14220
The built-in PHP version in MacOS mojave is PHP 7.1.23 (I installed mysql  Ver 8.0.15 )
So what's the current preferred way to run phpMyAdmin?

[2019-04-28 19:34] williamdes commented on #13178
Fixed by ca3f027f7e714df46865d8e8393d94ff535a957d :tada:

[2019-04-29 09:21] teo1978 opened #15231 "tmp dir not created on install"
### Describe the bug

I installed phpmyadmin using composer following the instructions in the official documentation.

When I started using it, I would systematically get this warning at the bottom of every page:

I thought the directory `tmp` in phpmyadmin's directory didn't have the proper permissions, but to my surprise, the directory didn't even exist.

### To Reproduce

Steps to reproduce the

[2019-04-29 11:21] SugarD-x commented on #14220
You'll have to use the workaround for mysql_native_password in the mean time.

[2019-04-29 14:15] frobinsonj opened #15232 "The padding for query result tool links is not even."
### Describe the bug
A very minor issue:
The padding for query result tool links is not even.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/sql.php?db=phpmyadmin&table=pma__bookmark&pos=0
2. See the query result tool links

### Screenshots
![chrome_2019-04-29_15-03-58](https://user-images.githubusercontent.com/16726902/56901645-8c1c2380-6a90

[2019-04-29 15:31] williamdes commented on #14755
Seems to be solved.

[2019-04-29 15:31] #14755 closed

[2019-04-29 17:41] sleeksorrow commented on #14433
The issue is still there using phpMyAdmin-4.8.5. Root user is not allowed to add users.

- MariaDB 10.1.38
- Ubuntu 18.04.1
- Login as root on localhost with password

[code]

Setting "$cfg['Servers'][$i]['DisableIS'] = true;" enables creation of new users, but then I do not see all databases anymore. They are still there and applications can use them, they are just not shown in phpMyAdmin. So I n

[2019-04-29 17:59] williamdes commented on #5950
Opened 9 years ago, closing since no one cares anymore.
A new issue should be opened and reference this one if needed.

[2019-04-29 17:59] #5950 closed

[2019-04-29 18:06] williamdes commented on #14002
Duplicate of #14363

[2019-04-29 18:06] #14002 closed

[2019-04-29 20:24] Drakar2007 commented on #14363
For reference this issue seems to be the same as #14596 and #14270.  This issue just hit our environments a few months ago and it's starting to become a real pain.

[2019-04-29 20:27] Drakar2007 commented on #15225
The difference with respect to 14270 (and its few duplicates including #14363) is that right-click and open on foreign keys used to work (*recently*), and as far as I've seen CTRL+click has never really worked; i've gotten used to right-clicking and selecting "open in new tab", which of course is now broken as mentioned in those other tickets.

[2019-04-29 21:06] williamdes commented on #14614
Found the solution on https://community-auth.com/blog-posts/commands-out-of-sync-error-when-using-stored-procedures

Fixed by 42a4fbbcc6c0e58e0abe6be2e2d4c9950b018271

[2019-04-30 07:53] connai opened #15235 "a"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operat

[2019-04-30 12:02] williamdes commented on #15235
@connai It seems like you did not fill the form correctly, you can edit the issue to fix that.
If you do not edit this issue I will have to close it.

[2019-04-30 12:17] Ninos opened #15236 "Own Debian repository"
Hey there,

since some months the phpmyadmin package for debian stretch is not updated, so it's still vulnerable for CVE-2018-19968:
https://security-tracker.debian.org/tracker/CVE-2018-19968

Because of that I recommend using an own repository for phpmyadmin packages. Any plans for that? :-)

[2019-04-30 19:31] nijel commented on #15236
The Debian package was originally maintained by me and there used to be a PPA with recent packages. I don't have the time for that and nobody was willing to help (https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=879741 was filed one and half year ago), so I've given up and dropped the PPA (see https://twitter.com/mcihar/status/1103290188938264576).

There is https://salsa.debian.org/phpmyadmin-te

[2019-05-01 01:43] mauriciofauth commented on #15236
I'm interested in helping with maintenance of the Debian package. I've been wanting to do this for a while, but I always end up leaving that aside.

Is it interesting for us to have a `debian` repository? The same way we have for docker and composer.

[2019-05-01 02:26] ibennetch commented on #15236
Having our own repository would allow us to offer better updates than the
Debian hierarchy allows, but we'd have to be careful about dependency
versions (for instance, if we no longer support MySQL prior to version 8,
but most Debian repositories only contain version 5.7). I'm neutral on this
idea, I'm not really in favor or against it.

[2019-05-01 04:56] #13178 closed

[2019-05-01 05:51] nijel commented on #15236
There are repositories to bring recent PHP or MariaDB versions on Debian, those people would use having recent phpMyAdmin as well. For example see https://github.com/oerdnj/deb.sury.org/issues/1131

The reason for having own repo is that Debian Buster will ship without phpMyAdmin and people will look for installing it there. The alternative approach might be to introduce it there through backports

[2019-05-01 09:52] #15235 closed

[2019-05-01 10:00] williamdes commented on #14992
[code]

[2019-05-01 10:09] williamdes commented on #14992
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: microhistory
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 704
 Link | [Report#56389](https://reports.phpmyadmin.net/reports/view/56389)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-05-01 13:26] williamdes commented on #13856
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot set property 'inline' of undefined
 Exception Type |js
 phpMyAdmin version |4.7.3
 Incident count | 22
 Link | [Report#37496](https://reports.phpmyadmin.net/reports/view/37496)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-05-01 15:53] #12865 closed

[2019-05-01 15:53] #14383 closed

[2019-05-01 15:53] #15059 closed

[2019-05-01 15:53] #14614 closed

[2019-05-01 15:53] #14992 closed

[2019-05-01 18:15] #14890 closed

[2019-05-01 20:40] williamdes opened #15237 "[UI] Alignment on login form since merge or #15178"
### Bug

![image](https://user-images.githubusercontent.com/7784660/57041101-b6710b00-6c61-11e9-9d68-8f0f018476fd.png)

![image](https://user-images.githubusercontent.com/7784660/57041162-de606e80-6c61-11e9-82de-463e5f925553.png)

![image](https://user-images.githubusercontent.com/7784660/57041186-ee784e00-6c61-11e9-8477-655fadfd8a09.png)

### Before
![before](https://user-images.githubusercontent

[2019-05-01 20:40] williamdes commented on #15237
@ibennetch We can not release 4.8.6 before this issue is fixed.

[2019-05-01 20:42] williamdes commented on #15237
@murex971 Can you please find a fix (if I did not find one before you see this message) ?

[2019-05-02 08:42] kegus opened #15238 "phpMyAdmin 4.8.5 doesn't show privileges of procedures (raw html displayed instead)"
### Describe the bug

I'm trying to edit users privileges of procedures. But it doesn't show them. Instead of it I see code of the page instead of the page:

Routine
<h2> <span class="nowrap"><img src="themes/dot.gif" title="" alt="" class="icon ic_b_usredit" />&nbsp;</span>Edit privileges: User account <i><a class="edit_user_anchor" href="server_privileges.php?username=erp_integration&amp;hostnam

[2019-05-02 10:10] williamdes commented on #15238
Hi @kegus, this issue is not fixed and will be part of the next release (4.8.6)

[2019-05-02 10:16] #15238 closed

[2019-05-02 12:30] Ninos commented on #15236
For such applications an own repository makes sense, because of faster releasing of new versions. phpmyadmin is non-critical for the system and normally can be updated to newest stable releases. Gitlab is also another good example for having an own repository.

[2019-05-02 18:48] williamdes commented on #15237
Thanks so much to the person who wrote this answer on StackOverflow https://stackoverflow.com/a/9686575/5155484 !

[2019-05-02 19:00] #15237 closed

[2019-05-02 20:28] williamdes commented on #14301
@Gethin0321 @sharifzadesina or someone else, can you send me detailed steps to reproduce this issue ?
I can not reproduce this issue and I was trying to reproduce it in order to make a fix.

[2019-05-02 20:37] williamdes commented on #15175
The `ajax.php` file was missing.

[2019-05-02 20:37] #15175 closed

[2019-05-02 21:00] williamdes commented on #15012
This is an encoding issue, the server is in latin1 so it sends error messages encoded in latin1

[code]

[2019-05-02 21:40] williamdes commented on #13726
@juokelis I can not reproduce this issue, can you help ?

[2019-05-02 21:48] lancemitchell commented on #14301
Hello @williamdes, I have created a table called "canpis" in a database called "JSONTEST" on the Demo server "demo.phpmyadmin.net". View table using the following URL

[JSONTEST Error Demo](https://demo.phpmyadmin.net/master/sql.php?db=JSONTEST&table=canpis&pos=0)

To reproduce the issue, simply attempt to edit the JSON by double-clicking the "conf" column

![image](https://user-images.githubuserc

[2019-05-02 22:05] williamdes commented on #14301
@lancemitchell Can you please paste an export on Github of the database since the demo servers get reset quite frequently..
Thanks for helping!

I will have a look tomorrow (UTC+2)
Time to sleep ⌚

[2019-05-02 22:10] lancemitchell commented on #14301
Here is an import file of the "canpis" table that you can import into a database of your choosing
[canpis.zip](https://github.com/phpmyadmin/phpmyadmin/files/3140138/canpis.zip)

Regards

[2019-05-03 05:39] juokelis commented on #13726
Hi, I still have while doing same steps on 4.8.5. Percona Server version 5.7.19, PHP version 7.2.13
![image](https://user-images.githubusercontent.com/16439100/57121246-dc400200-6d7e-11e9-9cf3-b3f30843cb4f.png)
How can I help you reproduce ?

[2019-05-03 06:19] juokelis commented on #13726
Just checked on clean installation, with default config. Still the same on Percona 5.7, But works without issues on MySQL 5.5. Could be and particular server. Testing further.

[2019-05-03 06:37] williamdes commented on #13726
@juokelis Thanks for the debugging, I will have a try soon!

[2019-05-03 07:52] williamdes commented on #13370
Could not reproduce this issue

[2019-05-03 08:04] williamdes commented on #14300
Thanks for the video @bs-thomas!

[2019-05-03 15:57] #14958 closed

[2019-05-04 07:06] williamdes commented on #13726
@juokelis Reproduced on Percona Server `5.7.25-28 - Percona Server (GPL), Release 28, Revision c335905`

[2019-05-04 07:21] williamdes commented on #13726
Until I fix this issue, you can click once more on 'Go' and it will execute sucessfully.

[2019-05-04 08:03] juokelis commented on #13726
Actually it executes first time too. Without passowrd and any database or table, column permissions. After second time database, table, colums permissions is copied, but still not password.
Less work to copy only password though, thanks for that :)

[2019-05-04 08:05] williamdes commented on #13726
@juokelis can you apply my patch https://github.com/williamdes/phpmyadmintest/commit/49874c4e2830d98f119a8d04b4149af6869b5a42 that will be included on the next version of phpMyAdmin

[2019-05-04 08:45] juokelis commented on #13726
It does not give error. Does not copy password though on Percona 5.7. Does copy everything (and password) on MySQL 5.5.
![image](https://user-images.githubusercontent.com/16439100/57176547-f3a3eb80-6e61-11e9-9a40-2946e1e18f31.png)

[2019-05-04 08:48] williamdes commented on #13726
@juokelis Okay, thanks for reporting, fixing that now ;)

[2019-05-04 09:05] williamdes commented on #13726
@juokelis Fixed by 3027f0ef493e39c8a7a82c6be7cc49331fb0841a
Can you confirm ?

[2019-05-04 09:16] juokelis commented on #13726
Yes I can! Thank you very much! :)

[2019-05-04 11:00] williamdes opened #15239 "TypeError - "Cannot read property 'textContent' of undefined" while fetch latest version info"
Cannot read property 'textContent' of undefined

Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'textContent' of undefined
 Exception Type |js
 phpMyAdmin version |4.8.6-dev
 Incident count | 198
 Link | [Report#57393](https://reports.phpmyadmin.net/reports/view/57393)

*This comment is posted automatically by phpMyAdmin's [error-report

[2019-05-04 11:04] williamdes commented on #15239
This issue occurs in some strange cases where you will quickly switch from the homepage to another page

[2019-05-04 11:23] williamdes commented on #15239
![pma 7 1 local-_-percona-db-5 7-_config_-_-phpMyAdmin-4 8 6-dev](https://user-images.githubusercontent.com/7784660/57178408-be9e9580-6e6f-11e9-9f5b-00a6f84fb766.gif)

[2019-05-04 11:25] williamdes commented on #15239
I posted a GIF (video) that show how to reproduce.
You can see it is difficult to reproduce.

- Reload home page with <kbd>F5</kbd>
- Quickly click on "Databases" while the latest version of being fetched from the phpMyAdmin API

[2019-05-04 12:15] williamdes commented on #14301
Thanks @lancemitchell
I know why I was not reproducing this issue, I was using MariaDB
This issue occurs on MySQL and PerconaDB

[2019-05-04 12:33] williamdes commented on #14699
Duplicate of #14301

[2019-05-04 12:33] williamdes commented on #14699
Thanks for reporting this issue !

[2019-05-04 12:39] williamdes commented on #14301
This issue is now fixed and will be part of the next release
You can apply the patch 821dce6c804ab01239eb12bf5dd35c9ca181e454 locally and report if you still have an issue before we release 4.8.6 :)

[2019-05-04 12:39] williamdes commented on #14699
This issue is now fixed and will be part of the next release
You can apply the patch 821dce6c804ab01239eb12bf5dd35c9ca181e454 locally and report if you still have an issue before we release 4.8.6 :)

[2019-05-04 12:41] sharifzadesina commented on #14301
At least :)
Thank you.

[2019-05-04 12:42] #13726 closed

[2019-05-04 12:42] #14301 closed

[2019-05-04 12:42] #14699 closed

[2019-05-04 12:42] #15239 closed

[2019-05-04 12:48] lloricode commented on #14699
ok i will check this

Thanks

[2019-05-04 12:54] williamdes commented on #14808
@OlafvdSpek I can not reproduce this issue, please help.

[2019-05-04 13:04] williamdes opened #15240 "Apply a Settings form with errors shows a JSON response after using return back"
htmlspecialchars() expects parameter 1 to be string, array given

#11505 is back !

Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |htmlspecialchars() expects parameter 1 to be string, array given
 Exception Type |php
 phpMyAdmin version |4.8.6-dev
 Incident count | 20
 Link | [Report#57394](https://reports.phpmyadmin.net/reports/view/57394)

*This comment is

[2019-05-04 13:07] williamdes commented on #15240
Steps:
- Go to Settings
- Go to Features
- Go to Text fields
- Enter `-12` into `CHAR textarea columns` and hit <kbd>enter</kbd>
- You will see a JSON page (yes, another bug)
- Go back
- Focus `CHAR textarea columns` and hit <kbd>enter</kbd>

[2019-05-04 14:49] VishwaJay commented on #14433
I just started having it happen, and 'DisableIS' allowed user creation, but some of my schemas disappeared in the list (command line says they're still there, though).
Also: wondering if this might be related to the PMA service schema, since this didn't really show up until I enabled that. But after enabling, there was a single entry in the entire PMA schema in the pma__recent schema:
`[{"db":"php

[2019-05-04 16:08] #15037 closed

[2019-05-04 16:08] #15043 closed

[2019-05-04 16:08] #15240 closed

[2019-05-04 16:11] williamdes commented on #15033
Is this fixed by the merge of #15054 as 8e20d8cf25ac568ee1b74072a94b4bcb493791cf ?

[2019-05-04 16:20] williamdes commented on #13753
Also on sql.php page
- https://demo.phpmyadmin.net/QA_4_8/sql.php?db=sakila&table=actoraa&pos=0
- https://demo.phpmyadmin.net/master-config/sql.php?db=sakila&table=actoraa&pos=0

[2019-05-04 16:24] williamdes commented on #15239
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |version_info is undefined
 Exception Type |js
 phpMyAdmin version |4.8.6-dev
 Incident count | 32
 Link | [Report#56427](https://reports.phpmyadmin.net/reports/view/56427)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-05-04 17:48] williamdes commented on #13854
@mvorisek Does this issue still exist ?

[2019-05-04 17:52] #14927 closed

[2019-05-04 17:56] ErikKrause opened #15242 "Allow for tables and views in same branch in navigation tree view"
At the moment if there are views in a database I need to first open the database branch, then open either tables or views branch in navigation any time I want to navigate to either. That'S tedious and unnecessary.

Would be nice and better UI if there would be an option to display both tables and views directly under the database name like this was the case in older versions.

- phpMyAdmin version

[2019-05-04 18:03] williamdes commented on #14086
See #14720 for now

[2019-05-04 18:03] williamdes commented on #14720
Issue #14086 wants them

[2019-05-04 18:06] williamdes commented on #14358
See #15224

[2019-05-04 18:10] williamdes commented on #13912
@aavinseth Can you confirm having this issue on latest version of phpMyAdmin ?

[2019-05-04 18:13] williamdes commented on #13915
Reminds me of #14295 fixed by #14354

[2019-05-04 18:14] williamdes commented on #13915
@formerandroider Can you confirm that you still have this issue ?

[2019-05-04 18:15] formerandroider commented on #13915
Ah, no. I think it was a strange nginx configuration issue. I can’t remember which one, though.

[2019-05-04 18:15] #13915 closed

[2019-05-04 18:31] #15157 closed

[2019-05-04 18:38] williamdes commented on #12906
@rutkas Can you still reproduce this issue ?

[2019-05-04 18:42] williamdes commented on #13203
@marksagal Can you send a test file ?

[2019-05-04 20:04] mauriciofauth commented on #14934
Closed in #14993

[2019-05-04 20:04] #14934 closed

[2019-05-04 20:17] williamdes commented on #12842
@rich06 I could not find this feature on phpMyAdmin `3.5.3`
Please make a video of find a version that had this feature

[2019-05-04 20:26] williamdes commented on #14252
Can someone help me reproduce this issue, I can not reproduce it

[2019-05-04 20:47] williamdes commented on #13459
Could not reproduce on 4.8.6-dev
![image](https://user-images.githubusercontent.com/7784660/57184632-79ee1b00-6ebe-11e9-9536-2869dd6cdb85.png)

[2019-05-04 20:50] williamdes commented on #14597
@AdamReece-WebBox Can you help me reproduce this issue ?
Can you send me the data (as hex ?) ?

[2019-05-04 21:08] williamdes commented on #13001
Hi everyone, is this issue still up to date ?

[2019-05-04 21:23] williamdes commented on #14871
@Enurhe Seems like I could not reproduce this issue
See: https://en.wikipedia.org/wiki/List_of_file_signatures
My ODS export file begins with the expected signature
[code]

[2019-05-05 01:37] mauriciofauth commented on #15042
That's a good idea, but I don't know if applying this only to the logo is a good idea.
This can cause some confusion if only one of the settings has real-time changes and the other settings do not.
I think it would be more interesting that all settings take immediate effect rather than just a few.

[2019-05-05 01:39] ibennetch commented on #15042
I agree with @mauriciofauth, this change wouldn't be consistent with the existing behavior. I'd say at this point this isn't worth implementing.

[2019-05-05 02:00] #15072 closed

[2019-05-05 02:04] mauriciofauth commented on #15072
I merged #15114, which adds the _Close_ button to the _Monitor Instructions_ modal.

[2019-05-05 06:20] rutkas commented on #12906
Can not reproduce now in 4.8.5, it may be fixed, or depends on PHP/mysql version, because I'm using 7.2 now and mysql 5.7.

[2019-05-05 08:04] AghaSaad04 commented on #15072
Okay great @mauriciofauth 👍

[2019-05-05 08:11] williamdes commented on #15176
@agmikhailov Can you still reproduce this issue?

[2019-05-05 08:21] williamdes commented on #15008
#14994 is merged, is this issue solved?

[2019-05-05 08:23] DoctorSubtilis commented on #15008
I will check soon, thank you!
--
Inviato dal mio dispositivo Android con K-9 Mail.

On May 5, 2019 10:21:28 AM GMT+02:00, William Desportes <notifications@github.com> wrote:

[2019-05-05 08:26] williamdes commented on #14004
@mcmuffindk Can you still reproduce this issue on latest version of phpmyadmin?

[2019-05-05 08:27] williamdes commented on #14077
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-05 08:27] #14077 closed

[2019-05-05 08:34] williamdes commented on #14776
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-05 08:34] #14776 closed

[2019-05-05 08:37] williamdes commented on #15013
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-05 08:37] #15013 closed

[2019-05-05 08:39] williamdes commented on #14778
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-05 08:39] #14778 closed

[2019-05-05 08:41] williamdes commented on #15213
Seems like it is solved, comment if you need more help

[2019-05-05 08:41] #15213 closed

[2019-05-05 08:43] williamdes commented on #14827
@priodchen Can you send more details on how you want this to be implemented

[2019-05-05 09:12] williamdes commented on #12593
Google+ when down, closing :)

[2019-05-05 09:12] #12593 closed

[2019-05-05 09:24] williamdes commented on #15015
@ibennetch Any updates on this issue?

[2019-05-05 10:21] aavinseth commented on #13912
@williamdes i have not checked it in new version yet. Will let you know soon about the same.

[2019-05-05 11:02] williamdes opened #15247 "[Discussion] Remove defined('TESTSUITE') from codebase"
### We can do better than that

- Remove all hacks `if (defined('TESTSUITE'))`
- Implement a session handling system for the testsuite

Please post your thoughts on why we could not remove `defined('TESTSUITE')`

[2019-05-05 11:14] mauriciofauth commented on #15247
I agree with you. We can definitely find a solution that doesn't require this constant.

[2019-05-05 12:07] williamdes commented on #15247
Needs to be keeped or detected for `ErrorHandler.php` & `Config.php` and `DatabaseInterface.php` for `DbiDummy`

[2019-05-05 13:46] dddns commented on #14967
hi @mauriciofauth ,

No pressure, just a question, any idea when 4.8.6 will be out?

[2019-05-05 16:01] vladyslavstartsev commented on #14220
@antonioaltamura you can run phpmyadmin on MacOS via Docker

[2019-05-05 16:11] stratege1401 commented on #14511
Hi,

usually, best practice for 2FA is to provide a list of emergency codes.

Bye.

[2019-05-05 16:22] williamdes commented on #14967
cc @ibennetch

[2019-05-05 18:49] dysback opened #15249 "Spinner after logout"
### Describe the bug

In case of inactivity pma logouts user.
Strange yellow spinner appears on login screen. See attched image

### To Reproduce

Steps to reproduce the behavior:
1. Log in to pma
2. Be inactive more than 30 minutes
3. See error

### Expected behavior

Logout without spinner

### Screenshots

![Screenshot from 2019-05-05 20-40-21](https://user-images.githubusercontent.com/1359937/

[2019-05-05 18:54] williamdes commented on #15249
Thanks for reporting @dysback !
I can confirm :)

[2019-05-05 19:10] williamdes commented on #15249
My first thought is #14313

[2019-05-05 19:26] williamdes commented on #15249
The spinner is because a javascript error has been thrown
- Tries to get the error report policy from the server
- Server sends a failure
- Show the error message ("\n \n") in the yellow bow

[2019-05-06 07:02] williamdes opened #15250 "Support SYSTEM_USER grant"
### Describe the bug

[code]

See: https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html#priv_system-user
See: https://mysqlserverteam.com/the-system_user-dynamic-privilege/

[2019-05-06 23:49] msteiglitz commented on #11909
This bug has returned and is present in version 4.8.5.

[2019-05-07 05:31] lloricode commented on #14699
@williamdes I check, it already fixed

Thanks @williamdes

[2019-05-07 07:19] williamdes commented on #11909
@msteiglitz I think this issue is fixed by #14853 with 47fe92099be1be02584d4464e92c641e60437696

[2019-05-07 07:35] AdamReece-WebBox commented on #14597
I definitely don't have the corrupted data from last August sorry. Can't remember which WordPress website it was for but I definitely remember doing a find/replace on the "wp_options" table to strip out the NULL characters.

I'm not even sure how they got in there in the first place, but that will be an issue with WordPress or a plug-in for it. (Not phpMyAdmin's fault that it got there, it just ge

[2019-05-07 07:44] williamdes commented on #14597
@AdamReece-WebBox Okay, so do you consider this issue as closed ?

[2019-05-07 07:48] williamdes opened #15251 "SQL queries > affected lines > -1 > does not show as error"
### Describe the bug

![image](https://user-images.githubusercontent.com/7784660/57282290-04946d00-70ad-11e9-8996-54442646e6f9.png)

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'SQL'
2. Execute
[code]
3. See line as success, affected lines as -1 and the error below

### Expected behavior

Show as error as in 4.7.7
![image](https://user-images.githubusercontent.com/7784660/57282356-

[2019-05-07 07:48] AdamReece-WebBox commented on #14597
The issue probably still exists, but considering nobody else has complained it was likely a one off. I certainly haven't had the problem again since the first time, so it's fair to close it for now.

[2019-05-07 07:48] #14597 closed

[2019-05-07 08:04] williamdes commented on #15251
Seems to have been introduced by 4e01371cd251a0f30b26540f22bbda3ea80945fe

[2019-05-07 08:06] williamdes commented on #15251
Occurs only when using `$cfg['DBG']['sql'] = true;`

[2019-05-07 08:38] #15251 closed

[2019-05-07 10:43] williamdes commented on #14588
@CharlieEtienne This is now fixed by 7f454ac5908e9fb6eb5c90e3a22c4da38b5266d3 and will part of the next version of phpMyAdmin (4.8.6)

[2019-05-07 11:20] williamdes commented on #14588
[code]

[2019-05-07 11:52] #14588 closed

[2019-05-07 19:30] rwhirn opened #15252 "Failed to get description of column"
### Describe the bug

Suddenly I can no longer change any columns in any table in any database on my server

### To Reproduce

Steps to reproduce the behavior:
1. Go to Structure on any table
2. Click on Change on any field in table
3. "Change field" page loads
3. At top of page displays error message "Failed to get description of column" plus column name. Below are column headings for the page bu

[2019-05-07 19:36] williamdes commented on #15252
@rwhirn phpmyadmin 4.7 is not currently supported, can you please try on the latest version of phpmyadmin?

[2019-05-07 20:04] rwhirn commented on #15252
@williamdes It works with 4.8.5. Wondering if you know what caused this? It had been working for a long while. The only thing I can think of that I did differently was I did a couple "move column" on the table. Something I had never done before.

[2019-05-07 20:20] Zaczero commented on #14184
Same issue here.
No idea what may be causing it but I'll leave some details which may be useful for you guys.

* url is https://pma.zaczero.pl
* nginx is listening on https only
* using cloudflare proxy
* ubuntu 18.04.2
* using latest phpmyadmin build (github master branch)
* using latest php build (https://launchpad.net/~ondrej/+archive/ubuntu/php/)

`config.inc.php`
![](https://i.imgur.com/8TSq7

[2019-05-08 07:48] AdamReece-WebBox commented on #14433
The `DisableIS` option did not work for me on one of our VPSes.

If it's any use I found this to be caused by incorrect phpMyAdmin (SQL) configuration. Turned out that the user I had created for this did not have database privileges assigned. As I was signed in as a super user I manually added the database privileges via the table directly, flushed privileges via the CLI, re-logged into phpMyAdmin

[2019-05-08 07:53] williamdes commented on #14433
@AdamReece-WebBox And can you start a database server and recreate the issue from scratch ?
It would be awesome if you could help us reproduce this issue :)

[2019-05-08 08:15] AdamReece-WebBox commented on #14433
I can't remove/recreate the MySQL server from scratch as it's on one of our production VPSes (currently hosting a pretty highly visited client website), though I can verify on both this and other similarly built VPSes that simply denying the assigned PMA user privileges it needs to the assigned configuration database causes this, after flushing privileges and re-logging into PMA of course.

Perhap

[2019-05-08 14:51] marcomarsala opened #15261 "phpMyAdmin doesn't check the real value of max_input_vars"
### Describe the bug

phpMyAdmin inform the user that form submission will fail due to PHP max_input_vars default value, even if it was incremented in php.ini

![image](https://user-images.githubusercontent.com/5349718/57384381-ced8ac80-71b0-11e9-80e8-8302478fbdca.png)

### To Reproduce

Select many rows from the Show view and hit Copy.

Steps to reproduce the behavior:
1. Go to a table
2. Click o

[2019-05-08 16:37] sleeyax commented on #13573
Somehow this is still an issue 2 years later. Is this ever going to be fixed?

[2019-05-08 17:19] williamdes commented on #13573
@sleeyax Will have a look

[2019-05-08 21:18] jeromemnx commented on #13001
Hi, I have this issue on a fresh install (debian 9.9 / MariaDB 15.1 / phpmyadmin 4.6.6deb4).

[2019-05-08 23:01] sleeyax commented on #13573
On second thought this is actually not really an issue (anymore?), just confusing. Most web applications with drag and drop features add the file to the input field, just like when you hit the 'browse' button. But in phpmyadmin it directly runs the queries inside the sql file.

[2019-05-09 08:57] tdaget opened #15262 "Incorrect display of charset column : <dfn title="
### Describe the bug

In DB structure view where table list is displayed there is a column named "Charset" (last displayed column), given values are incorrectly shown.
Some xml code is displayed : `<dfn title="Unicode, case-insensitive">utf8`

Please take a look to provided screenshot.

### To Reproduce

Open phpmyadmin,
connect as root or any other user to a mysql/mariadb server,
take a look to t

[2019-05-09 13:03] achantinura commented on #14927
The fix should be easily be done by removing the IF function from the sql here https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/classes/DatabaseInterface.php#L937

[2019-05-09 13:35] jeromemnx commented on #13001
What can I do to help solving this issue ?

[2019-05-09 13:40] williamdes commented on #13001
@jeromemnx Can you apply #14993 on your local phpMyAdmin to see if it solved the issue ?

[2019-05-09 21:41] jeromemnx commented on #13001
Yes it solve the problem but it remove the readonly property also for databases where my user doesn't have insert right.

[2019-05-10 02:28] ibennetch opened #15263 "Missing auto_increment value in Operations tab"
A [Facebook](https://www.facebook.com/pmyadmin/posts/2281097491926832) user has reported an issue with phpMyAdmin 4.8.3, where a table that has an auto increment value is set won't show the text box to change the next value in the Operations tab.

My test table works but I haven't yet tried to reproduce it with exactly this table structure. He's provided this graphic of his structure:

![59381093_

[2019-05-10 07:36] williamdes commented on #15262
@tdaget can you export a table so I can reproduce this issue on my local setup ?

Or on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2019-05-10 17:11] ibennetch commented on #14412
The fix for this issue has been merged and will be part of phpMyAdmin 4.8.6. Thanks for reporting.

[2019-05-10 17:11] #14412 closed

[2019-05-10 19:36] ibennetch commented on #14906
It is a 32-bit system, yes.

[2019-05-10 21:35] VishwaJay commented on #14433
I should also add: my machine runs MariaDB on port 3306 and MySQL Community Ed on port 3308 (whichever ones shipped with Wampserver64 3.1.3, if that helps). All install options were the defaults.

The issue cleared up for me with DisableIS and then returned again intermittently on MariaDB (and hasn't returned on MySQL, that I can see). However, there are a few schemas I can't see with DisableIS tr

[2019-05-11 04:34] vipankumar-JFL commented on #14220
mysql> ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'rootpassword';

login through command line, it works after that

[2019-05-11 07:18] SugarD-x commented on #14220
That is only a workaround, and has been said on here a few times now. It is not an actual fix to the issue.

[2019-05-11 11:55] nunoperalta commented on #14511
Or we can just change some string in the config file?
If it changes, then 2FA must be setup again.

[2019-05-12 03:58] aavinseth commented on #13912
@williamdes this issue still exists in latest version i.e 4.8.5

[2019-05-12 07:52] williamdes commented on #13912
Is this issue similar to #15123 ?

[2019-05-12 08:34] aavinseth commented on #13912
@williamdes most probably its not similar to #15123

[2019-05-12 22:01] bozhi91 commented on #14507
Hey guys. Can I implement this feature?

[2019-05-13 08:48] fraria76 commented on #13404
Hi everyone,

I state that I am a newbie and I have a similar error.

I have this configuration:

- Windows Server 2019 with IIS 10
- Prestashop 1.7.5.2
- MySql 5.6.16.0
- PhpMyAdmin 4.8.5
- PHP 7.2.18

If I type localhost/install the PrestaShop installation starts and I reach the point where I have to create a database, but when I go to type localhost/phpmyadmin
the error appears:

phpMyAdmin - e

[2019-05-13 12:27] iaasen commented on #14433
In my case phpMyAdmin 4.8.5 did not have write access to the default tmp folder at ./tmp. Once I gave apache2 write access to that folder I am able to manipulate with the users again.

[2019-05-13 13:42] fraria76 opened #15267 "[IIS] Failed to store CSRF token in session!"
Hi everyone,

I state that I am a newbie and I have this configuration just installed:

- Windows Server 2019 with IIS 10
- Prestashop 1.7.5.2
- MySql 5.6.16.0
- PhpMyAdmin 4.8.5
- PHP 7.2.18

If I type localhost/install the PrestaShop installation starts and I reach the point where I have to create a database, but when I go to type localhost/phpmyadmin
the error appears:

phpMyAdmin - error
Faile

[2019-05-13 13:58] Pedrolito66 opened #15268 "Disappearance of the bookmark queries"
### Describe the bug

The box about the bookmark queries has disappeared.

### To Reproduce

Go to any table.
Select the tab "SQL" at the top.
You see the blank box to write the SQL query "Run SQL query/queries on database".
Below, there is nothing.

### Expected behavior

There was the bookmark queries where I could select some previous named queries I had created and launch them.

### Screenshot

[2019-05-13 17:21] KylePinkley commented on #14252
@williamdes I have a DigitalOcean VPS with cPanel, Apache 2.4.39, MySQL 5.7, PHP 7.2, custom install of phpMyAdmin 4.8.5 where the issue is happening. Would it help at all if I provided you access to this server so you can see the issue occurring?

[2019-05-13 18:16] williamdes commented on #14252
@KylePinkley Yes, please email me :)

[2019-05-13 20:11] williamdes commented on #14252
@KylePinkley @Viste @askurihin Can you please apply #15269 ( 7fe8a1d0831746a767aad10263849a55c207385d ) and approve the changes if the fix works for you

To approve go to the "File changes" tab and use the green dropdown on PR #15269

[2019-05-13 21:03] KylePinkley commented on #14252
@williamdes I did test this on a new VM. I had to add on line 15 in navigation.php:

use PhpMyAdmin\Util;

Then it looks like the changes suggested in https://github.com/phpmyadmin/phpmyadmin/pull/15269 is working now. Should I approve it even though the line above is missing in the commit?

[2019-05-14 05:37] williamdes commented on #14252
@KylePinkley Thanks for pointing this out, I forgot to add the line
I updated the pull-request :)
The patch is now 64643446183c89bd9c619a6d2a16641655599af7

[2019-05-14 13:58] williamdes commented on #14433
Can someone give me temporary access to a phpMyAdmin instance and a way to edit the code in order to find a fix ? (please email me : williamdes@wdes.fr)
I still can not reproduce this issue..

Or can someone create a step by step way to reproduce this using a docker image of mysql/mariadb ?

[2019-05-14 20:39] bozhi91 commented on #14507
williamdes, Can you assign me and my team to this feature. We are interested in implement it.
We need this for a school project.

[2019-05-14 20:49] williamdes commented on #14507
@bozhi91  I can not assign you or your team since you are not phpmyadmin members but you are now "assigned" on this enhancement

Please keep us updated if you are not interested anymore or are actively working on this issue :)

[2019-05-14 21:10] bozhi91 commented on #14507
Hi William,

Thanks for your reply.

My idea is to implement this improvement and then push the changes and hope
the one that's in charge will approve it.
Since I'm assigned on the enhancement, does that mean that we can start
with the implementation of the feature now?

Regards,

On Tue, May 14, 2019 at 10:50 PM William Desportes <notifications@github.com>
wrote:

[2019-05-14 21:23] williamdes commented on #14507
You can start the implementation, be sure to use latest master branch as base for your work and to target master when creating the pull-request
Please use the  - -sign-off option of git when creating commits
I will review the pull-request and decide if more work needs to be done or if I can merge your enhancement
Other team members will maybe review the pull-request

[2019-05-14 21:27] bozhi91 commented on #14507
Many thanks.

I'll will inform you and the other guys about the progress. Also we'll
probably need your help at some
point. I guess we can count on you, right?

Regards.

On Tue, May 14, 2019 at 11:23 PM William Desportes <notifications@github.com>
wrote:

[2019-05-14 21:57] williamdes commented on #14507
Yes, I will help you if you need :)

[2019-05-15 09:04] masoumii commented on #12927
The bug still exists and we are on 4.8.5. now.... whats the deal with this?

[2019-05-15 09:42] williamdes commented on #12927
@masoumii Are you using a multi server setup ?

[2019-05-15 09:58] masoumii commented on #12927
Yes, my hosting does indeed use directAdmin for it's server setup.
How can that cause this bug in PhpMyAdmin?

[2019-05-15 10:03] williamdes commented on #12927
@masoumii If you have multiple servers the server variable needs to be passed to the backend
I think I fixed this issue with 65deb85c34ca6b7366cf207e658c8163e7918439

Please download the latest version in development on our [website](https://www.phpmyadmin.net/downloads/) [(phpMyAdmin 4.8+snapshot)](https://www.phpmyadmin.net/downloads/) and comment if the latest version solved this issue :)

[2019-05-15 10:49] osc2nuke commented on #14184
I figured out that chrome extensions can be a cause for this problem.
In my case it was the safe torrent scanner chrome extension.
Very interesting that such can produce a bug like this.
I do not think it is a phpMyAdmin issue.

[2019-05-15 11:32] williamdes commented on #14184
Trust me, it is

@osc2nuke Can you explain how to reproduce this issue from scratch using the extension that from what you said "can produce a bug like this."

Original comment: https://github.com/phpmyadmin/phpmyadmin/issues/14219#issuecomment-384737556

°1
----------
- Open a private navigation
- Login using HTTP
- Success !

°2
----------
- Open a private navigation
- Login using HTTPS
- Succes

[2019-05-15 11:35] williamdes commented on #14184
Original comment: https://github.com/phpmyadmin/phpmyadmin/issues/14219#issuecomment-384757638
As explained in https://security.stackexchange.com/a/140944
Secure Cookies are not sent by HTTP.
So if you first create the cookies on HTTPS you wont be able to send them to phpMyAdmin on HTTP.
They will be rewritten at each login, not sent back to the server.

[2019-05-15 12:21] useronlinenow opened #15272 "Processes Tab clicking on the <-T-> icon no longer switches to show full processlist"
### Describe the bug

In the processes Tab clicking on the <-T-> icon no longer switches from show processlist to show full processlist, so the returned queries are being truncated. Worked fine in previous versions.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Status->processes tab
2. Click on <-T->
4. See error

### Expected behavior

Clicking on <-T-> icon should alter between "s

[2019-05-15 12:25] williamdes commented on #15272
Duplicate of #14800

[2019-05-15 12:26] williamdes commented on #15272
Hello @useronlinenow this issue is a duplicate of #14800
It is fixed on latest version of phpMyAdmin as you can see on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

4.8.6 will be out soon :)
Thanks for reporting !

[2019-05-15 12:26] #15272 closed

[2019-05-15 12:33] useronlinenow commented on #15272
Many thanks. Apologies, I missed the original issue with my searches

[2019-05-15 13:23] williamdes commented on #15002
[code]
This is the query sent to the database server, investigating..

[2019-05-15 13:25] fraria76 commented on #15267
Hi everyone,
I solved with install PHPMyAdmin 4.1.9 instead of 4.8.5.
In doing so, I access http://localhost/phpmyadmin/
Kind regards

[2019-05-15 13:35] williamdes commented on #15002
This is a [sql-parser](https://github.com/phpmyadmin/sql-parser) issue since where is parsed as ``1 ORDER BY `column` ASC`` and should be parsed as `1`

[2019-05-15 13:39] williamdes commented on #15002
And the issue is fixed on demo servers (`root`, no password) [`5.0.0-dev`](https://demo.phpmyadmin.net/master/) since sql-parser has been updated : cafd4b3ee66b185998375f6801834c871139b3c2

[2019-05-15 13:48] williamdes commented on #15267
@fraria76 Can you please download on our [website](https://www.phpmyadmin.net/downloads/) the latest version in development [(phpMyAdmin 4.8+snapshot)](https://www.phpmyadmin.net/downloads/) and tell us if the issue still exists ?

[2019-05-15 13:55] williamdes commented on #15250
Seems nothing needs to be implemented for now

[2019-05-15 13:55] #15250 closed

[2019-05-15 14:03] williamdes commented on #15268
@Pedrolito66 Do you have a phpmyadmin database or "Configuration storage" installed ?
Because without a database for phpmyadmin no data/bookmarks/... can be stored
Please go to the homepage and see if a warning or error is displayed

![image](https://user-images.githubusercontent.com/7784660/57781630-e1139700-772a-11e9-88b2-e57df1269a77.png)

[2019-05-15 14:07] Pedrolito66 commented on #15268
Hello,

Yes, I have a configuration storage for this database. 3 days ago I did not have this issue, I had plenty of bookmarked queries I could use every time. They suddenly disappear at the same moment as the Designer tool appeared. It looks like it is a new version of phpmyadmin that made some changes.

On the homepage, I have no error message.

Thank you for your help.

[2019-05-15 14:11] williamdes commented on #15268
@Pedrolito66 can you download the latest version in development [(phpMyAdmin 4.8+snapshot)](https://www.phpmyadmin.net/downloads/) on our [website](https://www.phpmyadmin.net/downloads/) ?
I would like to reproduce this issue and fix it :)

Can you export the phpmyadmin database or create a step by step way to reproduce the issue ?

[2019-05-15 14:39] Pedrolito66 commented on #15268
I have downloaded the zip but have no clue how to use it. I am working on phpmyadmin at work supported by infomaniak. So they provide me a Url and I have access to it. I don't how to use the documents I have downloaded.

However, I tried the demo of the website and my issue does not appear on this demo.

[2019-05-15 14:44] williamdes commented on #15268
Do you have a FTP/SFTP access ?
To try the zip you downloaded you need to upload the contents on a web server to be able to access it
You will maybe need to do some configuration : `config.inc.php`

[2019-05-15 14:48] Pedrolito66 commented on #15268
Your message goes far beyond my knowledge. I am sorry for not understanding. I think yes we have a FTP connected to our database where documents are stored but I could not dare uploading something on it. We are currently exploring another way to solve it. As Infomaniak manages himself the update on phpmyadmin, we have contacted them to see if they did something wrong as everything is good on your

[2019-05-15 14:51] williamdes commented on #15268
@Pedrolito66 Okay, I understand
Please keep us updated or close the issue when it is "solved"

[2019-05-15 15:16] mvorisek commented on #13854
The issue is still presented and once virtual/generated column is changed in the edit, all the column details like collation are discarded,

[2019-05-15 16:13] osc2nuke commented on #14219
Ok, i was asked to come here to reproduce my bug.
I am not very common with the way how can express them self to github audience.

So i go explain what happen to me.
I am a windows user who use Homestead to build a Laravel project development.
I always used phpMyAdmin for y php projects.
I always visit my sites with CHROME.

At a sudden point my phpMyAdmin did NOT allow to log me in to my phpMyAdm

[2019-05-15 16:21] osc2nuke commented on #14219
If you REALLY suffer THIS prob.
The most recommended solution is:
Delete your browser site cache.

My advise next to THAT ( as it makes sense)  is to disable your chrome extensions.
Keep in mind.......... my problem was with chrome browser.
And the problem was with an extension that parsed my website t o locate torrent files on it.

I not have a real answer.
But when i removed THAT extension, thin

[2019-05-15 16:37] osc2nuke commented on #14219
Sorry that i answered in a drunk state.
But i think it is a common browser issue.
Perhaps addonss/extensions got to much rights.
Well hell, sure............... phpMyAdmin can be to much behind these browser functionalities.
perhaps a "simple"
phpMyadmin configuration like: development or production setting could give a better path.

But hey!!!!!!!!!!!! ( i m just drunken at the moment)

[2019-05-15 19:07] nPHYN1T3 commented on #14219
I can reproduce this on fresh installs and stock bare bones browsers man. Note I pluralized browsers. Firefox, Chomium, Vivaldi, doesn't matter, with or without addons/extensions.

[2019-05-15 20:54] williamdes commented on #13854
https://mariadb.atlassian.net/browse/MDEV-7655

[code]
works on MySQL 8.0 and not on MariaDB
Seems to have an issue with COLLATE and CHARSET

So this issue can no be solved in a good way

[2019-05-15 20:57] williamdes commented on #13854
Does not work:
[code]
Works:
[code]

[2019-05-15 21:16] ibennetch commented on #14184
There are many people here who have experienced this problem; can several of you try the pull request at https://github.com/phpmyadmin/phpmyadmin/pull/15273 to see if this fixes your problem?

[2019-05-15 21:29] williamdes commented on #14184
Just note that the PR #15273 will not solve the issue : the session expired and so the token is invalid when submitting the form, reloading and submitting the form another time fixes the issue

[2019-05-15 21:44] williamdes commented on #15267
I am trying to reproduce the issue

How to install WS2019
- Article: https://medium.com/@RealNetwork/direct-download-links-windows-server-2019-datacenter-standard-essentials-hyper-v-server-2019-5f53357eeeac
- Product keys: https://www.windows8facile.fr/telecharger-windows-server-2019/

[2019-05-15 22:37] williamdes commented on #15267
@fraria76 are you talking about "Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin." ?

[2019-05-16 08:03] williamdes commented on #13404
Duplicate of #15267

[2019-05-16 08:07] williamdes commented on #15267
I had to allow write access to the webserver (or php ?) to the folder `C:/Windows/Temp`
But that did not solve the issue, there is still an issue with session IDS

`set_session` is sent and used but the browser still sends different session ids, a complex issue...

[2019-05-16 09:19] OlafvdSpek commented on #15263
A `create table` query and updating to 4.8.5 might be handy.

[2019-05-16 11:54] Pedrolito66 commented on #15268
Hi William, we have some news from Infomaniak. They removed themselves the bookmarks queries as all the companies on the same server were sharing the same bookmarks. So other companies had access to our bookmarks. That is why they removed it. Hence, it had nothin to do with phpmyadmin. Sorry for disturbing. I am closing the topic.

[2019-05-16 11:54] #15268 closed

[2019-05-16 15:54] fraria76 commented on #15267
Hello williamdes,
as soon as possible I will take the required test and then update you
Kind regards

[2019-05-16 16:50] scripzero opened #15274 "Have a problem with mobile phone"
When use it on mobile phone's browser even android/iphone the dialog will popup when every you press "S" on keyboard how to fix this?

[2019-05-16 22:43] mvorisek commented on #13854
MySQL handles the virtual/generated columns differently and the the PhpMyAdmin needs to do the same.

I will update the patch with `Util::getServerType() === 'MySQL'` condition tomorrow.

[2019-05-17 00:04] mvorisek commented on #13854
Generator fixed in PR https://github.com/phpmyadmin/phpmyadmin/pull/15275

Mysql: fixed
MariadDB: not affected

Can the PR be merged and included in the next release?

[2019-05-17 04:36] williamdes commented on #13854
@mvorisek Yes, I think so
Is the PR finished?

[2019-05-17 09:51] williamdes commented on #15274
Duplicate of #15224

[2019-05-17 09:53] williamdes commented on #15274
Hello @scripzero
Thanks for reporting, this is a known issue :)
You can comment on #15224 or subscribe to follow updates on this issue

[2019-05-17 09:53] #15274 closed

[2019-05-17 10:24] fraria76 commented on #15267
Hello williamdes,

I think I found a solution by reading this blog https://www.ostraining.com/blog/coding/update-phpmyadmin/

- Rename phpMyAdmin folder to phpMyAdmin_old
- Create new phpMyAdmin folder
- Copy phpMyAdmin Configuration File “config.inc.php”(from phpMyAdmin_old) into new phpMyAdmin directory
- Download the 4.8.5 version of phpMyAdmin and extract the files into new phpMyAdmin director

[2019-05-17 12:41] williamdes commented on #14184
I had `Safe Torrent Scanner` enabled on my Vivaldi and it created this issue everywhere ..
Disabled it.
Needs more investigation in the codebase of `Safe Torrent Scanner` (maybe reverse engineering needed here)

[2019-05-17 13:48] mvorisek commented on #13854
Yes. PR is complete. Extra attributes for MySQL are fixed, non-virtual columns or columns in other databases are untouched.

[2019-05-17 20:16] sky93 opened #15276 "Partitioning is missing in Structure page UI"
Hello,

I cannot find Partitioning feature in table structure tab. I'm using the latest version of PMA (4.8.5) but I can't find partitioning section anywhere. How can I bring partitioning feature back ?

![part](https://user-images.githubusercontent.com/8404511/57953739-36f06680-7906-11e9-94b1-c0477cbf8524.jpg)

[2019-05-17 20:20] williamdes commented on #15276
@sky93 Yes, strange ..
Thanks for reporting

[2019-05-18 11:28] DanialV commented on #15276
Same issue here any fix for this bug?

[2019-05-18 14:27] williamdes commented on #15276
@DanialV @sky93 This is not a bug, you do not have the partition plugin enabled.
See: https://demo.phpmyadmin.net/QA_4_8/tbl_create.php?server=1&db=opengis

run
[code]
If you have `partition` an not partition option in the GUI comment on this issue please.

https://demo.phpmyadmin.net/QA_4_8/server_plugins.php?server=1
https://demo.phpmyadmin.net/QA_4_8/server_plugins.php

[2019-05-18 15:00] sky93 commented on #15276
There's a problem here. In MariaDB when I run `SHOW PLUGINS` I can verify than `partition` is active and enabled. In MySQL I'm sure partition is enabled because I could create a table with partitioning:

[code]

And I could verify partitions using this query:
[code]

So partitioning is enabled but doesn't show up in  `SHOW PLUGINS`. I guess this problem is only for MySQL 8.0 because I tired   `SHO

[2019-05-18 16:55] mauriciofauth commented on #14989
The font size feature was removed in #13919 because it was not working correctly, and the browser zoom do a much better job.

But I agree that the default font size should increase.

https://github.com/phpmyadmin/phpmyadmin/blob/4e5bd7cb85d61648d1a00fa774262d623dec4dc4/themes/pmahomme/scss/_common.scss#L6-L8

[2019-05-18 18:50] Rbwebsol commented on #15263
You can create or change parameter value of table structure as per your need. Best if you use latest version of phpMyadmin i.e https://www.phpmyadmin.net/files/4.8.5/ . I think its work fine for your project.

[2019-05-18 18:58] williamdes commented on #15276
@sky93 Thanks !
MySQL 8.0 seems to have some native handling for partitions

[2019-05-18 19:02] williamdes commented on #15276
[code]
MySQL 5.7: `Warning: #1287 The partition engine, used by table 'public.ti', is deprecated and will be removed in a future release. Please use native partitioning instead.`

MySQL 8.0: `Error: #1178 - The storage engine for the table doesn't support native partitioning`

[2019-05-18 19:05] williamdes commented on #15276
MariaDB is not affected.

[2019-05-18 19:09] williamdes commented on #15276
https://dev.mysql.com/doc/refman/8.0/en/partitioning.html

[2019-05-18 19:12] sky93 commented on #15276
Yes in MySQL 8.0 MyISAM engine doesn't support partitioning. It seems partitioning is enabled by default in MySQL 8.0.

[2019-05-18 19:20] williamdes commented on #15276
@DanialV @sky93 Can you please apply the patch 09d20e8c8d89618a7865b7b7af6a7f76acf3aa6a and tell me if everything looks okay

Tested on https://phpmyadmin-pr-7.wdes.eu.org https://phpmyadmin-pr-6.wdes.eu.org (public/public) and was OK

If you approve the change it goes directly for next release (4.8.6) :tada: :rocket:

[2019-05-18 19:28] williamdes commented on #14433
Nobody ?

[2019-05-18 19:41] sky93 commented on #15276
Yes it's now fixed 🎉😍 Thank you so much for the fix.

[2019-05-18 19:44] williamdes commented on #15276
The fix will be part of `4.8.6`
Thanks for helping !

[2019-05-18 19:56] #14252 closed

[2019-05-18 19:56] #15276 closed

[2019-05-18 21:22] williamdes commented on #13854
Hi @mvorisek I would like to merge the PR, can you implement a check to disable collation change since it does not change for MariaDB.
Actually changing the collation creates a modal (who cares) in javascript but creates an error since we try to change the collation (and we did say in the preview SQL that it would not change)

[2019-05-18 21:45] #15174 closed

[2019-05-18 23:14] #14621 closed

[2019-05-18 23:14] mvorisek commented on #13854
@williamdes Please describe how to replicate.

* I tried to change collation for non-virtual string column with Maria DB - as normal, it works.
* I tried to change collation for virtual string column with Maria DB - it seems Maria DB does not accept any collation nor nullable info and the PR handles it correctly - it does not include these details in the generated SQL field.

[2019-05-18 23:22] williamdes commented on #13854
@mvidner To reproduce go to [my demo server 4.8.6](https://phpmyadmin-pr-6.wdes.eu.org/db_sql.php?db=public&server=3) (public/public)
- Run query on "MariaDB 3 (cookie)" server
[code]
- Go to structure and try to change the collation of `v_col1`
- Click preview > NO collation (as expected)
- Close preview and click "Save"
- Accept modal
- See error
![image](https://user-images.githubusercontent.co

[2019-05-18 23:32] mvorisek commented on #13854
The same for MySQL actually. As you have written, the preview SQL it fine (and can be sucessfully commited for both MariaDB and Mysql).

The "save" generates ``ALTER TABLE `vcol_test11` CHANGE `v_col1` `v_col1` BLOB;``. Notice the `BLOB` at the end even if submitted in the GUI as `VARCHAR`. It seems to be some issue with PhpMyAdmin and not directly related with this patch. Any idea why the SQL dif

[2019-05-19 00:18] VishwaJay commented on #14433
Of the servers I work on, all belong to other people.

[Codenvy](https://codenvy.io/) ?

[2019-05-19 07:10] williamdes commented on #13854
@mvorisek Yes, there is an additional query that is added if the charset changed between the initial value of the form and the real value that is submitted

The preview is always not accurate since this query is always missing.

[2019-05-19 08:38] williamdes commented on #15261
@marcomarsala Hi, can you send how many fields do you have per record ?
Can you send the table structure ?

[2019-05-19 18:22] #13854 closed

[2019-05-19 18:58] mvorisek commented on #13854
@williamdes Great work!

[2019-05-19 19:02] williamdes commented on #13854
@mvorisek Thanks to you !

[2019-05-20 06:45] williamdes commented on #14986
The PR to fix this issue must handle #14986

[2019-05-20 06:46] williamdes commented on #15006
Same as #14986

[2019-05-20 06:57] saurass commented on #14986
You mean #15006 ?

[2019-05-20 07:15] williamdes commented on #14986
Yes #15006 , sorry for the mistake

[2019-05-20 10:10] technoknol commented on #15193
@williamdes I've tried to debug, and found that this is not a bug in PhpMyAdmin, rather it's in mySQL. I've confirmed in terminal. Posting screenshot.

This issue should be closed.

My machine is Ububtu,
MySQL: 5.6
PhpMyAdmin: 4.0.10deb1ubuntu0.1

![Selection_010](https://user-images.githubusercontent.com/6429418/58014033-89ec3880-7b15-11e9-8fd8-60415e3ff5f9.png)

[2019-05-20 10:36] williamdes commented on #15193
Thanks @technoknol !
Closing.

[2019-05-20 10:36] #15193 closed

[2019-05-20 10:52] technoknol commented on #15262
@williamdes I've fixed this can I send pull request ?

![Selection_011](https://user-images.githubusercontent.com/6429418/58016517-6deb9580-7b1b-11e9-9bca-47d1d91d8b6d.png)

[2019-05-20 10:54] williamdes commented on #15262
@technoknol Yes, go ahead !
If possible send a way to reproduce so I can understand your fix :)

[2019-05-20 11:09] williamdes commented on #15262
To reproduce, edit the `config.inc.php` and add

[code]

[2019-05-20 12:24] #15262 closed

[2019-05-20 12:28] sleeksorrow commented on #14433
My affected installation has ./tmp writable for the webserver and phpmyadmin is using it thoroughly. So this is not the culprit for me.
My installation is not publicly reachable and it's holding confidential data, so I cannot provide access to it. Nevertheless I could try setting debug options (hints please) or special debug versions for gaining more info and provide that output after reviewing an

[2019-05-20 14:22] e-gaulue commented on #15236
Debian is rather known to be serious but not really reactive. By serious, I mean also rather secure and usable for a production environment.

Not having a package in Debian repository looks just crazy to me. If not coming through Debian backport or by an official own phpmyadmin repository, this means lots will install phpmyadmin on their own (you begin to find recipes about it if you google "phpmy

[2019-05-20 15:06] Dec0y-jb commented on #15202
Has this been resolved yet? I don't mind submitting a PR for this if one hasn't been already.

[2019-05-20 15:14] williamdes commented on #15202
@Dec0y-jb Contributions are welcome, no PR has been open to fix this issue
Do not forget to use `QA_4_8` as base and `QA_4_8` as target
Also, use [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) on all commits and use your real name for legal reasons :)

[2019-05-20 15:17] Dec0y-jb commented on #15202
@williamdes - Thanks! I will submit this tonight. Seems to be an easy one.

[2019-05-21 00:56] #15185 closed

[2019-05-21 02:07] freddythunder commented on #11983
It's been 1,187 days since this post began.  I'm thinking no one cares that people like us enjoyed the pop out SQL window.  The up arrow doesn't seem to work correctly on any versions of phpmyadmin that I use at home nor at work.  I'd like it back too please.

[2019-05-21 07:18] AdamReece-WebBox commented on #14433
Has this perhaps been fixed already in the head? I'm using the stable branch on all of our VPSes.
I obviously can't hand out access to them as they're all holding client business data.

[2019-05-21 10:46] scorobo opened #15282 "MySQL 8.0 password syntax error when creating a replication issue"
### Describe the bug

I get error when change user password.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Accounts
2. Choose an account
3. Click on Change password
4. Generate new password and click on Forward (Apply)
4. See error - on my Print Screen:

![image](https://user-images.githubusercontent.com/7784660/63976735-44df8700-cab2-11e9-9e5a-8716097ce667.png)

1. Go to Accounts
2

[2019-05-21 12:53] hexydec opened #15283 "phpMyAdmin tries to change collation on Views when changing collation on all tables/fields"
### Describe the bug

phpMyAdmin attempts to update the collation of views when you ask it to change the collation on all tables and fields. It returns an error with the statement that attempts to do this with the error:

### To Reproduce

On a database that has a view:

1. Go to "Operations"
2. Scroll to "Collation"
3. Tick "Change all tables collations"
4. Tick "Change all tables columns collati

[2019-05-21 13:48] ferrancan commented on #14506
Hello!

We are a group of four people that want to solve this issue for a university project. Is anyone already making it? Or we can take the issue to solve it?

In that case, anyone has some advise or tip to start thinking about it?

Even though when we start with the planning of the feature we will post the implementation proposal to get feedback!

Thanks to all!

[2019-05-21 15:58] nunoperalta opened #15285 "Disable SQL_CALC_FOUND_ROWS"
### Is your feature request related to a problem? Please describe.

Some queries are expensive and take long to run.

phpMyAdmin runs the queries a second time, with SQL_CALC_FOUND_ROWS.

### Describe the solution you'd like

While I understand this is necessary to display the total results and allow for pagination, it would be nice to be able to disable this option for some queries.

The same way

[2019-05-21 16:08] PHPUSERZ opened #15286 "Can't access to http://ip/phpmyadmin on Ubuntu 16.04"
I'm on Ubuntu 16.04 Server. I've installed apache2, php5, php7, mysql. Then I installed phpmyadmin over Ubuntu 16.04 i this way:

sudo apt-get update
sudo apt-get install phpmyadmin php-mbstring php-gettext
the result is this:

[code]

But as you can see it takes effect only on PHP7, that I don't use. And if i write http://domain/phpmyadmin the page's not found.

HOW TO CONFIGURE IT FOR PHP5?

Thi

[2019-05-21 17:03] klaus-donnert opened #15287 "auto_increment field is too small"
The auto_increment field only shows 5 most significant digits of numbers greater than 99999

Steps to reproduce the behavior:
1. ( I'm using the latest Chrome 74.x ) Go to a table with 100000 or more rows
2. Click on operations
3. Scroll down to Table Options
4. See error

Expected behavior: I expect to see all of the digits of the auto-increment value in the AUTO_INCREMENT field. (I believe this

[2019-05-21 17:05] ibennetch commented on #15286
The package depends on PHP7, so it seems you're really mixing two approaches: maintaining your own installed set of applications (PHP5) and using the package manager. Unfortunately, I don't know Ubuntu well enough to know how to override the requirements (or if it's even possible) to force it to work with your preinstalled PHP5.

I presume you're seeing the page not found error because the package

[2019-05-21 19:20] williamdes commented on #14506
@ferrancan you can make this enhancement if you want, use master branch as target for the PR :)

[2019-05-21 19:22] williamdes commented on #15283
Duplicate of #14575

[2019-05-21 19:22] williamdes commented on #15283
See: https://github.com/phpmyadmin/phpmyadmin/issues/14575#issuecomment-442073755

[2019-05-21 21:15] testtubeme commented on #15287
I can reproduce. Only the first 5 digits are visible, however in my 102,000 row table all digits were present in the text box, the width is just not great enough to show them. clicking in, ctrl+a then ctrl+c selects and copies all 6 digits (also moving the cursor left and right with the arrow keys will show the left and right "side" of the number as expected).

[2019-05-21 22:24] PHPUSERZ commented on #15286
Thank you.
But as you can see there is a problem for the user. If you can collaborate with ubuntu server to automatize this is very beautiful, also because PHP it's an important part of a webserver and your software it's the most used (excuse my english). Now I have to uninstall all and this can create dipendences problems with PHP5 & PHP7. But at the same time phpmyadmin it's the best mySQL manag

[2019-05-22 09:21] PHPUSERZ commented on #15286
Hi. Like you said i made the install with githclone
`git clone https://github.com/phpmyadmin/phpmyadmin.git`
on my PHP5 server. But the result is:

PHP 7.1.3+ is required. Currently installed version is: 5.6.40-7+ubuntu16.04.1+deb.sury.org+1

[2019-05-22 15:54] J0WI commented on #14912
Is this in the scope of 4.8.6 or only 5.0.0?

[2019-05-22 16:10] williamdes commented on #14912
@J0WI more 5.0.0 to require php 7 as a minimum but 4.8.6 for support of php 7.3

[2019-05-22 17:51] AlexZey opened #15290 "Password Length Limit"
- phpMyAdmin version: 4.8.5

HTML form for changing a database user password allows max. 10 character.
MySQL and MariaDB allow longer passwords and even the phpmyadmin login form allows up to 24 characters.

Is it possible to change the field size in next release to a greater number, maybe 24 (like the login form).
see file libraries/classes/Display/ChangePassword.php

<input type="password" name=

[2019-05-22 20:44] matthiasradde opened #15291 "pagination allowed behind last row in view"
### Describe the bug

Pagination on displaying a view is possible even if you are already on the last page that is available (i.e. go to next page 3 if you are on page 2 for a 26 rows-view and displaying 25 rows per page).
Therefore clicking on the ">" returns the message that there are not items to display and no options to go back to page 1.
On the MySQL-shell I can clearly see that the result c

[2019-05-23 03:02] nate2014jatc commented on #14433
Using the bandaid fix `$cfg['Servers'][$i]['DisableIS'] = true;` produces no change for me on phpmyamdin 4.8.5 with Apache2.4.29/ubuntu and MySQL Ver 14.14 Distrib 5.7.26

[2019-05-23 06:10] technoknol commented on #15290
I'm working on this.

[2019-05-23 06:48] technoknol commented on #15290
@AlexZey I think form is not restricting you to set password of length 10 or more. Size 10 is for showing input field of 10 character size. It's not validation rule.

[2019-05-23 07:01] agmikhailov commented on #15176
Yea, I still can reproduce this issue.

Detailed instruction:

1. Use clean Windows Server 2016 with IIS and CGI module are installed.
2. Install MySQL Server 5.7 x64 (Server version: 5.7.26-log MySQL Community Server).
3. Download and unzip PHP 7.3.5 (php-7.3.5-nts-Win32-VC15-x64) to a folder, e.g. in "C:\inetpub\php735".
4. Download and install vcredist140_x64 for PHP.
5. Download and unzip PMA

[2019-05-23 10:25] williamdes commented on #15290
'The size attribute specifies the visible width, in characters, of an <input> element.'  could this on the browser @AlexZey is using mask or limit more chars ?
https://www.w3schools.com/tags/att_input_size.asp

https://www.w3schools.com/tags/att_input_maxlength.asp

@AlexZey please send us the browser you are using :)

[2019-05-23 10:33] williamdes commented on #15291
@matthiasradde Can you please try the latest version in development [(phpMyAdmin 4.8+snapshot)](https://www.phpmyadmin.net/downloads/) from our website ?

This seems to #15077 and #15100 , fixed by #15094

[2019-05-23 11:14] matthiasradde commented on #15291
@williamdes tested phpMyAdmin 4.8+snapshot
Thank you. Looks much better now. Now the link for going beyond the last page is not displayed.
Only thing missing is: on page 1 the link ">>" to go to last page is displayed but is not working.
But the most important thing (going beyond last page) is fixed in the snapshot.
Sorry for searching-but-not-finding the elements mentioned by you.

[2019-05-23 12:10] williamdes commented on #15282
@scorobo can you paste the query here (without the password) ?

[2019-05-23 12:43] scorobo commented on #15282
1)  SET PASSWORD FOR 'username'@'x.x.x.x' = PASSWORD('****************')
2)  GRANT USAGE ON *.* TO 'username'@'x.x.x.x'

[2019-05-23 15:31] UPF-PBOSS2019 commented on #14112
Hi,

I'm interested with this issue. But the requirements above aren't that clear. Can you elaborate it more?

Thanks in advance.

[2019-05-23 15:53] UPF-PBOSS2019 commented on #14112
![image](https://user-images.githubusercontent.com/50959285/58266775-a80aa080-7d82-11e9-97be-b48c06cc5bf9.png)

Above is an example of my proposal as what I understood from the requirements.
Basically it consists in applying a text box in each column of any result table. With this we can filter the results by searching the value in only a column, instead of searching the value in all the columns.

[2019-05-23 16:40] williamdes commented on #14112
@oresch Can you say if the proposal meets your requirements ?

[2019-05-23 16:43] williamdes commented on #15291
@matthiasradde This issue is created by the default value of `$cfg['MaxExactCountViews'] = 0;`
You can set it to another value according to the [documentation](https://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxExactCountViews).
But still this is an issue, the "End" button should be removed when we do not know the total rows count. (IMO)

[2019-05-24 03:08] mrreg2 opened #15293 "Phpmyadmin on PHP5 doesen't work"
I'm on Ubuntu 16.04 Server. I've installed apache2, php5, php7, mysql. Then I installed phpmyadmin over Ubuntu 16.04
`git clone https://github.com/phpmyadmin/phpmyadmin.git`

The istallation goes good, but when i use phpmyadmin calling it from URL **over PHP5** the result is this:

**PHP 7.1.3+ is required.
Currently installed version is: 5.6.40-7+ubuntu16.04.1+deb.sury.org+1**

How to use it over

[2019-05-24 05:16] oresch commented on #14112
There are two possible solutions for my request
a)  like @UPF-PBOSS2019 mentioned: textbox with freetext - could be the easiest solution
b) A dynamic dropbox with the grouped values of the specific column - depending also on a possible the selection of other columns. Hope this is understandable ;-)

[2019-05-24 05:17] oresch commented on #14112
I think, solution b is the coolest one :-)

[2019-05-24 07:14] williamdes commented on #15293
@mrreg2 You should use `STABLE` (`git checkout STABLE`) branch and then do `composer install`

[2019-05-24 14:15] ferrancan commented on #14506
@williamdes Thanks William! Do you want us to make a fork of the project, or create another branch to implement the solution of the issue?

[2019-05-24 14:17] swarnim0308 commented on #14506
Don't Send me these emails

On Fri, May 24, 2019, 7:45 PM ferrancan <notifications@github.com wrote:

[2019-05-24 16:06] williamdes commented on #14506
@swarnim0308 you subscribed to the thread, click the link at the end of the email to unsubscribe or change the preferences on the web UI to have an email when the issue is closed :)

[2019-05-24 16:07] williamdes commented on #14506
@ferrancan Yes, please create a fork and a branch from `master` and target `master` for the PR
Do not forget to signoff your commits :)

[2019-05-24 19:33] mrreg2 commented on #15293
I've made like you say.
Whith the git checkout stable and composer install. I installed also mysqli `sudo apt-get install php5-mysqli`, but when i do composer install the result is this

[code]

IT IS POSSIBLE TO INSTALL IT OVER UBUNTU AND PHP5 OR I'M LOSING TIME?

[2019-05-24 19:53] mauriciofauth commented on #15293
It is possible to install on Ubuntu and PHP 5.

You are running Composer with PHP 7.0, you should run it with PHP 5.

For Ubuntu, it is probably this:
[code]

[2019-05-24 19:56] mauriciofauth commented on #15293
It's because the PHP 7.0 does not have this extension.
[code]

[2019-05-24 20:03] mrreg2 commented on #15293
Thank you mauriciofauth.
After that i can say it works. I've not losed my time.

[2019-05-24 20:06] mrreg2 commented on #15293
I post the result to shows everyone like it have to be at the end:

[code]

(obviusly I installed xml & mysqli)

GOODBYE...

[2019-05-24 20:13] mauriciofauth commented on #15293
I'm glad everything went well.

[2019-05-24 20:13] #15293 closed

[2019-05-25 03:44] snzhaoyua commented on #15217
hi, i think it might not be a duplicate cause i managed to access phpmyadmin with mysql 8.0.
caching_sha256_password is a new plugin that phpmyadmin doesn't support now.
but sha256_password and mysql_native_password are older ones.

[2019-05-25 03:45] snzhaoyua commented on #15217
i'm using mysql 5.7.25

[2019-05-25 06:13] williamdes commented on #12400
https://github.com/phpmyadmin/phpmyadmin/commit/b5d1b1e74a54733e618d4d3246194c622f89d978

[2019-05-25 15:41] williamdes commented on #13159
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-25 15:41] #13159 closed

[2019-05-25 15:42] williamdes commented on #14693
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-25 15:42] #14693 closed

[2019-05-25 15:49] williamdes commented on #14509
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-05-25 15:49] #14509 closed

[2019-05-25 15:53] williamdes commented on #14885
Is this issue à phpmyadmin issue?

@davidtessier can you close this issue?

[2019-05-26 15:22] mauriciofauth commented on #14885
@davidtessier You probably want to put the JavaScript tag in the `getDisplay` method of the `PhpMyAdmin\Header` class in the `libraries/classes/Header.php` file.

Somewhere around here:

https://github.com/phpmyadmin/phpmyadmin/blob/6326acfee12984567aa89500530b89b413e52df2/libraries/classes/Header.php#L433-L437

[2019-05-27 12:02] williamdes commented on #15287
This is only an UI issue
![image](https://user-images.githubusercontent.com/7784660/58418297-b78e3000-8087-11e9-918f-369ea5f609c1.png)
I suggest to set the width attribute to `width: min-content`
![image](https://user-images.githubusercontent.com/7784660/58418453-16ec4000-8088-11e9-8b38-f4c349251f98.png)

[2019-05-27 17:38] asprazz commented on #15287
Hi @williamdes Sir, I would like to help a bit on this issue, I have reproduced the bug in my local environment and inspected using chrome-dev tools and know exactly what I have to do. Please guide me.

[2019-05-27 17:53] williamdes commented on #15287
Hi @asprazz glad that you want to help us ;)
First clone the phpMyAdmin repository and create a branch from the `QA_4_8` branch, give it a name and start working on it.
I think that you will maybe have to add a css class or ( inline the style but this is not a good idea (see #12262 ) )
Do not forget that we have multiple themes :)

Then when you create the commit please use the [`--signoff`](https

[2019-05-27 18:05] asprazz commented on #15287
Thank You Sir. Looking forward for the change. Don't worry I won't be adding the inline css though :)
I just have to add a class and style to /themes/original/css/common.css.php and /themes/pmahomme/css/common.css.php Right?

[2019-05-27 18:09] williamdes commented on #15287
Right, and on the input (if it does not have one) :)

[2019-05-27 18:19] williamdes commented on #10846
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'substring' of undefined
 Exception Type |js
 phpMyAdmin version |4.8.6-dev
 Incident count | 3
 Link | [Report#58011](https://reports.phpmyadmin.net/reports/view/58011)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-05-27 19:39] #15287 closed

[2019-05-27 20:56] williamdes commented on #13684
@OlafvdSpek The query time is accurate, but there is a portion of code that is slowing down the process.
Some foreign key checks...

[2019-05-27 21:05] OlafvdSpek commented on #13684
Isn't pMA executing multiple queries without timing all of them?

[2019-05-27 21:20] williamdes commented on #13684
PMA is only timing the executed query, not the sub queries (FK checks or whatever ..)

[2019-05-27 21:38] OlafvdSpek commented on #13684
Sure, but doesn't it first do a query to get the total count and then do a query for the results?

[2019-05-27 21:55] williamdes commented on #13684
Using the following config
[code]
`tail -500f /var/log/syslog |grep phpMyAdmin`

Seems like not :)

[2019-05-27 22:04] #15283 closed

[2019-05-27 22:32] williamdes commented on #14299
This issue is so hard to reproduce..
Please help me reproduce it or make a fix

[2019-05-28 13:03] ferrancan commented on #14506
@williamdes Perfect! Thanks for the info!

[2019-05-28 13:35] UPF-PBOSS2019 commented on #14112
Hi,
As for the option A, I forgot to mention that it can also filter using multiple columns. Said this, does the option A meets better your proposal's requeriments?

[2019-05-28 13:57] aschuch247 opened #15295 "overlapping view when using user group'ed user"
### Describe the bug

When using a user which is configured as part of a user group, the top navigation overlaps the content area:

![with](https://user-images.githubusercontent.com/13714468/58483291-8d07aa00-814f-11e9-9bce-e33129f98542.png)

Using a user not in a user group, no overlapping happens:

![without](https://user-images.githubusercontent.com/13714468/58483298-8ed16d80-814f-11e9-8c87-34c

[2019-05-28 14:04] oresch commented on #14112
Yes this is ok. Go for solution A.
For B we need to do more grouping queries on the DB in the backround. Could be a feature for a second improvement, but not for now....

[2019-05-28 14:12] UPF-PBOSS2019 commented on #14112
@oresch  Perfect then 👍

[2019-05-28 20:45] Bournvita1998 commented on #15163
@williamdes @ibennetch I am planning to create a single PR for the whole refactoring work in the designer section. Good to go?

[2019-05-28 20:57] mauriciofauth commented on #15163
@Bournvita1998 I don't think it is a good idea, it is very difficult to review such big pull request. It is better to open small pull requests that can be merged into master branch or into a new branch just for this.

[2019-05-28 21:00] Bournvita1998 commented on #15163
@mauriciofauth Would you like to suggest how can that be done?
Can we divide this into different PRs like one for each js file in the designer?

[2019-05-29 04:21] rangka-kacang commented on #14184
Hello.

I can't believe this is still not fix after a year. I asked about this issue last June and still looking for an answer.

https://stackoverflow.com/questions/50968326/failed-to-set-session-cookie-maybe-you-are-using-http-instead-of-https-to-acces

My hack at the moment is to simply not use `$cfg['Servers'][$i]['auth_type'] = 'cookie';` at all.