[2018-09-26 15:20] andyknas opened #14632 "empty linktext in function getHtmlTab()"
### Describe the bug

I created a new database, it has no tables. when I view it shows warning
empty linktext in function getHtmlTab()

### To Reproduce

Steps to reproduce the behavior:
1. Create new database

### Expected behavior

Willl not show error

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

php 7.0.32-0ubuntu0.16.04.
libmysql - m

[2018-09-26 17:31] #14438 closed

[2018-09-26 17:36] williamdes commented on #14630
Affects [`master`](https://demo.phpmyadmin.net/master-config/) and [`QA_4_8`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-09-26 17:41] williamdes commented on #14631
Affects [`master`](https://demo.phpmyadmin.net/master-config/) and [`QA_4_8`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-09-26 17:48] williamdes commented on #14632
@andyknas Can you please send more information to help us reproduce this issue ?
Version of phpMyAdmin ?

Try on demo-servers:
https://demo.phpmyadmin.net/master-config/
https://demo.phpmyadmin.net/QA_4_8/

[2018-09-27 00:48] jeffnst commented on #14301
same too, the way to hide this error i set "Limit column characters" to 100,
cause my JSON only 54chr .... hehehe...
PHPmyadmin ->  Version information: 4.8.2

[2018-09-27 01:49] benjaminfunk commented on #13975
I had a similar issue with floating numbers. Try to uppercase the "f" in the sprintf function.

Look here: http://php.net/manual/de/function.sprintf.php#49254

[2018-09-27 06:49] nijel commented on #13975
But that will ruin the localization for everybody, not just for the broken systems...

[2018-09-27 18:33] feralreason commented on #14433
Per sabl0r, downgrading to PhpMyAdmin Version 4.7.8 removes the "You do not have privileges to manipulate with the users!" error. However, I still have no button to add users.

[2018-09-28 05:53] adrianriyadi opened #14635 "[GIT] Error in processing request. ERROR CODE 200"
### Describe the bug

The bug happen when I access phpmyadmin by using nginx + Laravel Valet for the first time (it will reoccur if I restart my web server or my PC)

### To Reproduce

Steps to reproduce the behavior:
1. Go to friendly URL (pma.test)
2. Wait for phpmyadmin dashboard to load in browser
3. See error

### Expected behavior

It supposed to be no error notification every time I access

[2018-09-28 11:26] ChrisHSandN opened #14636 "Move operation causes SELECT * FROM `undefined`"
### Describe the bug

When using the move action in the operations tab the next view incorrectly selects from the table name `undefined`

### To Reproduce

Steps to reproduce the behavior:
[code]
Operations Tab > Move table to (database.table) > Enter any new name > Go
Table is moved correctly
Following page shows Table: undefined
[code]

### Expected behavior

Following view after move should sel

[2018-09-28 11:33] williamdes commented on #14636
Affects [`master`](https://demo.phpmyadmin.net/master-config/) and [`QA_4_8`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-09-29 23:14] williamdes commented on #14342
Duplicate of: #14390
Feel free to re-open if needed :)
Try patch #14414

[2018-09-29 23:14] #14342 closed

[2018-09-29 23:31] jamescridland commented on #13906
Yes, this issue has magically fixed itself, I think. Thanks.

[2018-09-29 23:31] #13906 closed

[2018-09-30 20:29] lem9 commented on #14579
phpMyAdmin 4.5.4 is outdated, please upgrade.

Issue closing is suggested.

[2018-09-30 20:44] lem9 commented on #14498
If you do not see a "Show all" tickbox on the navigation line, this is configurable via the `$cfg['ShowAll']` directive, which is set to `false` by default.

Please close.

[2018-10-01 20:04] #14133 closed

[2018-10-02 16:18] lkopo commented on #12158
Hi, I am gonna try look into this issue and keep you updated.

[2018-10-02 16:35] williamdes commented on #12158
@Ikopo go ahead :)

[2018-10-03 12:07] ChrisHSandN opened #14641 "Analyze Explain at mariadb.org link doesn't fill in raw_explain"
### Describe the bug

`[Analyze Explain at mariadb.org]` link from EXPLAIN view passes through GET params for `raw_explain` but this is no longer filled in on mariadb,org, possibly they changed at some point to a POST form due to URL length restrictions.

### To Reproduce

Run any EXPLAIN statement e.g.
[code]
Click `[Analyze Explain at mariadb.org ]`

### Expected behavior

If you can get MariaDb

[2018-10-04 08:15] treschlet commented on #11843
In version 4.5.4.1 or before, it seems this bug has returned, and the above fix un-done

[2018-10-04 09:15] dsieborger opened #14642 "Missing dependency on PHP iconv extension?"
Functions supplied by the PHP iconv extension are used (e.g. in vendor/symfony/polyfill-mbstring/Mbstring.php) but the iconv extension is not listed in composer.json.

Should iconv be added to the "require" list in composer.json?

[2018-10-04 10:47] mokraemer commented on #14591
anything missing?

[2018-10-04 19:57] hubitor opened #14643 "Getting error about config directory"
### Describe the bug

I just installed LAMP and phpMyAdmin and I'm seeing this error after logging in:

If I'm not mistaken the directory phpMyAdmin is in my case:
**/etc/webapps/phpmyadmin**
and there exists a single file:
**config.inc.php**

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Home'

### Expected behavior

No error message since there is no config directory.

### Server

[2018-10-04 20:01] williamdes commented on #14643
no `setup` directory ?

[2018-10-04 20:12] williamdes commented on #14641
I confirm.
Also phpMyAdmin does not open the page when not using a MariaDB server, another issue...

[2018-10-04 20:41] williamdes commented on #14588
Related to: #6350

[2018-10-04 20:43] ibennetch commented on #14643
How exactly have you installed phpMyAdmin; have you downloaded the source and uncompressed it yourself or using the package manager or some other means?

[2018-10-04 20:44] williamdes commented on #5950
@madhuracj @nijel  Is this still up to date or open ?

[2018-10-04 20:47] hubitor commented on #14643
No, within /etc/webapps/phpmyadmin exists only config.inc.php.
I couldn't find a "setup" folder related to phpMyAdmin under /.

Using the package manager:
`$ sudo pacman -S phpmyadmin`

[2018-10-05 05:02] Peps03 opened #15690 "PhpMyAdmin copy database function giving mysqli_query(): Empty query Warning"
Trying to copy a database in PhpMyAdmin via "Operations > Copy database to".

Settings: copy structure and data and CREATE DATABASE before copying unchecked as the database to copy to already exists.

PhpMyAdmin, DirectAdmin, PHP7.2 & MariaDB: all most recent versions.

Getting error:
[code]

My original issue post:
https://stackoverflow.com/questions/52654208/phpmyadmin-copy-database-function-giv

[2018-10-05 15:03] lem9 commented on #14643
Please show us lines 580 to 590 of ``index.php``.

[2018-10-05 16:03] hubitor commented on #14643
Looking for **index.php** I found out there is another folder named **phpMyAdmin** under:
**/usr/share/webapps/**
which contained a **config** folder (although empty).
I deleted this folder and now there is no error.

Thanks all!

[2018-10-05 16:03] #14643 closed

[2018-10-05 16:54] lkopo commented on #12158
My current progress is that I've made changes in **navigation.js** file where the Navigation tree is controlled. I've added a condition to check if there is exactly one item (database) in the navigation tree and if so, the the node is automatically expanded. You can see my commit here: https://github.com/lkopo/phpmyadmin/commit/2a63eb23c23d4d65c8bef25fb9c6cfd374c702f5 . I was also thinking about a

[2018-10-06 20:31] mauriciofauth opened #14644 "Replace Sami API documentation generator"
[Sami](https://github.com/FriendsOfPHP/Sami) is abandoned and no longer maintained.

We need to replace Sami with another API documentation generator.

Related to #14357 and https://github.com/phpmyadmin/scripts/issues/11

[2018-10-06 20:34] williamdes commented on #14644
Oh...
I replaced apigen with sami in June :disappointed:

[2018-10-06 20:37] mauriciofauth commented on #14644
Maybe it has something to do with this tweet: https://twitter.com/fabpot/status/1040270987458215936

[2018-10-07 12:05] ibennetch commented on #14642
By memory, the last time we brought up this (or a similar PHP issue), it wasn’t clear what benefit this has, since on most systems the PHP extensions are maintained as part of a distrivution’s package manager or built at compile time by the user. Putting the requirement in Composer seemed to have no benefit.

[2018-10-07 12:08] ibennetch commented on #14642
Ah, that discussion was about php-gd in #14171, although the result should be the same. I don’t think this is the way to fix this issue.

[2018-10-07 13:51] wincdev commented on #14636
Hi,
I have fix for this bug. Where can I push this fix? I do not access rights for create new branch.

[2018-10-07 14:04] williamdes commented on #14636
@wincdev You can fork this repository and do the fix on your fork then create a pull-request :)

https://help.github.com/articles/creating-a-pull-request-from-a-fork/
https://help.github.com/articles/creating-a-pull-request/

We will review your fix when you create a pull-request ;)

PS: dont forget to signoff in the last line of your commit message: `Signed-off-by: Random Developer <random@develo

[2018-10-07 20:45] williamdes opened #14647 "phpstan - level 2"
https://github.com/phpmyadmin/phpmyadmin/blob/d4b4124a5e5d4d3014e41981ae1b0c548c619fd1/libraries/classes/CentralColumns.php#L1043-L1079

At line `1058` it returns an array, this will fail because typehint is set to `int`

### Report
[code]

What needs to be returned ?

[2018-10-07 21:54] williamdes commented on #14647
[code]

[2018-10-08 00:06] alessandrodolci commented on #14630
Here is my pull request: #14648

[2018-10-08 00:37] Rehtael opened #14649 "4.8.3: Server Variable Documentation results in 404"
### Describe the bug

The (i) links to documentation for server variables result in 404 from dev.mysql.com

### To Reproduce

Steps to reproduce the behavior:
1. Go to Variables
2. Narrow results with "ssl"
3. Click on (i) icon for ssl capath variable (or any ssl variable info)
4. Redirects to https://dev.mysql.com/doc/refman/5.7/en/ssl-options.html#option_general_ssl-capath which is 404

### Expe

[2018-10-08 04:33] Rehtael commented on #14649
#14143 #14459

[2018-10-08 04:33] #14649 closed

[2018-10-08 09:09] OlafvdSpek commented on #14642
Isn't it symfony/polyfill-mbstring that should have the dependency?

[2018-10-08 18:53] Qamar30 commented on #14594
Hello do you have a screenshot of the issue

[2018-10-08 20:22] blessedOn opened #14652 "Variables changes to phpMyAdmin keeps reverting back to it initial values"
Hi there

I have changed to the following variables to phpMyAdmin, but they keep switching back to their initial values. here they are:

character set client to: utf8mb4. But keeps switching back latin1
character set connection to: utf8mb4. But keeps switching back latin1
character set database to: utf8mb4. But keeps switching back latin1
character set results to: utf8mb4. But keeps switching back

[2018-10-08 20:23] williamdes commented on #14652
Can you explain where and how you are changing those variables ?

[2018-10-08 20:52] blessedOn commented on #14652
Hi

I have changed them in the phpMyAdmin [link is on the cpanel of our
website]. Once in the phpMyAdmin, I clecked on “Variables” tab, and inside
the variables I just clicked on “Edit”, and then update the value i wanted
change and then click save. For example I have updated the following by
using the same method I've discribed:

1. I’ve clicked on “Edit”, the "character set client” had the value

[2018-10-09 16:15] lem9 commented on #14652
What probably happened after a "few days" is that your hosting company restarted the database server (MySQL or MariaDB).

[2018-10-09 16:47] tony-caffe commented on #14590
Same issue for us. We have 3 instances and they all suffer from this bug.

[2018-10-09 17:03] blessedOn commented on #14652
Hi Marc Delisle, Thanks for getting back at me. Yesterday after posting
about this issue in this forum, I did update those values again in the
“Variables” tab phpMyAdmin. As I am replying to you now, I have checked
them and noticed that they have reverted back to the initial values again,
this is really strange. I am suspecting that there could be some setting on
the server causing this issue. I a

[2018-10-11 04:47] mauriciofauth commented on #14642
I don't know what is the benefit of explicitly requiring the iconv extension, since this extension is enabled by default in PHP.

[2018-10-11 14:47] yannakos opened #14655 "column without index, Foreign Key auto to be default indexed, missing one FK"
phpMyAdmin: 4.8.1
MySQL: 5.7.17

If a column without index, the foreign key will auto to be default index,
i created a table for test, in the table added one PK and two FK like below
[code]
but in phpMyAdmin, display the second FK is indexed only, missing `FK__artist_artist_tag__artist_id`

![missing FK](https://imageshack.com/a/img924/15/Mj3YN5.jpg)

[2018-10-11 18:36] williamdes opened #14658 "Regression on multi table query functionality (foreign keys)"
### Describe the bug
Since 4.8.0 foreign keys are not part of the generated query.

### To Reproduce
#### Test data
[code]

Use screenshots.
Steps to reproduce the behavior:
1. Use test data above
2. Select `table1.*` and `table2.*` like in screenshot
3. Update query
4. See that foreign keys are not part of the request using phpMyAdmin version >`4.7.9`

### Expected behavior

I expect that foreign

[2018-10-11 18:48] williamdes commented on #14635
@adrianriyadi Can you send the php error logs ?

[2018-10-11 18:49] williamdes commented on #14508
@diyoyo any update ?

[2018-10-11 18:53] williamdes commented on #14393
@nulll-pointer I can not reproduce this issue.
Can you try on [demo](https://demo.phpmyadmin.net/QA_4_8/) [servers](https://demo.phpmyadmin.net/master-config/) ?

[2018-10-11 18:55] williamdes commented on #14311
@ibennetch Do you still have this notice ?
https://github.com/phpmyadmin/phpmyadmin/blob/62120a3a4ac04bd31b9cb76184011209334064e8/libraries/classes/Core.php#L286

[2018-10-11 19:03] williamdes commented on #14268
File was renamed in : https://github.com/phpmyadmin/phpmyadmin/commit/fcfa31a51f1e5f20b5296712a1ebfc97b54a34d5#diff-d7b53afb24bc39651061ded946bb9d45

Code was moved, now:
https://github.com/phpmyadmin/phpmyadmin/blob/4d8310432f2c46a425cd1a61c5fec3b9e82b82a7/js/designer/page.js#L140-L155
https://github.com/phpmyadmin/phpmyadmin/blob/4d8310432f2c46a425cd1a61c5fec3b9e82b82a7/js/designer/page.js#L73-L

[2018-10-11 19:05] williamdes commented on #14268
@baoailian Can you create a pull-request ?
Can you send more informations or a method to reproduce on demo servers ? :
- [5.0.0-dev](https://demo.phpmyadmin.net/master-config/)
- [4.8.x](https://demo.phpmyadmin.net/QA_4_8/)

[2018-10-11 19:09] adrianriyadi commented on #14635
hello @williamdes thanks for your respond.
This is my error log from Laravel Valet

page 1
![screenshot from 2018-10-12 02-07-31](https://user-images.githubusercontent.com/24358334/46827786-bee81e00-cdc3-11e8-8953-d44306205f1f.png)

page 2
![screenshot from 2018-10-12 02-07-31](https://user-images.githubusercontent.com/24358334/46827792-c3143b80-cdc3-11e8-91c6-e4b31e175f47.png)

[2018-10-11 19:11] williamdes commented on #13909
@MilosHorinek Can you close this issue if you still can not reproduce this issue on latest version of phpMyAdmin ?

[2018-10-11 19:13] adrianriyadi commented on #14635
By the way, for additional information. Whenever this error happens, my PMA dashboard will not show "Git Revision" commit information at bottom right panel. It will only show Version Information, Documentation, etc.

[2018-10-11 19:17] williamdes commented on #14346
@JBES Any update on this issue ?

[2018-10-11 19:22] williamdes commented on #14311
:tada: Just found an occurrence : https://github.com/phpmyadmin/phpmyadmin/issues/14635#issuecomment-429082298 (page 2)

[2018-10-11 19:28] williamdes commented on #14635
@adrianriyadi Can you zip (and send) your `.git` directory of phpMyAdmin to help me reproduce on my local server ?

[2018-10-11 19:29] adrianriyadi commented on #14635
this is from first error

[code]

and this is another error (I can't assure that they're related, but this is maybe help)
[code]

[2018-10-11 19:33] adrianriyadi commented on #14635
my .git directory size for PMA is almost 600MB :(

[2018-10-11 19:39] williamdes commented on #14635
Can you remove the `.git/objects` and zip ?

[2018-10-11 19:47] adrianriyadi commented on #14635
sure. here they are (minus objects folder)
[git.zip](https://github.com/phpmyadmin/phpmyadmin/files/2470470/git.zip)

[2018-10-11 21:37] williamdes commented on #14427
@WisdomEye Any update on this issue ?

[2018-10-11 21:40] williamdes commented on #14170
@qcybb Can you still reproduce this issue ?

[2018-10-11 21:41] williamdes commented on #14077
@ibennetch @devenbansod Can you close this issue ? Still up to date ?

[2018-10-11 21:45] williamdes commented on #13652
@igasparetto Do you still have this issue on `4.8.x` ?

[2018-10-11 21:46] williamdes commented on #13200
@lpalgarvio This issue is old, is it still up to date ?

[2018-10-12 00:52] qcybb commented on #14170
Yes, and now I am stuck on "pmahomme" .. and nothing I do will revert me back to original.

This really need to be fixed. I really dislike the new theme and can't work with it.

[2018-10-12 05:03] adrianriyadi commented on #14635
yup. I checked out STABLE branch

[2018-10-12 12:41] lem9 commented on #14652
What probably happened between these two days is that your hosting company restarted the database server (MySQL or MariaDB). To check, in phpMyAdmin main page click on Status.

[2018-10-12 12:45] williamdes commented on #14223
# [Designer] Javascript error when table_coords or pdf_pages is missing
### Describe the bug

Throws an error :`A fatal JavaScript error has occurred. Would you like to send an error report?`

### To Reproduce

Steps to reproduce the behavior:
1. Create the phpmyadmin database using `chk_rel.php`
2. Move `table_coords` to `table_coords1` and `pdf_pages` to `pdf_pages1`
3. Log out
4. Log in
5. Go t

[2018-10-12 13:15] williamdes commented on #14223
@Leymooo Can you try my pull request ?

[2018-10-12 13:33] Leymooo commented on #14223
Maybe this is was my bad, that i dont close a issue. As i wrote before it was already fixed in master when i test it on 20.09. Also with this PR designer is OK and works good.

[2018-10-12 13:40] AlexCloudDev commented on #14615
same here

[2018-10-12 13:59] williamdes commented on #14223
@Leymoo This issue still exists on 4.8.x
Do not close it. Thank you for testing the PR.

[2018-10-12 19:46] #14565 closed

[2018-10-12 22:05] williamdes commented on #14635
@anakcoding I can reproduce this issue some times but not everytime...
Can you please send output of `ls -Rla .git/objects` ?

[2018-10-12 22:53] blessedOn commented on #14652
*I HAVE MANAGE : PROBLEM SOLVED!!!*

Marc DELISLE, the issue here was not about that “hosting company restarted
the database server (MySQL or MariaDB)”, as you have stated. The problem
was, the Variables that you have changed are connection-scope (not global)
variables. So, each time the connection is closed my changes are lost, each
time the connection is switched to another one from the connecti

[2018-10-13 12:57] lem9 commented on #14652
Thanks for the feedback; maybe close this issue.

[2018-10-14 04:37] jizhidemowang opened #14662 "Operate after a long period of inactivity【长时间不操作页面点击某个按钮就会出现错误】"
[code]

After clicking the page after a long period of inactivity, an error is indicated. The above is the error content of the prompt. Then when I click submit error, I will see how to prompt:

An error was detected and an error report was generated but the transmission failed. If you have a channel issue, please submit a vulnerability report. You need to refresh the current page.

The above is w

[2018-10-14 13:53] JBES commented on #14346
Hi. The latest 4.8.3 version is exactly the same with the following returned, tested a few minutes ago in a live environment and fresh install:

`console.js?v=4.8.3:184 Failed to parse JSON: Unexpected end of JSON input`

I cannot test 5.0+dev in a live environment as I am not currently in a position to upgrade from PHP 7.0 to 7.1 however I have installed it locally with approximately the same dat

[2018-10-14 15:11] adrianriyadi commented on #14635
do you intent to mention me?

[2018-10-14 15:14] adrianriyadi commented on #14635
[code]

[2018-10-14 19:30] williamdes commented on #14662
Duplicate of: #14299

[2018-10-14 19:42] williamdes commented on #14662
@jizhidemowang Thank you for your report !
This issue is a duplicate of #14299, feel free to re-open this issue if you need.
This issue seems to start from `4.8.0.1` using report: #14299

[2018-10-14 19:42] #14662 closed

[2018-10-14 19:44] williamdes commented on #14635
@adrianriyadi Yes, thank you :)
I will investigate soon

[2018-10-14 20:38] williamdes commented on #14170
Looks like issue: #14295
Can you please try with the latest version ?

[2018-10-14 20:57] qcybb commented on #14170
I am using the latest v4.8.3.

It looks like that patch was done on August 28th - 6 days after 4.8.3 was released.

[2018-10-14 21:01] williamdes commented on #14170
@qcybb Yes, I forgot that important detail.
Next version will patch this issue : PR: #14354.
Can you try the patch to tell me if it is a duplicate ?

[2018-10-14 21:04] qcybb commented on #14170
Yes, that patch works perfectly - thank you. Please feel free to close this issue.

[2018-10-14 21:12] williamdes commented on #14170
Duplicate of: #14295

[2018-10-14 21:13] williamdes commented on #14170
Thank you for the report !

[2018-10-14 21:13] #14170 closed

[2018-10-15 13:04] chinela commented on #12262
Hi am a newbie...
I've been on github for months and I don't know what it is.
I would like to contribute so please put me through

[2018-10-15 22:35] jfha73 opened #14663 "phpMyAdmin not login in on Mac OS X 10.13"
Hey guys,

I have phpMyAdmin installed on many Linux servers working just fine, but today I put it in a Mac OS X 10.13 (High Sierra) and when I went to login it said it could not find a file, I believe the file it's referring is the lock file for MySQL, but how is that even possible?, I can login just fine using console or the MySQL workbench, but not with phpMyAdmin.

Can you guys please check wh

[2018-10-15 23:06] ibennetch commented on #14663
Hi @jfha73 Could you copy and paste the error message here?

In many installations on MacOS, the path to the default socket as defined globally by the PHP configuration is wrong. If you have the command-line tools installed, you can probably check it with a command like `mysqladmin variables | grep sock`. You'll also have to figure out where the PHP configuration file (php.ini) is located (the out

[2018-10-16 08:56] nborschke commented on #12262
Hey, i already removed some inline styles in my local branch but i am not sure how and to which branch i should commit and push to. Could someone give me a short explanation ?

[2018-10-16 11:13] williamdes commented on #12262
@nborschke @chinela You can [fork](https://help.github.com/articles/fork-a-repo/) the phpmyadmin repository and start contributing on your fork of this repository.
Then create a pull-request: https://help.github.com/articles/creating-a-pull-request/
You can join our [Slack](https://join.slack.com/t/phpmyadmingh/shared_invite/enQtNDAyODc0MzE2MzczLWY4ZDU0NmViYTdhN2UyZGM0Njc4YjRiYTRiYzI4YTQ0NWJhZjYyM

[2018-10-16 13:11] martj opened #14664 "ID SORT"
### Describe the bug

When i click on ID to sort by ID number it likes like back buton

### To Reproduce

Steps to reproduce the behavior:
1. Go to anytable
2. Click on ID
3. See error

### Expected behavior
When click on ID number it should have to sort by id
A clear and concise description of what you expected to happen.

### Server configuration

- Operating system:
- Web server:
- Database ver

[2018-10-16 15:06] ibennetch commented on #14664
Hi, could you please tell us which phpMyAdmin version you’re using? It should be displayed on the main page, on the right side after logging in.

[2018-10-16 19:03] ales-bulko commented on #14658
I would like to take a look at this. It will be my first contribution. :-)

[2018-10-16 19:20] williamdes commented on #14658
@ales-bulko Go ahead, I can help you if you need :)

[2018-10-16 21:18] LillyMich commented on #12262
Hi, I am newbie and I would like to contribute with this issue. Is that okey?

[2018-10-17 08:15] tiny6996 commented on #14594
what file is the form in I would like to fix the issue but I am having trouble finding the form to edit

[2018-10-17 08:28] williamdes commented on #14594
@tiny6996 See PR: https://github.com/phpmyadmin/phpmyadmin/pull/14620/files#diff-77946f08642563744d43f450f146f7c1

[2018-10-17 09:33] chenghung commented on #12241
got same error on phpmyadmin 4.8.3

[2018-10-17 14:44] Fogelholk opened #14672 "$cfg['AuthLog'] = syslog; does not consider $cfg['AuthLogSuccess'];"
### Describe the bug

/usr/local/www/phpMyAdmin/libraries/classes/Logging.php Line 83:

`if (function_exists('syslog') && $status != 'ok') {`

This line does not consider if $cfg['AuthLogSuccess'] is true or false. Which makes successful logins not logged via the syslog handler. Failed logins are however logged correctly.

### To Reproduce

Steps to reproduce the behavior:
1. Configure the below o

[2018-10-17 15:36] Samer-Al-iraqi opened #14673 "innodb & MySQL 8: DYNAMIC & COMPRESSED ROW_FORMAT missing"
### To Reproduce

Steps to reproduce the behavior:
1. upgrade to MySQL 8, Go to any table,
2. press Operations
3. try to change ROW_FORMAT of that table
4. Dropdown shows only Compact and redundant formats.

### Expected behavior
Dynamic and Compressed format should be available

### Fix:
code of this method in Operations class
[code]

[2018-10-17 17:52] caugner commented on #14337
I'll take this as part of #Hacktoberfest Paris.

[2018-10-17 18:00] lem9 commented on #14673
Thanks but this fix is incomplete; a good fix would take into account the MySQL server version. Have a look at https://dev.mysql.com/doc/refman/5.5/en/innodb-row-format-dynamic.html which mentions the Barracuda file format, and https://dev.mysql.com/doc/refman/8.0/en/innodb-row-format-dynamic.html which does not mention Barracuda. Then have a look at the code at the end of ``getPossibleRowFormat()

[2018-10-17 20:47] Samer-Al-iraqi commented on #14673
sorry. I forgot about older version. However, for now, this is just a useful hack for those just upgraded to MySQL 8.

I guess the fix is at follow: first we get the MySQL version, if it is 8 and above then no need to check the file format, just list "COMPACT, REDUNDANT,DYNAMIC, COMPRESSED", otherwise the same code apply.

[code]

[2018-10-17 23:53] jorbacca commented on #13974
Hi, today I got the same error reported by @ViajesIkea. I am using phpmyadmin 4.6.6 with Apache 2.4 on Ubuntu 18.

I got a lot of warnings like these:

Notice in ./libraries/DisplayResults.php#1207
Undefined offset: 5
Backtrace
./libraries/DisplayResults.php#1349: PMA\libraries\DisplayResults->_getTableHeadersForColumns(

...
Notice in ./libraries/DisplayResults.php#1211
Undefined index:

....

No

[2018-10-18 08:31] stephanfx commented on #12262
I see that the travis CI failed on the docs section of the build, is this an issue with the code I submitted?

[2018-10-18 15:33] Defcon0 opened #14677 "Security confirm() before running UPDATE or DELETE statement without WHERE condition"
### Is your feature request related to a problem? Please describe.

Today I (again) had data loss because I executed an UPDATE statement and forgot the WHERE condition. I know, it was my fault, but nobody is perfect I guess.

### Describe the solution you'd like

The ideal solution in my opinion would be to have a short confirm like "Do you really want to run the statement without a WHERE conditio

[2018-10-18 15:39] ben-sab commented on #13031
This doesn't seem to be fixed in PHP 7.2.10 PhpMyAdmin 4.6.6 on Ubuntu 18, when clicking on "show all" in tables I get a very similar warning:
`Warning in ./libraries/DisplayResults.php#869 A non-numeric value encountered`
`./libraries/DisplayResults.php#4934: PMA\libraries\DisplayResults->_getTableNavigation(`
...
`./libraries/DisplayResults.php#4379: PMA\libraries\DisplayResults->_getPlacedTable

[2018-10-18 15:57] williamdes commented on #13031
@ben-sab Did you see :

[2018-10-18 16:15] ben-sab commented on #13031
@williamdes thanks for the attention. Yes I did, I tried changing DisplayResults.php as mentioned but still the same outcome.

[2018-10-19 00:36] #14337 closed

[2018-10-19 02:28] lem9 commented on #14673
To get the database server version, use ``$GLOBALS['dbi']->getVersion()`` which returns the integer version like 80002 for 8.0.2. However the server is not necessarily MySQL. You might want to verify the booleans ``$GLOBALS['dbi']->isMariaDB()`` and ``$GLOBALS['dbi']->isPercona()`` but I did not check what these servers support in terms of row formats.

[2018-10-19 08:40] dddns commented on #14535
Howdy,

Something that may help answering others is, i had by accident xdebug enabled, wow, what a performance impact!

Much better now, but it's not 100% solved, will give more news when get a bit of free time,

[2018-10-19 09:35] fileadda opened #14678 "XAMMP 7.2.10 - Mac OS - The $cfg['TempDir'] (./tmp/) is not accessible. phpMyAdmin is not able to cache templates and will be slow because of this."
i am using XAMPP 7.2.10 in Mac OS Mojave.

when i opened phpmyadmin the below error is appearing..
how can i solve this. ???

The $cfg['TempDir'] (./tmp/) is not accessible. phpMyAdmin is not able to cache templates and will be slow because of this.

[2018-10-20 12:03] hkrware commented on #14220
php-fpm 7.2.11 and mysql 8.0.12 both on centos 7.5.1804 x64 and not working

[2018-10-20 22:36] tiny6996 commented on #14594
what is wrong with @beekalam's commit?

[2018-10-21 04:03] WisdomEye commented on #14427
Sorry for the delay.
I have installed an new server, this time using Debian and an outdated version 4.6.6deb4
Using PHP 7.2

[2018-10-21 12:11] huwmanbeing opened #14682 "Incorrect uniqueness determination with equality symbols"
### Describe the bug
The symbol "=" (equal sign) and the symbol "≠" (not equal sign) are incorrectly considered to be the same character when determining uniqueness.

### To Reproduce
1. Create a table with a varchar column
2. Enforce uniqueness on that column
3. Insert the character "=" into the table
4. Insert the character "≠" into the table

Step four fails, with a message that the symbol alre

[2018-10-21 15:09] igasparetto commented on #13652
We are now on 5.5.61
I can't test on that version.
Thanks

[2018-10-21 15:12] williamdes commented on #13652
@igasparetto Do you still have this issue on `phpMyAdmin` `4.8.3` ?

[2018-10-21 15:16] williamdes commented on #14427
@WisdomEye Can you please test using `phpMyAdmin` `4.8.3` on this new server ?

[2018-10-21 18:59] nakshatra1997 opened #14683 "Improper message in Show Hidden Navigation Tree Items"
### Describe the problem
In the directory structure, there is a provision of hiding tables. However, after unhiding all the tables, the screen is somewhat like this (see the screenshot)-

![tables](https://user-images.githubusercontent.com/21240700/47270876-b47e0f00-d58f-11e8-994f-ae518d7da18e.PNG)

### Describe the solution you'd like

If all the tables are unhidden by the user, the prompt should

[2018-10-22 08:17] OlafvdSpek commented on #14682
MySQL version?
Is this a phpMyAdmin issue or a MySQL issue?

[2018-10-22 09:31] huwmanbeing commented on #14682
MySQL version = 5.7.23.

[2018-10-22 10:53] OlafvdSpek commented on #14682
Where'd my comment go?

[2018-10-22 11:38] huwmanbeing commented on #14682
I'm afraid I don't have the wherewithal to determine that.  (My thought in reporting was that someone else might.)

[2018-10-22 19:53] computerManiac commented on #14683
Hey @nakshatra1997 , is this what you expect ?
![screenshot_2018-10-23 localhost localhost phpmyadmin 5 0 0-dev 1](https://user-images.githubusercontent.com/24594035/47315324-e2338880-d661-11e8-883f-e8a74211ef49.png)

This will be my first contribution to phpMyAdmin, so your comments are much appreciated.

[2018-10-23 01:13] lem9 commented on #14682
OlafvdSpek has a valid question and I second this question. It's not phpMyAdmin that checks the uniqueness but MySQL. Please report this to MySQL support and close this issue here.

[2018-10-23 01:39] ibennetch commented on #14682
Thanks @huwmanbeing for the report and Olaf for your initial assessment.

I've tested this with MariaDB 10.1.26 and MySQL 8.0.11, both using the utf8mb4_bin collation. In both cases, this behavior exists. I agree with you that this is incorrect, but it seems to be a problem with the underlying database engine so will need to be reported directly to the MySQL and MariaDB projects.

[2018-10-23 01:39] #14682 closed

[2018-10-23 12:56] lem9 commented on #14683
Better remove completely the dialog when the last table is unhidden.

[2018-10-23 13:04] lem9 commented on #14664
Cannot reproduce in current version. Please close; martj can reopen with more details like a sample table structure and which phpMyAdmin version.

[2018-10-23 13:28] huwmanbeing commented on #14682
Thanks @ibennetch — I've reported this at MySQL:
https://bugs.mysql.com/bug.php?id=92899

[2018-10-23 23:00] tazotodua opened #14689 "Travis-ci fails"
### Describe the bug

I've made a pull-request:. https://github.com/phpmyadmin/phpmyadmin/pull/14688

Travis-ci says it has failed. however, it always says failure, even though if you test the current working branch.

[2018-10-24 05:46] williamdes commented on #14689
@tazotodua I am sorry but please do not create an issue for this. You are responsible of making pass the tests of your PRs
I restarted the failed job.

[2018-10-24 05:46] #14689 closed

[2018-10-24 05:49] williamdes commented on #14689
@tazotodua Thank you for your PR, we will review it as soon as possible :)

[2018-10-24 15:06] computerManiac commented on #14683
@nakshatra1997 sorry about that mate, should I close my PR or continue making changes to it ?

[2018-10-24 15:40] mauriciofauth commented on #14220
As mentioned earlier, there is not much we can do about it at this time.
The [_mysqlnd_](https://secure.php.net/manual/en/intro.mysqlnd.php) library [does not support](https://bugs.php.net/bug.php?id=76243) the [`caching_sha2_password`](https://dev.mysql.com/doc/refman/8.0/en/caching-sha2-pluggable-authentication.html) authentication method yet.
An [alternative](https://secure.php.net/manual/en/my

[2018-10-24 16:13] nakshatra1997 commented on #14683
@computerManiac  it's fine... let it be no issue :)

[2018-10-24 20:36] imacarthur opened #14691 "Query Result Export not using table aliases"
### Describe the bug

Original query:
[code]
query executes no errors. I want to export the results to a spreadsheet.

The results export, but the exported file is actually an html fragment with a server error:
<code>#1066 - Not unique table/alias: 'custom_delivery'</code>

In the error report is the actual query executed:
[code]
The table aliases are gone (custom_delivery cd1 was changed to `cust

[2018-10-24 20:54] imacarthur commented on #14691
Simpler query that also fails:

select m1.id, m2.id from members m1, members m2 where m1.id = m2.id

Same issue, the table aliases get dropped.

**select members.id, members.id FROM `members`, `members` where members.id = members.id**

[2018-10-25 20:02] RobThree commented on #14433
@feralreason: I'm sorry but I'm going to use your post as a 'template' for mine. Details and versions differ but I've taken the exact same steps.

---

I'm getting the same error: "You do not have privileges to manipulate with the users!"
with PhpMyAdmin Version 4.8.3, MariaDB 10.1.26, nginx/1.15.5, PHP 7.2.10. I am on a Debian 64 bit system.

Adding `$cfg['Servers'][$i]['DisableIS'] = true;` to t

[2018-10-25 20:34] #14571 closed

[2018-10-25 20:36] feralreason commented on #14433
No problem. I never tracked down the cause -- ended up doing a complete reinstall of XAMPP. That solved my problem.

[2018-10-25 21:06] #14636 closed

[2018-10-26 08:59] RobThree commented on #14433
I've been granting, flushing, restarting and even rebooting my *** off but still the same. I can manage with MySQL WorkBench but it is quite disappointing to see PHPMyAdmin fail on this.

[2018-10-27 00:09] KylePinkley commented on #14252
This is also affecting cPanel customer's.

These cases in your tracker may be related to this issue:
https://github.com/phpmyadmin/phpmyadmin/issues/10806
https://github.com/phpmyadmin/phpmyadmin/issues/11047

[2018-10-27 06:51] Sachin043 commented on #14663
use port number that corresponds to localhost:8080

[2018-10-27 15:54] chrcoluk commented on #13086
This seems to enforce invisible recaptcha now, and using the I am not a robot button no longer works.

Instead this is displayed.

"This site key is not enabled for the invisible captcha."

Since invisible is weaker, I would like the normal I am not a robot still able to work so please add an option for this thanks.

[2018-10-28 12:17] mynetx commented on #14517
@fr51 This is related to a performance bottleneck in your MySQL server. Part of your output reads:

I suggest you try to increase the amount of memory accessible to the MySQL server before trying to export your large table.

@ibennetch Can we catch the 'gone away' error for export runs and just cancel the export if this occurs?

[2018-10-28 14:54] williamdes commented on #13159
@lightnb Can you try on demo servers :[`QA_4_8`](https://demo.phpmyadmin.net/QA_4_8/index.php) or [`master`](https://demo.phpmyadmin.net/master-config/index.php)

[2018-10-28 15:12] williamdes commented on #13525
@OlafvdSpek Is this issue #14636 ?
Can you try on demo servers ?

[2018-10-28 15:17] williamdes commented on #13753
Confirmed on demo servers:
- https://demo.phpmyadmin.net/QA_4_8/tbl_structure.php?db=sakila&table=actoraa
- https://demo.phpmyadmin.net/master-config/tbl_structure.php?db=sakila&table=actoraa

[2018-10-28 15:30] williamdes commented on #14579
Outdated, closing.

[2018-10-28 15:30] #14579 closed

[2018-10-28 15:33] williamdes commented on #14159
Confirmed on chrome.
https://demo.phpmyadmin.net/QA_4_8/tbl_sql.php?db=menagerie&table=event
https://demo.phpmyadmin.net/master-config/tbl_sql.php?db=menagerie&table=event

[2018-10-28 15:39] williamdes commented on #14545
@teo1978 Is this issue solved ?

[2018-10-28 17:06] teo1978 commented on #14545
I don't know. Somehow I manually fixed my system, but I think this was not expected behavior:

I don't know whether it's fixed in more recent versions, and whether whatever version comes with Debian 8 is supposed to be still supported.

[2018-10-28 18:33] OlafvdSpek commented on #13326
Because otherwise it's interpreted as a column name.

[2018-10-29 06:38] xjdai1 opened #14693 "phpmyadmin log"
I configured auto log, but no login log output

[2018-10-29 09:07] furuno commented on #14334
Hi, I would like to help with this issue. Could you please let me know the URL of the page that have this issue?

[2018-10-29 09:10] OlafvdSpek commented on #14334
https://demo.phpmyadmin.net/master-config-nopmadb/tbl_export.php?db=Restaurante&table=Horarios&single_table=true

[2018-10-29 09:30] furuno commented on #14334
Ah I see. Sorry about that. Working on it.

[2018-10-29 18:14] ibennetch commented on #14545
Any trouble related to the Debian package manager is really outside the scope of anything over which we have control. I'm going to close this because it's not related to phpMyAdmin and you've fixed your installation for now.

[2018-10-29 18:14] #14545 closed

[2018-10-29 19:08] williamdes commented on #14693
Maybe this issue is a duplicate of : #14672
Did you try failure and success ?
Can you please send what version of `phpMyAdmin` you are using ?

[2018-10-29 19:22] #13057 closed

[2018-10-29 19:25] williamdes commented on #14691
@imacarthur Can you please explain how to reproduce this issue ?
Can try on demo-servers ?
[`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
[`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-10-29 19:32] williamdes commented on #14491
@dddns I am also interested by this idea !
A charset selected by default is a great idea ;)

cc @ibennetch

[2018-10-29 19:32] imacarthur commented on #14691
I tried the kovenko database.

Query I used is:

SELECT e1.empno, e2.empno FROM `Emp` e1, Emp e2 WHERE e1.deptno = e2.deptno

The query executes, and I go to export the results.

In the downloaded csv file I have an error with the offending statement:

SELECT Emp.empno, Emp.empno FROM `Emp`, `Emp` WHERE Emp.deptno = Emp.deptno

Note that e1.empno is now Emp.empno and e2.empno is Emp.empno etc. See

[2018-10-29 19:51] williamdes commented on #14691
@imacarthur Thank you !
### Steps
1. Insert following data:
[code]

2. Run query `SELECT e1.empno, e2.empno FROM `Emp` e1, Emp e2 WHERE e1.deptno = e2.deptno` in `SQL`
3. Export results using export button at the bottom of the page.
4. Change `SQL` to `OpenDocument Spreadsheet` (.ods)
5. View the downloaded file

### Expected
Data in ODS
### Actual behavior (from ODS sheet)

Erreur |   |   |   |  

[2018-10-29 20:06] dddns commented on #14491
Great, someone thinks like me :)
In my opinion charset definition should be global, and for new databases should be the charset configured in pma and not mysql one, and for new tables, the default should be the database defined.

It's just my opinion!!

[2018-10-29 22:45] SugarD-x commented on #14220
I'm not sure if this helps anything, but on MySQL Server 8.0.12, I'm getting this error ONLY when upgrading to PHP 7.2.11. (It doesn't just affect PHPMyAdmin). When I revert back to PHP 7.2.8, I have no problems. Seems a bit odd that a _newer_ version of PHP would cause this.

I know downgrading PHP is probably not the greatest idea, but if this helps anyone as a temporary solution, it is there.

[2018-10-29 23:33] #14404 closed

[2018-10-30 00:08] mauriciofauth commented on #14220
@SugarD-x This is related to commit https://github.com/php/php-src/commit/d6e81f0bfd0cb90586dd83d4fd47a4302605261a which was later reverted by https://github.com/php/php-src/commit/03740ef7dffcc80530a89ebde3ccf5464f7f18e6.

[2018-10-30 00:29] SugarD-x commented on #14220
@mauriciofauth Thank you! That definitely explains my issue.

[2018-10-30 02:22] jluisgarcia opened #14695 "Database tab Total collation"
### Describe the bug

A collation type is shown for the Total number of databases

### Expected behavior

No collation type should be shown at all. As it is not related to any particular DB.

### Screenshots

![image](https://user-images.githubusercontent.com/24752182/47691195-6d2bfa00-dbf1-11e8-8b88-69bb7abeb0a0.png)

### Server configuration

- Operating system: Windows 8.1 (Local machine)
- Web

[2018-10-30 03:28] furuno commented on #14621
Hi, I want to help with this issue.

[2018-10-30 09:10] Gaurav-Punjabi commented on #14695
Can I solve this issue ?

[2018-10-30 09:53] xjdai1 commented on #14693
version：4.8.3
configure:
$cfg['AuthLog'] = 'syslog';
$cfg['AuthLogSuccess'] = true;

no log in /var/log/auth.log

[2018-10-30 10:54] igasparetto commented on #13652
@williamdes yes, we still do have the problem.

[2018-10-30 19:54] williamdes commented on #14695
@Gaurav-Punjabi Yes, you can create a pull-request :)

[2018-10-31 00:05] #14630 closed

[2018-10-31 01:54] mauriciofauth opened #14698 "Database named as 'New' causes PHP fatal error"
### Describe the bug

Database named as 'New' causes PHP fatal error.
This is dependent on the language that has been set. See screenshots.

### To Reproduce

Steps to reproduce the behavior:
1. Create a database called 'New'
2. Click on the 'New' database in the navigation menu
3. See error

### Expected behavior

The database should open like any other.

### Screenshots

![db1](https://user-imag

[2018-10-31 06:51] lloricode opened #14699 "Javascript error when editing a JSON data type column"
There is a problem in viewing a column data (JSON data type).

version: 4.8.3
![screenshot from 2018-10-31 14-47-53](https://user-images.githubusercontent.com/8251344/47770858-fd665e00-dd1b-11e8-87f7-ba7f2e04e6f2.png)

Best regard, :)

[2018-10-31 18:12] #14594 closed

[2018-10-31 19:01] mauriciofauth commented on #14287
@nijel Packagist is indicating that phpMyAdmin packages are using legacy auto-update. According to [this tweet](https://twitter.com/packagist/status/1037035587453235201), it's necessary to logout/login with GitHub to upgrade the hooks.

![pma](https://user-images.githubusercontent.com/120970/47811782-64d4db80-dd25-11e8-9534-bc5d075351a5.png)

[2018-10-31 19:02] Gaurav-Punjabi commented on #14695
@williamdes Hey, I have solved the above issue. I'm a newbie here so can you guide me on which target branch should I make this pull request how what other things should I do.

[2018-10-31 19:45] #14419 closed

[2018-10-31 19:53] williamdes commented on #14695
@Gaurav-Punjabi You can create a pull request that targets `QA_4_8`.
Do not forget to signoff every commit :)
You can join our [Slack](https://join.slack.com/t/phpmyadmingh/shared_invite/enQtNDAyODc0MzE2MzczLWY4ZDU0NmViYTdhN2UyZGM0Njc4YjRiYTRiYzI4YTQ0NWJhZjYyMDhlODI4M2JkYThlMzIzZTFiNzNjZWRhZjI) or [Gitter](https://gitter.im/phpmyadmin/Lobby)

[2018-10-31 20:38] #14223 closed

[2018-10-31 20:52] nijel commented on #14287
I already did that, but that doesn't seem to change anything:

![screenshot_2018-10-31 packagist](https://user-images.githubusercontent.com/212189/47817925-3839b780-dd57-11e8-8f9e-59638c1e0cc8.png)

[2018-10-31 21:03] williamdes commented on #14287
@nijel I had to disconnect my account from github and connect back (see screenshot).
Is that what you did ?
![Packagist](https://user-images.githubusercontent.com/7784660/47818703-c5c9d700-dd58-11e8-85de-f6e6a4998d9a.jpg)

[2018-10-31 21:47] nijel commented on #14287
There was no account connected to phpmyadmin account, so I did just connect.

[2018-10-31 22:03] williamdes commented on #14287
@nijel And manual hook sync ?

[2018-10-31 22:07] nijel commented on #14287
The hook *is* there, it's just packagist still showing legacy label. Probably safe to ignore and will hopefully disappear at some point...

[2018-10-31 22:16] williamdes commented on #14287
@nijel Okay, had the same issue with mine and after random operations the warning disappeared ...

[2018-10-31 22:21] #12158 closed

[2018-11-01 00:17] lkopo opened #14700 "Remove Browser's Session Storage after log out"
### Description

Currently, if user logs out, the content of session storage (inside browser) is not purged / removed and stays here. I think, this is not done by purpose and the better practice should be to purge session storage as it is already done when user is logged off if inactive.

### Additional context

- phpMyAdmin version: 5.0-dev

[2018-11-01 01:13] #13621 closed

[2018-11-01 01:35] mauriciofauth commented on #14287
Now, _phpmyadmin/phpmyadmin_ is ok, but the other packages are still showing the legacy label. Maybe it take some time to update.

![phpmyadmin](https://user-images.githubusercontent.com/120970/47827437-b3519c80-dd5c-11e8-9c8a-30e0e14d40cd.png)

[2018-11-01 07:06] Gaurav-Punjabi commented on #14695
Hey I have submitted a pull request, check it out #14702

[2018-11-01 09:28] Darkerse opened #14703 "Operate PHPMyadmin using the latest Google browser to report a fatal Javascript error!"
After logging into PHPmyadmin, click to create a new database and the page reports an error: "fatal JavaScript error occurred.Are error reports sent?", "and click" show report details "to prompt:" error: token not conforming ".I don't know what caused this, please help me to solve it.Thank you very much!
Ps: I used the Google browser (version 70.0.3538.77 (official version) (64-bit), PHP 5.6.37, a

[2018-11-01 11:13] lsmithx2 opened #14704 "Not working well with new mysql version 8.0"
### Describe the bug

I have just installed mysql the latest version on Ubuntu 18.04 X64 and installed phpmyadmin to manage this. But I have noticed that while creating a new user and setting permissions for that user that it returns with a error. Still adds the user but not with the correct permissions.

#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL

[2018-11-01 14:12] lsmithx2 commented on #14704
It seems like PhpMyAdmin does not work with that version of MySQL. I installed MySQL 5.4 and works completely fine. Seems like there are a few major changes in the new MySQL.

[2018-11-01 14:13] ibennetch commented on #14695
I'm okay with removing this, especially since you can see the default in the dropdown at the top of the screen.

[2018-11-01 14:25] ibennetch opened #14705 "All databases in Databases tab are shown with default collation"
### Describe the bug

When clicking the Databases tab, the list of databases shows the same collation (the system default) regardless of the actual collation for that specific database.

phpMyAdimn current master branch.

[2018-11-01 14:32] ibennetch commented on #14704
Thanks for your report. MySQL starting with 8.0.11 broke several things unexpectedly, including this (which is reported as #14217) and changing the authentication hash (#14220).

I'll close this one since #14217 exists, you can follow along there.

[2018-11-01 14:32] #14704 closed

[2018-11-01 16:07] rrnair-98 commented on #14705
can i try to solve this issue

[2018-11-01 18:04] ibennetch commented on #14705
Definitely!

[2018-11-01 18:21] williamdes commented on #14703
@Darkerse Can you send us the errors from the javascript console ? (F12 key > Console)
And maybe the php error logs ?

[2018-11-01 18:46] williamdes commented on #14699
On demo server `5.0.0-dev`

### Javascript error report
[code]

### Test data
[code]

[2018-11-01 19:22] Gaurav-Punjabi commented on #14700
@williamdes So should we destroy the session or unset the variables of the session too?

[2018-11-01 19:35] lkopo commented on #14700
@williamdes @Gaurav-Punjabi on server side sessions are destroyed (AuthenticationPlugin class - method logOut()).

[2018-11-02 10:03] pigochu commented on #14673
Mariadb 10.3 also has the problem.

I think no need to check what version support . Just thown an error.

If I excute the query on a innodb table.
[code]

I got error
[code]

So I can unserstand what happend .

[2018-11-02 22:20] ibennetch commented on #14703
I'm having trouble reproducing this, can you reproduce the problem on the demo server at https://demo.phpmyadmin.net/QA_4_8/ (username is root with a blank password).

[2018-11-02 23:00] ninechung opened #14708 "about only_db"
11

[2018-11-02 23:01] #14708 closed

[2018-11-03 08:48] CXZ7720 commented on #13713
Hello. I'm working on this issue. But I can't replicate the situation in 4.8.3. Could you give me more info about it? @dmitrystas

[2018-11-03 14:05] zzc1231 commented on #14159
use my Iphone I can`t delete wrong Input，it will go back .

[2018-11-03 14:09] zzc1231 opened #14711 "hit 's', shows configuration window. Unable to write SQL queries"
### Describe the bug

hit s, show configuration window

[2018-11-03 15:09] williamdes commented on #14695
Closed by #14706 as https://github.com/phpmyadmin/phpmyadmin/commit/d8a319ad17d28625b228cfb411c08dbfbe12593e

[2018-11-03 15:09] #14695 closed

[2018-11-03 15:10] williamdes commented on #14695
@mauriciofauth @ibennetch Do I need to add a changelog entry ?

[2018-11-03 15:11] ibennetch commented on #14711
Could you tell us which phpMyAdmin version and web browser you're using?

Are you saying that after you click inside the SQL window (putting the cursor focus in the SQL window) that whenever you press 's' the configuration window comes up? I can't reproduce that behavior on my installation with phpMyAdmin 4.8.3 and Firefox 62.

[2018-11-03 15:15] ibennetch commented on #14695
It's not painfully obvious whether this needs a mention or not, but I would make an entry. I think "Removed unlabelled default collation from the bottom of the database list" or something should be pretty clear.

[2018-11-03 15:41] ibennetch commented on #14334
You're not wrong, but since the row selector comes first this is a bit more difficult than just showing or hiding it (simply hiding the row selector when the user toggles to structure is pointless since it will make the whole UI slide up and the user has already made a decision about this).

I think the best solution is to move the row selector down, perhaps as the next thing after the data/struct

[2018-11-03 20:53] #13067 closed

[2018-11-04 17:29] eklavaya2208 commented on #14705
Can you please attach a screenshot for reference? I checked this, and it seems to be working fine

[2018-11-05 02:54] ibennetch commented on #14705
Sure, here's a screenshot:

<img width="513" alt="screen shot 2018-11-04 at 1 05 06 pm" src="https://user-images.githubusercontent.com/1443710/47975539-dc7f6f00-e073-11e8-85c2-6df61f6e639f.png">

[2018-11-05 03:00] ibennetch commented on #14705
Since the merging of #14706, this list is blank regardless of the collation for the database:

<img width="301" alt="image" src="https://user-images.githubusercontent.com/1443710/47975718-95de4480-e074-11e8-8717-f6db0affff4a.png">

[2018-11-05 19:17] #14683 closed

[2018-11-05 20:43] williamdes commented on #14693
Maybe also: #14086

[2018-11-07 20:02] ghost opened #14715 "Escaped html shown on zoom search page if only one axis selected"
### Describe the bug

If you only fill out one of the two required inputs to create a zoom search, pressing Go will display that input as escaped html content.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table > search > zoom search
2. Column "id" != 0 or any other condition
3. Press Go without creating the other axis
4. The value input becomes an escaped HTML string with a comm

[2018-11-08 23:14] drm-wntd commented on #14339
This bug seem to happen only when the key used for sorting has more than one column. If the key is only on one column, it works fine.

[2018-11-09 00:34] #14677 closed

[2018-11-09 00:59] drm-wntd commented on #14339
@rwhirn : Doesn't matter if the key is a primary key or not, if it has more than one column it bugs.

[2018-11-09 05:40] drm-wntd commented on #14339
I think I found a fix, if anyone wants to submit a pull request with it, thats fine by me.

The problem starts here (file Results.php) :
------------------------------
// At this point, $sort_expression is an array but we only verify
// the first element in case we could find that the table is
// sorted by one of the choices listed in the
// "Sort by key" drop-down
list($unsorted_sql_query, $sort_

[2018-11-09 08:05] Defcon0 commented on #14677
Awesome, thanks @WellingtonBraga :-)

[2018-11-09 09:53] WellingtonBraga commented on #14677
You're welcome. Glad for being useful.

[2018-11-09 10:50] JarnoVgr commented on #14433
In my case it was related to the control-user. When disabling the control config, I was able to create new users, databases, etc.

[2018-11-09 14:16] Akhmami opened #14716 "blowfish_secret configuration does not work"
### Describe the bug

I get an error message the configuration file now needs a secret passphrase (blowfish_secret)

I go to  /etc/phpmyadmin/config.inc.php but did not find $cfg['blowfish_secret']
next i go to /var/lib/phpmyadmin/blowfish_secret.inc.php i find $cfg['blowfish_secret'] already filled 32 character.

how to solve it? please..

### Server configuration

- Operating system: ubuntu serv

[2018-11-09 14:18] #14591 closed

[2018-11-09 19:49] rwhirn commented on #14339
@drm-wntd Works like a charm for me. Many thanks for the debug!

[2018-11-09 21:45] williamdes commented on #13580
@codehimanshu You now can join our [Slack](https://join.slack.com/t/phpmyadmin/shared_invite/enQtNDc0MTI4MTY5MTU3LTc1Y2Y1NTFlMjk2MzllMTFhNWVmODliYWQ5MjcyMjUwZTA3OWQxMmNmZWFiYzcwMDA2MmVkN2I0NmVmMjg0MmE)

[2018-11-10 09:05] lancemitchell commented on #14301
Any update on this issue. Getting same error in 4.8.3, worked great in 4.7.9

[2018-11-10 12:55] ibennetch commented on #14663
Closing due to lack of feedback.

[2018-11-10 12:55] #14663 closed

[2018-11-10 12:56] ibennetch commented on #14664
Closing due to lack of feedback.

[2018-11-10 12:56] #14664 closed

[2018-11-10 13:17] OlafvdSpek opened #14718 "str_pad() expects parameter 2 to be int, string given in libraries/classes/Util.php:2808"
str_pad() expects parameter 2 to be int, string given in /srv/pma/libraries/classes/Util.php:2808

[code]

[2018-11-10 13:38] OlafvdSpek opened #14719 "Socket based auth doesn't use passwords"
But the new user form requires me to enter a password and the generated query does seem to include that password. Not sure what MariaDB does with the password, it didn't return an error.

[2018-11-10 13:56] ibennetch opened #14720 "AuthLog: sucessful logins repeated in log file, logouts not correctly logged"
### Describe the bug

When using `$cfg['AuthLogSuccess'] = true;`, too many log lines are generated for a single logon/logoff event.

### To Reproduce

Steps to reproduce the behavior:

When logging in:
[code]
and when logging out:
[code]
Notice the message is repeated as well as being misleading in the first place. I believe the intention is to not log logout events at all.

### Server configurat

[2018-11-10 23:20] williamdes commented on #14716
@Akhmami Can you try to add `$cfg['blowfish_secret'] = '1644g1r8gs8g1ege81g5efzfzfsfyjkyu87jyj7yu';` at the end of  `/etc/phpmyadmin/config.inc.php` ?

[2018-11-12 13:35] computerManiac commented on #14698
Hey, can I try solving this ?

[2018-11-12 17:13] mauriciofauth commented on #14698
@computerManiac Of course you can. Don't forget to use [`QA_4_8`](https://github.com/phpmyadmin/phpmyadmin/tree/QA_4_8) branch as the base branch.

[2018-11-12 18:20] #14700 closed

[2018-11-12 18:46] ibennetch commented on #14718
Does this only happen with the development version/master/5.0.0-dev or is QA_4_8/release 4.8.3 also affected?

[2018-11-12 18:48] OlafvdSpek commented on #14718
I think it's just master.

[2018-11-12 23:52] #14718 closed

[2018-11-13 01:14] #14394 closed

[2018-11-13 02:25] ldleongt commented on #14716
sudo nano /usr/share/phpmyadmin/libraries/config.default.php
$cfg[‘blowfish_secret’] = ' ’
$cfg['blowfish_secret'] = '1644g1r8gs8g1ege81g5efzfzfsfyjkyu87jyj7yu'

[2018-11-13 04:53] Akhmami commented on #14716
Solved

Pada tanggal Sel, 13 Nov 2018 09.27, ldleongt <notifications@github.com>
menulis:

[2018-11-13 12:16] #14716 closed

[2018-11-13 20:44] williamdes commented on #14324
Can you please try on demo servers ?
[`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/) [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
I can reproduce your error but for me this is a MySQL error in the form.
[code]

[2018-11-13 20:49] williamdes commented on #14156
@neoteknic I can not reproduce this issue can you please try on demo-servers ?
[`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/) [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
Re-open if you can reproduce this issue on demo servers :)

[2018-11-13 20:49] #14156 closed

[2018-11-13 20:53] williamdes commented on #13948
This has been fixed and nobody seems to still have this issue since the patch.
Comment if you still have this issue.
@drexlma You can re-open if the patch did not solve this issue :)

[2018-11-13 20:53] #13948 closed

[2018-11-13 20:58] williamdes commented on #13801
Had this issue so many times...

[2018-11-13 21:41] williamdes commented on #14038
@sorsdt Can you try on demo servers ?
I can only see the Insert button when you can insert on the view.
[`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
[`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-13 22:36] williamdes commented on #14361
[`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
[`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
Can you try with the demo servers, I do not know how to reproduce this issue.

Where ?

[2018-11-14 12:02] ortreum opened #14723 "CSV export distroys query if it is too long"
### Describe the bug

Result export cripples queries if they are to long.

### To Reproduce

Executing this:
[code]

and i got a result of 47 rows. Then I click on "export" and get this after choosing "csv":

[code]

### Expected behavior

I want a working export of a result.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operating syste

[2018-11-14 16:35] juanmiguel431 commented on #14217
I have the same issue installing phpmyadmin:

mysql said: ERROR 1064 (42000) at line 1: You have an error in your SQL syntax; check the manual that
corresponds to your MySQL server version for the right syntax to use near 'IDENTIFIED BY

Please, Have someone the solution for this?

[2018-11-14 21:05] Bakke opened #14725 "Console: Hotkeys for clear line and clear console"
I would like to propose binding two new hotkeys while console is open and focused:
* **ctrl+l:** Clear line
* **ctrl+u:** Clear console history

[2018-11-15 01:44] #13023 closed

[2018-11-15 02:45] #14705 closed

[2018-11-15 07:15] mrbrown2207 opened #14728 "ContextMariaDb100133 does not exist"
Suddenly when trying to use phpmyadmin, I am receiving the error below. Interestingly, I was in a debugging session debugging some php code. I went to use phpmyadmin and in the debugger context.php popped up. I closed out the debugger, tried to go to phpmyadmin and received this error. My database seems to be fine as I can get to it via the command line. I use phpmyadmin a lot so would like to get

[2018-11-15 10:09] williamdes commented on #14053
This issue exists !
Run the following query:

[code]
This issue affects very long queries.

[2018-11-15 21:04] williamdes commented on #14728
@mrbrown2207 I don't know how to reproduce this issue, can you help?

[2018-11-15 21:29] williamdes commented on #13958
@akshilshah are you still working on it?

[2018-11-15 21:35] lem9 commented on #14728
@williamdes Have a look at https://github.com/phpmyadmin/sql-parser/tree/master/src/Contexts; seems a file is missing.

[2018-11-16 21:54] ibennetch commented on #14693
Perhaps your rsyslog is configured to log authentication to another file. Often, this is configured in `/etc/rsyslog.conf` or one of the files in `/etc/rsyslog.d/` (see also https://askubuntu.com/a/606547/259033 for more details).

Which operating system do you have?

[2018-11-17 03:30] rdemendoza commented on #14217
Same issue

Server version: 8.0.13 - MySQL Community Server - GPL
PHP version: 7.2.10-0ubuntu0.18.04.1
nginx version: nginx/1.14.0 (Ubuntu)
PHpMyadmin Version information: 4.8.3
Git revision: 90de334 from STABLE branch

[2018-11-17 08:31] beekalam commented on #14053
@williamdes
In
[import.php](https://github.com/phpmyadmin/phpmyadmin/blob/master/import.php)

there's
[code]
if the query is bigger than 1000 characters long then it won't be parsed(or beautified).
is the issue about the query not being beautified or that it is not completely shown.
I am not sure what the issue is exactly?

[2018-11-17 12:14] williamdes commented on #14053
@beekalam Thank you for the research, can you create a pull-request if you know how to fix this issue ?
The issue is not having the beautifier and the padding is missing.
PS: I updated the query to have a better test sample.
### Screenshot
![44667330-cec5-4e7b-ad54-0dd087aa5ab1](https://user-images.githubusercontent.com/7784660/48660779-a83e8200-ea67-11e8-9f51-d6766a8af0a8.jpg)

[2018-11-17 12:37] williamdes commented on #13921
@kaalis Can you please help reproduce this issue ?

[code]

Maybe I missed something ?
Can you send screenshots ?

Demo server: [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-17 13:54] kaalis commented on #13921
Hello, thanks for answer.
Internet exploder 11 can't reproduce.
Chrome 71 can't reproduce.
Opera 56 can't reproduce.

Here are some screenshots from demo server with Firefox 64 beta 10.
The same thing happens on Firefox 60.3 ESR (clean profile, no 3rd party addons).
![1](https://user-images.githubusercontent.com/787507/48661720-370ac900-ea7f-11e8-80d3-38cbbad0e6f9.PNG)
![2](https://user-images.git

[2018-11-17 18:57] ibennetch commented on #14719
I'm a little confused. When I use the MySQL command line client to connect via socket connection, I need to specify a username and password. PHP/phpMyAdmin is the same way; you need to provide valid credentials. Are you talking about the [`auth_socket` pluggable authentication method](https://dev.mysql.com/doc/refman/5.7/en/socket-pluggable-authentication.html#socket-pluggable-authentication-usage

[2018-11-17 19:01] williamdes commented on #14647
[code]

[2018-11-17 19:14] williamdes commented on #14647
[code]

[2018-11-17 19:18] williamdes commented on #14647
[code]
@mauriciofauth @ibennetch
I deleted the code block.
Seems okay ?

[2018-11-17 21:13] OlafvdSpek commented on #14719
Yes I am.

[2018-11-18 08:30] OlafvdSpek opened #14732 "Can't rename primary key with auto increment"
When trying to rename the primary key, it returns a multiple primary keys error. Only happens when it has auto increment.

V: master

[2018-11-18 12:21] OlafvdSpek opened #14733 "Improve Preview window"
IMO this should just wrap instead of forcing the entire query on a single line.

![pma](https://user-images.githubusercontent.com/2218936/48672318-b1e1eb80-eb34-11e8-87c1-1ed3be274a05.PNG)

[2018-11-18 12:24] OlafvdSpek opened #14734 "Invalid default value for bit field"
While trying to reorder columns in a table:

Original:
[code]

pMA:
[code]

V: master

[2018-11-18 12:32] williamdes commented on #14734
@OlafvdSpek Please try to detail steps to reproduce the issues you submit because it is not always easy for a newbie to reproduce and create a fix.
Thanks :)

[2018-11-18 12:35] OlafvdSpek commented on #14734
I know, but that costs way more time that I'd rather spend elsewhere.

[2018-11-18 12:38] williamdes commented on #14734
Reproduced on master : [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
Error when moving columns on : [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
Impossible to edit the `bit` column on master: Blank page.
### Test data
[code]

[2018-11-18 12:40] williamdes commented on #14734
And bad displayed default value on [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
`&#039;1&#039;`
### Screenshot
![2cfc8f01-1870-46ab-8e71-e25d82e06582](https://user-images.githubusercontent.com/7784660/48672545-6d0b8400-eb37-11e8-94a1-97bb47de43ff.jpg)

[2018-11-18 12:41] lem9 commented on #14732
I confirm and this is a regression from 4.8.3 MySQL error 1068 is returned with no reason.

[2018-11-18 12:42] OlafvdSpek commented on #14734
Is the default value shown wrong even for int?

[2018-11-18 12:49] OlafvdSpek commented on #14732
Maybe (guessing) it's because the key and/or auto-inc updates are done in a separate query from the main updates.

[2018-11-18 12:57] williamdes commented on #14734
@OlafvdSpek For me, no, because I did not specify any ;)

[2018-11-18 12:58] OlafvdSpek commented on #14734
Ah, I misunderstood the "Aucun(e)". :p

[2018-11-18 13:13] williamdes commented on #14734
@OlafvdSpek okay ^^
Thank you for reporting issues ;)

[2018-11-19 11:10] OlafvdSpek opened #14735 "Empy string default"
It's shown as

That is, nothing. ;)
This is kinda confusing, perhaps showing it as Empty String might be better?

[2018-11-20 11:04] akkywadhwa commented on #14425
Hey @williamdes Can you please discuss that when this "Null" checkbox should be checked in ideal case? I guess it would depend on either we can insert null or not or on the current value in that particular cell. Right now it's working according to the value. I think I can solve this issue. I have already reproduced this on my local system.

[2018-11-20 15:39] akkywadhwa commented on #13864
Hey @williamdes! I am a newbie. I have figured out that the issue lies in tbl_change.js
[code]
but even after trying it for several hours (5-6 maybe!) I am not able to figure it out. Can you please tell me how to proceed further for such issues?

[2018-11-20 19:21] williamdes commented on #14425
@akkywadhwa What if when it is checked the input is disabled.
Unchecking it would disable the input and when the input is clicked or NULL unchecked it is re-enabled.

Empty is empty (defaults: unchecked) and when NULL is checked the input is disabled.
Empty the input if NULL is checked ?
Clicking out of the "modal" saves the value. `keyboard:Enter` saves the value since it is not multiline.
And es

[2018-11-20 19:33] williamdes commented on #13864
@akkywadhwa You can join our [Slack](https://join.slack.com/t/phpmyadmin/shared_invite/enQtNDc0MTI4MTY5MTU3LTc1Y2Y1NTFlMjk2MzllMTFhNWVmODliYWQ5MjcyMjUwZTA3OWQxMmNmZWFiYzcwMDA2MmVkN2I0NmVmMjg0MmE)
or [Gitter](https://gitter.im/phpmyadmin/Lobby) if you want to discuss in real time :)

Could you try to add breakpoints in your browser to find where the reset happens ?
It seems that you are on the good

[2018-11-20 19:58] akkywadhwa commented on #13864
@williamdes
Thank you! I would try it again with using you quick finding.
No, I don't want you to find a solution. I will try myself at least for a day more.
Yes I figured out this code using breakpoints. Right now I am using Mozilla Firefox debugger to check all this. Is there any other tool which can show me the whole call stack without putting breakpoints. Figuring out this thing using breakpoi

[2018-11-20 21:17] williamdes commented on #13864
I don't know, I always use console logs to debug ^^

[2018-11-20 22:37] Batey96 commented on #14733
please can you reproduce the steps taken inorder to arrive at such point

[2018-11-20 22:40] Batey96 commented on #14735
please document us all the steps you took inorder to reach at such point

[2018-11-20 22:46] williamdes commented on #14733
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

Steps
- Open Database
- Open table
- Navigate to Structure
- Select some columns
- Choose "Change" next to "drop"
- Click "Preview SQL" next to the "Save" button

@Batey96 Is this okay for you ?

[2018-11-20 22:53] williamdes commented on #14735
@Batey96
- Execute
[code]
- Navigate to structure of this new table
- See that empty default is shown as empty

This can be confusing

### Screenshot

![a5806c60-9d58-4a2b-8507-eccf51b02f67](https://user-images.githubusercontent.com/7784660/48807925-68092900-ed1f-11e8-9ecb-3a52f2347944.jpg)

[2018-11-20 23:00] williamdes commented on #14555
@ashraysinha6069 Are you still working on this issue ?
Maybe this issue can also be fixed #14475 ?

[2018-11-21 06:59] williamdes commented on #14334
@Ganofins That doesn't matter because this issue is on all table exports.

[2018-11-21 12:54] williamdes commented on #14334
@Ganofins
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

Steps
- Navigate to a database
- Navigate to a table
- Go to "Export"
- Choose the radio "Structure" in "Format-specific options:"

"Rows: " should be hidden when structure is checked.

@Ganofins

[2018-11-21 13:01] yack01 opened #14736 "Crash phpMyAdmin if table name = 'teasers'"
### Describe the bug

1. When I have a table with name contains 'teasers' ('teasers', 'my_teasers', 'teasers2', etc) in any server configuration!
2. I've got an error  when I clicking to 'teasers' table.  Table list brokes on 'teasers' table on 4.8.2 ( PHP 7.2 Win).
But I have correct unbroken list on Centos.
### To Reproduce

Steps to reproduce the behavior:
1. create table 'teasers' or 'teasers2

[2018-11-21 14:52] Jay04653 commented on #14235
The same issue is still on the latest 4.8.3.

[2018-11-21 15:33] boxrec commented on #14217
ditto

phpmyadmin Version information: 4.8.3 (up to date)

Server: Localhost via UNIX socket
Server type: MySQL
Server connection: SSL is not being used Documentation
Server version: 8.0.11 - MySQL Community Server - GPL
Protocol version: 10
User: root@localhost
Server charset: UTF-8 Unicode (utf8)
Apache/2.4.27 (Ubuntu)
Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407
PHP extensi

[2018-11-21 18:16] mrbrown2207 commented on #14728
Hi William,
When I first submitted that bug, I literally couldn't get into phpmyadmin. I had rebooted, the whole 9 yards. I didn't open anything else after rebooting, I just started the xampp stack tried to bring it up, and received that error. Now, I know this sounds strange, but it just seemed to clear itself. Not sure what did it.
BUT....
I can reproduce this at will by having phpmyadmin up and

[2018-11-21 18:30] williamdes commented on #14728
@mrbrown2207 Thank you for the feedback, I will try to reproduce this as soon as possible.
What you describe seems to be a php/Xdebug issue for me
Needs some investigation ;)

[2018-11-22 04:02] abhishekvirat0 commented on #14334
Is the problem solved or you need help ??

[2018-11-22 12:38] Ganofins commented on #14334
![error](https://user-images.githubusercontent.com/11516116/48903414-8424db80-ee81-11e8-8668-fce95cb5ed53.png)

hey @williamdes that's what I am getting on following the steps

[2018-11-22 19:36] williamdes commented on #14334
@abhikandoi2000 You can find another issue if you want to contribute :)
This one already has a pull-request to fix this issue.

[2018-11-23 23:45] dvdobrovolskiy commented on #14217
same issue

[2018-11-23 23:54] Gemorroj commented on #14217
https://github.com/php/php-src/commit/4f06e67ad2201390ed35a9ea6288a00c0b04782b

[2018-11-25 16:15] #14647 closed

[2018-11-26 08:44] marcomarsala opened #14743 "Support PDF format in Input/OutputTransformation"
### Is your feature request related to a problem? Please describe.

I created a table to store passive invoices, to be administered through phpMyAdmin. I need to upload the invoice in PDF format.

### Describe the solution you'd like

Allow PDF file format in Input and Output Transformation.

### Describe alternatives you've considered

Currently I'm using "Text File Upload" as Input Transformatio

[2018-11-26 09:03] marcomarsala opened #14744 "Designer fails if a table name contains quotes"
### Describe the bug

Designer fails if any table contains a single quote in its name.

### To Reproduce

Steps to reproduce the behavior:
1. Select a database
2. Click on Designer
3. See error 1146

### Expected behavior

You shouldn't HTML encode table names when outputting them in SQL commands.

### Screenshots

![image](https://user-images.githubusercontent.com/5349718/49003741-e07a4a80-f162-1

[2018-11-26 09:16] phil123456 commented on #11787
is this fixed ?
I have it on redhat with php 7

[2018-11-26 15:02] #14339 closed

[2018-11-26 22:34] #14658 closed

[2018-11-26 23:11] Batey96 opened #14745 "Invalid class name "Node", using default of "Node""
### Describe the bug
creating databases returns me a new database with 5 tables called default and a
the error message " Invalid class name "Node", using default of "Node"
"

### Server configuration

- Operating system: fedora28 linux
- Web  apache 2.4.35
- Database version: version 8.0
- PHP version 7.1
- phpMyAdmin version 4.4

[2018-11-26 23:16] mauriciofauth opened #14746 "Improve CONTRIBUTING.md file"
The [CONTRIBUTING.md](https://github.com/phpmyadmin/phpmyadmin/blob/master/CONTRIBUTING.md) file needs to be improved to include more information about the phpMyAdmin workflow. This can be done either by adding information in the file itself or by indicating where to get more details about that particular information.

Some information about the workflow can be found on the [phpMyAdmin wiki](https

[2018-11-27 08:10] marcomarsala opened #14747 "Add SQL formatter"
### Is your feature request related to a problem? Please describe.

SQL formatting (indents, line breaks) is lost and makes difficult to edit complex view definitions.

### Describe the solution you'd like

Implement a SQL formatter

### Describe alternatives you've considered

Currently I copy&paste the view definition into an online SQL formatter tool like http://www.dpriver.com/pp/sqlformat.htm

[2018-11-27 08:38] williamdes commented on #14745
@Batey96 Can you try with `4.8.4` version of phpMyAdmin ?

Can you post the php error stack trace ?

[2018-11-27 09:10] williamdes commented on #14744
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

You can try on demo-servers.
This has been fixed.

[2018-11-27 09:10] williamdes commented on #14744
Duplicate of #13032

[2018-11-27 09:11] williamdes commented on #14744
Re-open if you can reproduce on last version :)

[2018-11-27 09:11] #14744 closed

[2018-11-27 09:17] williamdes commented on #14736
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

I can not reproduce this issue on demo servers.
Can you send the php error logs ?

[2018-11-27 09:54] williamdes commented on #13324
I tried on 4.8.3 and 5.0.0-dev and I could not reproduce this issue.

See screenshot below
![image](https://user-images.githubusercontent.com/7784660/49073442-c445de80-f232-11e8-8b16-20b8aeb97837.png)

@4wk- Can you send more details on how to reproduce this issue ?

[2018-11-27 10:02] williamdes opened #14748 "Javascript error in multi table query"
### Describe the bug

On demo servers, when asking "Update query"

### To Reproduce
https://demo.phpmyadmin.net/master-config/db_multi_table_query.php?db=world&server=2&goto=db_qbe.php
https://demo.phpmyadmin.net/QA_4_8/db_multi_table_query.php?db=world&server=2&goto=db_qbe.php

Steps to reproduce the behavior:
1. Go to db world on demo server
2. Go to multi table query
3. Click on update query
4.

[2018-11-27 10:08] williamdes commented on #14748
Maybe because network was slow, can not reproduce.
/closed

[2018-11-27 10:08] #14748 closed

[2018-11-27 10:14] williamdes commented on #13401
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

Using demo servers.
Query:
[code]

https://demo.phpmyadmin.net/QA_4_8/db_sql.php?db=world
https://demo.phpmyadmin.net/master-config/db_sql.php?db=world

[2018-11-27 10:15] williamdes commented on #13401
@manawk @KeerthanaRatna I can not reproduce this issue.
Please comment or re-open if you can reproduce on last versions.

[2018-11-27 10:15] #13401 closed

[2018-11-27 10:40] 4wk- commented on #13324
@williamdes this issue was on 4.7.1; I can no longer access to the phpmyadmin I was using.

If you reproduced exactly the steps I wrote and everything is working just fine, I guess you can close this issue. Thanks !

[2018-11-27 10:56] williamdes opened #14749 "Uncaught TypeError in routines"
### Describe the bug

Uncaught TypeError in routines

### To Reproduce

Steps to reproduce the behavior:
1. Create a database
2. Create a procedure
[code]
3. Create another user
[code]
4. Login with user1
5. Go to Routines

### Expected behavior
![Expected](https://user-images.githubusercontent.com/7784660/49077359-5b169900-f23b-11e8-90ba-a9e22f33bf27.png)

### Actual
![Actual](https://user-images

[2018-11-27 11:04] Nemzag opened #14751 "Designer document.getElementById is null"
### Describe the bug

I try to get a « designer » view pro a database and I get a JavaScript error...

[code]

I try to send the error automatically but I get :

`An error has been detected and an error report has been generated but failed to be sent. If you experience any problems please submit a bug report manually. You may want to refresh the page.`

### To Reproduce

Steps to reproduce the beh

[2018-11-27 11:06] williamdes commented on #14751
Duplicate of #14223

[2018-11-27 11:08] williamdes commented on #14751
@Nemzag Can you try to change `libraries/classes/Database/Designer/Common.php` like this : https://github.com/phpmyadmin/phpmyadmin/commit/56d59a9d67eb4d74b49ec5821641e3bd5a046ff2

To see if this is a duplicate or not ;)

[2018-11-27 11:13] williamdes commented on #13324
@4wk- Thanks for the feedback !
Did you try to disable the first icon (the "tables" one)?
### 4.7.7
![4.7.7](https://user-images.githubusercontent.com/7784660/49078167-9619cc00-f23d-11e8-8da9-288a592602f9.png)
### 4.8.3
![4.8.3](https://user-images.githubusercontent.com/7784660/49078202-a9c53280-f23d-11e8-8957-d7633792146e.png)

[2018-11-27 12:31] williamdes commented on #14402
Successfully reproduced on demo servers !
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-27 12:36] williamdes commented on #14413
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

Demo servers are a multi server setup.
My local setup is a multi server setup but I can not reproduce this issue.
I remember having this issue, can you send some details to help reproduce ?

[2018-11-27 12:50] williamdes commented on #13775
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

I can not reproduce this issue on last versions and demo servers.
Feel-free to re-open if you can reproduce this issue on 4.8.x

[2018-11-27 12:50] #13775 closed

[2018-11-27 12:55] williamdes commented on #14321
cc @devenbansod

[2018-11-27 13:19] williamdes commented on #14311
[code]

[2018-11-27 13:27] williamdes opened #14752 "Uncaught TypeError in setup script"
### Describe the bug

[code]

### Server configuration
- phpMyAdmin version: 5.0.0-dev

[2018-11-27 13:30] williamdes commented on #14752
Maybe in `ServerPrivilegesExtension` `new RelationCleanup($GLOBALS['dbi'], $relation)` could be removed and set as nullable in `PhpMyAdmin\Server\Privileges`

[2018-11-27 13:32] williamdes commented on #14752
I commented the line `Core::fatalError(__('Configuration already exists, setup is disabled!'));` because I had a config file.

But clearly if `$GLOBALS['dbi']` is null the code of `ServerPrivilegesExtension` is wrong.

[2018-11-27 13:52] Nemzag commented on #14751
@williamdes
Hi William, thank pro your help, I have done the modification and I still get the error message…

[code]

[2018-11-27 13:57] williamdes commented on #14274
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

I can not reproduce on demo servers.
Can you send more informations @nulll-pointer ?

### Tests Data
[code]

[2018-11-27 14:04] williamdes commented on #14751
@Nemzag Can you send the database ?
Is it empty ?
Can you send the source (CTRL+U) of the page (only like the example, not all the page) after ``

Example:
[code]

[2018-11-27 14:09] williamdes commented on #14383
I am unable to reproduce this issue on demo-servers and on local setups.
@ibennetch /close ?
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/sql.php?server=1&db=opengis&table=gis_all&pos=0)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/sql.php?server=1&db=opengis&table=gis_all&pos=0)

[2018-11-27 14:18] williamdes commented on #14575
@ibennetch The error you reported, I can not reproduce it but I have another one.
Create a view in a database and try to change collation on all tables and columns.
[code]

![image](https://user-images.githubusercontent.com/7784660/49087502-78596080-f257-11e8-96c3-2231b72fddf5.png)

```#1347 - 'menagerie.owners' is not BASE TABLE```

[2018-11-27 14:19] Nemzag commented on #14751
It happen with any database and any navigator, but yes this one is new and empty and yes I can send it.
[calculs2018.zip](https://github.com/phpmyadmin/phpmyadmin/files/2620321/calculs2018.zip)

**Code :**
[code]

[2018-11-27 14:22] williamdes commented on #13322
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

Successfully reproduced on demo-servers !

[2018-11-27 14:53] williamdes commented on #14635
c3e807b7f658db38142028e052a28672ed94dcc4

[2018-11-27 15:08] williamdes commented on #14751
@Nemzag Can you find the div `<div id="layer_menu" class="hide">` in the html source ?

[2018-11-27 15:19] williamdes commented on #14751
@Nemzag You did not configure phpmyadmin storage, right ?

[2018-11-27 16:12] Nemzag commented on #14751
No I can't findi it.

I did not configure nothing, I installed WAMP64, last version, and that's all, and « Designer » not work… It's all I know…
What is PhPmyAdmin storage ?

[2018-11-27 19:35] williamdes commented on #13942
@eliasfarah I can not reproduce this issue on demo-servers.
Can you please help ?
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-27 20:10] williamdes commented on #14502
Demo servers (root, no password)
- ~~[`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)~~
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
Reproduced on demo server.
5.0.0-dev has bug that prevents reproducing this issue.

### Test data
[code]

[2018-11-27 20:16] williamdes opened #14755 "Foreign values broken"
### Describe the bug
No foreign values

### To Reproduce

Steps to reproduce the behavior:
1. Use test data below
2. Go to insert
3. Browse foreign values

### Expected behavior

Show foreign values

### Screenshots
Nothing.
![Nothing](https://user-images.githubusercontent.com/7784660/49108825-68f30b00-f289-11e8-935f-e88b19baf04f.png)

### Server configuration
- phpMyAdmin version: 5.0.0-dev

###

[2018-11-27 20:38] williamdes commented on #14655
Confirmed on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

![Proof](https://user-images.githubusercontent.com/7784660/49110066-ba50c980-f28c-11e8-8aa6-3f05dcd84dd3.png)

@yannakos I updated the sql sample to include missing tables ;)

[2018-11-27 20:42] williamdes commented on #14474
@nulll-pointer This issue seems to be fixed ?
Duplicate of #14298 ?
/close

[2018-11-27 21:48] williamdes opened #14756 "[5.0.0-dev] Browser display transformation selection"
### Describe the bug

All options are selected in list
See html source

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table
2. Edit structure
3. Look at `<select>` `Browser display transformation` source html
4. See that all options are marked selected

### Expected behavior

Select the good one

### Server configuration
- phpMyAdmin version: 5.0.0-dev

### Additional context

`tem

[2018-11-27 21:57] williamdes commented on #14291
Looks like the same issue as #14301

I could not reproduce this issue, @bs-thomas can you help ?

NOTE: TextLink transformation seems to have a bug while saving or updating that adds the html of the transformation.

Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/) (Did not see any ellipsis)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/) (Works ?)

[2018-11-27 22:01] #14294 closed

[2018-11-27 22:05] williamdes commented on #14299
@BarthDELUY @jizhidemowang Any idea on how to reproduce this step by step ?

[2018-11-27 22:08] williamdes commented on #14723
@ortreum Can you please send test data to help reproduce this issue ? (the table structure ?)

[2018-11-27 22:13] williamdes commented on #14285
@mostafamiri65 Can you send detailed steps to help reproduce this issue ?
Can you try on demo-servers ?

Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-27 22:24] williamdes commented on #14401
@kampalex I had this issue !
[code]

[2018-11-28 00:48] christheoalex commented on #14217
GRANT ALL PRIVILEGES ON *phpmyadmin.* TO 'phpmyadmin'@'localhost' WITH GRANT OPTION;

[2018-11-28 00:50] christheoalex commented on #14217
GRANT ALL PRIVILEGES ON *.* TO 'phpmyadmin'@'localhost' WITH GRANT OPTION;

[2018-11-28 02:05] codex-corp commented on #14301
same issue in 4.8.2

[2018-11-28 06:49] marcomarsala commented on #14430
![image](https://user-images.githubusercontent.com/5349718/49133930-1e51ad00-f2e2-11e8-900f-2fc94bbd12bf.png)

This happens with user with only EXECUTE permission.

![image](https://user-images.githubusercontent.com/5349718/49133870-eb0f1e00-f2e1-11e8-819d-d8093311b1eb.png)

[2018-11-28 08:08] williamdes commented on #14413
Duplicate of #14452

[2018-11-28 08:13] williamdes commented on #14413
@countrpt Thank you for reporting the duplicate !
Closing :)

[2018-11-28 08:13] #14413 closed

[2018-11-28 08:57] williamdes commented on #13822
@jtl999 Can you try with latest php and latest phpMyAdmin ?

I am unable to reproduce this issue (used php 7.2.7 and 5.6.30).
Used phpMyAdmin 4.7.9 and 4.8.2
On mac OS X 10.12.6

[2018-11-28 09:15] williamdes commented on #14590
Solved on latest phpMyAdmin (4.8.4).
Tested using `phpmyadmin/docker`

[2018-11-28 09:15] #14590 closed

[2018-11-28 09:29] williamdes commented on #14326
An example file (not a zip, edit with text editor)
[192_168_12_1.sql (1).zip](https://github.com/phpmyadmin/phpmyadmin/files/2623735/192_168_12_1.sql.1.zip)

### Content
[code]

[2018-11-28 09:49] williamdes commented on #14386
@nulll-pointer
I can not reproduce this issue on demo-server
https://demo.phpmyadmin.net/master-config/sql.php?db=sakila&table=city&pos=0

Can you help ?

[2018-11-28 09:53] williamdes commented on #14312
Kind of the same error as #14752

[2018-11-28 10:08] williamdes commented on #14598
Successfully reproduced on demo servers.
Thanks @matthiasradde for the detailed instructions and test data !

Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-28 10:34] williamdes commented on #13930
@annopnod Can you explain what you expect ?
Merging columns if table already exists ?
What if a column is removed ?

[2018-11-28 10:41] williamdes commented on #13573
@ibennetch Can I have your opinion on this request ?

[2018-11-28 10:45] williamdes commented on #13292
@msanchez78 The request is to check length before import, right ?

[2018-11-28 10:51] williamdes commented on #13693
Successfully reproduced on demo-servers.

Thanks @madhuracj for the test query on demo-servers.
[code]

Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-11-28 10:54] aycanadalwork commented on #13292
Yes sir check length on all rows to determine field max length.

[2018-11-28 11:01] williamdes commented on #14307
@iamntz What do you expect to be done to fix this issue ?
Is this a phpMyAdmin issue ?

[2018-11-28 11:04] williamdes commented on #14385
@nulll-pointer
I can not reproduce this issue on demo-server
https://demo.phpmyadmin.net/master-config/sql.php?db=sakila&table=city&pos=0

Can you help ?

Related to #14386 ?

[2018-11-28 11:14] msanchez78 commented on #13292
Yes check the max lenght of each field which means you have to parse every
row this way you can correctly create the data type and related size. Thank
you.

On Wed, Nov 28, 2018, 5:45 AM William Desportes <notifications@github.com
wrote:

[2018-11-28 11:17] williamdes commented on #14599
Not sure if I reproduced this issue :confused:

[2018-11-28 11:58] iamntz commented on #14307
@williamdes I guess is more of an architecture issue (i.e. x86 vs x64) rather than phpMyAdmin.

But since PMA isn't tied to a certain architecture, i guess it might deal with this edge case.

[2018-11-28 12:37] williamdes commented on #14498
Closing since `$cfg['ShowAll']` option exists.
But adding The `1000` option would be a good idea.

[2018-11-28 12:37] #14498 closed

[2018-11-28 12:48] williamdes commented on #14542
@ibennetch @lem9 Is this issue a feature request or should it be closed ?

[2018-11-28 12:53] teo1978 commented on #14542
@williamdes neither. It's a bug and there's no reason to close it unless it's fixed.

[2018-11-28 13:00] williamdes commented on #14503
Reproduced on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/db_sql.php?db=opengis)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/db_sql.php?db=opengis)

### Steps
- Go to SQL tab
- Type a name in bookmark field
- The checkboxes show
- Empty the bookmark field
- The checkboxes hide
- Paste some text
- The checkboxes are not shown

### Screenshot
![Scree

[2018-11-28 13:13] williamdes commented on #14509
@yingxj @ibennetch What should be made to fix this issue ?

[2018-11-28 16:05] ortreum commented on #14723
Just try a loooooong query (over 2k characters) with tables. It does not work every time with every query. The query does not need to be executed. It is somehow truncated from 2433 to 518 bytes (990 bytes url-encoded) as I clicked "ok".

But(!) if you try to export as csv something like this you'll get another error:

[code]

[2018-11-28 22:54] jtl999 commented on #13822
I don't have a machine with a recent OS X version handy but I will try soon (probably within the next week or so)

[2018-11-29 01:46] aapav01 commented on #14217
In MySql 8.0 the "REQUIRE NONE" is been absolute  and "MAX_QUERIES_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_USER_CONNECTIONS 0"

version 8.0 doc:
https://dev.mysql.com/doc/refman/8.0/en/grant.html

old doc:
https://dev.mysql.com/doc/refman/5.7/en/grant.html

so the command should be like

GRANT ALL PRIVILEGES ON . TO 'xxxxxxx'@'localhost' WITH GRANT OPTION;

[2018-11-29 10:37] renandecarlo opened #14758 "Fallen theme should definitely be the default one"
Fallen theme (https://github.com/fransallen/fallen) is by far the most modern, clean and good looking theme for phpMyAdmin. It should definitely become default on future releases.

![Image of Fallen (1)](https://github.com/fransallen/fallen/raw/master/screen.png)

![Image of Fallen (2)](https://github.com/fransallen/fallen/raw/master/screen-2.png)

[2018-11-29 10:44] williamdes commented on #14758
I don't know if this is a good idea since this would require that a majority of the community votes this decision

BTW the theme looks nice !

[2018-11-29 13:48] mauriciofauth commented on #14758
Hi, @renandecarlo. Thanks for your suggestion.

This was discussed at the [2017-04 Meeting](https://github.com/phpmyadmin/phpmyadmin/wiki/2017-04_Meeting) and the voted theme was Metro, which was included in _master_ branch.

[2018-11-29 13:59] mauriciofauth commented on #14758
However, it would be nice if [Fallen](https://github.com/phpmyadmin/themes/tree/master/fallen) has support for phpMyAdmin 5 (under development in the master branch) and we want help with that.

[2018-11-29 14:01] renandecarlo commented on #14758
I see, @mauriciofauth. Well, at least it's a newer theme, although Metro is not to my taste.
Maybe including Fallen as well? I'm sure the developer would add support if it came with the new phpMyAdmin 5.

[2018-11-29 14:07] williamdes commented on #14368
`MYSQLCONNSTR_localdb` Microsoft Azure

[2018-11-29 15:36] mauriciofauth commented on #14758
Maybe in the future. :wink:

Anyone can help with that. You can make a pull request for it at https://github.com/phpmyadmin/themes/tree/master/fallen

[2018-11-29 18:03] benjamw commented on #14758
While Fallen is certainly a nice looking skin (and I'm currently using it), I wouldn't suggest it as the default until it gets a bit more polished.

There are several places where the text is hard to read (very light on white) and a few other quirks that I've noticed.

[2018-11-29 18:18] benjamw commented on #14542
My two cents...

When using GUIs to do certain things, it's often at a price, and that price is not knowing what is going on in the background. So PMA admins have made the decision to hide that from the typical user. BUT... I would much rather see an invalid query so I can quickly figure out why it failed to return results than to see a valid query that gave me what I was looking for.

I'm also of

[2018-11-29 18:34] teo1978 commented on #14542
Have they, though? I wonder if this was actually by accident.

[2018-11-29 18:35] williamdes commented on #14542
If someone has some time to search in git history ?

[2018-11-29 18:36] teo1978 commented on #14542
Not that it's very relevant anyway. If it was a decision, it was clearly a wrong one.

[2018-11-29 18:53] #14749 closed

[2018-11-29 19:30] williamdes commented on #14617
Closed by 3f8305f10bb17f1466cc720f5d572fe17f844411 aka 18c23df20f2507a67131ee880bbc35ec29cfeec4

[2018-11-29 19:30] #14617 closed

[2018-11-30 06:59] Jack-Thomas-Ling commented on #14234
That works!

[2018-11-30 08:34] akshilshah commented on #13958
@williamdes No, I am not :)

[2018-11-30 09:36] williamdes commented on #14352
I have this issue on my prod environment, will fix soon :)

[2018-11-30 11:01] williamdes commented on #14719
Config auth does not use username and password.
Username and password should be hidden or disabled.
Use a multi server setup that has a config setup and a cookie setup.

[2018-11-30 11:14] williamdes commented on #14149
https://github.com/phpmyadmin/phpmyadmin/blob/003da01c616386e5463036546fb1475fd476d1c9/libraries/config.default.php#L786-L792

@nunoperalta Do you have the following warning ?
![warning](https://user-images.githubusercontent.com/7784660/49285917-2273fb00-f499-11e8-95cf-e294b73ce13a.png)

[2018-11-30 12:31] williamdes commented on #13908
@klatiss Can you try on latest versions ? `4.8.x` and `5.0.0-dev`

I can not reproduce this issue.

[2018-11-30 19:49] LucyTurtle opened #14761 "PHPMyAdmin Install Syntax Error"
### Describe the bug

When installing PHPMyAdmin to the server using `sudo apt-get install phpmyadmin`, I get the following error (displayed in screen shot as well).
`mysql said: ERROR 1064 (42000) at line 1: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'IDENTIFIED BY 'password'' at line 1`

### To Reproduce

[2018-11-30 19:51] williamdes commented on #14761
Duplicate of #14217

[2018-11-30 19:52] williamdes commented on #14761
@LucyTurtle Thank you for the report !
You can have a look at https://github.com/phpmyadmin/phpmyadmin/issues/14217#issuecomment-408685154 and other comments :)

You can comment on #14217 if needed :)

[2018-11-30 19:52] #14761 closed

[2018-11-30 19:54] williamdes commented on #14761
@LucyTurtle If you think this issue is not a duplicate let me know

[2018-11-30 20:58] nunoperalta commented on #14149
I don't have any warnings appearing in the homepage.
Thank you.

[2018-11-30 22:51] #14352 closed

[2018-12-01 07:59] OlafvdSpek opened #14762 "[GIT] substr() expects parameter 1 to be string, null given in GitRevision.php:43"
[code]

[2018-12-01 13:11] williamdes commented on #14762
Duplicate of #14635

[2018-12-01 13:13] williamdes commented on #14762
@OlafvdSpek Thank you for the report !
Can you send a detailed way of reproducing this issue ?
That would help me close #14635 and this one.

[2018-12-01 17:31] OlafvdSpek commented on #14762
Install snapshot, open pMA.

[2018-12-01 19:33] williamdes commented on #14378
Duplicate of #14433

[2018-12-01 20:05] williamdes opened #14763 "Show refresh indicator while refreshing all databases tree listing"
### Describe the solution you'd like

Show refresh indicator while refreshing all databases tree listing

![image](https://user-images.githubusercontent.com/7784660/49332391-b2ef3000-f5ac-11e8-8937-e22db80571c5.png)

Actually `ic_ajax_clock_small` is hidden

### Additional context

- phpMyAdmin version: 4.8.3, 5.0.0-dev

Found this while sorting issues: #12921

[2018-12-01 20:12] williamdes commented on #13264
@himura-kenshin See https://docs.phpmyadmin.net/en/latest/config.html#example-for-using-multiple-mysql-servers

[2018-12-01 20:14] williamdes commented on #14147
Duplicate of #13758

[2018-12-01 20:34] williamdes commented on #14299
Using [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
[code]

[2018-12-01 20:48] williamdes opened #14764 "left/right icons hidden"
### Describe the bug

Left and right icons are not showing when the screen is small.
See screenshot.

### To Reproduce

Steps to reproduce the behavior:
1. Login
2. Resize to smaller until "More" disappears
3. You can click left and right but no icons are showing.

### Expected behavior
![Expected](https://user-images.githubusercontent.com/7784660/49332735-c30a0e00-f5b2-11e8-83c3-89290d4eba90.png)

[2018-12-02 01:05] #14764 closed

[2018-12-02 11:19] OlafvdSpek opened #14766 "tmp dir in archives"
The (snapshot) archives seem to contains the tmp dir and contents. When extracting the archive, the ownership and permissions of the tmp dir and files are reset.. which means pMA is no longer able to write.

Why do the archives contain tmp files anyway?
Would it make sense to not include the tmp dir?

[2018-12-02 12:10] OlafvdSpek opened #14767 "Tooltip for truncated strings"
The tooltip for truncated strings is currently "Original length #".
It'd be nice if it was like "(<len>) <first X chars>".

I don't know what'd be a good X, maybe between 200 and 2000 chars. Maybe configurable.

[2018-12-02 13:06] williamdes commented on #14762
@OlafvdSpek I can not reproduce this issue using the snapshot. :disappointed:
Can you please send more instructions ?

[2018-12-02 13:12] williamdes commented on #14751
@Nemzag Can you try using the latest 4.8 snapshot ?
`phpMyAdmin 4.8+snapshot` https://www.phpmyadmin.net/downloads/

[2018-12-02 13:14] williamdes commented on #14751
A database for data that the phpMyAdmin interface uses.
Bookmarks, designer, and more

[2018-12-02 13:17] williamdes commented on #14766
Maybe https://github.com/phpmyadmin/phpmyadmin/issues/14604#issuecomment-419755898

cc @mauriciofauth

[2018-12-02 13:42] williamdes commented on #14534
Duplicate of #14352

[2018-12-02 13:45] williamdes commented on #14534
I think that https://github.com/phpmyadmin/phpmyadmin/commit/cc2b1c8b9919ae67115366bb1a80c697bbd18944 fixed this issue.
@julien5762 Can you try the latest `phpMyAdmin 4.8+snapshot` https://www.phpmyadmin.net/downloads/ ?

[2018-12-02 13:53] williamdes commented on #14641
See: https://mariadb.com/kb/en/library/explain-analyzer-api/#sending-explains-to-the-explain-analyzer

[2018-12-02 14:19] williamdes commented on #14641
I sent an email to `bryan AT montyprogram DOT com`

[2018-12-02 14:38] dilyanpalauzov commented on #14431
If calculating the cache files before packaging the phpMyAdmin for distribution, so that after unpacking it, phpMyAdmin does not need $cfg['TempDir'], and it is therefore removed from the codebase, then #14604 would be a solution.

[2018-12-02 17:39] williamdes commented on #14299
[code]

[2018-12-02 18:07] OlafvdSpek commented on #14762
PHP 7.3?

[2018-12-02 19:32] williamdes commented on #14346
@JBES Can you say if you have the behavoir from the screenshot below
#### Loading forever (pma:save-console-state)
![Loading forever](https://user-images.githubusercontent.com/7784660/49343951-35d9be80-f671-11e8-9ab9-766d8b79c5ca.png)

[2018-12-02 19:44] williamdes commented on #14279
Confirmed, makes PMA unusable.
Absolutely everything produces an error.

### Config

[code]
### Screenshots
#### Home page
![Loading forever](https://user-images.githubusercontent.com/7784660/49343991-d03a0200-f671-11e8-9fbf-ba50220412b6.png)
#### Table click
![Table click](https://user-images.githubusercontent.com/7784660/49343994-dc25c400-f671-11e8-8670-8d7984d225fd.png)
#### `db_structure.php?s

[2018-12-03 08:14] OlafvdSpek commented on #14762
Caching maybe? I replaced the git version with the snapshot..

[2018-12-03 11:00] cyberluke commented on #14060
This is funny. In current WAMP distribution, it contains PhpMyAdmin with this error. I fixed manually. Funny is you use framework jQuery, which should encapsulate all browser implementations and provide protection against this kind of issues. Some parts of functions.js look like 1995 javascript style coding.

[2018-12-03 11:10] williamdes commented on #14060
@cyberluke Can you send the phpMyAdmin version you are using ?
And the patch you made ?

[2018-12-03 11:13] cyberluke commented on #14060
I did what user qcybb wrote here in comment on Mar 20:

[code]

[2018-12-03 15:32] dinosore opened #14768 "web access for user using unix-socket authentication over ssh tunnel"
I'm not sure whether this issue should be classified as a bug report, feature request or a help request.

Perhaps I've missed something incredibly obvious...

I can;t find a way to login with a user using unix-socket authentication over an ssh tunnel.

Environment:
  LAMP Server:
    debian stretch on a pvs, no gui, accessed via ssh without a password using public key
    apache2 2.4.25-3+deb9u6

[2018-12-03 21:35] Bridgelog opened #14769 "phpMyAdmin 4.8.2 error 200"
I changed messed up and changed language settings.  Now I get Error 200 and it's "locked" phpMyAdmin.
Your help, please.

[2018-12-03 21:37] williamdes commented on #14769
@Bridgelog Use private navigation?

[2018-12-03 21:38] ibennetch commented on #14769
Any hint in your web server error log?

[2018-12-03 22:46] kampalex commented on #14401
Issue still appears in PMA 4.8.3 (under PHP 7.2.12).

...dived into it

@williamdes This is probably because of missing 'global $db;' (or not used $GLOBALS['db'] as used in other files, or it doesn't exists yet) in db_table_exists.inc.php. But when I global it, it does (in this issue) lead to more failures due to missing table variable. When also declaring table as global, more issues occur due ex

[2018-12-04 12:30] alea123 commented on #13158
today i got this error the first time on:

Datenbank-Server
    Server: 127.0.0.1 via TCP/IP
    Server-Typ: MySQL
    Server-Version: 5.7.24-1 - (Debian)
    Protokoll-Version: 10
    Benutzer: root@127.0.0.1
    Server-Zeichensatz: UTF-8 Unicode (utf8)

phpMyAdmin
    Versionsinformationen: 4.3.9

i know its not the latest version of all, but never had this error before

[2018-12-04 16:41] akshayg08 commented on #14763
from where i can refresh the database tree list?

[2018-12-04 18:59] williamdes commented on #13158
Seems that some people still have this issue.
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)
TLDR; If someone can try to reproduce on demo-servers ?

[2018-12-04 19:01] williamdes commented on #14763
@akshayg08 From the green icon
See my capture:
![Icon](https://user-images.githubusercontent.com/7784660/49466066-62bbdc00-f7ff-11e8-990f-acd68f1e2d5c.png)

[2018-12-04 21:40] crusheda commented on #12177
Work for me after installing all that dependencies.

if complete, enabled the
`a2enmod proxy_fcgi setenvif`
and
`a2enconf php7.2-fpm`
after that, restart your apache
`service apache2 restart`
everything is gonna be OKAY!

[2018-12-04 22:38] CharlieJ1911 commented on #14433
Any other fix? Getting this :/

[2018-12-04 22:42] JarnoVgr commented on #14433
Can you show your current config? (with masked credentials of course)

On Tue, 4 Dec 2018, 23:38 Charlie J <notifications@github.com wrote:

[2018-12-05 13:12] cdoggyd commented on #14433
I can confirm what @JarnoVgr said: this is an issue with a misconfigured control-user. In my case, I had to GRANT ALL PRIVILEGES ON `phpmyadmin`.* TO 'MyControlUser'@'MyHost' and FLUSH PRIVILEGES.

[2018-12-05 14:48] ibennetch commented on #14719
I don't think we support auth_socket at all right now, this probably should become a request to add functionality for that in more places than just the new user area.

[2018-12-05 14:51] ibennetch commented on #14768
This might be related to (or even a duplicate of) #14719.

[2018-12-05 14:51] OlafvdSpek commented on #14719
This one is not about using socket auth for pMA logins..

[2018-12-05 15:01] OlafvdSpek commented on #14768
Don't think this can work. The request arrives at Apache over tcp.. so no unix socket auth is available.
Even if it were, I don't think Apache would be able to forward the auth data to PHP and from PHP to MySQL.

[2018-12-05 16:21] dinosore commented on #14768
It may not be a question of passing credentials,  just detecting that the user is already authorised.

I can access mysql without specifying a user or pwd in the shell established by the same ssh command that established the port forwarding.  Perhaps phpmyadmin should detect this??? if possible???

My current work-around is to use a separate db user just for phpmyadmin, with no corresponding linux

[2018-12-06 01:41] RobertoBochet opened #14770 "The new views aren't showing immediately"
### Describe the bug

When a new view is created, it isn't shown immediately in the navigation panel, but is necessary reload the entire page. This issue doesn't occur when a new table is created.

### Server configuration

- Operating system: Ubuntu Server 18.04 LTS
- Web server: Apache/2.4.29 (Ubuntu)
- Database version: 5.7.24-0ubuntu0.18.04.1 - (Ubuntu)
- PHP version: 7.2.10-0ubuntu0.18.04.1
-

[2018-12-06 17:16] OlafvdSpek opened #14771 "Add date to snapshot version"
`Version information: 5.0.0-dev` doesn't tell me what date the snapshot is from.

[2018-12-06 18:18] mauriciofauth commented on #14771
I think a option would be to add the abbreviated git commit instead of date.
`5.0.0-dev+2fc8bb1`

Or add both date and git commit.
`5.0.0-dev+20181204.2fc8bb1`

[2018-12-07 09:25] OlafvdSpek opened #14772 "php_password_hash input function"
When inserting data, it'd be handy if PHP's password_hash function was available.
Unlike the other functions this one has to be run by PHP though.

http://php.net/password_hash

[2018-12-07 18:22] jormaster3k opened #14773 "Exporting results of SQL query causes "bad parameters" error when a database is not selected first"
### Describe the bug

Exporting results of SQL query causes "bad parameters" error when a database is not selected first

### To Reproduce

Steps to reproduce the behavior:
1. Login to PHPMyAdmin
2. Click on "SQL" tab
3. Enter a valid query, e.g. "select 1 from dual;"
3. Click Go
4. Click Export
5. Use default options and click "Go"
6. Receive error "Bad parameters!"

### Expected behavior

Expect

[2018-12-08 17:43] Gaurav-Punjabi commented on #14773
So what should we do to fix this issue?
Should we display a warning to the user that no DB is selected?

[2018-12-10 06:13] ThermoMan commented on #14172
chmod 777 is generally a bad idea.
You should give the minimimum permissions necessary.

I'm on Ubuntu 18.04.1
phpMyAdmin 4.8.3

[code]

[2018-12-10 18:52] GlenCooper commented on #12485
This fix worked for me:

$ sudo sha1sum /var/lib/phpmyadmin/blowfish_secret.inc.php
21248bbfbfbe7bf681ed6fee53abfa762d533398  /var/lib/phpmyadmin/blowfish_secret.inc.php
$ sudo vi /var/lib/phpmyadmin/blowfish_secret.inc.php
... manually updated the $cfg['blowfish_secret'] value to the sha1sum value above.
Logged back in to phpmyadmin and the error message was gone.

[2018-12-11 10:39] GaurangTandon commented on #14503
It seems this issue has been fixed on 5.0.0-dev. I have checked using all methods: type through physical keyboard, type through virtual keyboard,  type through paste. All correctly display checkboxes as soon data is typed and hide them once all data is deleted.

[2018-12-11 17:15] zkelo commented on #14217
Same issue on creating new user. MySQL 8.0.12, PHP 7.2.10, PMA 4.8.4

[2018-12-11 18:40] thelounge-zz opened #14775 "export to SQL format not available for tables"
4.8.4: database can be exported als sql, for tables it defaults to "CodeGen"

yes, maybe it's because of my rpmbuild deletes a large part of folders and files because in the past few years phpMyAdmin became a horrible bloat, but there is no rational reason differ in that part

[builduser@testserver:~]$ cat /rpmbuild/SPECS/phpMyAdmin.spec
Name:              phpMyAdmin
Version:           4.8.4
Relea

[2018-12-11 22:19] nervaccio commented on #14503
[5.0.0-dev](https://demo.phpmyadmin.net/master-config/db_sql.php?db=opengis)
it doesn't even show up.

[4.8.x](https://demo.phpmyadmin.net/QA_4_8/db_sql.php?db=opengis)
Checkboxes doesn't shows when you paste some text with: right-click + paste. If you paste with CTRL+V it behave as expected.

**My config for this test**
Ubuntu 18.04
Firefox Quantum 63.0.3
Chrome Version 71.0.3578.80 (Official Bui

[2018-12-12 03:33] ibennetch commented on #14775
Git bisect tells me that c1cdaac2f465dd6b9e17f9f35fd46861ad703a6d is the first bad commit, @mauriciofauth could you take a look?

[2018-12-12 03:36] GaurangTandon commented on #14503
Hi @nervaccio, I can successfully see the checkboxes on 5.0.0-dev on Ubuntu 18.04 with Version 69.0.3497.81 (Official Build) (64-bit).
Here's a [video](https://www.youtube.com/watch?v=AhXWN2QAf-k) of the same three methods I described earlier.

[2018-12-12 14:25] andy200486 opened #14776 "Unable to delete a row with 4.8.3 version"
Ubuntu 16.04
Phpmyadmin 4.8.3
Mysql Ver 15.1 Distrib 10.0.36-MariaDB

I'm unable to delete a row even using the "delete" button or doing a simple request ``DELETE FROM `X` WHERE Id = 1".``

I got this error :
[code]

Select and update works great.

Can somebody help me ?
Thanks

[2018-12-12 14:45] Skeanthu commented on #14324
I ran this on a larger monitor this morning and seen the rest of the message.  I am trying to figure out what to put in the Execute every field now.  I seen some posts where someone put EVERY 10 to fix the error, but it is not working for me.  Basically I wanted this event to run every day at 10am.

![capture](https://user-images.githubusercontent.com/23082068/49877055-91831500-fdf2-11e8-8d63-dbec

[2018-12-12 14:55] Skeanthu commented on #14324
Okay I figured it out.  I just put 10 in the Execute Every field and it saved fine.  I guess when I opened it back up to modify it back when I posted this I didn't realize I just needed to put an integer in that field.

[2018-12-12 14:55] #14324 closed

[2018-12-12 18:03] begueradj opened #14777 "Warning in ./libraries/plugin_interface.lib.php#551"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Log in to PHPMyAdmin
2. Click on 'Import'
3. Scroll down to
4. See error

### Server configuration
Apache/2.4.29 (Ubuntu)
Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407 - $Id: 38fea24f2847fa7519001be390c98ae0acafe387 $
PHP extension: mysqliDocumentation curlDocumentation mbstringDocumentation
PHP

[2018-12-12 19:13] williamdes commented on #14777
https://github.com/phpmyadmin/phpmyadmin/commit/700e081833dd7cd1b1669412ddf1c2e135ade0a1#diff-e4fb76d6e64dbbed120e6f1c178e44e5
The file does not exist anymore, you are using a 4.7.x version of phpMyAdmin.
You can update to latest version of phpMyAdmin ;)
Feel-free to re-open if you can reproduce this issue on latest version of phpMyAdmin :+1:

[2018-12-12 19:13] #14777 closed

[2018-12-12 19:45] ibennetch commented on #14776
Maybe you could also use the command line client to connect and verify that it works as expected from there.

[2018-12-12 22:16] bayridge1 opened #14778 "Cannot scroll to right"
I keep seeing that this was fixed and it isn't for me. Makes phpmyadmin useless to me if I can't scroll to right. I'm looking now for a replacement so I can see my tables. I have the latest version and it STILL will not left me scroll even if I go to bottom of page. There is no scroll bar at the bottom or top. Why won't you fix this?

[2018-12-13 00:10] ibennetch opened #14779 "Yarn issues since introduction of Bootstrap"
The demo server failed to build the nightly build:
[code]

On my local machine:
[code]

Likely related to 2dc9f4c1d9c6afa87e275a7f772afa35684c4ca5. @mauriciofauth could you take a look?

[2018-12-13 09:58] haelexuis opened #14780 "Binary relation link"
### Describe the bug

When I use binary(16) instead of ID there is no way I can see referenced row in foreign table, when I click to binary value, nothing happends, and link is

http://localhost/pma/tbl_get_field.php?db=store&table=configuration_translation&where_clause=%60configuration_translation%60.%60id%60+%3D+CAST%280x33e0163b7e8348c0b2b07addb28aab27+AS+BINARY%29&transform_key=entity_id&sql_q

[2018-12-13 11:39] Thedijje commented on #14773
@Gaurav-Punjabi We should debug if the database is selected by the export query, as per my experience, I tried selecting database many times but on the error, I kept finding out that database gets unselect.

[2018-12-13 15:14] bayridge1 commented on #14778
Using Adminer now. Now as good as phpmyadmin but at least I can see all my data. Don't know how they expect to get donations here with this terrible support.

[2018-12-13 19:02] AndreNalevaiko opened #14781 "Custom theme not found on 4.8.4 version, found on 4.8.3 version"
### Describe the bug

Themes are found on version 4.8.4 but are found in version 4.8.3.

### To Reproduce
Duplicate the theme pmahomme and change name to generate new theme.
Test in version 4.8.3, the theme if found. In version 4.8.4 the theme is not found.

### Expected behavior

Find themes.

### Server configuration

- Operating system: docker phpmyadmin/phpmyadmin:4.8.4
- Web server: nginx
- D

[2018-12-13 20:10] #14779 closed

[2018-12-13 20:11] mauriciofauth commented on #14779
Thanks, @ibennetch.

[2018-12-13 21:54] fallingrock opened #14782 "Cannot activate 2fa"
### Describe the bug

Trying to activate two factor authentication, but encountering this error:

[Thu Dec 13 21:12:23.455404 2018] [php7:error] [pid 18885] [client x.x.x.x:30233] PHP Fatal error:  Uncaught Error: Call to undefined method PragmaRX\\Google2FA\\Google2FA::getQRCodeInline() in /usr/local/www/web/dir/html/admin/libraries/classes/Plugins/TwoFactor/Application.php:96\nStack trace:\n#0 /

[2018-12-14 04:11] ibennetch commented on #14782
Anything helpful in the webserver error logs?

From where did you install phpMyAdmin — did you download directly one of the 4.8.4 files at phpmyadmin.net/downloads ?

[2018-12-14 07:44] yashbhadra opened #14784 "Cannot drop the database named as "database""
### Describe the bug
Created a database named as database and when I tried to drop it,MySql database throws the following error

### To Reproduce

Steps to reproduce the behavior:
1. Go to phpmyadmin.
2. Create a new database named as database.
3. After the database is created,drop it.
4. See error.

### Expected behavior

Expected it to be dropped.
### Screenshots

![screen shot 2018-12-13 at 2 3

[2018-12-14 09:55] lotharsm commented on #14775
I can confirm this for 4.8.4, haven't tried the current master since the installation in question is running in a production environment.

[2018-12-14 14:12] JorisDebonnet commented on #12484
@nijel True. In that case however I strongly suggest changing the defaults to the inversed order. Perhaps for 4.9?

[2018-12-14 15:45] ibennetch commented on #14782
I can confirm this with the official distribution of 4.8.4.

From RELEASE_4_8_4, I get the error if I use `composer install` but not if I use `composer upgrade`.

The broken distribution uses pragmarx/google2fa v4.0.0, it works with v3.0.3.

I believe this is introduced during the release process in https://github.com/phpmyadmin/phpmyadmin/blob/master/scripts/create-release.sh#L239-L241 where ther

[2018-12-15 14:11] ibennetch opened #14786 "Table level Operations functions missing"
From https://lists.phpmyadmin.net/pipermail/developers/2018-December/020868.html

### Describe the bug

I am using xampp 7.2.12 on Linux (Ubuntu 18.04). Some sections of phpMyAdmin do not appear in the table operations tab? eg table settings, table copy. There's only a table move section. What is the reason?

https://resmim.net/f/i6fiNF.jpg

error_log:

[code]

https://github.com/phpmyadmin/phpmya

[2018-12-16 11:42] alfemy opened #14787 "Cannot execute stored procedure"
### Describe the bug
Cannot execute a stored procedure. Nothing happens when a user clicks to "Execute" routine button
### To Reproduce
- phpMyAdmin **4.8.4**

Steps to reproduce the behavior:
1.  Create a DB
2.  Create a stored procedure. For example:
[code]
3. Execute the stored procedure: Go to 'routines -> p2 -> execute'
### Actual behavior
1.  The stored procedure was executed
2.  "Hello Worl

[2018-12-16 12:49] clion007 commented on #14234
I get the same problem and don't know why?

[2018-12-16 14:47] lem9 commented on #14784
Cannot reproduce via the database Operations tab, "Drop the database" link. If it's a query you typed, you have to enclose the database name with backquotes.

[2018-12-16 15:20] yashbhadra commented on #14784
Hello @lem9 ,
Yes it's a query that i typed and its working when enclosed the database name with backquotes.I thank you for your reply.

[2018-12-16 15:21] #14784 closed

[2018-12-16 21:13] p3x-robot opened #14789 "Error parsing header X-XSS-Protection"
### Describe the bug

It does not work with the current release that the phpMyAdmin version has a newer version or is current.
Before about 4.8.3 it was working.

### To Reproduce

After logging in, the browser console.log says this error:
[code]

### Expected behavior

The picture should show if the phpMyAdmin is current or if there is a newer version
![image](https://user-images.githubuserconten

[2018-12-16 21:15] #14789 closed

[2018-12-17 01:50] lem9 commented on #14778
Which exact phpMyAdmin version are you using? Which exact browser version?

[2018-12-17 13:26] celka opened #14790 "SQL option in export is missing"
### Describe the bug
In 4.8.2 there is SQL option in table export.
see pic here:
[img1](https://i.imgur.com/IjL55p2.png)

In 4.8.4 SQL option is missing:
[img2](https://i.imgur.com/a7otQEk.png)

[2018-12-17 15:32] useronkel commented on #14790
Confirmed.
I'm missing this export option also.

Installed 4.8.3 to get it work again

[2018-12-17 15:54] ibennetch commented on #14790
Thanks for reporting and confirming this.

I believe this is a duplicate of #14775. We’re working to fix this quickly.

[2018-12-17 15:54] #14790 closed

[2018-12-17 23:18] arcardy commented on #14217
![image](https://user-images.githubusercontent.com/17146686/50121795-3a4dcc00-025a-11e9-8eff-6bb556f0748d.png)
Yup. I'm having the same error. I am using IIS 10 with PHP 7.2.7 and MySQL 8.0.13. My operating System is Windows Server 2016. PHPMyAdmin version is 4.8.4.

[2018-12-18 10:41] williamdes commented on #14321
cc @madhuracj ?

[2018-12-18 11:23] williamdes commented on #14786
@ibennetch Same for me using php7.3, tried multiple `TR_*` locales

https://stackoverflow.com/questions/45515295/turkish-character-bug-in-mb-strtoupper-function-of-php
`https://github.com/roundcube/roundcubemail/issues/1872`

[2018-12-18 13:37] williamdes commented on #14786
Add to `common.inc.php` `setlocale(LC_ALL, 'tr_TR.UTF8');` to reproduce.
**WITH tr_TR.UTF8 locale installed !**

[2018-12-18 13:58] williamdes commented on #14786
![image](https://user-images.githubusercontent.com/7784660/50158754-41fe8680-02d5-11e9-906a-e574af83b85d.png)

[2018-12-18 14:15] williamdes commented on #14781
@AndreNalevaiko I am unable to reproduce this issue.
Using different folders for each version.
Can you check permissions and that you are using the good folder ?

[2018-12-18 14:35] williamdes commented on #14787
`git bisect` found that d9279982a9c24456c061ecc700f69610424e854e is the first bad commit

[2018-12-18 14:46] JBES commented on #14346
@williamdes Yes, this is the issue, it shows that it's loading forever. I have so far not been in a position to test with v5 in a production environment but should be soon.

[2018-12-18 15:12] williamdes commented on #14787
NOTES: With parameters: uses GET, without : uses POST

[2018-12-18 15:16] williamdes commented on #14787
[code]

[2018-12-18 15:20] williamdes commented on #14787
@ibennetch What should we do ?
- Revert for `Routines.php::handleExecute` and use `$_REQUEST`
- Use POST everywhere and remove link on execute button
- Use GET everywhere (security?)

[2018-12-18 15:30] williamdes commented on #14780
@haelexuis I agree, for me downloading the `.bin` file is useless (on foreign key links)

@ibennetch Should we change foreign links to go to destination and keep the hex download on a non foreign key field ?

`QA_4_8` or `master` ?

[2018-12-18 16:02] williamdes commented on #14719
https://mariadb.com/kb/en/library/authentication-plugin-unix-socket/
[code]

[code]

That config only works because `william` is my Ubuntu username.

Required:
[code]

[2018-12-18 16:02] williamdes commented on #14719
@OlafvdSpek What is the issue ?
Username and password inputs not used ?

[2018-12-18 16:38] unioncos opened #14791 "Warning in ./db_export.php#91 urldecode() expects parameter 1 to be string, array given"
PhpMyadmin 4.8.4 throws the following error on every Export of a database using gzip to the var/lib/phpMyadmin/save folder

Warning in ./db_export.php#91
 urldecode() expects parameter 1 to be string, array given

Backtrace

./db_export.php#91: urldecode(array)
./libraries/classes/Export.php#940: include_once(./db_export.php)
./export.php#549: PhpMyAdmin\Export::showPage(
string 'database_name',
s

[2018-12-18 18:36] OlafvdSpek commented on #14719
;)

[2018-12-18 21:47] FAbOnGitHub commented on #14427
Buuzzzz! I have the same issue at home :-(

[2018-12-18 21:57] williamdes commented on #14719
@OlafvdSpek `php7.2-fpm` is running as `william:www-data`

[2018-12-19 07:20] OlafvdSpek commented on #14719
Does it allow logins with any password or just with the empty password?
And with any username or just when you enter `william` in the pMA login form?

[2018-12-19 07:56] Nitromethane opened #14794 "Not responding to click, frozen interface, plugin Text_Plain_Sql error"
### The Plugins Text_Plain_Sql Error

Its easy to reproduce this error.

1. Go to the index of PMA:  https://demo.phpmyadmin.net/QA_4_8/index.php
2. Click help_topic table in mysql database on left navigation tree
3. it will load function.js which is not exist in PMA .
4. And then we could not click anything in browser.

### Screenshots
![_15452058734497](https://user-images.githubusercontent.com/

[2018-12-19 08:16] barrystaes opened #14795 "Procedures page: Export output is undetermistic / unsorted"
### Describe the bug

On the Database Procedures page. When using the Export button on that page, the resulting SQL is not sorted by name. It should be in a reproducable order for usage in version control.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Database Procedures page
2. Click on Export
3. Note the procedure order in the export SQL

### Expected behavior

The procedures shou

[2018-12-19 08:19] barrystaes opened #14796 "Export Database page: UI prevents exporting procedures only"
### Describe the bug

On the Export Database page. I found that in PMA 4.8.4 its not possible to export all procedures without exporting some table structure. This worked fine upto 4.7.0 and some newer releases.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Export Database page
2. Uncheck all tables and structure.
3. Scroll down to option "add CREATE PROCEDURE / FUNCTION / EVENT sta

[2018-12-19 09:34] bs-thomas commented on #14775
Wow, what an issue... Looking forward for the fix soon!  Thank you so much guys!

[2018-12-19 10:04] #14794 closed

[2018-12-19 10:04] #14786 closed

[2018-12-19 10:04] #14791 closed

[2018-12-19 13:10] bmakan opened #14797 "Option > Full Texts not working when using SELECT * ... JOIN ..."
### Describe the bug

When I run a query with `SELECT * ... JOIN ...` and then select the `Full Texts` under `Options` nothing happens. I opened Web Development Tools in browser and checked the Network requests.

Seems like by default, all queries are ordered by id by appending `ORDER BY id` clause at the end. After I added my own `ORDER BY` clause, the query worked and full texts were shown. The

[2018-12-19 14:18] williamdes commented on #14775
`git bisect` found that c1cdaac2f465dd6b9e17f9f35fd46861ad703a6d is the first bad commit.

[2018-12-19 14:33] thelounge-zz commented on #14775
can someone please fix that tragedy because it's simply impossible in that overengineered codebase to even guess where the values for the select are coming from and when you are at it stop leaking phyiscal temp-dir as full-qualified path in the import screen and make all that "hey place files on the server and select them in phpmyadmin" stuff OPTIN for the sake of security

[2018-12-19 14:35] idonda commented on #14775
@thelounge-zz can you temporarily downgrade to 4.8.3?

[2018-12-19 14:37] williamdes commented on #14775
@thelounge-zz I am fixing this issue in minutes ;)

[2018-12-19 14:45] #14775 closed

[2018-12-19 14:49] thelounge-zz commented on #14775
how can https://github.com/phpmyadmin/phpmyadmin/commit/95114841420af6277b0406ec7f0d32c4ff3fcf27 which just copies a GET value to a GLOBALS (shrug) fix the content of a select-field?

[2018-12-19 14:51] williamdes commented on #14775
@thelounge-zz You can confirm that https://github.com/phpmyadmin/phpmyadmin/commit/95114841420af6277b0406ec7f0d32c4ff3fcf27 fixes the issue ?

[2018-12-19 14:57] thelounge-zz commented on #14775
[root@srv-rhsoft:/downloads]$ cat Export.php > /usr/share/phpMyAdmin/libraries/classes/Display/Export.php

indeed - it's displayed again and even working - i honestly don't want to understand the codebase behind which seems to work out of a miracle

[2018-12-19 15:07] idonda commented on #14775
@williamdes it does fix the problem for me.

[2018-12-19 23:00] lem9 commented on #14778
Cannot reproduce the problem with https://demo.phpmyadmin.net/STABLE and the sakila.film table: I can scroll horizontally and vertically using Chrome 63.0.3239.108.

[2018-12-20 08:50] williamdes commented on #13788
@martinsiemens @AdamJachocki I am working on this issue today :)

### Notes
Query does not work on `MariaDB 10.1.26` but works on `MariaDB 10.2.16`

[2018-12-20 09:05] williamdes commented on #13788
Adding a
[code]
before
[code]
solves the issue

[2018-12-20 09:26] nikita65 opened #14798 "[sql-parser] PURGE statement unrecognized"
Hello,
with version 4.8.3 and 4.8.4 I cannot use anymore this query into the "SQL" panel:
[code]
just typing in "PURGE " raises the error after few seconds (even if PURGE is in the list of selectable statements that pops up when typing commands).

The supposed error says: "PURGE: Unrecognized statement type. (near PURGE)"

It looks like a parser error; it was working in version 3.x.x and it is wor

[2018-12-20 09:30] williamdes commented on #14798
@nikita65 Thank you for the report, can you open an issue on https://github.com/phpmyadmin/sql-parser/issues ?

Thank you !

[2018-12-20 09:43] nikita65 commented on #14798
Hello William,
Isn't this already an issue? Sorry, don't want to post twice but if you say I need to I will...

[2018-12-20 09:56] williamdes commented on #14798
@nikita65 Yes, for me posting on `sql-parser` will help solving the issue since the codebase is in the  `sql-parser` repository ;)

You can close this issue after posting the other one

[2018-12-20 10:03] #14798 closed

[2018-12-20 10:04] williamdes commented on #14798
https://github.com/phpmyadmin/sql-parser/issues/207

[2018-12-20 10:15] williamdes commented on #14797
@bmakan Can you send a test table with test data and a test query please ?

Maybe you can use the demo servers to create an example (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-12-20 11:38] bmakan commented on #14797
Seems I cannot replicate this anyone - not even on my own server, even though it occurred repeatedly yesterday.

I'm closing the issue for now. Will reopen it with more details if it occurs again.

[2018-12-20 11:38] #14797 closed

[2018-12-20 18:13] spacepille opened #14800 "Status -> Processes doesn't show full query"
### Describe the bug

A click on the <-T-> on SQL query in Status -> Processes is without function. It doesn't show the full query.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Status -> Processes
2. Click on <-T-> behind SQL query
3. And see that nothing happens

### Expected behavior

It should show the full SQL query.

### Screenshots

![grafik](https://user-images.githubusercon

[2018-12-20 20:00] williamdes commented on #14800
Git bisect found that 0fe1a3bea88a553407930f83380b88d7591d2bdd is the first bad commit

Successfully reproduced on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2018-12-20 21:04] williamdes commented on #9419
@manishbisht @ibennetch Is this issue solved ? since the PR is merged in `sql-parser` ?

[2018-12-20 23:46] ibennetch commented on #13788
@williamdes I think it's better to not add a milestone until the pull request is merged.

[2018-12-21 01:21] mauriciofauth opened #14801 "Extract HTML in PHP files to Twig templates"
phpMyAdmin have HTML and presentation logic in PHP files, these should be extracted to [Twig](https://twig.symfony.com/) templates.

Twig templates can be found at the [templates](https://github.com/phpmyadmin/phpmyadmin/tree/master/templates) directory and can be rendered like this:

[code]

[2018-12-21 03:59] mauriciofauth commented on #14217
Closed by #14788

[2018-12-21 06:51] annadaprasadjena opened #14802 "the dynamic title row is getting changed as the design is an issue which is showing wrong colom name over when we scroll down in a table"
Open the dynamic title row is getting changed as the design is an issue which is showing wrong column name over when we scroll down in a table

[2018-12-21 08:49] williamdes commented on #13788
@ibennetch Okay :)

[2018-12-21 09:00] williamdes commented on #14762
@OlafvdSpek To reproduce
- Install using git
- `mv .git .gitold`

The issue is reproduced !

[2018-12-21 10:21] williamdes commented on #14762
Will be fixed as issue #14635
Thank you for helping @OlafvdSpek !

[2018-12-21 10:21] #14762 closed

[2018-12-21 12:15] lem9 commented on #14776
Can you reproduce the problem on http://demo.phpmyadmin.net choosing the stable version and MariaDB?

[2018-12-21 14:50] williamdes commented on #14802
@annadaprasadjena Can you please send a screenshot to explain ?

[2018-12-21 15:20] WKupper opened #14804 "Undefined index: ssl_% variables"
This issue:
https://github.com/phpmyadmin/phpmyadmin/issues/12929

Seems to still occur.

**Steps to reproduce:**
Configure a MySQL connection with SSL but without key in config.inc.php.
Login to phpMyAdmin.

**Expected behaviour**
No warnings or errors.

**Actual behaviour**
The configuration causes a warning: "Undefined index: ssl_ca_paths". But also doubles for all ssl_% variables seemingly. An

[2018-12-21 16:11] #13788 closed

[2018-12-21 16:11] #14635 closed

[2018-12-21 16:51] edevoucoux opened #14805 "Add MySQL standard caching_sha2_password authentication method"
### Feature missing description:
Since 8.0.4, MySQL changed its default authentication method to caching_sha2_password which is still not supported by phpMyAdmin.
Consequently, it's impossible to connect to client accounts created using MySQL console.
Please could you add this authentication method support in your next phpMyAdmin release?

### My context:

- phpMyAdmin: 4.8.3
- PHP: 7.2.12
- Apach

[2018-12-21 17:49] mauriciofauth commented on #14805
Duplicate of #14220

[2018-12-21 17:49] #14805 closed

[2018-12-21 17:50] mauriciofauth commented on #14805
Thanks, @edevoucoux

[2018-12-22 00:41] colares commented on #14801
Hi there! First time contributing to phpmyadmin. I'm going to try to run the project, understand the project's collaboration process, and make some PRs regarding this issue

[2018-12-22 05:07] bs-thomas commented on #14301
Same error on 4.8.4

[2018-12-22 10:57] dhyey35 commented on #14756
@williamdes I have successfully reproduced the issue on my local machine. As I understand the issue does not occur when `None` is selected but crops up when we select an option other than `None` eg: If we select `Download` and save then when we edit again it shows `Substring` as all the options (except `None`) are selected.

I will start working on fixing this and will ask for your help if needed

[2018-12-22 11:23] OlafvdSpek opened #14807 "Missing whitespace in User accounts overview"
Whitespace is missing between icons and text like `Remove selected user accounts`.

![pma](https://user-images.githubusercontent.com/2218936/50373804-3b795300-05e4-11e9-9956-27b28fad6812.PNG)

pMA 5

[2018-12-22 11:25] OlafvdSpek opened #14808 "Edit user button missing"
The current user has super privs..

![pma](https://user-images.githubusercontent.com/2218936/50373820-84c9a280-05e4-11e9-995f-eebadd599867.PNG)

pMA 5
MariaDB 10.3.11-MariaDB-1 - Debian buildd-unstable

[2018-12-22 12:13] OlafvdSpek commented on #14673
IMO pMA shouldn't do row_format = '...' when the user didn't change the row_format.

I agree with pigochu, a complicated availability check isn't necessary.

[2018-12-22 13:48] OlafvdSpek opened #14809 "is_uploaded_file() expects parameter 1 to be string"
When editing a row.. I didn't touch any binary fields.

[code]

[2018-12-22 18:31] #14756 closed

[2018-12-22 20:51] #6167 closed

[2018-12-23 02:32] #14782 closed

[2018-12-23 02:35] ibennetch commented on #14782
The proper fix for this is to make a change to our build script, which has been done in master. The result will be that the next release will fix this issue. It's a little confusing because the problem occurs in the 4.8.x branch (QA_4_8), but is really caused by the build script in master.

Anyway, it will be fixed with the next release, you can test it using the daily development snapshots at php

[2018-12-23 09:24] svaningelgem opened #14811 ""SHOW FULL TABLES FROM xxx" results always in error"
### Describe the bug

When clicking on "structure" I always get the error window saying there is an SQL query error.
It sometimes appeared, so I think it might be related to my session or so?

### Additional context

I was so fed up by it that I started to investigate this issue. But I don't see why it wouldn't be working for anyone else.
In Util.php@4483, there is this line:
[code]

[code]

And t

[2018-12-23 09:40] svaningelgem commented on #14811
I now added the following in the tryQuery():
[code]
The first entry [0] did not have enough privileges on the database (user pma -- set up in the config under 'controluser').
The second is my main user, and that one did have enough rights to list all the tables.

[2018-12-23 13:10] williamdes opened #14812 "[5.0.0-dev] Uncaught TypeError: htmlspecialchars() expects parameter 1 to be string, null given in libraries/classes/Controllers/Table/TableChartController.php:248"
### Describe the bug - Screenshots

![Error](https://user-images.githubusercontent.com/7784660/50383657-d93e5200-06b8-11e9-987e-3953c0127d5d.png)

### To Reproduce

Steps to reproduce the behavior:
1. Import [github_issues.sql.zip](https://github.com/phpmyadmin/phpmyadmin/files/2705976/github_issues.sql.zip)
2. Browse table
3. "Display chart"
![Display chart](https://user-images.githubusercontent.

[2018-12-23 13:47] williamdes opened #14813 "Git revision is different - demo server"
![image](https://user-images.githubusercontent.com/7784660/50384154-2c1c0780-06c1-11e9-8354-fac8ac760701.png)

### Request

- Should be the same revision displayed ?
- Show timezone for commit ?

[2018-12-23 13:48] williamdes commented on #14813
@ibennetch @mauriciofauth Can you share your thoughts on this issue/request ?

[2018-12-23 16:09] mauriciofauth commented on #14813
@williamdes What is the difference?

[2018-12-23 16:13] williamdes commented on #14813
@mauriciofauth Is it normal that `Git revision RELEASE_4_8_4-3980-g0a0bc2cba6` is different than `Git revision: 0a0bc2c` ?

[2018-12-23 16:14] williamdes commented on #14813
@mauriciofauth Maybe I am confused by the `RELEASE_4_8_4` before the hash

[2018-12-23 16:30] williamdes commented on #14813
@mauriciofauth Okay, for demo server showing `5.0.0` would be nice ?

[2018-12-23 20:59] williamdes commented on #14813
Thank you @mauriciofauth :)

[2018-12-23 20:59] #14813 closed

[2018-12-24 01:07] ibennetch commented on #14787
I'm not sure what the ideal solution is here. We can't expose a security vulnerability, but maybe there are ways to work around it, I'm just not very familiar with how this bit of code works.

Perhaps @madhuracj and @mauriciofauth have some input?

[2018-12-24 08:22] thinsoldier opened #14815 "Allow simplifying exported view syntax to only "CREATE VIEW""
### Is your feature request related to a problem? Please describe.

Very often when I export a database from one server to move it to another server the views have the error `message: #1227 - Access denied; you need (at least one of) the SUPER privilege(s) for this operation
Or another message about the user mentioned in the exported view code not existing on the new server.`

### Describe the sol

[2018-12-24 14:17] Nitromethane commented on #14811
In class DatabaseInterface, the const CONNECT_USER is defined as 256 which is in the _links array.

[2018-12-24 14:50] svaningelgem commented on #14811
@Nitromethane : This is indeed defined, and is present in the _links array. The problem however comes from the fact that in Util::getTablesWhenOpen the query is ran with "NULL" (as you can see above). As such, it isn't looking for 256 or 257.

NULL is translated in 0 or "" in PHP arrays... Which entry isn't present in the _links array.

[2018-12-24 15:09] lem9 commented on #14778
I suggest to close this as there was no feedback.

[2018-12-24 20:43] supra08 commented on #14812
@williamdes, can I take up this issue?

[2018-12-24 21:34] williamdes commented on #14812
@supra08 Yes, go ahead !

[2018-12-25 04:36] computerManiac commented on #14773
This piece of code makes sure that a table is always selected when we export,
https://github.com/phpmyadmin/phpmyadmin/blob/0a0bc2cba63726e0e5dbfbf0a0490c3702b5b009/libraries/classes/Display/Results.php#L5229-L5235
But since we don't have any database selected it fails. Should we explicitly set the database and table to a string 'none' so that export doesn't fail ?

[2018-12-25 12:17] Nitromethane commented on #14811
@svaningelgem Thanks a lot, we have reproduce this bug.

### Describe the bug

Click DB name in left node tree. It will open the error dialog occasionally

### To Reproduce

Steps to reproduce the behavior:
1. Lock a table in any db, to make sure the result of run "show open tables from dbname" has tables In_use > 0;
2. The Click on db in the left NodeTree
3. It will show error dialog about “SQL Q

[2018-12-25 13:35] linuxmangr commented on #13031
Hello to all,
I user the Debian 9.6 stretch
PHP 7.2.13-1+0~20181207100540.13+stretch~1.gbpf57305
MariaDB 10.2.19
Phpmyadmin  4.6.6deb4

I found line when have problem "Display all"
I use the geany code editor on (Linux Mint) and change lines start from
867 -> 881 with Comment out lines
[code]
After change restart apache2 and mysql (mariadb)
Now I not see this Warning.

[2018-12-25 13:58] vingoyuan commented on #14570
i have the same Problem,
Server configuration
Operating system:
Ubuntu 18.04.1
Web server:
nginx/1.14.0 (Ubuntu)
Database:
Mysql  5.7.24-0ubuntu0.18.04.1 - (Ubuntu)
PHP version:
 7.2.10-0ubuntu0.18.04.1
phpMyAdmin version:
Version information: 4.6.6deb5

Client configuration
Browser:
Chrome
Operating system:
Windows 10

[2018-12-25 14:47] linuxmangr commented on #13031
On this server when I found it after install all needed software I can't try. (Is Production)
On Test Server when I found other problematic Issues with files I try the new version.
I think the version on repositories  https://mirror.yandex.ru/debian/pool/main/p/phpmyadmin/ is old.
If I found some time I will try latest version and inform about Issues or not.

[2018-12-25 17:07] taleski opened #14816 "[designer] Cannot read property 'style' of null"
### Describe the bug

When i click on "Designer" i'm getting this errror: A fatal JavaScript error has occurred. Would you like to send an error report?

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Designer'
2. See error

### Screenshots

[Error](https://i.imgur.com/Lt6TOY1.png)
[Configuration](https://i.imgur.com/WFBMJoh.png)

### Server configuration

- Operating system:
- Web s

[2018-12-25 18:13] williamdes commented on #14816
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'style' of null
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 2052
 Link | [Report#54220](https://reports.phpmyadmin.net/reports/view/54220)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2018-12-25 18:15] williamdes commented on #14299
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |PMA_makegrid is not defined
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 61
 Link | [Report#54274](https://reports.phpmyadmin.net/reports/view/54274)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2018-12-25 18:16] williamdes commented on #14751
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |document.getElementById(...) is null
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 1874
 Link | [Report#54190](https://reports.phpmyadmin.net/reports/view/54190)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2018-12-25 18:18] williamdes commented on #14555
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'removeChild' of null
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 2016
 Link | [Report#54262](https://reports.phpmyadmin.net/reports/view/54262)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2018-12-25 18:59] ibennetch opened #14817 "Upgrade to sql-parser 4.3.0"
I’ve released sql-parser version 4.3.0, we should evaluate whether this is appropriate to include in 4.8.5 or to keep that branch at ^4.2.3. I believe we’ll also need to bump the version in master.

[2018-12-26 10:36] madhuracj commented on #14787
IMO, POST should be used whenever the request performs any changes. See https://github.com/phpmyadmin/phpmyadmin/issues/6297#issue-97123510.

[2018-12-26 16:01] dmitrystas opened #14818 "export table - there is no SQL option"
### Describe the bug

I can't select SQL format when I try export 1 any table

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table
2. Click on 'Export'
3. Try to select format 'SQL'
4. See error

### Screenshots

phpMyAdmin 4.8.4 without SQL option - http://prntscr.com/lzs6uh
phpMyAdmin 4.8.3 with SQL option - http://prntscr.com/lzs8yc

### Server configuration

- Operating syste

[2018-12-26 16:07] williamdes commented on #14818
Duplicate of #14775

[2018-12-26 16:07] williamdes commented on #14818
Thank you for the report @dmitrystas !
This issue is a duplicate and has a fix

[2018-12-26 16:07] #14818 closed

[2018-12-26 18:48] #14812 closed

[2018-12-26 19:40] madmenyo opened #14820 "Hide buttons for tables is too obscure and close to the actual tables"
### Is your feature request related to a problem? Please describe.

I just spend an hour trying to solve why my Laravel project was working **correctly** without a specific table in the database that should have been migrated properly. I felt like an idiot when I discovered it was hidden but then I noticed extremely obscure eyes next to the tables, only slightly visible when hovering over a table

[2018-12-26 20:18] williamdes commented on #14478
Git bisect found that the fist bad commit is 9f279204061fa569c0a6a566d55f175174482055 and I agree since calling `Response::getInstance()` calls the constructor that does `OutputBuffering::start()` and the `start` function contains `ob_start('ob_gzhandler');` and `ob_start();`.

Comment the lines out and the export works again for large tables !

[2018-12-27 08:00] doveraudio commented on #14220
I used this to get it back when I started a new dev server with mysql 8 and php 7.3
` ALTER USER root@localhost IDENTIFIED WITH mysql_native_password BY 'PASSWORD'; `

it seems to be working ok so far.

[2018-12-27 09:46] SugarD-x commented on #14220
@doveraudio That is the workaround, not an actual fix. That just updates your root database login to use the old password authentication method, rather than this new one.

[2018-12-27 19:30] williamdes commented on #14517
When exporting my 8M rows table some html is at the end of what was exported.
(The table is `voie` from the French FANTOIR)
[code]

`Fatal error: Maximum execution time of 300 seconds exceeded`

[2018-12-27 19:47] supra08 commented on #14820
@williamdes , can I take up this issue?

[2018-12-27 19:59] williamdes commented on #14820
@supra08 Yes :)

[2018-12-28 16:15] dhyey35 commented on #14607
@williamdes I will try to solve this issue and will ask for your help if needed

[2018-12-29 07:19] cvicentiu commented on #14641
Hi! From the MariaDB Foundation side, we are aware of the issue and will be looking to fix it by end of January. No hard promises, but this will "automatically" be fixed when we finish migrating our infrastructure.

[2018-12-29 08:21] hisrarul opened #14822 "Access to particular ip address"
Hi Everyone,
I have configured phpMyAdmin-4.4.15.10-3.el7.noarch running on AWS Instance(Centos7). I am using apache (httpd-2.4.6-88.el7.centos.x86_64) to host webpages on the internet but we don't want to expose phpmyadmin page to every ip address.
We want phpmyadmin webpage to restrict to a particular ip. When I tried to update a particular ip address in the phpmyadmin.conf file then it is allow

[2018-12-30 09:26] Deltafox79 opened #14824 "[opcache] PHPMyAdmin 4.8.4 Fatal Error - Twig_Error_Loader on Php 7.3.x"
### Describe the bug

Am using PHPMyAdmin 4.8.4, MySQL 8.0.13, PHP 7.3.0, and Apache 2.4.37 mod_fcgid v2.3.9. Whenever I visit http://localhost/phpmyadmin/ I receive the following error:

### To Reproduce

Steps to reproduce the behavior:

just launch the Phpmyadmin Script

### Expected behavior

[Sun Dec 30 10:13:58.737987 2018] [fcgid:warn] [pid 19400:tid 1900] [client ::1:58774] mod_fcgid: stde

[2018-12-30 13:10] ibennetch commented on #14824
Hi, How have you installed phpMyAdmin? Did you download the source from phpmyadmin.net/downloads, clone the Git repository, use a package manager or prebuilt kit, etc?

[2018-12-30 13:18] ibennetch commented on #14817
I misunderstood the composer versioning; the caret operator allows this upgrade. I thought ^4.2.3 allowed versions 4.2.y, but instead it allows 4.x. So this is an invalid report.

[2018-12-30 13:18] #14817 closed

[2018-12-30 13:35] Deltafox79 commented on #14824
Hi I have just download 4.8.4 today here:

https://files.phpmyadmin.net/phpMyAdmin/4.8.4/phpMyAdmin-4.8.4-all-languages.zip

And only Edit config file.. Whit php 7.2.13 work fine but on php 7.3.0 I have this problems...

[2018-12-30 23:38] ibennetch commented on #14824
Hm, I've also tried with PHP 7.3.0 and I don't have any trouble, nor do I really have any insight as to what might be wrong. @mauriciofauth any ideas?

[2018-12-31 03:53] Deltafox79 commented on #14824
Also other user have this issue.. I find on the web :

[https://stackoverflow.com/questions/53747548/phpmyadmin-fatal-error-twig-error-loader](https://stackoverflow.com/questions/53747548/phpmyadmin-fatal-error-twig-error-loader)

I will try to disable some extension and see if the situation is solved ...Regards

[2018-12-31 11:09] Deltafox79 commented on #14824
Ok I have found the problem..
this line in php.ini :

**`zend_extension = "C:\apache\php\ext\php_opcache.dll"`**

If enabled whit php 7.3.0 phpmyadmin goies on throw exception... can be fixed?

Regards

[2018-12-31 13:44] williamdes commented on #14824
I have a segfault using `7.3.0-2+ubuntu18.04.1+deb.sury.org+1` when browsing index.php of phpMyAdmin.
I had the issue but was thinking that it was php7.3 but thanks to you I can confirm it is `opcache`.

### Log level = 4
[code]

[2018-12-31 17:05] williamdes commented on #14804
@WKupper I can not reproduce this issue using phpMyAdmin 4.8.4 and php `7.1`,`7.2`,`7.3`

### Config
[code]

Did I miss something ?

[2019-01-01 13:50] williamdes commented on #14321
Thank you @yznima for reporting !

[2019-01-01 13:54] williamdes commented on #14495
@mightydok Sorry for not updating this issue, can you send the structure of the table and a way to generate data ?

[2019-01-01 14:55] williamdes commented on #14369
@BloomCake Can please you try the fix #14825 for #14478 ?

[2019-01-01 14:58] OlafvdSpek commented on #14822
This is a question about Apache configuration isn't it?

[2019-01-01 14:59] williamdes commented on #14517
@fr51 Can you find the phpMyAdmin version you are using ?

Fixed this issue using :
[code]

[2019-01-01 15:02] williamdes commented on #14473
@erolatreston Is this issue related to #14478 ?

[2019-01-01 15:39] williamdes commented on #14184
Param | Value
 -----------|--------------------
 Error Type | User Error
 Error Message |Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.
 Exception Type |php
 phpMyAdmin version |4.8.4
 Incident count | 1
 Link | [Report#54621](https://reports.phpmyadmin.net/reports/view/54621)

*This comment is posted automatically by phpMyAdmin's [error-reporting-ser

[2019-01-01 15:51] williamdes opened #14826 "PMA_messages is not defined"
### Describe the bug

PMA_messages is not defined

### To Reproduce

No idea.

### Additional context

`PMA_messages is not defined` is reported many times on reporting server.

See: #11783

[2019-01-01 15:53] williamdes commented on #14826
@rapidmod Do you still have this issue ?

[2019-01-01 16:05] williamdes commented on #14826
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |PMA_messages is not defined
 Exception Type |js
 phpMyAdmin version |4.8.2
 Incident count | 915
 Link | [Report#53433](https://reports.phpmyadmin.net/reports/view/53433)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-01-01 20:40] hisrarul commented on #14822
Thanks for your reply. Probably there were some issues. The server is running on AWS and receiving traffic from Load Balancer which were hitting server from its own ip address.

[2019-01-02 09:46] priodchen opened #14827 "I want to config log record history about login and the user SQL query"
How can I complete this，thanks。

[2019-01-02 16:07] sethborg opened #14828 "Export to SQL option missing for table, only exists for database"
I just noticed in 4.8.4 that if I click on a database and go to export, it has SQL as an option to export to but if I click on a table in the database that option is now missing. I assume this is a bug because it makes no sense to have removed this intentionally.

[2019-01-02 16:08] williamdes commented on #14828
Duplicate of #14775

[2019-01-02 16:09] williamdes commented on #14828
Thank you @sethborg for report !
This is an issue and has a fix ;)

[2019-01-02 16:09] #14828 closed

[2019-01-02 18:18] fr51 commented on #14517
PMA v4.7
 
 
 
 

$cfg['ExecTimeLimit'] = 0;

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.
{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github/phpmyadmin/phpmyadmin","title":"phpmyadmin/phpmyadmin","subtitle":"GitHub repository","main_image_url":

[2019-01-03 08:45] Nopm commented on #14217
Strange... I downloaded the latest version of phpMyAdmin available on the website (I also tried 4.8+ and 5.0) and it's still an issue, even though it was fixed. Before opening an entirely new issue, I though I'd comment here.
![pma](https://user-images.githubusercontent.com/10567820/50629307-24f7c380-0f23-11e9-88c2-8a8531d684d1.png)

[2019-01-03 10:00] vinise commented on #14217
@Nopm

Seems normal as we currently are in 4.8.4

[2019-01-03 11:33] Nopm commented on #14217
🤔 I guess I must have missed that. Thanks, I'll clone the 4.8.5 branch.

[2019-01-03 16:59] tiomanisland opened #14829 "Comment field - textarea"
Can you please make comment field in phpMyAdmin to be <textarea> instead of <input> field. It is extremely hard to write anything into comment field with so little space. We put whole sentences or short explanation into that field and few characters is simply not enough to see.

When people suggest something, do you have a list of upcoming changes so we can know if someone has read requests? Thank

[2019-01-03 17:00] williamdes commented on #14829
@tiomanisland Maybe you are looking for: https://github.com/phpmyadmin/phpmyadmin/labels/enhancement

[2019-01-03 17:07] p8ul commented on #14220
I was able to connect successfully using other authentication methods such as `mysql_native_password`
By running this command on mysql on the terminal.
` cd /usr/local/mysql/bin `
`./mysql -u root -p`
Run command below on msql terminal
`CREATE USER sky@localhost IDENTIFIED WITH mysql_native_password BY 'password'`

[2019-01-03 20:18] erolatreston commented on #14473
Yes, it is the same issue as #14478

[2019-01-03 20:55] tiomanisland commented on #14829
Your link sends me to list of topics. I don't know what you tried to say.

[2019-01-03 21:05] plaki commented on #13975
I find solution to fix this problem.
I want to pull request, but I don't know which branch I can pull request. Do I pull request to `master` branch?

Problem is conversion of number from int/float to string (when adding parameter to Message class) and then using `sprintf` funciton to format string. Some locales use comma as decimal separator and it is problem, when we want use this number (as stri

[2019-01-03 22:55] ibennetch commented on #13975
@plaki I won't comment on the solution you've found (it makes sense, though), but a fix should preferably target the QA_4_8 branch.

[2019-01-04 17:04] R-Klimkeit opened #14832 "Designer won't show ComboBoxes for onUpdate/onDelete-Behaviour when adding a constraint"
### Describe the bug
After upgrading to the most recent version, I encoutered the problem, that the designer will not show up the ComboBoxes for the onUpdate/onDelete-Behaviour when adding a constraint anymore.

### To Reproduce
Add a constraint in phpMyAdmin's Designer.
Even if both selected fields satisfy the requirement to be PRIMARY and INDEX, the ComboBoxes will get the wrong CSS-Property "di

[2019-01-04 18:16] nPHYN1T3 commented on #14184
I have this issue as well in 4.8.4. Private tabs work, normal do not (in any browser).  My primary is Firefox 64.0.

This is obnoxious because not only am I constantly having to log back in but I will have to refresh the page before I login. So I will be idle too long, go to do something and it will kick me back to a login with the error. If I login, error. However if I refresh the page before try

[2019-01-05 09:42] thicolares commented on #14801
Hi @ankitkataria! Yes, but I had to finish other things during Xmas and new year's eves. If you don't mind, I'm going to resume it this weekend. If I do not, I'll let you know.

[2019-01-05 14:01] mauriciofauth commented on #14801
@ankitkataria @thicolares You two can work on it. This is a big work and will hardly be closed with just one pull request.

So, you can open a pull request if you extract only a small portion of HTML to a Twig template. That way it's even easier to review and merge your pull request.

[2019-01-05 14:48] thicolares commented on #14801
@mauriciofauth @ankitkataria Sounds great!

It is definitely a big work. I have just run the project locally using docker and skimmed the code.

I decided to start from the https://github.com/thicolares/phpmyadmin/blob/extract-html-in-view-operations-to-twig/view_operations.php file. And I created a branch to do so: https://github.com/thicolares/phpmyadmin/tree/extract-html-in-view-operations-to-t

[2019-01-05 20:02] olokos commented on #14245
So what is the solution? Referenced issue is also closed now, but no solution by following those issues.

[2019-01-06 08:30] andreaolivato opened #14833 "Sort by Time not working in Processlist"
### Describe the bug

Under Status -> Processes, clicking on Time to sort, will make applied filters (e.g. Show only active) disappear. Also, it doesn't actually sort, and clicking 2 times doesn't change the order (DESC or ASC).

Version 4.8.4

### To Reproduce

Steps to reproduce the behavior:
1. Go to Status -> Processlist
2. Click on 'Show only active'
3. Click on the column title 'Time'

### E

[2019-01-06 14:51] thicolares commented on #14801
@mauriciofauth Should I open a PR to the master or another specific branch?

I have performed smoke tests, but I could not find any previous automatic test.

[2019-01-07 16:29] davidsizer opened #14834 "Error: Parse error: syntax error, unexpected '(' in /home/crimev5/public_html/wp-content/plugins/wp-phpmyadmin-extension/index.php on line 182"
### Describe the bug

When logging into our wordpress site - the following error appears:
Parse error: syntax error, unexpected '(' in /home/crimev5/public_html/wp-content/plugins/wp-phpmyadmin-extension/index.php on line 182

The website was operational on January 4th 2019, however, over the weekend wonder if there was an update? It is not working today Jan 7th 2019. As far as I am aware nobody h

[2019-01-07 16:43] ibennetch commented on #14834
Hello,

This is a bit difficult because there's a WordPress extension that we don't control involved here (in fact, I only just now learned that this extension even exists). phpMyAdmin itself doesn't have this problem, so it seems to be related to either the extension itself or something in your environment.
In fact, you don't seem to be the only one with the problem: https://wordpress.org/support

[2019-01-07 22:30] freshcalendars commented on #11922
You helped me solve a big problem. Thank you so much.

xoxo [😋](https://www.luxecalendar.com/)

[2019-01-07 22:33] freshcalendars commented on #11898
**phpMyAdmin 4.5.4 and Firefox 44.0 but it's been that way for a while..**

How can i fix it ?

Thanks, [❓](https://freshcalendars.com/)

[2019-01-08 07:43] z0921 commented on #14184
I also have this problem in the normal mode of Google Chrome, but when I log in through the seamless browsing mode of Google Chrome, this problem no longer occurs, which may be caused by a conflict with one of my browser plugins.

[2019-01-08 13:54] Steffaan commented on #14217
Issue is fixed in PR https://github.com/phpmyadmin/phpmyadmin/pull/14788 but only when you add a user, when editing an existing user the problem still exists..

[2019-01-08 20:15] ibennetch commented on #14800
@williamdes @mauriciofauth Has there been any more progress on fixing this bug?

[2019-01-08 20:16] ibennetch commented on #14787
Has there been any more progress on getting this bug fixed?

[2019-01-08 20:19] williamdes commented on #14800
@ibennetch I did not have any time to fix this issue and #14833 is maybe related to this issue ;)

[2019-01-08 21:04] sharik709 commented on #14801
Hi Guys, It seems to be a lot of work. Can I also work on this?

[2019-01-08 23:48] mauriciofauth commented on #14801
@thicolares Yes, open a PR against master.

@sharik709 Yes, you also can work on it.

[2019-01-09 11:39] #14787 closed

[2019-01-09 15:14] sharik709 commented on #14801
@mauriciofauth Thank you.

[2019-01-09 19:46] bahl24 commented on #14430
@marcomarsala Which lang pack are you using, I am having difficulty reproducing the issue?

[2019-01-10 02:40] saurass commented on #14735
What could be possible solution ?

Can we dispaly like -- ""  (just double quotes without any string)
Or something like EMPTY_STRING ?

[2019-01-10 06:21] bahl24 commented on #14430
I was able to successfully replicate the issue, and yes the 'Execute' button is not active.

[2019-01-10 06:49] bahl24 commented on #14430
@williamdes @marcomarsala @ibennetch Though 'execute' button is inactive but I am able to CALL the procedure both from system terminal as well as console given on phpMyAdmin page.
![execute button inactive](https://user-images.githubusercontent.com/36095178/50950968-9b6f6500-14d1-11e9-9176-5be74906db52.png)
![call from console](https://user-images.githubusercontent.com/36095178/50950987-aa561780-1

[2019-01-10 10:01] theking2 opened #14837 "CSV for MS Excel export windows-1252"
### Is your feature request related to a problem? Please describe.

Microsft Excel, tested with Office 2016, imports CSV (character seperated values) default as Windows-1252 character format. PhpMyAdmin defaults to text-export in UTF-8. This can cause texts being imported with wrong or missing characters.

### Describe the solution you'd like

By selecting format option "CSV for MS Excel" the user

[2019-01-10 12:36] bahl24 commented on #14430
I’d like to try fixing this.

[2019-01-10 12:54] williamdes commented on #14430
@bahl24 Go ahead ;)

[2019-01-10 15:58] WKupper commented on #14804
No, I believe that to be correct. Will investigate on my side and update. Perhaps a setting related to the error_reporting in php.ini?

[2019-01-11 10:52] bahl24 opened #14840 "Discrepancy in reset button while inserting in table"
### Describe the bug

Reset button is bold sometimes and sometimes it is not.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a database
2. Click on a table
3. Click on insert
4. See reset button

### Expected behavior

Like all other buttons reset button should be having font-weight as bold/important

### Screenshots
Reset button is bold in some cases
![screenshot from 2019-01-11 13-

[2019-01-11 12:15] bahl24 commented on #14808
In my case, edit option is visible. Kindly login as root and retry.

[2019-01-11 16:18] jyxjjj commented on #14525
So...Which Version Fixed?

[2019-01-11 16:52] williamdes commented on #14525
@jyxjjj 4.8.3 :)

[2019-01-12 13:02] miklcct opened #14853 "Insert page should not allow entering things into virtual columns"
The insert page now currently list all columns, including virtual columns, but anything inputted to it are ignored in the generated SQL query.

Therefore, the page is misleading and may cause inconvenience when entering data into the database. Please disable or remove those virtual columns.

[2019-01-12 14:36] lem9 commented on #14853
The same when editing such column.

[2019-01-13 05:12] bahl24 commented on #14430
@williamdes @ibennetch @mauriciofauth
I worked on this issue and found that error is in `Util::currentUserHasPrivilege` due to which execute button is not displayed. Infact, it has been already mentioned in the following comment
![14430_2](https://user-images.githubusercontent.com/36095178/51081818-11b4d700-171f-11e9-859a-eaa36a17479a.png)

[2019-01-13 05:40] bahl24 commented on #14430
This is not a permanent fix for the issue but in order to justify
`There is a problem with Util::currentUserHasPrivilege():	// There is a problem with Util::currentUserHasPrivilege(): // it does not detect all kinds of privileges, for example	// it does not detect all kinds of privileges, for example // a direct privilege on a specific routine. So, at this point,	// a direct privilege on a specifi

[2019-01-13 12:46] RohitChattopadhyay commented on #14747
Can the following SQL whitespace formatter be used?
Link https://github.com/zeroturnaround/sql-formatter

[2019-01-13 14:30] matthiasradde opened #14868 "edit view not working"
### Describe the bug

A clear and concise description of what the bug is.
On structure-page within a view there is a "Edit view"-link. But instead of editing the view I see an empty view-page.

### To Reproduce

Steps to reproduce the behavior:
1. have a database and a table and a view using this table
2. got to "structure"-page within the view
3. click on "Edit view" below structure/above partiti

[2019-01-14 00:32] Enurhe opened #14870 "ODS export: incorrect zip files time"
### Describe the bug

https://github.com/phpmyadmin/phpmyadmin/blob/adef7b6f1cfea8b5f5b9110ab79fd25e6107feb5/libraries/classes/ZipExtension.php#L200

_function createFile_ in file _libraries/classes/ZipExtension.php_

In the _foreach_ loop the _$time_ option is reused for each iteration resulting in wrong dates in archive.
First iteration is OK, but on next _$time_ has the value of previous iterat

[2019-01-14 00:50] Enurhe opened #14871 "Export: do not compress mimetype"
### mimetype

https://github.com/phpmyadmin/phpmyadmin/blob/adef7b6f1cfea8b5f5b9110ab79fd25e6107feb5/libraries/classes/OpenDocument.php#L169

At least for ODS, guess this also affect other types that are compressed.

The _mimetype_ file is compressed along with other files. Result is that tools like `file` on Linux does not recognize the file as _OpenDocument Spreadsheet_ but simply _data_.

### W

[2019-01-14 00:55] Enurhe commented on #14837
I do not have access to Microsoft Office, but recall an issue in this regard a while back on another project. The issue was only present on MS Office for Mac, and not Windows. Only mentioning it if it is the case here.

[2019-01-14 07:03] williamdes commented on #14822
Since this issue is not a phpmyadmin bug or a request, I am closing this issue.
@hisrarul Feel free to re-open if I am wrong :)

[2019-01-14 07:03] #14822 closed

[2019-01-14 07:49] OlafvdSpek commented on #14822
Others can't re-open issues if you close them. ;)

[2019-01-14 07:56] williamdes commented on #14822
@OlafvdSpek Or ask to re-open ;)

[2019-01-14 11:40] miklcct opened #14872 "Suggest showing connection time zone when displaying / inserting timestamp columns"
I suggest, on the browse and insert pages, if the column involved is a timestamp, show the connection time zone on the web page.

Phpmyadmin is a web application, which the system time zone, database time zone, PHP time zone, and the time zone of the user may all be different. This may lead to confusion how we should enter timestamp columns, especially when it is used directly by the end user to e

[2019-01-15 08:01] workaroundman opened #14873 "Missing SQL format from the export section"
I choose a base, I choose a table. I turn to the Export section, and there is no SQL format.
Version: Version information: 4.8.4
![2019-01-15_11-55-45](https://user-images.githubusercontent.com/19203701/51166503-28913000-18bd-11e9-8ae3-52d6b49e604c.png)

[2019-01-15 08:04] williamdes commented on #14873
Duplicate of #14775

[2019-01-15 08:06] williamdes commented on #14873
Thanks for the report @workaroundman!
This issue has a fix now ;)

[2019-01-15 08:06] #14873 closed

[2019-01-15 13:34] bahl24 commented on #14868
@matthiasradde Can you please share some screenshots for the same.
I tried reproducing your issue using two accounts with different privileges and obtained this
![screenshot from 2019-01-15 17-46-23](https://user-images.githubusercontent.com/36095178/51183725-1b456700-18f8-11e9-8c1c-e8764eb9b5b8.png)
which is correct, according to me.
You can change definition using 'AS' column.

[2019-01-15 14:20] matthiasradde commented on #14868
@bahl24
thanks for your reply.
What you see is what I expected to see :-)

If I click on "edit view" I receive this screen
![screenshot01](https://user-images.githubusercontent.com/21104679/51185701-225c7d00-18d8-11e9-93e5-2d81e2fbf341.jpg)
The URL in the addressbar is (as it is not completely visible in the screenshot) https://localhost/phpMyAdmin-4.8.4/view_create.php?db=lsy_kb4&table=anz_docs_p

[2019-01-16 07:53] bahl24 commented on #14868
I'm confused, the parameters passed via url seems correct and similar to mine. There is no reason why you should get an empty form.

[2019-01-16 13:36] pxao02 commented on #14775
Good point @thelounge-zz I might consider doing this if it doesn't get released any soon.

[2019-01-16 13:44] ibennetch commented on #14775
@pxao02 and @thelounge-zz My plan was to release 4.8.4.1 as a quick fix for the several regressions caused with 4.8.4 (which were all related to a security change we made), but it seemed like #14800 was also related and I was holding the release for a fix for that issue.

Meanwhile, the continued development cycle meant that 4.8.5 continued to get regular bugfixes and we're coming up on the time I

[2019-01-16 13:50] idonda commented on #14775
@ibennetch thank you

[2019-01-16 13:50] thelounge-zz commented on #14775
don't get me wrong but "where I have to balance releasing a fix for the export issue that contains a known issue with the process list" is pure nonsense! currenmtly you only have a old insecure or a new version available with obviously more than one issue

so how could it be more bad fix the low haning fruits and make a point release still containing the other bugs than only have a completly buggy

[2019-01-16 13:59] pxao02 commented on #14775
Thank you @ibennetch !
For me personally it will not make a difference whether you release 4.8.4.1 or 4.8.5. What matters most is that either one of them will be released soon enough to fix the SQL export, which is causing us the most trouble with our clients :)

[2019-01-16 14:13] ibennetch commented on #14775
@thelounge-zz  I'm sorry you feel that way, but when the security flaw was fixed, a side effect was that a few places where requests were being passed between code blocks got missed and there were several similar bugs as a result of that fix. Would you have preferred for me to release 4.8.4.1 for the Text_Plain_Sql error, then three days later release 4.8.4.2 for the two-factor QR code, and two da

[2019-01-16 14:18] thelounge-zz commented on #14775
the answer to "Would you have preferred for me to release 4.8.4.1 for the Text_Plain_Sql error, then three days later release 4.8.4.2 for the two-factor QR code, and two days after that release 4.8.4.3 for this SQL export issue" is CLEARLY YES

in doubt i prefer every two days throw a tarball into /rpmbuild/SOURCES/ and fire up rpmbuild because it's cheaper than a single phone call why some crap d

[2019-01-16 14:21] ibennetch commented on #14775
I want you to know that we take your feedback seriously and consider these things when evaluating our long-term plans. Thanks for sharing your views on this.

[2019-01-16 16:41] svivian commented on #13879
This appears to be partially fixed in the latest version.

- `$cfg['RowActionType']` controls the icon display on the table Browse screen.
- But `$cfg['ActionLinksMode']` controls the icon display for everything - Database list, Database table list, and table browse.

So I still wonder what's the point of `RowActionType`? Why not scrap that option and use `ActionLinksMode` only? Or make `ActionLin

[2019-01-18 18:24] mcgreevyd commented on #14778
I too have check this in Firefox 64.0 and Chrome Version 71.0.3578.98 and can not reproduce this error. If the OP could provide screenshots and/or version numbers that would be good. But I agree that without evidence this should be closed.

[2019-01-18 23:41] mauriciofauth opened #14875 "Tests fail with dBase extension enabled"
### Describe the bug

PHPUnit tests fail with dBase PHP extension enabled.

Affects [QA_4_9](https://github.com/phpmyadmin/phpmyadmin/tree/QA_4_9) and [master](https://github.com/phpmyadmin/phpmyadmin/tree/master) branches.

### To Reproduce

1. Install [dBase](https://pecl.php.net/package/dbase) extension
2. Run PHPUnit

### Additional context

https://travis-ci.org/phpmyadmin/phpmyadmin/jobs/481

[2019-01-19 10:38] akkywadhwa commented on #14829
@williamdes Can you please tell me about which text area @tiomanisland is talking about? I would like to work on this.

[2019-01-19 11:14] akkywadhwa commented on #14829
@williamdes  waiting fir your answer.

[2019-01-19 11:36] williamdes commented on #14829
@akkywadhwa I think @tiomanisland is talking about the table and column comment fields
Maybe MySQL and MariaDB have restrictions on the length of the comments
Using a textarea could be a good idea :)

[2019-01-19 11:40] tiomanisland commented on #14829
Hello guys, glad to see someone is here. I am talking about comment field next to each column (not the table comment you marked on that pic) but this one - https://prnt.sc/m99j0o - it is very hard to enter anything longer than 10 characters because you have to scroll left and right, not to mention weird chrome/windows 10 behaviour with input boxes. if someone can change this to textarea it would b

[2019-01-19 11:41] tiomanisland commented on #14829
The limit is not a problem, I can write a lot in there, the problem is small input field...

[2019-01-19 11:42] tiomanisland commented on #14829
![download 4](https://user-images.githubusercontent.com/9598265/51426216-a91a9e00-1be7-11e9-9254-213d3f6ae583.png)

[2019-01-19 18:17] nmilo commented on #14773
Couldn't reproduce this on latest version, should this be closed?

[2019-01-19 20:36] nmilo commented on #14811
@Nitromethane are you working on PR for this?

[2019-01-19 23:33] akkywadhwa commented on #14820
@supra08 Are you still working on this issue?

[2019-01-20 00:19] MachineITSvcs commented on #14615
I'm experiencing this issue as well. Any update as of yet?

[2019-01-20 06:09] akkywadhwa commented on #14807
@williamdes or @OlafvdSpek  Can you please provide version information clearly?

[2019-01-20 08:17] OlafvdSpek commented on #14807
pMA 5 (i.e. git master)?

[2019-01-20 14:14] akkywadhwa commented on #14807
Hey @OlafvdSpek! I cloned the master branch and followed the setup instructions. I wasn't able to reproduce this error. Can you please provide more information so that I can reproduce and fix it?

Preview of freshly cloned master branch
![untitled](https://user-images.githubusercontent.com/666752/51440274-65a95800-1ceb-11e9-8d51-f3c931a1d1ee.png)

Configuration
![config](https://user-images.github

[2019-01-20 14:44] akkywadhwa commented on #14820
@williamdes I suppose @supra08 is not working on this issue now. Can I start working on this issue?

[2019-01-20 15:45] williamdes commented on #14820
@akkywadhwa Yes, no PR is open so you can start working on this issue :)

[2019-01-20 19:11] ShumailAhmed123 commented on #14801
Hi,

My name is Shumail Ahmed and I am a Computer Science student. I am in the last year of graduation. I am writing this because I would like to contribute to this project. In university, I am studying about the "Open Source" software.
My teacher has given me a task to contribute to the GitHub in any project, which relates to my interest and according to my level of skills.
I found this project a

[2019-01-20 20:57] OlafvdSpek commented on #14840
Or it shouldn't, because it's not part of the normal flow..
What does it do anyway? Should it be there at all?

[2019-01-21 02:09] thaygiaoth commented on #14276
Updates for mariadb 10.4.1

mysql.user table is retired. User accounts and global privileges are now stored in the mysql.global_priv table (MDEV-17658)

https://mariadb.com/kb/en/library/mariadb-1041-release-notes/

[2019-01-21 03:21] bahl24 commented on #14840
It helps to reset the form, for consistency across the application I think that it should be bold. Also, members agree that it should be bold.

[2019-01-21 08:12] bahl24 commented on #14801
Hello @sharik709 ,
Are you working on this issue? I am also willing to work alongside.

[2019-01-21 08:22] OlafvdSpek commented on #14840
I think it should go away.

[2019-01-21 08:59] akkywadhwa commented on #14820
@williamdes Will this work?
![pr-2](https://user-images.githubusercontent.com/666752/51463319-ee2a0600-1d88-11e9-826c-3f6ad38ea0b6.PNG)

[2019-01-21 09:00] williamdes commented on #14816
[code]

[2019-01-21 09:02] williamdes commented on #14816
@taleski Can you please try phpMyAdmin 4.8.4 ?
Solved for me using phpMyAdmin 4.8.4.

[2019-01-21 09:08] williamdes commented on #14820
@akkywadhwa Looks good !
I think that no eye should be on `Views` and `Tables`

You can create a PR ;)

[2019-01-21 09:11] akkywadhwa commented on #14820
@williamdes According to the present functionality eye on `Views` and `Tables` is to hide the whole group. Do you think I should remove these?

[2019-01-21 09:14] williamdes commented on #14820
@akkywadhwa No, I did not know, sorry

[2019-01-21 10:23] JasonDonner opened #14882 "Operation auto increment change does not work!"
Hi,
latest version that came with CENTOS 7.6 kvm [secure] v76.0.17 has following issue:

changing auto-increment used to be simple: Operations, change the number and GO.

Now that gives an invalid date error. Why, there is no date field there.

Entering the statement ALTER TABLE 'members' AUTO_INCREMENT = 1008; gives a syntax error.

So what gives? Cannot reset that anymore?

Mama mia, progress th

[2019-01-21 11:05] VARGA-Peter opened #14883 "PMA displays old results"
### Describe the bug
Since I switched to MySQL 8.0 I have very weird behaving on one PMA copy. It displays old results.
For example:
When in one table all rows have been deleted and new rows have been inserted in a program then PMA doesn't reflect the new content. It displays always the old content as it was before.

### To Reproduce
Any database/table on my MySQL Server 8.0

Steps to reproduce th

[2019-01-21 14:08] doctyp123 opened #14884 "MySQL 5 and above"
[code]

[2019-01-21 14:51] davidtessier opened #14885 "Where do I put Matomo Script?"
Hello,
I use Matomo (formerly Piwik) on my sites and I’d like to track usage on phpMyAdmin. It’s not obvious to me where I should put my Matomo JavaScript site tracking code. I am hoping someone could give me some direction as to the file(s) that I’d have to add the code snippet to so that I can track all site usage.
Thank you and keep up the solid development work on this project. It's fantastic!

[2019-01-21 18:08] akkywadhwa commented on #14820
@williamdes I achieved the output shown above by changing the code present in "{Location of phpmyadmin}\phpmyadmin\themes\pmahomme\css\theme.css" but in this css folder there's a ".gitignore" file which disallows git to work on ".css" files. What should be the authentic way to deal with this issue?

[2019-01-21 18:17] bahl24 commented on #14809
@OlafvdSpek Can you please share some more details and screenshots to better describe the issue.

[2019-01-21 18:41] bahl24 commented on #14773
@williamdes  I agree with @nmilo

[2019-01-21 18:56] bahl24 commented on #14734
@williamdes @OlafvdSpek This might be because `htmlspecialchars` in php changes `'` to `&#039` as a way to prevent scripting attacks in website. Let me see the issue in detail and try to provide a fix.

[2019-01-21 19:54] lem9 commented on #14885
What exactly do you want to track? Just the entry point or which action was done via the UI?

[2019-01-21 19:56] lem9 commented on #14884
What is the question or issue here?

[2019-01-21 20:02] davidtessier commented on #14885
Just page visits mostly.

[2019-01-22 06:38] Himani-Bhatt opened #14887 "mysqli_real_connect(): (HY000/1698): Access denied for user 'root'@'localhost' ubutntu 18.10"
![fireshot capture 1 - phpmyadmin - http___localhost_phpmyadmin_index php](https://user-images.githubusercontent.com/11426305/51516717-453de280-1e3e-11e9-9bac-251bb5d43f12.png)

can't login to phpmyadmin in ubutntu 18.10
can't even login using termin get same error
ERROR 1698 (28000): Access denied for user 'root'@'localhost'

[2019-01-22 13:14] lem9 commented on #14887
If you cannot log in using the mysql command line utility in the terminal, that's not a phpMyAdmin issue. You need to find out the password for root@localhost of the MySQL server.

[2019-01-22 13:37] svaningelgem opened #14888 "union query result in server error 500"
### Describe the bug

The problem arise when you do a union which is a wrong query.

### To Reproduce

Create any table (for example urls) with at least 1 field.
Create an invalid SQL:

[code]

(abc = not existing in urls!)

### Expected behavior

Invalid SQL

### Observed behavior

Server error 500
(and in the PHP error log:)
[code]

### Server configuration

- Operating system: Debian GNU/Linux

[2019-01-22 13:38] bahl24 commented on #14734
@williamdes @ibennetch I worked on the issue and found that `$bit_default_value` passed to the Util.php is `b&#039;1&#039;` instead of `b'1'` . Hence, I modified Util.php to satisfy our needs without affecting previous functionality. Kindly take a look at it.

Also, should I open the pull request for the master branch or QA_4_8 branch. Currently I worked off the QA_4_8 branch and it looks good.

[2019-01-22 14:06] williamdes commented on #14734
@bahl24 you can open a PR that targets and uses as base QA_4_8
Thank you for the research :) !

[2019-01-22 15:47] Himani-Bhatt commented on #14887
![screenshot from 2019-01-22 19-53-25](https://user-images.githubusercontent.com/11426305/51546859-1437cf00-1e8b-11e9-8104-80a180b346c3.png)

i got this from terminal
and i cant even login using terminal

[2019-01-22 15:50] Himani-Bhatt commented on #14887
![screenshot from 2019-01-22 21-18-18](https://user-images.githubusercontent.com/11426305/51547020-6b3da400-1e8b-11e9-838d-b3a59ae43126.png)

same error from terminal

[2019-01-22 16:20] saurass commented on #14888
@svaningelgem could you please share screenshots. I am unable to produce the error.

[2019-01-22 16:39] Himani-Bhatt commented on #14887
solved.
just run these 2 commands in terminal:
1) mysql> uninstall plugin validate_password;
2) mysql> ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';

[2019-01-22 16:41] #14887 closed

[2019-01-22 16:46] svaningelgem commented on #14888
Create table statement:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/199434/51550869-944f3c00-1e6d-11e9-8b84-99e41163bd6d.png)

Log entry:
[code]

[2019-01-22 17:51] nunoperalta opened #14890 "Display column details in navigation bar"
It would be very nice to have more information about the columns in the navigation bar, just like SQL Server Management Studio does.

- Primary Key or Foreign Key
- Data Type (int, varchar, date, etc...)
- NULL or NOT NULL

![image](https://user-images.githubusercontent.com/487079/51554682-c2348080-1e6d-11e9-87a0-108ee4d01511.png)

[2019-01-22 20:45] obendev opened #14893 "Error when creating new user"
## What I've done
I upgraded my MySQL Server from 8.0.13 to 8.0.14
When I try to create a new user in `/phpmyadmin/server_privileges.php?adduser=1` I get the following error

## The error
`#3009 - Column count of mysql.user is wrong. Expected 51, found 50. Created with MySQL 80013, now running 80014. Please use mysql_upgrade to fix this error.`

## The command that gets executed
[code]

Does anyon

[2019-01-22 20:51] obendev commented on #14893
Sorry... It is a bit late.

Just execute `mysql_upgrade -u root -p` (-p for password, obviously..) if you run into this issue.

[2019-01-22 20:51] #14893 closed

[2019-01-22 22:44] williamdes commented on #13856
Using phpmyadmin 4.8.3, emptied a date field that contained `2017-11-18 22:05:59` and hit enter.
Error occurs.

[2019-01-23 06:20] Enurhe commented on #14870
Hi @bahl24 ,

The issue is with the content of the produced OpenDocument file.

An ODS file is practically a ZIP archive. As you can see from the example in original post the produced files in the ZIP archive has dates ranging from 1985 to 2019 - which is wrong. Reason being re-use of the $time variable in each iteration when packing files. They should all have same date. **2019-01-14 00:14:22** a

[2019-01-23 06:30] Enurhe commented on #14870
Easiest solution would be to simply move the code on line 203 to 222 and place it before the `foreach` loop as it is strictly not necessary to re-generate this value for each file being packed.

From:

https://github.com/phpmyadmin/phpmyadmin/blob/adef7b6f1cfea8b5f5b9110ab79fd25e6107feb5/libraries/classes/ZipExtension.php#L203

Down to line 222 inclusively.

[2019-01-23 10:02] bahl24 commented on #14734
@williamdes done, kindly take a look at it.

[2019-01-23 10:24] mereshow opened #14895 "Dateformat transformation not showing minutes"
### Describe the bug

The dateformat Browser Display Transformation does not show the minutes when a custom format is used (I'm using it in a unix timestamp).
### To Reproduce

Steps to reproduce the behavior:
1. Go to a table with a unix timestamp column
2. Click on 'Change' in said column
3. Go to 'Browser Display Transformation' and select 'Date Fomat'
4. Go to field 'Browser display transforma

[2019-01-23 11:09] #14895 closed

[2019-01-23 11:16] mereshow commented on #14895
I'm so sorry, I was using Mysql DateFormat() format.
Thank you!

[2019-01-23 11:38] williamdes opened #14896 "[QA_4_8] Expanded DB, refresh, plus/minus icon"
### Describe the bug

Expanded database should keep minus icon if extended when refresh is triggered.

### To Reproduce

Steps to reproduce the behavior:
1. Expand database in tree view
2. Refresh tree view using green refresh button
3. Minus icon becomes plus

### Expected behavior

Minus should stay minus.

### Info
Affects only `QA_4_8` !

[2019-01-23 13:36] williamdes commented on #14896
@bahl24 Yes :), If you need more details ?

[2019-01-23 14:01] bahl24 commented on #14896
@williamdes I wasn't able to reproduce the issue on my system so headed over to https://demo.phpmyadmin.net/QA_4_8/index.php to test the same. I noted that only databases with icon in front of them such as in screenshot are having the issue and not other databases.
![screenshot from 2019-01-23 19-26-25](https://user-images.githubusercontent.com/36095178/51611415-3130d880-1f45-11e9-8609-29ab49bf1af

[2019-01-23 14:08] williamdes commented on #14896
@bahl24 Exactly, I forgot to try with simple databases :confused:
Thank you for the precision !

[2019-01-23 18:36] seattledeveloper opened #14898 "Bottom table in list in left pane blocked by horizontal scroll bar"
### Describe the bug

In the left navigation pane, the last table listed is blocked by the horizontal scroll bar (see attached screenshots)

### To Reproduce

Steps to reproduce the behavior:
1. Go to a server where the last database in the listing has enough tables to paginate
2. Open the last database table list using the +
3. Be sure the vertical scroll bar on the left pane is all the way to th

[2019-01-24 07:11] saurass commented on #14896
I just created a pull request to QA_4_8 branch @williamdes please review that.

[2019-01-24 08:15] bahl24 commented on #14896
@saurass I was working on this but anyways thanks for your help. Next time just inform when you take up the issue, because someone might be working on it.

[2019-01-24 12:33] bahl24 commented on #14898
Hi @seattledeveloper, thanks for reporting the issue. I am able to successfully reproduce the issue and am working on it.

[2019-01-24 18:56] williamdes commented on #14888
I am unable to reproduce this issue on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

### Query
[code]

[2019-01-24 19:15] svaningelgem commented on #14888
This is really strange. On the links you provided I cannot reproduce it either.
I will investigate a bit more indepth tomorrow to see why this is as it is. Because as I said, I can consistently get error 500.

[2019-01-25 04:00] akkywadhwa commented on #14829
@mauriciofauth  Thank you so much!

[2019-01-25 10:17] WayneGit1 opened #14903 "Import SQL very slow in 4.8.4"
Since 4.8.4 importing sql has been very slow and invariably times out. A data file of 20MB that loaded within 60 seconds before the upgrade now fails after 300 seconds.  If I break the file into 4 separate files, I can complete the import.

- Operating system: CentOS 6
- Web server: nginx/1.11.10
- Database version: 5.1.73
- PHP version: 5.6.30
- phpMyAdmin version: 4.8.4

[2019-01-25 21:04] tiomanisland commented on #14829
Thanks! How do I install this? Is this reflected on latest version I can download?

[2019-01-26 01:18] Carlosdurango opened #14905 "Vps"
Ventas. De hosting

[2019-01-26 02:38] ibennetch opened #14906 "Test failure inTransformationsPluginsTest"
When running the testsuite locally, I get this error:

[code]

When run on Travis, it does not seem to have the error.

This happens with both QA_4_8 and master.

[2019-01-26 02:41] #14834 closed

[2019-01-26 02:43] #14884 closed

[2019-01-26 02:58] mauriciofauth commented on #14906
I could not reproduce that. What is the value of your `PHP_INT_MAX` constant?

[2019-01-26 03:12] ibennetch commented on #14905
Do you have a question about or problem with phpMyAdmin?

[2019-01-26 03:45] mauriciofauth commented on #14903
What was the phpMyAdmin version before the upgrade?

[2019-01-26 04:02] sog01 opened #14907 "Warning message"
### Describe the bug

Warning message always appear when opening table

### To Reproduce

Steps to reproduce the behavior:
1. Go to phpmyadmin site
2. Click one of database
3. Click selected table
4. See error

### Expected behavior

Warning message shouldn't appear

### Screenshots

![screen shot 2019-01-26 at 10 58 28 am](https://user-images.githubusercontent.com/40876952/51782354-67df3c80-2159-

[2019-01-26 04:04] ibennetch commented on #14906
2147483647

[2019-01-26 04:06] mauriciofauth commented on #14907
Hi, @sog01. Thanks for reporting.

This bug has already been fixed. Please upgrade your phpMyAdmin installation.

[2019-01-26 04:08] #14907 closed

[2019-01-26 04:09] mauriciofauth commented on #14907
Duplicate of #13932

[2019-01-26 11:16] williamdes commented on #14763
@sog01 You can find  `5.0.0-dev` on :
- Demo server (root, no password) [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- On downloads page https://www.phpmyadmin.net/downloads/#devel

[2019-01-26 12:58] yurtkuran commented on #11983
[code]

[2019-01-26 20:36] dddns opened #14909 "Define the 1st day of week of the calendar in config.php"
Howdy,

In every update, i have to manually insert in js/functions.js the line below with the "=>".
How would it be considered to insert this option in config.php?

Thanks in advanced,
Jorge

            PMA_addDatepicker($(this), type, {
                showMillisec: showMillisec,
                showMicrosec: showMicrosec,
                timeFormat: timeFormat,
                hourMax: hourMax,

[2019-01-27 10:10] saurass commented on #14890
@williamdes I would like to work on this : )
First I will begin by working on column view in navigation tree

[2019-01-27 14:00] ibennetch opened #14911 ""User account" tab content is wrong color (red)."
"User account" tab content is wrong color (red).

On the User account overview page, the global privileges should not be red:
<img width="657" alt="image" src="https://user-images.githubusercontent.com/1443710/51801878-7be67500-2211-11e9-9a7d-d2d3e3738d9e.png">

On the "Add user account" page, the options after the Global Privilege header should not be red:

<img width="314" alt="screen shot 2019-

[2019-01-27 14:01] #14905 closed

[2019-01-27 14:33] ibennetch commented on #14890
I have two thoughts about this to share; first, we have shied away from this in the past because of wanting to avoid cluttering the interface. With larger screen resolutions now, that may not be a huge issue. Secondly, we can’t too closely emulate some other interface because we want to innovate our own interface and not steal someone else’s ideas.

Those concerns aside, this is an interesting ide

[2019-01-27 14:38] saurass commented on #14890
So should we go for this @ibennetch ?

[2019-01-27 14:41] nunoperalta commented on #14890
@ibennetch - I'm not against taking other interface's ideas. If they are good and beneficial, then I don't see a problem. Databases themselves keep copying features from others. That only benefits the users.

Also, this could be very well a setting that allows those who want a simple interface to disable this.

I much more prefer this feature than the "Hide Table" button that I had to disable with

[2019-01-27 20:08] lem9 commented on #14911
Cannot see this problem on https://demo.phpmyadmin.net/master/ currently at ae93767.

[2019-01-28 13:12] williamdes commented on #14053
Still on `4.8.5`

[2019-01-28 16:04] mauriciofauth commented on #14906
So it's a 32 bit system?

When a value is greater than `PHP_INT_MAX`, it is converted to float automatically.

[2019-01-28 17:09] lastsamurai26 opened #14912 "PHP My Admin doesn't recognize new version under php 7.3.0"
### Describe the bug

A new version of phpmyadmin has been released but phpmyadmin doesn't show it when I run phpmyadmin on php 7.3.x

### To Reproduce

Steps to reproduce the behavior:
change php Version from version 7.2.14 to Version PHP7.3.1

### Expected behavior

A new version of phpmyadmin has been released but phpmyadmin doesn't show it when I run phpmyadmin on php 7.3.x

### Screenshots

!

[2019-01-28 17:37] vassil-velichkov commented on #14673
Any plans to implement fix for this incompatibility with MySQL 8.x? We've just completed migration of 50+ servers and 1000+ tables from MySQL 5.7 to 8.0.14 and the actual ROW_FORMAT values are no longer correct / visible in Table->Operations.
Quick check with the following SQL statement shows that all tables are imported with the correct row formats (some with COMPACT, some with DYNAMIC, some with

[2019-01-28 18:03] vassil-velichkov commented on #14673
The actual compatibility issue is within the method called on line 1293 in Operations.php class:
[https://github.com/phpmyadmin/phpmyadmin/blob/c36086dd693001a4d77e47d3411b1cfb740e9cd8/libraries/classes/Operations.php#L1293](url)

/Engines/Innodb->getInnodbFileFormat() method checks for 'innodb_file_format' global variable with the following SQL statement:

`SHOW GLOBAL VARIABLES LIKE 'innodb_file

[2019-01-29 07:53] bahl24 commented on #14908
@ibennetch I wasn't able to reproduce the issue, can you give detailed testing instructions?

[2019-01-29 10:02] williamdes commented on #12900
[code]

[2019-01-29 10:44] akkywadhwa commented on #14820
@williamdes  Can you please see this. I am waiting for your reply.

[2019-01-29 11:07] barkermn01 commented on #14912
I believe that this is a server setup issue and not a phpMyAdmin issue.

**As a side note some tips for you**
Have you made sure your Apache is using the PHP 7.3.x version with `<?php phpinfo(); ?>` as you can have multiple versions of PHP installed side by side and you need to configure apache for which it is using and wich connector it's using.

[2019-01-29 11:15] barkermn01 opened #14913 "Return of Saved Logins for Server Switching."
### Is your feature request related to a problem? Please describe.

I want to be able to change server freely once logged into them, we have 2 servers and both are configured in the config.inc.php and it irritating when I need to check data cross servers click the drop down login to the new server and be automatically logged out from the other one when I have to switch back to it in a few mins or