[2020-04-14 18:36] williamdes commented on #16070
Thank you for the PR, I am trying it.
I added `setlocale(LC_ALL, 'ru_RU');` in my `config.inc.php` after generating locales for ru_RU

[2020-04-14 21:19] williamdes commented on #16069
@ibennetch Do you have an idea for this issue that I missed ?

[2020-04-14 21:24] #15939 closed

[2020-04-14 21:44] williamdes commented on #16070
Merged !
It was a good solution, but I could not reproduce this issue more that once

[2020-04-14 21:45] williamdes commented on #16070
7df3db25704886d718d46257250658c4195a33f3

[2020-04-14 21:45] #16070 closed

[2020-04-14 21:59] #15929 closed

[2020-04-14 22:09] korenevskiy opened #16080 "Please add DARK theme."

[2020-04-14 23:17] DavidThomas48 commented on #16052
Hi Hugues,

If it happens again I will do that. I can tell you that it happens when I resize the Routines editor dialog.

David

From: Hugues Peccatte [mailto:notifications@github.com]
Sent: Wednesday, 15 April 2020 12:58 AM
To: phpmyadmin/phpmyadmin
Cc: David Thomas; Mention
Subject: Re: [phpmyadmin/phpmyadmin] JS error (#16052)

@DavidThomas48 <https://github.com/DavidThomas48>  , would it be pl

[2020-04-15 05:27] korelstar commented on #15236
It looks like all dependencies of the main phpmyadmin package [found the way to `buster-backports`](https://packages.debian.org/search?keywords=phpmyadmin&searchon=names&section=all&suite=buster-backports). Just the main package is missing, now.

[2020-04-15 05:48] williamdes commented on #15236
We are missing php-twig >= 2.9 and then we will upload phpmyadmin to buster-backports :tada:!
https://ftp-master.debian.org/backports-new.html

[2020-04-15 09:09] toitzi commented on #16076
Thanks, sure here:

[code]

[2020-04-15 09:25] williamdes commented on #16076
NB: MariaDB works fine, it is a MySQL issue.
Reproduced.

[2020-04-15 09:28] Jay04653 opened #16081 "Logged in to wrong server after session timeout"
### Describe the bug

If you have the same user on a few servers you will be logged in to the last one (even if you select any other) during re-login after session timeout.

### To Reproduce

Steps to reproduce the behavior:
1. Setup more than one server with the same user and password on every server
2. Login to any of these servers with credentials from step 1
3. Wait till session timeout
4. Sel

[2020-04-15 10:14] long76 commented on #16070
@williamdes thanks, i think u more lucky than me) u got `"1586862546723"` instead `"1586862546723,0"` because last digit is zero and all works and it reason why sometimes all works on my side, but usual i got got non-zero in last digit)

[2020-04-15 10:22] williamdes commented on #16070
@long76 does my patch work fine for you then ?

[2020-04-15 11:11] long76 commented on #16070
@williamdes i mean it(forgot made quote) and ur patch work good(i think conversion to int equal intval, just it more right)

[2020-04-15 12:30] michaelrimbach commented on #14933
Issue still existent.

[2020-04-15 15:20] Tithugues commented on #15966
Do you know how to reproduce it please? It works for me.

Thank you.

[2020-04-15 15:25] williamdes commented on #15966
https://github.com/phpmyadmin/phpmyadmin/blob/e9eff7bd25cd2c2a7cb0989ccfe63f68e76b4425/libraries/classes/Util.php#L421

My change was reverted by 10f880bd8f014b5167784f80459a80e5c2acbd22

Closing, thank you for the ping @Tithugues

[2020-04-15 15:25] #15966 closed

[2020-04-15 18:10] jagadeeshsandireddy commented on #15574
Hy it worked for me thank you

[2020-04-15 23:42] #15957 closed

[2020-04-16 07:48] yogesh-chaudhari-77 commented on #16079
@williamdes Thank you for the suggestion. I will definitely try that. Meanwhile let me test solution provided by @ibennetch

[2020-04-16 11:02] DavidThomas48 commented on #16052
Hello Hugues ,

I just experienced the problem and it happened when I dragged the divider to the right to widen the left sidebar (database navigation tree). I had previously dragged it left to make the sidebar very narrow, then done some other things.

Hope that helps.

David

[2020-04-16 11:13] DavidThomas48 commented on #16052
Hi again,
Re "Can you please confirm that you have the error on the home page?" - no this is not the case.  It happens when I am working in tables or routines. I am rarely on the home page.

[2020-04-16 11:43] lem9 commented on #15501
@thesmallstar This feature already exists, see
https://docs.phpmyadmin.net/en/latest/privileges.html#configurable-menus-and-user-groups.

For example you could create a Seniors group, put some users in it and define which parts of the interface this group sees.

[2020-04-16 12:23] mkrecek234 opened #16083 "visual builder for queries missing"
According to manual and also the code there is a visual query builder integrated in the designer package. However, there is no way to use the query builder: The "switch to visual builder" link in the Query tab is not (/ no longer) there.

Please re-add this feature, it is very helpful.

[2020-04-16 12:24] williamdes commented on #16083
@mkrecek234 what version of phpMyAdmin are y uusing ?

[2020-04-16 12:28] mkrecek234 commented on #16083
I am using 4.9.3

[2020-04-16 12:47] williamdes commented on #16083
I can see it on demo servers (`root`, no password)
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)
![image](https://user-images.githubusercontent.com/7784660/79457888-3f0ec580-7ff1-11ea-9537-05dba9d86843.png)

[2020-04-16 13:00] mkrecek234 commented on #16083
Wow, this box is completely hidden: I tried it myself, but it's only if you select "query by example", and not on query on multiple tables. phpMyAdmin really knows how to hide stuff ;-) Thank you for pointing out that it exists ;-)

[2020-04-16 13:06] williamdes commented on #16083
;-)
Do you want to close the issue or to transform it into an improvement request ?

[2020-04-16 13:10] lem9 commented on #15501
@ibennetch Since there was no reply from @aziyan99 I suggest closing this.

[2020-04-16 13:11] #15501 closed

[2020-04-16 13:11] williamdes commented on #15501
Anyway #16005 will cover part if this request

[2020-04-16 13:12] mkrecek234 commented on #16083
I can live with it and close it ;-)

[2020-04-16 13:12] #16083 closed

[2020-04-16 13:14] ibennetch commented on #15501
For a simple interface to view and edit data, perhaps a custom written application would be better for some of your users. For making phpMyAdmin itself less feature-full, I agree with @lem9 about using user groups to restrict access to certain features. These two existing options cover most use-cases and I don't think we currently need to pursue a secondary phpMyAdmin interface.

Thanks for the in

[2020-04-16 17:45] php4fan opened #16084 "Filters are applied after pagination in list of tables within database"
### Describe the bug

See steps to reproduce

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/
2. Click on a database that has at least 250 tables

So now you are in the Structure tab of the database you picked, and you are seeing the list of tables in this database. Because they are more than a lot, you see the first N in page 1.

3. In the "F

[2020-04-16 18:53] williamdes commented on #16084
Our filter is done in JS.
This is why it is applied after pagination.
@lem9 Could I have your comments on this feature request ?

[2020-04-16 19:05] williamdes commented on #11462
I updated some comments because the PPA location changed
https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-548521407

[2020-04-16 19:05] php4fan commented on #16084
Yeah that is why it is done wrong.
You should do an AJAX request.
If you decided to do it entirely on the client side only with JS without doing an AJAX request, you took a wrong decision because that can't give you the correct behavior that should be expected.

This is not a feature request. This is a bug.

[2020-04-16 19:14] williamdes commented on #16084
To be clear it is a feature request. IMHO on this project a bug is something broken or a regression.
I will classify this one as a feature request if no proof that I did work on another version is given.
I hope you understand my maintainer point of view.
And anyway we should focus on moving forward and not having pointless arguing about feature or bug ^^ ;)

[2020-04-16 19:35] php4fan commented on #16084
I hope we agree that not all bugs are regressions.
Something can be broken since the beginning.
I'm pretty sure this never worked before, that's not relevant.

Now, BROKEN is something that doesn't behave correctly, and the current behavior is not correct.

If you have a reasoning to argue that the current behavior is sensible, then expose it.

So far the only argument has been "we implement this

[2020-04-16 19:40] williamdes commented on #16084
Anyway I agree with you that it could be "improved" because I also was frustrated about this particular behaviour last time I was searching for tables. And I will have to find the setting to show all tables in a mean time to workaround this issue

[2020-04-16 19:42] php4fan commented on #16084
Is there such a setting?

[2020-04-16 19:45] williamdes commented on #16084
https://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxNavigationItems `$cfg['MaxNavigationItems'] = 200;`

[2020-04-16 19:47] php4fan commented on #16084
Oh, ok, a system-wide configuration setting. No, that's not enough (but I'll certainly use that, thanks). The **user** **needs** to be able to choose to see all tables at once. There's a "show all" button for rows in a table, there's no excuse for not having one for tables in a database.

[2020-04-16 19:48] williamdes commented on #16084
You can file a feature request for that very usefull option

[2020-04-16 19:55] WillPresley commented on #11462
@williamdes Cheers for that!

[2020-04-17 09:45] jamescridland commented on #15634
I'm getting this error when logging in - `Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.` (running v5.0.2). I hit "login" again, and it always works fine. I've always had this issue (for years).

I *think* I only get this error when the previous session was left to time out. I don't appear to be able to reproduce it otherwise.

What may, or may not, b

[2020-04-17 09:50] williamdes commented on #15634
The browser will pick HTTPS ones on HTTPS connexions and non _https ones on a normal connexion because of the "secure" attribute limiting access. (I did the phpMyAdmin implementation and read the RFC about that behavior ;) )

This is what causes the error message :)

[2020-04-17 09:54] jamescridland commented on #15634
[code]
Both are marked "secure", both have the same path, both have the same name, both marked HttpOnly (i.e. unavailable to JavaScript) - in short, both are identical. This is not serving me one securely and one non-securely.

My server forces all traffic to https.

Are you explaining that this is expected behaviour?

[2020-04-17 10:21] williamdes commented on #15634
Having 2 identical Set-Cookie is a bug and is not expected, thank you for reporting this.

"My server forces all traffic to https." so you will only have a secure one ;)

[2020-04-17 10:29] jamescridland commented on #15634
Or two, if this code has anything to do with it... ;)

Incidentally, the identical Set-Cookie statements happen with every page load.

[2020-04-17 10:37] williamdes commented on #15634
Thank you, if you find something I will be very happy to be able to fix this bug with your help :pray:

[2020-04-17 11:31] thk12 commented on #15584
notice: to delete the annoying "Server connection", just edit templates/home/index.twig line 104+

[2020-04-17 13:06] williamdes opened #16085 "Uncaught TypeError: mb_strtolower() on Display Results"
[code]

Version: 5.0+

[2020-04-17 13:10] williamdes commented on #16085
[code]

[2020-04-17 13:11] williamdes commented on #16085
[code]

[2020-04-17 13:20] williamdes commented on #16085
[code]

[code]

[code]

[2020-04-17 13:33] ibennetch opened #16086 ""Browse" headings shift when scrolling"
When scrolling down on a Browse page, the header shifts. This is particularly noticeable when the first couple of columns are quite wide, as you'll see.

This is tested using current master and 5.0.2, I have not tested 4.9. Both are using PHP 7.4.

Before scrolling:
<img width="646" alt="image" src="https://user-images.githubusercontent.com/1443710/79573996-792da500-808d-11ea-8c80-388704e4a12e.png

[2020-04-17 22:13] CBDFactum-com commented on #15719
I had it again. After I emptied all rows in the `phpmyadmin` database I could browse the tables. Even browsing the `pma__table_uiprefs` didn't work. Should I send you again the dump of the `phpmyadmin` database?

[2020-04-17 22:20] williamdes commented on #15719
@CBDFactum-com are you up to date ?
Could you post the stacktrace in a new issue if you are up to date ?

[2020-04-17 22:41] #15995 closed

[2020-04-18 00:59] Elodie81 commented on #14478
Thank you very much @williamdes and @prcdpr :) I have exactly the same problem with PhpMyAdmin 5.0.2 and after removed the 2 lines "ob_start('ob_gzhandler');" and "ob_start();" (as indicate at 26 Dec 2018) exports of big data are working again.

[2020-04-18 09:03] CBDFactum-com commented on #15719
@williamdes  What do you mean with ".. a new issue if you are up to date"?
Should I open a new issue with the same subject and same stacktrace [as it is exactly the same] and with what should I be up to date?

[2020-04-18 09:22] williamdes commented on #15719
What I mean is: are you using phpMyAdmin 5.0.2?

If you are using 5.0.2 then my patch did not work.. 🤔

[2020-04-18 10:50] #16041 closed

[2020-04-18 11:00] CBDFactum-com commented on #15719
@williamdes  I am very sorry my friend. My mistake.

**Yes, in 5.0.2 it's fixed. Thank you very much!**

[2020-04-18 11:41] williamdes commented on #16012
@asprazz Would you be interested to fix this issue ?

[2020-04-18 11:42] williamdes commented on #15719
No worries, I am happy to know that it is fixed

[2020-04-18 11:58] asprazz commented on #16012
Hi @williamdes, I'll try for sure

[2020-04-18 21:44] williamdes commented on #15236
Add this source to you `/etc/apt/sources.list`
[code]

`apt-get update && apt-get install phpmyadmin`

You will maybe need to upgrade some packages before
I had to `apt-get upgrade php-tcpdf php-twig -y`
I was also obliged to do `apt-get install php-twig=2.12.5-1~bpo10+1` to force the upgrade before installing `phpmyadmin`

Please leave feedback here or email me at williamdes@wdes.fr
@olafvander
F

[2020-04-18 21:44] #15236 closed

[2020-04-19 00:13] utkarsh2102 commented on #15236
Congratulations and very well done ❤️

[2020-04-19 15:30] asprazz commented on #16012
@btacordex is right about different way of storing spatial data in MYSQL8 than MariaDB/MYSQL5

MariaDB
![Screenshot from 2020-04-19 20-37-07](https://user-images.githubusercontent.com/19568165/79691532-d0926780-827d-11ea-8cf8-e58bf5d435a6.png)

MYSQL8
![Screenshot from 2020-04-19 20-37-07](https://user-images.githubusercontent.com/19568165/79691541-da1bcf80-827d-11ea-83fb-768eef82ca69.png)

Now th

[2020-04-19 15:58] ibennetch commented on #16012
Thanks for finding this. If this is changed in MySQL version 8 (a link to
documentation would be helpful to cover all cases), then we have the
capability to detect the user’s version and use the proper SQL commands.
We already do this in many places, the most notable of which is commands
for creating or modifying users (I believe there are currently three
different options depending on the databas

[2020-04-19 16:04] williamdes commented on #16012
Hi @asprazz

i is not possible

ii is not the very best option

iii could an option

iv seems to be the best solution at `libraries/classes/Gis/GisVisualization.php` at `_modifySqlQuery`

I do think MySQL `ST_SwapXY` function will be useful as a fix after fining why this bug did occur ;)

https://dev.mysql.com/doc/refman/8.0/en/gis-format-conversion-functions.html#function_st-swapxy

Thank you for

[2020-04-19 16:10] asprazz commented on #16012
Thank you.  I will be going for 4th one.

PS: @btacordex did reported everythin in depth :)

[2020-04-19 16:36] ibennetch commented on #16012
Ah I honk I misunderstood the question. Thanks William for answering this!

[2020-04-19 19:58] williamdes commented on #16012
"Incompatible Change: These functions now interpret latitude and longitude coordinates as in the order specified by the spatial reference system. The functions also accept an optional argument to override the default axis order."
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-1.html

https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-1.html

"A new spatial function, ST_SwapXY(), ac

[2020-04-20 01:16] robsd commented on #16043
Having same issue

![image](https://user-images.githubusercontent.com/8268467/79705264-fa16b780-82ac-11ea-9a28-d6aef7dc6aeb.png)

[2020-04-20 02:19] asprazz commented on #16012
Yeah! It was introduced in MYSQL8, when they started using  co-ordinates as latitude and longitude

![Screenshot from 2020-04-20 07-45-27](https://user-images.githubusercontent.com/19568165/79707675-ed10bd00-82da-11ea-8221-8c5114438286.png)

This is the optional arugument that we can pass to ST_ASTEXT to override default axis order.
`ST_TEXT(....., 'axis-order=long-lat')`
Should we go with this ra

[2020-04-20 05:57] williamdes commented on #16043
I think I will revert the commit that removed this safe guard
I does not make sense but I do not understand what is wrong

Could someone post his phpinfo?

[2020-04-20 05:59] williamdes commented on #16012
I think we could use this solution and also add a version restriction for this fix starting with 8.0.1

[2020-04-20 06:33] williamdes commented on #16076
Would you want to try a fix for this one @asprazz?

[2020-04-20 06:34] asprazz commented on #16076
Yes!, @williamdes on it. :100:

[2020-04-20 07:00] asprazz commented on #16076
I can edit the `timestamp` and only facing problem in exporting
MariaDB is working fine as said by @williamdes

I am using

Operating system: Ubuntu
Web server: Apache
Database version: MySQL 8.0.18
PHP version: 7.1
phpMyAdmin version: 5.0.2

[2020-04-20 10:08] deg026 commented on #16058
confirm same problem, aftrer updating from 4.9.0 to 5.0.2
receive same problems with "signon" auth type....
seems like any of GET parameters being ignored...

[2020-04-20 10:10] williamdes commented on #16058
If anyone can make a patch before me I will be very glad to approve any pull-request to QA_5_0 branch

[2020-04-20 10:20] robsd commented on #16043
https://robertd.uk/phpinfo.php

[2020-04-20 10:29] williamdes commented on #16043
## On yours

MysqlI Support | enabled
-- | --
Client API library version | 10.2.26
Active Persistent Links | 0
Inactive Persistent Links | 0
Active Links | 0
Client API header version | 10.2.31-MariaDB
MYSQLI_SOCKET | /var/lib/mysql/mysql.sock

## On my setup

MysqlI Support | enabled
-- | --
Client API library version | mysqlnd 7.4.2
Active Persistent Links | 0
Inactive Persistent Links | 0
Activ

[2020-04-20 10:41] robsd commented on #16043
I don't have much experience with PHP modules so if anyone knows why this worked, please let me know...

I simply unchecked mysqli (red) and enabled nd_mysqli (green).

![Screenshot 2020-04-20 at 11 36 41](https://user-images.githubusercontent.com/8268467/79743097-e2b2eb00-82fb-11ea-9be1-eb9edacc781d.png)

I did this once on another web host to get an MVC application working and I only just though

[2020-04-20 10:43] robsd commented on #16043
![Screenshot 2020-04-20 at 11 42 40](https://user-images.githubusercontent.com/8268467/79743189-12fa8980-82fc-11ea-811b-a683669df63e.png)

Is this looking correct?

[2020-04-20 10:46] williamdes commented on #16043
:man_shrugging:
Is the issue fixed by changing extensions ?

[2020-04-20 10:54] robsd commented on #16043
Yeah, beats me.

WordPress, Adminer and my other custom PHP sites had no issue with the change.

This article goes through the the process and apparently changing allows certain functions...

https://www.plus2net.com/php_tutorial/mysqli_mysqlnd.php

[2020-04-20 11:42] williamdes commented on #16043
Thank you !
This will help me document why I am adding back the constant, this issue will be fixed in the next 5.0 version

[2020-04-20 13:56] myazaki opened #16089 "Quick 2FA UX enhancements - :focus into input field"
**Problem**

With 2FA switched on for the user, when you log in using username and password you will get to the page to insert one-time code. But the focus is not set for the input field. So you need to first click on the field to enter the one-time code.

**Solution**

After filling up username and password and getting to the page for filling the one-time code, set the focus into the input field,

[2020-04-21 00:51] Cotwa opened #16091 "SQL tab flags errors erroneously?"
### Describe the bug

phpMyAdmin 4.9.3: In SQL tab, when creating a table with a key, I get red error warnings from phpMyAdmin that don't seem to be correct.

### To Reproduce

1) Open phpMyAdmin

2) Create a new database named `misc`

3) Select misc and go to the SQL tab

4) Paste in this code:
CREATE TABLE autos (
auto_id INT UNSIGNED NOT NULL AUTO_INCREMENT KEY,
make VARCHAR(128),
year INTEGER,

[2020-04-21 02:59] ibennetch commented on #16091
I can reproduce this with our parser library, sql parser, and I've confirmed that it definitely doesn't like the `KEY` keyword. You're correct that the two other errors that follow are generated because of the trouble with KEY.

The documentation at https://dev.mysql.com/doc/refman/8.0/en/create-table.html#create-table-indexes-keys and https://mariadb.com/kb/en/create-table/#primary-key-column-opt

[2020-04-21 07:05] bacherecom commented on #15236
thanks for a great job, i can finally use phpmyadmin on Debian 10!

[2020-04-21 21:56] superodi commented on #12944
Now is 2020 and it still seems to be a json oneliner.

[2020-04-21 22:09] williamdes commented on #12944
@superodi could you open a new issue if you have a phpMyAdmin 4.9.x or 5.0.x ?

[2020-04-22 09:09] theking2 opened #16092 "Customize case of keywords"
### Is your feature request related to a problem? Please describe.
Upper case keywords distract from the more important elements in queries. (this is an opinion)

### Describe the solution you'd like
Allow the developer to choose between all upper or all lower case keywords for query generation.

### Describe alternatives you've considered
Global search and replace of all SQL-keywords.

### Additi

[2020-04-24 11:02] xianyun666 opened #16093 "Error importing utf-8 with bom sql file"
Windows platform，phpMyAdmin 4.9.5，Error importing utf-8 sql file with bom.
I found this error file，libraries/classes/Import.php
![bom](https://user-images.githubusercontent.com/22339210/80205768-c72e4400-865d-11ea-918f-11dcfcd74545.png)

Below is my test code
[code]

result:
![res](https://user-images.githubusercontent.com/22339210/80205489-4707de80-865d-11ea-8976-2adb3183c8cc.png)

utf-8 with bom

[2020-04-24 11:48] williamdes commented on #16093
Thank you for the report @xianyun666
Could you send the test files in a ZIP here ?

[2020-04-24 12:41] xianyun666 commented on #16093
[test.zip](https://github.com/phpmyadmin/phpmyadmin/files/4528881/test.zip)

[2020-04-25 09:01] #15895 closed

[2020-04-25 09:24] #15619 closed

[2020-04-25 10:13] williamdes commented on #16043
Ref: https://github.com/phpmyadmin/phpmyadmin/issues/11438#issuecomment-144375844

[2020-04-25 10:14] williamdes commented on #16043
https://github.com/phpmyadmin/phpmyadmin/commit/6dbdceef21ecc94f24fd9a86e5c542fbe1acf5a1

[2020-04-25 11:27] williamdes commented on #16043
Could you apply dc388607d7310aac01d6821025e7df65562ef8be and let me know if it fixes the issue ?

[2020-04-25 11:30] #16043 closed

[2020-04-25 14:02] Blaid9 opened #16094 "Big problem with password"
Hello,
Today I have changed the password of my phpmyadmin database and now when I try to connect to the database, it's saying an error "that the password is not the good one" but I'm sure that this password is the good one.
Can you please help me by doing a reset of the password and giving me an another one?
I did not find the email of phpmyadmin support for this type of problem so I'm posting it

[2020-04-25 14:24] ibennetch commented on #16094
Have you tried your old password?

How exactly did you change the password?

[2020-04-25 14:24] ibennetch commented on #16094
With MySQL permissions, there are often two user accounts, one with host `%` (which is used for all TCP/IP connections, even those coming from the same system) and 'localhost' (used for socket connections). You're logging in using the localhost/socket connection, so what we usually see as the cause here is having changed the password for the user with host value `%` (or 127.0.0.1) but not the 'loc

[2020-04-25 15:03] Blaid9 commented on #16094
Yes , I already tried the old password and I changed it in the menu of my database where is the bouton to generate another password and re-type it.

[2020-04-25 15:03] dinosore opened #16095 "Leading space not shown in a CHAR column when browsing table"
### Describe the bug

I have a table with a CHAR(4) column where the contents are right aligned. Some rows have a leading space, but phpmyadmin shows the column left aligne.

### To Reproduce

1. Create and populate a table like the one below. (I did it with phpmyadmin).
2. Browse the table with  phpmyadmin.
3. Observe that the CHAR column appears left aligned even though the first 9 rows have a l

[2020-04-25 15:52] ibennetch commented on #16095
I agree there's a problem here.

It looks to me like only the first leading space is truncated.

<img width="113" alt="image" src="https://user-images.githubusercontent.com/1443710/80284132-803a6000-86ea-11ea-8b0f-4f32a52ae87b.png">

Here, 'bar' should have one space in front of it, and 'baz' has several. Looking at the generated HTML, I see `<span>bar</span>`. So somewhere we aren't properly hand

[2020-04-25 16:04] davidjmorin opened #16096 "Notice Error with phpmyadmin and Rasbian Buster"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'phpmyadmin frontend'
2. Click on 'Table you want to load'
4. See error

### Expected behavior
No errors or warnings to appear

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your pro

[2020-04-25 16:05] davidjmorin commented on #16096
I have edited the file according to this
/usr/share/phpmyadmin/libraries/sql.lib.php

So let’s go to edit that file and reach on 613 lines.

|| (count($analyzed_sql_results['select_expr'] == 1)
Replace this line to
|| (count($analyzed_sql_results['select_expr']) == 1

[2020-04-25 16:08] #15992 closed

[2020-04-25 16:09] williamdes commented on #15992
Thank you for reporting this, it will be added back into 5.1 version

[2020-04-25 16:15] williamdes commented on #16095
#15236 for Debian and #15515 for Ubuntu (https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-548521407)

[2020-04-25 16:25] williamdes commented on #16096
I assume you did install the version from Buster backports ?
Refs:
#15236 for Debian and #15515 for Ubuntu (https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-552211446) (Raspbian using our PPA https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)

For the record could you paste the version you are using ?

[2020-04-25 16:39] davidjmorin commented on #16096
I am using phpmyadmin version 5.0.2

[2020-04-25 18:45] williamdes commented on #16096
@davidjmorin I checked and you are not using 5.0.2 for 2 reasons:
- `PMA_executeQueryAndGetQueryResponse`does not exist.
- `/libraries/sql.lib.php` does not exist anymore

You are using an old version of phpMyAdmin.
Please follow the comment I posted previously to upgrade your instance :)
Or maybe you are using opcache and should flush it ;)

[2020-04-25 18:48] williamdes commented on #16096
See: https://github.com/phpmyadmin/phpmyadmin/issues/15800#issuecomment-578525001

[2020-04-25 18:48] williamdes commented on #16096
Duplicate of #15800

[2020-04-26 18:25] dinosore commented on #16095
Thank you both for your prompt replies.  I'm happy that this minor issue targets the latest release.

The server has buster-backports in its sources.list and is updates & upgrades via a daily cron job.

So, if i understand https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993 correctly, I should already be on the latest stable release.

Perhaps I should have commented in #15

[2020-04-26 18:39] williamdes commented on #16095
The latest 4.9 release is available.
Much more work is needed to package 5.0 versions into our PPA and Debian.
So my very very optimistic hope to have 5.0 available in Debian and Ubuntu PPA would be in a month or two depending on my free-time and a lot more variables :)

I am glad that you are ready to upgrade ;)

[2020-04-26 18:45] ibennetch commented on #16095
You did the right thing opening a new issue here, it's easier to track this way.

I don't really know how you had the phpMyAdmin 4.6.6, could you have downloaded the .deb file and installed that? You're using Debian 10 (Buster) which doesn't have any phpMyAdmin. The version you have is consistent with Debian 9 (Stretch), but that shouldn't have been offered to you. I suppose if you had recently up

[2020-04-26 18:57] williamdes commented on #16095
@bacherecom  `apt-get -t buster-backports install phpmyadmin` should be in your tutorial. Indeed Isaac pointed out a scenario that is very plausible and should be covered ;)

[2020-04-26 21:12] dinosore commented on #16095
@williamdes
apt-get -t buster-backports install phpmyadmin
Reading package lists... Done
E: The value 'buster-backports' is invalid for APT::Default-Release as such a release is not available in the sources

???

[2020-04-26 21:19] dinosore commented on #16095
Yes I initially installed Debian 9 and did a dist-upgrade to 10.
<pre>
root@hhgp:~# apt-get -t buster-backports install phpmyadmin
Reading package lists... Done
E: The value 'buster-backports' is invalid for APT::Default-Release as such a release is not available in the sources
root@hhgp:~# apt-get -t buster install phpmyadmin
Reading package lists... Done
Building dependency tree
Reading state in

[2020-04-26 21:26] ibennetch commented on #16095
I believe this error indicates that backports is not configured for your system. Do you see a line about backports in `/etc/apt/sources.list` or any of the files in `/etc/apt/sources.list.d/` ? You could probably `grep -Ri backports /etc/apt/*` to check them all at once.

[2020-04-26 21:29] #14611 closed

[2020-04-26 21:30] dinosore commented on #16095
@ibennetch
<pre>
root@hhgp:~# cat /etc/apt/sources.list.d/backports.list
deb http://ftp.debian.org/debian stretch-backports main contrib non-free
# deb http://mirrors.linode.com/debian stretch-backports main contrib non-free
root@hhgp:~#
</pre>

Same with either commented out.

[2020-04-26 21:43] dinosore commented on #16095
oops - will try buster...

[2020-04-27 05:47] bacherecom commented on #16095
So I have to replace this expression
apt-get install phpmyadmin
with this one?
apt-get -t buster-backports install

[2020-04-27 12:18] jsfrerot commented on #16043
@williamdes I confirm it fixes the issue.
Thank you !

[2020-04-27 13:41] ccyarm commented on #15992
Thank you.

On Sat, 25 Apr 2020 at 17:09, William Desportes <notifications@github.com>
wrote:

--
Cecilia

--

If you are not the
intended recipient of this e-mail please notify the
originator. This e-mail and
any attachments have been scanned for viruses.
Yarm School will not be liable
for any losses as a result of any viruses
being passed on.

The contents of any e-mail which does not relate to

[2020-04-27 15:22] iheartski opened #16097 "What's the idea of keeping an up to date phpmyadmin version running"
Hey guys,

i'm currently wondering what's the intended and most sustainable way to install phpmyadmin and keep it up to date without any further actions, besides let's say, major updates.

I thought about using git and checking out STABLE, no brainer to automate via cronjob. But when checking out STABLE with git there are no CSS included: https://github.com/phpmyadmin/phpmyadmin/tree/STABLE/themes

[2020-04-27 15:26] williamdes commented on #16097
@iheartski https://www.phpmyadmin.net/downloads/

A cron that downloads https://www.phpmyadmin.net/downloads/phpMyAdmin-latest-all-languages.zip and unzips the file seems enough for me.

Or you could have a look to our https://github.com/phpmyadmin/docker version and pull `latest` tag

[2020-04-27 15:38] iheartski commented on #16097
Thanks for your quick answer.

Unfortunately, downloading tar balls or similiar will require one to remove existing installations. If you would do it in a proper way, you would have to actively delete stuff on the system, because just extracting over an existing destination folder would not remove obsolete files and therefore imply potential security risks.

Downloading a latest release also would

[2020-04-27 15:57] williamdes commented on #16097
Yes, because they are now generated files ;)

That said https://github.com/phpmyadmin/composer has all the GIT logic and has the CSS files pushed into the history. Could that repository fit your expectations ?

[2020-04-27 15:58] williamdes commented on #16097
https://github.com/phpmyadmin/composer/tree/5.0.x will keep up to date with 5.0 versions etc...

[2020-04-27 16:59] ibennetch commented on #16097
This is a good question and I don't think there's really a "one size fits all" solution.

### STABLE branch

For some of my servers, I don't mind the extra overhead of git, yarn, node, and composer so I actually do what you first thought of; I have a very small script that runs weekly and checks out the latest changes from STABLE, the runs the other programs (composer and yarn) to update dependenc

[2020-04-28 03:08] iiinsomnia opened #16098 "batch modify rows in list view page"
![image](https://user-images.githubusercontent.com/6582246/80442813-59756700-8940-11ea-8c57-395524eaff03.png)

![image](https://user-images.githubusercontent.com/6582246/80442836-642ffc00-8940-11ea-96b4-0ccff0da5801.png)

[2020-04-28 03:28] jamescridland commented on #15634
I think I'm nearer a method of reproducing this issue:

I was previously signed in with, say, `user2`. That connection timed out overnight. I went to sign in with `user1`.

In Chrome's network tab, I can see the correct username/password for `user1` being submitted. There's a `set_session` value being submitted of `n5fp2s0CCCCCCCCCCC7n200h0`

My login request also sends a set of cookies, which are

[2020-04-28 08:58] iheartski commented on #16097
Thank's again for your replies, i appreciate it.

It certainly depends on what one want's to achieve. I'd like to provide an easy to run through guide to setup an auto-updating installation. The update routine should be a one line crontab entry to avoid any overhead.

This exludes parsing version files and handling tar archives, as it should happen in a user context it also excludes package manage

[2020-04-28 09:31] dinosore commented on #16095
After installing with -t buster-backports, trying to get to the login page I got the message "PHP Parse error:  syntax error, unexpected 'const' (T_CONST), expecting variable (T_VARIABLE) in /usr/share/php/PhpMyAdmin/MoTranslator/Translator.php on line 58".

A bit of googlinng told me of a dependency on >=php7.1.

I found I was running 7.0, but 7.3 was also installed.  However apache module php7.3

[2020-04-28 10:31] dinosore commented on #16095
Leading space now shown.  Thanks.

[2020-04-28 11:51] iiinsomnia opened #16099 "browse without 'limit' ?"
![image](https://user-images.githubusercontent.com/6582246/80484006-9a459e00-8989-11ea-8327-809310af4012.png)

[2020-04-28 11:54] williamdes commented on #16099
@iiinsomnia You can tick `显示全部`
![image](https://user-images.githubusercontent.com/7784660/80484281-bf211d80-8957-11ea-9087-f1efd82f785f.png)

https://demo.phpmyadmin.net/QA_5_0/sql.php?db=sakila&table=actor_info&pos=0

[2020-04-28 13:34] #16099 closed

[2020-04-28 14:13] ibennetch commented on #16097
At the moment, we do not have a stable branch of Composer. We can probably add that functionality, though.

If you're running `./composer.phar create-project phpmyadmin/phpmyadmin "5.0.0" -d pma/ 5.0.0 --no-dev`, then trying to update that, I think I see the problem. The 5.0.0 tag pulls exactly version 5.0.0. If, for some reason, we would publish a change to the version 5.0.0 release (which we wou

[2020-04-28 14:45] iiinsomnia commented on #16098
I think, modified when cursor moved is unsafe. So, it should have a save/submit button.

[2020-04-28 21:03] pkbarbiedoll commented on #16043
dc38860 also worked for me.

[2020-04-28 23:12] #16008 closed

[2020-04-29 09:14] iheartski commented on #16097
I think a stable branch is pretty essential, doesn't the way it is right now mean every composer installation is always a dev branch unless you use `--repository-url=https://www.phpmyadmin.net/packages.json` ?

Anyways, for my plans and need a stable composer branch would solve my problem, even though i would use git to check it out and that feels a bit like misusing the intention of it.

[2020-05-01 14:19] apasov commented on #16097
I run this shell script once a day via cron. It has been keeping my phpmyadmin up to date for a couple of years so far.

[code]

[2020-05-01 14:47] apasov commented on #16097
I run this shell script once a day via cron. It has been keeping my phpmyadmin up to date for a couple of years so far.

[code]

[2020-05-01 15:43] lem9 commented on #16095
Maybe we need this option in the CSS for the span: white-space:pre;

[2020-05-01 15:52] mohamadpishdar opened #16101 "CWE-1236: Improper Neutralization of Formula Elements in a CSV File"

[2020-05-01 16:13] #16101 closed

[2020-05-01 16:15] ibennetch commented on #16101
Please correct me if I'm wrong, but this looks to me like a problem with Excel import rather than phpMyAdmin?

[2020-05-01 16:18] ibennetch commented on #16101
Also, I believe this report relates to https://docs.phpmyadmin.net/en/latest/faq.html#csv-files-exported-from-phpmyadmin-could-allow-a-formula-injection-attack

[2020-05-01 16:28] mohamadpishdar commented on #16101
In my opinion, phpmyadmin should not rely on third-party tools. And validate inputs based on user Setting. As you can see, OWASP and mitre institutions (famous institutions in computer security) have the same opinion.

[2020-05-01 17:00] mohamadpishdar commented on #16101
Third-party software is a standalone tool that it's process is based on input. Therefore, it is the task of the programmer to filter the input based on the logic of program. A third-party tool does not know if the executable code is allowed or not (so it can only warn that many users don't read it), but it is easy for Website's admin that inputs cannot be a executable code or not

[2020-05-01 21:39] williamdes opened #16102 "Broken error message on 5.1"
Have an error that some parameters are missing on export route
phpMyAdmin: 5.1.0-dev

![image](https://user-images.githubusercontent.com/7784660/80843519-cfa9f000-8c04-11ea-9e4c-dc4f869e9bfd.png)

it was not displayed that way before.

[2020-05-01 23:22] #14815 closed

[2020-05-02 08:50] OlafvdSpek commented on #16097
Using the (a?) package manager would be the obvious answer..

[2020-05-02 09:28] #16096 closed

[2020-05-02 09:29] williamdes commented on #16093
@alesker-abdullayev Would you want to contribute to fix this issue ?

[2020-05-02 09:41] williamdes commented on #16095
I agree, but it could have rendering effects on text contents.

[2020-05-02 09:50] #16049 closed

[2020-05-02 11:05] #16012 closed

[2020-05-02 11:19] #14149 closed

[2020-05-02 11:45] #15496 closed

[2020-05-02 13:30] lem9 commented on #16095
Yes, not sure if there can be a universal solution.

[2020-05-02 13:43] BenceSzalai commented on #16043
FYI: Had the same issue. dc38860 also worked for me.

[2020-05-02 19:26] benemohamed commented on #11344
for me I solve this issue, just comment or delete this line

[code]

[2020-05-02 20:07] kbacia7 opened #16103 "History tab"
### Is your feature request related to a problem? Please describe.

I miss the tab where I can check all queries written/generated in PhpMyAdmin with option to undo some queries like `UPDATE`, `INSERT` or `DELETE`.

### Describe the solution you'd like
Adding History tab where is list of all queries from last N-days generated or written by hand in PhpMyAdmin for specific table (with query, user wh

[2020-05-02 20:08] williamdes commented on #16103
@ibennetch Could I have your advice on this feature request ?

[2020-05-02 21:09] TheWatcher opened #16104 "Overwriting bookmarked query causes PHP Fatal error"
### Describe the bug

When "Replace existing bookmark of same name" is selected when running a SQL query, the query fails with an "Error in processing request" popup. When looking in the server logs, I have the error:

    PHP Fatal error:  Uncaught TypeError: Argument 5 passed to PhpMyAdmin\\Sql::storeTheQueryAsBookmark() must be of the type bool or null, string given, called in [path removed]/ph

[2020-05-02 22:20] #16104 closed

[2020-05-02 22:21] williamdes commented on #16104
Thank you for reporting this issue @TheWatcher !
It will be fixed in next 5.0 version and you can apply the patch (a06c62ef044f0d14b5c9bd7b14aca115d76192c9) locally to fix it before the new version is out

[2020-05-03 11:04] Dany-LF opened #16105 "I need help please"
[code]

How can i resolve that?

[2020-05-03 12:12] williamdes commented on #16105
@Dany-LF I think you did forget to configure php execution
See: https://stackoverflow.com/questions/12142172/apache-shows-php-code-instead-of-executing

[2020-05-03 15:28] dhodnett-ucp opened #16106 "headers and columns misalignment"
in 5.0.1 and 5.0.2, while viewing large tables, upon scrolling down header row jumps to misalign with data rows.

does not happen in 4.9.4

tested on chrome and firefox

[2020-05-03 17:18] ibennetch commented on #16106
Thanks for your report and information.

I think this is the same issue as #16086.

[2020-05-03 17:19] #16105 closed

[2020-05-03 22:18] #12677 closed

[2020-05-03 22:57] williamdes commented on #16093
Hi @xianyun666
I have some trouble to add a test case for your issue
See: 13651548aef7c496c6556d12dded481e981c18ea

Let me know if I missed something

[2020-05-04 00:08] Dany-LF commented on #16105
Yeah ty

[2020-05-04 01:14] mauriciofauth commented on #16055
I don't think this directory should be writable for the end user. The files inside are static and should not change.

[2020-05-04 09:47] SecretPenguin1 opened #16107 "UI Bug in 5.x.x when using Metro Theme"
Steps to reproduce:
Set **$cfg['ShowServerInfo'] = false;** in /etc/phpmyadmin/config.inc.php

This does indeed hide the server image, but then causes the following UI bug:

![image](https://user-images.githubusercontent.com/64202510/80953947-625cb180-8df4-11ea-961d-721aae2139df.png)

[2020-05-04 14:01] tasiot opened #16108 "Search in INT column with operator "IN(…)" reject my value "Please enter a valid number.""
### Describe the bug

Search in INT column with operator "IN(…)" reject my value "Please enter a valid number."

### To Reproduce

Steps to reproduce the behavior:
1. Go to one table
2. Click on "Search tab"
3. Select "IN(…)" in Operator column on the column in "INT" type
4. Write "2,3" in value field
5. PMA indicates "Please enter a valid number." and does not perform the search

### Expected beh

[2020-05-04 14:02] williamdes commented on #16108
Hi @tasiot !
Thank you for reporting this issue, It is a duplicate of  #16041 and will be fixed in next 5.0 version.
For now you can use the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-05-04 14:03] williamdes commented on #16108
Duplicate of #16041

[2020-05-04 14:03] #16108 closed

[2020-05-05 04:21] xianyun666 commented on #16093
Replace mb_substr on lines 439 and 444 with substr，Because mb_substr will think that the length of BomHead is 1

[2020-05-05 18:34] ibennetch opened #16109 "Logged out when using more than one server"
I have multiple servers configured. Everything seems to work as expected for the first server, but when working with any other server, I'm logged out after performing certain actions.

1. Creating a new table. After going through the form to input all column names and types, when submitting that form an error message is briefly shown and I'm redirected to the login page. The action is performed co

[2020-05-06 03:16] MouadZIANI commented on #15895
@MouadBH  tbarkllah 3la si Mouad

[2020-05-06 13:14] ibennetch opened #16110 "Mouseover highlighting incorrect for Index with more than one column"
### Describe the bug

When an index is comprised of more than one column, the mouseover of the Index highlights incorrectly.

### To Reproduce

Steps to reproduce the behavior:

1. Create an index with more than one column
2. Go to the table Structure tab
3. Mouseover the Index

### Expected behavior

The entire row should highlight the same color

### Screenshots

pmahomme theme:
<img width="1060

[2020-05-06 13:15] ibennetch commented on #16110
Here's a quick SQL statement to create a test table

[code]

[2020-05-06 20:08] tsouloftas opened #16111 "Trying to change any bit(1) column throws Error 500"
### Describe the bug

While trying to change any bit(1) column within the Structure tab on any table, it throws a 500 error. Apache error log thankfully gathers the issue with the following:

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Structure' within a table
2. Select any column with bit(1) datatype
3. Click on change
4. See error

Please note that the table is InnoDB a

[2020-05-06 21:20] williamdes commented on #16111
Hello @tsouloftas
Fortunately this issue is a duplicate of #16048 that is now fixed (https://github.com/phpmyadmin/phpmyadmin/issues/16048#issuecomment-608269062)

Thank you for the report!
You can download the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/) from our website before 5.0.3 is available.

[2020-05-06 21:20] #16111 closed

[2020-05-07 03:38] tsouloftas commented on #16111
Thank you for your early response. I am using the latest stable version 5.0.2.

You mean I should download the development version 5.0.3?

[2020-05-07 03:41] tsouloftas commented on #16111
Very well thank you! Will the fix be available in 5.0.3 stable?

[2020-05-07 05:24] LordRegentTB commented on #16086
I think this is the same issue as #15806, which has discussion about fixing the issue by using CSS `position: sticky` instead of a secondary code-managed `table` element.

[2020-05-07 06:23] williamdes commented on #16111
:)
Yes it will be

[2020-05-07 06:24] williamdes commented on #15806
I agree !

[2020-05-07 07:20] LordRegentTB commented on #15806
I have locally developed and tested the code to fix this issue in v4.9 and v5.0. Changing to use CSS `position: sticky` is modern, but patching the issue retains support for IE11 and other older browsers.

I don't intend to be rude, but I've been lurking here wanting to publish several patches, and the docs haven't helped me dive in; should I patch only master (and let someone [else] migrate it to

[2020-05-07 07:57] williamdes commented on #15806
@LordRegentTB You can open a PR from and to the branch QA_5_0
Then I will merge your PR into QA_5_0 and QA_5_0 into master

QA_5_0 is merged into STABLE at each release.

Forget QA_4_9, we only accept security fixes ;)

Do not forget to use [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) option to add your signoff line in the commit body, please use your r

[2020-05-08 16:15] yundaiwei opened #16113 "bug about DefaultLang config"
File /libraries/classes/LanguageManager.php
Function selectLanguage()

The code about DefaultLang is after HTTP_ACCEPT_LANGUAGE/HTTP_USER_AGENT.

Because nearly every browser sends HTTP_ACCEPT_LANGUAGE header. If you match language from this header first, DefaultLang config nearly never works, which cause it to become meaningless.

This problem confused me many years. I just checked the code and f

[2020-05-09 09:22] williamdes commented on #5722
Nobody cares.

[2020-05-09 09:22] #5722 closed

[2020-05-09 09:29] williamdes commented on #11392
We now use Bootstrap 4 and svg Icons (#16025).

[2020-05-09 09:31] williamdes commented on #15629
[code]

[2020-05-09 09:36] williamdes commented on #11515
https://github.com/wagnerjfr/mysql-multi-source-replication-docker

[2020-05-09 09:41] #6337 closed

[2020-05-09 09:44] williamdes commented on #12468
@emanuelb Could you detail how this issue stil affects us and how you see it fixed ?

[2020-05-09 09:53] emanuelb commented on #12468
Yes, visiting:
https://demo.phpmyadmin.net/QA_5_0/setup/index.php?page=form&formset=Sql
and entering "http://example.com/logo.png" for example in "Logo link URL", clicking "Apply"
should generate a warring (which is happening for other configurations) as insecure HTTP uri is used, same for any other configuration that can accept HTTP uri.
Insecure HTTP uri is URL that will be vulnerable to MITM at

[2020-05-09 10:00] williamdes commented on #12468
Thank you !
Do you have a list of the RFC local domains ?

[2020-05-09 12:07] emanuelb commented on #12468
no, but there is a regex in answer here for example that cover loopback addresses:
https://stackoverflow.com/questions/8426171/what-regex-will-match-all-loopback-addresses
The php filter_var function doesn't have this option, only FILTER_FLAG_NO_RES_RANGE which also cover stuff that should-not be matched (such as 169.254.0.0/16 range).

code example, not tested, to give idea how the check can look

[2020-05-11 07:53] williamdes opened #16114 "Unable to order a SQL query"
### Describe the bug

Unable to order by columns with the GUI because the replaced query is wrong

### To Reproduce
https://demo.phpmyadmin.net/QA_5_0/sql.php?db=sakila&table=actor
[code]

### Expected behavior

Let me order by any column using the GUI

### Server configuration
- phpMyAdmin version: 5.0

### Additional context

If it is the parser's fault I will transfer the issue to `sql-parser`

[2020-05-11 11:36] manusfreedom commented on #15629
Please fix the UI part too, because when edit a line, it resize the column while keeping displaying additional `.00000`, if you refresh the page `.00000` disappear.
And if we past (CTRL-V) a date like `0000-00-00 00:00:00`, it's add `.00000`.

Why the picker is directly open when using this inline edit ? It must be close like using the full form.
(Indicate me if I must open another issue for that)

[2020-05-11 14:03] comradekingu opened #16116 "Remove Weblate contributor agreement"
https://hosted.weblate.org/contributor-agreement/phpmyadmin/5-0/?next=/translate/phpmyadmin/5-0/nb_NO/?checksum=5abffb595319bd63
is not needed, and prevents people from contributing (myself included)

https://hosted.weblate.org/legal/terms/ see 6.

[2020-05-11 14:08] ibennetch commented on #16116
I can ask Software Freedom Conservancy about this, as they provide a lot of legal and other administrative oversight for us.

Could you clarify which part you find disagreeable so that I have a better understanding when approaching them?

[2020-05-11 14:35] comradekingu commented on #16116
The part where it duplicates agreeing to the license(s). I don't find the DCO(?), (a) and (b) requirement to be of any use, and I don't think any other project on Hosted Weblate requires stipulating authenticity.
Weblate itself removed theirs, as nobody used it.

From the [GPLv2+](https://www.gnu.org/licenses/old-licenses/gpl-2.0.html)

There is no "Cure" clause in that, because

Adding in such a

[2020-05-11 18:21] williamdes commented on #15629
I am not sure the behaviour should be changed, open or closed by default could be set by a setting and everyone would be happy.
If you implement such setting you can open a pull-request :)

[2020-05-11 18:21] fliespl opened #16117 "Not possible to define custom dbi extension in config"
I am describing it as a bug due to comments included in code ("@param DbiExtension|null $extension Force the use of an alternative extension"), but also could be tagged as feature request.

All DatabaseInterface::load calls provide empty value. It would be great if one could defined their own DbiExtension class.

![image](https://user-images.githubusercontent.com/7784660/81598936-5c546b00-93c8-11e

[2020-05-11 18:22] williamdes commented on #16117
Hi @fliespl
Why do you need an alternative function for realQuery ?

[2020-05-11 18:39] fliespl commented on #16117
@williamdes I think you might have missed a point of this issue :) Since you are providing interface in load function call - I would expect it to be definable somehow. Right now it makes no sense to accept an argument which is not used at all (as in my screen attached).

In my case I need to get query + result (success/error) of it and process it accordingly. Currently I am altering source code to

[2020-05-11 18:46] williamdes commented on #16117
I think I understand better now ;)

@mauriciofauth what are your thoughts on this one?

[2020-05-11 19:04] #14772 closed

[2020-05-13 03:11] ibennetch opened #16118 "Allow users to log in via auth_socket connection type"
There exists an plugable authentication type auth_socket (for MySQL, see https://dev.mysql.com/doc/refman/5.7/en/socket-pluggable-authentication.html#socket-pluggable-authentication-usage) (called unix_socket for MariaDB, see https://mariadb.com/kb/en/authentication-plugin-unix-socket/). These authentication types require matching the attempted MySQL login to the current username in the operating

[2020-05-13 10:49] OlafvdSpek opened #16119 "ActionLinksMode = icons issue"
[code]

Don't think this is supposed to affect everything..
There's plenty of space for both icons and text here.

![pma](https://user-images.githubusercontent.com/2218936/81803452-ff67ca80-9517-11ea-9064-6250d11e94d7.png)

https://demo.phpmyadmin.net/master-config/index.php?route=/database/operations&db=mysql

[2020-05-13 12:02] SamuelGold commented on #15904
Had the same problem, commenting the line 66 "// @chmod($key, 0666 & ~umask());" in vendor/twig/twig/src/Cache/FilesystemCache.php helped to solve it.

[2020-05-13 15:11] britbarn commented on #14801
Hello, i'm new to working on other projects on GitHub. I can help with this. Do I pull a particular branch to work on this issue? How can I tell what has already been converted to twig?

[2020-05-13 15:29] williamdes commented on #14801
Hello @britbarn
You can follow https://github.com/phpmyadmin/phpmyadmin/issues/14801#issuecomment-579408039 and use master branch.

You can tell by searching `'<` in the code base
Anything that looks like HTML should be into twig templates

You can have a look to #15796 that is a recent PR for this issue

[2020-05-13 23:57] dspaan commented on #15634
I just made a fresh install of phpMyAdmin on Opensuse 43 and keep getting this cookie error. Been working on it for 2 hours now and simply can't login. Clearing cookies/cache doesn't work. Incognito doesn't work. Changing inc.config.php doesn't work either. Running version 4.9.2.

[2020-05-14 06:04] williamdes commented on #15634
@dspaan are you using Apache?
Could you post the config here?

[2020-05-14 11:59] #15136 closed

[2020-05-14 17:52] dspaan commented on #15634
Yes, Apache. For some reason it's working now after changed config.inc.php with auth_type config and a blowfish key. Which config do you want to see? /etc/apache2/httpd.conf?

[2020-05-14 20:28] williamdes commented on #15634
Yeah it "works" because it does not use cookies (if I am right)

Any non standard config file you modified if possible, did you follow a tutorial ?

[2020-05-14 20:57] dspaan commented on #15634
No i didn't follow a tutorial. I only modified confic.inc.php by reading the official phpmyadmin documentation. I tried 3 different browsers. Can i do anything to help figure out what's causing this?

[2020-05-14 21:01] williamdes commented on #15634
Okay then:
- Do you use a proxy
- Is your installation local
- Operating System
- version of apache
- version of anything else between the browser and the server
- version of php, php-fpm, or anything related

I think we will have a good starting point here :)

Could you apply https://github.com/phpmyadmin/phpmyadmin/issues/15634#issuecomment-564229694 and let us know the error message ?

[2020-05-14 21:22] dspaan commented on #15634
No proxy
Install is on an OpenSUSE Leap 43.1 server in the cloud, not local.
Apache/2.4.35 (Linux/SUSE)
I tested from an RDP machine and my local laptop, nothing in between.
PHP Version 5.5.14
I can see php-fpm is running but no idea how to find the version.
I just replaced my modified config.inc.php with the sample again and reloaded and to my amazement i can login now again, no idea how that is

[2020-05-14 22:06] dspaan commented on #15634
Ok i have tried to reproduce the problem and installed phpMyAdmin on two other servers but it worked flawlessly. I noticed the config.sample.inc.php was owned by root:root and the non-working configuration had wwwrun:www so i changed the ownership of that file to wwwrun:www and my install broke immediately again. Now i changed it back to root:root but it's still broken and can't get it working any

[2020-05-14 22:47] dspaan commented on #15634
No idea what's happening but my install is still broken. I made a tar.gz from the /srv/www/htdocs/phpMyAdmin of a server where it is working fine and exacted that on the problem server but it's still not working.

[2020-05-15 08:35] williamdes commented on #15706
Seems solved !

[2020-05-15 08:35] #15706 closed

[2020-05-15 08:38] williamdes commented on #15576
:ping_pong:

[2020-05-15 10:17] evrenonur opened #16121 "JavaScript data sorting error"
[code]

[2020-05-15 10:46] williamdes commented on #16121
@evrenonur Could you send detailed steps on how to reproduce this issue ?

If you can reproduce this issue on demo server (`root`, no password) [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/) it would be wonderful

[2020-05-15 13:27] evrenonur commented on #16121
In a table with a large amount of data, the checkbox named Show always gives this error from the moment it is checked.

[2020-05-15 21:15] #16110 closed

[2020-05-16 08:55] #15101 closed

[2020-05-16 08:59] williamdes commented on #15634
And if you `chmod -R 777 phpMyAdminFolder` does it solve this issue ?

[2020-05-16 12:41] williamdes commented on #14801
`libraries/classes/Database/Routines.php` `getExecuteForm` is a good example to start with

[2020-05-16 19:56] williamdes opened #16125 "Why is our E2E test suite failing randomly ??"
It is years that they fail more or less randomly and the error is always that the item is not clickable because pma_console is over it (this might me another issue).

See: https://travis-ci.org/github/phpmyadmin/phpmyadmin/jobs/687794620#L649

When debugging selenium tests I remarked that reloading the page before asking to scroll was helping to solve https://github.com/php-webdriver/php-webdriver

[2020-05-16 20:10] williamdes commented on #16125
`treeResize` of `navigation.js` is called `setInterval(this.treeResize, 2000);`

[2020-05-16 20:12] williamdes commented on #16125
@mynetx could you explain your comment from 2013 (yeah, it is quite a long time ago)

[code]

[2020-05-16 21:21] williamdes commented on #16125
50% success rate on this test
[code]

[2020-05-17 09:53] ajengrf commented on #15877
@hcniet thanks you saved me!

[2020-05-17 13:26] williamdes commented on #16059
@NKarasek Could you send the query ?
[code]
I had no errors

[2020-05-17 13:29] williamdes commented on #15996
![image](https://user-images.githubusercontent.com/7784660/82148213-365d1980-9853-11ea-84b6-b2d0d9bd79cd.png)

By "Check my links" for Chrome

[2020-05-17 13:41] williamdes commented on #15996
I will not use this option because of #16033 (#16034)
Some users need more permissions for symlinks to be extracted

[2020-05-17 14:35] kbacia7 commented on #16103
Hello, sorry but what about making this feature? I can start working on this?

[2020-05-17 14:48] #15996 closed

[2020-05-17 14:48] #16093 closed

[2020-05-17 14:48] williamdes commented on #16093
Thank you @xianyun666 !
Could you send your `mb_internal_encoding();` value for the record ?
I removed the use of `mb_` functions because they are sensible to `mb_internal_encoding();`

See: db02eea620a59fc3f4e5b5d2563cb033450b133e

[2020-05-17 14:50] williamdes commented on #16103
Hello @kbacia7

Yes, you can start working on this one, please open a draft pull-request as soon as possible so we can discuss the implementation

[2020-05-17 17:08] ibennetch commented on #16103
I seem to have missed this when it first came up.

From what I understand of your suggestion is that this would be a lot like the current history tab, except for (1) configuring which databases are logged and (2) the undo feature.

About (1), I'd be okay with a directive to more finely control the logging. Currently this is global across a phpMyAdmin install, `$cfg['QueryHistoryDB']` can't be set

[2020-05-17 17:10] ibennetch commented on #15996
Thanks @williamdes, nice work!

[2020-05-17 17:15] williamdes commented on #16113
@ibennetch Do you think this one is a bug that needs to be fixed in 5.0 ?

[2020-05-17 17:16] williamdes commented on #16092
Thank you for this request, I am not sure if we will implement is soon because it requires a lot of work

[2020-05-17 22:19] ilayshvo opened #16126 "Search function within a DB"
### Is your feature request related to a problem? Please describe.

When one DB has a lot of tables it will have a list with a few pages.
There is also a search function (within the DB) but it searches only within the tables being displayed at the moment.

This has once led me to believe our system is dealing with data that does not exist.

### Describe the solution you'd like

change that to be f

[2020-05-17 22:27] williamdes commented on #16126
This request sounds valid and similar to #16084 from @php4fan

[2020-05-17 23:38] britbarn commented on #14801
How can I test this function? Is there a way to do it CLI or web browser?

[2020-05-18 09:47] simonvik opened #16127 "getData returns array of strings instead of array of arrays when DisableIS === True"
### Describe the bug

`public function getData($type, $pos, $searchClause = '')` in `libraries/classes/Navigation/Nodes/NodeTable.php`

 returns an array of strings instead of an array of arrays if DisableIS is true, that makes

`getDisplayName` in `libraries/classes/Navigation/Nodes/NodeColumn.php` fail as it expects an array.

### Server configuration

- phpMyAdmin version: trunk

### Additional

[2020-05-18 09:51] williamdes commented on #16127
`phpMyAdmin version: trunk`: `phpMyAdmin version: 5.0.2`

Thank you for the report !

[2020-05-18 09:52] williamdes commented on #16127
@simonvik Could you send screenshots of the impact of this change ?

[2020-05-18 09:57] simonvik commented on #16127
Before patch
![fail](https://user-images.githubusercontent.com/198342/82199889-d49dbd80-98ed-11ea-8ff3-9b974958fa0d.png)
After patch
![fix](https://user-images.githubusercontent.com/198342/82199890-d5365400-98ed-11ea-9d53-52a30b98f13d.png)

[2020-05-18 18:19] mauriciofauth commented on #16058
Maybe related to ecb5faac0c403ddc305617efbf2ad999fbe6f4dd.

[2020-05-18 21:24] #15950 closed

[2020-05-18 21:59] dspaan commented on #15634
Yeah i already tried that and lots of other permission combinations. But for whatever reason right now it's working again while during my last post it didn't and i did not change anything in between. So maybe a reboot or another mechanism fixed it. Even though i restarted apache after every change i made.

[2020-05-18 22:06] williamdes commented on #16089
5.1 already had the change with eea2c219e41bd2f14add0e13d76d657f8b76261a by #15357

[2020-05-18 22:09] williamdes commented on #15634
Quite strange, thank you for the feedback.
I hope to find out someday what goes wrong.
IMO we should split the message and add debug infos

[2020-05-18 22:10] #16089 closed

[2020-05-19 05:57] OlafvdSpek commented on #16119
Thanks. It's not just the DB ops page though, table structure page is affected too.

[2020-05-19 15:54] williamdes commented on #16125
@OndraM Could you help me please :pray: ?

Related to https://github.com/php-webdriver/php-webdriver/issues/773

[2020-05-19 16:03] OndraM commented on #16125
Sorry, no time to dig deeper, just a few quick ideas:

- I stumbled upon similar issue few times already, and in the end, it was always an issue of the webpage, not "bug" or something like this in Selenium, for example "Cookie consent" bars covering part of the page (but not being shown for developers, which makes it not obvious), of Angular elements in the process of rendering (and Selenium is fa

[2020-05-19 16:18] williamdes commented on #16125
Thank you for your quick response, I will try to remove as much JS to see if I can have a fixed version.

We have JS to show/hide the console and some JS to resize the page too

I understand :)

[2020-05-19 16:23] bch36 opened #16129 ""IN" operator on search page not working"
### Describe the bug

When I attempt to use the "IN" operator from the dropdown on a table's search page, then enter two comma-separated numbers, I receive the error "Please enter a valid number" and I'm unable to perform the search.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table's search page
2. Select the "IN(...)" option from the operator dropdown
3. Enter two comma-sepa

[2020-05-19 16:26] williamdes commented on #16129
Hi @tasiot !
Thank you for reporting this issue, It is a duplicate of  #16041 and will be fixed in next 5.0 version.
For now you can use the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-05-19 16:26] williamdes commented on #16129
Hello @bch36

Thank you for reporting this issue, It is a duplicate of  #16041 and will be fixed in next 5.0 version.
For now you can use the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-05-19 16:27] williamdes commented on #16129
Duplicate of #16041

[2020-05-19 16:27] #16129 closed

[2020-05-19 18:10] Abdallah-Fouad-X commented on #15576
@williamdes , i didn't get any update yet!

[2020-05-19 18:14] williamdes commented on #16127
Seems like it was forgot in #14910

Here is the patch I committed in 481023e9466fa9b38ddc69367736e786274c3f2b

[code]

this issue will be fixed in the next version, thank you a lot for the patch It took me less time to fix the issue.

[2020-05-19 18:17] williamdes commented on #15576
@Abdallah-Fouad-X Is there a security vulnerability or not ?
Could you post a detailed step by step using one or the demo servers:

Demo servers (`root`, no password)
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-05-19 18:27] Abdallah-Fouad-X commented on #15576
@williamdes , as @ibennetch said before:I think we should be able to catch an error in this query in order to handle it more gracefully when we get an error back from MySQL. @mauriciofauth, is this something you would be willing to look at whether we can fix this?

Then happened when i execute SQL query with no user privileged to use the sql terminal , so i think something related with that error

[2020-05-19 18:37] williamdes commented on #15576
I think I understand this issue, please re-title this issue :)

If the DB is corrupt then all privileges are given, maybe this is what you are describing

[2020-05-19 18:44] Abdallah-Fouad-X commented on #15576
okay what should i re-title with :) , yeah the DB corrupted * After is run sql command with user name don't have any privilege to use it *  as you can see : https://github.com/phpmyadmin/phpmyadmin/issues/15576#issuecomment-559241696

[2020-05-19 18:48] williamdes commented on #15576
Done, this is very interesting and I am happy to understand the issue now

[2020-05-19 18:53] Abdallah-Fouad-X commented on #15576
Great ,So what supposed to happen now?

[2020-05-19 18:54] williamdes commented on #15576
Nothing on our side, but I would like that we implement some code to show a pretty error to the user and stop reporting it to our reporting server.

[2020-05-19 18:57] williamdes commented on #15576
![image](https://user-images.githubusercontent.com/7784660/82366971-5c311c80-9a13-11ea-99e3-090bbd9b9eb3.png)

[2020-05-19 19:00] Abdallah-Fouad-X commented on #15576
That's great

[2020-05-19 21:35] williamdes commented on #15634
Example URL: https://pma.ssl.local///////111111111111/

Source: https://github.com/phpmyadmin/phpmyadmin/issues/15634#issuecomment-564260553

@nijel did you intentionally remove consecutive characters `/` in 3b6ed1f9ecaab86c488d106b1588d7683a6d53ef ?

[2020-05-19 22:18] williamdes opened #16130 "Local documentation links have non escaped BB code shown to the user"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Have mysqli extension missing
2. Have local documentation built (`cd doc && make html`)

### Expected behavior

Show a link to local documentation

### Screenshots

![image](https://user-images.githubusercontent.com/7784660/82384056-4d586300-9a2f-11ea-93c6-945b6e92c9f1.p

[2020-05-20 00:07] #16127 closed

[2020-05-20 00:29] #16119 closed

[2020-05-20 17:30] kbacia7 commented on #16103
Hm, okay.
After some time I think that you are right that this is too hard to implementation, I didn't think about that queries which can contains for example subquery (`INSERT` also can contains subquery) and probably quickly turn out that many types of queries cannot use "undo", so now I see that this feature probably will not find much use and will be complicated

[2020-05-21 13:18] dcolter opened #16132 "Repeating Javascript Error - phpMyAdmin Unusable"
I am seeing a fatal Javascript error box at the bottom.   Inspection reveals the error is emanating from jquery-migrate.js line 410:36 (.easing)  The error is recurring rapidly.  Nothing javascript works on the page - Settings, Show report details, X, nothing.

This is making phpMyAdmin unusable.

A screenshot of the call stack:
<img width="922" alt="image" src="https://user-images.githubuserconte

[2020-05-21 13:19] williamdes commented on #16132
Hello @dcolter
What version are you using ?

[2020-05-21 13:21] dcolter commented on #16132
Not sure where to find this?

[2020-05-21 13:22] dcolter commented on #16132
4.9.5  ??

[2020-05-21 13:26] williamdes commented on #16132
Nope, we use static files that do not change between versions.

Could you try a 5.0 version from our website ?

[2020-05-21 13:27] dcolter commented on #16132
Does this help?
<img width="900" alt="Screen Shot 2020-05-21 at 9 26 52 AM" src="https://user-images.githubusercontent.com/3046325/82563548-491e6980-9b45-11ea-82ef-3fd9e53304cc.png">

[2020-05-21 13:30] dcolter commented on #16132
I'm not yet ready to dive into that task !!

Exploring another option.

Thank you for speed-of-light response.

[2020-05-21 13:31] williamdes commented on #16132
could you post the error stack trace from the console ?

[2020-05-21 13:32] dcolter commented on #16132
<img width="922" alt="Screen Shot 2020-05-21 at 9 32 17 AM" src="https://user-images.githubusercontent.com/3046325/82563982-001ae500-9b46-11ea-819f-ecb21458dd92.png">

[2020-05-21 13:39] williamdes commented on #16132
I can see that the error is in a vendor file and because we do not apply non security updates to 4.9 you will need to upgrade :thinking:

Are you installing manually or with Debian or Ubuntu ?

[2020-05-21 13:44] dcolter commented on #16132
to 5.0 or 5.1 ?

Centos 7

And I can see this is no longer your problem.  Thanks so much for your time and for pointing me in the right direction.

David

[2020-05-21 13:51] williamdes commented on #16132
5.0 :)
5.1 is still in development

5.0 should be available, the packaging team does a great job keeping up to date

[2020-05-21 13:52] williamdes commented on #16132
Glad to hear that I could help you

[2020-05-21 13:52] #16132 closed

[2020-05-21 20:07] bakhtiya commented on #15634
I am also having this issue with version `4.9.5` running on Ubuntu 18.04, Apache 2.4.29, PHP 7.2.24 over HTTP (not HTTPS).

Doesn't let me login via Chrome always giving the error `Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.`. I've tried multiple times. It works if you go Incognito on Chrome, then it lets you login.

[2020-05-21 20:23] williamdes commented on #15634
@bakhtiya could you delete all the cookies for the "website" phpMyAdmin is on, in the developer console ?

[2020-05-22 20:38] teamcoltra opened #16133 "console.js?v=5.0.2:188 Failed to parse JSON: Unexpected token < in JSON at position 0"
### Describe the bug

Stuck on a loading screen when accessing PHPMyAdmin.

Console reveals: console.js?v=5.0.2:188 Failed to parse JSON: Unexpected token < in JSON at position 0

I checked the result of ajax.php and it returns valid ajax with the proper headers.

### To Reproduce

Log into phpmyadmin

### Expected behavior

...not stuck in loading...

### Screenshots

![image](https://user-images

[2020-05-22 20:41] williamdes commented on #16133
Hi @teamcoltra
What was the previous version ?
Does https://demo.phpmyadmin.net/QA_5_0/index.php affect you by the same bug ?

[2020-05-22 20:45] williamdes commented on #16133
If you can send server error logs or go to "Network" tab and copy the response that would be awesome

[2020-05-22 20:48] teamcoltra commented on #16133
Hey @williamdes I was using 4.7 and thought "well maybe that's my problem" so I upgraded to 5.

I just went to that example URL and it works just fine.

[2020-05-22 20:50] teamcoltra commented on #16133
Also nothing in my php or lighttpd logs. I mean there are things for other issues on my server

2020-05-22 02:56:45: (mod_fastcgi.c.421) FastCGI-stderr: PHP message: PHP Notice:  Undefined index: clockin in /var/www/timecard/api.php on line 31
2020-05-22 07:12:00: (request.c.1163) GET/HEAD with content-length -> 400
2020-05-22 12:53:34: (server.c.2059) server stopped by UID = 0 PID = 1
2020-05-22

[2020-05-22 20:51] teamcoltra commented on #16133
![image](https://user-images.githubusercontent.com/161164/82708524-4ef27880-9c33-11ea-96b3-5fb178b4587e.png)

Network tab shows all requests with 200 responses

[2020-05-22 20:53] teamcoltra commented on #16133
[code]

[2020-05-22 21:02] williamdes commented on #16133
Thank you @teamcoltra
The JSON is valid https://jsonformatter.curiousconcept.com/

Any of the other responses is not a valid one ?

Do you have some php caching like opcache ?

For how long do you have this issue ?

[2020-05-22 22:03] teamcoltra commented on #16133
I have had the issue for a couple of days it was working fine before that. I remember running a command but it was really simple something like SELECT * FROM `whatever` and it stuck and then I refreshed and I got this and it's been broken since.

All the other responses are valid too as is the version number.

Console still works but I can't click on any of the links.

[2020-05-22 22:14] teamcoltra commented on #16133
I grabbed sqlbuddy just to see if maybe something was weird in my database and somehow that was screwing with phpmyadmin and nope, that worked just fine.

[2020-05-22 23:30] williamdes commented on #16133
Do you have phpMyAdmin storage enabled (phpmyadmin database) ?

Could you try a new user without access to 0 databases ?

[2020-05-23 16:04] mauriciofauth commented on #16125
@williamdes Looks like `pma_console` is not collapsed for a brief moment. Maybe we can wait it be collapsed before checking the others things.

[2020-05-23 17:51] mauriciofauth opened #16136 "Extract actions from Table\StructureController::index"
Currently the `Table\StructureController` actions are all in the `/table/structure` route. They should be extracted into separated routes.

[2020-05-23 23:21] williamdes commented on #16125
Seems like a good idea, I will have to try that

I did hack the bug for 5.0 by changing the screen resolution in #16137

[2020-05-23 23:32] #16130 closed

[2020-05-24 18:56] williamdes opened #16138 "MySQL 8.0.19 Removes the int LENGTH"
[code]

Using docker image

Ref: https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-19.html

[code]

The demo server has 8.0.18

cc @mauriciofauth @ibennetch

Feel free to double check.
From what I tested it makes either useless changing the length or impossible using the GUI as the field is always empty

[2020-05-24 20:13] ibennetch commented on #16138
Okay, good information. We'll have to consider a few instances where this could affect us:

# Creating tables

When using the GUI to create or modify a table, we should check the MySQL version and ignore the length for MySQL 8.0.19 and newer. A new feature could disable the length field except for when the appropriate data types are selected (enum, set, varchar, varbinary), but that's beyond the s

[2020-05-25 03:46] iolpltuisciaoln commented on #15838
any workaround?

[2020-05-25 07:12] williamdes commented on #15838
Unfortunately I did not find the issue here :thinking:

[2020-05-25 10:58] Flynamic opened #16139 "Use textareas for JSON columns"
### Is your feature request related to a problem? Please describe.

The `json` field is currently a small, simple input field. It is very frustrating to work with when I want to inspect or edit `json` values that are longer than 60 characters. Textareas, like they are used for `longtext`, would be the more practical choice for this data type. Especially considering that the [MySQL storage requirem

[2020-05-25 11:00] williamdes commented on #16139
Having code-mirror in the text area could be cool for some highlighting :+1:

[2020-05-25 13:59] saschaende commented on #14217
Tried. Also get:

#1064 - Fehler in der SQL-Syntax. Bitte die korrekte Syntax im Handbuch nachschlagen bei 'REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_' in Zeile 1

[2020-05-25 14:16] williamdes commented on #14217
@saschaende what version are you using and what version of MySQL do you use?

[2020-05-25 16:24] mauriciofauth opened #16140 "Replace the phpMyAdmin coding standard package"
Instead of maintaining a custom package for the [phpMyAdmin coding standard](https://github.com/phpmyadmin/coding-standard), we can adopt an external CS that's more complete and maintain the differences in the `phpcs.xml` file.

My proposal is to use the [Doctrine coding standard](https://github.com/doctrine/coding-standard) since it's very complete and stricter and it's actively maintained.

[2020-05-25 17:48] williamdes commented on #16140
### Doctrine
[code]
### slevomat/coding-standard
[code]

I am satisfied with the dependencies they have, and agree to replace by  slevomat or doctrine

I would prefer that we only alter our coding standard package to have a consistent setup on all of our repos by keeping our package

[2020-05-26 01:20] prepstarr opened #16141 "Mouse Hovering over a Table in Designer mode"
### Describe the bug

When I enter into designer mode in phpMyAdmin my mouse always has to be as if it has clicked a particular entity. I cannot unclick that entity and mouse around the entities as I so desire. It is very frustrating.

### To Reproduce

Steps to reproduce the behavior:
1. Go to designer mode
2. Click on any table
3. Scroll anywhere and you cannot unselect the table sad unless you

[2020-05-26 02:23] apircalabu commented on #15838
@iolpltuisciaoln you need to give more information, at the very least the error you're getting and the nginx configuration you're currently using. At https://github.com/phpmyadmin/phpmyadmin/issues/15838#issuecomment-580028633 I've posted the non-working as well as the working nginx+phpmyadmin configs respectively.

[2020-05-26 06:49] williamdes commented on #16141
Hello @prepstarr
Could you install the latest phpMyAdmin version from our [website](https://www.phpmyadmin.net/downloads/) and try again?

[2020-05-26 13:24] iolpltuisciaoln commented on #15838
@apircalabu Indeed, the reason was incorrect configuration of nginx. It seems that when it returns style files with the text/html header instead of style/css (and the fpm server returns all files with this header regardless of the file type), the web interface is not rendered correctly.
**for future Googlers:**
the working configuration for docker-compose is shown below:
[code]

**docker-compose.y

[2020-05-26 13:25] NKarasek opened #16143 "Browsing sorted table shows duplicate rows - misses others while paging"
### Describe the bug
Table with 220 entries.  A column has six distinct values.  Sorting by that column displaying 50 rows/table lists the first 50 rows correctly.  Moving to page 2 repeats the last 5 rows from the previous page NOT displaying 5 rows that should be displayed - i.e., the correct count of groups within the sort is retained - but the content is not correct.  Changing to SHOW ALL corr

[2020-05-26 13:51] williamdes commented on #16143
Thank you for the detailed example @NKarasek !

Maybe related to #14883 or #15389

[2020-05-26 14:14] williamdes commented on #14542
Hi everyone.
TLDR;
Time has passed and I am fed up to be frustrated not to have the SQL query available after searching and finding nothing.
I prefer to craft a query that will not work and then edit it rather that wasting time to write the full query for the pleasure of writing queries.

I want to have a "show the query" button like we have everywhere else.

:ping_pong: @teo1978

[2020-05-26 16:08] prepstarr commented on #16141
I am hosted by Yahoo and they refuse to make the latest version available...

Envoyé de mon iPhone

Le 26 mai 2020 à 02:49, William Desportes <notifications@github.com> a écrit :

﻿

Hello @prepstarr<https://github.com/prepstarr>
Could you install the latest phpMyAdmin version from our website<https://www.phpmyadmin.net/downloads/> and try again?

—
You are receiving this because you were mentione

[2020-05-26 16:09] prepstarr commented on #16141
They rolled back the last two days of exhaustive work that I did and made me on hold since 5 am but did not solve the issue just helped me lose many days of effort.

Envoyé de mon iPhone

Le 26 mai 2020 à 12:08, Paul Kagan <paulkagan@hotmail.com> a écrit :

﻿ I am hosted by Yahoo and they refuse to make the latest version available...

Envoyé de mon iPhone

Le 26 mai 2020 à 02:49, William Desporte

[2020-05-26 16:14] prepstarr commented on #16141
Maybe they didn’t change it since it was working two days ago... and they might have noticed it was the same version of phpmyadmin... I didn’t see the change in 1 portal.

Envoyé de mon iPhone

Le 26 mai 2020 à 12:08, Paul Kagan <paulkagan@hotmail.com> a écrit :

﻿ I am hosted by Yahoo and they refuse to make the latest version available...

Envoyé de mon iPhone

Le 26 mai 2020 à 02:49, William De

[2020-05-26 16:14] williamdes commented on #16141
Salut,
Envoie moi un email sur williamdes@wdes.fr qu'on discute pour t'aider a migrer

[2020-05-26 16:18] prepstarr commented on #16141
https://youtu.be/F8avxWj-EII

Ce vidéo explique le situation ..

From: William Desportes <notifications@github.com>
Sent: mardi 26 mai 2020 12:15
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: prepstarr <paulkagan@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [phpmyadmin/phpmyadmin] Mouse Hovering over a Table in Designer mode (#16141)

Salut,
Envoie moi un email s

[2020-05-26 16:20] williamdes commented on #16141
Vu, cette une version tellement ancienne.
Il faut absolument que tu mette à jour
As tu accès en FTP sur Yahoo ?

[2020-05-26 17:43] prepstarr commented on #16141
Oui je l’ai télécharger maintenant j’envoie les fichiers au serveur mais je réalize que peutetre ca ne detectera pas mon système de MySQL etc.. je suis pas sure comment ca va marche…

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

De : William Desportes<mailto:notifications@github.com>
Envoyé le :mardi 26 mai 2020 12:20
À : phpmyadmin/phpmyadmin<mailto:phpmy

[2020-05-26 17:59] prepstarr commented on #16141
Oui j’ai ftp mais comment je l’installe et configure?

Provenance : Courrier<https://go.microsoft.com/fwlink/?LinkId=550986> pour Windows 10

________________________________
De : William Desportes <notifications@github.com>
Envoyé : Tuesday, May 26, 2020 12:20:34 PM
À : phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc : prepstarr <paulkagan@hotmail.com>; Mention <mention@noreply.github.co

[2020-05-26 18:25] williamdes commented on #16141
Alors pour l'installer c'est super simple il suffit de d'uploader le contenu du zip que tu trouvera sur notre [site web](https://www.phpmyadmin.net/downloads/) et pour le configurer de sauvegarder un fichier nommé `config.inc.php` en suivant ce modèle https://docs.phpmyadmin.net/fr/latest/config.html#basic-example

j'espère que ta version de PHP est pas trop ancienne.
Si c'est php 5 utilise la ver

[2020-05-26 22:46] prepstarr commented on #16141
Cher M. Desportes,

J’ai suivi vos consignes et installer la nouvelle version de phpMyAdmin, le problème que j’avais n’aperçois plus mais j’ai 3 erreurs qui m’empêche…

Connexion au serveur : SSL n'est pas utilisé

mysqli::real_connect(): (28000/1045): Access denied for user 'yscr_pma3MOJ'@'localhost' (using password: YES)
 La connexion au « controluser » telle que définie dans la configuration a

[2020-05-26 23:00] williamdes commented on #16141
Je suis très content que votre bug soit résolu

Pour "Connexion au serveur : SSL n'est pas utilisé" je pense qu'il s'agit de #15584 et que c'est sans importance car on parle de la connexion entre le serveur web/php et le serveur MySQL.

Pour les autres erreurs il faut vérifier que la configuration php `config.inc.php` est correcte et que l'utilisateur existe, à une base de données créé à son nom,

[2020-05-27 07:32] dahav commented on #16013
**Searching hex(id) like** would be very great.

[2020-05-27 13:08] OlafvdSpek opened #16144 "Ignore not ignored on insert"
When trying to insert a single row..

![pma](https://user-images.githubusercontent.com/2218936/83022195-711d3980-a02b-11ea-81e4-5be3c03c784b.png)

[2020-05-27 14:54] mauriciofauth commented on #16140
I want an opinion on some Doctrine CS rules. Should we follow them?

- `Generic.Formatting.MultipleStatementAlignment`:
[code]

- `SlevomatCodingStandard.Classes.SuperfluousAbstractClassNaming`, `SlevomatCodingStandard.Classes.SuperfluousExceptionNaming` and `SlevomatCodingStandard.Classes.SuperfluousInterfaceNaming`:
[code]

- `Squiz.PHP.GlobalKeyword`:
[code]

- `SlevomatCodingStandard.TypeHints

[2020-05-27 15:23] lisandi commented on #14433
This problem is still existing together

mysqli::real_connect(): (HY000/1698): Access denied for user 'root'@'localhost'

System: Ubuntu 20.04 MariaDB 10.5.3
and the behavior is like the original poster has already mentioned.

adding
/** ADDED MANUALLY **/
$cfg['Servers'][$i]['DisableIS'] = true;

solved the problem for now

[2020-05-27 16:08] williamdes commented on #16140
Unfortunately I hate all the rules you mentioned :worried:, maybe you also agree.

`globals $xyz` is the good way

The class naming things make it more complex to understand the naming
The variable spacing is a waste of time
The assert is useless, and a waste of code

And WTF for `ReturnTypeHintSpacing`:   `): string` is the right way :thinking:

[2020-05-27 16:40] ibennetch commented on #16140
I have a slight preference towards maintaining our own coding standard, but I don't feel too strongly about this or have a particularly good reason for it. If we're going to have to maintain our own custom differences in phpcs.xml, we might as well maintain them in the coding-standard repository instead. I don't feel like this is something that changes much over time and that we're pretty happy wi

[2020-05-27 17:05] mauriciofauth commented on #16140
I agree with your opinions.

We have a code style, but our coding standard do not enforce it. The Doctrine CS matches the majority of our code style and have the benefit of enforcing it. The only differences are the mentioned rules, but we can easily disable them in the `phpcs.xml` file.

[2020-05-27 18:25] williamdes commented on #16140
I agree and think that we need to maintain our package, even if it is only depending on the doctrine coding standard.
It will help our projects to be aligned and in sync.

We are not doctrine, having a custom standard is like we should be: custom and flexible ;)

[2020-05-27 19:48] mauriciofauth commented on #16140
I agree that maintaining our package is a good idea.

I opened a pull request that uses the Doctrine CS as a base standard and disable the rules that we discussed here.
https://github.com/phpmyadmin/coding-standard/pull/8

[2020-05-27 20:44] #16140 closed

[2020-05-28 18:50] TiloKes opened #16145 "mysqli::real_connect(): (HY000/1045): Access denied for user 'root'@'localhost' (using password: YES)"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operat

[2020-05-28 18:56] ibennetch commented on #16145
@TiloKes Are you able to log in through the command line client? Almost every instance of this error comes from either using an incorrect MySQL password or trying to log in as different user — in MySQL, user accounts can act differently based on the hostname or connection type from which the client is connecting, so if your user is root with the host value '127.0.0.1' or '%', those aren't the same

[2020-05-28 19:09] TiloKes commented on #16145
Hallo,
I have installed phpmyadmin master two days ago. Then I run the setup in phpmyadmin-master file.
I installed it in xampp / htdocs. Now I got in the browser and called localhost/phpmyadmin-master....
then the following mistake comes. see above in the first line. I have the right user: root and the right password. To search for the mistake I opened the webconsole and there werea few warnings.

[2020-05-28 19:14] ibennetch commented on #16145
I would try logging in through the command line client to verify that MySQL is listening and working correctly.

[2020-05-28 19:17] TiloKes commented on #16145
command line   I know
what should i do next?

[2020-05-28 19:28] TiloKes commented on #16145
I believe there is a great problem for me

[2020-05-28 20:01] TiloKes commented on #16145
Now I have connection to Maria DB in the command line. What should i do next?
I am tired. I hope tomorrow will be better.

[2020-05-28 20:50] ibennetch commented on #16145
When you connect through the command line client, type STATUS and look at
the output. It should say connection type (either Localhost via UNIX socket
or TCP/IP networking) and please let us know the result.

[2020-05-29 03:42] DavidThomas48 opened #16146 "When browsing, changing the sort order loses the number of rows setting"
When browsing, changing the sort order looses the number of rows setting
### To Reproduce
select a list of records
change the number of rows to say 500
change the sort order of the list

### Expected behavior
Don't  change the number of rows setting when the sort order is changed

![image](https://user-images.githubusercontent.com/1977575/83218859-38f43300-a1b2-11ea-90e2-2e0819b28b0b.png)

- Brows

[2020-05-29 07:41] TiloKes commented on #16145
Here is the STATUS:
--------------

MariaDB [(none)]> STATUS
--------------
mysql.exe  Ver 15.1 Distrib 10.1.40-MariaDB, for Win64 (AMD64)

Connection id:          2
Current database:
Current user:           Tilo Kessler@localhost
SSL:                    Not in use
Using delimiter:        ;
Server:                 MariaDB
Server version:         10.1.40-MariaDB mariadb.org binary distribution
Prot

[2020-05-29 07:44] TiloKes commented on #16145
Here is the ipconfig. I hope there will be some information for you....
Windows-IP-Konfiguration

Ethernet-Adapter LAN-Verbindung:

   Verbindungsspezifisches DNS-Suffix: speedport.ip
   IPv6-Adresse. . . . . . . . . . . : 2003:da:f72c:2044:d79:920:3831:fbc2
   Temporäre IPv6-Adresse. . . . . . : 2003:da:f72c:2044:2110:8fa1:cf4f:bb31
   Verbindungslokale IPv6-Adresse  . : fe80::d79:920:3831:fbc2%4

[2020-05-29 07:52] TiloKes commented on #16145
and at least the config.inc.php:
<?php
/*
 * Generated configuration file
 * Generated by: phpMyAdmin 5.1.0-dev setup script
 * Date: Thu, 28 May 2020 17:21:52 +0000
 */

/* Servers configuration */
$i = 0;

/* Server: localhost [1] */
$i++;
$cfg['Servers'][$i]['verbose'] = '';
$cfg['Servers'][$i]['host'] = 'localhost';
$cfg['Servers'][$i]['port'] = '';
$cfg['Servers'][$i]['socket'] = '';
$cfg['Se

[2020-05-29 07:53] TiloKes commented on #16145
<?php
/*
 * Generated configuration file
 * Generated by: phpMyAdmin 5.1.0-dev setup script
 * Date: Thu, 28 May 2020 17:21:52 +0000
 */

/* Servers configuration */
$i = 0;

/* Server: localhost [1] */
$i++;
$cfg['Servers'][$i]['verbose'] = '';
$cfg['Servers'][$i]['host'] = 'localhost';
$cfg['Servers'][$i]['port'] = '';
$cfg['Servers'][$i]['socket'] = '';
$cfg['Servers'][$i]['auth_type'] = 'cooki

[2020-05-29 07:56] TiloKes commented on #16145
Sorry but it dosen't work. I can't copy the config.inc.php

[2020-05-29 07:58] raimundmeyer opened #16147 "Fatal Error when selecting database"
### Describe the bug

When you select a database (in the left column or any other way) a fatal Error is thrown:
[code]

### Server configuration

Database server

    Server: 127.0.0.1 via TCP/IP
    Server type: MariaDB
    Server connection: SSL is not being used Documentation
    Server version: 10.3.22-MariaDB-1ubuntu1 - Ubuntu 20.04
    Protocol version: 10
    User: root@localhost
    Server

[2020-05-29 08:03] williamdes commented on #16147
Thank you so much !
I did see that this failed after my commit 4d61ef23135a7d323b278116f779d65d836a58dd
On E2E tests and on the demo server the error was visible, but I was unable to reproduce the error on my setup

[2020-05-29 08:32] TiloKes commented on #16145
To become apparent:
I have two phpmyadmin installations and only one SQL Database. One phpmyadmin installation is in path c:\xampp\phpmyadmin and the other is to find under the path c:\xampp\htdocs\phpmyadmin-master. The SQL Database is in the path c:\xampp\mysql . In every phpmyadmin installation there is a file config.inc.php.  Both they are different from each other. From the first one I become

[2020-05-29 10:20] TiloKes commented on #16145
Datenbank-Server

    Server: 127.0.0.1 via TCP/IP
    Server-Typ: MariaDB
    Server-Verbindung: SSL wird nicht verwendet Dokumentation
    Server-Version: 10.1.40-MariaDB - mariadb.org binary distribution
    Protokoll-Version: 10
    Benutzer: root@localhost
    Server-Zeichensatz: UTF-8 Unicode (utf8)

Webserver

    Apache/2.4.39 (Win64) OpenSSL/1.1.1b PHP/7.3.5
    Datenbank-Client Version:

[2020-05-29 16:16] TiloKes commented on #16145
Microsoft Windows [Version 10.0.18363.836]
(c) 2019 Microsoft Corporation. Alle Rechte vorbehalten.

C:\Users\Tilo Kessler>cd\

C:\>cd xampp

C:\xampp>cd mysql

C:\xampp\mysql>cd bin

C:\xampp\mysql\bin>mysql -u root -p -h 127.0.0.1
Enter password:
Welcome to the MariaDB monitor.  Commands end with ; or \g.
Your MariaDB connection id is 197
Server version: 10.1.40-MariaDB mariadb.org binary distri

[2020-05-29 16:38] ibennetch commented on #16145
Based on these results, I suggest editing your phpMyAdmin configuration
(config.inc.php) and setting the host to 127.0.0.1 (with a line like this:

`$cfg['Servers'][$i]['host'] = '127.0.0.1';`

[2020-05-30 20:18] mauriciofauth opened #16149 "Remove underscore prefix from method names"
From [PSR-12](https://www.php-fig.org/psr/psr-12/#44-methods-and-functions):

To know what methods have an underscore, first remove this line from `phpcs.xml.dist` file:
[code]

And then run PHPCS:
[code]

You can follow this commit as an example: https://github.com/phpmyadmin/phpmyadmin/commit/2937e9796db184082c1e0d99e244216d447dc396

[2020-05-30 20:38] #16147 closed

[2020-05-30 21:00] williamdes commented on #16149
After some regex work I did extract the list of files affected:
- [ ] libraries/classes/Server/SysInfo/WindowsNt
- [ ] libraries/classes/Server/SysInfo/SunOs
- [ ] libraries/classes/Server/Status/Data
- [ ] libraries/classes/Table
- [ ] libraries/classes/Response
- [ ] libraries/classes/Gis/GisPolygon
- [ ] libraries/classes/Gis/GisMultiPolygon
- [ ] libraries/classes/Gis/GisGeometryCollection
- [

[2020-05-31 11:51] salhi197 opened #16150 "Capturing “Delete” Keypress and remove selected elements"
it would be great if we can delete selected elements from a DB , or a table  or what ever , just by clicking on the ketboard delete button (similar to windwos file explorer ) , of course message confirmation message should be kept for assuring the process  .

[2020-05-31 11:54] williamdes commented on #16150
Yeah, why not
Seems like a reasonable request

cc @ibennetch

[2020-05-31 11:57] salhi197 commented on #16150
is there any way so i can contribute to this ?

[2020-05-31 13:30] TiloKes commented on #16145
Now I have installed my Backup. For the future I only use one of the phpmyadmin version. Here is my config.inc.php. With this parameters it functions well.
<?php
/*
 * This is needed for cookie based authentication to encrypt password in
 * cookie
 */
$cfg['blowfish_secret'] = 'xampp'; /* YOU SHOULD CHANGE THIS FOR A MORE SECURE COOKIE AUTH! */

/*
 * Servers configuration
 */
$i = 0;

/*
 * First

[2020-05-31 13:33] TiloKes commented on #16145
<?php
/*
 * This is needed for cookie based authentication to encrypt password in
 * cookie
 */
$cfg['blowfish_secret'] = 'xampp'; /* YOU SHOULD CHANGE THIS FOR A MORE SECURE COOKIE AUTH! */

/*
 * Servers configuration
 */
$i = 0;

/*
 * First server
 */
$i++;

/* Authentication type and info */
$cfg['Servers'][$i]['auth_type'] = 'config';
$cfg['Servers'][$i]['user'] = 'root';
$cfg['Servers'][$i]

[2020-05-31 13:33] #16145 closed

[2020-05-31 14:05] williamdes commented on #16125
Changing the screen resolution did the trick, tests are less failing now.

[2020-05-31 14:05] #16125 closed

[2020-05-31 14:14] williamdes commented on #16150
You can contribute by following this list ;)

How to proceed:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch since it is an enhancement  and create a new branch from master
- Run `yarn install`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Start developing t

[2020-05-31 14:48] prepstarr opened #16151 "importing with CSV generates terrible errors and corrupts entire database"
### Describe the bug
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Choose a table
2. Click on Import
3. Choose any CSV file no matter how it's formatted or any file
4. Corrupt your database and get terrible permanent errors

### Expected behavior

Expected behavior we have imported the following data and inserted it into your table

### Screenshots

If applicable, add screenshots t

[2020-05-31 14:50] prepstarr commented on #16151
the only solution is to delete the database and recreate it

[2020-05-31 14:51] prepstarr commented on #16151
then after you need to reenter everything manually hire some lab rats from China even if it's a million records because the program is too buggy to be able to do it's function.

[2020-05-31 15:01] prepstarr commented on #16043
I am having a similar issue...

[2020-05-31 15:45] williamdes commented on #16151
Hi @prepstarr
As you could see this issue is a duplicate of #16043

You need to apply the patch https://github.com/phpmyadmin/phpmyadmin/commit/dc388607d7310aac01d6821025e7df65562ef8be or wait for 5.0.3 to be available or use the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/) from our website [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/d

[2020-05-31 15:45] #16151 closed

[2020-05-31 15:45] williamdes commented on #16151
Duplicate of #16043

[2020-05-31 15:47] petrduda commented on #16102
Hello @williamdes, this fix would also have solved the #16130 Local documentation links issue without the need to switch to the [doc] tag, please let me know if it is desirable to revert that edit back.

[2020-05-31 15:48] williamdes commented on #16102
Hello @petrduda
I think it is okay, testing in progress
You can expect me to merge your PR soon

[2020-05-31 17:13] #16102 closed

[2020-06-01 02:38] emanuelb opened #16154 "Add integration for errors/CSP violation reports (eg. using sentry)"
### Is your feature request related to a problem? Please describe.

1. Currently Errors in JS/PHP can be reported only to phpmyadmin reporting server
https://github.com/phpmyadmin/error-reporting-server which the default one might be blocked/not- accessible from client environment.
2. There is no built-in mechanism for reporting of CSP violations which can be done by using `report-uri` directive i

[2020-06-01 02:45] emanuelb opened #16155 "Add Dockerfile & .dockerignore for building from local dir/repo"
Add Dockerfile & .dockerignore files to this repo, which will built container from the used code in repo (if source code is from 'git clone') or from dir (if source tar-ball is used)
Currently in docker repo all options are using pre-built pma archives.
This is for enabling local building which is useful for:
- development inside/with containers.
- reproducible builds (in case all the steps used t

[2020-06-01 08:19] williamdes commented on #16154
Very good request!

We are discussing to implement Sentry in the back end to replace the error reporting server.

[2020-06-01 08:21] williamdes commented on #16155
Hello
I am not sure we want this on this repo
The request seems valid to have some development images built

@ibennetch @mauriciofauth

[2020-06-01 14:23] smartinec opened #16156 "Start auto refresh Not Showing All Processes"
### Describe the bug

Clicking the "Start auto refresh" link hides most of the processes

### To Reproduce

Steps to reproduce the behavior:
1. Go to Server->Status->Processes
2. Click on "Start auto refresh"
3. Most processes are now hidden

### Expected behavior

All processes should be shown

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

[2020-06-01 16:31] emanuelb commented on #16155
The Dockerfile should use `COPY` instructions to add files to container from directory/repo, also 2 COPY files are recommended (first for files that declare dependencies, such as `composer.json` and `package.json`) then install dependencies,  then add all remaining files (thus using the cache-build)
this will allow efficient local development with/in containers.
for reproducible-builds it's enough

[2020-06-01 16:51] williamdes commented on #16155
This is quite convincing, I agree that it would help any contributor run the project
In fact if you look in test directory there is a start script for a local server but I am more in favor or the docker idea

[2020-06-01 17:05] charliewindred commented on #16149
I'd like to help out with this issue if it's still available!

[2020-06-01 17:29] prepstarr opened #16157 "Designer / Concepteur missing relations lines"
### Describe the bug

Normally when you create a table it shows up as an entity and you can get a visual representation, model of your Database, it's layout, and their relationships in order to understand the functioning from a visual perspective.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Designer/Concepteur in French
2. Try to move around the entity/tables, try to create relati

[2020-06-01 21:09] williamdes commented on #16149
Sure !
You can contribute to this issue using master branch

[2020-06-02 05:53] raimundmeyer opened #16158 "Fatal Error when creating new DB or selecting empty DB (with no table)"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Databases' tab
2. Enter name for new database
3. Click  'Create'
4. See error

### Server configuration
Database server

    Server: 127.0.0.1 via TCP/IP
    Server type: MariaDB
    Server connection: SSL is not being used Documentation
    Server version: 10.3.22-MariaDB-1ubuntu1 - Ubuntu 20.04
    Protoco

[2020-06-02 07:21] williamdes commented on #16158
Hi @raimundmeyer
I added more types in 6266583e63e4d1fa798e60f3777656fe20cdab58 so it crashes before
Could you checkout 6266583e63e4d1fa798e60f3777656fe20cdab58 and post the new stacktrace ?

Also if possible could you send the ajax call parameters, I could not reproduce the error.

[2020-06-02 07:34] raimundmeyer commented on #16158
Hi @williamdes,
seems to work now, thanks.

[2020-06-02 07:41] williamdes commented on #16158
Quite strange, It will fail soon I think
Plsam found the error you reported after my fix: https://travis-ci.org/github/williamdes/phpmyadmintest/jobs/693742577#L392

[code]

[2020-06-02 22:21] #16149 closed

[2020-06-02 23:33] williamdes commented on #15810
Still present on all actions for individual Routines, etc..

Version: 5.0.3-dev

[2020-06-02 23:35] williamdes commented on #16158
I think 7623fed14a4da79624b1dcabbf12813ee6899ece will fix any possible errors

[2020-06-02 23:35] #16158 closed

[2020-06-02 23:55] williamdes commented on #16156
Hi @smartinec
I could not reproduce the issue you reported.

Could you try on (`root`, no password) https://demo.phpmyadmin.net/QA_5_0/server_status_processes.php ?

I added f63beb21694268e141eece765a1b4eefd238b023 and 84c4c87ff9544f63827cd972aa9a61f508527f53 to keep full query state and column order states on auto refresh mode

[2020-06-02 23:59] AndrewSverdrup opened #16160 "Menubar overlaps page content"
### Describe the bug

The menubar overlaps the page content when the phpMyAdmin webpage is opened.

![Screen Shot 2020-06-02 at 4 22 59 PM](https://user-images.githubusercontent.com/17505741/83579190-72e47280-a4ed-11ea-810e-814562d2a515.png)

It looks like the same issue as https://github.com/phpmyadmin/phpmyadmin/issues/15295, just a different reproduction case.

### To Reproduce

Make the follow

[2020-06-03 00:03] williamdes commented on #16160
Hi @AndrewSverdrup

Thank you for the report and the detailed informations

[2020-06-03 00:04] williamdes commented on #16133
@teamcoltra do you still have this issue ?
Did you try my debug suggestions ?

[2020-06-03 00:07] williamdes commented on #16121
I am not sure there is a quick fix for this issue because the scripts are maybe not loaded at this point

[2020-06-05 09:09] williamdes opened #16162 "FK link after replacement does not have integrity signature"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table
2. Fill a foreign key using dropdown
3. FK saves and a link is present
4. Click on the link, no sql_signature is in the query and so you will have the entire table dislayed

Workaround:
To make the link work, click refresh to refresh the displayed results a

[2020-06-05 14:04] williamdes opened #16163 "PHP notice - Undefined index: column_info"
### Describe the bug

Php notice

### To Reproduce

[code]

### Server configuration

- phpMyAdmin version: 5.0.3-dev

Target branch: QA_5_0

[2020-06-05 14:20] williamdes opened #16164 "[Severe] This bug did make me send a partial failed import asked by someone.."
### Describe the bug

`#1242 - Subquery returns more than 1 row`

### To Reproduce

Have a table with many rows, make a query that can have for some reason more than one row in return.

Export the query and see a partial export with no errors.

Pagination allowed not to see the mistake in the query, because on page 1 no subquery error.
On page X out of 34735 rows there is an error.

Actual behavio

[2020-06-06 22:04] objecttothis opened #16166 "SQL error when modifying user privileges on MySQL 8.0.11+"
### Describe the bug

This is similar to #14217.  Modifying user permissions causes a SQL error

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'User Accounts'
2. Click on 'Edit Privileges'
3. Modify any privilege (in my  then click Go
4. See error (in screenshot)

### Expected behavior

I expect that the permissions get changed without error.

### Screenshots

![phpmyadmin](https://u

[2020-06-06 22:11] objecttothis commented on #16166
Modifying Database-specific privileges does seem to work properly, however.

[2020-06-06 22:48] williamdes commented on #16166
@objecttothis do you validate that #16165 does fix this issue ?

[2020-06-06 23:03] objecttothis commented on #16166
@williamdes I think that PR is Windows specific. My server is is FreeBSD so I can test it but rim not sure it will fix the issue.

[2020-06-06 23:29] williamdes commented on #16166
Yeah, sorry for this linking mistake.

This patch will be no good for this issue :)

Can you reproduce this issue on demo servers (`root`, no password)?
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)

[2020-06-07 09:31] objecttothis commented on #16166
Yep, exact same issue on both demo servers

![phpmyadmin demo 5 1](https://user-images.githubusercontent.com/17935339/83965236-333dd200-a8c3-11ea-8edd-b77c950518e8.jpg)

[2020-06-07 10:53] williamdes opened #16167 "INSERT ... ON DUPLICATE KEY UPDATE statements is now deprecated"
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-20.html

https://github.com/phpmyadmin/phpmyadmin/blob/a32029436ff0324c74319408b9e316940cf3b93f/libraries/classes/Plugins/Import/ImportCsv.php#L614

https://github.com/phpmyadmin/phpmyadmin/blob/58eee2e3714b4035903315c1ef7b5f8ad3086c6c/libraries/classes/Relation.php#L1122

https://github.com/phpmyadmin/phpmyadmin/blob/3baad2eb1c2fe57497b877f

[2020-06-07 11:13] alextreib commented on #16043
Thanks @williamdes!

[2020-06-07 11:45] williamdes opened #16168 "MySQL 8.0.1 - The deprecated PROCEDURE ANALYSE() syntax has been removed."
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-1.html

https://github.com/phpmyadmin/phpmyadmin/blob/5df2c41d67cd62fe2615f0dce1694d9340bb528b/templates/table/structure/display_structure.twig#L390

[2020-06-07 12:09] williamdes opened #16169 "MySQL 8.0.3 - Removed functions"
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-3.html

[code]

[2020-06-07 12:55] Rasesh2005 opened #16170 "Loading Takes A Long TIme"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operat

[2020-06-07 12:56] williamdes commented on #16170
@Rasesh2005 what version of phpMyAdmin are you using ?

[2020-06-07 13:01] Rasesh2005 commented on #16170
7.2.31.

[2020-06-07 13:02] Rasesh2005 commented on #16170
Is There any relation with version. as i dont use php full fledged so i downloaded lower version.. Should I update?

[2020-06-07 13:17] williamdes commented on #16170
@Rasesh2005 this version does not exist, this is your PHP version

Updates are always a good thing, you should upgrade and look on the phpMyAdmin home page for the version you are using so I can give better advice :)

[2020-06-07 13:23] olumide95 commented on #16163
Can you please elaborate on what the issue is?

[2020-06-07 13:34] williamdes commented on #16163
I think this issue reflects a lack of checking that https://github.com/phpmyadmin/phpmyadmin/blob/a32029436ff0324c74319408b9e316940cf3b93f/libraries/classes/RelationCleanup.php#L58

Because this piece of  code does the isset and access check :
https://github.com/phpmyadmin/phpmyadmin/blob/a32029436ff0324c74319408b9e316940cf3b93f/libraries/classes/Relation.php#L628-L635

It should be done
https://g

[2020-06-07 14:05] williamdes commented on #16166
I tried MySQL 8.0.2,3 without errors and MySQL 8.0.11 has the error.
_And filled up my disk a little more with docker images :laughing:_

[2020-06-07 14:12] objecttothis commented on #16166
I'm running 8.0.20, so perhaps its > 8.0.11?

[2020-06-07 14:15] williamdes commented on #16166
Any > 8.0.11 seems to be affected

The end of query is blocking the execution

https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-11.html

It looks like #14217 was not fixed or maybe it is another bug..
[code]

[2020-06-07 14:30] williamdes commented on #16166
I tried phpMyAdmin 4.8,4.9,5.0,5.1 and all versions are affected.
The question is how is it possible nobody did see this error since 2018 :thinking:

[2020-06-07 14:32] williamdes commented on #14217
This issue seems to have still something to fix, tracking the progress in #16166

[2020-06-07 15:37] williamdes commented on #16166
Yes, I agree
But the release is from 2018-04-19 :thinking:

Anyway, my fix is quite ready and I will post in in ~10 minutes after writing some unit tests

[2020-06-07 15:38] objecttothis commented on #16166
Yeah, I caught that after posting my reply.

[2020-06-07 16:12] williamdes commented on #16166
Could you try the fix 5164bea16a04551356be5947387a1d76978f675d ?
Only the change to `libraries/classes/Server/Privileges.php` is required.

[2020-06-07 16:13] williamdes commented on #14217
Hi everybody, I posted the fix in https://github.com/phpmyadmin/phpmyadmin/issues/16166#issuecomment-640241943

Please try it out and let me know on #16166

[2020-06-07 16:13] #14217 closed

[2020-06-07 16:28] #16166 closed

[2020-06-07 16:54] objecttothis commented on #16166
Confirmed.  This PR fixes the problem.  I tested it on my 8.0.20 instance.

[2020-06-07 16:56] objecttothis commented on #16166
Side note.  This may be related, but it isn't clear.  If I modify user privileges on a database level, select the databases, then check all and click go, it runs the query but unchecks "GRANT".  It still seems to run the "GRANT ALL PRIVILEGES" query though.

[2020-06-07 17:27] williamdes commented on #16166
Indeed, if you think this is a bug you can open an issue.
That said, on 4.9 this behavior was already there.

Thank you for testing my patch :)

[2020-06-07 19:27] williamdes commented on #16133
:ping_pong:

[2020-06-07 20:36] williamdes commented on #16157
[code]

[2020-06-07 21:41] #16157 closed

[2020-06-07 21:46] williamdes commented on #16052
Reading the code it seems like `js/vendor/jquery/jquery.debounce-1.0.5.js` did throttle the call and then invoke it but forgetting the event data

[2020-06-07 21:59] williamdes commented on #16052
@DavidThomas48 does this patch solve this issue for you ?
[code]

[2020-06-07 22:21] williamdes commented on #16154
https://blog.sentry.io/2018/09/04/how-sentry-captures-csp-violations

[2020-06-08 01:09] DavidThomas48 commented on #16052
Hello William,

I am working on a WordPress site that contains only one copy of navigation.js which is only 3.66Kb and does not contain Navigation.ResizeHandler = function () {…

I should add that the error happens very rarely – I had not seen it for well over a month until the other day and I am working in pma every day.

Regards

David Thomas

From: William Desportes [mailto:notifications@github

[2020-06-08 01:16] DavidThomas48 commented on #16052
Sorry William – senior moment – just making the patch now but I really won’t know if it has fixed the problem because of the rarity of the error.

DT

From: DAVID THOMAS [mailto:david.thomas@elliott-thomas.com.au]
Sent: Monday, 8 June 2020 11:09 AM
To: 'phpmyadmin/phpmyadmin'; 'phpmyadmin/phpmyadmin'
Cc: 'Mention'
Subject: RE: [phpmyadmin/phpmyadmin] JS error on mousemove (#16052)

Hello William,

[2020-06-08 06:59] williamdes commented on #16052
Hi

From what you commented I can understand you where probably no up to date :)
I am not sure that I will post my patch, can you let me know if you where using a 5.0 version?

[2020-06-08 07:24] teamcoltra commented on #16133
Hello! Sorry about the delay I haven't had time to bug fix this. I have tried fully deleting the user and database that I had created before this bug started and still no fix. I am not sure about phpmyadmin storage, I'm snot sure what that is

[2020-06-08 08:11] williamdes commented on #16133
Hello, no worries :)

phpMyAdmin storage is the database named "phpmyadmin" and that contains some data to make cool features work

If you can give me some access to a dummy user on an instance I can debug this for you
Email: williamdes@wdes.fr

Thank you,
William

[2020-06-08 08:25] DavidThomas48 commented on #16052
I have installed the patch on my server. If the error hasn’t happened by August, it’s probably fixed!

D

From: William Desportes [mailto:notifications@github.com]
Sent: Monday, 8 June 2020 5:00 PM
To: phpmyadmin/phpmyadmin
Cc: David Thomas; Mention
Subject: Re: [phpmyadmin/phpmyadmin] JS error on mousemove, $.throttle (#16052)

Hi

From what you commented I can understand you where probably no up

[2020-06-08 08:31] DavidThomas48 commented on #16052
I just realised, I have been working online with a host site recently, and they are running pma 4.9.1. I am fairly sure that the error occurred on my machine (pma 5.0.2), but it is possible that the error occurred on that site. Sorry to be vague about this. Doesn’t the error  report give you the pma  version?

David

From: DAVID THOMAS [mailto:david.thomas@elliott-thomas.com.au]
Sent: Monday, 8 Ju

[2020-06-08 08:34] williamdes commented on #16052
Indeed, I got confused but you where running 5.0.1 when you reported this issue, I will commit the patch ASAP then

William

[2020-06-08 12:14] objecttothis opened #16171 "mysql.db table not updated when DROP database operation is used"
### Describe the bug

When dropping a database, the corresponding row in mysql.db is not deleted which means that if you copy a db to that name, rename a db or create a new db it gives an SQL error telling you that db already exists.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a database
2. Click on 'Operations'
3. Click 'Drop the database (DROP)'
4. Click 'mysql' database on the

[2020-06-08 12:26] gurrrung opened #16172 "make the year editable in input form for TIMESTAMP"
What if I want to add 2012, I have to keep clicking backwards arrow?

A workaround is to choose any date and then edit the text myself but it can be a UI feature too.

![Screenshot from 2020-06-08 17-54-00](https://user-images.githubusercontent.com/30543444/84030184-3616f080-a9b1-11ea-8397-a3b06e06c319.png)

[2020-06-08 13:38] williamdes commented on #16171
We are not responsible for the `mysql.db` management and contents. :thinking:

What do you think about this issue @ibennetch ?

[2020-06-08 16:43] #16170 closed

[2020-06-08 19:46] objecttothis commented on #16171
@williamdes ok, that's fair, but then why is the "Copy database to" feature touching mysql.db but drop is not.  The problem is occuring because they aren't consistent.

[2020-06-08 20:52] williamdes commented on #15507
https://github.com/Nyholm/psr7 seems to be the best one

[2020-06-08 21:07] ibennetch commented on #16171
This is certainly slightly ambiguous about what the proper behavior should be with regard to modifying the mysql.db table, however MySQL itself doesn't modify the table if a database is dropped directly from the MySQL command line client.

I believe this is by design, that MySQL intends for user privileges to persist if the corresponding database is dropped and recreated.

That aside, the error co

[2020-06-08 21:11] mauriciofauth commented on #15507
As an implementation detail for the controller actions, I like the [Slim Framework](http://www.slimframework.com/) way. The method receives a Request and a Response and returns a Response.

[code]

[2020-06-08 21:14] williamdes commented on #15507
Laravel also works this way, I love it each day
I will probably try to work on this to be able to finish #15247 because some of our code relies on exits and sending responses

[2020-06-08 23:05] #16136 closed

[2020-06-09 00:12] mauriciofauth opened #16173 "Extract actions from Database\StructureController::index"
Currently the `Database\StructureController` actions are all in the `/database/structure` route. They should be extracted into separated routes.

[2020-06-09 01:35] emanuelb commented on #16056
There is no XSS/HTML/BBCode Injection shown in this report, also in 2005 according to PMASA advisories I didn't found related issue (at least by reading the summaries)
The CRLF shown is that in HTTP response the newline chars are not encoded which in this case are not a issue because the output is in:
- HTML error message which not showing it (it's ignored, it's not inside `<pre>` tag or acting li

[2020-06-09 02:14] emanuelb commented on #15686
This issue can be closed as invalid, there is no `Access-Control-Allow-Origin` or `Access-Control-Allow-Credentials` headers sent by PMA code (did search from github) and using the supplied code with modification (to allow testing any domain)
[code]
will not work by calling:
`cors('https://demo.phpmyadmin.net/master-config/')`
which return

The reporter probably run the tested code from the same d

[2020-06-09 02:33] emanuelb opened #16174 "Add security policy (SECURITY.md file) to repo"
see:
https://help.github.com/en/github/managing-security-vulnerabilities/adding-a-security-policy-to-your-repository

There are security issues opened in this repo despite using the `Security report` template which instruct people to visit: https://www.phpmyadmin.net/security/
which contain all the needed information to disclose vulnerabilities.

While full disclosure is OK policy (make reports pu

[2020-06-09 03:03] emanuelb commented on #15541
to summarize the security improvements from this thread that are relevant in import upload (there are no vulnerabilities)
- limit file extensions allowed in import.php (can be restricted by default, with config option to allow more file-extensions for people who use non-standard extensions)
- file-content can also be checked for example by using the SQL parser (`file` won't help, it return `ASCII

[2020-06-09 03:37] emanuelb commented on #14321
in general if redirect is used (`Location` header, 30X status code) the returned HTML must be empty (call to `exit()` or `die()`) or include HTML for redirection (most usages use `meta` redirect tag, with `a` tag with text such as page is automatically redirected to 'link')

it's a security issue because the returned data from PMA will leak info in this setup (the sign-on possible benefit is to av

[2020-06-09 03:39] emanuelb opened #16175 "Add demo with signon config"
in https://www.phpmyadmin.net/try/ There are no link such as: "Configured for signon auth." which will use the signon functionality.

[2020-06-09 04:46] emanuelb opened #16176 "Add fail2ban usage documentation"
Searching `fail2ban` in this repo, return issues #6232 #6146 and from documentation:
https://docs.phpmyadmin.net/en/latest/setup.html#securing-your-phpmyadmin-installation
[code]
https://docs.phpmyadmin.net/en/latest/security.html#brute-force-attack
[code]

but there no example on how to use it, searching the internet for "phpmyadmin fail2ban" return many bad suggestions (like parsing the server a

[2020-06-09 04:54] emanuelb opened #16177 "Change password cbb74bc to something like CHANGEME"
The string `cbb74bc` is used as password in file `doc/setup.rst` at:
`$cfg['Servers'][$i]['password']      = 'cbb74bc'; // use here your password`
it's better to use string like 'changeme' or 'CHANGEME' or 'not-secure-need-to-be-changed' etc.. to imply that the string need to be changed (not use the declared password for anything)

[2020-06-09 05:01] emanuelb opened #16178 "mention --production arg for yarn in doc/setup.rst"
from:  `doc/setup.rst`

composer update --no-dev
Finally, you'll need to use Yarn to install some JavaScript dependencies:
yarn install

There is mention of `--no-dev` for composer, but no mention of argument `--production` for yarn to avoid installing devDependencies if the user not intend to develop/test the software.

[2020-06-09 07:49] williamdes commented on #16176
#14720 Would need to be fixed first

[2020-06-09 08:08] williamdes commented on #15686
Thank you for your precious comments and investigations @emanuelb !

[2020-06-09 08:08] #15686 closed

[2020-06-09 09:22] objecttothis commented on #16171
To be clear, I dropped the database through phpmyadmin, not through the CLI.  Whether that changes the behavior that should be is really up to you guys.

I'll employ this workaround for now as long as it doesn't have any negative side-effects.

An alternate solution may be to provide a means (checkbox?) for those dropping the database (maybe in the confirmation popup window) to also delete the row

[2020-06-09 10:02] williamdes opened #16179 "[5.1] Bad UI for simulate request"
### Describe the bug

![image](https://user-images.githubusercontent.com/7784660/84134445-df5cf580-aa48-11ea-9ee0-674f08a55e33.png)

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'SQL'
2. Fill ``UPDATE `addresses` SET line_2 = NULL WHERE line_2 LIKE ''``

### Expected behavior

Have a pretty display like on https://demo.phpmyadmin.net/QA_5_0/server_sql.php

### Screenshots

![image](

[2020-06-09 11:36] Abdallah-Fouad-X opened #16180 "Cross-site scripting"
Reflected cross-site scripting vulnerabilities arise when data is copied from a request and echoed into the application's immediate response in an unsafe way. An attacker can use the vulnerability to construct a request that, if issued by another application user, will cause JavaScript code supplied by the attacker to execute within the user's browser in the context of that user's session with the

[2020-06-09 11:45] #16180 closed

[2020-06-09 11:46] Abdallah-Fouad-X commented on #16180
why closed ?

[2020-06-09 11:47] williamdes commented on #16180
Because it is solved ;)

[2020-06-09 11:47] williamdes commented on #16180
See: 655389292dfd70e488f92d4e086c5abd76197e13

[2020-06-09 11:50] Abdallah-Fouad-X commented on #16180
okay , Thank you

[2020-06-09 22:30] MESWEB opened #16183 "The mysqli extension is missing. Please check your PHP configuration."
### Describe the bug

Can't use phpMyadmin after installation:

**phpMyAdmin - Error
The mysqli extension is missing. Please check your PHP configuration. See [a@doc/html/faq.html#faqmysql@documentation]our documentation for more information.**

### To Reproduce

Steps to reproduce the behavior:
Debian 10
1. Install Apache2
2. Install MySQL
3. Install phpMyAdmin
4. Install PHP 7.3
5. Try connect p

[2020-06-09 22:33] williamdes commented on #16183
Hi @MESWEB

mysql but not mysqli
We could use PDO but that would require a lot of work.

Did you follow #15236 to install the Debian version ?

Anyway, you need mysqli. There is no alternatives :)

[2020-06-09 23:06] MESWEB commented on #16183
Hi @williamdes
It's maybe simple to install mysqli extension? I uncomment this extension without success. It's gonna work if I add mysqli.so file into php directory extensions?

[2020-06-09 23:14] williamdes commented on #16183
That could work for you, what system are you using exactly ?
Try to add https://github.com/oerdnj/deb.sury.org/wiki/Frequently-Asked-Questions#how-to-enable-the-debsuryorg-repository and apt install php-mysqli or php7-mysqli

Also, you need to restart the php fpm server if you use one so the extension enable/disable change applies

[2020-06-10 06:01] Neko-Chang-Taiwan commented on #16064
Hi All

I got the issue too @ php74.
And  found the root cause of the problem because of the lack of php-xmlwrite extensions.
Install it can solve as below
`# portmaster  textproc/php74-xmlwriter`

The issue from ports/packages.
I will report it to freshports.org

[2020-06-10 07:26] williamdes commented on #16064
Thank you @Neko-Chang-Taiwan
Can you link the report ?

[2020-06-10 07:30] Neko-Chang-Taiwan commented on #16064
You are welcome :D
Please reference [https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=247134](url)

Thanks a lot.

[2020-06-10 08:00] rodiusd opened #16184 "templates/ directory not found but is there"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. unzip product in apache docs directory phpmyadmin
2. run webbrowser to <myserver>/phpmyadmin/setup/index.php
3. got "500 internal server error"
4. errorlog entries are shown above

### Expected behavior

running setup

### Screenshots

N/A

### Server configuration

- Operating system: i5/OS
- Web server: apache 2.

[2020-06-10 08:37] williamdes commented on #16184
Could you try to edit https://github.com/phpmyadmin/phpmyadmin/blob/f4582e083eff6033d0b2930b594554913136d8e0/libraries/classes/Template.php#L61 and set a full path ?

[2020-06-10 09:10] rodiusd commented on #16184
Have changed to the following:

public const BASE_PATH = '/www/httpphp/htdocs/phpmyadmin/templates/';

the setup is now working but when try to run phpMyAdmin now we got following error:

PHP Fatal error:  Uncaught TypeError: chdir() expects parameter 1 to be a valid path, bool given in /www/httpphp/htdocs/phpmyadmin/libraries/classes/Response.php:506

Stack trace:

#0 /www/httpphp/htdocs/phpmyadm

[2020-06-10 09:17] williamdes commented on #16184
Can you give me as much information as possible on your setup so I can try to reproduce this issue ?
Something is wrong and I would like to be able to understand it to make a good fix.

[2020-06-10 09:40] rodiusd commented on #16184
Hi,

Try first to explain the reason why we trying to install phpMyAdmin.

The Zend company will end support for the Basic(free) version of the php zerver.

So we have to use now the opensource version from IBM-OSS.

The IBM I comes with a standard apache2.4 server which we have adapted to accept and serve php .

We also installed the MariaDB server and via the CLI we can access this.

However we

[2020-06-10 09:47] williamdes commented on #16184
Hi

Thank you for the explanation
I would like you to remove `$cfg['ServerDefault'] = 1;` to see if the issue is fixed, some users reported that had solved the chdir php error for some reason

William

[2020-06-10 10:00] rodiusd commented on #16184
Hi William,

Change to the config.inc.php in removing the proposed did not work.

We have the same error

Best regards,

Danny

From: William Desportes <notifications@github.com>
Sent: woensdag 10 juni 2020 11:48
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Rodius Danny <danny.rodius@skynet.be>; Author <author@noreply.github.com>
Subject: Re: [phpmyadmin/phpmyadmin] templates/ dir

[2020-06-10 11:53] williamdes commented on #16184
Hi,
I have a solution that will work for you until we release a fix.
Edit `$this->_CWD = getcwd();`in `libraries/classes/Response.php` by `$this->_CWD = '/www/httpphp/htdocs/phpmyadmin/';`
That should solve this issue for you :)

[2020-06-10 22:57] williamdes commented on #14478
Hi everybody,
After some investigation I discovered that the length was 0 but that we where in another nesting level
So I added a condition to empty all levels and fix the data stream.

Could you try my fix ?

[2020-06-10 22:59] drtrppr commented on #16012
Don't know if this is the right place to comment, but I'm trying to get some clear on flipflopping lat-lon I experience (see stackoverflow (as suggested on your homepage) https://stackoverflow.com/questions/62272155/what-to-expect-when-using-mariadb-phpmyadmin-when-working-with-datatype-geometr ) Don't get sattisfying response there, so I searched the phpmyadmin-issues. This issue comes close, exe

[2020-06-10 23:17] williamdes commented on #16012
Hi @drtrppr
Are you sure to reproduce the issue mentioned here with the data https://github.com/phpmyadmin/phpmyadmin/issues/16012#issuecomment-594757507 on MariaDB ?

[2020-06-10 23:35] #16052 closed

[2020-06-10 23:35] #16162 closed

[2020-06-10 23:35] #14478 closed

[2020-06-10 23:35] #16163 closed

[2020-06-11 02:19] jackei1989 commented on #16177
Hello
Can i do this As a first experience?

[2020-06-11 02:31] ibennetch commented on #16177
Sure @jackei1989! I think this change could target the QA_5_0 branch. Let us know if you need help.

[2020-06-11 07:24] amsharma9 opened #16188 "Phpmyadmin works very slowly with large number or tables"
Hi,

We have Phpmyadmin installed on AWS C5.xlarge with 8Gb RAM, 4 vCPUs running Ubuntu 16.0.4 . We have around forty thousand tables in our database. Storage engine is Innodb.  Phpmyadmin takes a long time to open (most probably because it is trying to get info about all tables from `information_schema` database). It takes about:

- 2.5 to 3 minutes to open the left panel after clicking database

[2020-06-11 07:32] williamdes commented on #16188
Hi @amsharma9
This is an excellent question !
Your feedback will be very precious, I started a similar topic on #16005

Is there any chance that I would have some access to develop improvements ?

Also let me know if the next version that is still in development, available on our website [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/) is better or worse in performance.

[2020-06-11 07:39] Dahkon commented on #16058
SSO is working correctly as we are being connected on PMA.

The problem is when using SSO (it works fine with standard login on same config and version), **sql_query** parameter on url sql.php is not being treated.

Parameter is displayed fine in url but not beeing used on the real query.
If I change it manually nothing happend (a loading but that's all).

On the contrary parameter **table** is wo

[2020-06-11 08:19] williamdes commented on #16058
:thinking: I still could not reproduce this issue, maybe because what I am testing is not the right things.
Could you screenshot the steps to get to the broken place where `sql_query` is not working ?

[2020-06-11 09:16] drtrppr commented on #16012
Thanks for response, and I'm absolutely NOT sure that I can reproduce the issue with data of comment :) . Things are getting fast beyond my level of knowlegde to be sure about the technical aspects, that's why I posted the question on Stackoverflow. My guess is that phpmyadmin/mariadb is working correctly, but I misunderstand how things work.

Main question at the moment is do lat-lon correspond t

[2020-06-11 09:53] Dahkon commented on #16058
I don't think a screenshot will help, every click on columns header to order the tables isn't working.

We have 2 configurations, the first one is for connecting with regular login/password and the second one is for connecting with SSO.

We use a button in our extranet to connect to PMA directly.

Here is our code that open PMA with automatic SSO connexion maybe this can help ?

[code]

I suspect

[2020-06-11 10:15] williamdes commented on #16012
I think https://dba.stackexchange.com/a/182626/117444 is the answer.
[code]

I would say, do not adapt your data to phpMyAdmin this is a bad idea :)

Also I am considering adding a checkbox to invert the coordinates
This did the trick to view the GIS data
[code]

[2020-06-11 11:16] amsharma9 commented on #16188
Yes, sure. These statistics are from a Production server but we can always share the Staging server details if you need or implement some changes you do, on this server and give you feedback on them.

We would be glad to help you improve your product. It will benefit us all, right!!!
Will install 5.1. We installed it using apt-get and assumed it's the latest. You have so many versions after that,

[2020-06-11 11:39] williamdes commented on #16188
Sure, feel free to email me at williamdes@wdes.fr to share the details

About apt get you will have 4.9 available 5.0 is planned but requires a lot of work for the packaging team (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993 for install instructions)

[2020-06-11 12:10] drtrppr commented on #16012
Ah, disagreement, ok, that makes difficult to code.

Reading what btacordex wrote to report the bug:

As phpmyadmin is targeted towards Mysql/Mariadb (homepage phpmyadmin), the lat-lon format should be the way to go?

But, what's puzzling me now, this issue is closed, so I assume phpmyadmin in combo with mysql 8 uses lat-lon now? I'm using mariadb 10.4 so I would expect the lat-lon format? So why

[2020-06-11 12:13] williamdes commented on #16058
:tada: I can now see the :bug:
[code]

The server parameter is clearly missing on all the queries.

[2020-06-11 12:20] RS974 commented on #16058
I'm sorry, I forgot to mention that information.
Like Dahkon, I send the form data in $_POST from my extranet.

If I use a form in signon.php. Indeed there is no problem.

But I use Signon authentication to avoid manual entry.

[2020-06-11 15:18] mauriciofauth opened #16189 "Remove Html\Generator::getButtonOrImage method"
The `PhpMyAdmin\Html\Generator::getButtonOrImage` method calls should be replaced with the return of the `PhpMyAdmin\Html\ActionLinksModes\Image::generate` method and the `PhpMyAdmin\Html\ActionLinksModes` classes should be removed as well.

For example:

[code]

[2020-06-11 15:19] williamdes commented on #16189
Target branch: master

[2020-06-11 16:16] williamdes commented on #16012
"Incompatible Change: These functions now interpret latitude and longitude coordinates as in the order specified by the spatial reference system. The functions also accept an optional argument to override the default axis order." (https://github.com/phpmyadmin/phpmyadmin/issues/16012#issuecomment-616215760)

This issue is closed because we added a compatibility setting for newer MySQL versions (ht

[2020-06-11 18:35] williamdes commented on #16184
Hi Danny,

Could you please try to apply https://github.com/phpmyadmin/phpmyadmin/commit/ddb66ad61a86f1afa491fc326213476a4607791c and let us know if everything is still okay and working ?

This fix will be part of the 5.0.3 version when it is released.

[2020-06-11 18:46] #16184 closed

[2020-06-12 07:43] rodiusd commented on #16184
Hi William,

Sorry, but saw you mail this morning and had to free up some time.

Have done a new install of the 5.0.2 version and applied the proposed changes.

Actions done:

1.	Change to the security chmod (777) for all objects done
2.	Proposed changes to the libraries/classes/Response.php file done
3.	Proposed changes to the libraries/classes/Template.php file done
4.	Run the setup and placed t

[2020-06-12 08:18] williamdes commented on #16184
Hi,

I am very happy to know that this solution works for you :)

It is set in quite some places, you can see more about that here: https://github.com/phpmyadmin/phpmyadmin/pull/14806/files
It was added in #14806

I do not think this will be an issue, I never had issues with this event on strange setups.

William

[2020-06-12 09:13] rodiusd commented on #16184
Thanks William,

As soon if have some further free time I will setup a new server with virtual hosts.

Thanks for helping out.

Best regards,

Danny Rodius

From: William Desportes <notifications@github.com>
Sent: vrijdag 12 juni 2020 10:19
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Rodius Danny <danny.rodius@skynet.be>; Author <author@noreply.github.com>
Subject: Re: [phpmyadmi

[2020-06-12 09:41] drtrppr commented on #16012
I stumbled upon https://wiki.osgeo.org/wiki/Tile_Map_Service_Specification :

Apparently order has a dependancy with units used. I'm using decimal degrees, so I need to use lon-lat order. When I use this order, phpadmin maps the data the way I expected.

[2020-06-12 17:26] mauriciofauth commented on #15861
Fixed by 079e911cfbc6b6c92aaad3d2e9a9d7fb856b746c.

[2020-06-12 17:26] #15861 closed

[2020-06-13 17:14] #16177 closed

[2020-06-13 21:18] Abdallah-Fouad-X commented on #15541
@emanuelb , Yes indeed , but you can make blacklist for evil function like drop or delete

in case upload file contain those words it will be delete or drop the table such this function is bad for the application logic , if you drop or delete database by uploading file

[2020-06-13 21:42] emanuelb commented on #15541
@Abdallah-Fouad-X

Blacklists are bad and it's easy to bypass them, there are other commands to achieve the results like deleting data such as: `ALTER` or `TRUNCATE` and `DELETE` can be replaced by calls to  `REPLACE` which target the related data, and there even more ways for bypasses (like using `CALL` for stored procedures that call `DELETE` or `DROP`) or using code in comments `/*!50000 DROP D

[2020-06-14 14:00] garak opened #16191 "Cannot insert newline into textarea popup"
### Describe the bug

This is a regression in phpmyadmin 5 (in phpmyadmin 4.9 is working fine).
If you are listing records from a table and you click on a field (to do a quick edit of field's value), you cannot insert a newline. As soon as you press enter, the field is saved. This is annoying, since you're forced to go into full edit, and then go back to list (and so on...), defeating the purpose

[2020-06-15 10:45] Jay04653 opened #16193 "Issue in search using "IN" statement for integer fields"
### To Reproduce

Steps to reproduce the behavior:
1. Open search box for the table which contains an integer field
2. Select operator to **IN (...)** for an integer column
3. Type two or more integer number divided by comma
4. See error

### Expected behavior

It should be able to search more than one integer number using IN statement

### Screenshots

![Screenshot from 2020-06-15 13-37-15](https

[2020-06-15 10:49] williamdes commented on #16193
Duplicate of #16041

[2020-06-15 10:49] williamdes commented on #16193
Hello @Jay04653

Thank you for reporting this issue, It is a duplicate of  #16041 and will be fixed in next 5.0 version.
For now you can use the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-06-15 10:49] #16193 closed

[2020-06-15 10:58] Jay04653 commented on #16193
Great, thank you!

[2020-06-15 11:27] Jay04653 opened #16194 "SQL query does not appear in case of editing view where definer is not you on MySQL 8"
### To Reproduce

Steps to reproduce the behavior:
1. Create any View by user 1
2. Login by user 2
3. Open View for editing
4. See empty **AS** text field (SQL query)

### Expected behavior

This should be prefilled with original SQL query

### Screenshots

![image](https://user-images.githubusercontent.com/2777846/84651900-5c89de00-af13-11ea-95f0-9fb2b406282c.png)

### Server configuration

- Ope

[2020-06-15 11:32] williamdes commented on #16194
Quite interesting !
Thank you for the report !
MySQL is breaking a lot of things recently :thinking:
Confirmed on https://demo.phpmyadmin.net/QA_5_0/view_create.php?db=sakila&table=actor_info

[2020-06-15 22:11] MESWEB opened #16196 "mysqli::real_connect(): (HY000/1698): Access denied for user 'root'@'localhost'"
### Describe the bug

phpMyAdmin tried to connect to the MySQL server, and the server rejected the connection. You should check the host, username and password in your configuration and make sure that they correspond to the information given by the administrator of the MySQL server.

### To Reproduce

Steps to reproduce the behavior:
1. Fresh installation MySQL 8.0 server

### Expected behavior

A

[2020-06-15 22:21] MESWEB commented on #16196
Fixed by added new SUPER USER:
`CREATE USER 'pmauser'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password_here';`
`GRANT ALL PRIVILEGES ON *.* TO 'pmauser'@'localhost';`

[2020-06-15 22:21] #16196 closed

[2020-06-15 22:47] williamdes commented on #16196
Related to #14220

[2020-06-15 23:39] mauriciofauth opened #16197 "Replacing the master/slave terminology"
We should replace the _master_ and _slave_ terminology when possible. We can't completely remove this terms because it's a MySQL/MariaDB terminology.

MariaDB began replacing the terms with the _primary_ and _replica_ pair and already [added `replica` as an alias for `slave`](https://github.com/MariaDB/server/commit/23686b2bafe2f3f9614d68923dfd4aea7641dbcc).

MySQL related issue: https://bugs.mysq

[2020-06-16 12:18] braindigitalis opened #16198 "Editor removing variable names from DECLARE statements in MySQL Functions"
When i go to edit a previously defined MySQL function, the variable names are removed from DEFINE statements. If i try to save the function, it will try to execute now-invalid code.

### To Reproduce

Steps to reproduce the behavior:
1. Create a function that has a ``DECLARE varname VARCHAR(250)`` or similar in it
2. Save function
3. Go back in and edit function (choose it from the tree on the lef

[2020-06-16 12:21] williamdes commented on #16198
Hello @braindigitalis could you try to save and retrieve the function only using SQL queries to prove that we remove `DECLARE` ?
I have a doubt about if the SGBD is removing the line or not

[2020-06-16 12:46] braindigitalis commented on #16198
I can confirm after doing that, this only seems to remove the variable name from DECLARE. it's a bit strange.

[2020-06-16 12:47] williamdes commented on #16198
So we remove DECLARE statements ?
If you feel like investigating into the code you can use the branch QA_5_0

[2020-06-16 13:58] smartinec commented on #16156
I made a recording of the exact issue with a long running query. You can even see the query show and then disappear on the refresh after auto-refresh is enabled. So, it looks like the bug is client side.

https://www.screencast.com/t/uNkQGWRI0EQ

[2020-06-16 14:13] williamdes commented on #16156
Thank you, this is strange but I think I had this issue once too.

[2020-06-16 15:44] ibennetch opened #16199 "Dragging in Designer is inconsistent and frustrating"
### Describe the bug

When using Designer, I drag the tables around. Sometimes, the table gets "stuck" at what seems like a boundary area; for instance in this screenshot, "rental" is as far up and to the right as I can easily make it go:

<img width="1183" alt="image" src="https://user-images.githubusercontent.com/1443710/84795057-04131900-afc5-11ea-85fd-9f9530b5b7f3.png">

A symptom of the probl

[2020-06-16 16:22] DaemonicNaymon commented on #16178
Hi there, may I pick this one up?

[2020-06-16 16:43] britbarn commented on #14801
Hi @williamdes , I have just created a pull request for this example. It's my first pull request, so let me know if I need to change the way I did it. Thanks!

[2020-06-16 16:47] ibennetch commented on #16178
@DaemonicNaymon Yes, go right ahead. Your pull request should target the QA_5_0 branch.

[2020-06-16 16:51] williamdes commented on #14801
Hi @britbarn !
Could you open the pull-request URL here (https://github.com/phpmyadmin/phpmyadmin/pulls) ?

You did open it on your repo: https://github.com/britbarn/phpmyadmin/pull/1

Thank you ;)

[2020-06-17 06:26] OlafvdSpek opened #16201 "Please enter a valid number."
"2710 " (note the space) isn't considered a valid number, by the client-side validator. I think the server-side code does consider this valid..

The error message is missing margins. Or is it padding?

![image](https://user-images.githubusercontent.com/2218936/84862894-45163680-b074-11ea-80cc-5d1577cff875.png)

[2020-06-17 07:37] williamdes commented on #16201
The change must be done in https://github.com/phpmyadmin/phpmyadmin/blob/a4ae932a715582d7abdafae6f8cade4139932101/js/table/change.js#L154 and using the target branch QA_5_0

[2020-06-17 12:10] kingpabel commented on #15800
I have also faced the same notice after upgrading `php` **7.2** to **7.4** on `phpmyadmin` **4.6**

Below steps solved my issue.

 1. Install **PPA** by hiting `sudo add-apt-repository ppa:phpmyadmin/ppa`
 2. Then run `sudo apt update` & `sudo apt upgrade`
 3. Finally restart your apache `sudo systemctl restart apache2`

Now i am running `phpmyadmin` **4.9.5deb2** and notice gone

[2020-06-17 19:14] britbarn commented on #14801
@williamdes thank you, I believe I have now submitted the pull request in the correct spot

[2020-06-18 08:21] DeNeDeM opened #16203 "Weird install issue on debian(bullseye)"
Hi there,
I just decided to update my debian10 to the debian11 testing version (just to try new things). Its not a production server or anything
I have installed latest version of apache2 which is 2.4.43 and php7.4 .
Upon trying to install phpmyadmin from the bullseye repo which says it is version 4.9.5(dont think it really matters) it keeps wanting to install itself with php7.3 despite version 7.

[2020-06-18 08:26] williamdes commented on #16203
Hi @DeNeDeM

Maybe one php extension we require only exists in php 7.3

Ref: #15236

@Blaimi do you have an idea ?

[2020-06-18 08:33] DeNeDeM commented on #16203
Well i see the package(s) it depends are also in the 7.4 version (from their package info page)

[2020-06-18 08:53] williamdes commented on #16203
https://packages.debian.org/en/bullseye/phpmyadmin
I see one that is suggested an could be problematic `php-recode`
[code]

Maybe could you try to install all the dependencies by hand and see the one that is problematic ?

[2020-06-18 09:00] DeNeDeM commented on #16203
I've started to do that, but i've seen that it tried to install php7.3-mysql despite the fact i have php7.4-mysql installed also does the same thing for common mbstring gz2 and others...

[2020-06-18 09:07] williamdes commented on #16203
Maybe https://salsa.debian.org/phpmyadmin-team/motranslator/-/issues/1#note_173140 can help you

[2020-06-18 09:10] DeNeDeM commented on #16203
Ohh.. i thought some of the packages got screwed.. But i've did a complete removal/purge php 7.3 and 7.4 afterwards a fresh install of 7.4.
Shouldn't that have all the packages name in order?

[2020-06-18 09:11] Blaimi commented on #16203
It has not been removed but unbundled. recode is now a pecl-module, maybe thats the reason why it is not (yet) available in php7.4.

Someone should try if a from scratch installation works, i.e. not upgrading from buster but installing bullseye from scratch. If the dependencies cannot be solved then, its also not possible to fix the situation after upgrade.

[2020-06-18 09:15] DeNeDeM commented on #16203
Ohh..ok. I'll try to do a bullseye fresh install then.. At first it seemed handier to just upgrade the current buster install

[2020-06-18 09:18] Blaimi commented on #16203
shouldn't this have been fixed with https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=955360

[2020-06-18 09:23] williamdes commented on #16203
Removed from build-depends: https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/commit/6357c1656cc669df43368e5c85af6cca27d99d8c

It is still in suggests https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/blob/f1767d443ea617a79f8585f25daf558c91e5a1be/debian/control#L63

[2020-06-18 09:27] Blaimi commented on #16203
ah, then removing php-recode and php7.3-recode on the bullseye-machine should work.

have a look at https://www.debian.org/releases/stable/i386/release-notes/ch-upgrading.en.html#obsolete. the php-stuff is probaly not the only thing which is now abandoned

[2020-06-18 09:30] DeNeDeM commented on #16203
So.. i've tried doing this on a fresh machine, nothing install on it. not even php.
And by default it tried to install version 7.3 instead of 7.4

[2020-06-18 10:26] williamdes commented on #16203
## Debug steps
[code]
## Found a breakpoint
[code]

## The error
[code]

@Blaimi `php-mysql` depends on `php7.3-mysql`

[2020-06-18 15:25] Blaimi commented on #16203
indeed. bullseye has php-defaults 76 (where php-mysql is coming from) and there is still migration to php7.4 in progress (as you can see in the changlogs of the news in the [package-tracker](https://tracker.debian.org/pkg/php-defaults)).

So there's not much we can do except waiting. It's probably too soon for php-stuff on testing, sorry.

[2020-06-18 18:49] williamdes commented on #16178
Oh, I switched the PR number and the fixes statement
Closed by merge of 17a3f7bd417da438dfcf7bca07c048e6f01dc597 (cbbe186fac5cc6b9a07d1a4853e6860c0e3639f6)

[2020-06-18 18:52] DaemonicNaymon commented on #16201
Hi there, what are the reproduction steps? Does this happen when you insert a number into a row?

[2020-06-18 19:08] williamdes commented on #16201
hi @DaemonicNaymon

You need to enter a space after the number, only a front-end check to improve

[2020-06-18 19:12] DaemonicNaymon commented on #16201
Hi @williamdes

I've tried entering a space before after and between numbers but it just passes through so I'm wondering if the problem lays with my setup? 🤔

[2020-06-18 20:02] OlafvdSpek commented on #16201
https://demo.phpmyadmin.net/master/index.php?route=/table/search&db=mysql&table=user

Enter 1, space into an int field, then move focus to another field.

[2020-06-18 21:39] williamdes opened #16204 "implement Feature-Policy header"
Implement Feature-Policy header

Article: https://scotthelme.co.uk/a-new-security-header-feature-policy/
Ref: https://securityheaders.com/?q=https%3A%2F%2Fdemo.phpmyadmin.net%2FQA_5_0%2F&hide=on&followRedirects=on

cc @emanuelb If you have some feedback on this implementation

[2020-06-18 21:45] emanuelb commented on #16204
What kind of feedback? there no PR here...
it's good to add this header for security reasons, the article you mentioned describe more details.
I also suggest using reporting API which should support this header as well (to receive violations) , sentry #16154 should be able to support this functionality, more info:
https://github.com/w3c/webappsec-feature-policy/blob/master/reporting.md

[2020-06-18 21:48] williamdes commented on #16204
I was asking myself if you also think the header is usefull and if we should explicitly list all features and disable them like I can see in examples or not ?

Ref: http://disq.us/p/23f9b5u and http://disq.us/p/22wl5l2

Header set Feature-Policy "accelerometer 'none';ambient-light-sensor 'none';autoplay 'none';camera 'none';encrypted-media 'none';fullscreen 'self';geolocation 'self';gyroscope 'non

[2020-06-18 22:07] emanuelb commented on #16204
Yes, it's useful

in general for security headers like this that restrict functionality it's better to send the most restricted version possible, so the answer is yes.

This header spec is still in draft / heavy development (even that browsers started supporting it recently), so I can't comment more on it yet (as I won't spend the time reading the needed information yet)
on most web features I rea

[2020-06-19 07:20] #16178 closed

[2020-06-19 19:32] stuffgoeshere commented on #11659
I agree with speller.  This autocomplete feature introduces numerous errors as I write queries.  In fact, it slows me down as I try to write them.  What a drag on usability!  I've already disabled the auto-complete for table names and fields.  So it's only half as bad.  But there is still a drop-down menu that appears whenever I type the initial letter of any word.  It's distracting.  And, worst o

[2020-06-19 20:17] vladyslavstartsev opened #16206 "Add dependabot"
### Describe the solution you'd like

I see that you make quite a lot of `composer.json` changes manually. Most of it is update of dependencies.
What can automate this, is `dependabot`

It's easy to install it, you only need one file to configure (there is the example commit https://github.com/weirdan/codeception-psalm-module/commit/11d5faaa17b1e9f34a1e2cd0514bbbd9255fd90d)

Here are the examples

[2020-06-19 21:31] williamdes commented on #11659
@stuffgoeshere What version are you testing ?

[2020-06-20 00:47] mauriciofauth commented on #16206
phpMyAdmin doesn't have the `composer.lock` file in the repository, so I don't think _dependabot_ will help much in this situation.

[2020-06-20 04:04] ibennetch commented on #16206
Well, the https://dependabot.com/ page is quite light on details, but I would think it has to work with composer.json, right? Otherwise it wouldn't be too helpful for folks like us.

Anyway, I'm on the fence about this. I do like the idea, but find the documentation lacking and wonder how it would fit in to our development cycle. I wasn't able to find much information about how compatibility are r

[2020-06-20 06:54] vladyslavstartsev commented on #16206
@mauriciofauth
It doesn't work with `composer.lock` (I mean, it can, but it's not necessary) see https://github.com/doctrine/coding-standard for example, `composer.lock` is in .gitignore.
As docs says, it's really flexible and powerful.
@ibennetch You asked me about major/minor versioning and how this is solved - https://help.github.com/en/github/administering-a-repository/configuration-options-fo

[2020-06-20 09:24] williamdes commented on #16206
Hi
I will just add my thoughts on dependabot
I have it on multiple organizations and it opens a lot of PRs very often
A pain in the * to use.
I use it to know there is a dependency to bump and then I read the changelog the bot posts.
Next step I bump everything and push only one commit to close everything.

My problem with dependabot: one PR for each dependency to bump

And trust me there is alway

[2020-06-20 09:38] #16179 closed

[2020-06-20 11:02] cypa opened #16207 "misprint 'locahost' in test/classes/Stubs/DbiDummy.php"
### Describe the bug

misprint in localhost name

### To Reproduce

Steps to reproduce the behavior:
1. Click to  https://github.com/phpmyadmin/phpmyadmin/search?q=locahost&unscoped_q=locahost

4. See error

### Expected behavior

localhost instead of locahost

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operating system:
- Web server:

[2020-06-20 11:43] vladyslavstartsev commented on #16206
@williamdes thank you for your feedback.
I see your opinion 😉.

Please close if there will be no more progress on this

[2020-06-20 11:52] williamdes commented on #16206
Thank you for your comprehension, I really appreciate ;)
I am closing this one for now

Have a nice day !

[2020-06-20 11:52] #16206 closed

[2020-06-20 12:00] #16207 closed

[2020-06-20 12:01] williamdes commented on #16207
Thank you @cypa

[2020-06-20 16:16] stuffgoeshere commented on #11659
Hi William,

It's version 5.7.22

On Fri, Jun 19, 2020 at 4:31 PM William Desportes <notifications@github.com>
wrote:

--
Best Regards,
Joseph Peterson

[2020-06-20 16:37] stuffgoeshere commented on #11659
Oops.  Sorry.  That's the MySQL version.  The phpMyAdmin is version 5.0.2,
based on what is shown here:

http://localhost/phpmyadmin/doc/html/index.html

On Sat, Jun 20, 2020 at 11:16 AM Joseph Peterson <joseph@oxygen.nyc> wrote:

--
Best Regards,
Joseph Peterson

[2020-06-20 16:55] williamdes commented on #11659
@mauriciofauth I would agree to disable the auto complete
What about you?

[2020-06-20 17:52] mauriciofauth commented on #11659
I think we can add some way of disabling the autocomplete feature.

[2020-06-21 07:17] OlafvdSpek opened #16209 "This issue has been automatically locked"
Could this be done without (email) notifications?
They're not really useful.

[2020-06-21 07:28] williamdes commented on #16209
#16208
@mauriciofauth

[2020-06-21 14:43] mauriciofauth commented on #16209
This will be great, but I didn't see any option for that. Maybe if we just lock the issue without the message.

[2020-06-21 15:34] OlafvdSpek commented on #16209
What's the rationale for locking stuff?

[2020-06-21 15:49] mauriciofauth commented on #16209
Sometimes people comment on old and inactive issues that's already closed. And it's difficult track the new discussion on these old issues. We prefer that collaborators open a new issue instead of commenting on old ones, because it's generally a new issue anyway. We only lock closed issues that has been inactive for more than a year.

[2020-06-21 16:08] mauriciofauth commented on #16209
Locking without leaving a message don't trigger the notification system.

[2020-06-21 16:08] #16209 closed

[2020-06-21 16:58] shahlin commented on #16201
Which is the expected solution?

1) Trim spaces automatically
2) The padding must be increased for the error message
3) Both

[2020-06-21 17:27] sorinsfirlogea opened #16210 "Cannot activate 2FA"
### Describe the bug
After a fresh manual install of 5.0.2 version I have successfully configured phpmyadmin and it works just fine. But it seems to be impossible to activate the 2FA feature. It keeps returning an error "The two factor authentication failed." as an red box on the page.
I am using Google Authenticator to generate the key, through the QR code. I don't know how to enable debugging so

[2020-06-21 18:51] ibennetch commented on #16210
I just tested this and it worked correctly. Could you confirm how you installed phpMyAdmin — did you download directly from phpMyAdmin, are you using the packaged version, or are you using some kit such as XAMPP?

I don't have an immediate answer for you but we will look at this.

[2020-06-21 18:56] ibennetch commented on #16210
One thought I had is that this could be related to clock drift issues. Is there a chance you are running this on a virtual machine or some other system that might have an unstable clock or that the clock might drift? The standard window is 30 seconds, so it seems unlikely that your clock would deviate by that much, but it's the only thing that comes to immediate mind.

[2020-06-21 19:10] Abdallah-Fouad-X commented on #15541
@emanuelb  yes blacklist not the solution , but if you want you can alert the user by doping the tables

[2020-06-21 20:29] sorinsfirlogea commented on #16210
Ha! That might be the problem. Never thought about it. My Linux box is
somewhere in Frankfurt (Upcloud cloud). What should be the timezone on the
server? The same as in Bucharest? Or is there a translation depending on
server timezone?

Regards,
Sorin

On Sun, Jun 21, 2020 at 9:56 PM Isaac Bennetch <notifications@github.com>
wrote:

[2020-06-21 22:12] williamdes commented on #16201
I would say trim, having spaces has no sense for an int

[2020-06-22 03:11] ibennetch commented on #16210
I am not an expert in the TOTP algorithm, but my understanding is that all systems work off of the Unix Epoch (POSIX time), and calculating the 30 second window is based on each machine's ability to keep track of time since then.

I suspect that having a hardware clock set to the local time zone rather than UTC would cause this problem; most Linux distributions expect the hardware clock to be set

[2020-06-22 05:34] sorinsfirlogea commented on #16210
I google it a bit and I found more details that allowed me to fix the
problem. It was indeed the clock drift. Thank you for your helpful tip.

Regards,
Sorin

On Mon, Jun 22, 2020 at 6:11 AM Isaac Bennetch <notifications@github.com>
wrote:

[2020-06-22 05:50] #16210 closed

[2020-06-22 06:01] williamdes commented on #16203
If I receive the migration notification I will post it here
Closing for now.
Thank you for bringing this to us.

[2020-06-22 06:01] #16203 closed

[2020-06-22 06:28] williamdes commented on #16194
@shahlin would you want to contribute to this issue ?

[2020-06-22 06:37] #16201 closed

[2020-06-22 06:38] OlafvdSpek commented on #16201
Don't forget the padding. ;)

[2020-06-22 08:25] drtrppr opened #16213 "Chosen label not shown on GIS-visualization."
### Describe the bug

'Display Gis Visualization', a selected lable column is not shown when the base layer is not selected.

### To Reproduce

1. Create table with a spatial column and columns like 'id', 'name';
2. Insert some data in a spatial column, whether points, linestrings, polygon's, doesn't matter;
3. Browse the table;
4. Choose button 'Visualize GIS-data';
5. The 'Display GIS-visualizat

[2020-06-22 08:56] williamdes commented on #16201
@OlafvdSpek do you mean for the error message ?
can you open an issue for the master branch ?

[2020-06-22 15:20] ibennetch opened #16214 "Copying a database should adjust view definitions"
### Is your feature request related to a problem? Please describe.

When copying a database to a new database, any views are not updated to reflect the new database name. In MySQL, views are strictly defined with database and table names, so copying or renaming the database does not automatically make the copied view refer to the copied database, not the original

### Describe the solution you'd l

[2020-06-22 15:24] ibennetch commented on #16214
We should update https://stackoverflow.com/questions/62505330/phpmyadmin-5-0-2-error-when-cloning-database/62517896#62517896 when this is fixed.

[2020-06-22 15:28] ibennetch opened #16215 "Renaming a database, table, or column should adjust view definitions that reference that item"
### Is your feature request related to a problem? Please describe.

When we rename a database, table, or column, any view that references that item becomes invalid, because of how MySQL strictly defines views. It would be helpful if phpMyAdmin could decide when this is the case and prompt the user whether they want the view definitions adjusted.

### Describe the solution you'd like

When renaming

[2020-06-22 15:29] ibennetch commented on #16215
This might take a lot to implement...

[2020-06-22 18:27] williamdes opened #16216 "Failed asserting that 'ar_ly' is not equal to 'ar_ly'. "Arabic (Libya)" missing"
Failed asserting that 'ar_ly' is not equal to 'ar_ly'.

https://hosted.weblate.org/projects/phpmyadmin/5-0/ar_ly/

`libraries/classes/LanguageManager.php`

 @ibennetch or @mauriciofauth could someone commit the new language please ?

Added by 10c5ab8397aa7126ef6ffc6241ef9210d4495e9a

I am never too sure on how to fill this kind of data :thinking:

on 5.0, not sure if we should add on 4.9 if someon

[2020-06-22 20:12] williamdes commented on #15296
[code]

This is a WIP diff to try to no load tiles if the base layer is not needed, privacy reasons like bandwidth reasons could motivate such a change
It did not work fine on QA because the script is loaded at init and not replaced on checkbox change (this is logical)

[2020-06-22 20:39] williamdes commented on #16213
I removed this issue from 5.0.3 because I could not find the fix.
One thing I found is this diff changes the behavior, I conclude this issue is due to he position of the layer in the "stack":

[code]

Anyway, on base layer you still can hover the node and have the label.
I think we can agree this is not a bug ?

Related to #15296

[2020-06-22 20:44] williamdes commented on #16191
I am unsure this is a bug, you can use standard the maj+enter
What do you think ?

[2020-06-22 23:04] drtrppr commented on #16213
It's still a bug I think :), would be nice if it worked well, but if solution isn't obvious, don't spent time on it!

In the example given label can be read, but in other intances labels are too small to be detected on base layer. You have to toggle between two representations in order to pinpoint the spatial data.  But still I'm very glad I've an easy way to check the geo-data in the database, so

[2020-06-22 23:21] williamdes commented on #16213
Thank your for your kind response :)
I am not willing to spend time on this one because I will have to search in old JS code with no support of anybody because the lib is out of date, all this needs to be refreshed and upgraded in #15296 :paintbrush:

If someone finds this issue, feel free to find a fix for QA_5_0 branch :)

[2020-06-23 06:03] garak commented on #16191
You're right, I didn't know.
Thank you!

So, maybe this can be considered as an UX problem? I guess that many other people are ignoring such shortcut and I'm not sure that is so "standard" (for example, I tried with alt + enter before opening this issue)
Maybe some kind of visual help could be added... maybe a tooltip?

[2020-06-23 06:22] williamdes commented on #16191
I agree to add some hint and I changed this issue to an enhancement

[2020-06-23 07:18] williamdes commented on #16194
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-1.html

Maybe this comment can have some incidence for this issue

[2020-06-23 08:05] shahlin commented on #16194
@williamdes I can give it a try it in about 2 days!

[2020-06-23 10:49] OlafvdSpek opened #16217 "Missing padding on error messages"
![image](https://user-images.githubusercontent.com/2218936/85395059-de02f100-b54f-11ea-9f8c-0097cedd40be.png)

Maybe the error box should be as big as the input box?

v: master

[2020-06-23 12:55] Jay04653 opened #16218 "Monitor page displays data in two different languages"
### Describe the bug

Probably this issue happens because of my regional standards or similar.
My location is Ukraine, system default language is English.
I see all menus in English but labels and legend on a graph in Russian.

### Expected behavior

To see data in the language selected on the main page.

### Screenshots

![image](https://user-images.githubusercontent.com/2777846/85405449-19f68000

[2020-06-23 12:56] williamdes commented on #16218
Hi @Jay04653
Is this issue a duplicate of #13634 for you ?

[2020-06-23 12:58] Jay04653 commented on #16218
Yes, seems it's the same issue.

[2020-06-23 13:02] williamdes commented on #16218
Thank you, I will try to have a look after my work hours :)

[2020-06-23 17:32] jenz opened #16219 "IN() Does not work with list of number values for INT field"
Issue with Version 5.0.2

To reproduce:

1) Log into phpMyAdmin and find a table with an INT field
2) Search with the Operator = IN() and the value = comma separated list of numbers
3) As soon as you put in the comma and try to submit the search - you will see an error "Please enter a valid number" to the right of the field.

Note - this is not an issue in the 4.9.5 version.
![image](https://user-

[2020-06-23 17:34] williamdes commented on #16219
Hello @jenz

Thank you for reporting this issue, It is a duplicate of  #16041 and will be fixed in next 5.0 version.
For now you can use the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-06-23 17:34] williamdes commented on #16219
Duplicate of #16041

[2020-06-23 17:35] #16219 closed

[2020-06-23 17:41] jenz commented on #16219
Thanks!

[2020-06-23 23:15] Caique1996 opened #16220 "Search results are not displayed."
### Describe the bug

When the user connected to phpmyadmin has more than 100 databases and performs a search, if the database that matches the search term is on the second page, the result is not displayed.

### To Reproduce

Steps to reproduce the behavior:
1. Create 101 databases or more
2. Search for a database on the second page
3. The database on the second page will not be displayed, even i

[2020-06-23 23:26] williamdes commented on #16220
Hello @Caique1996
This issue looks like a duplicate of #16084 ?

[2020-06-24 01:09] DavidHopkinsFbr opened #16221 "JSON-type columns change to longtext"
### Describe the bug

When I configure a column using the `JSON` type alias, phpmyadmin issues an ALTER TABLE to set the column type to `JSON`, as expected. However, whenever I view the table structure in phpmyadmin, the type is shown as `longtext` rather than `JSON`.

Although `JSON` is mostly an alias for `longtext` in MariaDB, it does actually have some unique behavior: [as of MariaDB 10.4.3, t

[2020-06-24 05:56] CarlosSLoureiro opened #16222 "Can't use search page when table have a special characters"
### Describe the bug

I got error when I try to search in some table that contains special characters in the table name.

### To Reproduce

Steps to reproduce the behavior:
1. Create some table with a special character as "ç", "ã", "õ" and others.
2. Select the created table.
2. Click in the search button.

### Expected behavior

The search page with the selected table columns as options to search

[2020-06-24 06:08] DavidHopkinsFbr opened #16223 "JSON input transformation editor is very narrow"
### Describe the bug

When using the table Insert UI with the "JSON (text/plain)" input transformation, the provided editor window is very narrow compared to standard text field entries.

### To Reproduce

Steps to reproduce the behavior:
1. Create a table with a LONGTEXT column with "Browser display transformation" set to "JSON (text/plain: JSON)" and "Input transformation" set to "JSON (text/pla

[2020-06-24 06:12] williamdes commented on #16223
Thank you for the report :)

[2020-06-24 06:15] williamdes commented on #16222
Thank you for report, confirmed on my side

[2020-06-24 06:16] DavidHopkinsFbr commented on #16221
I'm actually not certain what MariaDB reports as the column type when queried about columns created using the JSON alias.

Maybe the correct fix for this issue is not changing the displayed type of the column, but instead surfacing the `CHECK CONSTRAINT` that MariaDB creates for the column when you declare it as JSON, as per #13592

[2020-06-24 06:27] williamdes commented on #16221
I agree, MySQL shows the column as JSON type

[2020-06-24 06:36] DavidHopkinsFbr commented on #16221
It might be important that MySQL and MariaDB both support `JSON` as a column type but they have different implementations.

MySQL internally converts the JSON into some kind of binary representation (to hypothetically optimise access to the JSON sub-elements), while MariaDB just stores the text version of the JSON and parses it when it needs to.

So in MariaDB, JSON is an alias for LONGTEXT, but i

[2020-06-24 07:02] williamdes commented on #16222
Master version seems not affected, but demo server has an error 500
@ibennetch Could you please send us the stacktrace ?

[2020-06-24 07:03] williamdes commented on #16222
@Tithugues You where the author of this DI change, would you agree to try to fix this issue ?
Symphony thinks the value of the parameter is to be replaced by something

[2020-06-24 07:08] #16076 closed

[2020-06-24 07:10] williamdes commented on #16221
Maybe we could hypothetical add `(JSON)` so the user still knows there is a DBMS trick but that it is a JSON column
(if possible)

[2020-06-24 13:38] ibennetch commented on #16221
I'm not seeing this, although it takes some digging to verify.

I created a test database, through phpMyAdmin. Then I added a table called jsontest, with one column of type json. The SQL preview shows ```CREATE TABLE `test`.`pj` ( `j` JSON NOT NULL ) ENGINE = InnoDB; ```. This seems correct so far.

Once the table is created, phpMyAdmin shows the type as longtext. Since MariaDB treats JSON as an a

[2020-06-24 13:45] ibennetch opened #16224 "View/Edit support for CHECK constraints"
### Is your feature request related to a problem? Please describe.

MariaDB (starting with 10.2.1) and MySQL (starting with 8.0.16) have CHECK constraints, an integrity feature that is part of the CREATE or ALTER table statement.

### Describe the solution you'd like

I think this belongs on the table structure tab, probably between Index and Partition. We should show these constraints, which can

[2020-06-24 13:45] ibennetch commented on #16221
See also https://github.com/phpmyadmin/phpmyadmin/issues/16224

[2020-06-24 13:46] ibennetch commented on #16221
I think I'd rather not do this because MariaDB still treats this as a longtext, but I can see how this would be valuable.

[2020-06-24 19:16] williamdes commented on #14644
By Doctum, the Sami fork
https://github.com/code-lts/doctum
Building in progress

[2020-06-25 00:11] #16173 closed

[2020-06-25 01:11] DavidHopkinsFbr commented on #16224
Merge this info with #13592?

[2020-06-25 01:19] DavidHopkinsFbr commented on #16221
Ah, ok. So it's actually MariaDB rather than phpMyAdmin which isn't conserving the originally-submitted column type name. Ok, in that case I agree that phpMyAdmin is doing the right thing when it shows the column type as `longtext`.

Agreed. I'd love to be able to view and configure `CHECK CONSTRAINTS` in their own right also.

I think this bug report can probably be closed at this point, since th

[2020-06-25 01:19] #16221 closed

[2020-06-25 01:29] ibennetch commented on #16221
Thanks for your suggestions and feedback.

[2020-06-25 07:36] Tithugues commented on #16222
I'll try to have a look in the next days.

[2020-06-25 07:38] Tithugues commented on #16222
Just something not to forget. Looking at [ASCII table](http://sebastienguillon.com/test/jeux-de-caracteres/windows-ascii-fr.html), the "C3" could come from the "alt 199" which is usually a character displayed when not found.

Not sure at all that's it, but that maybe linked.

[2020-06-25 07:45] drtrppr opened #16225 "Error when Visualize JSON-based GIS-data in Search results"
### Describe the bug

After search and finding a specific record, using visualize GIS-data gives error.

### To Reproduce

- Use a table with a JSON-column and a virtual columns to derive data out of the JSON-column (name, linestring);
- Use the search-tab to find record with specific name;
- Click on visualize GIS-data.

### Expected behavior

- The visualization of the geo-data, like when using

[2020-06-25 07:53] williamdes commented on #16222
Thank you, #16225 seems to be similar

[2020-06-25 08:03] drtrppr commented on #16225
Ah, didn't do right test. Trouble just starts with using the 'like % %'! Using the 'like' doesn't give a problem. So it wil be in the use of special characters (16222) I guess.

[2020-06-25 08:24] spyjo opened #16226 "Error 500 after copying a table"
### Describe the bug

A server error appears after copying a table. It appears only when we are in page 2 of table pagination.
The table is well copied. But the table list does not refresh.

### To Reproduce

Go to page 2 of tables list in a database
Click on a table
Click on Operations
Copy the table structure with a new name
See the server error after submit

### Server logs

[code]

### Server

[2020-06-25 08:25] williamdes commented on #16226
Thank you, I assigned it to 5.0.3 to have it fixed ASAP :)

[2020-06-25 10:28] Jay04653 opened #16227 "Autocomplete is not working in case table name quoted by "`" symbols"
### To Reproduce

Steps to reproduce the behavior:
1. Try to write select query with table names in quotation
2. Autocomplete is not working, see screenshots below

### Expected behavior

Autocomplete has to work in both cases

### Screenshots

Working without quotation
![image](https://user-images.githubusercontent.com/2777846/85701711-57cce300-b6e6-11ea-9ec2-1d075ccdf397.png)

Not working with q

[2020-06-25 18:47] DaemonicNaymon opened #16228 "HTML characters escaped on user routine privileges page."
### Describe the bug

What the bug is, that when you navigate as a user to your routine privileges, you see a whole mess of html tags.
### To Reproduce

Steps to reproduce the behavior:
1. before checking the page, make a user and a routine (stored procedure).
![image](https://user-images.githubusercontent.com/24189525/85777404-e4e15d80-b721-11ea-9b98-dc6e86c4504d.png)

1. After creating the user

[2020-06-25 18:49] williamdes commented on #16228
Hi @DaemonicNaymon
I am quite sure we fixed this issue, could you please try to download on our [website](https://www.phpmyadmin.net/downloads/) the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/) ?

[2020-06-25 18:53] DaemonicNaymon commented on #16228
Hi @williamdes
I will have a quick look, I just noticed my version of phpmyadmin is already outdated. Will let you know in a bit if the issue has been resolved.

[2020-06-25 18:56] DaemonicNaymon commented on #16228
You are right @williamdes  It was my version.

[2020-06-25 19:14] #16228 closed

[2020-06-25 20:26] MauricioFauth opened #16229 "Create a public directory for public files"
By moving public files to a public directory, we improve the security of phpMyAdmin because users will not have access to files that are outside the public directory.

Related to #14814.

[2020-06-25 22:09] williamdes commented on #16133
For the record, trying this test script helps a lot:
`test.php`
[code]

Call this script using `test.php?paramfoo=bar`

You should see some content like `[{"test":"run test"},{"paramfoo":"bar"}]` after clinking on "run test" submit button and `[{},{"paramfoo":"bar"}]` before

[2020-06-25 22:10] williamdes commented on #16133
Do you agree to close this one @teamcoltra ?

[2020-06-25 22:52] johnabelardom commented on #15800
Any of you guys know s how to do it on Debian?

[2020-06-26 00:16] williamdes commented on #15800
Well this comment was helpful for raspbian: https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410

And this one to install on debian: https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993

[2020-06-26 06:13] williamdes commented on #16216
@mauriciofauth could you please help me handle this one and further updates of this file?

[2020-06-26 06:18] williamdes commented on #14883
Hi @VARGA-Peter
Can you still reproduce this issue on 4.9 or 5.0 versions?

[2020-06-26 06:20] williamdes commented on #15990
I will close this one because I think it is not a bug, feel free to let me know if you do not agree :)

[2020-06-26 06:20] #15990 closed

[2020-06-26 06:22] williamdes commented on #16035
Hi @fahadshery
Is the issue still there using the latest version?

[2020-06-26 06:24] williamdes commented on #16079
Is there something we can do I can I close this issue?

[2020-06-26 06:25] williamdes commented on #16133
As discussed by email this is a configuration issue
I am closing this one then :)

[2020-06-26 06:25] #16133 closed

[2020-06-26 06:27] williamdes commented on #16109
/close?
I do not see how this issue still could exist on 5.0 :thinking:

[2020-06-26 06:27] yogesh-chaudhari-77 commented on #16079
Yes. In new version there is a dedicated option for generating create table statements.

[2020-06-26 06:27] #16079 closed

[2020-06-26 06:28] williamdes commented on #16030
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2020-06-26 06:28] #16030 closed

[2020-06-26 06:29] williamdes commented on #16094
I thik this is not a bug in phpMyAdmin so I am closing this one
I hope you found where the issue was

[2020-06-26 06:29] #16094 closed

[2020-06-26 06:31] williamdes commented on #14903
Is this still an issue?

[2020-06-26 06:32] williamdes commented on #16027
I hope this is fixed for you, I am closing this one
Let me know if you need more help or found a bug 🐛

[2020-06-26 06:32] #16027 closed

[2020-06-26 06:34] #16141 closed

[2020-06-26 06:37] williamdes commented on #15862
If someone can give feedback on this one

[2020-06-26 13:29] ibennetch commented on #16216
Looking in to this...

[2020-06-26 14:09] ibennetch commented on #16216
Strangely, the test suite was running fine on my system, but failing on Travis. I've added a pull request which I think has all the proper information, but it would be great to have someone take a second look first.

Cheers

[2020-06-26 14:22] williamdes commented on #16216
Thank you for the PR! 💪
Maybe you where not up to date, or the po files where not up to date :thinking:

[2020-06-26 14:45] ibennetch commented on #16216
Oh, of course, I definitely did not run generate-mo first. Now that I have
done so, I definitely reproduce this.

[2020-06-26 17:00] #16216 closed

[2020-06-26 17:21] #16226 closed

[2020-06-26 19:14] asprazz commented on #16227
Hi @williamdes  @Jay04653
After digging deeper, I think the problem is with CodeMirror. An ajaxCall to `db_sql_autocomplete.php` is giving correct tables for both aliases with " ` " and without " ` ".
The problem is with `sql-hint.js` of the code mirror

https://github.com/codemirror/CodeMirror/blob/c0120793f1e9986b631411b6112e207866d3db81/addon/hint/sql-hint.js#L190

during finding eachWord what

[2020-06-26 19:22] Jay04653 commented on #16227
Hi @asprazz

Thank you for the debug!

It's really annoying because by default PHPMyAdmin displays tables with "`" and in case you need to add joins or filters you have to remove this quotation every time or just ignore an autocomplete feature and just type SQL query.

[2020-06-26 20:30] williamdes commented on #16226
Bonjour @spyjo

Could you try my patch https://github.com/phpmyadmin/phpmyadmin/commit/425c1c32a77dea074739c595a3223091e959227e and let me know if the issue is fixed ?

Merci d'avance :)

[2020-06-26 20:36] williamdes commented on #16227
Hi @asprazz !
Thank you for the debug, could you open an issue at CodeMirror and link it here ?

[2020-06-26 20:55] spyjo commented on #16226
Yes the issue is fixed with your patch

merci !

[2020-06-27 01:46] asprazz commented on #16227
Ok @williamdes .

[2020-06-27 02:58] asprazz commented on #16227
@Jay04653 If you are using development version of phpmyadmin, then you can edit Sql-Hint file in CodeMirror :)
A temparary fix, if it helps :smiley:

[2020-06-27 05:59] asprazz commented on #16172
Hi @williamdes, I want to take this one. :)

[2020-06-27 06:24] williamdes commented on #16172
Thank you @asprazz!
Ready for a PR

[2020-06-27 06:30] asprazz commented on #16172
Should i send to QA_5_0 ?
i was about to send to master but not able to test having this error in local
![image](https://user-images.githubusercontent.com/19568165/85916354-bffa0100-b86d-11ea-9a97-2eebe9234e20.png)

[2020-06-27 11:37] jhamrachudi opened #16232 "I Forget root@localhot password"
Security problems should not be reported here.

See our security page: https://www.phpmyadmin.net/security/

Thanks for your help!

[2020-06-27 11:37] jhamrachudi opened #16233 "I Forget root@localhot password"
Security problems should not be reported here.

See our security page: https://www.phpmyadmin.net/security/

Thanks for your help!

[2020-06-27 11:45] jhamrachudi opened #16234 "Password forget"
Security problems should not be reported here.

See our security page: https://www.phpmyadmin.net/security/

Thanks for your help!

[2020-06-27 13:50] Tithugues commented on #16222
I don't have a fix for now, but maybe if I explain, someone would have an idea.

For many pages, we have this kind of dependencies which are defined:
[code]

The issue is that this `$url_query` looks like `?db=gh16222&table=gar%C3%A7on` (table = `garçon`).

But... as this is a parameter, Symfony DI reads it and see `%...%`, so it considers this is a parameter that should be replaced...

How to fix

[2020-06-27 14:56] ibennetch commented on #16234
@jhamrachudi You've opened three issues with no content. Can we help you in some way?

If you forgot your MySQL password, you can see this link in our FAQ: https://docs.phpmyadmin.net/en/latest/faq.html#i-have-lost-my-mysql-root-password-what-can-i-do

If you have found a security issue, please report it to security@phpmyadmin.net.

Thank you

[2020-06-27 14:56] #16234 closed

[2020-06-27 14:56] #16233 closed

[2020-06-27 14:56] #16232 closed

[2020-06-27 16:15] Tithugues commented on #16222
Can someone also try this fix please? I went through a few pages and didn't get the issue anymore. :pray:

[2020-06-27 16:19] williamdes commented on #16172
![image](https://user-images.githubusercontent.com/7784660/85926898-bb9c0b00-b8a2-11ea-9981-711fd100bd0c.png)

[2020-06-27 16:20] williamdes commented on #16172
Thank you  @asprazz for the fix !

[2020-06-27 16:20] #16172 closed

[2020-06-28 04:12] ibennetch opened #16237 "Logo missing in upper left corner of navigation panel"
The logo in the upper left corner of the navigation pane is not shown anymore in the master or QA_5_0 branches:

Currently:

<img width="203" alt="image" src="https://user-images.githubusercontent.com/1443710/85937663-bc996080-b8d3-11ea-8a72-5c9ca8a4634f.png">

Expected:
<img width="236" alt="image" src="https://user-images.githubusercontent.com/1443710/85937682-0124fc00-b8d4-11ea-8f20-825a958ebe7

[2020-06-28 09:54] yogeshojha commented on #16237
Hi @ibennetch, I am trying to resolve this. I do not see logo on any of the themes. I guess the text-based logo is the expected one.

Can you tell me what theme is being used in the expected one? or version number of PHPMyAdmin?

[2020-06-28 10:54] AbDhops opened #16239 "Docker error "Could not reliably determine the server's fully qualified domain name.""
### Describe the bug
I am running mariadb and phpmyadmin in docker enviornment. Everything start smoothly. mariaDB server is running. However, phpmyadmin docker container complains about "AH00558: apache2: Could not reliably determine the server's fully qualified domain name, using 172.19.0.2. Set the 'ServerName' directive globally to suppress this message"

### To Reproduce
Use following docker

[2020-06-28 13:48] ibennetch commented on #16237
The graphical logo used to appear, then something happened during development and now it doesn't. That "something" seems to have happened about two weeks ago. It affects both the QA_5_0 and master branches, but doesn't affect a released version. I've tested with the Bootstrap, Dark, Metro, Original, and pmahomme themes; it's something in the code, not a theme.

[2020-06-28 16:40] ABGEO commented on #16189
Hi @mauriciofauth,

I can work on this issue.

[2020-06-29 04:15] DavidThomas48 opened #16242 "Routine export to include DROP"
### Is your feature request related to a problem? Please describe.
When I export routines through the database export I get an option to include a DROP statement, but I have to export all routines, including all my utility routines that are never sent to production.

When I export selected routines from the Routines list, I don't get the chance to include a DROP statement.

If I want to update my

[2020-06-29 04:23] DavidThomas48 opened #16243 "Could the "Edit Routine" modal remember its last position and size?"
### Is your feature request related to a problem? Please describe.

I find I open and close the Routine editor regularly, and every time I do I have to reposition and resize it so I have the code section more or less filling the screen. This takes several mouse actions.

### Describe the solution you'd like

It would be very helpful if the modal dialog remembered its most recent position, size and

[2020-06-29 05:56] williamdes commented on #16242
Looks like a good idea to me :)

[2020-06-29 05:59] williamdes commented on #16243
Hi
I totally understand the idea, still unsure where such a setting would be saved. Maybe in the local storage

[2020-06-29 06:17] DavidThomas48 commented on #16243
Yes I agree – I use local storage for this sort of thing. It works fine.

From: William Desportes [mailto:notifications@github.com]
Sent: Monday, 29 June 2020 4:00 PM
To: phpmyadmin/phpmyadmin
Cc: David Thomas; Author
Subject: Re: [phpmyadmin/phpmyadmin] Could the "Edit Routine" modal remember its last position and size? (#16243)

Hi
I totally understand the idea, still unsure where such a setting

[2020-06-29 08:46] gurrrung opened #16244 "drop files feature to import .sql file doesn't works when I drop files from VSCode."
### Describe the bug

Drop files feature to import .sql file doesn't work when I drop files from VSCode.

### To Reproduce

Steps to reproduce the behaviour:
1. Create a DB.
2. Open a folder contains a.SQL file in VSCode.
3. Drag the.SQL file from VSCode into phpMyAdmin
4. Nothing happens.

### Expected behavior

It should import the .SQL file.

[2020-06-29 08:48] williamdes commented on #16244
Hi, thank you for the report
Could you investigate why it happens?

[2020-06-29 11:35] asprazz commented on #16237
Hi @all,
I think, the problem is in Navigation.php

https://github.com/phpmyadmin/phpmyadmin/blob/efc45c968769c38b19d87cb514cf2e8619c54dc2/libraries/classes/Navigation/Navigation.php#L271

The logo is not getting its source ><

[2020-06-29 11:59] gurrrung commented on #16244
Yeah, I will have a closer look.

[2020-06-29 15:20] gurrrung commented on #16244
I think this is because of the way VSCode is built and have nothing to do with phpMyAdmin. I tried dragging the file from VSCode into a folder. Instead of moving that file it just created a `txt` file containing the path of the file. I think another workaround is to make our drag and drop feature accept a path also and import the SQL file.

[2020-06-29 17:51] Patfreeze commented on #14542
This will be a nice to have. 👍
I work on different servers with the same database structure. Sometimes a server can return result but the other one not.
So when the query not show up, I make the inverse search for the query (lazy i know) and copy it to paste in other servers. 😄

With this message I will also give you a big thanks for all your work.

[2020-06-29 20:10] williamdes commented on #16244
Thank you, if this is a standard behavior then why not :)

[2020-06-30 02:24] ibennetch commented on #16244
I feel this is outside the scope of phpMyAdmin; we already handle it correctly when the file is drag-and-dropped through the file explorer interface. If VSCode doesn't handle this properly, in my opinion the problem should be fixed there instead.

I would consider a pull request like you propose, though.

[2020-07-01 08:49] williamdes commented on #16237
ddb66ad61a86f1afa491fc326213476a4607791c is the first bad commit, fixing the issue now ;)

[2020-07-01 12:40] #16237 closed

[2020-07-01 15:21] Keagel commented on #14184
In my case it was caused by the Firefox extension 'Disable HTML5 Autoplay'. Really weird.

[2020-07-01 16:06] #16222 closed

[2020-07-01 16:06] williamdes commented on #16222
Fix confirmed, thank you so much !

[2020-07-01 16:08] williamdes commented on #16225
Fixed in #16222 by #16240 (25297a0b0e209cae502eba1b99cd2fa40bf8f5ca)

[2020-07-01 16:08] #16225 closed

[2020-07-01 20:56] CarlosSLoureiro commented on #16222
Thank you

[2020-07-02 17:10] ibennetch opened #16245 "Failed Zoom search clears existing values"
### Describe the bug

When using Zoom search (from a table, click Search then the "Zoom search" sub tab, the type, collation, and operator are dynamically updated when a column is selected.

If only one column is selected, phpMyAdmin tells me to "Select two columns". This warning disappears after two seconds, which I feel is too quickly, but anyway when it goes away the page loses the settings for

[2020-07-02 17:15] ibennetch commented on #16243
This is a good enhancement idea.

I wonder if we could perhaps store this information in the phpMyAdmin table "pma__table_uiprefs" (specified by `$cfg['Servers'][$i]['table_uiprefs']`) and fall back on local storage if this table isn't configured.

[2020-07-02 20:08] williamdes commented on #16139
[code]

[2020-07-02 20:13] #16139 closed

[2020-07-03 08:09] iDrunK65 opened #16246 "Notice in ./libraries/classes/Display/Results.php#1224 Trying to access array offset on value of type bool"
### Describe the bug

On any tables I have this error

### To Reproduce

Steps to reproduce the behavior:
1. Go to '<myip>/phpmyadmin'
2. Click on a 'tables'
4. See error

### Screenshots
[Screenshots](https://idrunk.fr/screen/Capture2.PNG)

### Server configuration

- Operating system: Debian GNU/Linux 10 (buster)
- Web server: Apache/2.4.38 (Debian)
- Database version: 10.1.44-MariaDB-0+deb9u1
-

[2020-07-03 08:59] williamdes commented on #16246
Bonjour @iDrunK65
Could you try a 5.0 version from our [website](https://www.phpmyadmin.net/downloads/) ?

I think this error was already fixed :)

[2020-07-04 07:47] #16223 closed

[2020-07-04 08:05] iDrunK65 commented on #16246
Ok i Update but i have this error
[Screenshots](http://idrunk.fr/screen/Screenshot_9.png)

[2020-07-04 08:45] williamdes commented on #16246
you need to `chmod 770 -R tmp` or create a tmp directory in the phpMyAdmin directory

Also change the value of the blowfish 🐡 secret in the `config.inc.php` file, you will find the line at the start of the file

https://docs.phpmyadmin.net/fr/latest/config.html#cfg_blowfish_secret

[2020-07-04 08:54] iDrunK65 commented on #16246
Okay thank you for helping me

[2020-07-04 08:54] #16246 closed

[2020-07-04 15:41] weichengcing commented on #16030
Latest version is fine thank for your help

[2020-07-05 11:58] AbDhops opened #16247 "Phpmyadmin Docker error : MySQL server has gone away"
### Describe the bug

I am running mariadb and phpmyadmin in docker enviornment. Everything start smoothly. mariaDB server is running. I am able to use it over commandline.
While logging over phpmyadmin I see following error.
![Login Error](https://user-images.githubusercontent.com/46280644/86532004-a76d9480-bec6-11ea-9cb3-90947fc2f627.JPG)

### To Reproduce
Run the docker container using followin

[2020-07-05 12:42] asprazz opened #16248 "Zoom Search is not performing input validation on INT columns"
### Describe the bug
When we are using zoom search on a table validations are failing because of the fix id of table search form in validation function.

### To Reproduce

Steps to reproduce the behavior:
1. Select any table
2. Click on Search tabl
3. Click on Zoom Search subtab
4. Select any INT field in first / second row of first column
5. Enter invalid value in input field.

### Expected behav

[2020-07-05 13:25] ibennetch commented on #16248
I edited the subject of this report.

Thank you for reporting.

[2020-07-05 13:26] ibennetch commented on #16248
With QA_5_0 I get this JavaScript error:

[code]

With master, it just silently fails.

[2020-07-05 13:36] asprazz commented on #16248
Can I work on this ? :)
I can think of a solutions
we can pass searchType identifier in verifyAfterSearchFieldChange function to change id dynamically

[2020-07-05 13:41] ibennetch commented on #16248
Sure, you can work on it. Please target the QA_5_0 branch.

[2020-07-05 17:17] AbDhops commented on #16247
So **RTFM**... I learned it in hard way...
I overlooked the clear warning on MariaDB docker page..

For fresh instant, it took almost 11 minutes, until Phpmyadmin (or for that matter any one) to eastablish connection with database.

[2020-07-05 17:17] #16247 closed

[2020-07-05 18:51] williamdes commented on #16247
Glad to know that you found out the solution ;)

[2020-07-06 15:26] DEQ-Dave opened #16250 "Twig deprecation notices with PHP 8 Alpha 1"
Using PHP 8 Alpha 1 there are 2 deprecation notices reported any time you use phpMyAdmin to do anything with a database table. The notices are:

and

Steps to reproduce the behavior:
1. Install PHP 8 Alpha 1
2. Select a database
3. Select a table and the error should be shown

- Operating system: Windows 10
- Web server: Apache 2.4.43
- Database version: MariaDB 10.5.4
- PHP version: 8.0.0alpha1
-

[2020-07-06 17:18] williamdes commented on #16250
Hi,
Thank you for reporting this, in fact I reported this issue upstream as https://github.com/twigphp/Twig/issues/3327

It will be fixed on the next twig release, all the linked commits on the upstream issue where done to fix php 8.0 errors

For now I am also waiting for the Twig version release :)

[2020-07-06 17:18] #16250 closed

[2020-07-06 18:07] #16189 closed

[2020-07-07 04:09] DavidThomas48 commented on #16243
May I just add to this request. It would be great if you could include the internal positioning of the modal (size of edit area, scroll positions, etc). Even after positioning and resizing the dialog, it can take many actions to get the code area to occupy the majority of the screen, especially if there are many parameters.