[2021-02-22 21:52] ibennetch opened #16674 "Drop database dialog doesn't scroll"
I'm on the current master (4c8f9b47f33b00d7e5b85d35a4fa2473a13ee6bc) and I have a lot of databases. If I try to drop them all at once from the Databases tab, the confirmation dialog doesn't fit on the screen and doesn't scroll:

<img width="573" alt="image" src="https://user-images.githubusercontent.com/1443710/108774811-21be5800-752e-11eb-97fb-8d44be634660.png">

[2021-02-23 18:17] NKarasek commented on #12340
Hello @williamdes - I'm working with ER diagrams again and remembered that I had submitted a UI requested back in 2016.  A flurry of activity occurred a year ago but nothing since - and not assigned.  Can you update this discussion with the prospects of this requested being assigned?  Thanks as always,

[2021-02-23 22:30] williamdes commented on #12340
Hello @NKarasek
Thanks for refreshing that !
I will assign this to 5.2 milestone and perhaps someone will implement this :)

[2021-02-23 22:39] NKarasek commented on #12340
I just might have a go at it myself :-)

Thanks for your very prompt response - N

On Tue, Feb 23, 2021 at 5:31 PM William Desportes <notifications@github.com>
wrote:

[2021-02-24 08:19] williamdes commented on #16625
5.1 is out 🚀

[2021-02-24 08:19] #16625 closed

[2021-02-24 08:19] BastienDurel opened #16676 "composer install fails for 5.1"
Hello

Installing as usual with `composer create-project phpmyadmin/phpmyadmin --repository-url=https://www.phpmyadmin.net/packages.json --no-dev ./pma` fails waith a very big `Unknown package has no name defined ...` error

If I remove `vendor` and `composer.lock` I can run `composer update`, but than yarn fails while compiling scss :

[code]

[2021-02-24 08:21] BastienDurel commented on #16676
[code]

[2021-02-24 08:22] williamdes commented on #16676
Hi
I just closed a few seconds ago https://github.com/phpmyadmin/phpmyadmin/issues/16625
You should have a look
But if you run `yarn --production` this issue should be fixed

[2021-02-24 08:23] williamdes commented on #16676
Also maybe try without the repository argument

[2021-02-24 08:28] BastienDurel commented on #16676
without `--repository-url` I get 5.0.4

[2021-02-24 08:31] williamdes commented on #16676
Could you try `composer create-project phpmyadmin/phpmyadmin:5.1.x-dev --prefer-dist --no-dev` to see if tte release works like that?

[2021-02-24 08:32] williamdes commented on #16676
But indeed the composer version seems not to have the 5.1.0 tag for now
cc @ibennetch

[2021-02-24 08:40] BastienDurel commented on #16676
This works

[code]

[2021-02-24 09:23] nunoperalta opened #16677 "UX issues in the Classic Theme"
The font size of the SQL query (when we open a table for example) seems to be smaller than before.
Almost unreadable.

![image](https://user-images.githubusercontent.com/487079/108977703-b933c000-7680-11eb-953d-2a8c638556b1.png)

The background of the Database structure (sidebar) is now white where the tables are (not sure if it was intentional)

![image](https://user-images.githubusercontent.com/

[2021-02-24 09:26] williamdes commented on #16677
Hi @nunoperalta
Version: 5.1.0 ?

[2021-02-24 09:27] nunoperalta commented on #16677
Sorry - yes! Forgot to mention. That's after the upgrade to 5.1.0 😁👍

[2021-02-24 10:10] williamdes commented on #16677
Thank you :smile:
@shucon would you mind having a look please ?

[2021-02-24 10:29] shucon commented on #16677
Sure!

[2021-02-24 10:37] prdatur opened #16678 "Npm install fails - svg package has no package.json"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:

This is our build script + log

[code]
### Expected behavior

Worked before, should also work now.

### Screenshots
-

### Server configuration

- Operating system: Ubuntu 18.04
- Web server: PMA Not installable, so not needed
- Database version: PMA Not installable, so not needed
- PHP version: 7.4
- phpMyAdmin vers

[2021-02-24 10:44] prdatur commented on #16678
Debug log attached.
[2021-02-24T10_24_33_954Z-debug.log](https://github.com/phpmyadmin/phpmyadmin/files/6035330/2021-02-24T10_24_33_954Z-debug.log)

[2021-02-24 12:20] williamdes commented on #16678
This is because you should use yarn and not npm :)

[2021-02-24 12:31] ajtruckle opened #16679 "Pie Charts"
Little confused.

[Here](https://docs.phpmyadmin.net/en/latest/charts.html) it refers to and shows examples of pie charts.

But how do we make them?

[2021-02-24 13:04] ibennetch commented on #16679
First click on the “Display chart” link in the “Query results operations” area near the bottom of the results list when you're in the Browse tab. You'll then have to pick a few display options as far as which columns map to which axis and that sort of thing.

[2021-02-24 13:07] #16678 closed

[2021-02-24 13:12] ajtruckle commented on #16679
But I do not see Pie Chart as an option.

I am not even sure I can convey what I want in a chart.

I have a table with a list of:

- timestamp
- language (int)
- workbook (int)
- mode (bit)

For example, say over a 6 month period I would like a pie chat or bar chart showing me the sum total of workbook entries there were in each different type of language (since the same language will be there mul

[2021-02-24 13:29] ttodua opened #16680 "How to auto-login?"
Is there any way to automatically or programmatically authorize into PMA?
in the past I've been used to enter like:

....pma/index.php?pma_username=MYUSER123&pma_password=XYZ123

and it made automatic authorization. At some level, i've made a custom (hidden) form which automatically submitted $_POST pass&user&token&etc...  to `index.php` and it did autorize. But in latest 5.1 PMA version, all thos

[2021-02-24 13:43] ibennetch commented on #16680
Hi,

Unfortunately, the ability to pass a URL query string parameter was removed as a security precaution with [phpMyAdmin 4.9.0](https://www.phpmyadmin.net/news/2019/6/4/security-fix-phpmyadmin-490-released/). I was pretty unhappy about the decision, but it had some security implications that needed to be addressed.

I actually thought passing POST values would work and don't recall offhand any r

[2021-02-24 13:44] ttodua commented on #16680
Many thanks! I will try that way.

[2021-02-24 13:44] #16680 closed

[2021-02-24 14:17] brutalcrozt commented on #16404
it also fails on Debian base
Server configuration
Operating system: mint 20.1
Web server: Apache/2.4.41
Database version: mysql
PHP version: PHP 7.4
phpMyAdmin Version information: 5.0.4deb2~bpo10+1+focal1

Client configuration
Browser: Chromium
Operating system: LinuxMint

[2021-02-24 14:25] williamdes commented on #16404
Could you post a screenshot and more details @brutalcrozt ?

[2021-02-24 14:30] magentox commented on #16677
Same trouble with Metro theme: too small fonts, phpmyadmin logo on left size is awful and few more. On the other hand, pmahomme theme works perfectly fine, fonts are OK, logo is fine just like it was when it was 5.0.4.

[2021-02-24 15:30] ibennetch commented on #16676
This is because of a faulty regex in the build script, the line `for tag in `git branch -r | grep 'phpmyadmin/tags/RELEASE_[45]_[7890]_[0-9]\+\(_[0-9]\)\?$'` ; do` is meant to keep older versions from being built (since we only started doing Composer releases with 4.7.0.

Either the regex needs to be fixed or we need to be okay with building the older releases. I'm not sure that there's any harm i

[2021-02-24 20:08] brutalcrozt commented on #16404
I am sorry, my time is limited.
I move on to create the password manually.

It might be related that the created password from phpmyadmin is too weak, and the MySQL policy demands a stronger one.
It also on my machine is not reproducible because I am done a lot of upgrade instead of a fresh install.

[2021-02-25 00:52] ibennetch commented on #16676
Composer should now have version 5.1.0.

I have a bigger fix for this that I'll submit as a pull request once I get it fixed up, so I'll leave this issue open for now as a reference.

[2021-02-25 07:52] jelib3an commented on #14801
Hello! I would like to help with this. May I take a stab at `libraries/classes/Tracking.php`? It appears it was started on but hasn't been completed yet.

[2021-02-25 12:20] Jay04653 opened #16681 "Composer install v5.1 issue"
I am installing a new version by command below:
`composer create-project phpmyadmin/phpmyadmin --no-dev`

But after install PHPMyAdmin is not working, I've checked the network tab in the browser and found many requests to resources in `js/dist` folder but this folder is empty.

I guess `js/src` folder has to be moved/renamed to `js/dist`.
Could you please check the composer script?

[2021-02-25 12:55] williamdes commented on #16681
Hi @Jay04653
you need to run `yarn --production`  to compile the JS files but this should be fixed on the next run of the script

[2021-02-25 13:06] williamdes commented on #14801
Hello :)
Maybe you could try to do this file `libraries/classes/Server/Select.php` ?

[2021-02-25 13:23] Jay04653 commented on #16681
@williamdes, your solution is not working:
[code]

[2021-02-25 13:29] williamdes commented on #16665
Hi @Artem-Cheremisin
I tried your configuration and it works fine with phpMyAdmin 5.1.0

[2021-02-25 13:50] williamdes commented on #16681
[code]

Maybe try `yarn install --production` or `yarn install`

You seem to be using a legacy version ?

[2021-02-25 14:47] Jay04653 commented on #16681
I'm trying on 5.1.
Still not working but ok, I'll wait for a fix.

[2021-02-25 15:09] WebbyLX opened #16683 "Database Procedure Permissions"
### Describe the bug

When I connect to PHPMyAdmin SELECT CURRENT_USER() gives me a different user everytime.  When I create a Database Procedure the next time I connect to PHPMyAdmin a different username is generated and I do not have permissions to amend/drop the procedure.  This doesn't happen for tables/views/triggers that I create.

### To Reproduce

Steps to reproduce the behavior:
1. Go to

[2021-02-25 15:13] williamdes commented on #16683
Hi @WebbyLX
Did you try to reproduce this issue from scratch using the MySQL cli ?
It seems not to be a phpMyAdmin issue as far as I can see

[2021-02-25 17:41] JFDionne opened #16684 "Table row links take all place on a big screen on version 5.1.0"
### Describe

On a big screen the "row links" take too much space, I tried to search on report already open but I didn't find something about it.
Is there something we can make with a maximum or fixed size?

### Screenshots
I took a screenshot on the demo.phpmyadmin.net with the last version:
![image](https://user-images.githubusercontent.com/1706002/109193503-6c2a1980-7766-11eb-9448-85621c68fef8.

[2021-02-25 17:45] #13325 closed

[2021-02-25 17:52] williamdes commented on #16684
Hi, thanks for reporting that

Nothing for now, but it needs to be fixed

[2021-02-25 22:43] OlafvdSpek commented on #16684
https://github.com/phpmyadmin/phpmyadmin/issues/16604

[2021-02-26 01:14] mcdavidsh commented on #16268
Worked also in PHP 8.0.2, phpmyadmin version = Version information: 5.0.4

[2021-02-26 01:37] Shakil-Shahadat commented on #16268
@mcdavidsh this issue has been fixed in 5.1.0.

[2021-02-26 11:34] IlyaIndigo opened #16686 "Why does pma 5.1 require the php-iconv extension? What's wrong with mb_convert_encoding()?"
Why does pma 5.1 require the php-iconv extension?
What's wrong with mb_convert_encoding()?

[2021-02-27 07:00] williamdes commented on #16686
Hi @IlyaIndigo
Where do you see that ?
If it is in composer.json it was added by d9a57cab32b34f33a3ccff33aa3057c20187d1be in #14645 to fix #14642

See #14642, it seems that it was added because some functions we use require it.

[2021-02-27 12:23] #16686 closed

[2021-02-28 00:11] swilson86 commented on #15574
The error on line 613 as described above is the solution. It's now Feb 2021 and the fix is still not in the packages for Raspian. Suggest to all users of phpadmin that they make this mod themselves. Look in the folder /usr/share/phpmyadmin/libraries  and edit line 613 of sql.lib.php

[2021-02-28 03:46] jelib3an commented on #14801
Thanks, I have questions about the code. Do I post here or is there a more appropriate place to ask questions?

[2021-02-28 09:52] r1si commented on #16528
Add this in theme css:

`@media only screen and (max-width: 768px) {
    .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: auto;
  }
}`

change top to auto only on mobile.
the 5.1 version have some bug with breadcrumbs also

[2021-02-28 10:43] williamdes commented on #15574
This is not true, you should have a look to [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

[2021-03-01 01:25] glasses72 commented on #15800
This procedure is more reliable no need to install bunch of unnecessary package, and no need to waste your time as well

https://stackoverflow.com/a/65174281

****

I have upgraded php 7.2 to 7.4 and the problem with phpMyAdmin still on the same error.

The best option for me was, go to a official website:

https://www.phpmyadmin.net/
Download the lastest version, so after I went to /var/www/html

[2021-03-01 09:19] Draghmar commented on #16677
For me each of the three themes has all those issues. Even at log-in screen.

[2021-03-01 09:26] #16665 closed

[2021-03-01 09:37] mrdimka opened #16692 "mysqlDocKeyword is not defined"
### Describe the bug

This comes up when I go to any table and then I am not able to go to any other table. I can only logout

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'To any database'
2. Click on 'any table'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screensh

[2021-03-01 10:30] williamdes commented on #16692
Thank you @mrdimka for this report
I will try to reproduce this issue

[2021-03-01 14:17] williamdes commented on #15800
That said, the packages are just installed in the zip you unzip ;)

Happy you could fix this issue. Do not forget to upgrade to 5.1.0 as soon as possible.

[2021-03-01 14:29] wotnotweb opened #16693 "Can't see SQL after adding new column in 5.1.0"
### Describe the bug

Page refreshes immedaitely back to structure so can't see the SQL that was entered after adding a new column

### To Reproduce

Steps to reproduce the behavior:
1. Go to table structure tab
2. Click Go to add column
3. Enter details and click save
4. Page refreshes immedaitely so can't see the SQL that was entered

### Expected behavior

The refresh to the structure view is a

[2021-03-01 14:55] vasilevrv opened #16694 "Double escaping underscore in privileges check process"
Hello,

https://github.com/phpmyadmin/phpmyadmin/blob/583e61f107aa3d82f4afe8cecfd028d3ee9a0dc7/libraries/classes/Util.php#L2311

We get incorrect result SQL query (and triggers unavailable, user has privileges for table and does not have full database privileges):

[code]

If comment this line - it working perfectly.
Version with confirmed problem - 5.0.4, line 4042:
https://github.com/phpmyadmin/

[2021-03-01 16:42] williamdes commented on #16693
Hi @wotnotweb
Thank you for your comments on that, I agree that could be improved

[2021-03-01 17:49] williamdes commented on #16694
Hi @vasilevrv
I added tests to cover this function in 29c31be315c7b91efae03a5d0f603438a6cce70a
I can confirm that there is some escaping and I seems to be intentional.
See: https://sourceforge.net/p/phpmyadmin/bugs/3566/

[2021-03-01 17:59] vasilevrv commented on #16694
Thanks, @williamdes! Will you fix it in future release?

[2021-03-01 18:01] williamdes commented on #16694
Sure, if this is a real bug. I am currently investigating to find out why this fix was done

[2021-03-01 18:04] #16674 closed

[2021-03-01 19:05] williamdes commented on #16694
![image](https://user-images.githubusercontent.com/7784660/109539186-5055a900-7ac1-11eb-8c73-684071e59cd5.png)

[code]

![image](https://user-images.githubusercontent.com/7784660/109545200-d45f5f00-7ac8-11eb-8717-86c9f68a356e.png)

I just tried a MySQL 5.5 and it seems to be the same, `TABLE_PRIVILEGES` seem not to have an escaping
Investigating further

[2021-03-01 19:06] outis commented on #16084
1. Is this issue specifically for the table filter on the database "Schema" tab, or the quick filter in general (e.g. the `.filter_row` filter on the table browser)?
2. What was the original requirement spec for the feature? This would settle categorization of this and related issues as feature requests or bugs.

[2021-03-01 19:09] williamdes commented on #16084
@mauriciofauth do you have some thoughts about this issue ?

[2021-03-01 19:14] Michalburk opened #16695 "Creative account -problem"
hello can i ask you for advice or help? I accidentally deleted the root user who had administrator access to manage the database. I wanted to create a new user, which I created, but unfortunately I did not notice that I did not assign him administrative rights and under this account it is not possible to manage databases. unfortunately there is no other account. Could I ask you how can I add users

[2021-03-01 19:19] williamdes commented on #16694
https://github.com/phpmyadmin/phpmyadmin/blob/a303eb846ee31697491de404b3250a9ed441cb6c/libraries/Util.php#L4152-L4153

The first time it was added it was in 3.5.1 by https://github.com/phpmyadmin/phpmyadmin/commit/eca291ce82f28533008d586beefd8a5ebf9c87a7

https://github.com/phpmyadmin/phpmyadmin/blob/5ff7adb3989bca9278e8adfe9324f59d168902b2/libraries/common.lib.php#L3772-L3773

[2021-03-01 19:27] vasilevrv commented on #16694
@williamdes, the problem was found in MariaDB 10.5.8

[2021-03-01 19:49] williamdes commented on #16694
I tried with MariaDB 10.5 :thinking:

Maybe you can try on my deployed server that has a bunch of different servers and versions: https://phpmyadmin-dev.wdes.eu.org/
(`root`/`public` `public`/`public`)

[2021-03-01 19:59] williamdes commented on #16694
For now I can not find any documentation that says that escaping is needed or not. But it could make sense that for `TABLE_PRIVILEGES` no escaping is needed. Maybe you just found a very very old bug :thinking:
If you find out something please post it here, I will continue to research

[2021-03-02 05:21] ajtruckle opened #16697 "Displaying linked content from another table?"
At the moment I only have a single table with data like this:
![593DAD52-09CF-4221-A02D-5910366F61C8](https://user-images.githubusercontent.com/7985331/109601390-ac96e800-7b16-11eb-971a-9787336e4b50.jpeg)
The two language columns represent specific languages. Is it possible to create a second table in such a way (with language number / description) that can be used so that when I view the above ta

[2021-03-02 06:06] sradhanjan commented on #16693
@wotnotweb You can click the console which is at the bottom left side of the page to check the SQL query you have just entered
(before)
![image](https://user-images.githubusercontent.com/56840012/109605439-2c3eaa00-7b4b-11eb-989c-09b28cd80534.png)
(after clicking console)
![image](https://user-images.githubusercontent.com/56840012/109605514-48424b80-7b4b-11eb-8cf6-367ad96490c6.png)

[2021-03-02 07:46] Michalburk commented on #16695
this is error massege

#1227 - Access denied; you need (at least one of) the CREATE USER privilege(s) for this operation

Creative account doesn´t work :-(

[2021-03-02 10:08] wotnotweb commented on #16693
Many thanks, I can use that, I'm just used to it being at the top after the change.

Incidentally there is one thing that has never been shown after an action which is the move columns interface. It is not shown at the top or in the console. I have to remember to use the preview SQL and copy it first if I need to replicate it.

[2021-03-02 11:18] vasilevrv commented on #16694
Hello again!

In MariaDB 10.5.8 (I think this may apply specifically to new versions) result for your query:

[code]

Underscores is not escaped.

For example,

[code]

And with escaping:

[code]

[2021-03-02 11:38] vasilevrv commented on #16694
it looks like the truth!

https://dev.mysql.com/doc/refman/8.0/en/request-access.html

as a result, need escape **only** Host and Db columns

[2021-03-02 12:16] ibennetch commented on #16695
Hello,

Are you using MySQL or MariaDB, and which version? The create user syntax can vary slightly.

The general directions are to write the CREATE USER commands in a text file and tell the database server to run that when starting (or tell it to bypass permissions and execute the commands manually).

The MySQL manual https://dev.mysql.com/doc/refman/5.7/en/resetting-permissions.html has instruct

[2021-03-02 13:11] OlafvdSpek commented on #16697
Yes, foreign keys can be used for this.

[2021-03-02 13:13] ajtruckle commented on #16697
Are there examples f how to do this?

From: Olaf van der Spek <notifications@github.com>
Sent: 02 March 2021 13:12
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: ajtruckle <truckleaj-software@hotmail.co.uk>; Author <author@noreply.github.com>
Subject: Re: [phpmyadmin/phpmyadmin] Displaying linked content from another table? (#16697)

Yes, foreign keys can be used for this.

-
You ar

[2021-03-02 13:16] OlafvdSpek commented on #16697
Like https://dev.mysql.com/doc/refman/8.0/en/create-table-foreign-keys.html ?

[2021-03-02 13:44] AJK-Muc opened #16698 "Wrong Absolute Links In Navigation ("/" instead of "./")"
### Describe the bug
With or without defined PmaAbsoluteUri ($cfg['PmaAbsoluteUri'] = 'https://' . $_SERVER['SERVER_NAME'] . '/mysql_latest/';) I got the wrong navigation links on the left menu (see screenshot of the source code in browser). Only the link to a new database is correct (index.php?...), all other links to existing databases are wrong (/?...) I guess instead of (./?...). Where can I c

[2021-03-02 15:09] ibennetch opened #16699 "Designer should warn when trying to create relationships of different data types"
### Is your feature request related to a problem? Please describe.

When using Designer, it's easy to accidentally try to create a relationship between different data types, for instance a TINYINT referenced key with an INT foreign key. The MySQL error message is not very helpful to figuring out what the problem is.

### Describe the solution you'd like

phpMyAdmin could warn the user when they're

[2021-03-02 16:31] shucon commented on #16664
@williamdes I don't think so, but which fix are you talking about?

[2021-03-03 11:34] OlafvdSpek opened #16701 "Tranformation defaults documentation"
IMO both the page and the documentation need some explanation of what each transformation expects.

Some fields are shown in yellow, indicating they've been modified, but that doesn't seem correct..

https://demo.phpmyadmin.net/master-config/index.php?route=/preferences/main-panel
https://docs.phpmyadmin.net/en/latest/config.html#default-options-for-transformations

![image](https://user-images.gi

[2021-03-03 11:39] OlafvdSpek opened #16702 "Saving default transformation settings"
https://demo.phpmyadmin.net/master-config/index.php?route=/preferences/main-panel&saved=1

When I click the revert icon, the DateFormat options are set to:
[code]
But after saving, it's set to:
[code]
Which results in a literal "local" being displayed.
Also, after saving, it redirects to another tab.

[2021-03-03 14:20] idonda opened #16703 "No SQL option on Export of rows from a table"
### Describe the bug

Exporting rows from a table is not possible in SQL format, because the SQL option is not present in the menu.
The problem only shows up if we want to export some rows and not the entire table.
It seems the same kind of problem we had with tables in this issue: https://github.com/phpmyadmin/phpmyadmin/issues/14775

### To Reproduce

Steps to reproduce the behavior:
1. Go to da

[2021-03-03 14:23] ibennetch commented on #16702
Confirmed in my test setup; I suspect this is a generic problem with all of the settings that don't handle a blank line properly. I've done a quick test with TextImageLink and see a similar problem when leaving a blank line instead of literal `''` characters.

I suspect the original code did not anticipate users putting a literal blank line in the form, because when putting a value in `config.inc.

[2021-03-03 14:25] ibennetch opened #16704 "Substring browser display transformation error "Argument #2 must be of type int""
Using PMA from the latest master.

When trying to use any values for the Substring transformation, I get the following error message. Mostly my "Browser transformation option" was set to `0,5,'MORE'`

[code]

[2021-03-03 14:34] ibennetch opened #16705 "pma_tracking doesn't exist"
We occasionally see support requests from users who have somehow removed or damaged their phpMyAdmin Configuration Storage tables, and can't do anything in phpMyAdmin because of the error message that pma_tracking doesn't exist.

We should check for the existence of the table before running queries against it, or improve how this is handled in some other way.

This has occurred with phpMyAdmin sin

[2021-03-03 16:32] M393 opened #16706 "Error when visualizing nullable geometry column"
### Describe the bug
Error when visualizing nullable geometry column.

### To Reproduce

Steps to reproduce the behavior:
1. Create table with nullable geometry
[code]
2. Click on Visualize GIS data
3. See error

[code]

### Expected behavior
Ignore null values for visualization.

### Server configuration
- Operating system: Windows 7
- Web server: Apache 2.4
- Database version: MySQL 5.7.29
- PHP

[2021-03-03 16:44] neoteknic opened #16708 "[BUG][PHP8.0] error 500 in quick edit"
### 500 Error on quick EDIT a field in a table
Bug in quick edit, eror 500
But the field is saved, not possible to quick edit after, have to reload to use quick edit again.

Error log
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to index.php?route=/sql&db=DB&table=TABLE&pos=0
2. Double click a field for quick editing and unfocus to send the query
3. query post /index.php?route=

[2021-03-03 17:21] fa1rid opened #16709 "Export page errors - tcpdf open_basedir"
### Describe the bug

I downloaded phpmyadmin from https://www.phpmyadmin.net/downloads/phpMyAdmin-latest-all-languages.tar.gz

### Screenshots

![image](https://user-images.githubusercontent.com/6115961/109844853-f7734580-7c65-11eb-87d9-1383b7bf5b30.png)

### Server configuration

- Operating system: Debian 10
- Web server: nginx/1.14.2
- Database version: 10.3.27-MariaDB-0+deb10u1
- PHP version:

[2021-03-03 20:19] ibennetch commented on #16709
Are you using the apt/.deb packaged version of phpMyAdmin or have you downloaded it yourself?

[2021-03-03 20:22] fa1rid commented on #16709
I have downloaded it by myself from the link I already mentioned. Thanks!
________________________________
From: Isaac Bennetch <notifications@github.com>
Sent: Thursday, March 4, 2021 12:19:30 AM
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Farid <fa1rid@live.com>; Author <author@noreply.github.com>
Subject: Re: [phpmyadmin/phpmyadmin] Export page errors - tcpdf open_basedir (#16

[2021-03-03 20:27] ibennetch commented on #16709
I'm sorry, I did just see that I missed that. Continuing to look in to this.

[2021-03-04 06:39] williamdes commented on #16708
Merci @neoteknic !

[2021-03-04 06:47] williamdes commented on #16664
I think I was talking about the one to adjust privileges
Testing with 5.1.0 would clarify the status of this issue

[2021-03-04 07:06] vivek-ashvasoft commented on #15574
This Helped!!

[2021-03-04 08:17] svaningelgem opened #16713 "PhpMyAdmin\Url::getFromRoute() must be of the type string, null given"
### Describe the bug

I received this error:
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Install 5.1.0 zip file on the server
2. setup config file with cookie login
3. Login
4. Get the error immediately.

### Expected behavior

Getting the normal screen

### Server configuration

- Operating system: Debian GNU/Linux 10 (buster)
- Web server: Apache/2.4.38
- Database version: 5.7.

[2021-03-04 08:54] shucon commented on #16664
Okay, I'll take a look.

[2021-03-04 09:02] shucon commented on #16664
I'm unable to reproduce it in on QA_5_1 and QA_4_9.

[2021-03-04 09:42] csware commented on #16698
The reason is that `Util::getUrlForOption($target, $location')'` returns null.

In my config.ing.php I have `cfg['DefaultTabDatabase'] = 'db_structure.php';`, this seems to be the reason here. However, commenting this line in the config file or changing this option in the config does not fix the issue.

Only fix was to add `case 'db_structure.php':` to the abovementioned function.

I use php-fpm i

[2021-03-04 15:52] NKarasek commented on #12340
Good morning William,

I have a working version of a slightly modified UI upgrade.  Instead of
allowing individual Table *columns *to be toggled in the designer page, I
thought it might be more productive if I provided a toggle to display or
not display ALL *non-index* columns.  After all, the real purpose of an ER
diagram is to show the *R*elationships between *E*ntities - right?  :-)

*A brief (

[2021-03-04 16:54] williamdes commented on #16706
Thank you @M393 for this report !
I could reproduce and fix this issue, I also added tests to cover it.
It will be fixed in the next 5.1 version.

[2021-03-04 16:57] williamdes commented on #16713
Hi @svaningelgem
I am curious to know what config you have, could you send your `config.inc.php` file please (you may remove sensitive data) ?

[2021-03-04 17:02] williamdes commented on #12340
Hi @NKarasek

amazing, comprehensive tool.

Thank you !

About the changes you made to the twig cache files, they should not be done there but on `templates/*` files (they will re-build tmp/* files on the next page load).

Are you fine with using GIT ?

slow) - something I'm sure you are aware of, of course.

Slow, do you mean under 2secs ?

Thank you for working on this !

[2021-03-04 17:27] shucon commented on #16708
I'm unable to reproduce the issue.

[2021-03-04 17:40] williamdes commented on #14801
You will find some help on our [Gitter](https://gitter.im/phpmyadmin/Lobby) :)

[2021-03-04 18:12] williamdes commented on #16713
[code]

This seems linked to #16714

[2021-03-04 18:32] mauriciofauth commented on #16084
I think we can improve this. For QA I think we could change the text to explicitly say that filter that page only. For master, we could create a new filter for all pages.

[2021-03-04 18:55] mauriciofauth commented on #16648
I'm not against using an UI framework and I agree that using a UI framework will benefit phpMyAdmin. But as you said, this will be a lot of work and we can't afford that amount of work right now. We are focusing on improving our current code.

[2021-03-04 18:55] #16648 closed

[2021-03-04 19:57] #16706 closed

[2021-03-04 22:02] NKarasek commented on #12340
Thanks very much!  I figured that I would need to modify something outside
the tmp area - the fact that the file names appear to be generated names
also clued me - but, since those two cache files never changed in my
testing, I thought I would be fine for the time being.  My biggest worry is
that I haven't factored the code to meet your existing standards,
templates, and/or naming conventions.

I

[2021-03-04 22:15] williamdes commented on #12340
I think you mean 8GB ;)

something I could suggest - and then take on myself?

Me, this relates to #16005
Any performance improvement is very very welcome.
And one-line or very small diffs could go to QA_5_1 for 5.1 versions to benefit from them.
Any new feature or improvement should go to master branch.

buying a house in Menton, upgrading my language skills, and looking forward
very much to bein

[2021-03-04 22:19] williamdes commented on #16005
Performance finding: calling PHP getters a LOT of times (example: 50000 times) is not worth it. Use a public class attribute instead (and add `@readonly` as a phpdoc`).

[2021-03-04 22:57] NKarasek commented on #16005
**Regarding good coding practice - and optimization**.  In looking through the PHPMyAdmin file 'move.js', I found many places where code developed a reference to an object using 'getElementById()'.  While doing this once or twice is not a big deal, doing it within a loop (worse - multiple loops - perhaps looking at ALL of the columns for ALL of the tables available to Designer for example) is a bi

[2021-03-05 06:18] objecttothis commented on #16664
I'm guessing that your QA builds are not production builds.  I'm experiencing the issue in 5.0.4 production installed from FreeBSD pkg manager.  I only have a production environment, so I can't test this to see if it's still an issue in 5.1.0 until there is a pkg release for it.

[2021-03-05 07:19] shucon commented on #16664
Can you try reproducing the issue on https://demo.phpmyadmin.net/QA_5_1/ ?

[2021-03-05 07:30] shucon commented on #16704
Hey @ibennetch, can you please elaborate on the steps to reproduce this?

[2021-03-05 07:35] shucon commented on #16692
Hey @mrdimka , are you able to reproduce the issue using any other database?

[2021-03-05 07:53] mrdimka commented on #16692
@shucon The issue is present on both MySQL 8.0 and on aurora MySQL

[2021-03-05 08:39] objecttothis commented on #16664
The only thing I was able to create was a permissions error by creating a user, giving the user full permission to a subset of databases then trying to copy one of those databases to another name.  That might be expected behavior though.  I was not able to recreate the same issue QA_5_1, which either means it's fixed there or it's something specific to my setup.  Using the CLI to do this same work

[2021-03-05 09:13] diggde commented on #15838
Hi,

I have the same problem with the new phpMyAdmin 5.1 and apache 2.4 on debian 10. To delete cache and cookies don't work. I think the problem causes on file permissions. I change the file permissions to:

[code]

But the problem is still the same. Is there an solution for this problem???
Thanks!

[2021-03-05 09:36] williamdes commented on #16664
Hi @objecttothis
The best would be to try 5.1.0 version and let us know ;)

[2021-03-05 09:57] objecttothis commented on #16664
only phpMyAdmin5-php74-5.0.4 is available in the FreeBSD pkg repo, so I'll have to wait until the maintainer uploads 5.1.0

[2021-03-05 10:06] williamdes commented on #16552
https://getbootstrap.com/docs/5.0/migration/#badges-1

[2021-03-05 10:06] #16552 closed

[2021-03-05 11:03] williamdes commented on #16677
Fixed by 3a014525b017650a4d54585962f2e7766530766c

[2021-03-05 11:40] AJK-Muc commented on #16698
Thanks 😃

[2021-03-05 11:56] IceNV commented on #16713
Hi,

Same problem here , Debian 10 x64, PHP 7.3 FPM + Nginx, PhpMyAdmin version 5.1.0

As soon as I'm successfully logged into phpMyAdmin I get the same error :

_PHP with Display Errors on :_

[code]

_PHP_FPM worker error log :_

[code]

config.inc.php for reference, wasn't edited since a good while ago is attached (pretty long file) :
[config.inc.php.txt](https://github.com/phpmyadmin/phpmyadmi

[2021-03-05 12:08] williamdes commented on #16713
Thank you @svaningelgem

It is ;)

[2021-03-05 12:25] svaningelgem commented on #16713
@williamdes : that's actually @IceNV 's config, not mine. ;-)

[2021-03-05 12:25] IceNV commented on #16713
I meant, not in my own configuration, since I use HTTP auth ? or is it even in that case ? (It's a bit off-topic, but I'm curious to know)

[2021-03-05 12:33] williamdes commented on #16713
Oh sorry :/

it is used to generated hmac signatures for SQL links to work and be secure when you click on a foreign key link (open in new tab). And in more places I forgot about

@IceNV @svaningelgem could you please apply https://github.com/phpmyadmin/phpmyadmin/pull/16714/files and let me know if this fixes the issue please ?

[2021-03-05 12:38] williamdes commented on #15838
If you are talking about a CSS issue, please check your configuration (most people reported a mime type misconfiguration) or if you use a proxy also check it does not screw the type.

If you can have a look to your browser's console that could give you some hints on what is not working correctly.

[2021-03-05 12:59] williamdes commented on #16664
You could probably unzip the latest version into the folder that phpMyAdmin uses on FreeBSD
https://www.freshports.org/databases/phpmyadmin5/
https://svnweb.freebsd.org/ports/head/databases/phpmyadmin5/

Hi @joneum
Will you make an update of phpMyAdmin soon ?

[2021-03-05 13:09] svaningelgem commented on #16713
This seems to fix it.
So I can deduce that because we're not using rewriting, it failed?

[2021-03-05 13:22] williamdes commented on #16713
No, no :)
In fact we now have a routing system and the values for this config changed. And that broke older configs that used old values that where the previous file names

[2021-03-05 13:23] williamdes commented on #16677
I think I prefer when it didn't expand. I don't see any benefit in expanding, making it a bit harder to look at the results.

See #16604

[2021-03-05 13:50] svaningelgem commented on #16713
To me it seems more sensible to push out a warning that people know to update their configuration files? Otherwise you'll keep on accumulating technical debt.
Like for example add a deprecation warning for let's say 6.0, and at that time you could remove it?

Just my 2ct :)

[2021-03-05 13:51] IceNV commented on #16713
Thanks for the info regarding blowfish :)

It doesn't fix it for me, I still have the same issue after replacing Util.php with the new version. Anywhere I could put a trace to see where this comes from (where it got its NULL from) ? As it's from an eval() done by twig, the PHP stack trace isn't that useful.

[2021-03-05 14:05] mauriciofauth commented on #16552
I missed that part from the migration guide. Thank you.

[2021-03-05 14:05] IceNV commented on #16713
The second commit (replacing Menu.php too) made it work for me. Thanks for the fix !

[2021-03-05 14:06] ibennetch commented on #16704
Sure!

So the idea of this particular transformation is that it only displays a portion of the result, and can substitute some text when that truncation occurs. It's somewhat useful for forcing browse mode to only display part of a result, for instance if every row of a particular column starts with the same text "The president is:", one could use this transformation to only display the names with

[2021-03-05 14:10] ibennetch commented on #16704
I get the same problem when using the substring _input_ transformation instead:

[2021-03-05 14:49] williamdes commented on #16713
Like for example add a deprecation warning for let's say 6.0, and at that time you could remove it?
Just my 2ct :)

This is true !
Seem like we should refactor our configuration handling and use some kind of validator to emit deprecation warnings

[2021-03-05 15:22] #16659 closed

[2021-03-05 15:22] #16677 closed

[2021-03-05 15:22] #16698 closed

[2021-03-05 15:22] #16713 closed

[2021-03-05 16:16] diggde commented on #15838
The apache.conf is very simple, there is no mime type misconfiguration:
(Important: version 4.9.7 works with the same config files)

[code]

The loading of the css files looks correct:

![Unbenannt-2](https://user-images.githubusercontent.com/263430/110142387-67a0d900-7dd6-11eb-9c59-61182229c4af.png)

[2021-03-05 17:27] williamdes commented on #15838
Nothing to report in `Konsole` ?
All requests are successful ?

[2021-03-05 17:51] nunoperalta commented on #16677
Same happens with the list of indexes, by the way (in the Table Structure page)

[2021-03-05 17:51] nunoperalta commented on #16604
Same happens with the list of indexes, by the way (in the Table Structure page)

[2021-03-05 18:10] linaspasv commented on #16604
Oh, I was about to report this as a potential bug... this does not look right. I would prefer the old look (or atleast an option to rollback).

[2021-03-05 18:41] linaspasv commented on #16604
@williamdes I guess the ``w-auto`` class is missing on most of the tables right now - ``browse``, ``structure``, ``index``, ``relation view`` and other tables. Atleast that's what is used on ``database's tables`` table right now. By default Bootstrap table theme is 100% width and I see you switched to BT table classes at some point where it was a custom style before.

[2021-03-05 18:57] linaspasv opened #16716 "Index rename button disapears when dropping a column"
The bug occures on ``phpMyAdmin 5.1.0``

Before dropping a column:
![image](https://user-images.githubusercontent.com/1407067/110160570-da20b180-7df4-11eb-95f0-f377f9305207.png)

After dropping a column (rename button is gone):
![image](https://user-images.githubusercontent.com/1407067/110160604-e73da080-7df4-11eb-8d66-2b0127079959.png)

Rename button comes back after a page refresh.

[2021-03-05 19:05] linaspasv commented on #16716
#14953 might be partially related to my very old request. Probably a template that's being loaded via ajax when column is dropped should be updated.

[2021-03-05 19:48] williamdes commented on #16604
Thanks for the feedback
Indeed this needs to be fixed, most users do not like this change

[2021-03-05 19:48] linaspasv opened #16717 "Reflow issues"
When setting a custom width for navigation panel there is an ugly reflow issue. I guess the main cause of this is because the custom width is set after config is loaded via ajax. To solve this I would suggest to apply some config settings directly in the template when everything is loaded first time.

If this could be addressed it would make a smoother loading and refreshing UI experience.

[2021-03-05 19:49] williamdes commented on #16716
Thank you @linaspasv for reporting this bug and for the screenshots

[2021-03-05 19:51] williamdes commented on #16717
I totally agree, this effect is ugly and this is even worse because the request is the last one that is not async in all the code-base.
I removed the console that was no async in #16590

[2021-03-05 19:58] linaspasv commented on #16717
To be honest, I am not sure why it's nessesary to load configuration via ajax in the first place. You could probably embed a JSON snapshot directly to a html template and allow javascript to read it from here. But for UI parts I would suggest to populate critical styles just before template is sent to a browser because loading JavaScript adds the delay in any case.

[2021-03-05 20:13] williamdes commented on #16332
- [ ] PhpMyAdmin\Tests\Controllers\Database\StructureControllerTest::testSynchronizeFavoriteTables - The at() matcher has been deprecated.
- [ ] PhpMyAdmin\Tests\Controllers\Server\PluginsControllerTest::testIndex - The at() matcher has been deprecated.
- [ ] PhpMyAdmin\Tests\Database\CentralColumnsTest::testDeleteColumnsFromList - The at() matcher has been deprecated.

- [ ] PhpMyAdmin\Tests\Inse

[2021-03-06 10:09] diggde commented on #15838
Yes, there is a message:

´´´
Die Ressource von "https://192.168.244.130:12322/css/printview.css?v=5.1.0" wurde wegen eines MIME-Typ-Konfliktes blockiert (X-Content-Type-Options: nosniff).
´´´
How can I solve this?

[2021-03-06 12:31] williamdes commented on #16708
Reproduced with substring transformations setup

[2021-03-06 14:24] williamdes commented on #16465
Done in 5.1.0

The file should be re-built if permissions allow it.
Please re-open if 778d916adfa21e662e4461aa960d7909278569fb did not fix this issue :)

[2021-03-06 14:24] #16465 closed

[2021-03-06 14:25] williamdes commented on #16708
This is an option that should send an array of where clauses but the code seems to send an array in all cases for this feature

[code]

[2021-03-06 20:28] #14026 closed

[2021-03-06 20:28] #16704 closed

[2021-03-06 20:28] #16708 closed

[2021-03-07 00:27] williamdes commented on #16542
Should be fixed now.

[2021-03-07 00:27] #16542 closed

[2021-03-07 00:29] williamdes commented on #16606
I am thinking that `libraries/cache` will be a storage area for files we warmup for users and /tmp keeps being used for warmups done by the user

[2021-03-07 00:30] williamdes commented on #16670
@shucon would you mind having a look please ?

[2021-03-07 00:33] williamdes commented on #16697
Let us know if foreign keys worked fine for you :)

[2021-03-07 00:33] #16697 closed

[2021-03-07 01:09] mauriciofauth commented on #16606
If I remember correctly, that's was the initial intent for the `libraries/cache` directory. Also, templates and routes cache should not change after release, so it doesn't need write permission.

[2021-03-08 08:57] diggde commented on #15838
The problem seems to be the strict mime type checking of the most common browsers:

[code]

But why is the mime type (text/html) wrong for css-files?

[2021-03-08 10:57] williamdes commented on #15838
They have to have the right mime type to be parsed by the browser

I think your webserver has a misconfiguration somhere, maybe you should ask for some configuration help on Stackoverflow

[2021-03-08 16:56] LinuxNetHub opened #16720 "http://localhost/phpmyadmin/ Please help"
Right now I'm using ubuntu 18.4 lts & php version 8.0.4

### To [Reproduce]([url]([url](url)))

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
![Screenshot from 2021-03-08 22-40-22](https://user-images.githubusercontent.com/78558411/110353476-4f90ba00-8061-11eb-8e17-12c535f75e2d.png)

3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description

[2021-03-08 17:22] williamdes commented on #16720
Hi @LinuxNetHub
Please see [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)
After that phpMyAdmin should be installed.
An alternative is to install the php mod for Apache, that will solve your issue.
See: https://github.com/phpmyadmin/phpmyadmin/issues/12177#issuecomment-612190723

[2021-03-08 21:58] Gelix10 opened #16721 "My database"
Hello I have a problem when I change the password in me databasy I set my new password and the next time it threw me out and the new password does not want to give it to me but even then I do not know why so I want to ask if there is any way to change the password in my databases.

[2021-03-09 00:44] NKarasek commented on #12340
Good morning William (French will have to wait a bit I'm afraid.  I'm not
that far along :-)

Thanks for the tips regarding GIT - I shifted over to templates as
suggested - but have not done a full fork yet.  That is next.

I have all the new stuff working properly and seem to have NOT broken
anything in the process :-)  I did however, have to learn what I needed to
edit the templates - took a bit

[2021-03-09 22:42] nunoperalta opened #16723 "Option to perform ALTER ONLINE is not available when we edit an existing column"
Hello,

I'm using 5.1.0, but the change made by https://github.com/phpmyadmin/phpmyadmin/issues/15312 isn't present to me.

![image](https://user-images.githubusercontent.com/487079/110548553-a7debf00-8128-11eb-8bf4-a712744e67d2.png)

However, the change log says:

[2021-03-09 22:43] nunoperalta commented on #16723
Ah ok! I do see it, when we add a new column. Just not when we edit an existing column:

![image](https://user-images.githubusercontent.com/487079/110548729-eb392d80-8128-11eb-9570-8b414924f0f8.png)

[2021-03-10 06:58] outis commented on #16084
I was looking at the [User Guide](https://docs.phpmyadmin.net/en/latest/user.html) to document the behavior, but didn't see any appropriate sections. Is there someplace to discuss updates to the User Guide? Open an issue for the docs?

[2021-03-10 12:10] deadeyese opened #16724 "Remove column from order by results in "No database selected" error"
When attempting to remove a column from the order by clause of a table (Ctrl+Click the column title) an error is appended to the page  `#1046 - No database selected` and no action is taken

This has began since upgrading from v5.0.4 to v5.1.0

[2021-03-10 13:16] buzanits commented on #16709
I see the same issue with:

- Server version: 5.7.32-log - MySQL Community Server (GPL)
- Database client version: libmysql - mysqlnd 8.0.3
- PHP version: 8.0.3
- Version information: 5.1.0
- CentOS 7

Only the phpmyadmin version is the same as at the OP. So I seems to be a 5.1.0 issue...

[2021-03-11 05:58] cdxcorydavis commented on #16449
Ok, so im new to linux, this exact situation happened to me, this thread fixed my problem but i have to know how this happened?! what did i do to cause this?

[2021-03-11 15:07] williamdes commented on #16449
Just a Symfony bug :/

[2021-03-11 17:08] williamdes opened #16727 "Implement sending breadcrumbs to the error reporting server"
Before #16725 we would send `microhistory` field but it did not work.
It would be nice to implement a field that would contain user actions before the error.
Example:
[code]
Ref: https://github.com/phpmyadmin/phpmyadmin/pull/16725#discussion_r592529832

Where was the mirohistory field
[code]

[2021-03-11 23:28] williamdes opened #16728 "Wrong SQL query built on table structure index for new column"
### Describe the bug

The SQL preview contains `Array`

### To Reproduce

![image](https://user-images.githubusercontent.com/7784660/110868774-78b38380-82c9-11eb-902e-7ac6682813b5.png)

POST `/table/indexes`

[code]

Table::getSqlQueryForIndexCreateOrEdit thinks that it is not an array.

[code]

### Expected behavior

Contain a plausible index name

### Server configuration

- phpMyAdmin version:

[2021-03-12 11:59] williamdes commented on #16709
Could anyone revert this patch and confirm that it works fine ?
See: https://github.com/phpmyadmin/phpmyadmin/commit/b27c2e44121e0a0ca275ef019e8ec65e3441f9c9

[2021-03-12 13:10] shucon commented on #16728
Are you working on this? I can work on it otherwise but I'm not sure about the steps to reproduce it.

[2021-03-12 15:07] #16709 closed

[2021-03-12 16:39] williamdes commented on #16728
No, you can reproduce this by trying to add a new column, then choose an index type like UNIQUE and then just follow my screenshot and sql preview

[2021-03-12 16:40] williamdes commented on #16084
You can open an issue to discuss about that

[2021-03-12 16:42] williamdes commented on #16724
Hi @deadeyese
Just to be sure could you post a screenshot of where exactly this is on the interface please ?

[2021-03-12 16:51] williamdes commented on #16723
Hi @nunoperalta
Thanks for reporting this. Indeed it should be available at column edit

[2021-03-12 16:59] deadeyese commented on #16724
Hi @williamdes

It occurs in the "Browse" section of a table. A javascript popup appears in the centre of the screen, and the message persists at the bottom of the page

![image](https://user-images.githubusercontent.com/13573064/110972746-3daa6200-8354-11eb-8457-6910446e0c8a.png)

[2021-03-12 17:01] williamdes commented on #12340
Hello Nick

php file is managed via the GIT process.  I'll learn - or you will tell me
- I'm sure.

All files are managed the same way but some are generated. A call to `yarn` builds the css files and JS files.
You will need to edit the `js/src/` files and run `yarn run js-compile` or `yarn run js-compile --watch`

templates I looked at.

What kind of documentation where you looking for ?
Template

[2021-03-12 17:36] KodaCHC opened #16729 "open_basedir warning on import with PHP8"
When I use PHP8 I get this error when importing:

[code]

phpMyAdmin has version 5.1.0

When I switch to PHP7.4 it works without error

[2021-03-12 17:49] williamdes commented on #16729
Hi @KodaCHC
Thank you for reporting this issue, indeed there is a difference and normally the error should be hidden.
I could confirm this while working on #16709 some hours ago

[2021-03-12 17:51] williamdes commented on #16729
https://php.watch/versions/8.0/fatal-error-suppression

[2021-03-12 17:53] williamdes commented on #16724
I could not reproduce this, could you let me know what you did click before ?
Or maybe the network request that is sent before the error shows up ?

[2021-03-12 17:53] KodaCHC commented on #16729
Thank you :)

[2021-03-12 18:08] williamdes commented on #16729
https://www.php.net/manual/en/migration80.incompatible.php
https://www.php.net/manual/fr/function.error-reporting.php#125674
[code]
from https://www.php.net/manual/en/migration80.incompatible.php

[2021-03-12 18:10] deadeyese commented on #16724
After browsing/viewing the table and/or results of a query, I hold `Ctrl` on the keyboard and left-click the column header that is currently ordered - the intention being to remove the column from the `ORDER BY` clause. In the previous screenshot this is `id` which is unfortunately hidden behind the popup error message.

So far this occurs with any table in any database on any server that I connec

[2021-03-12 18:13] williamdes commented on #16729
Hi @Ayesh
The above links would be helpfull in https://php.watch/versions/8.0/fatal-error-suppression

[2021-03-12 18:29] williamdes commented on #16729
Hi @KodaCHC
Could you apply c4c32c374db7f2bf35a79c51555036b90bea0ea6 and let me know if that works for you too ?

[2021-03-12 18:29] williamdes commented on #16729
Hi @KodaCHC
Could you apply c4c32c374db7f2bf35a79c51555036b90bea0ea6 and let me know if that works for you too ?

[2021-03-12 20:01] williamdes opened #16730 "PHP 8.0 - Uncaught ValueError: mysqli::query(): Argument #1 ($query) cannot be empty"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Use #16724

### Server configuration

- PHP version: 8.1
- phpMyAdmin version: 5.1

[2021-03-12 20:02] williamdes commented on #16724
Thank you, I could reproduce this issue !
I discovered an issue and a new PHP 8 bug (#16730)

[2021-03-12 20:13] deadeyese commented on #16724
That's good to hear :) One thing perhaps worth mentioning is that I am running PHP 7.3.18

[2021-03-12 21:10] shucon commented on #16728
Working on it! Thanks.

[2021-03-12 23:50] williamdes commented on #16730
Should be fixed when #16724 is fixed

[2021-03-13 00:28] williamdes commented on #16724
That ended up in a re-write of the logic (c62e27d6505ce22a36b635548e97f644198d6c11), that should be fixed in the next 5.1 version.

[2021-03-13 05:01] mcnaveen opened #16732 "Column names became unclickable and lost referencing"
### Describe the bug

All of sudden the column header in the table became unclickable.

### To Reproduce

Steps to reproduce the behavior:
1. Create a Table
2. Create a 2nd Table with Reference as the first table (Foreign Key).
3. Truncate the 2nd Table

### Expected behavior

Truncating the table should only remove the data. It removes some javascript too. (I'm not sure what's happening)

### Scr

[2021-03-13 07:26] geominorai opened #16733 "Table columns are permanently stretched proportional to page width"
### Describe the bug

Table column widths are disproportionately stretched and ignore column width preferences.
This UX change makes it hard to read, edit, or click buttons on the tables.

### To Reproduce

Steps to reproduce the behavior:
1. Make sure browser is full screened (preferably on a large resolution widescreen monitor for emphasis)
2. Go to any table with only a few columns

### Expecte

[2021-03-14 08:06] OlafvdSpek opened #16734 "Out of memory"
pMA 5.1.1-dev / PHP 8

When trying to browse a large table..

[code]

[code]

`($options == ($options | DatabaseInterface::QUERY_STORE))` also looks very curious.

[code]

The second query without limit is the culprit..
The repeated FOREIGN_KEY_CHECKS query looks sub-optimal too.

[2021-03-14 08:26] OlafvdSpek opened #16735 "[DOM] Found 2 elements with non-unique id #maxRowsForm"
pMA  5.1.1-dev

When browsing tables:

[code]
[code]

[2021-03-14 10:47] KodaCHC commented on #16729
Please excuse the late reply. I had not installed phpMyAdmin from GIT until now. I have now made up for this, but now already get errors on every page.

[code]

I need to see if I made a mistake here when installing from GIT

[code]

[2021-03-14 11:05] #16724 closed

[2021-03-14 11:05] #16729 closed

[2021-03-14 11:05] #16735 closed

[2021-03-14 11:08] williamdes commented on #16729
In fact I made the changes on the QA_5_1 branch but you now can fetch the branch master, I just pushed the merge now

[2021-03-14 11:15] williamdes commented on #16732
Hi @mcnaveen
Thank you for the report and the JSON data, that will help a lot.
I will let you know if I can reproduce this issue

[2021-03-14 11:18] KodaCHC commented on #16729
Great. Thank you. Works

[2021-03-14 11:18] #16720 closed

[2021-03-14 11:20] williamdes commented on #16733
Duplicate of #16604

[2021-03-14 15:02] #16604 closed

[2021-03-14 15:02] #16716 closed

[2021-03-14 15:02] #16684 closed

[2021-03-14 15:02] #16733 closed

[2021-03-14 15:03] #16730 closed

[2021-03-14 15:04] #16695 closed

[2021-03-14 15:05] williamdes commented on #16646
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-03-14 15:05] #16646 closed

[2021-03-14 15:06] #16560 closed

[2021-03-14 15:07] #16668 closed

[2021-03-14 15:07] williamdes commented on #16668
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-03-14 15:10] williamdes commented on #15980
Hi @DavidThomas48
I think this issue is not about phpMyAdmin but more about giving the right privileges to the user.
Could you try to execute it from a SQL query box and let us know ?

[2021-03-14 15:11] #15576 closed

[2021-03-14 15:14] williamdes commented on #16721
Hi @Gelix10
This seems not to be a phpMyAdmin issue, maybe you would find better help about how to manage your setup on Stackoverflow.
PS: passwords are per user :)

[2021-03-14 15:14] #16721 closed

[2021-03-14 15:16] williamdes commented on #16670
Duplicate of #16437

[2021-03-14 15:17] williamdes commented on #16437
[code]
From: https://github.com/phpmyadmin/phpmyadmin/issues/16670#issuecomment-782834829

[2021-03-14 15:17] williamdes commented on #16670
I posted your comment on #16437 as https://github.com/phpmyadmin/phpmyadmin/issues/16437#issuecomment-798925146
You can follow the progress there

[2021-03-14 15:17] #16670 closed

[2021-03-14 15:21] williamdes commented on #16701
571b2965c01004908d536003672884e19e4f7498 and 6a58199a2ed125adb6d6659ed6ec7cc1d0164cbd should have fixed that

[2021-03-14 15:21] #16701 closed

[2021-03-14 15:24] williamdes commented on #16528
This seems to me as a duplicate of #16437
Does anyone agree ?

[2021-03-14 15:26] williamdes commented on #16681
Seems fixed: https://github.com/phpmyadmin/composer/commit/ff7174344fa2a4490ee2bc89344d286914e976b6
https://github.com/phpmyadmin/composer/tree/5.1.x/js/dist

[2021-03-14 15:26] #16681 closed

[2021-03-14 15:29] williamdes commented on #16647
Not sure if this is a bug. You can use tooltips.
![image](https://user-images.githubusercontent.com/7784660/111074261-78da9b80-84e2-11eb-82c5-6c570160359d.png)

[2021-03-14 15:40] williamdes commented on #14307
Probably fixed by efb5bfdc89ec3be45d748347c0886cc37efdf637
Ref: #15926

I am not sure we can do anything for 32 bit platforms

[2021-03-14 15:40] #14307 closed

[2021-03-14 15:43] williamdes commented on #12731
This seems fixed in 5.1 versions.

[2021-03-14 15:43] #12731 closed

[2021-03-14 15:46] williamdes commented on #13624
Closing, this is too old and no feedback or screenshots where provided. No phpMyAdmin versions to compare too.

[2021-03-14 15:52] williamdes commented on #15577
Duplicate of #15261

[2021-03-14 15:52] #15577 closed

[2021-03-14 15:55] williamdes commented on #15481
Could not reproduce on 5.1 versions

[2021-03-14 15:55] #15481 closed

[2021-03-14 16:53] williamdes commented on #15628
[code]

[2021-03-14 17:07] williamdes commented on #15897
`v3.3.0  v3.2.1 v3.1.1 v3.1.0 v3.0.5 v3.0.4 v3.0.3 v2.14.4 v2.14.3 v2.14.2 v2.14.1 v2.14.0 v2.13.1 v2.13.0 v2.12.5` Twig versions now have the fix. The 5.1 version of phpMyAdmin has the fix.

[2021-03-14 17:07] #15897 closed

[2021-03-14 17:10] williamdes commented on #15039
This is now fixed on 5.1 versions.

[2021-03-14 17:10] #15039 closed

[2021-03-14 17:11] williamdes commented on #16113
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-03-14 17:13] williamdes commented on #16059
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

PS: I think this is fixed in 5.1 verions

[2021-03-14 17:13] #16059 closed

[2021-03-14 17:18] williamdes commented on #16107
I could not reproduce this issue on 5.1

[2021-03-14 17:18] #16107 closed

[2021-03-14 17:27] #15702 closed

[2021-03-14 17:27] williamdes commented on #15702
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-03-14 17:30] williamdes commented on #15900
I am closing this one because I do not see anything that can be done.

[2021-03-14 17:33] OlafvdSpek commented on #15900
These questions are left unanswered:
What does rejected mean?
And why does it think the connection to the server has been lost?

[2021-03-14 17:46] OlafvdSpek commented on #16701
Was this fixed too?

[2021-03-15 00:12] #14395 closed

[2021-03-15 00:12] #15628 closed

[2021-03-15 15:39] #16568 closed

[2021-03-15 18:04] williamdes commented on #16701
No, this is a valid behavior. Empty is a valid changed value

[2021-03-15 18:09] JohnRDOrazio commented on #16429
now that PHP 8 compatibility has been fixed in php-webdriver 1.9.0 and 1.10.0, can the requirement in composer.json please be bumped now to `"php-webdriver/webdriver": "^1.10",`. I had to do this manually in order for `composer update --no-dev` to succeed with PHP 8.

[2021-03-15 18:22] williamdes commented on #16429
I do not see where this does make sense, what branch are you using ?
Are you up to date ?

[2021-03-15 18:34] objecttothis commented on #16664
The 5.1.0 package has been updated.  I installed it and it didn't fix the issue.  I was able to play around with it and was able to replicate it a different way.  If I create a simple database with a single table and two columns (one of them being primary) with a single row.  The copying of that database didn't produce the error but when I changed the collation from utf8mb4_unicode_ci to utf8_unic

[2021-03-15 18:43] OlafvdSpek commented on #16701
When I click the revert arrow, the field is cleared.. so the default is empty right?

[2021-03-15 21:49] ibennetch commented on #13624
When the new Multi-table query feature was added, starting with version 4.8.0, it did not include a bookmark feature. It replaced (or supplimented) the older QBE (query by example) feature, which did have quick access to the phpMyAdmin bookmark functionality:

<img width="786" alt="image" src="https://user-images.githubusercontent.com/1443710/111225381-210d6480-85b6-11eb-9ef6-2df263e9888c.png">

Y

[2021-03-15 21:57] ibennetch commented on #16647
@OlafvdSpek I'm not sure what your point is — the default of is to have icons+text ('both'), so a user would have to intentionally choose to switch to 'icons'. We've tried to keep some consistency with the icons to their use across the rest of the application (SQL queries, import, export, etc), so even though for instance the "SQL queries" icon isn't very intuitive, it matches the icon used for th

[2021-03-15 22:07] ibennetch commented on #16647
Or perhaps your point is that this setting shouldn't affect these icons, which I agree with.

This is currently affected by `$cfg['ActionLinksMode']`, but should be `$cfg['TabsMode']` instead.

[2021-03-15 22:29] ibennetch commented on #15980
I'm a little perplexed by this because it's working correctly for me.

I'm using MariaDB 10.3 and no global privileges are selected for my test user. That user has all privileges on the specific database, like yours. When the DEFINER for the routine is that user, I can edit without trouble. If root creates a routine with 'root'@'%' as the DEFINER, then I don't even get an option to edit or execute

[2021-03-15 22:56] ibennetch commented on #16604
This is certainly much better now, thanks.

[2021-03-16 08:59] Jay04653 opened #16738 "Quick search submit is not working on multi server server > 1"
### Describe the bug

Try to use quick search:
![image](https://user-images.githubusercontent.com/2777846/111282071-4184ff80-8646-11eb-830e-75518f2c5b10.png)

See a result:
![image](https://user-images.githubusercontent.com/2777846/111282182-64171880-8646-11eb-8b8a-e5ae8557e660.png)

After press **Enter** to search session is broken and you have to refresh the page and logic again.

The issue on v

[2021-03-16 11:52] williamdes commented on #16738
Hi @Jay04653
Are you using a multi server setup and logged in a different server than the first one ?

[2021-03-16 11:58] Jay04653 commented on #16738
@williamdes, yes, you are right.
I have 12 servers setup and have used not the first one.

[2021-03-16 12:02] Ayesh commented on #16729
Thank you for the information about `error_reporting` function. I updated the PHP.Watch page with a [new section for error reporting return values](https://php.watch/versions/8.0/fatal-error-suppression#suppress-error-handlers).

[2021-03-16 12:28] williamdes commented on #16738
Could you apply this change on `js/dist/navigation.js` and let me know if it works ?
My testing confirms that it works.

[code]

[2021-03-16 12:35] williamdes commented on #16729
Thank you very much !

[2021-03-16 12:40] williamdes commented on #16341
:ping_pong:

[2021-03-16 12:43] Jay04653 commented on #16738
@williamdes
I did it in the dist folder on production and yes, now it's working.
![image](https://user-images.githubusercontent.com/2777846/111310578-eb27b900-8665-11eb-8969-71b2a820bf0d.png)

Thank you for the quick solution!

[2021-03-16 13:25] williamdes commented on #16603
This is fixed in 5.2 by 74b4e7ad82b0332a4bedfebb194756b4472a7499

[2021-03-16 13:25] #16603 closed

[2021-03-16 13:27] williamdes commented on #15046
Closing this one as not a bug.
Thank you everyone for commenting.

[2021-03-16 13:27] #15046 closed

[2021-03-16 13:54] shucon commented on #12156
I'm not sure what's the right way to handle this. Any suggestions?

[2021-03-16 13:59] shucon commented on #14723
Should we close this issue @williamdes ?

[2021-03-16 14:53] pion33r commented on #16341
I've not faced the error in any recent installations.

[2021-03-16 14:53] #16341 closed

[2021-03-16 15:03] williamdes commented on #16341
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |isStorageSupported is not defined
 Exception Type |js
 phpMyAdmin version |4.8.5
 Incident count | 1738
 Link | [Report#56687](https://reports.phpmyadmin.net/reports/view/56687)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-03-16 21:55] williamdes commented on #14723
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-03-16 21:55] #14723 closed

[2021-03-16 21:57] williamdes commented on #12156
Maybe we should handle queries in a batch way to have variables to work, but this seems to be part of a bigger refactoring

[2021-03-16 22:37] NKarasek commented on #12340
William, I just ran into a twig compilation issue that I need help deciding
what to do.

I have been testing my local system before issuing a pull request to make
sure everything works with the current repository.  My last test added some
code to the  file

*\templates\database\designer\main.twig*

When I placed the edited file (from the main repository on Github) into my
local installation of pma

[2021-03-18 19:35] NKarasek commented on #12340
Hello William,

Sorry to be such a bother but I need your experienced help to unravel the
unruly ball of twine I have created.

I was unable to get a remote repository to work so found I could make a
local one using *GITHub desktop* - and did so.

I then cloned the master phpmyadmin repository which ended up on my
workstation, and have watched as my updates to
    two twigs,
(/templates/database/d

[2021-03-18 20:08] iifawzi commented on #16138
As I can see, for this to be done, we should only check the MySQL version and ignore the length for MySQL 8.0.19 and above if the type is `SMALLINT`,`MEDIUMINT`,`BIGINT`, and `INT`, am I right? i'm willing to work on it.

[2021-03-18 20:15] ibennetch commented on #12340
You might want to use the show and hide icons that are already included for
the show/hide tables feature (which is in the left hand navigation pane),
rather than including new icons for the same type of information.

That could be made to work, but it's usually better to get the commits
added directly to Git rather than sent as file changes. Let's see what
William thinks first.

[2021-03-19 02:14] goodspeed666 commented on #16703
It's a big problem, please fix it quickly.

[2021-03-19 03:04] williamdes commented on #16703
We will do our best to fix it, from what I tested this bug exists in 5.0 versions and 4.9 versions.

[2021-03-19 03:09] goodspeed666 commented on #16703
Hi @williamdes,

I rollback to 5.0.4, the function is work.

[2021-03-19 03:09] williamdes commented on #16138
I am not sure about the solution, maybe @ibennetch would have better advice to say

[2021-03-19 20:20] rlittle316 opened #16741 "Export not including all records"
### Describe the bug

After returning the results to the ui for a particular query, we use the export button on the bottom of the page to export all records. Of the 2k+ records only 182 records are exported no matter what format we use.

### To Reproduce
Steps to reproduce the behavior:
run a query like the following where you would have many rows of data returned. Make sure to include the subquer

[2021-03-20 00:30] #16717 closed

[2021-03-20 00:30] #16738 closed

[2021-03-20 01:34] williamdes commented on #14771
I implemented this one: "Or add both date and git commit."
Example: `5.1.1-dev+20210320.f4b73a4ed8`

[2021-03-20 01:35] #14771 closed

[2021-03-20 02:03] williamdes commented on #14771
Snapshots are up to date now

[2021-03-20 02:05] williamdes commented on #16717
Can you download on our [website](https://www.phpmyadmin.net/downloads/) the latest version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#devel) to try my changes ? :)

[2021-03-20 02:21] williamdes commented on #16156
🏓

[2021-03-20 08:14] shucon commented on #16558
Can't reproduce this anymore. Might have been fixed by some commit.

[2021-03-20 09:11] linaspasv commented on #16717
Hi, I am still seeing reflow issue.

I would suggest to change into this:

[code]

This should solve reflow issue for the navigation sidebar.

[2021-03-20 10:06] iifawzi commented on #16138
My thought for this is that we should check the version, type and the attribute. Which maybe could be done with a separate utility which then will be added in the `if` condition here:

https://github.com/phpmyadmin/phpmyadmin/blob/2291814440f145ef81efe1a113a9de45791d22e9/libraries/classes/Table.php#L545-L550

If you don't prefer to use a separate utility for this, we can make it inline in the same

[2021-03-20 13:09] shucon commented on #16705
Is there a way to reproduce it? I tried dropping the pma_tracking table but it doesn't seem to affect anything except I was not able to open the tracking tab.

[2021-03-20 15:37] williamdes commented on #16705
Maybe if you drop the table after phpMyAdmin detected that the storage works correctly

[2021-03-20 15:42] williamdes commented on #16558
Thank you, probably. I still assign this to 5.2 in case it pops back

[2021-03-20 15:42] #16558 closed

[2021-03-20 16:06] shucon commented on #16705
Tried that, didn't work

[2021-03-20 16:09] ibennetch commented on #16138
You're on to the right idea. We test for MySQL and MariaDB versions in several places throughout the code, for instance https://github.com/phpmyadmin/phpmyadmin/com#diff-b47bc389d7238e77949201866d47131c8d49e0cccb303558010a28aae233a196 or most notably in the many calls to `dbi->getVersion()` in https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/classes/Server/Privileges.php.

The test s

[2021-03-20 16:13] williamdes commented on #16518
Using FF 86 I could copy the sql after selecting it
![image](https://user-images.githubusercontent.com/7784660/111876527-70c9a280-899f-11eb-99b7-c12460c019f4.png)

[2021-03-20 16:19] ibennetch opened #16742 "ZEROFILL is deprecated and will be removed in MySQL"
From https://dev.mysql.com/doc/refman/8.0/en/numeric-type-attributes.html, ZEROFILL is deprecated starting with MySQL 8.0.17 and will probably be removed in future versions. When in the user is on the edit or change table structure page, we should check the version and (if appropriate) show a warning when they select ZEROFILL. Something like "The ZEROFILL attribute has been removed in your MySQL v

[2021-03-20 16:20] williamdes commented on #16717
I tried it and the effect still exists, could you confirm that it improves the UI for you ?

[2021-03-20 16:24] williamdes commented on #16428
Hi @My1
Would you mind trying the latest version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#devel) from our website ?

[2021-03-20 16:49] ibennetch commented on #16705
I have to work on a way to reliably reproduce this, I'm not sure off hand.

[2021-03-20 17:36] williamdes opened #16744 "Uncaught TypeError: XMLWriter::writeAttribute(): Argument #2 ($value) must be of type string, float given"
### Describe the bug

On designer export to Svg

[code]

### Server configuration

- phpMyAdmin version: 5.1

[2021-03-20 17:58] linaspasv commented on #16717
@williamdes I did took some time and looked deeper.

![image](https://user-images.githubusercontent.com/1407067/111880805-35869e00-89b6-11eb-904b-bbfd88578162.png)

Styles underlined in red are key places where we would need to pre-calculate / populate inline styles before outputing template. If it is done, reflow issues in navigation, menu bar, ... should be resolved.

[2021-03-20 18:29] #16744 closed

[2021-03-20 19:16] shucon commented on #16699
Working on it.

[2021-03-20 19:20] williamdes commented on #16741
Hi @rlittle316
This seems to be a duplicate of  #16164
Could you have a look and let me know ?

[2021-03-20 19:25] williamdes opened #16746 "PHP 8.1 compatibility"
### Describe the bug

Added to CI by https://github.com/phpmyadmin/phpmyadmin/pull/16743

#### To be fixed

- [x] Upstream twig: https://github.com/twigphp/Twig/issues/3494
- [x] Upstream twig: https://github.com/twigphp/Twig/issues/3534 https://github.com/twigphp/Twig/pull/3536
- [x] Testsuite (https://php.watch/versions/8.1/html-entity-default-value-changes)
- [x] #16911 - Method mysqli::get_cli

[2021-03-20 19:34] williamdes commented on #16717
Thank you for taking time to debug this, I would say that there is two different issues in one:
- a reflow issue before JS init code
- a reflow issue after JS init (now solved by my patch)

The issue before could be fixed but adding inline styles is an ugly solution.
Would you mind posting a GIF of your screen so I can have an idea of how bad this is on your side ?

[2021-03-20 20:12] linaspasv commented on #16717
For me after JS init did not change anything. I mean it might slightly improved things but the main cause is before JS init. It's pretty bad. I would close my eyes to the "ugly solution" if it makes reflow gone, lol  :-)

https://user-images.githubusercontent.com/1407067/111884268-23fac180-89c9-11eb-8542-0bc0f6a18137.mp4

[2021-03-21 00:39] williamdes commented on #16717
Could you open a new issue for that please ?
(with the video)

[2021-03-21 00:57] williamdes commented on #16717
By the way I just checked and I agree this issue still exists in a less worse way, tried on https://phpmyadmin-dev.wdes.eu.org/ (root/public public/public)

[2021-03-21 07:18] iifawzi commented on #16138
Alright, are you thinking about only showing a warning message, and not ignore it ourselves as I stated in my previous comment?

For the warning message, is it how the warning message should appears if any inappropriate integer type is selected?
<img width="1105" alt="Screen Shot 2021-03-21 at 8 53 59 AM" src="https://user-images.githubusercontent.com/46695441/111896567-43bed380-8a23-11eb-8ef9-31b

[2021-03-21 07:40] linaspasv commented on #16717
That's because navigation panel was on a default width setting maybe? When I expand the navigation panel I see the same results like in my video.

[2021-03-21 07:46] linaspasv opened #16748 "Reflow issues (part 2)"
#16717 we have already tried some of things to reduce reflow but there is still some work to do.

I am attaching a video to better understand what I am talking about:

https://user-images.githubusercontent.com/1407067/111897710-2ccfaf80-8a2a-11eb-886b-a435ace346f9.mp4

My suggestion is to pre-calculate / populate inline styles before outputing the template (see image below, styles underlined in re

[2021-03-21 16:01] NKarasek commented on #12340
Thanks Isaac - my comment about the four files *was the absolute last*
resort :-)

I really think that the icon does need to change as the feature is unique -
and a very small change to only two of the available themes.

Isaac/William.  I have been trying to get the table drag feature of the
designer to stop dropping the table when moved quickly.  Under the current
paradigm (using canvas) and afte

[2021-03-21 18:33] shucon commented on #16271
Hey @ADDISON74 can you please provide an SQL dump to reproduce it?

[2021-03-21 19:41] shucon commented on #16703
Working on it. https://github.com/phpmyadmin/phpmyadmin/commit/75397c913dcdfd34679d6223ccd3568655bbc63b is the first bad commit.

[2021-03-21 21:13] emanuel-c4 opened #16752 "Syntax error in the "Export" section in Spanish"
When selecting custom in the "Data creation options" section where it says "both of the above" appears `& nbsp;` 3 times instead of `&nbsp;`.

It is in the `<label for="radio_sql_insert_syntax_both">`

![Screenshot of syntax error in Data creation options, option both](https://user-images.githubusercontent.com/36056518/111919535-d3e43380-8a8a-11eb-8c53-059e218c28d6.png)

[2021-03-21 21:23] #14555 closed

[2021-03-21 21:43] williamdes commented on #16752
Hi @emanuel-c4
I logged in into https://hosted.weblate.org/languages/es/phpmyadmin/ and edited the text.
Seems like the previous translator just used an automatic translating tool and did a sloppy work.
Thanks for reporting that to us.
If you want to help you only need to create an account and translate what you want.
https://hosted.weblate.org/projects/phpmyadmin/5-1/es/ needs some help

Fixed by

[2021-03-21 21:43] #16752 closed

[2021-03-21 21:57] williamdes commented on #16647
Thank you !
This will be fixed by 8c74a42dd3f6f341c2b4998fe1423eb4fcbab4f2

[2021-03-21 22:04] OlafvdSpek commented on #16647
Thanks. I think more than 6 buttons are affected though..

[2021-03-21 22:17] williamdes commented on #16647
Let me know if you find more buttons affected

[2021-03-21 22:22] williamdes commented on #16717
I am thinking this is because having phpMyAdmin configuration storage working or not seems to change the results.

By the way if you want to help translate phpMyAdmin: https://hosted.weblate.org/languages/lt/phpmyadmin/

[2021-03-21 22:29] williamdes commented on #12392
Or by https://github.com/mpdf/mpdf

[2021-03-22 09:46] gentlemesh opened #16753 "Phpmyadmin 5.1.0 blank screen - requires missing javascript files"
Hello!

I'm installing latest stable version (v 5.1.0 for now) from composer (with standard command: `composer create-project phpmyadmin/phpmyadmin`). Installation goes fine, but when I try to login, I get a blank page. As I see, the error comes from javascript and most probably concerned with some missing javascript files.

That's what I see in a browser error console:
`localserver/:22 GET https:

[2021-03-22 12:13] williamdes commented on #16753
Hi @gentlemesh

This is strange because https://github.com/phpmyadmin/composer/tree/master/js/dist is not empty.

Maybe you can find some usefull information on #16676

[2021-03-22 15:54] williamdes commented on #12392
Most probably with https://github.com/code-lts/WarnockPDF the fork of TCPDF

[2021-03-22 15:54] williamdes commented on #16601
I forked the project as [WarnockPDF](https://github.com/code-lts/WarnockPDF)

[2021-03-22 19:17] #16647 closed

[2021-03-22 20:44] williamdes commented on #16694
https://web.archive.org/web/20130510164857/http://dev.mysql.com/doc/refman/5.1/en/request-access.html

Thank you @shucon for the link

[2021-03-22 22:55] williamdes commented on #16683
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-03-22 22:55] #16683 closed

[2021-03-23 00:16] #16694 closed

[2021-03-23 00:16] #16703 closed

[2021-03-23 00:16] #14430 closed

[2021-03-23 02:00] williamdes commented on #16703
Hi @idonda
Could you download the latest 5.1 version snapshot [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if this fixed the issue correctly ?

[2021-03-23 07:44] idonda commented on #16703
Hi @williamdes
I can confirm it does work.
I Installed the 5.1-snapshot (It reads 5.1.1-dev+20210323.4afbc67efa in the dashboard), I tried to export 3 rows out of a table and I can select the SQL option now. 👏👍

This fix will be included in the next stable version? thank you.

[2021-03-23 09:13] williamdes commented on #16703
🎉
Sure, it will be in 5.1.1 version :)

[2021-03-23 15:07] shucon commented on #16732
Hello @mcnaveen , I don't think it's a bug. Can you please try adding multiple rows after truncating the table?
Adding a single row won't make the rows clickable in my opinion.

[2021-03-23 15:09] williamdes commented on #16434
🏓

[2021-03-23 15:53] khatchad commented on #16545
I use the same browser and same OS on two machines at two different locations. One never has the problem, the other constantly has it. I also tried a different browser on the problematic machine with the same result. To produce this error, all I need to do is enter a custom query. The "search" feature works fine.

[2021-03-23 17:17] williamdes commented on #16545
Hi @khatchad
This is quite strange, do you have any extensions enabled ?

[2021-03-23 17:20] khatchad commented on #16545
Do you mean chrome extensions? Firefox extensions? If so, yes.

[2021-03-23 17:28] williamdes commented on #16545
Yes, did you try to use private/incognito browsing mode

Maybe you have an antivirus ?

Could you check your developer console to find out about what the server answers ?

[2021-03-23 17:54] mcnaveen commented on #16732
Hi @shucon Tried that too bro. Still same issue. So I reinstalled PhpMyAdmin. I'm reinstalling 2nd time due to this problem.

[2021-03-23 17:57] khatchad commented on #16545
Yup, tried incognito browsing mode. I got the same result. I'm on Ubuntu; no antivirus. I'll check the dev console.

[2021-03-23 18:01] khatchad commented on #16545
I'm seeing this in the console when I try to issue a query:
[code]

[2021-03-23 18:03] khatchad commented on #16545
Server: ... via TCP/IP
Server type: MySQL
Server connection: SSL is not being used
Server version: 8.0.20 - Source distribution
Protocol version: 10
Server charset: UTF-8 Unicode (utf8mb4)
Apache/2.4.41 (Ubuntu)
Database client version: libmysql - mysqlnd 7.4.3
PHP extension: mysqli mbstring
PHP version: 7.4.3
Version information: 5.0.4, latest stable version: 5.1.0

[2021-03-23 18:09] shucon commented on #16732
Can you try reproducing it on the demo server? https://demo.phpmyadmin.net/QA_5_1/ . I'm unable to reproduce the issue in that case. Or a screen recording may be helpful.

[2021-03-23 18:10] khatchad commented on #16545
OK, this is strange. I issued an `apt upgrade` and rebooted. Now, I am not getting the error.

[2021-03-23 18:12] shucon commented on #16113
I agree with @yundaiwei , as we are providing a DefaultLang config, we should give it a priority than HTTP_ACCEPT_LANGUAGE.  I'm a bit confused on this issue. But the documentation says :

[code]
I think we should remove browser-defined  from the comments and give it a greater priority

[2021-03-23 19:01] mauriciofauth commented on #16113
This is the expected behavior of the `DefaultLang` config.

If you want to force the use of a language you should use the [`Lang` configuration directive](https://docs.phpmyadmin.net/en/latest/config.html#cfg_Lang).

[code]

[2021-03-23 19:01] #16113 closed

[2021-03-23 20:55] williamdes commented on #16545
Maybe did you upgrade phpMyAdmin ?
Glad to know this is fixed

[2021-03-23 22:34] khatchad commented on #16545
No, I did not upgrade phpMyAdmin.

[2021-03-24 02:29] #16656 closed

[2021-03-24 02:29] #16728 closed

[2021-03-24 17:31] YehudaEi opened #16756 "Casing returns from the server when the processes are automatically refreshed"
### Describe the bug

When the processes are automatically refreshed, and in addition, when you set the query to be displayed in full, there is an error that repeats too much HTML (and then there is double HTML).

I tried to fix it in JS, but then the settings do not come back from the server back in HTML. Which causes the processes to continue to refresh but is displayed as if the auto-refresh is

[2021-03-25 01:46] futureisrise opened #16757 "5.1.0 Grid CSS Markup 2560x1440 broken"
### Describe the bug

After migrating to 5.1.0 all markup starts resizing.
Common interface is broken on high screen resolutions, and hard to use such thing. In order to fix it i dont know what to do, no information in docs.phpmyadmin...

### To Reproduce

Steps to reproduce the behavior:
1. Install 5.10 over previous verr
2. Click anywhere

### Expected behavior

Return back old css markup , when

[2021-03-25 01:49] williamdes commented on #16757
Hi @futureisrise
Could you post a screenshot from the previous version ?

I am not sure to understand what you mean 🤔

[2021-03-25 08:22] dausruddin commented on #16753
@williamdes I can confirm this issue. Just tried it a few minutes ago. I guess the fix is not in composer yet?

[2021-03-25 08:31] dausruddin commented on #16753
the one downloaded from https://www.phpmyadmin.net/downloads/ is working fine. Only composer version is having the issue.

[2021-03-25 09:57] inecmc opened #16758 "Copy to clipboard fails for full-width colon"
### Describe the bug

The Copy to clipboard function works only if the colon is semi-width `:`.
Some localization (ja and zh_TW) uses full-width `：` and causes string split error.

### To Reproduce

Steps to reproduce the behavior:

1. Install 5.10
2. Change UI language to ja
3. Run any query
4. Click the Copy to clipboard button ( クリップボードにコピー)

### Expected behavior

Export the query result to cl

[2021-03-25 13:37] OlafvdSpek opened #16759 "session_write_close(): write failed: No space left on device (28)"
https://demo.phpmyadmin.net/master-config/

phpMyAdmin - Error
Error during session start; please check your PHP and/or webserver log file and configure your PHP installation properly. Also ensure that cookies are enabled in your browser.

session_write_close(): write failed: No space left on device (28)

session_write_close(): Failed to write session data (files). Please verify that the current s

[2021-03-25 13:38] OlafvdSpek commented on #16647
Table - Search doesn't have text on the icons yet.

[2021-03-25 14:07] ibennetch commented on #16759
Thanks. The Yarn cache got out of control, I've added some additional controls to help with this.

[2021-03-25 14:08] #16759 closed

[2021-03-25 14:42] OlafvdSpek commented on #16757
I think this is about the 100% table width.

[2021-03-25 14:57] futureisrise commented on #16757
![image](https://user-images.githubusercontent.com/24551724/112493749-bb259780-8d82-11eb-8ca1-275b6ce71ce3.png)
Check please, before and after

[2021-03-25 17:12] caiofior opened #16760 "Missing icons before table name in navigation bar"
### Describe the bug

Missing icons before table name in navigation bar

### To Reproduce

Steps to reproduce the behavior:
1. Click on database in navigation bar
2. See error missing icon before table name

### Screenshots

![Istantanea_2021-03-25_18-04-44](https://user-images.githubusercontent.com/1962895/112513531-b5d14880-8d94-11eb-92a4-22569cb9a43c.png)

### Server configuration

- Operating

[2021-03-25 20:14] liviuconcioiu opened #16763 "A PHP warning is given when the SQL server is shutdown or restarted"
### Describe the bug

A PHP warning is given when the SQL server is shutdown or restarted, and a query was still executing.

### To Reproduce

Steps to reproduce the behavior:
1. Execute a query that takes long enough.
2. Visit the login page in the same browser in a new tab.
3. Shutdown or restart the SQL server.
4. See error

### Expected behavior

The warning shouldn't be given.

### Screenshot

[2021-03-26 08:52] qrczakoff opened #16764 "Problem with table filter on multiserver setup server > 1"
Hi.
I have problem with multiserver configuration of PHPMyAdmin 5.1.0
When I  when I use table filter dialog in left-side tree, target link $_GET['server'] parameter is 1 instead correct number.
Eaxmple:
Link from tree without table filtering (sever parameter is correct, but twice):
index.php?route=/sql&server=2&server=2&db=wios&table=historia&pos=0
Link from tree with table filtering (wrong serve

[2021-03-26 15:11] toxpal commented on #16693
Came here to report the same. Version 5.1.0 actually displays SQL query at the top (just like old versions), but it does so for half a second, and then page refreshes, which is very annoying.

Devs, please bring the old behavior back.

[2021-03-26 18:59] svivian opened #16765 "New lines in text fields are doubled"
### To Reproduce

Steps to reproduce the behavior:
1. Browse a table that has a TEXT field, with multiple lines
2. Click to edit inline, make some changes
3. Press Enter or click away to save

### Expected behavior

The text to be saved as written.

### Screenshots

Every line break is duplicated, so if you have e.g.

    My text
    here

It saves as

    My text

    here

### Server configurati

[2021-03-26 23:20] williamdes commented on #16757
It could be improved for large displays: https://demo.phpmyadmin.net/QA_5_1/index.php?route=/server/status (`root`/no password)

[2021-03-26 23:27] williamdes commented on #16753
I can not confirm that, could you please give me the command line you are using @dausruddin ?

[code]

[2021-03-26 23:30] williamdes commented on #16763
Thank you for reporting this issue @liviuconcioiu !

[2021-03-26 23:32] williamdes commented on #16764
Hi @qrczakoff
I think this is a duplicate of #16738
Let me know, but I would recommend you to download the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) or apply https://github.com/phpmyadmin/phpmyadmin/issues/16738#issuecomment-800217065

[2021-03-26 23:33] williamdes commented on #16764
Duplicate of #16738

[2021-03-26 23:35] williamdes commented on #16693
cc @mauriciofauth what is your opinion ?

[2021-03-26 23:41] williamdes commented on #16760
Hi @caiofior
This issue is a duplicate of #16650
Thank you for the nice screenshots
@CommanderRoot made a fix for it (#16673) but maybe yours is a better alternative (@CommanderRoot let me know)

[2021-03-26 23:54] williamdes commented on #16647
Indeed, fixed by ffb22f4a3a4fc2adc327b4a7ba4b4bd5cd1570ec

[2021-03-27 00:12] CommanderRoot commented on #16760
I just tested the current master branch (without my fix) and it's already fixed. I traced it down to the Bootstrap update to version 5.0.0-beta2 done in c970cbfb305c9435b3ab493de46cf1e37947c2ae
This means neither my fix nor the suggested fix here is needed anymore.

[2021-03-27 00:22] williamdes commented on #16760
Thank you, Indeed this is fixed now

[2021-03-27 00:22] #16760 closed

[2021-03-27 00:23] #16650 closed

[2021-03-27 00:27] williamdes commented on #16758
Thank you @inecmc for the detailed report !

[2021-03-27 00:54] williamdes commented on #16664
Feel free to post your database, we will try to reproduce the issue with it.

You can test on my demo server: https://phpmyadmin-dev.wdes.eu.org/ (`root`/`public` & `public`/`public`)

[2021-03-27 00:57] #16758 closed

[2021-03-27 05:11] dausruddin commented on #16753
I have the exact command as @gentlemesh, also as what [the docs](https://docs.phpmyadmin.net/en/latest/setup.html#installing-using-composer) said for the first command under composer method. This flag is the key that fix the issue
```--repository-url=https://www.phpmyadmin.net/packages.json```

Any reason the first command is recommended (I assume) and the second way is an alternative in the docs?

[2021-03-27 15:24] gentlemesh commented on #16753
I can confirm that if phpmyadmin is installed with these parameters `--repository-url=https://www.phpmyadmin.net/packages.json --no-dev` it is installed correctly and works normally, so the problem might be in a Composer repository.

[2021-03-27 16:40] williamdes commented on #16601
Seems like my fork action did wakeup the maintainer, 6.4.1 has been released.

[2021-03-27 19:04] liviuconcioiu opened #16769 "Fatal error when creating an index"
### Describe the bug

A fatal error is given when a index on 9223372036854775808 columns is created.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table structure
2. Create an index on 9223372036854775808 columns
3. See error

### Expected behavior

The 9223372036854775808 number should be replaced with a smaller number.

### Screenshots

![error](https://user-images.githubuserc

[2021-03-27 19:07] #16601 closed

[2021-03-27 21:13] liviuconcioiu opened #16770 "Notice or warning, when clicking on Structure"
### Describe the bug

A notice or warning is given, when you try to insert 1000 rows manually, from Insert tab. On the https://demo.phpmyadmin.net/ a notice is given (500 rows). The same version on local, gives a warning (1000 rows).

### To Reproduce

Steps to reproduce the behavior:
1. Go to Insert
2. Scroll down to Continue insertion with
3. Enter 500 or 1000 rows
4. Click on Go
5. Click on Go

[2021-03-27 21:24] liviuconcioiu opened #16771 "Fatal error when exporting a large table as PHP array"
### Describe the bug

A fatal error is given (the maximum execution time is exceeded), when exporting a large table as PHP array, and the table is not exported.  Also, when exporting small tables `array()` should be changed to `[]`.

### To Reproduce

Steps to reproduce the behavior:
1. Select a large table
2. Click on Export
3. Scroll down to Format
4. Select PHP array
5. Click on Go
6. Wait unti

[2021-03-28 00:52] Seezly commented on #13270
Hi! Can I still work on this one? This would be the first time I contribute to open source.

[2021-03-28 01:11] williamdes commented on #16765
Hi @svivian
Thank you for reporting this issue, I could reproduce it. Indeed there is some transformation done.
I tried to quick search for the cause but will have to continue searching :)

[2021-03-28 01:25] williamdes commented on #16753
Indeed, the directory was not built for 5.1.0 tag: https://github.com/phpmyadmin/composer/tree/5.1.0/js/dist

@ibennetch could you please delete the tag so it can be re-built ?

[2021-03-28 01:26] williamdes commented on #13270
Hi !

Sure, you can go ahead
The most recent pull-request you can use as an example for this issue is #16630

[2021-03-28 16:24] fleming42 opened #16773 "CAST(0x AS BINARY)"
Found a bug where phpmyadmin 5.1.0 constructs an invalid query when selecting "edit" on a row with an empty string in a BLOB or TEXT column. The resultant query has "CAST(0x AS BINARY)" in it, but 0x by itself is invalid. Looks like phpmyadmin expects a nonempty $row to be appended to the '0x' in Util.php.

My fix for this is in Util.php, by changing the function getConditionValue from:
[code]
to

[2021-03-28 17:16] AndriesVDW commented on #14780
Is anyone currently working on this issue?

[2021-03-28 17:20] Rixafy commented on #14780
I'm currently little busy with work, so I didn't have time to even find it in the codebase

[2021-03-28 17:45] ibennetch commented on #16753
so it can be re-built ?

To which tag are you referring, the local git repository on the build
machine, the git  repository on Github, or on Packagist? I’m a little
concerned about whether deleting a tag would cause issues with the
Packagist process with regards to changing the history of a tag that
already exists.

[2021-03-28 17:51] williamdes commented on #16753
I was referring to the tag on the composer repository, for me on this repository we can delete tags if needed.
Re-building the composer tag would be a good idea because the JS files where not built last time :/

[2021-03-28 22:40] williamdes commented on #14780
Oh waw, this is a so old issue. Assigning it to 5.2

[2021-03-28 22:46] williamdes commented on #16773
Hi @fleming42
Thank you for the nice detailed report, I will have a look
To improve your fix for performance ;)
[code]

[2021-03-30 00:48] williamdes commented on #16765
I tracked down the bug and found #12918 (55880451eb193f7e1bad90df365b67d54eded5a6).
I think this was recently introduced by #16095 (2c7b7046e206362ddb8fe5c3b41ede91d43361da)
And that before that the display was good
Disabling css class `.pre_wrap` seems to remove the issue.

Maybe #12918 should be reverted now

cc @petrduda

[2021-03-30 00:51] williamdes commented on #16756
Hi @YehudaEi
Thank you for the nice report, I could reproduce this issue.

[2021-03-30 01:01] williamdes commented on #16756
This seems to be the fix

[code]

[2021-03-30 11:43] eugen-ukraine opened #16777 "Edit/Copy/Delete links do not work with non-utf8 TEXT primary key"
### Describe the bug

Edit/Copy/Delete links in table browse mode do not work if primary key is of type TEXT and stored in non-utf8 charset.

### To Reproduce

Steps to reproduce the behavior:

[code]

Go to Browse table tab, then click Edit button. Instead of edit form phpMyAdmin displays message `MySQL returned an empty result set (i.e. zero rows).`:

![phpmyadmin-adm-tools-udevops-mysql-ukraine

[2021-03-30 13:10] svivian commented on #16765
Just an FYI, I reverted to 5.0.5 (branch `QA_5_0`) and the second part of the issue still occurs there - in other words when you click out of the textarea the correct text is shown, but if you click to edit the field again, it _does_ have the duplicate line breaks.

[2021-03-30 14:52] williamdes commented on #16765
Could you checkout QA_5_1 and remove 55880451eb193f7e1bad90df365b67d54eded5a6 from the js dist or js src and re-build the JS files ?
Could you confirm that removing 55880451eb193f7e1bad90df365b67d54eded5a6 does fix all issues?

[2021-03-30 15:08] waqasahmed82 opened #16778 "Error in processing request phpMyAdmin 5.1.0"
Error in processing request
Error text: error (rejected)
It seems that the connection to server has been lost. Please check your network connectivity and server status.

this error wont came for simple queries or table listing but as soon as i past this query in query box , this error arises after ajax call .
[code]
find below ajax response request , and i received error .
[
![Screenshot from 2021

[2021-03-30 18:03] mrmmg opened #16779 "How to Active Two-Factor Auth on phpmyadmin"
Hi
I installed PHPMyAdmin with the terminal on my ubuntu 20 server. when I want to active 2-factor auth this errors appear:

![image](https://user-images.githubusercontent.com/30490118/113034884-d986fb00-91a7-11eb-9bfd-26b7b3235a49.png)

my question is that where I must install these 3 packages with composer? which directory in my server?

Thanks

[2021-03-30 18:06] ibennetch commented on #16779
Could you please tell us how you have installed phpMyAdmin? Did you
download directly from phpmyadmin.net, use the package manager, or are you
using the Fit repository directly?

[2021-03-30 18:14] mrmmg commented on #16779
@ibennetch I guess I was used ubuntu package manager (apt)

[2021-03-30 21:31] williamdes commented on #14130
Hi @quinnzipse
You can work on this issue on QA_5_1 branch. You will need to add a case to the script above and add a `Messages.` string

[2021-03-30 21:34] williamdes commented on #16779
Thanks

Hi @mrmmg

There is no way to use 2FA/U2F with the Ubuntu/Debian version.
I am sorry for that, It requires much more work on Debian to enable this.

Ref: https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/issues/3

As an alternative you can install phpMyAdmin using the files from our [website](https://www.phpmyadmin.net/downloads/).

[2021-03-30 22:07] williamdes commented on #16770
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: submit_type
 Exception Type |php
 phpMyAdmin version |4.3.11.1
 Incident count | 474
 Link | [Report#7716](https://reports.phpmyadmin.net/reports/view/7716)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-03-30 22:29] williamdes commented on #16770
Hi @liviuconcioiu
Actually I was not able to reproduce it on 5.1 versions but I fixed it anyway.
It seems like this notice/warning is quite old, thank you for reporting it !

[2021-03-30 22:30] #16764 closed

[2021-03-30 23:12] williamdes opened #16780 "New event shows an empty row, reloading shows the row filled"
### Describe the bug

![image](https://user-images.githubusercontent.com/7784660/113068132-fb8b7800-91bd-11eb-971f-d5b11ad48355.png)

### To Reproduce

Steps to reproduce the behavior:
1. Create an event

### Expected behavior

Show me my new row

### Server configuration

- Database version: MariaDB 10.4
- phpMyAdmin version: 5.1

[2021-03-30 23:14] williamdes commented on #16780
The event I created was in the past. Creating in the future still keeps the empty row but shows the data

![image](https://user-images.githubusercontent.com/7784660/113068324-65a41d00-91be-11eb-86d4-fb92df0772df.png)

[2021-03-30 23:20] svivian commented on #16765
Yes, that does appear to fix both the table display and the textarea when re-edited.

[2021-03-30 23:44] williamdes commented on #15687
If possible 5.1 should be fixed. To reproduce I do copy a timestamp field value with ctrl c and empty the input an hit enter

[2021-03-31 08:42] shucon commented on #16164
🏓

[2021-03-31 10:57] shucon commented on #16482
I'll start to work on this. I want to know what the purpose of these None checkboxes is?

[2021-03-31 11:38] #15629 closed

[2021-03-31 11:38] #16756 closed

[2021-03-31 11:56] williamdes commented on #16482
Not allowing the column to be {operation}

I think the check all should not tick the None boxes

[2021-03-31 11:58] williamdes commented on #14358
I assume this is fixed or solved 🤔

[2021-03-31 12:42] svivian commented on #14358
Yes it was a duplicate of the issue you linked, which is solved.

[2021-03-31 15:03] #16780 closed

[2021-03-31 17:17] williamdes opened #16783 "Incorrect linkage from one table's value to another table."
Duplicates: #14291

https://github.com/phpmyadmin/phpmyadmin/blob/86232c3b92054822bd5c0f17c6aac3e5864eeca0/libraries/classes/Display/Results.php#L3760-L3772

![image](https://user-images.githubusercontent.com/7784660/113184491-87041800-9255-11eb-9cc7-50ba6916ef8d.png)

### Dumps

<details><summary>main table</summary>
<p>

[code]

</p>
</details>

<details><summary>target table</summary>
<p>

[cod

[2021-03-31 17:23] williamdes commented on #16783
Before fix:
![image](https://user-images.githubusercontent.com/7784660/113184918-0f82b880-9256-11eb-8994-bfde4a2c579b.png)

After fix:
![image](https://user-images.githubusercontent.com/7784660/113185275-8e77f100-9256-11eb-9b8b-627e6a2affba.png)

[2021-03-31 19:47] shucon commented on #16482
Which one looks better?
![Screenshot from 2021-04-01 01-12-17](https://user-images.githubusercontent.com/22860775/113202082-f430a100-9287-11eb-8eb7-e344aed9388a.png)
![Screenshot from 2021-03-31 23-07-39](https://user-images.githubusercontent.com/22860775/113202086-f561ce00-9287-11eb-8896-375aa9cab0fd.png)
Thoughts @ibennetch @mauriciofauth @williamdes

I personally think the buttons looks better

[2021-03-31 22:23] williamdes commented on #16482
I would say checkboxes to be coherent with our existing interfaces that all use checkboxes to select all values

[2021-04-01 00:04] williamdes commented on #16773
Could you confirm @fleming42 that this is the test case you are talking about ?

![Sélection_2021040102:02:32001](https://user-images.githubusercontent.com/7784660/113225625-60ae9e80-928e-11eb-9cc5-3157c6e13fc3.jpg)

[code]

[2021-04-01 00:12] williamdes commented on #16773
I made the fix a12706165594868ab348c2be97ea710e1caf0bb8, you can apply it if you want and let me know if it works :)

[2021-04-01 00:18] williamdes commented on #16777
Hi @eugen-ukraine
Thank you for the report and thank you so much for the SQL scripts to reproduce it.
I can confirm I was able to reproduce this issue and will be working to find a fix for it.

[2021-04-01 00:31] williamdes commented on #15900
Given the following implementation there is not much place for different messages. That could be improved.

https://github.com/phpmyadmin/phpmyadmin/blob/1bfaec13516488452f0915e3e4547168dd521a46/js/src/ajax.js#L888-L915

[2021-04-01 08:15] aprat84 opened #16784 "Overlapping icons in navigation tree"
### Describe the bug

If I enable second icon for tables in navigation tree, they overlap each other (see screenshots).

### To Reproduce

Just enable `NavigationTreeDefaultTabTable2` in config

[code]

### Expected behavior

They should be styled so they fit as it was before phpMyAdmin 5.1.0

### Server configuration

- phpMyAdmin version: 5.1.0

### Client configuration

- Browser: Chrome, Firef

[2021-04-01 09:19] mdzidic opened #16785 "Using table search result in a logout"
### Describe the bug

After upgrading our phpMyAdmin to v5.1.0 we have a problem with table search on the left menu, when we try to search through the tables it results in logout.

We have multiple servers added on the phpMyAdmin instance, and there is no problem if the GET parameter `server=` value is equal to 1 (`server=1`), any greater number will result in a logout.

Downgrading to phpMyAdmin

[2021-04-01 12:26] liviuconcioiu opened #16786 "JavaScript error when clicking on logo"
### Describe the bug

A JavaScript exception is thrown when the logo link is changed to another domain name.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Navigation panel settings
2. Scroll down to Logo link URL
3. Enter https://www.test.com/
4. Click on Apply
5. Click on phpMyAdmin logo.
6. See error

### Expected behavior

The JavaScript exception shouldn't be thrown.

### Server

[2021-04-01 13:24] fleming42 commented on #16773
Yes, your test case is the same as mine, and yes fix a127061 works for me.
Thank you. :-)

David Fleming
www.flemingcomputer.com

On Wed, Mar 31, 2021 at 8:13 PM William Desportes ***@***.***>
wrote:

[2021-04-01 14:07] lem9 commented on #16786
Problem also present in 5.1.0 and 5.1.1-dev, but the feature worked fine in 4.9.7.

[2021-04-01 16:19] shucon commented on #16649
Issue not reproducible anymore.

[2021-04-01 17:36] williamdes commented on #16785
Duplicate of #16738

[2021-04-01 17:38] williamdes commented on #16785
Hi @mdzidic
Could you download the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) from our website, that should fix the issue you reported ?

See: #16738 for more details on how to manually apply the change without installing the snapshot

[2021-04-01 17:38] #16785 closed

[2021-04-01 18:48] smalos commented on #16549
Is there any news on this?
This is quite a nasty bug, because if someone decides to create a backup with phpMyAdmin and then a restore, then the union is not recreated correctly, that means there is data loss.

[2021-04-01 20:03] williamdes opened #16788 "Unable to load a DB contents on another page"
### Describe the bug

Unable to load the DB contents because of the pagination

### To Reproduce

[code]

Steps to reproduce the behavior:
1. Load the page
2. Type the DB to search
3. Expand it
4. Unable to be loaded

I searched in the code and I could find that the DB list does not load all DBs so because my database is on another page that the loaded page of DBs.

This curl call reproduces it:
[

[2021-04-01 22:05] williamdes commented on #16549
Hi @smalos
For now I would admit a bunch of issues where open and closed in the mean time and this one still needs a fix
Assigning it to myself so I can try to fix it

[2021-04-01 22:24] williamdes commented on #16786
I pushed two fixes for this issue (f0e29f3506672bae1c5b03f3d7e84ce326f2ed4e and 2b42dc9bcb099672b574b8c0bbd0957310fb7e94), for me the user needs to adjust the CSP value to allow external links if not using the mode `NavigationLogoLinkWindow=new`

@lem9 @ibennetch let me know if you find that okay to ask the user to adjust the CSP value or should we do some smart detection but that would widen the

[2021-04-01 23:32] liviuconcioiu opened #16789 "Create PHP code removes ; from SQL query on Structure snapshot"
### Describe the bug

When you click on Create PHP code, from Tracking -> Structure snapshot, the PHP code created replaces the `;` delimiter with nothing, between queries and creates malformed ones.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Tracking
2. Click on Create version
3. Click on Structure snapshot
4. Click on Create PHP code
5. See error

### Expected behavior

Generat

[2021-04-01 23:56] williamdes commented on #16789
Thank you for the report @liviuconcioiu

@shucon when you have some time would you mind having a look please?

[2021-04-02 10:52] williamdes commented on #16784
This was introduced by 98dc941ce570e978a6a27575d0d2f1e4e34b50ad in #15823

[2021-04-02 11:45] #16783 closed

[2021-04-02 11:45] #16773 closed

[2021-04-02 11:45] #16784 closed

[2021-04-02 11:45] #16786 closed

[2021-04-02 11:46] williamdes commented on #16786
Some documentation was added about the CSP issue

[2021-04-02 13:54] rajat315315 commented on #16769
Can you please explain `9223372036854775808 columns ` ?

[2021-04-02 15:04] liviuconcioiu commented on #16769
![Untitled](https://user-images.githubusercontent.com/25424343/113427464-bc3b7200-93dd-11eb-9520-26e38dd8dfce.png)

[2021-04-02 15:21] liviuconcioiu commented on #16769
Also, creating an index on `223372036` columns, shows a out of memory error, on the same line.

`Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 8589934600 bytes) in Z:\nginx\html\phpMyAdmin\tmp\twig\cb\cbec66d4ec6642f8f36b48da8a324e1c1e37d9c0b396c35c715ff67cf5ae8005.php on line 350`

![Untitled1](https://user-images.githubusercontent.com/25424343/113428782-16d5cd8

[2021-04-02 16:04] liviuconcioiu opened #16790 "Undefined index field_name"
### Describe the bug

I've created a table on https://demo.phpmyadmin.net/master-config/. Then I tried to add 3 columns to the same table and I received a notice and a warning. Unfortunately I couldn't reproduce the bug.

### Expected behavior

The notice and warning should not be given and the new columns should be created.

### Screenshots

![Untitled2](https://user-images.githubusercontent.com/

[2021-04-03 17:23] liviuconcioiu opened #16791 "Undefined index table_schema"
### Describe the bug

If you run this query `SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'sakila'`, it will give a Undefined index: table_schema notice or warning for all table names.

### To Reproduce

Steps to reproduce the behavior:
1. Go to SQL
2. Enter `SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'sakila'`
3. Click on Go
4. Click on Edit inl

[2021-04-03 18:35] mauriciofauth commented on #16649
I prefer the current behavior.
But to restore the previous behavior, the solution should be different than before.

[2021-04-04 15:15] webdock-io commented on #16753
Bump from here. We have people complaining to us about blank screens as we have just passed along the "official" installation steps to our users. I see the workaround here which is fine, but it would be nice to get this resolved soon. Any plans for automated tests on the Composer builds? That would be helpful in cases like this :)

[2021-04-04 17:42] dddns commented on #16553
Hi Guys,

Oh I see, no way to define it in code?

[2021-04-04 18:18] mauriciofauth commented on #16553
For the pmahomme theme, you can locally change the font size value by changing the value of the `$font-size-base: 0.82rem;` variable. https://github.com/phpmyadmin/phpmyadmin/blob/61499f94a21bbe27874fe02f237fa7e56cd959e0/themes/pmahomme/scss/_variables.scss#L71

Then you should run `yarn build` to compile the CSS.

You can see that we use 0.82rem that is the same as 82%.

[2021-04-05 12:53] cristicotet commented on #16510
Version 5.1.0 is still affected. Steps to reproduce:

[code]

Exporting structure will generate this SQL:

[code]

Everything from `UNION` is missing.

[2021-04-05 17:02] liviuconcioiu opened #16792 "Wrong links for COLUMN_NAME row values"
### Describe the bug

Row values for `COLUMN_NAME` column, from `information_schema.COLUMNS` have wrong links. Instead of `&amp;` after `index.php?route=/table/structure/change`, is written as `&amp;amp;`.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=information_schema&table=COLUMNS
2. Click on any COLUMN_NAME column

[2021-04-05 19:59] liviuconcioiu opened #16793 "startScroll is undefined"
### Describe the bug

If you go to SQL and enter a query on multiple lines, that makes a scroll on the right side and also if the last char of the query is a letter that makes a dropdown so you can select the value, will result in a JavaScript error `can't access property "top", startScroll is undefined`.

### To Reproduce

Steps to reproduce the behavior:
1. Go to SQL
2. Copy and paste
[code]
3.

[2021-04-05 21:10] williamdes commented on #16753
We could extract release tarballs when creating contents for tags in the composer repository, that would help

cc @ibennetch for a composer repo tag rebuild

[2021-04-05 21:17] williamdes commented on #16792
Thank you for this report @liviuconcioiu
Confirmed on 5.1

[2021-04-06 14:13] hepabst opened #16794 "Empty String not working correctly when setting default."
When I set a field to default empty string with '', it show as '' in phpmyadmin 5.1.0 structure for the field but it actually is inserting '''''' in the database filed. The following field dump show the issue.

-- phpMyAdmin SQL Dump
-- version 5.1.0
-- https://www.phpmyadmin.net/
--
-- Host: 127.0.0.1
-- Generation Time: Apr 06, 2021 at 02:02 PM
-- Server version: 5.7.23
-- PHP Version: 7.3.24-(t

[2021-04-06 18:43] bradsi commented on #16605
Hi, @williamdes I've had a play around with the CSS and I've got a fix for this. First time contributing to OSS so wanted to make sure I can work on it. Please could you assign me the issue if so?

[2021-04-06 22:42] williamdes commented on #16605
Hi @bradsi
Thank you for contributing, for sure you can work on it :)
Let us know your progress and if you stopped working on it

[2021-04-07 08:59] bradsi commented on #16605
@williamdes is this going into QA_5_1?
I've forked, pulled from main and made a branch for changes, but PR is showing 948 files changed so I think I've done something wrong. Do I need to pull from QA_5_1 instead of main? Sorry for the stupid question.

[2021-04-07 09:25] OlafvdSpek commented on #16605
Isn't master affected (too)?

[2021-04-07 11:01] patchlog commented on #14159
I'm using the latest version of firefox and this doesn't happen with any other site but in phpmyadmin if I'm not fucused in a text field or textarea and I hit backspace ( delete on a mac ) it takes me back to the previous page. This is so annoying.

[2021-04-07 11:19] OlafvdSpek commented on #14159
It happens on Chrome / W10 too..

Why are you hitting Delete? ;)

[2021-04-07 12:34] patchlog commented on #14159
I try to delete something in a query but maybe tapped on the touchpad by mistake and the text field was defocused.

[2021-04-07 12:51] ibennetch commented on #16414
The build error is:

[code]

[2021-04-08 01:37] williamdes commented on #16414
There is some issue with using a cron and running the command line manually, I ran the build manually and snapshots should be up to date now.
See phpmyadmin/scripts#40 to improve this

[2021-04-08 02:22] williamdes commented on #16605
Seems like you sorted it out 👍🏻
I think it should go into QA_5_1, your PR is fine :)

[2021-04-08 10:23] SebastienTainon opened #16796 "PPA not up-to-date?"
In the PPA https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa we currently can upgrade only up to 5.0.4 on Ubuntu/Debian. PhpMyAdmin 5.1 was released one month and half ago. Is the PPA active? Or is there a planned latency between the release as a zip and the PPA update? That would be great to be able to upgrade PhpMyAdmin.

To get here, I followed https://docs.phpmyadmin.net/en/latest/setup.ht

[2021-04-08 10:31] williamdes commented on #16796
Hi @SebastienTainon
Thank you for reporting this, in fact I started preparing the packaging but because Debian is in a freeze period I delayed this task

I will let you know when the release is packaged and available :)

[2021-04-08 10:43] waqasahmed82 commented on #16778
I have installed phpmyadmin on my web server and accessing it using my domian url . problem is it is working fine for simple queries , but when i past some advance query in query box , the error came right way , even if i will not run query , simply pasting query inside query box , this error came .

[2021-04-08 14:04] Draghmar opened #16797 "Dateformat transformation doesn't work"
### Describe the bug

I'm using Dateformat transformation for all the fields that have timestamp. It was working before but I think updating to 5.1 broke that. Now instead of local date I'm getting literary `local` text. I can set options to `0,'H:i:s Y-d-m','local'` to get...literary `H:i:s Y-d-m` text.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table that has timestamp in t

[2021-04-08 14:46] NKarasek commented on #12340
Good morning William,

I am working on a replacement for Designer - either a standalone option or
integrated with pma.  My version is compatible with all mysql tables and
pma tables, of course.  It is almost working with a functional baseline -
just missing the add and delete constraints including cross-table
constraints.  I have added a print option (as part of export) for the
currently displayed

[2021-04-08 18:58] kampalex opened #16798 "ServerConfigChecks: Link 'trusted proxies list' not terminated properly"
### Describe the bug

The entire 'Servers' and 'Configuration' fieldsets are clickable due to not terminated link within one of the (hidden) messages.

https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/classes/Config/ServerConfigChecks.php#L178
[code]

The last `%s` is included in the resulting text, but it should contain the 4th replacement. The `%s` must be `$s`.
[code]

It seems li

[2021-04-08 20:28] #16649 closed

[2021-04-09 04:48] evilKabab opened #16801 "Quotes appear when field type is TEXT and I use default 'as defined'"
Hello.
I guess I found a bug.

Server is CentOS 7 latest. Phpmyadmin is 5.1.0 english running on php 7.3.27 fpm.   DB is MariaDB 10.2.37. Apache/2.4.6, mysqlnd 5.0.12-dev - 20150407.

So I created a filed with type TEXT, set default value to 'as defined:' - empty string. After saving that I see that default value looks as two single quotes (''). Strange since right above I see VARCHAR with same de

[2021-04-09 04:50] evilKabab commented on #16801
One picture is missing somehow...
![fig3](https://user-images.githubusercontent.com/5341920/114129929-8a3e7a00-98cd-11eb-8d6b-58c094832187.jpg)

[2021-04-09 04:58] Speedstor commented on #16757
I'll claim this issue. It'll be in a couple of days tho, I'm doing a GitHub workshop at my school where I help people go through example pull requests. If you would endure the delay, it would be nice. Thanks.

[2021-04-09 07:12] OlafvdSpek commented on #16757
Wasn't this fixed already?

[2021-04-09 09:55] OlafvdSpek opened #16802 "Text truncation isn't working"
https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=PRUEBA&table=MATERIAL&pos=0

![image](https://user-images.githubusercontent.com/2218936/114163488-89880100-992a-11eb-9e94-eeb874daf605.png)

[2021-04-09 09:57] OlafvdSpek opened #16803 "Field size for text input"
https://demo.phpmyadmin.net/master-config/index.php?route=/table/change&db=PRUEBA&table=MATERIAL&lang=nl

The text input field seems too small..

![image](https://user-images.githubusercontent.com/2218936/114163776-dbc92200-992a-11eb-803c-1b720e635620.png)

[2021-04-09 10:10] OlafvdSpek opened #16804 "Number alignment"
Numbers seem to be left-aligned rather than right-aligned.

5.1.1-dev+20210408.b5829d01e0

[2021-04-09 16:32] mauriciofauth commented on #16332
Closed by a7d6df17d604a8056de4c127f6c9296d34755a95.

[2021-04-09 16:32] #16332 closed

[2021-04-10 13:32] silverqx opened #16805 "Shortcut keys don't work"
These Shortcut keys which are described [here](https://docs.phpmyadmin.net/en/latest/intro.html#shortcut-keys) don't work:

- d + s - Go to database structure (Provided you are in database related page)
- d + f - Search database (Provided you are in database related page)
- t + s - Go to table structure (Provided you are in table related page)
- t + f - Search table (Provided you are in table rela

[2021-04-10 16:52] thecheshirecat opened #16806 "Table columns display"
### Describe the bug

Columns from tables displays them all wide.

### To Reproduce

I've just downloaded version 5.1.0 from 5.0.4 if I recall correctly.

### Expected behavior

Seeing the columns with a normal size.

### Screenshots

![Captura2](https://user-images.githubusercontent.com/9424745/114277959-cb4da000-9a2d-11eb-8c14-b9080ecf2837.PNG)
Screenshot added on window full width

### Server c

[2021-04-10 17:53] shucon commented on #16802
Hello @OlafvdSpek, can you please explain the issue? I'm unable to understand it.

[2021-04-10 17:57] shucon commented on #16805
Looks like the combination shortcuts are not working on master and QA_5_!. Thanks for the report.

cc @williamdes

[2021-04-10 18:34] shucon commented on #16805
Working on this.

[2021-04-10 20:18] shucon commented on #16805
https://github.com/phpmyadmin/phpmyadmin/commit/ac8ecb7faf159bfe4e75114c71483a780738c63f was the first bad commit.

[2021-04-10 20:26] shucon commented on #16793
Thanks for the report, I was able to reproduce this. Will fix it.

[2021-04-11 00:24] Speedstor commented on #16757
Sorry, I didn't know. I didn't saw a linked pull request. My bad

[2021-04-11 10:12] liviuconcioiu opened #16808 "Fatal error when using LIMIT"
### Describe the bug

A fatal error is given (the maximum execution time is exceeded), when a query with LIMIT is run, on a very large table.

### To Reproduce

Steps to reproduce the behavior:
1. Select a table.
2. Go to SQL tab.
2. Write a query that uses `LIMIT`, eg. `SELECT * FROM tbl_users WHERE isDisabled = 1 LIMIT 100000;`
3. Click on Go.
4. See error

### Expected behavior

The query shoul

[2021-04-11 14:47] shucon commented on #16808
I don't think it's a bug. What do you think @williamdes ?

[2021-04-11 15:53] drrhf commented on #16806
I also have the same problem.
The columns are all too large and not adjustable, especially the table row links for Edit, Copy and Delete.
V 5.0.2
![image](https://user-images.githubusercontent.com/8069262/114311319-e6fb8980-9ab3-11eb-8c6f-55c4a1ae366e.png)

V 5.1.0
![image](https://user-images.githubusercontent.com/8069262/114311358-0e525680-9ab4-11eb-9331-941a73e77add.png)

[2021-04-12 11:52] OlafvdSpek commented on #16808
Why not?

[2021-04-12 11:52] OlafvdSpek commented on #16806
Is it time to release 5.1.1? ;)

[2021-04-12 13:52] williamdes commented on #12340
Hi @NKarasek
Thank you for working so hard on the code improvement of the Designer, I am sorry to not have responded earlier.

For the adding features questions the best would be to open an issue and post some description and screenshots in order not to mix the fixes and a feature. (and to keep discussions seperate)

I am very impatient to see your changes, you seem to have found better and optimi

[2021-04-12 14:29] liviuconcioiu opened #16810 "Your SQL query has been executed successfully is shown two times"
### Describe the bug

When Drop button at the bottom of the table structure is used, two identical messages are shown, instead of one.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Structure
2. Select one column or more
3. Click on Drop
4. See error

### Expected behavior

One message should be shown instead of two.

### Screenshots

![error7](https://user-images.githubusercontent.c

[2021-04-12 16:30] NKarasek commented on #12340
Hello William - no problem with responding - I know you are VERY busy - and
I still have lots to do with my new version of DESIGNER.  I am assuming
that new CONSTRAINTS should follow the existing PMA format using
"_ibfk_nn".  I now have "Create Relationship" and "Delete Relationship"
working as well as optional colored/grey connector lines.  "Save Charges"
is next but since "Save New Page ' and "D

[2021-04-12 17:02] #16789 closed

[2021-04-12 17:14] williamdes commented on #16790
Hi @liviuconcioiu
I was unable to reproduce this
Could you give more details on how to reproduce this ?
I checked the code and it can create this warning but that would require to find a way to send an incomplete form

[2021-04-12 17:24] shucon commented on #16810
Thanks for the report, I'll take a look at it.

[2021-04-12 18:13] hydrosIII opened #16812 "Error when exporting database (moodle) in phpmyadmin 5.1"
Trying to export a moodle database i ge the following errors:

[code]

and

[code]

This issue is strange as I have wordpress databases and they export fine. This only happens with moodle databases. Also the databases export from terminal just fine, so this is not a problem with mysql.

System stack:

Centos 8.3 up to date to the 12th of april 2021
PHP 7.4.15
LiteSpeed Web Server
Maria db 10.3.27-

[2021-04-12 18:15] shucon commented on #16812
Hello @hydrosIII , can you please provide a way to reproduce this issue?

[2021-04-12 18:18] hydrosIII commented on #16812
Export a moodle database in PHPmyadmin 5.1

[2021-04-12 18:26] hydrosIII commented on #16812
I have another moodle installation with nginx in another server. When trying to export I get

[code]
[code]

Stack: Debian 10
Server:  nginx/1.14.2
PHP 7.3.19
10.3.25-MariaDB
![Captura de pantalla de 2021-04-12 13-21-05](https://user-images.githubusercontent.com/7807363/114442873-a4f54500-9b92-11eb-99a9-93814df223f6.png)

[2021-04-12 18:27] liviuconcioiu commented on #16790
Hi @williamdes
Unfortunately I couldn't reproduce it.

[2021-04-12 19:12] AustinLeath commented on #16796
It would seem that this is still an issue.

[2021-04-12 19:12] AustinLeath commented on #16796
Ah, I see that this was addressed

[2021-04-12 20:29] williamdes commented on #16790
I will add a code safety for it anyway, thanks for trying again

[2021-04-12 20:44] williamdes commented on #16812
Could you provide some details on what did you click and visit before you did see this errors ?
A test database could be usefull too :)

[2021-04-12 20:46] williamdes commented on #16794
Thank you @hepabst for the detailed report, we will have a look into it

[2021-04-12 20:47] williamdes commented on #16778
Could you provide the query please ?
And maybe have a look if you have some protection software that rejects SQL queries in requests

[2021-04-12 21:42] summea commented on #16516
I was also seeing a similar error message to the "mysqli::real_connect(): (HY000/2002): Permission denied" part from the original post.

The advice from @williamdes in the quoted post (above) seems to work for my situation. After locating the mysqld.sock file that is being used in my installation, and adding that location in the config file, I was able to log in as expected.

[2021-04-12 21:47] #16516 closed

[2021-04-12 22:26] liviuconcioiu opened #16813 "phpMyAdmin is logged out if opened in a new tab on Firefox"
### Describe the bug

phpMyAdmin is logged out on Firefox if a phpMyAdmin url is opened in a new tab from Network monitor. I've tested it on multiple Firefox versions, Nightly, Beta, Developer and all seems to be affected.

### To Reproduce

Steps to reproduce the behavior:
1. Open Network monitor from Firefox.
2. Go to https://demo.phpmyadmin.net/QA_5_1/index.php?route=/
3. Log in
4. Right click

[2021-04-12 23:05] liviuconcioiu opened #16815 "Unknown column 'undefined' in 'where clause'"
### Describe the bug

If you click on a row from the `EVENT_NAME` column in `performance_schema.events_stages_summary_global_by_event_name`, an error is shown, because of a wrong query.
`SELECT `EVENT_NAME` FROM `events_stages_summary_global_by_event_name` WHERE undefined`

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/sql&se

[2021-04-12 23:19] liviuconcioiu opened #16816 "A SyntaxError is thrown when editing a row"
### Describe the bug

A SyntaxError is thrown when editing a row from `performance_schema.events_stages_summary_global_by_event_name`.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/sql&server=2&db=performance_schema&table=events_stages_summary_global_by_event_name&pos=0
2. Edit any row from `EVENT_NAME` column
3. See error

[2021-04-13 05:59] OlafvdSpek commented on #16812
He can't export it. ;)

[2021-04-13 08:03] liviuconcioiu opened #16817 "Sort results by column doesn't work in SELECT query with LIMIT in another SELECT"
### Describe the bug

A clear and concise description of what the bug is. I have attached a database for test.
[testlimit.sql.zip](https://github.com/phpmyadmin/phpmyadmin/files/6302095/testlimit.sql.zip)

### To Reproduce

Steps to reproduce the behavior:
1. Import database
2. Go to SQL tab of the selected database
2. Paste this query:
[code]

3. Click on Go
4. Click on country_name column to sor

[2021-04-13 08:09] shucon commented on #16812
Maybe by using the terminal?

[2021-04-13 08:50] shucon commented on #16816
I think the table should not have editable rows. @williamdes Thoughts?

[2021-04-13 12:09] ibennetch commented on #16816
IIRC, I agree with Saksham. This database and certain other tables (in the
mysql and information_schema databases) should not allow editing.

[2021-04-13 15:28] williamdes commented on #16798
Hi @kampalex
Thank you for reporting this issue !

[2021-04-13 15:39] williamdes commented on #16805
Ref: fe98bf7b5c09503821efd09a111f05a4816d489f

[2021-04-13 15:53] #16791 closed

[2021-04-13 15:53] #16805 closed

[2021-04-13 15:53] #16605 closed

[2021-04-13 15:53] #16790 closed

[2021-04-13 15:53] #16798 closed

[2021-04-13 15:55] williamdes commented on #16798
Hopefully a vscode search an replace did the work, all translations should remain alright

[2021-04-13 15:56] silverqx commented on #16805
Thx 🙏

[2021-04-13 16:04] williamdes commented on #16816
I am quite sure I had this bug on 5.1 series, seems like something allowed all cells to be opened as a text field

fixing this bug will fix this one too

[2021-04-13 16:07] williamdes commented on #16805
You can download the [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) from our website, maybe wait 10min after I sent this message to be sure the CDN cache is purged :)

It will contain the fix

[2021-04-13 16:09] ElmerWu118 commented on #16805
shortcuts doesn’t help

[2021-04-13 16:18] williamdes commented on #16805
what do you mean ?

[2021-04-13 16:20] williamdes commented on #16815
Duplicate of #16816

[2021-04-13 16:20] williamdes commented on #16815
The edit should not be allowed :)

[2021-04-13 16:20] #16815 closed

[2021-04-13 16:23] williamdes commented on #16817
This could be a sql-parser bug

[2021-04-13 16:24] williamdes commented on #16808
Maybe not a "bug" but more a performance issue or infinite loop or time wasted issue
Would be worth investigating

[2021-04-13 16:26] williamdes commented on #16806
The columns are all too large and not adjustable, especially the table row links for Edit, Copy and Delete.
V 5.0.2

Please download the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) from our website
It will be fixed :)

Maybe in a week, sill a bunch of open bugs to fix

[2021-04-13 16:27] williamdes commented on #16806
Duplicate of #16604

[2021-04-13 16:27] #16806 closed

[2021-04-13 16:30] williamdes commented on #16757
Duplicate of #16604

[2021-04-13 16:32] williamdes commented on #16757
You can pick any other issue @Speedstor :)

Closing as it will be fixed in 5.1.1 and downloading the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) will allow you to use the fix right now

[2021-04-13 16:32] #16757 closed

[2021-04-13 16:34] williamdes commented on #16803
TODO: check if 5.1 is affected, if not use master branch as base for the fix

[2021-04-13 16:42] williamdes commented on #16802
Could be related to #16783 and the fix for it: 176ff6a99cff1ead1fb54a566ae35c05fac77a7b

[2021-04-13 16:55] johanvanhelden opened #16819 "5.0.4 -> 5.1.0 = Failed to set session cookie. Maybe you are using HTTP instead of HTTPS"
Version 5.0.4 was running just fine, no issues. After updating to 5.1.0 I was no longer able to login and keep getting the error:

`Failed to set session cookie. Maybe you are using HTTP instead of HTTP`

The domain is running on HTTPS.

I did not change anything inside the configuration file.

What I've tried to fix it myself:
- Cleared all my cookies and site data.
- Tried incognito mode.
- Inst

[2021-04-13 16:57] williamdes commented on #16819
Hi @johanvanhelden
Are you using a GIT setup ?

[2021-04-13 16:57] johanvanhelden commented on #16819
Yep!

[2021-04-13 17:10] johanvanhelden commented on #16819
Running yarn gives me the following error:
[code]

But even if I try to submit the form when the styles are missing, I get the same ` Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.`

[2021-04-13 17:26] williamdes commented on #16797
Hi @Draghmar
Thank you for the report, I will have a look into it

[2021-04-13 17:32] #16803 closed

[2021-04-13 17:32] johanvanhelden commented on #16819
I did not run `yarn --production` before because I rely on the already compiled CSS.

I only exclude the vendor folder from GIT and install those myself after a deployment.

In regards to the nginx config, sure, I just took out some code in regards to SSL configuration and HTTP to HTTPS redirection:

[code]

Thanks for your time and help @williamdes !

[2021-04-13 18:52] williamdes commented on #16819
Oh okay, then this is more like a custom GIT install method :)

I had to add `fastcgi_param SCRIPT_FILENAME` probably because I am not using the same fpm config as you do

I did try without any issues the setup:
[code]

[2021-04-13 18:55] williamdes commented on #16819
This issue is maybe related to: #15838

[2021-04-13 18:56] williamdes commented on #15980
🏓

[2021-04-13 18:59] johanvanhelden commented on #16819
Upon further inspection I am noticing some console errors in the devtools that I am not getting on the 5.0.4 release, but not sure if that is related:

The resource from “https://redacted.com/js/vendor/jquery/jquery.ba-hashchange-2.0.js?v=5.1.0” was blocked due to MIME type (“text/html”) mismatch (X-Content-Type-Options: nosniff).
dbruler.johanvanhelden.com
The resource from “https://redacted.com/

[2021-04-13 19:02] johanvanhelden commented on #16819
Upon further inspection I am noticing some console errors in the devtools that I am not getting on the 5.0.4 release, but not sure if that is related:

[code]

And if I try to visit those pages I am getting blank pages, there is no JS inside them.

And it is indeed a custom GIT setup. Because I need to add `config.inc.php` and `tmp/` to the gitignore in order to prevent the checkout from becoming

[2021-04-13 19:04] williamdes commented on #16819
Another user reported the same issue: https://github.com/phpmyadmin/phpmyadmin/issues/15838#issuecomment-791906690

[2021-04-13 19:05] williamdes commented on #16819
Could you browse `https://redacted.com/js/vendor/jquery/jquery.ba-hashchange-2.0.js?v=5.1.0` and see what are the contents ?
Maybe also have a look to your webserver logs ?
I suspect `try_files $uri $uri/ /index.php?$query_string;` to create more problems than solutions

[2021-04-13 19:07] williamdes commented on #16819
PS: your domain leaked into the email notifications people receive, if it is highly sensitive you may need to take more securirty mesures :)
That said if you want me to have a look you can send me the link at williamdes @ wdes.fr

[2021-04-13 19:09] johanvanhelden commented on #16819
I think my problem is slightly different. When I visit those pages there is nothing inside them. No Javascript. They are blank pages.
Not seeing anything special in the logs either.

[2021-04-13 19:11] johanvanhelden commented on #16819
Haha, nah, it's ok. It's already protected pretty well with an IP whitelist and htpasswd. But thanks!

[2021-04-13 19:12] williamdes commented on #16797
Seems like the tooltip works
![image](https://user-images.githubusercontent.com/7784660/114607533-f38f0600-9c9c-11eb-9eec-c796ebf4b52f.png)

![image](https://user-images.githubusercontent.com/7784660/114607426-d2c6b080-9c9c-11eb-9000-580a2d3f7017.png)

[2021-04-13 19:20] johanvanhelden commented on #16819
You have to be kidding me. Found it. The fact that those files were showing blank pages bugged me. So I looked into it some more and noticed they were missing on the server.

Of course the `.gitignore` contains the `vendor` folder. But it did not only exclude the composer `vendor` folder but also the `/js/vendor` folder!

Some of those files `/js/vendor` have been tracked before during an earlier

[2021-04-13 19:20] #16819 closed

[2021-04-13 19:32] hydrosIII commented on #16812
I can export the database using the terminal and mysqldump, that is not the problem. I click in the database in the left, thenk in the upper menu I click export.

[2021-04-13 19:33] niksfirefly opened #16865 "Howto hide info under login form like "mysqli::real_connect(): (HY000/1045): Access denied for user""
Is there a way to hide infobox under login form like "mysqli::real_connect(): (HY000/1045): Access denied for user"

regards

[2021-04-13 19:33] williamdes commented on #16819
Glad to know you found the solution @johanvanhelden !
Enjoy your new version :)

[2021-04-13 19:37] hydrosIII commented on #16812
Here is an almost empty moodle database, no personal data is stored. since it is not used already :

https://drive.google.com/file/d/1qPE8GmCE5SFnRTY_ou59YsdrW6zYOVok/view?usp=sharing

[2021-04-13 19:56] williamdes commented on #16797
I just checked http://localhost/index.php?route=/transformation/overview#transformation (click on the row header when you edit the column)

Here is what is says:
[code]

Added to that I did try 4.9.2 and it does not work too.
You need to use `0,'H:i:s Y-d-m','utc'` to make it work

[2021-04-13 20:07] williamdes commented on #16797
That said, maybe the format was not detected properly before that because the format you provided would never output the date you give on the issue.
But in the code we fallback to `%B %d, %Y at %I:%M %p` for an empty format.
Conclusion you should use `0,'%B %d, %Y at %I:%M %p','local'` to have the output you want

[2021-04-13 20:22] williamdes commented on #16797
Let me know if you have questions :)

[2021-04-13 20:22] #16797 closed

[2021-04-13 21:16] liviuconcioiu commented on #16812
I can reproduce the bug myself too. If you create a database with 1000 tables and export it, it will throw the notices or warnings. This is because it max_input_vars is too low.

[2021-04-14 07:50] Draghmar commented on #16797
Setting it up with `0,'%B %d, %Y at %I:%M %p','local'` indeed does the trick. I don't know why it doesn't work for empty string though. Especially since it worked before...

[2021-04-14 09:47] waqasahmed82 commented on #16778
elect SUM(CASE WHEN CHAR_LENGTH(p.contact_no)=LENGTH(p.contact_no) - LENGTH(REPLACE(p.contact_no, LEFT(p.contact_no,1), "")) OR LEFT(p.contact_no,1)!="3" THEN 1 ELSE 0 END ) AS fake_mobile_number, SUM(CASE WHEN CHAR_LENGTH(p.cnic)=LENGTH(p.cnic) - LENGTH(REPLACE(p.cnic, LEFT(p.cnic,1), "")) THEN 1 ELSE 0 END ) AS fake_cnic from `respondent_lawyers` as `p` inner join `cases` as `c` on `c`.`id` = `p

[2021-04-14 10:16] OlafvdSpek opened #16820 "Default Date Format Transformation Format"
Currently, the format is like `Apr 14, 2021 at 12:14 PM`. Seconds are lost and the format isn't identical to the normal datetime format of MySQL. Could the default format be changed to `2021-04-14 10:16:46`?

[2021-04-14 11:17] silverqx commented on #16805
I fastly tried 5.1 snapshot and shortcuts work thx 🤝 @williamdes @shucon

[2021-04-14 13:11] shucon commented on #16812
I was unable to reproduce the issue. @williamdes can you please give it a try?

[2021-04-14 15:10] shucon commented on #16793
https://github.com/phpmyadmin/phpmyadmin/commit/8c676643ab53ce8f22fb1b9ce976b78d9adf342a is the first affected commit.

[2021-04-14 15:23] williamdes commented on #16797
Well I just tested `0,,'local'` and `0,'','local'` they seem to work
let me know so I can test in case there is a bug somewhere

[2021-04-14 15:31] williamdes commented on #16793
Last codemirror update: 33ba47229a8bbfb9b343e509a8b96f954161a1db
Waiting on a new one for the upstream patch

[2021-04-14 15:42] williamdes commented on #16820
See: #16797 for examples and f5477651201799128d1ec20a9ecb5ae8d6237e79 for code examples

not sure that we should change the format

[2021-04-14 15:46] williamdes commented on #16701
Nope, for me this is a bug that we need to fix and another open issue holds this

[2021-04-14 16:04] williamdes opened #16821 "JS error on uncheck show all rows after page reload"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table
2. Click on [ ] show all rows
3. Reload the page
4. Try to un-check the box
5. JS error

### Expected behavior

Uncheck the box

### Server configuration

- phpMyAdmin version: 5.1

### Additional context
Found on the error reporting server and reproduced b

[2021-04-14 16:04] williamdes commented on #16821
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Sql.submitShowAllForm is not a function
 Exception Type |js
 phpMyAdmin version |5.1.0
 Incident count | 5
 Link | [Report#70000](https://reports.phpmyadmin.net/reports/view/70000)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-14 16:05] williamdes commented on #16821
Reports on the server go up to 5.0.2

[2021-04-14 16:16] ElmerWu118 commented on #16820
added enhancement question  undecided  labels

[2021-04-14 19:11] #16553 closed

[2021-04-14 20:17] ElmerWu118 opened #16823 "I didn't get it, can you elaborate more? This function is called when any columns's type is changed, to show a warning if the changed type is one of the types that can't have length. What exactly you prefer to be moved to the backend?"
I didn't get it, can you elaborate more? This function is called when any columns's type is changed, to show a warning if the changed type is one of the types that can't have length. What exactly you prefer to be moved to the backend?

Edit: I think I got it, adding 'data-can-have-length' or something similar, to each type (select elm), to be checked instead of depending on the integerTypes array,

[2021-04-14 20:18] #16823 closed

[2021-04-14 22:44] williamdes commented on #16792
The fix for this issue will also solve more issues, found this on the error report server:
[code]

[2021-04-14 22:45] williamdes commented on #16792
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |vsprintf(): Too few arguments
 Exception Type |php
 phpMyAdmin version |5.1.0-dev
 Incident count | 90
 Link | [Report#59307](https://reports.phpmyadmin.net/reports/view/59307)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-15 07:34] Draghmar commented on #16797
I haven't found anything more to show why it doesn't work for me with default settings but I wanted to make one clarification, to make sure we're on the same page here. When I was talking about empty string I meant that I didn't put anything into transformation options field.

One additional thing though. I have two phpMyAdmin copies for few servers. And from what I see only one server generates t

[2021-04-15 09:15] williamdes commented on #16797
Are you up to date ?
Maybe you can export `SELECT * FROM phpmyadmin.pma__column_info` to help with reproducing this issue

Ah, I just tried empty string an it works fine

[2021-04-15 11:21] Draghmar commented on #16797
I'm always up to date ;)
I can't export full result because of column names...But there's nothing unusual there. I checked two servers: one where it works and one where it doesn't. In both cases date fields were set in a same way, without additional options:
![obraz](https://user-images.githubusercontent.com/275348/114861275-51cafe80-9ded-11eb-9134-17138abc0f6a.png)

[2021-04-15 12:01] williamdes commented on #16797
Here is a json export of my line
I think we can assume there is no issue at this point
But maybe check your data 🤔
From the code I read it needs to be a timestamp
[code]

[2021-04-15 13:16] Draghmar commented on #16797
It is timestamp. I'm using it often in the code so it has to be correct. It's so weird...I have even same database but on different servers (dev vs production) and on one copy it works where on second it doesn't and both from the same phpMyAdmin.
Those are two columns (with and without options) from the server that doesn't work having empty options:
[code]
And this one is from the server where it

[2021-04-15 13:35] williamdes commented on #16797
Interesting !
But those functions are affected by locale settings, what do you have configured ?

[2021-04-15 16:13] Allrivenjs commented on #16519
solucion:
ve a esta dirrecion  /usr/share/phpmyadmin/libraries/classes/Di/ReflectorItem.php
y modifica la linea de getClass()
que esta asi

    private function _resolveArgs($required, array $params = array())
    {
        $args = array();
        foreach ($required as $param) {
            $name = $param->getName();
            $type = $param->getClass();
            if (isset($type)) {

[2021-04-15 16:56] williamdes opened #16825 "CodeMirror.runMode is not a function"
### Describe the bug

`CodeMirror.runMode is not a function`

### To Reproduce

No idea for now

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 4.1.6 to 5.1.0

### Additional context

[code]

[2021-04-15 16:56] williamdes commented on #16825
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |CodeMirror.runMode is not a function
 Exception Type |js
 phpMyAdmin version |4.1.6
 Incident count | 160
 Link | [Report#2264](https://reports.phpmyadmin.net/reports/view/2264)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-15 17:06] williamdes commented on #16519
Hi @jpbion
Maybe upgrade to phpMyAdmin 5.1 (latest version) will be a better solution :)

[2021-04-15 21:11] williamdes commented on #16778
Did not get an error, most probably you have a protection or server error

[2021-04-15 21:40] Melnofil opened #16826 "POST & arg_separator=";""
PMA forge POST data (to jQuery) with `;` used as arg_separator instead of `&`!

A good practice is to **never** use a `string` in options.data (jQuery) when you don't known options.type (GET or POST?).

### PHP Config

arg_separator.output=";"
arg_separator.input=";&"

### To Reproduce

Edit a row from any table/db (click any pencil), throw the `No databases selected.` error from librairies/db_tab

[2021-04-15 23:24] williamdes commented on #16826
I had started to fix this in 2019: https://github.com/williamdes/phpmyadmintest/commits/fix/arg-separator
https://github.com/williamdes/phpmyadmintest/commit/a790cf39b979f48252c2fb6349d8c2afdfe1d8a5 and https://github.com/williamdes/phpmyadmintest/commit/adfc8ebf58bf3068ed7634f61064e9067302fcc6 are good example
Now we still have work to do if we want to support custom arg separators

[2021-04-15 23:25] williamdes commented on #16826
Duplicate of #14969

[2021-04-15 23:26] williamdes commented on #16826
Relates to #15004

[2021-04-15 23:27] williamdes commented on #16826
Hi @Melnofil
Could you explain why you use a custom arg_separator ?

[2021-04-16 08:40] Draghmar commented on #16797
I think my locale is ok:
[code]
But this put me on the different track. I found that main default settings for `Dateformating` at `Settings->Main panel->Table structure` is set to:
![obraz](https://user-images.githubusercontent.com/275348/114996801-7aabcc00-9e9f-11eb-8857-2222f5ced2a6.png)
And I can't revert it by removing first `local` - after saving it's still like above. If I put there anything

[2021-04-16 09:49] 8ele8 opened #16827 "Cannot drop tables (from function in drop-down menu)"
### Describe the bug

Cannot drop a database table when using the function for that in the drop-down menu.
The request keeps hanging (showing only "loading....")

It happens only with the 'drop' function from the drop-down menu.
When trying to drop a table with a SQL query (under the tabs "SQL"), the query is executed successfully.

Issue noticed since phpMyadmin 5.1.0
(tried with phpMyAdmin 5.0.4

[2021-04-16 10:33] 8ele8 commented on #16827
This might actually be caused by some setup of Varnish on the servers.
This will be inspected - closing this issue for now.

[2021-04-16 10:33] #16827 closed

[2021-04-16 13:03] OlafvdSpek commented on #16605
Isn't master affected (too)?

https://demo.phpmyadmin.net/master-config/index.php?route=/database/structure&server=2&db=mysql

[2021-04-16 13:14] williamdes commented on #16605
Seems like you are right, maybe the rule does not apply because the th is in a tr

[2021-04-16 13:26] bradsi commented on #16605
Is demo on a different release as this change has only affected 5.1.1 so maybe the changes aren't reflecting on demo?

[2021-04-16 13:31] williamdes commented on #16605
I merged QA_5_1 into master, I can confirm the changes are there but seem not to work

[2021-04-16 13:45] bradsi commented on #16605
I will look into it and get a fix

[2021-04-16 16:56] liviuconcioiu opened #16829 "Add NOT LIKE %...% operator to Table search"
### Is your feature request related to a problem? Please describe.

Sometimes is handy to have the `NOT LIKE %...%` operator added to the drop down.

### Describe the solution you'd like

`NOT LIKE %...%` operator should be added to the drop down list of operators, in Table search.

### Additional context

Right now:
![1](https://user-images.githubusercontent.com/25424343/115058216-4e1aa300-9ee5-1

[2021-04-16 22:53] #16821 closed

[2021-04-16 22:53] #16792 closed

[2021-04-17 14:45] OlafvdSpek commented on #16759
It happened again.

[2021-04-17 14:47] OlafvdSpek opened #16832 "$cfg['TablePrimaryKeyOrder'] = 'desc';"
[code]

Could this be made the default?

[2021-04-17 15:20] Alexander-Ger-Reich opened #16833 "Replikation"
### Describe the bug

When I try to connect the slave to the master I get an error.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Replikation'
2. Click on 'configure'
3. Add User name, Password, Host and Port
4. See error

### ERROR

Error in processing request
Error code: 500
Error text: Internal Server Error (rejected)
It seems that the connection to server has been lost. Please

[2021-04-17 18:32] williamdes commented on #16833
Hi @Alexander-Ger-Reich
Could you check on your webservers logs and let me know what PHP error do you find ?

[2021-04-17 22:38] williamdes commented on #16797
Yeah, this is an issue we are working on
Thank you for sharing your thoughts and findings for this issue

For the settings, reset should reset to the default value or the default value the PHP config has (for the two cases the key (`DefaultTransformations\/DateFormat`) should be removed from the json value in `pma__userconfig`)
Let me know if this also what you would expect

[2021-04-18 15:39] kabicm opened #16834 "A typo in dataProviderScriptNames"
I believe this should be `databases` instead of `databasss`:

https://github.com/phpmyadmin/phpmyadmin/blob/996531152091d532b509185fb313c07b9ad78ba3/test/classes/UtilTest.php#L2213

[2021-04-18 19:41] williamdes commented on #16834
Nope ;)
See the line above where I said this is an intentional typo: https://github.com/phpmyadmin/phpmyadmin/blob/996531152091d532b509185fb313c07b9ad78ba3/test/classes/UtilTest.php#L2212

But thank you for the hint

[2021-04-18 19:41] #16834 closed

[2021-04-19 09:32] manusfreedom opened #16835 "Missing SQL format to export selected lines"
### Describe the bug

No SQL format to export selected lines of a table.

### To Reproduce

Steps to reproduce the behavior:
1. Go to "Browse" of a table
2. Select some lines using checkbox
3. Scroll down to click "Export" action (after "With selected:")
4. Missing SQL in "Format" select.

### Expected behavior

SQL format available.

### Screenshots

![image](https://user-images.githubusercontent

[2021-04-19 09:47] williamdes commented on #16835
Duplicate of #16703

[2021-04-19 09:48] williamdes commented on #16835
Hi @manusfreedom
You should definitely try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)
The issue you reported should be fixed :)

[2021-04-19 09:48] #16835 closed

[2021-04-19 16:54] williamdes opened #16836 "Extra spaces triggers Error message on edit binary"
### Describe the bug

Error message

### To Reproduce

Steps to reproduce the behavior:
1. Edit a binary value
2. Do no changes
3. Click out of the input
4. See error

### Expected behavior

No extra spaces => no error

### Screenshots

![image](https://user-images.githubusercontent.com/7784660/115274077-94b80980-a140-11eb-8597-ca23ec63eb08.png)
![image](https://user-images.githubusercontent.com/7

[2021-04-19 19:52] #16404 closed

[2021-04-19 19:52] #16810 closed

[2021-04-19 19:52] #15566 closed

[2021-04-19 19:52] #16777 closed

[2021-04-19 19:52] #16836 closed

[2021-04-19 19:54] williamdes commented on #16832
I would say no 🤔
[code]

cc @mauriciofauth for advice

[2021-04-19 19:55] OlafvdSpek commented on #16832
Why not? ;)

[2021-04-19 19:56] williamdes commented on #16679
Hi @ajtruckle
Do you still need some help for your charts ?
If yes could you please provide some test data and screenshots ?

[2021-04-19 19:57] williamdes commented on #16097
Closing this one, let me know if there is more to be said or an action to be done.

[2021-04-19 19:57] #16097 closed

[2021-04-19 19:58] williamdes commented on #15980
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

NB: try the latest snapshot from our [website](https://www.phpmyadmin.net/downloads/) ;)

[2021-04-19 19:58] #15980 closed

[2021-04-19 20:31] williamdes opened #16837 "Argument 1 passed to PhpMyAdmin\DatabaseInterface::escapeString() must be of the type string, null given"
### Describe the bug

PHP error on run query

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Run:
[code]

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 5.1

### Additional context

Found on the error reporting server

[2021-04-19 20:32] williamdes commented on #16837
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |Attempt to read property &quot;table&quot; on null
 Exception Type |php
 phpMyAdmin version |5.1.0
 Incident count | 1
 Link | [Report#70127](https://reports.phpmyadmin.net/reports/view/70127)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-19 22:49] williamdes opened #16838 "ReferenceError - JQPlotChartFactory is not defined"
JQPlotChartFactory is not defined

Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |JQPlotChartFactory is not defined
 Exception Type |js
 phpMyAdmin version |4.8.5
 Incident count | 14
 Link | [Report#57115](https://reports.phpmyadmin.net/reports/view/57115)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.

[2021-04-19 22:53] williamdes commented on #16838
In monitor select a time range, choose global journal in the modal
And click on a query from the table and then analyse it, and then click on graph.
![image](https://user-images.githubusercontent.com/7784660/115313006-c8138c00-a172-11eb-9b17-9b70992aecfb.png)

[2021-04-20 10:11] xaben commented on #16778
I had a similar issue today, digging deeper it seems I was running out of memory, changing to 512 didn't help either.

It looks like from version 5.1 large result sets are being downloaded from the DB.

I switched back to 5.0.4 and the issue is gone, so definitely a bug.

[2021-04-20 10:24] #16793 closed

[2021-04-20 10:26] williamdes commented on #16837
No more negative effects on phpMyAdmin, now waiting for an upstream fix
After update, fix test: bfb40ce681073e819cdae77314ecae749ab1a5a6

[2021-04-20 16:43] williamdes commented on #16778
Interesting, thank you for letting us know

[2021-04-20 16:54] williamdes commented on #16801
Confirmed, thank you for the report @evilKabab !

[2021-04-20 16:59] williamdes commented on #16801
[code]
Only text fields seem to be affected

[2021-04-20 17:00] williamdes commented on #16801
### Before fix
![Sélection_2021042019:00:08001](https://user-images.githubusercontent.com/7784660/115435955-b1207880-a20a-11eb-822e-7139b01fcf5a.jpg)
![Sélection_2021042018:59:52001](https://user-images.githubusercontent.com/7784660/115435970-b4b3ff80-a20a-11eb-9958-b2071223e30c.jpg)

[2021-04-20 17:08] williamdes commented on #16801
[code]

[code]

[2021-04-20 18:13] williamdes commented on #16794
Could be related to #16801

[2021-04-20 19:12] williamdes opened #16842 "Possible bugs on Percona DB"
As a follow up of #16839 I pushed 41e0d4dfb7817b21c82bc3a619a669487347adad to clean up the conditions. Also (d99da46f7a4ddeb1368e78521c99c7753dd41722 and aaaff9c307f1125de413aa092022de4ed19e2eeb are related commits)

I had to add `Compatibility::isMySql` and for me this is very disturbing because I did not hear that some MySQL features where not on PerconaDB

The work to do is:
- proove the condit

[2021-04-20 19:13] williamdes commented on #16842
cc @David-5-1

[2021-04-20 21:09] williamdes commented on #16759
After investigation I have no access to the demo server to fix this. Only @ibennetch can
But I re-built the snapshots 🚀

[2021-04-21 09:10] #16414 closed

[2021-04-21 09:13] williamdes commented on #16723
Hi @shucon
Would you want to do this one for QA ?

[2021-04-21 10:13] ibennetch commented on #16759
I have a thought why this might be, but won’t have a chance to check it
this morning.

As far as why the server drive keeps filling up, I have less of an idea,
but once I or William get access we will check it out.

[2021-04-21 10:14] ibennetch commented on #16759
I have a thought why this might be, but won’t have a chance to check it
this morning.

As far as why the server drive keeps filling up, I have less of an idea,
but once I or William get access we will check it out.

[2021-04-21 10:57] OlafvdSpek opened #16843 "Vertical alignment issue"
5.1.1-dev+20210420.2d9aad5ab2

Might be caused by labels having a 8px bottom margin.

![image](https://user-images.githubusercontent.com/2218936/115542819-f55e5800-a2a0-11eb-9f6d-1ce02b434a1e.png)

?route=/server/privileges&viewing_mode=server

[2021-04-21 17:08] shucon commented on #16723
Sure! But I might be able to work this week due to some unforseen circumstances. If it's urgent feel free to take it up.

[2021-04-22 13:00] williamdes commented on #16732
Hi @mcnaveen

Could you download on our website the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let us know if the issue persists ?

[2021-04-22 13:12] mcnaveen commented on #16732
Hi, Thanks for the follow up. I had this issue when I'm using PHPMyAdmin via Xampp. Now I'm using it directly.

Everything works well in `Version information: 4.9.5deb2` (Directly Installed, Not via XAMPP)

[2021-04-22 13:32] williamdes commented on #16732
Okay, thanks for the feedback :)

[2021-04-22 13:32] #16732 closed

[2021-04-23 00:14] williamdes commented on #16759
I got access and found a way to get each demo a bit more slim, should be okay now

[2021-04-23 11:18] liviuconcioiu opened #16845 "Links not passing through url.php"
### Describe the bug

I've noticed that a few links don't pass through url.php

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/
2. See the links for `RELEASE_5_1_0-841-ge0c1dea460` and `master`, found at the bottom of the page
3. See the link for `5.1.0` found on the right side on version information

### Expected behavior

Th

[2021-04-23 12:13] ophian opened #16846 "pma 5.1.0 CSS table action fields expands too wide when table amount real fields are low"
Assumingly by first time issue contribution, I sadly can't submit an easy screenshot which explains and shows the behaviour.
Its a table with two short id fields. My personal Page related setting is using symbols only. Browser Firefox.
The issue exists, while the table head field width is somehow calculated by amount of field items.

Adding
[code]
solves the problem.

It works fine for the symbols

[2021-04-23 12:16] surbhigupta96 commented on #16846
Unsubscribe

On Fri, 23 Apr 2021 at 5:44 PM, Ian ***@***.***> wrote:

[2021-04-23 12:16] objecttothis commented on #16664
I haven't had much time to work with this, but had a thought.  Perhaps there is something in the phpmyadmin database tables that are causing this issue.  Is there an easy way to reset the phpmyadmin installation, such as emptying the tables?  I don't know if phpmyadmin would automatically rebuild the tables, so didn't want to try it without asking.

[2021-04-23 12:18] williamdes commented on #16846
Hi @ophian
Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if your fix is still needed ?

[2021-04-23 12:20] williamdes commented on #16664
You can empty all the tables, that will work fine. Another way is delete all the tables, logout, login, in home footer click the link and choose to create the phpMyAdmin database.

[2021-04-23 12:29] ophian commented on #16846
@williamdes
Thanks for the hint.
Yes it is gone with current 5.1 snapshot.
Thats the
[code]
which has the same effect but is much better than my try.

[2021-04-23 12:29] #16846 closed

[2021-04-23 12:33] williamdes commented on #16845
Hi
Thank you for reporting this, I would not consider this a a bug but more that it was missed to use the URL system.
I will have to research to know if there is some kind of benefit to change the links you found to use the URL system

[2021-04-23 12:34] williamdes commented on #16846
Thank you for the feedback :)

[2021-04-23 12:55] objecttothis commented on #16664
OK, I dropped the phpmyadmin database that had all the pma tables in it, then recreated the phpmyadmin database and used the app to create all the pma tables after logging out then logging back in.  Unfortunately I'm still getting the same issue.  When I get some spare time I'll try testing on your demo server and see if the issue can be recreated with a mysqldump of one of my databases that has t

[2021-04-23 12:57] williamdes commented on #16771
Confirmed on a very large database, tested with 30k rows and it did work fine
But with 6M rows :smile: ..

[2021-04-23 13:18] williamdes commented on #16771
Just exported `7 127 129` rows generating `3,6 GiB (3 871 595 917 octets)` of valid data
[code]

Will publish the patch soon

[2021-04-23 14:08] williamdes opened #16847 "Export JSON issues with binary data"
- does not handle binary fields
- does not output text fields as text
- does not handle binary nullable data

### Server configuration

- phpMyAdmin version: 5.1

[2021-04-23 14:09] williamdes commented on #16847
[code]

[2021-04-23 14:14] williamdes commented on #16847
Dataset
[code]

[2021-04-23 16:02] williamdes commented on #14070
Hi @wci-aw
This issue is quite old, could you check the latest phpMyAdmin version if you still can reproduce this issue ?

[2021-04-23 16:48] #16771 closed

[2021-04-23 16:48] #14773 closed

[2021-04-23 16:48] #16847 closed

[2021-04-23 17:05] #16829 closed

[2021-04-23 18:49] williamdes commented on #14086
Implemented in https://github.com/phpmyadmin/phpmyadmin/commit/0b9e84e944ce32cc025f39913a38a288536c0f56
But:
[code]

`AuthLogSuccess` is a boolean, wrong implementation or wrong docs 🤔

[2021-04-23 20:22] williamdes commented on #14720
I tried to debug this, for now there is no flag preventing that more than one message get's logged.
See `common.inc.php` `Logging::logUser`

[2021-04-23 20:26] williamdes commented on #14086
Hi @basd82
Could you try the latest version ?
I could not reproduce this issue with the following config:
[code]

[2021-04-23 21:13] kabicm commented on #16834
Thanks William! Sorry for the confusion :)

[2021-04-23 22:04] williamdes commented on #14766
Just checked, there is no tmp dir anymore :)
Probably since 071124078df4fa2f54f412e2cd7356497bd6c152

[2021-04-23 22:04] #14766 closed

[2021-04-23 22:49] #16637 closed

[2021-04-23 22:56] williamdes commented on #12340
Hi Nick

Is this format generated by MySQL rather than by us ?

uploaded - perhaps this could even be a ZOOM meeting.  There is a lot of
new terminology and a bunch of steps where I'm not sure what they really
do.  I think I have the necessary software packages loaded (Node.js, GitHub
Desktop, ...) but am disappointed that I can't seem to get things uploaded
into GIT properly.
Thanks for your conc

[2021-04-23 22:57] williamdes commented on #13916
Hi @sunghwan2789
Could you try the latest available version ?

[2021-04-23 23:56] williamdes commented on #16692
Hi @mrdimka
I could not reproduce this issue, would you mind trying the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) ?
Also checking that your browser does not block requests would help :)

[2021-04-23 23:58] williamdes commented on #16734
I could not confirm this, even using a Docker container with very little RAM
Could you help reproducing this issue ?

[2021-04-24 01:46] williamdes commented on #16160
Hi @AndrewSverdrup
Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) ?

[2021-04-24 06:45] OlafvdSpek commented on #16734
Are you using PHP 8.0 with memory_limit = 128M (the default)? The amount of RAM shouldn't matter.
How did you enable the query log? Do you see the second query without limit?

[2021-04-24 09:47] williamdes commented on #16734
I am trying to debug this on QA but for now did not find any evidence.
Could you apply manually this patch ? (that will help understand the process)
And maybe post the logs here afterwards please :)
[code]

[2021-04-24 09:48] joffreycarle commented on #16843
Hi @OlafvdSpek!
Just installed PMA locally to fix this and also to give my first open source contribution as PMA helped me many times.
I had `yarn install && composer install` from master and then checked out 2d9aad5ab2 without `yarn install` and the issue wasn't there.
After doing `yarn install` on the concerned commit, the issue is here.
Should I still fix it or let future merges fix it?
Thanks.

[2021-04-24 09:59] OlafvdSpek opened #16849 "Your privilege table structure seems to be older than this MySQL version!"
[code]

https://demo.phpmyadmin.net/master-config/index.php?route=/server/privileges&viewing_mode=server

[2021-04-24 10:07] OlafvdSpek commented on #16734
`route=/table/search`

[2021-04-24 10:11] williamdes commented on #16734
Here is my current hack, they are hard to find but should be in a `/var/log`.
If you apply it, that should help debug even more. I added `C` for cached or not
[code]

[2021-04-24 10:17] OlafvdSpek commented on #16734
`if ($GLOBALS['cfg']['DBG']['sqllog']) {` ;)

[2021-04-24 10:34] shucon commented on #16723
Working on it

[2021-04-24 10:42] williamdes commented on #16843
This is strange because you should not have a working UI without the yarn step that does `js-compile` and `css-compile`

You can fix it, I confirmed the issue yesterday :)
But you need to use `QA_5_1` as a base branch and re-run `composer update && yarn` for this fix because it also affects 5.1 verions

Welcome !
Let me know if you need some help

[2021-04-24 10:56] williamdes commented on #16734
I have only one fix in mind that could cause such an issue, and it is the issue #15652
If you revert #16470 does it work ?

[2021-04-24 11:13] williamdes commented on #15295
Hi @aschuch247
Could you check if the issue is fixed on the latest version ?

[2021-04-24 11:49] OlafvdSpek commented on #16734
[code]

[2021-04-24 13:34] williamdes commented on #16734
I did some updates to my deploy container to be able to use it locally
https://github.com/sudo-bot/gh-deployer-container#skip-deploy-and-use-your-workspace-folder

I think I have reproduced it, depending on my research criteria it crashes or not the fpm thread

[2021-04-24 13:38] williamdes commented on #16734
Reverting the #16470 fixes the issue

cc @ibennetch this issue is release blocking until fixed, working on it

[2021-04-24 14:06] williamdes commented on #16734
Hi @OlafvdSpek
I think I have a fix, could you try it please ?
[code]

[2021-04-24 15:55] mrdimka commented on #16692
I have tried with the latest snapshot and I got this fatal javascript error

{
    "pma_version": "5.1.1-dev+20210423.07bf86b483",
    "browser_name": "FIREFOX",
    "browser_version": "87.0",
    "user_os": "Linux",
    "server_software": "Apache",
    "user_agent_string": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:87.0) Gecko/20100101 Firefox/87.0",
    "locale": "en",
    "configuration_storag

[2021-04-24 16:20] williamdes commented on #16692
Thank you @mrdimka
Did you have errors in your browser's console ?
If you browse  one of the demo servers (`root`, no password) do you have the same issue ?
- [`5.2.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.1.x-dev`](https://demo.phpmyadmin.net/QA_5_1/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2021-04-24 16:27] sunghwan2789 commented on #13916
Hi @williamdes

I upgraded my server apps and tested again:
* Windows Server 2019
* Microsoft-IIS/10.0
* php-8.0.3-nts-Win32-vs16-x64
* mariadb-10.5.9-winx64
* phpMyAdmin-5.1.0-all-languages

As a result, phpMyAdmin still hangs then exeeds execution time limit if **server host** is `'.'` in `config.inc.php`.

I could login after commenting out below code, but it is super unstable and throws 500 in

[2021-04-24 16:35] williamdes commented on #13916
HI @sunghwan2789
Thank you for the feedback, could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) to see if the errors 500 are fixed ?

Do not forget to send the error reports to our back-end or post them here :)

[2021-04-24 16:41] mrdimka commented on #16692
@williamdes I have tried on the demo servers and I don't see any issue

[2021-04-24 16:54] OlafvdSpek commented on #16734
If the original query is like `select count(*) from users`, the result set size is 1, but wouldn't your query return something different?

[2021-04-24 17:36] sunghwan2789 commented on #13916
snapshot build produces same result. It hangs or super unstable.

I get this error in php_error.logs when phpMyAdmin hangs:
[code]

I get this error from IIS when 500 Internal Server Error happens:

<body contenteditable=""><fieldset class="no-border" id="section_detail_46"><a name="detail_46">46.                 </a> <a><span class="expand-collapse" id="section_detail_46_button">-</span>NOTIFY_MO

[2021-04-24 20:32] williamdes commented on #13916
I coded this script quickly, and one thing I found out is that I found out is that the port needs to be `0` or it will not connect.
Checking now how to fix this in phpMyAdmin
[code]

[2021-04-24 21:01] williamdes commented on #13916
I now can login in phpMyAdmin after commenting the line you mentionned
Continuing to debug, I can also confirm there is errors 500 that display

[2021-04-24 21:34] williamdes commented on #16734
It should not, the replacing will give the same query as the input and count

The snapshots are up to date, let me know if you find something I missed

[2021-04-24 21:41] williamdes commented on #13916
Here is my working config. I think you can not connect 2 connexions on the same named pipe in parallel.
Let me know if you can confirm that
[code]

[2021-04-24 23:07] #16845 closed

[2021-04-25 07:47] OlafvdSpek commented on #16734
https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=mysql&table=help_relation&pos=0&server=1

![image](https://user-images.githubusercontent.com/2218936/115985255-488b2000-a5ab-11eb-98be-48870c4583c8.png)

[2021-04-25 08:19] williamdes commented on #16734
Should be: (4.9 output)
![Screenshot_20210425_101731_com brave browser](https://user-images.githubusercontent.com/7784660/115986250-9efa5d80-a5af-11eb-8709-4ec479dbc12a.jpg)
![Screenshot_20210425_101209_com brave browser](https://user-images.githubusercontent.com/7784660/115986255-a3267b00-a5af-11eb-94c3-2b2a4089f630.jpg)

[2021-04-25 11:41] williamdes commented on #16734
I think I have an idea on how to patch this
[code]
The would give the maximum rows in an easy way
As far as I can think that would be a solution for all queries

[2021-04-25 11:57] sunghwan2789 commented on #13916
With the controlhost options, I could login without modifying below phpMyAdmin code, but it still displays 500 errors:

[code]

![image](https://user-images.githubusercontent.com/4927894/115992420-a732b700-a608-11eb-9f66-6c2ec565451f.png)

Here is my config!

[code]

[2021-04-25 12:06] williamdes commented on #13916
I am glad it works !
I spent hours yesterday on IIS and never could get the actual 500 error message, do you have them in your logs ?

[2021-04-25 12:14] sunghwan2789 commented on #13916
@williamdes I sent your an email with IIS logs.
btw, it is a sad thing that PHP cannot open more than 2 named pipe mysql connections.

[2021-04-25 12:17] williamdes commented on #13916
I am not even sure this is a PHP thing, I think if you open your MySQL command line on the pipe phpMyAdmin would not work from what I could debug yesterday

Thank you for the logs :) (williamdes@wdes.fr)

[2021-04-25 12:25] shucon commented on #16838
Can you please elaborate on a way to reproduce the issue?

[2021-04-25 12:25] sunghwan2789 commented on #13916
I got something!!

If I run below script, 500 error happens occasinally (success sometimes).

[code]

[2021-04-25 12:33] williamdes commented on #13916
If I run below script, 500 error happens occasinally (success sometimes).

Gosh, I had the same behavior on phpMyAdmin yesterday. It was failing requests for no reason and after a <kbd>F5</kbd> it would maybe work

By the way I coded a script similar but did not post it, but I connected the two connexions and then asked to fetch data to each connection. That reproduced the infinite hanging issue

[2021-04-25 12:38] #16723 closed

[2021-04-25 12:44] williamdes commented on #13916
From the logs you sent is seems the errors are related to this route `route=/config/get`, is your configuration storage connexion settings working on a MySQL CLI ?

[2021-04-25 12:45] nunoperalta commented on #16832
@williamdes - what would be really useful to me would be that when I click on a column name, the default is to sort DESC.

99% of the times I want to sort a column, it is DESC, but I always have to press twice, because the first sort is ASC.
This is inconvenient many times, especially when the query is expensive (full table scan).

I was looking at the tooltip that explains the shortcuts, but ther

[2021-04-25 12:47] sunghwan2789 commented on #13916
It seems that error happens on any route:

![image](https://user-images.githubusercontent.com/4927894/115993887-bd904100-a60f-11eb-988e-339266035877.png)

[2021-04-25 12:53] nunoperalta commented on #16832
Well, there's the "Order" config that can be set to "DESC".

The SMART option only does it for TIME, DATE, DATETIME and TIMESTAMP.
However, I use Unix timestamps (UNSIGNED INT) for Time, so this option was never useful to me in the past.

I changed it to "DESC" to try, but the columns seem to be still sorting ascending by default. Not sure if it's a bug or not...

[2021-04-25 12:54] williamdes commented on #16832
This setting exists :) https://docs.phpmyadmin.net/en/latest/config.html#cfg_TablePrimaryKeyOrder

I am not in favor of changing any default value of config variables, but I am open to feature requests ;)

[2021-04-25 12:56] nunoperalta commented on #16832
That's only for Primary Key, isn't it? I'm saying when I click on some other column to sort. I'd like if the default could be DESC.

![image](https://user-images.githubusercontent.com/487079/115994223-f9a2b200-a5cd-11eb-8af9-1872177f90bb.png)

[2021-04-25 13:01] williamdes commented on #16832
Yes, seems to be only for the primary key. That makes sense with the naming of the config variable.
Adding one more config variable seems like an idea
https://github.com/phpmyadmin/phpmyadmin/blob/51e17b81233a267e0d8c3fc9d2e0051f6ca666dd/libraries/classes/Sql.php#L539-L559

[2021-04-25 13:05] williamdes commented on #16838
![CPT2104251505-800x388](https://user-images.githubusercontent.com/7784660/115994527-a897bb80-a5d7-11eb-8ee4-277651a403d5.gif)

[2021-04-25 13:07] williamdes commented on #16838
And if you can not reproduce the issue, do a <kbd>F5</kbd> on the stats page. This issue seems like there is a missing script loading somewhere.

[2021-04-25 13:28] sunghwan2789 commented on #13916
Hi I think this is related to PHP.
I checked it using PHP Development Server.

Opening 2 named pipe mysql connection hangs:
[code]

Opening 1 named pipe and 1 tcp mysql connection kills PHP itself:
[code]
( expecting `[::1]:12178` and `[::1]:12179`)

and recorded an application error in event log viewer:
[code]

[2021-04-25 13:36] williamdes commented on #13916
Maybe we should document that or find someone that knows more about this

Do you mean error 500 or just process kill ?

[2021-04-25 13:38] williamdes commented on #16420
Will be fixed in 5.1.1
For now it reverts #14411 and I hope to get it back fixed before the release, anyway I was the reporter so it is not a big deal

[2021-04-25 13:39] sunghwan2789 commented on #13916
Using PHP Development Server, the process is just killed and Windows logged the error to event log viewer.

[2021-04-25 13:40] #16420 closed

[2021-04-25 13:42] williamdes commented on #13916
I will try to make named pipes on Linux to see what happens
If you find some documentation about named pipes let me know

[2021-04-25 13:43] williamdes commented on #16599
🏓

[2021-04-25 13:44] nunoperalta commented on #16832
Thank you. But, isn't what this one is for?

https://docs.phpmyadmin.net/en/latest/config.html#cfg_Order

Just doesn't seem to be working (what I said above).

[2021-04-25 13:45] williamdes commented on #16013
If anyone could try a 5.1 version and let us know, I would consider this request as done 🤔

[2021-04-25 13:48] williamdes commented on #16692
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |“mysqlDocKeyword”未定义
 Exception Type |js
 phpMyAdmin version |5.0.1
 Incident count | 20
 Link | [Report#63325](https://reports.phpmyadmin.net/reports/view/63325)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-25 13:49] OlafvdSpek commented on #16832
That'd be a bug, wouldn't it? Could you file a bug report for it?

[2021-04-25 13:49] williamdes commented on #16692
The first time this was reported automatically was in `5.0.1`
Could you check that your browser is not blocking the script ?

[2021-04-25 13:53] nunoperalta opened #16851 "Default column order doesn't have have any effect (`$cfg['Order']`) since phpMyAdmin 4.2.0"
Changed this option to "DESC":

![image](https://user-images.githubusercontent.com/487079/115996038-a59bcb80-a5d5-11eb-9f57-b6e31ddddd48.png)

Logged out, logged in,
Go to a table, click on a column to sort, but still defaulting to "ASC":

![image](https://user-images.githubusercontent.com/487079/115996069-c106d680-a5d5-11eb-9f01-eb731e8c1409.png)
![image](https://user-images.githubusercontent.com

[2021-04-25 13:53] nunoperalta commented on #16832
#16851 16851

[2021-04-25 13:53] ibennetch commented on #13916
You've both done quite a bit of interesting research on the matter.

This would be interesting. I've seen no documentation commenting on this either way.

Named Pipes are only available on Windows.

Good luck, there doesn't seem to be very much at all about using MySQL with them.

[2021-04-25 13:53] williamdes commented on #16832
It works when you click on a table name to browse it, but seems only to work in some cases.
Here is one:
[code]

[2021-04-25 13:55] williamdes commented on #16832
Initial feature: 7969336d04177cd58cc1e4fc7210ee99bedb9d49

Source: https://sourceforge.net/p/phpmyadmin/feature-requests/1502/

[2021-04-25 13:56] OlafvdSpek commented on #16832
This seems broken when the primary key spans multiple columns.. the code would only sort on the last column in the key.

[2021-04-25 13:57] williamdes commented on #16851
Could you send a table structure please ?

[2021-04-25 14:00] nunoperalta commented on #16851
[code]

Click on the "time" column to sort. Defaults to ASC instead of DESC.

[2021-04-25 14:00] williamdes commented on #13916
https://www.linuxjournal.com/article/2156
https://www.networkworld.com/article/3251853/why-use-named-pipes-on-linux.html

I am not quite sure, will double check that ;)

[2021-04-25 14:02] williamdes commented on #16851
yeah but this is not the initial feature code, so this is more like something we would expect but was never thought about if I am right

Ref: https://github.com/phpmyadmin/phpmyadmin/issues/16832#issuecomment-826328774

[2021-04-25 14:04] ibennetch commented on #13916
Interesting…I was going by https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_named_pipe

Perhaps MySQL has decided not to implement this aspect on Linux?

[2021-04-25 14:04] OlafvdSpek commented on #16851
@williamdes $cfg['Order'] is something else than #16832 isn't it?

[2021-04-25 14:07] williamdes commented on #16851
Yes: https://docs.phpmyadmin.net/en/latest/config.html#cfg_Order

That would not apply to the `time` column, right ?

[2021-04-25 14:07] williamdes commented on #16851
@nunoperalta Did you open this issue for `$cfg['Order']` ?

[2021-04-25 14:08] nunoperalta commented on #16851
@williamdes You seem to be talking about this:

https://docs.phpmyadmin.net/en/latest/config.html#cfg_TablePrimaryKeyOrder

However, I'm talking about this:

https://docs.phpmyadmin.net/en/latest/config.html#cfg_Order

"Default column order", which is not for primary key.

I want to set a default sort for when I click ANY column to sort.

[2021-04-25 14:09] nunoperalta commented on #16851
Not if I set "SMART"

But if I set "DESC", it should apply to any column, no matter what the data type is.

[2021-04-25 14:10] williamdes commented on #13916
From: https://raw.githubusercontent.com/williamdes/mariadb-mysql-kbs/main/dist/merged-raw.md

## named_pipe
|name|value|
|----|-----|
|Name|`named_pipe`|
|Command line|`--named-pipe[={OFF|ON}]`|
|Type of variable|`boolean`|
|Scope|`global`|
|Default value|`OFF`|
|Dynamic|`false`|

### Documentation(s)
|source|anchor name|
|------|----|
|mariadb.com|[named_pipe](https://mariadb.com/kb/en/library/do

[2021-04-25 14:12] williamdes commented on #16851
Okay, well I will check the code and let you know if this is the original design so we can decide on what branch to fix it ;)

[2021-04-25 14:13] williamdes commented on #16734
@ibennetch could you give some advice on this one please ?

[2021-04-25 15:31] mrdimka commented on #16692
It seems that the problem was in the apache configuration

Failed to load resource: the server responded with a status of 404 (Not Found)

[2021-04-25 15:37] mrdimka commented on #16692
It seems that this was something that had to do with my apache's htaccess configuration
For security reasons in order not to expose phpmyadmin version I had the following
[code]
When I have checked browser's developer tools I ve noticed something like this
[code]

I have changed that to
[code]
A "/" after doc did the trick and now it seems that I don't have the same issue.

[2021-04-25 15:50] williamdes commented on #16692
I am glad to know that, is there something else not working now ?

[2021-04-25 15:59] williamdes commented on #16528
Thank you @r1si for the CSS code, it could be shortened to `@media only screen and (max-width: 768px) { .sticky {  top: auto; } }`
Changing the actual `.sticky` to  ` top: auto;` seems to also be a solution

[2021-04-25 16:03] williamdes commented on #16437
Hi @marto55555
What about just changing top to ` top: auto;`, I do not see any negative effects

[2021-04-25 17:07] NKarasek commented on #12340
Good morning William - afternoon where you are, of course.

I'm pretty sure that it actually is PMA that is formatting the
constraint name as _ibfk_nn.  The only restriction on the name is that it
be unique - hence the _nn tail, (database and table are the head as I'm
sure you know.)

My version of designer goes through the same process as I expect PMA does
in defining the fully qualified name for

[2021-04-25 19:02] liviuconcioiu opened #16853 "A TypeError is thrown when using Designer"
### Describe the bug

A TypeError is thrown when using Designer.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/
2. Select a database
3. Click on Designer
4. Click on Move Menu
5. Click on Delete pages
6. See error

### Screenshots

![1](https://user-images.githubusercontent.com/25424343/116005867-24f6c280-a609-11eb-884d-9be7

[2021-04-25 19:04] williamdes opened #16854 "Undefined index: SERVER_SOFTWARE"
Source: https://github.com/phpmyadmin/docker/issues/327

With very minimal FPM configs this can be not defined

[2021-04-25 19:05] williamdes commented on #16854
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: SERVER_SOFTWARE
 Exception Type |php
 phpMyAdmin version |4.8.1
 Incident count | 11
 Link | [Report#50819](https://reports.phpmyadmin.net/reports/view/50819)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-25 19:39] williamdes commented on #16853
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'transaction' of null
 Exception Type |js
 phpMyAdmin version |4.8.3
 Incident count | 376
 Link | [Report#52586](https://reports.phpmyadmin.net/reports/view/52586)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2021-04-25 19:40] williamdes commented on #16853
I think this also affects 5.1, right?

[2021-04-25 20:44] liviuconcioiu commented on #16853
Yes.

[2021-04-26 08:07] garak commented on #16013
I just tried with 5.1 and I don't see any of the reported issues addressed...

binary uuids are still:

* presented in a non-readable format (e.g. "0xf4a1cd70a66511eba3580242ac170003")
* not linked to FKs
* linked to download a binary for PKs
* unsearchable

[2021-04-26 10:05] amira-98 commented on #16449
I am using debian with phpmyadmin 5.0.4 and still having the same problem :/

[2021-04-26 11:35] williamdes commented on #16449
Hi @amira-98
You should install the latest version from our [website](https://www.phpmyadmin.net/downloads/) :)

[2021-04-26 11:37] williamdes commented on #16013
Could you clarify "not linked to FKs" ?

What format did you expect ?

Could be better

Could be better too

[2021-04-26 11:49] garak commented on #16013
Normally, a FK is linked to related row. If, for example, you have a table "post" with a FK "author_id", when you browse the table each column of "author_id" is linked to a row of "author" table.

The one obtained when you transform the binary to string.

[2021-04-26 14:15] Frankkkkk opened #16856 "IPv6 servers: don't enforce brackets"
### Is your feature request related to a problem? Please describe.

When connecting to MySQL servers via their IPv6, the inserted IPv6 in the login page (`Server` field) must be enclosed in brackets.

However, the field is a host type, and not an URL one, so these brackets are not necessary

### Describe the solution you'd like

Brackets around an IPv6 address should not be needed

### Describe al

[2021-04-26 22:49] AndrewSverdrup commented on #16160
@williamdes Yes I will give the latest version a try today or tomorrow and report back.

[2021-04-27 06:59] MurzNN opened #16858 "Add ability to fix unit type of output numbers in single output block to not mix µs/ms/s and MiB/KiB in one interface table"
### Is your feature request related to a problem? Please describe.

Very often we looking at phpMyAdmin tabled output data to find most large or most small values, but phpMyAdmin converts each number to nearby unit separately for best displaying.

That's good for viewing single number, but too bad when we see many related numbers! It's too hard to quickly notice large values and differ from small

[2021-04-27 14:46] joffreycarle commented on #16843
@williamdes : Sorry, I just read again my post and it isn't clear.
I meant that I did the `composer update && yarn` when I've cloned the repo but not again when I checked out 2d9aad5
That's why at first, I didn't have the issue I guess.
Anyway, I will base on `QA_5_1`, open a branch for the fix and ask for a PR.

[2021-04-27 17:40] williamdes opened #16860 "[MariaDB 10.5] New INET 6 Data Type"
### Describe the bug

https://mariadb.com/kb/en/changes-improvements-in-mariadb-105/#inet-6-data-type

Check if there is something to implement

### Server configuration

- phpMyAdmin version: 5.1

[2021-04-27 17:42] williamdes opened #16861 "[MariaDB 10.5] Privileges changes"
### Describe the bug

https://mariadb.com/kb/en/changes-improvements-in-mariadb-105/#privileges-made-more-granular

Maybe something to implement

### Server configuration

- phpMyAdmin version: 5.1

[2021-04-27 18:01] OlafvdSpek commented on #16858
That one can be sorted, so it's less of an issue.

[2021-04-27 18:05] liviuconcioiu opened #16862 "phpMyAdmin logs out if session folder has wrong permissions"
### Describe the bug

I was logged on phpMyAdmin version when I updated PHP version to 8.0.5. It changed permissions from 777 to 770. When I refreshed the phpMyAdmin this error was given
[code]

After changing permissions back to 777, and refreshed the page, I was logged out. I don't know if it was supposed to do this or no.

### To Reproduce

Steps to reproduce the behavior:
1. Log in on phpMyAdm

[2021-04-27 18:24] AndrewSverdrup commented on #16160
It's fixed! The menubar no longer overlaps the page content:
![Screen Shot 2021-04-26 at 11 52 21 PM](https://user-images.githubusercontent.com/17505741/116199492-074e5980-a6ec-11eb-8ce3-422dfbf42f90.png)

A couple more notes:
* I'm loading this page in an iFrame that is not the full width of the page which is why the menubar is collapsed into the hamburger icon.
* The loading alert shown in the s

[2021-04-27 18:51] williamdes commented on #16160
Could you let me know what request does fail from your developer console ?

Yeah, please open one

[2021-04-27 18:53] williamdes commented on #16862
I am not sure that this is an issue in our code base 🤔

[2021-04-27 20:15] williamdes opened #16863 "Illegal offset type in isset or empty on Replication configure replica"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to Replication
2. Configure a replica
3. Make it fail because the account has not the good rights

### Expected behavior

Error message

### Screenshots

PHP error

### Server configuration

- phpMyAdmin version: 5.1

[2021-04-27 20:37] williamdes commented on #15642
I agree about this !

[2021-04-27 23:13] williamdes commented on #16860
Seems like everything is okay

[2021-04-27 23:13] #16860 closed

[2021-04-27 23:46] williamdes commented on #16861
Some are missing in the UI: https://dev.mysql.com/doc/refman/8.0/en/privileges-provided.html

[2021-04-28 00:19] #16854 closed

[2021-04-28 00:19] #16863 closed

[2021-04-28 00:20] williamdes commented on #16853
Would you mind providing a fix for this issue ?
I am not sure how to reproduce it :)

[2021-04-28 08:19] Daijobou opened #16864 "GUI: Little improvement for list of tables"
See PhpMyAdmin version 5.1.0 in Plesk Obsidian with a single database and many tables.
![image](https://user-images.githubusercontent.com/260343/116369683-eed46100-a809-11eb-8483-698d69f5539f.png)

The last table is not good to read or select. I have this issue in Chrome. This happens when the horizontal scrollbar is displayed. The scroll bar is in the lowest position.

[2021-04-28 10:28] mdzidic commented on #16785
This solution fixed the issue, thanks!

[2021-04-28 14:21] #16692 closed

[2021-04-28 17:01] williamdes commented on #16382
I just tried to migrate but I think there is no way to make it work, the `apc.rfc1867` was removed: https://github.com/krakjoe/apcu/issues/349

[2021-04-28 18:58] williamdes commented on #16382
Confirmed upstream: https://github.com/krakjoe/apcu/issues/349#issuecomment-828692711

Working on removing the code

[2021-04-28 19:14] williamdes commented on #16502
That would probably cause too much memory consumption
Closing for now

[2021-04-28 19:14] #16502 closed

[2021-04-28 20:34] misana99 opened #16867 "Error massage"
Error massage should be displayed if by any chance comma character will be added in SQL keywords as once its there query can't be executed.
For example see the comma after WHERE reserved word.

UPDATE table_name SET column_name = value WHERE, column_name = value;

Tag >>>> php msqli

[2021-04-28 20:41] #16867 closed

[2021-04-28 21:07] #16382 closed

[2021-04-29 01:49] #16843 closed

[2021-04-29 10:41] MurzNN opened #16869 "Execution time (Query took XX seconds) isn't showing for SELECT COUNT(*) queries"
### Describe the bug

When I execute queries like  `SELECT COUNT(*) FROM my_table` - query execution time isn't shown.

### To Reproduce

Steps to reproduce the behavior:
1. Execute the `SELECT * FROM my_table` query - see the yellow line with query execution time like:
[code]
2. Execute the `SELECT COUNT(*) FROM my_table` query - see the yellow line *without* query execution time like:
[code]

##

[2021-04-29 13:21] williamdes commented on #16833
Hi @Alexander-Ger-Reich
I think this issue was the same as #16863
You should try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot).
Let me know if it is fixed

[2021-04-29 13:21] #16833 closed

[2021-04-29 13:22] williamdes commented on #16833
Duplicate of #16863

[2021-04-29 13:24] williamdes commented on #16808
Duplicate of #16734

[2021-04-29 13:25] williamdes commented on #16808
Indeed this was a real error report,  I now understand it.
Please follow the progress in #16734
(it is fixed but the fix would need one more adjustment, please comment on #16734 to help)

[2021-04-29 13:25] #16808 closed

[2021-04-29 13:30] williamdes commented on #16778
It looks like #16734

Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if it is fixed ?

[2021-04-29 13:32] williamdes commented on #16664
Hi @objecttothis
Would you be able to extract tables structures that are problematic ?

[2021-04-29 13:34] williamdes commented on #16599
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-04-29 13:34] #16599 closed

[2021-04-29 13:37] williamdes commented on #16813
I confirm that I could reproduce this issue, thank you for reporting it

[2021-04-29 14:29] objecttothis commented on #16664
What is strange to me is that doesn't error on the same table each time.  It's always the same error about a duplicate primary key, but sometimes it happens on the 1st table and other times it's 4 tables into the copying.  I have been pretty slammed with other dev tasks so I haven't been able to get to this.  I might try downgrading the version of phpmyadmin to find the last one that didn't have t

[2021-04-29 16:20] liviuconcioiu commented on #16869
Also, query execution time isn't shown for `OPTIMIZE TABLE tbl_name;`

[2021-04-29 18:08] williamdes opened #16870 "JS errors on normalisation process"
### Describe the bug

[code]

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to normalisation
2. Choose "1FN + 2FN + 3FN" and continue
3. On next step choose no column
3. On next step choose to add a new primary key
4. Click save

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 5.1

[2021-04-29 18:25] williamdes opened #16871 "Call to a member function getColumns() on bool on normalization"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Follow #16870

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 5.1

[2021-04-29 19:06] williamdes commented on #16871
Also
[code]

[2021-04-29 19:15] williamdes commented on #16871
Also

[code]

[2021-04-29 20:11] williamdes commented on #16871
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |dataParsed is null
 Exception Type |js
 phpMyAdmin version |5.1.0
 Incident count | 2
 Link | [Report#70239](https://reports.phpmyadmin.net/reports/view/70239)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*