[2018-06-08 11:33] AKhrulev opened #14370 "WHERE 0 causes Fatal error"
### Steps to reproduce
Execute query like this on any table:

SELECT * FROM `benchmarks` WHERE 0

### Expected behaviour
Result of query

### Actual behaviour
Fatal error: Uncaught TypeError: Argument 4 passed to PhpMyAdmin\Util::getUniqueCondition() must be of the type array, null given, called in D:\var\domains\admin\phpMyAdmin\libraries\classes\Display\Results.php on line 4740 and defined in D:

[2018-06-08 11:49] OlafvdSpek opened #14371 "Support expressions for field defaults"
MariaDB 10.2 supports expressions for field defaults. However pMA escapes and quotes the expression, causing it to become an ordinary string.

[code]

https://mariadb.com/kb/en/library/create-table/#default

[2018-06-08 15:00] williamdes commented on #14314
@nulll-pointer +1

[2018-06-08 15:02] williamdes commented on #14369
Increase timeouts on nginx and php-fpm and try again :)
https://stackoverflow.com/questions/18740635/nginx-upstream-timed-out-110-connection-timed-out-while-reading-response-hea

[2018-06-08 15:46] williamdes commented on #14367
Duplicate of  #14323 closed in https://github.com/phpmyadmin/phpmyadmin/commit/2a34c018633764ab0149d453dd2c8bfc8e79396f

[2018-06-08 15:50] devenbansod commented on #14367
Thanks @williamdes for pointing it out.

[2018-06-08 15:50] #14367 closed

[2018-06-08 17:27] PyIter commented on #14370
Good evening,

This is expected behavior.

Your query should be like this:

SELECT * FROM benchmarks WHERE column_name = 0

You need to specify the column that you want the use for the WHERE clause.

SELECT * FROM benchmarks WHERE fps = 60

If you want to use the WHERE clause on multiple columns:

SELECT * FROM benchmarks WHERE fps = 60 AND score = 1000
or:
SELECT * FROM benchmarks WHERE fps = 60

[2018-06-08 17:53] AKhrulev commented on #14370
This is what I expect:
- If query is correct then show result.
- If query is incorrect then show DB error message

What I do not expect: uncaught exception fatal error messages.

The query in bug description is correct (MySQL executes it with empty result), so I expect **empty result**.

[2018-06-08 17:57] williamdes commented on #14370
This is a regression, works fine in `4.7.9`

[2018-06-08 20:54] lem9 commented on #12731
Here a way to better see the missing "No change" problem, as tested in 4.8.1. Click on Structure, then for date_add click on Change, change nothing then click on Preview SQL: you get the "No change" message. Repeat for date_update and you get a generated statement, although you changed nothing.

If there are really two issues in this report, I suggest to split it.

[2018-06-09 09:30] nulll-pointer commented on #14370
I cannot reproduce this,
PHP 7.1.14
apache 2.4.49
mariadb 10.2.1

[2018-06-09 09:31] williamdes commented on #14370
@nulll-pointer version of phpMyAdmin ?

[2018-06-09 14:55] williamdes commented on #13032
@nijel I am working on this issue.
Seems to break the designer only if the database has no tables.

[2018-06-09 15:04] ibennetch opened #14373 "Uncaught TypeError with htmlspecialchars() on the SQL tab"
With current master, when I click the SQL tab I get this error:

[2018-06-09 15:06] #14373 closed

[2018-06-09 15:37] williamdes opened #14374 "Structure broken"
### Steps to reproduce
1. Install phpmyadmin 5.0.0-dev
2. Execute :
[code]
3. Go to this table structure

### Infos
Introduced by commit 093ed726981d660515116ceae13d2e574727f746

https://github.com/phpmyadmin/phpmyadmin/blob/613a146e97e34e6b05d7c8c6de15afdb39d8da2b/templates/table/structure/table_structure_row.twig#L6-L8

### Expected behaviour
Show structure like in `4.8.1`
![pma 4.8.1](https://u

[2018-06-09 15:47] williamdes opened #14375 "ERR_BLOCKED_BY_XSS_AUDITOR on export table"
PMA `4.7.9` shows an empty box
### Steps to reproduce
1. Install phpmyadmin `4.8.1`
2. Execute:
[code]
3. Try to export the table **with "View output as text"**

### Expected behaviour
Show export text

### Actual behaviour
Browser error.
Chrome, Yandex Browser.
![chome](https://user-images.githubusercontent.com/7784660/41193473-7ba934b2-6c0c-11e8-8c66-a730d1ef7a55.jpg)
![yandex browser](https://u

[2018-06-09 20:07] williamdes commented on #14374
@nijel Security issue ?

[2018-06-09 20:20] nijel commented on #14374
Probably, we usually do PMASA for these kind of things, eg. https://www.phpmyadmin.net/security/PMASA-2016-30/

[2018-06-10 08:17] fengkaijia opened #14378 ""Add user account" button disabled with MySQL 8"
### Steps to reproduce
1. Create a user in the command line using a command like: `CREATE USER 'root'@'10.0.0.1' IDENTIFIED BY '***';
GRANT ALL PRIVILEGES ON *.* TO 'root'@'10.0.0.1' WITH GRANT OPTION;` on a MySQL 8.0.11 server.
2. Login phpmyadmin using the newly created credential;
3. Visit "User accounts" page.

### Expected behaviour
This user should see the "Add user account" button and shoul

[2018-06-10 08:47] williamdes commented on #13948
@teshukatepalli ?

@drexlma Try 4.8.1 please

[2018-06-10 11:17] fengkaijia commented on #14378
Close as it only happens when $cfg['Servers'][$i]['controlhost'] is set. Will do some digging later.

[2018-06-10 11:17] #14378 closed

[2018-06-10 13:04] lem9 commented on #12729
Cannot reproduce in 4.8.1.

[2018-06-10 13:30] ibennetch commented on #14329
I've tried to improve our [documentation on this in the wiki](https://github.com/phpmyadmin/phpmyadmin/wiki/Developer_guidelines/_compare/7713a747dcbd2261daf5439794e6967bdb66f368...75f56574ee59e324a032642181c376901515f684), please let me know (or feel free to edit yourself) if you have suggestions for further improvements.

[2018-06-10 13:30] #14329 closed

[2018-06-10 13:33] devenbansod commented on #12729
@lem9 I tried reproducing this with QA_4_8 on the demo server, with 200% zoomed in view. The 'Export' tile still seems to be hidden behind the sticky headers. Am I missing something here?

<img width="1680" alt="screen shot 2018-06-10 at 6 55 38 pm" src="https://user-images.githubusercontent.com/5762808/41202015-baa290e4-6ce0-11e8-8f14-d5744b0ad715.png">

[2018-06-10 13:33] williamdes commented on #12729
Issue still exists on 5.0.0-dev

Resize the window like i did and drop menu down, then scroll to bottom.
![selection_038](https://user-images.githubusercontent.com/7784660/41202035-9f3f967a-6cc3-11e8-969f-8b9eefb4dcfe.jpg)

[a.sql](https://github.com/phpmyadmin/phpmyadmin/files/2087905/a.sql.txt)

[2018-06-10 13:39] williamdes commented on #12729
Fix: `<table class="sticky_columns"`   set  `z-index: 98;`

[2018-06-10 13:43] kolorete78 commented on #13932
Same problem with Ubuntu 18.04 + PHP 7.2.5-0ubuntu0.18.04.1 + Apache/2.4.29 (Ubuntu) + Mysql 5.7.22-0ubuntu18.04.1 - (Ubuntu) + PHPMyadmin 4.6.6deb5

No updates availables at this moment.

[2018-06-10 13:59] ibennetch commented on #13932
Unfortunately, we don't directly control the Debian and Ubuntu packages. You should ask through the appropriate means for those distributions about an update — or you can remove the packaged version and [install your own](https://docs.phpmyadmin.net/en/latest/setup.html#quick-install).

[2018-06-10 14:13] ibennetch commented on #14370
This is a valid report because phpMyAdmin should not be throwing an error in this scenario; I agree that it should just show the empty result set.

I've reproduced it with QA_4_8 and master.

[2018-06-10 14:31] williamdes commented on #14331
I did not understand what you expect and what is the actual behavior :confused:

I successfully tested on phpMyAdmin `4.7.9` and `4.8.1`.

The files where successfully created in the directory of the **database server**.
Please send screenshots of what is the actual behavior or re explain this issue please :)

Do you use separate servers for phpMyAdmin and the database ?

![Success](https://user-i

[2018-06-10 14:41] williamdes commented on #13975
@benjaminfunk Can you try on version `4.8.1` ?

Can you send more informations on OS, web server if `4.8.1` has the issue ?

I think that I had the same issue with French on a Windows running `IIS` and MySQL `~5.7`.

[2018-06-10 14:48] williamdes commented on #13974
@ViajesIkea Can you try version `4.8.1` ?

Using `programa_servicios.zip` and query :
[code]
I am unable to reproduce this issue on `4.5.1`, `4.7.9`, `4.8.1`

[2018-06-10 14:59] williamdes commented on #14332
Same issue with `4.5.1` :
`
Warning in ./libraries/sql.lib.php#570
 count(): Parameter must be an array or an object that implements Countable
`

@alimp5 Can you try on version `4.8.1` ?

### Actual file
https://github.com/phpmyadmin/phpmyadmin/blob/2f99429917a7aa5fe4db29d80e61cc3354f4a107/libraries/classes/Sql.php#L661-L675

[2018-06-10 15:19] williamdes commented on #13845
@ibennetch We sould change the output of foreign keys, adding : ` IF NOT EXISTS`
### Example
[code]
https://stackoverflow.com/a/32775161/5155484

[2018-06-10 15:37] ibennetch opened #14380 "Uncaught TypeError when logging in"
Under certain configurations, there can be an Uncaught TypeError:

....

As reported by Lakshay Arora.

[2018-06-10 15:52] williamdes commented on #13528
Did you **logout/login** ?

`$cfg['Servers'][1]['central_columns'] = false;` works fine for me on `5.0.0-dev`

[2018-06-10 16:01] williamdes commented on #14147
Issue 13758 has a similar trace.

@jizhidemowang :

[2018-06-10 16:05] williamdes commented on #14380
Yes, on `5.0.0-dev` :
[code]
`Table structure` of [this (aa.sql.txt) table](https://github.com/phpmyadmin/phpmyadmin/files/2088019/aa.sql.txt).

[2018-06-10 16:12] williamdes commented on #14380
@ibennetch Can you add my issue in your PR ?
I applied your patch, my issue is still here.

[2018-06-10 16:39] williamdes commented on #13401
@manawk Try version ```4.8.1```
Your query works fine on ```5.0.0-dev```

[2018-06-10 16:44] #14380 closed

[2018-06-10 16:45] ibennetch commented on #14380
@williamdes I've just pushed a commit that I think should fix that issue. Please let me know if it helps.

[2018-06-10 16:46] williamdes commented on #14380
@ibennetch Perfect, works fine.
Thank you !

[2018-06-10 16:49] benjaminfunk commented on #13975
@williamdes The problem still exists with phpMyAdmin 4.8.1 in my environment

Windows 10
Apache 2.4.33
PHP 7.2.6
MySQL 5.7.22

[2018-06-10 16:55] williamdes commented on #13325
Confirmed on phpMyAdmin 5.0.0-dev
![selection_041](https://user-images.githubusercontent.com/7784660/41204051-d6211706-6cdf-11e8-8d64-6a0e950f5d14.jpg)

[2018-06-10 17:06] williamdes commented on #13322
I changed the name of `valueA` to `valueX` and I had no error.
Using version `5.0.0-dev` or `4.8.1` and MariaDB.

@claskfosmic can you try with version `4.8.1` ?

[2018-06-10 17:08] williamdes commented on #13854
Can you try with version `4.8.1` ?
I am unable to reproduce this issue.

[2018-06-10 17:31] williamdes commented on #13267
I can not reproduce this issue, the databases shows in CLI with `SHOW DATABASES;`.
Using ```MariaDB 10.2.15``` + phpMyAdmin `4.7.7` or `4.8.1`.

@kgrand84

[2018-06-10 17:43] mvorisek commented on #13854
Issue evaluated in 4.8.1:

Create table:
CREATE TABLE test (
  test int(11) NOT NULL,
  testvirt varchar(11) COLLATE utf8_bin GENERATED ALWAYS AS (test) VIRTUAL
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

Go to the "Structure" tab and try to change the collation of the generated column to "utf8_general_ci".

Currently the PhpMyAdmin generates:
ALTER TABLE `test` CHANGE `testvirt` `test

[2018-06-10 17:58] williamdes commented on #13854
MariaDB _does not support_ `COLLATE utf8_bin` in CREATE statement.
And the query the PMA _should_ generate does not work in MariaDB.

Maybe this explains why this issue.
I will try to investigate.

[2018-06-10 18:17] williamdes commented on #12216
will be now : ```document.getElementById('designer_hint')```

commit: aa958b5567bdd208c142f7a8ee733acb148f3663

Can you send stacktrace from error report server or method to reproduce ?

[2018-06-10 18:20] mvorisek commented on #13854
Yes, tested on MySQL. Maria added the virtual columns support sooner and the syntax and features differs.

Here is my proposal for MySQL:
https://github.com/phpmyadmin/phpmyadmin/pull/13875/commits/d254e8accd3baa2dde322b60b17e096c84454486

Currently is GUI at least for me is unsuable as I need to edit the virtual column like the normal columns. The PhpMyAdmin can generate the full ALTER parameters

[2018-06-10 18:48] alimp5 commented on #14332
@williamdes

Use and check below one (edited and fixed):
I hope thia edited code help you.

[code]

[2018-06-10 18:58] williamdes commented on #14332
@alimp5 I do not understand what is the issue with this code sample.

use ` ```php codehere  ``` ` for php code :wink:

Can you edit the unit test to add what you think is the issue ?
https://github.com/phpmyadmin/phpmyadmin/blob/2f99429917a7aa5fe4db29d80e61cc3354f4a107/test/classes/SqlTest.php#L95-L129

`rcount` ?
RE-edit :
[code]

[2018-06-10 19:37] williamdes commented on #14370
@nulll-pointer I think that you tried to reproduce this issue with an empty table, do not use an empty table and this issue will be reproduced.

[2018-06-10 20:15] williamdes commented on #14370
### Debug
https://github.com/phpmyadmin/phpmyadmin/blob/86fcc46c32ac880dad7b83f39007d4c1c97cc845/libraries/classes/DatabaseInterface.php#L2639-L2641
https://github.com/phpmyadmin/phpmyadmin/blob/86fcc46c32ac880dad7b83f39007d4c1c97cc845/libraries/classes/Dbi/DbiMysqli.php#L225-L227

[2018-06-10 20:56] ibennetch commented on #12864
You're right, it seems fine there. I'll close this.

[2018-06-10 20:56] #12864 closed

[2018-06-10 20:57] ibennetch opened #14382 ""Visualize GIS data" icon missing"
With current master and QA_4_8, using all three themes (pmahomme, original, and metro), the icon for "Visualize GIS data" seems to be missing.

[2018-06-10 20:59] ibennetch opened #14383 "Warning when browsing certain tables"
On the demo server, I can reproduce this with the opengis database by trying to browse the "gis_all" table. I don't see anything obviously different about that table, though. The problem exists with both master and QA_4_8.

When browsing the table, I get a long line of warnings, starting with:
[code]

[2018-06-10 20:59] ibennetch commented on #14380
For historical reference, these two different problems were fixed with 4baab5c and 86fcc46.

[2018-06-10 21:00] ibennetch commented on #14326
@rijaspk yes, we shouldn't allow the user to submit the export form until they pick a different compression method.

[2018-06-10 21:15] williamdes commented on #14383
Seems to be only with MySQL

[2018-06-10 21:53] williamdes commented on #14225
### 4.8.1 & 5.0.0-dev
![4.8.1+](https://user-images.githubusercontent.com/7784660/41206756-6b02d28c-6d09-11e8-8ada-ae5d120d169e.jpg)

### 4.7.9
![4.7.9](https://user-images.githubusercontent.com/7784660/41206757-6b2900d8-6d09-11e8-8457-f0fb16eef0d2.jpg)

[2018-06-10 21:59] williamdes commented on #14374
@laps15 Can you explain why you chose: `&#x2051;` ?
In :
[code]

[2018-06-11 02:02] laps15 commented on #14374
@williamdes It was not my choice, it was used exactly like that in the template:

[code]

I just moved the function from the template.

[2018-06-11 03:42] jizhidemowang commented on #14147
I'm sorry, I also forgot what version it was, but I used the latest version that was released at the time of the question. Do not know if this can solve your problem
@williamdes @ibennetch

[2018-06-11 06:38] nulll-pointer commented on #14355
You still need help on this??

[2018-06-11 07:33] nulll-pointer opened #14385 "500 error when trying to insert in a table having foreign key constraint"
### Steps to reproduce
1. Make two tables related with foreign key constraint
2. Try inserting in the table in which the fk constraint is defined.

### Expected behaviour
Should show insert  page.

### Actual behaviour
Gives a 500 error

### Server configuration
**Operating system**:
Ubuntu 16.04

**Web server:**
Apache/2.4.29

**Database:**
mariadb 10.1.30

**PHP version:**
7.1.14

**phpMyAdmin v

[2018-06-11 08:22] aroralakshya opened #14386 "Changing foreign key constraints on delete and on update from restrict to not null gives errors"
### Steps to reproduce
1. Visit [Demo Server 3TI database](https://demo.phpmyadmin.net/master-config/db_structure.php?server=2&db=3TI)
2. Make an fk with on tabela 2.id referencing tabela1.id with following constrains - on delete restrict and on update restrict
3. change these constraints to not null.

### Expected behaviour
Should not give errors

### Actual behaviour
Gives errors

### Server con

[2018-06-11 08:30] nulll-pointer commented on #14383
I'm getting a 500 error.

[2018-06-11 09:02] #13528 closed

[2018-06-11 09:39] nulll-pointer commented on #14363
does tbl_change.php work? for me it doesn't

[2018-06-11 09:46] williamdes commented on #14363
@nulll-pointer Blank page for `search` and `insert` on `5.0.0-dev` ?

[2018-06-11 09:52] Jay04653 commented on #14365
@nulll-pointer
- open **config.inc.php**
- add few servers into **$cfg['Servers']** variables

[2018-06-11 09:56] williamdes opened #14388 "[5.0.0-dev] Search and Insert broken"
### Steps to reproduce
1. Install phpMyAdmin `5.0.0-dev`
2. Execute script:
[code]
3. Search or Insert on table `b`.

### Expected behaviour
Insert or Search like in `4.8.1`.
Screenshots are made with other tables, the issue stays the same.
![Insert](https://user-images.githubusercontent.com/7784660/41225556-54be407c-6d6f-11e8-87e8-36eae597a870.jpg)
![Search](https://user-images.githubusercontent.

[2018-06-11 10:10] nulll-pointer commented on #14363
Yes

[2018-06-11 10:11] OlafvdSpek opened #14390 "[4.8] Can't unhide tables"
I hid some tables, but I can't unhide them. I can click on the eye next to the database, but it only shows what I've hidden with no way to unhide them.

$cfg['ShowDatabasesNavigationAsTree'] = false;

[2018-06-11 10:11] williamdes commented on #14363
Maybe this is: #14388

[2018-06-11 10:15] williamdes commented on #14390
No eye on the database ?
![eye](https://user-images.githubusercontent.com/7784660/41226189-12e0a292-6d71-11e8-8b99-87444e17215f.jpg)

[2018-06-11 10:17] nulll-pointer commented on #14390
or no show button in the popup??

[2018-06-11 10:18] OlafvdSpek commented on #14390
![pma](https://user-images.githubusercontent.com/2218936/41226371-9723e622-6d71-11e8-81db-7b8d8dac20ea.PNG)

[2018-06-11 13:19] kgrand84 commented on #13267
Yes, it is showing in CLI.

It is not showing in phpMyAdmin UI. I am still reproducing the issue.

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| derp_db1           |
| derp_db.2          |
+--------------------+
3 rows in set (0.00 sec)

Screenshot from within cPanel showing both dbs are there

Retested with
phpMyAdmin v4.7.7
P

[2018-06-11 13:47] ibennetch opened #14391 "Issues with displaying Git revision information from some worktrees"
I was attempting to test and merge some pull requests, and got hung up on some trouble with the functions to display the git revisions. I believe this is related to working in a git worktree — see the final paragraph for details. As a result, this doesn't seem to be a major bug but is still a shortcoming we should fix.

First, I ran
[code]

Then I got an error 500 when loading the main page, after

[2018-06-11 14:40] williamdes commented on #14391
Reproduced 100% !
Working on good fix and investigating.

[2018-06-11 15:20] williamdes commented on #14391
This bug exists because of my implementation of git sub-modules in  9687dfbfd2613cf279430b81288d11ee1561826b
Worktrees seem to use the same way of linking `.git` in another directory.
The implementation of `commondir` is missing, see bug 2.

The following steps will maybe not help reproduce bug 1

### Step 1
[code]
### Step 2
Browse and login into phpMyAdmin : {protocol}://{addr}/worktreetest/4.8.

[2018-06-11 15:59] williamdes commented on #14391
@ibennetch Can you confirm that my PR fixes this issue ?
Commit: https://github.com/williamdes/phpmyadmintest/commit/13e34b400abb509fd108332a007b2f6638361eb9

If not send me:
- Folder name
- .git is a dir in folder
- if is a folder
- has file .git/HEAD
- if not
- send contents of .git file & directory structure of .git directory (path in .git file)

[2018-06-11 18:50] maherbo commented on #13592
Using version 4.7.4, this is more than enhancement, it is a bug.

Right now, you can add the CHECK constraint with a custom SQL statement.  Even though the parser indicates a syntax error, it works.

But, when you try to export the table, the CHECK constraint is unrecognized and is ignored in the CREATE TABLE statement ... but so are ALL columns definitions afterward.  That is a bug.

[2018-06-11 19:40] lem9 commented on #12729
@devenbansod Sorry I had not tried with a resized window.

[2018-06-11 22:54] BoddyMercado commented on #13178
Hola yo lo pude solucionar simplemente cambiando el cotejamiento de la llave primaria o otro campo INT

![sin titulo](https://user-images.githubusercontent.com/37642340/41261244-70c6856e-6da0-11e8-97c3-d16e480189da.png)

[2018-06-12 06:54] aroralakshya opened #14393 "Column reordering on a table without primary keys has bugs"
### Steps to reproduce
1. Make a new table -
[code]
2. Insert some values
3. Browse the table and reorder the columns randomly

### Expected behaviour
Columns should be reordered without bugs.

### Actual behaviour
Sometimes, a new column is introduced, sometimes, the data comes under a blank column. On clicking the restore column order button an reloading this page, the last column disappears fro

[2018-06-12 10:14] nulll-pointer opened #14394 "Issues appearing after 'declare(strict_types=1);' was added"
I have been experiencing some uncaught type errors which I believe have started to appear after 'declare(strict_types=1);' was added.
#### 1.
 array_slice() expects parameter 2 to be integer, float given in /phpmyadmin/libraries/classes/Navigation/Nodes/Node.php:485

#### 2.
 escapeString() expects parameter 1 to be string, NULL given in /phpmyadmin/libraries/classes/Navigation/Nodes/Node.php:494

[2018-06-12 16:13] avsdev-cw opened #14395 "Display Chart with timeline & series name column trigger JS error"
### Steps to reproduce
1. Create a time series data set with with a column for series label. (columns: timestamp, series, value)
2. Use the Display Chart utility
3. Select "Timeline" as the graph type (x-axis is the timestamp column, y axis is the value column)
4. Check "Series names are in a column"

### Expected behaviour
Graph should be drawn similar to the line/spline graph but the spacing of

[2018-06-12 16:35] williamdes commented on #14395
Can you try to reproduce with version `4.8.1` ?
https://demo.phpmyadmin.net/QA_4_8/
https://demo.phpmyadmin.net/master-config/

[2018-06-12 17:15] avsdev-cw commented on #14395
Reproducible on both:

[code]

[code]

[2018-06-12 19:44] sritd commented on #13197
Hi,

sorry for my late reaction to your question. I was on holiday and had no chance to take care about it.

To your first question about user, password and benutzer and passwort. It is a typo. Both names were in English. I am sorry for that.

To your second question. I have tested it with both new versions 4.8.0.1 and 4.8.1. It is the same behavior like before. If I immediatly delete the stored c

[2018-06-12 20:10] williamdes commented on #13197
@sritd Thank you for you response !

I think that your code can be modified to bypass the check, I will post another answer when I will have figured out the right way to do so without creating a security breach :)

Reading of credentials is done :
https://github.com/phpmyadmin/phpmyadmin/blob/15ec0ca5dd013d7bd03bf9660496f5d8d30f086d/libraries/classes/Plugins/Auth/AuthenticationSignon.php#L99-L100

[2018-06-13 05:40] AndreyNazarchuk commented on #14159
@OlafvdSpek I have never in my life used it or wanted to use it to go back a page. It often deletes a long query I was still using.

@ibennetch it only happens on the query page if you're not actively in a text box.

[2018-06-13 05:42] OlafvdSpek commented on #14159
@AndreyNazarchuk What browser?
I use Backspace all the time, especially when my mouse doesn't have a back button.

[2018-06-13 07:27] AphidGit opened #14396 "Support using hexadecimal constants in input fields for numeric values"
### Steps to reproduce
1. Create a table with at least one integer column
2. Try to specify a default value using a hexadecimal constant fpr this column (e.g. 0x101) using the GUI interface.

### Expected behaviour
PHPmyadmin should recognize this particular format and transform this into either simply 0x101 or X'101' inside the query.

It cannot do so. Manually setting the default value will work

[2018-06-13 15:00] Piyush3079 commented on #14355
Actually I opened this discussion so that people can reproduce the pr and suggest changes. So if you have some suggestions regarding this pr, then you can comment :).

[2018-06-13 16:00] asarubbo opened #14397 "Too much time for a database import"
Hello,

we know that having a remote host, a local import with mysql is faster than phpmyadmin because there is no time to upload the database, but I noticed something strange and I made the following tests:

1) Import a 90MB database locally (after send it via scp) via mysql:
mysql -u root -pPASS  DB_NAME < /tmp/DUMP.sql
it takes 1m46s

2) Import a 90MB database remotely via mysql:
mysql -u root

[2018-06-13 20:29] #14348 closed

[2018-06-13 20:43] #14295 closed

[2018-06-14 00:33] #14370 closed

[2018-06-14 05:33] nulll-pointer commented on #14396
I think these functions(hex to decimal, decimal to hex, etc) could also be added to the insert page, in the functions dropdown.

[2018-06-14 07:39] emmjk commented on #13158
I also face the same problem .

[2018-06-14 14:20] parsibox commented on #13890
i also need this

[2018-06-14 21:54] lem9 commented on #14397
The data has to go first to the web server, so it takes longer. Have you tried this method: https://docs.phpmyadmin.net/en/latest/config.html#cfg_UploadDir

[2018-06-15 07:13] asarubbo commented on #14397
If you read deeply what I wrote, you find exactly what are you saying. I know that the data should go into the webserver but we are in a gigabit lan and the database dump is just 90MB, so it takes ~4 seconds to go to the server. So it will be fine if phpmyadmin will take ~2minutes to do it, but I guess that for the value I'm having, there is something wrong.

For this system, is not possibile have

[2018-06-15 08:39] pietersnld commented on #14363
Not the same! Since sql.php changed from GET to POST there is no way you can open a link in a new tab/window. Which is really annoying since opening a link in a new tab keeps your selection from the other table.

[2018-06-15 13:37] rodentooth commented on #14223
Any news to this? I'd really like to start designing my db 😄

[2018-06-15 15:39] asarubbo commented on #14397
Also, I rebooted the remote machine to clean the network statistic. I launched watch -n 1 'ifconfig eth1 | grep MiB' to check in how much time the data has been received and I see immediately the data transferred:
        RX packets 66257  bytes 99559216 (94.9 MiB)

So there is no delay for the file transfer, but it is just phpmyadmin that takes too much time to import... but I'm failing to unders

[2018-06-15 15:51] mightydok commented on #13890
+1
Let save data to cookie like next step

[2018-06-15 16:22] #14225 closed

[2018-06-15 16:22] #14374 closed

[2018-06-15 18:46] mauriciofauth commented on #14374
@nijel We do not need a PMASA, because this bug only affects 5.0.0-dev, am I right?

[2018-06-15 20:31] #14388 closed

[2018-06-15 20:36] williamdes commented on #14394
@nulll-pointer PR for `#14388` is merged, see if It was related :)

[2018-06-16 05:03] #13032 closed

[2018-06-16 13:04] #14391 closed

[2018-06-16 14:12] williamdes opened #14399 "phpstan - errors"
Found by `phpstan` :

https://github.com/phpmyadmin/phpmyadmin/blob/d8199e2a12e1f329a3c8d9ba523f5ed89d0ded27/libraries/classes/TwoFactor.php#L44

https://github.com/phpmyadmin/phpmyadmin/blob/d8199e2a12e1f329a3c8d9ba523f5ed89d0ded27/libraries/classes/TwoFactor.php#L280

[code]

[2018-06-16 14:13] williamdes commented on #14399
@mauriciofauth I think this is an error/bug ?

[2018-06-16 14:17] williamdes commented on #14399
@nijel commit 0d14ba065ce3a925c2fb6bd3b03523d031ee54ce

[2018-06-16 15:20] williamdes commented on #14399
[code]

https://github.com/phpmyadmin/phpmyadmin/blob/d8199e2a12e1f329a3c8d9ba523f5ed89d0ded27/libraries/classes/Table.php#L2169-L2172

[2018-06-16 15:31] nulll-pointer commented on #13235
@OlafvdSpek, hello, I'm currently working on this.
As of now, Isaac and I have decided to not show the popup and add index automatically.
My idea is to create an index named A_I_columnName if it doesn't exist and leave it if user removes A_I on that column, If user chooses to add the A_I on that column again, we'll use that index if it exists and create it if it doesn't.
Have some other suggestion

[2018-06-16 15:33] OlafvdSpek commented on #13235
Yes, use primary key instead of `A_I_columnName`.

[2018-06-16 18:05] ErikThiart commented on #12551
Good lord, so glad I found this issue on github - 2 hours of struggling, I thought I was going crazy.

updated to latest version, all fixed.

[2018-06-16 20:38] ibennetch opened #14400 "Uncaught TypeError when selecting to drop multiple tables from database structure view"
With current master, when I go to a database structure page and select multiple tables then "DROP" from the dropdown menu, I get an error message:

[2018-06-16 20:39] #14400 closed

[2018-06-16 22:18] williamdes commented on #14399
[code]

https://github.com/phpmyadmin/phpmyadmin/blob/d8199e2a12e1f329a3c8d9ba523f5ed89d0ded27/libraries/classes/Plugins/Schema/Dia/DiaRelationSchema.php#L39

https://github.com/phpmyadmin/phpmyadmin/blob/d8199e2a12e1f329a3c8d9ba523f5ed89d0ded27/libraries/classes/Plugins/Schema/Dia/DiaRelationSchema.php#L79-L80

[2018-06-16 23:41] williamdes commented on #14399
Referring to http://php.net/manual/en/language.variables.scope.php
I think this is maybe a bug, how `$showtable` can be accessed without declaring global scope in function ?
[code]
https://github.com/phpmyadmin/phpmyadmin/blob/d8199e2a12e1f329a3c8d9ba523f5ed89d0ded27/libraries/classes/Table.php#L399-L403

[2018-06-17 09:47] nulll-pointer commented on #14394
I have already mentioned that in the post :P

[2018-06-17 12:20] kampalex opened #14401 "insert_rows keypress Enter behavior"
### Steps to reproduce
1. Select table in database overview
2. Choose table record insertion
3. On the bottom, insert different number of record to insert (like 6), press [Enter] instead of clicking outside this input:number (id=insert_rows)

### Expected behaviour
In-page extension of insertable records, like the blur event

### Actual behaviour
Message shows: 'No databases selected'
Click on tab

[2018-06-17 12:40] lem9 commented on #14399
$available is not the same as $_available.

[2018-06-17 13:52] lem9 commented on #14399
@williamdes Most likely a typo.

[2018-06-17 17:20] nulll-pointer commented on #14401
Have you tried defocusing that textbox?? It works. Maybe it shouldn't or maybe they have made it that way, if yes, then the action on pressing enter could be disabled. OR action on defocusing could be disabled and it will work only on pressing enter.

[2018-06-17 17:56] kampalex commented on #14401
As said I defocused (which triggers the blur event) the field, which gives me the extra record insertions.
I suggest an event listener 'keydown', on [Enter] key it will trigger the blur event, but only if the field does contain a valid number.

[2018-06-18 06:40] OlafvdSpek commented on #14390
[code]

Is this supposed to be the show button?

[2018-06-18 09:00] williamdes commented on #14390
Try to remove `.png`

[2018-06-18 09:01] nulll-pointer opened #14402 "Fatal javascript error while adding index to a new column"
### Steps to reproduce
1. Create a new column in an existing table.
2. Select PRIMARY in the drop down to add index, deselect primary from the drop down.
3. PRIMARY still appears in the link below this dropdown, click the link.

### Expected behaviour
Should show the dialog to select index.

### Actual behaviour
Fatal javascript error, cannot read property undefined of null

### Server configurati

[2018-06-18 11:32] AdamJachocki commented on #13788
Same problem here. Please fix it, because it's really annoying. I am working on 3 different machines. And use GIT and I have to export database manualy every time I change it.

[2018-06-18 13:58] Lilyours commented on #14217
https://www.phpmyadmin.net/news/2018/5/25/phpmyadmin-481-released/

Known issues:

As always, downloads are available from https://www.phpmyadmin.net

The phpMyAdmin team

[2018-06-18 16:00] alekc commented on #14363
This one is really affecting our workflow, since you can't just right click on foreign key and see the relative child row without loosing your previous results.

[2018-06-18 19:11] nijel commented on #14399
It's read only property defined here:

https://github.com/phpmyadmin/phpmyadmin/blob/9b28b025822f2fa71fde5445b73f0d0bbc6f9e02/libraries/classes/TwoFactor.php#L95-L108

[2018-06-18 19:21] williamdes commented on #14399
@nijel Thank you, I had completely forgotten [this syntax](https://secure.php.net/manual/en/language.oop5.overloading.php#object.get) existed.

What do you think about the other reported errors ?

[2018-06-18 22:10] avkarenow commented on #14365
I have a similar issue: after open new window on "Create view" I'm automatic log out. Everything else works fine.
Tested on PMA version 4.7.9 / 4.8.1 and PHP 5.6 / 7.1. My configuration has multiple servers.

[2018-06-18 22:11] avkarenow commented on #14082
I have a similar issue: after open new window on "Create view" I'm automatic log out. Everything else works fine.
Tested on PMA version 4.7.9 / 4.8.1 and PHP 5.6 / 7.1. My configuration has multiple servers.

[2018-06-19 06:56] nijel commented on #14399
Both sprintf and Undefined variable: $showtable look like errors from refactoring.

[2018-06-19 07:17] thelittlefireman commented on #14217
hi,
Same issue for me : `#1064 - Erreur de syntaxe près de 'REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_' à la ligne 1` when i try to create a new user.
Could it be possible to put the fix in the next release ?

[2018-06-19 09:47] JayEn84 opened #14404 ""DROP VIEW" and "IF NOT EXISTS" checkboxes have no effect when exporting views"
### Steps to reproduce
1. Navigate to the Export page of a view
2. Change the export method from quick to custom
3. Activate the checkboxes for "`DROP VIEW`" and/or "`IF NOT EXISTS`"

### Expected behaviour
1. I expect a `DROP VIEW` query prior to the `CREATE` query when activating the `DROP VIEW` checkbox.
2. I did not expect an "`IF NOT EXISTS`" checkbox as this seems impossible when creating a

[2018-06-19 11:13] williamdes commented on #14143
@nijel ?

[2018-06-19 13:35] jadeja-rajdeep opened #14406 "with large data records counts result is wrong"
### Steps to reproduce
1. i have one table that contains 1,561,498 which is imported using LOAD DATA INFILE
2. when its imported its display 1,561,498 inserted into phpmyadmin message box
3. when we click on that table again i get this message  Showing rows 0 - 24 (1557034 total, Query took 0.0021 seconds.) like that
4. i also double check in mysql workbench and its display correctly. even when yo

[2018-06-19 15:01] lem9 commented on #14406
Does this help?
https://docs.phpmyadmin.net/en/latest/faq.html#the-number-of-rows-for-innodb-tables-is-not-correct

[2018-06-19 15:08] #14406 closed

[2018-06-19 16:16] ibennetch opened #14407 "Uncaught TypeError in privilege editor"
With current master, when editing an existing user to change their host field, I get:

[2018-06-19 17:46] lem9 commented on #14396
The phpMyAdmin version you provided (5.5.60-0+deb8u1) does not exist.

[2018-06-20 11:54] patidarkishor777 opened #14410 "Error in PHPMYADMIN UBUNTU 16.04"
### Steps to reproduce
1. I installed phpmyadmin
2. PHP 7.2

### Actual behaviour
Showing following error message
Warning in ./libraries/plugin_interface.lib.php#532
 count(): Parameter must be an array or an object that implements Countable

Backtrace

./libraries/display_import.lib.php#368: PMA_pluginGetOptions(
string 'Import',
array,
)
./libraries/display_import.lib.php#453: PMA_getHtmlForImpo

[2018-06-20 12:13] williamdes commented on #14410
This issue does not exist anymore, please upgrade phpMyAdmin to last version.

`/libraries/plugin_interface.lib.php` removed by commit : https://github.com/phpmyadmin/phpmyadmin/commit/700e081833dd7cd1b1669412ddf1c2e135ade0a1#diff-e4fb76d6e64dbbed120e6f1c178e44e5

`/libraries/display_import.lib.php` removed by commit :
https://github.com/phpmyadmin/phpmyadmin/commit/f0f8c3e68f222b5673ff29d156591d3

[2018-06-20 15:23] nijel commented on #14143
AFAIK those were generated manually.

It's probably better to have separate package with such data, but I don't have clear opinion on this.

[2018-06-20 15:56] ekonoval commented on #13890
Can somebody tell me which is the last version where this feature is supported?

[2018-06-20 20:04] ibennetch commented on #14358
Confirmed with QA_4_8 and master, tested with iPhone/Safari on the SQL tab

[2018-06-20 20:48] williamdes opened #14411 "Double tap to edit on Mobile"
### Steps to reproduce
1. [demo server](https://demo.phpmyadmin.net/QA_4_8/sql.php?server=2&db=evolve&table=accounts&pos=0)
2. Try to double tap on a cell of a row in a table

Works **as expected** on Mozilla Firefox (Android)
Bugs with : Chrome (Android), Samsung Internet  (Android) , Microsoft Edge (yes Edge exists on Android), Opera (Android)

All apps are up to date (20/June/2018).

Tested on

[2018-06-20 20:48] lem9 commented on #14410
@patidarkishor777 Indeed you should upgrade your phpMyAdmin. Your old version 4.5.4.1 was compatible with PHP 5.5 to 7.0.

[2018-06-20 21:17] nhatier opened #14412 "AuthenticationSignon.php's showFailure function does not consider SignonCookieParams"
### Steps to reproduce
1. Use "signon" mode in a way that an error occurs on phpMyAdmin side (ex: set incorrect mysql server name) so `showFailure()` is called (In `libraries/classes/Plugins/Auth/AuthenticationSignon.php`)

### Expected behaviour
`showFailure` sets a session parameter called "`PMA_single_signon_error_message`" so the external login script can have access to the error message in ca

[2018-06-20 21:48] countrpt opened #14413 "SQL query edit on multi-server configuration redirects to server selection/login"
### Steps to reproduce
1. Run phpMyAdmin in a multi-server configuration
2. Log into a server
3. Click the SQL button and enter any custom SQL query
4. Run the query
5. Click on the "Edit" button located under the query text (between "Edit inline" and "Explain SQL")

### Expected behaviour
It should navigate to the query page with the previously-entered query so you can edit it.

### Actual behavi

[2018-06-20 23:28] williamdes commented on #14390
I found the error:

Introduced by https://github.com/phpmyadmin/phpmyadmin/commit/6735f332971f158b66479bd7029bf7d87363e044

Patch `Avois passing extension to Util::getImage` : https://github.com/phpmyadmin/phpmyadmin/commit/bed6fb4ebdc5f83ed30fe3e83e380baf24ed2fa5

Use following regex to search with `Visual studio code` :
[code]

[code]

Working on PR

[2018-06-21 00:05] reFX-Mike commented on #14339
I just encountered the same problem. This makes the browse function for that table unusable. I can't even find where this information is stored, so I can't reset it back to "none".

This needs to be fixed ASAP.

[2018-06-21 00:09] williamdes commented on #14339
@reFX-Mike Can you reproduce on https://demo.phpmyadmin.net/QA_4_8/ or https://demo.phpmyadmin.net/master-config/   ?
ID: root, no password

If you find a way to help reproduce this issue, I will help you :)
Maybe import a table or create a test table to reproduce this issue.

[2018-06-21 03:20] ambulong opened #14416 "Disclosed Security Issues in phpMyAdmin"
http://blog.vulnspy.com/2018/06/21/phpMyAdmin-4-8-x-Authorited-CLI-to-RCE/

[2018-06-21 05:49] tswestendorp commented on #13890
@ekonoval that would be 4.7.6

[2018-06-21 06:28] OlafvdSpek commented on #14390
I'm curious, how come you and @nulll-pointer couldn't repro this one initially?

[2018-06-21 09:38] williamdes commented on #14390
We had the description : "Show" and did not remember that the Icon existed ...

[2018-06-21 09:42] OlafvdSpek commented on #14390
What browsers are you using? I'm using Chrome but didn't see the description.

[2018-06-21 09:51] williamdes commented on #14390
Chrome 67.0.3396.87 (Ubuntu)
Apply my patch and tell us if It solves the issue :)

[2018-06-21 10:00] williamdes commented on #14416
https://demo.phpmyadmin.net/master-config/index.php?target=db_sql.php%253f/../../../../../../../../var/lib/php/sessions/sess_2v1991ivuf54t1veptu6n8s1c1

``
PMA_token |s:16:"=5.5,<7.3", "version": "4.8.1", "mysql_versions": ">=5.5" }, { "date": "2017-03-29", "php_versions": ">=5.2,<5.3", "version": "4.0.10.20", "mysql_versions": ">=5.0" } ] }";s:9:"timestamp";i:1529574593;}}git_location|s:4:".git";

[2018-06-21 12:19] ibennetch commented on #14416
Indeed, this has come to our attention and we're working on a fix. Stay tuned...

[2018-06-21 12:54] ibennetch commented on #14416
Since this was initially reported to our private security team, in many ways it's being handled quietly so there isn't much discussion here at the moment.

[2018-06-21 19:35] ibennetch commented on #14416
phpMyAdmin 4.8.2 is now out to address this.

Thank you for reporting it.

[2018-06-21 19:35] #14416 closed

[2018-06-21 22:05] williamdes commented on #14342
Duplicate of: #14390 ?
Try patch https://github.com/phpmyadmin/phpmyadmin/pull/14414

[2018-06-22 13:48] redzru commented on #14301
4.8.2 still not fix... Someone listen?

[2018-06-22 14:21] OlafvdSpek opened #14419 "Mediumblob > blob"
In the type dropdown, mediumblob is ordered before blob but it should be after. ;)

[2018-06-22 17:17] rmanibus commented on #14220
Upgrading to PHP7.2.7 solved the issue for me.

[2018-06-22 20:25] lem9 commented on #14419
Agreed. I believe that libraries/classes/Types.php should be changed (lines 735-736).

[2018-06-23 07:30] Mrodent commented on #12041
I'm getting this problem.
mysql  Ver 15.1 Distrib 10.2.14-MariaDB, for debian-linux-gnu (x86_64) using readline 5.2
phpMyAdmin 4.5.4.1deb2ubuntu2
OS: Linux Mint 18.1

I have a large-ish database.  Many of tables were "inherited" from someone else's setup ... and then I added 3 more tables.

The old table export fine, but the new tables do not export correctly: one has a primary key with auto_incre

[2018-06-24 01:03] dinodan commented on #14184
1. Change file name "js/vendor/**js.cookie.js**" to "js/vendor/**jscookie.js**".
2. In file "**libraries/classes/Header.php**" change "$this->_scripts->addFile('vendor/**js.cookie.js**');" to "$this->_scripts->addFile('vendor/**jscookie.js**');"

[2018-06-24 15:53] williamdes opened #14422 "Table comment not showing since 4.8.1"
Introduced by https://github.com/phpmyadmin/phpmyadmin/commit/5da44ce1a642e611068276fdcc1eef236e88a9a6
### Steps to reproduce
1. Install phpMyAdmin 4.8.1
2. Execute :
[code]
3. Browse to table

### Expected behaviour
Show table comment in header
![OK](https://user-images.githubusercontent.com/7784660/41820769-0cdd3c00-77d7-11e8-901f-72369c83f071.jpg)

### Actual behaviour
No comment in header
![bu

[2018-06-24 16:40] wgkowala commented on #14331
Need have EXPORT module work in EVENT.  They work separately but EXPORT function cannot be called from event.

[2018-06-24 19:23] lem9 commented on #14422
Screenshots for "expected" and "actual" should be interchanged but yeah you're right about the bug.

[2018-06-24 22:55] williamdes commented on #14422
@lem9 Thank you, I will push a commit to fix the unit tests ...
Something seems strange in `TableTest.php`

[2018-06-25 00:00] hikmetkutuk commented on #14172
For archlinux;
Edit
/etc/webapps/phpmyadmin/config.inc.php to add the line:

 $cfg['TempDir'] = '/tmp/phpmyadmin'

[2018-06-25 06:33] mcgee1941 opened #14424 "8.9.6"
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**phpMyAdmin version:**

### Client configuration
**Browser:**

**Operating system:**

[2018-06-25 06:38] mcgee1941 commented on #14424
Pic is not going in the Bid Page
(
WARNING: MYSQL_QUERY() EXPECTS PARAMETER 2 TO BE RESOURCE, OBJECT GIVEN IN /HOME2/DARRELL/PUBLIC_HTML/WP-CONTENT/THEMES/AUCTIONPRESS/PPT/CLASS/CLASS_PREMIUMPRESS.PHP ON LINE 266
ON LINE: 266

[2018-06-25 06:43] #14424 closed

[2018-06-25 06:44] mcgee1941 commented on #14424
(
WARNING: MYSQL_QUERY() EXPECTS PARAMETER 2 TO BE RESOURCE, OBJECT GIVEN IN /HOME2/DARRELL/PUBLIC_HTML/WP-CONTENT/THEMES/AUCTIONPRESS/PPT/CLASS/CLASS_PREMIUMPRESS.PHP ON LINE 266
ON LINE: 266

[2018-06-25 08:06] OlafvdSpek commented on #14419
It might also be handy to include the size limits for each blob / text type.

[2018-06-25 11:40] Jay04653 opened #14425 "Related (FK) NULL value field editing bug"
### Steps to reproduce
1. Open table with FK fields
2. Double click on cell with null value
3. In opened popup type/paste FK ID
4. Press **Enter** or click outside of popup

### Expected behaviour
Value should save, I guess Null checkbox should be unmarked when I started to typing/pasting FK ID see screenshot
![screen1](https://user-images.githubusercontent.com/2777846/41848237-6f5d12b6-7885-11e8-

[2018-06-25 11:53] drtothferenc19 opened #14426 "Drop table doesn't work when you copy tables to another database"
### Steps to reproduce
1. Open a table list
2. Select some tables
3. Select 'copy table' from the 'with selected' dropdown
4. Select the target database and check 'Add DROP TABLE' checkbox in the modal window
5. Click continue

### Expected behaviour
phpmyadmin should drop the table(s) from the target database and copy the table(s) from the source database

### Actual behaviour
Received a '1050 -

[2018-06-25 12:33] svivian commented on #14184
I had the same issue, where PMA just wouldn't log in at all. Turns out it was uBlock Origin preventing the file `/js/vendor/js.cookie.js?v=4.8.2` from loading. After disabling the ad blocker everything works fine.

[2018-06-25 12:46] ibennetch commented on #14424
You seem to be having a problem with WordPress, which is not really related to phpMyAdmin other than that they both can use a MySQL/MariaDB database. Since we don't know anything about supporting WordPress here, I suggest you ask them for assistance.

[2018-06-25 13:38] patrickdk77 opened #14427 "No database selected when paging rows"
### Steps to reproduce
1. Install phpmyadmin 4.8.x
2. use the next/previous arrows to page through a tables rows (also happens else where too but cannot remember)
3. Get error 1046, no database selected

### Expected behaviour
rows 25 to 50 should display

### Actual behaviour
![image](https://user-images.githubusercontent.com/8078633/41853242-5945af12-785b-11e8-8592-b0eb86b880f2.png)

### Server

[2018-06-25 16:44] mcgee1941 commented on #14424
thank you darrell

On Mon, Jun 25, 2018 at 7:46 AM, Isaac Bennetch <notifications@github.com>
wrote:

[2018-06-25 23:34] #14399 closed

[2018-06-25 23:41] #14407 closed

[2018-06-26 05:07] aswaniprakash commented on #14402
@nulll-pointer Shouldn't we  just remove the link when we select none ('---') from the index dropdown and show the link only when other values are selected?

[2018-06-26 07:36] DougTy commented on #14184
Can confirm, for me it was uBlock Origin blocking `js/vendor/js.cookie.js?v=4.8.2`. Source seems to be Fanboy’s Cookiemonster List. Hitting "Purge All Caches" and "Update Now" in the "Filter Lists" settings page of uBlock seems to have fixed it for me without needing to disable the list entirely.

[2018-06-26 09:31] marcomarsala opened #14430 "Execute button is disabled for routines"
### Steps to reproduce
1. Create a stored procedure:
[code]

2. Grant EXECUTE to another user:
[code]

3. Login with that user.

### Expected behaviour
Execute button is enabled for the routine.

### Actual behaviour
Execute button is disabled for the routine.
![image](https://user-images.githubusercontent.com/5349718/41902503-e3738992-7933-11e8-83ea-43dcaf7a97e0.png)

### Server configuration
**O

[2018-06-26 10:49] dilyanpalauzov opened #14431 "Default for $cfg['TempDir']"
When `$cfg['TempDir']` is not set in config.inc.php, then phpMyAdmin should assume it is the same as `$cfg['SaveDir']`, or `$cfg['UploadDir']`, or `/tmp`, but not `./tmp`

The latter makes no sense at causes only administrative burden when upgrading to find out why phpMyAdmin issues a warning that it cannot store templates in `./tmp`.

[2018-06-26 13:17] lem9 commented on #14427
Cannot reproduce with version 4.8.2 on http://demo.phpmyadmin.net (table sakila.actor). Can you?

[2018-06-26 14:01] patrickdk77 commented on #14427
I cannot produce it there either. I cannot run that same code as it says it requires php 7.1+

$cfg['Servers'][$i]['connect_type'] = 'tcp';
$cfg['Servers'][$i]['compress']     = false;
$cfg['Servers'][$i]['extension']    = 'mysqli';
$cfg['Servers'][$i]['nopassword']   = false;
$cfg['Servers'][$i]['AllowNoPassword'] = false;
$cfg['Servers'][$i]['verbose']      = '';
$cfg['Servers'][$i]['DisableIS']

[2018-06-27 04:38] almas opened #14432 "[Bug] Fatal error: Uncaught TypeError: export.php"
### Steps to reproduce
1. Select Database
2. Click Export
3. There is an error below.
`Fatal error: Uncaught TypeError: Argument 4 passed to PhpMyAdmin\Export::getFilenameAndMimetype() must be of the type string, boolean given, called in /Users/dava/Documents/workspace/phpMyAdmin/export.php on line 355 and defined in /Users/dava/Documents/workspace/phpMyAdmin/libraries/classes/Export.php:274 Stack

[2018-06-27 04:49] williamdes commented on #14432
Duplicate of  #14323 closed in https://github.com/phpmyadmin/phpmyadmin/commit/2a34c018633764ab0149d453dd2c8bfc8e79396f

[2018-06-27 08:59] freedmandil opened #14433 ""You do not have privileges to manipulate with the users!" on root superadmin"
### Steps to reproduce
Created a local server of MariaDB via home-brew
Installed latest version of phpmyadmin
logged in as root with password
pma control user set up

No functionality to add users

### Expected behaviour
Should see "add user account" button

### Actual behaviour
No button and error:
"You do not have privileges to manipulate with the users!"

### Server configuration
**Operating sy

[2018-06-27 14:43] OlafvdSpek commented on #13023
A flash message would cause the error to remain visible while still allowing you to properly read / use the rest of the page, right? I think that's best.

[2018-06-27 16:51] nulll-pointer commented on #13023
I was thinking about showing all kinds of error messages like the screenshot by @Fenn-CS. It will make the rest of the page accessible, and I'll add a copy query button too.

[2018-06-27 16:58] mauriciofauth commented on #14319
Fixed in 97547e8e16bac9192a752e444a7cb26574caa525

[2018-06-27 16:58] #14319 closed

[2018-06-27 20:38] OlafvdSpek commented on #13023
Looks reasonable.

[2018-06-27 23:37] williamdes commented on #14143
@nijel Can you please have a look at https://github.com/williamdes/phpmyadmintest/commit/76ee682d4705d7f8ef737ac520f3b3415a3b5dff   ?
It is not perfect but It works, improvements can be made :)
What do you think about using my package/api, will you accept that ?

[2018-06-28 01:08] wgkowala commented on #14331
Did not want to close this item.  Trying to understand why EXPORT cannot be called in EVENT in PHPMYADMIN.

[2018-06-28 02:09] ibennetch opened #14434 "Uncaught error: Call to a member function fetch_fields() with SQL creating file"
When I try to create an exported file manually, such as this within the sakila database:

[code]

I get this error, then the file is created correctly anyway.

It only occurs with master; QA_4_8 is not affected.

[2018-06-28 02:09] ibennetch opened #14435 "Event scheduler status toggle doesn't work"
With current QA_4_8 and master, when I go to the Events tab and click the toggle to enable or disable the event scheduler status, nothing happens.

I expect the status to change, and the variable shown with `show variables where VARIABLE_NAME = 'event_scheduler';` to change, but it doesn't work.

[2018-06-28 02:12] ibennetch commented on #14331
Sorry, I'm not quite clear on what's not working for you. The code you've provided works for me (although I had to make the `/tmp/MeterReads/` directory and adjust permissions for the file to be created, otherwise MySQL silently fails). I tested with phpMyAdmin 4.8.2.

What happens if you run the SQL manually from the SQL tab?  Is the event scheduler status showing green/ON in the Events tab?

[2018-06-28 06:08] kid4git commented on #14089
Hi @EBGTM! I experienced the same issue and when I wanted to debug it, I found that it seems to be caused by XDebug.

I was running XDebug 2.5.3 and just starting the debugger in NetBeans (waiting for a connection, not having any active breakpoints) made the SQL query be executed like expected.

I then disabled the XDebug extension and the issue was gone. Now after updating to 2.5.5 the issue no l

[2018-06-28 07:12] nijel commented on #14143
Looks okay. As for the package, feel free to take it under your control or transfer it to phpmyadmin maintenance if you wish.

[2018-06-28 10:59] kingojem commented on #13948
i cant or let me say havnt seen a solution to this... anyone please help

[2018-06-28 11:03] williamdes commented on #13948
@kingojem What version of phpMyAdmin are you using ?
Try upgrading to 4.8.2 :)

[2018-06-28 20:54] ibennetch commented on #14431
By default, both of those other variables are blank, so I don't think setting it to SaveDir or UploadDir makes much sense — if a user sets one or both of those, they can also set TempDir.

I'm not sure if `/tmp/` is a good choice; certainly that's not universally available (such as on Windows systems) and there might be local restrictions that would make that a bad choice (I'd prefer `/tmp/phpmyad

[2018-06-28 21:08] ibennetch commented on #14432
Thanks @williamdes. Yes, this should now be fixed in master/5.0.0-dev.

Thank you for reporting it.

[2018-06-28 21:08] #14432 closed

[2018-06-28 21:09] dilyanpalauzov commented on #14431
On my system, after upgrading phpMyAdmin I was told the system cannot write to './tmp'.  I would have expected just to copy config.inc.php from the old to the new version and then the system was supposed to run.

SaveDir was set already because an old version was configured and installed.  TmpDir was not required at that time, so it was not set.  And hence the situation, where UploadDir is set, wh

[2018-06-28 22:40] ibennetch commented on #14331
Instead of trying to create the event or running your existing even, can you just try entering your query in the SQL tab of that database? If there's any error, you'll get some feedback there whereas the event scheduler often doesn't report anything.

![image](https://user-images.githubusercontent.com/1443710/42064053-b12934f2-7b02-11e8-831c-9397442b39fb.png)

[2018-06-28 23:19] williamdes commented on #14143
I think I will keep this package under my control until I can not maintain it anymore.
I can add you as a member of this repository ?

Once the API will be "perfect", between releases only data will change.

As you requested I removed `Exception` and used `KBException` with version `1.2.1` https://github.com/williamdes/phpmyadmintest/commit/b3be98649b14f6c530ac3c48ea1ca9863db6932b

In https://gith

[2018-06-29 06:28] ZeroGit2015 opened #14438 "Invisible Icon "Show Full Queries""
### Steps to reproduce
1. Click "Status"->"Processes"
2.  Icon "Show Full Queries" on column "SQL query" is invisible.

**PHP version:**
5.6

**phpMyAdmin version:**
4.8.2, 4.8.1

### Client configuration
**Browser:**
Chrome

**Operating system:**
Windows 7

[2018-06-29 12:46] OlafvdSpek commented on #14283
https://github.com/phpmyadmin/phpmyadmin/issues/13525

[2018-06-29 14:44] praggmatica commented on #14410
Related to this - when will apt packages be updated? They are currently still installing the version @patidarkishor777 is referencing. I had to update manually.

[2018-06-29 15:01] ibennetch commented on #14314
Fixed with the pull request #14398 from @nulll-pointer. The commit was cherry-picked to QA_4_8 as b0ec6b69e900814d4742c17f54eb7e2b57386ce6.

Thank you for reporting the issue! This will be fixed as part of the next release of phpMyAdmin.

[2018-06-29 15:01] #14314 closed

[2018-06-29 15:13] ibennetch commented on #14410
Unfortunately, we don't control the packages for individual distributions. You would have to ask your distribution's package manager for information about updates.

I do know that with some LTS Linux distributions, since they're providing older PHP and/or MySQL versions, they can't upgrade the phpMyAdmin because of the version incompatibilities, so for instance in a distribution that maintains PHP

[2018-06-29 15:13] ibennetch commented on #14410
I'll close this since it seems to be fixed in more recent phpMyAdmin releases.

[2018-06-29 15:13] #14410 closed

[2018-06-29 15:49] praggmatica opened #14440 "Warning in ./libraries/classes/Dbi/DbiMysqli.php#213 mysqli_query(): (HY000/1819): Your password does not satisfy the current policy requirements"
### Steps to reproduce
1. Install PHP 7.2.7
2. Install phpMyAdmin
3. Add a database user

### Expected behaviour
Tell us what should happen

The new database user should be added using a generated password from phpMyAdmin.

### Actual behaviour
Tell us what happens instead

Error appears "Some errors have been detected on the server! Please look at the bottom of this window."

[code]

### Server c

[2018-06-29 15:50] Mwh65 commented on #14229
Again I have had to apply the above fix to get the "Recent" tables to work since phpmyadmin was updated to 4.8.2

Surely I can't be the only one affected by this??

[2018-06-29 16:44] #14440 closed

[2018-06-29 19:56] ibennetch commented on #12603
For this one, my opinion is that we can permit logging in but should show a warning on the main page, similar to the way we warn the user if blowfish_secret is too short.

![image](https://user-images.githubusercontent.com/1443710/42112092-c60e3afe-7bb4-11e8-874d-39c16383c293.png)

I'm undecided on whether we should have a configuration directive to bypass this test; I tend to think that's just ad

[2018-06-29 20:59] williamdes commented on #12603
Is it normal that the following warning disappeared somewhere between 4.5.1 and 4.7.7 and in newer versions ?
I know this is maybe not the right place to post this message ...

![4.5.1](https://user-images.githubusercontent.com/7784660/42114478-8443be2e-7bef-11e8-8d90-e647f471345d.jpg)

[2018-06-29 22:40] ramphy commented on #12881
I have the same error, and fixed it changing the language from es_ES to EN, thank you!

[2018-06-30 02:30] StudioLaPomme commented on #14217
I don't use phpmyadmin and i have the same issue. That come from mysql. @mysql

[2018-06-30 07:51] nulll-pointer commented on #12603
@williamdes, that is exactly what I've been thinking, maybe we can add the warning for pma:pmapass in a similar way.

[2018-06-30 10:28] bahl24 commented on #13067
Is anyone working on this, I am a newbie to open source and would like to contribute.

[2018-06-30 12:12] ibennetch commented on #12603
@williamdes That was removed starting in version 4.6.0, because of #11708. With the introduction of `$cfg['Servers'][$i]['AllowNoPassword'] `, it was decided that since the user had to intentionally allow no password logins, they therefore didn't need to be warned.

[2018-06-30 12:12] ibennetch commented on #12603
@nulll-pointer Sounds good to me.

[2018-06-30 15:29] ibennetch commented on #14433
Could you please post here the output of this SQL command (which you can run from the "SQL" tab anywhere in phpMyAdmin)?

`SHOW GRANTS;`

[2018-06-30 23:54] freedmandil commented on #14433
Grants for root@localhost |  
-- | --
GRANT ALL PRIVILEGES ON *.* TO 'root'@'localhost' IDENTIFIED BY PASSWORD '*' WITH GRANT OPTION
GRANT PROXY ON ''@'%' TO 'root'@'localhost' WITH GRANT OPTION

[2018-07-01 14:04] WisdomEye commented on #14427
I can confirm same issue on 4.8.* versions on FreeBSD too.

Version 4.7.* was fine, and SSL Connection with Server was working.

The link for demo is on dev version, production enviroments usually still on "stable", and demo is using PHP 7.2.

My enviroment is on 7.1
patrickdk77 is on 7.0

[2018-07-01 16:30] nulll-pointer commented on #13750
Where can I find this table??

[2018-07-01 17:02] ibennetch commented on #13067
@bahl24 and @cornzie welcome! We love new contributors.

No one is currently working on this, so @bahl24 feel free to jump in and submit a pull request. If you get stuck or would like some advice, we have the developers mailing list and a Gitter room which are both good places to ask general questions. If you're familiar with Git, that will help, but it's pretty easy and we have some hints on our

[2018-07-01 20:00] williamdes opened #14444 "phpstan level 1 - found errors"
See below, upvote if you agree.

[2018-07-01 20:00] williamdes commented on #14444
https://secure.php.net/manual/fr/mysqli.get-client-info.php
[code]

[2018-07-01 20:02] williamdes commented on #14444
Missing `global $goto` ?
[code]

[2018-07-01 20:20] OlafvdSpek commented on #13750
It's an action for each field in the Structure tab.

[2018-07-01 20:43] williamdes commented on #14444
Can someone explain me how can the `return false` be executed.
[code]
https://github.com/phpmyadmin/phpmyadmin/blob/2334119d8a6f25f40fde966fb6252ffe169d3bd6/libraries/classes/Relation.php#L1035-L1070

phpstan reported :
[code]

[2018-07-01 21:06] williamdes commented on #14444
Moving `$default_fk_check = PhpMyAdmin\Util::handleDisableFKCheckInit();` out of the try block ?
https://github.com/phpmyadmin/phpmyadmin/blob/285e38e931635a5d72bc75d38c891ee27a491d1a/import.php#L553-L560

[code]

[2018-07-02 06:14] nulll-pointer commented on #13750
I think we can add it in the options drop down??

[2018-07-02 11:40] sabl0r commented on #14433
I have the same issue running MySQL 5.6.39.
The issue is gone after downgrading PMA from 4.8.1 to 4.7.8.
Note: I did not try any pma releases in between.

[2018-07-02 12:16] williamdes commented on #14433
I can not reproduce this issue, post output of (ADJUST the `'''root''@''%'''` part):
[code]
AND
[code]

### Source https://github.com/phpmyadmin/phpmyadmin/blob/e816e45c183f49e770b4c36714c509e913d2043c/libraries/classes/DatabaseInterface.php#L2291

### Tests
I tried `4.8.2` and `5.0.0-dev`
[code]
[code]

`docker run --hostname=mariadb-10.3.7 --publish=3307:3306 --rm --name=mariadb-10.3.7-pwd-root

[2018-07-02 15:11] lem9 commented on #14444
@williamdes Indeed, in setDbComment() the last "return false" can be removed and the previous "return" can be used unconditionally.

[2018-07-02 19:24] chiarace opened #14445 "Php login issue"
Hi! I can't access to PhpMyAdmin. This is the screen:
<img width="507" alt="schermata 2018-07-02 alle 21 19 28" src="https://user-images.githubusercontent.com/40773806/42182180-ac76b176-7e3d-11e8-8e5a-fa97b79cc36c.png">

I already went to the file config.inc.php but the username and the password are correct.
Maybe is a problem of MySequel but it works.

Operating sistem: macOS Sierra, 10.12.6
MySQ

[2018-07-02 20:21] williamdes commented on #14445
@chiarace  Can you send more informations on your database server and configuration ?

[2018-07-02 21:41] ibennetch commented on #14445
In particular, we'd appreciate knowing your:

* Web server software and version,
* Database server and version,
* Any special configuration you know of regarding the database server,
* PHP version

Thanks!

[2018-07-03 08:48] chiarace commented on #14445
Php version: 4.8.2
I'm new in this field so I don't know how I can get this informations...
I followed this video to install all [https://www.youtube.com/watch?v=o2Qt1H4duYw&list=LLnKfgRPiaAX-3nRDWvG12Cg](url)

[2018-07-03 09:35] williamdes commented on #14445
### phpMyAdmin version
At : https://youtu.be/o2Qt1H4duYw?list=LLnKfgRPiaAX-3nRDWvG12Cg&t=570
The name of the file you downloaded obviously contains the version of phpMyAdmin in the file name, we also need it.

### config
At : https://youtu.be/o2Qt1H4duYw?list=LLnKfgRPiaAX-3nRDWvG12Cg&t=631
Please, send contents of the `config.inc.php` file.

[2018-07-03 09:38] williamdes commented on #14445
@ibennetch He uses MySQL 8.0.11, can this issue be another occurrence of mysql protocol "_incompatibility_" for php

[2018-07-03 09:39] williamdes commented on #14445
@chiarace Can you send the contents(phpinfo) that showed at https://youtu.be/o2Qt1H4duYw?list=LLnKfgRPiaAX-3nRDWvG12Cg&t=365

[2018-07-03 12:15] chiarace commented on #14445
[config.inc.php.zip](https://github.com/phpmyadmin/phpmyadmin/files/2159206/config.inc.php.zip)
<img width="388" alt="schermata 2018-07-03 alle 14 11 19" src="https://user-images.githubusercontent.com/40773806/42219234-88c63cfe-7ecb-11e8-8e2b-c17eceb77af8.png">
<img width="988" alt="schermata 2018-07-03 alle 14 12 15" src="https://user-images.githubusercontent.com/40773806/42219238-8b2cb86a-7ecb-1

[2018-07-03 12:20] nulll-pointer commented on #14445
yes, it seems like mysqli charset incompatibility
See if this solves the problem
https://stackoverflow.com/questions/43437490/pdo-construct-server-sent-charset-255-unknown-to-the-client-please-rep

[2018-07-03 13:15] conet commented on #13222
Still present in *4.8.2*.

[2018-07-03 13:16] chiarace commented on #14445
Where I have to change the charset utf8? I'm sorry for these questions but I start a online course and this is very difficult to me..I have to download MySQL 7 instead the last one (8)? Thank you very much and thank you for your patience

[2018-07-03 13:17] williamdes commented on #14445
yes, try mysql 5.7

[2018-07-03 13:19] chiarace commented on #14445
Ok thanks

[2018-07-03 13:41] chiarace commented on #14445
It worked!!! But I solved it with this:
<img width="750" alt="schermata 2018-07-03 alle 15 40 18" src="https://user-images.githubusercontent.com/40773806/42223196-7750a2be-7ed7-11e8-8545-8312565f2a60.png">

Thank you so much everyone!!

[2018-07-03 13:41] #14445 closed

[2018-07-03 14:31] Kaldor37 commented on #14339
We've got the exact same problem here since version 4.8.*.
We rolled back to 4.7.5 since it's a critical feature.

[2018-07-03 14:49] williamdes commented on #14339
@reFX-Mike or @Kaldor37 Can one of you recreate the database on demo server ?
Send an export if possible :)
Thank you :+1:

I can not find my export of this database on my server...

This issue was reproduced correctly on demo server, I remember.
I think this is related to a missing index.

[2018-07-03 14:59] williamdes commented on #14390
@OlafvdSpek patch solves issue ?

[2018-07-03 15:03] OlafvdSpek commented on #14390
What's the result of your own testing? ;)

[2018-07-03 15:03] williamdes commented on #14287
@nijel Self hosted email sender ?

Who has the list of subscribed emails ?

What are the uses of email service, only notifications ?
Using rss https://github.com/phpmyadmin/phpmyadmin/commits/master.atom ?

I thought about this issue when I found https://git-scm.com/docs/git-send-email

[2018-07-03 15:05] williamdes commented on #14390
@OlafvdSpek For me everything is OK, :eye: is back.
You had the text disappearing also ...

[2018-07-03 15:07] nijel commented on #14287
It goes to git mailing list: https://lists.phpmyadmin.net/mailman/listinfo/git

[2018-07-03 15:14] williamdes commented on #14287
So a web-hook to server that creates and sends an email to mailing list should be OK ?

I remember subscribing to mailing list but I receive mails with a GitHub footer, I am not sure to understand correctly the actual system.

Is GitHub sending an email to mailing list ? like : https://help.github.com/enterprise/2.13/admin/guides/user-management/configuring-email-for-notifications/

[2018-07-03 15:36] nijel commented on #14287
Yes, GitHub is currently generating the emails and sends them to the mailing list where anybody can subscribe.

[2018-07-03 15:40] williamdes commented on #14287
Ok, do you think I can work on finding a way to resolve this issue ?
Hosted web server who waits for web-hooks and does the generating & sending emails ?
NodeJS ?
PHP ?
I will use twig in both cases to generate emails from a template.

[2018-07-03 15:51] nijel commented on #14287
We already do have server side hooks, so it's probably good idea to integrate it there: https://github.com/phpmyadmin/scripts/tree/master/hooks

[2018-07-03 15:59] yeezy69 opened #14447 "Error while copying database (pma__column_info)"
I heavy use the phpmyadmin "Internal relation" function.

While copying (structure and data) a hole database, it's gives

`1136 - Column count doesn't match value count at row 1`

error about the sql-query:

`REPLACE INTO phpmyadmin.pma__column_info (db_name, table_name, column_name, comment, mimetype, transformation, transformation_options)  VALUES('newdatabase','newtable','fieldabc','ListeA','',

[2018-07-03 16:28] williamdes commented on #14447
Did you upgrade phpmyadmin database ? https://github.com/phpmyadmin/phpmyadmin/tree/master/sql

TLDR; try creating a new phpmyadmin database.

[2018-07-03 17:29] williamdes commented on #13975
Successfully reproduced on Windows 10 ( 10.0.10586 ) and VirtualBox with :
- Apache 2.4.33
- PHP 7.2.7
- MySQL 8.0.11

Investigating...

[2018-07-03 17:51] williamdes commented on #13975
This issues does not exist anymore on 5.0.0-dev

[2018-07-03 18:16] williamdes commented on #13975
[-] = Non tested
- [ ] = Does not work
- [x] = Works (Has SQL time)

## Results
- [-] العربية - Arabic
- [-] Հայերէն - Armenian
- [-] Azərbaycanca - Azerbaijani
- [-] বাংলা - Bangla
- [-] Беларуская - Belarusian
- [-] Български - Bulgarian
- [-] Català - Catalan
- [x] 中文 - Chinese simplified
- [x] 中文 - Chinese traditional
- [ ] Čeština - Czech
- [-] Dansk - Danish
- [-] Nederlands - Dutch
- [x] En

[2018-07-03 18:33] yeezy69 commented on #14447
my phpmyadmin database is actual. i checked the structure manually.

i browsed in code:

`phpMyAdmin-4.6.6-all-languages/libraries/Table.php:1146

            // Write every comment as new copied entry. [MIME]
            while ($comments_copy_row
                = $GLOBALS['dbi']->fetchAssoc($comments_copy_rs)) {
                $new_comment_query = 'REPLACE INTO '
                    . Util::bac

[2018-07-03 18:52] sabl0r commented on #14433
I upgraded to 4.8.2 and the issue is back again.

``SELECT * FROM `INFORMATION_SCHEMA`.`USER_PRIVILEGES` WHERE `PRIVILEGE_TYPE` = 'CREATE USER' AND '''root''@''localhost''' LIKE `GRANTEE` LIMIT 1 ``

``SELECT * FROM (SELECT `GRANTEE`, `IS_GRANTABLE` FROM `INFORMATION_SCHEMA`.`COLUMN_PRIVILEGES` UNION SELECT `GRANTEE`, `IS_GRANTABLE` FROM `INFORMATION_SCHEMA`.`TABLE_PRIVILEGES` UNION SELECT `GRANTE

[2018-07-03 22:10] williamdes commented on #13975
- When copying french .mo file in pt_BR folder It works (conclusion mo file is not where this issue is)
- Copy the fr folder to fr_FR and It works !
- Or rename es folder to ES_ES or es@es

I found where is the error, remove this line (some codes work perfectly) :
https://github.com/phpmyadmin/phpmyadmin/blob/b9c0463d960494cbfe0f04b3159c5ff4a467c446/libraries/classes/Language.php#L180

https://sta

[2018-07-03 22:11] yeezy69 commented on #14447
Seems to work for me

[code]

[2018-07-03 22:18] williamdes commented on #14447
@yeezy69 I can not reproduce this issue, open a pull-request to propose your patch :)

[2018-07-03 22:35] #14333 closed

[2018-07-03 23:46] #14229 closed

[2018-07-04 00:05] #14045 closed

[2018-07-04 00:05] #14344 closed

[2018-07-04 00:41] ibennetch opened #14450 "Can't create new bookmark if it causes a syntax error"
If I try to create a bookmark where the variable part is required to avoid a syntax error, it's impossible to create the query because of a MySQL syntax error. For instance, ```SELECT * FROM `actor` WHERE `actor_id` < /*VARIABLE1*/```.

I tested with master and going back several versions (I think as far back as 4.5.0) and it didn't work in any of those versions.

[2018-07-04 00:43] ibennetch commented on #14450
I see a couple of possible ways to fix this, we could just document that the user needs to put in a bogus statement here (such as ```WHERE 0=1 /*OR WHERE `actor` < /*VARIABLE1*/```), we might want to re-write this section of code so as to not execute the SQL when a user is trying to create a bookmark, or perhaps something else I haven't thought of.

[2018-07-04 00:59] ibennetch opened #14451 "Bookmark area doesn't allow entering the variable"
With QA_4_8, master, and RELEASE_4_5_0, when I have a bookmarked query with a variable substitution, I am never able to enter in a value for the variable.

[2018-07-04 01:08] ibennetch commented on #14450
Nevermind — this is mentioned in the documentation. Closing as invalid.

[2018-07-04 01:08] #14450 closed

[2018-07-04 01:09] ibennetch commented on #14451
My syntax was wrong, closing as invalid.

[2018-07-04 01:09] #14451 closed

[2018-07-04 01:13] #14327 closed

[2018-07-04 08:46] OlafvdSpek commented on #14390
Now it does show the eye. Except for the tooltip it's not very clear that this will show the table again.

[2018-07-04 09:37] cognard opened #14452 "Disconnected when I click the edit query button"
### Steps to reproduce
1. Have 2 or more servers in your config
2. Click on a table name to navigate or make a SQL query
3. Click on « edit » link in the section that shows the query that was made

### Expected behaviour
Load the edit query page with the previous query in the textbox

### Actual behaviour
Go back to the login page

### Reason
The edit link has a **data-post** property set to `db=m

[2018-07-04 17:47] williamdes opened #14457 "Browse table - mb_substr"
I can not send a table structure, this issue exists on my server.
I tried to copy table or database, this issue can not be copied.
This issue occurs with my user that is superuser, not with the user that "owns" the database
### Steps to reproduce
1. ?
2. TRUNCATE table
3. Browse table or Execute a search

URL: https://phpmyadmin.[DOMAIN]/sql.php?server=1&db=galeriev3&table=files&pos=0

### Expecte

[2018-07-04 19:31] reFX-Mike commented on #14339
What happened to that database/table I've already created?

Sorry, but I can't spend time re-creating this problem on your demo server over and over. It's straightforward to do:

Create a table with 2-3 columns. Make all of them INT.
Select the first two columns and create a primary-index out of them (one index for both).
Insert some dummy data

Now when browsing the table, select the drop-down fo

[2018-07-04 19:38] williamdes commented on #14339
Demo server gets reset every ? day/hour

Thank you for the instructions !, reproduced 100%.

### SQL

[code]

[2018-07-04 20:05] williamdes commented on #14457
Missed instance in #14317 see : https://github.com/phpmyadmin/phpmyadmin/pull/14317/files#diff-25c75771d2046495e6113414e54b5981

[2018-07-04 22:48] #14171 closed

[2018-07-05 09:25] spankandex opened #14460 "CTRL + ENTER executing sql command 2 times"
### Steps to reproduce
1. Select Database;
2. Select SQL query.
3. Use CTRL+Enter keys shortcut to execute query.

### Expected behaviour
Executes the command once.

### Actual behaviour
Executes the command twice. Try to insert only a row in a simple table. (It is inserted twice)

### Server configuration
AWS AMI
Linux

**Web server:**
Nginx

**Database:**
MySQL 5.7

**PHP version:**
7.0.2

**php

[2018-07-05 14:13] BarthDELUY commented on #14434
I ran into the exact same error when trying to select into outfile:

![pma_file_bug](https://user-images.githubusercontent.com/37869573/42328220-008897d4-806e-11e8-8414-5c94979dfb8a.png)

It was working fine when we set up the export requests, maybe in the last 4.7 or 4.8.0 version.

[2018-07-05 17:10] LogIN- commented on #14433
I had the same issue and I fixed it by setting following option in `config.inc.php`:
`$cfg['Servers'][$i]['DisableIS'] = true;`
I guess something is messed up somewhere here:

https://github.com/phpmyadmin/phpmyadmin/blob/676986aa4ec7af04b19db00cbc325fb636655c00/libraries/classes/DatabaseInterface.php#L2307

[2018-07-05 21:46] williamdes commented on #14457
@mauriciofauth I suspect demo server error to be this issue: https://demo.phpmyadmin.net/master-config/sql.php?server=2&db=opengis&table=gis_all&pos=0

[2018-07-06 00:05] sifuvue commented on #14217
mysql release 8.0 on windows server 2013,
MySQLWorkbench 6.3 CE causes this issue as well. Any new users or attempts to update passwords on already created users will corrupt their passwords resulting in those users not being able to sign in. Previous untouched users and root can still be accessed normally with their saved passwords.

At no point did I change/update software versions anywhere beca

[2018-07-06 00:58] #14434 closed

[2018-07-06 17:12] ibennetch commented on #14434
Thanks @mauriciofauth

[2018-07-06 18:51] tiny6996 commented on #14332
I was having the same issue on ubuntu 18.04 with php 7.2 and maria db 10.1 however based on [this stack exchange thread](https://stackoverflow.com/questions/48001569/phpmyadmin-count-parameter-must-be-an-array-or-an-object-that-implements-co/50536059) all that needed to be changed the code listed below sql.lib.php file
[code]

[2018-07-06 23:52] williamdes commented on #14444
@mauriciofauth I need advice on the following issue: I have a lot of reported errors because of parameters that are not declared nullable.

Should we use the `?type $varname` syntax and phpdoc syntax ?
https://secure.php.net/manual/en/migration71.new-features.php

See in next comment

[2018-07-06 23:53] williamdes commented on #14444
https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Sql.php#L567-L603

[code]

[2018-07-07 00:38] nulll-pointer commented on #14460
@williamdes, can you repro. this. I could not
server : apache2.4.18
php :7.2
mariadb : 10.3

[2018-07-07 00:44] williamdes commented on #14460
@nulll-pointer Yes
- Create an empty table
- Go to sql tab create an insert statement and CTRL+enter
- Row is inserted twice !

Using Google Chrome

[2018-07-07 09:35] mauriciofauth commented on #14444
@williamdes That's right, use this syntax for nullable parameters.

[2018-07-07 15:05] nulll-pointer commented on #14460
Still can't reproduce this.

[2018-07-07 15:19] spankandex commented on #14460
Humm.. I've run the phpmyadmin "install" in a database. Then this issue started happening. Not sure if it was the update or the phpmyadmin tables

[2018-07-07 15:19] spankandex commented on #14460
I'll try to reproduce it in other server I have

[2018-07-08 08:58] williamdes commented on #14444
[code]

Delete the isset statement or add nullability ?

From the code I browsed, deleting the isset statement seems ok, and since type is declared, seems twice good idea :)

@mauriciofauth approval ?

https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Import.php#L587-L648

[2018-07-08 09:00] williamdes commented on #14444
Same for :
[code]

[2018-07-08 09:18] williamdes commented on #14444
Another `global` missing ?

https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Controllers/Table/TableSearchController.php#L188-L190
https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Controllers/Table/TableSearchController.php#L305

https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1d

[2018-07-08 09:38] williamdes commented on #14444
[code]
https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Utils/HttpRequest.php#L199-L233

[2018-07-08 11:28] williamdes commented on #14444
After cleaning non null error declarations.

[code]

[2018-07-08 14:37] williamdes commented on #14444
Can someone explain me the `if (isset($sot_cache)) {` since it it always set.
[code]
https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Util.php#L4491-L4501

[2018-07-08 14:41] williamdes commented on #14444
Same here
[code]
https://github.com/phpmyadmin/phpmyadmin/blob/2d58411bee1dc33bc38198ea51349d469bc61ac5/libraries/classes/Tracker.php#L66-L86

[2018-07-08 16:11] spankandex commented on #14460
Okay. I ve found it. It only happens if you install phpmyadmin, aka running that script that create pma tables in a database. Can someone confirm this?

[2018-07-08 17:07] freedmandil commented on #14433
adding:
`$cfg['Servers'][$i]['DisableIS'] = true;`
Fixed the issue for me as well

[2018-07-08 17:13] freedmandil commented on #14433
To answer:

`SELECT * FROM `INFORMATION_SCHEMA`.`USER_PRIVILEGES` WHERE `PRIVILEGE_TYPE` = 'CREATE USER' LIKE `GRANTEE` LIMIT 1`
GRANTEE | TABLE_CATALOG | PRIVILEGE_TYPE | IS_GRANTABLE |  
-- | -- | -- | -- | --
'root'@'localhost' | def | SELECT | YES

`SELECT * FROM (SELECT `GRANTEE`, `IS_GRANTABLE` FROM `INFORMATION_SCHEMA`.`COLUMN_PRIVILEGES` UNION SELECT `GRANTEE`, `IS_GRANTABLE` FROM `INFORMA

[2018-07-08 22:57] PetrKosvanec commented on #12246
I solved this after I added passwords to both 'mysql' root and 'mysql' user. And after I made the passwords for my user in MySQL and phpMyAdmin identical.

[2018-07-09 07:40] setaou commented on #14452
I confirm this issue, that I'm also struggling with.

[2018-07-09 10:51] nulll-pointer commented on #14460
I could reproduce this on the demo server(master branch) by following the steps in your last comment.

[2018-07-09 16:43] williamdes commented on #14444
[code]

[2018-07-09 21:55] erolatreston opened #14473 "Database export takes too long and causes Proxy Error"
### Steps to reproduce
1. Go to Export tab
2. Select "Custom - display all possible options" option
3. Select a database with ~10,000 tables
4. Click on "Go" button

### Expected behaviour
The export sql is generated successfully and downloaded

### Actual behaviour
After ~5 minutes, following error is displayed on the browser
![image](https://user-images.githubusercontent.com/13632094/42478046-42

[2018-07-09 22:48] nulll-pointer opened #14474 "Fatal javascript error 'Cannot read property 'replace' of undefined'"
### Steps to reproduce
1. [Select query tab for a database.](https://demo.phpmyadmin.net/master-config/db_multi_table_query.php?db=sakila)
2. Fill out all the fields and select IN(...) or NOT IN as the operator
3. Hit Preview Sql or Submit

### Expected behaviour
Should submit the sql query

### Actual behaviour
Fatal javascript error 'Cannot read property 'replace' of undefined'

### Server confi

[2018-07-09 23:11] williamdes commented on #14473
Duplicate of #14369 ?
Try https://github.com/phpmyadmin/phpmyadmin/issues/14369#issuecomment-395789025

[2018-07-09 23:27] williamdes opened #14475 "[5.0.0-dev] codemirror hints"
### Steps to reproduce
1. Create 1 table, min 1 column
2. Go to "SQL" **in your table**
3. Type the name of the columns after `WHERE`

### Expected behaviour
Show type hint
https://demo.phpmyadmin.net/QA_4_8/index.php?db=world&table=City&target=tbl_sql.php&server=1
![QA_4_8](https://user-images.githubusercontent.com/7784660/42480781-7491c852-83df-11e8-80b1-b0463570f751.jpg)

### Actual behaviour
S

[2018-07-10 01:15] nulll-pointer commented on #14475
This also happens in the console.

[2018-07-10 12:47] ibennetch opened #14476 "Query string login parameters not working"
Using QA_4_8 and master, I tried to open different servers with the query string parameters references [here](https://docs.phpmyadmin.net/en/latest/faq.html#can-i-access-directly-to-database-or-table-pages) and [here](https://docs.phpmyadmin.net/en/latest/faq.html#which-parameters-can-i-use-in-the-url-that-starts-phpmyadmin).

I tried http://192.168.1.10/pma-dev/?server=1&pmausername=foo&pmapasswo

[2018-07-10 12:48] ibennetch opened #14477 "Documentation fixup for URL query string parameters"
There are two FAQ entries that are very similar, [here](https://docs.phpmyadmin.net/en/latest/faq.html#can-i-access-directly-to-database-or-table-pages) and [here](https://docs.phpmyadmin.net/en/latest/faq.html#which-parameters-can-i-use-in-the-url-that-starts-phpmyadmin). This could be improved, cross-referenced, and/or even merged.

[2018-07-10 15:09] williamdes commented on #14476
`pma_username` and `pma_password` have an underscore.

Works fine for me.

[2018-07-10 17:48] ibennetch commented on #14476
Indeed, this is my mistake and a good example of why one should copy and paste rather than switch between tabs while trying to remember a thing :)

Thank you.

[2018-07-10 17:48] #14476 closed

[2018-07-10 22:00] erolatreston opened #14478 "phpMyAdmin no longer streams the export data"
Prior to phpMyAdmin 4.8, export would almost immediately start exporting and stream the export data as it processes the tables. Since 4.8, phpMyAdmin seems to generate the export sql file on the server side and does not start the download until all tables are exported into the sql file. If there are too many tables to export, the operation may fail with a timeout.

### Steps to reproduce
1. Go to

[2018-07-11 10:23] akankshya107 commented on #14460
Reproduced this exact error. Using the console, you can see that this error is reproduced for every single SQL command.
Server: apache2.4.18
PHP: 7.0
![image](https://user-images.githubusercontent.com/30494845/42565916-73c8e178-8522-11e8-8a24-a052d5125ae0.png)

[2018-07-11 15:36] chebaby commented on #14320
Hi @ibennetch

Is there any progress being made on this issue? i still get the same error.

Thanks

[2018-07-11 18:54] #14457 closed

[2018-07-11 21:19] mauriciofauth commented on #14315
Fixed in #14389.

[2018-07-11 21:19] #14315 closed

[2018-07-11 21:32] mauriciofauth commented on #13270
@proton9 Thanks for your interest. If you find an inline javascript event, you can fix it and open a pull request.

[2018-07-11 22:12] williamdes commented on #14438
Confirmed on 4.8.1 & 4.8.2 & 5.0.0-dev

### 4.7.9

![4.7.9](https://user-images.githubusercontent.com/7784660/42602035-10e16ba2-8568-11e8-9ec5-4cfc2507ea7f.jpg)

### 4.8.1 & 4.8.2 & 5.0.0-dev

![master](https://user-images.githubusercontent.com/7784660/42602026-06b2ff1a-8568-11e8-9df8-0cd041e80d56.jpg)

[2018-07-11 22:16] williamdes commented on #14438
Truncate icon is also affected.

[2018-07-11 22:33] lem9 commented on #14478
Please explain what you mean by "at lot of tables" in terms of the number of tables and the total size of them.

[2018-07-11 22:42] williamdes commented on #14438
@laps15 will you refactor `libraries/classes/Server/Status/Processes.php` ?

[2018-07-11 22:43] williamdes commented on #14438
Lines causing issue for 2 icons:
https://github.com/phpmyadmin/phpmyadmin/blob/285e38e931635a5d72bc75d38c891ee27a491d1a/libraries/classes/Server/Status/Processes.php#L183-L185

[2018-07-11 23:05] erolatreston commented on #14478
We have around `10,000` tables. They are very simple tables with one or two columns. They also contains small number of rows - less than 10 on average.

Prior to 4.8.0, the export would immediately start the download of the export data. phpMyAdmin would stream the data to the browser as it is processing the tables. After 4.8.0, phpMyAdmin seem to generate the entire export data and only send the e

[2018-07-11 23:43] laps15 commented on #14438
@williamdes the class Server\Status\Processes still uses html inside php, I am refactoring only the twig templates.

[2018-07-12 11:52] Deewde opened #14481 "Unable to execute any query"
### Steps to reproduce
1. Select a DB
2. Select a table
3. Click the SQL Tab
4. Nowhere to write a query in the tab or the console

![image](https://user-images.githubusercontent.com/30693478/42631392-c5b2ee78-85e2-11e8-8516-62f2f9d9172c.png)

The server port is not 80

### Expected behaviour
I should see an editable textarea

### Actual behaviour
No area to write the query in

### Server configur

[2018-07-12 11:53] williamdes commented on #14481
Can you try other browsers ?
Clear cache ?

[2018-07-12 12:01] Deewde commented on #14481
Tried it on the latest versions of Chrome, Firefox and Edge and neither works.
Also cleared the cache on all 3. Didn't help.

[2018-07-12 12:02] Deewde commented on #14481
There's no apparent JS errors, only some jQuery warnings in the dev console.

[2018-07-12 12:04] williamdes commented on #14481
@Deewde Thank you !
I can not reproduce this issue, can you send the url to the sql tab ?

[2018-07-12 12:10] Deewde commented on #14481
You're welcome. I'm afraid not, the URL is hidden behind a VPN wall.
I'm a web developer myself, so maybe I can help you track down the problem?

[2018-07-12 12:17] williamdes commented on #14481
@Deewde Good idea !, I meant that you would send the URL (anonymized) ?
Try a fresh new install using my script https://gist.github.com/williamdes/883f2158f17e9ed5a83d892ada56f5df

Do you proxy the trafic ?

[2018-07-12 14:45] teo1978 opened #14482 "SQL editor detects non-existing errors"
### Steps to reproduce
1. go to https://demo.phpmyadmin.net/master-config/tbl_sql.php?db=sakila&table=address
2. type the following query:
[code]
or this:
[code]
3. run it

### Expected behaviour
The editor shouldn't show any error while editing the query, since it's perfectly valid (the proof being when you run it it doesn't throw any error on the server).

### Actual behaviour

At step 2, the ed

[2018-07-12 15:22] williamdes commented on #14482
@devenbansod /label sql-parser ?
For me this is a sql-parser bug.
[code]
[code]
[code]

[code]

[2018-07-12 18:15] ibennetch commented on #14482
Thanks for reporting. This is a problem with the sql parser, as @williamdes points out. I'll add it to the bug tracker there as well: https://github.com/phpmyadmin/sql-parser/issues/199.

[2018-07-12 18:18] ibennetch commented on #14482
As you've noticed, you can ignore the warnings in the SQL tab and force the query to successfully run anyway. Of course, this should get fixed, but that's a workaround for you until then.

[2018-07-12 20:48] Deewde commented on #14481
I've found the problem. It had nothing to do with phpMyAdmin. The fresh nginx installation was serving the static resources of my server (js/images/css, etc) using the default octet-stream Content-Type header instead of using /nginx/mime.types. Correcting this bizarre behaviour instantly fixed the problem.

Thank you @williamdes for your prompt responses!

[2018-07-12 21:03] williamdes commented on #14481
Thank you, @Deewde !
/close

[2018-07-13 15:59] donpaul120 commented on #14220
@rmanibus  i have php 7.2.7 and mysql  Ver 8.0.11 but im wondering why it doesn't work still.

[2018-07-14 02:09] ibennetch commented on #14447
I was also unable to reproduce this issue, although your analysis and explanation seem to make sense to me.

c4654d24dfb is when this was last changed, to fix #13010, which related to an incorrect column count when performing a copy operation. It's a bit tough for me to follow off hand what the intention is there, but I agree with you that it shouldn't include $target_table twice.

[2018-07-15 20:58] yannakos opened #14485 "phpMyAdmin 4.8.1 display missing many rows"
### Steps to reproduce
1. i login MySQL command line client to count(id) of the table, the table have 348951 rows data
2. but i click on the table name from left sidebar in phpMyAdmin 4.8.1, it show 235439 rows data
3. even i try change the id order by desc, it is not the actually last id record
4. 348951 - 235439 = missing 113,512 rows data
5. in phpMyAdmin 4.6.6 is showing all actually records
6

[2018-07-15 21:00] williamdes commented on #14485
@yannakos Can you send test data ?

[2018-07-15 21:06] yannakos commented on #14485
how to send test data? the data almost 5GB, i google and find this
[https://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxExactCount](https://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxExactCount)
how to change this value in the GUI option screen

[2018-07-15 21:09] williamdes commented on #14485
@yannakos Are rows missing or is the count not exact ?

[2018-07-15 21:52] yannakos commented on #14478
i try to export data only (350,000 rows) in v4.8.1, after click the run, the whole screen freeze and saw the server memory usage 100%, after a few mins, the SAVE button window popup

but in v4.6.6, click the run, will first show the SAVE button window, then will use less memory just like read and write, read and write

[2018-07-16 00:08] lem9 commented on #14485
This should explain the behavior :
https://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxExactCount

[2018-07-16 00:11] vmcruz commented on #14156
Couldn't reproduce this with various databases. As of current version 4.8.2 this seems that can't be reproduced. Until further information this should be closed.

[2018-07-16 00:51] vmcruz commented on #14460
In summary, in order to reproduce this, the steps are:

- Go to **SQL Tab** and create an insert statement
- Before running the sql statement, "**Bookmark this SQL quer**y" by giving it a name
- Hit **CTRL + Enter**, SQL Query will be executed and saved in bookmarks, and 1 row will be inserted
- Go to **SQL Tab** again and create another insert statement
- Now when pressing **CTRL + Enter**, row i

[2018-07-16 01:30] vmcruz commented on #14427
I can't reproduce this bug either. This is the config I used:

Apache/2.4.33  OpenSSL/1.0.2o PHP/7.1.19
Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407
PHP version: 7.1.19

[2018-07-16 05:01] WisdomEye commented on #14427
Updating the data from my enviroment:

Have tested again and same error, 4.7 is fine for me:

Apache/2.4.33 OpenSSL/1.0.2k PHP/7.1.19
Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407
PHP Extensions: mysqli (mysqlnd 5.0.12-dev), curl (7.60.0), mbstring (libmbfl version = 1.3.2 / oniguruma version = 6.8.1)
PHP version: 7.1.19

Note: Have update openssl after see the new release, and

[2018-07-16 06:06] #14481 closed

[2018-07-16 06:07] madhuracj commented on #14482
Closing as https://github.com/phpmyadmin/sql-parser/issues/199 is tracking the issue.

[2018-07-16 06:07] #14482 closed

[2018-07-16 10:40] yannakos commented on #14485
seems all query is un-trustable now, i dont know when the query will return all results, when the query will hide the results, or may be an option can show a red alert box "Do you want to show all result ?"

anyway, in config.inc.php i added the $cfg['MaxExactCount'] = 500000;
fix the problem, thankyou guys

[2018-07-16 21:07] clearz opened #14486 "strlen(false) getting called in Results.php"
### Steps to reproduce
1.
Create a db and run the following sql on it
CREATE TABLE `main` (
  `id` bigint(20) NOT NULL,
  `age` int(11) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `main` (`id`, `age`) VALUES (1, 37);

CREATE TABLE `names` (
  `id` bigint(20) NOT NULL,
  `name` varchar(255) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

INSERT INTO `names` (`id`, `name`) VA

[2018-07-16 21:43] williamdes commented on #14486
I am unable to reproduce this issue.
https://demo.phpmyadmin.net/QA_4_8/db_sql.php?db=williamdes
https://demo.phpmyadmin.net/master-config/db_sql.php?db=williamdes

@mauriciofauth You patched this issue with https://github.com/phpmyadmin/phpmyadmin/commit/13874a6937e78031741f858fad4eadd769cc3303
5 days ago

/close

[2018-07-16 22:55] #14365 closed

[2018-07-16 23:03] #14435 closed

[2018-07-17 12:04] lem9 commented on #14485
@yannakos Please close this issue.

[2018-07-17 12:50] #14485 closed

[2018-07-17 13:41] darkskull009 opened #14487 "Help"
I hwve download latest phpmyadmin and i have uploaded on my site but i can't login into it

[2018-07-17 13:44] williamdes commented on #14487
@darkskull009 :confused: Please send all the info you have (server config, database info, ...)
Are you hosting the database ?
Send the error.

[2018-07-18 09:19] rm-km-it opened #14488 "Accessing bookmarked query throws PHP error"
### Steps to reproduce
1. IN SQL tab, select existing bookmark
2. Submit

### Expected behaviour
Bookmark should be executed or shown

### Actual behaviour
PHP Fatal error:  Uncaught TypeError: Argument 1 passed to PhpMyAdmin\DatabaseInterface::escapeString() must be of the type string, integer given, called in /var/www/phpmyadmin/libraries/classes/Bookmark.php on line 380 and defined in /var/www/

[2018-07-18 10:04] williamdes commented on #14488
@rm-km-it I created a PR to fix this, TLDR. I did not test anything.
If any contributor wants to confirm this issue and the PR, feel free to do !

[2018-07-18 11:06] #14488 closed

[2018-07-18 11:07] ibennetch commented on #14488
Fixed, thanks for reporting this.

[2018-07-19 14:21] AkshatSrivastava2 commented on #14477
Hello @ibennetch
I want to work with this issue.
What exactly do I need to do cross-referenced it or merge these two things?

[2018-07-19 17:18] Piyush3079 commented on #14460
Another way to reproduce this is:

1) Go to **SQL Tab** and execute a query by hitting **CTRL + Enter**.

2) The PHP server command line will show that request is sent on **import.php** twice.

[2018-07-19 21:40] dddns opened #14491 "Charset definition doesn't take effect on new databases"
Howdy,

I have the default charset defined in config.inc.php

$cfg['DefaultCharset'] = 'utf8mb4';
$cfg['DefaultConnectionCollation'] = 'utf8mb4_general_ci';

But when I go to new databases, the default options is always:
utf8_general_ci

Shouldn't the default be utf8mb4_general_ci ?

PS: I know that if I change the default in my.ini it works, but as if i'm setting a default in PMA, is more logic t

[2018-07-20 10:55] kingkobra97 opened #14492 "Unable to manage the partitioned table"
### Steps to reproduce
1. Select a partitioned table
2. Click on "Partitions" link
3. In the "Action" column try to analyze (check, optimize etc. also don't work)

### Expected behaviour
Expected execution of the request: `ALTER TABLE foo ANALYZE PARTITION p_2014`

### Actual behaviour
![screen](https://user-images.githubusercontent.com/28353279/42998706-644c8dbc-8c1b-11e8-8693-aee74d5b5d1a.jpg)
N

[2018-07-20 13:43] ibennetch commented on #14492
Confirmed with both QA_4_8 and master.

[2018-07-20 13:50] ibennetch opened #14494 "Uncaught TypeError when editing partitioning"
With master, any attempt to editing a partition leads to multiple Uncaught TypeError messages.

[2018-07-20 13:51] #14494 closed

[2018-07-20 19:35] mightydok opened #14495 "phpmyadmin select on large table"
### Steps to reproduce
1. Try to select group by data over 75Gb table
2. After 5-7 min phpmyadmin failed with 500 error
3. At logs i get error:
[code]

### Expected behaviour
phpmyadmin works like a charm

### Actual behaviour
phpmyadmin failed with HTTP error 500

### Server configuration
**Operating system**:
Ubuntu 14.04

**Web server:**
Apache 2.4

**Database:**
MySQL Percona 5.7.22

**PHP ver

[2018-07-21 14:03] williamdes commented on #14444
[code]

@lem9 @ibennetch can someone explain this line ( tbl_operations.php#L192 ) it seems strange to `.=` to a boolean:
[code]

[2018-07-21 14:39] webroamer opened #14498 "Number of rows is now limited to 500"
### Steps to reproduce
1. open a table with over 500 rows or select from a table using a condition that generates more than 500 rows (e.g. using "search").
2. try to see them all at once
3. fail -> maximum no. of rows is 500

### Expected behaviour
I would like to continue using the previous logic where the number of rows was not limited.
Alternatively, please add an option to see 1000 rows.

###

[2018-07-21 18:22] nulll-pointer commented on #14498
Not limiting the number of rows is not a good option. What if you have 10,000 rows and want to see only some of them? Showing all of them is an overkill + page will become quite slow.

[2018-07-21 19:54] webroamer commented on #14498
This is not a new feature - this is the way it used to be until today.
In the previous version the default query result displayed only 30 lines, but after it was displayed I could ask for a larger number of rows to be displayed simultaneously.

[2018-07-21 19:56] diyoyo opened #14502 ""Ignore" check box (in INSERT tab) does not uncheck when all the fields are edited through popup windows"
### Steps to reproduce
1.  Create a table with let's say 2 columns with foreign key
2. In the related tables (those referred to by the keys), add many entries, so that it reaches the threshold of PhpMyAdmin where the < select > becomes a popup, for displaying the options.

### Expected behaviour
The "Ignore" checkbox should become unchecked for that entry, since fields are filled.

### Actual beha

[2018-07-21 20:19] diyoyo opened #14503 "JavaScript events not activating when input comes from mouse or browser autocomplete"
### Steps to reproduce
1. Try to fill whatever form of phpMyAdmin by other means than the keyboard. For example, make your browser autocomplete your word
2. Wait for the JS event to perform

Example: in the SQL tab, try to assign a name to your query in the bookmark field, then let the browser autocomplete.

### Expected behaviour
JS event is triggered and 2 new checkboxes should appear for additi

[2018-07-21 20:25] diyoyo opened #14504 "Suggestion: duplicate the multiple row menu bar at the top of the page"
When looking at the results of a query, it would be nice to have another row of the "Actions for the selected rows" menu bar, at the top of the page.
When they're are many entries, it is sometimes easier to scroll to the top than to the bottom.

[2018-07-21 20:32] diyoyo opened #14506 "Suggestion: Adding a link to create entry into related table2 when inserting element in table1"
### Steps to reproduce
1. Let's say you are inserting entries into a table (table1) whose columns have relationships with other tables
2. You go through the <b>select</b> menu, but you don't find the value you were looking for in table2

### Expected behaviour
It would be great if you could open a popup to insert new data directly into table2, from the insert form of table1.

### Actual behaviour

[2018-07-21 20:35] diyoyo opened #14507 "Bug report: Width of columns are never saved"
### Steps to reproduce
1.  Select a table to browse
2.  Adjust one of the column's width
3. Come back on that very same page later

### Expected behaviour
The width of the column should be set to the same as the latest modification

### Actual behaviour
The width is back to default behavior.

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**phpMyA

[2018-07-21 20:38] diyoyo opened #14508 "Bug report: Display column for relationships messes up with other columns"
### Steps to reproduce
1. Browse a table that has regular columns of text, as well as columns with relationships to other tables.

### Expected behaviour
Imho, the fact that the relationships are formatted as links (html tag <b>a</b>) should not impact the visualization of regular fields.

### Actual behaviour
Columns with relationships are, because of the anchor tags, fully expanded, which causes

[2018-07-22 06:30] yingxj opened #14509 "Bug report: Before mysqli_real_escape_string() should use mysqli_set_charset()"
### Steps to reproduce
1. Export a mysql table which CHARSET=gbk

### Expected behaviour
Export  as a  SQL format file

### Actual behaviour
Some text is garbled.

Because the "SET NAMES" query will not affect mysqli_real_escape_string().
It's recommended to set the default character set using mysqli_set_charset().
And i hope to add "gbk" charset to PhpMyAdmin\Charsets -> $mysql_charset_map, thank

[2018-07-22 12:31] madhuracj commented on #14492
Duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/14207

[2018-07-22 12:31] #14492 closed

[2018-07-22 12:44] #14207 closed

[2018-07-22 18:52] ibennetch opened #14511 "2FA: Recovery key?"
Unless I'm mistaken, there is no good way to recover a two-factor authenticated account if the user loses access to their app. The workaround for this is to have an administrative user manually edit the phpMyAdmin Configuration Storage to disable 2FA for that user.

Would it be worthwhile to provide a recovery key string that the user can enter to recover access to their account?

[2018-07-23 07:06] Piyush3079 commented on #14477
As you can see both the FAQ's are regarding the use of query parameters in url, they can be cross-referenced like
`you can use the db, pma_username, pma_password and server parameters. Using pma_username and pma_password has been tested along with the usage of ‘cookie’ auth_type.
For example, direct login URL can be constructed as 'https://example.com/phpmyadmin/?pma_username=user&pma_password=pas

[2018-07-23 11:39] AkshatSrivastava2 commented on #14477
@Piyush3079  Thank you. Helped alot.

[2018-07-23 13:03] lem9 commented on #14507
Not a bug because the width is not supposed to be saved. Could be a feature request but this is open to discussion about what would be the best behavior.

[2018-07-23 13:10] lem9 commented on #14504
In my experience these actions ("with selected") are not used enough to justify doubling their presence.

[2018-07-23 13:14] lem9 commented on #14508
Screenshot please?

[2018-07-23 14:51] drubb opened #14513 "Composer create-project complains about outdated lock file"
### Steps to reproduce
Install phpMyAdmin using Composer:
[code]

### Expected behaviour
No errors / warnings

### Actual behaviour
Warning about outdated Composer lock file:
[code]

Composer version: 1.6.4 / 1.6.5
phpMyAdmin version: 4.8.2

The full log:
[code]

[2018-07-23 17:44] darkain opened #14514 "Tables with SYSTEM VERSIONING show up as views instead of tables"
Reference: https://mariadb.com/kb/en/library/system-versioned-tables/

### Steps to reproduce
1. Create a table with SYSTEM VERSIONING.
2. Refresh phpMyAdmin
3. Table will be listed under VIEWS instead of TABLES

### Expected behaviour
Table should be listed as a table.

### Actual behaviour
Table is instead incorrectly listed as a view.

### Server configuration
**Operating system**: Debian Stret

[2018-07-23 18:20] darkain opened #14515 "Values cannot be edited in SYSTEM VERSIONING tables with INVISIBLE timestamps"
Reference: https://mariadb.com/kb/en/library/system-versioned-tables/
Reference: https://mariadb.com/kb/en/library/invisible-columns/

### Steps to reproduce
1a. Create a table with SYSTEM VERSIONING without manually specifying the TIMESTAMP columns.
1b. Create a table with SYSTEM VERSIONING, set the `ts` and `te` columns to INVISIBLE, and add a PRIMARY KEY to any other column
2. Browse the table

[2018-07-23 18:27] darkain opened #14516 "Cannot INSERT into tables with SYSTEM VERSIONING"
Reference: https://mariadb.com/kb/en/library/system-versioned-tables/

### Steps to reproduce
1. Create a table with SYSTEM VERSIONING and manually specify the `ts` and `te` columns.
2. Go to the "Insert" tab in phpMyAdmin for the that table
3. Attempt to insert any valid data

### Expected behaviour
New row INSERTed into table

### Actual behaviour
SQL query error: 1906 - The value specified for

[2018-07-23 21:17] williamdes commented on #14514
Confirmed on master using docker server.
`docker run --hostname=mariadb-10.3.7 --publish=3307:3306 --rm --name=mariadb-10.3.7-pwd-root -e MYSQL_ROOT_PASSWORD=root -d mariadb:10.3.7`
`USER=root`
`PASS=root`
`PORT=3307`
`HOST=127.0.0.1`

[2018-07-24 07:41] sritd commented on #13197
Dear William,

I had a long look to all of those functions and working process. I think it will be the easiest solution,
to do authentication once a time in the way the users have configured it. If the authentication is successfully it will be stored as a temporary entry in the internal database or the session data on the server. With a new check function, which will test, if the user is successfu

[2018-07-24 11:39] nulll-pointer commented on #13843
Hello @nijel, I'm working on this as a part of my GSOC project. I looked into your commits and found that change in local storage is not bound with change in values in the form. So I guess I'll have to work on this. Some other things I wanted to clarify-
1. I think we need to uniquely identify the configuration under username and server name.
2. There are tons of configuration directives, I think

[2018-07-24 12:18] nijel commented on #13843
Your approach looks reasonable to me.

[2018-07-24 13:19] fr51 opened #14517 "HTML in SQL export"
When I try to export a (large ?) table with checking "add instruction DROP TABLE", the export file contains SQL statement but also HTML, making the file unimportable.

Btw, I wonder if this issue is related to the table's size because the table's 794298 lines and the max id is 935510.

But more surprisingly, when I uncheck "add instruction DROP TABLE", the issue vanishes.

### Steps to reproduce
1

[2018-07-24 14:02] williamdes commented on #13197
@sritd Your idea seems good, I think a pull-request is a good idea :)
Sorry for not reaching back to you as quickly as I thought.

[2018-07-24 16:59] TedMurphy commented on #14217
Same issue right now, fresh install of MySQL community server 8.0.11 and phpmyadmin 4.8.2.

I was able to create a user from the command line:

CREATE USER 'mytest'@'localhost' IDENTIFIED BY 'HelloWorld222';

[2018-07-24 19:12] ibennetch commented on #13843
I agree that this seems reasonable.

[2018-07-24 22:16] ibennetch commented on #14517
Can you paste here some of the HTML code? Is it a small amount or a lot of HTML? Can you reproduce the problem on a smaller table that contains only a few rows?

[2018-07-25 07:08] fr51 commented on #14517
HTML code after SQL statements :

<!DOCTYPE HTML><html lang='fr' dir='ltr'><head><meta charset="utf-8" /><meta name="referrer" content="no-referrer" /><meta name="robots" content="noindex,nofollow" /><meta http-equiv="X-UA-Compatible" content="IE=Edge" /><style id="cfs-style">html{display: none;}</style><link rel="icon" href="favicon.ico" type="image/x-icon" /><link rel="shortcut icon" href="favic

[2018-07-25 07:08] fr51 commented on #14517
The issue doesn't appear on a smaller table (with 12 rows)

[2018-07-25 07:47] Daijobou opened #14519 "Missing phpmyadmin version number?"
I use Plesk that show me a database of a subscription. I can only see the version of phpmyadmin outside in plesk tools "plesk components" as 4.6.6-cos7.build1705180328.17. I would like too see the version in phpmyadmin too. Is this (already) possible?

EDIT: Yes, I'm stupid :D closed ^^

[2018-07-25 07:58] Daijobou opened #14520 "Old doc link to mysql 5.7"
On top the icon for documentation link to https://demo.phpmyadmin.net/master-config/url.php?url=https%3A%2F%2Fdev.mysql.com%2Fdoc%2Frefman%2F5.7%2Fen%2Findex.html => https://dev.mysql.com/doc/refman/5.7/en/

I have mysql 10.1.34-1.el7.centos, so is this link not a little old and better use https://dev.mysql.com/doc/refman/8.0/en/ ?

[2018-07-25 07:59] williamdes commented on #14520
Related to #14143 will be fixed by #14459

[2018-07-25 08:04] #14519 closed

[2018-07-26 06:01] Marq91 commented on #13178
Servidor: 127.0.0.1 via TCP/IP
Tipo de servidor: MariaDB
Conexión del servidor: No se está utilizando SSL Documentación
Versión del servidor: 10.1.32-MariaDB - mariadb.org binary distribution
Versión del protocolo: 10
Usuario: root@localhost
Conjunto de caracteres del servidor: UTF-8 Unicode (utf8)
-------------
Apache/2.4.33 (Win32) OpenSSL/1.1.0h PHP/7.2.5
Versión del cliente de base de datos: l

[2018-07-26 10:37] celestinoxp opened #14525 "Warning in PHP7.3 alpha4"
### Steps to reproduce
1. Open phpmyadmin

### Expected behaviour
No problems

### Actual behaviour
phpmyadmin shows a warning message:

Warning in .\libraries\classes\Config\FormDisplay.php#658
 "continue" targeting switch is equivalent to "break". Did you mean to use "continue 2"?

Backtrace

.\vendor\composer\ClassLoader.php#444: include()
.\vendor\composer\ClassLoader.php#322: Composer\Autoloa

[2018-07-26 12:48] lem9 commented on #14525
Maybe this is a new warning for nested "foreach" loops; in this case we might need to clarify the intent with "continue 1".

[2018-07-26 12:58] celestinoxp commented on #14525
I see here https://github.com/phpmyadmin/phpmyadmin/pull/14521/files , suggests "continue 2".
So, continue 1 or continue 2 ???

[2018-07-26 14:55] OlafvdSpek opened #14526 "Can't add index in edit field form."
When editing a field (structure), you can set auto-increment etc but you can't set an index.. which is required for auto-increment.
The add field form does contain an index dropdown.

V: 4.8

[2018-07-26 16:58] rwhirn commented on #14339
I see this issue has not been addressed in 4.8.2.

I believe that it might have something to do with complex Primary Index.

[2018-07-26 17:05] rwhirn opened #14527 "Import Settings function not working"
### Steps to reproduce
1. Export SETTINGS OR SAVE TO LOCAL STORAGE
2. Import settings
3. Get error message
4. Press "Yes"

### Expected behaviour
Should restore settings to saved version

### Actual behaviour
Displays an error message asking for "Yes" or "No" to continue. Press yes and never finishes loading - the "Loading..." message appears and then it dies.

Error message as follows:

### Serve

[2018-07-26 17:25] lem9 commented on #14525
The "continue" statement without a number is equivalent to "continue 1" so unless there is currently a bug with that, it should be "continue 1".

[2018-07-27 04:39] ibennetch commented on #14525
The bug report with PHP appears to be https://bugs.php.net/bug.php?id=76603.

Their RFC and discussion of this change is at https://wiki.php.net/rfc/continue_on_switch_deprecation.

The RFC says a fix is easy:

[2018-07-27 04:53] ibennetch commented on #14525
After reading the whole PHP RFC and the "Proposal" section there, I think the right value is `continue 2`, although a less ambiguous and therefore possible better alternative is to use `break` instead.

[2018-07-27 05:10] ibennetch commented on #14525
Strangely, I can't reproduce this with PHP 7.3.0-alpha4, and I don't have a good explanation for that. Regardless, we should probably audit the rest of the code to make sure we get all of these, since `pcregrep -r -M "(?s)switch.*?(?=^\}$)" *|grep continue` shows quite a few results.

[2018-07-27 07:09] OlafvdSpek commented on #14525
@ibennetch How would `break` be an alternative? That'd be equivalent to `continue 1`, not `continue 2`.

[2018-07-27 08:19] #14143 closed

[2018-07-27 11:22] williamdes commented on #14287
@nijel /close ?

[2018-07-27 12:03] nijel commented on #14287
I've just replaced email service with hook @williamdes implemented.

[2018-07-27 15:23] SirDeadlystrike commented on #14301
Can confirm - Running into this as well

[2018-07-27 15:24] williamdes commented on #14301
@SirDeadlystrike TL;DR Can you send test data, it would help :)

[2018-07-27 15:37] SirDeadlystrike commented on #14301
@williamdes
Seems to be exactly whats stated above - Phpmyadmin is trucating json objects causing a parse error in the grid view.

Here is a Json object we use that triggers said issue
`
{"aotc": "2017-02-02T03:34:00.000Z", "summary": "0/10 N", "total_bosses": 10, "heroic_bosses_killed": 0, "mythic_bosses_killed": 0, "normal_bosses_killed": 0}
`

The Error:
![php-error-1](https://user-images.githu

[2018-07-28 09:45] codehimanshu opened #14529 "Export Schema Design throws 414"
### Steps to reproduce
1. Create a database with around 50-60 tables
2. Open "Designer" tab from "More" in top bar
3. Export Schema to pdf

### Expected behaviour
PDF should be downloaded

### Actual behaviour
It returns 414 dues to all the tables names being added to URL.

### Server configuration
**Operating system**: Ubuntu 16.04

**Web server:** Apache/2.4.29 (Ubuntu)

**Database:**

**PHP ver

[2018-07-28 15:17] Piyush3079 opened #14530 "Missing method from CentralColumns.php class"
### Steps to reproduce
1. Open PMA and Select any database having at least one table with atleast one column.
2. Goto db_central_columns.php.
3. Select any table from drop down of `Select a table`

### Expected behaviour
On selecting any table, its columns will be loaded in `Select a column` drop down.

### Actual behaviour
It is giving an error.
`/db_central_columns.php - Uncaught Error: Call to

[2018-07-29 16:30] ibennetch commented on #14529
This looks to be the same root cause (and solution) as #12299.

[2018-07-29 21:36] BO41 commented on #14248
@rijaspk @ibennetch will this PR get merged or should someone open another one with a maybe better solution?

[2018-07-29 22:15] ibennetch opened #14908 "Uninterpreted HTML in warning message of settings import"
Using QA_4_8, I exported my settings, then tried to import them again. I got a warning message stating that some settings were invalid, and they included some literal `<i>` and `</i>` rather than rendering the text in italics.

![image](https://user-images.githubusercontent.com/1443710/43371217-65a897fe-935b-11e8-956f-5b3ba5a84760.png)

[2018-07-29 22:17] ibennetch commented on #14527
Confirmed with the QA_4_8 branch.

[2018-07-29 22:18] BO41 commented on #6167
@nijel is the change suggested by @pma-import wanted for this project?
and if so, what needs to be changed and how?

[2018-07-30 11:25] julien5762 opened #14534 "designer Countable document.getElementById(...) is null"
### Steps to reproduce
1. Open a database and open designer. A message says : Some errors have been detected on the server! Please look at the bottom of this window.
There are nothing at the bottom of server

2. When I show generated source in the designer, i see this message in source code :

3. Edit an entry of any table. The message will appears at the bottom of table. With the firefox console,

[2018-07-30 13:38] ibennetch commented on #14534
I agree that something is broken, but oddly enough, I get a different error:
[code]

[2018-07-30 13:50] julien5762 commented on #14534
The difference is maybe with the database name. I think the most big problem is the error reporting who create 60 times the same report that makes the browser crash see the complete system

[2018-07-30 17:48] ibennetch commented on #14520
I'm thinking the same thing, this will probably be improved by the rewrite of our documentation linking system, which will be part of phpMyAdmin 5.0.

@williamdes could you remind me, do your improvements prefer a particular version or does it return the best result from the MySQL/MariaDB search feature?

[2018-07-30 18:01] williamdes commented on #14520
@ibennetch My improvements return the best result. The robot uses a link that is (for now) manually updated.

The API could be improved to include links to summary or keywords.

[2018-07-30 18:36] ibennetch commented on #14509
Regarding `$mysql_charset_map`, I see it listed here: https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/classes/Charsets.php#L33, which seems to be what you mean. As near as I can tell, gbk has been included in the phpMyAdmin charset mapping since at least version 2.10 from 2003.

There also seems to be a rather old MySQL bug about this charset: https://bugs.mysql.com/bug.php?id=67739

[2018-07-31 02:38] ibennetch commented on #14503
This is an interesting problem, although a bit of an edge case.

Stack overflow [suggests](https://stackoverflow.com/a/24746108/2385479) using 'on input' instead of keydown and keyup events to detect changes in these situations.

[2018-07-31 02:42] ibennetch commented on #14487
Closing due to lack of feedback. We can re-open if we get a response.

[2018-07-31 02:42] #14487 closed

[2018-07-31 02:54] ibennetch commented on #14491
I know that the DefaultCharset directive has been removed for some time, so we know that doesn't do anything anymore.

DefaultConnectionCollation refers to the connection between the MySQL server and phpMyAdmin, so I think that wouldn't change the default option for creating a new database.

I'm not sure offhand why yours is using utf8 instead of utf8mb4; you're right that this is generally undesi

[2018-07-31 07:14] nijel commented on #6167
I think this should be more or less solved since introduction of composer. The only problem is that not all libraries use composer loader so far.

[2018-07-31 07:14] julien5762 commented on #14534
I've found something about this bug :

1. I've import a database from an other project and I've open the designer, no error was reported.
2. I've arrange the database schema and save the page.
3. I've leave the designer and I've reopen the designer for this database and the bug come back.

The problem seems to be related with the designer page or recorded schema

[2018-07-31 07:15] nijel commented on #12437
It's one of the security improvements suggested by @emanuelb. In short CSP should be as narrow as possible and there are some not necessary directives included.

[2018-07-31 07:16] nijel commented on #12437
Currently the related code is here:

https://github.com/phpmyadmin/phpmyadmin/blob/78638600dbad45294b87b91d362f148675324598/libraries/classes/Header.php#L521-L606

[2018-07-31 08:15] dddns commented on #14491
Isaac,

I have MySQL with:

character-set-server = utf8
collation-server = utf8_general_ci

For other reasons.
Central question is, the configuration for PMA, shouldn't be used for all PMA environment and don't rely on MySQL settings?

$cfg['DefaultCharset'] = 'utf8mb4';
$cfg['DefaultConnectionCollation'] = 'utf8mb4_general_ci';

Am I thinking right? At least that's what makes sense for me, let me

[2018-07-31 19:05] ibennetch commented on #14491
I think there's no setting in phpMyAdmin to control this value.

`$cfg['DefaultCharset']` has been removed entirely and doesn't do anything anymore (I think it was removed with df4a6efe472599ba52afac169399d2a649414ced, which means the earliest release without it was version 3.4.0).

`$cfg['DefaultConnectionCollation']` is the connection collation to use. I may be mistaken, but I think that affects

[2018-07-31 22:06] dddns commented on #14491
Isaac,

Oh got it, so it was removed, no efect!
If I change the value in mysql defaults, when creating new databases it appears what I defined in mysql as you stated.
But imagine I have a value in mysql like swidich_ci or so, something wierd to maintein some working app's, and i want to use the utf8mb4 as default for new things in PMA, i wont be able to.
Setting $cfg['DefaultConnectionCollation'],

[2018-07-31 22:24] dddns opened #14535 "Slow database import"
Hi,

Since versions 4.7x and 4.8+, when i try to import a db it takes soooo long, even for 10mbit db's.
IT's not a upload thing (i have 10mbit up), or server hw, maybe some tune that i need i admit.

pma is running in apache 2.4 and php 7.2.
what conf should i look for?

[2018-08-01 03:24] johnlow95 opened #14537 "withdraw question in faq"
i saw that there is question that have been withdrawn in the faq.md file, should i go and arrange the number and remove the withdrawn part?

[2018-08-01 04:09] ibennetch commented on #14537
Hello and thanks for your interest and also for taking the time to ask first. Because we have a lot of old links (from other forums, mailing lists, etc) to the documentation, it would cause some confusion to renumber them.

An argument could be made for just removing them entirely and just skipping that number, but at the time it was decided that doing so could cause confusion about why we skipped

[2018-08-01 04:25] trnguyenvan commented on #11462
@WillPresley : It's work for me. Thanks alot.

[2018-08-01 07:34] yingxj commented on #14509
Sorry, which missing gbk charset is $cfg['AvailableCharsets'] in file :
[https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/config.default.php#L2609](https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/config.default.php#L2609)

About mysqli_real_escape_string() there is a caution in manual:
[http://php.net/manual/en/mysqli.real-escape-string.php](http://php.net/manual/en/my

[2018-08-01 07:56] TonyLianLong commented on #14301
The only way I've figured out to skip the problem is to select "Full Text" in the option and phpMyAdmin will show the full JSON content in the grid, and then it works file.

[2018-08-01 21:11] ashraysinha6069 commented on #14133
sent PR for the given issue
#14539

[2018-08-01 22:48] #14530 closed

[2018-08-02 02:38] joatorreshi commented on #11528
I am having the same problem as @LuisKrotz and so it happens when I activate the ssl connection for my remote database. Version 4.5.4.1deb2ubuntu2.

[2018-08-02 14:12] ibennetch commented on #14513
What's the output of `composer update --dry-run`?

[2018-08-02 15:53] teo1978 opened #14542 "Search doesn't show the query if no results found"
### Steps to reproduce
1. Log in, select a database and a table
2. go to Search
3. Enter some search criteria that DO yield results and hit Go
4. Repeat, but this time use search criteria that DON'T yield any result

### Expected behaviour
In both cases (3) and (4), the exact same thing should happen: that both the query and the results are shown. In case (4) the results are "MySQL returned an emp

[2018-08-02 16:07] ashraysinha6069 commented on #14542
i would like to work on this issue...
and some guidance on where to start would be great

[2018-08-02 18:06] williamdes commented on #14374
@mauriciofauth or @nijel Can you please re-open this issue ?

The column "Default" is a missed instance of this issue ...

SQL
[code]

#### Notes
To have the same result you need to navigate to "Structure" not use the direct URL or chrome will say "ERR_BLOCKED_BY_XSS_AUDITOR"

#### Screenshot
![selection_031](https://user-images.githubusercontent.com/7784660/43602149-6ab6ea34-968f-11e8-8c37-df3c4f

[2018-08-03 18:11] williamdes commented on #11825
@nijel @lem9 @zaverichintan @manishbisht Is this issue still accurate ?
[Dev docs](https://develdocs.phpmyadmin.net/) now use [sami](https://github.com/FriendsOfPHP/Sami)

[#codetriage](https://www.codetriage.com/phpmyadmin/phpmyadmin)

[2018-08-03 20:17] #13627 closed

[2018-08-03 20:25] #14375 closed

[2018-08-03 20:50] lem9 commented on #14542
I don't find that annoying. The assumption is that you would like to redo your search, and for this the "Show search criteria" permits to redisplay the search area where you can refine your criteria.

[2018-08-03 20:51] lem9 commented on #14537
Indeed; this issue can be closed IMO.

[2018-08-03 20:52] lem9 commented on #14535
Please give more details, for example the size of the file you're trying to import, and whether you tried on another server (maybe the demo server).

[2018-08-03 20:59] #14537 closed

[2018-08-03 21:23] teo1978 commented on #14542
The assumption is wrong, and you shouldn't be making assumptions.

The reasons for showing the query when the result set is empty are exactly the same as when the result is not empty. Showing the query in one case but not the other doesn't make any sense.

Reasons for being able to see the query and edit it (other than just editing the search criteria):
- I want to know what the query is for this

[2018-08-04 08:04] PieterjanDeClippel opened #14544 "Typo in code"
### Steps to reproduce
1. Install phpMyAdmin on Raspbian Stretch (Linux)
2. Try to open the webinterface of phpMyAdmin
3. Login into phpMyAdmin

### Expected behaviour
View management page

### Actual behaviour
An error message popped up:
Warning in ./libraries/sql.lib.php#613
 count(): Parameter must be an array or an object that implements Countable

### Server configuration
**Operating system**

[2018-08-04 08:12] williamdes commented on #14544
Duplicate of : #14273

This file does not exist on version 4.8.x, deleted on commit https://github.com/phpmyadmin/phpmyadmin/commit/2124311e3828b8bdf14092e73d0f62830e8ce1ff#diff-73378a096e2547c3f4278abf8106c723

/close

[2018-08-04 13:53] lem9 commented on #14525
@ibennetch According to http://php.net/manual/en/control-structures.continue.php , the `switch` statement itself is considered a loop, so we should replace `continue` at line 658 with `continue 2` which means to do the next iteration of the `foreach` statement enclosing this `switch`. This is probably the intended behavior.

[2018-08-04 14:08] #14544 closed

[2018-08-04 14:09] PieterjanDeClippel commented on #14544
Can this issue be marked as fixed?

[2018-08-04 23:01] superlbr commented on #14220
fail in php 7.2.8 and mysql  Ver 8.0.12

[2018-08-05 16:00] teo1978 opened #14545 "after dist-upgrade, login triggers 404 on index.php"
### Steps to reproduce
1. I had phpmyadmin installed on debian 7 perfectly working
2. I ran a dist-upgrade to debian 8, which implies phpmyadmin has been upgraded to some more recent version

### Expected behaviour
should keep working

### Actual behaviour
when I go to https://mywebsite.com/phpmyadmin I get the expected login screen.
When I enter my username and password, I get:
[code]

### Server

[2018-08-05 16:00] teo1978 commented on #14545
note that Apache is working and the other sites I have on the same server are working fine, some of them using mysql

[2018-08-05 16:11] teo1978 commented on #14545
Of course the file /usr/share/phpmyadmin/index.php is there, so I guess something wrong in phpmyadmin's apache configuration.
When upgrading, for all the configuration files that differed from the currently installed version, I always chose to install the new version.

[2018-08-05 16:27] teo1978 commented on #14545
Also, navigating to http://mydomain.com/phpmyadmin (plain http) used to redirect to https://mydomain.com/phpmyadmin (with https). Now, instead, plain http://mydomain.com/phpmyadmin gives a 404, while https://mydomain.com/phpmyadmin shows the login form as expected, except that when submitting it, the url with explicit index.php gives 404.

(other http and https sites work normally as they did befo

[2018-08-05 17:03] lem9 commented on #14542
Pardon me but after 20 years using phpMyAdmin, I'll make assumptions whenever I feel to. My assumption is based on my perceived needs of the majority of users, who, I believe, don't want to type SQL queries or review them.

[2018-08-05 17:12] ibennetch commented on #14545
You could try to reconfigure the phpMyAdmin package: `dpkg-reconfigure -plow phpmyadmin` which should handle recreating the configuration file `/etc/apache2/conf-available/phpmyadmin.conf`.

Aside from that, if you're having trouble it's probably specific to the Debian package, so I suppose you should file a bug with them.

[2018-08-05 17:26] teo1978 commented on #14542
So you wouldn't show the query when there _are_ search results, either.
Nor when one is just browsing a table's contents. Or after deleting a row.

Nor basically EVERYWHERE, because that's what phpmyadmin currently does, show the performed queries practically everywhere, whatever you do through the interface, except in this specific case, when you do a search _and_ the search result is empty.

Wha

[2018-08-05 17:36] teo1978 commented on #14545
Actually that was the issue. On the old system, an `Include` needed to be added manually in apache's configuration to include that file (the conf-available and conf-enabled directories didn't exist). Since the apache upgrade overwrote the main apache configuration file, and the phpmyadmin upgrade didn't create anyting under conf-available, the configuration was gone.

The strange thing is that I w

[2018-08-05 17:37] teo1978 commented on #14545
Is there a way to see what `dpkg-reconfigure -plow phpmyadmin` will do before doing it?

[2018-08-05 17:52] lem9 commented on #14542
You might have a good point, but I wonder why, if I remember correctly, nobody else mentioned this.

[2018-08-05 18:05] teo1978 opened #14546 "PHP fatal error with $cfg['forceSSL']==false"
### Steps to reproduce
1. I had phpmyadmin installed on debian 7, and I did a dist-upgrade
2. the 'forceSSL' option was now false by default
3. I navigated to `https://mydomain.com/phpmyadmin` and logged in
3. I navigated to `http://mydomain.com/phpmyadmin` and tried to log in

### Expected behaviour
Should work both with https and plain http

### Actual behaviour
With https it worked fine, but wi

[2018-08-05 19:02] ibennetch commented on #14546
Hi, and thanks for your report.

One common cause of this is related to the sessions directory: https://stackoverflow.com/questions/21243704/call-to-undefined-function-error-phpmyadmin

Aside from that, this is related to the Debian package specifically (since the official distribution isn't affected by this), so you should file a report with Debian about it.

[2018-08-05 19:02] #14546 closed

[2018-08-05 21:33] teo1978 commented on #14546
Well, fixing the permissions of the session folder actually fixed the issue (thanks), and the fact that the folder permissions are wrong does indeed look like an issue in the distribution.

However, I'm pretty sure there is _also_ a bug in phpmyadmin's code, if not being able to store a session results in an error like _Call to undefined function `__()`_

[2018-08-05 21:40] teo1978 commented on #14546
Actually, this error comes from the very function that is supposed to throw an error saying that starting the session failed:
[code]
Obviously, the expected behavior is to print that error message, not to trigger another error calling a function that does not exist.

[2018-08-05 21:46] teo1978 commented on #14546
I have edited the title and description. I don't think I have the ability to reopen the issue myself.

[2018-08-05 21:52] williamdes commented on #14546
@teo1978 And you will not
The file does not exist anymore.
Renamed in : https://github.com/phpmyadmin/phpmyadmin/commit/fec1886d9bdc1c477ab835c1888f82f44f01fb3c#diff-b8504a528792ede972fe1b7b061d761f
Deleted in : https://github.com/phpmyadmin/phpmyadmin/commit/65c5a13debf2c7d4bfd9cbc1144fc616c52ed002#diff-b8504a528792ede972fe1b7b061d761f

Please use an updated version of phpMyAdmin or at least near

[2018-08-05 22:34] teo1978 opened #14547 "restore support for forceSSL setting"
Just found out this:

Very bad idea. It was very convenient to have this handled by the PHP code without having to change server configuration, and the implementation is trivial. Can't see why removing a useful and simple feature like this.

[2018-08-06 01:37] #14477 closed

[2018-08-06 01:53] ibennetch commented on #12603
Implemented with #14443, so this will become a part of version 5.0

[2018-08-06 01:53] #12603 closed

[2018-08-06 08:48] Ashus opened #14548 "HTML injection in import warning messages"
### Steps to reproduce
1. create a table with int columns
2. import html string values to these columns using Import from file

### Expected behaviour
Warning messages should be escaped.

### Actual behaviour
They are not, potentially breaking application or causing havoc executing scripts.
https://ctrlv.cz/3ncV

### Server configuration
**Operating system**:
Windows 10
**Web server:**
Apache2
**D

[2018-08-06 12:09] nijel commented on #11825
As for the devel docs at least the [index.html](https://github.com/phpmyadmin/scripts/blob/master/develdocs/output/index.html) could be improved (and preferably use same look as our website).

However I think this was about user documentation, which I think is good enough as it is right now.

[2018-08-06 14:57] troglodyne opened #14552 "Bad callers to getError in four Rte classes cause blank errors to be reported when adding things like triggers"
### Steps to reproduce
1. Create a dummy table if you don't already have one for testing.
2. Navigate to the table and attempt to add a trigger. Name it anything you want, but make sure that the 'Definition' field contains a syntax error instead of a valid definition so that it would cause an error.
3. Click 'Go'.

### Expected behaviour
You see an error like the following:
MySQL Said: #1064 - You

[2018-08-06 14:59] williamdes commented on #14552
@troglodyne I confirm
This issue also occurs when you try to create a procedure and the body has an error.

[2018-08-06 15:04] williamdes commented on #14552
![test data](https://user-images.githubusercontent.com/7784660/43724637-b8f3ff8a-999a-11e8-965b-c55599728c24.jpg)
[code]

[2018-08-06 15:05] williamdes commented on #14552
@troglodyne Can you try your patch on my test case ?

[2018-08-06 15:11] troglodyne commented on #14552
My patch appears to resolve the issue there as well:
![grab](https://user-images.githubusercontent.com/20960409/43725012-033f1fbe-9961-11e8-8c2a-47cdd9f91808.png)

[2018-08-06 15:41] troglodyne commented on #14223
I can confirm this issue. What is missing in the steps to replicate is that you *need to have not used designer before* (which sets the table positions).

This is because the problem occurs whenever getTablePositions returns null on line 133 of db_designer.php:
`$tab_pos = $designerCommon->getTablePositions($display_page);`
It later passes $tab_pos to `$databaseDesigner->getHtmlTableList` on line

[2018-08-06 16:08] ibennetch commented on #11825
I think we can close this for now. If anyone has specific suggestions for further improvements, they're welcome to make a pull request or add another comment here.

[2018-08-06 16:08] #11825 closed

[2018-08-06 18:57] #14552 closed

[2018-08-06 19:01] ibennetch commented on #14552
Thanks for the excellent report and troubleshooting. Your pull request has been merged. Thanks for your contribution!

[2018-08-06 19:46] jeff-kilbride commented on #14478
Possibly the same issue. The export function no longer works with 4.8.2 on Amazon RDS. After clicking the "Go" button and a slight delay, I get a "File Not Found" error for `export.php`.

[2018-08-06 19:51] jeff-kilbride commented on #14478
Here are the log messages from nginx (sanitized):
[code]

[2018-08-06 22:12] AndreyNazarchuk commented on #14159
@OlafvdSpek
windows 10, Google Chrome

I tried looking through the settings and installing backspace as back disablers, but nothing seems to be working.

Please add an option in the settings to disable it.

[2018-08-06 22:13] AndreyNazarchuk commented on #14159
@ibennetch
To reproduce go to a table and type a query and hit go. Then hit backspace.

[2018-08-06 23:49] #14525 closed

[2018-08-07 06:19] OlafvdSpek commented on #14159
Backspace as back is disabled by default in Chrome.

[2018-08-07 13:08] sharifzadesina commented on #14301
same here

[2018-08-07 16:15] williamdes opened #14554 "Add event/trigger icon not showing"
### Steps to reproduce
1. Go to "Events'
2. Look at the "Add event" link

I am working on the setup of a local Selenium server to improve tests. And avoid stupid bugs like this one.

### Expected behaviour
Have an icon
![with icon](https://user-images.githubusercontent.com/7784660/43787862-4ef9c4e8-9a6c-11e8-9ce4-b7c703d28f22.jpg)

### Actual behaviour
No icon
![without icon](https://user-images.g

[2018-08-07 17:14] #14554 closed

[2018-08-07 17:15] ibennetch commented on #14554
Thanks for the report and research!

[2018-08-07 20:42] svivian opened #14555 "JavaScript error when auto completion is open"
### Steps to reproduce
1. Go to a table and use Edit inline.
2. Add a clause that uses a string, e.g. `where field='abc'`.
3. Press Ctrl+Enter to run the query

### Expected behaviour
The query should run with errors.

### Actual behaviour
There is a JS error. I've sent an error report several times before but nothing has been fixed in many months. The exact error is:

	Uncaught TypeError: Cannot

[2018-08-07 21:16] jfha73 opened #14556 "Add support for mysqlnd"
### Steps to reproduce
1.Install Fedora Server 28
2.Install apache and php extensions (mysqli is not there anymore)
3.Install phpMyAdmin

### Expected behaviour
phpMyAdmin to work

### Actual behaviour
The distros that are still building php-mysqli are doing it like this: --with-mysqli=mysqlnd,shared, but the really new ones are just not building with mysqli support, phpMyAdmin requires mysqli to

[2018-08-09 09:33] OlafvdSpek commented on #14556
mysqlnd provides the mysqli interface doesn't it? What exactly would pMA have to do to 'support' mysqlnd?

[2018-08-09 14:30] davidfavor opened #14560 "PHP-7.2 Clarification"
Can't find a clear description of which phpMyAdmin versions support which PHP versions.

1) Clarify if 4.6.x supports PHP-7.2 (Yes/No).

2) Clarify if 4.8.x supports PHP-7.2 (Yes/No).

3) State min PHP version for PHP-5.0-dev to work.

Also if there is a support matrix somewhere, be great to have the URL.
[https://www.phpmyadmin.net/downloads/](https://www.phpmyadmin.net/downloads) provides some i

[2018-08-09 14:51] ibennetch commented on #14560
Hi,

Perhaps a matrix would be more helpful, but we currently do list the requirements after the big version heading on the download page, for instance, for phpMyAdmin 4.8.2, the description says "Current version compatible with PHP 5.5 to 7.2 and MySQL 5.5 and newer."

So yes, 4.8.x supports PHP 7.2 and should work without any trouble there.

We don't support phpMyAdmin 4.6.x any longer, so I don

[2018-08-09 14:51] davidfavor commented on #14560
Yes!

Thanks!

[2018-08-09 19:45] laps15 opened #14561 "GSoC 2018 contributions documentation"
As the end of this year's Google Summer of Code approaches, this issue summarizes the work done during my project.

During my project's development, I''ve refactored the existing Twig templates, my main strategy, when it was possible, was to reorganize the functions by putting all the logical part at the beginning, and the view's at bottom, then I created a new template, and merged all of the temp

[2018-08-09 22:59] lem9 commented on #14561
Hi Leonardo,
shouldn't this be a blog post instead of an issue? https://medium.com/@leo.strozzi98

[2018-08-09 23:10] lem9 commented on #14556
@jfha73 Sorry but maybe you misunderstand what is mysqlnd. Have a look at http://php.net/manual/en/mysqlnd.overview.php which explains that the MySQL Native Driver is not an API, so it does not have an impact on the programming inside phpMyAdmin.

[2018-08-09 23:48] lem9 commented on #14547
According to https://github.com/phpmyadmin/phpmyadmin/commit/1e9e14d23b0abc0863504d8963bb6d14570e98d8

" In most setups we simply do not have enough information to decide
whether user has come through HTTPS or not leading to infinite
redirects.

Anyway this is better to handle at web server side together with setting
HSTS headers.
"

[2018-08-10 04:51] remicollet commented on #14556
The php-mysqlnd package provides the mysqli and pdo_mysql extensions.

`dnf install php-mysqli`

phpMyAdmin package in the repository works for me
https://apps.fedoraproject.org/packages/phpMyAdmin

Please give a better explanation of your issue, and if you are using distro packages, better to report this to distro bug tracker.

[2018-08-10 13:57] ThallerIT commented on #14447
thanks for the patch, @yeezy69 - well done!

[2018-08-10 20:29] lem9 commented on #14556
Thanks @remicollet !

[2018-08-11 08:41] AmirHosseinKarimi commented on #13713
Hi, Is this problem fixed?

[2018-08-11 11:54] irenesalomo commented on #13713
Hi,

I haven't had chance to fix this.

-------------------------------------------------------------
<http://www.facebook.com/pages/IBM-Premier-Club/86475836162>

On Sat, Aug 11, 2018 at 6:41 PM Amir hossein Hossein Zadeh Karimi <
notifications@github.com> wrote:

[2018-08-11 20:07] laps15 commented on #14561
Yes, I'll post it in my blog when it's ready, I've posted here so it's in the same place as the source code.

[2018-08-12 00:16] QROkes opened #14562 "PMA version from command line"
I just have a question.
Is there a way to check the PMA current installed version from command line?

PMA is included in my Open Source Project "Webinoly" and I need to show the version of all the installed packages (Ubuntu - bash script).

[2018-08-12 13:28] drubb commented on #14513
@ibennetch Here's the output, I've left out the installation suggestions:
[code]
Imho the fix would be shipping the project template without a composer.lock file at all, as it's just a template.

[2018-08-12 14:50] AmirHosseinKarimi commented on #13713
@irenesalomo Ok thanks, I will work on this.

[2018-08-12 15:36] lem9 commented on #14562
No way currently.

[2018-08-12 15:37] lem9 commented on #14560
@davidfavor Please close.

[2018-08-12 15:40] ibennetch commented on #14560
Closing

[2018-08-12 15:40] #14560 closed

[2018-08-12 15:49] ibennetch commented on #14562
You could grep it from the source yourself, though; for instance from where we set PMA_VERSION (see as an example commit https://github.com/phpmyadmin/phpmyadmin/commit/42f36cce395eade401155e51cd15900b86bcec70).

[2018-08-12 15:50] williamdes commented on #14562
@ibennetch From `composer.json` ?

[2018-08-12 15:54] ibennetch commented on #14562
@williamdes I don’t think current version information is reliably available there, is it?

[2018-08-12 15:56] williamdes commented on #14562
@ibennetch I did not see that nobody indicated it...
https://github.com/phpmyadmin/phpmyadmin/blob/master/package.json is maybe a better idea

[2018-08-13 00:55] williamdes opened #14565 "Selenium tests"
This issue is for discussing issues I found.
I am trying to make a working selenium grid and then add more tests.

Topics:
- Are we using the latest browsers ?
- Are we testing on Chrome, Firefox, IE, Safari ?

Remarks:
- Some tests fail because my small screen is not as small as I could imagine.
For example: window is maximised, trying to search for the "More" dropdown but can not find it because

[2018-08-13 01:04] williamdes commented on #14565
I am trying to move to `facebook/php-webdriver` but I am not use this is a good Idea.
I will see when all the test suite runs without stupid errors.
I will post the script to run selenium tests locally, using selenium grid, docker (mariadb), chrome and gecko drivers

[2018-08-13 06:56] ashraysinha6069 commented on #14555
if no one else is working on this, I would like someone to assign me this issue
also, I am new to phpmyadmin contributors community so some help on codebase would be great.

[2018-08-13 18:47] WisdomEye commented on #14427
After got sometime for update my PHP from 7.1 to 7.2 I come back to inform the problem persists.

So is not an problem with PHP version.

[2018-08-13 20:12] ibennetch commented on #14562
Reopened because we need to document or automate updating `packages.json`.

@mauriciofauth introduced this file in 83df3be3295325a42a487afcf4b88e8b84de7a52 "Add ESLint JavaScript linter" but I don't think we have documented the need to increment the version in packages.json when creating a new release.

I think we need to document this in the "Todo now" section of scripts/create_release.sh. After

[2018-08-13 20:14] ibennetch opened #14567 "Documentation: increment version number in packages.json"
We need to document updating the version number in `packages.json`.

@mauriciofauth introduced this file in 83df3be3295325a42a487afcf4b88e8b84de7a52 "Add ESLint JavaScript linter" but I don't think we have documented the need to increment the version in packages.json when creating a new release.

I think we need to document this in the "Todo now" section of scripts/create_release.sh. After we make

[2018-08-13 20:15] ibennetch commented on #14562
On second thought, because this is rather a different request than the documentation, I am closing this again in favor of opening #14567.

[2018-08-13 20:15] #14562 closed

[2018-08-13 20:25] ibennetch commented on #14565
We love having the testing improved!

A quick look at Browserstack suggests that currently the automated tests are being run only on Chrome with various Windows versions. I don't know off hand if that can be configured and improved; certainly we'd like to test on all the other browsers as well. Of course, local testing can occur on whatever browser you have installed; I'm only speaking of the auto

[2018-08-14 00:13] SailTheUniverse commented on #12177
Hi,
I know this is an old post, but I am having the same issue described above. I am attempting to install phpmyadmin on my Windows 10 computer. I have installed Apache2.4, PHP7, and have put the phpmyadmin files in the Apache htdocs folder. When I go to http://localhost/phpmyadmin all of the actual PHP code shows up instead of the actual login page. Any and all help is appreciated!
Thanks!

[2018-08-14 02:31] Apollo725 commented on #14220
I expired root user and reinstall all of the mysql workspace, then I got this error.
Warning: mysqli_connect(): The server requested authentication method unknown to the client [caching_sha2_password] in /Volumes/Workspace/workspace/test/php_test/Simple-PHP-Login/add.php on line 3

I was using mac and didn't use xampp.

[2018-08-14 08:01] williamdes commented on #12177
TL;DR
@SailTheUniverse Did you check php is working and configured as expected ?
Try a php `hello world` file first.

[2018-08-14 13:40] SailTheUniverse commented on #12177
HI,
I just used this code for The Hello world file:
<html>
 <head>
  <title>PHP Test</title>
 </head>
 <body>
 <?php echo '<p>Hello World</p>'; ?>
 </body>
</html>

Then the webpage just displayed this:
Hello World
'; ?>

Thanks,
Cooper

[2018-08-14 13:44] williamdes commented on #12177
You test file should be :
[code]
For me it looks like you did not configure apache to send php files to php cgi.

[2018-08-14 13:48] SailTheUniverse commented on #12177
Hi,
So I changed to code in HelloWorld.php to what you said above, and it displayed a blank page.
How would I go about configuring Apache to send php files to pgp cgi?

Thanks,
Cooper

[2018-08-14 13:55] williamdes commented on #12177
@SailTheUniverse Maybe in the logs you will find the error. Try : http://www.orbitale.io/2017/11/11/apache-and-php-fpm-in-windows.html (should help). Or install nginx instead :+1:

[2018-08-14 15:14] ibennetch commented on #14545
Not as far as I know.

[2018-08-14 15:30] williamdes commented on #14565
@ibennetch I am trying to make the test suite work for

| Name | OS | Current progress |
|----------|------|------------------------|
| Google Chrome | Windows/Linux | Seems to work |
| Mozilla Firefox | Windows/Linux | Nothing starts |
| Microsoft Edge | Windows | WIP |
| Opera | Windows/Linux | WIP |

And maybe others.

By the way I moved to `facebook/php-webdriver` because `phpunit/phpunit-sele

[2018-08-14 18:35] ibennetch opened #14569 "Documentation: AllowDeny rule ranges"
From IRC, a user asks about whether the AllowDeny rules allow using an IP range in octets other than the last one. I assume it does, but we should confirm this and update the documentation to make it more clear

[2018-08-15 04:29] #14422 closed

[2018-08-15 07:08] kamran-jabbar opened #14570 "Error messages when trying to export"
### Steps to reproduce
1. Select any database.
2. Click on export database table.
3. Error message is displayed like this.
![image](https://user-images.githubusercontent.com/35640191/44135284-e79a0b7a-a081-11e8-86e8-8c7e433f0952.png)

### Expected behaviour
Error shouldn't shown like this when I am trying to export any table even table from default databases like mysql or phpmyadmin.

### Actual b

[2018-08-15 07:11] kamran-jabbar commented on #14526
Better to provide information in this way so that someone can help or fix the actual issue.
### Steps to reproduce
1.
2.
3.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**phpMyAdmin version:**

### Client configuration
**Browser:**

**Operating

[2018-08-15 13:41] #13654 closed

[2018-08-15 14:09] shucon commented on #14555
@ashraysinha6069 go ahead :smile:

[2018-08-15 21:14] docljn commented on #12140
Hello @nijel and @acs-ferreira. I am participating in codetriage, and wondered if this was still an open issue, or what the next steps should be if it was not to be closed? Thank you.

[2018-08-16 09:16] mauriciofauth commented on #14567
You can use the following command to upgrade the version in the `package.json` file:
[code]
See: https://yarnpkg.com/en/docs/cli/version

[2018-08-16 14:56] williamdes opened #14571 ""No database selected" - DROP a view"
### Steps to reproduce
1. Create a view (```CREATE VIEW test1 AS (SELECT 1)```)
2. Try to DROP using GUI

### Expected behaviour
Drop the view, like when using SQL.

### Actual behaviour
Error : "No database selected"
Screenshot :
![No database selected](https://user-images.githubusercontent.com/7784660/44216241-c8af2580-a174-11e8-8129-34e4b9ccb0f0.jpg)

Affects `QA_4_8` and `5.0.0-dev`

[2018-08-16 15:01] williamdes commented on #14571
Issue starts on `4.8.2` , `4.8.1` is not affected.
Someone can investigate ?

[2018-08-16 18:41] docljn commented on #12833
Hello @nijel, @OlafvdSpek and @ibennetch . I am participating in CodeTriage and noticed that this issue has not been acted on for 18 months.  It appears to be a personal display preference, rather than a functional issue.  Could this be closed?

[2018-08-16 18:50] docljn commented on #14041
Hello @nijel. As @spawnia  has mentioned, this appears to be a duplicate of #13001 which has been highlighted as a MySQL bug rather than a problem with phpmyadmin.  As such, I believe this could be closed following CodeTriage?

[2018-08-16 18:53] nijel commented on #14041
Duplicate of #13001

[2018-08-16 18:53] #14041 closed

[2018-08-16 20:51] OlafvdSpek commented on #12833
Awesome!
In this case I'd focus on a different issue though, there's plenty to choose from.

[2018-08-17 14:34] teo1978 opened #14573 "Autocomplete gone berserk"
The screenshot speeks for itself.

This is the very current demo at https://demo.phpmyadmin.net/master-config/tbl_sql.php?db=test&table=test

![image](https://user-images.githubusercontent.com/542107/44271796-5f461a00-a23b-11e8-9939-132495403115.png)

[2018-08-17 14:40] williamdes commented on #14573
Duplicate of #14475

[2018-08-17 15:07] #14573 closed

[2018-08-17 15:49] ibennetch commented on #14571
My testing shows that this began between 4.8.0 and 4.8.1, and that c6dd6b56e236a3aff953cee4135ecaa67130e641 is the first bad commit.

[2018-08-17 15:52] ibennetch commented on #14332
I think this is a duplicate of #13938, which relates to using an older phpMyAdmin version with PHP 7.2.

The problem was fixed with version 4.7.8; I recommend though that you upgrade to the newest phpMyAdmin which is currently version 4.8.2.

[2018-08-17 15:53] #14332 closed

[2018-08-17 15:54] ibennetch commented on #14570
I think this is a duplicate of #13932 which in turn is related to #13938.

The problem has been fixed in phpMyAdmin, starting with 4.7.8. I suggest, however, that you upgrade to the newest version which at the moment is 4.8.2. Unfortunately, we have no control over the Debian packages, so if this bug continues to be a problem you could either open a report with the Debian bug team or remove the pa

[2018-08-17 15:54] #14570 closed

[2018-08-17 15:56] ibennetch commented on #12833
As far as closing it, it's a valid request but not something anyone from the team has time to implement properly, so it's currently what I'd call a "wishlist" item.

[2018-08-17 15:57] ibennetch commented on #12833
@docljn Thanks for picking our project to work on through CodeTriage! It's a great project and we're excited that you're contributing here.

[2018-08-17 16:12] ibennetch commented on #14555
@ashraysinha6069 You're welcome to begin work — announcing your intention here is enough (since we can't assign issues to people who aren't part of the organization in GitHub).

I don't really know where to begin working on this particular issue, but if you have general workflow questions you can ask here, on the [mailing list](https://lists.phpmyadmin.net/mailman/listinfo/developers), or in [Gitt

[2018-08-18 04:52] ibennetch opened #14574 "Various Uncaught TypeErrors when renaming or copying a database"
### Steps to reproduce
1. From the Operations tab, select either "Rename database to" or "Copy database to"

### Actual behaviour
Many different TypeErrors occur.

With current master

[2018-08-18 04:55] #14574 closed

[2018-08-18 04:57] ibennetch opened #14575 "SQL error from incorrect table name when changing all table collations"
### Steps to reproduce
1. On a database Operations tab, select from the dropdown to change the collation
2. Check both checkboxes for "Change all tables collations" and "Change all tables columns collations"

The SQL query that's generated has a 0 instead of my table name, causing the query to fail:

![image](https://user-images.githubusercontent.com/1443710/44295950-92ab9780-a281-11e8-9dfb-573c20

[2018-08-18 07:09] a1pro opened #14576 "PC Hang"
dfdfdf

[2018-08-18 07:10] #14576 closed

[2018-08-18 09:12] drubb commented on #14513
I think composer.lock is meant to prevent unintentionally updating existing projects running composer install. This is not a use case for a composer project template, which behaves more than a library. The template is only relevant when the initial installation is run. During the installation a lock file will be created, which then of course could be committed to a vcs.

You might take a look at s

[2018-08-18 13:32] ibennetch opened #14578 "Changing collations may need to drop and recreate stored procedures"
From the [documentation](https://dev.mysql.com/doc/refman/8.0/en/alter-database.html):

I first saw this mentioned on [StackOverflow](https://stackoverflow.com/a/51901334/2385479)

[2018-08-18 13:54] ibennetch commented on #14513
@nijel What do you think? I'd be okay with removing composer.lock.

[2018-08-18 17:37] #14444 closed

[2018-08-19 17:20] teo1978 opened #14579 "error when browsing a table"
### Steps to reproduce

Open phpmyadmin, select a database and try to browse any table

### Expected behaviour
no error

### Actual behaviour
This error:
![image](https://user-images.githubusercontent.com/542107/44311245-2bf2bf00-a3e4-11e8-9736-5d2da9bcea11.png)

[code]

### Server configuration
**Operating system**: Ubuntu 16.04

**Web server:** Apache 2.4

**Database:** Mysql 5.7.23

**PHP versi

[2018-08-19 20:06] nijel commented on #14513
Yes sounds like a good idea. The composer git is maintained automatically by following script: https://github.com/phpmyadmin/scripts/blob/master/website/daily-composer

[2018-08-19 23:00] docljn opened #14580 "New installation from git: "Add a new server" gives an error"
### Steps to reproduce
1. Follow page 1 of this tutorial to get Apache and PHP set up on mac: https://getgrav.org/blog/macos-sierra-apache-multiple-php-versions
2. git clone git@github.com:phpmyadmin/phpmyadmin.git into ~/Sites/
3. composer update
4. brew install mariadb
5. secure the mariadb installation: https://mariadb.com/kb/en/library/mysql_secure_installation/
6. visit http://localhost/phpmy

[2018-08-20 04:48] #14580 closed

[2018-08-20 06:36] mauriciofauth commented on #14561
This has been posted here: https://medium.com/@leo.strozzi98/gsoc-2018-contributions-documentation-1e0a3e0391d3

[2018-08-20 06:36] #14561 closed

[2018-08-20 06:48] mauriciofauth opened #14581 "Escaped HTML in 'Add a new server' setup"
### Steps to reproduce
1. Open phpMyAdmin setup (for example: http://localhost/setup/)
2. Click _New server_ button
3. Click _Configuration storage_ tab

### Expected behaviour
phpMyAdmin 4.7.9
![depois](https://user-images.githubusercontent.com/120970/44324111-e9080a00-a42a-11e8-9097-0c088f1b5c45.png)

### Actual behaviour
phpMyAdmin 4.8.2
![antes](https://user-images.githubusercontent.com/120970

[2018-08-20 14:01] DENR-Dave opened #14582 "Continue error in FormDisplay.php using PHP 7.3beta2"
Open the server from the left pane and the error will be produced. Every action on that server will result in the error shown below. On the initial selection of the server the error will be shown twice. On subsequent pages it will only be shown once but it is always the same error.

It is important to note that the error shown below does **NOT** happen when connecting to a server using 10.3.8-Mari

[2018-08-20 14:43] ibennetch commented on #14582
I believe this is a duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/14525 and the fix will be a part of the next release of phpMyAdmin.

Thank you for your report.

[2018-08-20 14:43] #14582 closed

[2018-08-20 19:58] docljn commented on #14580
Thanks @mauriciofauth

[2018-08-20 20:34] ltguide commented on #14542
I'll just chime in here. I also find it strange that the query is not displayed when there are no results returned. If anything, I would expect the "search criteria" to automatically be visible for quicker editing by non-SQL users.

But as a "power user" I would appreciate having the SQL queries always displayed.

[2018-08-20 20:38] ltguide commented on #14571
I also get the same error when clicking "Create view" from the bottom of query results.

[2018-08-21 13:09] saulotoledo commented on #14308
@ibennetch I am closing this issue since the [has pr label](https://github.com/phpmyadmin/phpmyadmin/labels/has-pr) was already created.

[2018-08-21 13:09] #14308 closed

[2018-08-21 14:32] VictorAlagwu commented on #14581
can i work on this?

[2018-08-21 15:21] ibennetch commented on #14308
Indeed, I should have closed it myself three months ago — thank you.

[2018-08-21 15:22] ibennetch commented on #14581
@VictorAlagwu Sure, go ahead. If you need help submitting a pull request, you can ask here or in our [Gitter](https://gitter.im/phpmyadmin/Lobby) room.

[2018-08-22 04:12] #14581 closed

[2018-08-22 13:53] #14548 closed

[2018-08-22 18:48] dpacmittal commented on #14217
Any ETA on a fix?

[2018-08-22 21:08] dddns commented on #14535
Howdy,
Sorry for the delay.
(the 10Mbit i was refering to my home upload, but never mind that, i may be noising the stuff)

Well, it's the db import, and one wierd thing that is when i click "insert" in the mysql.user table, it takes about 2 minutes to load/appear.

Here's my config.inc.php, apart from it the config.defaults is intact.
Any ideia on what could it be?

[2018-08-22 21:38] sifuvue commented on #14217
I don't know if this will solve it for you but after upgrading MySQL from 8.0.11 to 8.0.12 this issue no longer occurs for me. Keep in mind I was only managing privileges/user accounts with MySQL workbench which was having critical errors with before but is now functioning perfectly fine.

[2018-08-23 01:44] #14452 closed

[2018-08-23 09:28] maretodoric commented on #14217
I am having the same problem and running on CentOS7.5
MySQL Version 8.0.12
PHP Version 7.2.9
mysqlnd Version 5.0.12-dev
phpMyAdmin Version 4.8.3

Even when i try the manual syntax in mysql console - it will error out so I'm not sure that this is specifically phpmyadmin issue. issue is something to do with the way
REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_H

[2018-08-23 09:50] CharlieEtienne opened #14588 "export mysql POINT coordinates as hex"
More details here : [https://stackoverflow.com/questions/51530268/export-import-issue-with-mysql-point-coordinates/51900521](https://stackoverflow.com/questions/51530268/export-import-issue-with-mysql-point-coordinates/51900521)

### Steps to reproduce
1. In my project (Laravel + Google Maps JavaScript API), I create (on local environment) a Place with these coordinates : 48°41'10.8"N 6°10'13.4"E,

[2018-08-23 10:34] Lilyours commented on #14217
Sorry, It has been passed for a long time. I forgot about the detail.

While the problem was that mysql that I used at that time was too advanced so the phpmyadmin cannot compile.

I remember that I reloaded a lower vision of my mysql from official website to match.

You can try it.

Best,

[2018-08-23 11:50] maretodoric commented on #14217
Yeah, i've figured it has to do with mysql server itself. Nevermind, server is still in pilot phase and if needed we'll downgrade the mysql version. So far client asked for version 8.

Thanks !

[2018-08-23 12:25] ixnu commented on #14217
I'm having this issue on Ubuntu 16.04.5 LTS

Server version: 8.0.12 - MySQL Community Server - GPL
Apache/2.4.18 (Ubuntu)
PHP version: 7.2.9-1
PHpMyadmin Version information: 4.8.3

I have enabled legacy support, but I don't think that is the issue.

If you click through the error, the user appears to be created but without a password.

[2018-08-23 17:09] maretodoric commented on #14217
...and it will not have any privileges, that is it will only have USAGE

[2018-08-24 09:04] dddns commented on #14535
Well, when PMA hangs, i test mysql manually via console and it's fast/normal, so it's something between PMA<=>apache<=>php conf

I know this is not a bug, i'm asking for some help solving it

[2018-08-24 09:46] dddns commented on #14535
New info.
When i perform something that makes PMA hang, i cannot open PMA in the browser that it happen anymore, in the same PC if I try to open it in another browser, is working ok.

Maybe some info that is writen in cookies?

[2018-08-24 12:25] ppawlowski opened #14590 "User is logged out when trying to edit sql query"
### Steps to reproduce
1. Setup PMA with multiple remote SQL servers.
2. Log in to PMA with other than the first server selected from the drop-down menu.
3. From the left navigation menu expand database content and select a random table.
4. On the right side, just below actual SQL query performed, click 'Edit' (run tbl_sql.php script).

### Expected behaviour
The user should be able to edit SQL qu

[2018-08-24 12:26] ppawlowski commented on #14590
Similiar issues seems to be described here: https://github.com/phpmyadmin/phpmyadmin/issues/13418

[2018-08-25 11:02] mokraemer opened #14591 "Left (database/tables) menu is not shown on Opera 12.16"
Since 4.8.x series the left menu for tables and databases is not drawn.
It looks like the div "pma_navigation_tree_content" is set to height "0px".
$nav.height() is always evaluated to 0, so the full height is 0 and no menu is drawn.

Btw. is it really neccessary to resize the menu every 2 seconds??

Patch added.

[2018-08-25 11:03] mokraemer commented on #14591
pasting patch, file upload does not work:
Index: js/navigation.js
===================================================================
--- js/navigation.js
+++ js/navigation.js	2018-08-25 13:01:03.142499816 +0200
@@ -1270,10 +1270,11 @@
         var $nav_tree   = $('#pma_navigation_tree');
         var $nav_header = $('#pma_navigation_header');
         var $nav_tree_content = $('#pma_navigation_tr

[2018-08-25 11:08] mokraemer commented on #13049
[code]

[2018-08-25 11:08] mokraemer commented on #14591
[code]

[2018-08-25 11:08] mokraemer commented on #13049
sorry, wrong bug.

[2018-08-26 13:27] lem9 commented on #14591
This happens when the top button 'Hide panel' containaing a small left arrow is clicked.

[2018-08-26 13:53] mokraemer commented on #14591
nope. the left panel is shown. Only the entries are missing!

[2018-08-26 14:01] mokraemer commented on #14591
Btw. why is the height computed in js anyway?
And if an element is assigned a height, why would the height change?
Both pma_navigation_tree and pma_navigation_tree_content are assigned with height values and in my browser both are 0, so why should we see the height of an inner element if the outer is 0?

[2018-08-26 20:44] lem9 commented on #14591
Can you reproduce this problem on http://demo.phpmyadmin.net choosing the stable version?

[2018-08-26 20:44] mokraemer commented on #14591
jepp.it is the same there. already tested.

[2018-08-26 20:48] mokraemer commented on #14591
![bildschirmfoto_2018-08-26_22-47-53](https://user-images.githubusercontent.com/2962806/44632834-18b29700-a982-11e8-878d-611e5802420a.png)

[2018-08-26 21:15] lem9 commented on #14591
I cannot reproduce this problem on the demo site; which browser are you using and did you try another one?

[2018-08-26 21:28] mokraemer commented on #14591
It is only in a few browsers, but anyway, as I stateted the problem can be solved easily and I think it is an error how the function is used. And I don't see why the height is computed instead of just using css.

[2018-08-26 23:32] lem9 commented on #14591
In which browser can you see the problem please?

[2018-08-27 10:27] williamdes commented on #14579
Maybe duplicate of : #14273

This file does not exist on version 4.8.x, deleted on commit https://github.com/phpmyadmin/phpmyadmin/commit/2124311e3828b8bdf14092e73d0f62830e8ce1ff#diff-73378a096e2547c3f4278abf8106c723

/close

[2018-08-27 14:41] ibennetch opened #14594 "Database "Search" should select all tables by default"
When entering the search tab for a database, the "Inside tables" selector should have all tables selected by default (currently none are selected).

Affects QA_4_8 and master.

Moved from #14558.

[2018-08-28 07:33] fliespl commented on #14270
Confirming it's still this way in 4.8.3

[2018-08-29 11:06] zeravcic opened #14596 "Can't open link for relation in new tab"
### Can't open link for relation in new tab

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Find any relation link in any table
2. Right click on link with relation
3. Go to 'Open link in new tab'
4. See error (doesn't open targeted query)

### Expected behavior

I beleve it is proper handling at 'phpMyAdmin-4.7.6-all-languages'

### Scre

[2018-08-29 11:08] williamdes commented on #14596
Duplicate of : #14270 ?

[2018-08-29 12:10] zeravcic commented on #14596
Yeah, this seems like a duplicate of #14270

[2018-08-29 13:13] gunnard commented on #12968
I cannot reproduce. Is this still an issue?

[2018-08-30 04:34] mauriciofauth commented on #14596
Duplicate of #14270

[2018-08-30 04:34] #14596 closed

[2018-08-30 04:36] mauriciofauth commented on #14596
@zeravcic Thanks for the report.

[2018-08-30 07:58] mwarth commented on #14337
Works for english language but for german language it doesn't exactly:
![grafik](https://user-images.githubusercontent.com/30124114/44837954-46763500-ac3b-11e8-8c44-5e52c1b2b4e5.png)

[2018-08-30 08:56] AdamReece-WebBox opened #14597 "ODS: Invalid export if a record contains a null character in a string of PHP serialisation"
### Describe the bug

When using OpenDocument Spreadsheet format to export a database that contains PHP serialisation in its records it will not open in both LibreCalc or Microsoft Excel because of invalid XML formatting.

A prime example would be a database for a WordPress installation. This uses PHP serialisation a lot!

LibreCalc will throw an error along the lines of:

Microsoft Excel will fir

[2018-08-30 12:49] matthiasradde opened #14598 "check referencial integrity show table-content"
### Describe the bug

checking referencial integrity is not working as expected.

### To Reproduce

Steps to reproduce the behavior:
1. Create tables that are linked somehow (in this case use database kb4 with tables kb_docs, kb_tags and a table kb_doc_tag to link the other tables together) - you may use the same database structure I've used:
[code]
2. Within database kb4 click on table doc_tag, c

[2018-08-31 16:00] svivian commented on #13857
This is still an issue in the most recent version of PMA (4.8.3). For the first bug (step 3 above) I see two solutions:

- Don't change the field once loaded.
- Don't show the text field at all while it's loading (or at least, make it disabled).

Looking at it now, I'm guessing this is the same mechanic as for long strings, where you have "The contents of the fiel..." shown in the box while the fu

[2018-08-31 16:15] svivian commented on #13879
Any update on this? You still have the option `$cfg['RowActionType'] = 'icons';` in the default config file which does nothing...

There's also an option I see in the settings named "TableNavigationLinksMode". The Docs say

But this also appears to do nothing. Is it supposed to change the icons in the left (navigation) pane?

[2018-08-31 20:39] rwhirn opened #14599 "configuration storage is not completely configured"
### Describe the bug

Configuration storage is not working. Setup completes fine. All databases created and being updated as expected. Upon next login, "the configuration storage is not completely configured" message is displayed. Clicking on "Find out why" shows that all settings are "green" and "ok". Yet no settings are restored upon login.

### To Reproduce

Steps to reproduce the behavior:
Ins

[2018-09-01 16:53] dddns commented on #14535
Extra info:

For example in export, a DB with 300MB, before the download just started right away when i clicked the "ok" botton and i was seeing the download progress in the download manager of the browser (for ex in my old server that's the behavior), but now when i click "ok" it's somehow working in background and the download manager of the browser just show's me as finished when the download c

[2018-09-01 22:47] 109digital opened #14600 "Incorrect row count on InnoDB table even after setting $cfg['MaxExactCount']"
### Describe the bug

I have an InnoDB table.

`COUNT(*) FROM myTable;` = 62974
`SELECT(*) FROM myTable;` = "Showing rows 0 - 24 (59857 total, Query took 0.0005 seconds.)"

I added `$cfg['MaxExactCount'] = 2000000;` to config.inc.php after researching this issue.

### To Reproduce

Create a table with at least 50000 tables and compare query result differences.

### Expected behavior

config.inc.ph

[2018-09-02 20:44] lem9 commented on #14600
Did you close and reopen your browser after changing the config setting?

[2018-09-02 20:58] 109digital commented on #14600
Yes, also signed out of phpMyAdmin and cleared browser cache before trying again.

I just tried again, same result. But then I logged out of phpMyAdmin, restarted the PHP and MySQL services, and signed back in. Now it works - I'm getting an exact count on that table.

Not sure why PHP or MySQL would need to be restarted for the change to take effect, but that seems to have done the trick.

[2018-09-03 10:05] aminbahgat opened #14601 "The configuration file now needs a secret passphrase (blowfish_secret)."
when open phpmyadmin show bar red background and see "  The configuration file now needs a secret passphrase (blowfish_secret). "
i use cloud server linux  - ubuntu 16.04 - control panel : vestacp - Server type: MySQL

plz i need solve

[2018-09-03 10:31] williamdes commented on #14601
Please configure in `config.inc.php`:
[code]
Docs : https://docs.phpmyadmin.net/en/latest/config.html#cookie-authentication-options

[2018-09-03 21:52] peterbaumert commented on #12865
As a workaround you can edit the file "libraries/classes/Gis/GisVisualization.php":

`$modified_query .= 'ST_ASTEXT(ST_SRID('
            . Util::backquote($this->_userSpecifiedSettings['spatialColumn'])
            . ',0)) AS ' . Util::backquote(
                $this->_userSpecifiedSettings['spatialColumn']
            )
            . ', ';`
and
`$modified_query .= 'ST_SRID('
            . Util:

[2018-09-04 14:10] lem9 commented on #14600
Please close this issue.

[2018-09-04 14:11] lem9 commented on #14601
@aminbahgat Please close this issue.

[2018-09-04 14:55] madmetz opened #14604 "Lots of temporary files left open aftzer"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operat

[2018-09-04 15:08] #14600 closed

[2018-09-05 01:29] Lawtaker opened #14606 "$cfg['Export']['charset'] Not Working"
### Describe the bug

In the config file, the following:

$cfg['Export']['method'] = 'custom';  /* works */
$cfg['Export']['format'] = 'sql';  /* works */
$cfg['Export']['charset'] = 'utf-16';  /* does nothing */

### To Reproduce

1. Add the 3 lines above to config.php
2. Log in to phpMyAdmin
3. Click "Export"

"Export method" will be "Custom"
"Format" will be "SQL"
But "Character set of the file

[2018-09-05 04:11] mauriciofauth commented on #13879
When I change the value of `$cfg['RowActionType']`, the links are changed correctly. But when `$cfg['RowActionType'] = 'both';`, the value of `$cfg['ActionLinksMode']` is used instead.

@svivian What value are you using for `$cfg['ActionLinksMode']`?

[2018-09-06 09:26] mvorisek opened #14607 "Count rows only if needed"
Currently the PhpMyAdmin counts the total rows of a query result every time when LIMIT is not present.

If LIMIT is not presented in the user query, default LIMIT (like LIMIT 0, 50) is appended to the query.

But currently the total rows count is queried even when the total rows are below the default limit. This is not needed as has very large impact on long running queries.
<br>
Example:

User qu

[2018-09-06 10:03] ninthDevilHAUNSTER opened #14608 "demo seems not work; Uncaught TypeErrors with auth type config"
https://demo.phpmyadmin.net/master-config/

**the demo seems not work**

[2018-09-06 10:14] williamdes commented on #14608
@ninthDevilHAUNSTER I agree, error: 500.
You can use the latest 4.8 version https://demo.phpmyadmin.net/QA_4_8/index.php for now :)

[2018-09-06 12:26] GuillaumeRossolini commented on #11470
I am now unable to reproduce with:
Firefox Developer Edition v63.0b3 (64 bits)
Windows 10 v17134.228
phpMyAdmin v4.7.8

It may have been fixed for a while.

[2018-09-06 12:26] #11470 closed

[2018-09-06 13:42] lem9 commented on #14604
Please show us some sample names of temporary files left there.

[2018-09-06 14:06] ibennetch commented on #14604
I don't use XAMPP so I'm not sure what's in the `./phpmyadmin/tmp` folder, but it could be the cache folder. When phpMyAdmin is run, some aspects of the pages are generated once and stored in the cache to speed up subsequent access. Those aren't really "temporary" files in the traditional sense, even though we do refer to the folder as "TempDir."

Probably this is the expected behavior of the cach

[2018-09-06 14:28] ibennetch opened #14609 ""Undefined index: dbi" with auth_type config and multiple servers"
I have defined multiple servers, one is auth_type config. When logging in to that server, I get this notice:

[code]

My config.inc.php:
[code]

This occurs only on master, QA_4_8 is seemingly not affected.

[2018-09-06 14:52] ibennetch commented on #14608
While I can't reproduce this at home, the demo server error log contains this:
[code]

I've just pushed 5130b3da1afe9327db292f62e70a28a59ce8b74c to deal with that, so now we'll see if any other error occurs.

[2018-09-06 16:12] madmetz commented on #14604
@ibennetch
It seems you are right with the cache files.
BTW Xampp is a server collection for Windows including all the servers you need as a base for a cms.
After browsing some databases with phpMyAdmin the number of (cache) files increases to about 40 or more.
.
_Look at one of the filenames on the right side..._
![phpmyadmin_tmp](https://user-images.githubusercontent.com/42972320/45169906-df3e1f

[2018-09-06 17:44] ibennetch commented on #14608
And a few more with fab796bda97eb4bf7619ce7088be66a1ece5dc25...

[2018-09-06 19:10] cochrasc commented on #14184
@Zangwill You've saved me from going bald.  I've been pulling my hair out for months trying to figure it out. For me, this issue also turned out to be because of the Katalon Recorder (Selenium IDE extension).

[2018-09-06 21:42] williamdes commented on #14608
@ibennetch Seems to be fixed ?

[2018-09-08 11:47] lem9 commented on #14604
There is no "termination" of phpMyAdmin as it's not a long running program. It runs just during the time of servicing a request.

[2018-09-08 14:08] madmetz commented on #14604
That's right, but when I have to make some changes to a database I start phpMyAdmin in my webbrowser and when I'm done I exit phpMyAdmin by the icon with the half open door on the left side.
May be 'termination' is not the correct word in this context but please be tolerant.
English is not my native language. I'm sooooo sorry for that. :-)

[2018-09-09 13:45] sarvap-praharanayuthan opened #14611 "Index creation - Enter key form submission - Fatal JS Error"
### Form submission with "Enter" key throws JavaScript error

While creating indexes for a column, after typing the index name and pressing Enter key instead of pressing the **Go** button to submit the form throws JavaScript fatal error. Observing this bug from previous versions as well.

### To Reproduce

Steps to reproduce the behavior:
1. Create a table under a database.
2. Enter a name for the

[2018-09-09 19:53] ibennetch commented on #14608
Thanks for your report, this appears to be fixed now.

[2018-09-09 19:53] #14608 closed

[2018-09-09 19:53] #14601 closed

[2018-09-10 02:26] mauriciofauth commented on #14609
Thank you! @ibennetch @lem9
Can you confirm that this has been fixed?

[2018-09-10 09:12] LaySoft opened #14612 "Error in csv export - table aliases"
phpMyAdmin: 4.8.3, 5.0.0-dev

A have a query with one table two times, but different aliases:
[code]

If i want to export the result in csv, under Query results operations, the csv file contains the following error:

[code]

`#1066 - Not unique table/alias: 'a_ugyanazok'`

[2018-09-10 22:56] mokraemer commented on #14591
do we still work on the issue?

[2018-09-11 11:07] David263 commented on #12566
Happens for me in version 4.8.1. Entering text and pressing Enter does nothing. Including % after the text still does nothing. I don't know where the documentation is (there is no Help button or link that I can see). How is "filter" supposed to work?

[2018-09-11 17:47] Seongioi commented on #14594
Hey! I would like to solve this issue.

[2018-09-11 18:17] ibennetch commented on #14594
That would be great! If you need help with submitting a pull request please let us know!

[2018-09-11 20:35] dddns commented on #14535
I don't think it's relevant but, made some changes in the behavior, I've changed the values:

mysqlnd.collect_statistics = On
to Off

post_max_size = 1500M
to
512M

upload_max_filesize = 1500M
to
512M

[2018-09-12 17:43] mauriciofauth commented on #14606
@Lawtaker Can you check the export settings in the _Settings_ tab? Maybe the value of _Character set of the file_ has been changed there.

[2018-09-12 18:08] rotech1 commented on #14245
Seeing this also in Server version: 8.0.12 - MySQL Community Server - GPL ( running on CentOS 7)

[2018-09-13 02:37] javide opened #14614 ""#2014 - Commands out of sync; you can't run this command now" returned when stored procedure does not return any result set"
### Describe the bug

In **phpMyAdmin 4.8.3** if you call a stored procedure that contains a SELECT statement, when this SELECT does not return a result set, this error is displayed:
`#2014 - Commands out of sync; you can't run this command now`

When calling the same stored procedure from the mysql command line the expected output is returned instead:
[code]

### To Reproduce

Steps to reproduce

[2018-09-13 09:19] kmchen13 commented on #11983
Same request here. I consider to downgrade phpmyadmin on Debian 9

[2018-09-13 18:41] williamdes commented on #14614
Stackoverflow: https://stackoverflow.com/a/20435243/5155484

[2018-09-13 18:51] williamdes commented on #14614
Unable do reproduce using phpMyAdmin 4.8.3 and :
- MariaDB 10.2.16
- MySQL 5.7.19
- MariaDB 10.0.35
- MySQL 5.6.38
- Demo server 4.8.x https://demo.phpmyadmin.net/QA_4_8/server_sql.php

[2018-09-13 18:52] williamdes commented on #14614
@javide I remember having this issue, can you please explain how to reproduce this issue ?
Maybe can you try on https://demo.phpmyadmin.net/QA_4_8/ ?

[2018-09-15 12:50] FVerbum opened #14615 "I can't create (edit) privilege of table and column level"
### Describe the bug
I can't create (edit) privilege of table and column level.

### To Reproduce
Users->Edit privilege->DataBase Level->Edit privilege->Table Level->Select Table:
two fields with notices:
1.
Notice in .\libraries\classes\Server\Privileges.php#1104
Undefined index: strPrivDescDelete versioning rowsTbl
2.
Notice in .\libraries\classes\Server\Privileges.php#1118
Undefined index: strP

[2018-09-15 12:57] williamdes commented on #14615
@FVerbum Are you using a [versioned](https://mariadb.com/kb/en/library/system-versioned-tables/) table ?
Can you please send test data ?

I can not reproduce this issue on my local server with MariaDB 10.2

[2018-09-15 13:15] FVerbum commented on #14615
I use MariaDB version 10.3.9
Not versioned.
Simple tables MyIsam.
Encoding utf8_general_ci.
Unfortunately I can't send private data.

[2018-09-15 13:35] FVerbum commented on #14615
I created new test table and new testuser -> same situation:

CREATE TABLE `testtable1` (
  `id` int(10) NOT NULL,
  `field1` date NOT NULL DEFAULT '0000-00-00',
  `field2` varchar(150) NOT NULL DEFAULT ''
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

INSERT INTO `testtable1` (`id`, `field1`, `field2`) VALUES
(1, '2018-09-15', 'Test data1, Test data1'),
(2, '2018-09-15', 'Test data2, Test data2');

ALTER

[2018-09-15 13:52] williamdes commented on #14615
@FVerbum Thank you for your test sample, I sucessfully reproduced this issue with my MariaDB 10.3 docker instance using phpMyAdmin `4.8.3`.

I edited your message, I hope this is OK :)

[2018-09-15 13:59] FVerbum commented on #14615
Good edition. Of course OK :)
By the way if I nothing mix up, then I had same bug in MariaDB 10.2

[2018-09-15 19:13] mauriciofauth commented on #14611
Affects `QA_4_8` and `master`.

[2018-09-16 03:19] lhorace opened #14616 "Should I report issues about the site here?"
Hello,

On [https://www.phpmyadmin.net/downloads/](https://www.phpmyadmin.net/downloads/), the download links for `phpMyAdmin-latest-all-languages.*` [SHA256](https://www.phpmyadmin.net/downloads/phpMyAdmin-latest-all-languages.tar.gz.sha256), points to an archive instead of a text file? Is that normal?

Best Regards.

[2018-09-16 09:51] williamdes commented on #14616
@lhorace Thank you for reporting this issue !
Can you create an issue on https://github.com/phpmyadmin/website ?

[2018-09-16 11:08] mokraemer commented on #14591
anything new on this? since this is a blocker for me, before I commit this package into mageia linux.

[2018-09-16 11:31] ibennetch commented on #14616
I confirm that this isn’t right.

[2018-09-16 12:00] #14616 closed

[2018-09-16 15:48] mauriciofauth commented on #14591
@mokraemer Can you please open a pull request with your patch?

We will be very happy to accept and merge a pull request that improve this.

[2018-09-17 05:47] deimos7007 opened #14617 "Designer show errors if database is empty"
### Describe the bug

Designer show errors if the database is empty

### To Reproduce

Steps to reproduce the behavior:
1. Create a new **empty** database
2. Got to designer tab
3. See error

### Expected behavior

No errors on the empty database

### Screenshots

![pma-empty-db designer](https://user-images.githubusercontent.com/18547032/45607647-0951d580-ba78-11e8-85e3-630063bc702c.JPG)

### Ser

[2018-09-17 07:10] ojde commented on #11983
Same request here. With complex SQL queries this was the very best way for developing and I sorely miss it.

[2018-09-18 11:39] grekpg opened #14618 "host as text input - for multihost usage"
Im start using Docker,
PHPmyadmin is realy nice but why i cannot have host input in start - must configure it in config files. \
No i have multiple hosts and often changes.
Please add like have adminer or almost all database managers - host as text input ...

[2018-09-18 12:01] williamdes commented on #14618
@grekpg Can you try the setting https://docs.phpmyadmin.net/en/latest/config.html#cfg_AllowArbitraryServer ?

[2018-09-18 13:46] sebastianbochan commented on #14223
@troglodyne
Works like a charm. Big thanks!

[2018-09-18 13:47] grekpg commented on #14618
Yes but why ? possible to write host in browser is easy input, why is not available - I think many users use Docker or plugAndPlay :) phpmyadmin and dont want change php configuration. And like I say - every database manager app allow write host on welcome screen, why phpMyAdmin not, Please add this :)

[2018-09-18 14:48] grekpg commented on #14618
Understand but easy config value - show host input solves the topic, default false.

[2018-09-18 18:11] mokraemer commented on #14591
done.

[2018-09-18 22:49] lem9 commented on #14618
That's exactly what the AllowArbitraryServer configuration directive does. Its default is false.

[2018-09-19 03:01] mauriciofauth commented on #14618
@grekpg As already commented by Marc and William, [`$cfg['AllowArbitraryServer'] = true;`](https://docs.phpmyadmin.net/en/latest/config.html#cfg_AllowArbitraryServer)
 is what you want. Also take a look at [`$cfg['ArbitraryServerRegexp']`](https://docs.phpmyadmin.net/en/latest/config.html#cfg_ArbitraryServerRegexp) to restrict the MySQL servers to which the user can log in.
Be sure to also use the

[2018-09-19 08:32] edgarasg commented on #14223
Why it's taking so long to fix this? Just make PR and merge it :)

[2018-09-19 09:53] jonnyhoeven commented on #14590
Confirmed:
This link uses /phpmyadmin/tbl_sql.php and does not seem to contain current database.

[2018-09-19 12:58] troglodyne commented on #14223
Is this even reproducible on the newer 4.8.3 release? When I went back in to look at it, it seems that the function this died on is no longer requiring the argument to always be an array -- see line 321:
`?array $tabPos,`
IIRC, this means that it can also be null, which is what the problem described in this issue was.

Furthermore, the code I knew it to be dying on used to be over in db_designer.p

[2018-09-19 18:08] Leymooo commented on #14223
[code]

![image](https://user-images.githubusercontent.com/8667294/45772381-2b05b500-bc50-11e8-85c4-319b927b1b31.png)

[2018-09-19 19:45] troglodyne commented on #14223
Hmm.... well, getHtmlTableList definitely *doesn't exist as a function* in master anymore, and hasn't since commit 0d26cfb5f1a75b6c844099dea698a414e626285f. That's quite a bit before the RELEASE_4_8_2 tag in the git log, so *normally* that would indicate that it is in release 4.8.2+. The error message you are showing makes me think that the releases are curated somewhat differently, however (I'm n

[2018-09-20 07:47] Leymooo commented on #14223
Yes. In master this bug fixed.
![image](https://user-images.githubusercontent.com/8667294/45803524-7f497d00-bcc2-11e8-8d75-53bcca938bfd.png)

[2018-09-20 13:49] lem9 opened #14621 ""Propose table structure" on MySQL 8.0"
On Table > Structure, we have a choice "Propose table structure" which uses a query containing "PROCEDURE ANALYSE()". This clause has been removed in MySQL 8.0, so the choice should not be displayed for MySQL >= 8.0.

Seen in phpMyAdmin 4.8.3.

[2018-09-20 19:06] mauriciofauth commented on #14621
Reference: https://dev.mysql.com/doc/refman/8.0/en/mysql-nutshell.html#mysql-nutshell-removals

[2018-09-21 04:06] wooir opened #14622 "phpmyadmin5.8.3---Error creating user for mysql8.0.11 (tick or uncheck "create database with same name for user")"
Error:
#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'REQUIRE NONE WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_' at line 1

CREATE USER 'wkjcbd'@'localhost' IDENTIFIED WITH mysql_native_password AS '***';GRANT USAGE ON *.* TO 'wkjcbd'@'localhost' REQUIRE NONE WITH MAX_QUERIES_PER_

[2018-09-21 04:20] wooir commented on #14622
Server configuration
Operating system: CentOS Linux release 7.5.1804 (Core)
Web server:  nginx/1.14.0
Database version: mysql  Ver 8.0.11 for Linux on x86_64 (Source distribution)
PHP version: 7.2.9
phpMyAdmin version: 4.8.3

[2018-09-21 10:05] wooir opened #14623 "About Mysql8.0.12"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2018-09-21 10:16] williamdes commented on #14623
@wooir Can you please explain what you call "support" ?

[2018-09-21 10:35] ibennetch commented on #14623
In general, most things should work however due to MySQL making many breaking changes in this minor point release, we have several known issues, including:

* https://github.com/phpmyadmin/phpmyadmin/issues/14245
* https://github.com/phpmyadmin/phpmyadmin/issues/14220
* https://github.com/phpmyadmin/phpmyadmin/issues/14217

Personally, I’m pretty irritated at MySQL for making such major changes wi

[2018-09-21 12:29] #14622 closed

[2018-09-21 15:54] wooir commented on #14623
@williamdes My English is not very good. In Chinese, "support" can be expressed as "compatibility" in some cases.

[2018-09-21 16:33] wooir commented on #14623
@ibennetch So far, I am only dissatisfied with #14217 , although I can do database creation and password settings after creating a user. Are you saying that this problem will not be corrected for the time being?

[2018-09-22 13:38] lem9 commented on #14618
Please close.

[2018-09-22 13:43] ibennetch commented on #14618
Closed. Thanks for using phpMyAdmin!

[2018-09-22 13:43] #14618 closed

[2018-09-22 18:11] afagund opened #14624 "Slow Database Export"
Database export takes a long time as the number of databases on the server increases. I believe this is related to the performance using the information_schema database. While the export is processing, I can see queries like the ones below using the command show full processlist. Both queries takes around 2 seconds to complete.
[code]
### To Reproduce

Steps to reproduce the behavior:
1. Click on

[2018-09-22 19:33] feralreason commented on #14433
I'm getting the same error: "You do not have privileges to manipulate with the users!"
with XAMPP version 7.2.2 which is running (I believe altho I don't know how to confirm) MariaDB 10.1.30.  I am on a Windows 10 64 bit system.

adding:
$cfg['Servers'][$i]['DisableIS'] = true;
Did not work for me.

Any tips on troubleshooting this?

[2018-09-22 20:58] williamdes commented on #14624
Thank you for reporting this issue
@afagund Maybe #14252
Docs: https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_DisableIS

[2018-09-22 21:29] williamdes commented on #14056
@ibennetch @christophe-ruelle
For me this issue had been resolved by : https://github.com/phpmyadmin/phpmyadmin/commit/dc1407ca666ed2e35bcf6bf9406941017a1a627c
Feel free to re-open if not.

[2018-09-22 21:29] #14056 closed

[2018-09-22 21:31] williamdes commented on #14053
@OlafvdSpek Can you send more detailed information to reproduce ?

[2018-09-22 21:34] williamdes commented on #13974
@ViajesIkea Is this issue solved ?

[2018-09-22 21:51] williamdes commented on #13948
@drexlma Do you think that this issue is solved ?

[2018-09-22 21:57] williamdes commented on #14161
Duplicate of #11528

[2018-09-22 21:57] #14161 closed

[2018-09-22 22:02] OlafvdSpek commented on #14053
What info is missing?

[2018-09-22 22:07] williamdes commented on #14053
@OlafvdSpek The query ?

[2018-09-22 22:11] OlafvdSpek commented on #14053
I doubt it's query-specific.

[2018-09-22 22:12] williamdes commented on #14147
@jizhidemowang This issue no longer exists on master since the commit https://github.com/phpmyadmin/phpmyadmin/commit/c6313acc1d79d6e0313d223958afccd5cf8f4200 refactored the code.

[2018-09-22 22:19] williamdes commented on #14394
@nulll-pointer Is this issue still open ?
Can you send more details to reproduce the issues that are still there ?

[2018-09-22 23:38] afagund commented on #14624
Thanks for sharing that.

[2018-09-22 23:38] #14624 closed

[2018-09-23 13:16] OlafvdSpek commented on #14623
@ibennetch

8.0 is a major new version isn't it?

Isn't that issue a PHP issue?

[2018-09-23 13:19] OlafvdSpek opened #14626 "Uncaught TypeError @ executeQueryAndGetQueryResponse"
When editing a row.. pMA a686ff8
[code]

[2018-09-23 13:30] OlafvdSpek commented on #14621
Has this feature even be really useful?

[2018-09-23 15:07] ibennetch commented on #14623
@wooir that bug is something I’d like to have fixed but haven’t had time to work on myself. I can’t say when it will be fixed, but it’s pretty high on the list of bugs I’d like to fix.

The authentication bug is dependent on PHP fixing their plugin so I can’t even give a estimate for that one.

[2018-09-23 15:15] ibennetch commented on #14623
Olaf, I’m away from my notes on the matter at the moment, but by memory the breaking changes happened between MySQL 8.0.4 and 8.0.11. I remember testing the release candidates of 8.0.0 pretty extensively and (again, this is from memory) I don’t think they mentioned the plan to deprecate and remove the features are using until 8.0.11 was released.

In my opinion, changing the authentication archite

[2018-09-23 15:27] OlafvdSpek commented on #14623
You're right, I didn't realize 8.0.3 and 8.0.4 were release candidates already and 8.0.5 - 8.0.10 were skipped.

[2018-09-24 12:10] jizhidemowang commented on #14147
@williamdes Thanks。

How to close the problem?

[2018-09-24 12:10] #14147 closed

[2018-09-24 18:10] williamdes commented on #13488
Confirmed on `master` and `QA_4_8`
[code]
https://demo.phpmyadmin.net/master-config/tbl_select.php?db=world&table=City
https://demo.phpmyadmin.net/QA_4_8/tbl_sql.php?db=world&table=City

[2018-09-24 21:39] williamdes commented on #13975
@nijel Can you please have a look when you have some time ?

[2018-09-25 19:48] #14626 closed

[2018-09-25 19:49] mauriciofauth commented on #14626
Fixed. Thanks, @OlafvdSpek.

[2018-09-26 09:01] Braindea7 commented on #12489
I want to refresh this. It's still a "bug" in the newest version of phpmyadmin.
If a foreign key name is already in use, you get the Error
"Error creating foreign key on [table] (check data types)". It should be something like "Error creating foreign key on [table] (name is already in use)".

[2018-09-26 09:14] ChrisHSandN opened #14630 "Enum ‘0’ produces incorrect search SQL"
### Describe the bug

When an ENUM field contains the value '0' this produces in invalid search term SQL which will not find any rows.

### To Reproduce
[code]
From search tab:
Select “0” from dropdown for field `foo` > Go > === 0 results (incorrect)
Select “1” from dropdown for field `foo` > Go > === 1 result (correct)

The generated SQL for ‘0’ is producing `foo` = 0 whereas for ‘1’ it is `foo`

[2018-09-26 09:23] ChrisHSandN opened #14631 "Enum with comma produces incorrect search dropdown"
### Describe the bug

When a comma is used within the value of an ENUM field the search dropdown incorrectly splits this.

### To Reproduce

Steps to reproduce the behavior:
[code]
From search tab:
Dropdown next to field `foo` shows separate values for ‘foo’, ‘bar’ (incorrect)

From structure tab
Change field `foo` > Edit ENUM/SET values > shows ‘foo,bar’ as single value (correct)

### Expected be

[2018-09-26 12:32] lem9 commented on #14631
The Insert page is correct; it uses Util::parseEnumSetValues() which correctly parses commas inside a quoted string. The Search page is buggy; it uses templates/table/search/input_box.twig which splits on the comma.