[2021-08-10 21:20] williamdes commented on #15931
The code gets stuck here (ImportSql class)
[code]

[2021-08-10 21:20] williamdes commented on #15931
Hi @iifawzi
Would you like to investigate about this one ?

[2021-08-10 23:11] iifawzi commented on #15931
Sure, I'd love to give it a try. @williamdes. I've made a fast test and it seems like that the server will always go wild whenever the query is ended with `\`. You can test the same case mentioned in the issue without the last backslash and it will throw the errors as expected. You can even test with any query that ends with `\` and it will go infinitely. I will try to figure out why tomorrow

[2021-08-11 00:59] #17039 closed

[2021-08-11 06:22] liviuconcioiu opened #17069 "Maximum number of rows to display is ignored when using LIMIT"
### Describe the bug

Maximum number of rows to display is ignored when using LIMIT.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=sakila&table=film_actor&pos=0](https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=sakila&table=film_actor&pos=0)
2. Run `SELECT * FROM film_actor LIMIT 500;`
3. There are 5

[2021-08-11 06:24] #17069 closed

[2021-08-11 18:33] lrb2 commented on #17003
For database names, the separator nesting depth seems to have been 10000 ever since 2b12872c2a1ffff7bdded52b8d3e63e5dd8f7e67, and cannot be configured. However, for table names, the separator nesting depth is controlled by `$cfg['NavigationTreeTableLevel']`, and is by default 1 (as is apparent at the bottom of the image). Though values greater than 1 aren't really working properly either.

![image

[2021-08-11 19:34] pcgeek86 opened #17071 "Perfectly valid CHECK constraint on MySQL query throws a validation exception"
### Describe the bug

When I write a simple MySQL query, with a `CHECK` constraint, and add the `ENFORCED` keyword, the validation of the query fails.

### To Reproduce

Steps to reproduce the behavior:
1. Run MySQL container with Docker `docker run --name mysql --rm -dit --env MYSQL_ROOT_PASSWORD=test123 mysql:8.0.26`
1. Run phpMyAdmin container with Docker `docker run --detach --env PMA_ARBITRAR

[2021-08-11 23:34] pcgeek86 opened #17072 "Valid ALTER USER statement throws validation error "unrecognized alter operation""
### Describe the bug

When writing an `ALTER USER` statement in phpMyAdmin, a validation error is thrown, even though the query executes successfully.

### To Reproduce

Steps to reproduce the behavior:

Put the following query into the phpMyAdmin SQL query editor.

[code]

### Expected behavior

Query should not show any validation errors in the phpMyAdmin SQL editor.

### Screenshots

![image](h

[2021-08-12 22:07] schaferdave commented on #15900
v5.1.1 displays this Error Processing Request error right after pasting in particular queries.   The following query does it, but when I remove the 'm.user_id = '43' AND' from the WHERE clause it doesn't show the error.

SELECT  t1.to_date
FROM
    mytableM m,
    mytable1 t1
WHERE
    t1.user_id = m.user_id AND  m.user_id = '43' AND
	t1.to_date = (SELECT MAX(t2.to_date) FROM mytable1 t2 WHERE t2.

[2021-08-12 22:17] williamdes commented on #15900
Are the timings acceptable and the same if you use the mysql CLI and try with and without the WHERE ?

[2021-08-14 01:05] williamdes commented on #16549
Hi @iifawzi

Would this one interest you ?

[2021-08-14 10:08] iifawzi commented on #16549
I will take a look, it worth trying

[2021-08-14 12:10] williamdes opened #17079 "Missing spatial functions in Insert/Edit page"
### Describe the bug

Missing spatial functions in Insert page

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table
2. Go to Insert
3. Check the select

### Expected behavior

Have spatial functions

### Server configuration

- phpMyAdmin version: 5.1

### Additional context

Found here: https://github.com/phpmyadmin/phpmyadmin/pull/17074#discussion_r688517427

[2021-08-14 12:40] MoonE commented on #17079
I'm not sure this is a separate issue from #17018 as the spatial functions cannot be used without the other changes in #17074

[2021-08-14 12:45] #17079 closed

[2021-08-14 12:53] williamdes commented on #17079
Kind of and also from a code perspective :)
And on MariaDB I am able to use the function

[code]

[2021-08-14 12:54] williamdes commented on #17018
On MariaDB 10.6 I am able to use the insert by selecting the function after the fix of #17079

[code]

[2021-08-14 12:55] williamdes commented on #17018
Maybe the fix would be to select a geometry function after copying the value

[2021-08-14 14:04] williamdes commented on #16434
Could you please post your query @Vac1911 ?

Or any similar query you can forge on demo servers (`root`, no password)
- [`5.2.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.1.x-dev`](https://demo.phpmyadmin.net/QA_5_1/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2021-08-14 15:21] williamdes commented on #15921
Hi @noyearzero
I can not reproduce this issue locally, would you mind sharing your configuration file censoring the sensitive data ?

Or if you can reproduce it on my demo server I change the config for this issue:
https://pr-17036-phpmyadmin.public-instance.eu/index.php?server=2

Not all servers work for now but MariaDB 10.5 for sure

Users:
- root/public
- public/public

Config:
[code]

[2021-08-15 13:12] williamdes commented on #16549
Seems to be fixed with sql-parser/pull#343 thanks to @iifawzi 🚀
Let's see if sql-parser gets released before phpMyAdmin that would mean having the fixes into the shipped version

[2021-08-15 13:16] williamdes commented on #14516
Closing as it seems to have been fixed in MariaDB 10.3.16, 10.4.6 and above

[2021-08-15 13:16] #14516 closed

[2021-08-15 19:45] noyearzero commented on #15921
@williamdes I cannot reproduce it with your server's config.  I think you would have to change **FirstLevelNavigationItems** to **3 or less** and create a server in the config with **only_db** set to to **array('event\\_%')**

That would cause your event_* databases to not be on page 1 of the DB list because those databases are 4th and 5th in the list.  Below is my redacted config file for what I

[2021-08-15 21:59] anny21 commented on #16374
Hi @williamdes i'm back.. can i work on this, I will need your guidance and if you don't mind, can i reach you you on twitter?

[2021-08-15 22:10] williamdes commented on #16374
Hi @anny21

Sure, you can also contact me on [Matrix](https://matrix.org/) (https://matrix.to/#/@williamdes:matrix.org)
I will guide you

[2021-08-15 23:10] alembic734 commented on #16374
Hi guys,
Thanks for responding to this.  The issue seems to have fixed itself with a phpmyadmin update several months ago.    The popup box is no longer an issue.

[2021-08-16 00:11] williamdes commented on #16374
Thank you, closing this one then!
If you can post your version for the record

[2021-08-16 00:11] #16374 closed

[2021-08-16 00:15] alembic734 commented on #16374
For the record: now using version 5.1.1.
Thanks!

[2021-08-16 00:16] williamdes commented on #14502
cc @anny21

This is a good one and occurs also with the GIS edit modal

[2021-08-16 04:15] anny21 commented on #14502
Thank you @williamdes.. i'm looking into it, I will send you a message on twitter soon. Thank you

[2021-08-16 12:44] anny21 commented on #14502
@williamdes I sent you a message on twitter 😭

[2021-08-16 19:12] dabosshabibi opened #17081 "User management"
### Describe the bug
When i go on the phmyadmin and i try to do anything it says i cant cuz i don't have access but when the owner of the server tries to do it it says the same thing and we dont have access ti the user settings

### Server configuration

- Operating system:
- Web server:
- Database version:
- PHP version:
- phpMyAdmin version:

### Client configuration

- Browser:
- Operating syst

[2021-08-16 20:38] williamdes commented on #17081
Hi @dabosshabibi

I have to say that we can not do much for you with such a description :/
Would you mind posting your version (inspect the login page you will find in script tags, example `v=5.1.2-dev"></script>`) ?
Screenshots could help understand what is wrong

But maybe the issue you are reporting is all about your service provider
Anyway, let us know

[2021-08-17 19:07] williamdes commented on #11983
Some references for someone working on this:
- https://github.com/phpmyadmin/phpmyadmin/blob/RELEASE_4_2_11/doc/config.rst had `EditInWindow` config option
- https://github.com/phpmyadmin/phpmyadmin/blob/RELEASE_4_2_11/libraries/config.default.php#L2518-L2524 is the default config block

So `EditInWindow` should be added back and valued default as `false`

[code]

[2021-08-17 23:40] williamdes commented on #14502
Thank you @anny21 for your fix #17082 !
It works perfectly !

[2021-08-18 01:13] williamdes commented on #16883
Hi @AnnAngela
Do you still have this issue with 5.1.1 ?

[2021-08-18 11:20] fliespl commented on #17028
@williamdes can you provide exact failing query + mysql version on which it fails?

[2021-08-18 11:40] fliespl commented on #17028
@williamdes how about such approach? This way there will be no duplicates and query should run.

[code]

[2021-08-18 11:52] williamdes commented on #17028
I am not sure to understand where the problem is, see: https://github.com/phpmyadmin/phpmyadmin/pull/16902 where is did my last change to the system in https://github.com/phpmyadmin/phpmyadmin/commit/6c81fa2879ae84abd342e6c7e688d2524e259244

Current code looks like: https://github.com/phpmyadmin/phpmyadmin/blob/RELEASE_5_1_1/libraries/classes/Sql.php#L803-L825

[2021-08-18 11:56] fliespl commented on #17028
@williamdes In my initial post I have provided examples.

It's due to subquery as join with same table and columns duplicates (notice star vs aliased table).

[code]

Should I prepare a sample database dump example with such issue?

[2021-08-18 12:34] williamdes commented on #17028
Please, that would help a lot anyone working on it

[2021-08-18 18:21] cmmcneill opened #17084 "PHP session errors details are missing on error page"
### Describe the bug

PHP session errors that cause phpmyadmin to fail to load don't display the underlying error details on the error page, making it very difficult to diagnose the problem. There were some issues with the PHP session already being started in my project, which resulted in the error page showing showing only the generic "Error during session start..." message and no further informa

[2021-08-19 08:06] fliespl commented on #17028
Attaching game_auth_logs table from initial post. You can try queries attached there to see different count results.

[game_auth_logs.zip](https://github.com/phpmyadmin/phpmyadmin/files/7012751/game_auth_logs.zip)

[2021-08-19 22:59] williamdes commented on #17084
Adding `session_start();` to my config file made the error pop-up
Issue confirmed

[2021-08-20 00:50] #14502 closed

[2021-08-20 00:50] #17018 closed

[2021-08-20 01:58] AnnAngela commented on #16883
@williamdes No, the 5.1.1 work as expected, thx!

[2021-08-20 01:58] #16883 closed

[2021-08-20 15:41] sharifu66 commented on #16519
Deprecation Notice in ./libraries/classes/Di/ReflectorItem.php#82
Method ReflectionParameter::getClass() is deprecated

Backtrace

./libraries/classes/Di/ReflectorItem.php#50: PhpMyAdmin\Di\ReflectorItem->_resolveArgs(
array,
array,
)
./libraries/classes/Di/FactoryItem.php#27: PhpMyAdmin\Di\ReflectorItem->invoke(array)
./libraries/classes/Di/Container.php#62: PhpMyAdmin\Di\FactoryItem->get(array)

[2021-08-20 15:52] jpbion commented on #16519
Does this happen with 5.1.1? I’m using that and don’t see this error. Have you tried upgrading to 5.1.1?

Sent from my iPhone

[2021-08-20 15:52] mauriciofauth commented on #16519
Hi, @sharifu66 , you should upgrade your phpMyAdmin installation to the latest version.

[2021-08-20 15:55] sharifu66 commented on #16519
Thanks guys I upgraded my phpMyAdmin installation to the latest version and
now it works

On Fri, Aug 20, 2021, 6:52 PM Maurício Meneghini Fauth <
***@***.***> wrote:

[2021-08-20 21:57] StephenAtty opened #17086 "function in index is lost on export Also does not show in front end"
### Describe the bug

Export of table structure is broken when an index contains a function

### To Reproduce

Steps to reproduce the behavior:
create a table with the following structure (this is from a mysql dump):

[code]

From within phpmyadmin export the table
[code]

![image](https://user-images.githubusercontent.com/251449/130297252-840ab32a-232b-4fb5-b000-01419de34431.png)

### Expected be

[2021-08-20 22:43] hacker-prime commented on #14433
I tried what you suggested and it's still showing the same error.

[2021-08-20 22:58] hacker-prime commented on #14433
How did you downgrade it exactly?

[2021-08-21 00:01] williamdes commented on #14433
Could you create a new issue @hacker-prime so we can find out and fix any left over of this complex issue ?

[2021-08-21 07:42] liviuconcioiu commented on #17023
I've managed to reproduce the first error. While on Monitor page, resize the browser until each chart is placed one under another.

[2021-08-21 11:06] #14276 closed

[2021-08-22 21:26] #17062 closed

[2021-08-22 21:26] #17084 closed

[2021-08-22 21:26] #17046 closed

[2021-08-22 21:28] williamdes commented on #17046
I pushed 8f4514c7e943608b789de75da49268159897482e to remove the error, can someone confirm that it also works fine ?
Any more debug to find the root cause would be very welcome :)

[2021-08-22 22:24] williamdes commented on #16906
Hi @clementmoulin

After a bit of research I was able to re-build your setup

This is my SSO page

[code]

When I try to fix the phpMyAdmin tables I have `#1046 - Aucune base n'a été sélectionnée`
Do you also have this error ?

[2021-08-23 16:09] williamdes commented on #16953
Hi @DoctorSubtilis

While working on #16906 I would think this could be related
What does occur when you click on the "Create" link ?

[2021-08-23 16:12] williamdes commented on #16918
Hi @abc2006

I am sorry I did not reach to you earlier
Did you activate tracking on the table you want to track ?
Or maybe I did not understand this correctly

[2021-08-23 17:05] williamdes commented on #16881
Hi @Simbiat

I would like to find a solution for this one before the next release, could you please try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) ?
Even if no fix was sent, phpseclib had a minor update https://github.com/phpseclib/phpseclib/releases/tag/2.0.33

After this could you give me an updated stack trace ?

[2021-08-23 17:09] williamdes commented on #16942
Hi @jormaster3k
I am working on this issue, sorry for not replying earlier
This was pinned in my inbox, I did not forget about it :)

[2021-08-23 18:20] DoctorSubtilis commented on #16953
Sorry, but that problem is now solved.

[2021-08-23 18:25] williamdes commented on #16942
I found one more bug, I fixed it with 90018d5626d2b50cf9d5bd98811efba6bf1ecb3d

And fixed the bug you reported with 84de4a672d7e431a59f539d57c63163be55f456f

[2021-08-23 18:36] #16067 closed

[2021-08-23 18:36] #16942 closed

[2021-08-23 18:59] williamdes commented on #16953
Glad to hear that, would you mind posting the link or the solution ?

[2021-08-23 18:59] #16953 closed

[2021-08-23 19:19] DoctorSubtilis commented on #16953
The problem was a "confusion" between the phpmyadmin provided with lampp and "my" phpmyadmin (downloaded and installed separately). Unifying the two solved.

[2021-08-24 00:17] williamdes commented on #16942
I just built the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot), it contains the fix. Feel free to try it and let me know

[2021-08-24 07:37] Simbiat commented on #16881
I was able to login with the snapshot. It still crashed twice during login and then twice during attempt to move to a different page. Here are the 4 dumps:
https://apaste.info/dnmR
https://apaste.info/gh0M
https://apaste.info/oFLm
https://apaste.info/ofbS

"patch" outputs `string(8) "simbiatr" string(59) "a8b7c6dvju648x3875082mx0cum8457afkreizt8wm4ta4xt8mavmr8tesx"`

[2021-08-24 07:57] Simbiat commented on #16881
I tried latest 5.2 snapshot and so far no crashing at all.

[2021-08-24 11:18] williamdes commented on #16881
Thanks, be sure to rotate your blowfish secret now :)

No more traces about `Fatal error: Uncaught Error: Value of type null is not callable` ?
The login seems fixed, right ?

About the crashes, I can not do much without more specific data
Maybe could you make me a remote access ?

[2021-08-24 11:24] Simbiat commented on #16881
Yes, nothing in traces now.
Crashes are random and they do seem to be related to PHP bug (I've shared link before), but it looks like in 5.2 something has changed, that avoids them somehow. I will monitor the build, but if 5.2 fixes the issue - I do not think there is much of a reason to delve into it at this point.

[2021-08-24 11:38] williamdes commented on #16881
Okay, I will close this one then
Let me know about this and if you find out something that is more obvious
Using another PHP version could fix your issue

[2021-08-24 11:38] #16881 closed

[2021-08-24 21:17] williamdes commented on #16879
Also an apparmor file to document ?
https://nordisch.org/posts/php-fpm-apparmor/

[2021-08-24 21:19] williamdes commented on #16862
I would bet it does not logout, but because it is unable to read the session data, the session data is the void.
If you chmod back and <kbd>F5</kbd> does it work ?

[2021-08-24 21:27] williamdes commented on #16557
I am closing this for now, the PPA and the new Debian version have the lastest phpMyAdmin version
Please have a try and let me know if this persists

[2021-08-24 21:27] #16557 closed

[2021-08-24 21:30] williamdes commented on #16373
DCO on weblate made me have to explain to two people that they could safely sign it and what they where signing..

[2021-08-24 21:33] williamdes commented on #15386
Hi @cdp1337
I am not sure you will get this notification but just in case, could let us know if 5.1 versions fix this issue ?
Because we are missing your original table example reproducing is complicated or impossible :/

[2021-08-24 21:36] williamdes commented on #16961
Hi @chijiokeO
I am afraid this occurs because the php process dies before the SQL command finishes
Let us know if you still can reproduce this issue with a more recent version ?

[2021-08-24 21:58] #16160 closed

[2021-08-24 23:05] williamdes commented on #14321
Here is what is looks like and I can confirm this does leak the user

![image](https://user-images.githubusercontent.com/7784660/130701056-ede47f8d-8730-4d81-b545-bb9d77a8888e.png)

[2021-08-24 23:27] williamdes commented on #14321
Another test is to set `$cfg['Servers'][$i]['SignonURL'] = '';` and see the broken error page

### Before

![image](https://user-images.githubusercontent.com/7784660/130702698-c0ab375d-ee92-45c6-a7af-f34457faa29b.png)

### After

![image](https://user-images.githubusercontent.com/7784660/130702752-0a36e714-4049-4462-97fd-78a389a6e74c.png)

[2021-08-25 00:05] #14321 closed

[2021-08-25 00:26] liviuconcioiu commented on #16862
No, it doesn't work. The session file is still there, is not destroyed.

[2021-08-25 00:58] yznima commented on #14321
@erolatreston FYI

[2021-08-25 01:07] williamdes commented on #14321
This is not yet released :)
But you can copy the line locally

[2021-08-25 01:10] williamdes commented on #16862
Oh okay, so the session ID rotates
Not sure we can do anything about this PHP behaviour
What behaviour would you want?

[2021-08-25 05:47] snap20lp opened #17087 "Creating empty database and viewing it returns an error in phpMyAdmin"
### Describe the bug

Im creating a databse with queryUpdate and this SQL command:
`CREATE TABLE IF NOT EXISTS collectorTable(UUID varchar(64),World varchar(64),posX int, posY int, posZ int,inStock int,item varchar(64))`
in my Java application.
When i view it in phpMyAdmin it returns this error: https://pastebin.com/hR8hVk0G
But when i add an entry the error disapears everything works fine with th

[2021-08-25 08:59] liviuconcioiu commented on #16862
I think the best option is to check if the folder has read/write permissions first and don't attempt to read the session file directly like it does now, and show a message that permissions should be changed, before the page is refreshed.

[2021-08-25 10:22] williamdes commented on #17087
Hi @snap20lp
I think this is probably a duplicate of #16352

Can you upgrade to 5.1.1 ?
This issue should be fixed

[2021-08-25 13:16] williamdes commented on #15605
I a closing this as the fix would be at the PHP level as far as I understand this issue.
This is most probably already fixed in newer PHP versions

[2021-08-25 13:16] #15605 closed

[2021-08-25 13:24] williamdes commented on #16917
Hi @melnikaite

I am closing this one since it is resolved but in case you have it another feel free to ask me to re-open so we investigate and find out what is wrong

[2021-08-25 13:24] #16917 closed

[2021-08-25 13:29] williamdes commented on #16917
If you can let me know what table name was creating this issue ?

[2021-08-25 13:33] #15295 closed

[2021-08-25 13:50] rollopack opened #17088 "Query box disappears after adding a column"
The SQL query box after adding a column is displayed but a redirect is immediately performed and the box disappears.

Steps to reproduce the behavior:
1. Go to 'Structure'
2. Click on 'Add column'
3. Add a column
4. The SQL query box is displayed but a redirect is immediately performed and the box disappears

### Expected behavior

The SQL query box must remain visible, as is the case with version

[2021-08-25 13:59] williamdes commented on #17088
Hi @rollopack

Thank you for the report, it seems to be a duplicate of #16693

[2021-08-25 14:02] rollopack commented on #17088
Oops, sorry. I also did some searching for open bugs, but I didn't find it :-(

[2021-08-25 14:02] #17088 closed

[2021-08-25 14:03] williamdes commented on #17088
I marked this as a but to solve soon as it seems to make some people nervous and I totally understand that you would want to copy the query

When a feature becomes a bug ^^
Anyway, I take this report and #16693 seriously

[2021-08-25 14:04] williamdes commented on #17088
No worries, it took me at least 5 mins to find it :/

This issue is probably due to #15675

[2021-08-25 14:04] williamdes commented on #17088
Duplicate of #16693

[2021-08-25 14:05] williamdes commented on #16693
As said in #17088 I thinks this is due to #15675
I marked this to be done soon as I take the reports about this behavior seriously. I understand it is annoying to not be able to copy the query

[2021-08-25 14:22] melnikaite commented on #16917
`event`

[2021-08-25 15:17] clementmoulin commented on #16906
Hi @williamdes

I don't have a option to "fix" (or maybe I didn't find it).

On the homepage I get:
[code]

And when I go to the "Analysis":
[code]
 

[2021-08-25 15:56] williamdes commented on #16906
Hi @clementmoulin
Thank you, could you post a screenshot of the Analysis page ?

Normally there is a fix link on top and it does not work in my testing
If you can help confirm this please ?

[2021-08-25 15:57] williamdes commented on #16917
I could not reproduce it, do you have other databases ?
What are the children when the table name is not the same everywhere ?

Could you please let me know more about your database list ?

[2021-08-28 02:18] williamdes commented on #16906
Hi @clementmoulin

After fixing edge case after edge case I have no covered what you reported.
Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know how it works for you ?

(yes, at the time writing this there is still one non perfect thing: when you click on create tables, you need a second clic

[2021-08-28 11:15] adjustmentlayer commented on #16991
In my case this problem was caused because in php.ini I had set ```variables_order="E"```. When i changed this value to "GPCS" the problem was gone.

[2021-08-28 12:16] williamdes commented on #16991
Thank you for letting us know, that will help other people

Ref: https://stackoverflow.com/a/1312891/5155484

[2021-08-30 20:38] Dennis1993 commented on #12237
?

[2021-08-30 21:11] williamdes commented on #12237
I am adding this to the 5.2 milestone
Thank you for bringing some light on this one

[2021-08-30 21:13] williamdes commented on #12237
Probably this could go with some refactoring of the import progress management

[2021-08-30 22:47] #16906 closed

[2021-08-30 23:00] williamdes commented on #12887
Hi @fliespl

I did a lot of changes and fixes for #16906
Would you mind testing the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if you think more fixing is needed ?

[2021-08-30 23:06] williamdes commented on #16906
Everything should be fixed, please let me know if that fits your setup using the latest snapshot :)

[2021-08-30 23:06] williamdes commented on #15665
Could you try the latest 5.1 snapshot ?
In my testing if the configuration is made correctly you can now fix the missing tables

Ref: #16906

[2021-08-31 13:20] jb-boin commented on #15981
Sorry i totally forgot about this request, here are the useful parts on the signon script i use :
[code]

And the PMA config parameters that are related :
[code]

[2021-08-31 13:59] AverageGuy opened #17094 "How do I apply a "fix"?"
### Is your feature request related to a problem? Please describe.
Fix #16166 - Make the alter user privileges MySQL 8.0.11+ compatible - I see it but I have no idea how to apply it.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It was described in the orginal issue pretty well.

### Describe the solution you'd like
How do I apply it?

A clear and co

[2021-08-31 14:19] williamdes commented on #17094
Hi @AverageGuy

Did you download the latest version from our [website](https://www.phpmyadmin.net/downloads/) ?

This is the best way to "install the fix"

[2021-08-31 19:37] williamdes commented on #17081
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2021-08-31 19:38] #17081 closed

[2021-08-31 19:40] williamdes commented on #16459
This issue is a bit strange
@fakhamatia could you upgrade to 5.1 and let us know if this is still accurate ?

[2021-08-31 19:53] williamdes commented on #15826
The why was not explained, we need to understand our users before creating features that finally do not fit them or anyone.
Closing

[2021-08-31 19:53] #15826 closed

[2021-08-31 19:55] williamdes commented on #15068
To learn about changing schemes checkout: https://github.com/phpmyadmin/phpmyadmin/issues/16969#issuecomment-864187054

[2021-08-31 20:00] williamdes commented on #16198
I am closing this, it should be confirmed with a
[code]
As far as I could dig we do not remove such content

[2021-08-31 20:00] #16198 closed

[2021-08-31 20:11] williamdes commented on #13916
Checked on my MariaDB 10.6 local server and the named pipe option does not work

But it is possible to create named pipes on Linux: https://dev.to/0xbf/use-mkfifo-to-create-named-pipe-linux-tips-5bbk
The wikipedia page even talks about loading data into MySQL using a named pipe: https://en.wikipedia.org/wiki/Named_pipe

I think we can conclude that you must use a socket file and not a named pipe i

[2021-08-31 20:17] #16060 closed

[2021-08-31 20:23] williamdes commented on #12403
I think we can consider this request as done, the central columns is made for that

[2021-08-31 20:23] #12403 closed

[2021-08-31 20:29] williamdes commented on #12753
#17089 will solve that

[2021-08-31 20:36] williamdes commented on #12943
![image](https://user-images.githubusercontent.com/7784660/131572240-a5684197-c51e-419d-b58e-7a62a74435f1.png)

This got into 5.1
Thanks for thinking about it

[2021-08-31 20:36] #12943 closed

[2021-08-31 20:37] williamdes commented on #12943
Most probably because of #16417

[2021-08-31 20:39] williamdes commented on #13808
I added this to the 5.2 milestone as I think it could be nice to generate some prepared query code

[2021-08-31 20:40] williamdes commented on #14129
This really makes sense, I added it to the 5.2 milestone so it gets some attention

[2021-08-31 20:41] williamdes commented on #13164
There is already a repairing system dear ghost ;)👻

[2021-08-31 20:41] #13164 closed

[2021-08-31 20:45] williamdes commented on #14127
Hi @ibennetch
I think this request is legit, did we ever support HOTP ?

[2021-08-31 20:47] williamdes commented on #15053
Hi @lapkritinis
I do not understand your use case, could you elaborate more on how and why you need this switch ?

[2021-08-31 20:51] williamdes commented on #15742
Since 5.1.0 (#16547) no more fonts are included with the theme, you are free to install the one you want on your system.
Let us know if that does not fit your needs

[2021-08-31 20:51] #15742 closed

[2021-08-31 21:19] williamdes commented on #13113
Should be okay now

[2021-08-31 21:19] #13113 closed

[2021-08-31 21:26] williamdes commented on #13738
It should be fixed now

[2021-08-31 21:26] #13738 closed

[2021-08-31 21:29] williamdes commented on #5553
This feature does not exist anymore as far as I know

[2021-08-31 21:29] #5553 closed

[2021-08-31 21:31] williamdes commented on #12561
Closing this one

[2021-08-31 21:31] #12561 closed

[2021-09-01 06:13] fakhamatia commented on #16459
How to upgrade to 5.1 with repository and PPA? in Ubuntu 18.04

[2021-09-01 08:35] williamdes commented on #16459
You might need this: [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

[2021-09-01 09:37] fakhamatia commented on #16459
I upgraded to 5.1.1 but nothing changed.
When I login to server1, server 2 is logout.
Even if I refresh login page in server1, server2 is logout.

[2021-09-01 10:08] AverageGuy commented on #17094
Thanks.  I wasn't sure it had been fixed in the latest version.
Jim

[2021-09-01 10:08] #17094 closed

[2021-09-01 10:23] williamdes commented on #16459
Something could be wrong in the scope of the session cookie, I will try to find out
Thanks

[2021-09-01 15:36] nunoperalta opened #17095 "Copy table name"
Hi,

It used to be easy to copy the table name, by selecting the name from here:

![image](https://user-images.githubusercontent.com/487079/131700516-24d8cc8a-0ff7-4b3e-aedc-4b82e5fb503d.png)

However, now every time I attempt to select the table name there, it does reverse selection, or copies the whole line:

![image](https://user-images.githubusercontent.com/487079/131700717-e3cfc71e-1d9e-4726-

[2021-09-01 18:09] williamdes commented on #17095
Hi !

This could be a nice option for non mobile users

Maybe there is a way to say what value should be copied

But thanks for reporting this

[2021-09-02 18:19] saad-ka opened #17097 "FK constraints don't show up in relation view when there is an invisible index"
### Describe the bug

I have two columns (`anime_id` ,`user_id`) with foreign key references but they are not clickable and the FK constraints don't show up in Relation View

![column-not clickable](https://user-images.githubusercontent.com/53956067/131892650-3d5c3c65-43a8-4820-a63d-d01f348bff14.png)

![empty relation view](https://user-images.githubusercontent.com/53956067/131893052-09179738-b94d

[2021-09-02 19:23] williamdes commented on #17097
Hi

Thank you for the report, it will be investigated as soon as possible

[2021-09-03 08:27] musicpanda opened #17099 "Mention the database name in some errors."
When importing tables I would like to see the error message "table xxx already exists" to include the database name. The resuly would be something like "table zzz.xxx aleady exists".

When you export a database some hosting providers include the database name. The effect is that when you try to import that file into another database it will use that included name. So you may get an error while imp

[2021-09-03 14:26] ibennetch commented on #17099
This sounds like a great idea. However, I'm not sure we should fix it here.

By memory, I believe those error messages come directly from MySQL/MariaDB — and we generally try not to inject any of our own commentary on the messages delivered by the database server.

I can see how this would be a good improvement, but (if I'm remembering the code correctly) I'm not sure we should get in to modifying

[2021-09-04 04:58] yogeshojha commented on #17095
I will work on this @williamdes 🥳

[2021-09-04 08:45] shucontech commented on #17097
Hello @saad-ka , Can you please export the DB and send, or fix the table queries? I'm not able to create the table using the query you sent me. Thanks.

[2021-09-04 09:22] shucontech commented on #17035
Working on this.

[2021-09-04 09:33] saad-ka commented on #17097
hi @shucontech , i fixed the table query.

[2021-09-04 09:56] williamdes commented on #17095
Thank you, let us know if you need help

[2021-09-04 10:42] shucontech commented on #17035
I'm unable to reproduce the issue on master. @williamdes can you please take a look? @neps-in can you please try reproducing the issue on the master branch? You can use the demo server: https://demo.phpmyadmin.net/master-config/index.php

[2021-09-04 11:29] shucontech commented on #17097
I was able to reproduce the issue, I'll try to fix it.

[2021-09-04 13:07] logorcehab opened #17100 "How can query my databse throught http request to phpMyAdmin"
### Is your feature request related to a problem? Please describe.

I want to be able to make http requests to phpMyAdmin instead of going direct to mysql

[2021-09-04 13:16] ibennetch commented on #17100
That's not really what phpMyAdmin is meant for, you're looking for some sort of API layer but phpMyAdmin is a graphical administrative interface.

[2021-09-04 13:16] #17100 closed

[2021-09-04 13:17] logorcehab commented on #17100
Can I get any help with that?

[2021-09-04 13:22] ibennetch commented on #17100
Unfortunately, I don't use any such tools so I can't make any recommendations.

[2021-09-04 13:24] shucontech commented on #17097
UPDATE: The insert page also doesn't show the elements of other tables linked by foreign key once the field is set to invisible.

[2021-09-04 17:26] shucontech commented on #17097
It's an issue with the parser, let me see I can fix it.

[2021-09-04 20:29] shucontech commented on #17097
I've pinpointed the issue. It's happening here https://github.com/phpmyadmin/sql-parser/blob/ac26bd7d4826abf0f30b7dad783d154407906dca/src/Components/CreateDefinition.php#L298. The `/*!80000 INVISIBLE */` command is not parsing properly and the `INVISBLE` keyboard goes into the code line mentioned above. This is thus preventing the rest of the tokens to be parsed. That's why no Key is been shown.
T

[2021-09-04 20:32] shucontech commented on #17097
@williamdes can you please take a look at it, the `$state` changes are a bit confusing. So I'm not sure what's the right fix.

[2021-09-05 03:51] #16693 closed

[2021-09-05 03:51] #12753 closed

[2021-09-05 07:24] williamdes commented on #17097
Thank you for the debug :)
cc @iifawzi

[2021-09-05 08:48] shucontech commented on #17023
@liviuconcioiu Can you please try the fix that I've made?

[2021-09-05 09:03] shucontech commented on #16958
@williamdes Thoughts?

[2021-09-05 09:29] liviuconcioiu commented on #17023
@shucontech The fix works.

[2021-09-06 00:24] iifawzi commented on #17097
Most probably the fix should be here;
https://github.com/phpmyadmin/sql-parser/blob/ac26bd7d4826abf0f30b7dad783d154407906dca/src/Components/CreateDefinition.php#L240-L242

The parser of the `Key` statements doesn't know anything about the `invisible` option, which's should be added here, not really sure though.
https://github.com/phpmyadmin/sql-parser/blob/ac26bd7d4826abf0f30b7dad783d154407906dca/

[2021-09-06 00:27] williamdes commented on #17097
Oh probably I should finish https://github.com/phpmyadmin/sql-parser/pull/349 but write a test with this example before

[2021-09-06 16:33] soysudhanshu commented on #17095
Hey Yogesh,

I was going through browser compatibilty tables for Clipboard API support. I want to know about how we are planning to implement cross browser compatibilty. For eg Firefox only allows Clipboard API in secure contexts, for which we might need to fallback to deprecated `exec`commands.

I was also wondering is Internet Explorer supported by PHPMyAdmin?

I would really like to help you ou

[2021-09-06 18:37] nunoperalta commented on #17095
The point (1) I suggested above is to just make the table name plain text (no hyperlink). I'd be very happy with that solution :)

(all I'd have to do is double click the table name and Ctrl + C)

[2021-09-08 06:58] duronrulez commented on #16988
can confirm we're experiencing the same type of issue (no database selected error) when exporting complex query results.

[2021-09-08 07:31] duronrulez commented on #16988
here is an reproducable example (on the 5.1.1 demo PMA works the same way):

structure and data:
[code]

Query to try and export the results of:
[code]

Expected result: a csv file, actual result:
[code]

[2021-09-08 07:36] williamdes commented on #16988
Hi @iifawzi
Could you please help me on solving this one ?

[2021-09-08 08:40] williamdes commented on #16746
This did pop out in my Sentry emails for a user using `php_version = 8.1.0RC2-dev`

- [ ] `Function strftime() is deprecated` (https://wiki.php.net/rfc/deprecations_php_8_1#strftime_and_gmstrftime)

cc @Ayesh

[2021-09-08 13:05] iifawzi commented on #16988
Hi,  I've investigated more on this, the issues is caused because for complex queries our analyzer doesn't know exactly what is the table name, which's leading to mark the complex queries as `raw query`
https://github.com/phpmyadmin/phpmyadmin/blob/63faf7ea413173f5a00e24d59746a8f7dba365e3/libraries/classes/Display/Results.php#L4710-L4732
`$analyzed_sql_results['select_tables']` will always be an e

[2021-09-08 20:47] shucontech commented on #16962
The issue is happening here: https://github.com/phpmyadmin/phpmyadmin/blob/e3554879ef7a4879446db25669563df004f832a2/libraries/classes/Sql.php#L800 . The function is not calculating the exact count. I propose that when the user clicks the '>>' button, the exact row count is generated at that moment. @williamdes thoughts?

[2021-09-08 22:21] duronrulez commented on #16988
Hey, dont know if relevant, but on previous versions that same query used to work fine for exporting.
If relevant i can try to figure out what version we were using before upgrading.

[2021-09-08 23:24] iifawzi commented on #16988
Interesting, definitely could help! either I'm missing something, or there's a bad commit that messed this up.
cc @williamdes

[2021-09-09 06:15] duronrulez commented on #16988
The version that we previously used is 4.9.0.1, in that version the same query worked fine, when doing exports. Let me know if there is any other information i can provide to make identifying and resolving the issue easier.

[2021-09-11 12:34] #17003 closed

[2021-09-11 14:19] soysudhanshu commented on #17095
I have fixed the issue but I don't know how to file a PR for PHPMyAdmin. Can you guys help me out?

[2021-09-12 05:56] williamdes commented on #17095
You successfully did it: https://github.com/phpmyadmin/phpmyadmin/pull/17104 🎉

[2021-09-12 05:57] williamdes commented on #17095
You successfully did it: https://github.com/phpmyadmin/phpmyadmin/pull/17104 🎉

[2021-09-12 09:31] liviuconcioiu commented on #17095
I think there is no issue here, because if double-clicked near table name, on the right side, just the table name is selected (on Firefox browser). I think the issue here is with Chrome/Chromium or maybe a CSS problem.

[2021-09-14 07:20] celestinoxp opened #17108 "Update phpmyadmin libraries for php 8.1 compatibility"
Today (2021-09-14) I have downlodaded phpmyadmin latest dev version and php 8.1 latest dev version, and when open phpmyadmin i give some deprecation messages.

These messages are all relativity to twig librarie.

So, i searched about it in twig github and have downloaded and updated twig library in my phpmyadmin (vendor/twig)....

After have new Deprecation Notice about sql-parser.... so i have up

[2021-09-14 07:29] celestinoxp commented on #17108
i haven't noticed but i think there are more problems when using php 8.1, more deprecated messages in
sql_parser?

[2021-09-14 13:43] bhernan opened #17109 "Php extensions in Moodle 3.10.2"
I tried updating Moodle version 3.10.6 to version 3.11.2, however I'm getting a php problem on the 3.10.6 version:
The following errors were found :

Required PHP extension not found : mysqli
Required PHP extension not found : mbstring
Required PHP extension not found : zip
Required PHP extension not found : gd
Required PHP extension not found : dom
Required PHP extension not found : xmlreader
Req

[2021-09-14 14:38] mauriciofauth commented on #17108
Hi @celestinoxp. Thank you for opening this issue.

We are already working on improving the PHP 8.1 compatibility.
You can follow up what has been done in the issue #16746.
We also run the phpMyAdmin [test suite with PHP 8.1](https://github.com/phpmyadmin/phpmyadmin/runs/3590643957#step:10:11) to fix any compatibility issue.

Duplicate of #16746.

[2021-09-14 14:38] #17108 closed

[2021-09-14 20:23] williamdes commented on #17109
Hi,

this is probably not phpMyAdmin related as we do not use sodium or sodium

[2021-09-14 23:38] bhernan commented on #17109
Thanks for the tip.
Bernardo

El mar., sept. 14, 2021 15:23, William Desportes ***@***.***>
escribió:

[2021-09-16 14:43] Jir4 opened #17111 "The preview sql button tabindex is never refreshed"
### Describe the bug

Adding more rows in the form on tbl_change.php didn't change the tabindex of the preview sql button. (default tabindex seems to be 2*number of column + 6 ). If you have more fields than this field, your focus will jump onto the preview button.

### To Reproduce

[code]

Steps to reproduce the behavior:
0. Create a table with the query above
1. Go to the insert page
2. Scroll

[2021-09-16 15:25] mauriciofauth opened #17112 "Add Infection badge API key to GitHub secrets"
phpMyAdmin has a **Mutation score** badge in the README file.

However it currently not working because the `INFECTION_BADGE_API_KEY` secret environment variable is not set in the repository.

- [Infection's guide on how to create the API key](https://infection.github.io/guide/mutation-badge.html)
- [GitHub's guide on how the add the secret to the repository](https://docs.github.com/en/actions/ref

[2021-09-16 16:01] desjardinspezmax opened #17113 "Underscores not escaped in 'Edit privileges' interface for databases"
Hi,

It's my first bug report, I hope I do it right in an helpful way.

When editing database privileges with the 'Edit privileges' link on a database containing underscores (_). The resulting query doesn't seem to escape them. We have a _default_vfs database, this bug add a permission to the user giving him the possibility to access a database like xdefault_vfs instead of limiting him to _default

[2021-09-16 16:16] williamdes commented on #17113
Hi @desjardinspezmax

Could you please try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) ?
We did a bunch of fixes for underscores

[2021-09-18 12:25] Riyadh1734 commented on #17095
It seems like the problem depends on some browser

[2021-09-18 21:50] alainseys commented on #17095
This is an issue deppending on your browser Chrome, Brave do have this issue firefox,Safari  does not have it here you can fix this by adding a button 'copy table name to clipboard should resolve the issue.

[2021-09-18 22:04] williamdes commented on #17095
By the way, I also use Brave and it is Chromium based so Chrome should be expected to behave the same

Adding a button would be an amazing option !

[2021-09-19 10:05] nunoperalta opened #17117 "Errors not reported when altering table"
I suspect this is similar issue to #17016
So it's possibly fixed already.

If I have an "id" column which is PRIMARY (and NOT auto-increment),
and is already referenced as a FK in another table (pointing to this "id" column),
and later you want to make it AUTO_INCREMENT,

![image](https://user-images.githubusercontent.com/487079/133923452-e4d70d85-c158-4a24-a3f0-04e54fb4f170.png)

Press "Save", an

[2021-09-20 04:24] ahmedfoad59 commented on #16301
i need to simpel Answer for this problem

[2021-09-20 11:19] Cugar15 opened #17118 "PHP Fatal error: Uncaught TypeError: htmlspecialchars() expects parameter 1 to be string, null given"
### Describe the bug

There is one table in the database which triggers a fatal error when trying to display, search.

[code]

This happens with phpmyadmin version 5.0.4 and after ugrade to 5.1.1 same way.
Seems to be that only one table is affected.
Clearing cache, cookies, etc did not help.

- Web server: nginx/1.12.1
- Database version:  5.7.30-log - MySQL Community Server (GPL)
- PHP version:

[2021-09-21 13:28] mauriciofauth commented on #17118
Duplicate of #17046

[2021-09-21 13:28] #17118 closed

[2021-09-21 13:30] mauriciofauth commented on #17118
Thank you for reporting this issue, @Cugar15. This will be fixed in the next release (phpMyAdmin 5.1.2).

[2021-09-21 15:21] ibennetch opened #17121 "password_hash function incorrectly adds single quotes to password before hashing"
### Describe the bug

This was reported by Hidayatullah ayat.kyo@gmail.com at #17120.

The new (since PMA 5.1.0) feature to use PHP's `password_hash()` function when inserting data seems to hash with single quotes surrounding the `'`password`'`. This, of course, fails to match when run through `password_verify()`.

### To Reproduce

Steps to reproduce the behavior:

From the Insert tab, select "pa

[2021-09-21 15:30] #17109 closed

[2021-09-21 15:30] ibennetch commented on #17121
Related to #14772

[2021-09-22 01:42] wisnuwijo commented on #16516
In my case I just need to restart mariadb service on my centos 7 server. It's working now

`systemctl restart mariadb`

[2021-09-22 10:23] amyequinn commented on #16199
great thank you!

[2021-09-24 21:10] Kirkman opened #17123 "Error in processing request | Error text: error (rejected) | It seems that the connection to server has been lost."
### Describe the bug

I'm having a lot of trouble with PHPMyAdmin installed on a Mac, using a localhost MySQL server. Certain interactions cause this error message to appear:

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Log in to PHPMyAdmin.
2. Click on a database in the list.
3. Click on a table in the list.
4. Click on a column header (as if to sort the table by that column). T

[2021-09-25 15:23] shucontech opened #17124 "Preview SQL does not show SQL query in Add Index Dialog"
### Describe the bug

Preview SQL does not show SQL query in Add Index Dialog.

### To Reproduce

Steps to reproduce the behavior:
1. Click on the button to create a new table.
2. Fill up the table name and column name
3. Select Index dropdown to any option
4. Fill up the dialog
5. Click on Preview SQL

### Expected behavior
The corresponding SQL query should be shown.

### Screenshots

![Screensh

[2021-09-26 07:10] bonifacey opened #17126 "Bug- Export View Containing rank() Over() Window Function"
### First Bug Report Report.

I have a query that uses rank-over-partition by. If I export the database, this query is corrupted. PHPMyadmin take Over as an alias, so the database cannot be imported.

Tried/Bug exists in  --- PhpMyadmin 5.1.1, 5.2 and 4.9

 ### Minimum Sample
[code]
**Insert**
[code]

**Create Query**
[code]

### Expected Results
On Export, the query should not be corrupted.

###

[2021-09-26 11:05] williamdes commented on #17123
Hi @Kirkman
Do you have some errors logged in the web server ?
Could you check the browser developer tools to see what happens to the request ?

[2021-09-28 15:11] kevin75001 opened #17129 "Databases not shown when DisableIS set to true"
### Describe the bug

When you set DisableIS to true, when connecting to PMA, the list of databases is not displayed. After refreshing the page, the list of databases / tables is displayed. Disconnect then reconnect and the list of databases is no longer displayed.

By disabling DisableIS, the list of databases / tables works correctly.

It does not depend on the number of databases / tables prese

[2021-09-28 19:25] zerosonesfun opened #17130 "Feature request: Think about built in GDPR quick actions"
This is not related to a problem or existing issue. But, everyone talks about GDPR compliance these days. Usually, it's left to the actual website software to tackle. Not something like phpMyAdmin. But, what if?

What if phpMyAdmin added features that allowed website owners to, at the click of a button, download personal data? Every data structure is different, sure. But, I'm sure there would be a

[2021-09-28 19:34] ibennetch commented on #17130
Hi @zerosonesfun and thanks for your suggestion. What do you propose? Since phpMyAdmin works in an abstract way with any data the user is storing, how could we make an interface that interacts with the many ways a user could store GDPR-related data? I'm interested to hear more about your ideas.

[2021-09-29 18:07] shucontech commented on #16954
I can reproduce this issue, working on it

[2021-09-29 19:52] shucontech commented on #16954
I've pinpointed the issue. It's due to the `ajax` class not getting added to the delete link. Need to investigate more to fix it.

[2021-10-01 09:56] zidingz opened #17131 "Trying to get in touch regarding a security issue"
Hey there!

I belong to an open source security research community, and a member (@nareshsarnala) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pr

[2021-10-01 13:47] ibennetch commented on #17131
Hi,

First, thank you for your work and responsibly handling the issue.

You can email us directly at security@phpmyadmin.net.

We have followed the GitHub recommendation to create a custom set of issue templates, so when users go to create a new issue they are prompted for the type of issue. We have our security team email address listed in the template for security issues, so hopefully that help

[2021-10-02 17:26] zerosonesfun commented on #17130
There could be a button/option/form above all tables (it would have to be near all tables because as you mentioned, the system doesn’t know which table houses user account data for example). If that option is activated, then phpMyAdmin knows, this table is for user accounts. Therefore, phpMyAdmin will magically know that it’s likely this table will need to be easily exported in different formats,

[2021-10-02 20:10] shucontech commented on #16954
This only happens when we don't use an ajax request. For example, refreshing the page might trigger this bug. In that case, instead of overriding the post request to show the confirmation modal, the delete button goes ahead and deletes the row. Should we make this confirmation ajax request independent? cc: @williamdes @mauriciofauth

[2021-10-03 00:32] andynz2017 opened #17132 "Zip Decompression not found during setup"
### Describe the bug
phpmyadmin /setup does not appear to be reporting the detection of the function zip_open even though the libzip package is deployed.

### To Reproduce

Steps to reproduce the behavior:
1. Fresh Centos 8 Container Build
2. PHP Version 8.1 from repo: 8.1.0~RC3-1.el8.remi - had the same issue when trying with PHP74.
3. phpmyadmin version 5.1.1 deployed
4. Served up using: Apache/

[2021-10-03 07:54] shucontech commented on #16853
I think the issue won't occur now. The code has been changed and the stack trace is old. The new change makes the issue redundant and should be closed.
Ref: https://github.com/phpmyadmin/phpmyadmin/blob/fa1a6c9e8d78f313c8a887a3ee4eaced38800aa1/js/src/designer/database.js#L113

[2021-10-03 08:36] shucontech commented on #16813
Hey @liviuconcioiu , are you still able to reproduce it? I'm unable to reproduce it on firefox v92.0 on Ubuntu.

[2021-10-03 09:41] liviuconcioiu commented on #16853
Just tested now, and the bug is still there, Firefox 93/Windows.

[code]

[2021-10-03 09:46] liviuconcioiu commented on #16813
On 5.1 is still there, on 5.2 it gives an access denied page, but is not longer logged off.

![loggedofff](https://user-images.githubusercontent.com/25424343/135748371-93c3af5c-359d-4ea2-ac3e-44d82116c58d.png)

[2021-10-03 10:19] shucontech commented on #16813
Can you please upload a video reproducing this issue?

[2021-10-03 10:39] shucontech commented on #16853
Ahh, I think I understood what's happening. The request `window.indexedDB.open('pma_designer', version)` is failing for some reason. In the video I can see the console log for the error before `can't access property "transaction", db is null`.

[2021-10-03 11:56] shucontech commented on #16853
@liviuconcioiu can you please post the output of the error console log here?
![Screenshot from 2021-10-03 17-24-05](https://user-images.githubusercontent.com/85239205/135752558-96bea32e-f612-4a9a-a084-76fc2bfab721.jpg)

[2021-10-03 12:22] shucontech commented on #16853
https://javascript.info/indexeddb mentions some of the potential issues that might be happening.

[2021-10-03 12:31] shucontech commented on #16853
Can you please confirm whether the issue is happening in Private window only? I was finally able to reproduce it in a private window. Related issues: https://bugzilla.mozilla.org/show_bug.cgi?id=781982 , https://stackoverflow.com/questions/31159316/detecting-preventing-firefox-indexeddb-invalidstateerror-caused-by-private-brows

[2021-10-03 17:11] arbitrarymahi commented on #13270
Hi, can I work on this, please guide me with where to start

[2021-10-03 18:54] ibennetch commented on #13270
Sure Mahi. There are some links in previous comments here, near the top is a link to a list of work that still needs to be done and just above this is William's comment with a link to some other similar work that can be used as an example.

[2021-10-03 18:57] RVxLab commented on #17095
Could I take a crack at this? This would be a very nice feature indeed.

[2021-10-03 20:21] liviuconcioiu commented on #16853
I'm not on a private window, but probably due to my settings.

![error1](https://user-images.githubusercontent.com/25424343/135770189-d9a36b9c-df42-4116-a6b2-cc80d95dbb01.png)

[2021-10-03 20:26] liviuconcioiu commented on #16813
QA_5_1 - is logged out.

https://user-images.githubusercontent.com/25424343/135770380-a41c53fc-72f6-4385-b507-82218bdd27c3.mp4

master - gives access denied

https://user-images.githubusercontent.com/25424343/135770365-e46d51f1-2340-4923-bd0e-9b495b3599a2.mp4

[2021-10-04 09:49] arbitrarymahi commented on #13270
@ibennetch I have seen some examples, where the contributors have removed the inline functions and gave the element an ID and called the even on the ID in some` .js` file.  Can you tell which `.js `file I should use to place these inline js in?

[2021-10-04 15:05] Briareos commented on #15838
For anyone still experiencing this, I had this issue with a badly configured web server, the PHP process' working directory was not being set to the current PHP script's parent directory.

[2021-10-04 17:34] arcanisgk opened #17135 "Column collision in Left join with many columns vs PHPMyAdmin resultset"
I have 4 tables (75 columns each table approx) but they share columns with the same name:

*Table Master_Producto*

    Master_Product.PD_Prof_21

*Table Product_Structure*

    Product_Structure.PD_Prof_21

I am doing left join; what happens is that when it bring them to the backend (php) they are overwritten ... expected 2 PD_Prof_21 but in php only one is retrive.

based on this solution (which

[2021-10-04 17:36] arcanisgk commented on #17135
Can someone help me with the last image and ask please. Why can phpmyadmin and my script not? XD

[2021-10-05 08:27] duronrulez commented on #16988
@iifawzi @williamdes any news on this issue?

[2021-10-06 10:55] celestinoxp opened #17136 "Deprecation Notice when try create new table"
1º create new table show this:

[code]

Windows 10 x64
Apache 2.4.50
php 8.1 (dev)
phpmyadmin (5.2.0-dev)

[2021-10-07 10:28] prafful-panwar commented on #15800
All the application on that server stopped working :( using php 7.1

[2021-10-07 19:37] shucontech commented on #16813
I wasn't able to fix the issue, maybe because it's a browser-side issue but I found the following:
-> There's a potential issue in setCookie that is preventing the retrieval of the cookie when the page opens in a new tab.
-> If I fix this issue, the Session variables are getting destroyed by going to a new tab.

Hopefully it would help if someone wants to take a look at it.

[2021-10-08 15:44] Jir4 commented on #17111
Any news ?

[2021-10-09 03:27] nunoperalta opened #17141 "Table comments visibility"
Hello,

Would it be possible to make these table comments more prominent?

Ideally, for me, it would be red, because in this case it's a warning.
However, at least making it more visible (there's very little contrast in the classic theme), with Black color or so..

![image](https://user-images.githubusercontent.com/487079/136642580-6bd3c716-399c-4155-9d5b-590e358af3fe.png)

Thank you very much!

[2021-10-09 16:32] ibennetch commented on #17131
I've implemented a global security policy across all of our repositories through https://github.com/phpmyadmin/.github/commit/a22d71c57ba57e3e49a6754267c8e9fde7665649

Thank you

[2021-10-09 16:34] #17131 closed

[2021-10-09 22:58] thezoggy commented on #16483
what about rar?

[2021-10-09 23:12] williamdes commented on #16483
https://pecl.php.net/package/rar
https://stackoverflow.com/a/36914615/5155484

Seems like it should be possible too

[2021-10-10 07:00] ibennetch commented on #16483
It seems to me that it isn't worth the effort to package a .rar. That
format isn't requested often and usually one of the other formats we offer
are just as suitable. Do you feel rar would give an advantage over our
other formats?

[2021-10-10 07:16] thezoggy commented on #16483
in my world rar/tar/gzip/zip are kinda the go to, i never see lzma/xz/zst. bzip2 would be great to add but depending on the platform may not work out of the box once the end user gets the file.

anyways just seems like if your going to offer up tar/zip you might as well toss rar in that mix since imho its been around forever and trivial to deal with on most platforms.

but guess thats one way to l

[2021-10-12 07:12] fliespl opened #17146 "Allow authenticators to provide username for saving settings."
### Is your feature request related to a problem? Please describe.

Possibility to use single login info for many users, while being able to save their settings with external username (i.e. SSO auth).

### Describe the solution you'd like

Currently database user is also used for storing user ui settings, query history etc. It would be great to provide a mechanism that would allow authenticators t

[2021-10-12 23:33] m33ts4k0z opened #17147 "Cannot insert Spatial Point through the UI"
Hello,

Just noticed a bug with PHPMyAdmin 5.1.1 and MariaDB 10.3.29.

You can read the description on [SO](https://stackoverflow.com/questions/69546823/phpmyadmin-mariadb-10-and-point-columns).

Basically the problem is that PHPMyAdmin adds ' ' to the POINT function when adding the field to the query. Also for MariaDB, a comma is needed between the coords for it to work.

[2021-10-14 15:16] x9nico opened #17148 "Feature request: Enforce my users to have 2FA enabled on phpmyadmin"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Not a problem

### Describe the solution you'd like

I would like to force my users to enable the 2FA on their accounts.

### Describe alternatives you've considered

  N/A

### Additional context

- phpMyAdmin version: 5.1.1

Add any oth

[2021-10-14 16:23] ibennetch commented on #17148
Duplicate of #15648

[2021-10-14 16:26] ibennetch commented on #14335
This seems reasonable, but has a few obstacles. Most importantly, we currently require a user to be signed in to phpMyAdmin before enabling their 2FA. That means having a setting that requires two factor would lock out any user who doesn't already have it configured.

I feel this would have to be a server-level configuration directive, and implementing this would require a refactoring of how two f

[2021-10-15 08:52] #17148 closed

[2021-10-15 23:55] lchen64 opened #17149 "Issue with Search and Structure Columns"
<img width="1144" alt="Screen Shot 2021-10-15 at 7 52 34 PM" src="https://user-images.githubusercontent.com/29559262/137565400-1909d483-970f-4ba6-ad3e-7239821aaa44.png">

[2021-10-16 01:35] ghnp5 opened #17150 "Question - How does phpMyAdmin store MySQL's password after we login?"
I know I could take some time looking at the code, but I'd hope this could be answered by the devs :-)

The nature of how PHP works requires "mysqli_connect()" to be invoked on every page load (as far as I know, at least!)

So, I'd assume the username/password are stored under $_SESSION after login, is that correct?
And sessions are, by default, written to plain text files (unless we overload the

[2021-10-16 03:38] ibennetch commented on #17149
Hi, could you please provide a bit more information for us? Which phpMyAdmin version are you using, for instance, and does this problem occur regardless of which table and search settings you're using? How have you installed phpMyAdmin (through a package manager or by downloading directly from phpmyadmin.net?) Are there details logged in your webserver error log from this (usually a server error w

[2021-10-16 18:07] liviuconcioiu opened #17151 "Issue with cabundle not installed, when using Git"
### Describe the bug

I don't have Composer installed nor CaBundle, when I'm using this repository on localhost. After commit https://github.com/phpmyadmin/phpmyadmin/pull/17143/commits/e5f90122806bea765825ed2c993136b501ed30dd, the commit info is no longer fetched and an error is thrown.

### Expected behavior

The error shouldn't be given, if the commit info cannot be loaded without CaBundle inst

[2021-10-16 18:18] liviuconcioiu opened #17152 "Fatal error thrown when there is an invalid routine name"
### Describe the bug

A fatal error is thrown, when an invalid routine name is given as a parameter, in `/index.php?route=/server/privileges&username=root&hostname=localhost&dbname=&tablename=&routinename=test`.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/server/privileges&username=root&hostname=localhost&dbname=&tablenam

[2021-10-16 20:05] liviuconcioiu commented on #17151
No, since I don't have composer installed. This is the problem.

[2021-10-16 21:08] williamdes commented on #17151
Hmm, I did misunderstand then
How did you install phpMyAdmin ?
Is this a snapshot unzip ?

[2021-10-17 07:48] williamdes commented on #17151
You can use this script I made, it supports upgrades and keeps configs and of course snapshots!
https://gist.github.com/williamdes/883f2158f17e9ed5a83d892ada56f5df

[2021-10-18 19:56] MoonE commented on #17147
This should be fixed by #17074 and will be part of an 5.1.2 release.

[2021-10-19 06:45] elroliv commented on #14801
Hello,
I'm interested to work on this issue but it look like stay only occurences in "test/classes/Plugins/Export" path.
Do you think, it's needed to be convert in twig file ?

[code]

Example in ExportHtmlwordTest.php

[code]

Shoud I refactor HTML part to twig template ?

[2021-10-19 11:09] sbuysse opened #17153 "Issue in simulation of Query"
Hello,

I have a nice huge Query in my query box, if I execute the "Go", the query is executed correctly, but if I want a simulation, it failed. I think there is an issue in excaping somewhere.

Query:
`UPDATE `FORM_PAGES` SET `PAGESCSSVARIABLES` = '// -------------------------------------------------------------\r\n//   Variables\r\n// -------------------------------------------------------------

[2021-10-20 20:32] lchen64 commented on #17149
Hi Isaac,

We are using the MariaDB 10 database server.

the phpMyAdmin version we are using is:  4.9.7

On Tue, Oct 19, 2021 at 1:39 PM Isaac Bennetch ***@***.***>
wrote:

--
Best,

Luke Chen
B.A. Mathematics, Computer Science, Economics | UC Berkeley 2019
Research Associate @ New York University | Center for Neural Science
***@***.***

[2021-10-21 11:59] Appleprabh opened #17158 "Fatal error: Uncaught TypeError: mb_strtolower()"
phpmyadmin causes error when I used `inner join` syntax.

Executed queries
`SELECT * FROM users;`

Error causing queries
[code]

[2021-10-21 23:52] mauriciofauth commented on #17151
There is no way that could work without running `composer update` and `yarn install` after every pull. You will end up with outdated dependencies, because the git repository does not contain all the necessary files to make phpMyAdmin work. The third-party packages and auto-generated files are not included. It is just a coincidence that the missing dependency has Composer as the vendor name, since

[2021-10-22 14:59] heejaeyunajang opened #17161 "php GUI error"
### Describe the bug
Attempt to edit, insert, etc throws "Some errors have been detected on the server! Please look at the bottom of this window" error. Reporting the bug also did not work.

Throws a bunch of errors that look like this:
[code]

### Server configuration

Server: MariaDB 10 (Localhost via UNIX socket)
Server type: MariaDB
Server connection: SSL is not being used Documentation
Server

[2021-10-24 07:48] ducho opened #17163 "A critical error in Edit privileges for any user account"
When you want to change e.g. login information for a specific user and IP the Login Information form for change is populated with wrong random values. I also tried the private / incognito windows and of course I cleaned up the local storage and cookies.

### Server configuration

- Operating system: Server version: 5.7.35-38-log - Percona Server (GPL), Release '38', Revision '3692a61'
- Web server

[2021-10-28 14:53] williamdes opened #17166 "Warning: #1287 'X' is deprecated and will be removed in a future release. Please use ST_X instead"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Use `X` on a GIS field in search controller

### Expected behavior

Put the new `ST_X` function in the list

### Server configuration

- phpMyAdmin version: 5.1

[2021-10-29 11:35] mauriciofauth opened #17167 "Scrutinizer CI builds are failing"
[code]

https://scrutinizer-ci.com/g/phpmyadmin/phpmyadmin/inspections/4e33bebc-de2f-4e4f-82c8-c971c2d41a22

[2021-10-30 05:59] liviuconcioiu opened #17169 "Unwanted text on data dictionary page"
### Describe the bug

Unwanted text is visible on data dictionary page. This text is also visible when trying to print the page. Only master branch is affected, QA_5_1 is not.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/database/data-dictionary&db=mysql&goto=index.php?route=/database/structure](https://demo.phpmyadmin.net

[2021-10-30 22:46] #17126 closed

[2021-10-30 23:18] mauriciofauth commented on #17167
Scrutinizer is using Ubuntu Trusty (14.04). We could wait for Scrutinizer to update their system or we could drop support for it.

[2021-10-30 23:21] williamdes commented on #17167
Maybe we could find a way to ping them and let the CIs fail, this is an excellent tool it would not be good to drop it

[2021-10-31 01:06] ghnp5 commented on #17117
Hey. Do you mean to just test using it and see if I find any issues with my daily usage, or you mean a more official process?

Is there a docker image with it ready?

[2021-10-31 01:08] nunoperalta commented on #17117
Hey. Do you mean to just test using it and see if I find any issues with my daily usage, or you mean a more official process?

Is there a docker image with it ready?

[2021-10-31 08:39] williamdes commented on #17117
Hey,
There is no docker images anymore for snapshots, but you can use it in your daily process at it is the closest version of the next version that will be released

[2021-10-31 16:25] #17169 closed

[2021-11-01 17:06] liviuconcioiu opened #17172 "Page-related settings modal is smaller in size on performance_schema table"
### Describe the bug

Page-related settings modal is smaller in size on `performance_schema`, `information_schema` and `mysql` tables.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/database/structure&db=performance_schema](https://demo.phpmyadmin.net/master-config/index.php?route=/database/structure&db=performance_schema)
2

[2021-11-01 17:21] liviuconcioiu opened #17173 "Incorrect format parameter error after page-related settings are applied"
### Describe the bug

An Incorrect format parameter error is shown after page-related settings are applied. Also if something else is written in Console and run, the CSS is messed up.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/server/databases](https://demo.phpmyadmin.net/master-config/index.php?route=/server/databases)

[2021-11-01 23:27] liviuconcioiu opened #17174 "Uncaught SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
### Describe the bug

When the server loses connection this JS error is received: Uncaught SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data. The problem seems to be at this line
https://github.com/phpmyadmin/phpmyadmin/blob/0fbed5e6bd89807e66d7a350b3ca30e4bb768036/js/src/functions.js#L4575

https://github.com/phpmyadmin/phpmyadmin/blob/2f3aafed4c225c52871bbed1f474c

[2021-11-01 23:35] liviuconcioiu opened #17175 "Uncaught TypeError: can't access property "setValue", ConsoleInput.inputs.bookmark is undefined"
### Describe the bug

Uncaught TypeError: can't access property "setValue", ConsoleInput.inputs.bookmark is undefined error is given when trying to bookmark a query.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/](https://demo.phpmyadmin.net/master-config/index.php?route=/)
2. Open Console
3. Select a database/table from le

[2021-11-02 00:06] liviuconcioiu opened #17176 "Uncaught Error: cannot call methods on dialog prior to initialization; attempted to call method 'close'"
### Describe the bug

Uncaught Error: cannot call methods on dialog prior to initialization; attempted to call method 'close' is received when trying to add an index and Preview SQL doesn't work.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor](https://demo.phpmyadmin.net/master-config/in

[2021-11-02 00:12] liviuconcioiu opened #17177 "Preview SQL when reordering columns doesn't work on move columns"
### Describe the bug

Preview SQL when reordering columns doesn't work and a blank error modal is shown sometimes. The same problem appeared also on #17176.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor](https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakil

[2021-11-02 00:37] liviuconcioiu opened #17178 "Links from Server variables and settings aren't added to URL system"
### Describe the bug

Links from Server variables and settings aren't added to URL system.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/server/variables](https://demo.phpmyadmin.net/master-config/index.php?route=/server/variables)
2. Hover over variable name to see the link or click on it

### Expected behavior

All extern

[2021-11-02 01:01] liviuconcioiu opened #17179 "Uncaught TypeError: can't access property "messages", $.validator is undefined"
### Describe the bug

I couldn't reproduce the bug, and I don't know how it appeared.

### Additional context

[code]

[2021-11-02 21:10] john-ssc commented on #16922
Hi,  I get the same issue.  I went through the google tutorial on how to setup myphpadmin in google app engine.  I did download the latest version and ran it and get the same issue.  I am happy to provide any files to you/ screenshots or even do a zoom to allow you to interactively debug it if you like (AEST timezone).  (Unfortunately I cannot grant access as only people from my org have permissio

[2021-11-05 12:45] d-miljkovic commented on #17153
Try like like this:

UPDATE FORM_PAGESSETPAGESCSSVARIABLES= '// -------------------------------------------------------------\r\n// Variables\r\n// -------------------------------------------------------------\r\n\r\n// CLIENT\r\n// colors\r\n$primary: #DA1A0C;\r\n$secondary: #71BF44;\r\n\r\n// BG\r\n$bgcolor: #FFFFFF;\r\n$bgheader: #FFFFFF;\r\n$bgcontent: #FFFFFF;\r\n$bgfooter: #FFFFFF;\r\n\r\n$b

[2021-11-05 13:03] sbuysse commented on #17153
Hello,

The query was generated by PHPMyAdmin from an update I made on the row.

[2021-11-06 23:26] nunoperalta commented on #17016
@williamdes Nice - this seems to be fixed in the 5.1 snapshot!

![image](https://user-images.githubusercontent.com/487079/140626742-7fc8c7d5-fb27-44ac-833c-fc5ac70d5c00.png)

[2021-11-06 23:31] nunoperalta commented on #17117
@williamdes this seems to be fixed!

[2021-11-06 23:31] #17117 closed

[2021-11-07 18:20] ophian commented on #16378
@williamdes

I just fell over some real odds regarding failing AUTO_INCREMENT and MariaDB. I read the OPs investigations but could not find a relation to mine:

The last 2 month I had some tests with upcoming PHP 8.1.
Today I tested again back with 8.0.12 since the last few days and realized one my of my database tables suddenly fell back to ID 0 with a new entry, where it should have had an AUTO_

[2021-11-07 18:39] arcanisgk commented on #16378
@ophian  @williamdes  the problem is related to:

you have inserted some records into a table; for some reason you emptied the table; but once your autoincremet you perceive the value; It is assumed that if you truncate a table by deleting all the data, the correct thing would be that its autoincrement returns to 0; but if you validate this value it does not return to 0 they are kept in the last m

[2021-11-08 08:04] ophian commented on #16378
Thanks for chimming in, Walter. I can for sure say that I didn't do so. Its my main development db and table.  For the second I am not sure since I really had some interupts converting to PHP 8.1, but can't remember a relation on that table, sadly.

[2021-11-08 13:45] arcanisgk commented on #16378
@ophian Well I can clarify that this error thread does not have to do with the version of php in execution.

This error also occurs when data was deleted from the table or was partially deleted: for example, if it had 100 records and the last 50 were deleted; by reducing the AUTOINCREMENT to the corresponding number; the same visual error was obtained ...

[2021-11-08 13:45] arcanisgk commented on #16378
@ophian Well I can clarify that this error thread does not have to do with the version of php in execution.

This error also occurs when data was deleted from the table or was partially deleted: for example, if it had 100 records and the last 50 were deleted; by reducing the AUTOINCREMENT to the corresponding number; the same visual error was obtained ...

[2021-11-08 14:49] ophian commented on #16378
Ah, ok thanks, that is something else. I can not for sure say for not having deleted some entries...
By "_visual error_" you mean to not have it outlined in the structure of a table as AUTO_INCREMENT in a PMA window in the [Extra] column, right ?

Sadly I already fixed my tables with PMA so I would need to wait for another sudden occurrence via pure CLI with "DESC tablename" (or such) to check thi

[2021-11-08 14:57] arcanisgk commented on #16378
@ophian "visual error" I mean that phpmyadmin shows a cached data; while the database is updated and correct; The whole problem is that phpmyadmin uses the variable `information_schema_stats_expiry `and this is used to update the `AUTO_INCREMENT` data.

this is a visual error; not what I would expect from a database manager ...

[2021-11-08 15:09] arcanisgk commented on #16378
@ophian I really don't know what tests you did; adding records is not the problem; the problem occurs when removing them ... I think the post is detailed enough to replicate it ...

[2021-11-09 10:47] cjhewett opened #17182 "FK Relationship View constraint name natural ordering"
### Is your feature request related to a problem? Please describe.

FKs are assigned an automatic name which ends with a numeric suffix `_1`, `_2` etc, Once this goes over `_10` PMAs orders them e.g. 1, 10, 2, 3 etc.

### To Replicate

[code]
View `1_test` Structure > Relationship View

![image](https://user-images.githubusercontent.com/13466620/140909801-3320cf74-522d-4be3-a7b2-9ec423323244.png)

[2021-11-14 12:25] watashigoto opened #17185 "Can't reimport table because of foreign key"
### Describe the bug

Hi, I encountered errors when reimporting a table with foreign key.(Details in steps below).

### To Reproduce

Steps to reproduce the behavior:
1. Make a table with primary key auto increment(id)
2. Make second table that references the key in the first table(foreign key)
3. Export the first table
4. Drop the first table
5. Import the first table again from the created file

[2021-11-14 15:37] ibennetch commented on #17182
I agree that this is annoying. However, it's the order MySQL (or at least MariaDB 10.5 in my case) is returning the results.

It may be possible for us to cast the column in order to force a more natural sorting, but I'm no sure offhand whether that's going to be desirable (because then our behavior will differ from MySQL's). I'm open to the idea.

[2021-11-15 20:57] liviuconcioiu opened #17186 "Uncaught InternalError: too much recursion and Uncaught DOMException: An exception was thrown"
### Describe the bug

Uncaught InternalError: too much recursion and Uncaught DOMException: An exception was thrown when trying to preview SQL.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor](https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor

[2021-11-15 21:28] hameddanesh commented on #17185
go to second table>structure>Relation view> drop the foreign key key by action button at the left side
now re-import table one and reset foreigner key
(this happened because you have removed a tick when deleting the table for "Enable foregin key checks"
so your database became inconsistent

[2021-11-15 22:35] watashigoto commented on #17185
Resetting foreign keys is possible, imagine resetting multiple foreign keys just to reinsert a table.
This happens because phpMyAdmin does not create table including with the indexes.
It works on the other database management system(and even mysqldump), why it doesn't work in phpMyAdmin?
Is this phpMyAdmin's feature? Not a bug?

[2021-11-16 00:10] hameddanesh commented on #17185
well im not sure about including indexes with the table ( that may go against ACID)
but for sure foreign keys of a table must be removed along with it when table is being deleted. lets say it's kind of harmless bug

[2021-11-16 00:17] watashigoto commented on #17185
Including indexes is mysql standard syntax, am I wrong?

[code]

Can you just add option to include indexes when creating table?

[2021-11-16 12:25] ChrisHSandN commented on #17182
There is a [NATURAL_SORT_KEY](https://mariadb.com/kb/en/natural_sort_key/) coming in MariaDB 10.7, maybe I asked a few years too early! I was imagining something based around PHP `natsort`.

Personally I don't expect the PMA "Relationship View" to be an equivalent view of the `KEY_COLUMN_USAGE` table etc. so I wouldn't expect the same ordering. However I can appreciate that [might not be the case

[2021-11-16 14:23] hameddanesh commented on #17185
yes, you'r totally right.

[2021-11-16 14:56] hameddanesh commented on #17177
it shows for me
![Screenshot (39)](https://user-images.githubusercontent.com/52483335/142008797-1170a51e-c1c2-4872-96d1-063caf00cb5e.png)

[2021-11-16 16:46] liviuconcioiu commented on #17177
The error was there at that time. Maybe something has changed at the code since then. Also, when the columns are moved three times in row, the SQL highlight is lost.

https://user-images.githubusercontent.com/25424343/142028265-bf704618-f6a0-4030-a3d6-72170e066597.mp4

[2021-11-16 19:09] kanlukasz opened #17187 "phpmyadmin broken after using `ppa:phpmyadmin/ppa` (unknown named parameter $$response - ContainerBuilder.php)"
### Describe the bug

So far I have used `php7.x` and `phpmyadmin` from the official Ubuntu package (everything worked fine)
Now I have upgraded to `php8` using `ppa:ondrej` (all works fine here)

Then I wanted to update `phpmyadmin` according to this [documentation](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#ubuntu-ppa):
[code]
### After that:
- I reloaded Apache
- cleared cache /

[2021-11-16 19:15] williamdes commented on #17187
Hi!
This looks just like https://github.com/phpmyadmin/phpmyadmin/issues/16968

Let me know if you find anything useful in #16968
This error is out of the scope of our code base unfortunately, it's a Symfony bug.

[2021-11-16 20:05] kanlukasz commented on #17187
Thank you for the quick reply.

I'm not sure if any solution from #16968 is okay with me, but maybe rolling back phpmyadmin can fix it temporarily? , for example to 5.0.X? Is it possible with your PPA? How?

Or any diffrent way? I generally don't need the latest version. I just want it to run on PHP 8

[2021-11-16 20:26] williamdes commented on #17187
It's not possible to have multiple versions on the PPA but you could try to install the deb from another source like another Ubuntu or Debian

See the [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

[2021-11-16 20:29] williamdes commented on #17187
The alternative could be to install phpMyAdmin by overriding the files in the installed directory by the extracted bundle from our [website](https://www.phpmyadmin.net/downloads/)

I feel wrong to not be able to provide a correct solution from a packaging perspective but I am not responsible of packaging the symfony packages. Anyway you already read the thread about all that complicated issue ^^

[2021-11-17 00:33] hameddanesh commented on #17177
yes, it can also be due to browser cache, have you cleaned you cache since that day or had any change in browser ?

[2021-11-17 03:04] wickedr0se opened #17188 "Visualization GIS doesn't work"
### Describe the bug

i had a column that shows linestring and i can see the visualization of the data in browse tab, however if i run a query and click visualize data, it doesn't show anything

### To Reproduce

Steps to reproduce the behavior:
1. Create some linestring data
2. Go to SQL tab
3. run SELECT *
4. Click Visualize GIS Data
5. Nothing

### Expected behavior

The line should be visible

[2021-11-17 08:05] kanlukasz commented on #17187
Another idea that I have is to install phpmyadmin "independently".
I mean installation in `/var/www/*` via composer. What do you think about it ?

But here I have doubts about what to do with the current installation via ppa?
Can I somehow uninstall it safely? Should I do this?
Or should i rollback to official apt package? How? I feel very confused 😕

_( I understand this is a phpmyadmin issue tra

[2021-11-17 08:29] fliespl opened #17189 "Redoing column visibility / order property to keep it while"
### Is your feature request related to a problem? Please describe.

Currently each alter of table deletes ui preferences (visibility / order).

### Describe the solution you'd like

Do not delete those items at all.

**Proposed solution:**

I.e. for a table with 3 columns (id, name, xxx) instead of:

`{"CREATE_TIME":"2021-11-16 22:57:41","col_order":[0,1,2],"col_visib":[1,1,0]}`

we can use such f

[2021-11-17 10:35] ChrisHSandN opened #17190 "SELECT ... FOR UPDATE causes LIMIT syntax error"
### Describe the bug

InnoDB supports the syntax [SELECT ... FOR UPDATE](https://mariadb.com/kb/en/for-update/) to allow row level locking. When run in PMA this statement causes an SQL error as the LIMIT clause appears to be injected into the wrong place within it.

### To Reproduce

Steps to reproduce the behavior:
1. Go to for 5.1 demo server https://www.phpmyadmin.net/try/ and use MariaDB
2. Ru

[2021-11-17 21:43] MoonE commented on #17188
A query like
[code]
is changed by the visualization to
[code]
Notice the semicolon at the end of the original query is kept and causes a syntax error.

[2021-11-17 23:16] MoonE commented on #17188
When clicking on the browse button to view a table the query is executed / displayed without a semicolon. When it is edited inline, a semicolon is automatically added.

Should a semicolon be added to the query when a table is browsed to be consistent?
https://github.com/phpmyadmin/phpmyadmin/blob/090d2eece71ddd9b4bcdbc7a226947ae83899195/libraries/classes/Sql.php#L533-L534

The resulting sql error

[2021-11-18 01:03] hameddanesh opened #17192 "display bugs"
hi, recently i decided to contribute in this project so i toke the source code from github, but on trying to set it up on localhost i encountered several display problems.
i tried last stable --dev version and every thing works ok.
it seems these bugs are caused by adding common class in the index.php
there are also some code in templates that cause blank pages instead of showing actual error.

my

[2021-11-18 01:20] ibennetch commented on #17192
Hi, and welcome. We're pleased that you're interested in contributing.

Are there any error messages logged in your webserver error log?

I am not certain, but I suspect you're probably missing some steps to finish pulling in some library files and compiling the CSS. From https://docs.phpmyadmin.net/en/latest/setup.html#installing-from-git:

[code]

Have you done those steps in the phpMyAdmin dire

[2021-11-18 03:15] watashigoto commented on #17185
I just realized there's an option to do that, it's hidden in the 'IF NOT EXISTS' option.

[2021-11-18 03:15] #17185 closed

[2021-11-18 06:01] hameddanesh commented on #17192
hi, thank you sir
yes i didn't know about the second command, it explains css problem.  i'll try and let you know about the result.
but i don't know if it removes some css like "html{display:none;}} on the templates>header which is causing the blank page problems.

also the only error gets displayed is "There is a mismatch between HTTPS indicated on the server and client. This can lead to a non wo

[2021-11-18 11:13] hameddanesh commented on #17185
nice, i didn't know either, thanks for the tip 👍

[2021-11-18 11:14] hameddanesh commented on #17192
that fixed it, thank you a lot 🙏

[2021-11-18 11:29] hameddanesh commented on #17182
this happens because mysql is ordering keys in a digit by digit manner. for example 100 will always be above 20 because  '2'>'1' (in asscii or .etc) and from machine logic it makes sense because these names are treated as strings
you can add some zeros before numbers to fix this for now. like 001, 002 ..., 010 and please report it on mysql/mysql-server to be maintained

[2021-11-18 13:23] #17192 closed

[2021-11-18 15:31] ibennetch commented on #17192
I'm unhappy that we need to have those extra steps, but it's an important part of continuing to modernize our code base. I'm looking forward to your contributions.

[2021-11-18 15:31] mousumis opened #17193 "phpMyAdmin Editor erroneously reports syntax error when calling stored procedure with schema"
### Describe the bug

The Editor shows errors about tokens when running a call statement for stored procedure with the schema included. example screenshot below:
![image](https://user-images.githubusercontent.com/2347728/142443480-4f207e78-f2f7-434b-8265-6d1af5cb50f8.png)

### To Reproduce

Steps to reproduce the behavior:
1. Go to phpMyAdmin
2. Click on SQL
3. Run a call command which includes a

[2021-11-18 15:42] ibennetch commented on #17193
I confirm this issue (which actually exists in our sql-parser library):

[code]

[2021-11-19 18:04] #17167 closed

[2021-11-19 21:59] Ominira commented on #16922
Thank you so much, this worked for me, after 5 hours of battling with it

[2021-11-19 22:11] chop4000 opened #17197 "Uncaught Twig\\Error\\LoaderError: Unable to find template "" (looked into: templates). in /usr/share/php/Twig/Loader/FilesystemLoader.php:250"
### Describe the bug

On a newly-built LAMP server otherwise functioning as expected, run:

`sudo apt-get install phpmyadmin`

The installation will run as normal. However, accessing /phpmyadmin in a browser produces a PHP Fatal error.

### To Reproduce

Steps to reproduce the behavior:
1. Create a new LAMP server -- in my case, I am using the LAMP image from the DigitalOcean image marketplace.
2.

[2021-11-20 11:08] williamdes commented on #17197
Hi @chop4000

I would recommend you installing a 5.1 version using our PPA
Ref: [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

Let me know if that works for you

[2021-11-20 19:22] kanlukasz commented on #17197
Note that he is using Ubuntu 20.04 and PHP 8, so if he install 5.1 he will have probably another issues because - https://github.com/phpmyadmin/phpmyadmin/issues/17187, https://github.com/phpmyadmin/phpmyadmin/issues/16968

[2021-11-21 11:59] #16092 closed

[2021-11-21 12:00] theking2 commented on #16092
Never mind

[2021-11-21 21:09] guillaumearnx opened #17200 "Implements ed25519 authentication method"
Good evening, I would like to set up a database system that does not use the `unix_socket` plugin. However, I am told that `mysql_native_password` is not secure. So I inquired about installing ** ed25519 ** but I believe it is not possible to connect from phpMyAdmin with.

So I would have liked to know if you have planned to implement this functionality, or if you know a plugin compatible with php

[2021-11-22 08:41] DrAnax opened #17201 "Enum values in foreign language"
### Describe the bug
When ENUM field has values in foreign language, these are translated to HTML entities when shown in a SELECT dropdown. Changing the field's value produces a query with wrong values.

### To Reproduce
1. Show a table's records (e.g. Browse)
2. Double click an ENUM field with values in foreign language
3. The field values are shown using HTML entities instead of the real values

[2021-11-22 10:06] hameddanesh commented on #17201
have you tried setting collation ?

[2021-11-22 10:10] DrAnax commented on #17201
The selected collation is utf8mb4_unicode_ci

[2021-11-22 10:31] hameddanesh commented on #17201
i got the same configuration , it works fine for me
make sure your using mariadb engin and try utf8mb4_general_ci. it may fix it.

[2021-11-22 10:58] DrAnax commented on #17201
I'm using mysql, not mariadb.

I tried utf8mb4_general_ci, utf8mb4_unicode_ci, uf8_general_ci and uf8_unicode_ci on server connection collation, database collation, table collation and row collation, none of the above worked:

![image](https://user-images.githubusercontent.com/2622043/142849763-1c2be4b0-c546-44ca-8549-7bc15c3bcaba.png)

[2021-11-22 11:41] williamdes commented on #17200
Hi @guillaumearnx

This seems like it should be implemented into PHP itself. phpMyAdmin uses the mysqli extension and it seems to not recognize `client_ed25519`.

Can you open a bug at php.net ? (https://bugs.php.net/bug.php?id=76243 can be used as an example)

This is just like https://github.com/phpmyadmin/phpmyadmin/issues/14220

cc @nikic

[2021-11-22 16:20] elfring opened #17202 "Convert six variable assignments to the usage of combined operators"
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of combined operators](https://www.php.net/manual/en/language.operators.assignment.php#language.operators.assignment.arithmetic "Description for assignment operators") accordingly.

[code]

[2021-11-22 19:23] hameddanesh commented on #17201
mariaDB is just an engin for mysql
you can use InnoDB, CSV,MariaDB .etc
they are all mysql with different engins.
now to check your engin, go to your table> operations> storage engine and see what engine your database is using,
change it to innoDB or .etc and see if it fixes the problem

[2021-11-22 19:41] Seth10001 commented on #13958
+1

I would love to see this!

[2021-11-22 19:45] DrAnax commented on #17201
Using Innodb for all my tables

[2021-11-22 20:05] ibennetch commented on #17201
I see this behavior as well. It's a little strange because when browsing the results, the proper Unicode characters seem to be used, but when the inline edit dialog is shown, it turns in to the HTML entities.

I suspect this is a pretty simple fix for us.

@mauriciofauth would you be able to look at this?

[2021-11-23 00:39] mauriciofauth commented on #17201
Hi, @DrAnax. Thank you for reporting this issue. This was happening because the text inside the selection box was encoded twice. A fix for this issue will be included in the next 5.1 release.

[2021-11-23 00:40] mauriciofauth commented on #17201
Duplicate of #16977

[2021-11-23 00:40] #17201 closed

[2021-11-23 03:10] ibennetch commented on #17201
Thanks @mauriciofauth, I had forgotten about that other report!

[2021-11-25 11:47] mokraemer commented on #14956
Is this already implemented?
I'd really like to set some columns to compressed; I can do this by hand, but I fear on table updates this option will get removed (by accident). So a full implementation would really help :)

[2021-11-25 19:35] williamdes commented on #16988
Hi @duronrulez
I am too much behind sync with my GitHub emails, sorry for that
This issue is tagged for 5.1.2 so it will not be forgotten

If anyone can workout something that will be cool, else I will take care of this when I can spend more hours on the project

[2021-11-25 19:38] williamdes commented on #16664
Hi @objecttothis

I would like to apologize for not updating this subject, I am far behind sync on my GitHub emails
Just letting you know this issue will not be forgotten, I tagged it properly so some attention can be given

[2021-11-25 19:39] williamdes commented on #15921
Thank you @noyearzero !

Hi @iifawzi
Would you mind having a look if you can find what is going on ?

[2021-11-25 19:41] objecttothis commented on #16664
No worries.  I'm working around the issue by using the CLI to copy databases rather than phpmyadmin.

[2021-11-26 08:13] iifawzi commented on #15921
Hi, Thank you @noyearzero for the detailed information, after hours of tracing and debugging, it seems to be already fixed [Fix db selection when nav tree is disabled](https://github.com/phpmyadmin/phpmyadmin/pull/17198) and should be shipped very soon. I was able to re-produce the bug, but not anymore after this fix.
could you confirm @williamdes?

[2021-11-26 12:43] webmastervinay opened #17208 "Deprecated Notice on PHP 8.1"
### Description

If you use it in PHP 8.1, you get several deprecation warning.

### To Reproduce

Steps to reproduce the behavior:
1. Upgrade to PHP8.1
2. Login into phpMyAdmin
3. You get warning in every page
4. You need to click "Ignore All" or "Ignore" button.

### Expected behavior

There should be no warning.

### Screenshots

![image](https://user-images.githubusercontent.com/5024049/143582

[2021-11-26 13:37] williamdes commented on #17208
Hi
Thank you for the report, this is part of this list: https://github.com/phpmyadmin/phpmyadmin/issues/16746#issuecomment-915037797

@mauriciofauth should we copy your fix into QA ?

[2021-11-26 19:20] mauriciofauth commented on #17208
It is already in `QA_5_1` (5.1.2).

- https://github.com/phpmyadmin/phpmyadmin/commit/30fac275c5dd207b655651fb9b7c8a574a5ae980#diff-b4f4be6868b99ed1384830cb993cd2d09173ae901b2172c367cdc6413019be36L1936-R1936

[2021-11-26 19:20] #17208 closed

[2021-11-26 19:52] williamdes commented on #17208
Thank you, the GitHub UI was not clear about it :)

[2021-11-28 15:31] ibennetch commented on #17182
I'd like to see us fix this, although it's certainly lower priority. https://stackoverflow.com/questions/8557172/mysql-order-by-sorting-alphanumeric-correctly has some ideas about how to improve the sorting, but it seems using PHP's `natsort()` is going to be best IMHO.

This might make a good first issue for someone looking to apply for GSoC with us.

[2021-11-28 21:35] guillaumearnx commented on #17200
Hello, Bug Open : https://bugs.php.net/bug.php?id=81668

Regards

[2021-11-29 06:33] uzdeveloper1 opened #17214 "PHP 8.1 Support"
Please add support php 8.1

[2021-11-29 10:26] williamdes commented on #17214
Duplicate of #16746

[2021-11-29 10:27] williamdes commented on #17214
Please check the list of items in #16746 :)
You may want to try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)
PHP 8.1 is supported

[2021-11-29 10:27] #17214 closed

[2021-11-30 22:36] kamil-tekiela opened #17216 "Cannot grant privileges on multiple databases at the same time"
### Describe the bug

When assigning privileges on a single database, there is no issue. When assigning it on multiple at a time, there is a exception:
![image](https://user-images.githubusercontent.com/6583064/144139009-a189919e-e6e2-478d-a411-9f3cabf03f06.png)

### To Reproduce

Steps to reproduce the behavior:
1. Go to User accounts
2. Click on Edit Privileges
3. Switch over to Database tab
4.

[2021-12-01 01:17] liviuconcioiu opened #17218 "Uncaught SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data"
### Describe the bug

A syntax error is received when attempting to make a field null.

https://github.com/phpmyadmin/phpmyadmin/blob/2c125f0a87bfbde336903a503ebc7055b3452918/js/src/makegrid.js#L1219

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=performance_schema&table=accounts](https://demo.phpmyadmin.net/master-co

[2021-12-01 14:41] rabenfalter opened #17219 "With PHP 8.1 some deprecated alerts raise"
### Describe the bug

With PHP 8.1 some deprecated PHP alerts raise

### To Reproduce

Update PHP to 8.1.0
Invoke phpMyAdmin

### Expected behavior

No alerts

### Screenshots

Deprecation Notice in ./vendor/twig/twig/src/Loader/FilesystemLoader.php#40
 realpath(): Passing null to parameter #1 ($path) of type string is deprecated

Deprecation Notice in ./vendor/twig/twig/src/Markup.php#35
 Return

[2021-12-01 14:55] ibennetch commented on #17219
Thanks for your report.

We are preparing release 5.1.2 to fix these issues.

This is a duplicate of #16746.

[2021-12-01 14:55] #17219 closed

[2021-12-02 18:22] silverqx commented on #17219
Hi, I have tried 5.1+snapshot but still many deprecation warnings, is there any version where these deprecations are fixed?

[2021-12-02 18:29] silverqx commented on #17219
If somebody is searching workaround then create `.user.ini` in phpmyadmin folder with the following content:
[code]

[2021-12-02 18:30] silverqx commented on #17219
Also, this ticket is closed? There are still many deprecation warnings.

[2021-12-02 21:48] #17216 closed

[2021-12-02 21:49] williamdes commented on #17219
Please checkout #16746 ;)

[2021-12-02 21:57] CouinCouin opened #17222 "PhpMyAdmin (5.1.1) takes long time to import"
Hi,

I'm rebuilding a webserver at work for our  webtools, for replace the old installation (Ubuntu 12.04 / PHP 5.3 / PhpMyAdmin 3.4 / MySQL 5.5) and I encounter problem with import of "big" (20 MB sql.gz / 75 MB ungzipped) files.

The system is now Lubuntu 20.04 / Php 7.4.3 / MySQL 5.7.36 / PhpMyAdmin 5.1.1 .

Before, it was taking 2 minutes 01 second to import. Now it takes 6 minutes 03 seconds

[2021-12-03 09:04] silverqx commented on #17219
Ouww, thank you, I didn't notice that ticket.

[2021-12-03 19:40] uneasyguy commented on #13849
https://github.com/uneasyguy/phpmyadmin/pull/1/commits/52962b0f63c49eacca59c3943c1d5aab8fee0198

This is hacky, but solves it for me

[2021-12-03 21:57] williamdes commented on #16922
Hi @mauriciofauth
Do you think we could be ready in 5.2 for this issue ?
Just needing to have all entrypoints into index.php like in https://github.com/phpmyadmin/phpmyadmin/issues/16922#issuecomment-852447014

[2021-12-03 22:01] williamdes commented on #13849
Thank you for sharing your fix @gregesposito

cc @marijnh -> https://github.com/uneasyguy/phpmyadmin/commit/52962b0f63c49eacca59c3943c1d5aab8fee0198

@gregesposito it's probaly best to ping CodeMirror or open an issue and PR: https://github.com/codemirror/CodeMirror

[2021-12-04 01:47] uneasyguy commented on #13849
@williamdes of course, hope it helps. The real fix would likely entail determining what's unique about certain device/browser setups to cause the function that locates the cursor position to be slightly off, but figured that'd be best left to those who are more familiar with the codemirror code base and/or how it's implemented as it pertains to phpmyadmin, than myself. So hopefully it helps in tha

[2021-12-04 14:34] qarabaqi commented on #15800
As this thread seems to be open yet, i got this error after upgrading php from 7.2 to 7.4. it's a common problem to seeing similar errors in phpmyadmin after upgrading the php.
But my problem was solved with solution described in this answer (i searched the $col_visib[$j] and found two usages. then i changed another one to statement the answer said ):
https://stackoverflow.com/a/61489057/2144566

[2021-12-05 04:07] osxtra commented on #16746
The warnings are partially coming from PMA, partially the Twig library.

To suppress the warning of the deprecated function strftime in libraries/classes/Util.php:
  Replace: `return strtr((string) strftime($string), $replace);`
     With: `return strtr((string) $string, $replace);`
(Not sure why strftime is there anyway, as none of the strings seem to be dates.  Apologies if I'm not understanding

[2021-12-05 14:50] fakhamatia commented on #16459
I fix this problem in my panel.
Adding `$_SERVER['SERVER_PORT']` to end of cookie name, like:
[code]

[2021-12-05 16:43] karaka200 opened #17225 "PHPMyAdmin 5.1.1 login page errors"
@williamdes

I use `PHP 8.1` and `PHPMyAdmin 5.1.1`.

The login form is displayed on `https://localhost/phpmyadmin` page and these errors are displayed below it.

How can I fix this problem?

[code]

[code]

[code]

[code]

[code]

[2021-12-05 17:06] williamdes commented on #17225
Duplicate of #17646

[2021-12-05 17:07] williamdes commented on #17225
Duplicate of #16746

[2021-12-05 17:08] williamdes commented on #17225
Hi @karaka200

I would suggest you to try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) as some of the errors so not exist anymore
The release should occur soon and will be compatible with php 8.1 as far as I know

[2021-12-05 17:08] #17225 closed

[2021-12-05 17:17] karaka200 commented on #17225
@williamdes Thank you. `phpMyAdmin 5.1+snapshot` show errors again but `phpMyAdmin 5.2+snapshot` worked correctly

[2021-12-05 17:20] williamdes commented on #17225
That's strange, I will have to check
It should have a new version of twig in it

[2021-12-05 17:21] williamdes commented on #15800
What version of phpMyAdmin are you using for the record?
All 5.1 and newer versions should be fixed

[2021-12-05 17:37] karaka200 commented on #17225
@williamdes But when I login show this errors :

[code]

[2021-12-05 18:33] williamdes commented on #17225
Yes, indeed, sql-parser will have a release soon and this will be fixed

[2021-12-05 19:38] qarabaqi commented on #15800
My phpMyAdmin version is 4.6;

[2021-12-05 20:45] williamdes commented on #15800
You should probably upgrade to a newest version :)

See: [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

[2021-12-06 09:21] qarabaqi commented on #15800
Thank you for you guide. of course i just wrote the comment for helping users with similar problems, but i will upgrade my phpMyAdmin to newer version to get better experience.

[2021-12-06 18:57] williamdes opened #17228 "Copy to clipboard with NULL values gives terrible output"
### Describe the bug

Copy to clipboard with NULL values gives terrible output

### To Reproduce

Steps to reproduce the behavior:
1. Have NULL and other values
2. Click on "Copy to clipboard"
3. See horrible text output copied

### Expected behavior

Understand NULL values

### Server configuration

- phpMyAdmin version: 5.1

### Client configuration

- Browser: Chrome

[2021-12-06 22:59] mauriciofauth commented on #17228
From what I tested, the only difference is the line breaks around NULL values. Is that what you talking about?

[2021-12-07 00:07] williamdes commented on #17228
Yes, line breaks and spaces
If you copy in vscode or Slack it's unusable

[2021-12-07 09:04] MordiSacks opened #17229 "2FA U2F FIDO - U2F API deprecating soon"
### Describe the bug
 U2F API will be deprecated by the end of February 2022 by chrome (and all chrome based browsers) ,
Currently when attempting to authenticate I get a message

“This site won’t be able to use the U2F API after February 2022. If you own this site, you should change it to use the Web Authentication API”.

### To Reproduce
1. Set up PMA
2. Create PMA storage DB
3. Setup FIDO U2F a

[2021-12-07 14:05] williamdes commented on #17229
Thank you so much for the report @MordiSacks !

[2021-12-09 00:46] liviuconcioiu opened #17234 "PHP 8.1 deprecation notices"
### Describe the bug

4 deprecation notices are given on PHP 8.1,

### To Reproduce

Steps to reproduce the behavior:
1. Go to the phpMyAdmin dashboard
2. See error

### Expected behavior

No deprecation notice should be given.

### Screenshots

![1](https://user-images.githubusercontent.com/25424343/145313591-efdf86dc-58f4-49b7-8220-248ac53a3244.png)

### Server configuration

- Operating system:

[2021-12-09 16:50] williamdes commented on #17234
Duplicate of #16746

[2021-12-09 16:50] #17234 closed

[2021-12-09 17:50] williamdes commented on #17234
Hi @liviuconcioiu
I just re-built the snapshots, could you try the 5.1 snapshot ?

[2021-12-09 21:06] RobertEcker opened #17237 "Can't change size of file"
### Describe the bug

table contains ~ 10 millions rows (it works for smaller tables, e.g., 1 million rows)

Whilst deleting rows of a table, the error is shown:
`#14 - Can't change size of file (Errcode: -490769520 "Internal error < 0 (Not system error)")`

### To Reproduce

Steps to reproduce the behavior:
1. DELETE FROM table;

### Expected behavior

content of table: 0 rows

### Server configu

[2021-12-09 21:33] RobertEcker opened #17238 "Deprecation Notices after loading phpmyadmin and after login"
### Describe the bug

After loading phpmyadmin and login to database many deprecation notices are shown

### To Reproduce

Steps to reproduce the behavior:
1. Open http://localhost/phpmyadmin/
2. Login into phpmyadmin

### Expected behavior

No errors/notices are shown

### Screenshots

Snap1.jpg (before login)
Snap2.jpg (after login)

![Snap1](https://user-images.githubusercontent.com/6156052/145

[2021-12-09 23:58] kamil-tekiela opened #17239 "Repeating headers are not working properly"
### Describe the bug

phpMyAdmin has the functionality of repeating headers for results. By default only 25 results show per page and repeated headers are set to 100 so this functionality isn't used very often. However, when enabled the headers are not shown.

### To Reproduce

Steps to reproduce the behavior:
1. Execute SELECT
2. Show more than 100 rows
3. Scroll down to 100th row
4. No repeated

[2021-12-10 01:21] #17163 closed

[2021-12-10 06:17] liviuconcioiu commented on #17234
Works!

[2021-12-10 07:21] fd6130 commented on #17197
Hmmm so should we stick to php7.4 for phpmyadmin?

[2021-12-10 08:44] williamdes commented on #17197
Not for phpMyAdmin but for phpMyAdmin on Ubuntu on this particular case ;)

Else we are compatible with PHP 8.1
That said there is still some fixes to push into Debian and the Ubuntu PPA for 8.1
8.0 should run fine

[2021-12-10 08:55] ulukaisan opened #17240 "PHPMYADMIN POST request with HTTP ORIGIN header set to null - does not work behind Azure Web App with App Service built-in authentication (EasyAuth)"
Hello,

We are facing an issue when using PHPMYADMIN on an Azure Web App together with the App Service built-in authentication feature (EasyAuth).
As soon as you log in to PHPMyAdmin, a 403 error is returned, because the EasyAuth feature has some built-in security validations.
It does not accept a POST request with the HTTP ORIGIN header set to null and blocks.

Is there a way to modify the PHPMyA

[2021-12-10 09:25] williamdes commented on #17219
Hi @silverqx
The latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) has now all the fixes needed normally, please try it and let us know :)

[2021-12-10 09:27] williamdes commented on #17240
Hi @ulukaisan
Could you share you phpMyAdmin configuration file ?

[2021-12-10 09:27] silverqx commented on #17219
Great thx, I test it afternoon.

[2021-12-10 09:32] williamdes commented on #17238
Hi @RobertEcker

Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let us know ?

[2021-12-10 09:33] williamdes commented on #17238
Duplicate of #16746

[2021-12-10 09:33] #17238 closed

[2021-12-10 09:36] ulukaisan commented on #17240
<?php
/**
 * phpMyAdmin sample configuration, you can use it as base for
 * manual configuration. For easier setup you can use setup/
 *
 * All directives are explained in documentation in the doc/ folder
 * or at <https://docs.phpmyadmin.net/>.
 */

declare(strict_types=1);

/**
 * This is needed for cookie based authentication to encrypt password in
 * cookie. Needs to be 32 chars long.
 */
$cfg

[2021-12-10 09:53] williamdes commented on #17240
Thank you, I will have a look in some time as soon as possible.
Could you try to investigate as I may have a hard time reproducing it on my side

[2021-12-10 10:39] silverqx commented on #17219
To be clear I past the whole backtrace, it looks like it comes from the Metro template:
[deprecation_backtraces.txt](https://github.com/phpmyadmin/phpmyadmin/files/7692072/deprecation_backtraces.txt)

[2021-12-10 10:42] silverqx commented on #17219
Do you know how can I delete twig caches?

[2021-12-10 10:43] silverqx commented on #17219
Ok, I have also deleted `/tmp/twig` caches and still the same deprecation warnings.

[2021-12-10 12:15] ulukaisan commented on #17240
Thank you.
Sure, if you send me over the modified php files, I can upload them on the web app and test them out.

[2021-12-10 16:48] rlittle316 commented on #12971
This also seems to affect other database compatibility exports such as Oracle.

[2021-12-11 00:47] williamdes commented on #16746
As @silverqx mentioned in https://github.com/phpmyadmin/phpmyadmin/issues/17219#issuecomment-990831092 there is still some PHP 8.1 deprecations as Twig did drop support for PHP 7.1 before releasing the fix for PHP 8.1: https://github.com/twigphp/Twig/commit/47201dc3bccf6ebfa507612f8e5402ad0570820f#diff-d990abf52f11cd3e401869f86fb8ce9b4d7f966b0649372f4b95d23d9a88e249R40

This will make the next php

[2021-12-11 00:48] williamdes commented on #17219
@ibennetch @silverqx see my comment: https://github.com/phpmyadmin/phpmyadmin/issues/16746#issuecomment-991394796

[2021-12-12 11:05] williamdes commented on #16746
The last lib to be updated was released as https://github.com/code-lts/U2F-php-server/releases/tag/v1.2.0

[2021-12-12 13:00] linjialiang commented on #16746
php 8.1.0
phpmyadmin 5.1.1

[code]

[2021-12-12 13:00] linjialiang commented on #16746
php 8.0.13 no problem

[2021-12-12 16:31] Alexander-Zierhut commented on #14371
+1 Very glad seeing this in the 5.2.0 milestone! Thank you

[2021-12-12 18:45] #17228 closed

[2021-12-13 09:41] silverqx commented on #16746
@williamdes I have a very important observation, I tried to call `composer update --prefer-dist --optimize-autoloader` inside the `phpMyAdmin` folder to check if the latest dependencies could solve these warnings and guess what 🙂, any warnings anymore, everything works well.

[2021-12-13 10:20] williamdes commented on #16746
Sure, this is a good solution for users having composer. It will install a newer version of Twig depending on the PHP version used locally

Maybe we will have to patch Twig on the installed bundle, I doubt they will release a PHP 7.1 & PHP 8.1 compatible version

[2021-12-13 13:50] Progressed36 opened #17244 "Log to auth globalizes failed auth requests"
### Describe the bug

Im trying to catch authentication errors on phpMyAdmin. It logs to auth.log on ubuntu but stops logging the attempt and globalizes all the attempts as:

Dec 13 13:37:30 db01 phpMyAdmin[59263]: message repeated 4 times: [ user denied: root (mysql-denied) from IPADDRESS]

This makes fail2ban or a regex in csf very difficult to catch and ban.

### Expected behavior

I would expe

[2021-12-13 14:06] ibennetch commented on #17244
Hi,

I believe this is a "feature" of syslogd (or whichever logging program you're using in its place).

[There's a Stack Overflow question](https://serverfault.com/questions/30303/is-there-a-way-to-remove-last-message-repeated-x-times-from-logs) that has a number of answers that may help you improve it.

[2021-12-13 14:06] #17244 closed

[2021-12-13 15:02] williamdes commented on #17244
Currently there is open issues for logging: https://github.com/phpmyadmin/phpmyadmin/issues/14720 and (#14720 and #14086) for failed requests.

[2021-12-13 15:06] Progressed36 commented on #17244
You are right. Sorry had no idea it was a feature of rsyslog

change
`# Filter duplicated messages
$RepeatedMsgReduction on`

to
`# Filter duplicated messages
$RepeatedMsgReduction off`

restart service
`service rsyslog restart`

[2021-12-13 23:46] fabpot commented on #16746
@williamdes If that can help and if the diff is not too big, sure, we can probably re-add PHP 7.1 support for a "special" release. Anyone willing to investigate what that would mean?

[2021-12-14 00:44] williamdes commented on #16746
Oh, that's a very kind response !
Seems like the two fixes to be picked would be:
- https://github.com/twigphp/Twig/issues/3494
- https://github.com/twigphp/Twig/issues/3534

If you know other fixes that could be nice, else I can investigate to find the PHP 8.1 fixes

[2021-12-14 08:32] silverqx commented on #16746
Ohh, they added php 8.1 support but dropped PHP 7.1 support, that is reason why you don't upgrade to latest twig? Why do we still need PHP 7.1 support? Latest Ubuntu LTS and even Debian Strech is packaged with PHP 7.4.

[2021-12-14 10:26] williamdes commented on #16746
Yes, but @fabpot did bring us some light, so it's possible that we will be okay if they release a patch version with 7.1 compat

5.1 versions are committed to PHP 7.1 support, 5.2 versions will drop 7.1

On the Debian packaging side this will be different as it is like if you installed everything from composer but from .deb files. So it should stretch quite well between 7.1 and 8.1.That said I sti

[2021-12-14 11:18] silverqx commented on #16746
I think this is the main reason and I agree 👍, if phpMyAdmin 5.1 has PHP 7.1 support is not a good idea to remove it until phpMyAdmin 5.2 release, thank you for explaining.

[2021-12-15 06:29] pigochu opened #17248 "please support uuid data type"
### Is your feature request related to a problem? Please describe.

[A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]](https://giters.com/michaeldyrynda/laravel-efficient-uuid/issues/42)

### Describe the solution you'd like

The following picture shows that the datatype is uuid, which is correct
![image](https://user-images.githubusercontent.com/1013744

[2021-12-15 13:00] williamdes commented on #17248
Hi,

Your request may link to #16013

The UUID type only exists since MariaDB 10.7: https://mariadb.com/kb/en/uuid-data-type/

I did not find anything for MySQL except the UUID functions: https://dev.mysql.com/doc/refman/5.7/en/miscellaneous-functions.html#function_uuid

Are you using MariaDB 10.7 ?

[2021-12-15 14:02] pigochu commented on #17248
@williamdes
Yes , I am testing mariadb 10.7.1 on docker

[2021-12-15 16:12] linjialiang commented on #16746
Expectation 5.2

[2021-12-16 11:27] Faber44 commented on #16042
Got the same problem with Firefox Developper 96 + phpMyAdmin 5.1.1
It worked for me. Thanks! (y)

[2021-12-17 22:09] OldVamp commented on #16042
had same issue with firefox 95.0.1, editing export.php fixed it

[2021-12-18 00:08] jnyheim opened #17249 "Deprication notice Function strftime()"
### Describe the bug

Notice in ./libraries/classes/Util.php#1936

### To Reproduce

Steps to reproduce the behavior:
1. Clone PMA version 5.1.1
2. update to latest composer packages

### Expected behavior

No deprecation notice

### Screenshots

![image](https://user-images.githubusercontent.com/41641315/146620845-da6fb95b-d7d4-4f99-adf2-2b7cdff9e7f1.png)

### Server configuration

- Operating sy

[2021-12-18 00:32] jnyheim commented on #17249
### Additional deprecation notice

When creating new table (collation utf8_general_ci) yet another deprecation notice.
 in ./vendor/twig/twig/src/Extension/CoreExtension.php#1098

### Screenshot
![image](https://user-images.githubusercontent.com/41641315/146622242-28bbb231-3155-4e70-bcd1-b8ab5ceeb5b4.png)

### Additional context
mb_strtolower(): Passing null to parameter #1 ($string) of type strin

[2021-12-18 07:47] williamdes commented on #17249
Duplicate of #16746

[2021-12-18 07:47] #17249 closed

[2021-12-18 07:47] williamdes commented on #17249
Hi @jnyheim
This is now fixed, could you please try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)?

[2021-12-18 14:26] mpdude opened #17250 "Incomplete exports without error or warning when `max_execution_time` is set"
The [`max_execution_time`](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_max_execution_time) MySQL setting provides a timeout for `SELECT` queries. When this timeout is reached, the query is aborted.

Note: Do not confuse this with the PHP setting with the same name.

When this setting is active and you use phpMyAdmin to export the contents of a larger table, the resu

[2021-12-18 14:43] mpdude commented on #17250
Please advise if this should be reported as a bug in PHP/mysqli (and possibly other drivers) as well.

[2021-12-18 14:54] jnyheim commented on #17249
Hello,
Fantastic I can confirm everything is nominal in latest 5.1 snapshot.
A composer update is still required in this build to prevent known deprecation notices.

[2021-12-18 18:22] #16197 closed

[2021-12-19 12:57] yurenchen000 commented on #14507
seems master not have this feature.
I have use your diff in my deploy, and this make life  easier.

// the existing feature column sort & drag also help a lot !

:+1: :+1:

[2021-12-20 08:16] mpdude commented on #17250
I tried to understand how error handling works for Export Plugins. It seems that in general, the export methods only return `true` or `false` to indicate success, but ultimately, I did not find the code that would deal with the result. Even if I modify `\PMA\libraries\plugins\export\ExportSql::exportData` to return `false`, I am still being offered an SQL file to download with no indication of an

[2021-12-20 21:50] williamdes commented on #17250
Thanks a lot @mpdude for the precious debug and report !
And for the php src commit !

[2021-12-21 18:31] d3xt3r01 opened #17252 "docker fpm-alpine image with apache reverse proxy"
### Describe the bug

The default security.limit_extensions in php-fpm.d/www.conf doesn't allow the php-fpm to serve the other files.

### To Reproduce

Use this docker-compose
[code]

### Expected behavior

The UI to appear

### Screenshots

The text "File not found."

Docker Logs
[code]
### Server configuration

- Operating system: gentoo
- Web server: apache reverse proxy
- Database version: ma

[2021-12-22 11:54] stafred commented on #16746
you will need update your twig for php8.1 and change func strftime (deprecated) to date() or IntlDateFormatter:: . goog luck.

[2021-12-22 13:50] williamdes commented on #16746
We need Twig to release a version to continue PHP 7.1 compat and 8.1 compat for 5.1
@fabpot do you need some help ?

[2021-12-22 15:58] mauriciofauth commented on #16813
Looks like it is Firefox bug. See: https://bugzilla.mozilla.org/show_bug.cgi?id=1721786.

[2021-12-22 17:32] mbtreetime commented on #16676
I just tried installing via composer and ran into the same yarn issue.  I tried 5.1.1 and 5.1.x@dev

This is what I ended up doing to get it running:
[code]

[2021-12-23 01:32] kamil-tekiela opened #17254 "It is not possible to edit columns containing backslash."
### Describe the bug

It is not possible to edit columns containing backslash.

### To Reproduce

Create table such as:
[code]
and then go to table -> structure -> change the column

After navigating to the change screen an error pops up.

### Expected behavior

I should be able to edit columns containing unusual characters including backslashes.

### Screenshots

![image](https://user-images.gith

[2021-12-25 16:48] MohammadMD1383 opened #17255 "issues using phpmyadmin with latest softwares"
### Describe the bug

When I open phpmyadmin on localhost it has many errors.
I'm using Ubuntu 21.10 - php 8.1 - mysql 8.0.27 - apache 2.4 - phpmyadmin 5.0

### To Reproduce

Steps to reproduce the behavior:
Just opening `localhost/phpmyadmin` is enough to face with a lot of trouble

### Client configuration

- Browser: edge
- Operating system: Ubuntu

### Additional context

the first problem was

[2021-12-25 16:49] MohammadMD1383 commented on #17255
[code]

[2021-12-25 17:03] williamdes commented on #17255
Hi @MohammadMD1383

You are probably not up to date, that said phpMyAdmin in Debian is not quite ready for PHP 8.1.
I would suggest you to use 8.0.

Please check the [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods) to be up to date with phpMyAdmin 5.1

You may also want to follow the 8.1 compatibi

[2021-12-26 13:20] garak commented on #17234
Not working for me after installing [tar.gz](https://files.phpmyadmin.net/snapshots/phpMyAdmin-5.2+snapshot-all-languages.tar.gz):

[code]

[2021-12-26 14:32] williamdes commented on #17234
Sure, the reasons are explained in #16746

[2021-12-26 15:20] MohammadMD1383 commented on #17255
but how about the usage of `storage_engine`. As I searched it is removed from mysql.

[2021-12-26 17:39] williamdes commented on #17255
https://github.com/phpmyadmin/phpmyadmin/blob/8fab4a7bfb0de97a4049a752cb466375d7872c61/templates/database/structure/body_for_table_summary.twig#L43

As you can see already 4 years ago this was conditional. So I am puzzled you still have the error

[2021-12-27 11:07] kingx619 opened #17258 "phpMyAdmin showing deprecation notices and errors"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operat

[2021-12-27 12:25] mauriciofauth commented on #17239
Closed by #17243

[2021-12-27 12:25] #17239 closed

[2021-12-27 16:04] MohammadMD1383 commented on #17255
I installed phpmyadmin from apt... is it possible that this problem caused by bad configuration when installing?

[2021-12-27 16:19] williamdes commented on #17255
Are you up to date to phpMyAdmin 5.1 ?
Ref: [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

[2021-12-27 16:35] MohammadMD1383 commented on #17255
from apt no. but I manually installed 5.1 from your website and that's all ok!

[2021-12-27 16:57] williamdes commented on #17255
Oh okay, perfect then
You can install from our PPA to have 5.1 but it will not be the same as an installed version from our website :)
So this is closed ?

[2021-12-27 19:02] mauriciofauth opened #17259 "Simulate DML query modal has broken link"
### Describe the bug

The Matched rows link is broken in the Simulate DML query modal.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/QA_5_1/index.php?route=/server/sql
2. Type in the textarea:
[code]
3. Click on the **Simulate query** button
4. Click on the **Matched rows** link

### Expected behavior

Open simulated query results.

[2021-12-27 19:19] #17259 closed

[2021-12-28 01:32] smalos commented on #16549
@williamdes There has been a sql-parser release. Is this issue solved now?

[2021-12-28 07:00] NobodyButMe-Haiya commented on #16746
still existed the bugs.  we try in macos.

[2021-12-28 09:49] celestinoxp opened #17260 "Can´t create any query in phpmyadmin"
### Describe the bug

Can´t create any query in phpmyadmin

### To Reproduce

Steps to reproduce the behavior:
1. click 1 table to see values
2. Click on 'sql' and create sql like "SELECT * FROM table WHERE 1"
3. Normally can see values of tables
4. Message with fatal error

### FATAL ERROR
Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\ServiceNotFoundException: You have req

[2021-12-28 09:50] celestinoxp commented on #17260
I have updated DependencyInjection with latest updates, problem continues...

[2021-12-28 10:48] williamdes commented on #16746
Did you try the latest 5.2 **development version** [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) ?
It is compatible and should work nicely, please report any bugs you find while using it

You can try the latest **5.1 version** in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) but you will have to run `

[2021-12-28 10:49] williamdes commented on #17258
Duplicate of #16746

[2021-12-28 10:50] williamdes commented on #17258
Hi @kingx619

Please check out #16746 to learn more about the PHP 8.1 compatiblity.
Let us know your thoughts

[2021-12-28 10:50] #17258 closed

[2021-12-28 10:54] NobodyButMe-Haiya commented on #16746
verify this is working sample no error  with 5.2 development version

[2021-12-28 12:35] JerryBerry12 opened #17261 "HELP PLEASE"
I know this is not a help area but I could not find a contact anywhere else. I changed the password to an account to no password and now phpmyadmin won’t let me log in. I don’t have access to a root account. Please help.

[2021-12-28 14:51] ibennetch commented on #17261
Hi,

It's no problem to help you here. It's not clear to me if you have lost root access or if administratively someone else controls the root account.

If you have administrative access to the server, you can [reset the root account](https://docs.phpmyadmin.net/en/latest/faq.html#i-have-lost-my-mysql-root-password-what-can-i-do).

If you don't, you should ask the person who does to reset your acc

[2021-12-28 16:54] mauriciofauth commented on #17261
Hi @JerryBerry12. You could also try to use the MySQL/MariaDB CLI client to log in to your account and change the password of your account.

[2021-12-28 19:45] JerryBerry12 commented on #17261
I have a website hosted by Bluehost. I can’t get root access because of my server type. I tried: Username: _Username_ Password: _Blank_. I get this error:
Login without a password is forbidden by configuration (see AllowNoPassword)
Because I selected no password when changing my password, So I don’t have a password.

[2021-12-28 20:14] ibennetch commented on #17261
Yes, that's the error message shown when phpMyAdmin's configuration prevents logging in without a password.

If you have access to the configuration file `config.inc.php`, you can edit that and change the appropriate configuration directive (you might have to add it if it doesn't exist):

(For phpMyAdmin newer than 4.7.0)
`$cfg['Servers'][$i]['AllowNoPassword'] = true;`

[2021-12-28 20:22] ibennetch commented on #17261
You could also log in from the command line client to change your password.

[2021-12-28 20:26] JerryBerry12 commented on #17261
How do I do the command line?

[2021-12-28 20:26] ibennetch opened #17262 "Changing password should respect AllowNoPassword"
When a user is changing their password, we should check if [`AllowNoPassword`](https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_AllowNoPassword) is false, and if it is false then we should warn the user strongly before allowing them to set their password to a blank value. This check should apply to both the "Change password" link on the main page and actions on the "User accounts" tab

[2021-12-28 20:28] JerryBerry12 commented on #17261
What?

[2021-12-28 20:29] ibennetch commented on #17261
To access the command line, you'll need shell access to your server (through VNC or some other remote control means), SSH, or some similar means of remote access. I don't know much about how your host works, but most hosts provide some way to access a VPS instance.

Once you have shell or terminal access, you can use the `mysql` command to get access to the MySQL command line interface.

[2021-12-28 20:31] ibennetch commented on #17261
Or perhaps your host's support folks have a simple way to reset the password for you, you could ask them as well.

[2021-12-28 20:38] JerryBerry12 commented on #17261
OK. Thanks. I tried, but it didn't work. I will contact Bluehost. Thanks!

[2021-12-28 20:39] JerryBerry12 commented on #17261
ssh jssource@jssources.com
jssource@jssources.com's password:
Last login: Tue Dec 28 13:34:36 2021 from ool-2f1211c7.dyn.optonline.net
Welcome, type cd cmd and then bash load_cmd.sh to load.
jssource@jssources.com [~]# mysql
ERROR 1045 (28000): Access denied for user 'jssource'@'localhost' (using password: NO)

[2021-12-29 09:19] dcallebaut opened #17264 "PMA_HOSTS does not show servers ar logon"
### Describe the bug

When addind multiple servers thrby adding the PMA_HOSTS environment variable it would be expected for the servers to show at login. However the login page does not show or allow for server selection.

### To Reproduce

Steps to reproduce the behavior:
1. start container with -e PMA_HOSTS=10.10.10.10,192.168.1.10 <- example
2. open phpMyAdmin login page
3. See no option to cho

[2021-12-29 10:07] yupthatguy opened #17265 "Enabling PHPMYADMIN Logging & Fail2ban Default Filter"
I am on Debian 10.5 LAMP with ISPConfig, running PHPMYADMIN 4.9.0.1.

I am trying to setup the default phpmyadmin-syslog.conf filter for fail2ban to protect phpmyadmin.

**Problem:**
pma logging doesn't appear to work according to documentation.

I have tried 3 methods to enable logging:

Method 1:

in my `/usr/share/phpmyadmin/config.inc.php` i have added:

 `$cfg['AuthLog'] = 'auto';`

Which sho

[2021-12-29 10:10] dcallebaut commented on #17264
Have worked around the issue by using PMA_ARBITRARY variable....

[2021-12-29 10:10] #17264 closed

[2021-12-29 10:17] williamdes commented on #17264
Could you share your `docker-compose` file ?

[2021-12-29 15:21] MohammadMD1383 commented on #17255
yes, thanks. this thread should be closed.
but as the last point, I should say that your ppa doesn't have releases for ubuntu 21 yet :)

[2021-12-30 08:45] dcallebaut commented on #17264
I don't have a docker-compose file as I use the GUI on a Synology NAS, but I've attached the JSON config file which should also give you the necessary info you search for (had to rename to TXT as otherwise, I can't attach).

The version here does not work and has the issue as described above. If I replace the variable PMA_HOSTS by PMA_ABITRARY and value 1 I get a server field at logon.

[HQTR-SQLA

[2021-12-30 10:15] celestinoxp commented on #17260
It works now.
Updated in 2021-12-30.

[2021-12-30 10:15] #17260 closed

[2021-12-31 00:07] DeveloperDotSystem opened #17266 "Unknown Error"
# Error

Deprecation Notice in ./vendor/twig/twig/src/Loader/FilesystemLoader.php#40
￼ realpath(): Passing null to parameter #1 ($path) of type string is deprecated

Backtrace

./vendor/twig/twig/src/Loader/FilesystemLoader.php#40: realpath(NULL)
./libraries/classes/Template.php#57: Twig\Loader\FilesystemLoader->__construct(string '/data/data/com.termux/files/usr/share/phpmyadmin//templates/')
./l

[2021-12-31 00:22] DeveloperDotSystem opened #17267 "Deprecation Notice"
### Describe the bug

Deprecation Notice in ./vendor/twig/twig/src/Loader/FilesystemLoader.php#40
￼ realpath(): Passing null to parameter #1 ($path) of type string is deprecated

Backtrace

./vendor/twig/twig/src/Loader/FilesystemLoader.php#40: realpath(NULL)
./libraries/classes/Template.php#57: Twig\Loader\FilesystemLoader->__construct(string '/data/data/com.termux/files/usr/share/phpmyadmin//tem

[2021-12-31 17:03] Ritterstahl commented on #17262
Where does this happen?

[2022-01-01 02:38] SupianIDz commented on #17034
I think the `tecnickcom/tcpdf` package should be moved to `require` instead of `require-dev`.

This solve my problem.

[2022-01-02 16:10] ibennetch commented on #17262
On the Change password link from the main page and also on the User accounts tab where a super user can change anyone's password.

[2022-01-02 19:12] williamdes commented on #16549
I really think it is, could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)?

[2022-01-02 19:18] williamdes commented on #17239
Did this affect 5.1?

[2022-01-02 19:31] alagoroVigo opened #17270 "Error when looking at structure of table"
### Describe the bug

When pressing tab looking at the structure of a table, an error  goes:

Deprecation Notice in ./../../php/Twig/Extension/CoreExtension.php#1608
 array_key_exists(): Using array_key_exists() on objects is deprecated. Use isset() or property_exists() instead

### Server configuration

- Operating system: Ubuntu 18.04.6 LTS
- Web server: Apache 2.4.29
- Database version: 10.5.13

[2022-01-03 10:48] williamdes commented on #16746
🎉 !
https://github.com/twigphp/Twig/pull/3618

Twig [2.14.9](https://github.com/twigphp/Twig/blob/v2.14.9/CHANGELOG#L1-L6) is now back to compatible with PHP 7.1 !!

3.x also, soon: https://github.com/twigphp/Twig/blob/3.x/CHANGELOG#L4

Thank you so much @fabpot !

[2022-01-03 12:40] #16746 closed

[2022-01-03 12:43] silverqx commented on #16746
I test it later when there will be a snapshot @williamdes

[2022-01-03 12:52] williamdes commented on #16746
Right now ^^
Just re-built them

[2022-01-03 13:34] williamdes commented on #17267
Hi @DeveloperDotSystem
Please have a look to #16746

You should try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)

[2022-01-03 13:35] williamdes commented on #17267
Duplicate of #16746

[2022-01-03 13:35] #17267 closed

[2022-01-03 13:37] williamdes commented on #17270
Duplicate of #16746

[2022-01-03 13:38] williamdes commented on #17270
Hi @alagoroVigo
This is now fixed, please have a look to #16746
You can try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)

[2022-01-03 13:38] #17270 closed

[2022-01-03 13:38] williamdes commented on #17266
Hi @DeveloperDotSystem

I would recommend you to try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot)

[2022-01-03 13:39] williamdes commented on #17266
Duplicate of #16746

[2022-01-03 13:42] williamdes commented on #17222
Bonjour @CouinCouin

I did some performance improvements in PRs linked to #16005
They will be part of 5.1.2 version, can you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) ?

[2022-01-03 16:46] silverqx commented on #16746
I have tested it now and I'm not getting any deprecation warnings with the latest 5.1 snapshot anymore, thank you for fix @williamdes @fabpot ♥😁

[2022-01-05 16:05] liviuconcioiu opened #17271 "Database names disappear on Processes tab"
### Describe the bug

Database names are set to None, when clicking on SQL query column on Processes tab. Both QA_5_1 and master have this bug.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/server/status/processes](https://demo.phpmyadmin.net/master-config/index.php?route=/server/status/processes)
2. Click on `SQL query` co

[2022-01-06 14:53] hadricoppoaxpo commented on #17240
Hi !
I don't know if this helps but I face a similar problem when I try to switch servers on the navigation pane or if I try to change the navigation pane settings (after clicking Apply).
A workaround I found is to remove the "disableAjax" class in the server selection form (I edit directly in Chrome in developer mode). It kind of works as I can at least play with my different servers, but the nav

[2022-01-07 10:13] ZegertBoele commented on #17261
Not a member here or anything, but i hope this will help:
`mysql -u root -p` to login via CLI. If you also don't have that password below are some guides to reset them.

[https://linuxize.com/post/how-to-change-mysql-user-password/](url)
[https://dev.to/oneearedmusic/access-denied-reset-mysql-root-user-password-2hk4](url)

[2022-01-07 13:30] peternewman opened #17273 "Password generation should satisfy mySQL validate password plugin settings or at least show them"
### Describe the bug

See #12370

### To Reproduce

See #12370

### Expected behavior

See #12370

### Screenshots

See #12370

### Server configuration

See #12370

### Client configuration

See #12370

### Additional context

See #12370

This is a re-open of #12370 because I've just hit the issue and went to see if it had been reported and/or fixed and it just seemed to get closed without a fix

[2022-01-07 16:09] williamdes commented on #17273
By the way pull-requests should be open at phpmyadmin and not on the user's fork ;)
https://github.com/ReverseEMF/phpmyadmin/pulls

vs

https://github.com/phpmyadmin/phpmyadmin/pulls

This is probably linked to https://github.com/phpmyadmin/phpmyadmin/pull/15704 and issue https://github.com/phpmyadmin/phpmyadmin/issues/15491

[2022-01-07 16:32] peternewman commented on #17273
Yeah I left them a note about that:
https://github.com/ReverseEMF/phpmyadmin/pull/1#issuecomment-1007412696

Agreed, this looks like yet another duplicate of #15491 , #12370 and #16305 so it can probably be closed in the hope https://github.com/ReverseEMF/phpmyadmin/pull/1 or #15704 will fix it in due course.

@williamdes do you have rights to comment in some of those closed issues linking them al

[2022-01-09 03:29] liviuconcioiu opened #17275 "NULL columns are black instead of gray"
### Describe the bug

On master, _NULL_ values for even rows are black instead of gray, as it is on QA_4_9 and QA_5_1. This is confusing sometimes if you have another column near that has some text in it. Also, on hover, even odd rows are black.

### To Reproduce

Steps to reproduce the behavior:
1. Create a table with _NULL_ columns
2. Insert 2 rows
3. The first row is black on hover, the second

[2022-01-09 15:40] williamdes commented on #15236
This is near to the one year anniversary of this event ! 🎉
I am proud to announce that you can install phpMyAdmin 5.1 in Debian bullseye from `bullseye-backports` 🚀

### Using Debian `bullseye`

[code]

#### upgrade or install

[code]

or
[code]

Happy new year and enjoy the new version!

[2022-01-09 16:29] OlafvdSpek commented on #15236
Nice, thanks a lot William!

[2022-01-10 01:31] liviuconcioiu commented on #17271
Also, `Progress` column should be removed, because it doesn't exist in `INFORMATION_SCHEMA.PROCESSLIST` table and it gives an error when sorting.
![progress](https://user-images.githubusercontent.com/25424343/148709182-a5ce448a-8f27-4529-b261-399465c03e18.png)

Also, as an addition would be nice if `User` and `Database` rows can have a link like it does here [https://demo.phpmyadmin.net/master/ind

[2022-01-10 01:55] liviuconcioiu opened #17281 "Table links from SCHEMA_NAME have the old link from QA_4_9"
### Describe the bug

Table links from SCHEMA_NAME have the old link from QA_4_9. If you click on the table name, it redirects to a wrong link that gives a warning. The warning is shown only on master. On QA_5_1 there is no error, but still is the wrong link, and the table names inside the database aren't shown.

The current link is [https://demo.phpmyadmin.net/master/index.php?route=/sql&db=sakil

[2022-01-10 02:03] liviuconcioiu opened #17282 "The selected user was not found in the privilege table."
### Describe the bug

Links from `INFORMATION_SCHEMA.PROCESSLIST` table for `USER` column are invalid. User privileges cannot be edited.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/index.php?route=/&db=INFORMATION_SCHEMA&table=PROCESSLIST](https://demo.phpmyadmin.net/master/index.php?route=/&db=INFORMATION_SCHEMA&table=PROCESSLIST)
2. Click on a

[2022-01-10 02:42] liviuconcioiu opened #17283 "Question regarding MySQL restart vs server reboot"
I don't know if this is a bug or not or this is how MySQL behaves.

If I go to Status > Monitor page, and restart MySQL over SSH, the phpMyAdmin gives a message that I should reload the page, and then it logs out.

If I reboot the server, a different message is given, but it doesn't logs out, after server starts, and I reload the page.

[2022-01-10 10:31] rdeprera opened #17284 "Bootstrap theme missing from releases"
### Description

`themes/bootstrap` directory is missing from releases (.zip, .tar, .tar.gz, etc ... and composer) preventing, among other things, use the command `yarn install` as [suggested in the documentation](https://docs.phpmyadmin.net/en/release_5_1_1/setup.html#installing-using-composer)

### To Reproduce

1. Download phpmyadmin:
  - composer create-project phpmyadmin/phpmyadmin
  - or: do

[2022-01-10 12:30] ibennetch commented on #17284
According to the documentation section you linked to, yarn install is it needed when using Composer to install PhpMyAdmin. When installing from Git, one must run both composer install and yarn install, but it sounds like that's not what you're doing.

Try clearing the directory and running only the composer create-project line again, and see if the installation works as such.

When looking at the

[2022-01-10 15:29] Up2Boat opened #17285 "Exported Triggers not usable for import again"
### Describe the bug

When I try to export all my triggers for any database schema, no delimiter is added to the output. Because of this it's impossible to import those triggers again.

Why do I need this? Because I needed to change the creator (user) of that triggers. The initial one was removed and no updates have been possible on that database.

### To Reproduce

Steps to reproduce the behavior

[2022-01-10 16:39] williamdes commented on #16549
Fixed by 5a40ae64f24843bab8dfe299259671187b127e83 (sql-parser 5.5 upgrade)

[2022-01-10 16:39] #16549 closed

[2022-01-10 16:40] williamdes commented on #15931
Fixed by 5a40ae64f24843bab8dfe299259671187b127e83 (sql-parser 5.5 upgrade)

[2022-01-10 16:40] #15931 closed

[2022-01-10 16:42] #17113 closed

[2022-01-10 16:42] #17147 closed

[2022-01-10 17:20] williamdes commented on #17285
Hi @Up2Boat

Could you please try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if it works better ?

[2022-01-10 19:21] ozturkmtn commented on #14801
Hello,
I just open pull request for my first contribution on this branch. It is very very small like sand on beach but for me it is an Everest. :)

[2022-01-10 21:20] danallendotcom opened #17287 "Sorting Database List on "Data" Column creates a PHP type error"
### Describe the bug

Sorting on the "Data" column in the list of databases throws a bomb.

### To Reproduce

Steps to reproduce the behavior:
1. Go to home page
2. Click on  "databases" in the tabs across the top of the main pane.
3. At the bottom of the list of databases, click "Enable Statistics," to see more columns in the list of databases.
4. In the column labels for the list of databases, c

[2022-01-11 07:50] toxpal opened #17288 ""First day of calendar" has no effect"
phpmyadmin 5.1.1. Under Settings -> Features I have option "First day of calendar" set to Monday but it has no effect - calendar still starts at Sunday. No matter which day I choose, it has no effect at all.

[2022-01-11 16:11] rdeprera commented on #17284
From [Installing from Git](
https://docs.phpmyadmin.net/en/latest/setup.html#installing-from-git)
documentation:

   1.

   2.

   3.

If you reproduce this sequence will see an error in the sass compilation
because the bootstrap theme is not being downloaded. And he's a dependency
on other themes

Em seg., 10 de jan. de 2022 às 09:30, Isaac Bennetch <
***@***.***> escreveu:

[2022-01-11 16:35] ibennetch commented on #17284
I think that now you're talking about a different process from the initial post. At first, you mentioned installing from Composer with `composer create project phpmyadmin/phpmyadmin`, but in the follow-up you're trying the Git version. This is fine, but I want to make sure we're talking about the same thing.

I've tried in a new directory as you listed:
[code]

And I don't see any error during the

[2022-01-11 22:55] CouinCouin commented on #17222
Hi Dear,

Sorry for delay, a little busy.

I updated and tried with the same sql.gz file and never finished import after waiting 10 minutes :(

But worse, it problably made the server entering in loop or I don't know what, pages was no longer responding. I had to reboot from SSH console.

See ya :)

[2022-01-12 02:01] williamdes commented on #17197
https://tracker.debian.org/news/1294177/accepted-phpmyadmin-4511dfsg1-5-source-into-unstable/

8.1 compatibility is on it's way

[2022-01-13 13:29] rdeprera commented on #17284
Yes, that's it.

I cloned it again and this time the bootstrap directory was downloaded. I
do not know what happened.
I apologize and thank you for your attention!

Em ter., 11 de jan. de 2022 às 13:36, Isaac Bennetch <
***@***.***> escreveu:

[2022-01-13 18:12] #17284 closed

[2022-01-14 02:38] ibennetch commented on #17284
I'm so glad it worked for you this time. Thanks for reaching out and good luck.

[2022-01-14 21:30] that-ben opened #17291 "cPanel - How to disable CTRL-F override in phpMyAdmin?"
A recent phpMyAdmin update (or perhaps a browser a update?) enabled the CTRL-F shortcut to just ditch whatever SQL query I'm typing  in the SQL tab and bring the SEARCH tab on instead.  This is the most retarded functionality I've seen in a long while.  How the heck can I disable this "functionality" so that phpMyAdmin never, ever switch tabs on me and lose the work I'm doing ever again? And how d

[2022-01-14 22:07] ibennetch commented on #17291
Hi,

Which operating system, web browser, web browser version, and phpMyAdmin versions are you using, please?

I've tested this and don't think this behavior is coming from phpMyAdmin, but I'd like to test more to make sure, so if you can provide more information about your installation that will help my investigation.

[2022-01-14 22:09] ibennetch commented on #17291
Also, if I've made any chances to the SQL tab, trying to navigate to another page prompts me first to confirm that I want to discard changes; did you see that prompt before the page changed?

[2022-01-14 22:12] that-ben commented on #17291
Hi, thanks for replying.  There is no warning or dialog window of any kind.  It just switches to the SEARCH tab and loses everything I'm typing in the other tab with no option to have it back.  Very frustrating.

Issue experienced under W7, Firefox 95.0.2, phpMyAdmin 4.9.7 that comes with cPanel.

[2022-01-15 09:31] liviuconcioiu opened #17292 "More actions is broken on table structure"
### Describe the bug

More actions is broken when hovering the text on table structure. It affects only master.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/index.php?route=/table/structure&db=sakila&table=actor](https://demo.phpmyadmin.net/master/index.php?route=/table/structure&db=sakila&table=actor)
2. Click on `More`
3. See error

### Expecte

[2022-01-15 10:16] liviuconcioiu opened #17293 "Uncaught Error: cannot call methods on dialog prior to initialization; attempted to call method 'close'"
### Describe the bug

Uncaught Error: cannot call methods on dialog prior to initialization; attempted to call method 'close' is given when clicking on `Go` on `Add index` modal. Also, `Preview SQL` doesn't work. Only master is affected.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table
2. Click on `Go` from `Create an index on 1 columns`
3. Click on `Go`
4. See error
5. Click

[2022-01-15 13:56] gitalmeiais opened #17294 "Stored proedures or functions created with root@localhost cannot be changed on next logon"
I got this problem creating stored procedures/functions on the phpmyadmin interface and Mysql Workbench.
The problem seems to occurs on the next day, since I kept logged on editing and testing the code I was just created.
How to reproduce:
Create a stored procedure in the phpmydmin web interface and save it.
The procedure is shown in the related tab and can be edited/executed as many time as you w

[2022-01-15 16:13] YAABITECH opened #17295 "Unknown error connecting database mysql"
9:39:48 PM  [main] 	Initializing Control Panel
9:39:48 PM  [main] 	Windows Version:  Home  64-bit
9:39:48 PM  [main] 	XAMPP Version: 7.4.23
9:39:48 PM  [main] 	Control Panel Version: 3.3.0  [ Compiled: Apr 6th 2021 ]
9:39:48 PM  [main] 	You are not running with administrator rights! This will work for
9:39:48 PM  [main] 	most application stuff but whenever you do something with services
9:39:48 PM

[2022-01-15 16:27] ibennetch commented on #17295
Hi,

This forum is for discussing problems with the phpMyAdmin application, which is a single component out of the entire XAMPP installation you have. Since we only work with phpMyAdmin and not the other aspects, specifically the MySQL database you're having a problem with, you might get better help asking in the XAMPP forums directly.

However, this seems rather straightforward, however you'll ne

[2022-01-16 09:09] liviuconcioiu opened #17296 "Links to tables have missing database"
### Describe the bug

Links to tables have missing database when a query is run.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/QA_5_1/index.php?route=/server/sql](https://demo.phpmyadmin.net/QA_5_1/index.php?route=/server/sql)
2. Run
[code]
3. Click on any table name
4. See error

### Expected behavior

Links to database/tables should be functional.

###

[2022-01-16 22:24] williamdes commented on #17291
For the record I could not find anything related to this in the diff between the versions, maybe cPanel did some changes
https://github.com/code-lts/phpmyadmin-releases/compare/upstream/version/english/4.9.2..upstream/version/english/4.9.7

[2022-01-17 00:36] that-ben commented on #17291
It's very well possible, given the downhill quality of 2021 cPanel updates.  They broke other unrelated functionality a few months ago, so I would not be surprised, tough but their change log does not mention phpMyAdmin, except only once where they supposedly fixed a bug preventing access to it from a trial cPanel license, which may or may not have broken parts of phpMyAdmin 4.9.7... who knows?

T

[2022-01-17 02:01] BlueLord444 opened #17297 "Cannot Log into Database. Max Users Connected"
I don't know if this is the correct place to put this... but

When I try to log into the database. I cannot log in.

https://imgur.com/a/bkp1VSd

If applicable, add screenshots to help explain your problem

- Browser: Google Chrome
- Operating system: Windows 10

[2022-01-17 04:41] ibennetch commented on #17297
Hi,

Usually this is caused by using the wrong username or password. You could check with your hosting provider to make sure you're using the correct credentials.

[2022-01-17 04:43] #17297 closed

[2022-01-17 04:45] ibennetch commented on #17297
Oh, also your subject uses a different error message than I see in the screenshot; the screenshot looks like just a problem with the username or password, but the message you reference in your subject implies that too many users are trying to connect at once, in which case your hosting provider should probably either re-allocate resources so that their server isn't under such loads or they need to

[2022-01-17 13:14] BlueLord444 commented on #17297
Okay, thank you so much. I'll contact my provider

[2022-01-17 17:02] mokraemer opened #17298 "Import of email-adresses or links from ods results in empty contents"
### Describe the bug
importing mail-adresses from ods fails.
### To Reproduce
the mail adresses are formated in the ods as follows:
<text:a xlink:href="mailto:abc@def.ghi" xlink:type="simple">
abc@def.ghi</text:a>

### Expected behavior
a text col containing the value abc@def.ghi

### Screenshots

it is imported as empty column

### Server configuration
php 8.0.14
phpMyAdmin 5.1.1

[2022-01-17 18:05] ronaaronson opened #17299 "Tables are not sortable by clicking on column headers."
This does not appear to be an issue with FireFox. But with **Chrome Version 97.0.4692.71** and **Edge Version 97.0.1072.62**, when I display any table, almost every column except for one or perhaps two will not respond to clicking on it when I would expect that the response would be to re-sort the table on that column.

Interestingly, if I inspect the header in Chrome and click on the actual URL w

[2022-01-19 10:43] ArsalanSiddique opened #17301 "mysqli extension missing in phpmyadmin 4:5.1.1+dfsg1-3+focal1"
Hello

I've upgraded my PHP to 8.0 from 7.4
after that, I upgrade PHPMyAdmin also to the latest version but it returns the MySQL extension missing.

I uninstalled MySQL and PHPMyAdmin and reinstall them but MySQL and PHP working fine but PHPMyAdmin is not.

I uncomment it from php.in and path to extension also but it is still not working in my case.

[2022-01-19 11:17] williamdes commented on #17301
Hi @ArsalanSiddique

You need to install `php8.0-mysql` and restart your webserver or PHP fpm server.

[2022-01-19 11:56] ArsalanSiddique commented on #17301
Thanks for your response but its not working after installing `php8.0-mysql`

[2022-01-19 12:17] williamdes commented on #17301
Yes, but you can use `dpkg-reconfigure phpmyadmin` it will help you I think

[2022-01-19 12:28] ArsalanSiddique commented on #17301
I do it, it is configured to apache2 and `apache2_invoke PHPMyAdmin: already enabled`

[2022-01-20 03:21] liviuconcioiu opened #17302 "Fatal error: Uncaught TypeError: PhpMyAdmin\ConfigStorage\Relation::__construct(): Argument #1 ($dbi) must be of type PhpMyAdmin\DatabaseInterface, null given"
### Describe the bug

This bug is related to #16862. Now, instead of showing the phpMyAdmin error message on a red background, a fatal error is thrown. This error occurs, when PHP is updated and it changes session folder permissions to 770.

### To Reproduce

Steps to reproduce the behavior:

1. chmod session folder to 770
2. Log in on phpMyAdmin
3. See error

### Expected behavior

The error shou

[2022-01-20 09:35] ChrisvanChip commented on #16059
Hey! :wave:

This issue is still in the latest version of phpMyAdmin (5.1.1). The reproduction steps are still valid, this is an example of a built query:
![image](https://user-images.githubusercontent.com/31969757/150310742-69c25e2f-7dcd-421a-86a5-aa7439a30a99.png)

As you can see, there are 2+ tables used, which causes a LEFT JOIN to be applied. An example query that is built:
[code]

When execu

[2022-01-20 09:36] ChrisvanChip commented on #16059
@williamdes As this issue was closed a year ago, here's a mention to let you know :)

[2022-01-20 09:45] ChrisvanChip commented on #16059
More information is in: the phpMyAdmin snapshot `phpMyAdmin-5.2+snapshot-all-languages.zip` resolved this issue already! 🎉

So, basically the only thing we have to wait for, is an official release.

[2022-01-22 08:16] williamdes commented on #17301
Could you send the webserver logs?
It may explain better the error

[2022-01-22 11:02] aartsr opened #17305 "PHP Parse error in DatabaseInterface.php after updating from 4.9.7 to 4.9.8"
### Describe the bug
All previous phpmyadmin versions in the 4.9-branch have given no problems on this setup (I've simply reverted back to 4.9.7 for now). Using version 4.9.8 however throws this error: **PHP Parse error:  syntax error, unexpected '?' in ../phpmyadmin/libraries/classes/DatabaseInterface.php on line 1566**. The line in question is **$storageDbName = $GLOBALS['cfg']['Server']['pmadb'

[2022-01-22 11:09] prbt2016 opened #17306 "phpMyAdmin 4.9.8 throws syntax error on PHP 5.5"
### Describe the bug

I was in the process of installation of phpMyAdmin 4.9.8 on Centos 7 with Apache 2.2, PHP 5.5, MYSQL 5.5.

However when I try to visit the URL to phpMyAdmin, following error is thrown i.e :

Parse error: syntax error, unexpected '?' in /{{PATH}}/{{TO}}/{{PHPMYADMIN}}/libraries/classes/DatabaseInterface.php on line 1566

On line 1566 the following code is causing the issue :

[2022-01-22 13:09] tm8544 opened #17307 "Undefined array key "hide_connection_errors" Mysqladmin 5.1.2"
### Describe the bug

Error `Undefined array key "hide_connection_errors"` even if `$cfg["Servers"][$i]["hide_connection_errors"] = true;` exists in config.inc.php

### Expected behavior
No error

### Server configuration

- Windows 10 x64  [Version 10.0.19044.1466]
- Apache 2.4.52
- 10.6.5-MariaDB - mariadb.org binary distribution
- PHP version: 8.1.2
- phpMyAdmin version: 5.1.2

Proposed solutio

[2022-01-22 13:22] svivian opened #17308 "Navigation panel - table list is broken (5.1.2)"
### Describe the bug

The navigation panel in the latest version (5.1.2) is very broken. Using the page selector replaces the table list with a database list.

### To Reproduce

1. Open PMA.
2. Click a table name to see the list of tables.
3. Click the `>` button to move to the next page of tables.

Instead of showing the next page, it shows the list of databases instead. Example from the demo ser

[2022-01-22 13:24] svivian commented on #17307
Looks to be fixed by #17304. However I also noticed that parameter has not been added to `config.sample.inc.php` which would be useful for new installs.

[2022-01-22 14:22] ibennetch commented on #17306
The requirements for 4.9.x haven't changed, it looks like we just made a mistake and should be releasing 4.9.9 soon to fix it.

@williamdes could you please take a look at this when you have a chance?

[2022-01-22 14:32] mauriciofauth commented on #17305
Hi @aartsr.
Thank you for reporting this issue. This is a mistake that was introduced when we back-ported a fix into the 4.9.x branch.
As an immediate fix, you can change these lines to:
[code]

[2022-01-22 14:33] mauriciofauth commented on #17306
Hi @prbt2016.
Thank you for reporting this issue. This is a mistake that was introduced when we back-ported a fix into the 4.9.x branch.
As an immediate fix, you can change these lines to:
[code]

[2022-01-22 14:41] liviuconcioiu opened #17309 "CSS files have wrong path on 5.3.0-dev - Default theme pmahomme not found!"
### Describe the bug

Two CSS files have wrong path on 5.3.0-dev. Theme cannot be found.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/](https://demo.phpmyadmin.net/master-config/)
2. Two files aren't loading because the theme folder cannot be found.

### Expected behavior

Theme folder should be found.

### Screenshots

If applicable, add

[2022-01-22 14:58] Krakenied commented on #17307
It was not fixed, #17304 makes PMA ignore `hide_connection_errors` even if it's set

[2022-01-22 19:26] #17307 closed

[2022-01-22 19:27] mauriciofauth commented on #17309
Thank you, @liviuconcioiu, for reporting this issue.
Fixed by 60cdd5013dad332dd045fca629bddf129d5c42bd.

[2022-01-22 19:27] #17309 closed

[2022-01-22 19:34] aartsr commented on #17305
Thanx for the quick reply/fix.

[2022-01-22 19:34] #17305 closed

[2022-01-22 20:05] #17306 closed

[2022-01-23 01:52] Ressy66 opened #17311 "hide_connection_errors new setting"
### Describe the bug

A clear and concise description of what the bug is.

Undefined index: hide_connection_errors on login page

I set as per docs -

$cfg['Servers'][$i]['hide_connection_errors'] = 'true';
(even tried  s/true/1/  still no go)

- Database version: MariaDB 10.6.5
- PHP version:  7.4.27
- phpMyAdmin version 5.1.2:

### Client configuration

- Browser:  opera, chrome
- Operating syst

[2022-01-23 01:53] Ressy66 commented on #17311
CORRECTION: error shows on "main" page, as in when you login  index.php

[2022-01-23 19:37] bellegarde-c opened #17312 "Filtering broken when table have a primary key"
### Describe the bug

Filtering is not working as expected: returning empty result.

### To Reproduce

Here table with a primary key:

![sql3](https://user-images.githubusercontent.com/57196916/150694946-4de6f26b-82e6-4aea-9b11-38a4f858102a.png)

Data without filtering:

![sql1](https://user-images.githubusercontent.com/57196916/150694958-2298949f-80ed-4866-afb0-157267e495dd.png)

With filtering:

[2022-01-24 04:49] prbt2016 commented on #17306
Hello @mauriciofauth ,

Thanks for the fix. Shall check this out.

Regards.

[2022-01-24 08:48] ronald2022-ai opened #17313 "request for passport"
I set my phpmyadmin password and i forgot it, how can i be helped. Also my website is not displaying how can i be assisted.

[2022-01-24 11:13] ibennetch commented on #17313
Hello,

If your database is hosted or managed by someone else, you should ask them for assistance. If you manage it yourself, here are instructions for resetting your database password: https://docs.phpmyadmin.net/en/latest/faq.html#i-have-lost-my-mysql-root-password-what-can-i-do

As far as your site not displaying, you would have to ask your hosting provider or web developer for assistance; sinc

[2022-01-24 11:14] #17313 closed

[2022-01-24 15:34] spyjo commented on #17308
I confirm this bug after upgrading from 5.1.1 to 5.1.2
Selecting an other number with the select form is still functioning, but not the arrows.

[2022-01-24 16:46] mauriciofauth commented on #17311
Hi, @Ressy66. Thank you for reporting this issue. The fix for it will be included in 5.1.3.

[2022-01-24 16:46] mauriciofauth commented on #17311
Duplicate of #17307

[2022-01-24 16:46] #17311 closed

[2022-01-24 20:38] seanjsteiner opened #17314 "Unable to Export Views Utilizing Window Functions"
### Describe the bug

I am unable to export a view that utilizes window functions.  A CREATE VIEW statement is created; however, the SQL is invalid.  The view, itself, works, but the generated export statement is invalid.

### To Reproduce

Steps to reproduce the behavior:
1. `CREATE TABLE IF NOT EXISTS t1 (c1 varchar(255) NOT NULL);`
2. `INSERT INTO t1 VALUES ('a'),('b'),('c'),('d');`
3.
[code]
4

[2022-01-24 21:59] conectis360 commented on #17262
Hi! I want to help, but **I only know vanilla PHP** is it enough? If it is, after cloning it, what's next?

[2022-01-25 09:18] michael-gilch opened #17315 "Fatal error: Unsupported operand types in Results.php"
### Describe the bug

`SHOW PROCESSLIST;` throws fatal error in latest version (5.1.2):

This seems to be caused by initializing `$editCopyUrlParams = null;` and later trying to append more elements without assigning a value:

Results.php, Line 2589:
 `'params' => $editCopyUrlParams + ['default_action' => 'update'],`

### To Reproduce

Steps to reproduce the behavior:
1. Open PMAs SQL Editor.
2. T

[2022-01-26 06:37] Elrondo46 opened #17316 "Please update your docker image"
The last version 5.1.2 is not available in docker hub, can you update it ?

[2022-01-26 10:36] Beez93 opened #17317 "In insert mode,I didnt see the complete list of possible values for a column, based on some foreign table"
Hi,
I have a table of Product with a primary key composed of 2 foreign keys, and a other table storage that refers to a product and a box.

I am currently trying to add values on the Storage table but the list of possibles values does not contain the totality of the rows inserted in the Product table, so i can't insert all the values i need.
I dont know why some of the records appear and others do

[2022-01-26 13:55] lkppo opened #17318 "Sometimes the row counter of a table is wrong"
### Describe the bug

When phpMyAdmin displays the content of a whole table, the row counter can be wrong. It doesn't match the real number of row of a table.

Sometimes the wrong number is higher, sometimes it is lower, but not every time.

Tables with more than 30,000 same more prone to this bug.

Empirical test: with a table of 50129 rows and reloading it several times, each time with one row l

[2022-01-26 15:54] liviuconcioiu opened #17320 "White column separator no longer visible on QA_5_2, master"
### Describe the bug

The white column separator is no longer visible on QA_5_2, master. Since is not visible, resizing columns is harder.

### To Reproduce

Steps to reproduce the behavior:
1. QA_5_1 - [https://demo.phpmyadmin.net/QA_5_1/index.php?route=/sql&db=sakila&table=actor](https://demo.phpmyadmin.net/QA_5_1/index.php?route=/sql&db=sakila&table=actor)
2. QA_5_2 - [https://demo.phpmyadmin.n

[2022-01-26 20:37] HBoskugel opened #17321 "5.1.2 - SQL export of views from MySQL database has several mistakes"
### Describe the bug

During export of views from a MySQL database the end og the view statement in some cases contains duplications or wrong/misformated statement parts.

### To Reproduce

Export a database as SQL and try to import it again

### Expected behavior

No error should occur during import

### Screenshots

Samples:

[code]

### Server configuration

- Operating system:
- Web server:
-

[2022-01-26 20:56] ibennetch commented on #17308
Git bisect tells me that 4fd7aa7a2c45e99c45d5a196e8c66cb24bd02787 is the first bad commit, "Use POST for Navigation's aPath and vPath."

[2022-01-27 08:49] ponasromas opened #17322 "signon method not working"
Code which generates required data and puts it into session. File is on central server (not domain.tld):

[code]
This is config.inc.php for PMA:

[code]

I have checked this:

* No errors in logs
* Session names match for central server and PMA server
* Session contains required data
* User in MySQL exist
* MySQL working
* With 'cookie' method I can login without a problem

What I receive is error

[2022-01-27 12:34] ibennetch commented on #17322
Hi, could you please also tell us your phpMyAdmin version and whether this code worked before with a previous version or if this is a new installation for you?

[2022-01-27 14:41] ponasromas commented on #17322
Latest PMA 5.1.2 pooled from PMA repo via composer. This is new installation.

[2022-01-27 20:42] mauriciofauth commented on #17308
@ibennetch I opened two PRs. A fix for 4.9.x and another for 5.1.x.

[2022-01-28 12:50] ponasromas commented on #17322
I have one question: where should be signon.php script hosted? As I understand:

**Server A:** where user data is hosted, completely separated from PMA server. From this server I source login data to the session.
**Server B:** this is PMA server. Again, it is absolutely different from Server A, where login credentials are created for PMA login session.

Do I understood correctly? It seems I don't

[2022-01-28 20:29] #17308 closed

[2022-01-28 22:43] liviuconcioiu commented on #17320
Somehow, the bug has been fixed, by the latest commits. Closing this.

[2022-01-28 22:43] #17320 closed

[2022-01-28 22:58] liviuconcioiu opened #17326 "HTML code is shown when entering wrong login details"
### Describe the bug

When entering wrong login details on master, instead of the error icon, HTML code is shown instead.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/index.php?route=/](https://demo.phpmyadmin.net/master/index.php?route=/)
2. Enter wrong login details
3. See error

### Expected behavior

The icon should be shown, instead of HTML

[2022-01-28 23:03] williamdes commented on #17321
Hi @iifawzi
Would you mind having a look please ?

[2022-01-29 10:21] iifawzi commented on #17321
Hi, sure, I will take a look on it in a week ( after finishing my final exams ).

[2022-01-29 11:03] manoletto opened #17327 "Undefined index: hide_connection_errors"
### Describe the bug

Not really a bug, but with fresh new installation of v5.1.2, "Undefined index: hide_connection_errors" is always
show at the bottom of the principal pane.

Adding hide_connection_errors in server[$i] config, the same ...

Patching "\phpMyAdmin-5.1.2-all-languages\libraries\classes\Dbal\DbiMysqli.php"
at line 168 :
if (isset($server['hide_connection_errors'])&&$server['hide_co

[2022-01-29 19:56] #17326 closed

[2022-01-30 13:57] lem9 commented on #17322
Hi ponasromas,
Your `$cfg['Servers'][$i]['SignonURL']` should not contain the URL of the phpMyAdmin directory, but the URL of the script which generates the credentials data. See https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_SignonURL.

[2022-01-30 15:46] ponasromas commented on #17322
**which generates the credentials data**

This part is confusing. How can I generate login details when I don't know which user requested them... Is possible to somehow encode username/password into url as a token and pass it with simple GET to PMA?

[2022-01-30 16:46] liviuconcioiu opened #17328 "#1054 - Unknown column 'undefined' in 'where clause' and #1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near"
### Describe the bug

There are two issues with the SQL parser and also how `COUNT` vs `count` is interpreted (actions column disappears). All versions are affected, from QA_4_9 and up.

### To Reproduce

Steps to reproduce the behavior:
1. Run this query:
`SELECT count(*), device_user_agent FROM tbl_devices_test GROUP BY device_user_agent ORDER BY tbl_devices_test.device_user_agent ASC;`
2. Click

[2022-01-30 17:14] lem9 commented on #17322
The 'signon' authentication type only works if you already have an application that somehow obtained the MySQL credentials to pass to phpMyAdmin.

Let's say you code an application that asks for a username and a password, for example user marc and password bingo; then it somehow checks these and if correct, maps these to some MySQL credentials, let's say user isaac with some password. Then the app

[2022-01-30 21:13] liviuconcioiu opened #17329 "Uncaught DOMException: The quota has been exceeded."
### Describe the bug

Uncaught DOMException: The quota has been exceeded. when pasting a few large queries inside SQL box. All versions have this problem.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'SQL' tab.
2. Paste a few large texts, 15-20 Mb.
3. See error

### Expected behavior

The exception should be caught somehow or a message should be given.

### Screenshots

### Server

[2022-02-01 04:39] TheCrockett opened #17330 "Function to easily dropped irreversibly"
On far more occasions than I care to admit,  the current workflow has resulted in my function just gone - restore from backup gone.

I'm not entirely sure how, but perhaps multiple windows?

[2022-02-01 13:57] #17023 closed

[2022-02-01 14:20] mauriciofauth commented on #17330
Hi @TheCrockett, thank you for reporting this issue.

What is the version of the phpMyAdmin you are using and could you please provide the steps to reproduce this behavior?

[2022-02-01 20:27] FrViPofm commented on #17302
Hi I've got the same fatal error.
Found in the phpmyadmin-error.log :

`[Tue Feb 01 20:08:38.024935 2022] [php7:error] [pid 54762] [client 127.0.0.1:55762] PHP Fatal error:  Uncaught TypeError: Argument 1 passed to PhpMyAdmin\\ConfigStorage\\Relation::__construct() must be an instance of PhpMyAdmin\\DatabaseInterface, null given, called in /var/www/phpmyadmin/libraries/classes/Twig/RelationExtensi

[2022-02-01 23:05] lem9 commented on #17318
Does this FAQ entry help you?
https://docs.phpmyadmin.net/en/latest/faq.html#the-number-of-rows-for-innodb-tables-is-not-correct

[2022-02-01 23:06] lem9 commented on #17322
Is this issue solved?

[2022-02-01 23:14] lem9 commented on #17299
I tried the latest phpMyAdmin 5.1.2 on https://demo.phpmyadmin.net/STABLE/ under Windows 8.1 and Chrome 98.0.4758.82. In the world.City table I have no problem sorting on columns by clicking on its header.

[2022-02-02 00:05] lkppo commented on #17318
Hello,

Ok, I missed that point. Thank you for your answer.

It's not my way but it makes sense. I could live with it.

Regards,

[2022-02-02 00:05] #17318 closed

[2022-02-02 01:28] Rixafy commented on #17248
@williamdes any update on this? last time I tried it (few months ago when Mariadb 10.7 beta was released) there was a lot of issues with uuid type across phpmyadmin

[2022-02-02 08:18] guidoselva opened #17331 "MariaDB: Unknown system variable 'disabled_storage_engines'"
### Describe the bug

MariaDB does not support system variable 'disabled_storage_engines', so clicking on the 'Engines' link produces an error in the SQL errors log (if enabled):

`2022-02-02  9:00:52 root[root] @ localhost [] ERROR 1193: Unknown system variable 'disabled_storage_engines' : SELECT @@disabled_storage_engines`

### To Reproduce

Steps to reproduce the behavior:
1. Enable the SQL err

[2022-02-02 14:06] ronaaronson commented on #17299
@lem9  Now that Chrome 98 and phpMyAdmin 5.12 are available I have upgraded to these releases and I still have the same problem. However, it does seem to work with most tables and so I may have figured out what the problem is. The particular tables that it fails on have  long column names such that some of the column names, but not all, are split across multiple rows. It is with these tables that

[2022-02-03 00:36] williamdes commented on #17331
Thank you for the report @guidoselva !

[2022-02-03 00:44] williamdes commented on #17327
Duplicate of #17307

[2022-02-03 00:47] williamdes commented on #17327
Hi,
Thank you for the report, it seems that is is a duplicate of #17307 and that it was already fixed by 48b4ff8247372b61f0fcc2e0b069aa54873e2086

I would recommend you to try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) to try the fixes before the official release

[2022-02-03 00:47] #17327 closed

[2022-02-03 08:02] #17322 closed

[2022-02-03 12:17] williamdes commented on #17187
Hi @kanlukasz

Did you try `apt purge phpmyadmin` to clean the installed package ?

I would suggest you to then use the zip file from our website

[2022-02-03 12:42] williamdes commented on #17315
Hi @michael-gilch
Thank you for the issue, I can confirm it on our demo server and in our static analysis tool reports.

[2022-02-03 13:00] #17331 closed

[2022-02-03 14:31] xavier-dev opened #17335 "The menu to toggle column visibility is half hidden"
### Describe the bug

When browsing a table, I can click a drop-down arrow to toggle the columns visibility. It opens a menu showing one line per column with a checkbox. When at least one of the column has a too long name or a too long comment, the menu is too large to fit on the screen and the left part is hidden. As a result, it's not possible to click on the checkboxes

### To Reproduce

Steps

[2022-02-03 16:27] xavier-dev commented on #17335
I submitted a fix. This is my first contribution: please let me know if anything needs to be adjusted.

![image](https://user-images.githubusercontent.com/43247624/152384644-441c5a6e-49d0-4eb7-b5ef-7568e68378be.png)

[2022-02-03 17:10] williamdes commented on #17321
Hi @HBoskugel
Would you mind trying this fix on your local setup by changing the file in `vendor/phpmyadmin/sql-parser`: https://github.com/phpmyadmin/sql-parser/pull/371/files#diff-1fc95c4608ac9255e416f3fe0f3be8ea99d11f95351dbda8f00ba2b5419d16e0 ?

[2022-02-03 20:15] HBoskugel commented on #17321
Sorry, can't test it next days. The problem came up during my work. Our customer uses a central installation of phpMyAdmin from a web hosting provider. So we don't have an own instance. And also im currently not working in case of illness. May be in around one or two week I have a possibility to test it. Then I will test also the other issues #16549 and #16510.

Additional background:
I have an ow

[2022-02-04 09:16] iifawzi commented on #17321
Hi @HBoskugel, I wish you get better very soon.

I can confirm that all of the mentioned issues are now fixed, when the first two issues got fixed, they mistakenly caused the one you've mentioned here, which's fixed at https://github.com/phpmyadmin/sql-parser/pull/371.

For #16549 and #16510 they're fixed and released since a while, if the provider is using the latest version, parser will parse th

[2022-02-04 09:19] iifawzi commented on #16510
Fixed by https://github.com/phpmyadmin/sql-parser/pull/343

[2022-02-04 09:31] #16510 closed

[2022-02-04 12:14] williamdes commented on #17111
Hi @Jir4

I am sorry for the time this got for you to have an answer, we will be looking in to this soon.

Maybe you could try to update to phpMyAdmin 5.1 I uploaded to Debian bullseye backports or use our Ubuntu PPA, see: [Wiki for install methods on Ubuntu/Debian](https://github.com/phpmyadmin/phpmyadmin/wiki/DebianUbuntu#related-issues-and-comments-on-install-methods)

[2022-02-04 12:16] williamdes commented on #17095
Thank you @RVxLab for #17142 I did re open I so we can review it

[2022-02-04 12:19] williamdes commented on #17129
Hi @kevin75001

Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if this persists ?

[2022-02-04 13:34] williamdes commented on #17293
I am re opening this because I know it happens but fixing this may not be easy

[2022-02-04 13:34] williamdes commented on #17293
Maybe removing all the jquery code will solve this

[2022-02-04 13:36] liviuconcioiu commented on #17293
@williamdes I've closed it because of duplicate of #17176. I've realized after I opened this one.

[2022-02-04 13:55] williamdes commented on #17287
Hi @danallendotcom
You are not using phpMyAdmin 5.1, for two reasons: in https://github.com/phpmyadmin/phpmyadmin/commit/e2eac49ad20e1556763165e5b594bbb34724f639#diff-4a0988e36d96e1c9c66ee104d61701aa801e2079dac8cae96efd2e540f057000R901 the function was renamed and in aadb6abfebdf31517b7389241305981571341306 I moved it in another class.

In 4.9
https://github.com/phpmyadmin/phpmyadmin/blob/95ddcf3c

[2022-02-04 14:00] williamdes commented on #17287
I applied your feedback in 68b4e19f34256c3691d24d28e2c6b918f9956ca3

[2022-02-04 14:02] williamdes commented on #17293
Duplicate of #17176

[2022-02-04 14:02] #17293 closed

[2022-02-04 14:05] williamdes commented on #15921
Thank you for the feedback, I am closing this now then.

[2022-02-04 14:05] #15921 closed

[2022-02-04 14:12] williamdes commented on #17237
Hi @RobertEcker

This error is from the database server, so we can not fix it :)
Maybe your database server is corrupted ?

[2022-02-04 14:12] #17237 closed

[2022-02-04 14:18] williamdes commented on #17161
I am going to close this issue, let us know if something else is needed. For now 4.9.x series does not receive non security fixes

[2022-02-04 14:18] #17161 closed

[2022-02-04 14:23] williamdes commented on #17292
I am going to close this issue as I can not reproduce it, I think it was fixed. Can you confirm @liviuconcioiu ?

[2022-02-04 14:39] liviuconcioiu commented on #17292
It isn't fixed.

Here is a video:

https://user-images.githubusercontent.com/25424343/152547601-344223c1-1983-4fd3-8fd3-2b8de461a412.mp4

[2022-02-04 15:04] williamdes commented on #17288
Hi @toxpal
I can confirm this issue, do you have a phpMyAdmin storage database ?

[2022-02-04 15:31] williamdes commented on #17288
This also affects
https://github.com/phpmyadmin/phpmyadmin/blob/2389c6a07b4846456fb368f29699a227ce1a148b/libraries/classes/Header.php#L201

And
https://github.com/phpmyadmin/phpmyadmin/blob/2389c6a07b4846456fb368f29699a227ce1a148b/libraries/classes/Header.php#L204

[2022-02-04 15:42] williamdes commented on #17288
And also
![image](https://user-images.githubusercontent.com/7784660/152558245-19375117-4e6b-4c37-9df9-87c94fa60f05.png)

[2022-02-04 17:48] williamdes commented on #17316
Duplicate of https://github.com/phpmyadmin/docker/issues/352

[2022-02-04 17:49] williamdes commented on #17316
I would recommend you to follow https://github.com/phpmyadmin/docker/issues/352 to keep in track this issue

[2022-02-04 17:49] #17316 closed

[2022-02-04 17:51] williamdes commented on #17314
Hi @seanjsteiner
Could you try the latest 5.1 version in development [(phpMyAdmin 5.1+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.1+snapshot) and let me know if this persists ?
A bunch of fixes where made about exporting views

cc @iifawzi

[2022-02-04 21:13] liviuconcioiu opened #17339 "Multiple backticks in ORDER BY clause when clicking on column header"
### Describe the bug

Additional backticks are added to the query, when clicking on column header, to sort ASC/DESC.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=sakila&table=payment](https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=sakila&table=payment)
2. Run this query SELECT \`customer_id\`, SUM

[2022-02-04 22:05] nunoperalta opened #17340 "New Table -> VIRTUAL attribute is lost when adding new column"
### Describe the bug

In the New Table page,
The VIRTUAL attribute is lost when we add new column (pressing "Go").
The Expression isn't lost, so if we put the "VIRTUAL" attribute again, the Expression field appears just below, with the saved expression.

The problem is that if you don't notice this after adding a new column,
that column will not be VIRTUAL when you Save/Create the new table.

###

[2022-02-05 00:27] liviuconcioiu opened #17342 "Uncaught TypeError: can't access property "split", string is undefined"
### Describe the bug

When a very large query is run from SQL tab, and `index.php?route=/database/sql/format` can't keep up with formatting, it responds with an invalid JSON object, that throws this JavaScript error. The invalid JSON object has a PHP fatal error.
`Fatal error: Maximum execution time of 30 seconds exceeded in /usr/share/phpMyAdmin/vendor/phpmyadmin/sql-parser/src/Lexer.php on line

[2022-02-05 13:51] kitscoms opened #17343 "(HY000/1045): Access denied for user 'K17'@'localhost' (using password: YES)"
### Describe the bug

it shows mysqli::real_connect(): (HY000/1045): Access denied for user 'K17'@'localhost' (using password: YES)

### To Reproduce

Steps to reproduce the behavior:
Log in with K17
using password

### Expected behavior

mysqli::real_connect(): (HY000/1045): Access denied for user 'K17'@'localhost' (using password: YES)

### Screenshots

If applicable, add screenshots to help exp

[2022-02-05 14:43] mauriciofauth commented on #17339
Hi @liviuconcioiu. Thank you for all your reports.

There is no issue here. MySQL/MariaDB creates a column name called ``SUM(`amount`)`` and you want to use that column to order the results. So to not confuse the column name with the function, the backticks are added to escape it, but because the name already has backticks in it, phpMyAdmin adds a backtick before each backtick to escape them.

Fro

[2022-02-05 14:43] #17339 closed

[2022-02-05 15:35] ibennetch commented on #17343
Hi, this seems like a local problem relating to your user account. Are you able to connect from the `mysql` command line client? Most likely either your password is wrong, the user account doesn't exist, or you are connecting via sockets (host `localhost`) when the user account is configured for host value `127.0.0.1` or `%`. The MySQL wildcard character % only matches TCP/IP connections, so if yo

[2022-02-05 17:32] #17292 closed

[2022-02-06 00:14] williamdes commented on #17342
Hi @liviuconcioiu
Would you mind giving the query ?
Can you reproduce this on our demo servers ?

[2022-02-06 00:19] williamdes commented on #17340
Hi @nunoperalta
I can confirm this bug, it also occurs with index names

[2022-02-06 00:33] williamdes commented on #17239
Answer to myself: Yes, in 5.1 repeating headers do not work

[2022-02-06 01:00] williamdes commented on #17239
Cherry-picked into 5.1 as b5a6729886f27e614fee113209aa5bd166f6699b

[2022-02-06 01:03] liviuconcioiu commented on #17342
I can't reproduce on the demo server, because sometimes I've received a request entity too large error from nginx and probably the server is not on heavy load. Also, I've mistakenly wrote run instead of format. It happens when you format a query, not run it.

I've lowered the max_execution_time on localhost, to 5 seconds, and then I tried to format the query attached, and I was able to reproduce t

[2022-02-06 01:07] williamdes commented on #17342
Thank you !
Some benchmarking should be done to see if we can improve the parser a bit more

[2022-02-06 01:07] liviuconcioiu commented on #17342
Here is a video too

https://user-images.githubusercontent.com/25424343/152664256-1edb9759-b0bb-4b3b-85a9-07fa980cc8fe.mp4

[2022-02-06 01:09] williamdes commented on #17302
Hi @mauriciofauth
What would you suggest to fix this in 5.1 and 5.2 ?

[2022-02-06 01:21] williamdes commented on #17342
Probably upstream codemirror should add some type check, I will have another try to have this error on my end once more

[2022-02-06 02:29] williamdes commented on #17298
Hi @mokraemer

I did start to fix this bug, could you try this on your side ?

[code]

[2022-02-06 02:31] williamdes commented on #17275
This is maybe fixed by #17290 now

[2022-02-06 12:49] williamdes opened #17344 "[import ODS] Fatal error: Uncaught TypeError: strcmp(): Argument #2 ($string2) must be of type string, float given"
### Describe the bug

While working on #17298 I created a file that throws a bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Import this file into a DB: [import-email-test.ods](https://github.com/phpmyadmin/phpmyadmin/files/8010206/import-email-test.ods)

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 5.1.3-dev

Add any other context about the p

[2022-02-06 14:00] williamdes commented on #17173
Hi @liviuconcioiu

I do not understand the full process, would you mind making a video ?

[2022-02-06 14:08] williamdes commented on #17239
Also e84e1bda0233910e15c5d7e7bb52d3d246573437 to fix:
![image](https://user-images.githubusercontent.com/7784660/152684578-11e22c78-1ac8-4787-ac7a-080fe7eea131.png)

[2022-02-06 14:47] #17288 closed

[2022-02-06 14:47] #17298 closed

[2022-02-06 14:47] #17344 closed

[2022-02-06 15:17] fakhamatia opened #17345 "Add repository for Ubuntu 21.10"
Please Add repository for Ubuntu 21.10 Impish Indri

[code]

[2022-02-06 15:37] liviuconcioiu commented on #17173
Here it is. I think it happens because after you click Apply, the route is change to import from sql.
https://user-images.githubusercontent.com/25424343/152688411-cd0f0144-3ad2-4f3d-bb15-e8050379c7be.mp4

[2022-02-06 16:40] ibennetch commented on #17345
Thanks for the report.

Assigned to @williamdes.

[2022-02-06 17:45] williamdes commented on #17345
I am holding the release into Debian and Ubuntu until we release 5.1.3, so that should not be in a long time

Thank you for the report

Everything is packaged and ready, just waiting for the latest phpMyAdmin fixes (#17308 is the one I really want to have included)

[2022-02-06 18:15] williamdes commented on #17173
Thank you !
I had a quick look to the code, it is not very easy to fix. Will try another time

[2022-02-06 18:45] williamdes commented on #17296
I searched for a solution but I am not sure the links can be kept as at this moment the code does not have the DB names.
Code: `Results::getSpecialLinkUrl`

[2022-02-06 19:37] liviuconcioiu opened #17346 "Cannot create table #1171 - All parts of a PRIMARY KEY must be NOT NULL; if you need NULL in a key, use UNIQUE instead"
### Describe the bug

I received this error when I try to create a table.

Cannot create table #1171 - All parts of a PRIMARY KEY must be NOT NULL; if you need NULL in a key, use UNIQUE instead

On QA_5_1 works, on master it doesn't (it adds the UNIQUE key as PRIMARY). The queries are different.

[code]

https://user-images.githubusercontent.com/25424343/152698298-e4e1ec9b-496a-40d7-b232-e67489b25

[2022-02-06 19:49] williamdes commented on #16954
I just had a look to the code of the warning and for me this is legacy useless code, but I will check once more to figure out what can be done. See: #15261

Apart from this I need to investigate this issue since the warning is a warning and should not technically block a confirmation popup

[2022-02-06 19:50] williamdes commented on #16903
Duplicate of #15261

[2022-02-06 19:50] williamdes commented on #16903
Lets focus on #15261 since this warning code is most probably triggered by this line
https://github.com/phpmyadmin/phpmyadmin/blob/51a79fecc2cf48e1e88a52e6c205115384483e70/js/src/ajax.js#L539

[2022-02-06 19:50] #16903 closed

[2022-02-06 19:55] williamdes commented on #17346
This is interesting, thanks for the report. For the record this is MySQL 8.0.18

[2022-02-06 20:12] liviuconcioiu opened #17347 "Uncaught TypeError: Cannot read properties of undefined (reading 'col_index') and Uncaught TypeError: Cannot read properties of undefined (reading 'columns')"
### Describe the bug

While playing with #17346, I've received Uncaught TypeError: Cannot read properties of undefined (reading 'col_index') and Uncaught TypeError: Cannot read properties of undefined (reading 'columns').

### Screenshots

https://user-images.githubusercontent.com/25424343/152699507-d56eb2c8-98f8-4559-95a2-59f1e6c4269e.mp4

### Server configuration

- phpMyAdmin version:

### Addi

[2022-02-06 23:52] liviuconcioiu opened #17348 "<code> is not interpreted correctly on Preferences > Export"
### Describe the bug

<code> is not interpreted correctly on Preferences > Export

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/index.php?route=/preferences/export](https://demo.phpmyadmin.net/master/index.php?route=/preferences/export)
2. Search for `Use <code>LOCK TABLES</code> statement`

### Expected behavior

A clear and concise description o

[2022-02-07 09:36] williamdes commented on #17348
Only affects QA_5_2 and master

[2022-02-07 09:39] williamdes commented on #17347
From the video I would not say it affects 5.1, can you confirm ?

[2022-02-07 11:38] garak opened #17349 "Version 5.1.2 is not released on packagist"
### Describe the bug

I tried to install phpmyadmin via `composer create-project` and I realized that the version is not up to date (its' 5.1.1 instead of 5.1.2).
So I checked on https://packagist.org/packages/phpmyadmin/phpmyadmin and actually the version is missing.

### To Reproduce

1. execute `composer create-project phpmyadmin/phpmyadmin`.
2. open your just installed phpmyadmin instance and

[2022-02-07 12:29] williamdes commented on #17349
Duplicate of phpmyadmin/scripts#45

[2022-02-07 12:42] liviuconcioiu commented on #17347
Hi @williamdes! 5.1 is not affected.

[2022-02-07 13:17] williamdes commented on #17188
Thank you for the report and fix @MoonE
Sorry for the response time

[2022-02-07 16:01] #17055 closed

[2022-02-07 18:34] liviuconcioiu opened #17352 "Failed to set session cookie error message instead of logging in"
### Describe the bug

If there are more than one tab open, sometimes an error is shown instead of logging in.
`Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.`

### To Reproduce

Steps to reproduce the behavior:
1. Have two tabs open and logged in
2. Log out from second tab
3. Log out from first tab
4. Log in on second tab
5. `Failed to set session coo

[2022-02-07 18:59] williamdes commented on #17352
I think you have tried with the demo server that seems to have config issue

[2022-02-07 19:01] liviuconcioiu commented on #17352
It happens on my machine too, so there is no config issue.

[2022-02-07 19:13] williamdes commented on #17352
Oh okay, 5.1 also ?

[2022-02-07 19:23] liviuconcioiu commented on #17352
Yes

[2022-02-07 19:24] kamil-tekiela opened #17353 "Column dropped unintentionally"
### Describe the bug

The last command that showed the confirmation popup seems to be remembered and is executed whenever another command is triggered.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Structure' tab of any table
2. Click on 'Drop' button beside any column
![image](https://user-images.githubusercontent.com/6583064/152857037-2db4a742-fdbd-439b-a44e-bf652ee853fc.png)

3.

[2022-02-07 19:36] JustOneMoreBlock commented on #16676
Unfortunately, I was forced to do this today on 5.1.2

[code]

[2022-02-07 20:52] liviuconcioiu opened #17354 "rte.js is missing from QA_5_2 only"
### Describe the bug

rte.js is missing from QA_5_2 only (not affecting master) - [https://demo.phpmyadmin.net/QA_5_2/js/dist/rte.js](https://demo.phpmyadmin.net/QA_5_2/js/dist/rte.js)

### Server configuration

- phpMyAdmin version: 5.2

[2022-02-07 22:46] liviuconcioiu opened #17355 "phpMyAdmin resets session data when server runs out of memory"
### Describe the bug

I don't know if is related to phpMyAdmin or not, but when server runs out of memory and phpMyAdmin is on Monitor page, the session is deleted, and it ask for a refresh and it prompts again for user/password. I also think that is related to #17283.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### E

[2022-02-07 22:54] mauriciofauth commented on #17354
Hi @liviuconcioiu.
This is intentional. There should be no `rte.js` file in `QA_5_2` and `master` branches.
Did you receive an error or warning about this?

[2022-02-07 23:02] williamdes commented on #17354
Maybe a merge mistake in 65c9f49c1e994a7465207636da11485cbc853b19
Could you have a look @mauriciofauth ?

[2022-02-07 23:06] liviuconcioiu commented on #17354
I've received a 404 error in Network Monitor.

[2022-02-07 23:21] #17354 closed

[2022-02-07 23:21] mauriciofauth commented on #17354
Fixed. Thank you @liviuconcioiu and @williamdes.

[2022-02-07 23:22] liviuconcioiu commented on #17355
I don't think is related to the memory issue, at least no error over SSH when importing data, and not related to the cookie validity even if is set to last more than enough. After 6 minutes this time, the session was deleted. Probably related to script execution that fails and responds with a different JSON object than required for Monitor page.

![x11](https://user-images.githubusercontent.com/25

[2022-02-08 02:23] liviuconcioiu commented on #17353
I can confirm it happens on master. The first time wasn't any message at all, the second time, was an error that the column was already deleted and cannot add index.

https://user-images.githubusercontent.com/25424343/152905687-3ccaaca5-2d7d-43c1-8299-00bf32b96522.mp4

[2022-02-08 05:14] liviuconcioiu commented on #17355
I've increased the max_connections number and no longer happens. But still, it shouldn't remove the session if no connection could be made.

[2022-02-08 09:10] BastienDurel commented on #16676
BTW, 5.1.2 is not on packagist

[2022-02-08 09:27] MordiSacks commented on #17229
Just updating that as of chrome 98.0.4758.80 2FA via U2F is broken :(
Thank you for taking this issue in high priority

[2022-02-08 11:03] williamdes commented on #16676
#17349

[2022-02-08 15:15] miklcct opened #17357 "Adding subquery into select list causes fatal error"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Create tables `journeys`, `tickets`, `ticket uses` which the schema is valid for the following query
2. Run the following query:
[code]

### Expected behavior

The result shows.

### Actual behavior
It shows error, and logs the following in Apache:
[code]

If applicable,

[2022-02-08 15:31] ibennetch commented on #16676
5.1.2 should now be fixed. Thanks.

[2022-02-08 15:43] #17349 closed

[2022-02-08 21:00] tarbuh opened #17358 "New Window button opens an error after import or drop"
### Describe the bug

The small New Window on the bottom right opens an error message if clicked after a database import (successful or not), or after dropping tables.

### To Reproduce

1. Select a database
2. Click Import
3. Browse and select the dump file
4. Click on Go
5. When the import is completed, click on the New Window button on the bottom right.
6. Error "Incorrect format parameter" app

[2022-02-09 03:11] liviuconcioiu opened #17359 "Undefined property: PhpMyAdmin\ConfigStorage\RelationParameters::$columnInfo"
### Describe the bug

If `phpmyadmin` database already exists on the server, table renaming works but it gives an SQL error (UPDATE \`phpmyadmin\`. - missing table name from query).

If you ignore the error and click on database name, `Undefined property: PhpMyAdmin\ConfigStorage\RelationParameters::$columnInfo` warning is given.

### To Reproduce

Steps to reproduce the behavior:
1. Have an exist

[2022-02-09 11:38] williamdes commented on #16865
Hi @niksfirefly
Since 5.1.2 and 4.9.9 you can use [`$cfg['Servers'][$i]['hide_connection_errors']`](https://docs.phpmyadmin.net/en/release_5_1_2/config.html#cfg_Servers_hide_connection_errors)