[2019-11-06 20:52] ibennetch commented on #15559
Thanks for the good information. Sounds like you and your team are doing good research in to this. Sadly, I don't have an immediate answer for you about what else could be going on.

When using memcached, sessions are handled through memcached directly (see for instance https://www.digitalocean.com/community/tutorials/how-to-share-php-sessions-on-multiple-memcached-servers-on-ubuntu-14-04). I pres

[2019-11-06 22:36] mossmoss commented on #15559
I shut down one of the nodes and still get the error. Each time this occurs, instead of loading the page, there is a 302 redirect to the Shibboleth Identity Provider.

Attached to the 302 there are a few set-cookie directives, 2 for Shibboleth (_shibsession & _shibsealed) and 1 for the ALB (AWSALB). The two for Shibboleth cookies have expiry dates in 2001, the AWSLB has expiry (expires) date a wee

[2019-11-06 23:52] williamdes commented on #15559
@mossmoss I will try to replicate on my setup ASAP this week
I installed an ELB and a SSO using Amazon Cognito

[2019-11-07 11:13] Aboelfotoh83 commented on #11922
Thank you for this solution.

https://e3raph.com

[2019-11-07 11:16] Aboelfotoh83 commented on #12232
Did you find a solution for this problem? I am facing it right now. I don't know if phpmyadmin is considering this letter [English Language](https://e3raph.com/) or not.

[2019-11-07 20:31] mossmoss commented on #15559
I think the issue might now be resolved for me. In my shibboleth2.xml file (for the shibd / SP Apache module), within the Sessions element, I set consistentAddress to false. I think this is necessary because our ALB has two IP addresses. I imagine the error occurs when the request is sent to a different ALB IP than what initiated the auth to the Shibboleth IdP -- even though the ALB member nodes s

[2019-11-07 20:44] #14909 closed

[2019-11-08 04:13] rabeehrz commented on #15491
Hi, I’m new here. I would love to contribute to phpMyAdmin and I think this is an issue I can work on. Can someone tell me what exactly I should implement?

P.S: I’m just starting open source contribution and I might be a bit slow, but I love to learn! So.

[2019-11-08 14:07] Tithugues commented on #15491
Hi,

I wanted to work on it, but didn't yet find time to do it…

Here is the way I expected to do it:
* Retrieve all MySQL password policy variables
* Share them with JS (as it's done for "Messages")
* Use these variables in the current JavaScript function to generate the new password
* Smile

[2019-11-08 15:00] raimundmeyer opened #15561 "Add possibility to empty BLOB fields"
### Is your feature request related to a problem? Please describe.
There is no way to clear a BLOB field as far as I can see. You can only download in the table browse view or upload in the edit view.

### Describe the solution you'd like
There should be a possibility to clear the data of one BLOB field, e.g. with a button next to the download link or upload input, respectively. See mockup screens

[2019-11-08 17:18] rabeehrz commented on #15491
Sure, Will work on it. Thanks! :D

[2019-11-08 20:44] Gaurav-Punjabi commented on #15561
Can I work on this one?

[2019-11-08 21:03] Tithugues commented on #15491
For information, here is the list of variables: https://dev.mysql.com/doc/refman/5.7/en/validate-password-options-variables.html

[2019-11-08 21:15] ibennetch commented on #15561
Sure Gaurav, go right ahead. This is a worthy improvement. Your work should Target the “master” branch in Git.

[2019-11-09 05:05] rabeehrz commented on #15491
Yeah, I saw that earlier. And I did devise a solution exactly the same as yours. But I didn't know how to share those variables with JS. Since somewhat similar is already implemented, I'll look the code and make something similar.
Thanks

[2019-11-09 14:10] williamdes commented on #15559
Thank you @mossmoss for the explanation

Closing since this issue seems solved, reply here if you need to add more information or re-open

[2019-11-09 14:10] #15559 closed

[2019-11-09 20:39] williamdes commented on #14951
@adwiv Thank you so much for your comment!
Making the fix soon

[2019-11-09 22:43] williamdes commented on #14951
Hi @adwiv thanks for your patience !
can you try to apply 8aad190ae035ec36db9376375473c709c6341fb0 ?

You can also add e9ad2bc153c8e7c6a079aa6f12ddca590451d40c

[2019-11-10 13:07] williamdes commented on #15370
@Tithugues thank you for the research, I do not know how to fix it

[2019-11-10 16:34] OGJAYYOU commented on #15515
how do i open the phpmyadmin dashboard im pretty new to ubuntu

[2019-11-10 16:35] williamdes commented on #15515
@OGJAYYOU if I remember well you need to browse http://localhost/phpmyadmin
But the apache config can help you to find out :)

[2019-11-10 16:36] OGJAYYOU commented on #15515
wait my phpmyadmin might not be working

[2019-11-10 16:39] OGJAYYOU commented on #15515
does that sudo add-apt-repository ppa:phpmyadmin/ppa work ??? this link here did not install phpmyadmin

[2019-11-10 16:41] williamdes commented on #15515
@OGJAYYOU you need to do
[code]

[2019-11-10 16:47] OGJAYYOU commented on #15515
@williamdes thanks boss you did a good job

[2019-11-10 17:08] williamdes commented on #15236
:tada: https://tracker.debian.org/news/1078745/accepted-phpmyadmin-4491dfsg1-2-source-into-unstable/

one step closer to get phpMyAdmin insto buster-backports

[2019-11-10 17:48] williamdes commented on #15465
[code]
Source: https://stackoverflow.com/a/38586825/5155484

Reproduced.

[2019-11-10 18:04] OGJAYYOU commented on #15515
my dpkg isnt working anymore need help unistalling phpmyadmin

[2019-11-10 18:40] williamdes commented on #15465
If someone wants to find a fix, the starting point is:
https://github.com/phpmyadmin/phpmyadmin/blob/9178602e6c7537ece7afc3265b70fb854c84bfde/libraries/classes/Sql.php#L2240-L2271

`$profiling_results` is sent only if there is one or more rows to display

[2019-11-10 18:42] williamdes commented on #15379
must be a 32bit system issue ?

[2019-11-10 19:03] williamdes commented on #15515
@OGJAYYOU `apt-get purge phpmyadmin`
but can you explain the issue ?

[2019-11-10 19:05] williamdes commented on #15309
@celestinoxp this issue is fixed with phpMyAdmin 4.9.1

[2019-11-10 19:05] #15309 closed

[2019-11-10 19:21] williamdes commented on #13222
Duplicate of #12241

[2019-11-10 19:21] williamdes commented on #13222
Will be fixed as #12241

[2019-11-10 19:21] #13222 closed

[2019-11-10 19:22] williamdes commented on #14612
Duplicate of #12241

[2019-11-10 19:22] williamdes commented on #14612
Will be fixed as #12241

[2019-11-10 19:22] #14612 closed

[2019-11-10 19:23] williamdes commented on #13187
Duplicate of #12241

[2019-11-10 19:23] williamdes commented on #13187
Will be fixed as #12241

[2019-11-10 19:23] #13187 closed

[2019-11-10 19:23] williamdes commented on #15316
Duplicate of #12241

[2019-11-10 19:23] williamdes commented on #15316
Will be fixed as #12241

[2019-11-10 19:23] #15316 closed

[2019-11-10 19:26] williamdes commented on #14691
Duplicate of #12241

[2019-11-10 19:26] williamdes commented on #14691
Will be fixed as #12241

[2019-11-10 19:26] #14691 closed

[2019-11-10 20:21] #12241 closed

[2019-11-10 20:21] #14951 closed

[2019-11-10 21:16] williamdes commented on #15374
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2019-11-10 21:16] #15374 closed

[2019-11-10 21:18] williamdes commented on #15249
Not reproduced anymore

[2019-11-10 21:41] williamdes commented on #14809
Reproduced !
Version: 5.0
Create a table with blob fields, then insert a row using files.

[2019-11-10 22:17] williamdes commented on #13912
[code]

[2019-11-11 06:56] OGJAYYOU commented on #15515
ok the thing is i first installed mysql but that was days ago then yesterday when i installed phpmyadmin, the installation process failed with some error and assumed it was because of mysql configuration. now when i managed to uninstall both phpmyadmin and mysql, it didnt remove the databases because when i reinstall the LAMP stack it brings back the old databases plus its not bringing up the term

[2019-11-11 07:22] williamdes commented on #15515
@OGJAYYOU are you affected by https://bugs.launchpad.net/ubuntu/+source/phpmyadmin/+bug/1652359?

[2019-11-11 08:15] #13176 closed

[2019-11-11 09:58] williamdes commented on #13322
Can not be reproduced anymore, fixed. :tada:

[2019-11-11 09:58] #13322 closed

[2019-11-11 11:13] williamdes commented on #13912
@aavinseth can you try #15565 if you still have the server ?

[2019-11-11 14:00] williamdes opened #15566 "Designer RTL mode"
Nothing more to say, if you need details :ping_pong: me.
![designer](https://user-images.githubusercontent.com/7784660/68592663-df394f00-0493-11ea-832d-9ca03622eaec.jpg)

[2019-11-11 19:54] #13912 closed

[2019-11-11 19:54] #14809 closed

[2019-11-11 19:54] #15123 closed

[2019-11-11 19:54] #15127 closed

[2019-11-12 17:00] Blaimi commented on #15515
You need to purge mysql also. uninstall is not enough to delete all databases.

[2019-11-12 21:26] OfficialOzioma commented on #15566
Hi i will like to work on this, would you mind been a ### **mentor** and providing me with ### **details**

[2019-11-12 21:38] Tithugues opened #15569 "Panels on home page not correctly displayed"
### Describe the bug

From [this commit](https://github.com/phpmyadmin/phpmyadmin/commit/01f8f39737395650c121adaf4cd1ac761785c59c), the panels are not displayed correctly anymore.
Also, the 2 first tabs of the settings page have the same issue.

### To Reproduce

Steps to reproduce the behavior:
1. Switch to master
2. Go to home page

### Screenshots

Here is expected display;
![image](https://use

[2019-11-13 07:50] ShailuJain commented on #15569
I am new to contribution can anyone guide me to take up this issue?

[2019-11-13 08:36] asprazz opened #15570 "Page contents go underneath of floating menubar in some cases"
### Describe the bug
Similar to #15127 of version 4.9.x  A shift of panels is happening in version 5.0.12-dev

A clear and concise description of what the bug is.

### To Reproduce
Steps to reproduce the behavior:
1. Go to any database
2. Go to designer tab
2. Refresh the page or press 'f5'
3. Then redirect to homepage by either clicking on 'phpMyadmin' logo
    or 'home' button on the top left
4.

[2019-11-13 09:40] raimundmeyer opened #15571 "Fatal error when trying to edit row with row checked and button under the table"
### Describe the bug

When selecting one or several rows with the checkbox in the row view and clicking the edit button, a fatal PHP  error is thrown

### To Reproduce

Steps to reproduce the behavior:
1. Go to browse view of a table that has entries
2. check  the checkbox in the row
3. click "Edit" below the table view
4. PHP error:

Stack trace:
#0 /var/www/phpmyadmin/libraries/entry_points/tabl

[2019-11-13 10:25] OGJAYYOU commented on #15515
i managed to install phpmyadmin and LAMP stack. however my new error reads

mysqli_real_connect(): (HY000/2054): The server requested authentication method unknown to the client

[2019-11-13 10:27] OGJAYYOU commented on #15515
i think its because i wrote my system using php and mysqli, so my question is what should i do to perharps not get this error????

[2019-11-13 15:10] OfficialOzioma commented on #15569
I has this been fixed?

[2019-11-13 16:32] jordanmiguel commented on #15463
This is really useful. Worked here!

[2019-11-13 16:39] ShailuJain commented on #15569
@williamdes I am not able reproduce this issue on the latest commit. Can you help? I want to contribute .

[2019-11-13 17:51] williamdes commented on #15566
@OfficialOzioma I think it is better that you chose another issue because the designer is a tough piece of code.
You can find issues in https://github.com/phpmyadmin/phpmyadmin/projects/7 in "reproduced"

[2019-11-13 17:53] williamdes commented on #15569
I agree, seems fixed
@Tithugues maybe you did not run `yarn run css-compile` ?

[2019-11-13 17:53] williamdes commented on #15515
@OGJAYYOU seems like #15217  to me

[2019-11-13 17:54] williamdes commented on #15515
[edit] #14220

[2019-11-13 22:35] williamdes commented on #14393
For me #15475 and https://github.com/phpmyadmin/phpmyadmin/commit/44e168d7d33f4d15d4b16056f32b9db24b5f8bf9 closed this issue

[2019-11-13 22:35] #14393 closed

[2019-11-13 22:37] williamdes commented on #13951
https://github.com/phpmyadmin/sql-parser/blob/master/CHANGELOG.md#440---2019-11-12

[2019-11-13 22:37] #13951 closed

[2019-11-13 22:37] williamdes commented on #15497
https://github.com/phpmyadmin/sql-parser/blob/master/CHANGELOG.md#440---2019-11-12

[2019-11-13 22:37] #15497 closed

[2019-11-14 04:13] OGJAYYOU commented on #14220
mysqli_real_connect(): The server requested authentication method unknown to the client [caching_sha2_password]
mysqli_real_connect(): (HY000/2054): The server requested authentication method unknown to the client
Connection for controluser as defined in your configuration failed.
mysqli_real_connect(): The server requested authentication method unknown to the client [caching_sha2_password]
mysqli

[2019-11-14 04:30] asprazz commented on #15465
Hie I am not clear about profiling output, what kind of profile output do we want..
I am getting
`  MySQL returned an empty result set (i.e. zero rows). (Query took 0.0005 seconds.) `
is this one?

[2019-11-14 07:20] Tithugues commented on #15569
@williamdes , I've never run this command before. :confused:
But I'll try and see if it fixes the issue!
Thank you.

[2019-11-14 07:20] OGJAYYOU commented on #14220
i changed the method to mysql_native_password and it worked then i also checked config.db.php and renewed the old variables(username and password).

[2019-11-14 07:21] OGJAYYOU commented on #15515
thanks @williamdes i finally made it even though it took me a very long time but i managed to attain what i wished for, you really did a good job brother. i appreciate it

[2019-11-14 07:23] OGJAYYOU commented on #15515
![21](https://user-images.githubusercontent.com/52784179/68835321-6e2aaf00-06c0-11ea-9420-92e4c13ff204.png)

[2019-11-14 09:39] SugarD-x commented on #14220
That is still a temporary workaround, not a long-term solution. Once the appropriate version of PHP comes out that resolves this problem, it won't be an issue anymore.

[2019-11-14 12:06] AshwinGinoria commented on #15569
Hello Everyone, I am Ashwin Ginoria. I am currently studying Computer Science Engineering in IIT Mandi. I would like to work on this issue if it hasn't been fixed already. I am new to open-source so I'll be very grateful if someone can guide me through my first issue.
Thank You all

[2019-11-14 13:22] mauriciofauth commented on #15569
This is not a bug. You have to compile your CSS files again with `yarn run css-compile` to get the current styles. The command `yarn install` also runs the CSS compiler script.

[2019-11-14 13:22] #15569 closed

[2019-11-14 15:31] edgarasg commented on #15485
Any progress?

[2019-11-14 19:33] williamdes commented on #15485
@edgarasg do you have phpmyadmin configuration storage enabled?
Do you use innodb?

I am working on the issue locally

[2019-11-15 00:34] AshwinGinoria commented on #15249
Hi everyone I am Ashwin Ginoria. I have been wanting to contribute to the open-source community for a long time now but I don't know where to start.I am willing to work on this issue and will be really greatfull if someone can walk me through my first contribution.
Thanks

[2019-11-15 08:27] Tithugues commented on #15571
As the 3rd parameter is not used in the function, I think we can just remove it. We won't have the error anymore.

[2019-11-15 21:09] edgarasg commented on #15485
Yes to both questions :)

[2019-11-16 08:59] VikMuss opened #15574 "Warning in ./libraries/sql.lib.php#613 count(): Parameter must be an array or an object that implements Countable"
### Describe the bug

Each time I switch between tables in a list for a current database I get a warning "Warning in ./libraries/sql.lib.php#613 count(): Parameter must be an array or an object that implements Countable"

### To Reproduce

Steps to reproduce the behavior:
1. Login to PMA as a database user
2. Choose any of your databases to expand a list of its tables
3. Click on any table to view

[2019-11-16 09:01] williamdes commented on #15574
Duplicate of #14273

[2019-11-16 09:02] #15574 closed

[2019-11-16 09:04] williamdes commented on #15574
Hello @VikMuss this issue is already patched, we are working on packaging a new version on debian (#15236) and if you use Ubuntu you can use our PPA before Ubuntu has the version we build on Debian (#15515)

Thank you for reporting the issue

[2019-11-16 09:11] VikMuss commented on #15574
You're always welcome, sir! :)
Thanks for the information. Have a lovely day

[2019-11-16 09:14] DavidBruchmann commented on #11783
changing the PHP version should help to avoid the error-message completely

[2019-11-16 12:14] techievivek commented on #15541
I am trying to look into this issue and would like to suggest that we do frontend validation for the supported file type.
One way is
[code]
And we can also have backend logic to check file extension and then do the database query.
Here are some possible shapefiles, I have chosen one that is related to database operation(.atx,.ain,.aih,.dbf)
I hope this might help.

[2019-11-16 12:32] techievivek commented on #15523
I tried reproducing the error but was unable to do, if you could narrate the step it will be better.
I am attaching a snapshot of  editing distinct tag name from **search** to **Changed search to Query**
![tag1](https://user-images.githubusercontent.com/35863227/68993134-8e15ca80-089a-11ea-859d-c668aab7c7f5.png)

<hr>

![tag2](https://user-images.githubusercontent.com/35863227/68993135-90782480-08

[2019-11-16 12:40] miklcct commented on #15523
The following is the schema of the table.

[code]

[2019-11-16 12:44] OverRide-BT commented on #15541
The most  secure way is make validation on the file type (extension) in the back end , in the fronted it can bypass with (intercept the request via web proxy and change the extension with any thing else to escape from the front validation)

the back end validation to check related database operation

recommendation :

Add new function in the back end like :

if(isset($images)) {

   //do this for

[2019-11-16 12:48] techievivek commented on #15541
Yes, i agree to you. I suggested for both the frontend as well backend.

[2019-11-16 12:57] OverRide-BT commented on #15541
Sure , because it missing  for secure validation in back end also  , i hope that fix soon

[2019-11-16 19:14] FernandoGarcia commented on #15309
Hi @williamdes !
I'm experiencing this error in phpMyAdmin 4.9.1 and PHP 7.3.11.

![phpmyadmin](https://user-images.githubusercontent.com/2778501/68998048-ed201300-088b-11ea-8fee-cd2b526e07ab.png)

![phpmy](https://user-images.githubusercontent.com/2778501/68998059-12148600-088c-11ea-9a0f-5590727a35cb.png)

Moreover I have many warnings about deprecated JQuery function like [this](https://github.c

[2019-11-16 19:26] williamdes commented on #15309
@FernandoGarcia can you send the php error log ?

[2019-11-16 19:47] ShailuJain commented on #15465
I have solved this issue @williamdes do review my pr #15573

[2019-11-16 19:53] FernandoGarcia commented on #15309
I can't see any related error in /var/log/apache2/error.log.

The last log is:

[code]

[2019-11-16 20:13] williamdes commented on #15309
@FernandoGarcia If you could track down the error or find something that would help us I would be so glad ;)

[2019-11-16 21:12] FernandoGarcia commented on #15309
It should be a javascript error because I can see a response for ajax request on console.

[2019-11-16 21:24] FernandoGarcia commented on #15309
mmmmm After many refreshes the page was rendered.

[2019-11-16 23:39] AshwinGinoria commented on #15571
Hello, I would like to help but this would be my first contribution so can somebody guide me a bit ??

[2019-11-17 00:06] williamdes commented on #15571
Follow the steps:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout QA_4_9 branch since it is an bug fix and create a new branch from QA_4_9
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Start developing the fix
- Do not forget to use [`--signoff`](https://git-scm.com/docs/g

[2019-11-17 08:08] AshwinGinoria commented on #15571
The QA_4_9 branch of My fork is showing "This branch is 1 commit behind". Is that a problem ?
If yes how to remove it ??

[2019-11-17 09:23] williamdes commented on #15571
I would say no in most cases

You can do:
[code]
Warning: I hope you followed the advice to create a branch for the fix because the script will reset and sync the `QA_4_9` branch as it is on our repo.

[2019-11-17 10:16] AshwinGinoria commented on #15571
I was following the installation instructions given in the documentation.
the repository got cloned successfully but I am getting the following error when running composer update. I tried googling it but couldn't find much there. please Help
![Screenshot from 2019-11-17 15-42-25](https://user-images.githubusercontent.com/43852150/69006164-4f8f1700-0951-11ea-9326-bd1ae117836b.png)

[2019-11-17 10:35] williamdes commented on #15571
@AshwinGinoria you seem to have a connexion issue, try another time
We can not help much but re-trying is the best option, if you have a bad Internet connexion it can be difficult to pass this step without some patience :)

[2019-11-17 10:42] AshwinGinoria commented on #15571
Done!! :D
I was on my college network which uses a proxy server so I switched to my phone's hotspot.

[2019-11-17 12:11] milosilic commented on #14217
Hi,
If anyone is struggling on installing phpmyadmin on ubuntu 18.04 and mysql 8, here is the guide that will lead you through manual installation of latest stable phpmyadmin version.

[how-to-install-latest-phpmyadmin-on-ubuntu-18-04](https://computingforgeeks.com/how-to-install-latest-phpmyadmin-on-ubuntu-18-04-debian-9/)

[2019-11-17 22:18] AshwinGinoria commented on #15571
phpmyadmin is now installed but it is unable to connect to mysql. The error I'm facing is

![Screenshot from 2019-11-18 03-43-59](https://user-images.githubusercontent.com/43852150/69015039-22288480-09b6-11ea-9e22-38faabe609f0.png)

This is my config.inc.php file

`<?php
$cfg['blowfish_secret'] = 'xampp';
$i = 0;
$i++;

/* Authentication type and info */
$cfg['Servers'][$i]['auth_type'] = 'config'

[2019-11-17 22:42] AshwinGinoria commented on #15571
phpmyadmin installed successfully, Thank You very much for help!! :D
But now it automatically logs my into phpmyadmin Not prompting me for username/password (Is that expected Behavior ??
Also when I press logout it shows :

![Screenshot from 2019-11-18 04-08-38](https://user-images.githubusercontent.com/43852150/69015421-a6c8d200-09b9-11ea-81f3-18ab6ef9106a.png)

[2019-11-17 23:56] LeTanUSF commented on #14801
Is there anything left to work on?

[2019-11-18 06:13] Tithugues commented on #15571
@AshwinGinoria , there is a message you sent (and probably deleted) telling that in your configuration, you have: `$cfg['Servers'][$i]['auth_type'] = 'config';`
So yes, it's the expected behavior that you don't need to log in.
For the log out… I don't know, but I'm pretty sure this is not something important for now.

Can you reach other pages? Do some actions? If yes and yes, then you should now

[2019-11-18 07:05] EvgenyGitHubAcc opened #15575 "Support of MariaDB-like DBMS"
Dear Colleagues,
I am working with MariaDB fork of DBMS, but it has another name and is not recognized by phpMyAdmin. Is it possible to make some little changes in PMA config/source for my DBMS support?

[2019-11-18 07:08] AshwinGinoria commented on #15571
No, The error wasn't Reproduced my machine.
I followed the steps as given in the bug description and I think I got the edit view as expected (Not sure what edit view is ) .

![Screenshot from 2019-11-18 12-34-47](https://user-images.githubusercontent.com/43852150/69031422-1b266400-0a00-11ea-8d98-50a5727d48f9.png)

[2019-11-18 07:12] williamdes commented on #15575
@EvgenyGitHubAcc can you post links here so we can reproduce the issue and investigate ?

[2019-11-18 07:17] williamdes commented on #15465
@ShailuJain your PR looks okay, I will have to rebase it before merging
But it will be merged if my final test shows that you successfully solved the issue :)

[2019-11-18 07:26] EvgenyGitHubAcc commented on #15575
@williamdes I would be happy, but I can't provide the links to DBMS, unfortunately.
Maybe I can just change the socket name like in 2.3 here:
https://docs.phpmyadmin.net/en/latest/faq.html
mysql.default_socket = /tmp/mysql.sock

[2019-11-18 07:35] Tithugues commented on #15571
I think there is something the author didn't say: I guess he was using PHP7.3 (or upper).
Which one do you use?

[2019-11-18 07:43] AshwinGinoria commented on #15571
I am currently using PHP7.2

[2019-11-18 09:08] ShailuJain commented on #15465
Okay, Thanks. I will love to contribute more to phpmyadmin.

[2019-11-18 12:31] AshwinGinoria commented on #15571
Not able to reproduce even with php7.3.11 .

[2019-11-18 12:42] Tithugues commented on #15571
@williamdes , as 4.9 doesn't have strict mode, I think this should only be done from 5.0, don't you think?

[2019-11-18 12:57] williamdes commented on #15571
@Tithugues I would prefer to have the fix on 4.9 to avoid having to do a cherry-pick if it is needed some day

You can add comments on the PR if you want me to do a change a file when merging in 5.0

[2019-11-18 13:16] Tithugues commented on #15571
@AshwinGinoria , so I guess that you have to:
* do the changes on the 5.0
* apply them on 4.9
* check that it still works on 4.9
* submit your PR targetting the 4.9

[2019-11-18 17:09] williamdes commented on #15575
@EvgenyGitHubAcc I am not sure tu understand the real issue, can you help me understand ?

[2019-11-18 17:17] ibennetch commented on #15575
I'm also not sure that I completely understand. phpMyAdmin comes with quite good support for MariaDB. If you're getting a specific error message, you can tell us here and perhaps we can help you resolve the problem.

If you're looking at changing `mysql.default_socket`, that hints that perhaps your PHP installation isn't configured to use the proper socket for your MariaDB installation. You can ch

[2019-11-18 22:50] #15465 closed

[2019-11-18 22:54] williamdes commented on #15465
@ShailuJain we will be very happy to have your contributions ;) !

[2019-11-19 02:52] AshwinGinoria commented on #15571
I am on branch QA_5_0 and my php version is 7.3.11. On following the steps to reproduce the error I am getting Internal Server Error.

![Screenshot from 2019-11-19 08-19-32](https://user-images.githubusercontent.com/43852150/69112163-9b52d500-0aa5-11ea-8a9f-1b5972726c03.png)

[2019-11-19 06:49] EvgenyGitHubAcc commented on #15575
The problem was that PMA can't connect to my DBMS and PMA wrote something like MySQL connection error. I spoke with my colleague about it and we found the reason is in mysql_native_password plugin. In my DBMS it was renamed in cloudbase_native_password. For this reason, PMA and others clients recognize my DBMS, but they don't know that it is MySQL fork.
The idea was to find this plugin in MySQL, r

[2019-11-19 07:00] EvgenyGitHubAcc commented on #15575
But now something strange was happened and I can't even access PMA:
Forbidden
You don't have permission to access /phpmyadmin/ on this server.
But previously PMA was avaliable. I looked for this problem for CentOS 7. But there was no solution that helped me.

[2019-11-19 08:21] Tithugues commented on #15571
@AshwinGinoria , I would say you reproduced the error. You should have the PHP logs somewhere. Are the logs reporting the same error than the one described in this issue?

[2019-11-19 10:11] AshwinGinoria commented on #15571
@Tithugues the php log is showing the error mentioned above in the issue. I'll now get started on actually understanding the error. Thank You !! :D

[2019-11-19 11:07] Abdallah-Fouad-X opened #15576 "Corrupt internal DB allows more permissions"
In the import.php

 you can run the sql statement and delete or drop the data as you like (Possible Remote Code Execution ) via that evil Function
for the business logic this is very bad function to open the SQL terminal via the import and if there any policy or user privilege it can be privilege escalation for the you can fix that by when the Get request enter any page make sure to add the # afte

[2019-11-19 13:54] ibennetch commented on #15575
I don't know what that is, Google doesn't really have any hints other than that it seems to be some development branch of something. It seems to me that you might not be running true MariaDB but some other software similar to it. I'm a little unsure what is going on there and think it requires more investigation.

Often, this is because of file-level permissions on the web server or related to the

[2019-11-19 15:15] vesamet commented on #15463
There was some errors when I did what relm suggested, but it effectively worked as well. I just hope it didn't mess up with something crucial...

[2019-11-19 17:24] EvgenyGitHubAcc commented on #15575
@ibennetch, yes, you are right. It is not from Google, it is custom DBMS.
I will continue to investigate this case and finally write here my

I followed the log and the reason was in CentOS defence system. I
temporarily turned it off and PMA began to work. But without PHP.

[2019-11-20 11:21] OverRide-BT commented on #15576
@williamdes @ibennetch , any update about this security issue ?!

[2019-11-20 13:57] musicpanda opened #15577 "Consider MAX_INPUT_VARS"
I have a database running on a shared hosting server where Phpmyadmin on a 250 table database triggers MAX_INPUT_VARS warnings when I want to export the database.

When I look at how Phpmyadmin implements the custom selection of tables it seems to me that it is wasting resources. It is implementing three checkboxes for each table. However, the checkboxes in front of the table names add nothing. Th

[2019-11-20 14:18] yanickrochon commented on #14220
I do not understand this issue. My app can connect just fine to MySQL 8 using `caching_sha2_password`, and so does phpMyAdmin to perform queries, etc. Yet, this annoying block of errors pops up :

![image](https://user-images.githubusercontent.com/78461/69246348-91e56d80-0b76-11ea-8fa1-326cc2b11007.png)

Both the `pma` and my app's credential use the `mysql_native_password` method, and my app conn

[2019-11-20 14:50] musicpanda opened #15578 "Selecting a range of tables leaves one table unselected"
When I choose custom mode while exporting tables I can select ranges by selecting the first table and then selecting the last one while keeping the shift key pressed. This is a very useful feature that I use a lot.

However, this feature has one little bug: the one before last table is not selected. The attached picture shows what happened after I selected a table deep down and then selected the p

[2019-11-20 17:10] saulotoledo commented on #15578
I confirm the issue. I will submit a fix until this weekend.

[2019-11-20 17:39] fr51 commented on #14517
I just tried on phpMyAdmin v 4.9.1 and, well, the bug seems fixed

[2019-11-20 18:26] williamdes commented on #15578
Duplicate of #15327

[2019-11-20 19:24] williamdes commented on #14517
Thank you

[2019-11-20 19:24] #14517 closed

[2019-11-20 20:09] williamdes commented on #15577
@musicpanda it seems similar to #15261

[2019-11-20 20:12] williamdes commented on #15476
@pswaab Your issue made me think about #14789

[2019-11-21 00:31] click0 commented on #14184
And how to apply this patch?

[2019-11-21 07:18] williamdes commented on #15485
@edgarasg I really hope that my fixes will work and solve your issue on 4.9.2

Can you send an export of the table structures you are using ?
I do know that tables/databases containing `.` or some special characters can break such features on the Designer

If you can try my changes on https://demo.phpmyadmin.net/QA_4_9/index.php ?

[2019-11-21 07:24] williamdes commented on #15485
@3phreal seems to work on demo server
![image](https://user-images.githubusercontent.com/7784660/69316052-409db280-0c38-11ea-8e54-6fa48daf126a.png)

[2019-11-21 11:13] pswaab commented on #15476
Hi Wiliam, I tried 4.9.1 but it got met the same error, and no new page when for instance I click on databases.

A fatal JavaScript error has occurred. Would you like to send an error report?
And lots of console errors (keep running).
![Screen Shot 2019-11-21 at 12 12 48](https://user-images.githubusercontent.com/18168933/69333086-4b683f80-0c58-11ea-88eb-64e8e76aca70.png)
Hope it helps.

Kind rega

[2019-11-21 11:41] williamdes commented on #15476
@pswaab can you try on demo server (`root`, no password)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

If you do not have any errors please send a lot of information about your setup, the page you are browsing
The table and database structure for example

[2019-11-21 11:56] pswaab commented on #15476
Hi, that works perfect.
So it must have something to do with my install (on three different servers).
I have:
ubuntu 16.04, apache 2.4 php 5.6, mariadb
ubuntu 18.04, apache 2.4 php 7.2, mariadb
Mac ports apache 2.4 php 7.2, mariadb

But on the demo, I see version 4.9.2-dev

Kind regards,

Patrick

[2019-11-21 12:09] williamdes commented on #15476
Hi
Can you try to access phpMyAdmin from another computer @pswaab ?
So we can narrow down to the server or to the browser

[2019-11-22 08:53] ShailuJain commented on #15570
Can i work on this issue?

[2019-11-22 11:00] mauriciofauth commented on #15570
Hi @asprazz. Thanks for reporting this.
Looks like you are using `master` branch from git.
Could you please try to run the following command to see if you still have the same issue?
[code]

[2019-11-22 11:05] ShailuJain commented on #15570
@mauriciofauth i did yarn install and i am able reproduce the issue.

[2019-11-22 11:07] asprazz commented on #15570
Yeah! sure

[2019-11-22 11:43] ShailuJain commented on #15570
I have solved the issue. What branch should i create a pull request on? @williamdes @mauriciofauth

[2019-11-22 12:26] #15578 closed

[2019-11-22 12:26] #15327 closed

[2019-11-22 13:08] williamdes commented on #15570
@ShailuJain Yes, go ahead
I had the issue on QA_4_9 so you should target QA_4_9

[2019-11-22 14:33] raimundmeyer opened #15582 "Don't disable "Empty"-button after clicking"
### Is your feature request related to a problem? Please describe.
 I'm always frustrated when I'm working with data that is inserted programatically and I want to delete it periodically  in phpMyAdmin. In the browse view of a database there is a button to truncate the table, but after it is clicked, it is disabled until you refresh the page.  It is btw. not disabled  when the table is empty at pa

[2019-11-23 06:52] Windly213 opened #15583 "Still cannot login to phpmyadmin after changing mysql password encryption method."
### Describe the bug
[code]
I tried many methods provided by stackoverflow like
`ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'password';`
and `GRANT ALL PRIVILEGES ON * . * TO 'root'@'localhost';` and `default_authentication_plugin = mysql_native_password` in the `my.cnf` file, but nothing works.

after configurate mysql server, I run `mysql> SELECT user,authentication_s

[2019-11-23 09:57] williamdes commented on #15583
Duplicate of #14220

[2019-11-23 09:58] williamdes commented on #15583
Hi @Windly213
Thank you for the detailed report
It is a duplicate this is why I close it :)

[2019-11-23 09:58] #15583 closed

[2019-11-23 13:36] aommundsen opened #15584 "Message SSL is not being used even if server is not remote"
### Describe the bug
We are running both phpMyAdmin and MariaDB on the same server as the websites. Meaning that MariaDB is not remote, the database connections is done by using "localhost". But still phpMyAdmin display this message in the right column: "Server connection: SSL is not being used"

In phpMyAdmin 4.9.2 the message is in black text color, but in phpMyAdmin 5.1.0-dev it is displayed wi

[2019-11-23 15:05] Tithugues commented on #15582
@williamdes @mauriciofauth @ibennetch , do you expect to have a fix for this please?
I agree with @raimundmeyer that it's a bit annoying.

[2019-11-23 15:18] williamdes commented on #15582
I also agree, but it must be clear that the operation succeeded (eg: 0 rows in rows column, maybe it is already the case)

[2019-11-23 16:05] ibennetch commented on #15575
If you're running a custom DBMS that's like MariaDB, I'm not surprised that there are compatibility problems. I suggest asking the developers to fix their authentication protocol.

If your DBMS emulates MariaDB and MySQL authentication methods, it should work with phpMyAdmin. If you can fix that part, or edit your user to tell it to use the mysql_native_password plugin, you should be able to conne

[2019-11-23 16:06] #15575 closed

[2019-11-23 16:12] Tithugues commented on #15571
@AshwinGinoria , any news regarding this error please? Do you expect to fix it or can someone else fix it?
Thank you!

[2019-11-23 16:21] williamdes commented on #15485
@3phreal @edgarasg Please try 4.9.2 and report here if the issues are still there

Thank you

I really hope I fixed all the issues you reported

[2019-11-23 21:41] williamdes commented on #15570
Thank you @asprazz, I wish I would could have seen this was a bug and include the fix in the 4.9.1 release..

[2019-11-24 00:26] alexa-ai commented on #12961
Is this still open? Based on https://github.com/phpmyadmin/phpmyadmin/pull/13070, it looks like it's resolved.

[2019-11-24 00:34] williamdes commented on #12961
I agree, do you @ibennetch?

[2019-11-24 07:40] ShailuJain commented on #15346
@williamdes is this issue solved? I can't reproduce this issue on the current master branch.

[2019-11-24 07:53] EvgenyGitHubAcc commented on #15575
I understood that the problem was in mysql_native_password due to another client - MySQL Workbench. When I tried to connect to CloudSQL I had a message "cloudsql_native_password.so no such file". I tried to find mysql_native_password in Workbench's sources, but It failed. Then I tried to rename cloudsql_native_password in mysql_native_password in CloudSQL sources. After that the client successfull

[2019-11-24 07:57] EvgenyGitHubAcc commented on #15575
About PMA. I also searched for mysql_native_password in its sources and I found a lot of cases. I think that rename mysql_native_password to cloudsql_native_password in PMA should solve the problem. But I can't check it because PMA doesn't want to start an my PC.

[2019-11-24 08:30] OlafvdSpek commented on #12961
#13070 only renamed a button, so I don't think you can base anything on that.

[2019-11-24 08:34] OlafvdSpek opened #15587 "PHP 7.3 / 7.4 @ Demo"
Could https://demo.phpmyadmin.net be upgraded to the latest PHP version?

7.3 is more strict than 7.2 and not having it might make it harder to repro issues.

[2019-11-24 08:37] OlafvdSpek opened #15588 "Layout issue @ Table structure"
https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=inventory

![pma0](https://user-images.githubusercontent.com/2218936/69492089-046b8b80-0e9e-11ea-91b9-399859c315b5.PNG)
![pma1](https://user-images.githubusercontent.com/2218936/69492090-046b8b80-0e9e-11ea-9734-e2baca7a3030.PNG)

[2019-11-24 08:45] OlafvdSpek opened #15589 "Errors @ Relations View"
https://demo.phpmyadmin.net/master-config/index.php?route=/table/relation&db=sakila&table=inventory&goto=index.php%3Froute%3D%2Ftable%2Fstructure&back=index.php%3Froute%3D%2Ftable%2Fstructure

![pma2](https://user-images.githubusercontent.com/2218936/69492178-084bdd80-0e9f-11ea-82f3-29dc21b32000.PNG)

[2019-11-24 08:47] OlafvdSpek opened #15590 "Error when auto-reporting error"
![pma](https://user-images.githubusercontent.com/2218936/69492191-54971d80-0e9f-11ea-92b7-75adfbd1ca76.PNG)

[2019-11-24 08:48] OlafvdSpek commented on #15590
If this happens and auto-reporting is enabled, you can no longer see the actual error..

[2019-11-24 08:49] ibennetch commented on #15587
Sure, sounds like a good idea.

Assigned to myself

[2019-11-24 08:52] ibennetch commented on #12961
I agree with Olaf, this hasn’t really been resolved.

[2019-11-24 08:52] OlafvdSpek opened #15591 "Notice @ Relations View"
V: 5.0+snapshot

[code]

[2019-11-24 10:04] williamdes commented on #15591
@OlafvdSpek can you please send the table structure so I can understand what I am fixing ?

[2019-11-24 10:04] williamdes commented on #15591
And if It could affect 4.9

[2019-11-24 10:07] OlafvdSpek commented on #15591
[code]

[2019-11-24 10:11] williamdes commented on #15591
Thank you, reproduced !
I will use this issue to fix #15590 ;)

[2019-11-24 10:14] williamdes commented on #15346
@ShailuJain I think not, you should check the value of `SELECT @@lower_case_table_names;`

[2019-11-24 10:16] williamdes commented on #15588
@ShailuJain Do you want to try to solve this issue ?

Only on master branch, do not forget to compile css files using `npm run css-compile` or `yarn run css-compile`

No affected: https://demo.phpmyadmin.net/QA_5_0/tbl_structure.php?db=sakila&table=inventory

[2019-11-24 10:20] ShailuJain commented on #15346
On my local system `SELECT @@lower_case_table_names;` returns 1. Locally i am on the latest master branch.
![image](https://user-images.githubusercontent.com/35773853/69493198-f2a3db80-0ed1-11ea-9c1d-4b919f87dfdf.png)

An on https://demo.phpmyadmin.net/master-config/index.php?route=/server/sql  `SELECT @@lower_case_table_names;` returns 0
![image](https://user-images.githubusercontent.com/35773853

[2019-11-24 10:23] williamdes commented on #15590
[code]

[code]

[2019-11-24 10:28] williamdes commented on #15591
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: foreign_keys_data
 Exception Type |php
 phpMyAdmin version |5.0.0-rc1
 Incident count | 1
 Link | [Report#61383](https://reports.phpmyadmin.net/reports/view/61383)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-11-24 10:33] williamdes commented on #15346
@ShailuJain using my test data you could not reproduce the issue on any of your systems or demo servers ?
https://github.com/phpmyadmin/phpmyadmin/issues/15346#issuecomment-505844813

[2019-11-24 12:05] asprazz commented on #15588
Hie @williamdes, I have looked into this issue. Can I suggest my changes?

[2019-11-24 12:45] asprazz commented on #15588
I found something on line https://github.com/phpmyadmin/phpmyadmin/blob/360a7e2000e8e5088ff74768c8a6b72f36a49903/templates/table/structure/display_table_stats.twig#L13
which sets the table width 100% (as same as parent) on master which is not required

In QA_5_0 : there is no `.w-100`, but there is ` .width100` comes into play on small devices only

Fix : What we should do?
Using bootstrap class (

[2019-11-24 12:50] williamdes commented on #15588
@asprazz Using a responsive way included in bootstrap seems like the best option

would be a revert of @mauriciofauth's work

[2019-11-24 13:30] williamdes commented on #15499
Param | Value
 -----------|--------------------
 Error Type | Deprecation Notice
 Error Message |Unparenthesized `a ? b : c ? d : e` is deprecated. Use either `(a ? b : c) ? d : e` or `a ? b : (c ? d : e)`
 Exception Type |php
 phpMyAdmin version |4.9.1
 Incident count | 86
 Link | [Report#60166](https://reports.phpmyadmin.net/reports/view/60166)

*This comment is posted automatically by phpMyAdmi

[2019-11-24 13:34] williamdes commented on #15591
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: foreign_keys_data
 Exception Type |php
 phpMyAdmin version |4.9.1
 Incident count | 2
 Link | [Report#60888](https://reports.phpmyadmin.net/reports/view/60888)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-11-24 14:11] williamdes commented on #15591
This issue occurs on 4.9 when user has row level privileges and tries to see the relations.
Similar to #15228

[2019-11-24 14:18] williamdes commented on #15589
3255e4ad7b5cb155d6fe2ab948ebc1dc7467feb2

[2019-11-24 14:29] #15570 closed

[2019-11-24 14:29] #15589 closed

[2019-11-24 14:29] #15591 closed

[2019-11-24 14:29] williamdes commented on #15589
@Tithugues I fixed your change in 054418f1ae62ebad9b948ea4511e8b895c2c210b ;)

[2019-11-24 14:43] williamdes opened #15592 "Warning: error_reporting() has been disabled for security reasons"
### Config

#### php.ini
[code]

#### php fpm
[code]
#### logs
[code]

#### screenshot

![image](https://user-images.githubusercontent.com/7784660/69496297-f3883d80-0ed0-11ea-9267-ba745dcf130b.png)

[2019-11-24 15:14] williamdes commented on #15592
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |error_reporting() has been disabled for security reasons
 Exception Type |php
 phpMyAdmin version |4.7.8
 Incident count | 104
 Link | [Report#48524](https://reports.phpmyadmin.net/reports/view/48524)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-11-24 15:33] williamdes commented on #14723
@ajgassner @ortreum Some changes have been made in 4.9.2, can you please try it ?

[2019-11-24 15:37] williamdes commented on #13018
@dazzyt @rogerqiluo Can you still reproduce this issue using 4.9.2 ?

[2019-11-24 15:44] williamdes commented on #15434
@frenkye I can not reproduce the logout issue, but the link is "broken" and shows a blank page

[2019-11-24 16:46] #15434 closed

[2019-11-24 16:46] #15592 closed

[2019-11-24 19:41] AshwinGinoria commented on #15571
@Tithugues Sorry for replying so late !!
My end semester Exams Started Last week so I couldn't give much time to this. But I've spent some time understanding the relevant part of the code and I think I understand most of it. My Exams will be over This week, so can I work on it after that ??

[2019-11-24 21:07] Tithugues commented on #15571
@AshwinGinoria , thank you for the answer.
Unless the pMA team expect this bug to be fixed earlier than beginning of december, I'll wait for this time before trying to provide a fix.

[2019-11-24 21:18] williamdes commented on #15571
@ibennetch does it seem okay to you ?

[2019-11-25 08:02] johan-smits opened #15593 "Missing docker tags of micro version"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://hub.docker.com/r/phpmyadmin/phpmyadmin/tags
2. See that since `4.8.5` there is only a `4.9` tag. No `4.9.2` available.

### Expected behavior

Have also the micro versions in the tags.

[2019-11-25 10:29] cvicentiu commented on #14641
This should be fixed now! Please let me know if everything works. I had to reimplement a few things and I am not 100% I kept the exact behaviour.

[2019-11-25 10:30] cvicentiu commented on #14641
Additionally, MariaDB 10.2, 10.3, 10.4 have added extra explain keywords for various columns. These need to be added as well, currently WIP.

[2019-11-25 11:37] williamdes commented on #14641
Thank you @cvicentiu !

Ref: https://mariadb.com/kb/en/library/explain-analyzer/#comment_4292

[2019-11-25 11:37] #14641 closed

[2019-11-25 14:11] ShailuJain commented on #15588
I think i might be late as @asprazz has already made a pull request.

[2019-11-25 14:23] ShailuJain commented on #15346
Yes reproduced by `SELECT ID, content FROM 15346_not_unique;` this query.

[2019-11-25 16:35] ShailuJain commented on #15295
I found the issue in the code, When the user of a group logs in
https://github.com/phpmyadmin/phpmyadmin/blob/9754f848666e1b13b291671e7c4629a0e7058be7/js/navigation.js#L1169-L1179

The value of `$('#topmenucontainer')` will be zero as it is not visible on the group user's page. But as you browse any database and reload the page, the ui becomes proper as `$('#topmenucontainer')` this element is pre

[2019-11-25 17:17] williamdes commented on #15295
If we can use a dom event that would be more clean, but if you find a clean and clear way to do the calculation feel free to open a pull-request :)

[2019-11-25 17:27] ShailuJain commented on #15295
What branch should i target? @williamdes

[2019-11-25 17:29] williamdes commented on #15295
@ShailuJain you should use `QA_4_9` as a base branch and target `QA_4_9`

[2019-11-25 19:18] shifatbuet commented on #15541
Hello . I am doing this fix . Someone please send me list of valid file extension to upload.
Thanks.

[2019-11-25 19:23] aschuch247 commented on #15200
@lonix1: phpMyAdmin 4.9.1 works like a charm, if the proxy is properly configured. The message can be ignored.

From what I figured out is that the client (your browser) tells the server how phpMyAdmin was accessed. This is either by HTTP or HTTPS. The server checks how it is accessed. This also is either by HTTP or HTTPS. The message is shown if both ways of accessing differ.

This can happen if

[2019-11-25 19:24] OverRide-BT commented on #15541
You will find the extension in @techievivek first comment

@ibennetch @williamdes
Are this will be in 2.9.3 updates ?!

[2019-11-25 19:26] shifatbuet commented on #15541
Okay I have done exactly like that comment for my testing. All ok then.  @OverRide-BT

[2019-11-25 19:29] OverRide-BT commented on #15541
Are this fixed!

[2019-11-25 19:31] shifatbuet commented on #15541
Yes it is fixed in my local . Will send PR .
I want to alert the following message . is it okay? what you think?

"Invalid file format . Valid extensions ('csv','sql','xml','txt','ods','atx','ain','aih','dbf','gz','zip','bz2')
File may be compressed (gzip, bzip2, zip) or uncompressed.
A compressed file's name must end in .[format].[compression]. Example: .sql.zip"

[2019-11-25 19:32] shifatbuet commented on #15541
@OverRide-BT

[2019-11-25 19:35] ibennetch commented on #15541
I don't really see the problem here; as far as I can tell the code isn't being interpreted when it's loaded. It's up to the user to upload the correct file — since we accept many file types, and some users don't store SQL in files with a `.sql` extension, it seems it would be counter-productive to restrict users.

Are you saying you're able to upload arbitrary non-SQL code or view arbitrary files

[2019-11-25 19:35] OverRide-BT commented on #15541
Great , i will test it again.
If you can test this on my local machine also to make confirmation about it .
If you can upload the update php file tbl_import , import. Php or any update you make it on the code

[2019-11-25 19:37] ibennetch commented on #14184
This fix was released as part of phpMyAdmin release 4.9.2. If you are able, please update to that version and let us know in this ticket if you continue to have trouble.

[2019-11-25 19:39] ibennetch commented on #15327
This issue was fixed with the release of phpMyAdmin 4.9.2. Thank you for reporting this issue.

[2019-11-25 19:40] williamdes commented on #14184
[code]

But the best option is still to update to 4.9.2

[2019-11-25 19:42] aschuch247 commented on #15477
This works for me in phpMyAdmin 4.9.2. Thank you!

[2019-11-25 19:48] OverRide-BT commented on #15541
@ibennetch about you question :
Are you saying you're able to upload arbitrary non-SQL code or view arbitrary files from the server's file system through this?

yes i have already uploaded img .jpg extension as you can see and the successful message appear and this will lead to inject evil codes in the image ,And i believe that if the uploaded accepted jpg file injected by php evil function , it c

[2019-11-25 19:56] OverRide-BT commented on #15541
Great fix ! but are you checking the file content !!!!?

[2019-11-25 20:34] mauriciofauth commented on #15587
I think we can wait for the PHP 7.4.0 release, which will be on November 28th, 2019 [1].

- [1] https://news-web.php.net/php.internals/107792

[2019-11-25 21:08] ibennetch commented on #15541
I see in the images that you posted that the file did upload, but when MySQL tried to interpret the commands, as it's not valid SQL there are syntax errors. So I don't see anywhere where the file contents are interpreted by PHP or the system, it's all run through the MySQL interpreter. So I don't see yet how this could be used to run arbitrary PHP, Python, or evil image files. Are we talking about

[2019-11-25 21:15] OverRide-BT commented on #15541
Acutely the  uploaded process complete successfully as you can see in the provided screenshot, And deal with the image name as the SQL quarry
Just quickly method (make the image name like Drop pr Delete quarry) then the upload process will deal with the name as sql quarry

[2019-11-25 21:16] williamdes commented on #15541
@OverRide-BT we are having a hard time understanding what is the vulnerability
Please send screenshots as a proof that you can be malicious to the server

[2019-11-25 21:20] shifatbuet commented on #15541
I dont think there is a vulnerability , its just for preventing user from uploading wrong files. And It should be done  because even if someone uploads a wrong file phpmyadmin tries to execute. Which leads to database hang.

[2019-11-25 21:28] shifatbuet commented on #13773
Can i work on this??
Any confusion about this issue?
is it necessary to fix??

@williamdes

[2019-11-25 21:34] williamdes commented on #13773
@shifatbuet Yes of course, just try on different demo servers before starting to fix

Demo servers (`root`, no password)
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

Use the first lowest branch that is affected 4.9 > 5.0 > and finally master

[2019-11-25 21:45] OverRide-BT commented on #15541
Good way to explain .... ,But there is way to manage to execute an sql commend to drop or delete database over the file content as i said

so i created table called e then i uploaded an txt file contain this line :
DROP TABLE e;

the the sql quarry executed and drop the table
this must not to be in the business logic

![2019-11-25](https://user-images.githubusercontent.com/57077590/69580487-5961eb

[2019-11-26 00:03] Pantyboy commented on #14184
I have just updated to 4.9.2 and it's made no difference. I'm still getting the same problem.

[2019-11-26 03:00] click0 commented on #14184
Thanks.
Updating my problem solved.

[2019-11-26 03:30] click0 commented on #14184
With the link https://example.com/phpmyadmin/ everything is ok.
In the case of a view link
https://example.com////phpmyadmin/
We get the error:
`Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.`

[2019-11-26 06:56] williamdes commented on #15236
:tada:
https://tracker.debian.org/news/1082573/accepted-phpmyadmin-4492dfsg1-1-source-into-unstable/
https://tracker.debian.org/phpmyadmin/
Will migrate to testing tomorrow 👏

[2019-11-26 07:51] CallMarl commented on #14184
Hello I upgrade phpmyadmin to 4.9.2 then the bug is style here.

[2019-11-26 07:53] CallMarl commented on #14184
My url is: https://10.17.1.109:8443/index.php

[2019-11-26 09:42] shifatbuet commented on #15541
@OverRide-BT  Thanks for you great and logical explanation. I have done the fixation long ago but still its waiting for merging.   Lets see they approve it or not.

[2019-11-26 10:08] OverRide-BT commented on #15541
Thank you, and the most critical thing in this case when the user upload any SQL evil functions (Drop or Delete) the application did not alert the user with the Drop process , so that make it even worse in the application behavior

[2019-11-26 13:58] thk12 commented on #15584
I usually patch this out of index.php because it's really anoying for customers. This warning shouldn't even be displayed when PMA connects through a typical private IP range (like using VPN).

[2019-11-26 14:01] shifatbuet commented on #13773
@williamdes can't produce in demo. Maybe it is fixed. check.

[2019-11-26 15:33] williamdes commented on #15584
Okay, a configuration override must be added

[2019-11-26 19:21] ibennetch commented on #15576
From what we've been able to tell from your report, this is consistent with the expected behavior. A user who is logged in can execute any SQL commands (though the Import page, the SQL page, or by uploading any .sql file) including potentially destructive commands such as DROP and EMPTY. I have not been able to find any way an evil user could elevate their privileges beyond what the database admin

[2019-11-26 19:39] ibennetch commented on #15587
I've activated PHP 7.4 rc6, and will update to 7.4 once the official release has occurred.

Thanks for the input!

[2019-11-26 19:39] #15587 closed

[2019-11-26 19:48] OlafvdSpek opened #15598 "Text size too large?"
https://demo.phpmyadmin.net/master-config/index.php?route=/database/sql&db=assigment3

The bold text seems too large / larger than normal.

![pma](https://user-images.githubusercontent.com/2218936/69667342-1f045700-108e-11ea-8e75-a83a5e690275.png)

[2019-11-26 19:49] williamdes commented on #15598
@mauriciofauth you did the font size change

[2019-11-26 19:49] OlafvdSpek opened #15599 "Popup disappears too fast"
https://demo.phpmyadmin.net/master-config/index.php?route=/database/sql&db=assigment3

The popup disappears too fast, before I've had time to properly read the text.

![pma](https://user-images.githubusercontent.com/2218936/69667382-32172700-108e-11ea-9433-d6e36d189aba.png)

[2019-11-26 19:52] OlafvdSpek commented on #15598
Was it done recently? I don't see it in phpMyAdmin-5.0+snapshot-english.tar.xz

[2019-11-26 20:17] OverRide-BT commented on #15576
I have check that and i found something suspicious
i have created user test with password and i have destroy the session and login with his password
and here is screenshot for the user privileged and as you can see the account has 0 privilege
![2019-11-26 (2)](https://user-images.githubusercontent.com/57077590/69668379-6f80b200-1098-11ea-931b-8f4131dac47e.png)

and from the import option i was abl

[2019-11-26 23:34] OverRide-BT commented on #15576
@ibennetch  I Have send over mail new problem and provided screen can you check it .

[2019-11-27 03:08] sztomczyk opened #15600 "CSS styles don't load"
Phpmyadmin installed on Homestead (Vagrant) virtual machine

![Screenshot from 2019-11-27 04-00-26](https://user-images.githubusercontent.com/28072430/69689946-8f30ce00-10ca-11ea-9acb-72a376a285ca.png)
![Screenshot from 2019-11-27 04-00-52](https://user-images.githubusercontent.com/28072430/69689949-8f30ce00-10ca-11ea-848a-5b5767ab5069.png)

Looks like theme won't load, I tried on other browsers a

[2019-11-27 07:21] williamdes commented on #15600
@sztomczyk Are you using phpMyAdmin 5.0 or master version ?

[2019-11-27 11:43] OverRide-BT commented on #15576
@ibennetch are this consider a privilege escalation or that is the normal action for the application ?

[2019-11-27 12:27] sztomczyk commented on #15600
@williamdes I'm using master version

[2019-11-27 12:39] williamdes commented on #15600
@sztomczyk You need to run `yarn run css-compile` or `npm run css-compile`

[2019-11-27 12:40] williamdes commented on #15576
@OverRide-BT I am quite sure that you would have the same result by pasting your script in the sql query box ?

[2019-11-27 12:44] williamdes commented on #15236
Hooray, more than 2 year of not having any updates :tada: :muscle:
phpMyAdmin is back into testing !

What a journey !

A big thank you to all the phpMyAdmin packaging team members !

[2019-11-27 12:47] williamdes commented on #15236
We are now trying to get phpMyAdmin back into buster using buster-backports.

See: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=845031 by @OlafvdSpek `Sat, 19 Nov 2016`

[2019-11-27 12:50] OverRide-BT commented on #15576
Yes indeed, but how and the account do not have privilege to creat or editing tables ( as you can see in the user permissions) , if that you have already know that is normal action to creat or edit tables with user do not have that permission and this acceptable by the application you can close the issue

[2019-11-27 12:54] williamdes commented on #15576
Since we are not a database server but only a web UI I think there is no vulnerability :)

[2019-11-27 12:56] williamdes commented on #15515
Ubuntu "focal" 20.04 has phpMyAdmin 4.9.2 !

https://launchpad.net/ubuntu/focal/+package/phpmyadmin

[2019-11-27 13:04] OverRide-BT commented on #15576
In this cases I agree with you, But this must be in the backend and the application logic , how user doesn't have any permission to creat or edit, it acutely have the privilege to do that ! @ibennetch

Should I close this from my side ! Or you have other opinions @williamdes

[2019-11-27 15:55] sztomczyk commented on #15600
Running `yarn install` on freshly installed phpmyadmin solves issue.

[2019-11-27 19:26] ibennetch commented on #15576
@OverRide-BT From your screenshot, it's not clear if that user has database-level permissions; could you post here the permissions? From the User privileges page, look for that user and click the "Export" button on the right (such as you can see here:)
<img width="1188" alt="image" src="https://user-images.githubusercontent.com/1443710/69753521-caaab700-1121-11ea-8031-1ed3c5dbfe3a.png">

From ther

[2019-11-27 19:31] OverRide-BT commented on #15576
here is the screen  :
![image](https://user-images.githubusercontent.com/57077590/69753876-3f4f1700-115d-11ea-847d-89014edb2db5.png)

and here is the SQL :
 GRANT USAGE ON *.* TO 'test'@'%' IDENTIFIED BY PASSWORD '*23AE809DDACAF96AF0FD78ED04B6A265E05AA257';

[2019-11-27 20:13] ibennetch commented on #15576
Based on the information I see in this ticket, I'm not able to reproduce this at all. I'm not sure what to do for further troubleshooting with this.

[2019-11-27 20:22] OverRide-BT commented on #15576
i have send all the information , steps ,and  screen  , how you don't able to reproduce this .

is this issue or just positive vulnerability (Not Bug)

[2019-11-27 20:32] ibennetch commented on #15576
This is what I've done:

1. Create a new user with no permissions and password 'rce': ```GRANT USAGE ON *.* TO 'rce'@'%' IDENTIFIED BY PASSWORD '*203A468DBF7CB663ACC6F024DE6520E4E702FD0F';``` (or without a password, as ```GRANT USAGE ON *.* TO 'rce'@'%';```)
2. Log out as the superuser and log in as user rce, which I can verify on the main page:
<img width="159" alt="image" src="https://user-image

[2019-11-27 21:07] OverRide-BT commented on #15576
i have send the video by mail you can check it ,

could you add username called : test
and make the same process
and if this work i think i have know where is the problem

[2019-11-27 22:10] #15600 closed

[2019-11-27 22:50] ibennetch commented on #15576
The video you sent does show the behavior you've described, but this should not be possible due to MySQL permissions. The list of available databases changes, which is particularly strange to me.

Could you try logging in with a user that doesn't exist at all, such as test3, and see whether you see any databases listed or are able to run the import?

[2019-11-27 23:38] OverRide-BT commented on #15576
I have try to login with it and the  same action is happened

Did you try it with the same steps , but the action is different ( not the same in the video)

[2019-11-28 17:53] ibennetch commented on #15576
This seems to me like your database server is not running properly. Perhaps it's running with the `--skip-grant-tables` or some other means to bypass any authentication.

Yes, correct — when I try, I still get errors about my user not having enough permissions.

[2019-11-28 17:56] ibennetch commented on #15576
This seems to me like your database server is not running properly. Perhaps it's running with the `--skip-grant-tables` or some other means to bypass any authentication (although why you are only shown certain databases baffles me).

Can you try connecting from the command line client as the 'test3' user and running these commands and reporting the results back here?
* `SHOW DATABASES;`
* ```USE `

[2019-11-28 18:08] OverRide-BT commented on #15576
First commend
![image](https://user-images.githubusercontent.com/57077590/69826081-3a03d200-121a-11ea-89dc-2e57ba38a110.png)

Second commend :
![image](https://user-images.githubusercontent.com/57077590/69826100-4be57500-121a-11ea-8a83-5d97fdc27e0a.png)

Last Commend :
![image](https://user-images.githubusercontent.com/57077590/69826124-7800f600-121a-11ea-9f5b-68a95b7f78b4.png)

not  having enough

[2019-11-29 09:38] mlapkin opened #15601 "Localization errors at import/export pages for traditional chinese locale"
### Problem description
There are errors saying 'Field has no type' when opening import or export screen with traditional chinese locale set.

### To Reproduce
1. Log into PMA
2. Open home page
3. Switch interface language to 'Traditional chinese'
4. Open 'Import' or 'Export' pages

### Expected behavior
Corresponding screens displayed without errors.

### Screenshots

![phpMyAdmin](https://user-i

[2019-11-29 12:50] williamdes commented on #15515
[code]
From Steve Langasek who removed the package, ref: https://bugs.launchpad.net/ubuntu/+source/phpmyadmin/+bug/1837775/comments/5

TLDR; use our PPA for 19.10

[2019-11-29 12:50] #15515 closed

[2019-11-29 12:50] williamdes commented on #15601
Can you update the translation on https://hosted.weblate.org/projects/phpmyadmin/4-9/ ?

[2019-11-29 13:10] ibennetch commented on #15576
If you can repeat those steps from the command-line client, we can confirm for certain whether this is related to phpMyAdmin or your database server.

[2019-11-29 13:16] xkill opened #15602 "Timeout logout does not return to login page"
### Describe the bug

When the session timeout performs a logout, it should redirect login page, but the login page is rendered only on one frame of the screen.

### To Reproduce

Steps to reproduce the behavior (tested with the following):
1. Login
2. Go to status -> processes
3. Wait some minutes until the session is timed out.
4. See the login page at the botton of the page instead whole page (

[2019-11-29 14:17] OverRide-BT commented on #15576
the same result here also :
![image](https://user-images.githubusercontent.com/57077590/69874458-b56d8e00-12c3-11ea-96d4-5b2b88725e57.png)

in the last commend i don't have permission

[2019-11-29 14:41] ibennetch commented on #15576
Thanks for checking that! I still can't quite figure out what's happened here, but I am now confident this isn't related to phpMyAdmin.

[2019-11-29 14:45] OverRide-BT commented on #15576
You are welcome, you are right i can't know why this happened i will search for the case of that if i found that case definitely i will mail you with it , thanks for being helpful @ibennetch

[2019-11-29 15:18] ibennetch commented on #15575
The problem seems to be that your database server is similar to MySQL/MariaDB but doesn't implement all of the same methods of authentication. My guess is that `cloudsql_native_password` isn't the same as `mysql_native_password` (because why would they rename something without changing any functionality?), but I don't know.

If you're having trouble making phpMyAdmin work in general, you can copy

[2019-11-30 02:35] WangWenBin2017 commented on #15267
Hi, I solved the problem. My environment is exactly the same as the subject's problem.
Just add the IUSR user to the Windows \ Temp directory and grant all permissions.

[2019-11-30 09:46] williamdes commented on #12932
@ShailuJain can you investigate this very old issue?
Note: it maybe needs a configuration setting
@OlafvdSpek can you detail the issue?

[2019-11-30 09:53] williamdes commented on #13046
This issue will not exist on 5.0 since we dropped support for hhvm
Closing

[2019-11-30 09:53] #13046 closed

[2019-11-30 09:58] williamdes commented on #15367
:ping_pong:

[2019-11-30 09:59] #15527 closed

[2019-11-30 10:03] williamdes commented on #15485
Hi guys, no update?
I started more work in PR #15596

[2019-11-30 10:06] p-rakowski89 commented on #15367
Hi, I have problems with replication management, just like trying to stop,
start threads, etc. Here is ss.
Version phpmyadmi 4.9.2
greetings
[image: replikacja.png]

sob., 30 lis 2019 o 10:58 William Desportes <notifications@github.com>
napisał(a):

[2019-11-30 10:08] williamdes commented on #12102
Seems to be implemented in 5.0.0

[2019-11-30 10:10] p-rakowski89 commented on #15367
![replikacja](https://user-images.githubusercontent.com/54027808/69899112-02a03d00-1362-11ea-9658-c247dcc9e0ae.png)

[2019-11-30 10:13] edgarasg commented on #15485
Sorry, i will test v4.9.2 next week.

[2019-11-30 10:16] williamdes commented on #12562
I registered the user phpmyadmin
cc @ibennetch

[2019-11-30 10:25] OlafvdSpek commented on #12102
How?

[2019-11-30 10:37] williamdes commented on #12102
#12158 ?

[2019-11-30 10:44] OlafvdSpek commented on #12102
See https://github.com/phpmyadmin/phpmyadmin/issues/12102#issuecomment-207676505
only_db is different from this.

[2019-11-30 11:43] OlafvdSpek commented on #12932
What details are missing?

[2019-11-30 12:04] williamdes commented on #12932
@OlafvdSpek the configuration directive to have the display as in your screenshot

[2019-11-30 12:09] OlafvdSpek commented on #12932
[code]

[2019-11-30 12:40] ShailuJain commented on #12932
Hello @williamdes. So should we directly display the tables or by clicking on the tables ?

[2019-11-30 13:44] williamdes commented on #12932
Hello @ShailuJain I reproduced the issue with
(maybe it is another issue)
[code]
![image](https://user-images.githubusercontent.com/7784660/69901295-e57a6700-137f-11ea-8435-e875c6341448.png)

So for me if `NavigationTreeEnableExpansion` is `false`

So should we directly display the tables of each database

Do you agree @OlafvdSpek ?

[2019-12-01 08:50] abhisheknaiidu commented on #15598
Hi @williamdes, I want to work on this issue. But could you elaborate somewhat more regarding this issue? like did I have to just solve that pop-up font issue? or more than that?

[2019-12-01 10:02] OlafvdSpek commented on #12932
What exactly do you mean?

[2019-12-01 10:54] williamdes commented on #15598
Hi @abhisheknaiidu I would recommend that you work on on of the issues on https://github.com/phpmyadmin/phpmyadmin/projects/7

Because this issue is a choice made by @mauriciofauth and needs to be discussed if a change is wanted

[2019-12-01 11:23] NikhilNagdev commented on #15101
I can't reproduce this issue on current master branch.

[2019-12-01 15:38] ibennetch opened #15605 "MySQL with authentication plugin other than "Caching sha2 authentication" fails to log in"
I'm using PHP 7.4 and the latest MySQL 8.0.18 along with phpMyAdmin master.

When I log in with a user who was created with 'caching_sha2_password', I connect correctly as expected.

If I create a user with either 'Native MySQL authentication' or 'SHA256 password authentication', I am unable to connect from phpMyAdmin. I get these error messages:

[2019-12-01 15:41] ibennetch commented on #14220
I believe this has been resolved with the release of PHP 7.4; affected users will need to upgrade their PHP installations to take advantage of the upgraded support in the PHP library.

I think we should close this issue now that PHP 7.4 is available.

[2019-12-01 15:47] ibennetch opened #15606 "Documentation for creating controluser is outdated"
The documentation suggests creating a controluser with this SQL:

```GRANT SELECT, INSERT, UPDATE, DELETE ON <pma_db>.* TO 'pma'@'localhost'  IDENTIFIED BY 'pmapass';```

However, that doesn't work on modern MySQL. Probably it needs `CREATE USER '<pma>'@'localhost' IDENTIFIED WITH ....

The documentation should probably reference which version of the command applies to particular MySQL/MariaDB ver

[2019-12-01 15:47] ibennetch commented on #14220
@yanickrochon It's odd to me that you'd see the same message repeated so many times. I suggest clearing your phpMyAdmin cookies (they start with 'pma_') or trying with private browsing mode; you can also try with a minimal `config.inc.php` file and see if that improves the situation. You could try logging in directly as the pma user, to make sure that part works correctly as well.

[2019-12-01 15:59] OverRide-BT commented on #15576
@ibennetch in the user account as you can see :
![image](https://user-images.githubusercontent.com/57077590/69916341-93f6d880-1462-11ea-94c9-e03522267b1b.png)

user name test3 :

GRANT USAGE ON *.* TO 'test3'@'%' IDENTIFIED BY PASSWORD '*E6CC90B878B948C35E92B003C792C46C58C4AF40';

the host '%' so every thing is work great here so i start to check the database [Check privileges]

in the database na

[2019-12-01 16:35] ibennetch commented on #15576
Seeing the Any user with any type of database-specific permissions is quite odd to me. I have an anonymous user but it doesn't have access to any specific database. One thing you could try, as root, is creating a new database entirely and seeing what permissions exist for that.

`information_schema` is a built-in MySQL database-like object that is not generally meant to be edited by users, so it's

[2019-12-01 16:51] OverRide-BT commented on #15576
sure this is very odd, So i have create a new database "d1"
![image](https://user-images.githubusercontent.com/57077590/69917099-32873780-146b-11ea-86e6-0908f7d9171a.png)

yes , But how this show for the user test3 and he have not the permission for the database

[2019-12-01 17:03] abhisheknaiidu commented on #15598
@williamdes  ohkk fine!

[2019-12-01 17:10] Kaulkwappe commented on #14951
Good evening! Was this problem fixed? Because it still concerns me:

[code]

[2019-12-01 17:27] MauricioFauth opened #15607 "Bump minimum version to PHP 7.4"
We should start to discuss when we want to drop the support for PHP 7.1, PHP 7.2 and PHP 7.3, because PHP 7.1 is no longer supported and PHP 7.2 is supported for critical security issues only.

PHP 7.4 will be the last 7.x release before the [PHP 8](https://news-web.php.net/php.internals/103862).

Another reason to chose PHP 7.4, besides the new features, is the fix for the MySQL authentication is

[2019-12-01 17:27] williamdes commented on #14951
@Kaulkwappe your phpmyadmin version is very out to date
As you can see in #15236 phpMyAdmin 4.9 will be shipped in the next debian version and for now you can use our Ubuntu ppa #15515

The issue seems is fixed in latest versions

[2019-12-01 17:29] Kaulkwappe commented on #14951
I see, thanks for the fast response. Seems I have to wait since 4.6.6deb4 is the most recent available version in Debian Buster 10.2.

[2019-12-01 17:31] williamdes commented on #15607
For phpMyAdmin 5.1 why not, 7.x versions releases are quite close compared to 5.x versions (IMO)

[2019-12-01 17:47] mauriciofauth commented on #15598
This is not intentional. It is a bug. Feel free to fix it if you want to, @abhisheknaiidu.

[2019-12-01 22:32] thg2k opened #15608 "DisableIS is broken on pma 4.9.2 with controluser configured"
### Describe the bug

There is a problem when `DisableIS` cfg option is true, and there is a `controluser` configured.

After logging in as root and clicking on a database name on the navigation tree (not to the "+", directly to the name), it pops up the error "An error has occurred while loading the navigation display". At that point, refreshing the page causes all databases except information_sc

[2019-12-01 22:33] williamdes commented on #15608
Thank you for the report @thg2k
can you send your `config.inc.php` file ?

[2019-12-01 22:36] thg2k opened #15609 "Allow disable call-home request in checkGitRevision()"
While troubleshooting a bug where I had to logout/login several times I noticed the first loading is extremely slow due to the WS request in checkGitRevision().

Is there any way to disable all call-home requests globally? I suppose `VersionCheck` = false should be honored by checkGitRevision() as well.

[2019-12-01 22:38] williamdes commented on #15608
Maybe grants of each user could be usefull

Thank you !

Interesting, I need to reproduce the issue

[2019-12-01 22:39] williamdes commented on #15609
I need to investigate, but thank you for the report !

[2019-12-01 22:50] thg2k commented on #15608
@williamdes It is really easy to reproduce:

From an empty database, have root@% with password and phpmyadmin@% with database phpmyadmin and SELECT,INSERT,UPDATE,DELETE access (i don't think it really matters, i tried giving ALL privileges to phpmyadmin user, it's the same).

Config diff looks like this:

[code]

[2019-12-01 22:51] thg2k commented on #15608
The bug appears from the commit I mentioned till current QA_4_9 d8444c18a98f8e37d1f078a9fc95cbd921f0ceca

If you have problems triggering the bug I can give you access to my environment, just contact me privately

[2019-12-01 22:54] williamdes commented on #15608
@thg2k okay, thank you so much
I will try to reproduce and fix it tomorrow if I find some time after work :)

[2019-12-02 09:34] rabeehrz commented on #15491
Can you show me the file where this is done, I'm having a hard time finding it. :sweat_smile:
Thanks

[2019-12-02 09:42] Tithugues commented on #15491
I was thinking about this file: https://github.com/phpmyadmin/phpmyadmin/blob/master/js/messages.php

[2019-12-02 10:06] rabeehrz commented on #15491
Okay Thanks, I'll look into this! :smile:

[2019-12-02 12:23] RaphaelCarvalho commented on #14887
Great, solved my problem too, tks.

[2019-12-02 14:22] arezonavabiyan commented on #12145
Done :)
<a href="https://www.archivenews.ir/fa/news/details/715/-گوگل-پزشک-نیست-/">گوگل</a>

[2019-12-02 15:06] arezonavabiyan commented on #12145
Perfect :)
<a href="https://www.web3z.com">هاست لینوکس</a>

[2019-12-02 19:11] mauriciofauth commented on #15607
I'm not sure about 5.1. I think we still require PHP 7.1 for 5.1 and require PHP 7.4 after the 5.1 release.

Another reason to chose PHP 7.4, besides the new features, is the fix for the MySQL authentication issue.

[2019-12-02 19:59] ibennetch commented on #15607
I think it depends on when 5.1 is released. Probably I'd want to target 5.1 for the fall of next year, so PHP 7.2 will probably still be in security support at that time. So it's likely that we'd want to drop PHP 7.2 support in 5.2.

Unless we do LTS support for 4.9 (or 5.0) and move ahead with dropping PHP older than 7.4 starting with phpMyAdmin 5.2.

I was going to ask on the mailing list, curre

[2019-12-02 20:28] ibennetch commented on #15607
Note that distributions also maintain LTS versions with security fixes, such as Debian which has PHP 5.6 supported until June 2020. Theoretically, those distributions should backport their own security fixes for applications like phpMyAdmin, but sometimes it's helpful to those maintainers if we maintain an LTS release (for security fixes only) even after PHP has officially ended support.

[2019-12-03 08:03] AshwinGinoria commented on #15571
Hello, Sorry for being so late.
I've fixed the issue on 5.0, Now how should I proceed with applying it on 4.9 ??

[2019-12-03 08:20] nikkolai14 commented on #14801
I also want to help on this? kindly update us if this still available, thank you :)

[2019-12-03 08:25] victorphoenix3 commented on #14801
I would like to join too. Is all the work here completed?

[2019-12-03 10:12] nikkolai14 commented on #14801
It seems that this project is not active anymore

On Tue, Dec 3, 2019, 16:26 victorphoenix3, <notifications@github.com> wrote:

[2019-12-03 14:34] harsh-kukreja commented on #14411
Hello @williamdes I have solved the bug in my local pc as this is my first time contributing can you please tell me the steps

[2019-12-03 17:29] shifatbuet commented on #15598
@williamdes  I want to work on this . But current git repository dont show this error.
which one to clone and PR?

[2019-12-03 18:08] williamdes commented on #14801
@nikkolai14

It is still active and development is done !

[2019-12-03 18:09] williamdes commented on #14801
And I would mention @seyfer in https://github.com/phpmyadmin/phpmyadmin/issues/14801#issuecomment-546714359

[2019-12-03 18:13] williamdes commented on #14411
Hello @harsh-kukreja

You can follow the steps:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout `QA_4_9` branch since it is a fix and create a new branch from `QA_4_9`
- Run `npm install` (maybe not usefull)
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Do the fix, in you

[2019-12-03 18:15] williamdes commented on #15598
@shifatbuet you should clone the repository and checkout master branch
after running `composer install` please run `yarn install`
Do not forget to compile scss files after each change `yarn run css-compile`

[2019-12-03 18:25] williamdes commented on #15571
Hello @AshwinGinoria you can fix it on 4.9 branch and open a pull-request ;)

[2019-12-03 19:04] shifatbuet commented on #15598
![edited_pic](https://user-images.githubusercontent.com/14275177/70081050-f2be7c80-1631-11ea-9750-c17092805729.PNG)
looks okay @williamdes

[2019-12-03 19:04] shifatbuet commented on #15598
??

[2019-12-03 19:11] williamdes commented on #15598
@shifatbuet do you have the same thing on a database sql query page (like the first screenshot from OlafvdSpek ) ?

[2019-12-03 19:17] shifatbuet commented on #15598
@williamdes  yes

[2019-12-03 19:21] williamdes commented on #15598
Maybe @OlafvdSpek can help ?

[2019-12-03 21:43] shifatbuet commented on #14773
if database is not selected then we have to take database name from sql_query . right?

[2019-12-03 21:44] shifatbuet commented on #14773
@williamdes  if database is not selected then we have to take database name from sql_query . right?

[2019-12-03 22:21] Josefism commented on #15433
Worked for me as well! Many thanks!

[2019-12-03 22:35] williamdes commented on #14773
@shifatbuet Would make sense, but what if the query uses a join ?
or uses multiple tables in the `FROM` clause ?

[2019-12-04 01:13] nikkolai14 commented on #14801
@williamdes Okay, I will going to take a look at the files then let you guys know what files I will be working on, Thanks!

[2019-12-04 04:02] shifatbuet commented on #14773
@williamdes  I was thinking about this :

- explode sql query(select * from a join a b c d e f) to array using space.
- find the position of 'FROM' or 'from' ex: 3
- get number 4 postions value.
-  if contains dot (.) explode it again  otherwise it is the db.
- if doesn't contain dot (.) finally exploded array[0] is db.

[2019-12-04 04:10] shifatbuet commented on #15599
@OlafvdSpek  how to reproduce it ?? which popup you are talking about on what action ?

[2019-12-04 08:08] williamdes commented on #14773
@shifatbuet You should not do that, we have https://github.com/phpmyadmin/sql-parser to do the work :)

[2019-12-04 09:24] ShailuJain commented on #15588
I found the issue. There is no css class such as `width100` in any of the css files of `master` and `QA_5_0`. The styling for those are coming from styling of `div#tablestatistics table`. I think we should remove both `width100` class from `QA_5_0` as well as 'w-100' class from `master` the class list. You can check by removing the `width100` , `w-100` using chrome from the respective branches.

@

[2019-12-04 09:30] OlafvdSpek commented on #15599
The yellow popup that's in the screenshot of course.

To reproduce I think you save a query.

[2019-12-04 09:56] berarma commented on #14513
I've come here because I didn't see a `composer.lock` file and the installation instructions tell me to use `composer update --no-dev`. This seemed a bit weird since it means I will get a different set of dependencies than the ones the project was tested with for a production site.

I think the issue here is using the project as a project template. It may seem convenient having composer download t

[2019-12-04 13:22] ianthedev opened #15614 "Issue of server charset causes phpMyAdmin to show a notice of “Undefined offset”"
### Describe the bug

There is a Notice of "Undefined offset" every time I open phpMyadmin.

### To Reproduce

Steps to reproduce the behavior:
1. open phpMyadmin

### Expected behavior

There should be no Notice.

### Screenshots

[Link to a Stack Overflow question with a screenshot.](https://stackoverflow.com/questions/58679472/issue-of-server-charset-causes-phpmyadmin-to-show-a-notice-of-undefi

[2019-12-04 14:40] ianthedev opened #15615 "Newly created database is not appearing in the navigation panel"
### Describe the bug

Newly created database is not appearing in the navigation panel (the collapsable left panel). Clicking the "Reload navigation panel" icon or re-opening the phpMyAdmin page does not help.

Fortunately, I can still find that new database in the Database list, which is accessed through clicking the "Database" link in the top menu in the right panel.

### To Reproduce

Steps to r

[2019-12-04 16:12] shifatbuet commented on #14773
@williamdes  okay.  may be i have to do it in URL . like CommonParams.set('db', data.params.db);.

I am really confused , how to do it from php code and also refresh so that url shows db= something. Can you help me a little bit?

[2019-12-04 16:15] shifatbuet commented on #15599
save a query.?? how to do it?
please give me screenshot of English language.

[2019-12-04 16:16] harsh-kukreja commented on #14411
Hey @williamdes  there is no scss file in the QA_4_9 branch i need help

[2019-12-04 17:33] williamdes commented on #14773
@shifatbuet I think we need a different approach: disable the db verification
Is it possible: maybe it is so hard to do it in the code base of export page that we can not do it.

beacause the query of this issue is `select 1 from dual;` obviously has no real database

[2019-12-04 17:35] williamdes commented on #14411
@harsh-kukreja Yes, they are in .php files
you will find them very easily and they are pure .css files

[2019-12-04 17:53] harsh-kukreja commented on #14411
Okay and i should create pull request on QA_4_9 itself?

[2019-12-04 21:49] mossmoss commented on #15559
I just wanted to add some additional info that resolved the issue satisfactorily. Upping the timeout on the load balancer to be higher than the "Sessions lifetime" in shibboleth2.xml resolves, but is a bit of a less than ideal fix (though is a fix nonetheless). Default "Sessions lifetime" in shibboleth2.xml is 28800 or 8 hours.

Essentially the fix keeps the browser on the same node longer. I set

[2019-12-04 22:00] ShailuJain commented on #12932
I found that when there are more than two node containers the `buildPathPart` function returns without executing further code as this condition `count($containers) != 1` as stands true. https://github.com/phpmyadmin/phpmyadmin/blob/5edfed48abcbe6eddfb9cece46ca21bfe85f93b4/libraries/classes/Navigation/NavigationTree.php#L380-L384
But even if i changed the condition to `count($containers) < 1` it ex

[2019-12-05 08:37] OlafvdSpek commented on #15607
If you want to support Debian LTS:
Debian 9 with PHP 7.0 is supported until June 2022..

[2019-12-05 13:34] OlafvdSpek opened #15618 "Text size too small"
Version information: 5.1.0-dev, latest stable version: 4.9.2
Git revision: 2bae3aa from master branch,

![pma](https://user-images.githubusercontent.com/2218936/70239789-403f0480-176c-11ea-9472-8e53bde7a667.PNG)

[2019-12-05 14:11] OlafvdSpek opened #15619 "Text alignment"
The column names ("actor_id") seem to be aligned differently (higher) then the other text in the rows.

https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor

![pma](https://user-images.githubusercontent.com/2218936/70242599-5e5b3380-1771-11ea-8719-a4a152e42218.PNG)

[2019-12-05 15:55] edgarasg commented on #15485
Seems to work, but lines do not appear initially, i have to reload designer page. And it even works without PMA, as it should :)

[2019-12-05 17:06] thg2k commented on #15608
I suppose you managed to replicate the bug? Is it as bad as I thought, with the mix-up of the link/auth connection links?

[2019-12-05 17:19] williamdes commented on #15485
@edgarasg so no more bugs except having to reload ?

[2019-12-05 17:26] williamdes commented on #15608
@thg2k Trying now, thank you for reminding me :)

[2019-12-05 18:03] williamdes commented on #15608
![image](https://user-images.githubusercontent.com/7784660/70261057-eea97080-1791-11ea-82a6-bf59ec7c646b.png)
Seems like it ?

[2019-12-05 18:05] williamdes commented on #15608
[code]

[2019-12-05 18:16] williamdes commented on #15608
`if ($user === '@') {// Request did not succeed, please do not cache` > `if (false) {// Request did not succeed, please do not cache`

Allows access, I need to find what is going wrong..

[2019-12-05 19:55] williamdes commented on #15588
@ShailuJain as I can not find any open PR that mentioned the issue feel free to send a pull-request :)

NB: only affects master, no fix to do on 5.0

[2019-12-05 20:27] #15571 closed

[2019-12-05 20:32] williamdes commented on #15615
@ianthedev can you send your `config.inc.php` file ?

[2019-12-05 20:33] williamdes commented on #15614
@ianthedev And if you browse the "Variables" page, can you send a screenshot filtering on "charset" ?

[2019-12-05 20:36] williamdes commented on #15614
introduced by 8b7db3bd5b6ab93e7fd31125d2d113021bd803fc

[2019-12-05 20:47] thg2k commented on #15608
I'm arrais

[2019-12-05 20:49] thg2k commented on #15608
Sorry, typing from phone and messed up! I was going to say, i'm afraid it's more complicated than that.. i wanted to submit a patch but after 2 hours i had to give up. i'm happy to help you if you are still working on a patch, just hook me up

[2019-12-05 20:51] williamdes commented on #15609
Are you looking for https://docs.phpmyadmin.net/en/latest/config.html#cfg_ShowGitRevision ?

[2019-12-05 20:54] williamdes commented on #15608
@thg2k I you have a patch or a start you can open a pull-request or post the diff here if you want to give your work to be finished

The issue seems to be in the caching solution, but the source is maybe somewhere else.

[2019-12-05 21:46] NikhilNagdev commented on #15619
Can i work on this issue ?

[2019-12-05 21:55] williamdes commented on #15619
@NikhilNagdev yes absolutely, go ahead and do not forget to compile CSS files after each change
`yarn run css-compile`
All the work to do is on master branch
Feel free to ask for help

[2019-12-05 21:58] NikhilNagdev commented on #15619
This is my very first contribution can you please guide me with the steps that how should i proceed

[2019-12-05 22:11] williamdes commented on #15619
Follow the steps:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch and create a new branch from master
- Run `yarn install` or `npm install`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Start developing the fix
- Do not forget to use [`--signoff`](https://git

[2019-12-05 22:11] williamdes commented on #15619
@NikhilNagdev is it okay for you?

[2019-12-05 22:16] NikhilNagdev commented on #15619
Yeah thanks :)

[2019-12-06 04:25] ianthedev commented on #15615
I just sent it to you. Thanks.

[2019-12-06 04:35] ianthedev commented on #15614
It says "Not enough privilege to view server variables and settings." as shown in the screenshot below:

![Screenshot_2019-12-06 127 0 0 1 127 0 0 1 phpMyAdmin 4 9 1](https://user-images.githubusercontent.com/3986852/70296247-d898c000-1824-11ea-87f8-6cf7e1422bdd.png)

[2019-12-06 06:39] sandyyy007 commented on #15618
Please elabore the required changes?
do you want to increase the size of the text in gray?

[2019-12-06 06:51] ShailuJain commented on #15588
@williamdes i solved the issue and created a PR. You can review it.

[2019-12-06 07:57] edgarasg commented on #15485
As far as i can see, yes.

[2019-12-06 08:18] OlafvdSpek commented on #15618
Yes I do

[2019-12-06 09:26] thg2k commented on #15608
I don't have a patch to share, as i said i tried to come up with a fix but got stuck on some weird logic i found..

I will be out of office until next wednesday, after that i'm happy to help on this if you give me a crash course on the pma source code.. I'm very good in PHP coding but I'm not familiar with pma code base, and I have some questions on the caching layer. If you can spare 10 minute to

[2019-12-06 09:37] hierro1981 opened #15621 "Cloudfront https proxy"
If phpmyadmin is deployed on an http web server behind an AWS CloudFront distribution that support https, phpmyadmin warn the user about a possible "mismatch between HTTPS indicated on the server and client".

On the libraries/classes/config.php there are already some checks, on **isHttps** function, for different kind of proxy but there is no AWS specifi one.
Adding the following check on it shou

[2019-12-06 11:29] williamdes commented on #15621
@hierro1981 totally agree, thank you for reporting this issue

[2019-12-06 14:14] OlafvdSpek opened #15623 "Range search issue"
Select BETWEEN for rental_id operator, a dialog pops up.

1. If you Cancel the dialog, there's no simple way to re-open it.
2. The dialog has date pickers for int fields.
3. The dialog has unnecessary empty space.
4. The fields aren't big enough to show a date fully.

https://demo.phpmyadmin.net/master-config/index.php?route=/table/search&db=sakila&table=rental

![pma](https://user-images.githubus

[2019-12-06 19:33] NikhilNagdev commented on #15619
I have solved the issue.
Can i create a pull request now ?

[2019-12-06 20:04] williamdes commented on #15619
@NikhilNagdev Yes, you can
Do not forget to target master branch and link this issue

[2019-12-06 22:31] mauriciofauth commented on #15607
Debian | PHP | EOL | EOL LTS
------ | --- | --- | ---
8 _Jessie_  | 5.6 | June 2018 | June 2020
9 _Stretch_ | 7.0 | June 2020 | June 2022
10 _Buster_ | 7.3 | ~2022 |

[2019-12-06 22:43] mauriciofauth commented on #15607
Maybe we can sync our PHP versions and LTS dates with Debian. That way we will no longer have to discuss PHP upgrades and LTS dates.
What you think about this idea?

[2019-12-06 22:47] williamdes commented on #15607
Very very good idea, and the users will upgrade their distributions because everyone will stop supporting updates

[2019-12-06 22:52] mauriciofauth commented on #15607
If we agree with this, phpMyAdmin 4.9 will be LTS until June 2022 (to support PHP 7.0) and we can require PHP 7.3 in phpMyAdmin 5.2 or even in 5.1 (current master branch).

[2019-12-07 02:22] ibennetch commented on #15607
@remicollet Would you like to comment here about what sort of LTS would be helpful from us?

[2019-12-07 07:20] OlafvdSpek commented on #15607
What about Ubuntu, CentOS, RHEL and others? ;)

That'd guide end-of-life dates,  but what'd be the rule for minimum supported versions?

7.3 is covered by pMA 5.0 so you could bump to 7.4 as well.

[2019-12-07 10:34] OlafvdSpek opened #15626 "vsprintf(): Too few arguments"
https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=z&goto=index.php%3Froute%3D%2Ftable%2Fstructure&back=index.php%3Froute%3D%2Ftable%2Fstructure&field=a&change_column=1

![pma](https://user-images.githubusercontent.com/2218936/70372990-612b6500-18e6-11ea-9fe0-094c2769a13c.PNG)

[2019-12-07 10:34] OlafvdSpek opened #15627 "Mime Transforms etc @ Demo"
Can't use Mime Transforms currently @ https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=z&goto=index.php%3Froute%3D%2Ftable%2Fstructure&back=index.php%3Froute%3D%2Ftable%2Fstructure&field=a&change_column=1

[2019-12-07 10:36] OlafvdSpek opened #15628 "JSON encoding failed: Malformed UTF-8 characters, possibly incorrectly encoded"
`JSON encoding failed: Malformed UTF-8 characters, possibly incorrectly encoded` after setting display transformation to `Binary to IP` for a varbinary column and browsing that table.

5.0.0-rc1

[2019-12-07 10:57] OlafvdSpek commented on #15006
Duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/14371 ? ;)

[2019-12-07 11:08] williamdes commented on #15006
Duplicate of #14371

[2019-12-07 11:08] #15006 closed

[2019-12-07 11:12] williamdes commented on #14986
Duplicate of #14371

[2019-12-07 11:12] #14986 closed

[2019-12-07 11:14] williamdes opened #15629 "editing a date adds .00000 and breaks re-editing the date using the picker"
I had some issues with the trailing `.00000` when inserting dates

Ref: #582
Ref: b495061cdf01a63d43f521a75ad184e9d8b82e2d

_Originally posted by @williamdes in https://github.com/phpmyadmin/phpmyadmin/issues/14986#issuecomment-486311712_

[2019-12-07 11:24] williamdes commented on #15627
Related to #15626

[2019-12-07 13:03] OfficialOzioma commented on #15566
ok

[2019-12-07 13:49] mauriciofauth commented on #15607
Since Debian 10 has PHP 7.3, we can require PHP 7.3 for new releases and future LTS when the time comes.

[2019-12-07 14:04] OfficialOzioma commented on #15618
Has someone worked on this, if not can i work on it?

[2019-12-07 14:16] williamdes commented on #15618
@OfficialOzioma you can work on it if you want :)

You can maybe compare between the demo servers (`root`, no password) to find out what is wrong
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/QA_5_0/)

[2019-12-07 14:55] OlafvdSpek commented on #15607
It'd be nice if you could sync releases with Debian such that Debian 11 ships with a fresh pMA release.
This would require a release before (probably) March 2021.

[2019-12-07 21:31] Tithugues commented on #15626
Is there any way to reproduce it please?

[2019-12-07 21:38] Tithugues commented on #15628
Would it be possible to have a structure and a set of data to reproduce it please?

[2019-12-08 08:21] remicollet commented on #15607
@OlafvdSpek why should a project take care specifically of Debian, when tons of other distro exist ?

* Fedora 30/31 have 7.3
* Fedora 32 will have 7.4
* RHEL / CentOS 7 have 5.4 (default version) and 7.2 and soon 7.3 (RHSLC 3.4)
* RHEL / CentOS 8.0 have 7.2
* RHEL 8.1 have 7.2 or 7.3 (CentOS 8.1 should be released soon)

IMHO **7.2** is a reasonable target, as the version is still maintained

[2019-12-08 10:51] OlafvdSpek commented on #15607
I already mentioned them in https://github.com/phpmyadmin/phpmyadmin/issues/15607#issuecomment-562823457

That said, which ones ship a phpmyadmin package?

It's about the phpmyadmin version that might be released at the end of 2020. By that time 7.2 runs out of support.

[2019-12-08 14:40] ibennetch commented on #15607
To consolidate everyone's ideas and try to reach a conclusion, this is what I'm coming up with:

### phpMyAdmin 4.9
* Requires PHP 5.5 or newer
* We'll provide LTS (security fixes only) until June 2020 to support Debian Stretch (which has PHP
7.0)
* Bugfix support will end when 5.0 is released, probably 4.9.3 will be the last release alongside 5.0.0

### phpMyAdmin 5.0
* Requires PHP 7.1
* No LTS

[2019-12-08 15:25] OlafvdSpek commented on #15607
Such as those versions being without security support?

[2019-12-08 15:25] williamdes commented on #15607
@OlafvdSpek

Now, us, #15236, as the "phpMyAdmin packaging team"

@ibennetch could we have one last version with the 5.0.0 one to close bug-fix support on 4.9 ?

[2019-12-08 15:26] williamdes commented on #15607
I would agree, @mauriciofauth except for LTS reasons what would be the benefits ?

[2019-12-08 15:36] ibennetch commented on #15607
It's hard to define what that means, though — the PHP project has a date where security support ends, then each distribution also ends their LTS period at a different time. It's true that no one has shown an example here of a distribution that is currently maintaining 7.1, so I guess I can't make a strong argument for maintaining support for 7.1 over moving to 7.2.

[2019-12-08 15:36] ibennetch commented on #15607
Yes, I am currently planning to release 5.0.0 and 4.9.3 at the same time later this month.

[2019-12-08 15:43] williamdes commented on #15607
Here is a dependency diff for the packaging teams (little bit tweaked so it is readable)
https://www.diffchecker.com/rAftjfM6

[code]

[2019-12-08 20:14] Tithugues commented on #15615
@williamdes , anything relevant in the config file please?
For me, creating a `Test` DB works fine and the DB is displayed in the navigation panel.

[2019-12-08 20:23] williamdes commented on #15615
@Tithugues here is the file cleaned from any sensitive data or useless comments
Does `$cfg['Servers'][$i]['hide_db']` have something to do with the bug ?
[code]

[2019-12-09 04:50] AshwinGinoria commented on #15629
@williamdes how can I reproduce this issue ??

[2019-12-09 06:51] williamdes commented on #15629
@AshwinGinoria in-line edit a row with a dare :)

[2019-12-09 07:31] remicollet commented on #15607
If phpMyAdmin 4.9 supports up to 7.0 and 5.1 7.4+, this will mean that 7.1 to 7.3 users won't have any officially supported version ?

[2019-12-09 09:27] OlafvdSpek commented on #14371
Could this be fixed before 5.0?

[2019-12-09 10:58] mauriciofauth commented on #15607
@remicollet phpMyAdmin 4.9 supports PHP 5.5 to 7.4, but it will be an LTS to support PHP 5.5 to 7.0, since phpMyAdmin 5.0 requires PHP 7.1+.

[2019-12-09 12:01] williamdes commented on #14371
@OlafvdSpek If someone finds a fix (before end of this month) that supports all use cases, why not

cc @Tithugues @saurass @ShailuJain @kartik1000

[2019-12-09 13:05] shreshtapv commented on #15618
Hi, I'm a beginner. Can I work on this? If yes, could you guide me through?

[2019-12-09 13:12] gurrrung commented on #15618
@shreshtapv  Just find respective CSS and make the changes. Make sure you don't break anything else while fixing this. Simply search the classes or ids involved and work it out.

[2019-12-09 13:50] kloentje2 opened #15633 "Designer broken since update"
### Describe the bug

The PMA Designer is broken

### To Reproduce

Steps to reproduce the behavior:
1. Update to phpMyAdmin 4.9.2-all-languages
2. Go to PMA and select a database
3. Select the designer
4. Waiting................

### Expected behavior

When I open the Degisner I expect that I can use it to make diagrams

https://image.prntscr.com/image/ZbSjMiR7Ro6wuMO7lDmRfA.png

### Server confi

[2019-12-09 13:51] williamdes commented on #15633
@kloentje2 please post the image here, I can not access it

[2019-12-09 13:53] kloentje2 commented on #15633
![ZbSjMiR7Ro6wuMO7lDmRfA](https://user-images.githubusercontent.com/4500111/70440937-9c1ecb80-1a93-11ea-8bd8-3987fc2b230d.png)

[2019-12-09 13:56] williamdes commented on #15633
@kloentje2 right click on the link and open in a new tab
if you can see an error on the new tab, post it here

And please send the php error logs if you can have them :)

[2019-12-09 14:03] kloentje2 commented on #15633
@williamdes

When I access the URL from the browser (in a new tab)
Parse error: syntax error, unexpected '=' in /var/www/html/pma3/db_designer.php on line 70

But I did not change anything. Its just the ZIP

[2019-12-09 14:06] kloentje2 commented on #15633
`    } elseif ($_POST['operation'] == 'setDisplayField') {
        [
            $success,
            $message,
        ] = $designerCommon->saveDisplayField(
            $_POST['db'],
            $_POST['table'],
            $_POST['field']
        );
        $response->setRequestStatus($success);
        $response->addJSON('message', $message);
    } elseif ($_POST['operation'] == 'addNewRelati

[2019-12-09 14:53] kloentje2 commented on #15633
After the update I also have this error
"phpmyadmin relation features disabled"

Do you know what to do? I already have checked the engine version, that is InnoDB

[2019-12-09 15:01] williamdes commented on #15633
Yes

@kloentje2 go to the homepage and at the bottom you should see an error message, click on it and solve the issue or post the screenshot here please

The issue is on the "phpmyadmin" database, everything is fine on your database ;)

[2019-12-09 18:58] #15633 closed

[2019-12-09 19:07] williamdes commented on #15629
cc @kasunchathuranga

[2019-12-09 19:15] #15485 closed

[2019-12-09 19:16] williamdes commented on #15485
@3phreal is the issue solved for you ?

[2019-12-09 19:22] williamdes commented on #15621
https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/header-caching.html#header-caching-web-protocol
`CloudFront-Forwarded-Proto`

[2019-12-09 20:17] #15621 closed

[2019-12-09 20:18] williamdes commented on #15621
@hierro1981 can you please try fd2b172365575fc6a5420aea0eb3073deb19326b before 4.9.3 is out ?

[2019-12-09 20:35] williamdes commented on #15614
@ianthedev can you send `SHOW GRANTS;` ?
I can not reproduce your issue, how did you do to have `information_schema` disabled/access denied ?

[2019-12-09 20:40] williamdes commented on #15608
I will try another time to find out, If I can not find I will ask you
I can answer questions if needed

[2019-12-09 21:31] williamdes commented on #15608
[code]

Seems like the class loader calls the code when id should not

[2019-12-09 21:40] williamdes commented on #15608
@thg2k I think I have a fix, can you try `$this->_current_user = array('', '');` instead of `$this->_current_user = array();` on DatabaseInterface class

[2019-12-10 01:57] ianthedev commented on #15614
Here is the screenshot of `SHOW GRANTS;`
![Screenshot_2019-12-10 127 0 0 1 127 0 0 1 phpMyAdmin 4 9 1](https://user-images.githubusercontent.com/3986852/70488348-5b768f00-1b33-11ea-9a50-fe4a9db9921e.png)
Bu I failed to understand your second question.

[2019-12-10 05:23] Btazbt commented on #14184
using 4.9.2 and getting the same error. Tried using Chrome, IE, Firefox.  Running PHP Version 7.3.12 and MySQL version 8.0.18 with standard authentication.

[code]

[2019-12-10 06:52] williamdes opened #15634 "4.9.2+ Failed to set session cookie. Maybe you are using HTTP instead of HTTPS"
Getting the same error. Tried using Chrome (all extension disabled), IE, Firefox.  Tried options of clearing cookies.  Nothing in phpmyadmin, php, or apache error logs. No luck.

using myPHPAdmin 4.9.2 with PHP Version 7.3.12 and MySQL version 8.0.18 with standard authentication.

[code]

_Originally posted by @Btazbt in https://github.com/phpmyadmin/phpmyadmin/issues/14184#issuecomment-563838701_

[2019-12-10 06:54] williamdes commented on #15634
@Btazbt Are you using a load balancer, a proxy, strange browser extensions?

What is your browser?
Did you try private browsing?

[2019-12-10 06:56] williamdes commented on #14184
For everyone that has  the issue using 4.9.2 and higher please post in #15634
there is too much discussion here and some issues of this one are solved.
But not all the issues, still some edge cases to fix

[2019-12-10 08:34] remicollet commented on #15607
Really need to be clarified.
7.4 or 7.0 ?

But this is not a LTS version, thus if 7.1 support is dropped in 5.1, what will be the supported version ?

To be clear, I think all PHP versions should be supported by a phpMyAdmin LTS version.

[2019-12-10 08:49] OlafvdSpek commented on #15607
Both ;)
PHP 7.0 is supported by pMA 4.9 but not by 5.0
PHP 7.1 is supported by pMA 4.9 and 5.0

Presumably pMA 5.2

[2019-12-10 09:42] click0 commented on #15634
With the link https://example.com/phpmyadmin/ everything is ok.
In the case of a view link
https://example.com////phpmyadmin/
We get the error:
`Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin.`

[2019-12-10 10:30] williamdes commented on #15634
@click0 Okay, can you send as much info about your setup ?

I assume you are using 4.9.2 ;)

[2019-12-10 11:01] hierro1981 commented on #15621
@williamdes modifing my 4.9.2 config.php with the changes of https://github.com/phpmyadmin/phpmyadmin/commit/fd2b172365575fc6a5420aea0eb3073deb19326b works and remove the warning

[2019-12-10 11:22] click0 commented on #15634
phpMyAdmin Version 4.9.2
OS: FreeBSD 12.1
web server:  nginx/1.16.1
PHP(php-fpm): 7.2.24

[2019-12-10 12:42] Zaseth opened #15635 "Please enter a value greater than or equal to -2147483648"
When having a table with the following row:

[code]

When you use the **Insert** function in PHPMyAdmin, you receive the following error when inserting:

[code]

When you use the **SQL** function in PHPMyAdmin with an insert query, everything goes right. This is definitely a bug in PHPMyAdmin since you can insert it using an SQL statement, but not using the 'UI'. I'm using the latest stable versio

[2019-12-10 12:45] r0073rr0r opened #15636 "Trying to access array offset on value o type null [ReplicationGui.php#270]"
### Describe the bug

Trying to access array offset on value o type null in file ReplicationGui.php#270

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Home'
2. Click on 'Status'
4. See error

### Expected behavior

In older versions of PHP this will not break code (just brings exception) but in 7.4 it breaks.

### Screenshots

https://prnt.sc/q8svsc
https://prnt.sc/q8szls
https://pr

[2019-12-10 12:49] r0073rr0r commented on #15636
This will be a fix:
![image](https://user-images.githubusercontent.com/11500982/70530737-dbacec80-1b53-11ea-9419-b938ba672836.png)

[2019-12-10 13:10] williamdes commented on #15634
@click0 So you are not using a proxy and access phpMyAdmin with the nginx server

Can you paste the nginx config here ?

[2019-12-10 13:10] williamdes commented on #15634
You are using `PmaAbsoluteUri` @click0 ?

[2019-12-10 13:11] williamdes commented on #15635
Hello @Zaseth
Thank you for the report, it seems to be a partial duplicate of #14371

[2019-12-10 14:31] click0 commented on #15634
@williamdes
The contents of the config.inc.php file I provided above.
I am NOT using PmaAbsoluteUri.

A piece of nginx config to use phpmyadmin:

phpmyadmin.conf:
[code]

[2019-12-10 17:15] OlafvdSpek commented on #14371
Why not block the release?

[2019-12-10 17:17] williamdes commented on #14371
@OlafvdSpek you can email @ibennetch or discuss it here or on #15607 :man_shrugging:
For now the releases are scheduled to the end of the month

[2019-12-10 17:19] OlafvdSpek commented on #14371
How is this issue related to the PHP version?

[2019-12-10 17:29] williamdes commented on #15634
@click0 I am confused, I could not reproduce the issue you have
[code]

[2019-12-10 19:03] williamdes commented on #15634
@click0 I even tried free BSD for the first time !
`nginx version: nginx/1.16.1`
Works fine, had to install `php72 php72-mbstring php72-json php72-mysqli php72-session php72-hash`

[2019-12-10 19:10] click0 commented on #15634
I also have memcache as a repository for php sessions:
[code]

[2019-12-10 19:18] click0 commented on #15634
Are you sure you can not reproduce the problem when you login inside the panel at https://pma.ssl.local///////111111111111/ ?

[2019-12-10 19:22] williamdes commented on #15634
I had totally missed that, reproduced !
Thank you !

[2019-12-10 19:35] williamdes commented on #15634
[code]

The cookie path is wrong or from another point of view the URL of the user is wrong

[2019-12-10 19:43] click0 commented on #15634
Check still such url - https://pma.ssl.local:8443/index.php

[2019-12-10 19:54] williamdes commented on #15634
Works fine

[2019-12-10 20:18] williamdes commented on #15634
(the script can be vulnerable but adds some indication of the mistake)
[code]

[2019-12-10 21:12] click0 commented on #15634
This is a bad thought.
You must be allowed to use URIs with consecutive characters `/`.

[2019-12-10 21:15] williamdes commented on #15634
I agree
But something must be stripping them for some strange reason

[2019-12-11 01:49] Btazbt commented on #15634
nothing special. it's a home server on a windows platform

[2019-12-11 05:59] rana6737 opened #15638 "RANA TEL BD"
Security problems should not be reported here.

See our security page: https://www.phpmyadmin.net/security/

Thanks for your help!

[2019-12-11 05:59] rana6737 commented on #15638
rana

[2019-12-11 06:00] rana6737 opened #15639 "RANA"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2019-12-11 06:51] williamdes commented on #15638
?

[2019-12-11 07:03] williamdes commented on #15634
@Btazbt can you apply the diff and send the new message?
Diff :https://github.com/phpmyadmin/phpmyadmin/issues/15634#issuecomment-564229694

[2019-12-11 07:43] williamdes commented on #15639
Duplicate of #15638

[2019-12-11 07:43] #15639 closed

[2019-12-11 07:47] williamdes commented on #15638
@rana6737 if you have an issue, comment here
For now I am closing the issue.

[2019-12-11 07:47] #15638 closed

[2019-12-11 09:56] r0073rr0r opened #15640 "Trying to access array offset on value of type null [Results.php#4476]"
### Describe the bug

Trying to access array offset on value o type null in file Display\Results.php

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Empty created table'
4. See error

### Expected behavior

In older versions of PHP this will not break code (just brings exception) but in 7.4 it breaks.

### Screenshots

1. https://prnt.sc/q98dwf
![image](https://user-images.githubuser

[2019-12-11 12:34] ibennetch opened #15641 "Replication broken on 4.9.1"
This report comes from IRC user lembron, I have not tested it yet:

replication controlls broken for anyone? (4.9.1) and start/stop "dont work" - manually running the command via SQL the linter complains! - but success just fine and works

Replication::slaveControl() seems to issue correctly - but inside "$GLOBALS['dbi']->tryQuery" that never seems to arrive

public static function slaveControl($a

[2019-12-11 12:35] williamdes commented on #15641
Is it a duplicate of #15608 ?

[2019-12-11 12:36] ibennetch commented on #15641
Based on his report it doesn't sound like it to me, but he's gone and I don't currently have a replication server running to test myself.

[2019-12-11 12:39] ibennetch opened #15642 "Replication should not require AllowArbitraryServer"
This request comes from IRC user lembron.

### Is your feature request related to a problem? Please describe.

setting up replication seems to "need" $cfg['AllowArbitraryServer'] now... - the server i want to setup with IS also in the selectable servers list (so "it should be allowed ether way") - and other than this usecase, i really dont want $cfg['AllowArbitraryServer'] = true;

further i guess

[2019-12-11 16:36] gurrrung commented on #15618
@OlafvdSpek Can you add the query here and please give steps to reproduce this. I tried but the text size was looking fine to me.

[2019-12-11 16:55] CallMarl commented on #14184
Hey,
For me applying `4.9.2` didn't solve the mistake on Chrome but on Firefox. As I said previously in my config I have spécifique port and self-signed certificate.
I try new installation from the `git repo` not the `tar` then apply many différentes tag:
(I also try STABLE branch)

 - RELEASE_4_8_1
 - RELEASE_4_8_5
 - RELEASE_4_9_0
 - RELEASE_4_9_1
 - RELEASE_4_9_2

Finally work on Chrome `RELEAS

[2019-12-11 19:07] Jaideep-97 commented on #15598
Can I work on this? This is going to be my first contribution, so it would be helpful if someone guides me.

[2019-12-11 19:28] Jaideep-97 commented on #15474
@Xymph it's working fine for me. I am getting a cursor when editing a table column in-line.

[2019-12-12 04:09] wildone commented on #14220
docker container still on 7.2 :(

[2019-12-12 05:54] ibennetch commented on #14220
Max, I’m glad you mentioned that. I noticed it earlier today and plan to upload a fix soon. See https://github.com/phpmyadmin/docker/issues/258 to monitor the issue.

[2019-12-12 07:21] Jaideep-97 commented on #15317
Can I work on this if it is still open?

[2019-12-12 11:19] SugarD-x commented on #14220
From what I'm hearing from multiple sources, this was fixed in PHP 7.4.0, however after upgrading, I'm getting the caching_sha2_password issues again. I'm at a loss as to why PHP and MySQL refuse to communicate through this authentication method, even in a version that supposedly supports it. I can't even get into PHPMyAdmin to see what is going on either. It works fine in PHP 7.2.8, (the last one

[2019-12-12 11:35] ibennetch commented on #14220
SugarD-x, could you send us a list of your exact PHP, MySQL, and phpMyAdmin versions - or screenshot from the home page that shows that information (obscuring anything sensitive like the server hostname)?

[2019-12-12 11:48] Xymph commented on #15474
Thanks for looking into it. Then it's an old-browser problem -- I don't have the effect on another system in a modern browser either.
Closing this ticket.

[2019-12-12 11:48] #15474 closed

[2019-12-12 11:56] SugarD-x commented on #14220
PHP: 7.4.0
MySQL: Community Server 8.0.18
PHPMyAdmin: 4.9.2

They are all the latest production versions as of this posting. I upgraded everything except PHP and it was still working fine. (I was on PHP 7.2.8 prior to this issue, which was the last version before PHP 7.4.0 to support caching_sha2_password). As soon as I updated PHP, the issues popped up.

I've literally spent hours trying to hunt

[2019-12-12 12:38] williamdes commented on #15598
@Jaideep-97 @shifatbuet did a PR for this issue (#15611)

[2019-12-12 12:39] williamdes commented on #15317
@Jaideep-97 yes you can :)
Please use QA_4_9 branch

[2019-12-12 13:40] SugarD-x commented on #14220
Looks like I finally got an answer. It is **not** officially "fully" supported as of PHP 7.4.0 yet. Looks like I'll have to revert back to PHP 7.2.8 until the next release.

https://github.com/php/php-src/commit/4f06e67ad2201390ed35a9ea6288a00c0b04782b#commitcomment-36398518

[2019-12-12 16:34] Jaideep-97 commented on #15189
Is this issue still open? Can I work on this?

[2019-12-12 18:01] williamdes commented on #15189
@Jaideep-97 you can work on this one

[2019-12-12 18:58] Jaideep-97 commented on #15189
@williamdes it would be helpful to me if you can mention the file or the template which has the code for table. I am unable to find that.

[2019-12-13 00:25] pirland commented on #12437
I'm checking back in on this.  Would it perhaps be easier if I created a fresh branch, and integrated my changes into that?  I believe they were confined to one file.

[2019-12-13 06:02] Btazbt commented on #15634
Here is the error.

`Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin. We think the path is /C:/phpmyadmin/ and the path you are using is /phpmyadmin/`

phpmyadmin is installed in c:/<dir a>/<dir b>/<dir c>/phpmyadmin

[2019-12-13 08:30] williamdes commented on #12437
@pirland I you can split your work for CSP in one PR and another for the extra fixes and improvements It would help reviewing and merging ?
thank you for the contribution you made in #15539, I am sure It wan can be simplified to only CSP changes :)

[2019-12-13 09:25] victorphoenix3 commented on #15602
@williamdes  which files should I be looking into?

[2019-12-13 10:09] gurrrung commented on #15618
Oh no, we already had a PR for this.

[2019-12-13 11:08] victorphoenix3 commented on #15602
I think this has been fixed...this bug did not appear in my system.

[2019-12-13 14:10] Robinjoeh opened #15648 "Forcing 2FA for all users"
Hello guys!

I can't find any information about this, but is it possible to globally enforce 2 factor authentication to be used for all users?

I.e. having a pool of allowed devices, and require a code from one of these? The current 2FA built in seems to be "per user", and has to be configured for each.

[2019-12-13 15:02] ibennetch commented on #15648
You’re right, currently it’s individual to the user account. We could
discuss here what a site-wise policy would look like.

[2019-12-14 13:29] Robinjoeh commented on #15648
Gotcha! I think that could be a pretty nice enhancement.

My original thought was to have a pool of authorized devices (to get a code from), and one of these devices can be used when logging in to any account (unless the account has individual 2FA configured).

Is it possible to have multiple authorized devices currently, or it is just 1 device per user?

[2019-12-14 17:15] gurrrung commented on #15317
I observed when you execute the query and then you click on next page arrow, a error `#1242 - Subquery returns more than 1 row` pops up and then this same error pops up again when you try to execute the sql query again. To reproduce the bug you have to logout and login again.

[2019-12-14 19:14] Jaideep-97 commented on #15599
The yellow popup always has "Loading" as text whenever I enter a query. Could you please elaborate more about the issue @OlafvdSpek ?

[2019-12-14 19:38] OlafvdSpek commented on #15599
Go to https://demo.phpmyadmin.net/master-config/index.php?route=/database/sql&db=sakila and it should show.

[2019-12-15 09:20] djerrystyle opened #15651 "need some help to analysis PMASA-2019-5"
the comit "https://github.com/phpmyadmin/phpmyadmin/commit/ff541af95d7155d8dd326f331b5e248fea8e7111#diff-318d13940f6a71a40c408f13d1c24512" fix "sql injection".

add html escaped in move.js and database_tables.twig , but it look like just add filter at output .
in my point, if fix sqlinject should add filter at input point,but i cannot find where is the inject point.
the commit for sure can anti xs

[2019-12-15 11:08] williamdes commented on #15651
@djerrystyle if you are using a version before 4.7.7 you can close the issue.
You will not be vulnerable to the issue

[2019-12-15 13:52] mauriciofauth commented on #15651
Hi, @djerrystyle. Thanks for the question.
phpMyAdmin escapes the database/table names at output, because we don't want to restrict the possible names.
For example `<script>alert('XSS')</script>` and `&lt;script&gt;alert('XSS')&lt;/script&gt;` are both valid and different database/table names and we don't want to confuse the user.

[2019-12-15 14:01] ibennetch commented on #15651
I think perhaps the wording of the PMASA was a bit unclear here as well; as I recall the initial problem that William discovered was thought to be an SQL injection, but in fixing that it was discovered that the output was interpreted rather than displayed (which was more of an XSS attack) and it seems that perhaps I never updated the PMASA with those details.

[2019-12-15 14:40] #15618 closed

[2019-12-15 14:46] OlafvdSpek opened #15652 "Warning: #1287 FOUND_ROWS() is deprecated"
` Warning: #1287 FOUND_ROWS() is deprecated and will be removed in a future release. Consider using COUNT(*) instead.`

When clicking on Unique Values for any field.

https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor

[2019-12-15 17:28] fliespl commented on #15506
Found another issue related to this.

If we execute multiple queries (in example we have table with 1 column with primary key):

insert into migration_versions values (1);
insert into migration_versions values (2);
insert into migration_versions values (1);

setHistory is never called even though first two queries executed correctly and only third one failed. Currently not sure what it should save

[2019-12-16 04:31] linjialiang opened #15655 "Web page access is too slow, request improvement"
Web page access is too slow, while adminer web access is very fast, making phpmyadmin much less attractive

[2019-12-16 06:05] djerrystyle commented on #15651
thank you!

[2019-12-16 06:05] #15651 closed

[2019-12-16 10:00] OlafvdSpek commented on #14732
Shouldn't this be high-priority?

[2019-12-16 10:18] williamdes opened #15656 "[UI] column header bug"
[code]
![image](https://user-images.githubusercontent.com/7784660/70898848-be659b80-1ff5-11ea-8979-f023fec4cde6.png)

[2019-12-16 11:17] ibennetch commented on #15655
My installation isn’t particularly slow, and my machine is rather
resource-constrained.

Could you tell us more about your configuration as well as PHP, MySQL,
phpMyAdmin, and web browser versions?

Is the web server running locally or on another machine? What about the
database server?

Does the web server machine have internet access or is it running on an
isolated network segment?

[2019-12-16 11:26] williamdes commented on #14732
Now that it is 5.0 + I agree

[2019-12-16 11:27] williamdes commented on #14732
@OlafvdSpek #15204 did not solve the issue ?

[2019-12-16 11:49] OlafvdSpek commented on #14732
No

https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor

[2019-12-16 12:51] harsh-kukreja commented on #15656
Hey @williamdes
Can you please elaborate on the issue?

[2019-12-16 13:05] Gaurav-Punjabi commented on #15656
Hey @harsh-kukreja, actually I’ve already started working on this issue😅.

[2019-12-16 13:10] harsh-kukreja commented on #15656
Okay @Gaurav-Punjabi

[2019-12-16 13:39] williamdes commented on #15602
@victorphoenix3 are you using version 5.0 ?

[2019-12-16 13:40] williamdes commented on #15634
Thank you @Btazbt for this precious information

[2019-12-16 13:42] williamdes commented on #15189
@Jaideep-97 did you reproduce the issue ?
If yes, please send how I can do to reproduce it

[2019-12-16 13:43] williamdes commented on #15634
@CallMarl can you try to apply the patch ?

[2019-12-16 14:39] gurrrung commented on #15652
Why do I get `vsprintf(): Too few arguments` in the link of above given server.

[2019-12-16 14:41] williamdes commented on #15652
@gurrrung you are seeing #15626
You can use the [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/) demo server

[2019-12-16 16:03] victorphoenix3 commented on #15602
@williamdes I should have checked before. Am using version 5.1.0. It seems to be free of this bug.

[2019-12-16 17:05] harsh-kukreja opened #15658 "Empty error box"
### Describe the bug

Empty error box appears when clicking on the filter button to hide the table attributes

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'SQL' type query **SHOW PROCESSLIST**
2. Click on 'Small down arrow icon'
3. Uncheck/Check one the checkbox
4. You will see an empty error box appearing

### Expected behavior

The column field should hide or unhide without showi

[2019-12-16 17:53] williamdes commented on #15658
Will be fixed with #15656

Must be removed since the query is not a table

[2019-12-16 18:04] harsh-kukreja commented on #15658
Can you help me to find the files for this issue?

[2019-12-16 18:12] williamdes commented on #15658
@harsh-kukreja #15656 will have to remove the checkbox, I suggest that you pick an issue on https://github.com/phpmyadmin/phpmyadmin/projects/7

[2019-12-16 18:40] harsh-kukreja commented on #15658
Okay @williamdes

[2019-12-16 19:55] NikhilNagdev commented on #14732
I have solved this issue please review my PR.

[2019-12-16 20:10] ShailuJain commented on #15652
Are you working on this @williamdes ? Can you help me with the steps in reproducing this issue?

[2019-12-16 20:26] williamdes commented on #15435
Reproduced, fixing.
thank you @sdurban and @marto55555 for waiting patiently a so long time

[2019-12-16 20:32] #15435 closed

[2019-12-16 20:36] williamdes commented on #15111
If someone can reproduce this in production, please report here

[2019-12-16 21:13] #15623 closed

[2019-12-16 21:13] #14732 closed

[2019-12-16 22:49] williamdes commented on #14732
@OlafvdSpek I fixed the fix (a993e36acad72d7909c6f022e8bc65d8d40eb6cb) of the fix (836cc74413e789d3961e255ca9e939c0402bbbb4) of my fix in 850c125684e7e0cc6b6ac28ead1033a1c6fc5e4f

Code was added by #14417 in 2a07cee164a5aa43c49800fa0485c885e77e59b8

[2019-12-17 01:13] Br324 opened #15660 "2 local wp/phpmyadmin installations Databases removed twice"
I have 2 local wp/phpmyadmin installations On 2 occasions up to now the databases have been removed. Any suggestions as to how this can happen?

[2019-12-17 04:06] ibennetch commented on #15660
Hi,

Not really. You (or someone) could be using phpMyAdmin and clicking to drop
the database (confirming the warning dialog in the process), there could be
some periodic cleanup code associated with your WordPress or one of its
plugins, your web host could be doing something strange, you could be
connecting to a different MySQL server entirely, or something could be
compromised (WordPress itself,

[2019-12-17 05:22] libelu309 commented on #15640
[than úc](https://www.thandanhapkhau.com/than-uc)
[than da](https://www.thandanhapkhau.com/)
[công ty than](https://www.thandanhapkhau.com/tin-tuc/cong-ty-than-lec-group-nha-nhap-khau-than-hang-dau-tai-viet-nam)

[2019-12-17 08:15] SvenMW commented on #10435
This is not fixed, this is still present in latest 5.6
Please note that the upstream bug in mysql is "closed" not in "fixed" state.
This is actually expected behaviour of mysql, the "fix" (on the mysql side) is to add documentation for this behaviour and how to heal your replication once it is broken.

The correct way to fix this is to not revoke grants which where never given to the user.

Please

[2019-12-17 08:35] OlafvdSpek commented on #14732
Do tests cover this scenario?

[2019-12-17 08:40] OlafvdSpek opened #15661 "Query shown twice"
https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=store

![pma](https://user-images.githubusercontent.com/2218936/70979035-347b0880-20b1-11ea-8fc5-8d60a5b31444.PNG)

[2019-12-17 08:41] OlafvdSpek opened #15662 "Returns to browse page after dropping key"
It should stay on the structure page.

https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=actor

[2019-12-17 08:44] OlafvdSpek opened #15663 "Structure not shown after adding column"
https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=zzz

![pma](https://user-images.githubusercontent.com/2218936/70979375-dbf83b00-20b1-11ea-8ba8-f37809ba5b75.PNG)

[2019-12-17 08:48] OlafvdSpek commented on #15626
Isn't this a 5.0 issue?

[2019-12-17 08:51] OlafvdSpek commented on #15626
Guess not, I got confused by `phpMyAdmin Demo Server: Currently running Git revision RELEASE_5_0_0RC1-631-gef7a121c84 from the master branch.`

[2019-12-17 09:30] OlafvdSpek opened #15664 "Option to dismiss phpMyAdmin configuration storage warning"
An option / button to dismiss this would be nice.

`The phpMyAdmin configuration storage is not completely configured, some extended features have been deactivated. Find out why.
Or alternately go to 'Operations' tab of any database to set it up there.`

![pma](https://user-images.githubusercontent.com/2218936/70984465-cfc4ab80-20ba-11ea-9db5-93d4a799fd3d.PNG)

[2019-12-17 09:31] OlafvdSpek opened #15665 "Button to auto-fix partial pMA conf storage"
When only one of the tables is missing, there seems to way to auto-create this.

[2019-12-17 10:19] williamdes commented on #14732
Yes, they do

If you discover that I made a mistake please report ASAP

[2019-12-17 10:24] OlafvdSpek commented on #14732
But they didn't before?

Otherwise I don't understand https://github.com/phpmyadmin/phpmyadmin/issues/14732#issuecomment-566022004

[2019-12-17 11:27] williamdes commented on #14732
@OlafvdSpek no, not before
I had no time and asked if maybe a miracle had solved the issue

[2019-12-17 15:38] Jaideep-97 commented on #15189
I haven't been able to reproduce the issue as well. How do I change the column size?

[2019-12-17 15:40] Jaideep-97 commented on #15584
I pushed 2 commits into my forked repo but failed to add signoff as it was my first contribution and hence unable to open PR for this issue. How do I change that?

[2019-12-17 16:07] williamdes commented on #15584
You should create a branch on your fork and cherry-pick the changes
After cherry-picking you can do `git commit --amend --no-edit --signoff` and then push the commit

[2019-12-17 22:51] williamdes commented on #15189
@mauriciofauth do you have an idea ?

[2019-12-18 06:21] salterping opened #15668 "change db need to re login"
### Describe the bug

I'm change login database，if i go back, tell me need to re login.

### To Reproduce

Steps to reproduce the behavior:
1、![image](https://user-images.githubusercontent.com/8542611/71060234-e42ea400-219f-11ea-8d71-b9301242d4fd.png)
2、
![image](https://user-images.githubusercontent.com/8542611/71060908-bf3b3080-21a1-11ea-8198-65c5679849e7.png)
3、
![image](https://user-images.git

[2019-12-18 06:26] WisdomEye commented on #14427
Sorry for not answer before!!!

After sometime, I got a job to update 3 servers, and found same issue.

But, this time, I have found another reported issue about the root of problem:

https://github.com/phpmyadmin/phpmyadmin/issues/15004

Main problem was on php.ini.

Need use:

[code]

Everything works this way.

[2019-12-18 11:42] Zaseth commented on #15635
When is this getting fixed? @williamdes

[2019-12-18 12:02] raimundmeyer opened #15669 "Change column from row in Structure view broken when column name contains spaces"
### Describe the bug

You can't change column properties with the link/button provided in the Structure view in the row of the column when the column name contains spaces or other non-standard characters.

### To Reproduce

Steps to reproduce the behavior:

1. Create table containing a column with a space

[code]

(N.B. The column name needs ` around it, they are not shown)
2. Go to Structure tab

[2019-12-18 12:21] SugarD-x commented on #14220
Just a quick heads up for everyone, this was **not** fixed in PHP 7.4.1, as originally planned. I'm still waiting for them to update the tag on the issue too. (They haven't created one for PHP 7.4.2 yet, and PHP 7.4.1 hasn't been listed as released online on the main website either. It is only available on the Windows PHP one right now).

[2019-12-18 12:58] williamdes commented on #15635
@Zaseth I am quite sure that I will not have time to fix this issue soon, If want to try ?

[2019-12-18 13:35] marbbom opened #15670 "Changing "longtext" column's collation truncates data after 65535 chars"
### Describe the bug

This one has got me scratching my head. I've got a database table column set as "LONGTEXT" with its collation on "latin1_swedish_ci". When changing this column's collation to something else (I tried utf8mb4_unicode_ci, but I don't think it matters) **via phpmyadmin's table structure page**, the data in that column gets truncated to exactly 65535 characters long, without warni

[2019-12-18 13:43] cplaiu commented on #14220
PHP 5.4.16
MySQL: Community Server 8.0.18
PHPMyAdmin: 4.4.15.10
Centos: 7

I added default-authentication-plugin=mysql_native_password to the file /etc/my.cfg and use ALTER USER root IDENTIFIED WITH mysql_native_password BY 'PASSWORD'; but still not work.

![image](https://user-images.githubusercontent.com/32199465/71090868-41c4ef80-21a4-11ea-9353-e32c080f4eb9.png)

[2019-12-18 14:00] SugarD-x commented on #14220
You need to change "PASSWORD" to the password you want. You just changed your root password literally to "PASSWORD" without the quotes if you used that command as is.

[2019-12-18 14:22] Zaseth commented on #15635
@williamdes I'm just a user of PHPMyAdmin but as long as this bug is present I'll be using Datagrip.

[2019-12-18 14:31] victorphoenix3 commented on #15663
@williamdes which files should I start with?

[2019-12-18 14:42] ibennetch commented on #14220
cplaiu That is a generic error message that doesn’t apply to this specific
solution. Are you sure the MySQL server process is running? Can you connect
from the command line client? Perhaps try changing between host “localhost”
and “127.0.0.1” in config.inc.php (in case your user has access through one
connection type but not the other).

[2019-12-18 15:20] cplaiu commented on #14220
It's what I do.

ALTER USER root@'localhost' IDENTIFIED WITH mysql_native_password BY 'mypassword';

Yes I'm sure that mysql process is running, because I can connect from the CLI. I try to change “localhost” to 127.0.0.1”.

netstat -atnlp|grep -i "3306\|mysql" returns:

tcp6       0      0 :::33060                :::*                    LISTEN      27697/mysqld
tcp6       0      0 :::3306

[2019-12-18 15:28] harsh-kukreja commented on #15664
Hey @OlafvdSpek can you tell me the steps to reproduce the warning

[2019-12-18 15:29] mauriciofauth opened #15671 "Twig extensions package is abandoned"
phpMyAdmin depends on the [twig/extensions](https://github.com/twigphp/Twig-extensions) package for the `trans` tag/filter in templates. But the package is now abandoned.

It's suggested to use `trans` filter from the [Symfony Translator](https://symfony.com/doc/current/translation.html) package.

Current `I18nExtension` is not enough for us. It doesn't have support for custom gettext functions an

[2019-12-18 15:34] williamdes commented on #15671
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=946301#17

[2019-12-18 21:43] #15640 closed

[2019-12-18 21:45] williamdes commented on #15663
@OlafvdSpek I am not use that it is a bug ?

[2019-12-19 01:11] mauriciofauth commented on #15671
I looked at Symfony Translation component. It supports loading the translations from `.mo` files, but it doesn't have full gettext support. It doesn't support l10n notes or context for example.

[2019-12-19 05:04] victorphoenix3 commented on #15663
@williamdes that's what i thought too...we don't show the structure after executing any of the sql queries.

[2019-12-19 06:34] Jaideep-97 commented on #15584
Opened a PR for this issue. (#15673 )

[2019-12-19 07:43] OlafvdSpek commented on #15663
Table structure is shown after creating a table, after editing a column, after adding, editing or dropping an index but not after dropping a column..

[2019-12-19 07:50] OlafvdSpek commented on #15670
Is this a bug in phpMyAdmin or in MySQL?

[2019-12-19 09:03] marbbom commented on #15670
If you ask me, in hindsight, I'd say MySQL actually (after I discovered the query phpmyadmin runs to change the column's collation).

Though a possible workaround on Phpmyadmin's side seems to be to use MODIFY instead of CHANGE (if not renaming the column name, like in my case). Or a warning would be nice for the time being(?).

I'm not familiar enough with what happens behind the scenes of these

[2019-12-19 13:43] marbbom commented on #15670
Sorry! I incorrectly stated using MySQL in my first post, but it's actually MariaDB. (It's a shared hosting environment which I did not set up myself; the info shown in Plesk threw me off, my apologies.)

I did another test on yet another system and MySQL 5.6.13 actually _doesn't_ show the problematic behaviour.

So far only a problem when using MariaDB (5.5.64 and 10.0.38).

[2019-12-19 13:49] OlafvdSpek commented on #15670
Could you open a ticket @ https://jira.mariadb.org/secure/Dashboard.jspa ?

[2019-12-19 14:15] marbbom commented on #15670
Done, thanks for the pointer :)

_I'm not experienced at reporting issues, so I hope I've selected the right category/tags etc._

https://jira.mariadb.org/browse/MDEV-21359

[2019-12-19 22:46] williamdes commented on #15641
I agree, years that this issue exits

[2019-12-19 23:00] #15641 closed

[2019-12-19 23:02] williamdes commented on #15367
@p-rakowski89 56e8ebd8e99609b59e6a77363702caa3ff0b1b8b #15641
for the last screenshot

[2019-12-20 07:41] p-rakowski89 commented on #15367
Ok, replication now starts normally. But skipping errors doesn't work well.
My guess is that this note is also missing.
But I report to help correct errors.

[2019-12-20 12:28] victorphoenix3 commented on #15662
@williamdes The form returns to the browse page even after "adding" the key. Should I fix that in the PR too?

[2019-12-20 17:12] williamdes commented on #15662
@victorphoenix3 Yes, would make sense

[2019-12-20 20:02] marbbom commented on #15670
Right, I'm back here with more info after some more testing. I _think_ the problem lies in PhpMyAdmin after all.

First: I specifically mentioned LONGTEXT, but MEDIUMTEXT is also truncated to 65535 characters (when changing the collation via the "Reproduce steps" in my original post).

Secondly, this is really odd, but if I change the collation via phpmyadmin's "SQL" query box with a query in the

[2019-12-20 20:26] jhaagsma opened #15676 "PhpMyAdmin does not generate the correct query for Altering columns to Nullable"
### Describe the bug

When I try to make a column nullable in phpmyadmin, it does not create or execute the correct query to do so.

### To Reproduce

Check Null on a column that is not currently nullable, and save. It will not become nullable.

### Expected behavior

The column will become nullable.
The query generated in the screenshot should be
ALTER TABLE `<table_name>` ADD `<column_name>` INT

[2019-12-20 22:32] williamdes commented on #15367
@rolfjentsch Can you help reproduce the issue so I can fix it ?

[2019-12-20 23:11] following5 opened #15677 "5.0.0-rc1 - Show Processlist triggers exception"
### Describe the bug

The command _show processlist_, entered in any SQL tab on my phpMyAdmin 5.0 installation, produces this:

[code]

### Expected behavior

Show the process list

### Server configuration

- Operating system:  Windows 7 SP1 32bit
- Web server: Apache 2.4.41
- Database version: MariaDB 10.4.11
- PHP version: 7.4.1
- phpMyAdmin version: 5.0.0-rc1

### Client configuration

- Brows

[2019-12-21 00:50] victorphoenix3 commented on #15662
@williamdes done. Ready for review.

[2019-12-21 07:52] williamdes commented on #15664
Hey `PmaNoRelation_DisableWarning` exits, closing
https://docs.phpmyadmin.net/en/latest/config.html#cfg_PmaNoRelation_DisableWarning

https://github.com/phpmyadmin/phpmyadmin/blob/39f42f848b1ef5bfa77d5f377a547cee040c9c7e/libraries/classes/Controllers/Database/OperationsController.php#L339-L347

[2019-12-21 07:52] #15664 closed

[2019-12-21 07:54] OlafvdSpek commented on #15664
That's not a button. ;)
It'd be nice if the warning mentioned this conf setting..

[2019-12-21 07:59] williamdes commented on #15664
But is an option ;)

[2019-12-21 08:19] williamdes commented on #15676
@jhaagsma I could not reproduce this issue on 4.9.3-dev, I think it was fixed in 4.9.2
https://github.com/phpmyadmin/phpmyadmin/blob/0445a6dad7e243c08bd4362fd7aff49c47368fc6/ChangeLog#L90-L91

You should try 4.9.2 if possible, see `https://github.com/phpmyadmin/phpmyadmin/issues/15236` (Debian) and
`https://github.com/phpmyadmin/phpmyadmin/issues/15515` (Ubuntu)

[2019-12-21 08:19] #15676 closed

[2019-12-21 08:25] williamdes commented on #15671
related issue https://github.com/phpmyadmin/phpmyadmin/issues/13794

[2019-12-21 08:57] p-rakowski89 commented on #15367
it seems to me that this is the solution to the problem

public static function handleRequestForSlaveSkipError()
    {
        $count = 1;
        if (isset($_POST['sr_skip_errors_count'])) {
            $count = $_POST['sr_skip_errors_count'] * 1;
        }

        $qStop = Replication::slaveControl("STOP", null, DatabaseInterface::CONNECT_USER);
        $qSkip = $GLOBALS['dbi']->tryQuery(

[2019-12-21 09:28] williamdes commented on #15367
Thank you @p-rakowski89
Do you want that I apply your diff as a git commit ?
https://github.com/phpmyadmin/phpmyadmin/blob/master/CONTRIBUTING.md#patches-submission
If so please send me your signoff line like `Signed-off-by: William Desportes <williamdes@wdes.fr>`

[2019-12-21 14:18] #15609 closed

[2019-12-21 14:18] #15601 closed

[2019-12-21 15:11] marbbom commented on #15670
Another test in the PhpMyAdmin demo suite (not sure how long it will remain there):

https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&amp;server=1&db=world&table=test_table&server=1

Trying to change the collation of the LONGTEXT column (which contains more than 65535 characters) via the above page, outputs the following error (better than just truncating like I've seen s

[2019-12-21 15:26] williamdes commented on #15670
Hey guys, be sure to use latest 4.9 version :)

[2019-12-21 16:04] marbbom commented on #15670
I'm not sure what you mean. The demo suite uses the latest version (4.9.2), right?

Where in older versions it simply truncates the data, this version outputs the in my previous post stated error.

Why is it using:
`ALTER TABLE test_table CHANGE data data BLOB;`

Instead of:
`ALTER TABLE test_table CHANGE data data **LONG**BLOB;`

...when converting the collation of a LONGTEXT column?

For MEDIUMT

[2019-12-21 16:18] williamdes commented on #15670
Yes

I am not sure but in one specific case we convert the column to text to change the type, but this is maybe only for virtual columns

[2019-12-21 16:23] marbbom commented on #15670
Please have a good look at my last post ;) ...this is a problem... It shouldn't be using BLOB (when changing collations) for MEDIUMTEXT or LONGTEXT columns at all.

Or you can shoot me later if it isn't.

[2019-12-21 17:41] jhaagsma commented on #15676
Hm, okay, thanks.

On Sat, 21 Dec 2019 at 01:19, William Desportes <notifications@github.com>
wrote:

[2019-12-21 18:15] marbbom commented on #15670
This is basically the whole conclusion, I can't word it any shorter or clearer:

**In PMA 4.9.2 we're unable to change the collation of a LONGTEXT (or MEDIUMTEXT) column (via the [table structure page](https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&amp;server=1&db=world&table=test_table&server=1)) if a row in it contains more than 65535 characters in that field ("data t

[2019-12-21 18:30] williamdes commented on #15367
774fc686bb1e874cae5a73e0960fd81abe605fea

[2019-12-21 19:14] williamdes commented on #15676
@jhaagsma If the issue is not solved feel free to ask to re-open

[2019-12-21 19:40] harsh-kukreja opened #15682 "Timestamp method not taking current time"
### Describe the bug
Whenever i create a field with timestamp suppose the field is null initially then a double click on the cell and use the Timestamp() to get the current timestamp the method takes the date correct but always gives the time as **00:00:00.000000**

### To Reproduce

Steps to reproduce the behavior:
1. Create any table with a tuple with timestamp type
2. Initially do not insert an

[2019-12-21 19:41] williamdes commented on #15682
Related to #15629

[2019-12-21 20:49] #15608 closed

[2019-12-21 20:50] williamdes commented on #15608
@thg2k can you apply f402a8f2cf8639c373ad4a1a7d7097568dd15c7d and tell us if it works fine ?

[2019-12-21 20:57] marbbom commented on #15670
I couldn't resist. Below is the bit of 'offending' code in phpmyadmin (right at the bottom). Basically it's _always_ converting to 'BLOB' first on changing the column's collation. Instead it should always convert to LONGBLOB to fix the issue (or if that impacts performace too much, perhaps only if the column type is LONGTEXT, and likewise: MEDIUMBLOB for a MEDIUMTEXT type).

The only reason I see

[2019-12-21 21:06] #15677 closed

[2019-12-21 22:14] williamdes commented on #15614
Trying to reproduce the issue using https://github.com/phpmyadmin/phpmyadmin/issues/11442 and https://github.com/phpmyadmin/phpmyadmin/issues/11446

[2019-12-21 22:29] williamdes commented on #15614
reproduced using MySQL 5.7.8 :tada:

[2019-12-21 22:46] #15614 closed

[2019-12-22 05:25] miyurusankalpa opened #15684 "phpmyadmin.net is not accessible via IPv6"
Cannot download phpmyadmin on a IPv6 only server.

both www.phpmyadmin.net and files.phpmyadmin.net does not have AAAA records.

`Connecting to files.phpmyadmin.net (files.phpmyadmin.net)|185.93.2.15|:443... failed: Connection timed out.
`
`Connecting to www.phpmyadmin.net (www.phpmyadmin.net)|195.181.174.2|:443... failed: Connection timed out.`

phpmyadmin.net does have a AAAA record but, connect

[2019-12-22 08:53] williamdes commented on #14723
:ping_pong: ?

[2019-12-22 09:04] williamdes commented on #13018
Could not reproduce, if you can please post here.

[2019-12-22 09:04] #13018 closed

[2019-12-22 09:14] williamdes commented on #14279
[code]

[2019-12-22 09:14] williamdes commented on #14279
This patch seems to work, need to test it more

[2019-12-22 11:22] williamdes commented on #15200
After more research, I think I can implement it before 4.9.3 is out

[2019-12-22 13:58] NikhilNagdev commented on #15682
The issue is caused by the dateTime picker.
@williamdes  Can i work on this ?

[2019-12-22 14:00] NikhilNagdev commented on #15682
The issue caused by dateTime picker.
@williamdes  Can I work on this ?

[2019-12-22 14:16] williamdes commented on #15682
@NikhilNagdev yes, go ahead :)

[2019-12-22 14:59] NikhilNagdev commented on #15682
From which branch should i make my new branch ?

[2019-12-22 17:44] williamdes commented on #15682
QA_4_9

[2019-12-22 18:12] OverRide-BT commented on #15576
Hi @ibennetch @williamdes
I have sent screenshots for the error in mysql did you see it (my last comment) are this supposed to happened !?

[2019-12-22 18:13] OverRide-BT commented on #15536
@williamdes @ibennetch  are there any update regarding this problem?

[2019-12-22 19:07] williamdes commented on #15652
![image](https://user-images.githubusercontent.com/7784660/71326119-98a92c80-24f6-11ea-8240-d3230b546969.png)

![image](https://user-images.githubusercontent.com/7784660/71326111-80391200-24f6-11ea-9dc6-c0c418e6ef41.png)

[2019-12-22 19:27] NikhilNagdev commented on #15682
Hey @williamdes  Please review my PR.

[2019-12-22 20:23] Abdallah-Fouad-X opened #15686 "Cross original resource sharing"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. use the following script :

change it to html

[POC.txt](https://github.com/phpmyadmin/phpmyadmin/files/3992952/POC.txt)

2. open it on browser then make sure you are already login
2. Click on exploit
3. right click on it and see the network and see the response
4. See d

[2019-12-22 21:34] williamdes commented on #15686
can you send the `config.inc.php` file ?

[2019-12-22 21:36] williamdes commented on #15686
Also, please right click and send the 'copy as curl'
Another point, please use fresh private browsing for your tests

[2019-12-22 21:37] OverRide-BT commented on #15686
[config.txt](https://github.com/phpmyadmin/phpmyadmin/files/3993031/config.txt)

[2019-12-22 21:42] OverRide-BT commented on #15686
are you mean try to copy the response ?

(what you see in the response section is about data leakage from the application )

with every request i clear the cache and start with new tab

[2019-12-22 22:00] williamdes opened #15687 "Javascript error using timepicker"
### Describe the bug

A JS error

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table with a date and edit the row
2. Enter 'Timestamp()' instead of the time
3. Hit enter, repeat if bug does not occur

### Expected behavior

No error

### Server configuration

- phpMyAdmin version: 4.9.x maybe before

https://demo.phpmyadmin.net/QA_4_9/sql.php?db=sakila&table=film_category&pos=0

<

[2019-12-22 22:01] williamdes commented on #15686
@OverRide-BT you are using `$cfg['Servers'][$i]['auth_type'] = 'config';` so nothing can prevent access to this page

[2019-12-22 22:03] OverRide-BT commented on #15686
can you recommend change it to what ! to try to test it again ?

[2019-12-22 22:04] williamdes commented on #15686
If you want to research vulnerabilities you could use `$cfg['Servers'][$i]['auth_type'] = 'cookie';`

[2019-12-22 22:09] OverRide-BT commented on #15686
the same issues appear when i change it to cookie
![2019-12-23 (2)](https://user-images.githubusercontent.com/57077590/71327982-86d88100-2518-11ea-92a8-05ee5173cc88.png)

[2019-12-22 22:10] williamdes commented on #15687
https://stackoverflow.com/questions/20987889/jqueryui-datepicker-uncaught-typeerror-cannot-read-property-settings-of-unde

[2019-12-22 22:21] williamdes commented on #15686
Please send the copy as curl and test using private browsing ;)

[2019-12-22 22:26] OverRide-BT commented on #15686
i use private mode and still working

curl 'http://localhost/phpmyadmin/server_sql.php' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:71.0) Gecko/20100101 Firefox/71.0' -H 'Accept: */*' -H 'Accept-Language: en-US,en;q=0.5' --compressed -H 'Origin: null' -H 'DNT: 1' -H 'Connection: keep-alive' -H 'Cookie: phpMyAdmin=8t5pulo9hdotrvtpstbb6n4tea; pma_lang=en; pmaUser-1=%7B%22iv%22%3A%22

[2019-12-22 22:30] williamdes commented on #15686
Okay, use the curl command without the cookie part to see if it still works?

[2019-12-22 22:36] OverRide-BT commented on #15686
i only use the script which i sent in first comment
![image](https://user-images.githubusercontent.com/57077590/71328208-0ca9fb80-251c-11ea-80b5-6ad71d00d4cc.png)

[2019-12-22 22:42] OverRide-BT commented on #15686
the request send without cookie already

[2019-12-22 22:52] thg2k commented on #15608
Hi @williamdes,

I tested bfe41c0434d0ac5aa348f1fd6bf787a51a413065 (more recent), and it works fine. I still have doubts about the fix though, I see you basically invalidated the caching in getCurrentUserAndHost(), but I still wonder how the DatabaseInterface class is meant to work. Is it supposed to be instantiated once per database? Once per connection? Once per server?

Because I see two contra

[2019-12-22 23:50] williamdes commented on #15608
@thg2k I agree with you, on 4.9 branch it is too complicated to do refactoring
We only do refactoring on master branch
Maybe we should clarify the code around what created 2 issues in total :)

[2019-12-22 23:54] williamdes commented on #15686
@OverRide-BT when researching for security issues nothing can be trusted :)
So my advice to be 100% sure there is an issue would be to install WireShark and inspect the http call

But, that said you can inspect the request in the debugger

And if you can copy as curl and it adds a cookie that will be a proof that you are logged in in some way

Be 100% to only have cookie auth and no config auth

F

[2019-12-22 23:56] williamdes commented on #15686
You know what, please try to break into my server

https://phpmyadmin-pr-8.wdes.eu.org

[2019-12-23 00:21] OverRide-BT commented on #15686
* can you say the steps you are doing that
about you last massage

You know what, please try to break into my server
https://phpmyadmin-pr-8.wdes.eu.org

if you may explain  the issues : Cross origin resource sharing
https://portswigger.net/web-security/cors

basic it allow to share the requested data with out server or website by adding header
Origin: any domain
and when the user request that wil

[2019-12-23 02:43] linjialiang commented on #15655
![图片](https://user-images.githubusercontent.com/8848263/71332251-748a3180-2570-11ea-9977-0a3db9db45f9.png)

![图片](https://user-images.githubusercontent.com/8848263/71332368-dfd40380-2570-11ea-95e4-1af9e2a6e129.png)

[2019-12-23 02:45] linjialiang commented on #15655
phpmyadmin is the latest stable version

[2019-12-23 02:46] linjialiang commented on #15655
In contrast to adminer, the speed was astronomical

[2019-12-23 08:58] OlafvdSpek opened #15688 "Server Error (500)"
`Server Error (500)`

https://www.phpmyadmin.net/packages.json

[code]

Looks like it was a temporary issue.

[2019-12-23 10:15] williamdes commented on #15655
@linjialiang what version of phpMyAdmin are you using?

The server is on MacOS/Windows/Linux?

Please send a lot more information so I can help you :)

[2019-12-23 10:16] williamdes commented on #15688
Possible duplicate of #15684

[2019-12-23 10:47] OlafvdSpek commented on #15688
What makes you think so?

[2019-12-23 10:49] williamdes commented on #15688
We use a CDN and there is no good reason to have a 500 error on a static file

Does it work know?
If not please try on your browser and report back the error

[2019-12-23 10:50] OlafvdSpek commented on #15688
My browser said before: `Server Error (500)`.
Now it's fine..

[2019-12-23 10:53] williamdes commented on #15688
Okay, strange issue..

[2019-12-23 10:53] #15688 closed

[2019-12-23 13:17] williamdes commented on #15109
![image](https://user-images.githubusercontent.com/7784660/71360114-fbe69d80-258e-11ea-98da-7866c3abfc26.png)

[2019-12-23 14:40] williamdes commented on #15689
Duplicate of #14295

[2019-12-23 14:40] #15689 closed

[2019-12-23 14:40] williamdes commented on #15689
@Sammion have a look to #14295 this issue should be solved.

[2019-12-23 14:47] williamdes commented on #15690
:ping_pong: @Peps03

[2019-12-23 14:47] #15690 closed

[2019-12-23 20:31] Tarun-Kachhela opened #15691 "Not able to unselect last column to hide it"
### Describe the bug

While unselecting checkboxes to hide the columns the last column is not getting unselected
resulting in the last column not being hided

### Steps to reproduce the behavior:
1. Go to pma page, select the table which has a primary key
2. Click on 'Small down arrow icon'
3. Uncheck all the checkbox
4. Resulting in the last column not being hided

### Expected behavior
The last

[2019-12-23 20:34] williamdes commented on #15691
I am not sure this is a bug, not showing any columns seems okay

Can I have your thoughts @OlafvdSpek ?

[2019-12-23 20:45] OlafvdSpek commented on #15691
Hiding all columns seems weird but I don't know why you'd want to disallow it.

[2019-12-23 20:54] ibennetch commented on #15576
I think we should be able to catch an error in this query in order to handle it more gracefully when we get an error back from MySQL. @mauriciofauth, is this something you would be willing to look at whether we can fix this?

It looks like our offending area is:

[2019-12-24 00:49] linjialiang commented on #15655
@williamdes

name|version|
---|---
phpmyadmin|4.9.2
OS|Microsoft Windows [version 10.0.17763.914]

[code]

[2019-12-24 00:59] linjialiang commented on #15655
@williamdes
I also have two servers, debian and centos, and phpMyAdmin that works on them is not very smooth either.
Relatively speaking, the lower the phpmyadmin version, the smoother the browser access will be

[2019-12-24 01:06] linjialiang commented on #15655
I see that the execution time returned by phpMyAdmin is very fast.
The reason why phpMyAdmin is slow is probably because of the slow rendering of the front-end code

![图片](https://user-images.githubusercontent.com/8848263/71387009-a06aed00-262c-11ea-8c28-5cedcb9917ed.png)

[2019-12-24 01:19] linjialiang commented on #15655
![图片](https://user-images.githubusercontent.com/8848263/71387288-1de32d00-262e-11ea-9bc2-4c10448dc2da.png)

![图片](https://user-images.githubusercontent.com/8848263/71387306-2f2c3980-262e-11ea-8656-0a3d74349fac.png)

![图片](https://user-images.githubusercontent.com/8848263/71387323-40754600-262e-11ea-8438-5e81e30b673f.png)

[2019-12-24 10:03] williamdes commented on #15655
I agree that we have some code to improve
Does your data results have a lot of foreign key links?

[2019-12-24 10:05] williamdes commented on #15655
A'd for the jquery warnings, do not worry I fixed them in another version
Maybe 5.0
I will have a look

[2019-12-24 14:16] victorphoenix3 commented on #15590
@williamdes could you please explain the issue in detail?

[2019-12-24 14:44] williamdes opened #15692 "[JS] No plot target specified"
<details><summary>trace</summary>
<p>

[code]

</p>
</details>

[easyphp dev server 17.0](https://www.easyphp.org/easyphp-devserver.php)

[2019-12-24 14:44] williamdes commented on #15692
![image](https://user-images.githubusercontent.com/7784660/71417185-5140ae80-2664-11ea-9902-3378836c55b9.png)

[2019-12-24 15:01] #15692 closed

[2019-12-24 15:02] williamdes commented on #15590
@victorphoenix3 this issue is on our back-end https://github.com/phpmyadmin/error-reporting-server

[2019-12-24 19:30] Tarun-Kachhela commented on #15691
If not hiding the last column then the last checkbox's UI should be like it is disabled maybe we can show it disabled by using a lighter color shade
What do you think @williamdes?

[2019-12-24 19:48] Tarun-Kachhela opened #15693 "Focus of active tab is lost by clicking refresh option provided by phpmyadmin."
### Describe the bug

After using refresh feature provided by pma page the focus of the active tab is lost and setting icon at the top right of the PHPMyAdmin page is not visible.

### Steps to reproduce the behavior:
1. Go to pma page, select the any table
2. Click on the Refresh option provided by pma.
### Before clicking refresh button
![SharedScreenshot](https://user-images.githubusercontent.c

[2019-12-24 20:55] williamdes commented on #15693
Reproduced, thank you for reporting this issue !

[2019-12-24 20:56] williamdes commented on #15691
@Tarun-Kachhela disabling the last checkbox seems like a good idea to me

[2019-12-24 21:15] Tarun-Kachhela commented on #15693
Can I search a solution for this @williamdes

[2019-12-24 21:15] williamdes commented on #15693
@Tarun-Kachhela yes, you are welcome !
Please use `QA_4_9` branch

[2019-12-24 21:20] Anonycoders opened #15696 "Incorrect format parameter"
Hi
after upgrading to latest version of phpmyadmin, when trying to import DB from backup files I keep get this error **Incorrect format parameter**
but in version 4.9.2-1 it works and imports DB backup files with no error!

[2019-12-24 21:22] Tarun-Kachhela commented on #15693
can you guide me with the basic process? This is my first contribution

[2019-12-24 21:26] williamdes commented on #15693
Here is my first contribution guide:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout `QA_4_9` branch since it is a fix and create a new branch from `QA_4_9`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Find or apply the fix you created
- Do not forget to use [`--signoff`]

[2019-12-24 21:35] Tarun-Kachhela commented on #15693
No.
Thanks for the help

[2019-12-24 21:50] #14248 closed

[2019-12-24 22:27] williamdes commented on #14698
[code]
and the error disappears

[2019-12-24 22:31] NikhilNagdev opened #15695 "Input field for the time in datetime picker is disabled"
### Describe the bug

When we click on the calendar button to insert timestamp for a column in the insert tab the input field for time is disabled, whereas while editing a timestamp value from browse tab the input field is not disabled.

### To Reproduce

Steps to reproduce the behavior:
1. Create a column in a table with type TIMESTAMP.
2. Go in insert tab and click on the calendar button near th

[2019-12-24 22:35] williamdes commented on #15695
@NikhilNagdev #15685 ?

[2019-12-24 22:43] NikhilNagdev commented on #15695
Sorry i didn't get you

[2019-12-24 22:50] williamdes commented on #15695
Sorry, I was thinking that I was solved by your PR that I just merged

[2019-12-24 22:52] williamdes commented on #15225
@ftrotter can you please try last version and explain what is still broken ?

[2019-12-24 22:54] williamdes commented on #15263
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2019-12-24 22:54] #15263 closed

[2019-12-24 22:54] williamdes commented on #15263
PS: The user did not respond to me after I :ping_pong: him on messenger

[2019-12-24 22:55] williamdes commented on #15249
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2019-12-24 22:55] #15249 closed

[2019-12-24 22:55] NikhilNagdev commented on #15695
Ohh it's okay :)

[2019-12-24 22:56] #13324 closed

[2019-12-24 22:59] williamdes commented on #14361
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2019-12-24 22:59] #14361 closed

[2019-12-24 23:02] williamdes commented on #15476
@pswaab did you find the root cause of the issue or solved it ?

[2019-12-24 23:03] williamdes commented on #15399
@lucaslehot I made some changes in the latest version (4.9.2), please have a try

[2019-12-24 23:05] williamdes commented on #15176
@agmikhailov Can you please try last version and let me know if you will have the issue ?

[2019-12-24 23:05] #14827 closed

[2019-12-24 23:09] #15682 closed

[2019-12-24 23:35] #15636 closed

[2019-12-24 23:36] williamdes commented on #15636
@r0073rr0r I closed the issue on 4.9,5.0,5.1 versions with 54e202af5e61c57a7b4ba4ca28f22360d5a1e581 and ee6b388a4ee5304c6d648ef914ea0b87b230b47d

[2019-12-25 07:34] yashrajbothra786 commented on #15656
@Gaurav-Punjabi  are you still working on the issue??

[2019-12-25 07:36] Gaurav-Punjabi commented on #15656
@yashrajbothra786 I have solved the issue and submitted a PR. Just waiting for it to get merged.

[2019-12-25 09:13] yashrajbothra786 commented on #15695
are you working on this @NikhilNagdev

[2019-12-25 09:28] AndNovAtor opened #15697 "5.0.0-rc1 - Uncaught Error: Call to a member function get() on null in db_export.php"
### Describe the bug

Unable export a database table from multiple table search from database "view", by "With selected" select box - get 500 server error (PHP Exception)

### To Reproduce

Steps to reproduce the behavior:
1. Login to PMA
2. Click on any database
3. Select any table (by click on left checkbox)
2. Click "With selected" select box
3. Choose "Export" on the select box (by click)
4. S

[2019-12-25 09:42] williamdes commented on #15697
Thank you for the report @AndNovAtor !

[2019-12-25 09:48] #15697 closed

[2019-12-25 09:51] williamdes commented on #15692
Param | Value
 -----------|--------------------
 Error Type | Error
 Error Message |No plot target specified
 Exception Type |js
 phpMyAdmin version |4.9.3-dev
 Incident count | 1
 Link | [Report#62070](https://reports.phpmyadmin.net/reports/view/62070)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-12-25 10:00] williamdes commented on #15523
[code]

[2019-12-25 10:03] williamdes commented on #15523
Thank you for the structure @miklcct !
I added some queries and could reproduce the issue.

[2019-12-25 10:04] #15498 closed

[2019-12-25 10:07] williamdes commented on #15347
Reproduced using :
[code]

[2019-12-25 10:09] williamdes commented on #15347
You need to edit inline the query and submit it again.

[2019-12-25 10:15] williamdes commented on #15523
I opened an issue on our parser https://github.com/phpmyadmin/sql-parser/issues/275
I will add a hack to fix the issue for now

[2019-12-25 10:21] williamdes commented on #15347
I opened an issue on our parser https://github.com/phpmyadmin/sql-parser/issues/275

[2019-12-25 11:31] NikhilNagdev commented on #15695
No.
You can find a solution for this @yashrajbothra786

[2019-12-25 11:49] yashrajbothra786 commented on #15669
Hello @williamdes, Can i contribute and help fixing this issue??

[2019-12-25 12:47] williamdes commented on #15669
Hello @yashrajbothra yes you can
Please use QA_4_9 branch as base

[2019-12-25 13:28] williamdes commented on #15523
I tracked down the issue to a very basic bit of code
[code]

[2019-12-25 13:32] williamdes commented on #15523
For now I think nothing can be done because the issue is on the mysqli driver IMO

[2019-12-25 13:32] ShailuJain commented on #15109
Hey @williamdes
I checked into the issue and found that typing `'POINT(1 2)',0` into the text field produces the error but if `POINT(1 2),0` is typed there is no error. So how should we proceed with the issue?

[2019-12-25 13:34] williamdes commented on #15109
@ShailuJain If all MySQL and MariaDB versions agree that `POINT(1 2),0` is a valid syntax then we can safely remove the quotes
If you find some documentation can you post it here ?

[2019-12-25 13:56] ShailuJain commented on #15109
In my opinion if `POINT(1 2),1` is given the executing query will be
 `INSERT INTO table_name (id, shape) VALUES (NULL, ST_GeomFromText('POINT(1 2),0'))`
which is a valid query and if given `'POINT(1 2)',1`,
 `INSERT INTO table_name (id, shape) VALUES (NULL, ST_GeomFromText('\'POINT(1 2)\',0'))`
is produced which is why this error is produced. But then too if a find some documentation i will post

[2019-12-25 14:02] williamdes commented on #14299
Still had it but could not reproduce it more than one time

[2019-12-25 16:37] yashrajbothra commented on #15669
thanks,I resoveld the issue can i pull request

[2019-12-25 17:14] williamdes commented on #15669
@yashrajbothra yes, you can
Please target QA_4_9
Do you need more informations?

[2019-12-25 19:39] yashrajbothra commented on #15669
Issue is already resloved in QA_4_9

[2019-12-25 19:51] williamdes commented on #15669
Can you open a pull-request ?

[2019-12-25 20:46] Anonycoders opened #15698 "Error 500 importing Database"
in latest release, when trying to import any database in any size, it returns 500 error

[2019-12-25 21:03] williamdes commented on #15698
@Anonycoders can you send the php error log ?

[2019-12-25 22:32] Bhanu-mbvg commented on #15687
Hey, can I work on this issue?

[2019-12-25 23:57] williamdes commented on #15687
@Bhanu-mbvg Yes, contributions are very welcome

[2019-12-26 04:54] yashrajbothra commented on #15669
Request pulled can u please review

[2019-12-26 05:19] jmgtheworld94 opened #15700 "PHPmyadmin welcome page not loading properly"
Hi, I'm trying to access phpmyadmin and the below page shows up.

![](https://i.stack.imgur.com/WpvTi.png)

When i access

http://localhost:8080/phpmyadmin/server_privileges.php?viewing_mode=server&lang=en, I get the following error:

Fatal error: Uncaught TypeError: Argument 1 passed to PhpMyAdmin\CheckUserPrivileges::__construct() must be an instance of PhpMyAdmin\DatabaseInterface, null given,

[2019-12-26 08:43] muhammadarsalansiddiqui opened #15702 "Error in rendering specific table"
### I'm getting errors in specific table
I have a table named radius, and it has a table users. Few weeks ago i'm getting problem in import and export in phpmyadmin then i update to  4.9.1deb2. All problems solved then again few days ago i'm getting problem in a table display. Only few columns are shown then it shows error. Then today i updated to 4.9.2 still i'm facing same issue. I verify table

[2019-12-26 08:59] muhammadarsalansiddiqui commented on #15702
same issue in 5.0.0-rc1

[2019-12-26 09:12] victorphoenix3 commented on #15693
@Tarun-Kachhela  sorry I didnt realize you were working on this. But I think I found a possible fix.

[2019-12-26 09:19] muhammadarsalansiddiqui commented on #15702
issue solved, character set issue.

[2019-12-26 09:46] rutvik106 opened #15705 "UI not rendering properly. Lost paddings and margins."
![Screenshot 2019-12-26 at 3 13 47 PM](https://user-images.githubusercontent.com/6727175/71470590-aa3e4d00-27f2-11ea-8c66-2e16ad02abb4.png)

[2019-12-26 10:04] rabeehrz commented on #15491
Can some one help me with this? I need a way to retrieve the MySQL password policies and share them with the function. How can I do it?

[2019-12-26 10:41] Anonycoders opened #15706 "500 Error Importing Database"
After upgrading to phpmyadmin:latest image version, import database returns 500 error for any size of backed up database.

[2019-12-26 10:42] williamdes commented on #15702
@muhammadarsalansiddiqui can you please let us know how you fixed the issue?

[2019-12-26 10:55] williamdes commented on #15706
Will have a look

@Anonycoders please reply to the other issues you created and create new ones for phpMyAdmin bugs on this repository

[2019-12-26 11:09] williamdes commented on #15706
@Anonycoders can you post the error here ?

[2019-12-26 11:10] williamdes commented on #15698
Duplicate of #15706

[2019-12-26 11:10] #15698 closed

[2019-12-26 11:12] Anonycoders commented on #15696
@williamdes
here is a screen shot from the error
steps were:
- created an empty database
- selected the db
- navigated to import section
- imported a gz file with 700KB size
- pressed Go
- and at last this is what I get and in inspect network part status code is 500

P.S: db name removed in image.

<img width="1439" alt="Screen Shot 2019-12-26 at 2 38 16 PM" src="https://user-images.githubusercont

[2019-12-26 11:38] williamdes opened #15707 "[php 8.0] uploadprogress_get_info 502 error"
`php -r 'uploadprogress_get_info("5e049731eae7e");'`
[code]

[2019-12-26 12:45] williamdes commented on #15707
https://bugs.php.net/bug.php?id=79035

[2019-12-26 13:35] williamdes opened #15709 "502 bad gateway when more than 30 servers"
[code]

change `35` to `31` and you will have a 200 success

[2019-12-26 14:06] #15695 closed

[2019-12-26 14:08] williamdes commented on #15700
@jmgtheworld94 can you please send your database server version ?
did you install everything using a tool like xampp or wampp ?

[2019-12-26 14:12] williamdes commented on #15668
Duplicate of #14235

[2019-12-26 14:14] williamdes commented on #15668
Thank you for the report @salterping
I think that your report is a duplicate of #14235
Please let me know if it is not a duplicate

[2019-12-26 14:14] #15668 closed

[2019-12-26 14:14] williamdes commented on #15705
@rutvik106 how did you install phpMyAdmin ?

[2019-12-26 16:15] rutvik106 commented on #15705
@williamdes I downloaded the latest version. Extracted it and placed the folder inside Library/WebServer/Documents. And then accessed it via apache localhost. I am on Mac.
Thank you.

[2019-12-26 17:06] jmgtheworld94 commented on #15700
I'm using xampp right now version 7.3.12-0. My php version is 7.3.12 and server api is Apache 2.0 Handler

[2019-12-26 19:21] ftrotter commented on #15225
It will take me some time to come around to this.. but I will add it to our testing plan.

[2019-12-26 20:32] DoctorSubtilis opened #15710 ""Browse foreign values": how avoid?"
I know that if a /(linked with relation view) field has too much items thetre is not a drop down menu, but this strange (and almost useless) pop-up with various combinations of values.
There is no way to avoid this situation and have a "normal" drop-down menu (without cut the number of items)?
Thanks!

[2019-12-26 21:35] aommundsen commented on #15584
As phpMyAdmin 4.9.3 and 5.0.0 was released today, but this issue did not make it into those versions when I check the demo page at https://www.phpmyadmin.net/try/

That is really to bad. Because now I don't want to upgrade because in both 4.9.3 and 5.0.0 the text "SSL is not being used" is with RED TEXT COLOR. That is a step bakcward to previous versions wich was on black text color.

I would have

[2019-12-26 21:52] williamdes commented on #15584
![image](https://user-images.githubusercontent.com/7784660/71491366-97e30400-2830-11ea-8d17-1f656fcc8df1.png)

https://demo.phpmyadmin.net/QA_4_9/
it is red in 4.9.3, @aommundsen can you post a screenshot ?

@aommundsen I am really sorry that this issue is blocking you, I changed priority so we fix this issue in the next milestone.

https://github.com/phpmyadmin/phpmyadmin/blob/313da618bd49569cfc6

[2019-12-26 22:06] aommundsen commented on #15584
@williamdes, thank you for reply and information. I have not changed host. However please note that I have not yet upgraded to phpMyAdmin 4.9.3 or 5.0.0, I only assumed that because the demo displayed the text in red color it was because of the new version. Now I understand I was wrong, and that the red text is likely is releated to the demo using a external host. Sorry I misunderstood. I will now

[2019-12-26 22:08] kolya7k opened #15711 "UI on wide screens"
Some UI controls are aligned to the right corner of the window, so they are too far from the main UI elements on wide screens.

Please align them to the left corner of the window, or make alignment configurable in the settings.

The main easily fixable buttons are:

### Browse
"Bookmark this SQL query" button.
SQL query links (Profile, Edit inline, Edit, Explain SQL, etc.)

### Structure
**Table s

[2019-12-26 22:24] williamdes commented on #15584
Thank you for your reply, I will now close the issue since you agree it is the expected behavior ;)

[2019-12-26 22:37] aommundsen commented on #15584
@williamdes, You misunderstand me. I do not agree this should be the expected behavior.

The text "Server connection: SSL is not being used" should not be displayed at all when the server is local, that should still be fixed, as it still creates support tickets from customers that think the connection is not secure.

However as the text will not be in red color after I upgrade (that was my misunde

[2019-12-26 22:40] aommundsen commented on #15584
Also you did agree in comment above where you said this: "Okay, a configuration override must be added"

Also I am not the only one that think this must be fixed. Also the user @thk12 in comment above agree with me.

[2019-12-26 22:41] williamdes commented on #15584
Sorry for the misunderstanding @aommundsen

The focus of this issue will now be:

and

[2019-12-26 22:42] aommundsen commented on #15584
@williamdes, Yes, thank you. I agree with your conclusion about the focus above.

[2019-12-27 05:05] yashrajbothra commented on #15661
Hello @williamdes ,Can i won on this issue??

[2019-12-27 06:40] victorphoenix3 opened #15712 "Hidden Tooltip"
### Describe the bug

The tooltip to dismiss the error notification gets hidden by the error box itself.
Bug present in all 4 themes.

### Screenshots

![Screenshot from 2019-12-27 11-40-53](https://user-images.githubusercontent.com/48182195/71504965-6e15f580-28a1-11ea-95b1-72842704863b.png)
![Screenshot from 2019-12-27 11-41-21](https://user-images.githubusercontent.com/48182195/71504969-74a46d00

[2019-12-27 09:14] Jay04653 opened #15714 "Composer/Packagist: no css for all themes for phpmyadmin 5.0.0"
### Describe the bug

CSS folders for all themes are empty after loading project via [composer](https://packagist.org/packages/phpmyadmin/phpmyadmin).
`composer clearcache` does not help.

### To Reproduce

Steps to reproduce the behavior:
1. `composer create-project phpmyadmin/phpmyadmin --no-dev`
2. **themes/metro/css**, **themes/original/css** and **themes/pmahomme/css** folders are empty

###

[2019-12-27 09:53] williamdes commented on #15661
Hello @yashrajbothra yes, please use as base QA_5_0

[2019-12-27 10:45] rabeehrz commented on #15711
Can I work on this?

[2019-12-27 10:46] williamdes commented on #15711
@rabeehrz yes, please use master branch as base

[2019-12-27 10:52] rabeehrz commented on #15711
@williamdes Okay, on it!

[2019-12-27 17:12] LagodichYuriy commented on #14936
"Enhancement" is not the right label for this issue. It's a disgusting bug and old versions of phpMyAdmin had the right NULL displaying mechanism. 5.0.0-rc1 is not fixed at this moment.

[2019-12-27 17:46] williamdes commented on #14936
@LagodichYuriy Thank you for pointing this out, on the latest 4.9 version (4.9.3) it is okay ?
If yes it is a regression

[2019-12-27 18:50] LagodichYuriy commented on #14936
4.9.3 - bug is fixed (NULL displays as expected), 5.0.0 - bug appeared again.

[2019-12-28 08:45] yashrajbothra commented on #15661
Hey @williamdes i can't find this issue in QA_5_0 it only in master?

[2019-12-28 09:00] linjialiang commented on #15655
@williamdes

Phpmyadmin 5.0.0 operates smoothly under LNMP
But it is still slow to operate in a wamp development environment

[2019-12-28 09:22] williamdes commented on #15655
@linjialiang is Xdebug extension enabled on wamp?

[2019-12-28 09:24] williamdes commented on #15661
@yashrajbothra Thank you for the information, you can use master branch for your fix then

[2019-12-28 12:49] muhammadarsalansiddiqui commented on #15702
![8fsd48fsd8fs](https://user-images.githubusercontent.com/36761603/71543898-3a6ac680-299a-11ea-80cc-2f0b4dcd0afb.PNG)

Server charset issue, i set it to UTF8 and it solved my problem. There may be some special characters which latin can't decode.

[2019-12-28 13:40] williamdes commented on #15702
@muhammadarsalansiddiqui what configuration settings did you change?
Can you send the previous value?

[2019-12-28 13:43] muhammadarsalansiddiqui commented on #15702
![f48s4fg8sfs](https://user-images.githubusercontent.com/36761603/71544481-aa307f80-29a1-11ea-84de-bcefd8f45c5d.PNG)

Previous collation is latin1, i changed it to utf8. My Database and all tables/column collation is UTF8 but my server charset is not, then after debugging i see server collation which i change.

[2019-12-28 13:50] yashrajbothra opened #15717 "Warning popup not Dissapearing"
### Describe the bug

In structure of any table when performing any multiple column action it pops a loader with error message: "No Column selected" and loader never dissapear

### To Reproduce

Steps to reproduce the behavior:
1. Select any Database->Table
2. Click on 'Structure' tab
3. Click on any action of Mulitple columns (dont select any column)
4. See error

### Expected behavior

The popup

[2019-12-28 13:58] linjialiang commented on #15655
I've enabled xdebug

[2019-12-28 13:58] linjialiang commented on #15655
![图片](https://user-images.githubusercontent.com/8848263/71544647-3dc37980-29bd-11ea-881b-25f47e01e67d.png)

[2019-12-28 14:05] linjialiang commented on #15655
@williamdes  It's much faster to remove the xdebug plug-in, but the xdebug extension is still useful to me
I've also enabled xdebug on Linux, but it's still fast

[2019-12-28 14:14] williamdes commented on #15655
@linjialiang Thank you for the precious feedback :)

[2019-12-28 14:30] linjialiang commented on #15655
![001](https://user-images.githubusercontent.com/8848263/71545062-a6145a00-29c1-11ea-96a9-98667e0e3716.png)

[2019-12-28 14:34] williamdes commented on #15655
I am not sure to understand your question

I just remembered that I had to disable x-debug on our PHP 7.4 CI for Linux build since they where so slow (a3d621762229b3dd0cf600095241eab3c01d57f3)

[2019-12-28 22:26] pamamolf commented on #15200
I am getting the same warning message with the latest version :(

Using Nginx. But before it was ok...

[2019-12-28 22:47] williamdes commented on #15200
@pamamolf can you post the nginx config?

[2019-12-28 22:48] pamamolf commented on #15200
It is for my hostname that i am using for Phpmyadmin and it worked with no issues a long time:

`server {
  listen 443 ssl http2;
  server_name server.mydomain.com;

  ssl_certificate      /usr/local/nginx/conf/ssl/server.mydomain.com/server.mydomain.com-acme.cer;
  ssl_certificate_key  /usr/local/nginx/conf/ssl/server.mydomain.com/server.mydomain.com-acme.key;
  ssl_certificate_key  /usr/local/ng

[2019-12-28 22:53] williamdes commented on #15200
@pamamolf so 4.9.2 version works fine ?
Also can you send `php.conf;` ?
Thank you

[2019-12-28 22:56] centminmod commented on #15200
@pamamolf is using my Centmin Mod LEMP stack and it has a phpadmymin.sh scrip to install phpmyadmin via git clone of stable branch. Here's a cleaner markdown formatted phpmyadmin https self-signed ssl vhost from my test server which is also experiencing the mismatch issue on update to phpmyadmin 5.0 - prior versions were fine

contents of https vhost `/usr/local/nginx/conf/conf.d/phpmyadmin_ssl.co

[2019-12-28 22:57] pamamolf commented on #15200
4.9.1 was ok for sure !
4.9.2 if i remember correctly it was ok ... 99% yes it was ok

php.conf:

location ~ [^/]\.php(/|$) {
  include /usr/local/nginx/conf/503include-only.conf;
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    if (!-f $document_root$fastcgi_script_name) {
        return 404;
    }
    fastcgi_keep_conn on;
    fastcgi_pass dft_php;
    #fastcgi_pass   127.0.0.1:9000;
    #fast

[2019-12-28 23:01] williamdes commented on #15200
Thank you for your quick responses !
this line `fastcgi_param  HTTPS              $https if_not_empty;` is intriguing
I am going to sleep and will try to reproduce the issue you have ASAP and fix it for next 5.0 version

I someone has a docker version of the issue I would love it ;)

[2019-12-28 23:03] williamdes commented on #15200
NB: https://github.com/centminmod/phpmyadmin

[2019-12-28 23:05] centminmod commented on #15200
yes phpmyadmin.sh install is located at https://github.com/centminmod/phpmyadmin

[2019-12-28 23:13] williamdes commented on #15706
@Anonycoders @psycho-ir Can you please send the `php -m` output ?

[2019-12-28 23:17] centminmod commented on #15200
cheers @williamdes here's my config.inc.php active settings too with the comments filtered out

[code]

[2019-12-28 23:37] williamdes commented on #15200
@centminmod you should check the issue `https://github.com/phpmyadmin/scripts/issues/21` we forgot to add the CSS files for composer
But for the git version I am quite sure we will not add them because they are generated files
You need to run `yarn` or `yarn/npm run css-compile`

[2019-12-29 00:10] pamamolf commented on #15200
Hope to get a fix asap for this as phpmyadmin is not usable now :(

Thanks

[2019-12-29 00:59] pamamolf commented on #15200
With the help of @centminmod i tested and the issue seems to be at version 5.0 only as the re installation of 4.9.3 was ok and working.

[2019-12-29 03:01] linjialiang commented on #15655
1. Effect of php_xdebug on phpmyadmin:

   | os         | effect                             | Whether php_xdebug compiles itself |
   | ---------- | ---------------------------------- | ---------------------------------- |
   | windows 10 | Greatly reduced efficiency         | The official download              |
   | Linux      | Affected, but less so than Windows | Compile and install yourself

[2019-12-29 03:42] aschuch247 commented on #15200
To me, this looks unrelated.

* https://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_param
* https://nginx.org/en/docs/http/ngx_http_core_module.html#var_https

NGINX is just told to not set an empty environment variable. But phpMyAdmin does not check the presence of the environment as-is, but the value. And if the value is not 'on', `$is_https` is not set for this case.

* https://

[2019-12-29 08:46] yashrajbothra commented on #15661
Hey @williamdes  can you please review my PR?

[2019-12-29 14:18] CBDFactum-com opened #15719 "Error 500 when browsing a table"
### Describe the bug

Clicking on `Browse` on some tables generates a "`Error code: 500`" message. I couldn't figured out which type of tables triggers the error message.

### Expected behavior

Browsing the table content.
_Testing it with PMA 4.9.3 **with exactly the same configuration** works for these tables! So I assume it has something to do with PMA 5.0.0_

### Server configuration

- Operat

[2019-12-29 14:31] williamdes commented on #15719
@CBDFactum-com is `LimitChars` defined as `= '1'; or = 1;` (1 is an example value) in your config file ?

[2019-12-29 14:38] williamdes commented on #15719
https://docs.phpmyadmin.net/en/latest/config.html#cfg_LimitChars

[2019-12-29 14:57] CBDFactum-com commented on #15719
I am very confused as you are asking me this question. I wrote it happens with some tables so this cannot be the reason. By the way, I don't have it defined in `config.inc.php` at all. The content of this file:

[code]

[2019-12-29 15:20] CBDFactum-com commented on #15719
I suspect something else. It has been already a problem in the past updates:
A stored value in the PMA tables which hasn't been considered in an update...

[2019-12-29 15:21] CBDFactum-com commented on #15719
Yep, I was right! I emptied all PMA tables and now it works.

[2019-12-29 16:27] williamdes commented on #15719
@CBDFactum-com I will hav another look at the issue, maybe you reported 2 issues in total :)

[2019-12-29 16:37] pamamolf commented on #15200
If anyone find a solution for v5 and make it work please post here...

Thank you

[2019-12-29 16:54] NKarasek opened #15720 "Designer adding all available tables to a designer page after adding a new relationship."
###  Problem (Large):
    Designer adding all available tables to a designer page after adding a new relationship.

###  Steps to replicate:

    a.  build a new ER diagram and save it with a new name,
    b.  reload the diagram,
    c.  select "Show/Hide tables list" from (default) left-side menu,
    d.  click any checked table name from list of tables shown in right-side list to remove it.

[2019-12-29 17:13] williamdes commented on #15719
Issue 1: `mb_substr('1', 0, '255')` was clearly an issue and is solved by de652cd95a52a6d8c16ced24658e37acd8e322ea

`declare(strict_types=1);` was added in phpMyAdmin 5.0.0 and that created issue n°1

Issue 2: I would need more information, can you recover the data ?

[2019-12-29 17:13] #15719 closed

[2019-12-29 17:15] williamdes commented on #15720
Hi @NKarasek
Thank you for the detailed report

[2019-12-29 17:22] NKarasek commented on #15720
You are very welcome.  After further testing it became obvious the problem is more general.  It seems that ANY page save-action to ANY page adds all available tables to `table_coords` for that page.  If all that is done is to add a relationship, `table_coords` is NOT modified.  Moving a table on the screen (causing the "modified" indicator to display), then saving the page is the trigger.

[2019-12-29 17:42] CBDFactum-com commented on #15719
I can but it is a bit complicated - but of course, when it helps you to fix a bug I am your man!
So, tell me what you need. I can provide you the whole `phpmyadmin` database. As I saw it, there are only few rows. Is there some critical data or is it OK I post it here?

[2019-12-29 17:49] williamdes commented on #15719
@CBDFactum-com If you can recover the data and send it by email to `williamdes@wdes.fr` that could help me ;)

But, if you restore the data the issue should be back and you could post the stack trace here (that would be easier for you) ?

[2019-12-29 18:04] yashrajbothra commented on #15720
Hey , can i work on this issue?

[2019-12-29 18:21] williamdes commented on #15720
@yashrajbothra Yes, please use QA_5_0 as base
Your contribution will be very helpful and I will review it quickly since I have spent some time with the designer's codebase

[2019-12-29 18:29] CBDFactum-com commented on #15719
I sent you the database dump with further information.

[2019-12-29 19:19] yashrajbothra commented on #15710
Hey @DoctorSubtilis  can u explain a bit more to me?

[2019-12-29 19:49] DoctorSubtilis commented on #15710
It happens as in the image: something quite useless
![foreign values](https://user-images.githubusercontent.com/20089138/71561862-b50c1280-2a7c-11ea-8120-d654c7d9077c.png)

[2019-12-29 22:07] NKarasek commented on #15720
@yashrajbothra - glad to see you will be on the task.  Observation: - after cleaning up extra tables on a diagram - and saving - all is good.  Extra tables are removed from 'table_coords'.  After clicking "Show/Hide tables list", ALL tables in the list are selected.  I would expect that ONLY those tables that are currently on-screen would be selected.  It is possible that the array of available ta

[2019-12-29 23:37] #15660 closed

[2019-12-30 07:08] yashrajbothra commented on #15720
Hey @NKarasek , Thanks for your explaination.I got the whole issue except the term table coordinates.
what is 'table_coords' ? how to see table coords and check wheather it updating or not?

[2019-12-30 09:25] travisbotello commented on #15200
Same problem for me with v5... :/

[2019-12-30 09:26] travisbotello commented on #15200
Fixed it by adding `yarn` to my update script.

[2019-12-30 09:46] pesc opened #15721 "ROOT_PATH not defined in libraries/common.inc.php"
### Describe the bug

ROOT_PATH not defined in libraries/common.inc.php on line 78 and it fails to include `require_once ROOT_PATH . 'libraries/vendor_config.php' ` with the following error:

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Setup phpmyadmin 5.0.0

### Expected behavior

Define variable if it's not defined

### Server configuration

- Operating system: FreeBSD
- Web se

[2019-12-30 09:48] williamdes commented on #15721
@pesc how did you install phpMyAdmin?

[2019-12-30 09:49] pesc commented on #15721
ok, it seems there was an old process hanging

[2019-12-30 09:49] #15721 closed

[2019-12-30 09:58] pesc commented on #15721
But wouldn't it be a good idea to check it if it's set like everywhere else is?
[code]

[2019-12-30 10:12] williamdes commented on #15721
@pesc We have it defined in our code and there is no good reason that is not defined ;)

[2019-12-30 10:44] korelstar commented on #15236
Thank you very much!

Since the package is still not in `buster-backports`, I installed the `phpmyadmin` package from `testing` in my `buster` installation. This requires to also install the following packages from `testing`, since they are not available in `buster`:
- php-google-recaptcha
- php-phpmyadmin-motranslator
- php-phpmyadmin-shapefile
- php-phpmyadmin-sql-parser
- php-twig-extensions

A

[2019-12-30 12:29] gunnicom commented on #15721
I got a similar error:
`[Mon Dec 30 13:24:37.462389 2019] [proxy_fcgi:error] [pid 1037:tid 139967993018112] [client CLIENT_IP:57401] AH01071: Got error 'PHP message: PHP Warning:  Use of undefined constant ROOT_PATH - assumed 'ROOT_PATH' (this will throw an Error in a future version of PHP) in /var/www/DOMAIN/pma.5.0.0/libraries/common.inc.php on line 78
PHP message: PHP Warning:  require_once(ROO

[2019-12-30 12:38] NKarasek commented on #15720
Sorry - PHPMyAdmin (PHPMA) uses the table 'phpmyadmin.PMA__table_coords' to save the current x,y position of each table in each Designer Page.  As the participating tables are dragged within the page (moved to new locations), PHPMA saves the current x,y coordinates (coords) as the tables are dropped (mouse button released).  PMAMA uses 'PMA__table_coords' to determine which tables are selected for

[2019-12-30 12:51] gunnicom opened #15722 "Get Database structure fails with PHP error on replicated server"
### Describe the bug
When clicking on a database name ( link is like https://DOMAIN/db_structure.php?db=DBNAME )
I get an error and i can not list the tables of that database.
I can show the tables in the treeview on the left. From there i can click on the table.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Start page
2. Click on Database name in the treeview
3. See error

### Expe

[2019-12-30 12:58] gunnicom commented on #15722
Ah, now that i read the error message, it may be related to replication.
I do not have this error on a different server without replication.

[2019-12-30 13:18] bastien-effetb opened #15723 "Can't browse certain tables since 5.0.0 update"
Hi,
Since the update to 5.0.0, some tables won't open if I click on the "browse" tab.
Error in log :
`[Mon Dec 30 13:58:36.562339 2019] [proxy_fcgi:error] [pid 26746] [client 109.190.142.155:55426] AH01071: Got error 'PHP message: PHP Fatal error:  Uncaught TypeError: strpos() expects parameter 1 to be string, null given in /var/www/vhosts/sql/libraries/classes/DatabaseInterface.php:1270\nStack tr

[2019-12-30 13:21] yashrajbothra commented on #15720
I understood the whole issue now and thanks @NKarasek  for helping me out.I have started working on the issue.

[2019-12-30 13:28] williamdes commented on #15723
Seems similar to #15722

[2019-12-30 13:30] gunnicom commented on #15722
Quick fix for me is changing libraries/classes/Controllers/Database/StructureController.php lines 770- to:

`            $do = ($searchDoDBInTruename!== false && strlen($searchDoDBInTruename) > 0)
                || ($searchDoDBInDB!==false && strlen($searchDoDBInDB) > 0)
                || ($nbServSlaveDoDb == 0 && $nbServSlaveIgnoreDb == 0)
                || $this->hasTable(

[2019-12-30 13:33] bastien-effetb commented on #15723
Yes it's the same sorry for the duplicate...

[2019-12-30 13:34] williamdes commented on #15723
@bastien-effetb Maybe not a duplicate, thank you for the report !

[2019-12-30 13:37] williamdes commented on #15723
@bastien-effetb can you send me the table structure ?

[2019-12-30 13:46] bastien-effetb commented on #15723
@williamdes I just sent you an email with the table structure.

[2019-12-30 14:29] stresbiz opened #15724 "2-Factor Authentication not Working After Upgrade to 4.9.3"
After upgrading phpmyadmin to version 4.9.3, we are no longer prompted for Google's 2-factor authentication, after logging in.  We've disabled, and re-enabled the 2FA multiple times.  Cleared cache and tried a number of things, but we can't seem to get back the 2FA prompt.  We haven't had this issue before, when upgrading to other versions.

[2019-12-30 14:30] williamdes commented on #15724
Thank you for the report @hugeimpactcom
Can you send the php version ?

[2019-12-30 14:31] stresbiz commented on #15724
PHP 7.3.11 (cli)

[2019-12-30 14:32] williamdes commented on #15724
@strebski how did you install phpMyAdmin ?

[2019-12-30 14:34] stresbiz commented on #15724
We typically replace all phpMyAdmin files directly through FTP, and then copy our config.inc.php settings.

[2019-12-30 14:37] williamdes commented on #15724
Okay, thank you
I will try to reproduce this issue ASAP

[2019-12-30 14:38] stresbiz commented on #15724
Thank William!

[2019-12-30 14:41] williamdes commented on #15724
@stresbiz Can you try to install 5.0.0 version ?

[2019-12-30 14:44] stresbiz commented on #15724
I was just going to say - we tried with the latest 5.0.0 too - same issue.  And we've tried both versions (4.9.3 and 5.0.0) on multiple servers.

[2019-12-30 14:49] williamdes commented on #15724
@stresbiz Interesting, thank you
If I can reproduce the issue I will fix it on 5.0.1 since 4.9.x are now only for security updates

Can you send `php -m` output ?

[2019-12-30 14:51] stresbiz commented on #15724
[PHP Modules]
bcmath
bz2
calendar
Core
ctype
curl
date
dom
exif
fileinfo
filter
ftp
gd
gettext
hash
iconv
intl
json
libxml
mbstring
mcrypt
mysqli
mysqlnd
openssl
pcntl
pcre
PDO
pdo_mysql
pdo_sqlite
Phar
posix
readline
Reflection
session
shmop
SimpleXML
sockets
SPL
sqlite3
ssh2
standard
sysvmsg
sysvsem
sysvshm
tokenizer
wddx
xml
xmlreader
xmlwriter
xsl
zip
zlib

[Zend Modules]

[2019-12-30 14:52] stresbiz commented on #15724
Please let me know if you can reproduce the issue and what it is.  Thanks!

[2019-12-30 15:55] williamdes commented on #14936
#### Before 3dce65d913cd95206038e8343ec63c1bbedd46ee
![image](https://user-images.githubusercontent.com/7784660/71589425-1f788d80-2b25-11ea-8e59-193359465254.png)

### After 3dce65d913cd95206038e8343ec63c1bbedd46ee
![image](https://user-images.githubusercontent.com/7784660/71589399-0374ec00-2b25-11ea-9c53-619ca0f04ac3.png)

[2019-12-30 16:06] #14936 closed

[2019-12-30 17:02] #15722 closed

[2019-12-30 17:02] #15723 closed

[2019-12-30 17:03] williamdes commented on #15722
Thank you for the report @gunnicom !
I used part of your fix :)

[2019-12-30 17:09] williamdes commented on #15723
Fixed by f9157f2ac428b63e863dd713d078b6391ce12706

The "phpMyAdmin 5.0+snapshot" will be available at https://www.phpmyadmin.net/downloads/ tomorrow

[2019-12-30 17:18] #15669 closed

[2019-12-30 18:52] seattledeveloper commented on #15724
Hello ... I noticed when upgrading, first to 5.0.0, then downgrading to 4.9.3, that no custom settings were being read in, and the main settings screen says "You have no saved settings!", even though we do have saved settings.

So, neither two-factor auth, or other custom settings are being read in.  I only have a few custom saved settings, so I can't vouch for all custom settings, but the few tha