[2020-07-07 13:04] #16248 closed

[2020-07-08 06:58] williamdes commented on #16250
https://tracker.debian.org/news/1158525/accepted-php-twig-2130-1-source-into-unstable/

https://github.com/twigphp/Twig/releases/tag/v2.13.0

https://github.com/twigphp/Twig/blob/e063bab1a67f4ceea759cee20c10ed609d1f6abb/CHANGELOG#L5

[2020-07-09 12:51] fbegyn commented on #16013
In our use case, we have also encountered the following when using binary UUIDs:

While editing the row with the phpmyadmin UI, it seems to add a `1` to the end of the binary field.
As demonstration, if the field was `<UUID>` when editing it becomes `<UUID>1`. This causes the query to fail due to being "too long".

The dropdown selection for the other foreign fields does not have this, but could h

[2020-07-09 18:48] qcybb opened #16252 "Font size too small when editing rows"
The font size is too small when editing rows in Chrome and the new Edge browser.

I don't remember the font ever being that small - it used to be the same size as the normal row text.

I'm using:
phpMyAdmin v4.9.5
Chrome v83.0.4103.116
Edge Chrome Browser v83.0.478.61

![small-font-size](https://user-images.githubusercontent.com/16991734/87078507-9760f800-c1d9-11ea-958a-bea0db74933b.png)

[2020-07-10 06:45] Spring-dot commented on #16217
@OlafvdSpek  Can I work on this issue?

[2020-07-10 06:55] OlafvdSpek commented on #16217
Sure

[2020-07-10 09:08] Myshiner opened #16253 "How to filter or forbid sql like "select *" or those sql without "where" condition ?"
Hello, it's the first time to use phpmyadmin for me, I wonder if the phpMyAdmin can forbid those queries like "select * " and queries without "where" condition. For example, if i do query  with sql "select * from tablename" or "select  id,col1,col2 from tablename", it can forbid my query. Does the phpMyAdmin have the function or are there any settings to achive this ?

- phpMyAdmin version:
phpMyA

[2020-07-10 11:05] shahlin commented on #16194
@williamdes Has this issue been fixed? Couldn't replicate it on QA_5_0 branch.

**Tested on:** elementary OS 5.1.2 Hera (Ubuntu 18.04)

[2020-07-10 11:07] Jay04653 commented on #16194
@shahlin Nope, the issue has not fixed yet. But it appears on MySQL 8 only.

[2020-07-10 11:52] williamdes commented on #16253
Hi @Myshiner are you looking for per column MySQL permissions?

[2020-07-10 11:53] williamdes commented on #16194
I can confirm that the issue is not fixed @shahlin

[2020-07-10 11:54] shahlin commented on #16194
@williamdes Right, I was testing with an older version of MySQL. Gonna try it again with version 8.0

[2020-07-10 15:59] shahlin commented on #16194
@williamdes What branch should this be in? I had a look at `QA_5_0`, the file `ViewCreateController` isn't there whereas it's there in master

[2020-07-10 18:54] roshnaeem commented on #16217
Hey @OlafvdSpek , I want to work on this issue, but I could not find the specific file in which to make a change.

[2020-07-11 06:37] OlafvdSpek commented on #16217
@williamdes Could you help roshnaeem ?

[2020-07-11 18:16] mauriciofauth commented on #16217
Hi @roshnaeem.

You can see this error message when inserting a new row or searching a table.

For example in the [demo server](https://www.phpmyadmin.net/try/), try enter a value higher than 127 to the `active` field of the `sakila.customer` table.

For the `QA_5_0` branch: https://demo.phpmyadmin.net/QA_5_0/tbl_select.php?db=sakila&table=customer&server=1
![Screenshot from 2020-07-11 15-03-11](h

[2020-07-11 18:32] williamdes commented on #16194
Hi @shahlin
You should use QA_5_0
I will merge/copy the fix when merging QA_5_0 to master

[2020-07-11 19:59] LufoX11 commented on #15592
Hi @williamdes , I'm using version 4.9.5deb2 and I'm still seeing this error:

![image](https://user-images.githubusercontent.com/819192/87232577-3d596180-c396-11ea-99bb-399a50383442.png)

Your fixes are already present in ErrorHandler.php
I'm using PHP 7.4 + FPM, and my php.ini looks like this:

/etc/php/7.4/fpm/php.ini
[code]
I need to keep this configuration for now until I solve migration issu

[2020-07-12 06:00] zupsel opened #16254 "ENUM/SET value field delete button background-repeat problem"
### Describe the bug

When adding or editing ENUM/SET values in "ENUM/SET editor" popup window there is lack of "background-repeat: no-repeat" CSS rule on delete value button. So there are 1,5 delete icons are on delete button.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any table Structure page
2. Click on Add new field (or Configure existing ENUM/SET field)
2a. In case of adding

[2020-07-12 11:05] OlafvdSpek opened #16255 "Tinyint(1) shown as INT in search page"
https://demo.phpmyadmin.net/QA_5_0/tbl_select.php?db=sakila&table=customer&server=1

[2020-07-12 14:14] rajat315315 commented on #16197
So, is it as simple as replacing all ocurrences of `master` in UI to `primary` and `slave` to `replica`?
Can I do it?

[2020-07-12 16:03] williamdes commented on #16197
Sure @rajat315315 you can do it but be cautious about some cases where the words can not be replaced :)

[2020-07-12 16:16] williamdes opened #16256 "Error reporting disabled function, 4.9.x"
Hi @williamdes , I'm using version 4.9.5deb2 and I'm still seeing this error:

![image](https://user-images.githubusercontent.com/819192/87232577-3d596180-c396-11ea-99bb-399a50383442.png)

Your fixes are already present in ErrorHandler.php
I'm using PHP 7.4 + FPM, and my php.ini looks like this:

/etc/php/7.4/fpm/php.ini
[code]
I need to keep this configuration for now until I solve migration issu

[2020-07-12 16:20] williamdes commented on #16256
Hi @LufoX11
Thank you for report, I will have a look into it when I have access to my workstation and proper internet

By the way I am working on the packaging of 5.0 for Debian and 5.0 will be uploaded to the PPA when everything is ready maybe in some weeks or a months, depending on available free time

[2020-07-12 17:35] rajat315315 commented on #16188
Same happening here.
I can confirm on master branch. Although the speed is faster than on 4.6.x.
We have around 250 tables.
On 4.6.x, to open left panel, it took around 1 minute.
On master or 5.x, it took lesser, not sure about exact seconds.

[2020-07-12 18:07] mauriciofauth opened #16258 "Move Response's methods calls to controllers"
Method calls like `Response::addHTML` and `Response::addJSON` should be moved to the controllers.

This will help the [implementation of PSR-7](https://github.com/phpmyadmin/phpmyadmin/issues/15507).

[2020-07-12 20:34] LufoX11 commented on #16256
Thank you @williamdes I'll be waiting then.

[2020-07-13 00:28] felipe-dmb commented on #16217
Hello,

I'm new in GitHub and I'm working in this issue too.

I saw the @roshnaeem pull request #16259 and it didn't work for me. So, I edited the _common.scss files as described but I can't push to the pull request. Can anyone help me?

[2020-07-13 06:31] rajat315315 commented on #16084
I think we should make an AJAX request everytime a user searches for a table name.

[2020-07-13 09:40] AphidGit opened #16260 "Timeout redirection loop in index.php with refer sql.php using long timeout."
### Describe the bug

The login timeout feature can sometimes cause an infinite redirect loop when using a large timeout value.
Graphical bug: the session_expired parameter increases the width of table columns.
This combination produces some fascinating graphical artifacts.

### To Reproduce

Steps to reproduce the behavior:
1. Configure a timeout (login_cookie_validity > 0). In my example, the ti

[2020-07-13 11:36] Jay04653 commented on #15810
The same on **User accounts** -> **Export** popup on version 5.0.2.

[2020-07-13 17:38] williamdes commented on #16217
Hi @felipe-dmb
I used the interface like you and this link should be pre-configured to help you : https://github.com/phpmyadmin/phpmyadmin/compare/master...felipe-dmb:add-padding?expand=1

[2020-07-13 17:44] williamdes commented on #16260
Hi @AphidGit
I so much appreciate the effort you made to describe the bug!
Could you please try to use a 5.0 or 4.9 (will not be fixed) to reproduce what you reported?

[2020-07-13 17:51] williamdes opened #16261 "Modal headings missing"
The same on **User accounts** -> **Export** popup on version 5.0.2.

_Originally posted by @Jay04653 in https://github.com/phpmyadmin/phpmyadmin/issues/15810#issuecomment-657507810_

[2020-07-13 17:53] williamdes commented on #16254
Hi @zupsel
Could you try a 5.0 version because I am pretty sure we fixed this issue recently
Thank you for the report :)

[2020-07-14 08:19] zupsel commented on #16254
Hi @williamdes
It's a pity, but we can't upgrade to version 5 and have to use 4.9.5 because we have only PHP 7.0 version and can't upgrade

[2020-07-14 09:31] williamdes commented on #16254
I am sorry to hear that, 7.0 is in end of life and so is 5.0..
What blocks the upgrade from 7.0 to 7.1?

[2020-07-14 15:55] saechimdaeki opened #16262 "I tried some translations."
The perfect project has not had some Korean translations, so I have translated more than 50 sentences into Korean.
and I hope others will continue to translate Korean. 👍

https://hosted.weblate.org/projects/phpmyadmin/master/ko/

[2020-07-14 16:01] ibennetch commented on #16262
Excellent, thank you for your contributions! Your work should be part of
the next release.

[2020-07-14 16:04] saechimdaeki commented on #16262
I will use the php that is developing often. Thank you for your service. :man:

[2020-07-15 03:48] DavidThomas48 opened #16264 "Include routines in the export in predictable order - e.g. alphabetical"
### Is your feature request related to a problem? Please describe.

Sometimes I need compare the routines from two databases. To do this I export my routines into files and use DiffMerge. However the order of the routines in the export from various databases and versions of pma is not the same, so I have to manually rearrange the routines in one file to match the other. I cannot see any particular

[2020-07-15 08:32] williamdes opened #16265 "Setup tabs are not aligned"
https://demo.phpmyadmin.net/master/setup/index.php?page=form&formset=Export#tab_CodeGen

![Sélection_2020071510:30:50001](https://user-images.githubusercontent.com/7784660/87522804-5f006480-c686-11ea-8e52-aef5a8adc59e.jpg)

Branch:master

[2020-07-15 08:38] #16217 closed

[2020-07-16 01:22] nayeem1900 commented on #15972
![image](https://user-images.githubusercontent.com/43191178/87615690-1e135900-c735-11ea-9054-77cddc3ddba7.png)

[2020-07-16 01:23] nayeem1900 commented on #15972
database return negative value

[2020-07-17 14:34] dpfender44 opened #16268 "TCPDF Deprecation errors on PHP 8.0"
Testing phpmyadmin 5.0 and 5.1 yielded many PHP errors with PHP 8.0.0 Alpha 2 on the Export tab. All other tabs were good.
[code]

[2020-07-17 16:07] williamdes commented on #16268
Thank you @dpfender44  I forwarded it upstream a while ago
See: https://github.com/tecnickcom/TCPDF/issues/222

[2020-07-17 20:12] #16265 closed

[2020-07-17 20:22] williamdes commented on #16261
Releated to #15917 and #15810

[2020-07-17 22:15] #16261 closed

[2020-07-17 23:05] techboyg5 opened #16269 "Fix v2 Checkbox reCAPTCHA"
phpMyAdmin supports reCAPTCHA v2 Invisible and reCAPTCHA v3, but v2 Checkbox does not work.

Add support for reCAPTCHA v2 Checkbox.

[2020-07-18 07:58] williamdes commented on #16269
Hi @techboyg5
What version are you using ?

[2020-07-18 12:17] techboyg5 commented on #16269
5.0.2 on XAMPP

[2020-07-18 16:02] ADDISON74 opened #16270 "LOCK/UNLOCK commands in imported sql dumps files generate warnings"
Use `mysqldump` command in Terminal to dump a database. Open the file in editor. Before and after any `INSERT INTO` command there are `LOCK TABLES/UNLOCK TABLES` commands.

1. Import the file into the database in Terminal using command `mysql -u <user> -p <db_name> < <sql_dump>`. In my case the file was imported without any errors. Please note if there are any foreign keys you must use SET FOREIGN

[2020-07-18 16:23] ADDISON74 opened #16271 "FOREIGN_KEY_CHECKS overwrite at import by phpMyAdmin option"
My SQL dump file has `SET FOREIGN_KEY_CHECKS=0` at the beginning and `SET FOREIGN_KEY_CHECKS=1` at the end.

Go to phpMyAdmin interface select the database then **Import** page and leave `Enable foreign key checks` as it is checked by default. Importing the file I got error `1451 - Cannot or update a parent row: a foreign key constraint fails`.

Even the file has inside FOREIGN_KEY_CHECKS I can im

[2020-07-18 16:35] shahlin commented on #16194
It's still not in QA_5_0? I don't see `libraries/classes/Controllers/ViewCreateController.php`

[2020-07-18 19:28] williamdes commented on #16194
Hey @shahlin !
Nevermind about the file, just search for the same occurrence in the codebase, it maybe has been refactored on the `master` branch.

[2020-07-18 19:30] williamdes commented on #16271
Thank you for the report, I hope someone can look into it soon :)

[2020-07-19 17:03] AkashDPA commented on #16253
No it is not possible, phpmyadmin is just interface to db.
And if you can block SELECT * then what is the use of PhpMyAdmin, it is default query run when you open any table.

[2020-07-19 20:57] williamdes commented on #16253
It is possible ;) https://stackoverflow.com/a/16674869/5155484

I am quite sure "SELECT * then what is the use of PhpMyAdmin, it is default query run when you open any table." is an issue on our issue tracker, but I could not find it. Ideally we need to lookup the allowed columns and change the query to select the allowed columns instead of  `*`

[2020-07-20 05:02] AkashDPA commented on #16253
Oh the question is to give access to specific column to specific user, i thought it is to block SELECT *

[2020-07-21 16:47] p-rakowski89 commented on #15367
Hi,
And how are you solving this problem?
Will it be touched?

[2020-07-21 18:49] williamdes commented on #15367
Hi
I have quite a lot issues to manage and appreciate that you asked for some news on this one :)
Assigned to the next milestone to try to fix this one as soon as possible.

[2020-07-22 14:24] DarioSulser commented on #16084
WON'T solve it! Also without userinputs Results can get Lost (like here - as reported as duplica of these issue: #16220)
So, can you plese make a fix for PAGINATION (Pagination is the Problem, not the userimputs).
Results can simly get lost and never reached (searched 3h in PhpMyAdmin and results never shownes becouse of These Pagination-Bug) Over SQL I was finally able to proove that the Data was

[2020-07-22 14:25] DarioSulser commented on #16084
WON'T solve it! Also without userinputs Results can get Lost (like here - as reported as duplica of these issue: #16220)
So, can you plese make a fix for PAGINATION (Pagination is the Problem, not the userimputs).
Results can simly get lost and never reached (searched 3h in PhpMyAdmin and results never shownes becouse of These Pagination-Bug) Over SQL I was finally able to proove that the Data was

[2020-07-22 15:40] #14340 closed

[2020-07-22 15:48] rwhirn commented on #14340
Thank you @williamdes!

[2020-07-22 17:17] rajat315315 commented on #16121
I'm not sure how to reproduce??

[2020-07-22 19:55] mauriciofauth opened #16276 "Move HTTP request superglobals access to controllers"
[Superglobals](https://www.php.net/manual/en/language.variables.superglobals.php) like $_POST, $_GET and $_REQUEST should be moved to controllers.

Related to https://github.com/phpmyadmin/phpmyadmin/issues/15507.

[2020-07-23 08:11] williamdes commented on #16276
Could you provide an example?

[2020-07-23 08:20] williamdes commented on #16121
Me too, this is a racing bug for me
Slowness is surely the key

[2020-07-23 13:30] williamdes commented on #16146
Reproduced, thank you for reporting it @DavidThomas48

[2020-07-23 13:39] shucon commented on #15296
Starting to work on this. cc @ibennetch

[2020-07-23 14:50] #16146 closed

[2020-07-23 14:50] #16194 closed

[2020-07-23 17:23] mauriciofauth opened #16278 "Remove underscore prefix from property names"
From [PSR-12](https://www.php-fig.org/psr/psr-12/#43-properties-and-constants):

Example:
[code]

Files detected by phpcs: `vendor/bin/phpcs --warning-severity=4`

FILE | WARNINGS
-----|---------
libraries/classes/Bookmark.php | 5
libraries/classes/Console.php | 2
libraries/classes/DatabaseInterface.php | 9
libraries/classes/Encoding.php | 4
libraries/classes/File.php | 10
libraries/classes/Footer

[2020-07-23 17:43] williamdes commented on #16252
Hi @qcybb
Could you please try 5.0 ?

[2020-07-23 17:44] williamdes commented on #16264
Thank you @DavidThomas48 for the suggestion, it makes sense.

[2020-07-23 17:58] #16255 closed

[2020-07-23 18:02] #16262 closed

[2020-07-23 18:03] mauriciofauth commented on #16276
For example, currently we directly access `$_POST` variables when needed. With PSR-7, we can get these variables from the Request object. So it is better to read these superglobals only on controllers and when other methods need these values, we can pass them as parameters.

[2020-07-23 18:03] #16220 closed

[2020-07-23 18:04] #16254 closed

[2020-07-23 18:04] #16085 closed

[2020-07-23 18:08] qcybb commented on #16252
Ok, I installed phpMyAdmin v5.0.2 and still have the issue.

![screen-1](https://user-images.githubusercontent.com/16991734/88321944-d1032a00-ccd4-11ea-98fb-9390ab6de5df.png)

![screen-2](https://user-images.githubusercontent.com/16991734/88321948-d3658400-ccd4-11ea-88f6-96feb5a09293.png)

[2020-07-23 18:11] qcybb commented on #16252
Ok, I installed phpMyAdmin v5.0.2 and still have the issue.

![screen-1](https://user-images.githubusercontent.com/16991734/88322185-348d5780-ccd5-11ea-98a0-659317fb0dc1.png)

![screen-2](https://user-images.githubusercontent.com/16991734/88322193-35be8480-ccd5-11ea-9c11-2dfbc154d89e.png)

[2020-07-23 18:17] williamdes commented on #16064
Closing this one :)

[2020-07-23 18:17] #16064 closed

[2020-07-23 18:21] williamdes commented on #16252
Thank you, I marked this one as an enhancement.

[2020-07-23 22:46] morrme commented on #16278
I'd like to help.

[2020-07-24 02:48] mauriciofauth commented on #16278
@morrme  Thank you for your interest. Change one or more files and then open a pull request referencing this issue.

[2020-07-24 08:33] rajat315315 commented on #16164
How to export the query??

[2020-07-24 10:12] williamdes commented on #16164
I will try to post an example, ping me back if I forget before monday

[2020-07-24 12:08] rajat315315 commented on #15976
I am on origin/QA_5_0 branch and I'm not able to reproduce.

![Screenshot_2020-07-24 localhost localhost phpMyAdmin 5 0 3-dev(1)](https://user-images.githubusercontent.com/15379278/88389610-6df8bc80-cdd4-11ea-81f1-a080fb8d1258.png)
![Screenshot_2020-07-24 localhost localhost phpMyAdmin 5 0 3-dev](https://user-images.githubusercontent.com/15379278/88389618-705b1680-cdd4-11ea-90d7-00730b75b6be.png)

[2020-07-24 13:10] rajat315315 commented on #16164
Duplicate of #15317 , I guess.

[2020-07-25 08:34] williamdes commented on #16164
Thank you, I think you are right
Do you want to work on this one?

[2020-07-25 14:01] williamdes commented on #16256
`function_exists('error_reporting')` returns `true` on php < 8.0 and on php 8.0+ `false`
See: https://php.watch/versions/8.0/disable_functions-redeclare

[2020-07-25 17:45] williamdes commented on #16256
@LufoX11 could you try out this patch ?
[code]

[2020-07-25 18:02] williamdes commented on #15367
@p-rakowski89 Could you please try 5.0 ?
I do not understand where is the issue and could not reproduce it ..

[2020-07-25 18:08] #16035 closed

[2020-07-25 18:10] #15700 closed

[2020-07-25 18:13] williamdes commented on #15862
A new dark theme has been added https://github.com/phpmyadmin/themes/pull/46

[2020-07-25 18:13] #15862 closed

[2020-07-25 18:15] williamdes commented on #15027
There is one on master version.

[2020-07-25 18:15] #15027 closed

[2020-07-25 18:18] williamdes opened #16281 "Use PDO instead of mysqli"
Replace mysqli by PDO.

### Additional context

- phpMyAdmin version: 5.1-dev

Ref: #16183

[2020-07-25 18:18] williamdes commented on #16183
Replaced by #16281

[2020-07-25 18:18] #16183 closed

[2020-07-25 18:20] #15070 closed

[2020-07-25 18:48] williamdes commented on #16218
I am unable to reproduce this issue, could you try to reproduce it on one of the demo servers (`root`, no password) ?
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-07-25 19:11] Jay04653 commented on #16218
Cannot reproduce on 5.0 and 4.9 on demo and monitor is not working at all on 5.1, see screenshot and debug information.
I will re-check on Monday at work because cannot connect to my work's network at the moment.

![image](https://user-images.githubusercontent.com/2777846/88464420-403e7100-cec3-11ea-84b8-896d49547a0a.png)
`{
    "pma_version": "5.1.0-dev",
    "browser_name": "CHROME",
    "browse

[2020-07-25 19:53] williamdes commented on #14824
Seems to be fixed.

[2020-07-25 19:53] #14824 closed

[2020-07-25 19:54] mauriciofauth commented on #16281
I don't think we should replace mysqli. We can try to add PDO as an alternative driver, but not as a replacement.

[2020-07-25 20:05] p-rakowski89 commented on #15367
Hi, So far while testing v5 and above, I have failed to stop, start or
reset a slave from the replication menu.  As if the button didn't work.  If
you need a more detailed description, I can record a video of this problem

sob., 25 lip 2020, 20:02 użytkownik William Desportes <
notifications@github.com> napisał:

[2020-07-26 01:03] gunnard commented on #16191
@williamdes I would like to help with this. Could you point me in the right direction to add the tooltip? (shift+enter) worked on my machine.

[2020-07-26 06:28] MESWEB commented on #16281
Personally I prefer PDO and this driver is default enabled for servers. For mysqli you need usually enable it manually. Any way PDO is OOP.

[2020-07-26 08:27] rajat315315 commented on #16164
Sure. Please assign to me.

[2020-07-26 09:30] williamdes commented on #15367
Hi,

Could you please record a video, that would be helpful :)

[2020-07-26 14:06] p-rakowski89 commented on #15367
Hi,
I recorded as you asked. The first video is on phpmyadmin 5.0.2 - where it
doesn't work. Link to the movie -
https://drive.google.com/file/d/1-Qx4SGJXWOzpdDtp9NS9un0x0OGQWV6g/view?usp=sharing
Second video of phpmyadmin 4.9.5 where it works. Link to the movie -
https://drive.google.com/file/d/169b9D3gtQzeOKtky5zE-C0gvTMl9usI4/view?usp=sharing

How would you have a problem with playing movies, j

[2020-07-26 14:16] mauriciofauth commented on #16281
PDO is great for general use, however since PDO is an abstraction layer, I don't really know if it will have all the features phpMyAdmin uses. The mysqli extension have an object-oriented interface as well.

Usually, both the mysqli and PDO MySQL extensions are installed in the system by the same package. For example, for Debian 10, this package is called `php-mysql`.

[2020-07-26 14:50] ibennetch commented on #16281
I tend to agree with @mauriciofauth; I don't think an abstraction layer here is needed or brings any advantage over what we have now.

Aside from the handful of users who might want to install PHP with PDO and not MySQLi, is there any other compelling reason to make this change?

[2020-07-26 17:56] qcybb commented on #16252
Using the web browsers developer tools, I see that removing "font-family: monospace" from "textarea" solves the issue.

I'm unable to fix this locally for my self, as these changes have to be made in the .scss file and then recompiled - and I do not have the necessary tools to do this.

[2020-07-27 06:32] williamdes commented on #16252
@mauriciofauth so you have some opinions about removing the font from text areas?

[2020-07-27 08:05] qcybb commented on #16252
By removing "font-family: monospace" from "textarea", it falls back to the sans-serif font and looks the same as the other input fields.

![fixed](https://user-images.githubusercontent.com/16991734/88518087-bf57a600-cfa4-11ea-9e6e-d2bd77a7ced8.png)

[2020-07-27 09:13] Jay04653 commented on #16218
It was still an issue on my PHPMyAdmin instance even after re-login.
But after I've wiped all website data (cookies and session) it disappears, so I think it was an old issue with cookies.

I'm going to close this request and open a new one in case I'll face that issue in the future.

[2020-07-27 09:13] #16218 closed

[2020-07-27 21:23] MESWEB commented on #16281
@mauriciofauth  Nope you are wrong. When I was install apache 2, MYSQL and PHP there was no mysqli mod installed. I do that manually.

PDO will work on 12 different database systems, whereas MySQLi will only work with MySQL databases.

So, if you have to switch your project to use another database, PDO makes the process easy. You only have to change the connection string and a few queries. With My

[2020-07-27 22:51] ibennetch commented on #16281
Using PDO won't automatically make phpMyAdmin work with any other database system, though. For instance, the user management relies on direct SQL queries that are specific to the database system, so even though the connection is abstracted through PDO the query wouldn't be. I highly doubt that a lot of the specific features such as GIS integration and Designer can be handled successfully through o

[2020-07-28 10:37] hfrmobile opened #16282 "Import ignores 2nd, 3rd, ... attempt to import"
### Describe the bug

When providing invalid value(s) for import (e.g. separator: "," when it is ";") and start import (by clicking "Go" button) I get no information about this. When correcting the value(s) then nothing is importet.

### To Reproduce

Steps to reproduce the behavior:
1. Go/click an existing table
2. Click on 'Import'
3. Select CSV file to import
4. Keep all setting as is (even Col

[2020-07-28 11:10] williamdes commented on #16191
Hi @gunnard
I think you should have a look into https://github.com/phpmyadmin/phpmyadmin/blob/master/js/keyhandler.js

[2020-07-28 11:14] williamdes commented on #16203
I think you can re-try

[2020-07-28 11:15] williamdes commented on #16282
Hi @hfrmobile
I can see you are using the latest version of the Debian package for Debian 9 (https://tracker.debian.org/pkg/phpmyadmin) but you can update using `buster-backports` or our Ubuntu PPA.

For Debian `buster-backports` please refer to https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993 or https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-6090354

[2020-07-28 11:41] Zaseth commented on #14371
2 years later and still not fixed...

[2020-07-28 11:47] saurass commented on #14371
Hello, @Zaseth we are working on this issue, Please refer to this PR  https://github.com/phpmyadmin/phpmyadmin/pull/15975

[2020-07-28 16:13] #16256 closed

[2020-07-28 18:37] wedi commented on #15463
Cant' this be handled by phpMyAdmin? I checked adminer and it works without a problem. It took my half an hour till I finally found this issue. It works but messing with the `mysql` schema makes me feel really uncomfortable.

PhpMyAdmin version 5.0.2 (docker image tagged latest as of writing).

[code]

[2020-07-28 19:13] mauriciofauth commented on #16281
PDO is enabled by default, but PDO_MySQL is not, which enables the MySQL support for PDO. And packages like `php-mysql` usually installs and enables both `mysqli` and `pdo_mysql` extensions.

phpMyAdmin is a tool specialized in MySQL/MariaDB servers. In other words, it is necessary that the extension support all features from the server. That's why I said that _"I don't really know if it will have

[2020-07-28 19:26] Bllacky commented on #16281
Not sure if I am correct, but I think MYSQLi is slightly faster than PDO. Also, as PHPMyAdmin is designed for MySQL and MariaDB, I do not really see the benefit of PDO. I believe dev effort and time would benefit more if directed at other features and issues, rather than this.

[2020-07-28 21:04] williamdes commented on #16058
I found out that the issue is with the session hmac secret
[code]

[2020-07-28 21:26] williamdes commented on #16058
@mauriciofauth what do you think about that solution ?
[code]

I added `$_SESSION['PMA_single_signon_HMAC_secret'] = md5(uniqid(strval(rand()), true));` to my signon script

For some odd reason I am unable to retrieve the `HMAC_secret` from the previous phpMyAdmin session

[2020-07-28 22:19] williamdes commented on #15367
Hi @p-rakowski89
Please try out 1f9ef1ffb96abd2146873e087a59706e76007283 I think this will fix all the issues you show in your video
Let me know :)

[2020-07-28 22:23] mauriciofauth commented on #16058
I think it's a good solution for now.

[2020-07-29 07:58] p-rakowski89 commented on #15367
Works well. Thanks

[2020-07-29 10:04] #15367 closed

[2020-07-29 10:04] #16058 closed

[2020-07-29 12:47] LufoX11 commented on #16256
@williamdes sorry for the delay. I can confirm your patch solves it. I had to manually apply the changes since my files were a bit different from the ones you built the patch for. Eg:

libraries/classes/Config.php
[code]

Thanks!

[2020-07-29 12:50] williamdes commented on #16256
Thank you for the feedback, I patched 5.x files ;)
That said I am still working on packaging 5.x on Debian

[2020-07-29 14:19] bobbylapointe76 opened #16284 "Database backup"
### Describe the bug

When doing database backup the semicolon are missing after the last "INSERT INTO" statement
So when trying to restore database job crash for sql syntax error.

### To Reproduce

Steps to reproduce the behavior
Just do a backup and then restore...

### Expected behavior

Possibility to restore a backup without manual insertion of  needed semicolon

### Screenshots

### Server

[2020-07-29 14:31] williamdes commented on #16284
Hi @bobbylapointe76
Could you upgrade to 4.9 or 5.0 ?

[2020-07-29 14:35] bobbylapointe76 commented on #16284
My provider 1and1 provide this release of phpmyadmin... i can't change version.

[2020-07-29 14:35] bobbylapointe76 commented on #16284
Why invalid ?

[2020-07-29 14:37] williamdes commented on #16284
Just upload the latest version that you download from our [website](https://www.phpmyadmin.net/downloads/), I do the same on a 1&1 instance :)

Invalid because we do not provide support for 4.5 versions, if you upgrade and still have the issue for sure I will re-consider my labels ;)

[2020-07-29 14:37] tugasakhirhys1 commented on #13525
this method surprisingly work

[2020-07-29 14:38] bobbylapointe76 commented on #16284
I'll do that tomorrow... i am not in my office actually

[2020-07-29 14:54] MESWEB opened #16285 "2 instance of phpmyadmin"
I have old phpmyadmin. I was try reconfigure it without success:

So I install new one again just by unpacking tar.gz file to **/var/www/html/phpmyadmin**
Old version has been installed to **/usr/share/phpmyadmin**
Config file is in: **/etc/apache2/conf-enabled/phpmyadmin.conf**

How to fix and delete old version and reconfigure database etc? I changed folders locations in phpmyadmin.conf to new o

[2020-07-29 14:58] williamdes commented on #16284
Here is the config file I use on my project
[code]

[2020-07-29 15:02] williamdes commented on #16285
Maybe you could use a new source to install the package ?
You can update using `buster-backports` or our Ubuntu PPA.

For Debian `buster-backports` please refer to https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993 or https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410 to use our Ubuntu PPA

[2020-07-29 15:10] MESWEB commented on #16285
OK. SO how I can clean all files and folders of phpmyadmin etc?

[2020-07-29 15:29] MESWEB commented on #15236
`apt-get upgrade php-tcpdf php-twig`
Installed successfully but phpmyadmin still see error:
`phpmyadmin : Depends: php-twig (>= 2.9) but 2.6.2-2 is to be installed
              Recommends: php-bz2
              Recommends: php-zip`

[2020-07-29 15:38] williamdes commented on #15236
Hi @MESWEB
Please try https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993 (`apt-get install php-twig=2.12.5-1~bpo10+1`)

[2020-07-29 15:40] williamdes commented on #16285
I think you can delete all files mentioned here: https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/blob/master/debian/install

But I am not sure how this will change anything :thinking:

[2020-07-29 15:51] OsKurt opened #16286 "phpmyadmin installation"
I have installed phpmyadmin via the terminal on mac using git clone. I am using Valet for my development environment. [Please note I am not an experienced developer].

Having installed the above my problems are:
- I cannot login to phpmyadmin. I do not have a password and have tried using 'root' as the username alone but i get this message: _Failed to set session cookie. Maybe you are using HTTP i

[2020-07-29 15:56] williamdes commented on #16286
Hi @OsKurt
I think that you should run  `ỳarn install --production` and that will fix your issue :)

[2020-07-29 15:59] OsKurt commented on #16286
hi @williamdes
Thank you for responding to me. I installed yarn via homebrew earlier today but it didn't seem to make any difference(?)

[2020-07-29 16:01] williamdes commented on #16286
Yeah but you do not have css styles and for me you need to run `yarn install --production` to install the modules locally or `yarn run css-compile` to build them

After the css styles are fixed the error should be gone

[2020-07-29 16:04] OsKurt commented on #16286
@williamdes
Thank you. I'll give that a go a little and will let you know if it has resolved. Thank you again!

[2020-07-29 16:09] OsKurt commented on #16286
Just tried both. The install command ran successfully but didn't resolve the problem. The second command threw an error:
➜  ~ yarn run css-compile
yarn run v1.22.4
error Couldn't find a package.json file in "/Users/timbrigland"
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about this command.

[2020-07-29 16:09] williamdes commented on #16286
You need to `cd` into the cloned `phpmyadmin` folder ;)

[2020-07-29 16:14] OsKurt commented on #16286
@williamdes
Genius it worked!!! OMG I can finally get on with some coding. Oh one more thing do you know what the default access creds are? And again thank you so much!!!!

[2020-07-29 16:16] williamdes commented on #16286
Glad that everything works :tada: !
That depends on your database server, but that could be root without a password ;)

[2020-07-29 16:17] OsKurt commented on #16286
Hmmm I tried just root but it then says I need to reconfigure it to enable no password :-(

[2020-07-29 16:21] williamdes commented on #16286
I just followed https://www.digitalocean.com/community/tutorials/how-to-reset-your-mysql-or-mariadb-root-password maybe that wil help you ?

[2020-07-29 18:21] #16286 closed

[2020-07-29 20:29] OsKurt commented on #16286
Thanks @williamdes. Great to get such quick help.

[2020-07-30 17:06] ibennetch commented on #16140
Thanks William

[2020-07-31 04:37] ftrotter commented on #15225
I have just confirmed that the problem still exists using firefox, safari and chrome on the current version of OSX on the demo available at  https://demo.phpmyadmin.net/master-config/

So it appears this is still a problem.

[2020-07-31 17:47] bobbylapointe76 commented on #16284
Hello
I’m back.
I apologies. I just discover I do manual (php) backup not using mysqldump…

Thanks for help

[2020-07-31 20:49] williamdes commented on #16284
No worries :)

[2020-07-31 20:49] #16284 closed

[2020-08-01 09:46] MESWEB commented on #15236
@williamdes
`Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Version '2.12.5-1~bpo10+1' for 'php-twig' was not found`

[2020-08-01 10:49] williamdes commented on #15236
Please try `apt-policy twig` to view the available packages for backports and be sure to have added `buster-backports` and updated `apt` lists

[2020-08-01 18:56] MikaelStrapazzon commented on #15733
The same is happening to me.

- Operating system: CentOS 8
- Web server: Apache/2.4.37 (centos) OpenSSL/1.1.1c
- Database version: 10.3.17-MariaDB - MariaDB Server
- PHP version: 7.2.24
- phpMyAdmin version: 4.9.5 (4.9.4 also tested)

![Capturar](https://user-images.githubusercontent.com/55405214/89108516-7aea6100-d40f-11ea-812a-5545060080a8.PNG)

[2020-08-01 19:37] williamdes commented on #15733
Hi @MikaelStrapazzon
Are you able to reproduce this issue more than once?
Could you try on demo servers (`root`, no password)?
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

Let us know your test procedure :)

[2020-08-01 20:16] MikaelStrapazzon commented on #15733
Hello @williamdes,

Unfortunately I can't perform the tests on the Demo servers.
The error does not occur after a certain action, but every time I access the SQL tab after installation.

I looked at the Log files and an error is not returned anywhere.

I don't know if it's related but when I tried to use version 5.0.2 the issue error happens: https://github.com/phpmyadmin/phpmyadmin/issues/15838

[2020-08-01 20:35] usb248 commented on #15463
Still here in 5.0.2 & MariaDB 10.5.4....

[2020-08-01 22:26] williamdes commented on #15733
This is quite interesting, how do you install phpMyAdmin?

[2020-08-01 23:33] MikaelStrapazzon commented on #15733
We have two servers on the same local network, one for the system and one for the database.

Installation is done on the system server by executing the commands:

cd /user/share
wget https://files.phpmyadmin.net/phpMyAdmin/4.9.5/phpMyAdmin-4.9.5-all-languages.tar.gz **(Or 5.0.2 in the version)**
tar -zxvf phpMyAdmin-4.9.5-all-languages.tar.gz
mv phpMyAdmin-4.9.5-all-languages phpMyAdmin
chown -R a

[2020-08-02 15:14] rajat315315 commented on #16164
https://github.com/phpmyadmin/phpmyadmin/blob/b08b36e39a804d597e1ff34c7e2d2e1ac1918e44/libraries/classes/Dbi/DbiMysqli.php#L21
restricts MySQL to not report `#1242 - Subquery returns more than 1 row` this particular error in `QA_4_9` branch.
It needs to be changed to `mysqli_report(MYSQLI_REPORT_ERROR | MYSQLI_REPORT_STRICT);` according to `https://www.php.net/manual/en/class.mysqli-sql-exception.

[2020-08-02 18:46] williamdes commented on #16164
Thank you @rajat315315 for this precious details and debug !
@mauriciofauth what would you recommend ?

[2020-08-03 18:23] MikaelStrapazzon commented on #15733
I tried to install version 4.9.0, 4.8.5 and 4.7.9. All continued with the error in the SQL tab.

Unfortunately, I cannot investigate the problem further, as it occurs only in the area of development of my work and I have higher priority demands to solve.

[2020-08-03 19:40] roshnaeem commented on #16278
Is this issue closed or I can work on it? @mauriciofauth

[2020-08-03 20:17] mauriciofauth commented on #16278
You can work on it as well, @roshnaeem. Feel free to fix some files and then open a pull request.

[2020-08-03 20:47] d-mihaylenko opened #16289 "phpmyadmin+mysql8 - all queries goes down with timeout error"
Hi, i can not complete the request with phpmyadmin. All requests stop with timeout error. On versions below 8, these same queries work fine. Help me please.
Error:
<img width="364" alt="Screenshot 2020-08-03 at 23 37 39" src="https://user-images.githubusercontent.com/17220673/89225684-4929f380-d5e3-11ea-84c0-a25091ac9e7e.png">
Product versions:
<img width="464" alt="Screenshot 2020-08-03 at 23 35

[2020-08-03 21:08] williamdes commented on #16289
Hi @d-mihaylenko
Do you mean on Percona Servers version below 8 it works fine ?
What does work or show ?

[2020-08-03 23:38] Vahalaru commented on #16278
I would like to help with this, sorry if this is a stupid question but this will be my first contribution. How will we know which giles have been done and which ones still need to be done. Or does the list above change as they are completed.

[2020-08-04 02:34] mauriciofauth commented on #16278
@Vahalaru You don't have to apologize, we were all beginners once.

You can run this command in your terminal:
[code]

[2020-08-04 04:48] Vahalaru commented on #16278
When I run that command I get
bash: vendor/bin/phpcs: No such file or directory

[2020-08-04 13:46] gunnard commented on #16278
@jeremy The command that needs to be run is located in the /vendor/bin
directory of the phpmyadmin fork that you have downloaded from the repo.
For me it is here:
/home/gunnard/devilbox/data/www/php/htdocs/vendor/bin
Have you used git to clone the repo?
What local dev environment are you using / OS ?
We will help you get this sorted.
-Gunnard

On Mon, Aug 3, 2020 at 11:48 PM Jeremy Stotts <notific

[2020-08-05 00:13] AGBeast commented on #16107
@williamdes Hi, I would like to take a stab at this issue...Should I clone the phpmyadmin.git repo or themes.git ?

[2020-08-05 07:08] williamdes commented on #16107
Hi @AGBeast
The phpMyAdmin repository is the right one to clone, be sure to use `yarn run css-compile` after your first `yarn` install in the folder

[2020-08-05 07:14] drtrppr opened #16294 "phpMyAdmin 5.0.2 not showing linestrings"
### Describe the bug

The option to visualize GIS-data doesn't show the expected linestrings.

### To Reproduce

Build a table with phpMyAdmin 4.9.5 on a hosted server. The table holds a json-column and a virtual column to get a geometry
linestring based on the json. Visualizing geo-data is as expected.

Exported the table (structure&data) to a local phpMyAdmin 5.0.2. Import seems to be ok, no err

[2020-08-05 07:34] williamdes commented on #16294
Hi @drtrppr
Could you export the table structure and some sample data?
Also could you try the latest snapshot of 5.0 from our [website](https://www.phpmyadmin.net/downloads/)

[2020-08-05 08:42] williamdes opened #16295 "Ugly black lines below the headers of main page"
### Describe the bug

Ugly black lines below the headers

### To Reproduce

Steps to reproduce the behavior:
1. Go to main page

### Screenshots

![image](https://user-images.githubusercontent.com/7784660/89391272-470d8500-d708-11ea-8df8-c4fe68daccc9.png)

### Server configuration

- phpMyAdmin version: 5.1.0-dev

https://demo.phpmyadmin.net/master/index.php

[2020-08-05 08:43] williamdes commented on #16295
Compared to https://demo.phpmyadmin.net/QA_5_0/index.php

[2020-08-05 11:22] rajat315315 commented on #16295
Sorry, I am unable to reproduce it.
![Screenshot](https://user-images.githubusercontent.com/15379278/89407218-04fe3680-d73c-11ea-9ab3-2131741df83e.png)

[2020-08-05 11:53] #16285 closed

[2020-08-05 12:09] williamdes commented on #16269
Confirmed, affects only v2 checkbox

[2020-08-05 12:34] drtrppr commented on #16294
Did that (MariaDB - GeoTest), everything OK!

Close issue please.

(Next time I will try demo first :) )

[2020-08-05 12:34] #16294 closed

[2020-08-05 12:37] williamdes commented on #16294
Happy to know everything is fixed, feel free to comment if the issue re-appears after 5.0.3 :)

[2020-08-05 12:42] rajat315315 commented on #16295
Same in : [https://demo.phpmyadmin.net/master/index.php?route=/&route=%2F](url)

[2020-08-06 13:25] #16278 closed

[2020-08-06 20:03] mauriciofauth commented on #16295
Looks like `.list-group::first-child` is not working.

https://github.com/twbs/bootstrap/blob/v4.5.0/scss/_card.scss#L22-L29

[2020-08-06 20:27] mauriciofauth commented on #16295
This bug is caused by Bootstrap 4.5. It works with Bootstrap 4.4. Affects the Bootstrap theme as well.

[2020-08-06 20:37] #16295 closed

[2020-08-07 11:23] #16289 closed

[2020-08-07 11:27] #16282 closed

[2020-08-07 12:15] #14883 closed

[2020-08-07 14:12] williamdes commented on #16269
@techboyg5 could you try out https://github.com/phpmyadmin/phpmyadmin/pull/16299/commits/d14f7ad1e05fbf993fa85194e5d556255e851a32 and add the configuration line mentioned in #16299 ?

[2020-08-07 22:07] #16269 closed

[2020-08-09 07:58] AmineMansouriLondon commented on #15800
I am having trouble running this on Xenial. Adding the PPA throws 404 when updating apt, and I cannot add the deb as there is no version for Xenial. Any ideas? Thanks.

[2020-08-09 08:33] williamdes commented on #15800
Hi
Please try to use the URL directly using one of the two distributions the PPA supports :)

See: https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410

[2020-08-09 09:49] williamdes opened #16300 "Missing a new language added on Weblate in LanguageManager"
Ref: #16216 (#16230)
Ref: 1bae7c17d0db47e14137fde269080beff7c0bef6
Ref: 95f8d08295c5a98e06de5102642221655a69b2ba and 4d6fa1797d9f991ba8da945d4307353e877cb945
Ref: a0bb045ec654ad1e3ac09e56dee6d8cd90276f51

[2020-08-09 09:51] williamdes commented on #16300
@ibennetch @mauriciofauth ber is missing, could someone document how to fill the LanguageManager class ?
https://hosted.weblate.org/projects/phpmyadmin/5-0/ber/

[2020-08-09 10:34] AmineMansouriLondon commented on #15800
@williamdes
Thank you for your response. I tried that before, the versions available were not compatible with Xenial - there were dependencies that the new version of phpmyadmin required which are not available on Xenial. I had to upgrade my server to Bionic then manually add the bionic deb.

[2020-08-09 16:12] mauriciofauth commented on #16300
I search for for the ISO language code and I use Wikipedia for the native language name. I search for the MySQL support for that language as well. Native language names and MySQL locales can be empty strings.

[2020-08-10 19:52] williamdes commented on #13557
Waiting for approvers on https://github.com/phpmyadmin/phpmyadmin/pull/15935

[2020-08-11 14:20] W1DJM opened #16301 "Using PHP 8 Beta 1 results in fatal Symfony unknown parameter error trying to view table structure"
[code]

### To Reproduce

Attempt to look at the Structure tab of any database and you will get the error detailed above.

### Expected behavior

I expect the table structure to be shown.

### Server configuration

Windows 10 Pro
Apache 2.4.46
MariaDB 10.5.4
8.0 Beta 1
5.0.2

Fails with any browser.

[2020-08-11 17:41] Izurii commented on #14542
I'm getting this issue to work on, and I'm thinking that I made some progress.

This is what the issue was talking about, a query that return zero rows doesn't show the query itself neither options to edit the query etc:

![31dfdd244881965f0a12df52b336062c](https://user-images.githubusercontent.com/46232520/89929912-4a10e580-dbe0-11ea-8d94-ecac8e66ad18.png)

I just did that, is this what supposed

[2020-08-11 18:30] Patfreeze commented on #14542
That is what we are looking for! Nice job.

[2020-08-11 19:22] Izurii commented on #14542
I noticed something, after the first search that gave zero rows as result, the next one that you do by using ``Edit`` or ``Edit inline``, he gave the message that it returned zero rows but he tries to show the results like it have any to show, the columns name appears and all. I don't think that's correct.

Another thing that idk if it's correct or not to appear is the button 'Show query box', the

[2020-08-15 13:47] #14644 closed

[2020-08-15 13:52] williamdes commented on #16301
@fabpot how do I report this to https://github.com/symfony/dependency-injection ?

[2020-08-15 18:30] fabpot commented on #16301
This should be reported to github.com/symfony/symfony.

[2020-08-16 22:22] mauriciofauth commented on #16086
Fixed by #16277

[2020-08-16 22:22] #16086 closed

[2020-08-16 22:24] mauriciofauth commented on #16106
Fixed by #16277

[2020-08-16 22:24] #16106 closed

[2020-08-16 23:16] #15328 closed

[2020-08-17 01:10] #14326 closed

[2020-08-17 08:27] zyli-tp opened #16305 "generate password fits strict password validation mode"
### Is your feature request related to a problem? Please describe.

The Maria DB 10 supports [strict password validation mode](https://mariadb.com/kb/en/server-system-variables/#strict_password_validation). The password must contain at least one special character to pass the password validation. However, the auto-generated password does not generate special character. I have to manually add random

[2020-08-17 14:03] nikkolai14 commented on #13270
Hey Everyone, Let me try to contribute as well. :)

[2020-08-17 14:25] nikkolai14 commented on #13270
@emanuelb can I please have an update list of [this](https://github.com/phpmyadmin/phpmyadmin/issues/13270#issue-228195273) or I'll just do a search for the entire project? please let me know.

thanks.

[2020-08-17 15:49] emanuelb commented on #13270
@nikkolai14 here updated list
for anyone looking for working on this, as the list will got outdated...
you just need to search for:
1. `<script` to catch `<script>` tags without src:
2. javascript event handlers like `onclick` , `onfocus`, `onmouseover`, etc..

or modify CSP to be very strict (remove unsafe-inline) and monitor the violation reports / console messages.

`<script>` tags without `src

[2020-08-19 02:33] mihaimiculescu opened #16309 "Unable to see existing users with dockerized MariaDB 10.4"
### Describe the bug

Cannot see the existing users when using Dockerized versions for phpMyAdmin and MariaDB respectively

### To Reproduce

Steps to reproduce the behavior:
1. Fresh install MariaDB 10.4 `docker run --name sweetmary -e MYSQL_ROOT_PASSWORD=somethingsmart -d mariadb/server:10.4`
2. Fresh install phpMyAdmin `docker run --name phpadmin -d --link sweetmary:db -p 8080:80 phpmyadmin/php

[2020-08-19 08:41] sanjukumarverma opened #16310 "Indian language Hindi is not available in phpmyadmin language section."
Hindi is third most speaking language of the world. Almost ONE billion people understand Hindi. But phpmyadmin does not provide hindi language feature for the hindi speaking users. while very less popultion speking languges are there.
Its my humble request that please provide space to indian languages.

Thanks & Regards.

[2020-08-19 11:25] ibennetch commented on #16310
Hello,

Just like our code, the translations are open source and contributed by our
users. Translations are most easily made and maintained through the Weblate
service at
https://hosted.weblate.org/projects/phpmyadmin/ . At the moment, Hindi is
only 34% translated, but when the translation is much more complete it will
automatically be included in the next phpMyAdmin release.

We love our translat

[2020-08-19 14:20] #16310 closed

[2020-08-19 14:25] sanjukumarverma commented on #16310
I would like to translate 100% .
Can you please help me that how can I do it.

Kindly help me.

Thanks & regards

Sanju Kumar Verma

बुध, 19 अग॰ 2020, 7:51 pm को Isaac Bennetch <notifications@github.com> ने
लिखा:

[2020-08-19 17:24] williamdes commented on #16310
Hi @sanjukumarverma
I would recommend you to login into Weblate and start translating strings one by one :)

[2020-08-19 17:25] sanjukumarverma commented on #16310
Thanks for your help 😊

बुध, 19 अग॰ 2020, 10:54 pm को William Desportes <notifications@github.com>
ने लिखा:

[2020-08-20 16:59] williamdes commented on #16305
Hi
Does https://github.com/phpmyadmin/phpmyadmin/issues/15491 look like a duplicate ?

[2020-08-21 02:14] zyli-tp commented on #16305
Yes, it is duplicate

[2020-08-21 02:14] #16305 closed

[2020-08-21 08:12] williamdes commented on #16305
Duplicate of #15491

[2020-08-21 08:13] williamdes commented on #15491
Please refer to https://github.com/phpmyadmin/phpmyadmin/issues/16305 for more informations

[2020-08-24 14:17] bagasik opened #16313 "php74 mbstring.func_overload = 2 how to combine mbstring.func_overload = 0"
Hello.
My system FreeBSD 11.3
nginx + php74-fpm
[code]

Problem.
Bitrix site requires mbstring.func_overload = 2 parameter
phpmyadmin requires mbstring.func_overload = 0

I am setting up like this.
I create two FPM sockets
For the site and phpmyadmin.
In /usr/local/etc/php.ini specify the parameters (mbstring.func_overload = 2, mbstring.internal_encoding = utf-8).

[code]

[code]

Phpmyadmin doesn

[2020-08-24 14:41] williamdes commented on #16313
Hi @bagasik

https://www.php.net/manual/en/mbstring.configuration.php#ini.mbstring.func-overload "This feature has been DEPRECATED as of PHP 7.2.0. Relying on this feature is highly discouraged."

I assume you do not need to configure it anymore.

I would recommend you to clean your `/usr/local/www/phpMyAdmin/tmp` directory and download  the latest version in development [(phpMyAdmin 5.0+snapshot)

[2020-08-24 14:45] williamdes commented on #14542
For me, yes

[2020-08-24 14:54] williamdes commented on #15806
Closed by #16277

[2020-08-24 14:54] #15806 closed

[2020-08-24 15:57] bagasik commented on #16313
installed phpMyAdmin 5.1 + snapshot, didn't help, same error.
If so.
Default settings in /usr/local/etc/php.ini.
[code]
Site stops working, phpmyadmin works fine.

[2020-08-24 17:56] markus-ksg opened #16314 "SQL query editor: Special characters in column names not supported"
### Describe the bug

The Ctrl+Space code completion in the SQL query editor doesn't support special characters in column names very well.

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/table/sql&db=burger_code&table=categories&server=1
2. Add columns `ITM-main#` and `#main`  (names contain special characters):
[code]
3. Try

[2020-08-25 11:16] claskfosmic opened #16315 "Unable to search on multiple ids, using IN(...) operator, because the value is not a valid number."
When I use the Search-tab after navigating to a table, in order so search from some items and I'll try to use the operator IN(...) on a numeric (INT) field, I can't search, because the form says the value has to be a valid number.

![image](https://user-images.githubusercontent.com/17725109/91167782-d3421500-e6d4-11ea-9de5-252399b0cb38.png)

I can write the query on my own, like ```SELECT * FROM t

[2020-08-25 12:33] ibennetch commented on #16315
Thanks for the report.

I think this is a duplicate of #16041, which has been fixed and will be part of the next release (which I want to do soon). You could use the snapshot version in the meantime if you wish, which is available on the https://www.phpmyadmin.net/downloads page.

[2020-08-25 12:33] #16315 closed

[2020-08-25 13:20] williamdes commented on #16315
Duplicate of #16041

[2020-08-25 15:00] olumide95 commented on #16191
Added a help text in cell_edit_hint to let users know about this method of adding a newline under quick-edit. what branch should I push this change to?
![Screen Shot 2020-08-25 at 3 51 37 PM](https://user-images.githubusercontent.com/20104826/91190953-165bb280-e6ec-11ea-9fd0-568934ec4c5c.png)

[2020-08-25 15:20] InterLinked1 opened #16316 "Consider use of SameSite=Strict"
phpMyAdmin currently uses HttpOnly and Secure parameters, but it could also benefit from using the new SameSite=Strict setting. As far as I know, the cookie does not need to be available to any other domain. Thus, it would not hurt to set this cookie security setting. Could also consider using the __Host prefix.

It's possible this may not be compatible with something in phpMyAdmin but my prelimin

[2020-08-25 23:49] mauriciofauth opened #16318 "Profiling doesn't sum the number of calls"
### Describe the bug

The _Calls_ column of the _Summary by state_ table always have the number `1` when _Profiling_ is enabled.

### To Reproduce

Steps to reproduce the behavior:
1. Enable _Profiling_
2. Run a query

### Server configuration

 phpMyAdmin version: 4.9+ and 5.0+

[2020-08-25 23:58] #16318 closed

[2020-08-26 06:34] dominykasn opened #16319 "Phpmyadmin showing no total number when searching in Russian language"
### Describe the bug

Using search while in Russian language "Total:" count in the bottom always gives you %s
<img width="617" alt="Screenshot 2020-08-26 at 09 21 04" src="https://user-images.githubusercontent.com/69141812/91268164-7b131d80-e77d-11ea-9dab-479650254084.png">

### To Reproduce

Steps to reproduce the behavior:
1. Login to any phpmyadmin database with Russian language enabled
2. Go t

[2020-08-26 18:40] lem9 commented on #16253
@Myshiner Do you want to to forbid these kind of queries because you're afraid of the server load? To reassure you, phpMyAdmin automatically adds a LIMIT clause.

[2020-08-27 14:20] emanuelb commented on #12782
There more places to fix, you find them by searing for:
`<script` to catch `<script>` tags without src:

here list for `<script>` tags without `src=` :

[code]

[2020-08-27 15:12] emanuelb commented on #12782
There also calls to `addCode` which probably should be fixed as well (they create dynamic `<script>` blocks, instead of using code from loaded files):
https://github.com/phpmyadmin/phpmyadmin/blob/ce83b3445921d3cf0d4c93f3310ca3f4a83cdab3/libraries/classes/Footer.php#L345-L347
https://github.com/phpmyadmin/phpmyadmin/blob/ce83b3445921d3cf0d4c93f3310ca3f4a83cdab3/libraries/classes/Footer.php#L325-L3

[2020-08-27 18:21] emanuelb commented on #12262
Results for:

Searching `<style` to catch `<style>` tag without `src=`:
[code]
Searching `style=` to catch `style` attribute usage:

[code]

Search for `style'` and `style"` to catch usage inside JS/Templates:
[code]

[2020-08-28 16:00] jason-vivid commented on #15800
Same issue before and after adding the PPA

Ubuntu 18.04.5 LTS
PHP 7.4.9 (cli) (built: Aug  7 2020 14:29:36) ( NTS )
nginx/1.14.0 (Ubuntu)

[2020-08-28 23:49] mauriciofauth commented on #16197
MariaDB is replacing the terms with _primary_ and _replica_ and MySQL is replacing the terms with _source_ and _replica_.

- https://mariadb.com/kb/en/replication-overview/
- https://dev.mysql.com/doc/refman/8.0/en/replication.html

[2020-08-29 00:29] serome111 commented on #15309
actualice a la versión 5.0.2  funcionó para mí.

[2020-08-29 13:17] codyclearsky commented on #16199
Hi, I found this frustrating also as I really like the designer and ability to add relations easily.

I have found a fix for this

in js/designer/move.js change the following

---Under DesignerMove.enablePageContentEvents = function () { ----

from line 1995 - 2001, change the $('#page_content').on to $(document).on

Sorted it right out for me :)

[2020-08-30 17:50] jjsteing opened #16324 "Phpmyadmin vs MySql (MariaDB) list of users differs"
As I post on stack-overflow : [here](https://stackoverflow.com/questions/63658547/phpmyadmin-vs-mysql-mariadb-list-of-users-differs)

### Describe the bug

PhpMyAdmin users differ from MariaDB

- Operating system: debian9
- Web server: VPS
- Database version:libmysql - mysqlnd 5.0.12-dev - 20150407 - $Id: b5c5906d452ec590732a93b051f3827e02749b83 $
- PHP version:7.0.33-0+deb9u9
- phpMyAdmin version

[2020-08-30 18:16] williamdes commented on #16324
Hi @jjsteing
Please update to the latest phpMyAdmin using buster-backports (#15236) or by downloading it

I will have a look to this issue when I can just in case the latest versions are affected (anyone quicker than me can do it too)

[2020-08-30 18:37] shucon opened #16325 "Editing Geometry data throws error on using the GUI"
### Describe the bug

Editing Geometry data using GUI is not working.

The error is due to the fact that the Query generated is ```UPDATE `gis_all` SET `shape` = ST_PointFromText(\'POINT(66 54)\',0) WHERE `gis_all`.`name` = 'POINT'``` but it should be ```UPDATE `gis_all` SET `shape` = ST_PointFromText('POINT(66 54)',0) WHERE `gis_all`.`name` = 'POINT'``` which works fine when edited and executed a

[2020-08-30 18:38] shucon commented on #16325
Good-first-issue @williamdes @ibennetch

[2020-08-30 18:50] shucon opened #16326 "Latitude and Longitudes swap for geometries when SRID is present in edit mode"
### Describe the bug

Latitude and Longitudes switch for geometries when SRID is present

### To Reproduce

Steps to reproduce the behavior:
1. Go to `workd_borders` table
2. Visualize the GIS data to visit see any country
3. Notice it's latitudes and longitudes
4. Now go to edit menu to edit the geometry of the country.
5. The Latitudes and Longitudes are swapped and the country would be in a dif

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 18:55] jjsteing commented on #16324
Thanks for reply, I tried to follow instruction :
adding deb http://deb.debian.org/debian buster-backports main in sources-list => OK
apt-get upgrade php-tcpdf php-twig -y => Update done

apt-get install php-twig=2.12.5-1~bpo10+1=> Not OK:
     Reading package lists... Done
     Building dependency tree
     Reading state information... Done
     E: Version '2.12.5-1~bpo10+1' for 'php-twig' was no

[2020-08-30 19:13] williamdes commented on #16324
Did you `apt-get update`?
Your `apt-policy php-twig` seems to ignore buster-backports

[2020-08-30 19:17] jjsteing commented on #16324
Of course I did :
root@vps799057:~# apt-get update
Ign:1 http://deb.debian.org/debian stretch InRelease
Hit:2 http://security.debian.org stretch/updates InRelease
Hit:3 http://deb.debian.org/debian stretch-updates InRelease
Hit:4 http://deb.debian.org/debian buster-backports InRelease

[2020-08-30 19:20] williamdes commented on #16324
Let's try `apt policy phpmyadmin` :)
I hope to see buster-backports in the output

[2020-08-30 19:22] jjsteing commented on #16324
root@vps799057:~# apt policy phpmyadmin
phpmyadmin:
  Installed: 4:4.6.6-4+deb9u1
  Candidate: 4:4.6.6-4+deb9u1
  Version table:
     4:4.9.5+dfsg1-2 -1
         -1 https://deb.debian.org/debian bullseye/main amd64 Packages
     4:4.9.5+dfsg1-2~bpo10+1 100
        100 http://deb.debian.org/debian buster-backports/main amd64 Packages
 *** 4:4.6.6-4+deb9u1 500
        500 http://deb.debian.org/debia

[2020-08-30 19:29] williamdes commented on #16324
Try to install `apt install phpmyadmin@4:4.9.5+dfsg1-2bpo10+1` and you will maybe understand what goes wrong

[2020-08-30 19:31] jjsteing commented on #16324
Thanks for your time :) ( i m french too btw ;) )
``apt install phpmyadmin@4:4.9.5+dfsg1-2bpo10+1
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package phpmyadmin@4:4.9.5+dfsg1-2bpo10+1
E: Couldn't find any package by glob 'phpmyadmin@4:4.9.5+dfsg1-2bpo10+1'
E: Couldn't find any package by regex 'phpmyadmin@4:4.9.5+dfsg1-2bpo10+1'

[2020-08-31 14:42] teo1978 opened #16327 "Obvious functions missing in type autocomplete suggestions"
### Describe the bug

The whole SQL autocomplete is a complete disaster.

However here's one  particular instance in which it miserably fails to do its job

### To Reproduce

Steps to reproduce the behavior:
1. Go to the SQL tab
2. Start typing: "SELECT UNIX_" (without quotes)

### Expected behavior

The autocomplete should suggest at least the function `UNIX_TIMESTAMP()`. That's certainly a resul

[2020-08-31 14:57] shucon commented on #16199
Fixed in upcoming PR: https://github.com/phpmyadmin/phpmyadmin/pull/16321, fix is similar to what @codyclearsky mentioned. Unfortunately, I saw it after I fixed it.

[2020-08-31 20:04] pjotrek-b commented on #15236
First of all: Thank you very much for making phpmyadmin available through backports! :cake:
Not because of convenience, but because I believe that server maintenance profits greatly from unified basic installation processes from common/official sources. I was very surprised to see phpmyadmin missing in Debian Buster repos.

Regarding the php-twig installation, here's what worked for me:
```$ apt -

[2020-08-31 21:48] williamdes commented on #16324
Hi 🇫🇷

Maybe you can try https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-684008423
It seems to work for him

Bonne journée

[2020-09-01 16:55] chrcoluk opened #16328 "invisible recaptcha remains broken"
Hopefully it wont be locked again and instead addressed.

Previous bug here https://github.com/phpmyadmin/phpmyadmin/issues/13086

Works in old builds before the commit went in, doesnt work in new ones with no solution provided by devs.

[2020-09-01 18:32] williamdes commented on #16328
https://github.com/phpmyadmin/phpmyadmin/issues/13086#issuecomment-433632249

By chance this was fixed by https://github.com/phpmyadmin/phpmyadmin/pull/16299

[2020-09-01 18:34] williamdes commented on #16328
So for me this is a duplicate of
 https://github.com/phpmyadmin/phpmyadmin/issues/16269 and that will be fixed in the next 5.0 release, you can download the development snapshot from our [website](https://www.phpmyadmin.net/downloads/)

But thank you for bringing attention onto this issue :)

[2020-09-01 18:34] williamdes commented on #16328
Duplicate of #16269

[2020-09-01 18:34] #16328 closed

[2020-09-01 22:26] mauriciofauth opened #16329 "Stickyfill is not defined"
### Describe the bug

A fatal JavaScript error: ReferenceError: Stickyfill is not defined.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the home page
2. Click on SQL tab
3. See error

### Server configuration

- phpMyAdmin version: 5.0.3-dev and 5.1.0-dev

### Client configuration

- Browser: Firefox 68
- Operating system: Debian 10

### Additional context

Related to #16277.

Also

[2020-09-02 07:28] williamdes commented on #16326
Affects 4.9->master ?

[2020-09-02 08:05] williamdes commented on #16326
No because 4.9 will only receive security fixes :)
If 5.0 demo is affected you can create an issue

What I want to know is if this issue also affects 5.0 because you only filled "master"

[2020-09-02 08:15] shucon commented on #16326
Oh! my bad. Yes, it affects 5.0 as well.

[2020-09-03 02:41] jamescridland commented on #15634
@williamdes - I'm still getting intermittent errors when trying to log in on Chrome. When it manifests itself, the behaviour is always "Failed to set session cookie. Maybe you are using HTTP instead of HTTPS" on the first attempt; and then it always works on the second attempt.

This does not happen using Firefox, and only appears to be an issue in Chrome. Above, I highlight that PHPMyAdmin is [se

[2020-09-03 08:58] williamdes commented on #15634
It seems to be the same bug, anyone that can work out a pull-request is very welcome :)
You seem to have pointed out a bug, could you try to find the root cause ?

[2020-09-03 11:31] jamescridland commented on #15634
My bug appears to be with session management - it seems to be setting the old session, before having a change of heart and setting a new session cookie.

What I'm not fully understanding is this bit of `AuthenticationSignon.php`:

[code]

If you have PHP v7.3.0 or above - which I do! - this would appear to set a cookie twice - once using the $sessionCookieParams full array with the potential of a

[2020-09-04 16:19] #15296 closed

[2020-09-04 17:03] mauriciofauth opened #16332 "The at() matcher has been deprecated."
The `PHPUnit\Framework\TestCase::at` method has been deprecated.

[2020-09-04 23:10] mauriciofauth commented on #16117
You can extend DbiMysqli and pass this new class to the `DatabaseInterface::load` method in the common.inc.php file. It should work fine.

It was possible to change the extension in older versions, but only between mysqli and mysql. The mysql extension was removed in phpMyAdmin 5.0.

[2020-09-04 23:24] mauriciofauth commented on #16117
I don't see a good reason to accept custom extensions via a configuration directive. The DbiExtension interface exist only for internal use and may change in the future.

You could open a pull request with your changes.

[2020-09-04 23:25] #16117 closed

[2020-09-06 18:43] murelh commented on #16043
Hi,
Why 245 ?

[2020-09-06 21:08] williamdes commented on #16043
It is the real value when the constant is defined by/in php itself

[2020-09-07 10:26] #16329 closed

[2020-09-07 11:46] williamdes commented on #16319
Fixed on https://hosted.weblate.org/projects/phpmyadmin/ by 984f7ac5748a456c918e3963f0d607b9dbdabe15, 64f6b5c43522be49facbd95bee9197e811284c91 and 9c66df13c4eb5b1c4089d565972e68ad9947d4e6

[2020-09-07 11:46] #16319 closed

[2020-09-07 12:09] #15634 closed

[2020-09-07 12:09] williamdes commented on #15634
This is entirely unrelated, I suspect since the issue isn't setting an identical cookie twice, it's setting an identically-named cookie twice with different content. But the above would seem as if it's missing an } else { statement.

You pointed out one potential bug, I fixed it by 330747998dac27bde2d86df2190b814bfeacc823
Thank you for reporting this, I hope this will be fixed now.

[2020-09-07 12:16] williamdes commented on #16301
Hi @W1DJM
It seems to have been fixed in `symfony/symfony` (https://github.com/symfony/symfony/issues/38089#issuecomment-688286247)

@mauriciofauth should we bump the minor 4.x version we require on `QA_5_0` ?

[2020-09-07 13:10] sleeyax commented on #16019
I was having the same issue but then I noticed I set the

[2020-09-07 13:29] orzel commented on #15584
That was my first try. Doesn't work with pma 5.0.2 (and probably others).

[2020-09-07 16:23] SeekerNik commented on #16107
hey i would like to take this issue.

[2020-09-07 18:48] williamdes commented on #16107
Hey, you can go ahead :)

[2020-09-08 14:41] markus-ksg commented on #16314
To reproduce if the example database `burger_code` doesn't exist, just create the database and then create table `categories` with column `name`.

[2020-09-08 15:07] arcanisgk opened #16337 "Change example Value of Query Generator"
Exist any way to change the bold text:

INSERT INTO `Exmple`(`IdCMov`, `columnA`) VALUES (**[value-1]**,**[value-2]**);

I hate every time a Query is generated in phpmyadmin it says that it has errors because its example does not comply with the Proper syntax

why:

because it does not generate something like:

``INSERT INTO `Exmple`(`IdCMov`, `columnA`) VALUES ('Value-1','Value-1');``

[2020-09-08 21:42] williamdes commented on #16314
Thank you for reporting this issue, I hope someone will have a look into it :)

[2020-09-08 21:43] williamdes commented on #16337
What version are you using @arcanisgk?

[2020-09-08 21:59] arcanisgk commented on #16337
version 4.9 beta on linux ubuntu installed by default
and 5.0.2 release stable with Laragon and Xampp and AMPPS on windows 10.

[2020-09-09 07:26] williamdes commented on #16337
Okay, would you provide us your table structure please ?

[2020-09-09 14:04] arcanisgk commented on #16337
all table strucuture have the same problem in the SQL tab:

![image](https://user-images.githubusercontent.com/1207306/92608805-6a819d80-f27b-11ea-85b4-371cc4b2298c.png)

[2020-09-09 14:09] arcanisgk opened #16339 "Layout Error when scroll down Table"
this is a example o table view in phpmyadmin at start:

![image](https://user-images.githubusercontent.com/1207306/92609190-e976d600-f27b-11ea-8e94-7ec9577470d5.png)

But when i scroll down get this:

![image](https://user-images.githubusercontent.com/1207306/92609302-0c08ef00-f27c-11ea-8de8-bef7c2abb490.png)

Version and configuration:

![image](https://user-images.githubusercontent.com/1207306/9

[2020-09-09 14:10] williamdes commented on #16337
Ah, it is an enhancement request to change the default values.

[2020-09-09 14:11] williamdes commented on #16339
I think it is a duplicate of #16086

[2020-09-09 14:16] arcanisgk commented on #16086
I don't see any software giving code examples with syntax errors...

[2020-09-09 14:16] arcanisgk commented on #16337
yes, I don't see any software giving code examples with syntax errors

[2020-09-10 02:43] pion33r opened #16341 "A fatal JavaScript error has occurred. Would you like to send an error report? - v5.0.2"
I upgraded phpMyAdmin to latest version in ubuntu 18.04. After that, I frequently get this error message. I reinstalled it to v4.9.5 and again from latest source. Still I get this error everytime I login to phpmyadmin. This is the same case in chrome, firefox and in their incognito modes. The error causes no response to mouse clicks and I'm stuck in it. Please help.

[code]

[2020-09-10 06:18] williamdes commented on #16341
Hi @pion33r
Do you have a custom configuration somewhere ?

[2020-09-10 08:05] pion33r commented on #16341
@williamdes No. It's only default configuration.

[2020-09-10 14:29] #16337 closed

[2020-09-11 07:21] programadornovato opened #16342 "In Multi-table query (db_multi_table_query.php) alias show the same alias for all columns"
In Multi-table query  (db_multi_table_query.php) alias show the same alias for all columns
![2020-09-11 02_18_39-localhost _ 127 0 0 1 _ escuela _ phpMyAdmin 5 0 2](https://user-images.githubusercontent.com/50611379/92882283-636ea280-f3d5-11ea-8eb5-7ead247057d0.png)

[2020-09-11 07:26] williamdes commented on #16342
What version are you using @programadornovato ?

[2020-09-11 07:35] programadornovato commented on #16342
phpMyAdmin
Version information: 5.0.2 (up to date)

Database server
Server: 127.0.0.1 via TCP/IP
Server type: MariaDB
Server connection: SSL is not being used Documentation
Server version: 10.4.14-MariaDB - mariadb.org binary distribution
Protocol version: 10
User: root@localhost
Server charset: UTF-8 Unicode (utf8mb4)

Web server
Apache/2.4.46 (Win64) OpenSSL/1.1.1g PHP/7.2.33
Database client ver

[2020-09-13 14:58] corbolais opened #16347 "Support hardware token and app 2FA simultanously"
### Is your feature request related to a problem? Please describe.
As of phpmyadmin 5.0.2, 2FA only supports either hardware token auth *xor* app auth.

### Describe the solution you'd like
I'd like both of them at the same time supported. Imagine a lost token or your phone with the app installed. Then there's always "plan B" to authenticate (and possibly remove a lost/stolen hw token/phone auth a

[2020-09-13 15:49] petrduda commented on #12961
Hello @williamdes, I would like to fix this, is the target branch master or QA_5_0, please?

[2020-09-13 16:46] williamdes commented on #12961
Hello @petrduda

Since it is an enhancement you can use master branch instead of QA_5_0

[2020-09-14 07:20] pion33r commented on #16341
Hi @williamdes
Could you suggest any hack to skip this error?

[2020-09-14 07:56] umairkhan-dev opened #16350 "Update PhpMyAdmin to latest (5.x.x) version in PhpMyAdmin PPA"
### Describe the bug

The PhpMyAdmin's version in [PhpMyAdmin PPA](https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa) is **4:4.9.5+dfsg1-2**, uploaded by **William Desportes**, uploaded on **2020-03-26**. Kindly update PhpMyAdmin PPA to provide latest version of PhpMyAdmin.

Ref: https://github.com/phpmyadmin/phpmyadmin/issues/16256#issuecomment-665644306
Upstream: https://salsa.debian.org/php

[2020-09-14 07:59] nina-py commented on #14698
This is a curious bug - I have just figured out where exactly the error originates from. As the initial report says, the name of the database has to match the string "New" in English or whatever string this is translated to in other locales for the fatal error to appear. It is case-sensitive as well so probably doesn't really happen in the wild that often given that database names are usually lowe

[2020-09-14 08:01] williamdes commented on #16341
Did you use one of the following methods ?:
- Debian buster-backports (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993)
- Ubuntu PPA on Debian (https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)
- Ubuntu PPA (https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-552211446)

[2020-09-14 08:05] williamdes commented on #14698
Hi @nina-py

Thank you so much for your precious debug !, could you try to fix this issue using our `QA_5_0` branch ?

[2020-09-14 08:14] williamdes commented on #16350
Hi @umairkhan-dev

I am working on a 5.0 version https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/tree/master-5.x

I created a MR/PR to have some reviews before uploading 5.x to Ubuntu PPA and Debian
https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/merge_requests/30#note_192984

[2020-09-14 08:30] nina-py commented on #14698
Hi @williamdes, I'm not sure what would be a good fix for it though as I'm just getting familiar with the codebase. A possible workaround would be to block users from creating databases named with the magic "New" keyword?

I forgot to add that a very similar issue can occur one level down - if you try to create a table named "New", the nav tree breaks with a fatal error in `NavigationTree::addTabl

[2020-09-14 08:32] williamdes commented on #14698
Well, we can not do that because they can create databases using their command line :)

I think we need to find the real cause of such a bug rather than limiting our users because of problems they do not care about ;)

[2020-09-14 08:35] nina-py commented on #14698
Good point! There is no choice but to fix the node tree then :).

[2020-09-14 10:19] pion33r commented on #16341
Thanks for sharing them. I followed those methods, but the error is not going. Can I help by sharing any logs or details to investigate the bug?

[2020-09-14 11:43] williamdes commented on #16341
Sure, I would recommend you to try debugging the error. From what I know it seems that https://github.com/phpmyadmin/phpmyadmin/blob/aa3254d8a024c8c7a701cf3ef7d8bb0c3938a821/js/config.js#L16 is not loaded

[2020-09-14 18:40] arcanisgk opened #16351 "phpmyadmin on Ubuntu Repository."
Why is the latest version of phpmyadmin installation for ubuntu server 4.9.5dev2?

It is possible that they support the installation by version of phpmyadmin:

`sudo apt-get install -y phpmyadmin-5.2`

????

![image](https://user-images.githubusercontent.com/1207306/93124481-436a0800-f68f-11ea-83ef-1d94ec35921a.png)

[2020-09-15 06:36] williamdes commented on #16351
Hi
Please refer to #16350 :)

[2020-09-15 06:37] williamdes commented on #16351
Duplicate of #16350

[2020-09-15 06:37] #16351 closed

[2020-09-15 07:17] umairkhan-dev opened #16352 "Notice in ./libraries/classes/Display/Results.php Trying to access array offset on value of type null"
### Describe the bug

`Notice in ./libraries/classes/Display/Results.php#4442 Trying to access array offset on value of type null`
`Notice in ./libraries/classes/Display/Results.php#4468 Trying to access array offset on value of type null`

Basically this happens when `ORDER BY` is used on empty table.

### To Reproduce

Steps to reproduce the behavior:
1. Create a new table in any / test database

[2020-09-15 07:46] williamdes commented on #16352
Maybe fixed in 5.0, to be checked when Debian package is uploaded.

[2020-09-15 07:56] umairkhan-dev commented on #16352
I was just testing this on [demo.phpmyadmin.net/STABLE](https://demo.phpmyadmin.net/STABLE/sql.php?db=umairkhan-dev&table=tbl1&pos=0) and it seems that the bug is fixed there.

**PHPMyAdmin Info**
Version information: 5.0.2 (up to date)
Git revision: [9098471](https://github.com/phpmyadmin/phpmyadmin/commit/9098471ad2d58896e6389b8854cdbbc474e5f07e) from [STABLE](https://github.com/phpmyadmin/phpmy

[2020-09-15 08:02] matthewbaynham opened #16353 "Store procedure runs but doesn't run it depends how to start it"
### Describe the bug

I have a stored procedure that will work or not work depending on how it is started.  So the parameter is the same and without changing the stored procedure and without changing the data in the tables.

### To Reproduce

I've written a stored procedure (all code below) and if I run it by typing in a call statement it doesn't work.
`call getSettingsUploadStock("fred")`

Howeve

[2020-09-15 08:10] williamdes commented on #16352
Thank you, waiting on #16350 now

[2020-09-15 08:10] #16352 closed

[2020-09-15 08:12] williamdes commented on #16353
Thank you for reporting this, I fixed a similar error on #14614

[2020-09-15 09:33] yellow1912 commented on #15800
I have this same issue on 5.0.0-dev

[2020-09-15 11:58] williamdes commented on #15800
Could you try 5.0.2 ?

You are not up to date ;)

@jason-vivid please try one of the following methods to update your package:
- Debian buster-backports (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993)
- Ubuntu PPA on Debian (https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)
- Ubuntu PPA (https://github.com/phpmyadmin/phpmyadmin/issues/1551

[2020-09-15 12:22] #14698 closed

[2020-09-15 12:23] williamdes commented on #16339
Duplicate of #16086

[2020-09-15 12:23] #16339 closed

[2020-09-15 13:28] programmistu commented on #16313
https://github.com/composer/satis/issues/413
Twig 2 dropped any attempt to support it

[2020-09-16 13:01] Tobeworks opened #16355 "Textarea resize CSS"
### Describe the bug
resize: vertical; in main Template pmahomme is not practical

### To Reproduce
Any varchar or text field

Steps to reproduce the behavior:
1. Go to any varchar field
2. Click on 'edit'

### Expected behavior
The textarea should not be resize:vertical, it should be overwritten to resize:both; to edit bigger data amounts
The issue comes from the use of Bootstrap`s reboot, which

[2020-09-16 13:39] williamdes commented on #16355
What version of phpMyAdmin are you using ?

[2020-09-16 13:56] Tobeworks commented on #16355
it`s about the 5.0.2.

Now I downgraded to 4.8.4 (which was the latest on my machine) and it`s working fine. I see there is no use of Bootstrap in 4.x, so there is no _reboot.scss

[2020-09-16 14:32] teger opened #16356 "Problem with SQl IN(...) in research view"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. In the resarch view on a table
2. On a INT field (primary key by example)
3. Select IN(...) in select operator
4. Type 1,2,3 in the value field

### Expected behavior

A error message appears :  Please enter a valid number.

### Screenshots

### Server configuration

- O

[2020-09-16 14:34] teger opened #16357 "Problem with SQL IN request"
### Describe the bug

In the research view on a table, with a INT field (primary key by example), select the IN operator by example and type the value 1,2,3.
The error message appears : Please enter a valid number.
And Impossible to valid the research !

### To Reproduce

Steps to reproduce the behavior:
1. In the resarch view on a table
2. On a INT field (primary key by example)
3. Select IN(...)

[2020-09-16 14:36] #16356 closed

[2020-09-16 17:35] teo1978 opened #16358 "Page selector of tables subtree in left panel randomly disappears"
### Describe the bug

See To Reproduce

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/
2. Select a database that has many many tables with names that start with (or actually just contain) a common substring. For example, I have a database with dozens of tables named 'Whatever_event_.....'
3. In the input box for searching tables just below th

[2020-09-16 17:45] williamdes commented on #16355
Thank you for this precious information
Could you paste before and after screnshots? That would help contributors fix this issue :)

[2020-09-16 17:53] teo1978 commented on #16358
It's actually worse than that: you need to delete it, type something else, hit Enter, and then retype the desired string again to force it to reload the results.

[2020-09-16 18:50] williamdes commented on #16356
Duplicate of #16041

[2020-09-16 18:50] williamdes commented on #16357
Duplicate of #16041

[2020-09-16 18:51] williamdes commented on #16357
Hi,
This will be fixed by 5.0.3, you can download the latest version in development [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

[2020-09-16 18:51] #16357 closed

[2020-09-18 02:33] comradekingu commented on #16116
Every time I find an error and it is in the phpMyAdmin I curse the skies.
By the grace of the gods, please get this fixed. You are not special.
The translation would be in much better shape by now if it wasn't artificially in the legal backwaters.

[2020-09-18 13:14] Tobeworks commented on #16355
![demo_phpmyadmin_net_phpMyAdmin_demo_MySQL_testdb_Foobar_Test_phpMyAdmin_5_1_0_dev](https://user-images.githubusercontent.com/52962149/93601520-a0342e00-f9c1-11ea-913a-9b77302469cc.png)

[2020-09-18 13:17] williamdes commented on #16355
Confirmed on https://demo.phpmyadmin.net/QA_5_0/tbl_change.php?db=sakila&table=film_text (root, no password)

[2020-09-18 17:53] rajat315315 commented on #16353
Fixed,

[2020-09-18 19:31] numericOverflow opened #16362 "Can 2FA - "Composer packages are missing...""
### Describe the bug

I've installed composer packages, but php doesn't seem to be recognizing them, still complains that deps are missing to enable two-factor authentication

### To Reproduce

installed composer
restart apache2

[code]

### Expected behavior

Should be able to configure 2FA for users

### Screenshots

contents of:  _/usr/share/phpmyadmin/composer.json_
[code]

[code]

![2020-09-1

[2020-09-19 16:52] sahilofficial671 commented on #15800
Thanks

[2020-09-19 17:01] rajat315315 commented on #16264
Fixed.

[2020-09-19 20:23] williamdes commented on #16362
Hi @numericOverflow
I am working on this issue upstream https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/issues/3#note_184344

The packages are still waiting on the Debian pool to be accepted.
For now you need to wait or do some tweaks to vendor/autoload.php
It autoloads Debian packages for php and not real composer files.

BaconQrCode will be accepted soon, I hope.

https://ftp-master.debian

[2020-09-19 20:50] petrduda commented on #16095
Hello, may I suggest the following solution?

[2020-09-19 21:50] #16355 closed

[2020-09-19 22:32] williamdes opened #16365 "Foreign keys not showing on 5.1"
### Describe the bug

No possibility to add FKs

### To Reproduce

https://demo.phpmyadmin.net/master/index.php?route=/table/relation&db=sakila&table=actor

![image](https://user-images.githubusercontent.com/7784660/93690418-6144cc00-fad8-11ea-8352-e1f918580487.png)

### Expected behavior

https://demo.phpmyadmin.net/QA_5_0/tbl_relation.php?db=sakila&table=actor

### Screenshots

If applicable, ad

[2020-09-20 16:46] rajat315315 commented on #16242
Fixed.

[2020-09-20 17:22] rajat315315 commented on #16252
Fixed.

[2020-09-20 17:32] qcybb commented on #16252
Thanks!

[2020-09-20 17:53] rajat315315 commented on #16188
I think @amsharma9 can use cache to quickly see the list of tables. Setting `query_cache_type` to 1 turns it on.
As it would affect in general all results, you might not want to do it.

[2020-09-20 19:34] rajat315315 commented on #16045
I am on `QA_5_0` branch and it seems to work fine.
Anybody able to reproduce this?

[2020-09-20 21:13] williamdes commented on #16045
Hi @rajat315315

Did you miss `Affects: master` in the description, let us know if you still can not reproduce this issue ;)

[2020-09-20 21:22] #12961 closed

[2020-09-20 21:52] #16342 closed

[2020-09-20 21:52] #15109 closed

[2020-09-20 21:52] #16325 closed

[2020-09-23 16:40] rajat315315 commented on #14430
Fixed.

[2020-09-24 02:03] numericOverflow commented on #16362
@williamdes  - Thanks for the quick response.

What sort of tweaks are needed to vendor/autoload.php?

[2020-09-24 07:58] williamdes commented on #16362
Hi @numericOverflow
:)

Just adding a line to `vendor/autoload.php` like in https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/blob/master/debian/autoload.php.tpl#L2

and adding a file in the vendor folder could work like this one https://salsa.debian.org/php-team/pear/php-bacon-baconqrcode/-/blob/main/debian/autoload.php.tpl

I could be very much easy to install the following and tweak the `ve

[2020-09-24 12:24] williamdes commented on #16362
:tada:

![image](https://user-images.githubusercontent.com/7784660/94143942-cc8ff480-fe70-11ea-8e50-4cd81240b6f6.png)

Waiting now to be able to send this packages to buster-backports

[2020-09-24 14:46] rajat315315 commented on #15449
It belongs to core-mirror repository.

[2020-09-24 16:35] rajat315315 commented on #15164
Fixed.

[2020-09-24 17:10] rajat315315 commented on #16264
Duplicate #14795

[2020-09-24 17:29] rajat315315 commented on #14192
![pma_sidebar_pk_type](https://user-images.githubusercontent.com/15379278/94179007-8612b800-feb9-11ea-8dda-5e1b7c1e0230.png)

I checked on `QA_5_0` & `master`, both are showing `pk` & `column types`

[2020-09-24 19:58] williamdes commented on #16264
Duplicate of #14795

[2020-09-24 19:59] williamdes commented on #14192
That you @rajat315315
Indeed, this needs to be closed now

[2020-09-24 19:59] #14192 closed

[2020-09-24 20:01] williamdes commented on #14192
Duplicate of #14890

[2020-09-25 14:12] comradekingu commented on #16116
Here is the part that explicitly says contributions are made under the project license
https://docs.github.com/en/github/site-policy/github-terms-of-service#6-contributions-under-repository-license
If you don't read the terms and services of the services you use, expecting contributors to read your redundant ones is a quick way to lose contributions.

[2020-09-25 14:32] comradekingu opened #16373 "Remove DCO contributor agreement"
From #16116
The question is whether https://github.com/phpmyadmin/phpmyadmin/blob/master/DCO needed, or is it in fact redundant to what is both "common use", and more specifically, the actual terms of service for GitHub? I contend that it is not only the second, but also the latter.

Here is the part of said terms that explicitly says contributions are made under the project license

https://docs.

[2020-09-25 15:44] mauriciofauth commented on #16373
From commit 58f810628b110d02b1502f26d4c58f31b5e5c966:

[2020-09-25 16:50] williamdes commented on #15154
Closing for now, some PRs and commits improved the situation.

[2020-09-25 16:50] #15154 closed

[2020-09-25 16:53] williamdes commented on #15709
Seems to be a server configuration issue with header length.
https://bugs.php.net/bug.php?id=79267#1597136220

[2020-09-25 16:53] #15709 closed

[2020-09-26 07:50] comradekingu commented on #16373
2013 is nowhere near the start of the project, and the chosen license and platform already ensure contributions are GPLv2 (or later) for the main project henceforth and from at least https://github.com/phpmyadmin/phpmyadmin/commit/7ff8fedebd9a970d618258adc8e4106b5989ed64#diff-9879d6db96fd29134fc802214163b95a onward, which is 2001. Needless to say, most copylefted libre software isn't using a DCO.

[2020-09-26 14:36] stacy734 opened #16374 "How to remove "Press escape to cancel editing" popup on phpmyadmin?"
I often use phpmyadmin for editing SQL tables.  When clicking on a cell to edit it, I have recently started getting a popup with a checkbox for "NULL" and "Press escape to cancel editing".   Not all the tables in the same db have this behavior.  It is possible that I changed something in the structure of the table that is causing this.  I have attempted to fix it by changing the structure with reg

[2020-09-27 02:12] elaynelemos commented on #16332
Hey! I would like to work on it. May I?

[2020-09-27 02:29] ibennetch commented on #16332
Sure Elayne, that would be great! Let us know if you need any help.

[2020-09-27 08:09] williamdes commented on #16374
Hi
What version are you using?

[2020-09-27 12:27] stacy734 commented on #16374
Thanks for your reply.
Version information: 4.9.4

[2020-09-27 19:12] shucon opened #16375 "Support table save from other databases in Designer"
In continuation of this commit: https://github.com/phpmyadmin/phpmyadmin/commit/7fc7e5aa

Currently, if new tables are added from another DB they don't get saved on page save.
It would be great to support page saves from other DBs as well.

[2020-09-28 07:09] umairkhan-dev commented on #16350
@williamdes Any updates please.

[2020-09-28 07:13] williamdes commented on #16350
2FA support was added to the 5.x packaging work, see: https://github.com/phpmyadmin/phpmyadmin/issues/16362

Review still in progress..

[2020-09-28 08:34] Jay04653 commented on #16227
It was fixed on CodeMirror side, so now we can include this fix in the next PHPMyAdmin release.

[2020-09-28 08:36] williamdes commented on #16227
Could you mention the version that fixed this issue ?

[2020-09-28 08:45] Jay04653 commented on #16227
Seems it was fixed but not released yet :(

[2020-09-28 13:16] amsharma9 commented on #16188
Thanks @rajat315315. Sorry for the delayed reply. **Is this for MySQL and not Phpmyadmin specific?** I just checked, this is deprecated in MySQL 5.7.20 and removed in 8.0.3. We are on MySQL 5.7.23 and planning to move to MySQL 8 in next week or two. Do you think it will work?

[2020-09-28 13:21] williamdes commented on #16188
Let us know if the performances did increase with MySQL 8, I hope so :)

NB: I did not have some time to write benchmarks for you but I still did not forget to do it someday

[2020-09-30 00:39] nina-py commented on #16227
@Jay04653 , @williamdes , I submitted a pull request (with a one-character change! :)) which was merged a couple of days ago. Looking at the releases history ( https://github.com/codemirror/CodeMirror/releases ), it seems that there's a new minor release on the 20th of each month, so we will have our fix on the 20th of October at the earliest.

[2020-09-30 02:45] #15164 closed

[2020-09-30 12:59] williamdes commented on #16227
Very cool !
Links: https://github.com/codemirror/CodeMirror/commit/58c553470fe6d65d494d4dbaf471f6ec97f9ab9d
https://github.com/codemirror/CodeMirror/pull/6429

[2020-09-30 13:01] williamdes commented on #14555
Hi @nina-py
Since you already contributed to CodeMirror would you like to fix this issue ?

[2020-09-30 22:52] nina-py commented on #14555
Hi @williamdes, I'll give it a go!

[2020-10-01 07:02] williamdes opened #16377 "Uncaught ReferenceError: Stickyfill is not defined"
### Describe the bug

JS error `Uncaught ReferenceError: Stickyfill is not defined`

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/QA_5_0/tbl_change.php?db=sakila&table=actor (do F5/refresh)

Only on page refresh

### Expected behavior

No error.

### Screenshots

![image](https://user-images.githubusercontent.com/7784660/94777952-9f899780-03c4-11eb-9fdd-4

[2020-10-01 07:04] williamdes commented on #16377
Hi @petrduda

Do you want to try to fix this one ?

[2020-10-01 11:45] petrduda commented on #16377
Hello @williamdes , I will have a look at this tonight.

[2020-10-01 18:33] arcanisgk opened #16378 "phpmyadmin is no longer letting me set auto_increment value and VIEW"
### Describe the bug

phpmyadmin does not allow updating auto_increment, visually it says to have executed correctly.

### To Reproduce

i have this initial structure Like this:

[code]

take care and check that AUTO_INCREMENT=12345 have set the value to 12345 for this example.

**1. Then go to phpmyadmin to the operation tab to change the auto_increment;
you would see this:**

![image](https://us

[2020-10-01 19:46] petrduda commented on #16377
I noticed that the same error could be reproduced in a few other scripts, so I also added them in the fix.

[2020-10-01 20:14] williamdes commented on #16377
Thank you so much!

[2020-10-01 21:16] comradekingu commented on #16373
https://sfconservancy.org/news/2020/oct/01/new-copyleft-strategy-launched-with-ARDC-grant/
Some movement in the right direction
https://hosted.weblate.org/projects/reproducible-builds/#information and https://hosted.weblate.org/projects/fsfe/reuse-website/ new today too.

[2020-10-02 13:07] talotabi040 opened #16380 "Nrs"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server configuration

- Operat

[2020-10-02 13:08] talotabi040 opened #16381 "NRS"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2020-10-02 13:08] #16381 closed

[2020-10-02 13:08] talotabi040 commented on #16381
NRS

[2020-10-02 13:13] williamdes commented on #16380
Duplicate of #16381

[2020-10-02 13:37] williamdes opened #16382 "APC vanished"
See: https://travis-ci.org/github/phpmyadmin/phpmyadmin/jobs/732245185#L496
See: https://pecl.php.net/package/APC

See: https://www.php.net/manual/en/book.apcu.php#125057

Should we remove APC from 5.0.x series ?

[2020-10-02 13:58] #16380 closed

[2020-10-02 16:26] ibennetch commented on #16382
So APC hasn't been usable in PHP since 5.5? In that case, we can definitely remove APC support.

Should we migrate to APCu?

[2020-10-02 17:31] shucon commented on #16375
Fixed in https://github.com/phpmyadmin/phpmyadmin/pull/16321

[2020-10-02 17:31] #16375 closed

[2020-10-03 11:55] ankitzoman commented on #16378
I could not reproduce this bug. Can we decrease the Auto Increments value? I am unable to do so. When I try to increase its value the operation takes effect, but when I try to decrease it, although it shows the message "query executed successfully", it is not taking effect.

[2020-10-03 13:57] arcanisgk commented on #16378
It is assumed that if there is no register between the key 5 ~ 12345 it must be possible to decrease the value of the auto_increment; As Mysql executes in the terminal; in my case if I do it with phpmyadmin in the operations tab, internally if I execute it but for some reason it has no effect visually, the value remains as a ghost. I will be sending a video.

[2020-10-03 14:30] arcanisgk commented on #16378
I even tried to solve it in terminal but no ... phpmyadmin persists wrong value.

Check this Video Related:

https://drive.google.com/file/d/15nHo5loVVlDle7oUzjb5izQ3E_dlMoLd/view?usp=sharing

[2020-10-03 14:45] arcanisgk commented on #16378
I have added the content of the phpmyadmin and Mysql Server configuration files to the original post.

[2020-10-03 22:29] #16377 closed

[2020-10-03 22:48] #13557 closed

[2020-10-05 09:19] shucon commented on #16143
Starting to work on this.

[2020-10-05 09:23] williamdes commented on #16358
Thank you for the report, I assume this also affects 5.0 versions ?

[2020-10-05 18:20] teo1978 commented on #16358
This affects version 4.9.5 (which I use in real life and is the one where I found the bug), _and_ the version that was used at demo.phpmyadmin.net at the time of the report (which I tested when reporting), which I guess must have been >= 5.0 if not 5.1

[2020-10-05 18:49] arcanisgk commented on #16378
I've been digging a bit deeper on the subject and it seems that everything points to a mysql server problem and the "INFORMATION_SCHEMA".

[code]

**I have used the Mysql WorkBench, to execute the following query:**

[code]

**and output: no matter how many times you run the update of auto_increment to the value: 5 **

[code]

![image](https://user-images.githubusercontent.com/1207306/95118958-cde

[2020-10-05 19:07] arcanisgk commented on #16378
the error is related to the mysql Statistics implementation:

Some way to solve i found this:

https://stackoverflow.com/a/57383942/13810463

https://stackoverflow.com/a/64214609/13810463

Running this:

[code]

[2020-10-05 19:21] gratuxri commented on #15684
Just a workaround to download phpmyadmin from debian cdn: http://cdn-fastly.deb.debian.org/debian/pool/main/p/phpmyadmin/phpmyadmin_4.9.5+dfsg1.orig.tar.xz
or just git clone https://salsa.debian.org/phpmyadmin-team/phpmyadmin.git

[2020-10-05 19:34] shucon commented on #16143
I've looked into the code and I think nothing's wrong from PMA's side. It might be a bug in MySQL because the rows are being repeated even while using MySQL terminal.
Just to be sure, is the query supposed to be like this?
`SELECT * FROM properties ORDER BY prConnector ASC LIMIT 0, 50` - for page 1
`SELECT * FROM properties ORDER BY prConnector ASC LIMIT 50, 50` - for page 2
and so on.

[2020-10-05 19:58] petrduda commented on #16245
The same incorrect behavior can also be observed when two columns are selected correctly (with or without additional search criteria) - a result chart is displayed, but the previously entered settings in the search criteria section disappear.

[2020-10-05 21:03] williamdes commented on #15684
This is very clever!
I would add that we have a upstream clean branch that can be used https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/tree/upstream

Or the temporary upstream-5.x branch

[2020-10-05 21:09] williamdes commented on #16378
Thank you so much for the final explanation!
By the way you can disable information schema usage with https://docs.phpmyadmin.net/en/latest/config.html?highlight=DisableIS#cfg_Servers_DisableIS

`$cfg['Servers'][$i]['DisableIS']`

[2020-10-05 21:26] arcanisgk commented on #16378
**_This is an error related to mysql 8.0 and I don't see that they give it much importance; I think this $cfg['Servers'][$ i]['DisableIS'] should be by default in the phpmyadmin configuration._**

[2020-10-05 23:56] nina-py commented on #14555
I can't reproduce it on a standalone CodeMirror editor. This is a pretty elusive error - I can only reproduce this bug in Chrome, not Firefox (on Linux), and only intermittently. There must be something, somewhere though - this only happens when the editor gets torn down on form submission. I'll dig deeper when I have time.

[2020-10-06 06:13] stillwondering opened #16385 "Cannot insert a list of integers for IN(...) operator on integer fields"
### Describe the bug

When trying to use the IN(...) operator to search for records with the given IDs, it's impossible to insert a list of integers as the input validation fails with the error message `Please enter a valid number`.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Search' tab on some table
2. Select 'IN(...)' operator for some integer column (for example the ID column

[2020-10-06 06:45] williamdes commented on #16385
Hi
This is a duplicate of #16041
It will be fixed in 5.0.3 :)

[2020-10-06 06:45] williamdes commented on #16385
Duplicate of #16041

[2020-10-06 06:45] #16385 closed

[2020-10-06 07:27] #16365 closed

[2020-10-06 07:29] williamdes commented on #16143
I would say yes, it seems fine. Maybe some obscure caching option somewhere.

[2020-10-06 08:19] shucon commented on #16032
Starting to work on this issue.

[2020-10-06 08:58] #14795 closed

[2020-10-06 08:58] #16264 closed

[2020-10-06 16:03] NKarasek commented on #16143
I think I have deduced the problem.  It appears that caching is not involved as I disabled all caching options, retested, and saw the same "error".  Looking at the two queries shown above, the ONLY column being sorted is prConnector, which allows rows that are in each group to appear in whatever order mysql finds them.  If the second query using LIMIT 50, 50, does a **full retrieval** and then sim

[2020-10-06 17:18] rajat315315 commented on #16053
I cannot reproduce this issue.

[2020-10-06 17:33] #16143 closed

[2020-10-07 10:51] shucon commented on #14959
Should this issue be closed?

[2020-10-07 13:36] #14959 closed

[2020-10-08 08:02] shucon commented on #16081
Is there any error popping up as soon as you relogin? It's throwing an error and logging out as soon as I relogin (briefly showing the same server name in the background).

[2020-10-08 09:25] shucon commented on #16081
It looks like this for me:
![Screenshot from 2020-10-08 14-54-43](https://user-images.githubusercontent.com/22860775/95440253-5a420880-0976-11eb-813a-c9ed431b3797.png)

[2020-10-08 17:10] shucon commented on #16081
I was unable to pinpoint the issue, but here's what I found.
https://github.com/phpmyadmin/phpmyadmin/blob/878d27c069541850e1d94a927d884bc00308ebf0/libraries/classes/Plugins/Auth/AuthenticationCookie.php#L520-L541
If we relogin after session timeout this could cause problems.

Also, `$value == false` when we relogin using different server. So there might be a cookie issue.
https://github.com/phpmy

[2020-10-08 18:02] shucon commented on #16057
Is it done?

[2020-10-08 18:07] williamdes commented on #16057
Waiting for https://github.com/phpmyadmin/sql-parser/milestone/10 release

[2020-10-08 18:12] shucon commented on #16326
Starting to work on this.

[2020-10-08 18:32] ibennetch commented on #16057
Which I'm working on today!

[2020-10-08 19:18] shucon commented on #16326
Seems like the default way to return geometry is swapped and thus needs to be specifically mentioned.
See: https://social.msdn.microsoft.com/Forums/sqlserver/en-US/41250c42-25e6-4de7-953e-a6c41ada383f/xy-coords-reversed-in-wkt-amp-wkb-methods-in-nov-ctp?forum=sqlspatial

[2020-10-09 09:06] shucon commented on #16188
Hey @williamdes , I'm just thinking some solutions but would using Local storage be helpful here? We'll have to manage deleted and newly added tables and local storage limitations, but it would make things faster after the first query.
Or we could start by preventing querying of all table names of a database at once.(better IMO)

[2020-10-09 09:10] williamdes commented on #16188
Hey, I am not sure we should rely on browser features to fix such performance issues.
Finding the root cause would be a better idea.

[2020-10-09 09:19] shucon commented on #16188
Okay, let me know if you want me to work on it.

[2020-10-09 10:17] rajat315315 commented on #13172
Session management is a tricky problem,
when a session times out, it generates a new token & sends it with login form to client.
so, if we have multiple tabs timing out, one after the other, each one will refresh token at server and only the latest tab will have latest token.
what happens is, if we try to log in with stale token, it re-generates the loginform with the latest token and on pressing

[2020-10-09 10:52] rajat315315 commented on #13077
Fixed.

[2020-10-09 10:56] rajat315315 commented on #13004
Can be closed I guess.
@williamdes ?

[2020-10-09 10:57] rajat315315 commented on #13050
@nijel We can atleast mention to the user that `Press Enter to search all Tables.`

[2020-10-09 14:58] mvorisek opened #16393 "Add "Table count", "Rows count" and "Size" columns to "DataBases" page"
This is a feature request to add 3 extra columns with aggregated info, very helpful to locate database quickly based on it's size.

[2020-10-09 15:01] mauriciofauth opened #16394 "Type Error when visiting the Table Tracking page"
### Describe the bug

Type Error when visiting the Table Tracking page.

### To Reproduce

Steps to reproduce the behavior:
1. Try to go to a table tracking page
2. See error

### Server configuration

- Database version: MariaDB 10.5
- PHP version: 7.4
- phpMyAdmin version: 5.1

### Additional context

[code]

[2020-10-09 18:30] #16394 closed

[2020-10-09 18:58] shucon commented on #16051
I'm not able to reproduce the issue on master.

[2020-10-10 07:06] #16057 closed

[2020-10-10 12:19] ibennetch opened #16396 "Two factor authentication is broken"
With the release of 4.9.6 and 5.0.3, two factor authentication is not available.

The error message is

This was first reported to me by Evert Jan van Ramselaar, who adds that "The file bundles for 5.0.3 do not contain the 'vendor/pragmarx' dependencies, where the file bundles for 5.0.2 did contain these."

Note that two factor authentication still seems to work correctly on master.

[2020-10-10 12:55] fluff opened #16397 "phpMyAdmin 4.9.6 + PHP 7.0: PHP Parse error: syntax error, unexpected '?', expecting variable (T_VARIABLE) in vendor/twig/twig/src/Node/Expression/GetAttrExpression.php"
### Describe the bug

phpMyAdmin 4.9.6 running on Debian 9's PHP 7.0.33-0+deb9u10 packages white-screens and logs the following in the apache error log:

[code]

### To Reproduce

1. Install phpMyAdmin 4.9.6 on Debian9/PHP7.0
2. Load the front page

### Expected behavior

phpMyAdmin should load up and display a login screen, and no errors logged to the apache log

### Server configuration

- Opera

[2020-10-10 12:58] ibennetch commented on #16397
Thank you for the report.

Yes, this is supposed to work with PHP 7.0; there seems to have been some incompatibility introduced with one of the library dependencies we use for handling page templates...we'll take a look.

[2020-10-10 13:00] fluff commented on #16397
Thanks. Looks like a too modern version of twig was included.

Perhaps the composer.json file in the 4.9.x branch should contain something like this to prevent installing dependencies that have a too high minimum php version?
[code]

[2020-10-10 18:49] williamdes commented on #16397
Without looking I would suggest that the PHP version building the 4.9 bundle was not using the lower supported php version.

[2020-10-11 12:20] Klap-in opened #16398 "bind variables does not recognize strings"
### Describe the bug

In my SQL query I used :placeholders for some debugging of existing code via the Phpmyadmin interface. The placeholder are replaced different in the phpmyadmin interface than via `bindparam()` or `execute($replacements)` functions would happen in my understanding of bind variables.

http://localhost/phpmyadmin/doc/html/faq.html#i-see-bind-parameters-checkbox-in-the-sql-page-h

[2020-10-11 13:34] IZSkiSurfer opened #16399 "4.9.6 breaks PHP backwards compatibility"
### Describe the bug

4.9.6 breaks the backwards compatiblity for older php versions.

### To Reproduce

Steps to reproduce the behavior:
1. install 4.9.6 on e.g. php 5.6
2. navigate to phpMyAdmin instance
3. See error

### Expected behavior

Running as normal ;)

### Resulting behavior

`Parse error: syntax error, unexpected ':', expecting '{' in [...]/phpMyAdmin/htdocs/vendor/symfony/polyfill-ph

[2020-10-11 14:27] ibennetch commented on #16399
Thank you for the report. This seems to be the same cause as #16397, even though the error is different. We definitely want to get this fixed and publish a quick fix.

[2020-10-11 14:38] IZSkiSurfer commented on #16399
The error message is different because this ticket targets 5.6 <= php < 7.0 while #16397 targets 7.0 <= php < ? ;)

[2020-10-11 14:51] ibennetch commented on #16396
I think I've found the problem here; commit 24c67f46cbd [introduces](https://github.com/phpmyadmin/phpmyadmin/blob/master/scripts/create-release.sh#L307) a `composer update --no-dev --optimize-autoloader` command that removes several packages, including the pragmarx library. This line appears again at https://github.com/phpmyadmin/phpmyadmin/blob/master/scripts/create-release.sh#L334 when we are r

[2020-10-11 15:02] ibennetch opened #16400 "create-release.sh: console not found"
When running the `create-release.sh` script on QA_4_9 and QA_5_0, the script fails because ./scripts/console doesn't exist in the worktree for these two branches.

`./scripts/console cache:warmup --routing`

There are a couple of solutions, depending on the desired outcome; this block could simply move down below the `cd ..` that is about 30 lines below, or we could test for the existence of the c

[2020-10-12 07:26] williamdes commented on #16301
I believe, given the tags I can see on https://github.com/symfony/symfony/commit/8e34978e4e2c4bf7dac97e44e904368c4cfb54f8 that 5.0.3 release does have this change included.

[2020-10-12 13:01] WybeTuring opened #16402 "phpmyadmin showing a blank page on Ubuntu 20.04"
Just set up phpmyadmin on ubuntu 20.04, but localhost/phpmyadmin shows me only a blank page. I went into my phpmyadmnin folder and tried to run php index.php. The errors were as follows;

phpmyadmin: Failed to load /var/lib/phpmyadmin/blowfish_secret.inc.php Check group www-data has read access and open_basedir restrictions.
phpmyadmin: Failed to load /etc/phpmyadmin/config-db.php Check group www-

[2020-10-12 13:32] williamdes commented on #16402
Did you use one of the following methods ?:
- Debian buster-backports (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993)
- Ubuntu PPA on Debian (https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)
- Ubuntu PPA (https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-552211446)

[2020-10-12 21:06] #13004 closed

[2020-10-12 21:11] williamdes commented on #13077
Related to #15715

[2020-10-13 03:33] zyli-tp opened #16404 "password generation not working after failing to create new user"
### Describe the bug

The "generate password" button on the /server_privileges.php?adduser=1 encountered js error after failing to create new user.
In js/functions.js, the undefined argument (this.form) was passed to the function displayPasswordGenerateButton().

### To Reproduce

Steps to reproduce the behavior:
1. Enable "strict password validation mode" for MariaDB 10
2. Go to phpmyadmin, click

[2020-10-13 04:48] WybeTuring commented on #16402
Thanks, @williamdes. I used the third. I solved the problem, though. Apparently my Apache was working with php7.0 which was not supported by the phpmyadmin version I was installing. I disabled php7.0, enabled php7.4 and everything worked fine.

[2020-10-13 06:52] williamdes commented on #16402
This is maybe due to #16399, this issue is temporarily but you will not regret upgrading anyway :)

[2020-10-13 07:07] #16402 closed

[2020-10-13 08:44] shucon opened #16405 "Integrating Unit Testing tool for PMA's Javascript code"
We need to add a Unit Testing tool for our Javascript code to avoid bugs in the long run.

I think [Jest](https://github.com/facebook/jest) would be a good tool for us.

cc @mauriciofauth @williamdes

[2020-10-13 08:47] williamdes commented on #16405
And what are the pros and cons vs using mocha ?

[2020-10-13 08:52] shucon commented on #16405
I might be wrong, but I think Jest would be better for Vanilla JS as in our case. I'm still looking into both of them.

Please feel free to weigh in.

[2020-10-13 10:36] mauriciofauth commented on #16405
phpMyAdmin uses a lot of jQuery as well.

[2020-10-13 12:09] williamdes commented on #16362
Hi @numericOverflow
I build a working phpMyAdmin with BaconQrCode, but in fact it will not work until I make some changes here to make BaconQrCode v2 compatible.

For now https://github.com/phpmyadmin/phpmyadmin/blob/6590e8fbda633a8b8e0a2f0972c5e610db619378/composer.json#L64 is required for 4.9

[2020-10-13 12:16] #16245 closed

[2020-10-13 12:16] #16326 closed

[2020-10-13 14:24] williamdes commented on #16404
Reproduced on (`root`, no password)
- [QA_4_9](https://demo.phpmyadmin.net/QA_4_9/server_privileges.php?viewing_mode=server&server=1)
- [QA_5_0](https://demo.phpmyadmin.net/QA_5_0/server_privileges.php?adduser=1&server=1)

I used before creating a user:
[code]

[2020-10-13 14:38] williamdes commented on #16404
Hi, thank you for the report !
The form seems to not exist when the user is not created after a form submit.

[2020-10-13 14:55] williamdes opened #16407 "Lift the restriction on pragmarx/google2fa"
Ref: https://github.com/phpmyadmin/phpmyadmin/issues/14074

Re-licenced to MIT https://github.com/antonioribeiro/google2fa/issues/100

MIT since 3.0.1 https://github.com/antonioribeiro/google2fa/blob/8.x/CHANGELOG.md#301---2018-03-15

https://github.com/phpmyadmin/phpmyadmin/blob/e6d84af4e944962f5787e00774281d1d4b377380/composer.json#L66

[2020-10-13 14:55] williamdes commented on #16407
cc @mauriciofauth @ibennetch
Do you agree ?

[2020-10-13 15:14] mauriciofauth commented on #16407
I don't remember why I added `"pragmarx/google2fa": ">=6.1"` as a conflict.

[2020-10-13 16:48] shucon commented on #16405
I looked at a couple of sites, but most of them have the same information - https://www.testim.io/blog/best-unit-testing-framework-for-javascript/

1. Initial setup of Mocha is more complex.
2. Jest might be more bug prone according to a website. (Source needed)
3. Jest provides parallel testing.
4. Jest has a snapshot capturing feature.
5. Mocha is capable of providing much more flexibility.

[2020-10-13 18:20] kopollo commented on #12177
https://localhosts.mobi/phpmyadmin  here you can find solutions about phpmayadmin installation and various problems.

[2020-10-13 18:26] mauriciofauth commented on #16405
Could you open a pull request with some tests using Jest?

[2020-10-13 18:42] mauriciofauth commented on #16032
Fixed by https://github.com/phpmyadmin/phpmyadmin/pull/16389.

[2020-10-13 18:42] #16032 closed

[2020-10-13 19:38] iraqiboy90 commented on #16399
How can this line 23 be edited to get it fixed as a temp solution while we wait for 4.9.7?

[2020-10-13 19:47] williamdes commented on #16399
I think you will need to wait for 4.9.7, but It should arrive shortly

[2020-10-13 20:50] IZSkiSurfer commented on #16399
You can fix line 23 by removing the : and the following return type but there are several dozen of lines following ;) and after fixing them you walk into namespace problems. So no chance. Just downgrade and wait for the geeks.

[2020-10-13 21:49] mvorisek opened #16408 "Display "Packed" for indexes fro MyISAM tables only"
diplaying "Packed" for tables like InnoDB is very confusion, this option does not exist for it

[2020-10-14 09:14] Tedymwenda commented on #14887
same issue @AlamSirji

[2020-10-14 10:01] williamdes commented on #16309
Hi @mihaimiculescu
It seems like your issue was kind of forgotten, I added to to a project board so It can be reproduced.

[2020-10-14 10:07] williamdes commented on #16400
https://github.com/phpmyadmin/phpmyadmin/commit/24c67f46cbd720c6595d56f1e31e3b18de4e3e8e

[2020-10-14 10:43] #16400 closed

[2020-10-14 12:27] williamdes commented on #16300
https://github.com/phpmyadmin/phpmyadmin/commit/a2cce871ce1fec61ca8ff03c72774397210b5824

[2020-10-14 12:57] williamdes commented on #16300
![image](https://user-images.githubusercontent.com/7784660/95991807-81448280-0e2d-11eb-970c-a1c52bd3f743.png)

@zenata1 does it seem okay ?

[2020-10-14 13:00] zenata1 commented on #16300
Hi admin,
Thank you for adding Tamazight
Hakim

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: William Desportes <notifications@github.com>
Sent: Wednesday, October 14, 2020 2:58:06 PM
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: Oubouali Hakim <hakim.oubouali@etu.u-pec.fr>; Mention <mention@noreply.github.com>
Subject: Re: [phpmyadmin/phpmy

[2020-10-15 07:47] novacek78 opened #16410 "Console slowing down PhpMyAdmin"
I found that Console "Pane" or "Window" at the bottom of the screen is slowing down my PhpMyAdmin massively.
After I remove it, PMA work as a charm.
I use newest Firefox.

I remove it like this:
- right-click on console pane
- choose "explore element"
- find HTML element DIV with ID = pma_console_container
- right click - remove element

Load time for table overview in my DB is 13 seconds with con

[2020-10-15 08:08] williamdes commented on #16410
Related to #16005 and #16188

Here are console settings but I am not sure it fits your needs: https://docs.phpmyadmin.net/en/latest/config.html#console-settings

What version of phpMyAdmin are you using ?

[2020-10-15 08:30] tssajo opened #16411 "phpMyAdmin 4.9.6 is NOT compatible with PHP 5.6"
phpMyAdmin 4.9.6 is NOT compatible with PHP 5.6

The below statement (copied from the official phpMyAdmin web site) is not true:

phpMyAdmin 4.9.6
Released 2020-10-10, see release notes for details.

**Older version compatible with PHP 5.5 to 7.4 and MySQL 5.5 and newer. Currently supported for security fixes only.**

Note: phpMyAdmin 4.9.5 is compatible with PHP 5.6

I assume that it won't be wor

[2020-10-15 08:49] williamdes commented on #16411
Duplicate of #16399

[2020-10-15 08:50] williamdes commented on #16411
Hi,
Thank you for the report, a new release should arrive shortly to fix this issue.

[2020-10-15 16:38] shucon opened #16412 "Error Code: 404 /config/get route not found"
### Describe the bug
The current master branch is breaking and showing 404 Error not found.

### To Reproduce
Login into the PMA server

### Expected behavior

Should work fine

A clear and concise description of what you expected to happen.

### Screenshots

![Screenshot from 2020-10-14 20-13-21](https://user-images.githubusercontent.com/22860775/96159728-a1aa3500-0f32-11eb-8737-a7fbf6a312f8.png)

[2020-10-15 16:48] mauriciofauth commented on #16412
Do you have `$cfg['environment']` set to `'development'`?

[2020-10-15 16:56] shucon commented on #16412
Hey, it solved the issue. Thanks! I didn't know I need to do that.

[2020-10-15 16:56] #16412 closed

[2020-10-15 17:03] mauriciofauth commented on #16412
`/config/get` is a new route. But the router was using the outdated cache file. Setting the environment configuration to development disable the router cache.

[2020-10-15 17:05] shucon commented on #16412
Ahh great. We should really have documentation about properly setting up the development server though :stuck_out_tongue:  .

[2020-10-15 18:28] #16300 closed

[2020-10-15 18:53] ibennetch commented on #16396
I am uploading new phpMyAdmin releases 4.9.7 and 5.0.4 which should fix this.

Thank you for your report.

[2020-10-15 18:53] #16396 closed

[2020-10-15 18:54] ibennetch commented on #16397
I am uploading new phpMyAdmin releases 4.9.7 and 5.0.4 which should fix this.

Thank you for your report.

[2020-10-15 18:54] #16397 closed

[2020-10-15 18:54] ibennetch commented on #16399
I am uploading new phpMyAdmin releases 4.9.7 and 5.0.4 which should fix this.

Thank you for your report.

[2020-10-15 18:54] #16399 closed

[2020-10-15 18:54] ibennetch commented on #16411
I am uploading new phpMyAdmin releases 4.9.7 and 5.0.4 which should fix this.

Thank you for your report.

[2020-10-15 18:54] #16411 closed

[2020-10-16 02:44] ibennetch commented on #16407
What is your hope here, to replace the pragmarx/google2fa library with something else?

[2020-10-16 02:52] ibennetch commented on #16407
I had forgotten about this but I believe you are correct...I can't remember what the bug was exactly, but that version requirement sounds familiar for fixing something.

[2020-10-16 03:39] ibennetch commented on #15684
Basically since our CDN doesn't support IPv6 (and there are many sites out there that don't), I don't particularly see what should be done about this. I've been waiting for the worldwide move to IPv6 for quite a while now and I just don't see much adoption or need for it with our infrastructure at the moment.

I suppose we could create the AAAA records for www.phpmyadmin.net to point directly at o

[2020-10-16 05:14] williamdes commented on #16407
I just want to clarify the restrictions because I have some Debian packaging to do and I can't afford to loose months of work for one line ^^

Maybe insure we can swap in and out 2FA providers very easily :)

[2020-10-16 07:57] arnisjuraga commented on #14123
I will test it in a moment

[2020-10-16 09:03] novacek78 commented on #16410
I upgraded to 5.0.3 just because of this issue but it is still the same.
The settings you sent me are just to set-up the console. But I want to disable it completely.

Here you can see the difference with and without Console in any operation in PMA:
http://recordit.co/nsTs8GxQVM

[2020-10-16 09:13] williamdes commented on #16410
Thank you for the confirmation !
Could you let us know what specs your computer has ?
Is the network slow or the computer ?
Maybe the server ?

Any information could help us set up a reproduction of your environment.

[2020-10-16 09:17] novacek78 commented on #16410
The notebook is quite new https://www.lenovo.com/sg/en/laptops/thinkpad/thinkbook-series/Lenovo-ThinkBook-15-IML/p/20RW0030SB - but I have 24 GB RAM and 1 TB SSD disk.

Network..... I connect to remote MySQL througn OpenVPN but anyway.... isn't this a front-end issue (UI) ?

[2020-10-16 09:23] williamdes commented on #16410
I have a ThinkPad P73, that is as good as yours to host the server and client, never had this issue :thinking:

Maybe the network, could you have a look in the debugger and let me know how much time do the requests, I will use the chrome slow down network option then ;)

Seems that some parts of the JS code _could_ suffer from not using async requests.

[2020-10-16 09:29] novacek78 commented on #16410
There is no network activity in the video I sent you.
Now I doube checked it. No requests at all.

[2020-10-16 09:33] williamdes commented on #16410
Okay, quite strange then. And does it do the same on Google Chrome for example ?

[2020-10-16 09:37] novacek78 commented on #16410
Hmmm the same in Edge (new core).
I don't have Chrome here. Will try on different PC...

[2020-10-16 09:41] williamdes commented on #16410
Thanks a lot, I think I have enough data to find out now

[2020-10-16 11:01] novacek78 commented on #16410
You have any clue?

[2020-10-16 13:04] williamdes commented on #16410
Nope, I need to have a look after work or in the week end :)

[2020-10-16 13:26] miyurusankalpa commented on #15684
Most people will not notice it due to happy eyeballs. I noticed it only because all my servers are IPv6 only.

The CDN not supporting IPv6 is clearly not your problem and it can be enabled once they support it.

However phpmyadmin.net connection refusing issue is still not solved. This causes browser to wait sometime to fallback to v4 address when the user is dual stacked.

[code]

[2020-10-16 15:45] Eutychus69 commented on #15634
To me it seems not to work ... even in phpMyAdmin 5.0.4.

[2020-10-16 19:15] williamdes commented on #15634
Could you open a new issue so we can discuss and find out what is wrong?

[2020-10-16 21:04] williamdes commented on #15684
I see one quick hack, add CloudFlare in front of the website ^^

[2020-10-17 04:10] ibennetch opened #16413 "create-release.sh"
Commit 24c67f46cbd [introduces](https://github.com/phpmyadmin/phpmyadmin/blob/master/scripts/create-release.sh#L307) several lines, `composer update` and `composer update --no-dev --optimize-autoloader` that remove several packages, including the pragmarx library. This line [appears again](https://github.com/phpmyadmin/phpmyadmin/blob/master/scripts/create-release.sh#L334) when we are running the

[2020-10-17 04:10] ibennetch commented on #16413
@williamdes You added the line `composer update --no-dev --optimize-autoloader` at https://github.com/phpmyadmin/phpmyadmin/blame/84a9991a123a2be2941459eaa4b56171e437b2ad/scripts/create-release.sh#L311; but we've already run this, for instance at https://github.com/phpmyadmin/phpmyadmin/blame/84a9991a123a2be2941459eaa4b56171e437b2ad/scripts/create-release.sh#L259. Can we just skip the composer com

[2020-10-17 09:35] williamdes commented on #16413
Could we clarify how much version we need to be able to release with the script?
4.9+ ?
3.x+ ?

I intend to refractor the script into functions and make some security/sanity checks

In https://github.com/phpmyadmin/phpmyadmin/commit/d468a476ad5249e5d600947aeaf2fb6204b1da5c the composer commands where needed when I tested the script because dev modules where not available

[2020-10-17 10:22] OlafvdSpek opened #16414 "Daily snapshot, generated 2020-09-03"
Oops ;)

[2020-10-17 10:58] ibennetch commented on #16414
This is related to #16413

[2020-10-17 20:02] ibennetch commented on #15684
I've looked in to this quite a bit more and don't think I can split the DNS record for `www.phpmyadmin.net` and keep IPv4 on the CDN while moving the IPv6 address to the web server directly. I may be mistaken and will keep looking at that.

I have redirected `phpmyadmin.net` on IPv6 and that address should be working correctly now.

Thanks.

[2020-10-17 20:04] williamdes commented on #15684
I double checked, using a CNAME you are right it is not possible.

[2020-10-17 20:05] ibennetch commented on #15684
Thanks William!

[2020-10-18 07:03] novacek78 commented on #16410
Here I send you performance log.
I did the same as in video above - I decremented value in "rows number" input in "insert new record" window.
There are maybe 2 very long items, you can look at it : https://we.tl/t-hfjAyWWCNY
Thanks!

[2020-10-19 05:54] umairkhan-dev opened #16416 "Recent update in PPA caused uninstallation of PhpMyAdmin in Ubuntu 18.04"
### Describe the bug

It seems to be some weird issue. I had added PhpMyAdmin PPA in Ubuntu 18.04 (HyperV vm). Today I updated my packages and `apt` uninstalled `phpmyadmin 4:4.9.5+dfsg1-2`. And now I can't seem to install it.

[code]
Then I checked `dpkg` and it said that `phpmyadmin` is still _here_. But I was unable to access it using apache.
[code]
Then I tried to purge and reinstall it.
[code

[2020-10-19 06:20] umairkhan-dev commented on #16416
On fresh install of _WSL_ with _Ubuntu 18.04_
[code]
[code]

[2020-10-19 06:54] williamdes commented on #16416
Hi,

I am aware of that and I am blocked by Ubuntu ppa currently when I upload. I will fix that very soon :)

[2020-10-19 08:32] williamdes commented on #16416
:tada:  https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa/+packages

For the record:
[code]

You need to use `-sa` to add the source to the upload and `-S` to fix `Source/binary (i.e. mixed) uploads are not allowed.`

`gbp buildpackage -sa -S --git-ignore-branch`

ETA: ~30 min if the build does not fail.

5.x still in progress at https://salsa.debian.org/phpmyadmin-team/phpmyadmin/-/merge_requ

[2020-10-19 08:56] shucon commented on #16314
Starting to work on this.

[2020-10-19 09:04] umairkhan-dev commented on #16416
The [build](https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa/+sourcepub/11672746/+listing-archive-extra) is complete and I am able to update to _4:4.9.7+dfsg1-1bionic1_.
Thanks a lot.

[2020-10-19 09:04] #16416 closed

[2020-10-19 10:28] thelounge-zz commented on #16396
but *why* do you starting with 5.0.4 you need now "vendor/pragmarx" to be present or you geta error about missing include in the src directory in case you never needed and wanted 2FA

smart people remove everything which they don't use especially when software becomes more and more bloatet all the time

one can't attack components which are phyiscally not present in case of a zero-day in teh futur

[2020-10-19 11:16] rajat315315 commented on #15711
Fixed.

[2020-10-19 11:40] ibennetch commented on #16396
@thelounge-zz I believe I have reproduced this successfully, but want to make sure that I understand the steps you're taking.

1. Download the compressed file from www.phpmyadmin.net/downloads
2. Uncompress it, create your own config.inc.php, and remove the vendor/pragmarx directory

With 5.0.2, when you run phpMyAdmin it would be fine, but starting with 5.0.4, you now get several notices at the b

[2020-10-19 11:55] williamdes commented on #16410
Hi !
Are you able to reproduce this issue on https://demo.phpmyadmin.net/QA_5_0/tbl_change.php?db=sakila&table=actor ?
(`root`, no password)

I could not reproduce this issue but could load the profile you sent me.

Does private browsing mode do the same effect ?

[2020-10-19 12:09] thelounge-zz commented on #16396
well, i remember times where even fatures like export formats wheren't displayed when the files where not present
the messages shouldn't popup at all for *optional* stuff

[2020-10-19 12:18] williamdes commented on #16396
This is quite strange because on Debian packaging I do not have any 2FA, U2F stuff. See #16362. And no error pops out :thinking:

[2020-10-19 12:48] thelounge-zz commented on #16396
well, it would be nice to have a "basics" tarball without as much as possible 3rd party stuff not present at all instead the "rm -rf" orgy in phpMyAdmin.spec to begin with

[2020-10-19 13:34] williamdes opened #16418 "Have a small and empty version of phpMyAdmin"
_Originally posted by @thelounge-zz in https://github.com/phpmyadmin/phpmyadmin/issue_comments/712133312_

[2020-10-19 15:37] williamdes commented on #16418
Relates to https://bugzilla.redhat.com/show_bug.cgi?id=1751726#c14

[2020-10-19 15:40] williamdes commented on #16418
Relates to #16005

[2020-10-19 15:42] williamdes commented on #16396
I agree, posted in https://github.com/phpmyadmin/phpmyadmin/issues/16418

[2020-10-20 02:23] ibennetch commented on #16418
This is an interesting discussion idea; it wouldn't be too difficult to modify the release script to delete the folders mentioned in [FAQ 1.44](https://docs.phpmyadmin.net/en/latest/faq.html#how-can-i-reduce-the-installed-size-of-phpmyadmin-on-disk), but I wonder if the overhead is worth the effort. Is there much interest in such a download file?

[2020-10-20 02:33] ibennetch opened #16419 "Errors in 5.0.4 when removing pragmarx folder"
Migrated from https://github.com/phpmyadmin/phpmyadmin/issues/16396#issuecomment-712003652

In version 5.0.2, the manual removal of `vendor/pragmarx/*` would not cause an error. With 5.0.4, there are several warnings/errors displayed on the main page:

[code]

I don't see anything that's obviously changed from 5.0.2 to 5.0.4, but if we can it would be helpful to fix this.

To reproduce:

1. Downlo

[2020-10-20 02:35] ibennetch commented on #16396
@thelounge-zz Are there any other folders you remove that aren't listed in [FAQ 1.44](https://docs.phpmyadmin.net/en/latest/faq.html#how-can-i-reduce-the-installed-size-of-phpmyadmin-on-disk)? We can add more to the lists there if there are some other folders that don't break phpMyAdmin.

Also, I opened issue #16419 to directly address the pragmarx errors.

[2020-10-20 02:48] thelounge-zz commented on #16396
rm -f \
 %{buildroot}%{_datadir}/%{name}/*txt \
 %{buildroot}%{_datadir}/%{name}/CONTRIBUTING.md \
 %{buildroot}%{_datadir}/%{name}/CREDITS \
 %{buildroot}%{_datadir}/%{name}/DCO \
 %{buildroot}%{_datadir}/%{name}/[IRLT]* \
 %{buildroot}%{_datadir}/%{name}/build.xml \
 %{buildroot}%{_datadir}/%{name}/composer.json \
 %{buildroot}%{_datadir}/%{name}/composer.lock \
 %{buildroot}%{_datadir}/%{name}/

[2020-10-20 06:53] Draghmar opened #16420 "Single clicking on row starts editing even if GridEditing is set to double-click"
### Describe the bug

Even though I have set `GridEditing` to double-click, single clicking on any row will start edit it. This started to happen after updating to 5.0.3, previously it worked as indented. I checked both `config.inc.php` and settings in `Settings->Main Panel->Browsing mode` and there is double-click selected. There are no JS errors in browser's console.

### To Reproduce

Steps to

[2020-10-20 06:54] shucon commented on #16227
Related: https://github.com/phpmyadmin/phpmyadmin/issues/16314
Also a CodeMirror issue.

[2020-10-20 06:56] williamdes commented on #16420
Hi @Draghmar
Thank you for reporting this issue !
And very cool avatar ;)

[2020-10-20 08:02] shucon commented on #16215
Hey @ibennetch , if I get this correctly, we'll need to query `information_schema.VIEWS` to get all the `VIEWS` and then check each definition to see whether the table/db/column exists in `VIEW_DEFINITION`. The only concern here is wouldn't it take a long time if there a lot of views? Should we also display a warning saying `This operation could take a long time for large number of views`?

[2020-10-20 08:23] shucon commented on #16227
Ah, it's 20th October today as well.

[2020-10-20 08:26] qsad commented on #16353
I have exactly the same issue. What is very disappointing is that it's in my hoster's phpmyadmin and he doesn't let me to use remote mysql connection.

[2020-10-20 16:16] ibennetch commented on #16215
I believe that is the best method, yes.

And yes, depending how significant the delay is we should warn the user (I haven't tested how long this can take). I am thinking ￼￼ that can just be part of the dialogue where we ask the user. Something like

☑️￼￼ adjust view definitions to new table names (this can take some time when many views exist).

[2020-10-20 16:45] novacek78 commented on #16410
Hi. Sorry for delay.
So....
- yes your demo works super - no problems there
- and I don't know, what you have done to my PC, but now (after trying you demo?) everything works OK :)))
So..... problem solved! :)
Was it some bad old cookies or what?
Thanks !

[2020-10-20 16:54] novacek78 commented on #16410
Can this be related?
It stopped working now...
http://recordit.co/KeVNwBeUpw
(the LAST PAGE button)

[2020-10-20 19:25] shucon opened #16422 "Renaming Database with views throws an error"
### Describe the bug

Renaming Database with views throws an error.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a database with views.
2. Click on Operations
3. Rename the database
4. Click Go

### Expected behavior
The database should be renamed with views moved to the new database.

### Actual behavior
An error is thrown and only tables which are not view tables are moved.

###

[2020-10-20 20:13] williamdes commented on #16301
Confirmed, https://github.com/symfony/symfony/commit/8e34978e4e2c4bf7dac97e44e904368c4cfb54f8 was shipped into 5.0.3 as you can see on https://github.com/code-lts/phpmyadmin-releases/blame/upstream/version/source/5.0.3/vendor/symfony/dependency-injection/ContainerBuilder.php#L1144

[2020-10-20 20:13] #16301 closed

[2020-10-21 08:14] williamdes commented on #16422
Does this affect 5.0 ?

[2020-10-21 08:20] williamdes commented on #16410
Wow, can you try to reproduce this behavior on a demo server ?
This is so strange :thinking:

[2020-10-21 08:37] shucon commented on #16422
Yes it does.

[2020-10-21 09:03] williamdes commented on #16398
Hi,
Thank you for the report, someone should have a look sortly.

[2020-10-21 10:08] novacek78 commented on #16410
Well... now it works (I mean on my server). I have no idea what it was. Sorry to bother you.
Thank you for resolving my issue 👍

[2020-10-21 13:06] williamdes commented on #16418
For performance reasons I would agree, some people are very concerned by using slim versions.

[2020-10-21 14:31] x0rld opened #16423 "phpmyadmin debian 10"
is it normal i don't find phpmyadmin on debian 10 ?

[2020-10-21 14:44] ibennetch commented on #16423
Yes, unfortunately, phpMyAdmin was not included in Buster (but is available in buster-backports). It is also in Bullseye for the next major Debian release.

My suggestion is to either install the backports version or to download the compressed version from phpmyadmin.net/downloads and install it by hand.

[2020-10-21 14:59] williamdes commented on #16423
You can use one of the following methods to fix that:
- Debian buster-backports (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993)
- Ubuntu PPA on Debian (https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)
- Ubuntu PPA (https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-552211446)

[2020-10-21 15:00] williamdes commented on #16423
Duplicate of #15236

[2020-10-21 17:37] ibennetch commented on #16423
Ah, yes, using the Ubuntu PPA is a great solution as well. Despite the Ubuntu reference, it works great on Debian as well.

[2020-10-21 18:16] x0rld commented on #16423
thanks

[2020-10-21 18:16] #16423 closed

[2020-10-21 20:18] velkro opened #16424 "Error 'Please enter a valid number' when searching through a list of numerical values"
### Describe the bug

It is not possible to search for a numeric value in a comma-delimited list.

### To Reproduce

Steps to reproduce the behavior:

Search in a column of type INT
Operator IN(...)
Values 4379,24541,7772
Error : Please enter a valid number

### Expected behavior

in the previous versions, PMA selected the values present in the list

### Screenshots

![PMA-in](https://user-images.

[2020-10-21 20:50] williamdes commented on #16424
This is quite strange because it was fixed in 5.0.3 🤔

[2020-10-21 20:55] ibennetch commented on #16424
What's even more strange is that I can reproduce this in current QA_5_0 and with the 5.0.3 release.

[2020-10-21 20:55] williamdes commented on #16410
No worries, let me know if some new issues pop out.

[2020-10-21 20:55] #16410 closed

[2020-10-21 20:59] williamdes commented on #16424
Will we have another 5.0 release?

[2020-10-21 21:01] ibennetch commented on #16424
No, we'll move forward with 5.1 and close QA_5_0 in two weeks.

[2020-10-21 21:03] ibennetch commented on #16413
4.9.x and newer.

[2020-10-21 21:04] williamdes commented on #16424
Okay, then I will merge nothing more into QA_5_0.
Thank you for quick response.

[2020-10-21 21:05] williamdes commented on #16413
Cool, I will re-factor, improve and clean the script as soon as possible.

[2020-10-22 04:23] velkro commented on #16424
Thanks, I'm back to 5.0.3: it works :)

[2020-10-22 09:37] OlafvdSpek opened #16425 "Delete from $table"
Table operations tab has a `truncate $table` operation but not a `delete from $table` operation. Could it be added?
Truncate doesn't work on tables with foreign keys.

[2020-10-22 11:10] rajat315315 commented on #16420
Fixed.

[2020-10-22 11:24] OlafvdSpek commented on #16425
It'd also be nice to rename `Delete the table (DROP)` to 'Drop the table`.

[2020-10-22 12:22] smarek opened #16428 "Cannot read property 'AlwaysExpand' of null"
Additionally to reported https://reports.phpmyadmin.net/reports/view/67292

I've debugged, and request to load Console settings through Functions.configGet did not return any data, which subsequently failed the console.js code.

After I fiddled with console pane, and probably specifically it's settings, the error disappeared.

So this is not CORS issue, also not duplicate of #15175 which was cause

[2020-10-22 13:12] ibennetch commented on #16428
Thank you for the excellent debugging and report.

[2020-10-22 13:30] ibennetch opened #16429 "PHP 8 compatibility"
When using PHP 8.0.0rc1 provided by the Sury repository, I get the following message when running `composer update`:

[code]

[2020-10-22 13:31] ibennetch commented on #16429
Some of our developers are already trying to get this resolved :) https://github.com/php-webdriver/php-webdriver/pull/826

[2020-10-22 13:38] williamdes commented on #16429
I renamed this issue to have a central point to track php 8 compatibility issues.

[2020-10-22 13:38] williamdes commented on #16429
Here is one for tcpdf: https://github.com/tecnickcom/TCPDF/issues/222

[2020-10-22 13:44] ibennetch commented on #16429
Maybe we should make a new [project](https://github.com/phpmyadmin/phpmyadmin/projects) for PHP 8 compatibility problems?

[2020-10-22 13:49] williamdes commented on #16429
One column on the issues board seems a better idea, else the project will be forgotten and empty ;)
Good suggestion

[2020-10-22 13:54] williamdes commented on #16429
Here it is: https://github.com/phpmyadmin/phpmyadmin/projects/7#column-11361204

This issue related to #16268

[2020-10-22 14:12] ibennetch opened #16430 "Windows error message uses trailing / instead of \"
On Windows, I feel the warning/error message:

should use a backslash `\` instead of a frontslash `/`as the final character.

This is quite minor but looks wrong. It's possible there are other places in the code that act in a similar way.

[2020-10-23 07:56] shucon commented on #16214
Starting to work on this.

[2020-10-23 12:23] Draghmar commented on #16420
Thanks @williamdes :)
And thanks all for fast response! Looking at PR I removed that piece of code from my installation and it indeed do the trick! :)

[2020-10-23 14:19] mauriciofauth commented on #16430
I think this is only aesthetic, since I believe Windows will convert it to the `\` character automatically. But, to fix this, we will need to replace the `/` characters with the [`DIRECTORY_SEPARATOR` constant](https://www.php.net/manual/en/dir.constants.php).

[2020-10-23 14:45] OlafvdSpek opened #16431 "Book cover gone crazy"
Sometimes the book cover @ https://www.phpmyadmin.net/ is flashing like crazy..

Chrome / Windows 10

[2020-10-23 14:54] gusarg81 opened #16432 "Keep saying about need of blowfish_secret settings, but is already there."
Fresh install of latest version (5.0.4), added the setting $cfg['blowfish_secret'] but keeps alerting that is missing.

Screenshot:

![pma_504](https://user-images.githubusercontent.com/6312430/97019013-3100ab00-1526-11eb-9096-dafce2ca1ab3.png)

[2020-10-23 14:55] gusarg81 commented on #16432
Never mind... a problem with file permission.... :S

[2020-10-23 14:55] #16432 closed

[2020-10-23 16:00] ibennetch commented on #16430
Yeah, this is obviously pretty low priority. Thanks for looking in to it.

[2020-10-23 16:36] mdfarhan0203 commented on #16068
mysqli::real_connect(): (HY000/1045): Access denied for user 'root'@'localhost' (using password: YES)

[2020-10-23 22:03] williamdes commented on #16227
https://github.com/codemirror/CodeMirror/releases/tag/5.58.2

[2020-10-23 22:22] #16227 closed

[2020-10-25 11:45] williamsth opened #16434 ""Current selection does not contain a unique column" on field with Primary Key and AUTO_INCREMENT"
Description:

If this is user error, I apologise, but the behaviour seems unexpected to me. I have a database with over two million rows. There is one table, with 9 fields of varying data types. The first field (logID) is a bigint(20) and is set as the primary key, with AUTO_INCREMENT (see screenshots). When running a SELECT query with one of the fields set to logID, phpMyAdmin doesn't open up the

[2020-10-26 23:26] paulcrawford opened #16437 "Header row covers first two rows of table in iOS 14.1 and iPadOS 14.1"
### Describe the bug

When a table is rendered in Safari on either iOS 14.1 or iPadOS 14.1 the header row with the column descriptors covers the first two rows of the table using the latest version of phpMyAdmin, 5.04. This does not occur with MacOS 10.15.7. Nor does it occur if phpMyAdmin is reverted to version 5.0.2.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any database.
2. C

[2020-10-27 09:07] williamdes commented on #16437
Seems to be related to #16277

cc @rajat315315

[2020-10-27 13:48] 4levels commented on #16397
Issue is still there on 4.9.7 branch.
```PHP Parse error:  syntax error, unexpected '?', expecting variable (T_VARIABLE) in /vendor/twig/twig/src/Node/Expression/TestExpression.php on line 19```

[2020-10-27 13:58] 4levels commented on #16397
I tried reverting to 4.9.6. 4.9.5 to no avail :-(

[2020-10-27 14:01] ibennetch commented on #16397
@4levels Could you please confirm which PHP version you're using? I tested with PHP 5.6 before the release. It could be related to running from Git, could you please let us know a little more about your deployment process? Are you running `composer update` or `composer install` as part of the build? Can you run tell us the output of `composer info | grep twig`?

[2020-10-27 14:03] 4levels commented on #16397
Sure, glad to!
[code]

[2020-10-27 14:04] shucon commented on #16045
Cannot reproduce the issue on master.

[2020-10-27 14:04] 4levels commented on #16397
Composer calls:
[code]

[2020-10-27 14:05] 4levels commented on #16397
[code]

[2020-10-27 14:05] 4levels commented on #16397
Seems a bit weird to me that different versions of twig are installed, or is this supposed to be?

[2020-10-27 14:15] 4levels commented on #16397
A friend pointed out that it might be related to calling composer update during the installation.  I just updated my build steps to not call composer update and all is well now!  Sorry for the false positive here, my bad

[2020-10-27 14:24] ibennetch commented on #16397
That's strange to me (as someone who sort of understands Composer but is by no means an expert), `composer update` should upgrade packages to the latest version *that meets the requirements* and in the case of RELEASE_4_9_7 with PHP 7.0, that should be twig 1.34, not 2.14.

The version numbers for the various Twig components aren't in sync or really related to each other, so this is not surprising

[2020-10-27 14:31] shucon commented on #15997
@williamdes from what I remember, it might be a regression. There were a lot of bugs fixed in https://github.com/phpmyadmin/phpmyadmin/pull/14166 , the intention for removing the saved query was that page change should not show query from another page as mentioned here: https://github.com/phpmyadmin/phpmyadmin/pull/14094/files

[2020-10-27 14:32] shucon commented on #15997
Should I go ahead and fix this?

[2020-10-27 14:34] rajat315315 commented on #16437
@paulcrawford A screenhot would have helped to replicate...

[2020-10-27 14:36] Bllacky commented on #15997
Please fix this! I used the Auto-save function extensively as it improves productivity.

[2020-10-27 14:42] ibennetch commented on #16045
I confirm that the issue seems to be resolved. Thank you for the extra testing.

[2020-10-27 14:42] #16045 closed

[2020-10-27 14:56] paulcrawford commented on #16437
Here they are:

From MacOS (the correct display)

From iOS (both rows from 2020-10-26 blocked from view by the header row, note the additional whitespace between “+ Options” and the header row)

Thanks,

Paul

[2020-10-27 15:37] paulcrawford commented on #16437
Sorry it seems that the screen shots did not come through on my email. So here they are again on GitHub

Here they are:

From MacOS (the correct display)

<img width="349" alt="two rows missing" src="https://user-images.githubusercontent.com/5233610/97324820-a8954980-1848-11eb-95ec-07c8a7a76eb7.png">

From iOS (both rows from 2020-10-26 blocked from view by the header row, note the additional whit

[2020-10-27 18:17] shucon commented on #16434
It might be a MariaDB specific issue, can't reproduce on MySQL.

[2020-10-27 19:25] shucon commented on #16046
@ibennetch @williamdes should I go ahead with the following enhancement? I feel this would be a good enhancement and I'll include it with https://github.com/phpmyadmin/phpmyadmin/pull/16438

[2020-10-28 08:21] shucon commented on #16047
Hey @williamdes, I can start working on it. Should we provide an option in config to choose all automatically generated queries and/or manually entered queries?

[2020-10-28 15:49] ismet commented on #15463
Still ongoing issue for phpMyAdmin v5.0.4 and MariaDB v10.5.6.

Btw @relm 's method solves it manually.

[2020-10-28 18:21] shucon commented on #16434
I can't reproduce on MariaDB as well. @williamdes can you please confirm?

[2020-10-28 18:23] williamsth commented on #16434
It's still an issue for me strangely. I will attempt to re-create it shortly on a fresh database with the same spec and feedback to this issue shortly.

[2020-10-29 08:24] shucon commented on #15413
Working on this.

[2020-10-29 08:59] OlafvdSpek commented on #16434
`show create table log` output might help

[2020-10-29 13:08] ibennetch commented on #15463
It seems this is related to the "Server connection charset" dropdown on the main page; if set to utf8mb4_general_ci, then the collations match and no error is shown. However, the default (at least for the Docker image and my Debian system) is utf8mb4_unicode_ci, which does cause the error (and presumably any other setting would fail here, as well).

Rather than changing the view, I believe a bette

[2020-10-29 13:23] ibennetch commented on #16341
Do you happen to also see an error message when you first log in:

[code]

I have this, and sometimes can reproduce the JavaScript error, and I'm not sure if they're related.

[2020-10-29 13:57] ibennetch commented on #15463
For fellow developers, here's an example of the failing query:

[code]

[2020-10-29 15:34] arcanisgk commented on #16437
the same problem in all browser OS:

windows 10 Google Chrome

![image](https://user-images.githubusercontent.com/1207306/97595224-7c590480-19d1-11eb-8894-e4ae8c693235.png)

**duplicated as:**

https://github.com/phpmyadmin/phpmyadmin/issues/16339

and

https://github.com/phpmyadmin/phpmyadmin/issues/16086

**In phpmyadmin V 5.0.2 the layout problem still persists**

[2020-10-29 16:13] ibennetch opened #16443 "Error in processing request: 404 message when loading main page"
I've had this message for quite a few days now, every time I log in to phpMyAdmin the first thing that happens is I get a red error box on the main screen:

[code]

Nothing is logged in my webserver error log.

Using PHP 8.0.0rc1 and PHP 7.4.11 and the latest master branch.

Is this just me?

[2020-10-29 18:05] mvldebian opened #16445 "Google Recaptcha not load"
Phpmyadmin 4.6.6deb4+deb9u1
PHP: 7.0.33-0+deb9u10

Add lines to config.inc.php

[code]

Captcha V2 , correct hostname, Check the origin of reCAPTCHA solutions OFF

Captcha not work
Any ideas?

[2020-10-29 18:33] williamdes commented on #16445
Hi
I am quite sure it was not implemented on 4.6

You are using debian stretch and can upgrade to latest 4.9 using one of the following methods:
- Debian buster-backports (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993)
- Ubuntu PPA on Debian (https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)
- Ubuntu PPA (https://github.com/phpmyadmin/phpm

[2020-10-29 18:35] williamdes commented on #16443
maybe you have an old route cache file?

[2020-10-29 18:43] mvldebian commented on #16445
Strange because they work in the previous version.
I think the phpmyadmin package updated 2 weeks ago but I just realized now that the recaptcha had stopped working.

[2020-10-29 18:50] williamdes commented on #16445
You are right, it was added in https://github.com/phpmyadmin/phpmyadmin/pull/369 since 4.1.
That said there was no update on stretch for a while ago, and I did a security patch last week.
See: https://tracker.debian.org/pkg/phpmyadmin

[2020-10-29 18:53] williamdes commented on #16445
But, that said there was an issue with a 4.9 version and 2FA, see: #16396 ("With the release of 4.9.6 and 5.0.3, two factor authentication is not available (broken).")

[2020-10-29 18:56] williamdes commented on #16341
Hi @pion33r
Is the latest version available still not working ?

[2020-10-29 19:04] ibennetch commented on #16443
Quite possibly. I've deleted the tmp directory then run composer update, yarn install, anything else I can try?

[2020-10-29 19:05] mvldebian commented on #16445
Can I get the most updated package and unzip over the current installation while keeping my configuration file?
Or would it bring problems?

[2020-10-29 19:14] williamdes commented on #16445
The best option is to "get the most updated package" Using https://github.com/phpmyadmin/phpmyadmin/issues/16445#issuecomment-718942632

It would bring problems if you unzip :/

[2020-10-29 19:14] williamdes commented on #16443
Yes, `rm libraries/cache/*` :)

[2020-10-29 19:18] ibennetch commented on #16443
Yes, that fixed it. Thank you. We should add a GitHub label "User is a silly ninny."

[2020-10-29 19:18] ibennetch commented on #16443
Is there anything further phpMyAdmin should do to ensure that the cache is current?

[2020-10-29 19:18] #16443 closed

[2020-10-29 19:28] williamdes commented on #16443
I am thinking on a solution in my head, eventually I will implement one ^^

[2020-10-29 19:53] paulcrawford commented on #16437
@arcanisgk,

The problem I am describing is not the same as the one you show above which also has the duplicates as noted. The one you show is a horizontal shifting of the header row when scrolling. I have seen this as well but basically accepted it as I can tell by the values in the table which column it is. This may well be corrected in 5.0.4 but, if so, it also introduced a vertical shifting of

[2020-10-29 21:58] mvldebian commented on #16445
I added the repository and tried to update phpmyadmin

apt-get install -t buster-backports phpmyadmin

Result:

Reading package lists ... Done
Building dependency tree
Reading status information ... Ready
The php-psr-container package is not available, but is referenced by another package.
This may mean that the package is missing, obsolete or
is only available from another source

E: The 'php-psr

[2020-10-29 22:03] williamdes commented on #16445
Ah, could you try `apt-get install -t buster-backports php-psr-container`?

[2020-10-29 22:07] mvldebian commented on #16445
Yes, same result. No package.

[2020-10-30 02:54] beYondeR732 commented on #15877
I got the same error on few tables.
It occured after I changed the position of some columns in a SELECT's results.

To fix it, go to : structure tab > Move columns, switch some columns and save.

[2020-10-30 09:38] williamdes commented on #15877
Are you using the latest version @beYondeR732 ?

[2020-10-30 09:44] williamdes commented on #16445
Maybe you could add buster to your source temporarily or download the deb from https://packages.debian.org/buster/all/php-psr-container/download and `apt install ./php-psr-container_1.0.0-1_all.deb`

[2020-10-30 09:45] kid4git opened #16446 "Changing a user's global privileges revokes all database-specific ones"
### Describe the bug

Some mysqldump command required me to add PROCESS privileges to a MySQL user. So I grant it to the user at "User accounts" > "Global privileges". Then I wonder why the user doesn't have access to the database anymore. After some fiddling around with the privileges I discover that any change to a user's global privileges revokes all configured database privileges as phpMyAdmin

[2020-10-31 15:48] beYondeR732 commented on #15877
I was on version 4.8 when I had the issue.
I upgraded to the latest version (5.0.4) but it didn't fix the problem.

The solution posted above worked fine for me.

[2020-11-01 12:51] shucon commented on #16446
I confirm this is actually happening on QA_5_0. @ibennetch @williamdes how should we handle this? There might be cases where a database might have more privileges than in Global priviliges. Can that happen or we'll need to handle those?

[2020-11-01 13:06] ibennetch commented on #16446
This is a curious question that I think could be argued in several ways.

I think the best solution is to maintain any database- or table- specific privileges. We should also show a warning on the global page that any changes do not affect the more specific privileges and that the administrator must edit those manually.

Perhaps the biggest argument in favor of this solution is that a system could

[2020-11-01 16:18] shucon opened #16448 "All Privileges are revoked upon Global privilege change."
### Describe the bug

All Privileges are revoked upon Global privilege change.

### To Reproduce

Steps to reproduce the behaviour:
1. Go to "User accounts" and click "Edit privileges" for the root user.
2. Make unselect the UPDATE privilege and click "Go".
3. Try making another change in the privilege of the root user.
4. All priviliges are revoked.

### Expected behavior
The change should be mad

[2020-11-01 20:47] #15463 closed

[2020-11-01 20:47] #16430 closed

[2020-11-01 21:51] #16316 closed

[2020-11-01 22:01] williamdes commented on #16316
Hi @InterLinked1
We added a new configuration option that will be in the next release :)
See: https://github.com/phpmyadmin/phpmyadmin/pull/16386#issuecomment-720157307

[2020-11-01 22:50] williamdes commented on #16046
Sure, maybe do a new PR for that :)

[2020-11-01 22:54] williamdes commented on #16047
Hello @ibennetch
What do you think about this request ?

[2020-11-02 12:15] joostdebruijn opened #16449 "PHP 8.0: Opening Structure tab fails"
### Describe the bug

Opening the Structure tab of a table fails with PHP 8.0-rc3 with the following error:

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to a database
2. Select a table
3. Select the Structure tab -> results in: Error in processing request Error code: 500

### Expected behavior

The tab should open and show the table structure.

### Screenshots
n/a

### Server

[2020-11-02 13:05] williamdes commented on #16449
Duplicate of #16301

[2020-11-02 13:07] williamdes commented on #16449
Hi @joostdebruijn
Are you sure you did unzip correctly 5.0.4 ?
Because from what I see on https://github.com/code-lts/phpmyadmin-releases/blame/upstream/version/source/5.0.3/vendor/symfony/dependency-injection/ContainerBuilder.php#L1144 that should be fixed.
Upstream: https://github.com/symfony/symfony/issues/38089

[2020-11-02 16:18] kamilhristov opened #16451 "AWS RDS IAM authentication doesn't work because pma_password is truncated"
### Is your feature request related to a problem? Please describe.

Currently, phpMyAdmin doesn't work with AWS RDS IAM authentication.

The problem is that the temporary token provided by AWS is bigger than 256 symbols.

https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/classes/Plugins/Auth/AuthenticationCookie.php#L337-L340

### Describe the solution you'd like

Would be good if thi

[2020-11-02 16:41] williamdes commented on #16451
Ref: https://sourceforge.net/p/phpmyadmin/bugs/4611/
Added by https://github.com/phpmyadmin/phpmyadmin/commit/a4e8d008f407d92c7177bca799c54525ba9032ad "bug [#4611](https://sourceforge.net/p/phpmyadmin/bugs/4611/) [security] DOS attack with long passwords"

cc @mauriciofauth @ibennetch

[2020-11-02 16:46] ibennetch commented on #16451
Nice debugging work.

I'm not sure if there's some historical reason this was in place (I suspect that at one time, MySQL passwords were restricted to a particular length and I'm guessing that at the time phpMyAdmin implemented this limit to restrict the ability of an attacker to send a large password that would effectively DOS the server).

As a result, we probably should maintain *a* limit, but

[2020-11-02 16:47] ibennetch commented on #16451
Nice research there by @williamdes as well. Thanks.

[2020-11-02 20:21] joostdebruijn commented on #16449
Hi @williamdes,
Thanks for the quick reply! I did not ran composer install after upgrading to 5.0.4. It works correctly now. 😄

[2020-11-02 20:21] #16449 closed

[2020-11-03 15:07] str commented on #15001
I got here because the my phpAdmin 5.0.2 did not had the option to change session duration in the frontend. I looked in the config.inc.sample.php file and it was no there neither.

[2020-11-03 15:44] williamdes commented on #15001
Hi @str
Are you looking for https://docs.phpmyadmin.net/en/latest/config.html#cfg_LoginCookieValidity ?

[2020-11-03 15:56] str commented on #15001
@williamdes Yes I was looking for anything related to Login OR Cookies, but didn't found it in the "sample.inc" file. Usually those sample files have all config flags set with default values, for one to change, but in this case, there was none.

![image](https://user-images.githubusercontent.com/123817/98008966-ae47dd80-1dba-11eb-88e5-81e995faa5d3.png)
![image](https://user-images.githubuserconten

[2020-11-03 16:00] williamdes commented on #15001
Yes, because we have a lot of them and want to have a small sample file :)
You can find all configs in https://github.com/phpmyadmin/phpmyadmin/blob/RELEASE_5_0_4/libraries/config.default.php but do not edit this file.

[2020-11-03 16:19] str commented on #15001
I don't know Rick... removing the flag from the GUI as well as the config file, makes it look like a deprecated flag. I understand you, but most users won't go through the process of digging into github's issues to find out which one is the deprecated one, if the documentation, the flag, or the config demo file.

[2020-11-03 16:44] williamdes commented on #15001
Maybe @ibennetch could give a final point of view to close this issue ?
It is quite an old one and I do not know more about if it should show on the GUI or not

[2020-11-04 00:48] ibennetch commented on #15001
I'm fine with us merging #15145 and adding this setting back to the GUI.

[2020-11-04 09:31] #16451 closed

[2020-11-04 22:58] #15001 closed

[2020-11-04 23:03] williamdes opened #16457 "Support third-party reCAPTCHA v2 compatible APIs"
Support https://www.hcaptcha.com/

Fixed by #16406

[2020-11-04 23:18] #16457 closed

[2020-11-04 23:18] williamdes commented on #16457
Documented in f910816d37c731ed5368460faa891f8f0a898205

[2020-11-04 23:30] williamdes opened #16458 "Users table is offset"
![Selection_201105_001](https://user-images.githubusercontent.com/7784660/98178960-03d8d300-1efe-11eb-8261-59132cbbde41.jpg)

phpMyAdmin: 5.1-dev

[2020-11-05 00:41] #16458 closed

[2020-11-05 00:41] #13077 closed

[2020-11-05 00:41] #15711 closed

[2020-11-05 09:08] williamdes commented on #16353
Hi @rajat315315
I tried your fix on MySQL 8 and MariaDB but it does not work, I still have `#2014 - Commands out of sync; you can't run this command now`.
When calling `call getSettingsUploadStock("fred")`

[2020-11-05 13:53] fakhamatia opened #16459 "Session problem on two servers on one IP and two ports"
### Describe the bug

I have 2 servers behind a modem
LAN HTTP port 80
WAN HTTP port server 1 = 8080
WAN HTTP port server 2 = 8081
When I use PHPMyAdmin on server 1, server 2 logout from PHPMyAdmin

### Expected behavior

Login to PHPMyAdmin on two servers same time

### Screenshots

![Peek 2020-11-05 17-11](https://user-images.githubusercontent.com/20030910/98249236-45fc2600-1f8b-11eb-89f0-96fce8

[2020-11-05 14:03] williamdes commented on #16459
Hi @fakhamatia
This is not a valid version`phpMyAdmin version: 7.2.24-0ubuntu0.18.04.6`
Please have a look on the homepage and let me know the version you are using.

[2020-11-05 14:10] fakhamatia commented on #16459
[code]
![ksnip_20201105-173638](https://user-images.githubusercontent.com/20030910/98251101-89579400-1f8d-11eb-923d-6788857e352d.png)

[2020-11-05 14:12] fakhamatia commented on #16459
Sorry
4.9.7deb1bionic1

[2020-11-05 14:25] williamdes commented on #16459
Thank you ;)
You are using the bionic PPA :100:
How did you setup your phpMyAdmin instances ?

[2020-11-05 14:35] fakhamatia commented on #16459
When installing phpMyAdmin from the terminal, wizard setup, but not 4.9.7, I update it today, I install from PPA in 2020/06

[2020-11-05 15:07] williamdes commented on #16459
So to sum up you only want to "Login to PHPMyAdmin on two servers same time"

The error message did mistake me in the comprehension of this issue

[2020-11-05 15:14] fakhamatia commented on #16459
Yes, Login to PHPMyAdmin on two servers same time with one IP but two (or more) different port

[2020-11-05 15:22] williamdes commented on #16459
As an alternative you can use hostnames from `/etc/hosts` for now

[2020-11-06 10:04] rajat315315 commented on #16353
Can you once try on MYSQL 5.7 for sanity?

[2020-11-06 20:10] shucon commented on #15347
Hey, @williamdes should this issue be closed now?

[2020-11-06 20:15] shucon commented on #15920
Might be partially fixed by https://github.com/phpmyadmin/phpmyadmin/pull/16444 but might still be a problem for queries greater than `$GLOBALS['cfg']['LinkLengthLimit']`

[2020-11-06 20:19] shucon commented on #15652
Hey, @Warlockk if you're not working on it right now I would like to take it up. :smile:

[2020-11-06 20:38] dpfender44 opened #16461 "PHP 8.0.0RC3 problem with phpMyAdmin-5.0+snapshot-english 2020-11-05"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Server configuration

- Operating system: Windows 10 Pro 20H2
- Web server: IIS
- Database version: MySQL 5.7

[2020-11-06 20:46] sorinsfirlogea opened #16462 "Cannot activate 2FA authentication"
When trying to activate the 2FA authentication I constantly receive this 500 error:
Error in processing request
Error code: 500
Error text: Internal Server Error (rejected)
It seems that the connection to server has been lost. Please check your network connectivity and server status.

In error.log:
Call to undefined method BaconQrCode\\Renderer\\Image\\SvgImageBackEnd::getQRCodeInline() in /var/ww

[2020-11-06 20:58] shucon commented on #15760
Working on this.

[2020-11-06 21:46] mvorisek opened #16463 ""REFERENCES" priviledge is used by MySQL - wrong message"
### Steps to reproduce

Steps to reproduce the behavior:
1. Go to `Edit privileges` page of any user
2. Hover mouse over `REFERENCES` priviledge
4. See wrong message - at least MySQL 8 supports `REFERENCES` priviledge (without this permission, foreign keys can not be created, thus very misleading)

### Expected behavior

Message is shown only for databases that really does NOT support `REFERENCES`

[2020-11-06 21:50] mvorisek commented on #16463
it seems that message is hardcoded for any version - https://github.com/phpmyadmin/phpmyadmin/blob/f2b2c51ea87d476da87d33e9a9568d77fb43487e/templates/server/privileges/privileges_table.twig

[2020-11-07 00:08] ibennetch opened #16464 "Relation view should default to current database when creating relations"
### Is your feature request related to a problem? Please describe.

When going to the Relation view for a table, the Foreign key constraints area can set up a relationship with any database on the system, but most of the time I want to create a relationship with a table in my current database. I propose that the "Foreign key constraint (INNODB)" dropdown should populate the Database with the curre

[2020-11-07 00:48] ibennetch commented on #16463
From what I can tell, all of our supported [MySQL](https://dev.mysql.com/doc/refman/5.6/en/privileges-provided.html#priv_references) use this and all of [MariaDB](https://mariadb.com/kb/en/grant/) ignores it.

So we should test whether the server is MySQL or MariaDB, and change the text to "Required for creating foreign key relations" or "Not used for MariaDB servers"

[2020-11-07 00:50] ibennetch commented on #16463
From what I can tell, we have to account for three scenarios. [MySQL](https://dev.mysql.com/doc/refman/5.6/en/privileges-provided.html#priv_references) 5.6.22 and newer use this, older versions do not, and all of [MariaDB](https://mariadb.com/kb/en/grant/) ignores it.

So we should test whether the server is MySQL or MariaDB, check the MySQL version and change the text to "Required for creating fo

[2020-11-07 12:57] shucon commented on #15760
I've looked into the problem and I think adding a space after the comment token in the SQL parser would solve the problem. @ibennetch what do you think?

[2020-11-07 14:50] OlafvdSpek opened #16465 "Routes cache files is not rebuilt when it exists"
404: index.php?route=/config/get

5.1.0-dev

[2020-11-07 15:48] williamdes commented on #16465
`rm libraries/cache/*`

[2020-11-07 17:34] ibennetch commented on #16465
I'd really like if we could find a way to improve this.

[2020-11-07 22:10] williamdes commented on #16465
Asked for help on https://github.com/nikic/FastRoute/issues/224

[2020-11-07 22:12] williamdes commented on #16461
Hi @dpfender44
Thank you for reporting this issue.
It duplicates #16268 and relates to #16429

I will close this one then.

Nope, that would have been cool ;p

[2020-11-07 22:12] #16461 closed

[2020-11-07 23:13] williamdes commented on #16462
Hi @sorinsfirlogea
According to my project https://github.com/code-lts/phpmyadmin-releases#readme

You did extract your zip/tar in an incoherent way, please delete all phpMyAdmin files except the config file and try once more :)

See: https://github.com/code-lts/phpmyadmin-releases/blob/ff42facc94c1f60f8b1e5e2eb2737226725aa18e/vendor/pragmarx/google2fa-qrcode/src/Google2FA.php#L63

See: https://gi

[2020-11-07 23:29] williamdes commented on #15627
Invalid until more information and evidence is given.

[2020-11-07 23:29] #15627 closed

[2020-11-07 23:34] williamdes commented on #15247
- [ ] `libraries/classes/Core.php:        if (! defined('TESTSUITE')) {`
- [ ] `libraries/classes/Core.php:        if (defined('TESTSUITE')) {`
- [ ] `libraries/classes/Core.php:        if (defined('TESTSUITE')) {`
- [ ] `libraries/classes/Relation.php:        if (defined('TESTSUITE')`
- [ ] `libraries/classes/Response.php:        if (! defined('TESTSUITE')) {`
- [ ] `libraries/classes/Response.ph

[2020-11-08 00:05] williamdes commented on #15584
Your wishes where listened, time passes but I do not forget (I try hard not to)
Please have a look to my work on https://github.com/phpmyadmin/phpmyadmin/pull/16466

[2020-11-08 05:48] dpfender44 commented on #16461
Actually, phpMyAdmin 5.0.3 was fixed and then 5.0.4 was again broken for PHP 8.0.0.RC3

I have just tested both versions of phpMyAdmin on my system.

Dave

From: William Desportes <notifications@github.com>
Sent: Saturday, November 7, 2020 5:13 PM
To: phpmyadmin/phpmyadmin <phpmyadmin@noreply.github.com>
Cc: dpfender44 <dpfender44@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [phpm

[2020-11-08 07:32] OlafvdSpek commented on #16465
How do I do that @ https://demo.phpmyadmin.net/master-config? ;)

[2020-11-08 08:06] Michel-Cavaud opened #16467 "export PDF file - PHP notice Trying to access array offset on value of type null"
### Describe the bug
[code]
### To Reproduce

Steps to reproduce the behavior:

Concepteur - > Export -> PDF

### Expected behavior

Error message and no PDF file

### Screenshots

### Server configuration

- Operating system: Debian 10
- Web server: Apache/2.4.38 (Debian)
- Database version:libmysql - mysqlnd 7.4.11
- PHP version: 7.4.11
- phpMyAdmin version: Version : 5.0.4 (à jour)

### Client

[2020-11-08 08:17] OlafvdSpek commented on #16465
BTW, are required permissions for libraries/cache and tmp documented somewhere?

[2020-11-08 08:34] sorinsfirlogea commented on #16462
Actually, that was not the problem. But you helped me to identify the issue. I got the wrong idea that google2fa-qrcode is not shipped with phpmyadmin and I installed it with composer. Which brings the latest version, not the one you are using. Problem solved. Now I just need to figure why the 2FA sync with Google Authenticator is failing - I remember I had this problem in the past, but I solved i

[2020-11-08 09:42] OlafvdSpek opened #16468 "MacOS warning"
Shouldn't this refer to a specific version of MacOS?

https://docs.phpmyadmin.net/en/latest/setup.html#

[2020-11-08 10:09] williamdes commented on #16467
Bonjour @Michel-Cavaud

Did you use one of the following methods to install your phpMyAdmin ?:
- Debian buster-backports (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-615954993)
- Ubuntu PPA on Debian (https://github.com/phpmyadmin/phpmyadmin/issues/16065#issuecomment-609035410)
- Ubuntu PPA (https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-552211446)

Could

[2020-11-08 10:11] williamdes commented on #16461
Hi Dave

This is quite confusing because there never was a fix for this issue upstream at tcpdf ..
Please have a look to https://github.com/tecnickcom/TCPDF/issues/222 as a reference

[2020-11-08 10:25] ibennetch commented on #16468
*Technically*, this is correct (the best kind of correct!) because the warning applies to anything prior to Mac OS X, that is, any of the "Classic" versions such as Mac OS 9. Apple changed the name of the operating system starting with OS X, so this used to read "Mac OS X" and was changed with 93b00f86e18a128b0b44ee162b562c515f3ae6ad to read "macOS" which is in keeping with the Apple style.

Techn

[2020-11-08 10:31] OlafvdSpek commented on #16468
Is anyone still using 9?

[2020-11-08 10:32] ibennetch commented on #16468
That is an excellent question.

[2020-11-08 10:37] #16468 closed

[2020-11-08 10:37] ibennetch commented on #16468
Fixed with e21190cadd46ce0206661d9843e765709fdd5409. Thanks Olaf.

[2020-11-08 10:58] OlafvdSpek opened #16469 "5.0 > 4.9"
IMO it'd make sense to list 5.0 before 4.9 @ https://www.phpmyadmin.net/downloads/

[2020-11-08 11:02] ibennetch commented on #16469
I agree!

This was brought up at https://github.com/phpmyadmin/website/issues/97 and simply hasn't been fixed yet in the Django code that powers the website.

[2020-11-08 11:57] williamdes commented on #16462
Good news!

Maybe it is because your phone and the server are not using the same timezone or have not the same time?

[2020-11-08 11:57] #16462 closed

[2020-11-08 12:14] sorinsfirlogea commented on #16462
Basically, yes, that was the problem. But it was a bit more complicated as it was related to the RTC of the virtual machine in the cloud, which can be changed only if I shutdown the server etc etc. Anyway, solved. Thanks.

[2020-11-08 13:11] #15584 closed

[2020-11-08 13:15] #16445 closed

[2020-11-08 13:18] williamdes commented on #15652
You can take this one, I will be glad to have a clean fix for it

[2020-11-09 09:37] #16253 closed

[2020-11-09 10:06] ychunc opened #16471 "click on the table, Left navigation did not refresh"
### Is your feature request related to a problem? Please describe.
### When I deleted the table at the terminal, it did not refresh
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

### I think refreshing is better because the table may have been deleted

A clear and concise description of what you want to happen.

#

[2020-11-09 11:48] ibennetch commented on #16471
Hi,

Did you press the refresh icon at the top of the navigation area on the
left portion of the screen?

We don’t continually poll for changes because of the load it would put on
the server, but the refresh icon should load any changes pretty quickly.

[2020-11-09 12:27] ychunc commented on #16471
Thank you first,My God, this button is too small to see

[2020-11-09 12:29] ychunc commented on #16471
If I can, I think I should refresh the tables in the current database on the left when I click on the database

[2020-11-10 11:23] mbarchein opened #16473 "Inspecting a table produces an exception: htmlspecialchars() expects parameter 1 to be string, null given"
Inspecting a table produces an exception using phpmyadmin 5.0.4

Steps to reproduce the behavior:
1. Go to database tables view
2. Click on affected table (others work)

[code]

[code]

[2020-11-10 13:39] #16473 closed

[2020-11-10 13:42] williamdes commented on #16473
Hi @mbarchein
I added a fix for the issue you reported, when 5.1 is released this fix will be part of it.
You can download the daily snapshot on our [website](https://www.phpmyadmin.net/downloads/).

[2020-11-10 13:57] williamdes commented on #15347
Sure !
It was fixed in https://github.com/phpmyadmin/sql-parser/releases/tag/4.5.0 and https://github.com/phpmyadmin/sql-parser/releases/tag/5.2.0

[2020-11-10 13:57] #15347 closed

[2020-11-10 14:00] williamdes commented on #15347
Included in https://github.com/phpmyadmin/phpmyadmin/releases/tag/RELEASE_4_9_4 and https://github.com/phpmyadmin/phpmyadmin/releases/tag/RELEASE_5_0_1

Proof for 4.9: https://github.com/code-lts/phpmyadmin-releases/commit/02319230d31daa160655a996543e64170d89996f#diff-134cdda2651140171fadec5357839abe6bf05d517ce78dafc69476f024bf6b6aR325
Proof for 5.0: https://github.com/code-lts/phpmyadmin-releases

[2020-11-10 14:18] shucon commented on #14933
@ibennetch @williamdes Should I go ahead and fix this? Is this project something we want to go ahead in the long run? If yes, then I can branch off from the latest master and get it working soon.

[2020-11-10 14:20] ibennetch commented on #14933
I would love to have this updated. I think the theme generator was a really
innovating and well-implemented project and I hate having all of that work
not be effective in the current code base.

[2020-11-10 14:24] shucon commented on #6356
Can be closed in favour of https://github.com/phpmyadmin/phpmyadmin/issues/14933

[2020-11-10 14:37] williamdes commented on #6356
Good catch, thank you so much !
Initial author: @tithugues

[2020-11-10 14:37] #6356 closed

[2020-11-11 11:22] sd-design opened #16475 "Twig\Error\SyntaxError: Unexpected character ";". in /home/..../phpmyadmin/templates/navigation/main.twig on line 60"
### Describe the bug
I installed Phpmyadmin version 5.1
Login page is worked with warning "Warning in ./vendor/twig/twig/src/Compiler.php#187" and very long Exception log
After Log in I have this error:
 Twig\Error\SyntaxError: Unexpected character ";". in /home/..../phpmyadmin/templates/navigation/main.twig on line 60
Also tried install version of phpmyadmin 5.04 and 4.9.7
Error is the same
### S

[2020-11-11 11:58] williamdes commented on #16475
Hi @fapbot
Any idea on what is this error?

[2020-11-11 14:45] lsmithx2 opened #16476 "Error when copying table - #1113 - a table must have at least 1 column"
### Describe the bug

So we have tried multiple times now and there seems to be a problem when copying a table.

We recently updated to MySQL 8 and it happens when we try to copy a table using phpmyadmin.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Operations on any database table
2. Scroll down to copy table to (database.table)
4. Try to copy table we were just trying to copy the

[2020-11-11 23:59] mauriciofauth commented on #16475
Hi @sd-design. Thank you for your report.

How did you install phpMyAdmin?

[2020-11-12 10:55] williamdes commented on #16476
Hi @lsmithx2
Are you using ANSI quotes mode `SELECT @@sql_mode;` ?
See: #15821 https://github.com/phpmyadmin/phpmyadmin/issues/15821#issuecomment-578554332

[2020-11-12 11:57] #15652 closed

[2020-11-12 12:00] lsmithx2 commented on #16476
@williamdes

@@sql_mode |  
-- | --
REAL_AS_FLOAT,PIPES_AS_CONCAT,ANSI_QUOTES,IGNORE_SPACE,ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[2020-11-12 13:00] Schwuuuuup opened #16477 "No Option to enter TABLE specific permissions when database name contains _ (underscore)"
### Describe the bug

I was used to grant permissions for single tables instead of permissions for whole databases. For this I opened the useraccount for editing, and klicked on the button "Database" and then on "Table" to select specific Tables for access.
The button "Table" is missing for all Databases with names containing an underscore.

### To Reproduce

1. Rename a database to have its name

[2020-11-12 14:18] williamdes commented on #16476
`ANSI_QUOTES` is the problem here, you can change this temporarily but maybe this is useful for you in production ?

[2020-11-12 15:23] lsmithx2 commented on #16476
@williamdes im not sure really just left the options that have set by DigitalOcean on there managed databases. But I will remove them for now.

[2020-11-12 20:33] ibennetch commented on #16413
There have been a series of problems with creating the release for 5.1.0-rc1.

If I use the packaged create-release.sh, important dependencies such as those needed for two factor authentication are left out.

If I comment out the additional calls to composer, I get an error `Be sure to have dev-dependencies installed.`

If I start adding dependencies back in by conditionally adding `PACKAGES_VERSI

[2020-11-12 21:34] williamdes commented on #16095
## before

![image](https://user-images.githubusercontent.com/7784660/98998915-2b035600-2537-11eb-9837-62413d7b7880.png)

## after

![image](https://user-images.githubusercontent.com/7784660/98998928-2f2f7380-2537-11eb-97b6-48190041f7f4.png)

[2020-11-12 21:40] williamdes opened #16479 "Selenium tests are not all green on 5.1"
### Server configuration

- phpMyAdmin version: 5.1-dev

 ### Errors

https://travis-ci.org/github/phpmyadmin/phpmyadmin/jobs/743160860#L988
https://travis-ci.org/github/phpmyadmin/phpmyadmin/jobs/743056640#L988
https://travis-ci.org/github/phpmyadmin/phpmyadmin/jobs/742810364#L980

Seems like 58 errors is a constant number.

- https://github.com/phpmyadmin/phpmyadmin/runs/1915117553?check_suite_f

[2020-11-12 21:44] #16095 closed

[2020-11-12 21:46] williamdes commented on #16095
Hi @petrduda
I merged your work, could you let me know if this is expected for new lines (see screenshot above) ?

[code]

[2020-11-12 22:29] #16053 closed

[2020-11-12 22:31] williamdes commented on #16053
I hope this is fixed, anyway I could not reproduce this issue and #16387 made the editor both sides scrollable.

[2020-11-12 23:29] williamdes commented on #16407
[code]
See #13846 `phpseclib/phpseclib`, `2.0.8` was broken.
See #12975 `tecnickcom/tcpdf` for tcpdf.
See dd5d6d834dfae86297315cd07b7e21c972170495 for `pragmarx/google2fa`

[2020-11-12 23:34] #16407 closed

[2020-11-12 23:34] williamdes commented on #16407
Fixed by cc6d1beb026aed6fe2be71b07af7df88769a2509

[2020-11-13 08:55] williamdes commented on #16407
The reason why we added the conflict is in this commit d7a27c33556fd8f41312b6dd83b33c72abb7fe21
Now conflicts versions are clear.

[2020-11-13 09:30] sd-design commented on #16475
Download zip file from https://www.phpmyadmin.net/ and unzip in work folder

[2020-11-13 19:30] mauriciofauth commented on #16407
Thank you, William. I added the conflict line and forgot to fix it later.

[2020-11-13 22:53] #14953 closed

[2020-11-13 23:09] williamdes commented on #16477
Hi @Schwuuuuup !
I can confirm this issue, this is quite strange but I reproduced it.

@shucon would you agree to work on this one ?

[2020-11-14 04:48] shucon commented on #16477
Sure!!

[2020-11-14 04:56] ibennetch commented on #16477
I have not looked at the code yet but have a guess as to what's going on. Since a literal underscore is considered a wildcard, it's likely that we aren't properly escaping it here (like `\_`), or perhaps are escaping it twice. Again, it's just a guess, but that's where I'd start looking at finding a fix.

[2020-11-15 08:16] shucon commented on #16477
Thanks @ibennetch , this is exactly what's happening. The database name weren't properly escaped.

[2020-11-15 13:39] artemyunusov commented on #16068
use password "root"

[2020-11-15 17:19] ibennetch opened #16482 "Selector for table-specific privileges should allow "select all""
When editing a user and picking table-specific privileges, each column is shown in a selector for "Select," "Insert," "Update," and "Reference" privileges.

If I click on one of these, then use my keyboard shortcut for my operating system to select all (command-a on Mac or ctrl-a on Windows) I would like all columns to be selected.

Instead, all of the text on the page is selected.

Perhaps it wou

[2020-11-15 18:20] debuglevel opened #16483 "Support newer compressions like xz or zstd"
### Is your feature request related to a problem? Please describe.
SQL dumps are often very big and uploading them takes a while. Compressions helps, but phpMyAdmin only support zip, gzip and bzip2.

### Describe the solution you'd like
phpMyAdmin should support some newer compression methods like `xz` or `zstd`.

### Describe alternatives you've considered
bzip2 already compresses my dumps to abo

[2020-11-15 18:27] ibennetch commented on #16483
Good idea. In my personal projects, I have long since replaced both gzip
and bzip2 with xz, so I definitely see the benefits of this.

[2020-11-15 21:04] petrduda commented on #16095
Hello @williamdes, thank you, that is not expected, may I suggest the following fix?

[2020-11-15 21:07] williamdes commented on #16095
Hello @petrduda
Sure!
Thank you for doing a fix, it looks good.
You can target `master` branch for it.

[2020-11-15 21:42] williamdes commented on #16477
https://github.com/phpmyadmin/phpmyadmin/pull/16481#pullrequestreview-530818862 is part of the fix made for this issue. Making this issue a double issue.
Now fixed in the next release.

[2020-11-15 21:54] #16477 closed

[2020-11-16 03:53] ibennetch commented on #16483
Currently, there seems to be:
* [php-ext-xz](https://github.com/codemasher/php-ext-xz) which seems to require a somewhat complicated build process (but was forked from a repository of our own @dan11 !) and seems to be pretty active.
* [php-xz](https://github.com/payden/php-xz) which seems slightly easier to build, but doesn't look like it's been updated in years.
* [zstd](https://pecl.php.net/pack

[2020-11-16 11:48] Rprabudeva commented on #16107
I would like to take this issue.

[2020-11-16 11:49] williamdes commented on #16107
Sure, go ahead :)

[2020-11-16 12:54] williamdes commented on #16353
I tried with MYSQL 5.7.17 and could not validate the fix :crying_cat_face:

[2020-11-16 14:19] ibennetch opened #16485 "Visual query builder missing "Build Query" button"
The Visual Query Builder is missing the "Build Query" button.

I have tested 5.0.2 and 4.9.7, but haven't yet gone down any further to find the commit that causes this.

### 5.0.2
<img width="251" alt="image" src="https://user-images.githubusercontent.com/1443710/99262700-46e35200-27ec-11eb-85d8-cbe77a6bab21.png">

### 4.9.7
<img width="248" alt="image" src="https://user-images.githubusercontent.c

[2020-11-17 10:21] erolatreston opened #16487 "Routines page lacks paging controls which leads to high CPU usage with large number of procedures"
### Describe the bug

If the database contains large number of stored procedures (>5K), the `Routines` page take a very long time to load and the CPU is pegged to 100% during the load. With even larger number of stored procedures, the page will fail to load.

Paging controls should be added to the Routines page.

### To Reproduce

Steps to reproduce the behavior:
1. Create many stored procedures (

[2020-11-17 12:09] williamdes commented on #16487
Hello @erolatreston
Thank you for reporting this issue !

[2020-11-17 12:09] williamdes commented on #16487
Hello @petrduda
Would you be interested in looking for a fix for this one ?

[2020-11-17 19:21] lem9 commented on #16425
About "Delete the table", I don't want to start an argument, but not every phpMyAdmin's users know about SQL. This was the reason of the "Delete the table (DROP)" which is clearer for everyone, IMO.

[2020-11-17 19:41] williamdes commented on #16425
Thank you @lem9
There will be no remaining then.

[2020-11-18 13:35] mmomasters opened #16488 "Import back JSON/LaTex/Word 2000 phpmyadmin exports"
### Is your feature request related to a problem? Please describe.

I don't understand why we cannot IMPORT database backups in the same format they were EXPORTED thru phpmyadmin, like JSON/LaTex/Word 2000.

### Describe the solution you'd like

Ability to import JSON/LaTex/Word 2000 phpmyadmin exports.

### Describe alternatives you've considered

Converting them using online tools but nothing wo

[2020-11-18 20:07] ibennetch commented on #16488
This can be tricky, some of the formats (like Word, for instance) are not a good format to store data in for the machine to import again, the export is meant only to generate a human-readable version of the database. JSON might be a reasonable import format, since it’s a pretty strictly formatted machine-readable format, but I can’t think of another format that really makes sense to import. SQL is

[2020-11-18 20:32] mmomasters commented on #16488
The problem is I actually need to import a json exported db file for a customer that was given only the json phpmyadmin backup from his devil old web hosting company.

[2020-11-18 20:38] petrduda commented on #16487
Hello @williamdes, I will have a look at this at the weekend.

[2020-11-18 20:46] ibennetch commented on #16488
That stinks. I definitely would be okay with us having JSON import, but I
don’t know how much work it would take or how long it would take to add.

We did switch JSON exporting flavors not too long ago; a full solution
would allow importing of both (even if it’s a manual selection of JSON v1
vs JSON v2).

[2020-11-18 21:00] mmomasters commented on #16488
Would it not be easier to use same structure for import like the one used for phpmyadmin json export ? So it should be very little work?

[2020-11-18 22:03] williamdes commented on #16488
To solve the situation you can use the tool jq, that will save you some time

[2020-11-19 15:56] ibennetch opened #16489 "Better phrasing for "Users table" in setup script"
In the setup script, there is a configuration directive that sets `$cfg['Servers'][$i]['users']`, which is used as part of the Configuration Storage feature for managing user groups. The phrasing "Users table" is pretty ambiguous. Is there something better we can use here? Something like "User groups users table" seems like only a slight improvement — is "Users table for user group feature" too wo

[2020-11-19 17:32] williamdes opened #16490 "[PHP 8.0] Function libxml_disable_entity_loader() is deprecated"
[code]

### Server configuration

- phpMyAdmin version: 5.1-dev

[2020-11-19 17:33] williamdes commented on #16490
Relates to #16429

[2020-11-19 17:35] williamdes commented on #16429
[code]

[2020-11-19 19:05] VIEW406 opened #16492 "The ability to log in without using GoDaddy"
cPanel only allows me to log in through GoDaddy. The problem is that if I want another tech to access the back of my database, I do not want to give access to my GoDaddy account. I have tried logging out of cPanel and logging back into my current account, but it says that the login is invalid. Please help, for I want to be able to create another user to log into this ASAP.

The link in which I am