[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#19241](https://reports.phpmyadmin.net/reports/view/19241)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#19148](https://reports.phpmyadmin.net/reports/view/19148)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 6307: parser error : PCDATA invalid Char value 31
 Exception Type |php
 Link | [Report#18973](https://reports.phpmyadmin.net/reports/view/18973)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 22: parser error : Extra content at the end of the document
 Exception Type |php
 Link | [Report#18868](https://reports.phpmyadmin.net/reports/view/18868)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#18086](https://reports.phpmyadmin.net/reports/view/18086)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#18016](https://reports.phpmyadmin.net/reports/view/18016)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#17891](https://reports.phpmyadmin.net/reports/view/17891)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string() [&lt;a href='function.simplexml-load-string'&gt;function.simplexml-load-string&lt;/a&gt;]: Entity: line 1: parser error : Star
 Exception Type |php
 Link | [Report#17500](https://reports.phpmyadmin.net/reports/view/17500)

*This comment is posted automatically by phpMyAdmin's [error-report

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#17397](https://reports.phpmyadmin.net/reports/view/17397)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 5: parser error : Premature end of data in tag database line 4
 Exception Type |php
 Link | [Report#17215](https://reports.phpmyadmin.net/reports/view/17215)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 2: parser error : StartTag: invalid element name
 Exception Type |php
 Link | [Report#17092](https://reports.phpmyadmin.net/reports/view/17092)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 27: parser error : Premature end of data in tag saifgroup line 17
 Exception Type |php
 Link | [Report#17089](https://reports.phpmyadmin.net/reports/view/17089)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#16881](https://reports.phpmyadmin.net/reports/view/16881)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string() has been disabled for security reasons
 Exception Type |php
 Link | [Report#16876](https://reports.phpmyadmin.net/reports/view/16876)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Extra content at the end of the document
 Exception Type |php
 Link | [Report#16803](https://reports.phpmyadmin.net/reports/view/16803)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:02] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#16797](https://reports.phpmyadmin.net/reports/view/16797)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:03] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 4: parser error : XML declaration allowed only at the start of the document
 Exception Type |php
 Link | [Report#16215](https://reports.phpmyadmin.net/reports/view/16215)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin

[2016-02-16 08:03] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#16053](https://reports.phpmyadmin.net/reports/view/16053)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:03] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#16052](https://reports.phpmyadmin.net/reports/view/16052)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:03] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#15696](https://reports.phpmyadmin.net/reports/view/15696)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:03] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#15603](https://reports.phpmyadmin.net/reports/view/15603)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#15397](https://reports.phpmyadmin.net/reports/view/15397)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#14744](https://reports.phpmyadmin.net/reports/view/14744)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#14682](https://reports.phpmyadmin.net/reports/view/14682)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 28: parser error : ParsePI: PI php never end ...
 Exception Type |php
 Link | [Report#14563](https://reports.phpmyadmin.net/reports/view/14563)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Char 0x0 out of allowed range
 Exception Type |php
 Link | [Report#14534](https://reports.phpmyadmin.net/reports/view/14534)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#14519](https://reports.phpmyadmin.net/reports/view/14519)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#14399](https://reports.phpmyadmin.net/reports/view/14399)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 3: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#14078](https://reports.phpmyadmin.net/reports/view/14078)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#14014](https://reports.phpmyadmin.net/reports/view/14014)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:04] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#13690](https://reports.phpmyadmin.net/reports/view/13690)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#13478](https://reports.phpmyadmin.net/reports/view/13478)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#13334](https://reports.phpmyadmin.net/reports/view/13334)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 158: parser error : Extra content at the end of the document
 Exception Type |php
 Link | [Report#12998](https://reports.phpmyadmin.net/reports/view/12998)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string() [&lt;a href='function.simplexml-load-string'&gt;function.simplexml-load-string&lt;/a&gt;]: Entity: line 1: parser error : Star
 Exception Type |php
 Link | [Report#12952](https://reports.phpmyadmin.net/reports/view/12952)

*This comment is posted automatically by phpMyAdmin's [error-report

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 45: parser error : Opening and ending tag mismatch: phrases line 32 and plugin
 Exception Type |php
 Link | [Report#12791](https://reports.phpmyadmin.net/reports/view/12791)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyad

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#12600](https://reports.phpmyadmin.net/reports/view/12600)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11994](https://reports.phpmyadmin.net/reports/view/11994)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11798](https://reports.phpmyadmin.net/reports/view/11798)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11771](https://reports.phpmyadmin.net/reports/view/11771)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 3: parser error : Opening and ending tag mismatch: meta line 3 and head
 Exception Type |php
 Link | [Report#11655](https://reports.phpmyadmin.net/reports/view/11655)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 3: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11577](https://reports.phpmyadmin.net/reports/view/11577)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11302](https://reports.phpmyadmin.net/reports/view/11302)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11164](https://reports.phpmyadmin.net/reports/view/11164)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#11041](https://reports.phpmyadmin.net/reports/view/11041)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#10646](https://reports.phpmyadmin.net/reports/view/10646)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string() [&lt;a href='function.simplexml-load-string'&gt;function.simplexml-load-string&lt;/a&gt;]: Entity: line 1: parser error : Star
 Exception Type |php
 Link | [Report#10364](https://reports.phpmyadmin.net/reports/view/10364)

*This comment is posted automatically by phpMyAdmin's [error-report

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#10346](https://reports.phpmyadmin.net/reports/view/10346)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:05] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 12: parser error : Opening and ending tag mismatch: input line 12 and td
 Exception Type |php
 Link | [Report#10149](https://reports.phpmyadmin.net/reports/view/10149)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.ne

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#9885](https://reports.phpmyadmin.net/reports/view/9885)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#9884](https://reports.phpmyadmin.net/reports/view/9884)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 20: parser error : Specification mandate value for attribute CREATE
 Exception Type |php
 Link | [Report#9828](https://reports.phpmyadmin.net/reports/view/9828)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#9484](https://reports.phpmyadmin.net/reports/view/9484)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string() [&lt;a href='function.simplexml-load-string'&gt;function.simplexml-load-string&lt;/a&gt;]: I/O warning : failed to load extern
 Exception Type |php
 Link | [Report#9430](https://reports.phpmyadmin.net/reports/view/9430)

*This comment is posted automatically by phpMyAdmin's [error-reportin

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#8830](https://reports.phpmyadmin.net/reports/view/8830)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:06] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 2: parser error : XML declaration allowed only at the start of the document
 Exception Type |php
 Link | [Report#8327](https://reports.phpmyadmin.net/reports/view/8327)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.n

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): input conversion failed due to input error, bytes 0xA8 0x43 0xCA 0xB5
 Exception Type |php
 Link | [Report#7987](https://reports.phpmyadmin.net/reports/view/7987)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 107: parser error : Opening and ending tag mismatch: database line 17 and pma_xml_export
 Exception Type |php
 Link | [Report#7559](https://reports.phpmyadmin.net/reports/view/7559)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#6783](https://reports.phpmyadmin.net/reports/view/6783)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#6617](https://reports.phpmyadmin.net/reports/view/6617)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#6587](https://reports.phpmyadmin.net/reports/view/6587)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Document is empty
 Exception Type |php
 Link | [Report#6536](https://reports.phpmyadmin.net/reports/view/6536)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#6142](https://reports.phpmyadmin.net/reports/view/6142)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&lt;' not found
 Exception Type |php
 Link | [Report#6138](https://reports.phpmyadmin.net/reports/view/6138)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string(): Entity: line 1: parser error : Start tag expected, '&amp;lt;' not found
 Exception Type |php
 Link | [Report#5627](https://reports.phpmyadmin.net/reports/view/5627)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](http://reports.phpmyadmin.net).*

[2016-02-16 08:07] nijel commented on #11967
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |simplexml_load_string() [&lt;a href='function.simplexml-load-string'&gt;function.simplexml-load-string&lt;/a&gt;]: Entity: line 1: parser error : Star
 Exception Type |php
 Link | [Report#4319](https://reports.phpmyadmin.net/reports/view/4319)

*This comment is posted automatically by phpMyAdmin's [error-reportin

[2016-02-16 08:21] yoku0825 opened #11968 "Syntax-errored ALTER TABLE is exported"
# Description

* phpMyAdmin exports incorrect (syntax-errored) ALTER TABLE when the table has comment of INDEX.

* Environment which I can reproduce,
  * phpMyAdmin 4.5.4.1
  * MySQL 5.6.28
  * PHP 5.6.18

# How to repeat

* Create table which has comment of INDEX(This step has no difference whether using CLI or phpMyAdmin)

[code]

* Click "Export" tab and choise "Quick" as Export method, "SQL" a

[2016-02-16 08:24] 007durgesh219 commented on #11966
@nijel I want to work on this.  I think it will involve refactoring only Tracker.class.php or are there other areas where I need to take a look before start working?

[2016-02-16 08:28] nijel commented on #11966
Yes, that should be enough. To be more specific ``Tracker::parseQuery`` and ``Tracker::handleQuery``, rest should not need any changes.

[2016-02-16 08:44] madhuracj opened #11969 "Missing confirmation while dropping a view in view_operations.php"
Seen in 4.5.4

[2016-02-16 08:54] #11969 closed

[2016-02-16 09:21] #11968 closed

[2016-02-16 11:12] nijel commented on #11669
Let's handle this in #11816.

[2016-02-16 11:12] #11669 closed

[2016-02-16 11:14] nijel commented on #11947
Seem I've already reported this as #11609...

[2016-02-16 11:14] #11947 closed

[2016-02-16 11:17] nijel commented on #11470
Has anything changed here?

[2016-02-16 11:21] nijel commented on #6261
The installation is now described in our docs: http://docs.phpmyadmin.net/en/latest/setup.html#installing-using-composer

[2016-02-16 11:21] #6261 closed

[2016-02-16 11:23] nijel commented on #11865
We probably should provide option to disable all shortcuts, see also https://github.com/phpmyadmin/phpmyadmin/issues/6188

[2016-02-16 11:24] nijel commented on #11688
See also https://github.com/phpmyadmin/phpmyadmin/issues/6168

[2016-02-16 11:30] #6146 closed

[2016-02-16 11:32] nijel commented on #6137
IMHO this is already documented: http://docs.phpmyadmin.net/en/latest/faq.html#how-can-i-reduce-the-installed-size-of-phpmyadmin-on-disk

[2016-02-16 11:32] #6137 closed

[2016-02-16 11:48] flash1452 commented on #6168
@nijel According to the author we have to adjust expiry time of pma_lang and pma_collation_connection to just one session.

[2016-02-16 11:52] nijel commented on #6168
The language persistence should be definitely longer than session - so that once user comes back again he gets interface in language he has chosen. Not sure about others...

[2016-02-16 11:53] nijel commented on #6168
But generally the cookie based configuration is used for data that need to be stored longer than session, otherwise it would be enough to store it in the session.

[2016-02-16 12:09] 007durgesh219 commented on #11966
It seems Tracker won't track insert into statement when it's executed from SQL tab. Why is that so? is it a bug?

[2016-02-16 12:49] flash1452 commented on #6168
So what exactly has to be done in this issue.

[2016-02-16 12:52] Kirkis commented on #11470
The problem is only with Firefox's Developer Edition. The Firefox v44 release has the same multiprocess functionality as the Developer Edition, but it doesn't reproduce this PMA bug.
I can't upgrade PMA because of the issue with the SQL parser (#11604) so I'm working around it in the meantime.
The issue might be with Firefox more than PMA anyway.

[2016-02-16 13:01] zaverichintan commented on #6168
We can make it configurable

[2016-02-16 13:23] flash1452 commented on #11609
@nijel I have been working on Issue #11947.I had made a PR regarding Issue #11947 but that solution was not good enough.Can u suggest any other way of overcoming the undefined variable error.

[2016-02-16 15:22] 1127 opened #11970 "Can you add an option to remove UUID for primary keys?"
I've been using phpMyAdmin forever... however lately, when I make a field a PRIMARY key, when inserting using phpMyAdmin - it auto picks UUID as the function pulldown. That would make sense for many people but not me - I often have specific keys I need to put in there - if you put a value in there, phpMyAdmin just overlooks your value and runs UUID.

I'd like something I can set in the config file

[2016-02-16 17:03] 007durgesh219 opened #11971 "CREATE UNIQUE INDEX index type is not recognized by parser"
When I try to mention index type in CREATE INDEX it show errors

``` CREATE UNIQUE INDEX abcindex ON abc(a) ```

![unique](https://cloud.githubusercontent.com/assets/7701929/13083596/c2b4d33e-d4fb-11e5-9406-4bfc69489921.png)

This is happening in QA_4_5, QA_4_6 and master

[2016-02-16 20:58] 007durgesh219 commented on #11971
Adding ```UNIQUE INDEX, FULLTEXT INDEX, SPATIAL INDEX``` in ```OPTIONS``` array of SqlParser\Statements\CreateStatement will fix it.  Don't know whether it's a correct approach or not.

[2016-02-16 21:59] madhuracj opened #11972 "Missing documentation for $cfg['Servers'][$i]['favorite'] and $cfg['NumFavoriteTables']"

[2016-02-17 00:24] #11972 closed

[2016-02-17 00:55] madhuracj commented on #11970
Add the following line to you configuration file.
`$cfg['DefaultFunctions']['FUNC_UUID'] = '';`

[2016-02-17 00:55] #11970 closed

[2016-02-17 04:21] ibennetch commented on #6137
Thanks @nijel.

Implemented in f9d0b65a50cca04ec1609cdcb4043a02cc41752e and 3076d552e11a7b763518cc580e5c9a6593ee5069

[2016-02-17 06:34] udan11 commented on #11971
Thanks, @007durgesh219!

[2016-02-17 07:39] nijel commented on #11966
Seems like a bug...

[2016-02-17 07:40] nijel commented on #11470
Okay let's close this one until it's in some stable release of Firefox (or we know what is causing this).

[2016-02-17 07:53] nijel commented on #11609
I think the best place to fix this is sql-parser: https://github.com/phpmyadmin/sql-parser/pull/30

[2016-02-17 07:55] udan11 commented on #11966
When I implemented the new SQL parser I decided to let Tracker use its own parser. I am not sure that the overhead is worth it (it takes considerably longer to fully analyse a query instead of just looking for specific tokens).

[2016-02-17 07:58] udan11 commented on #11609
Thank you!

I will leave this issue open until the new parser gets in this repo.

[2016-02-17 08:08] nijel commented on #11966
But this simple parser is broken in many situations.

It does not see difference between tokens, so it can be easily mistaken about type of query (try executing ``SELECT 'Shall we create table as view or not?'``, it handles it at CREATE VIEW).

Another issue is that it doesn't recognize that we're changing other database in many cases (``ALTER VIEW db1.v AS SELECT col1, col2, col3, col4 FROM t`` e

[2016-02-17 09:27] 007durgesh219 commented on #11966
If we want to reuse parse results then I guess Just modifying parseQuery will not work.  We have to save parsed result somewhere globally right?.

[2016-02-17 09:50] nijel commented on #11907
Sorry but the proposed fix removes the message in many cases when it should be shown, I had to revert it.

[2016-02-17 09:53] #11850 closed

[2016-02-17 10:27] 007durgesh219 opened #11973 "Tracker won't track some queries executed from SQL tab"
Following queries are not being tracked
```INSERT INTO```
```CREATE INDEX```
```DROP INDEX```

To reproduce:
- start tracking table
- Then execute any to above queries from SQL query box and it won't track. But if insertion is done from Insert tab then it will track

[2016-02-17 10:33] #11907 closed

[2016-02-17 10:58] nijel commented on #11966
Indeed, but as first step we just can use the parser. Reusing the parse results was something that didn't came to my mind originally :-)

[2016-02-17 11:01] sidaurukfreddy opened #11974 "debug event in phpmyadmin for day and month (error)"
hello  i have issue about event in phpmyadmin and spend long time, i just follow instruction in stackoverflow and google

1.  this is my event about update table every early month <a href="http://prntscr.com/a4dkd0">Click here</a>
2. this is test and it's work event about delete table for second <a href="http://prntscr.com/a4dl0a">you can click at here</a>

my question how can i tested about a mon

[2016-02-17 11:07] nijel commented on #11973
Does it track some queries from the SQL box for you? It seems to work fine in my tests (testing on QA_4_6).

[2016-02-17 11:19] 007durgesh219 commented on #11973
Yes, it does track some. Like UPDATE, ALTER and DELETE. Also, It depends upon when you execute (For example after executing ALTER TABLE it start tracking CREATE INDEX).  But it always happens with INSERT that it won't track.  Try creating the fresh table and execute INSERT query from SQL box. I cross checked many times. (tested on QA_4_6, QA_4_5 and master)

[2016-02-17 11:42] Jeremlicious commented on #11553
I get the same error when trying to connect to a RDS with SSL. I have other PHP scripts on the same web server that connect successfully to the same database server with SSL.

On a local server phpMyAdmin works fine with SSL.

Config :

[code]

Error that I get when I go back to the home screen after the crash :
![image](https://cloud.githubusercontent.com/assets/2142505/13108488/9554e230-d573-11e

[2016-02-17 11:46] Jeremlicious commented on #11553
* phpMyAdmin 4.5.4.1
* PHP Version 5.5.31 (fpm)
* mysqli
Client API library version	mysqlnd 5.0.11-dev - 20120503 - $Id: 15d5c781cfcad91193dceae1d2cdd127674ddb3e $
* mysqlnd 5.0.11-dev - 20120503 - $Id: xxxxxxxxxxx $

[2016-02-17 11:54] nijel commented on #11973
I've tested only INSERT and it worked just fine...

[2016-02-17 11:54] 007durgesh219 commented on #11973
@nijel It's due to error is parser of Tracker,  It will happen only if query is in following format ```INSERT INTO tablename VALUES(1,2,3)``` In this case it will parse table name as ```tablename VALUES```.  If you execute ```INSERT INTO tablename(a,b,c) VALUES(1,2,3)``` then it will track successfuly.  basically it's due to parse error while parsing table name.

[2016-02-17 11:56] 007durgesh219 commented on #11973
I think #11966 will fix it

[2016-02-17 11:57] nijel commented on #11974
Do you have event scheduler enabled? It's not default in MySQL and phpMyAdmin shows you the status on the events page:

![localhost_localhost_test_phpmyadmin_4 7 0-dev_-_2016-02-17_12 57 09](https://cloud.githubusercontent.com/assets/212189/13108870/03059804-d576-11e5-806e-2bf7a45a5d64.png)

[2016-02-17 11:57] #11974 closed

[2016-02-17 11:58] nijel commented on #11973
Okay, I was using the second syntax, that explains why it worked for me ;-).

Anyway that gives another reason for #11966.

[2016-02-17 11:58] #11973 closed

[2016-02-17 12:00] nijel commented on #11966
It seems that query which doesn't work properly right now is even more straightforward (see #11973):

[code]

[2016-02-17 12:04] dim-d opened #11975 "unrecognized keyword left in where clause"
in the phpmyadmin sql interface
trying to select, using the left() function in the where clause
for example
SELECT * FROM `table` WHERE LEFT(id,1)=1
throws
Unrecognized keyword. (near "LEFT" at position 28)
phpMyAdmin-4.5.4.1

[2016-02-17 12:41] #11975 closed

[2016-02-17 12:44] flash1452 commented on #11966
@nijel I think its the explode function that has been causing this error in parseQuery() method.Please guide me if am on right track.

[2016-02-17 12:48] nijel commented on #11966
Yes, but I don't think it really makes sense to fix various cases this parser doesn't handle, we should use SQL parser we already have instead.

[2016-02-17 12:53] flash1452 commented on #11966
@nijel I am sorry but am not able to get your point.Can you please explain what needs to be done here.

[2016-02-17 13:00] 007durgesh219 commented on #11966
@flash1452 You should use SqlParser\Parser to parse query in Tracker.  Actually, I was working on it. I think we both shouldn't work on the same thing.

[2016-02-17 13:01] nijel commented on #11966
Rewrite ``Tracker::parseQuery`` to not parse query on it's own, but rather use ``SqlParser`` for that.

[2016-02-17 13:01] nijel commented on #11966
Okay @007durgesh219 was few seconds faster in responding ;-).

[2016-02-17 13:02] flash1452 commented on #11966
@007durgesh219 Okay maybe you are right.Hope you solve this bug.

[2016-02-17 16:15] 007durgesh219 commented on #11966
@nijel Sometimes parser gives nothing more than just list of tokens. For example
- var_dump of parser for the following query ```ALTER VIEW viewname AS SELECT * FROM tablename```

![alterview](https://cloud.githubusercontent.com/assets/7701929/13115578/4f38175e-d5be-11e5-8f8b-21808e3112a0.png)

Here it's giving nothing more than list of tokens, No more info, AlterStatement is null

- similarly for

[2016-02-17 18:39] 007durgesh219 opened #11977 "Table name is not recognized by parser in DROP INDEX statement"
It shows errors on following query ```DROP INDEX myindex ON Exp```.  But it's a correct MySQL syntax to drop an INDEX on the table

![dropindex](https://cloud.githubusercontent.com/assets/7701929/13120384/a006d926-d5d3-11e5-830b-f347420c135b.png)

[2016-02-17 18:40] 007durgesh219 commented on #11977
It needs to be fixed for #11966

[2016-02-17 19:28] zixtor commented on #11643
PR https://github.com/phpmyadmin/phpmyadmin/pull/11978 seeks to implement it, @CaptainCyril could you please verify if it works for you?

[2016-02-17 21:11] ibennetch opened #11979 "DECLARE not accepted as valid SQL"
It appears as if DECLARE is not recognized as valid SQL. Related: #11776 and #11191

This is valid at the MySQL command line:
[code]

But trying
`DECLARE V INT UNSIGNED DEFAULT 1;`
in the Routines window gives an immediate red x syntax error and this message on submission:
One or more errors have occurred while processing your request:

Tested with QA_4_5 and master.

[2016-02-18 01:05] sidaurukfreddy commented on #11974
hi @nijel  thanks for comment but why you close, i have enabled status you can go at <a href="http://prntscr.com/a4ohwc"> here</a> , please be clear to answer it cause it already fourth days

my question is how can i debug event permonth, i have changed date in local computer but nothing happen, please download this <a href="https://www.dropbox.com/s/6e1cfmffczft3c7/cuti%20%281%29.sql?dl=0">Databa

[2016-02-18 02:19] madhuracj commented on #11979
Following are a couple of observations related to this.

1. If you type the whole SQL in SQL tab, Linter does not complain. SQL parser seems to correctly parse the full SQL.
2. In Routine edit window, if you type
[code]
There will be no MySQL error even though the Linter complains.

So, the issue here seems to be Linter's inability to parse partial SQL from BEGIN to END.

[2016-02-18 02:34] ibennetch commented on #11979
Thanks Madhura. I also got the Linter syntax warning when just entering

    DECLARE v INT;

without any `BEGIN` or `END`.

[2016-02-18 07:04] sidaurukfreddy commented on #11974
Hi @nijel when i setting for second it working, you can see at,
<a href="http://prntscr.com/a4qy4b">Here</a> my question how can i tested for month ? please open the issue (I HAVE BEEN DIGGING FOR 3 DAYS WITHOUT RESULTS) i doesn't mean to shout you cause already stressed, thanks

[2016-02-18 07:46] nijel opened #11981 "Remove Swekey authentication support"
It's time to deprecate support for Swekey authentication. Looking at <https://www.swekey.com/> it seems to be dead product:

Things to do:

- [ ] Remove code from authentication
- [ ] Remove documentation for Swekey
- [ ] Remove related tests
- [ ] Remove related setup code
- [ ] Remove sample configuration
- [ ] Remove swekey from build / scrutinizer configuration

[2016-02-18 07:54] nijel commented on #11974
Dne 18.2.2016 v 02:05 Freddy Sidauruk napsal(a):

Sorry, but this is not paid priority support so that you could complain
that something takes four days. Also being a bit polite when asking
somebody else for help would be nice. And cross posting your question
everywhere (why comment on YouTube video when the question is already
here and on StackOverflow?) will not really make it better.

So is it

[2016-02-18 08:19] sidaurukfreddy commented on #11974
well sorry if i hurt you, i'm sorry for un-professional of me, you know when people stuck they need some help so i post in every forum, isaac not respond yet ?

today is 4 days :(

[2016-02-18 08:28] nijel commented on #11974
It's 3 hours from his last response, he is probably sleeping right now. Come on, if you need fast response, pay some consultant to do it for you. If you are looking for advices from volunteers offering help, do not complain they are not available 24x7.

[2016-02-18 08:30] sidaurukfreddy commented on #11974
well sorry for 1000 times, i'm not experts on this issue so will you understand my condition as new programers, well is there any answer how can i debug for month ?

really sorry @nijel

[2016-02-18 08:50] zaverichintan commented on #11981
Can I work on this?

[2016-02-18 09:14] nijel commented on #11981
Yes you can.

[2016-02-18 09:49] rm-km-it opened #11982 "Row count wrong when grouping joined tables"
### Steps to reproduce
1. Fire a SELECT with joined tables using a GROUP BY statement

You can use the following tables
CREATE TABLE t1 (
  i1 int(11) NOT NULL,
  c1 varchar(11) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

INSERT INTO t1 (i1, c1) VALUES
(1, 'a'),
(2, 'b');

CREATE TABLE t2 (
  i2 int(11) NOT NULL,
  i1 int(11) NOT NULL,
  r2 varchar(10) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSE

[2016-02-18 10:48] Hansjakobli123 opened #11983 "Feature-Request: Pop-Out SQL Window"
In earlier versions of phpmyadmin it was possible to pop out the SQL window and exectute commands in it. As I found out this feature was replaced by the Console Window at the bottom.

When using multiple screens it would be nice the old windows was more practical as you could move it to another screen. Opening a whole new window takes too much space however.

I don't really see why the two feature

[2016-02-18 12:26] madhuracj commented on #11982
Parser seems to miss the GROUP BY clause.

[2016-02-18 12:44] 007durgesh219 commented on #11966
@nijel Kindly help in above

[2016-02-18 13:11] 007durgesh219 commented on #11982
It seems it's because SelectStatement is not parsing USING clause.  Same query with ON clause will show correct row count

[2016-02-18 14:16] 007durgesh219 commented on #11982
@madhuracj I created PR can you please review whether I did it in right way or not (phpmyadmin/sql-parser#32)

[2016-02-18 16:33] nijel commented on #11983
These features are not mutually exclusive, however most people do prefer no separate windows these days, that's why it was replaced by console. Not sure how much used it would be. Maybe we could come with way to detach console from the main window...

[2016-02-18 16:56] Hansjakobli123 commented on #11983
We are a team of 5 people using it, and 4/5 complain about not having this feature anymore since I upgraded phpmyadmin. They are nagging me I should downgrade to 3.9, but I don't really want to do that.

 I actually really like the new console, so if there was a way to detach it, that would be awesome!

[2016-02-18 17:00] nijel commented on #11966
Fixing parser first is definitely the best approach. You can report issues in parser to https://github.com/phpmyadmin/sql-parser

[2016-02-18 17:04] 007durgesh219 commented on #11966
thanks, I will create issues

[2016-02-18 19:14] #11609 closed

[2016-02-18 19:24] madhuracj commented on #11982
Fixed with https://github.com/phpmyadmin/sql-parser/pull/32. Keeping open till changes get merged to phpMyAdmin.

[2016-02-18 21:01] CaptainCyril commented on #11643
I downloaded the new 4.7 dev and it did not work out for me.

To test:

1)      Type a filter

2)      Click on a table and add a field to the table and Save

3)      The filter disappears instead of being maintained

The idea is to edit a bunch of similar tables at once without retyping the filter.

Thanks!

From: Atul Pratap Singh [mailto:notifications@github.com]
Sent: Wednesday, 17 February, 2

[2016-02-18 21:26] 007durgesh219 commented on #11966
@nijel Can you please tell me how to use the sql-parser stand alone. Till now I was changing in libraries/sql-parser and testing.  And then updating those changes in the original sql-parser.  Is there a clean and easy way of working with the sql-parser

[2016-02-18 21:43] ibennetch commented on #11643
It actually hasn't been added the 4.7 development version yet, if you're looking for a direct download of the fix then this should work: https://github.com/zixtor/phpmyadmin/archive/master.zip

[2016-02-18 22:20] CaptainCyril commented on #11643
I downloaded it from the link just supplied and it is still not working. As soon as you save the structure the navigation panel refreshes and forgets the filter.

From: Isaac Bennetch [mailto:notifications@github.com]
Sent: Thursday, 18 February, 2016 23:44
To: phpmyadmin/phpmyadmin
Cc: Cyril Joudieh
Subject: Re: [phpmyadmin] Filter in Left Panel (#11643)

It actually hasn't been added the 4.7 dev

[2016-02-19 01:41] zixtor commented on #11643
@CaptainCyril , testing the column addition scenario as in your comment, filter(s) do maintain state for me, in Chromium 47/Firefox 43. Could you please try the zip again, after clearing cache, making sure the new changes are indeed loaded?

[2016-02-19 02:16] flash1452 commented on #11688
"Failed asserting false to true " error in Authenticationcookietest.php
@nijel Can you please guide me of how to overcome this error.

[2016-02-19 03:59] LouisDio opened #11985 "About failed to log in phpMyAdim"
### Steps to reproduce
1.configured <config.default.php>
2.configured several places:(1)*
[code]
3.enter username and password on http://127.0.0.1:8888/phpmyadmin/
4.display 'Cannot log in to the MySQL server'

### Expected behaviour
should log in

### Actual behaviour
Cannot log in to the MySQL server

### Server configuration

**Web server:**

**Database:**
MySQL 5.5
**PHP version:**

**phpMyAdm

[2016-02-19 04:25] zaverichintan commented on #11981
How to delete it from all the language files?

[2016-02-19 04:32] poush commented on #11985
First of all your code is wrong here. It should be modified only in ```config.inc.php```

and with
[code]

[2016-02-19 05:46] LouisDio commented on #11985
Thank you.
I did what you said,but I can't start 'Apache Web Server' now.

[2016-02-19 09:28] wadhwasahil commented on #11981
I want to work on this. @zaverichintan  where have you reached till now?

[2016-02-19 10:41] nijel commented on #11966
It's probably better to ask @udan11 on this :-). I generally start with adding testcase and tuning the library till it produces reasonable output...

[2016-02-19 10:42] nijel commented on #11688
Look at the test code and see why the behavior has changed...

[2016-02-19 10:44] nijel commented on #11981
@zaverichintan Don't care about po files, these will be updated by script once your changes are merged.

[2016-02-19 11:15] wadhwasahil commented on #11981
I have completed the first part of the task. How to proceed to 2nd step?

[2016-02-19 11:30] ibennetch commented on #11981
@wadhwasahil since @zaverichintan has already begun work on this it would be best for you to find a different task to work on for now.

[2016-02-19 11:31] nijel commented on #11985
I think starting Apache is quite out of scope here :-).

[2016-02-19 11:31] #11985 closed

[2016-02-19 11:35] nijel commented on #11981
@wadhwasahil I think this task is already taken and almost completed (see https://github.com/phpmyadmin/phpmyadmin/pull/11986), so better choose something different.

[2016-02-19 11:47] wadhwasahil commented on #11731
Can I take up this issue?

[2016-02-19 12:00] nijel commented on #11731
As you can see it's assigned ;-). Anyway I'm slowly progressing with this (slowly mostly due to doing lot of other cleanups on the way).

[2016-02-19 12:03] wadhwasahil commented on #11731
So, can I collaborate?

[2016-02-19 12:05] nijel opened #11987 "Remove code for older MSIE < 9"
As we're now using jQuery 2, we could remove code which handles old MSIE versions as these are not supported anyway.

jQuery 2 browser support: https://jquery.com/browser-support/

Removal should include (but might not be limited to):

- ``conditional_ie`` in the Scripts class
- all code with conditions like ``PMA_USR_BROWSER_AGENT == 'IE' && PMA_USR_BROWSER_VER < 9`` or similar

[2016-02-19 12:13] nijel opened #11988 "Refactor javascript escaping"
The ``./libraries/js_escape.lib.php`` is currently using functions and thus can not be used with autoloading, which would simplify the code.

The task is to convert this file to object with static method and change all it's usages to this new way.

I think the best approach is to create Sanitize class which would provide such static methods together with text sanitisation (see #11989).

[2016-02-19 12:13] nijel opened #11989 "Refactor text sanitization"
The ``./libraries/sanitizing.lib.php`` is currently using functions and thus can not be used with autoloading, which would simplify the code.

The task is to convert this file to object with static method and change all it's usages to this new way.

I think the best approach is to create Sanitize class which would provide such static methods together with javascript sanitization (see #11988).

[2016-02-19 12:13] nijel commented on #11731
You can work on some tasks which will make this easier, eg. #11988 or #11989.

[2016-02-19 12:15] nijel opened #11990 "Refactor url parmeters generating"
The ``./libraries/url_generating.lib.php`` is currently using functions and thus can not be used with autoloading, which would simplify the code.

The task is to convert this file to object with static method and change all it's usages to this new way.

I think the best approach is to create URL class which would provide such static methods based on current functions.

[2016-02-19 12:17] nijel commented on #11989
Note if working on this issue, please coordinate with #11988.

[2016-02-19 12:17] nijel commented on #11988
Note if working on this issue, please coordinate with #11989.

[2016-02-19 12:34] #11979 closed

[2016-02-19 12:46] 007durgesh219 commented on #11990
@nijel till we resolve issues with the parser I can't work on the tracker so, I want to work on this.

[2016-02-19 12:51] nijel commented on #11990
Sure, go ahead, nobody expressed interest so far.

[2016-02-19 12:53] zixtor opened #11991 "Refactor indexAction() and displaySelectionFormAction() in TableSearchController"
In libraries/controllers/table/TableSearchController.php, in indexAction(), for different switch cases, the templates 'secondary_tabs' and 'table/search/selection_form' are invoked twice directly and once via displaySelectionFormAction().
It needs refactoring to reuse displaySelectionFormAction() conditionally as per each switch case. For help with templates, see https://wiki.phpmyadmin.net/pma/Te

[2016-02-19 13:16] 007durgesh219 commented on #11990
@nijel current format of the function names is ```PMA_URL_<name>```. I think we don't need URL in the prefix because now we are moving functions to URL class, So, should I change it to ```PMA_<name>```

[2016-02-19 13:34] nijel commented on #11990
I think URL::name could be enough, the PMA prefix is not needed as well.

[2016-02-19 13:37] 007durgesh219 commented on #11990
Also, Name of the file. It will be more convenient to change it to URL.php

[2016-02-19 13:42] nijel commented on #11990
Definitely (that's mostly needed for autoloading).

[2016-02-19 14:08] ujjwalwahi commented on #11991
I would like to work on this

[2016-02-19 14:13] Napoleon-BlownApart commented on #6197
An excellent proposal!  PMA is the weak link in my server's security atm and I'm eager to see this implemented.  How is it coming along?
My server is based on Ubuntu 14.04, will I need to use a PPA or will this make it into Ubuntu's standard package database?  (I know you can't speak for Canonical, but this is really an important development.)

Cheers,
Nap

[2016-02-19 14:31] zixtor commented on #11991
Ok, please do.

[2016-02-19 15:49] 007durgesh219 commented on #11870
Hi @zixtor I would like to take this project for GSOC 2016.  In my suggestion when we move towards MVC, it would be better to use some framework. One of the best framework I know about is laravel. I have used it in one of my previous projects. And I should say it was simply awesome.

- It makes the development of MVC architecture very easy.
- Also, it uses composer for dependency handling I think

[2016-02-19 16:18] nijel opened #11993 "Implement gettext expression evaluator"
For gettext we need something what is able to evaluate it's plural expressions and not use ``eval()`` (see #6363), unfortunately I was not able to find single arithmetic expression evaluation library for PHP which supports ternary operator, but they tend to support dozen of other stuff we don't need like functions. Therefore I think it will be better to implement own code for this particular use c

[2016-02-19 16:24] nijel commented on #11993
Of course viable alternative is finding composer package which can support ternary operator (or where you implement it).

[2016-02-19 16:25] zaverichintan commented on #11993
@nijel What about this?
as per your comment-
As for Gettext at least one problem is still there - once the .mo file is loaded, PHP caches it and it won't see any updates until restart (or cache expiry, what does not seem to happen much often, probably depends on number of open .mo files).

[2016-02-19 16:27] nijel commented on #11993
That's problem for using PHP's builtin gettext, that's why we need the one we have.

[2016-02-19 16:30] zaverichintan commented on #11993
So we can find/make eval() function which will be replace the eval used inside the PHP's builtin gettext ?

[2016-02-19 16:43] nijel commented on #11993
No, in [our library](https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/php-gettext/gettext.php#L361).

[2016-02-19 16:45] zaverichintan commented on #11993
Thanx, got it. I will try if i can get some available function or implement our own.

[2016-02-19 17:35] timri commented on #11434
I can reproduce this error on Amazon EC2 (accessing RDS):
When I enable ssl by including:
[code]
into config.inc.php I get an "internal server error" in the browser and the error-message about SQLParser\Lexer in the error-log (with phpmyadmin-4.5.4.1) directly after login.

Trying phpmyadmin-4.6.0-alpha, I get:

In both versions, I am able to login and use it after I change the config to
[code]

[2016-02-19 17:42] 007durgesh219 commented on #11990
@nijel I moved all functions to the class But Now I am getting class not found error.  Do I have to put ```use PMA\libraries\URL``` everywhere? Kindly help

[2016-02-19 17:47] poush commented on #11987
I would to like to do this.
Also is there is any longer need to off zlib_compression (as we were doing for IE6)

[2016-02-19 17:54] wadhwasahil commented on #11988
I am working on it.

[2016-02-19 18:02] nijel commented on #11990
Either reference it with full path PMA\libraries\URL... or add use as you've written.

[2016-02-19 18:03] nijel commented on #11987
Yes, there is probably more code for older browsers which can be removed...

[2016-02-19 18:08] 007durgesh219 commented on #11990
OK, I think use will be better, Don't have to write full path everywhere.  Also, I think now we don't need ```include 'libraries\URL.php'```. Should I remove it from everywhere

[2016-02-19 18:16] poush commented on #11987
Please tell me one more thing that when ```$file['conditional_ie']``` can be true ? in Scripts Class

[2016-02-19 18:27] wadhwasahil commented on #11989
you mean something like this ?
`class sanitation{
methods()
}
`

[2016-02-19 18:51] zaverichintan commented on #11835
Can we have a FAQ entry on this?

[2016-02-19 19:29] zixtor commented on #11870
Thanks for your interest. This issue is part of a proposed GSoC project that doesn't involve a framework, so if you are you talking of a new idea using Laravel, please share more details on how will you approach migrating into this framework considering the current state of the codebase.

Currently we are moving without a framework, incrementally decoupling the codebase, for example, we already us

[2016-02-19 19:38] ibennetch commented on #11835
I don't see a particular need for us to have a FAQ entry on this, as it doesn't seem to be specific to phpMyAdmin. If the others disagree, I'll write one though.

[2016-02-19 20:02] poush commented on #11870
There are many instances where i too believe PMA can be benefited by Laravel components. I too want to see PMA using Laravel.
For example at any instant just add a dependency  ```Illuminate\Http\Response;``` in your method and you can have every data related to Http Request(Cookie,Post,Request) while currently we are just looping to get these values from arrays and functions.

It is always good to

[2016-02-19 20:07] CaptainCyril commented on #11643
I am not sure if I am missing anything. I downloaded the compressed file from the link you supplied and created a new folder called PHPMyAdminMaster and pointed my WAMP to it in the alias and restarted the WAMP server. I see 47.dev in the version.

I tried my steps in the following browsers after clearing all the cache:

Chrome 48.0.2564.116 m

FireFox 44.0.2

Opera 35.0

and still it did not work

[2016-02-19 20:12] wadhwasahil commented on #11870
I can help in implementing it in Laravel or Codeigniter. I have worked on both. But, I doubt your approach for achieving the purpose.

[2016-02-19 20:31] zixtor commented on #11870
@poush first part of what you said reminds me that currently PMA has a dependency injection container, though in limited use, with which you can plug in decoupled dependencies into controllers. It can very well be improved to provide wrapped request/cookie for use as dependencies :).

[2016-02-19 20:32] nijel commented on #11987
I didn't find any use of that, so that's also code which can be removed...

[2016-02-19 20:33] nijel commented on #11989
Yes

[2016-02-19 20:33] nijel commented on #11990
Yes, the goal is to get rid of explicit include.

[2016-02-19 21:04] wadhwasahil commented on #11989
where will the object of the class be called? Can you please elaborate what are you looking for and tell me how can I get started?

[2016-02-20 00:04] MPLew-is commented on #11816
@ibennetch There is another related regression here that happened prior to the commit you referenced. When importing a database with uppercase letters from a case-sensitive file system (lower_case_table_names = 0) to a case-insensitive system (lower_case_table_names = 2), stored procedures and functions are no longer represented as part of the database in the interface, but still exist in the syst

[2016-02-20 00:20] MPLew-is commented on #11816
Here are screenshots elaborating on my previous comment. The two cases shown are from the same MySQL server in the exact same state, only switching between two versions of phpmyadmin using the exact same `config.inc.php` file:

## 4.4.9 (correct behavior)

Result of `show function status`:
![4 4 9 show function status](https://cloud.githubusercontent.com/assets/11891085/13192729/4c8fa2a8-d73d-11e5

[2016-02-20 00:26] ibennetch commented on #11816
@MPLew-is thank you for your additional report and screenshots. We'll look in to it and keep you posted here.

[2016-02-20 03:42] devenbansod commented on #11943
Hi @nounzorus : Any update regarding @nijel's question ?

[2016-02-20 04:38] 007durgesh219 commented on #11989
It looked similar to #11990 So, I worked it out. Please Review my PR

[2016-02-20 07:35] wadhwasahil commented on #11993
where in the code is `eval()` called?
I can make the function for evaluating the `?` operator.
Thanks.

[2016-02-20 07:38] wadhwasahil commented on #11987
is the issue solved?

[2016-02-20 08:55] udan11 commented on #11993
Tip: This can be implemented quite easily using the [Shunting-Yard algorithm](https://en.wikipedia.org/wiki/Shunting-yard_algorithm), but for the ternary operator you will have to hack it a little bit.

[2016-02-20 09:02] 007durgesh219 commented on #11990
@nijel Please review my PR and let me know if everything is as you were expecting

[2016-02-20 09:36] poush commented on #11987
Yes. You can see the pull request.

[2016-02-20 09:51] wadhwasahil commented on #6363
Can't we use `call_user_func()` ? It is more safe as well.

[2016-02-20 10:54] wadhwasahil commented on #6363
How to get assigned for this issue?

[2016-02-20 12:02] wadhwasahil commented on #11991
So basically you want to get rid of the templates 'secondary_tabs' and 'table/search/selection_form'  and use SelectionFormAction() instead?

[2016-02-20 12:14] flash1452 commented on #11991
@zixtor I think DisplaySelectionFormAction() has to be used for rendering instead of rendering the templates inside switch cases.

[2016-02-20 12:18] ibennetch commented on #6363
@wadhwasabil normally just make a comment on the issue like you've just done, but for this particular case you'll also want to make sure your proposed solution is suitable before putting too much work in to writing code.

[2016-02-20 12:21] wadhwasahil commented on #6363
@ibennetch I think we can use call_user_func() for the purpose. What say?

[2016-02-20 13:18] Thoronador commented on #6363
In my opinion call_user_func() would be an adequate replacement for eval(). It should even run faster than eval(). (Not that speed matters so much to me, but it is a nice bonus. I'm fine with every safe solution that gets rid of eval() in the code base.)

[2016-02-20 14:03] zixtor commented on #11991
@wadhwasahil not to get rid of the templates themselves ;), but yes to refactor their rendering as said in the issue comment.

[2016-02-20 14:08] zixtor commented on #11991
@flash1452  yes, DisplaySelectionFormAction() can be used in all three switch cases conditionally. Alternatively, one can remove DisplaySelectionFormAction() altogether, do template->set for setting conditional template data inside each switch case, and then render the templates at the end of indexAction() itself.

[2016-02-20 14:26] wadhwasahil commented on #6363
Shall I start implementing it ? Can I be assigned to this issue?

[2016-02-20 14:29] wadhwasahil commented on #11991
In the "normal" case, it is already been rendered. The other two "replace" and "zoom" are to be re-
factored.

[2016-02-20 14:47] zixtor commented on #11643
@CaptainCyril Ok, I still can't be sure why it's not working out for you. I think we should wait for some other developer also to test https://github.com/phpmyadmin/phpmyadmin/pull/11978

Also, if you want to help in debugging the problem by traversing through the new code in your browser's developer tools, it takes only a short while, just tell me I will be happy to guide you through.

[2016-02-20 18:19] CaptainCyril commented on #11643
I will be glad to help. I just need to know what to do. This thread is the very first time I write on phpmyadmin and GitHub.

From: Atul Pratap Singh [mailto:notifications@github.com]
Sent: Saturday, 20 February, 2016 16:47
To: phpmyadmin/phpmyadmin
Cc: Cyril Joudieh
Subject: Re: [phpmyadmin] Filter in Left Panel (#11643)

@CaptainCyril <https://github.com/CaptainCyril>  Ok, I still can't be sure

[2016-02-20 18:41] flash1452 commented on #11991
@zixtor Plz review my new PR.

[2016-02-20 20:49] flash1452 commented on #11991
I don't know but even after running continuously for hours the Travis seems to be not able to check my PR .Can anyone tell me whats the reason for this.

[2016-02-21 04:18] ibennetch commented on #11643
I've tested it and unfortunately it does not work for me, either. My navigation filter is lost after submitting the form.

[2016-02-21 05:23] Achilles-96 commented on #11643
Can someone tell me how to reproduce this?

[2016-02-21 05:27] Achilles-96 commented on #11983
What do you mean by popping out SQL window. Can you point me to version where this feature is present?

[2016-02-21 08:17] CaptainCyril commented on #11643
Enter a keyword to filter on tables

Click on a table

Click on Structure if not there already

Add a field to the table

Save the form

The keyword entered should be still there but unfortunately, it gets removed and all tables get shown

From: Raghuram [mailto:notifications@github.com]
Sent: Sunday, 21 February, 2016 07:23
To: phpmyadmin/phpmyadmin
Cc: Cyril Joudieh
Subject: Re: [phpmyadmin] Fil

[2016-02-21 08:36] wadhwasahil commented on #11991
Is this issue fixed?

[2016-02-21 09:08] Achilles-96 commented on #11643
Can you tell me where should I enter key word in this -
![pma_homepage](https://cloud.githubusercontent.com/assets/10742413/13201845/d1ea981a-d8a8-11e5-8ee1-b939ce91e29c.png)

[2016-02-21 09:25] zixtor commented on #11643
Thanks @ibennetch @CaptainCyril for testing, I am guessing of a not working scenario if your database has views, functions as well which would mean more filters per database. I will make changes to cover that and notify.

@Achilles-96 check http://docs.phpmyadmin.net/en/latest/config.html#cfg_NavigationTreeDisplayItemFilterMinimum it's filters in navigation pane.

[2016-02-21 09:32] zixtor commented on #11991
No, not yet.

[2016-02-21 09:40] Achilles-96 commented on #11643
Fine. For me just clicking on a table refreshes the filter.

[2016-02-21 09:41] zixtor commented on #11983
Version 4.2 should have it seems, please do git checkout tags/RELEASE_4_2_0 and look in navigation panel's top area for a query window.

[2016-02-21 10:01] wadhwasahil commented on #11991
I left it thinking @flash1452 has sent the PR. So, should I get working on it?

[2016-02-21 10:02] MPLew-is commented on #11816
In trying to resolve another case-sensitivity issue, I've narrowed down the version in which the change happened. The function/routine issue first appears in 4.4.15, and the last version with the desired behavior is 4.4.14.1. Hopefully that helps you narrow down the change that caused this.

[2016-02-21 11:22] zixtor commented on #11991
Surely, the issue is open. Also, even if a PR is already under consideration for an issue, we encourage you to review it or propose a better solution of your own if you have one.

[2016-02-21 11:38] MPLew-is commented on #11816
I've further tracked this issue to [this change in commit `dbf9ff2`](https://github.com/phpmyadmin/phpmyadmin/commit/dbf9ff2723014490770c6064a36d4dcdfdec3900#diff-9b30925c5a60248c0b15b19c05e9e4d3L4657)

This, along with a few other changes, resolves the other issue I was having (the relation view was not displaying existing foreign keys, nor an interface to add new ones), but creates the issue wit

[2016-02-21 12:49] udan11 commented on #11977
I will keep this open until the library is updated here too.

[2016-02-21 13:16] #11977 closed

[2016-02-21 13:24] riless opened #12002 "Error with PMA 4.5.4.1"
### Steps to reproduce
1. When accessing to phpmyadmin interface http://localhost/phpmyadmin

### Actual behaviour
it only shows me this error
Fatal error: Class 'phpseclib\Crypt\Random' not found in /usr/share/phpmyadmin/libraries/session.inc.php on line 116

### Server configuration
**Operating system**:
I'm on `Debian GNU/Linux stretch/sid 64-bit`

![screenshot from 2016-02-21 14-22-29](https:/

[2016-02-21 13:30] #12002 closed

[2016-02-21 13:42] zixtor commented on #11643
@ibennetch I have made the changes to https://github.com/phpmyadmin/phpmyadmin/pull/11978 please try it again. @CaptainCyril you might need to download https://github.com/zixtor/phpmyadmin/archive/master.zip again, or you can just replace your js/navigation.js file with https://raw.githubusercontent.com/zixtor/phpmyadmin/master/js/navigation.js

[2016-02-21 17:02] zixtor opened #12004 "Templating getWithSelected() and getCheckbox() in libraires/Util.php"
In libraires/Util.php, make templates from getWithSelected and getCheckbox functions which return HTML and are used in various scripts and other templates as well.
See https://wiki.phpmyadmin.net/pma/Templates
Also, here is an example commit doing similar templating: https://github.com/phpmyadmin/phpmyadmin/commit/39761819c31b89c93bd312a9454178f9f9abb041

[2016-02-21 17:05] zixtor opened #12005 "Templating toggleButton() and getDivForSliderEffect() in libraires/Util.php"
In libraires/Util.php, make templates from toggleButton and getDivForSliderEffect functions which return HTML and are used in various scripts and other templates as well.
See https://wiki.phpmyadmin.net/pma/Templates
Also, here is an example commit doing similar templating: https://github.com/phpmyadmin/phpmyadmin/commit/39761819c31b89c93bd312a9454178f9f9abb041

[2016-02-21 17:06] 007durgesh219 commented on #12004
I'd like to work on it

[2016-02-21 17:07] flash1452 commented on #12004
@zixtor i had like to work on this issue.

[2016-02-21 17:09] flash1452 commented on #12004
@007durgesh219 Either of us should work on issue #12005

[2016-02-21 17:10] zixtor opened #12006 "Templating getRadioFields() and getDropdown() in libraries/Util.php"
In libraires/Util.php, make templates from getRadioFields and getDropdown functions which returns HTML and are used in various scripts and other templates as well.
See https://wiki.phpmyadmin.net/pma/Templates
Also, here is an example commit doing similar templating: https://github.com/phpmyadmin/phpmyadmin/commit/39761819c31b89c93bd312a9454178f9f9abb041

[2016-02-21 17:20] zixtor opened #12007 "Templating Console.php"
Console class needs to be refactored to use templates.

[2016-02-21 17:48] CaptainCyril commented on #11643
I noticed that it is maintaining the filter keyword on Browse and SQL. But my original wish is to work on modifying table structures: add or drop fields which is still not working. I don’t have any views nor functions. I use MyISAM tables only.

From: Atul Pratap Singh [mailto:notifications@github.com]
Sent: Sunday, 21 February, 2016 15:43
To: phpmyadmin/phpmyadmin
Cc: Cyril Joudieh
Subject: Re: [

[2016-02-21 18:26] zaverichintan commented on #11870
I think we might discuss this on mailing list.

[2016-02-21 18:26] 007durgesh219 commented on #12007
@zixtor I think it will be more convenient to put all of the template files in console subdirectory. Should I do that??

[2016-02-21 18:34] flash1452 commented on #12006
I had like to work on this issue.

[2016-02-21 20:24] poush commented on #12005
I am working on this one

[2016-02-22 01:43] flash1452 commented on #12006
PMA_GetRadioFieldsTest::testGetRadioFieldsWithoutBR

     [exec] Failed asserting that two strings are equal.

     [exec] --- Expected

     [exec] +++ Actual

     [exec] @@ @@

     [exec] -'                            <input type="radio" name="test_display_radio"

     [exec] -    id="test_display_radio_value_1"

     [exec] -    value="value_1"

     [exec] -    /><label for="test_display_rad

[2016-02-22 02:28] shuklank commented on #11993
I haven't worked on any issue or enhancement yet. I would like to work on this enhancement :-)

[2016-02-22 02:51] zaverichintan commented on #11993
@udan11 can you please give a example of the implemention

[2016-02-22 03:16] ibennetch commented on #6363
You can't officially be assigned the issue in the tracker because of how Github issue assignment works, but you have announced your intention to work on it and that is as good as being assigned it to me.

[2016-02-22 03:35] ibennetch commented on #11643
Yes, it works for me now off of the updated zixtor/master branch.

[2016-02-22 03:54] Achilles-96 opened #12010 "Feature: Database analyzer"
There are many people who may not have the knowledge of concepts like normal forms and end up creating bad schemas and databases. It will be great to have a database analyzer which can suggest how can a schema be modified in order to reduce redundancies and optimize database usage.

[2016-02-22 06:44] flash1452 commented on #12010
@Achilles-96 I think it can prove to be a good prospect for GSoc 2016.

[2016-02-22 06:58] #11981 closed

[2016-02-22 07:01] nijel commented on #11983
Separate browser window where you could enter SQL query.

[2016-02-22 07:02] nijel commented on #6363
I don't really see how call_user_func() could be used to replace eval here...

[2016-02-22 07:28] #11987 closed

[2016-02-22 07:31] #11962 closed

[2016-02-22 07:50] nijel commented on #12010
There are some features which might help with this already like central columns, but indeed more can be done in this area...

[2016-02-22 08:19] Hansjakobli123 commented on #11983
I just spoke with my people and it seems the feature is mostly missed because if you create very long (screen filling) SQLs you can enter and tweak them on a another screen and you always see the results on your main screen without scrolling all the time. That's why the old query window was quite good for that.

[2016-02-22 09:14] Achilles-96 commented on #12010
@nijel But aren't docs supposed to be in localized_docs repository

[2016-02-22 09:41] rm-km-it opened #12011 "PHP Fatal error: require_once(): Failed opening required './vendor/autoload.php'"
### Steps to reproduce
1.  made a fresh clone of master branch
`git clone https://github.com/phpmyadmin/phpmyadmin.git pmatest`
I have now Git revision: b8c39d4 from master branch
2. open it in the browser
`http://localhost/pmatest/`

### Expected behaviour
You see phpmyadmin

### Actual behaviour
blank page, fatal PHP error with message
` Failed opening required './vendor/autoload.php' (include_p

[2016-02-22 10:15] poush commented on #12011
Run ```composer install```

[2016-02-22 10:37] rm-km-it opened #12012 "Column definition with default value and comment in CREATE TABLE expoerted faulty"
### Steps to reproduce
1. create table:
CREATE TABLE IF NOT EXISTS `t1` (
  `c1` varchar(11) NOT NULL DEFAULT 'test' COMMENT 'xxx'
) ENGINE=MyISAM

2. export it

### Expected behaviour
It should create valid SQL

### Actual behaviour
The exported SQL looks like this

CREATE TABLE `t1` (
  `c1` varchar(11) NOT NULL DEFAULT 'test' AS `COMMENT`
) ;

Tested on http://demo.phpmyadmin.net/master/ Git re

[2016-02-22 10:45] 007durgesh219 commented on #12012
It seems parser don't recognize COMMENT keyword

[2016-02-22 11:02] rm-km-it commented on #12011
Thank you, now it's working :-)

[2016-02-22 11:02] #12011 closed

[2016-02-22 11:34] 007durgesh219 commented on #11966
@nijel I've solved issues with parser and PR is merged.  I think now we can update sql-parser here also so that I can work on this issue

[2016-02-22 12:00] #11865 closed

[2016-02-22 12:05] poush commented on #12007
I am doing this one.

[2016-02-22 12:15] zixtor commented on #12007
templates/console subdirectory should be fine.

[2016-02-22 12:19] 007durgesh219 commented on #12007
@poush I've done some work on it. I think It will be better if only one of us work on it not both.

[2016-02-22 12:21] poush commented on #12007
@007durgesh219 Okay.

[2016-02-22 12:36] zixtor commented on #11643
@CaptainCyril could you please make sure that you are indeed trying the updated zip you downloaded. One way to do it is:-
- open your browser's developer tool (in Chrome pressing F12 should work)
- switch in to 'Sources' tab
- look for get_script.php?.. under js head on the left.
- do Ctrl-F to find "navFilterStateRestore"

If you can't find it loaded, probably you are browsing some other phpmyadm

[2016-02-22 13:03] rm-km-it commented on #12012
it happens only in combination with DEFAULT

[2016-02-22 13:10] nijel commented on #12012
Indeed a parser bug, happens inside parser called from replaceWithAliases.

[2016-02-22 13:19] nijel opened #12013 "Localization of SQL parser messages"
In master the SQL parser is in the separate repository. This makes us unable to directly extract messages for translation from it.

I see few possible options:
1. Make it return only error codes and do the translation to messages in the phpMyAdmin
2. Use localization framework in the SQL parser as well and do the messages translation there
3. Make the text extraction in phpMyAdmin look inside SQL

[2016-02-22 13:23] nijel commented on #12013
I'm pushing (3) solution for now, so that we don't loose the messages from translations, but proper solution should be decided...

[2016-02-22 13:44] #11643 closed

[2016-02-22 14:53] #11915 closed

[2016-02-22 15:03] ibennetch opened #12015 "create-release errors"
[code]

[2016-02-22 15:10] ibennetch commented on #12015
I suppose I need git 2.7.0 (Debian supplies 2.1.4 for my configuration), but I'm not sure if that's also why I get the fatal error about the object name.

[2016-02-22 15:15] flash1452 commented on #11991
@zixtor I have made a new PUll Request regarding this issue.Please Review.

[2016-02-22 15:36] ibennetch commented on #12015
Also, `git cat-file` was introduced in 2.6.3, but that doesn't explain why the `QA_4_5:`*path/file* directive fails.

[2016-02-22 16:36] svivian opened #12017 "Cannot easily select multiple tables when exporting"
### Steps to reproduce
1. Go to database view.
2. Click Export tab.
3. Click "Custom..."
4. Try to select several tables, for example: click on table, hold Shift, click a table further down.

### Expected behaviour
Multiple tables to be ticked.

### Actual behaviour
They aren't ticked. As far as I can tell, there isn't a way to select multiple tables besides (un)ticking every row.

On another note

[2016-02-22 16:49] nijel commented on #11993
I've started to separate the gettext code to separate module, so implementing this might rather go there: https://github.com/nijel/motranslator

[2016-02-23 08:52] udan11 commented on #12012
I will leave this open until library is merged.

[2016-02-23 09:00] #12017 closed

[2016-02-23 09:19] nijel opened #12018 "Replace builtin php-gettext with external library"
I don't think it makes sense to have php-gettext in our code base. It's unmaintained and we tend to need fixes for, so the best approach seems to be to split out this and maintain it separately.

I've tried to look at other existing solutions as well, but all what I was able to find performs way worse than php-gettext and pulls in quite a lot of code. The benchmarks can be found at https://github.

[2016-02-23 09:21] nijel commented on #12015
Oops, I didn't realize I'm pushing that new git features to the script :-(. I can revert the changes back so that it works with older git if needed...

[2016-02-23 09:49] madhuracj commented on #12010
"Improve table structure" functionality that can be found in table structure page allows normalizing. Please have a look at that. Do you see anything else that can be added on top of that?

[2016-02-23 10:11] CaptainCyril commented on #11643
I followed all the instructions for the download and in the developer tool and I am still unable to verify the result. I trust that it is done and will look forward to it when it is available. Thank you :)

[2016-02-23 12:43] azurit opened #12019 "Invalid export"
Create table with a column which has default value AND a comment:

create table `testtable` (`testcolumn` varchar(255) default 'testvalue' comment 'testcomment');

Export it, you will get this:

CREATE TABLE `testtable` (
  `testcolumn` varchar(255) DEFAULT 'testvalue' AS `COMMENT`
) ;

[2016-02-23 13:08] ibennetch commented on #12019
Hi, could you please confirm which version you are using?

[2016-02-23 13:09] azurit commented on #12019
4.5.5

[2016-02-23 13:51] ibennetch commented on #12018
This is great.

It sounds like your intention is to leave it as a library which other projects can use, and which we'll install using Composer, which I agree sounds like the best solution. Nice work.

[2016-02-23 14:33] nijel commented on #12018
Yes, that's the intention. I originally wanted to find replacement which already exists, but there is nothing what would fit.

[2016-02-23 16:25] Achilles-96 commented on #12010
I was talking about something like that. I didn't know we have this feature.

[2016-02-23 18:20] udan11 commented on #12018
This is really nice work. I had the intention to do this as well, but I only got around to fork the repo and nothing more.

[2016-02-23 18:52] nijel commented on #12018
I think the code is more or less ready for being used now, I will try to migrate phpMyAdmin to it in next days...

[2016-02-23 20:20] udan11 commented on #11993
@zaverichintan There are plenty of implementation on StackOverflow. You might want to start there.

[2016-02-23 21:06] madhuracj commented on #12010
I will close the feature request in that case.

[2016-02-23 21:06] #12010 closed

[2016-02-23 21:08] madhuracj commented on #12019
Duplicate of #12012

[2016-02-23 21:08] #12019 closed

[2016-02-23 21:13] madhuracj commented on #11990
Implemented with https://github.com/phpmyadmin/phpmyadmin/pull/11996

[2016-02-23 21:13] #11990 closed

[2016-02-23 21:13] madhuracj commented on #11989
Implemented with https://github.com/phpmyadmin/phpmyadmin/pull/11996

[2016-02-23 21:13] #11989 closed

[2016-02-23 21:13] madhuracj commented on #11988
Implemented with https://github.com/phpmyadmin/phpmyadmin/pull/11996

[2016-02-23 21:13] #11988 closed

[2016-02-23 21:15] madhuracj commented on #11943
Closing due to lack of feedback. Feel free to reopen if required.

[2016-02-23 21:15] #11943 closed

[2016-02-23 23:39] ibennetch opened #12020 "New statement but no delimiter and unexpected token with REPLACE"
As reported at http://stackoverflow.com/questions/35568587/phpmyadmin-4-5-4-unexpected-token-error-in-replace-statement

[code]

This appears to be valid SQL, but phpMyAdmin gives errors based on the delimiter and token problems.

[2016-02-24 04:18] bhagyeshworld opened #12021 "Cookieless Applicatiion Support - PhpMyAdmin"
Hey Guys,

I am a .net user and not that familiar with PhpMyAdmin. I found that PhpMyAdmin doesnt support cookieless browser. I got redirected to below page( see screenshot). I wonder if I miss something here or PhpMyAdmin entirely doesnt support cookieless session. it didnt even successful log me in.
![image](https://cloud.githubusercontent.com/assets/17444649/13275482/86383968-da6a-11e5-9b84-17a

[2016-02-24 05:41] poush commented on #12021
You can always use **config** auth for cookie less browsers
[code]

[2016-02-24 07:54] linuxlovell commented on #6118
thanks www.movied.org

[2016-02-24 08:24] 007durgesh219 commented on #12007
@zixtor Kindly review my PR

[2016-02-24 08:33] 007durgesh219 commented on #11565
I think adding a reload button in place of log out will be a good fix,  Can I work on that??

[2016-02-24 09:51] nijel commented on #12021
Indeed phpMyAdmin doesn't support cookieless browser if you configure it to use cookies. See http://docs.phpmyadmin.net/en/latest/setup.html#using-authentication-modes

[2016-02-24 09:51] #12021 closed

[2016-02-24 13:15] nijel opened #12024 "Better icon for table hiding"
I've always wondered myself why the lightbulb icon is used for hiding, but never cared enough to look at it. But anyway it seems that [I'm not alone][1], so we probably should find something better.

[1]:https://twitter.com/EChan42/status/701972976867086337/photo/1

[2016-02-24 13:31] zaverichintan commented on #11688
http://browsercookielimits.squawky.net/
I don't feel the need to combine various cookies.
Instea I will proceed to make wrapper function to getcookie and change the existing code t use setcookie

[2016-02-24 13:35] #12018 closed

[2016-02-24 14:44] shuklank commented on #11993
couldn't we have semicolon or assignment operator in the statement we have to evaluate? What I found on stackoverflow is this  [http://stackoverflow.com/questions/13681293/how-can-i-incorporate-ternary-operators-into-a-precedence-climbing-algorithm/18910078#18910078]

[2016-02-24 14:51] nijel commented on #11993
I think it's enough to evaluate the expression part, no need to understand semicolon and assignment, these are easy to parse separately (and existing code in [motranslator](https://github.com/phpmyadmin/motranslator/blob/master/src/Translator.php#L120) already does this).

Let's take Arabic as an example - the expression which we need to evaluate is ``(n==0 ? 0 : n==1 ? 1 : n==2 ? 2 : n%100>=3 &&

[2016-02-24 15:04] poush commented on #12024
Why not change all icons with something like fontawesome ?

[2016-02-24 15:06] foundationphp opened #12025 "Import reports false SQL error with MariaDB"
### Steps to reproduce
1. Running phpMyAdmin 4.5.5 with MariaDB 10.1.10.
2. Export a database to a dumpfile.
3. Try to import the same dumpfile to an empty database.

### Expected behaviour
It should be correctly imported.

### Actual behaviour
#1064 - You have an error in your SQL syntax. The location of the error is after an INSERT query, just before a CREATE TABLE query. The syntax is correct.

[2016-02-24 15:09] nijel commented on #12024
That's option as well, but I think it's quite not related. The question what icon should be used for table hiding needs to be solved no matter whether the icon will be PNG, font or [SVG](https://github.com/blog/2112-delivering-octicons-with-svg).

[2016-02-24 15:53] divinoro commented on #12012
Hi, I'm observing very same behavior during table copy (in the UI). Not sure if it's somehow related, but seems to.

[2016-02-24 16:45] zaverichintan commented on #12024
We can change it for sure.  Any suggestions

[2016-02-24 16:56] timecon-gmbh opened #12026 "Queries with UNION may get corrupted when statements are enclosed in round brackets"
### Steps to reproduce
1. Create a table for testing with `CREATE TABLE t (a INT)`
2. Execute the query `(SELECT a FROM t WHERE a=1) UNION (SELECT a FROM t WHERE a=2)`

### Expected behaviour
phpMyAdmin should execute the query.

### Actual behaviour
phpMyAdmin tries to execute `(SELECT a FROM t WHERE a=1) LIMIT 0, 25 UNION (` and fails.

### Server configuration
**Operating system:** Debian GNU/L

[2016-02-24 17:21] zaverichintan commented on #12024
![hide](https://cloud.githubusercontent.com/assets/11918544/13294267/2ddb3cfe-db49-11e5-8068-af184ef34b76.png)
how is this ?

[2016-02-24 18:32] udan11 commented on #12020
I could not reproduce this using the last version of sql-parser.

[2016-02-24 18:55] #11971 closed

[2016-02-24 18:55] #11982 closed

[2016-02-24 18:55] #12020 closed

[2016-02-24 18:58] udan11 commented on #11655
I cannot reproduce this anymore.

[2016-02-24 18:58] #11655 closed

[2016-02-24 19:41] bkdotcom commented on #12024
![](https://cloud.githubusercontent.com/assets/11918544/13294267/2ddb3cfe-db49-11e5-8068-af184ef34b76.png)

has my informal vote

[2016-02-24 20:10] poush commented on #12024
I think having an icon of minus sign will look good

[2016-02-24 20:11] zaverichintan commented on #12024
Minus may seem to be delete

[2016-02-24 20:17] ibennetch commented on #12024
That looks pretty good, though I'd make it lighter (more grey instead of black). What do you propose using for the other half of this set, the icon used on hidden tables?

[2016-02-24 20:22] ibennetch opened #12028 ""ALL" keyword not recognized"
From http://stackoverflow.com/questions/35490422/mysql-all-statement-not-working-in-phpmyadmin

A statement such as
[code]
gives an error about unrecognized keyword and doesn't run properly.

[2016-02-24 20:22] zaverichintan commented on #12024
Sure, grey will look better. To make it hidden -  a grey icon and hidden tables -  black icon.

[2016-02-24 20:25] poush commented on #12024
Then this can be a variant https://www.iconfinder.com/icons/314858/eye_hidden_icon#size=128

[2016-02-24 20:32] zaverichintan commented on #12024
Thanx.  I will continue working on this.

[2016-02-24 22:52] zixtor commented on #12004
Merged https://github.com/phpmyadmin/phpmyadmin/pull/12008

[2016-02-24 22:52] #12004 closed

[2016-02-24 23:08] #11991 closed

[2016-02-25 02:02] brad-jones commented on #12025
I am also having this issue, I am running on Fedora 23.
Also running PHP 7.0.3

**Static analysis:**
2 errors were found during analysis.
* Ending quote ' was expected. (near "" at position 78553)
* 4 values were expected, but found 3. (near "(" at position 11278)

**MySQL said:** #1064 - You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the

[2016-02-25 07:34] poush commented on #12006
@flash1452  I would like to do this if you are no longer working on it.

[2016-02-25 08:31] divinoro commented on #12012
Udan, that commit is not addressing issue described in my last post..

[2016-02-25 09:48] kampalex opened #12029 "4.5.5 ExportSql.class.php incorrect call to SqlParser\Context"
Compared to 4.5.4 a Context option is implemented incomplete causing script to fail when $sql_backquotes is not 'checked' in export table view.

Locally fixed by prepending 'SqlParser\' before Context:: (twice) on line 1557.
`                    Context::$MODE |= Context::NO_ENCLOSING_QUOTES;`
to
`                    SqlParser\Context::$MODE |= SqlParser\Context::NO_ENCLOSING_QUOTES;`

### Steps t

[2016-02-25 09:48] Achilles-96 commented on #12010
We can add one additional feature to this which I thought is already present. But it's not. The feature is that we will identify a column depending on other column from the data already present and suggesting to modify table if in fact that is the case.

[2016-02-25 10:28] princeermes commented on #12025
Hello!
This is my bug:
MySQL a répondu: Documentation

#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '?' at line 2
Thanks to help me

[2016-02-25 11:17] nijel opened #12030 "Do not try to parse git data without gz support"
If PHP doesn't have gz support we still try to parse .git object data and get a failure:

[code]

[2016-02-25 11:31] #12012 closed

[2016-02-25 11:42] zaverichintan commented on #11392
https://benfrain.com/how-to-serve-high-resolution-website-images-for-retina-displays-new-ipadiphone4/

How we can tackle this issue

[2016-02-25 11:45] Achilles-96 opened #12031 "Adding group by functionality in table structure itself."
We know that group by is very frequently used function. So, we can add a small `G` icon beside column name in table itself. On clicking it, a new table is displayed grouped by this column and all the eligible aggregate functions in each column.

[2016-02-25 11:47] flash1452 commented on #12006
@poush I am working on it and i will open a PR soon

[2016-02-25 14:36] shuklank commented on #11993
@nijel Why php-gettext library is removed? I was implementing code for expression evaluator.

[2016-02-25 14:39] nijel commented on #11993
See above comments, it was moved to separate repository - https://github.com/phpmyadmin/motranslator

[2016-02-25 17:00] muhakh commented on #12030
As I understand we need to add an else statement after the elseif in libraries/Config.php line 456 that raises an exception.
Am I right?

[2016-02-25 17:24] nijel commented on #12030
Yes, just add another early return from the function...

[2016-02-25 17:59] zaverichintan commented on #12030
@muhakh are you working on it?

[2016-02-25 19:10] muhakh commented on #12030
Yes

[2016-02-26 02:37] madhuracj commented on #12031
So do you suggest showing columns for combination of all aggregate functions for all eligible columns? That will be quite a lot of columns.
Btw, though not exactly the same, one click aggregator can be found at the table structure page for each column. Look for "Distinct values" link (likely hidden under "More" in "Action" column)

[2016-02-26 07:37] DJCookiez opened #12038 "PHPMyAdmin Error 1045"
So, when i try to login its fine i dont have access to anything, Permission Denied db8542@158.69.120.198 Something like that, i am using tcadmin php that i got when i bought my arma 3 game server, i need to setup databases but i dont know how to get permission.

[2016-02-26 08:25] Achilles-96 commented on #12031
Yes, there will be too many columns if we display all the aggregate functions in one go. But we will display only count(*) initially and rest of columns(which are aggregate functions of some other column) will be based on columns in which user is interested in. We can provide some interface which enables user to do this(may be a drop down above new table).

[2016-02-26 13:25] shuklank commented on #11993
@nijel  I wrote a code which takes expression like one  given in example as string and prints the results. You can find code here : https://github.com/shuklank/testprojects/blob/master/php/gettext_eval.php . I want to know how to integrate this code into main library.  I have only considered plural forms given in the link.

[2016-02-26 15:52] ibennetch commented on #12038
You'll have to ask your hosting provider for the proper username and password to use on your account. We don't have access to your account details.

[2016-02-26 15:52] #12038 closed

[2016-02-26 15:55] ibennetch commented on #12015
After I compiled my own git this seems to work better. I still get a fatal error trying to cat-file a non-existent path, but that's just a matter of the message git prints. I'm closing this since it works fine with a newer git.

[2016-02-26 16:07] Achilles-96 commented on #12031
@madhuracj , Any views?

[2016-02-26 18:32] zaverichintan commented on #11565
We can also have a additional page where the user can setup their credentials and apply them and then reload pma with the updated credentials.
(something like admin panel)

[2016-02-27 20:00] kepi opened #12041 "Missing indexes and constratins in export"
### Steps to reproduce
1. go to any table with indexes and/or foreign keys
2. click export
3. choose SQL format
4. export structure ~~data~~ only (only for convenience)

### Expected behaviour

Export should contain section with Indexes and Constraints as in version 4.5.4 or previous ones.

### Actual behaviour

Export contains only CREATE TABLE part and AUTO_INCREMENT part

### Server configurati

[2016-02-27 22:07] rgb-one commented on #6241
A mobile app would be the best bet I think. A responsive website will require dramatic restructuring of the view code for phpMyAdmin. How about a mobile web app? So whenever the website is loaded on a mobile device, the mobile version of the site is loaded (Try entering <https://github.com> on a mobile device for an illustration). The merits of this is an entirely separate UI code base for the mob

[2016-02-28 13:29] shev72 commented on #11983
I also miss this feature. I can no longer easily test queries quickly and see results in the other window.  This was very useful. Agree that pop up command would be equivalent.

[2016-02-29 04:51] #12005 closed

[2016-02-29 06:56] nisargjhaveri commented on #12013
As we're trying to have the SQL parser independently usable by others too, I don't think (1) is a good idea.

(2) looks like the best solution to me, as it makes the SQL parser have its own translations, and others using SQL parser can also make use of it. But with that, we should find a way to make easy enough for a translator coming through web interface to translate SQL parser too, along with P

[2016-02-29 07:13] zaverichintan commented on #11841
@lem9, can you please elaborate on the scaling problems . I would be interested to resolve the  scaling  problem.

[2016-02-29 07:22] zixtor commented on #12007
Merged https://github.com/phpmyadmin/phpmyadmin/pull/12022.

[2016-02-29 07:22] #12007 closed

[2016-02-29 07:35] dim-d opened #12045 "unrecognized keyword left in where clause #11975 (REMAINS UNSOLVED)"
phpMyAdmin - Version information: 4.5.5 (up to date)

in the phpmyadmin sql interface
trying to select, using the left() function in the where clause
for example
SELECT * FROM table WHERE LEFT(id,1)=1
throws
Unrecognized keyword. (near "LEFT" at position 28)

if it is of any help, version 4.0.10.1 does not have this issue.

[2016-02-29 07:58] domnulnopcea opened #12046 "show database size in the database list page"
Hi,

on the page http://demo.phpmyadmin.net/master-config/server_databases.php?db=&token=adfd9f2e4dcc6ec3260cb5a994142780

show the database size. it will be very helpful

[2016-02-29 08:09] domnulnopcea opened #12047 "Filtering databases on databases listing"
Hi,

in the page http://demo.phpmyadmin.net/master-config/server_databases.php?db=&token=adfd9f2e4dcc6ec3260cb5a994142780 allow searching/filtering by database name

now you can only create a new database

thanks

[2016-02-29 08:54] Achilles-96 commented on #12047
There is a filter in the left panel. You can use that.

[2016-02-29 09:30] domnulnopcea commented on #12047
yes, but doing that I can not see quickly all the information you show on that page, like collation, master replication, size on disk (hopefully)

[2016-02-29 09:44] madhuracj commented on #12046
Click on the `Enable Statistics` link. The size information is not shown by default due to the performance burden.

[2016-02-29 09:44] #12046 closed

[2016-02-29 09:48] nijel commented on #11993
Few thoughts before this can be integrated:

- the code is horribly ineffective, calling substr($str,$i,1) for every comparison really hurts
- you can't rely on ctype extension being available
- it lacks documentation
- the code should be wrapped in a functions or class and do not use global variables

[2016-02-29 09:50] nijel commented on #12015
I think it will break on older releases due to this error, reopening.

[2016-02-29 09:58] 007durgesh219 commented on #12045
@dim-d I think its because table is a keyword.  Try different name for example  ```SELECT * FROM mytable WHERE LEFT(id,1)=1```.  I checked on 4.5.5 it's working fine.  Also, can you try to reproduce it on demo server [here](http://demo.phpmyadmin.net)

[2016-02-29 10:20] nijel commented on #12013
I also think this could be good approach. Once we decide to go with motranslator (see https://github.com/phpmyadmin/sql-parser/pull/35), it will be really easy to implement.

[2016-02-29 10:22] nijel commented on #11841
Synchronization of big databases is always problem - you can not load them into memory to do the comparison. Probably many problems could be avoided with doing more things on the client side, but I still think that synchronizing 1GB database will be challenging.

[2016-02-29 10:47] nijel commented on #12030
Sorry, it seems this error has been already fixed in 91177009afa5e49281ef900f8ffc702aab60e0c4 (issue #11476).

[2016-02-29 10:47] #12030 closed

[2016-02-29 10:54] nijel commented on #12024
Merged https://github.com/phpmyadmin/phpmyadmin/pull/12032

[2016-02-29 10:54] #12024 closed

[2016-02-29 11:02] nijel commented on #12041
I can't reproduce this. Maybe it's specific to table structure you have? Can you please post it here?

[2016-02-29 11:07] 007durgesh219 commented on #12047
@nijel can I start working on it?

[2016-02-29 11:10] nijel opened #12048 "SQL parser doesn't honor vendor config"
[code]

See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=815917

[2016-02-29 11:14] #12048 closed

[2016-02-29 11:14] nijel commented on #12047
Yes :-)

[2016-02-29 11:17] poush commented on #12045
I am not able reproduce it on demo serer ( Considering that "table" is not the actual table name as because this is the reserved keyword in mysql)

[2016-02-29 12:04] nijel commented on #12015
Okay, it's not a problem at all, it's just side effect of the command (in the end, we're checking whether file exists or not).

Currently it's unclear to me whether this is git bug or not, see http://thread.gmane.org/gmane.comp.version-control.git/287819

[2016-02-29 12:09] 007durgesh219 opened #12049 "Enable statistics link is not displaying correctly on database tab"
![error](https://cloud.githubusercontent.com/assets/7701929/13394000/1612c6c6-df0b-11e5-910a-74e51de3058f.png)

[2016-02-29 12:10] #12015 closed

[2016-02-29 12:40] flash1452 commented on #12047
@nijel I would like to work on this may i?

[2016-02-29 12:41] shuklank commented on #11993
@nijel  Thanks for suggestion. Can I improve this code or we have to write fresh code again? I want to know if use of array instead of substr will be effective.

[2016-02-29 13:02] dim-d commented on #12045
![left_c](https://cloud.githubusercontent.com/assets/17293071/13395121/62d33664-def5-11e5-90fa-bc02f26e2e88.jpg)

[2016-02-29 13:34] Achilles-96 commented on #11983
@nijel ,I am working on this feature.

[2016-02-29 13:35] 007durgesh219 commented on #12045
OK I am able to reproduce it.  It's in 4.5.5 release but not in master or any of QA branch. It seems it's solved. We can close it.

[2016-02-29 14:26] ed29 opened #12051 "hhvm high cpu usage"
### Steps to reproduce
1.access phpmyadmin
2.
3.

### Expected behaviour
hhvm show 99% cpu useage for long time,server became slowly.

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:ubuntu 14

**Web server:**nginx  1.4.6

**Database:**marriadb 5.5

**PHP version:**hhvm latest

**phpMyAdmin version:**4.5.5

### Client configuration
**Browser:**

**O

[2016-02-29 14:32] #12051 closed

[2016-02-29 14:54] flash1452 commented on #12047
@nijel I was thinking of applying the filter in javascript by using a plugin.Should i proceed or is there something else you would like to advise.

[2016-02-29 15:21] nijel commented on #11993
Of course you can improve it :-). It doesn't matter if array access of substr call, but once you have dozen of these, it's better to store it as variable ``$current = substr($str,$i,1)``...

[2016-02-29 15:24] nijel commented on #12047
Yes, client side filtering is desirable here. Something like we have for status variables: https://demo.phpmyadmin.net/master-config/server_status_variables.php?token=85edb30dd50549869f4c3da63ad7e3a9

[2016-02-29 15:36] shuklank commented on #11993
thanks for motivation :-)
Here are the changes I'm thinking of
1. the one you said  $current = substr($str,$i,1)
2. use of variable in the string (n). currently I was passing only numbers
3. making code object oriented
4. simple documentation
5. instead of ctype , using comparison for all digits

[2016-02-29 16:04] #12049 closed

[2016-02-29 17:13] 007durgesh219 commented on #12047
I think with this it will be a good idea to allow searching for table name in the list of tables of a particular database. Also filter should not show always but only when it is necessary like in navigation tree it appear only when number of databases or tables is large enough

[2016-02-29 19:05] flash1452 commented on #12006
@zixtor Please review my PR

[2016-02-29 19:52] kepi commented on #12041
Yes, it looks like it is, I probably hit always "wrong" tables when testing.

I found some "parts" causing troubles while I tried to create some simple structure which will help you with reproducing this bug. Check those two files and just diff them, only difference is columns in `customers` table.

* Structure that works OK or almost OK in 4.5.5 http://pastebin.com/Syy28bNV
* Structure that doesn

[2016-02-29 20:16] ibennetch opened #12053 "upload-release error"
`$ ./scripts/upload-release 4.6.0-rc1 release`

During the ssh call to `./bin/sync-files-cdn`, after the file transfer I get this:

[code]

Only some files appear on the download page:
* phpMyAdmin-4.6.0-rc1-all-languages.7z 	6.0 MB 	[PGP] [MD5] [SHA1]
* phpMyAdmin-4.6.0-rc1-all-languages.tar.gz 	9.8 MB 	[PGP] [MD5] [SHA1]
* phpMyAdmin-4.6.0-rc1-all-languages.zip 	10.7 MB 	[PGP] [MD5] [SHA1]
* php

[2016-02-29 20:20] Biziserve opened #12054 "MySQLDump .sql import in v4.5.5 fails becuase of escaped characters"
### Steps to reproduce
1. Do a mysqldump of a database to .sql file. e.g. WordPress
2. Use phpmyadmin to import to an empty database
3. Any table containing \' or \\\' will abort the import process

### Expected behaviour
All tables should be successfully imported into the database.

### Actual behaviour
See attachment for error. Provisionally resolved by reverting to phpMyAdmin v4.4.9 which resol

[2016-02-29 20:22] ibennetch commented on #12053
I re-ran the script manually and it seems to have worked fine the second time.

[2016-03-01 02:52] ibennetch opened #12055 "Parse eror with 4.6.0-rc1 and master"
I guess we'll release an -rc2 tomorrow :)

I guess it's related to this duplication:
[code]

[2016-03-01 03:14] zixtor commented on #12055
Seems like a merge issue in https://github.com/phpmyadmin/phpmyadmin/commit/a29f154f37400264e8b7fbbbf4cf3bf1d046f127

[2016-03-01 07:07] #12055 closed

[2016-03-01 07:10] nijel commented on #12053
Seems that CDN rejected the cache purge for some reason. I think it's correct to just fail in such case. All the sync scripts are safe to be executed multiple times.

[2016-03-01 07:19] nijel commented on #12041
At least there is a bug in the SQL parser: https://github.com/phpmyadmin/sql-parser/issues/39

Maybe other issues as well, but first we need to fix this one.

[2016-03-01 10:07] p-schneider opened #12056 "Invalid data stored in $_SESSION[' PMA_token '] if openssl_random_pseudo_bytes() fails"
### Steps to reproduce
1. run in an environment where the php function [openssl_random_pseudo_bytes()](http://php.net/manual/en/function.openssl-random-pseudo-bytes.php) fails (returns false)
(This happened to me in a chroot envoronment where there was no `/dev/(u)random` using the chroot feature of php-fpm)
2. (Clear cookies from previous sessions)
3. Login to phpmyadmin

### Expected behaviour
I

[2016-03-01 12:47] 2002demon opened #12057 "Click on database name does not work, error: 200, text: OK - only PMA 4.6.0rc1"
### Steps to reproduce
1. Login
2. Click dbname on left side
3. We have error 200, Text:OK

That is new bug in rc1 , 4.6.0alpha is OK.

Console tell us: **Invalid JSON!Unexpected token <**
on get_scripts.js.php?scripts%5B%5D=indexes.js&scripts%5B%5D=common.js&scripts%5B%5D=page_settings.js&scripts%5B%5D=codemirror/lib/codemirror.js&scripts%5B%5D=codemirror/mode/sql/sql.js&scripts%5B%5D=codemirror/

[2016-03-01 14:19] ibennetch commented on #12057
Hi, and thanks for your report.

This appears to be a duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12055 and I expect to release -rc2 later today as a fix.

Thanks again for the detailed report!

[2016-03-01 14:19] #12057 closed

[2016-03-01 14:39] #12056 closed

[2016-03-01 15:02] nijel commented on #12054
Seems to be problem in way we split the SQL query. The problem can be triggered with:

[code]

[2016-03-01 15:13] blasto333 opened #12058 "Escaping insert query results in syntax error in phpMyAdmin-4.5.5.1"
### Steps to reproduce
1. Execute the following sql code via import OR sql tab

[code]

### Expected behavior
Query should complete without error

### Actual behaviour
#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'CREATE TABLE `phppos_register_log` (
  `register_log_id` int(10) NOT NULL AUTO_' at line

[2016-03-01 15:16] ibennetch commented on #12055
I've just released version 4.6.0-rc2 to address this. Thanks.

[2016-03-01 15:16] ibennetch commented on #12057
I've just released version 4.6.0-rc2 to address this. Thanks.

[2016-03-01 15:33] blasto333 commented on #12058
sounds like the same issue at #12054

[2016-03-01 15:33] #12058 closed

[2016-03-01 16:22] rm-km-it commented on #12012
This is still broken with columns type INT and DEFAULT '0'

CREATE TABLE IF NOT EXISTS `t1` (
  `c1` int(11) NOT NULL DEFAULT '0' COMMENT 'xxx'
) ENGINE=MyISAM
yields the following exported SQL
CREATE TABLE `t1` (
  `c1` int(11) NOT NULL DEFAULT '0'COMMENT
) ;

[2016-03-01 16:31] nijel commented on #12013
PR https://github.com/phpmyadmin/sql-parser/pull/35 currently fully implements (2).

[2016-03-01 22:41] 2002demon commented on #12057
Thank You, rc2 is OK.

[2016-03-02 00:13] albino1 commented on #11470
I just stumbled across this Issue page while searching for a solution to this problem.

FWIW, I'm using Firefox 44.0.2 and PMA 4.5.5.  Sometimes it goes away, but other times (like right this moment) I can't seem to get out of it, which is annoying because I have a bunch of newly entered information that hasn't been saved yet.

I'm not a dev, so I'm not sure I can help in any manner other than to

[2016-03-02 00:19] albino1 commented on #11470
Just an update: I was able finally to get back to my work area by dragging a random file and letting it upload.  The screen then went away, and I was able to save my work and then just go delete the uploaded file.

[2016-03-02 04:19] Avinash-acid opened #12059 "[deleted]"

[2016-03-02 04:36] Avinash-acid opened #12060 "[deleted]"

[2016-03-02 04:37] Avinash-acid opened #12061 "CSV Injection On the export Feature of PHPMYADMIN"
The "Export as a CSV" feature of phpmyadmin does not properly "escape" fields. This allows an adversary to turn a field into active content so when we download the csv and opens it, the active content gets executed. Here is more information about this issue:http://www.contextis.com/resources/blog/comma-separated-vulnerabilities/

Mitigation:
Ensure all fields are properly "escaped" before returnin

[2016-03-02 04:45] madhuracj commented on #12059
Please use security@phpmyadmin.net to report security vulnerabilities rather than creating issues.

[2016-03-02 05:04] ibennetch commented on #12053
I was thinking along the same lines, that it seemed to be some odd one-time failure and the second run worked fine, so I'll close this as something we can't reproduce.

[2016-03-02 05:04] #12053 closed

[2016-03-02 05:16] madhuracj commented on #12061
Duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12060

[2016-03-02 05:16] #12061 closed

[2016-03-02 05:29] #12059 closed

[2016-03-02 05:30] #12060 closed

[2016-03-02 11:57] davideradice opened #12062 "Problem upgrading from 4.5.5 to 4.5.5.1 with git branch STABLE"
This version:
[code]

Give me this hint:
[code]

After upgrading with this command:
[code]

I've got the same hint and ChangeLog file show me this:
[code]

Thank you.

[2016-03-02 12:02] aommundsen commented on #12054
Is there any patch to this issue? I just upgraded phpMyAdmin on 5 servers, and this is a major problem for us that nobody can import databases anymore. Please provide a patch or a comment about it, so that I can consider if I should wait or downgrade phpMyAdmin on all my servers.

[2016-03-02 12:08] ibennetch commented on #12062
I missed a step when creating the release (I updated the STABLE branch locally but neglected to push it back to github). The issue should be resolved now, please try again when possible.

[2016-03-02 12:08] #12062 closed

[2016-03-02 12:27] davideradice commented on #12062
Fixed. Thank you very much.

[2016-03-02 12:31] nijel commented on #12054
Related issue in SQL parser code: https://github.com/phpmyadmin/sql-parser/issues/40, though I'm not sure if this is really the one causing troubles here.

[2016-03-02 12:38] aommundsen commented on #12054
Ok. So there is no patch and no milestone. You give me no other choose then to downgrade phpMyAdmin on all my servers.

[2016-03-02 12:39] nijel commented on #12054
I'm working on this, hopefully the patch will be there today.

[2016-03-02 12:40] aommundsen commented on #12054
Thank you! This issue affect a lot of people: http://forum.directadmin.com/showthread.php?t=52790

[2016-03-02 12:41] ibennetch commented on #12062
Great, I'm sorry about the inconvenience. Thanks for your report and confirmation of success!

[2016-03-02 12:44] nijel commented on #12054
Fixed in SQL parser, new parser needs to be included for next 4.6.0 release.

[2016-03-02 12:55] aommundsen commented on #12054
Regarding the patch https://github.com/phpmyadmin/sql-parser/commit/d2e37de1dbec251556f35712bddcd61d24baaee6

I don't find that file BufferedQuery.php in phpMyAdmin 4.5.5.1, so it is not possible to patch current stable version?

[2016-03-02 12:56] aommundsen commented on #12054
Never mind, I found it here: libraries/sql-parser/src/Utils (not same path wich was displayed in the patch), will try to patch it.

[2016-03-02 12:58] nijel commented on #12054
Indeed it's not same path, it library we use for parsing SQL.

[2016-03-02 13:04] aommundsen commented on #12054
Thanks. I have tested the patch, and it works for me. export/import is now working correctly.

[2016-03-02 13:04] #12054 closed

[2016-03-02 13:05] nijel commented on #12054
Thanks for confirmation!

[2016-03-02 13:11] #12028 closed

[2016-03-02 13:51] #12041 closed

[2016-03-02 13:53] nijel commented on #12026
It seems to work better with current SQL parser (the query is executed), but still the parser complains on error on second SELECT.

[2016-03-02 13:55] nijel commented on #12045
Okay, marking as fixed in 4.6.0 as I can not reproduce it there (while indeed its' in 4.5.5).

[2016-03-02 13:55] #12045 closed

[2016-03-02 13:57] nijel commented on #12025
This is same as #12054 which I've fixed today.

[2016-03-02 13:57] #12025 closed

[2016-03-02 14:01] nijel commented on #11776
Seems to be fixed with current parser.

Anyway for next time, please include text version of the failed query as well, it makes it way easier to test :-).

[2016-03-02 14:01] #11776 closed

[2016-03-02 14:02] nijel commented on #11740
Still bug in current SQL parser.

[2016-03-02 19:14] zaverichintan commented on #11688
@nijel  can you please guide me about further?

[2016-03-02 23:12] cmrunton commented on #11434
@madhuracj I was able to install the 4.6.0-RC2 today. I'm now getting a 500 Internal Server Error when I try to access the login page, and the following error thrown in my server logs:

    2016/03/02 23:05:07 [error] 6479#6479: *1265 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Uncaught Error: Call to undefined function __() in /usr/share/nginx/html/logthecrux/admin/phpMyAdmin-4.6.0-rc

[2016-03-02 23:51] madhuracj commented on #11434
@cmrunton Can you try deleting cookies for the site and clearing your browser cache.

[2016-03-03 00:13] cmrunton commented on #11434
@madhuracj No change when I clear caches and delete cookies. Same errors from the server.

[2016-03-03 02:24] ibennetch commented on #11565
Related: #11898

[2016-03-03 02:33] netmou opened #12063 "duplicate a table occur an error,for uft-8?"
CREATE TABLE `shtycxx`.`duty_sample_info` (
  `id` int(11) NOT NULL,
  `title` varchar(32) DEFAULT NULL,
  `diploma_ver` tinyint(4) DEFAULT NULL,
  `addtime` int(11) DEFAULT NULL,
  `deprecated` tinyint(4) DEFAULT NULL COMMENT AS `是否弃用`
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
MySQL 返回： 文档

#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version fo

[2016-03-03 02:36] netmou commented on #12063
right sql like follow:
CREATE TABLE shtycxx.duty_sample_info (
id int(11) NOT NULL,
title varchar(32) DEFAULT NULL,
diploma_ver tinyint(4) DEFAULT NULL,
addtime int(11) DEFAULT NULL,
deprecated tinyint(4) DEFAULT NULL COMMENT '是否弃用'
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

[2016-03-03 07:10] ishahriyar opened #12064 "Cross-site scripting (XSS) vulnerability in phpMyAdmin Version 4.5.4.1"
Cross-site scripting (XSS) vulnerability in phpMyAdmin Version 4.5.4.1
### Steps to reproduce
1.Login phpmyadmin with your username & password
2.Now select "SQL" and paste your xss payload.
3.Then click the "Go" button

You will see the message will be popped up with cookie.
Video link: https://www.youtube.com/watch?v=0jjnlpSGB1Y

**PHP version:**
5.5.9-1ubuntu4.14
**phpMyAdmin version:**
4.5.4.1

[2016-03-03 07:45] nijel commented on #12064
This has been already fixed, see https://www.phpmyadmin.net/security/PMASA-2016-11/

[2016-03-03 07:45] #12064 closed

[2016-03-03 07:47] nijel commented on #12063
Duplicate of #12041.

[2016-03-03 07:47] #12063 closed

[2016-03-03 08:47] rm-km-it opened #12065 "INT column with default value and comment exported faulty"
This is essentially the same as #12012 , but with different column type

CREATE TABLE IF NOT EXISTS t1 (
c1 int(11) NOT NULL DEFAULT '0' COMMENT 'xxx'
) ENGINE=MyISAM

yields the following exported SQL

CREATE TABLE t1 (
c1 int(11) NOT NULL DEFAULT '0'COMMENT
) ;

[2016-03-03 09:34] nijel commented on #12065
It works correctly with current parser, it was same fix as for #12012

[2016-03-03 09:53] rm-km-it commented on #12065
No, it is still broken, otherwise I wouldn't hove opened a ne issue. Please have a look at this dump. ou can see that #12012 works, but the table described here still fails
[code]

[2016-03-03 10:31] divinoro commented on #12012
CREATE TABLE `ADMIN__preklady_log` (
  `kluc` varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT ''COMMENT
)

..stil failing to export

[2016-03-03 10:32] divinoro commented on #12065
I can confirm the problem:

CREATE TABLE `ADMIN__preklady_log` (
  `kluc` varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL DEFAULT ''COMMENT
)

[2016-03-03 10:38] nijel commented on #12065
True, I've overlooked the error....

[2016-03-03 10:39] azurit commented on #12012
version 4.5.5.1 still broken, table definition with failing export:

[code]

[2016-03-03 12:16] nijel commented on #12047
Implemented by https://github.com/phpmyadmin/phpmyadmin/pull/12052

[2016-03-03 12:16] #12047 closed

[2016-03-03 14:52] Mediaf opened #12066 "Impossible to copy a database over an existing database"
### Steps to reproduce
1. choose a database
2. select Operations, Copy database to:, enter the second database name
3.check Structure and data, check Add DROP TABLE / DROP VIEW
click on "Go"

### Expected behaviour
The source database should be copied over the destination database

### Actual behaviour
Error :  MySQL said: Documentation #1050 - Table 'xxx' already exists
but as "Add DROP TABLE / D

[2016-03-04 03:30] devenbansod commented on #12066
Hi @imankulov , please update your phpMyAdmin version and try again.
The version you mentioned in the report is not supported now.

[2016-03-04 03:30] #12066 closed

[2016-03-04 05:12] 007durgesh219 commented on #12047
@nijel what about filtering tables in particular database??. Sometime in a database there could be lots of tables and user might want to search for specific. I think we should add search for that too

[2016-03-04 07:32] nijel commented on #12047
Indeed that could be useful as well.

[2016-03-04 07:57] 007durgesh219 commented on #12047
OK I'd like to work on that. Should I open new issue or we can reopen this and work ??

[2016-03-04 08:02] nijel commented on #12047
Probably separate issue is better.

[2016-03-04 08:56] Kirkis commented on #11470
@albino1 thanks for the tip!

[2016-03-04 11:43] k-gun opened #12067 "Adding "JSON" option to dropdown"
Hi,

We see that MySQL start JSON data with latest (5.7) version as well and I think time to add JSON `<option>` to the column creator/editor page under the **Type** field (tbl_structure.php?db=...).

`CREATE TABLE foo (id INT, foodoc JSON);`

Link: https://dev.mysql.com/doc/refman/5.7/en/json.html

Here the details on my PC.
[code]

[2016-03-04 12:29] nijel commented on #12067
Already implemented for 4.6.0, see #11438

[2016-03-04 12:29] #12067 closed

[2016-03-04 16:31] Uccio commented on #12012
Same problem in  4.6.0-rc2

[2016-03-04 16:32] Uccio commented on #12065
Same problem in 4.5.5.1, 4.6.0-rc2

[2016-03-04 20:01] ELyukio opened #12068 "Its impossible to export a database"
### Steps to reproduce
1.Acces to database amespre_wp2015
2.Try the export button
3.Thats all the page keep processing

### Expected behaviour
It is suposse to download my database

### Actual behaviour
It does nothingServidor: Localhost via UNIX socket
Tipo de servidor: MySQL
Versión del servidor: 5.5.48-cll - MySQL Community Server (GPL)
Versión del protocolo: 10
Usuario: amespre_amespre@localho

[2016-03-04 23:15] 007durgesh219 opened #12069 "Filtering tables on table listing of particular database"
Sometimes there could be a large number of tables in a database So, there should be an option to search for the specific table.

Please see #12047 .

[2016-03-05 16:19] nisargjhaveri opened #12070 "Can we get rid of `odd` and `even` classes in tables?"
Can we get rid of the `odd` and `even` classes we use to style table rows? We seem to spend a lot of efforts handling that throughout the codebase.

Realized while looking at https://github.com/phpmyadmin/phpmyadmin/commit/d798809215c3147150dad12a14a3f049db3bbea4#diff-ec96a27edeea8db227299965812df402R176.

Alternative is to use `:nth-child([odd|even])` pseudo selector. Looks like it is well suppor

[2016-03-05 16:24] ibennetch commented on #12070
I haven't looked through all the code on this, there might be an edge case or two where this wouldn't fit well — but short of anything like that, I think this is a great idea.

[2016-03-05 17:38] nijel commented on #12070
I think it's reasonable move. This comes from times this was not possible to achieve using CSS.

[2016-03-06 02:06] ibennetch opened #12071 "Parser error on invalid ordering of LIMIT and FROM"
Here's some weird syntax error, it works as expected on the MySQL command line. The error reported is:
[code]

From the SQL Fiddle at http://sqlfiddle.com/#!9/07402/2

Originally reported at http://stackoverflow.com/questions/35667444/mysql-pivot-table-working-in-sqlfiddle-but-not-working-in-phpmyadmin

The statements causing the error are:
[code]

From table structure:
[code]

Tested with 4.6.0-r

[2016-03-06 08:29] casterln opened #12072 "database copy and export creating bad SQL"
### Steps to reproduce
1. select database
2. operations -- copy database (or just export database)
3. GO

### Expected behaviour
Expect copy operation to complete without errors.
Or Export to create clean sql that will later be importable

### Actual behaviour
The copy fails, complaining about sql syntax:
#1064 - You have an error in your SQL syntax;
#check the manual that corresponds to your Mari

[2016-03-06 08:36] nijel commented on #12072
Duplicate of #12065

[2016-03-06 08:36] #12072 closed

[2016-03-06 16:34] divinity76 opened #12073 "a bunch of problems with "SELECT (long) @@SQL_MODE;""
when the sql_mode is too long, for instance, if you set sql_mode to "traditional", which is an alias for
"STRICT_TRANS_TABLES,STRICT_ALL_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,TRADITIONAL,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION",
then go to phpmyadmin, and query
SELECT @@SQL_MODE;
it will show you only: "STRICT_TRANS_TABLES,STRICT_ALL_TABLES,NO_ZERO_IN_D..." (it ends wit

[2016-03-06 16:42] divinity76 commented on #11805
i can no longer reproduce on PMA 4.5.5.1, i guess it got fixed :)
 i guess we can close this issue then?

### Server configuration
**Operating system**:
Debian 8 32bit,  3.16.0-4-686-pae , fully updated 2016-03-06

**Web server:**
nginx/1.8.1 , 1.8.1-1~dotdeb+8.1

**Database:**
Server type: MySQL
Server version: 5.5.47-0+deb8u1 - (Debian)

Database client version: libmysql - mysqlnd 5.0.12-dev - 2

[2016-03-06 17:02] nijel commented on #11805
Thanks, closing. Most likely this was fixed in SQL parser...

[2016-03-06 17:02] #11805 closed

[2016-03-06 21:06] gavrochel opened #12074 "Invalid export"
### Steps to reproduce
1. Export database
2. Import the previous exported database

### Expected behaviour
Import should be succesfull

### Actual behaviour
I get this error:
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */
MySQL said:
#1231 - Variable 'character_set_client' can't be set to the value of 'NULL'

### Server configuration
**Operating system**:
Xampp on Windows 10 Home X

[2016-03-06 23:24] tamaskan opened #12075 "Info: Blank Login Page and URL-Query-Sorting"
If you use url-query-sorting (e.g. varnish), get_scripts.js.php creates the wrong order, leading to a "$ is undefined"-error.

best regards

[2016-03-07 06:10] divinity76 commented on #12073
also, the result seems to be embedded 9 times in the response message, which looks like an unrelated issue of wasting bandwidth..

[code]

[2016-03-07 08:12] zixtor commented on #12075
@tamaskan As things currently are, query params order is important here, so it's not desirable to sort it. About caching, for get_scripts.js.php, it appears that cache-control is [private](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9.1) (https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/session.inc.php#L67)

Nevertheless, if this request is to be cached, it seems to

[2016-03-07 15:37] thezoggy opened #12076 "phpmyadmin export invalid - COMMENT AS"
### Steps to reproduce
1. Have a comment on a field with default null
2. Export with phpmyadmin

### Expected behaviour
[code]

### Actual behaviour
[code]

### Server configuration
**Operating system**: Ubuntu 14.04 LTS

**Web server:** Apache 2.4.7

**Database:** mysql 5.5.47

**PHP version:** 5.5.9

**phpMyAdmin version:** 4.5.5.1deb1.trusty~ppa.1

### Client configuration
**Browser:** Firefox

[2016-03-07 15:53] thezoggy opened #12077 "phpmyadmin export invalid - Missing ENGINE/CHARSET/COLLATE"
### Steps to reproduce
1. Export database (structure only or with data), something happens that causes table options line to go missing after a few tables... When whatever breaks it also causes Constraints not to export.
Previous phpmyadmin exports shows it there, something changed.. looking at the structure in the db I see the data is there just not being exported.

### Expected behaviour
[code]

[2016-03-07 16:08] nijel commented on #12076
Already fixed for 4.6.0, see https://github.com/phpmyadmin/sql-parser/issues/39

[2016-03-07 16:08] #12076 closed

[2016-03-07 16:08] thezoggy commented on #12077
just tried mysqldump, the data is there with that:
[code]

[2016-03-07 16:09] nijel commented on #12075
Sorry, but I don't think this is bug in phpmyadmin. In this particular case it depends on the ordering as the scripts has to be loaded in order.

[2016-03-07 16:09] #12075 closed

[2016-03-07 16:10] thezoggy commented on #12076
sweet thanks!

[2016-03-07 16:10] nijel commented on #12074
What phpmyadmin version is that? Any recent phpMyAdmin version requires at least MySQL 5.5.

[2016-03-07 16:13] nijel commented on #12068
What phpMyAdmin version do you use? Can you please provide structure of the failing database?

[2016-03-07 16:17] nijel commented on #12077
This really looks same as #12065.

[2016-03-07 16:17] #12077 closed

[2016-03-07 16:19] thezoggy commented on #12077
it does.. sorry i couldnt find this issue when searching issues before posting

[2016-03-07 16:24] nijel commented on #12065
The export is correct in current QA_4_6, so it was indeed already fixed. You can try here: https://demo.phpmyadmin.net/QA_4_6/

[2016-03-07 16:24] #12065 closed

[2016-03-07 16:24] nijel commented on #12065
I've also added testcase based on this to SQL parser.

[2016-03-07 16:25] nijel commented on #12077
No problem, it's sometimes tricky to find such bugs by searching...for.

[2016-03-07 21:26] gavrochel commented on #12074
Version information: 4.5.1, I have updated my original post.

[2016-03-07 21:27] nijel commented on #12074
Can you please try with 4.5.5.1? There have been quite a lot of fixes. Alternatively you can provide the dump so that we can test ourselves.

[2016-03-07 21:49] gavrochel commented on #12074
Can't attach zip dump. It said: Unfortunately, we don’t support that file type.  Choose Files Try again with a PNG, GIF, JPG, DOCX, PPTX, XLSX, TXT, PDF, or ZIP.
Here is full sql dump:

--
-- Database: `evanzari_estetic`
--
CREATE DATABASE IF NOT EXISTS `evanzari_estetic` DEFAULT CHARACTER SET utf8 COLLATE utf8_general_ci;
USE `evanzari_estetic`;

-- -----------------------------------------------

[2016-03-07 22:01] gavrochel commented on #12074
I have tried version 4.5.5.1 but because of bug: https://github.com/phpmyadmin/phpmyadmin/issues/12012
I have moved back to 4.5.1

[2016-03-08 02:57] ktwalrus opened #12078 "Add support for JSON data type (in MySQL 5.7)"
I'm using phpmyadmin 4.5.4.1 and don't see JSON as a possible data type when adding columns. I added the column using SQL which worked, but get a backtrace if I try to change an existing JSON column.

I'm reporting this just in case it hasn't been fixed in the latest version...

[2016-03-08 04:08] madhuracj commented on #12078
Support for JSON types is available in upcoming 4.6.0 release. 4.6.0 is in rc2 now (available at https://www.phpmyadmin.net/downloads/) and you can expect the release soon.

[2016-03-08 04:08] #12078 closed

[2016-03-08 04:19] madhuracj commented on #12074
Looks like the some part of your export (at the very beginning) is missing. It's missing the following part.
[code]

You can try adding it at the very beginning to see if that helps. Can you also confirm whether a new export is missing the same part?

[2016-03-08 04:28] madhuracj commented on #12073
Just above the results table, you will see a link named `Options` which will slide down to show more options upon clicking. Select `Full texts` from there and click Ok.
Alternatively, you can click on the `<-T->` sign at the top left corner of the results table to achieve the same.

[2016-03-08 05:09] #12073 closed

[2016-03-08 05:31] madhuracj commented on #12071
The query works if you move `FROM mk` before the `LIMIT` clause. Even though the it works on MySQL in the current format, I am not sure whether it should looking at the syntax of `SELECT`. http://dev.mysql.com/doc/refman/5.7/en/select.html

[2016-03-08 05:33] madhuracj commented on #12070
+1

[2016-03-08 05:43] madhuracj commented on #12031
So the initial one would be similar to `Distinct values` and the addition would be the interface to add more columns to the aggregation and select the aggregation function? Well, it would be interesting to see how the UI would be presented and accessed from. Especially, whether it can be done without cluttering the `Browse` view.

[2016-03-08 05:44] gavroche76 commented on #12074
All exports have the same problem.
If I remove theese lines it works:

/!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS /;
/!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;

[2016-03-08 05:58] devenbansod commented on #12074
Possibly related to #9887 ?

[2016-03-08 06:15] madhuracj commented on #12074
@devenbansod I doubt. https://github.com/phpmyadmin/phpmyadmin/issues/9887 occurs when the export is large and has to be submitted multiple times.

[2016-03-08 08:21] rm-km-it commented on #12065
But it is not working in master!

[2016-03-08 08:25] nijel commented on #12065
That's true, because fixed sql-parser was not yet released. @udan11 maybe it's time to do that or do you want to incorporate more fixes?

[2016-03-08 14:16] nijel opened #12079 "Consistent header manipulation and testing"
Currently we need runkit to do testing of some `header()` calls and intentionally skip some of them when running in testsuite.

These should be replaced by `Response::header()` and tests should be adjusted to mock this method.

For example this has been already done for cookie auth in 2148e7cad879a9edbc6a82ab03115cd0957f9bee

[2016-03-08 17:51] pierol commented on #11705
Same error for me too:
Windows 7 SP1 x64
MySQL Server version: 5.6.28
PHP version: 5.6.18
PHPMyAdmin Version information: 4.5.5.1 (up to date)
switching from Italian to English and it solves the problem.
I tried to log the php errors to a file but it didn't generate the file so i guess there aren't php error at all. Even from the Chrome Developer Console the ajax call return code is 200 but the re

[2016-03-08 17:57] steveduke opened #12080 "Parse error using subquery in from list"
### Steps to reproduce
SELECT usersA.firstname, usersA.userID
FROM usertable usersA , (	SELECT min(dateadded), userID FROM usertable WHERE firstname = 'steve') AS firstperson
Where usersA.userID = firstperson.userID

### Expected behaviour
Should parse

### Actual behaviour

Since upgrading to phpmyadmin version 4.5.5.1

The following errors:
An expression was expected. (near ()
Unexpected token.

[2016-03-08 21:01] OlafvdSpek opened #12081 "Space Usage alternating rows wrong when overhead is present"
When overhead is present, the Overhead and Effective rows in the Space Usage table on the Structures page have the same background color.

pMA 4.5.4.1deb2

[2016-03-08 21:04] OlafvdSpek commented on #12070
Is alternating row coloring still a good idea?
I think it went out of fashing a decade ago. ;)

[2016-03-08 23:21] Volvoxpl opened #12082 "Exporting with ARCHIVE engine - index problem"
### Steps to reproduce
1. Create table with ARCHIVE engine and INDEX:

    CREATE TABLE \`archive\` ( \`id\` INT NOT NULL AUTO_INCREMENT , \`name\` VARCHAR(50) NOT NULL , PRIMARY KEY (\`id\`)) ENGINE = ARCHIVE;

2. Export table to file (ordinary SQL file)
3. Try to import table from file

### Expected behaviour
I should get this same table as it was before exporting (with INDEX / PRIMARY_KEY)

###

[2016-03-09 04:21] zhengkai opened #12083 "mb_ereg_replace function was removed"
I found it in `libraries/tbl_columns_definition_form.inc.php`, line `304`, version `4.6.0-rc2`

`mb_ereg_replace('[\w\W]character set[\w\W]*', '', $type)`

please replace it with `preg_replace`, thanks

[2016-03-09 08:01] nijel commented on #12083
It' not ``ereg_replace``, but ``mb_ereg_replace`` which is neither deprecated nor removed, see http://php.net/manual/en/function.mb-ereg-replace.php

But anyway the regex looks wrong, so I'm going to adjust it anyway, so thanks for bringing my attention to this line.

[2016-03-09 08:02] #12083 closed

[2016-03-09 08:06] nijel commented on #12080
Confirmed with latest parser.

[2016-03-09 08:13] #12081 closed

[2016-03-09 08:16] nijel commented on #12070
I think it makes it easier to read, but this is something what can be done purely in CSS now.

[2016-03-09 10:20] nijel commented on #11705
Okay I've played a bit with this and the problem seems to be [here](https://github.com/phpmyadmin/phpmyadmin/blob/master/libraries/Index.php#L701):

[code]

Adding additional ``x`` between "fixes" it:

[code]
However I have still no clue **why** this fails at json encoding on Windows, but it looks like some strange PHP bug to me.

The translation also [doesn't look problematic](https://github.com/

[2016-03-09 10:43] fstrazzante commented on #11705
Could be 'à' of 'Cardinalità' ?

[2016-03-09 10:48] nijel commented on #11705
Yes it is, but that doesn't explain why adding x in between fixes it. This really seems like a PHP bug...

[2016-03-09 11:02] nijel commented on #11705
The problem is not the ``à`` itself, the problem is combination with ``</``. It makes the json module unable to decode it as utf-8 string. Calling mb_detect_encoding on the same string returns UTF-8...

I really ran out of ideas, so I've workarounded this problem, hopefully it won't appear again somewhere else. I've also added code to tell proper error message in this case, so that debugging it wi

[2016-03-09 11:58] bertrooode opened #12084 "1064 error when importing a wordpress sql-file"
### Steps to reproduce
1. Install latest version of Wordpress
2. Export the database
3. Create a new databse or empty the one you exported from
4. Import the sql-file you just exported -> error 1064

### Expected behaviour
The file should be loaded into the database without any problems when the databse is empty.

### Actual behaviour
The process aborts with error code 1064 because in the export f

[2016-03-09 12:40] svivian commented on #11434
I'm also using 4.6-rc2. Now getting a different error, in the same "conditions" as the previous bug. (For reference, the condition is when the session times out and PMA auto logs out.) The error is:

[code]

That's PMA outputting the error, not PHP itself (I have xdebug so PHP errors show with that orange table.)

Apache 2.4.16 on OSX
PHP 5.5.30
MySQL 5.6.13
Git revision: 0fc00c0

[2016-03-09 13:11] nijel commented on #12084
This seems to be same issue as 12054, should be fixed in next 4.6.0 rc.

[2016-03-09 13:11] #12084 closed

[2016-03-09 23:47] OzPenguin opened #12085 "Like search strings being escaped incorrectly"
While trying to search for row with a column containing ".0%"
I got a very strange SQL translation

### Steps to reproduce
1. goto Search tab of a table
2. on a varchar type column, select LIKE and enter the text "%.0\%%" (excluding the quotes)
3. hit search GO button

### Expected behaviour
SQL Query should look like:
`SELECT *
FROM TableName
WHERE ColumnName LIKE '%.0\%%'
LIMIT 0 , 30`

### Actu

[2016-03-10 08:18] #12085 closed

[2016-03-10 11:52] mikeross6233m opened #12086 "Phpmyadmin SQL dump is not working properly in version 4.5.5.1"
### Steps to reproduce
1.Export any joomla or moodle (maybe even Wordpress database) from phpmyadmin 4.5.5.1(as I was testing on Joomla Site).
2.Now create a sample database and Import the sql file.
3.You will see error on import "#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ')' at line joomla"

### Ex

[2016-03-10 18:14] svivian commented on #11434
Update: strangely this issue is only occurring in Google Chrome, and not in Firefox. In FF it auto-logs out just fine. So many it's a problem with the JavaScript? Or Chrome is doing something else weird when the session times out.

[2016-03-11 00:32] paullupa opened #12087 "Unable to "set session sql_mode = '...'"
Is it possible to set the  session sql_mode ?

### Expected behaviour
Session variable should be settable (for this user and database combination) without setting it globally in the database.

### Actual behaviour
Only able to set it globally (which requires "super"

### Server configuration
Red Hat Enterprise Linux Server release 6.6 (Santiago)

**Web server:**
	Apache/2.2.27 (Unix) PHP/7.0.4 mod

[2016-03-11 09:51] GreenRover opened #12088 "Improper comment creation and escaping with Percona 5.7 (` instead of ', extra "AS")"
If export a table structure i get:

[code]

but it should be:

[code]

phpMyAdmin dont export valid SQL.
Even if i choose to use mysql4 compatibility.

Dont use the  AS  and use single quotes insted of backticks.

### Server configuration
Server version: 5.7.10-3-log - Percona Server (GPL), Release '3', Revision '63dafaf'
Database client version: libmysql - 5.5.47
PHP version: 5.5.9-1ubuntu4.14
ph

[2016-03-11 19:44] kzalewski commented on #11653
I can confirm that the redirect loop bug is fixed in 4.6-rc2.

[2016-03-11 19:44] kzalewski commented on #11412
Confirmed fixed in 4.6-rc2.  Thank you.

[2016-03-11 20:23] ibennetch commented on #11412
Excellent! Thanks for the confirmation.

[2016-03-12 02:15] dotku opened #12089 "Multiple server doesn't work?"
0
down vote
favorite
I have several servers, I setup the configuration like this, for examples:

[code]
then I use loop to duplicate the settings

[code]
the page was successfully load on http://localhost/phpmyadmin with drop down select menu, but when I click "Go" for login, nothing happens. Is there any configuration I'm missing?

P.S., I did use manually input the login information, and it work

[2016-03-12 16:22] ibennetch commented on #12089
This should work fine, since of course PHP is just using one variable to point to another, and in fact it works okay for me testing just now.

At first I thought there might be trouble because you're making the outer array a string instead of an integer (`'1'=>array` instead of `1=>array`), but in my tests this made no difference due to PHP's type conversion.

I wonder what `print_r($hosts);` and

[2016-03-12 22:13] manusfreedom opened #12090 "Export script invalid structure with 4.5.5.1 (ok with 4.5.5)"
### Steps to reproduce
1. Import attached script (generated by mysqldump) with mysql
2. Export with phpmyadmin
3. All tables with following string are all invalid (missing column and CREATE not correctly ended): DEFAULT '0'COMMENT

### Expected behaviour
Good export script for CREATE TABLE

### Actual behaviour
Broke CREATE TABLE

### Server configuration
**Operating system**: Ubuntu 14.04

**Web

[2016-03-12 22:29] manusfreedom commented on #12090
Same as https://github.com/phpmyadmin/phpmyadmin/issues/12086 but I added a DB structure to test.
And it seem to impact InnoDB tables but not MyISAM tables.

[2016-03-13 01:27] YoussefE123 commented on #12086
I noticed the same issue even with the latest version 4.6.0-rc2 before I switch to v4.5.5.1;
among the things that were omitted :

1. if there is a comment, you get something like
`'column' int(1) NOT NULL DEFAULT '0'COMMENT) `

2. **ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;**
is also removed from the end of the table creation;

also, there is an issue with quotes in the data :
`I

[2016-03-13 04:41] madhuracj commented on #12090
Looks like this is already fixed targeting upcoming 4.6.0 release. Fixed in https://github.com/phpmyadmin/sql-parser/commit/ad0e75faa6f6943d013f23d0d1ca31b4781e7b79

[2016-03-13 04:41] #12090 closed

[2016-03-13 23:40] 2002demon opened #12091 "Import file does not working when data have \' (4.6.0rc2)"
### Steps to reproduce
1. insert data like:
**INSERT INTO `table` (`user`) VALUES ('data\'data');**
2. export table
3. import table => Error in SQL syntax
Also, import correct sql files with quoted apostrophe (\') is not possible.
Please fix this.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Server configuration
**Operating system**:

*

[2016-03-14 02:25] ibennetch commented on #12020
Also reported at http://stackoverflow.com/q/35608945/2385479 for version 4.5.1, but was already fixed by at least 4.5.5.1 (maybe earlier, I didn't test extensively).

[2016-03-14 02:39] ibennetch commented on #12091
I'm not able to reproduce this. For instance, this is a portion of my export file that also imports correctly:

[code]

Can you post here a small export showing your data?

[2016-03-14 02:43] ibennetch opened #12092 "Rename exported databases/tables doesn't seem to work"
### Steps to reproduce
1. From the Export page, select the checkbox for "Rename exported databases/tables/columns"
2. Rename some things (database, table, and column names)
3. Export the file, then see that it exported with the original names, not the modifications

### Server configuration
**Operating system**:
Debian
**Web server:**
Apache 2.4.10
**Database:**
MySQL 5.5.47-0+deb8u1
**PHP version

[2016-03-14 02:53] ibennetch commented on #12088
I'm not able to reproduce this with phpMyAdmin 4.5.5 or 4.6.0-rc2 running under MySQL 5.5.

I wonder if this comes from Percona itself. Can you show the output of running ``show create table `address`; `` from the command-line client?

[2016-03-14 08:21] 2002demon commented on #12091
Ok, i experimented now and to reproduce this bug, you need any sql line after INSERT, see at the bottom.
I think there was fixed here, but is not in rc2 included:
https://github.com/phpmyadmin/phpmyadmin/commit/fe4a3e8727164ceded739387c16f49bd2987431c

To reproduce copy in a file and import this:
`DROP TABLE IF EXISTS `ftps`;
CREATE TABLE `ftps` (
  `user` varchar(10) NOT NULL,
  `ftpuser` varchar

[2016-03-14 08:46] GreenRover commented on #12088
Percona works well:

[code]

Returns:
[code]

[2016-03-14 09:01] namanipradeepkumar opened #12093 "Trash for Phpmyadmin"
Why can't we have a trash for phpmyadmin?

We as a humans, commonly do mistakes. Sometimes, We delete records of tables unexpectedly. When we want to revert it back, it is not possible in current version of phpmyadmin.

So, my idea is to develop, a trash for phpmyadmin. By that, if we delete records unexpectedly, we can retrieve it back.

If you need more explanation, Please comment. I will try to

[2016-03-14 09:11] madhuracj commented on #12088
Duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12076

[2016-03-14 09:11] #12088 closed

[2016-03-14 09:14] madhuracj commented on #12091
Duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12054

[2016-03-14 09:14] #12091 closed

[2016-03-14 09:18] madhuracj commented on #12093
phpMyAdmin is only a web interface to MySQL database server. I think this feature belongs to MySQL server itself.

[2016-03-14 09:23] madhuracj commented on #12086
@YoussefE123 The issues highlighted in you comment have been reported in https://github.com/phpmyadmin/phpmyadmin/issues/12090 and https://github.com/phpmyadmin/phpmyadmin/issues/12054. They have been fixed targeting the upcoming 4.6.0 release.

@mikeross6233m It is possible that one of the two bugs (or both) are causing the issues for you. Can you attach a small export we can use to recreate the

[2016-03-14 09:26] madhuracj commented on #12090
Duplicate of https://github.com/phpmyadmin/sql-parser/issues/39

[2016-03-14 09:28] madhuracj commented on #12086
Likely a duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12084

[2016-03-14 11:16] #12092 closed

[2016-03-14 12:25] foundationphp commented on #12086
This is still a problem in 4.6.0-rc2. I exported a database from MariaDB 10.1.10 using 4.6.0.-rc2, renamed the original database, and used the dump file to import it. It choked on the first table (arrangements).

Dump file attached.
[hanselandpetal.sql.txt](https://github.com/phpmyadmin/phpmyadmin/files/171915/hanselandpetal.sql.txt)

[2016-03-14 12:48] foundationphp commented on #12086
Just done some further testing. Used mysqldump to export the same database on the command line, then tried importing using phpMyAdmin 4.6.0-rc2. The same error occurred.

One of the records contains the HTML character entity for an em dash (&mdash;). It looks as though phpMyAdmin is incorrectly interpreting the semicolon in the character entity as the end of an SQL statement. The dump files create

[2016-03-14 14:22] monojp opened #12094 "PHP Fatal error: Call to undefined function __() in <rootdir>/libraries/sanitizing.lib.php on line 135"
### Steps to reproduce
1. We need to be logged-out
2. Login with pre-selected database and table via POST
3. PHP Fatal error on CSS file after successful login and redirect

### Server configuration
**Operating system**: CentOS 6-7

**Web server:** Apache 2.2.15

**Database:** MySQL 5.5

**PHP version:** 5.6.17

**phpMyAdmin version:** 4.6.0-rc2

### Client configuration
**Browser:** Chromium 49.0

[2016-03-14 14:22] ibennetch commented on #12086
I've reduced your uploaded .sql.txt file to the following problematic SQL statement:

[code]

But I don't see anything obviously wrong here.

[2016-03-14 14:25] ibennetch commented on #12092
Thanks Madhura! Fix confirmed.

[2016-03-14 14:39] foundationphp commented on #12086
@ibennetch I've just tried loading your reduced version into the DB. The error is triggered, as noted in my second post, by the semicolon at the end of the HTML character entity &amp;mdash;. It seems as though phpMyAdmin is treating the semicolon as ending the query, so it's presumably complaining that there's no closing quote for the string. However, the semicolon is part of the string, not the e

[2016-03-14 15:05] gugglegum opened #12095 "Incorrect table export, invisible foreign keys (4.5.5.1 & 4.6.0-rc2)"
Possible duplicated, but I believe my explanation is more detailed.

### Steps to reproduce
1) Create table from this SQL-dump:

[code]

2) Try to export this table

### Expected behaviour
It's should be correct SQL-dump.

### Actual behaviour
It generates incomplete invalid SQL dump, which cannot be imported (syntax error):

[code]

As you can see, PMA uses backtick quotes like "\`...\`" for comm

[2016-03-14 15:13] ibennetch commented on #12086
I wasn't able to recreate the error when using the `&mdash;` entity by itself or in other queries I've tried; it only seems to happen when combined with the insert from id 14. It seems something about the `\'` followed by `;` is indeed the problem, but those statements all look correct so it's not obvious what the parse problem is. By the way, I've edited my demonstration case to cut out a few ext

[2016-03-14 15:24] ibennetch commented on #12095
The comment portion seems to be a duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12088, https://github.com/phpmyadmin/phpmyadmin/issues/12076, and https://github.com/phpmyadmin/sql-parser/issues/39 which will be fixed with 4.6.0 (but is not yet reflected in -rc2).

[2016-03-14 15:29] ibennetch commented on #12095
I don't see the foreign key problem; can you produce a small SQL file demonstrating the problem?

For instance, if I go in `sakila` to the `city` table, I can see the foreign keys as expected.

[2016-03-14 15:46] gugglegum commented on #12095
@ibennetch let's say we have this 2 tables:

[code]
Import them into database. As you can see, we have a foreign key in `orders` table with reference to `partners` table. Now go to `tbl_structure.php` of `orders` table and you'll see none of foreign keys. Then switch to older version (e.g. 4.5.15.5) and foreign key appears!

[2016-03-14 16:47] AlexL777 opened #12096 "phpMyAdmin 4.5.5 not worked with CentOS 7 64 bit, PHP 5.6"
### Steps to reproduce
1. install CentOS 7 64bit
2. install phpmyAdmin 4.4 and update to 4.5
3. configure phpMyAdmin.conf file
4. go in the Browser to /phpMyAdmin

### Expected behaviour
hello Developers,

Unfortunately, I have a problem with the phpmyadmin at Centos 7 and PHP 5.6. I use mySQL latest version and have done everything according to instructions. I installed phpmyadmin and then the my

[2016-03-14 17:14] foundationphp commented on #12086
I've just tried exporting another database, and reimporting with equally bad results. I've cut down a much longer dumpfile to illustrate the problem.

This time, it's also choking on an HTML character entity (&amp;pound;).Notice, however, that the parse error is not triggered by the first instance of &amp;pound;. It happens only with id 2. Again, the issue appears to be the fact that there's an es

[2016-03-14 22:10] codewizz commented on #12095
@ibennetch @gugglegum  I can confirm this. It looks like it's column comment related bug, once column has a comment set then foreign key is not visible for that column. Just remove all comments from ``orders`` table (example above) and foreign keys will show as expected.

This problem persists in 4.7.0-dev version aswell.

[2016-03-15 00:25] ibennetch commented on #12096
Did you install from the rpm package or by downloading and uncompressing the file from phpmyadmin.net?

This sounds like a server configuration issue, perhaps your file permissions on the phpMyAdmin directory are too restrictive or the directory isn't `+x` or some such.

[2016-03-15 00:35] ibennetch commented on #12095
Okay, thanks for the clarification. I do confirm seeing the issue with 4.6.0-rc2 and master (which is 4.7.0-dev), but it appears fixed in QA_4_6 (which will become 4.6.1). I'll try to track down some more details.

[2016-03-15 00:51] AlexL777 commented on #12096
I have tried both and ultimately I decided for PHP 5.4 and 4.4 PHPMyAdmin. PhpMyAdmin 4.4 I installed with "YUM".

This worked so equal, once I configure phpmyadmin means phpmyadmin.conf. I do not know if it is CentOs to PHP 5.6.

At some it must have been lying and I think I can work as the first time.

[2016-03-15 03:10] ibennetch commented on #12095
The fix in QA_4_6 appears to come from f76ddbe7ab43e96b33ab7041a4917d86dda5e987 (which makes sense, since that fixed some comment-related regressions), which was also ported to https://github.com/phpmyadmin/sql-parser/commit/ad0e75fa however a new release of sql-parser hasn't occurred since then, so that is why the problem continues to occur with master.

Unless I'm rather mistaken, 4.6.0 will inc

[2016-03-15 04:02] lz220011 opened #12097 "type the correct password but sometimes I can't login, sometimes I can."
### Steps to reproduce
1. we install phpmyadmin and use cookie auth
2. go to index page
3. type correct username and password
### Expected behaviour
Tell us what should happen

login and jump to operation page
OR
return error message

### Actual behaviour
Tell us what happens instead

still in index page did not jump to operation page.

### Server configuration
**Operating system**:
cent os 7
**We

[2016-03-15 07:34] codewizz commented on #12095
@ibennetch yes, you are right, it looks like to be fixed in "Maintenance branch for 4.6.x releases.", hopefully a new release of sql-parser will be merged onto master shortly.

Cheers!

[2016-03-15 12:27] ibennetch commented on #12095
Great, thank you for the confirmations!

[2016-03-15 12:27] #12095 closed

[2016-03-15 12:34] ibennetch commented on #12097
phpMyAdmin 4.4 is no longer supported, I suggest upgrading if your MySQL version allows you to do so.

Any hints in the php-fpm, webserver or MySQL logs? How many login attempts fail before you're able to connect, to give us an approximate idea of how often the problem occurs? Do you ever experience trouble logging in from the command-line client? Is your user account rate limited in some way, for

[2016-03-15 13:17] ibennetch commented on #12096
Unfortunately, we don't have control over the CentOS package, and this appears to be a configuration issue with how their package is operating. Aside from changing permissions on your own, the next best thing would be to ask the CentOS folks for assistance. Good luck.

[2016-03-15 13:48] OlafvdSpek opened #12098 "HTTP auth fails if token parameter is present but wrong"
If a token parameter is present but wrong (or perhaps timed out) it keeps asking for the password with HTTP auth over and over. One has to manually remove the token parameter from the address..

I guess this occurs when a session times out.

pMA 4.5 - 4.7

[2016-03-16 06:02] pigochu commented on #12086
SOMETIMES IT WILL DUMP LIKE
[code]

Can't import ><

if I change to
[code]

It works .

[2016-03-16 08:06] madhuracj commented on #12094
Are you able to find the full stack trace of the error on the server logs and paste here?

[2016-03-16 09:41] madhuracj opened #12099 "Undefined index: controllink"
This report is related to user submitted report [#20712](https://reports.phpmyadmin.net/reports/view/20712) on the phpmyadmin error reporting server.

[2016-03-16 09:51] #12099 closed

[2016-03-16 09:52] monojp commented on #12094
I managed to put debug code right before the error happens. I looks like it processes other warnings and notices. I got those directly printed in the GUI see https://gist.github.com/monojp/3387f8ad284419a6441c
The stack trace of the fatal error is:

[code]

I hope this helps.

[2016-03-16 11:25] madhuracj commented on #12094
Should be fixed with https://github.com/phpmyadmin/phpmyadmin/commit/902b41e86cbbccab50abe75cfde0b0751eedb593

[2016-03-16 11:25] #12094 closed

[2016-03-16 12:19] monojp commented on #12094
Yes, fixed it. Thx!

[2016-03-16 12:46] mmkaila opened #12100 "SQL parser doesn't understand CASE operator"
### Steps to reproduce

Execute below SQL query in phpmyadmin
`select
(SELECT name FROM mysql.help_category WHERE help_category_id = 1) as name,
case when country = "India" then 1 else 0 end as country_flag
FROM ( select "India" as country ) a;`

### Expected behaviour
It should return one row as shown here [http://screencast.com/t/iwknbelk](http://screencast.com/t/iwknbelk)

### Actual behaviour

[2016-03-16 13:22] Willy0611 opened #12101 "Change or remove "Slave replication" "Reset slave""
### Steps to reproduce
1. Open the Relication tab
2. Click "Slave replication"
3. Click "Control slave"

### Expected behaviour
A popup should ask if you are absolutely certain you want to reset the slave.

### Actual behaviour
Resets slave without asking confirmation.

### Extra info
The links under "Control slave" are very close together, it's too easy to accidentally click wrong. The punishment

[2016-03-16 13:58] ibennetch commented on #12100
Confirmed in QA_4_6 and master as well.

[2016-03-16 16:04] lz220011 commented on #12097
Thanks for your advice. We found two possible causes for this problem.
First, Load Balance, wrong LB make the same user's requests to different servers, the later server can't read the session info.
Second, Liebao browser‘s own errors will lead to phpMyAdmin call error_report. We set SendErrorReports = never in config.inc.php .
We fixed the above problems in phpMyAdmin4.5.3.1,and it works well.
Th

[2016-03-17 09:52] #12097 closed

[2016-03-17 10:23] nijel commented on #12098
Caused by 783cacbd1e9823374d24a70e237654581b07563c

[2016-03-17 10:32] #12098 closed

[2016-03-17 10:32] nijel commented on #12093
I also think this is quite out of scope for phpMyAdmin.

[2016-03-17 10:32] #12093 closed

[2016-03-17 10:39] nijel commented on #12089
If you want phpMyAdmin to use stored credentials, you need to use auth_type ``config`` not ``cookie`` as you're using.

[2016-03-17 10:39] #12089 closed

[2016-03-17 10:40] #12068 closed

[2016-03-17 12:47] OlafvdSpek opened #12102 "Default DB"
I'd like to be able to set a default DB in the .conf such that it's opened automatically when I open pMA.

[2016-03-17 17:43] benjamw opened #12103 "Fatal Error : cannot redeclare __( )"
Fatal error: Cannot redeclare __() (previously declared in phpmyadmin\libraries\sql-parser\src\common.php:17) in phpmyadmin\libraries\php-gettext\gettext.inc on line 290

The first instance checks for function exists, so maybe just switch the load order for common.php and the gettext module. Or remove the common.php file as it does nothing else.

### Server configuration
**Operating system**: Wind

[2016-03-17 17:59] benjamw commented on #12103
More info:

For some reason, not exactly sure why, the `session_start( )` call in `/libraries/session.inc.php` on line `101` is causing the `/libraries/sql-parser/src/Parser.php` file to be included, which includes the `libraries/sql-parser/src/common.php` file with the first instance of `__( )` in it.

That whole path is started through the `require './libraries/session.inc.php';` call in `/libra

[2016-03-17 18:10] benjamw commented on #12103
After thinking about it for a bit, it seemed odd that the call to `session_start( )` was loading classes that didn't seem to relate to sessions at all. Then I realized that some objects must be being stored in session (which is not the best idea in the first place). So I cleared my cookies and it seems to be working OK now.

Instead of storing entire objects in the session, it's much better to jus

[2016-03-17 18:10] #12103 closed

[2016-03-17 19:13] mrlerch opened #12104 "Copy Database no longer working. Please help."
### Steps to reproduce
1. Log in and select a database
2. Click on "Operations" and select "Copy database to"
3. Enter a new name for your copy and select: Structure and Data, Create Database before copying, Add auto-increment value, Add constraints, Adjust privileges, Switch to copied Database.

### Expected behaviour
It should create the new database, and duplicate/create a copy of the selected

[2016-03-17 19:43] nullbert commented on #12104
Same problem here. First encountered by regular export then import of the database. It seems to be the same problem.

**Configuration**
Microsoft-IIS/8.0
MySQL 5.6.21
PHP 5.6.3
phpMyAdmin 4.5.5.1
Chrome 49.0.2623.87 m

[2016-03-17 21:59] madhuracj commented on #12104
This happens due to https://github.com/phpmyadmin/sql-parser/issues/39 and has been fixed targeting 4.6.0 release

[2016-03-17 21:59] #12104 closed

[2016-03-17 22:15] madhuracj commented on #12101
As of current stable version (version 4.5.5.1), there is a confirmation box for 'Reset slave' action.

[2016-03-17 22:15] #12101 closed

[2016-03-17 22:16] madhuracj commented on #12101
Duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/11548

[2016-03-17 23:01] mrlerch commented on #12104
Your 4.6.0rc2 still has the same problem. Just FYI. Thanks.

[2016-03-17 23:09] madhuracj commented on #12104
This was fixed after 4.6.0rc2. If you able to clone the git repository from https://github.com/phpmyadmin/phpmyadmin and checkout QA_4_6 branch, the bug should be fixed there.

[2016-03-18 09:21] nijel commented on #12100
The SQL parser needs to understand CASE operator, see https://dev.mysql.com/doc/refman/5.7/en/control-flow-functions.html#operator_case

[2016-03-18 09:35] #12074 closed

[2016-03-18 09:39] nijel commented on #12080
Most likely same issue as #12026.

[2016-03-18 09:44] TobiasGrave opened #12105 "Multi-server drag-and-drop import always fails"
Drag-and-Drop database dump import always fails. Dump files can be successfully imported using the normal file upload, but not via drag-and-drop. After a failed drag-and-drop import the error message "Error: Token mismatch" appears and one has to login again.

PHP log shows no errors, HTTP Log shows the following POST:
`10.6.217.162 - - [18/Mar/2016:10:30:00 +0100] "POST /import.php HTTP/1.0" 200

[2016-03-18 11:05] #12026 closed

[2016-03-18 11:10] nijel commented on #11628
Confirmed with current parser:

[code]

[2016-03-18 22:57] JozoS opened #12106 "Incomplete CREATE TABLE statements"
### Steps to reproduce
1.Run Plesk | phpMyAdmin | Export (phpMyAdmin SQL Dump version 4.5.5)
2.generate an SQL DB back-up file
3.

### Expected behaviour
generate a complete CREATE TABLE statement:
CREATE TABLE `szbk_cache_bootstrap` (
  `cid` varchar(255) CHARACTER SET ascii COLLATE ascii_bin NOT NULL DEFAULT '' COMMENT 'Primary Key: Unique cache ID.',
  `data` longblob COMMENT 'A collection of d

[2016-03-18 23:07] JozoS opened #12107 "apostrophes inside strings"
### Steps to reproduce
1.Run Plesk | phpMyAdmin | Export (phpMyAdmin SQL Dump version 4.5.5)
2.generate an SQL DB back-up file
3.

### Expected behaviour
Tell us what should happen
* when importing the SQL file, the SQL processor, inside the INSERT statements, LIKES strings like
  '  ........ Slovakia''s independence .......'

### Actual behaviour
Tell us what happens instead
*  when importing the

[2016-03-18 23:18] JozoS opened #12108 "COMMENT clause inside the CREATE TABLE statement"
### Steps to reproduce
1.Run Plesk | phpMyAdmin | Export (phpMyAdmin SQL Dump version 4.5.5)
2.generate an SQL DB back-up file
3.

### Expected behaviour
Tell us what should happen

A column definition inside the CREATE TABLE statement should look like:
  `cid` varchar(255) CHARACTER SET ascii COLLATE ascii_bin NOT NULL DEFAULT '' COMMENT 'Primary Key: Unique cache ID.',

### Actual behaviour
Tell

[2016-03-19 01:15] ibennetch commented on #12107
This might be a duplicate of https://github.com/phpmyadmin/phpmyadmin/issues/12054 which will be fixed in the upcoming 4.6.0 release (but is not currently a part of 4.6.0-rc2).

[2016-03-19 03:43] ibennetch commented on #12107
This might be a duplicate of #12054 which will be fixed in the upcoming 4.6.0 release (but is not currently a part of 4.6.0-rc2).

[2016-03-19 03:43] #12107 closed

[2016-03-19 03:50] ibennetch commented on #12108
Hi, and thanks for the report. This seems to be a duplicate of #12095, #12088, #12076, and phpmyadmin/sql-parser#39 which will be fixed with 4.6.0 (but is not yet reflected in -rc2).

[2016-03-19 03:52] ibennetch commented on #12106
This seems to work okay for me on the current QA_4_6, so it appears to be that will be fixed with the release of 4.6.0 next week. Note that it's still technically broken in master due to the fact that the sql-parser library is still at version 3.4.0, but once that gets updated this fix should appear in master as well.

[2016-03-19 03:53] #12108 closed

[2016-03-19 07:13] AlexeyDemidov opened #12109 "Linter doesn't recognize CREATE TABLE new_tbl SELECT * FROM orig_tbl; syntax"
### Steps to reproduce
1. Open SQL tab
2. Enter `CREATE TABLE new_tbl SELECT * FROM orig_tbl;`

### Expected behaviour

No warnings should be shown

### Actual behaviour

Linter shows two warnings

![Linter Warnings](http://alexeydemidov.com/images/phpmyadminlinterfail.png)

### Server configuration
**Operating system**:

**Web server:**

**Database:**

**PHP version:**

**phpMyAdmin version:**

4

[2016-03-19 07:31] cappleby opened #12110 "PHPmyadmin opens the last database accessed"
### Steps to reproduce
1. I open a mysql database (at dreamhost.com)
2.I close it and try to open a different database
3. It opens the database previously open and there's no way to log out.

### Expected behaviour
Tell us what should happen
It shuold ask me to log in to the new database or at least to log out so I can changedatabases..

### Actual behaviour
Tell us what happens instead
As I said

[2016-03-19 11:53] ibennetch commented on #12110
This sounds like something custom that your hosting provider has implemented; by default phpMyAdmin has a logout button (in the top of the navigation pane) and will show you all databases to which your account has access.

I suggest you ask your provider for further assistance with this.

[2016-03-19 11:53] #12110 closed

[2016-03-19 11:58] ibennetch commented on #12109
This appears to be present on QA_4_6 and master as well.

[2016-03-19 12:50] devenbansod commented on #12105
Hi @TobiasGrave, could you reproduce it on our demo server (https://www.phpmyadmin.net/try/) as well ? And does it fail for all SQL files ?

Because I am not able to reproduce this. I export all tables of a database into a file, create a new empty database and drag this exported file. It works as expected for me.

[2016-03-19 12:55] devenbansod commented on #12106
I think this is duplicate of #12065 and #12077 and has been fixed.

[2016-03-19 15:51] #12106 closed

[2016-03-19 15:59] devenbansod commented on #12102
I assume that the explicit URL parameters as explained in [FAQ 1.34]  (http://docs.phpmyadmin.net/en/latest/faq.html#can-i-access-directly-to-database-or-table-pages) should not be overridden by this.
Any second opinions ?

[2016-03-19 16:50] nijel commented on #12109
Indeed, still bug with latest parser:

[code]

[2016-03-19 17:21] #12109 closed

[2016-03-19 18:01] TobiasGrave commented on #12105
Drag-and-drop works with the demo server, but the setup differs from ours: We use multiple MySQL-servers, when I switch the configuration to a single MySQL-server drag-and-drop works perfectly.

I remember a simliar token mismatch problem that only occured when using multiple MySQL-servers from late 2014: https://sourceforge.net/p/phpmyadmin/bugs/4629/

[2016-03-19 18:30] chaos234 opened #12111 "Ex- and Import definitly broken!"
1. I hate premade templates so I'll not use them!

Well, it's no longer possible to import an exported database because your software parses the following chars false:

'bla' ... `bla` ... "bla"

So this means that you have to do the following:

Simply give a drobdown of compression is wished or not and a field to give the exported file an own name. After that the "OK" button can follow.

If "OK"

[2016-03-19 18:47] ibennetch commented on #12111
Could you please tell us your PHP and MySQL versions?

[2016-03-19 18:49] chaos234 commented on #12111
Server: Localhost via UNIX socket
Server-Typ: MySQL
Server-Version: 5.6.23-1~dotdeb.3 - (Debian)
Protokoll-Version: 10
Benutzer: root@localhost
Server-Zeichensatz: UTF-8 Unicode (utf8)

nginx/1.8.1
Datenbank-Client Version: libmysql - 5.6.23
PHP-Erweiterung: mysqli Dokumentation
PHP-Version: 5.6.17-0+deb8u1

Versionsinformationen: 4.5.5.1 (auf dem neuesten Stand)

[2016-03-19 18:49] ibennetch commented on #12111
Sorry I don't think we'll implement your idea of using `mysqldump` directly, among other concerns some hosts would block this functionality and there are some security concerns with implementing that.

[2016-03-19 18:52] chaos234 commented on #12111
mysqldum should not be a high security risk because it can only dump full databases in a file which can then packed as Gzip/tar ... only the import is a point where security risks are high which must be approved/checked an then programmed well but actually I can't use both functions :(

[2016-03-19 20:37] thampl opened #12112 "previous record"
### Steps to reproduce
1. go to http://demo.phpmyadmin.net
2. use database "word"
3. open SQL tab
4. enter SQL

SELECT @previd AS prev_id, @previd := wp.id id
FROM city wp , (SELECT @previd:=NULL) vars
ORDER BY wp.id ASC;

### Expected behaviour
prev_id | id
null  1
1     2
2     3
3     4 .....

### Actual behaviour
Static analysis:

2 errors were found during analysis.

An expression was expecte

[2016-03-19 22:34] cappleby commented on #12110
Hi Isaac,

Thanks. I hadn't realised that those icons were there. But I've found them now.

Chris A

At 10:53 PM 19/03/2016, you wrote:

Chris Appleby                   +Ph    03 9489 7127
20 Gordon St                    +Mob: 0422 187 127
Fairfield 3078
http://cappleby.net.au

[2016-03-20 01:22] ibennetch commented on #12110
Oh, great, I'm delighted that helped.

[2016-03-20 01:24] ibennetch commented on #12105
Could you clarify which `auth_type` you are using for these multiple servers?

[2016-03-20 04:44] devenbansod commented on #12082
The link [0] states that :
"The ARCHIVE engine supports the AUTO_INCREMENT column attribute. The AUTO_INCREMENT column can have either a unique or nonunique index. Attempting to create an index on any other column results in an error."

The problem is that we export Primary keys before Auto increments in the footer so it tries to add a primary key to a column which is not an auto increment one (un

[2016-03-20 09:43] TobiasGrave commented on #12105
We use cookie authentication.

[2016-03-20 13:16] OlafvdSpek opened #12115 "Avoid removing invalid value for relations"
I've got a MyISAM table with a 'foreign' key / pMA relation defined into another table.
When editing a row with a key value that's NOT present in the 'target' table, the dropdown value is blank. Submitting the form results in the value being reset to 0 / default.

1. pMA should NOT reset the value.
2. pMA should allow me to enter an orphaned value, which can't be done with the dropdown.

pMA 4.5.5

[2016-03-21 09:45] TomaszKane commented on #12086
Hi guys, could you consider add a test to this feature?

1. prepare "difficult" database with many "features"
2. do phpmyadmin export
3. check if console mysql correctly import previously dump

For now we have "stable" release with this (easy to find?) bug.

[2016-03-21 10:28] pigochu commented on #12086
![qq 20160321182451](https://cloud.githubusercontent.com/assets/1013744/13915886/3af4e8ce-ef92-11e5-99ed-39e76b056ae4.png)

export No error in console

![qq 20160321182721](https://cloud.githubusercontent.com/assets/1013744/13915946/98eec6ca-ef92-11e5-9099-b412cadf7e79.png)

import No error in console , but can't import

[2016-03-21 12:34] #12105 closed

[2016-03-21 12:36] devenbansod commented on #12105
Hi @TobiasGrave , could you please confirm if the [patch] (https://github.com/phpmyadmin/phpmyadmin/commit/d2ad23972b3cbcf1cb1a31c308522e51eb68b16d.patch) works for you ?

[2016-03-21 12:45] nijel commented on #12111
The problem is about using ``exec()``, which is usually blocked on hostings. It would be indeed much easier if we didn't have to reimplement what  it does, but that's not way which would work for most of our users.

Anyway can you please describe what problem do you face? Our software does indeed have bugs, but are fixing them.

[2016-03-21 12:48] ibennetch commented on #12086
@pigochu Is this different from what was reported and fixed above?

[2016-03-21 12:51] nijel commented on #12112
Bug confirmed with latest parser:

[code]

[2016-03-21 12:55] nijel commented on #12096
Maybe @robert-scheck could comment on this...

[2016-03-21 13:01] nijel commented on #12112
Same as #12080.

[2016-03-21 13:01] #12112 closed

[2016-03-21 13:13] robert-scheck commented on #12096
The initial report still leaves a bunch of questions, because CentOS 7 ships PHP 5.4 and I have to assume that phpMyAdmin 4.4.x from EPEL is used. This combination is known to work in general. So, PHP 5.6 and phpMyAdmin 4.5.x could be from various sources. It could be even a SELinux issue due to some user misconfiguration.

From my point of view, based on wild guessing, the cause is your `/etc/htt

[2016-03-21 13:19] nijel commented on #12071
Maybe I'm doing something wrong here, but I get exactly same error when using mysql commandline:

[code]

Doesn't this rather depend on the MySQL server than on phpMyAdmin?

[2016-03-21 13:21] nijel commented on #12071
Okay, I don't think this is phpMyAdmin bug:

- in MySQL 5.5.46 the query fails in both phpMyAdmin and commandline
- in MariaDB 10.0.24 the query works fine in both phpMyAdmin and commandline

[2016-03-21 13:22] #12071 closed

[2016-03-21 13:36] nijel commented on #11604
In my tests, this query works correctly in QA_4_6 branch, it would be great if you could verify it as well. If it does not, please provide me your table structure as I might have guessed something wrongly for testing...

[2016-03-21 13:36] #11604 closed

[2016-03-21 13:40] nijel commented on #12111
Also there were quite a lot of fixed in the SQL parser recently, so try if you can reproduce your problem in QA_4_6 branch or upcoming 4.6.0...

[2016-03-21 16:47] chaos234 commented on #12111
Ok, I'll do it and report all errors in this ticket.

The problem was that the exportet database wasn't importet because the sql query was false but the query can't be false if your software works correctly so it must be a problem by parsing any sql file eyported by your software with my current pma version.

Am 21.03.2016 14:40:45 schrieb Michal Čihař <notifications@github.com>:
Also there were q

[2016-03-21 16:57] nijel commented on #12111
What specific problem was in the query? Sorry I currently ran out of crystal balls to be able to diagnose "false query" issue.

I've recently fixed several such issues (eg. #12084,  #12077, #12076, #12065, #12054) and in all cases it was quite easy to fix the wrongly produced SQL manually, so that the data could be restored.

[2016-03-21 17:21] TobiasGrave commented on #12105
Yes, drag-and-drop import works as expected now.

[2016-03-21 17:29] devenbansod commented on #12105
Thanks for the confirmation @TobiasGrave :-)

[2016-03-21 17:52] chaos234 commented on #12111
Fixing a DB with over 500 MB data is a bit to high ^^.

Am 21.03.2016 17:57:41 schrieb Michal Čihař <notifications@github.com>:
What specific problem was in the query? Sorry I currently ran out of crystal balls to be able to diagnose "false query" issue.
I've recently fixed several such issues (eg. #12084 [https://github.com/phpmyadmin/phpmyadmin/issues/12084], #12077 [https://github.com/phpmyadmi

[2016-03-21 17:52] zaverichintan commented on #11688
Do we need to implement this or should we just make changes to the files to use the existing function

[2016-03-21 18:26] nijel commented on #12111
What is most likely wrong is just CREATE TABLE clause, but again I'm just using my crystal ball.

[2016-03-21 18:26] #12111 closed

[2016-03-21 18:32] nijel commented on #11688
What can create insane number of cookies is ``Config::setUserValue`` and I think that all configuration should be stored in single cookie. When doing this, it really make sense to store other configuration stuff there - it's not changed often and we need it to persist on client side.

[2016-03-21 18:41] zaverichintan commented on #11688
What we can do is to separate the cookies array on the basis of usage to reduce time complexity

[2016-03-21 19:22] nickdnk opened #12116 "Fulltext indexes are not copied when using copy database function (InnoDB)"
### Steps to reproduce
1. Add database with InnoDB, add FULLTEXT index to any column in any table
2. Copy database with phpMyAdmin copy function (data+structure, CREATE IF NOT EXIST, Add AUTO_INCREMENT)
3. Observe that the FULLTEXT index is no longer present on copied database

### Expected behaviour
FULLTEXT index should be copied along with everything else, I assume.

### Actual behaviour
Index

[2016-03-21 20:13] ibennetch commented on #12096
Thanks @robert-scheck.

[2016-03-21 20:13] #12096 closed

[2016-03-21 21:29] Kirkis commented on #11604
Hi,

If I remember correctly, in my case I had trouble with queries that had joins + tables aliases + colum aliases + maybe UNION.
I just tried a few queries based on an old Magento 1.3 database with such queries, and it passed. Can't remember what exact query prompted me to come here tough, so I guess it's fixed.

From what I remember, there was also a bug in the "export as CSV" feature. That's g

[2016-03-21 22:48] ibennetch commented on #12116
Confirmed with current QA_4_6 and master as well.

Export still seems correct, it's only the copy functionality.

Possibly related: https://github.com/phpmyadmin/sql-parser/issues/45

[2016-03-22 00:39] #12116 closed

[2016-03-22 00:55] pigochu commented on #12086
@ibennetch
my english is poor ^^ my error alson happed in 4.6.0-rc2
Should I open a new issue ?

[2016-03-22 01:58] JorisDebonnet commented on #12086
Both issues started at the same time, for me as well. Specifically: sometimes, the export will contain things like `NOT NULL DEFAULT '0'COMMENT)` (omitting all following fields), and sometimes, it will contain things like ``COMMENT AS `description of comment` `` (even with ).

I do say "sometimes", because most comments are unharmed, and I honestly can't find any pattern to it.

Both issues still

[2016-03-22 02:13] JorisDebonnet commented on #12086
The ``COMMENT AS `backtick` `` issue was introduced in version 4.5.5 (I verified that it's not there in 4.5.4). If the issue of _this bug_ was only introduced in 4.5.5.1, then I guess it is a different bug; just released very close together.

[2016-03-22 07:33] nijel opened #12117 "Back not working correctly on export"
From https://github.com/phpmyadmin/phpmyadmin/issues/11604#issuecomment-199494217:

HOWEVER there is a new bug: once i get to the "export the dataset as CSV" screen and download the export, and then go "back" using my browser native "back" button (I'm using Fx Developer tools), I get a blank "Run SQL query/queries on database X" page. That's not what happens on v4.4.x.

[2016-03-22 07:33] nijel commented on #11604
I've created separate issue for that:  #12117

[2016-03-23 04:49] madhuracj commented on #12115
Issue 2 has already been requested in the past in https://github.com/phpmyadmin/phpmyadmin/issues/11129 and rejected.

[2016-03-23 06:42] xdqi opened #12118 "Chinese language currently do not work in version 4.6.0"
### Steps to reproduce
1. download phpMyAdmin-4.6.0-all-languages.zip from official site
2. extract it on web server
3. change language on login page of phpmyadmin to Chinese (either simplified or traditional version)

### Expected behaviour
Page should show in Chinese

### Actual behaviour
Page showed in English

### Server configuration
**Operating system**: Arch Linux

**Web server:** Nginx 1.9

[2016-03-23 14:39] ibennetch commented on #12118
This appears to also affect master, see for instance http://demo.phpmyadmin.net/master . I'm not yet sure what the cause is, but it appears more widespread than just the current release.

[2016-03-23 20:07] divinity76 opened #12119 "4.6.0 in Chrome " violates Content Security Policy" on all pages"
### Steps to reproduce
1. install 4.6.0
2. navigate to it in chrome
3. open javascript console
4. refresh the page, you will notice errors in the console

### Expected behaviour
no js errors (same as firefox)

### Actual behaviour
chrome-extension://kflkdhmijdgjnlbdkfgdmolcjnflmlhf/js/patch-worker.js:36 Refused to create a child context containing 'blob:http%3A//ratma.net/aadc3960-5e07-4694-9196-2

[2016-03-23 20:30] divinity76 commented on #12119
wups, nope, it was caused by a buggy extension idd, sorry

[2016-03-23 20:30] #12119 closed

[2016-03-24 02:26] madhuracj commented on #12118
This seems to be a web server specific issue as I am unable to reproduce the issue on Apache. Also note that out demo server runs on nginx/1.6.2

[2016-03-24 06:18] stefanhe opened #12120 "PMA_Util not found in insert_edit.lib.php"
In Insert operations in an unindexed table an error 500 was generated.
php-errorlog showed:
PHP Fatal error:  Class 'PMA_Util' not found in /var/www/htdocs/xxx/html/phpmyadmin/libraries/insert_edit.lib.php on line 2319

Seems to be the last survivor of the change to the Util-library.

Solution:

[code]

[2016-03-24 06:54] #12120 closed

[2016-03-24 10:18] kampalex opened #12121 "PMA_Response class call not migrated"
Inspired by issue #12120 I investigated more of this code snippets which are not migrated yet.
After filtering all script files having 'PMA_' and '::' directly after class name I've found just one more.

Problem itself is **not tested**, but in theory script should give a fatal error.

file: /normalization.php
r62:    PMA_Response::getInstance()->disable();
Correctly migrated situation a few lines

[2016-03-24 10:19] SamMousa opened #12122 "Security issue file permission check."
### Steps to reproduce
1. Create a config.inc.php with permissions set to 777
2. Alter the file add `$cfg['CheckConfigurationPermissions'] = false;`
3. Run PHPMyAdmin using the configuration.

### Expected behaviour
I expect an error message telling me that the file should not be world writable.

### Actual behaviour
It happily reads the file and uses it.

Basically PHPMyAdmin first reads the file

[2016-03-24 14:11] YoussefE123 commented on #12086
Hi all,
I just installed the latest v4.6, and exporting then importing the same file;
the errors I mentioned seem to be fixed now;
Thanks

[2016-03-24 15:08] Jay04653 opened #12123 "Error during upgrade from 4.5.5.1 to 4.6.0"
I got error after upgrade on any request:

AH01071: Got error 'PHP message: PHP Fatal error:  PMA\\libraries\\ThemeManager::initializeTheme(): The script tried to execute a method or access a property of an incomplete object. Please ensure that the class definition &quot;PMA_Theme_Manager&quot; of the object you are trying to operate on was loaded _before_ unserialize() gets called or provide a __

[2016-03-24 15:13] Jay04653 commented on #12123
Language: Russian
Theme: pmahomme

[2016-03-24 19:05] TomaszKane commented on #12086
My schema dump also works in 4.6.

[2016-03-24 19:33] JorisDebonnet commented on #12086
Strange, how did I miss that 4.6.0 was released when I wrote my previous posts... :/ my git pull must have failed or something.

In any case, I can also verify that all issues are gone as of 4.6.0, so this can most likely be closed!

[2016-03-24 20:26] nijel commented on #12123
Most likely session data issue ... can you try removing cookies and see if that helps?

[2016-03-24 20:28] Jay04653 commented on #12123
Sure, it was first what I did, but it was not fix a problem.

[2016-03-24 20:31] nijel commented on #12122
For reasons why it's this way see #9216. The use case I see is that user configures phpMyAdmin and then accesses it, so he gets the warning immediately.

[2016-03-24 20:35] nijel commented on #12118
The problem seems to be rather filesystem specific - it is broken on case sensitive filesystems.

The problem is with all two parts locales (eg. pt_BR is broken as well). This is due to fact that language codes are lower case while filenames use mixed case...

[2016-03-24 21:04] SamMousa commented on #12122
Why not just remove it then instead of providing this fake security
warning. If the server is comprised I'm pretty sure anything automated will
find the writable script before you have a chance to log in...
On Mar 24, 2016 21:32, "Michal Čihař" <notifications@github.com> wrote:

[2016-03-24 21:20] MarvinMenzerath commented on #12123
I also got this error after upgrading from 4.5.5.1 to 4.6.0.

Used software (server): Debian 8, Apache 2.4.10, PHP 5.6.17 (FCGI), MySQL 5.5.47
Used software (client): Windows 10, Google Chrome 49

According to Google Chrome's developer console the following resources failed to load with a HTTP 500 error:
[code]

Neither removing all cookies, using different browsers nor creating a new config-file

[2016-03-24 21:35] paullupa opened #12124 "Copy table generates incorrect syntax when element has a comment"
### Steps to reproduce
1.Create table as such
      CREATE TABLE `test`.`tbl_w_comment` (
         `ID` int(11) NOT NULL,
         `ip` int(11) DEFAULT NULL COMMENT  'in the composite instance case'
       ) ENGINE=InnoDB DEFAULT CHARSET=latin1;

2.  Use PHPMyAdmin
          select the table
          use "Operations"  to "Copy table to (database.table)"
      System will generate an invalid MySQL

[2016-03-24 21:40] SamMousa commented on #12122
Or alternatively instead of parsing it from the configuration file that has already been detected as insecure, check for a file that the user must create like: "ALLOW_INSECURE".

[2016-03-24 21:43] ADDISON74 opened #12125 "Cannot highlight a column if I scroll down from the top of the table"
It is very useful to highlight a whole column when you move your mouse pointer over the name of that column. If you are at the top of the page you can do this, but if you scroll down the page let's say 10 rows you will loose this feature. Even the table header is visible, moving the mouse pointer again over a column won't activate the highlight.

This image is from the top of the page

![1](https:

[2016-03-24 21:51] #12124 closed

[2016-03-24 21:52] paullupa commented on #12124
Solved in the production release

[2016-03-25 07:18] #12121 closed

[2016-03-25 14:05] SirLogician commented on #11705
For me the problem was $cfg['MaxRows'] setting. It was 500 for me and this was causing in big tables. I decreased it to 100, logged off, logged in and this cured the problem.

[2016-03-25 21:49] peku33 commented on #12123
Clearing cookies helped for me.

[2016-03-25 23:20] JFDionne opened #12129 "Slow database list on 4.6"
Hi, when I click on database at the left panel, it take like 10-12 second to load if I have "SkipLockedTables" to true, when I set it to false it take like 2-3 second to load

### Server configuration
**Operating system**:

**Web server:**
    Apache/2.2.15 (Scientific Linux)
    Database client version: libmysql - mysqlnd 5.0.11-dev - 20120503 - $Id: 76b08b24596e12d4553bd41fc93cccd5bac2fe7a $

[2016-03-26 08:59] dinhkk opened #12130 "Error for Browser when got error 500"
### Steps to reproduce
1. Open one databse
2. create new table
3. enter the default value for tinnyint,
4. the browser is broken down,
5. clear data of borwser
6. the browser show the website again

### screens for chrome
- http://www.nulledshare.me/wp-content/uploads/2016/03/step-1-chrome.png
- http://www.nulledshare.me/wp-content/uploads/2016/03/step-2-chrome.png

### screens for firefox
- http:

[2016-03-26 11:31] TOxicFre4k opened #12131 "phpMyAdmin problem with Ubuntu 15.10 with PHP7"
### Steps to reproduce
1. Install Php7 and MYSQL with Apache2
2. Try using sudo apt-get install phpmyadmin
3. It still shows only php5 dependencies, although phpmyadmin 4.6.0 is available with php7 support(as given in site)

### Expected behaviour
phpmyadmin installs successfully and later configuration options should be shown!

### Actual behaviour
Shows dependencies are broken and cannot be fixe

[2016-03-26 12:25] aniket438 commented on #12069
Filtering and along with it grouping tables with same prefix...

[2016-03-26 12:45] ibennetch commented on #12131
Hi,

When using the distribution-provided package, you're telling the package manager to handle the installation of the package you've selected and all dependencies. This is good for users who don't want to, for instance, install their own PHP and want to let dpkg/apt manage it for them, and provides an easy way for the package manager to make sure all dependencies are at their proper version and

[2016-03-26 12:45] #12131 closed

[2016-03-26 12:53] ibennetch commented on #12130
Your query works okay in my testing server -- can you look in the webserver error log for any hints about this error message 500?

[2016-03-26 14:40] qts-mostafa opened #12132 "[Fatal Error] Can not open table with JSON field"
### Steps to reproduce
1. Create a table with one INT auto increment field and one JSON field
2. Open the table (The same thing with or without data)

### Expected behaviour
I should be able to view and edit the results and all javascript functions show work normally.

### Actual behaviour
I get the following error and everything in the page freezes
[code]
Where "aa" is my table name, and "tst" is

[2016-03-26 17:08] benhartwich opened #12133 "Opcache produces 502 errors"
### Steps to reproduce
1. Debian 8, nginx, php5-fpm, phpmyadmin package
2. login and click a few times => 502 error (php5-fpm crashes)
3. disable opcache completely at php.ini => no 502 any more

### Expected behaviour
phpMyAdmin debian package should work on a fresh debian 8 install, when opcache is not configured yet.

### Actual behaviour
On a fresh Debian 8 installation phpMyAdmin crashes, whe

[2016-03-27 10:56] bogutskyy opened #12134 "Internal server error during insert records"
### Steps to reproduce
1. Create a table with varchar and int columns
2. Try insert row with encode string value in md5
3. Try insert row using unix_timestamp function for int value

#### Screens
[https://gyazo.com/573406ba6b9868e9eab0760da933b2fa](https://gyazo.com/573406ba6b9868e9eab0760da933b2fa)
[https://gyazo.com/15448d7d26a109fff289c5ada493c73e](https://gyazo.com/15448d7d26a109fff289c5ada493

[2016-03-27 10:56] bogutskyy commented on #12134
btw, it's not actual for phpmyadmin v4.5.5.1

[2016-03-27 11:42] ibennetch commented on #12132
Exists in current master with sql-parser `@dev` as well.

[2016-03-27 11:46] ibennetch commented on #12132
The error message exists in current master with sql-parser `@dev` as well.

However, if I click "Ignore" to the popup warning window, I'm taken to the Browse page as expected and I'm able to work with the table without trouble. I have not been able to reproduce the fatal error.

[2016-03-27 11:57] qts-mostafa commented on #12132
**Once opened the table**
![screenshot from 2016-03-27 13 51 33](https://cloud.githubusercontent.com/assets/9843910/14065273/8e04503c-f423-11e5-9c2a-f738c601fba6.png)

**After refresh**
![screenshot from 2016-03-27 13 48 31](https://cloud.githubusercontent.com/assets/9843910/14065271/8dc37fbc-f423-11e5-9639-463b8864b1a3.png)

[2016-03-27 12:33] devenbansod commented on #12134
Duplicate of #12120

[2016-03-27 12:33] #12134 closed

[2016-03-27 15:33] ibennetch commented on #12132
Testing again with 4.6.0 I also get the fatal error.

[2016-03-27 15:36] ibennetch opened #12135 "JSON datatype is only valid starting with MySQL 5.7.8"
We show the JSON data type in the create table dropdown even on servers where it is not valid. I believe we have been hiding invalid data types so we should also hide JSON for MySQL older than 5.7.8.

[2016-03-28 11:19] #12135 closed

[2016-03-28 17:11] khaldoundanaf opened #12138 "Fatal error: Class 'PMA_Util' not found in C:\wamp\apps\phpmyadmin4.1.14\libraries\insert_edit.lib.php on line 2319"
### Steps to reproduce
When trying to insert a record at any level using the "insert" tab am getting the error Fatal error: Class 'PMA_Util' not found in C:\wamp\apps\phpmyadmin4.1.14\libraries\insert_edit.lib.php on line 2319 **(I am using version 4.6.0 but i kept the folder name phpmyadmin4.1.14)**

### Expected behaviour

The line shall be inserted in the table

### Actual behaviour
The line is

[2016-03-28 18:08] devenbansod commented on #12138
Thanks for the report @khaldoundanaf .
This is a duplicate of #12120 and is scheduled to be fixed in the next bug-fix release 4.6.1.

[2016-03-28 18:08] #12138 closed

[2016-03-28 19:08] long76 opened #12139 "Import Export error"
### Steps to reproduce
Tap Export or Import button after authorization on main page

### Expected behaviour
How in previous version

### Actual behaviour
Error 500
<img src="https://img2.evrl.to/store/2016/03/28/fC95z058.jpg"></img>

### Server configuration
**Operating system**:
Windows 7 SP1 x64
**Web server:**
Apache/2.4.18
**Database:**
 5.7.11-log - MySQL Community Server (GPL)
**PHP version:

[2016-03-28 19:16] ibennetch commented on #12139
Are there any hints in your webserver error log? I'm trying with a Linux client but similar versions to yours and I don't have any problem. Maybe the webserver error log will have some hint.

[2016-03-28 19:39] long76 commented on #12139
127.0.0.1 - - [28/Mar/2016:22:37:34 +0300] "GET /server_export.php?db=&token=9dd4aafb1310aaeb7e39dab0d9dd7f57&ajax_request=true&ajax_page_request=true&_nocache=1459193854887242140 HTTP/1.1" 500 7918

[2016-03-28 19:43] long76 commented on #12139
127.0.0.1 - - [28/Mar/2016:22:41:23 +0300] "GET /server_export.php?db=&token=67228a801405e412afd3dc974fb66f3e&ajax_request=true&ajax_page_request=true&_nocache=1459194083685458586 HTTP/1.1" 200 50458
4.5.5.1 version

[2016-03-28 19:54] ibennetch commented on #12139
Thank you. That appears to be the access log, can you also check if there's anything in the error log corresponding to those times? The error log is a different file (for instance, on my Linux machine both are in the same folder, one is `access.log` and the other is `error.log`).

[2016-03-28 20:14] long76 commented on #12139
[Mon Mar 28 21:55:45.663023 2016] [:error] [pid 6956:tid 964] [client 127.0.0.1:63991] PHP Fatal error:  Class 'PMA\\libraries\\plugins\\export\\ExportCodegen.class' not found in ...\\libraries\\plugin_interface.lib.php on line 88, referer: https://phpmyadmin/index.php?token=e23a2f5016d5262812e7d1f47f0a57ea
[Mon Mar 28 22:37:35.138536 2016] [:error] [pid 6956:tid 840] [client 127.0.0.1:52606] PHP

[2016-03-28 20:30] acs-ferreira opened #12140 "Error on IMPORT CSV with wrong encoding"
### Steps to reproduce
1. Select a table
2. Clic import
3. Select the CSV and Import
### Expected behaviour

Rows should be imported on the table.
### Actual behaviour

It imports a set of rows (10) tehn it blocks with thusands of errors. After reloading the page:

[code]

And i can't go to phpMyAdmin page anymore.

CSV is [attached](https://github.com/phpmyadmin/phpmyadmin/files/192426/import.zip

[2016-03-28 22:15] madhuracj commented on #12139
Looks like you have files left from an older version after upgrading. Can you try installing the new version of phpMyAdmin into a fresh folder? See https://wiki.phpmyadmin.net/pma/Upgrading

[2016-03-28 22:17] ibennetch commented on #12139
Clearing your browser cache may help, also.

[2016-03-29 04:07] ibennetch commented on #12140
Also happens with current master branch and sql-parser `@dev`.

A few of the error messages are:

[code]

[2016-03-29 08:14] pigochu commented on #12086
4.6.0 works :+1:

[2016-03-29 09:15] savedario commented on #11677
I bumped into the same issue that started out of the blue.
I was able to make phpMyadmin start working again by deleting all the cookies.
I know it's not much, but at least now I can pay attention to see what started it.

[2016-03-29 11:10] madhuracj commented on #12086
Thanks for confirmations.

[2016-03-29 11:10] #12086 closed

[2016-03-29 12:04] nijel commented on #12133
I don't really think that PHP crash is phpMyAdmin's fault. Anyway any particular reason why are you using PHP 5.6.17? Upgrading might help.