[2019-05-29 19:15] mauriciofauth commented on #15163
@Bournvita1998 I created the [`gsoc-db-designer`](https://github.com/phpmyadmin/phpmyadmin/tree/gsoc-db-designer) branch for now, so you can open PRs against this branch.

cc @ibennetch

[2019-05-30 15:20] asprazz commented on #15161
Hie @williamdes Sir, I am not able to reproduce the bug as it seems fine with me in local as well as remote server :)
![Screenshot from 2019-05-30 20-49-37](https://user-images.githubusercontent.com/19568165/58643223-7f534f80-831c-11e9-9cb2-3cb94d98a777.png)
![Uploading Screenshot from 2019-05-30 20-49-14.png…]()

[2019-05-30 18:49] #14885 closed

[2019-05-31 12:21] Blaimi commented on #15286
you should switch to the 4.8-branch for the current stable version with `git checkout QA_4_8`. Version 4.8 works also with php 5.6.

BTW: the 404-error is problably because you did not configure apache while installing the package

[2019-05-31 15:01] PHPUSERZ commented on #15286
"you should switch to the 4.8-branch for the current stable version with git checkout QA_4_8. Version 4.8 works also with php 5.6.

BTW: the 404-error is problably because you did not configure apache while installing the package"

i solved it with the stand-alone. 4.8. Why don't say at once that there is a stand-alone version that works without composer installation? It's the simplest way.
Thank

[2019-05-31 16:05] Rixafy commented on #14780
Should I check out codebase and create a PR or you are planning to do it? @williamdes

[2019-05-31 16:14] williamdes commented on #14780
@Rixafy You can create a PR from `master` branch to `master` branch ;)

[2019-05-31 16:34] #15079 closed

[2019-05-31 18:38] mauriciofauth opened #15296 "Upgrade OpenLayers"
Currently phpMyAdmin is using [OpenLayers](https://openlayers.org/) version 2.13.1, that was released in 2013.

We should upgrade OpenLayers to the latest version (which at the time of writing is version 5.3.0).

Related to #13173

[2019-06-01 01:45] andybajka opened #15297 "Horizontal scrollbar missing"
### Describe the bug

Horizontal scrollbar missing - macOS Mojave - Retina 4K, 21.5-inch, 2019

### To Reproduce

Steps to reproduce the behavior:
1. Open table with many fields
2. No horizontal scrollbar

### Server configuration

- Operating system:
- Web server: CENTOS 7.6
- Database version: MySQL
- PHP version: 7.2.18
- phpMyAdmin version: 4.8.3

### Client configuration

- Browser: Firefox 6

[2019-06-01 05:32] apoorvkhare07 commented on #15296
@mauriciofauth I would like to work on this.

[2019-06-01 09:09] williamdes commented on #15296
@apoorvkhare07 You can work on this if you want
Use `master` branch :)

[2019-06-01 13:15] apoorvkhare07 commented on #15296
@williamdes Can you guide me about how openLayers is currently installed ?
I mean as a NPM package or something else?

[2019-06-01 16:59] williamdes commented on #15296
@apoorvkhare07 it is installed in the js vendor folder (a copied file)
The ideal plan would be to install it by npm if possible and then that a script automatically copies it to the vendor folder

cc @mauriciofauth

[2019-06-01 17:08] mauriciofauth commented on #15296
OpenLayers 2 does not have an npm/yarn package, but newer versions have.
We currently don't have a build system that copies the libraries to js folder, so it has to be manually done.

[2019-06-03 19:37] #10846 closed

[2019-06-03 20:19] williamdes commented on #15282
@scorobo Can you try with the next patch version (8.0.16) of MySQL ?

[2019-06-04 11:56] enriquerene opened #15303 "phpmyadmin API"
### Is your feature request related to a problem? Please describe.

The layout of phpmyadmin is good but there are some stuff I think no intuitive. I'd like to build some React App to interact with MySQL and I thought "why not use phpmyadmin as API and React consume that?". I didn't find any information about API.

### Describe the solution you'd like

I suggest implementation of API like a server

[2019-06-04 14:50] williamdes commented on #15303
cc @ibennetch @mauriciofauth

[2019-06-04 15:06] ibennetch commented on #15303
phpMyAdmin doesn't expose an API right now for many reasons, in part because that's not really what phpMyAdmin is meant to do. We historically have found that there are plenty of other libraries that allow clients to interact with MySQL directly and that exposing such a framework isn't something that many people would benefit from.

About theming, we do have quite a number of themes (https://www.p

[2019-06-04 16:59] markus-ksg commented on #12880
This is still a bug, even if the unexpected behavior is mentioned somewhere in an FAQ.

PhpMyAdmin's Tables pages correctly fixed the bug by showing a (?) with more info near the "Rows" column, and by prefixing approximated counts with a "~".

But in the given example, nothing tells the user that the count may be inexact. The message should at least also use a "~", e.g. "(~934171 total, Query took

[2019-06-04 17:49] williamdes commented on #14990
Should be now fixed on latest commit of STABLE

[2019-06-04 17:49] #14990 closed

[2019-06-05 10:52] MallyDev commented on #15249
Hi, could I try to sort it? It will be my first contribution :)

[2019-06-05 13:23] aayush-ag opened #15304 "ssl_use php error"
### Describe the bug

When trying to use phpmyadmin with an ssl secure connection, and an control user , error is producesd.
### To Reproduce

Steps to reproduce the behavior:
1. Go to 'config file' and add two users one of GENERAL DB HOST AND ONE CONTROL USER with ssl authentication ( i am using cleardb as general host and control user as jaws db).
2. Go to installation directory an HTTP 500 erro

[2019-06-05 17:46] williamdes commented on #15304
I think this can only be fixed on your host.

I will have a try soon as I have a cleardb and jawsdb instance

[2019-06-05 17:49] williamdes commented on #14967
@dddns @marcus-hiles You can download `4.9.0.1` on our [website](https://www.phpmyadmin.net/downloads/)

[2019-06-05 17:49] #14967 closed

[2019-06-05 19:18] dddns commented on #14967
hi @williamdes
already updated, so cool, it's working fine again the export, and seems more faster!

Thanks!

[2019-06-05 19:31] williamdes commented on #15249
@MallyDev yes, if you need help feel free to ask
Use `master` branch :)

[2019-06-05 19:42] OlafvdSpek opened #15305 "4.9?"
Why 4.9 and not 4.8.6? Might be nice to explain in https://www.phpmyadmin.net/news/2019/6/4/security-fix-phpmyadmin-490-released/

https://www.phpmyadmin.net/downloads/ says 4.8 is "Current version compatible with PHP 5.5 to 7.2 and MySQL 5.5 and newer.", is this still true?

Snapshot downloads for 4.9 are missing from that page.

[2019-06-05 20:21] ibennetch commented on #15227
I appreciate your concern but I don't really have the skills to improve the icon design. You're welcome to submit a pull request or improved icon if you're like. Also, you may prefer to work with another theme entirely if you don't care for the default.

[2019-06-05 20:21] #15227 closed

[2019-06-05 20:23] mauriciofauth commented on #15305
It is because of the behavior change caused by PMASA-2019-4, as described in this statement:

Yes. As you can see in [supported versions](https://www.phpmyadmin.net/downloads/#support) section, 4.9 supports PHP 5.5 or newer and will be LTS instead of 4.8.

@ibennetch Can you have a look at this?

[2019-06-05 20:25] OlafvdSpek commented on #15305
So 4.8 is NOT the current version supporting PHP 5.5+? ;)

[2019-06-05 20:26] mauriciofauth commented on #15305
Correct.

[2019-06-05 21:13] ibennetch commented on #15305
I have edited the news announcement you linked, please let me know if you find further ways I can improve that. Thanks for mentioning this. I considered writing it in the announcement but didn't want to put too much detail in a news announcement for fear of going on too long. I'm glad for your feedback.

[2019-06-05 21:17] c0m4r opened #15306 "4.9.0.1 does not comply with semantic versioning"
### Describe the bug

The package.json in PMA 4.9.0.1 has `"version": "4.9.0",`. This way it's not possible to distinguish version 4.9.0.1 from 4.9.0.

### Expected behavior

Either drop this way of versioning or at least add additional file like VERSION with the current version in full length.

[2019-06-06 02:54] ibennetch commented on #15305
And now I have fixed the snapshot downloads, as well. Thanks again for reporting this.

[2019-06-06 02:54] #15305 closed

[2019-06-06 09:56] TheoVazquez opened #15307 "Missing data structure on export"
### Describe the bug

When I try to export the structure of my table, some fields are missing.

### To Reproduce
When I do : SHOW CREATE TABLE users, I have this :
[code]

But when I export the structure I have only this :
[code]
### Expected behavior

As you can see, the id_... field are missing. The same things for their index.

### Screenshots

If applicable, add screenshots to help explain you

[2019-06-06 10:11] williamdes commented on #15307
@TheoVazquez I can not reproduce this issue on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

Can you please run `SHOW GLOBAL VARIABLES LIKE '%version%';` and post the results here please ?

[2019-06-06 10:13] williamdes commented on #15306
@ibennetch What should we do ?

[2019-06-06 11:15] ibennetch commented on #15306
I think you're reporting two different matters here,

1) A strict adherence to https://semver.org/ means we should have gone with 4.9.2 because a four-digit version number doesn't comply with the specification. The best response I can give is that we've been doing it that way a lot longer than the https://semver.org/ specification, and no one has brought this up, complained, or even thought about

[2019-06-06 12:07] TheoVazquez commented on #15307
Variable_name | Value |  
-- | -- | --
innodb_version | 5.5.54
protocol_version | 10
slave_type_conversions |  
version | 5.5.54-0+deb8u1-log
version_comment | (Debian)
version_compile_machine | x86_64
version_compile_os | debian-linux-gnu

[2019-06-06 12:30] TheoVazquez commented on #15307
All the others types of exportation are working (XML,Latex,pdf etc...) but only the SQL exportation hide this fields...

[2019-06-06 13:41] aayush-ag commented on #15304
Even an AWS RDS gives an error.

[2019-06-06 16:42] aschuch247 opened #15308 "'Undefined index: strPrivDescDeleteHistoricalRows' in 'User account'"
### Describe the bug

Undefined index: strPrivDescDeleteHistoricalRows

[code]

[code]

### To Reproduce

Steps to reproduce the behaviour:

* Log in to phpMyAdmin 4.9.0.1 as administrative user and open 'User account' tab.
* Notice the notices.

### Expected behaviour

Do not see the notices. (Actually, do not see them because they do not happen.)

### Server configuration

- phpMyAdmin version:

[2019-06-06 17:15] williamdes commented on #15308
Duplicate of #15229

[2019-06-06 17:15] williamdes commented on #15308
https://github.com/phpmyadmin/phpmyadmin/blob/9abd308837bb7c3424c6aaa01e1ce180db83413a/server_privileges.php#L90

[2019-06-06 17:16] williamdes commented on #15308
91c758a

[2019-06-06 17:25] williamdes commented on #15308
@aschuch247 Where did you have this php notice ?
I had it and fixed it on column level permissions interface.

[2019-06-06 19:00] celestinoxp opened #15309 "Export page showing blank page"
### Describe the bug
 Export page showing blank page
PhpMyAdmin probably have issues with future versions of php.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'phpmyadmin'
2. Click on 'export tab'

- Operating system:
- Web server: Apache/2.4.39 (Win32)
- Database version: 10.2.24-MariaDB
- PHP version: 8.0.0-dev
- phpMyAdmin version: 4.9.0.1

### Client configuration

- Browser: G

[2019-06-06 19:02] williamdes commented on #15309
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |chr() expects parameter 1 to be int, string given
 Exception Type |php
 phpMyAdmin version |4.8.6-dev
 Incident count | 2
 Link | [Report#58008](https://reports.phpmyadmin.net/reports/view/58008)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-06-06 19:03] williamdes commented on #15309
Thanks for submitting this issue @celestinoxp !
I saw it this morning and was asking myself how to reproduce it.

[2019-06-06 19:04] williamdes commented on #15309
@celestinoxp can you please send some data you are trying to export ?
Can you make a test table and export it on demo servers ? (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2019-06-06 19:09] celestinoxp commented on #15309
problem occurs with any db, any table.
i think problem its because i'm using a future php version (php 8.0.0-dev).
i will try using php 7.3

[2019-06-06 19:16] celestinoxp commented on #15309
Confirmed, the "export" tab works fine with php 7.3.
However, I think it's interesting to think how phpmyadmin will work in the next versions of php, for example, how it happened in this situation.

[2019-06-06 19:18] williamdes commented on #15309
Yes, I will have a look if it is a bug on our side or in the tcpdf library :)

[2019-06-06 19:48] mauriciofauth commented on #15309
This also appears in our test suite. See: https://travis-ci.org/phpmyadmin/phpmyadmin/jobs/542428576#L2924

We did not discuss this yet, but I don't know if we will going to support PHP 8 in phpMyAdmin 4. PHP 8 will be supported on phpMyAdmin 5, which is the current master branch and will be released soon.
However, we will try to support PHP 8 in phpMyAdmin 4, but I think is too soon to know how d

[2019-06-06 19:49] williamdes commented on #15309
[code]

[2019-06-06 19:49] williamdes commented on #15309
@mauriciofauth I think we can not no anything to fix this issue, It is not on our side.

[2019-06-06 19:58] williamdes commented on #15308
@aschuch247 Please when you see the notices on the phpMyAdmin interface, report them using the "Report" button.

[2019-06-06 20:14] williamdes commented on #15307
I exported the table and had:
[code]

[2019-06-06 20:19] williamdes commented on #15307
I think you should download the latest version on our [website](https://www.phpmyadmin.net/downloads/).
Please send us the phpmyadmin version you are using (you can find it on the home page at the bottom rightà

[2019-06-06 20:27] williamdes commented on #15306
From what I read at https://docs.npmjs.com/files/package.json#version we can use `4.9.0.1`

http://package-json-validator.com

[2019-06-06 22:59] c0m4r commented on #15306
Yeah, I assumed that it will be rather difficult for you to drop support for your long-time used versioning system.

At first I was thinking about something like `4.9.0-1`, but the problem is that in semver `4.9.0-1` < `4.9.0`.

However, as semver documentation says:

```semver.valid(semver.coerce('42.6.7.9.3-alpha')) // '42.6.7'```

So it should be valid to use `4.9.0.1`, however it will be inter

[2019-06-07 10:57] williamdes opened #15310 "ReferenceError - check_time_out is not defined"
check_time_out is not defined

Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |check_time_out is not defined
 Exception Type |js
 phpMyAdmin version |4.9.0.1
 Incident count | 1
 Link | [Report#58209](https://reports.phpmyadmin.net/reports/view/58209)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyad

[2019-06-07 10:58] williamdes commented on #15310
Seems like the script 'export.js' was not loaded.

Could not reproduce.

[2019-06-07 10:58] #15310 closed

[2019-06-07 11:49] WanWizard opened #15311 "Adjust Privileges on copy database fails with MariaDB"
### Describe the bug

When you copy a database on MariaDB, and check the "Adjust privileges" checkbox, you get the error " column count doesn't match value count" on the mysql.db insert in adjustPrivilegesCopyDb().

### To Reproduce

Go to Operations and select Copy database when using MariaDB.

### Expected behavior

No error messages, and privileges copied.

### Server configuration

- Operating

[2019-06-07 15:26] MallyDev commented on #15249
Hi @williamdes
I'm not able to reproduce the issue. It has already been sorted or I need to change something?
<img width="182" alt="settings" src="https://user-images.githubusercontent.com/47662871/59114635-7deade00-893f-11e9-967a-b79cf987cc41.PNG">

<img width="541" alt="ub" src="https://user-images.githubusercontent.com/47662871/59114564-509e3000-893f-11e9-9c72-2479770ce251.PNG">

[2019-06-07 16:13] williamdes commented on #15249
@dysback can you still reproduce this issue?

[2019-06-07 20:04] gutitrombotto commented on #14782
Hi!
I have resolve the problem in my case.
I was using:
* Phpmyadmin 4.9.0.1
* pragmarx/google2fa:5.0.0
* pragmarx/google2fa-qrcode

When i tried to enable TwoFactor Authentication, i have the following error:

Fatal error: Uncaught Error: Call to undefined method PragmaRX\Google2FA\Google2FA::getQRCodeInline() in /home/vagrant/Code/lastphpmyadmin/libraries/classes/Plugins/TwoFactor/Application.ph

[2019-06-08 07:57] nunoperalta opened #15312 "Option to Perform ALTER ONLINE (or ALGORITHM=INPLACE)"
When editing the structure of a table, it would be nice to have an option next to the "Preview SQL" button to try an Online Transaction.

![image](https://user-images.githubusercontent.com/487079/59144143-0ebacb80-89cb-11e9-83f0-d7b2217d63ca.png)

This would perform the ALTER TABLE with either:

ALTER ONLINE or ALGORITHM=INPLACE

Many times, I want to try to see if I can make a change in the datab

[2019-06-08 23:24] lem9 commented on #15306
Semantic versioning criticism (and lots of discussion) : https://gist.github.com/jashkenas/cbd2b088e20279ae2c8e

[2019-06-09 04:05] fontebasso commented on #15297
@andybajka I could not reproduce this bug, could confirm if the scrollbar just does not appear exactly in this environment: Mojave macOS - Retina 4K, 21.5-inch, 2019 - Browser: Firefox 67?

If you change your browser to Google Chrome, for example, does the bug disappear?

[2019-06-09 11:34] aschuch247 commented on #15308
91c758aae4ec9f10fb32b0d28c395211d4654e0f is included in 4.9.0.1 already? It seems that way. But I still have this issue in phpMyAdmin 4.9.0.1.

@williamdes: As reported, I have this directly in the `User accounts` overview below the table labelled as `User accounts overview`.

The server is inside a VPN, so I just followed instructions: `An error has been detected and an error report has been gene

[2019-06-09 11:43] williamdes commented on #15308
Yes, it is included :)

@aschuch247 Can you send more informations on what database server you are using ?
I think you are using MariaDB

[2019-06-09 12:01] aschuch247 commented on #15308
@williamdes: No, I am using Percona: `Server version: 5.6.44-86.0-log - Percona Server (GPL), Release 86.0, Revision eba1b3f`.

[2019-06-09 12:21] williamdes commented on #15308
@aschuch247 I used the same version you have and could not reproduce the behavior
can you please send `SHOW GRANTS;` ?

[2019-06-09 13:47] domenk opened #15315 "Cannot edit or export TIMESTAMP column with default CURRENT_TIMESTAMP in MySQL >= 8.0.13"
### Describe the bug

phpMyAdmin behaves weirdly when trying to edit or export TIMESTAMP column with default value of CURRENT_TIMESTAMP. It simply ignores the column if you try to edit it or export it.

### To Reproduce

1. Create a table with TIMESTAMP column (default should be CURRENT_TIMESTAMP):
[code]

2. Insert new row:
[code]

3a. Edit the row and change value of `timestamp` column. When sav

[2019-06-09 14:01] williamdes commented on #15315
@domenk Thanks for reporting !
[code]

Field | Type | Null | Key | Default | Extra |  
-- | -- | -- | -- | -- | -- | --
id | int(10) unsigned | NO | PRI | NULL | auto_increment
timestamp | timestamp | NO |   | CURRENT_TIMESTAMP | DEFAULT_GENERATED

[2019-06-09 14:18] domenk opened #15316 "CROSS JOIN clause is removed on export"
### Describe the bug

CROSS JOIN clause is removed from the query when trying to export query results to CSV, CSV for MS Excel or OpenDocument Spreadsheet (I haven't tested the other formats). Consequently query fails.

### To Reproduce

1. Create a table:
[code]

2. Insert some rows:
[code]

3. Run query with CROSS JOIN:
[code]

4. Export query results in CSV, CSV for MS Excel or OpenDocument Spr

[2019-06-09 14:39] domenk opened #15317 "phpMyAdmin silently ignores MySQL errors on export"
### Describe the bug

phpMyAdmin silently ignores MySQL errors than may occur when executing the query for export. It exports only rows before the errors occurs. No warning/error is emited and exported file with truncated results can be normally downloaded.

### To Reproduce

We will trigger `#1242 - Subquery returns more than 1 row` error. Default limit of rows per page in phpMyAdmin is 25. If er

[2019-06-09 15:01] williamdes commented on #15315
Fixed by 64dc20460ecf6688580f66063174012b75d0f66e

[2019-06-09 15:05] aschuch247 commented on #15308
@williamdes: https://dev.mysql.com/doc/refman/5.6/en/proxy-users.html, see section `Default Proxy Users`.

[code]

[2019-06-09 15:06] williamdes commented on #15316
You can also see that the alias is removed, see: #14691

[2019-06-09 16:16] williamdes commented on #15308
@aschuch247 Can you please try to see if you have the line https://github.com/phpmyadmin/phpmyadmin/blob/9abd308837bb7c3424c6aaa01e1ce180db83413a/server_privileges.php#L90

I can not reproduce this issue and spent hours trying to..
I have a fix but it is not very cool.

Can you send a step by step way to reproduce this issue ?
And a screenshot ?

[2019-06-09 16:17] williamdes commented on #15308
[code]

[2019-06-09 17:59] aschuch247 commented on #15308
@williamdes: I debugged the issue myself now, but all I tried did not yield any result. Long story short, it now works after restarting PHP FPM.

I never looked into how PHP FPM works and how it does stuff (like (OP code) caching), but there seems to be a bug somewhere in there. So if a symlink gets changed from one phpMyAdmin version to another, this is not (fully) noticed by PHP FPM. The version

[2019-06-09 17:59] #15308 closed

[2019-06-09 18:32] aschuch247 commented on #15200
`There is mismatch between HTTPS indicated on the server and client. This can lead to non working phpMyAdmin or a security risk. Please fix your server configuration to indicate HTTPS properly.`

What is the actual idea behind this? I am using phpMyAdmin behind a HTTPS accelerator proxy and it works very well. At the moment, I consider phpMyAdmin as very proxy-friendly.

Examples of not so friendl

[2019-06-09 19:33] williamdes commented on #15200
Thanks for the feedback @aschuch247 !

[2019-06-09 21:11] dev-subhojit commented on #14433
Try to delete/comment those lines:
$cfg['Servers'][$i]['controluser'] = 'USERNAME';
$cfg['Servers'][$i]['controlpass'] = 'PASSWORD';

[2019-06-10 12:37] williamdes commented on #15236
cc @Blaimi

[2019-06-10 13:42] Blaimi commented on #15236
Hey there,

I've made some progress recently packaging the current version for the upcoming buster release as well as backporting the PMASA back to stretch and jessie on salsa.debian.org.

the work ist based on work from @fsateler and @gratuxri.

@williamdes started reviewing the mergerequests and did already some upstream patches. we (@krumedia) also did a bionic backport for internal use which i

[2019-06-10 14:55] lem9 commented on #15297
Version 4.8.3 is outdated.

[2019-06-10 22:44] bozhi91 commented on #14507
Hi William,
I want to comment you something about the project.
We started the development and we decided to store the table's width in cookies instead of using another tables for saving all the data. This way could be more comfortable for the users because only the users using the same computer may see the changes. If someone connects remotely, will not see the changes because does not have the da

[2019-06-11 02:18] ibennetch opened #15321 "Grid edit focus oddity"
Using master, there's some oddity with the focus when grid editing.

From the "Browse" tab, when I double-click on a row, I expect to be put in edit mode where I double-clicked. In master, double-clicking causes the edit area to appear, but the focus is not in the area, so I can't type until I click again to put the cursor in it.

[2019-06-11 05:44] williamdes commented on #14507
Seems okay :+1:
What do you think about that @ibennetch?

[2019-06-11 07:53] williamdes commented on #14299
[code]

[code]

[2019-06-11 08:06] fliespl commented on #14270
Confirming that this bug is still valid for 4.9.0.1.

[2019-06-11 08:20] williamdes commented on #14270
@fliespl Yes..
Needs to be fixed soon

[2019-06-11 13:23] scorobo commented on #15282
No, we can't, because it (8.0.15-6) is production server already.

[2019-06-11 17:26] hoxi commented on #14433
I have had this issue for a while. Reverted back phpMyAdmin 4.7.8 where I don't see the issue. None of the suggested workaround helped for me. @williamdes I can give you access to a server were the issue is seen, will PM you.

[2019-06-11 19:12] mauriciofauth commented on #14270
This will not be fixed in 5.0 either. This requires a lot of work to be fixed, because we have to change how we handle requests. But we are working on it.

[2019-06-11 21:39] YanDatsiuk opened #15323 "Command "yarn install" during installing project from Git does not work."
### Command "yarn install" during project installation does not work.

It is not possible to complete installation of the project. More precisely: During [installing from git](https://docs.phpmyadmin.net/en/latest/setup.html#installing-from-git) at step: "yarn install" there is an error: `error bootstrap@4.3.1: The engine "node" is incompatible with this module. Expected version ">=6". Got "13.0.0

[2019-06-11 21:57] mauriciofauth commented on #15323
Hi, @YanDatsiuk, thank you for reporting this.

What is your [Node.js](https://nodejs.org/) version?
You are probably running an older version of the `node`. See:
[code]

[2019-06-11 22:20] YanDatsiuk commented on #15323
Hi, @mauriciofauth , thank you for your idea.

I have checked: nodejs version is 12.4.0
Also I have installed nvm and tried to use different versions of nodejs: v8.16.0, v10.16.0 and v12.14.0. In the end error is the same: `The engine "node" is incompatible with this module. Expected version ">=6". Got "13.0.0-nightly201904294cf8b4212c"`

[2019-06-11 22:50] mauriciofauth commented on #15323
Maybe the Node version Yarn is running is different.
Try running `yarn node --version`

[2019-06-11 23:58] YanDatsiuk commented on #15323
Problem was in incorrect setup node & yarn on my system.
Somehow `yarn node --version` gives one result:

and `sudo yarn node --version` gives another:

So running "`sudo yarn install`" instead of "`yarn install`" solves the issue.

Obviously problem occurs only when node/yarn is configured incorectly. I am closing the issue.
Thanks for help @mauriciofauth

[2019-06-11 23:58] #15323 closed

[2019-06-12 01:36] mauriciofauth commented on #15323
I'm glad you found the issue. :)

[2019-06-12 04:05] mauriciofauth opened #15324 "facebook/webdriver is throwing an exception"
### Describe the bug

Selenium tests with `facebook/webdriver` 1.7.0 are throwing an exception.

https://travis-ci.org/phpmyadmin/phpmyadmin/jobs/544537080#L564

[code]

Related commit: a2629a9967b0f3d74e4eb18db69fb13a0874c9bc

[2019-06-12 05:42] williamdes commented on #15324
https://github.com/facebook/php-webdriver/pull/643  ?

[2019-06-12 07:35] OlafvdSpek commented on #14270
Why not? IMO it should be a showstopper.

I'd use GET for simple requests and POST for the more complex ones.

[2019-06-12 08:27] williamdes commented on #14270
You know what, I fixed it !!
Opening a PR in less than one hour !

cc @OlafvdSpek @mauriciofauth

[2019-06-12 08:47] johan-smits opened #15326 "Docker repo missing version tags"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

The docker repo https://hub.docker.com/r/phpmyadmin/phpmyadmin/tags does not contain all release tags. It only has 4.9 and in the past the minor version was also available.

### Expected behavior

Have a 4.9.0.and a 4.9.0.1 tag

[2019-06-12 08:57] williamdes commented on #15326
cc @ibennetch

[2019-06-12 16:45] svivian opened #15327 "Shift-click in Export misses checkbox"
### Describe the bug

Using Shift + click on the checkboxes in Export does not select the correct tables.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Export
2. Click on Custom
3. Under Tables, deselect all tables using the two checkboxes at the top.
4. Click a checkbox for a table (left hand column).
5. Hold Shift and click another checkbox further down.

### Expected behavior

Al

[2019-06-12 20:05] Drakar2007 commented on #15225
@williamdes - FWIW, your fix #15325 does not appear to fix the specific issue originally reported in this thread by @ftrotter - which is specifically that ctrl+click doesn't work right.  I've tested your fix on the server you posted in the other thread and right-click & open in new tab / middle click DOES work (which is what i was most hoping for), but apparently ctrl+click is unaffected.  (Though

[2019-06-12 20:08] williamdes commented on #15225
Okay, thanks for the feedback !
I will maybe investigate :)

[2019-06-12 21:34] UPF-PBOSS2019 commented on #14112
Dear @oresch and @williamdes.

The code for the quick filter has been developed and changes have been made to the js/sql.js file.
It maintains the old filter and includes a new filter for each row. Filtering multiple columns with different values is also possible.
We require assistance to proceed with the deployment of this new functionality. It is unclear for me what kind of documentation is requ

[2019-06-13 00:12] Blaimi opened #15328 "no message after import of zipped shapefile without php-zip"
### Describe the bug

Importing a file.ext.zip only works if the php-zip-extension is loaded. Otherwise the import results in an empty page. Since php-zip is only a suggestion, this should result in an informational message.

### To Reproduce

Steps to reproduce the behavior:
1. Go to an installation of phpmyadmin where php-zip is not active
1. import any zipped file which works unzipped, e.g. tes

[2019-06-13 02:50] jnorrid commented on #14433
I would never do this in production, but I ran into this problem on my personal development machine under XAMPP 7.3.0 with MariaDB 10.1.37. My solution was to set:

`$cfg['Servers'][$i]['controluser'] = '<root>';`
`$cfg['Servers'][$i]['controlpass'] = '<root_password>';`
in the phpmyadmin config file: **config.inc.php**

After forcing a page reload, I was able to manipulate users again. I think th

[2019-06-13 05:50] williamdes commented on #14112
@UPF-PBOSS2019 I think you should open a pull-request so we can discuss the code :)

[2019-06-13 05:51] williamdes commented on #15328
Maybe #14326

[2019-06-13 07:37] kartik1000 commented on #15261
@williamdes, Is this issue occurring on your console? It is working fine for me. As you mentioned we might need more info. for this one.

[2019-06-13 07:41] williamdes commented on #15261
@kartik1000 I think that the issue only occurs when the table has many many fields, this is why I asked @marcelloromani for more details.

[2019-06-13 18:24] williamdes opened #15330 "[5.0.0-dev] Notice - Undefined index: favoriteTables"
Undefined index: favoriteTables

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: favoriteTables
 Exception Type |php
 phpMyAdmin version |5.0.0-dev
 Incident count | 40
 Link | [Report#58480](https://reports.phpmyadmin.net/reports/view/58480)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyad

[2019-06-13 18:26] williamdes commented on #15330
[code]

[code]

[2019-06-14 01:52] #15330 closed

[2019-06-14 12:06] saviobosco commented on #14801
@sharik709  and @thicolares  are you through working on this issue? . I am willing to work alongside .

[2019-06-14 14:37] andybajka commented on #15297
This must have been a browser issue as I cannot reproduce the issue.

[2019-06-14 14:37] #15297 closed

[2019-06-14 18:17] #15303 closed

[2019-06-15 12:13] sharik709 commented on #14801
Hi @saviobosco, Great. Choose a file and post here the name of the file you are working on. So, others don't work on same file.

Happy coding :)

[2019-06-15 16:05] OlafvdSpek commented on #15330
I'm still seeing this in phpMyAdmin-5.0+snapshot:

[code]

V: https://files.phpmyadmin.net/snapshots/phpMyAdmin-5.0+snapshot-english.tar.xz

[2019-06-15 16:16] williamdes commented on #15330
@OlafvdSpek please read the file `RELEASE-DATE-5.0+snapshot`
`Tue Jun 11 22:02:34 UTC 2019` for me
So the commit at `14 juin 2019 à 03:51 UTC+2`  can not be included into it :)

[2019-06-15 16:18] OlafvdSpek commented on #15330
Isn't it supposed to be a daily snapshot? :p

[2019-06-15 16:20] williamdes commented on #15330
It is supposed to, I do not know why it is not updated (or purged from cache)

`curl -X HEAD https://files.phpmyadmin.net/snapshots/phpMyAdmin-5.0+snapshot-english.tar.xz -vvv`

[code]

[2019-06-15 19:11] Blaimi commented on #15236
Here we go: https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa

[2019-06-15 21:41] Blaimi commented on #15328
The bug is not the not working import, it's ovious why this is not working, but the missing error-message

[2019-06-15 21:55] Blaimi opened #15334 "export of GIS visualisation not working"
On the page for GIS Visualization are export-buttons for pdf, png and svg. Using these methods result in some page-reloads and ends with the error-message “No SQL query was set to fetch data.”

### To Reproduce

Steps to reproduce the behavior:
1. Open a table with Geodata, e.g. from a shapefile-import like in /test/test_data/dresden_osm.shp.zip
2. Click on 'Visualize GIS data'
3. Click on one of

[2019-06-15 22:14] williamdes commented on #15334
[dresden_osm.shp.zip](https://github.com/phpmyadmin/phpmyadmin/files/3293596/dresden_osm.shp.zip)

[2019-06-16 12:46] williamdes opened #15336 "ReferenceError - Cookies is not defined"
Cookies is not defined

See: https://github.com/js-cookie/js-cookie

Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |Cookies is not defined
 Exception Type |js
 phpMyAdmin version |4.9.0.1
 Incident count | 1
 Link | [Report#58473](https://reports.phpmyadmin.net/reports/view/58473)

*This comment is posted automatically by phpMyAdmin's [error-reporting-

[2019-06-16 12:48] williamdes commented on #15336
https://github.com/phpmyadmin/phpmyadmin/blob/ec74b3401078aa73a7596c66e90e191262b17bd3/js/functions.js#L4981-L4983

[2019-06-16 12:48] williamdes commented on #15336
No idea on how to reproduce.

[2019-06-16 12:48] #15336 closed

[2019-06-16 12:57] williamdes commented on #14555
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'removeChild' of null
 Exception Type |js
 phpMyAdmin version |4.9.0.1
 Incident count | 32
 Link | [Report#58110](https://reports.phpmyadmin.net/reports/view/58110)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-06-17 01:01] Blaimi opened #15337 "download of setup not working since 5254ec1b65fb21a88aceec405c159e62eda69394"
### Describe the bug

downloading the configuration from setup is not working since 5254ec1b65fb21a88aceec405c159e62eda69394

### To Reproduce

Steps to reproduce the behavior:
1. Go to /setup
2. Click on 'Download' or 'Display'
3. See error

[code]

### Expected behavior

The configuration gets displayed or downloaded

### Server configuration

- Operating system: fedora 30
- Web server: Apache/2

[2019-06-17 05:53] williamdes commented on #15337
@mauriciofauth can you please have a look?

[2019-06-17 05:56] #15113 closed

[2019-06-17 06:14] williamdes commented on #14346
@JBES can you please try 4.9.0.1?

[2019-06-17 06:14] #13856 closed

[2019-06-17 21:02] technoknol commented on #15321
@ibennetch I've tested it with following systems but unable to reproduce.

1. Ubuntu 16.04, Chrome 73, phpmyadmin 4.0.10
2. Ubuntu 16.04, Chrome 73, phpmyadmin 5.0.0-dev

Could you please specify your versions, OS etc.?

[2019-06-17 22:26] #15337 closed

[2019-06-17 22:27] mauriciofauth commented on #15337
Fixed. Thanks, @Blaimi

[2019-06-18 02:11] ibennetch commented on #15321
Hm, I just tried with Firefox and wasn't able to reproduce this there. I was using Chrome 74 on MacOS 10.14, with phpMyAdmin 5.0.0-dev. In fact, now I can't reproduce on Chrome, either. Perhaps it was a cache issue or something else that's cleared up in the meantime.

Thanks for testing this and sorry for the noise. I'll close this for now.

[2019-06-18 02:11] #15321 closed

[2019-06-18 04:28] #15324 closed

[2019-06-19 01:00] falconfx commented on #15161
I am still trying to validate the PR so that it passes all the tests, but here I have made a possible approach to the solution #15342

[2019-06-19 01:03] falconfx commented on #15327
I am still trying to validate the PR so that it passes all the tests, but here I have made a possible approach to the solution #15343

[2019-06-19 06:15] williamdes commented on #14491
@kartik1000 Are you interested by this enhancement?
Basically it introduces a global cfg variable to set the default collation everywhere (only on the selects in the GUI) to not have to go select utf8mb4generalci each time you create a db, table, column for example

[2019-06-19 14:57] JBES commented on #14346
@williamdes - I have been using 4.9.0.1 over the past couple days and no problems so far.

[2019-06-19 16:12] #15315 closed

[2019-06-20 12:24] #14346 closed

[2019-06-20 21:23] stalker37 commented on #12301
some problem on phpmyadmin   4.9.0.1

[2019-06-20 21:32] williamdes commented on #12301
@stalker37 You are right but this is more #14235 for now

[2019-06-21 16:38] bm322741 opened #15346 "Case sensitive: does not contain a unique column"
### Describe the bug

The check for primary key is case sensitive.

### To Reproduce

select id from product [works]
select ID from product [gives no unique column error]

### Expected behavior

Both should be unique columns for editing. Do a case-insensitive check.

### Screenshots

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/464

[2019-06-22 03:43] JoBerkner opened #15347 "Warning “A non-numeric value encountered” when using parentheses with LIMIT statement"
### Describe the bug

A PHP warning occurs when running a valid SQL query. The warning message is:

`A non-numeric value encountered`

### To Reproduce

Steps to reproduce the behavior:
1. Go to phpmyadmin
2. Create two tables that share one column
3. Run the following query:
[code]
4. The warning occurs, but the results are also shown correctly.

### Expected behavior

The query should result wit

[2019-06-22 09:24] williamdes commented on #15346
https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html

@bm322741 can you please send the output of:
[code]

[2019-06-22 09:28] williamdes commented on #15347
@JoBerkner can you help reproduce this issue ?
[code]
https://demo.phpmyadmin.net/QA_4_9/db_sql.php?db=menagerie

[2019-06-22 09:34] williamdes commented on #15334
![image](https://user-images.githubusercontent.com/7784660/59962135-a0552d80-94e1-11e9-97d1-15f76238bf9f.png)
I can confirm, the URL is broken.

Tested on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2019-06-22 10:20] #14987 closed

[2019-06-22 10:20] #14270 closed

[2019-06-22 10:20] #14363 closed

[2019-06-22 12:29] #15334 closed

[2019-06-22 20:43] williamdes commented on #15267
@fraria76 I think this issue can be closed if it is solved ?

[2019-06-22 20:49] williamdes commented on #14299
Param | Value
 -----------|--------------------
 Error Type | ReferenceError
 Error Message |makeGrid is not defined
 Exception Type |js
 phpMyAdmin version |5.0.0-dev
 Incident count | 2
 Link | [Report#58612](https://reports.phpmyadmin.net/reports/view/58612)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-06-23 08:44] fraria76 commented on #15267
Hi,
yes it's solved.
Kind regards

[2019-06-23 08:44] #15267 closed

[2019-06-24 01:14] JoBerkner commented on #15347
On the demo server you linked to I could reproduce the warning using this query:

`(SELECT * FROM information_schema.SCHEMATA LIMIT 1)`

[2019-06-24 02:54] ibennetch opened #15350 ""MIME type" references should be changed to "Media type""
This was first called to our attention by [kingu](https://hosted.weblate.org/user/kingu/) at https://hosted.weblate.org/translate/phpmyadmin/4-9/nb_NO/?checksum=4948153a8921808d#comments (see also https://www.iana.org/assignments/media-types/media-types.xhtml).

The term "MIME type" is now apparently outdated and should now be referred to as "Media Type."

We use this quite a few times in both cod

[2019-06-24 08:14] csware opened #15351 "Two factor auth setting is not retained after modifying some other config"
### Describe the bug

Set up two factor authentication in PHPMyAdmin and then change a setting. See that 2FA is not enabled any more.

### To Reproduce

Steps to reproduce the behavior:
1. Log in
2. Setup 2FA
2. Logout
3. Login with 2FA enabled
4. Go to setting, functions and toggle version checks
5. See that 2FA is not enabled any more

### Expected behavior

2FA should still be enabled.

### Ser

[2019-06-24 09:08] Chebarbudo opened #15352 "phpMyAdmin 2.2.0 wrong file name"
### Describe the bug

In page https://www.phpmyadmin.net/files/2.2.0/, the file to download is named "phpMyAdmin-2.1.0-php.zip" instead of "phpMyAdmin-2.2.0-php.zip". When unziped, the folder name is "phpMyAdmin-2.2.0".

### To Reproduce

Navigate to https://www.phpmyadmin.net/files/2.2.0/ and see.

### Expected behavior

The zip file should be named "phpMyAdmin-2.2.0-php.zip".

### Screenshots

!

[2019-06-24 18:08] mauriciofauth commented on #15350
I suggest changing _MIME type_ to _Media (MIME) type_ in 5.0 and removing references to _MIME_ and only use _media type_ in 5.1.

[2019-06-24 18:32] williamdes commented on #15033
Could not be reproduced, but the error does not show in real time.

[2019-06-24 18:32] #15033 closed

[2019-06-24 18:33] williamdes commented on #15034
Could not be reproduced, but the error does not show in real time.

[2019-06-24 18:33] #15034 closed

[2019-06-24 18:34] williamdes commented on #15066
Fixed.

[2019-06-24 18:34] #15066 closed

[2019-06-24 19:13] williamdes commented on #15230
Git bisect found out that 637fe6de06c1c7aa3b9d262462a2e9cac7768fd3 is the first bad commit.

[2019-06-24 19:24] #15230 closed

[2019-06-24 20:18] williamdes commented on #15015
9eba565bf44b93dea2ec92392aebca95a185f6c4 ?

[2019-06-24 20:20] williamdes commented on #14495
@mightydok :ping_pong: ?

[2019-06-24 20:21] williamdes commented on #14770
@RobertoBochet @Bournvita1998 Can you still reproduce on 4.9.0.1 (or on demo servers) ?

[2019-06-24 20:23] williamdes commented on #14082
@DoctorSubtilis @mGGk-fr @vividalllc Can you still reproduce on 4.9.0.1 ?

[2019-06-24 20:37] williamdes commented on #14026
@cperrot What should be done ?
@ibennetch We can enable `AES_ENCRYPT` for varchar fields ?

[2019-06-24 20:40] williamdes commented on #12906
@rutkas Do you agree to close this issue if you can test that the issue still does not exist on 4.9.0.1 ?

[2019-06-24 20:42] williamdes commented on #14004
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-06-24 20:42] #14004 closed

[2019-06-24 20:47] williamdes commented on #13459
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

@manishbisht If you can reproduce this issue I will gladly re-open and find a fix !

[2019-06-24 20:47] #13459 closed

[2019-06-24 20:54] williamdes commented on #13203
@marksagal Can you try 4.9.0.1 and check that xdebug is not enabled ?

[2019-06-25 11:21] OlafvdSpek commented on #15350
Sounds and looks more complex than necessary, why not go for `Media type` directly?

[2019-06-25 11:44] ibennetch commented on #15350
Olaf, my thinking is that many people won’t realize that it’s chsnged and
could get hung up on the new terms...although it probably isn’t that big of
a deal, it’s pretty obvious in many cases what this field is for.

So I’m not sure. Maybe it does make more sense to switch over fully for 5.0.

🤷‍♂️

[2019-06-25 14:36] bm322741 commented on #15346
SELECT @@lower_case_table_names returns 0

[2019-06-25 18:51] bozhi91 commented on #14507
Hi William,
We have finished with our implementation. Now we need to do the pull request.
However, we were working on the forked project so how do I do the pull request?
Do I have to do it inside the forked project or what?
Thanks

[2019-06-25 19:07] williamdes commented on #14507
Yes, please and add #14507 into the PR message

Open the PR from the fork to the phpMyAdmin repo.

[2019-06-25 22:11] bozhi91 commented on #14507
What do you mean by: "add #14507 into the PR message"?
I have to comment that we have been working on this issue in the pull request message?

[2019-06-25 23:29] rutkas commented on #12906
Gentoo do not push 4.9 yet, so I'm still on 4.8.5, the bug seems to be fixed. So it can be closed

[2019-06-25 23:29] #12906 closed

[2019-06-26 06:18] williamdes commented on #14507
@bozhi91

Nothing more is needed :)

[2019-06-26 07:12] bozhi91 commented on #14507
Hi,
The pull request is done. I think you can see it.
We are waiting for your answer.
Thanks for your help.

[2019-06-26 09:48] mightydok commented on #14495
@williamdes sorry for delay, will check on weekends

[2019-06-26 11:31] saurass commented on #15346
@bm322741 can you please try to reproduce this error [here](https://demo.phpmyadmin.net/STABLE/tbl_sql.php?db=jsf_estudent&table=korisnici)

[2019-06-26 12:02] williamdes commented on #15346
[code]

Can you send more details about the database server (on the phpMyAdmin homepage) ?

[2019-06-26 14:01] cperrot commented on #14026
After 1.5 years it's hard to remember what the issue was. Apparently AES_Encrypt only works for BINARY and VARBINARY fields.

[2019-06-27 15:57] Vij4yk commented on #12177
` <IfModule mod_userdir.c>`
`       <Directory /home/*/public_html>`
     ` php_admin_flag engine Off`
`       </Directory>`
` </IfModule>`

**$ sudo service apache2 restart**

[2019-06-27 21:47] williamdes commented on #14918
@thelounge-zz We will now use hex for the session token :tada: !
Will be part of next version

[2019-06-27 21:52] #14918 closed

[2019-06-27 22:33] thelounge-zz commented on #14918
thanks

[2019-06-27 23:46] radicand commented on #14291
This issue is still present in 4.9.0.1 for what it's worth.

I configured a reproduction on the 5.0.0-dev server in the fk_ellipsis_repro database. Export below in case it gets wiped.

To reproduce:
- Go to the `fk_dep` table and browse. Click the link in in the row shown.
- You should see the row referenced in `source` on the new page, instead you see no results, and the SQL executed above contai

[2019-06-28 08:18] narodmon opened #15362 "Proposal to reduce the load on the web server with DataURI"
Good day colleagues.

Let me offer you a fairly simple way to reduce the load on the web server when using PMA just to replace a lot of small graphics with DataURI (inline base64 form of the mediadata instead of separate files).

The problem lies in the fact that the PMA, on its own load, creates a huge number of threads for downloading data from the server and often falls under load restrictions.

[2019-06-28 13:31] ibennetch commented on #15362
Hello and thank you for taking the time to write to us with detail.

Could you share with us a bit more information about the root problem that
has caused you to come up with this idea? Web server configuration,
anything special about the server, etc? Which phpMyAdmin version?

This problem is particularly interesting because we use CSS sprites to
reduce the number of HTTP requests and as far as I

[2019-06-28 15:39] sangue18 opened #15363 "Alter table with TEXT DEFAULT '' misbehaves"
Changing the default value of a field with type TEXT to nothing (empty string), adds two quotes as a new default.

Given a table 'test' with a field 'content' as TEXT.

Reproduce v1:
- open table structure view
- click on CHANGE for field 'content'
- change field settings to DEFAULT 'As defined' and leave default value blank.

Reproduce v2:
- go to SQL and
- ```ALTER TABLE `test` CHANGE `content`

[2019-06-28 15:50] sangue18 commented on #15363
![image](https://user-images.githubusercontent.com/36418167/60354648-fc7ded00-99cc-11e9-8513-c1693ef2521b.png)
![image](https://user-images.githubusercontent.com/36418167/60354672-0d2e6300-99cd-11e9-8c60-7ca5b9f246dd.png)
![image](https://user-images.githubusercontent.com/36418167/60354710-1fa89c80-99cd-11e9-9544-73ddb30878eb.png)
![image](https://user-images.githubusercontent.com/36418167/6035473

[2019-06-30 15:13] mauran commented on #14801
Hi! Is there still some files i can work on? if so, can i get an example of one that would be nice to get converted to twig?

[2019-06-30 20:55] mauriciofauth commented on #15350
@ibennetch I created an alternative pull request (#15366) that changes MIME type references to media type. You can choose between #15354 and #15366.

[2019-07-01 02:20] #15286 closed

[2019-07-01 07:39] rolfjentsch opened #15367 "Replication actions do not work for primary replica on primary replica"
I had some servers that used to replicate the fiine. I had to cut the repliication for a year or so.
I did an update to phpadmin 4.9.0.1 and tryed to reinitialise replication

getting the following result

Warning in ./libraries/classes/DatabaseInterface.php#311
Illegal offset type in isset or empty

Backtrace
[code]
i retried it with an  other Database and an other nas ..... same error

hwat shal

[2019-07-01 07:47] williamdes commented on #15367
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |Illegal offset type in isset or empty
 Exception Type |php
 phpMyAdmin version |4.9.0.1
 Incident count | 4
 Link | [Report#58426](https://reports.phpmyadmin.net/reports/view/58426)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-07-01 08:16] narodmon commented on #15362
phpMyAdmin 4.9.0.1 on nginx/1.16.0 + php-fpm
Steps for more details:
1. Pls open PMA in (eg) FireFox with opened tab "Network" in developers tools.
2. Press Ctrl+F5 in FireFox (full page reload).
3. I can see 73(!) requests (1 html, 6 css, 27 js, 6 xhr, 33 images..) in first second to my webserver only from 1(!) user session.
PS Also 27 jscripts its also not a good idea too.
PPS More than 8-10 req

[2019-07-01 09:09] mpdavinci opened #15368 "Bug when trying to copy table"
### Describe the bug

I tried to duplicate a table using copy tool (operation tab) but the new table does not contain the same number of line. My first table contains 8'000'000 lines and the newly created table contains approx 7'800'000 lines (but at each try this number changes)

### To Reproduce

Steps to reproduce the behavior:
1. Go to operation
2. Go in the copy table div
3. Click 'execute'
4

[2019-07-01 09:10] williamdes commented on #15368
@mpdavinci Please edit your message and add informations in order to help us reproduce the issue you are trying to report.

[2019-07-01 11:05] williamdes commented on #15367
@rolfjentsch Thanks for reporting, other users seem to have the same error.
We will have a look ASAP

[2019-07-01 11:16] mpdavinci commented on #15368
@williamdes done, sorry I missclicked

[2019-07-01 14:04] mpdavinci commented on #15368
I think it's a bug from the browse tab and its tiny message at the top of the page
![Capture](https://user-images.githubusercontent.com/52403953/60442624-b79ac600-9c19-11e9-9ad2-3d4b60fdb30f.PNG)
When I count the number of line using 'COUNT', I got the number of line that I should have

[2019-07-01 15:03] williamdes commented on #15368
Oookay, it is https://docs.phpmyadmin.net/en/latest/config.html?highlight=count#cfg_MaxExactCount
If so you can close the issue since it is not really an issue ?

[2019-07-02 07:01] mpdavinci commented on #15368
thank you !

[2019-07-02 07:01] #15368 closed

[2019-07-02 08:12] OlafvdSpek commented on #15362
Says who? ;)
10+ requests for a page seems normal nowadays.

[2019-07-02 12:15] narodmon commented on #15362
If you are the one user on your site - its OK. But if your site the is the production site....
Each PMA user creates load on the web server as 10-20 average users of the site, do you think this is normal ?
Please, respect the work of our colleagues, system administrators and save the budget of their clients without wasting server resources.

[2019-07-02 12:18] narodmon commented on #15362
I have too much messages "limiting requests, excess .." in my nginx error log file mostly for PMA alias and spammers.

[2019-07-02 12:20] OlafvdSpek commented on #15362
Yes
Note most of the resources should get cached, so future requests should cause less load.

[2019-07-02 12:54] Ninos commented on #15236
Is it still planned to use own repository? I recommend that instead of uploading to debian default repository (in past we already had this problem, because of that I created this issue) :-)

[2019-07-02 13:27] narodmon commented on #15362
Yes, the next load is 50% less (if client side caching is enabled), but the initial PMA load causes an error HTTP 429 (Too Many Connections).
Yes, of course, for the sake of PMA alone, you can increase the limits for one session (not one server), but is it worth it to increase the attacks of DDoS attacks? Definitely not.
Well, it would be if this problem was resolved somehow very difficult, but af

[2019-07-02 13:29] narodmon commented on #15362
Thanks for your time, I will wait for new optimized versions of PMA.

[2019-07-02 13:30] OlafvdSpek commented on #15362
What limit did you pick?
Seems to be lower than the limit browsers are expecting.

[2019-07-02 13:34] narodmon commented on #15362
At this moment PMA works well only if limit_req ~120 per ip per sec, eg for IoT project 30 is enough (per IP per sec too) w/o errors in log file.
For the browser normally up to 8-16 connections, mostly 4.

[2019-07-02 19:34] Blaimi commented on #15236
What do you mean with “own”? Owned by @phpmyadmin on github or a repository for packages separated from this one? 😉 And what was the problem? The main problem in the past 1.5 years was, that noone was found to maintain the packaging — that's nothing a separate repository could fix 😉

If you mean only to be separated, the repository on salsa ist perfectly fine. Its purpose is only for the debian pa

[2019-07-02 19:44] Blaimi commented on #15236
or do you mean _debian_ repository instead or _git_ repository? The ppa should do the job also for buster since the code is the same.

[2019-07-02 22:46] Blaimi commented on #15236
# TL;DR;
Even with my misunderstanding there are still arguments which arel valid:

# comments

I don't think so. pma is installed on thousands of servers and a defacto-default on any LAMP-installation. I am with you in the context of having bugs in a software only useful for developers which can always use a different tool (like CLI) but absolutely not with you in the context of bugs in a softwar

[2019-07-02 23:02] Blaimi commented on #15236
ah, I forgot to mention the alternatives: snap and flatpak. These formats are especially invented to include all the dependencies and libraries in a single package and to be distribution-independent. I don't know much about how they fit for webapplications which require connections to sql-servers but it deserves a chance.

I am using them only for desktop-applications (intellij, skype, firefox nig

[2019-07-03 12:36] Ninos commented on #15236
Same opinion, I meant it's non-critical for the system itself, if application is not running anymore because of a bug in update (only application is not running anymore, there's no dependency to other applications).

About the security issues, you're completely right, because of that I opened this issue. phpmyadmin should definitely be available via debian repository (debian or own doesn't matter)

[2019-07-03 18:48] Blaimi commented on #15236
I merged https://salsa.debian.org/phpmyadmin-team/phpmyadmin/merge_requests/6/ into the stretch branch so we can upload the package with the fix.

[2019-07-03 19:29] Donkie opened #15370 "Edit routine UI incorrectly removes too many escape slashes"
### Describe the bug

When trying to edit a routine that contains a string with multiple consecutive backslashes (which is needed for for example regexp commands), one slash will be missing for each group of slashes.

For example, when exporting my routine, I get something like:
[code]
As it should be, but when editing the routine via the UI, I get:
[code]
Thus, when saving this the pattern string

[2019-07-03 19:41] Blaimi commented on #15236
BTT: I will not have time to create a package until next week, but maye someone wants to create a new (and empty, i.e no initial empty commit or readme or license …) repository like github.com/phpmyadmin/debian.git and add me as a developer in the meanwhile.

building the package from native format (like in a debian branch in the main repo) is no option because including all the dependencies is no

[2019-07-03 22:52] Blaimi commented on #15236
hah, nextcloud is also distributed as snap

https://github.com/nextcloud/nextcloud-snap
https://snapcraft.io/nextcloud

the problem with adopting the package is that it brings it's own mysql-server. Having an own apache is not very resource-friendly but would not be a big deal if we don't use port 80 (or 443) and force any user to setup a reverse-proxy in the 'main apache-instance' (or nginx or li

[2019-07-04 16:29] bm322741 commented on #15346
Is this all the info you need? In the previous comment I was asked to try on a test server but I don't have/couldn't find any credentials for it.
![image](https://user-images.githubusercontent.com/46461343/60679907-4d6f6480-9e57-11e9-8650-6f37a9e62a54.png)

[2019-07-06 14:57] sMexFalco opened #15374 "Uncaught php error"
Fatal error: Uncaught Error: Call to a member function getDisplay() on null in C:\xampp\phpMyAdmin\libraries\classes\Response.php:266 Stack trace: #0 C:\xampp\phpMyAdmin\libraries\classes\Response.php(279): PhpMyAdmin\Response->_getDisplay() #1 C:\xampp\phpMyAdmin\libraries\classes\Response.php(438): PhpMyAdmin\Response->_htmlResponse() #2 [internal function]: PhpMyAdmin\Response->response() #3 {m

[2019-07-06 17:27] Damien2k9 opened #15375 "When I start phpMyAdmin several warning signs appear"
Every time I enter phpMyAdmin there are several warning signs and I do not know how to solve them or if it's something I should worry about.

I am using Xampp as webserver with the following versions:

Apache/2.4.39
phpMyAdmin 4.9.0.1
PHP 7.1.30
MySQL 10.3.16-MariaDB

How can I resolve this issue and is it a cause for concern?

[2019-07-06 17:50] williamdes commented on #15375
@Damien2k9 I suggest that you run the maintaiance program : https://dev.mysql.com/doc/refman/5.7/en/mysqlcheck.html

[2019-07-08 12:33] objecttothis commented on #14433
This resolved my issue as well.  I had the same thing with Grants being correct but not having access within phpMyAdmin to grant privileges.  I'd give you temporary access to troubleshoot it, but this phpMyAdmin instance is only accessible via VPN and it's on a production box.  I'm running MySQL 5.7.26, PHP 7.3.6 and phpMyAdmin 4.9.0.1 with apache 2.4 on FreeBSD 11.2.

[2019-07-08 21:32] mauriciofauth opened #15379 "Warning"
mysqli::query(): (22003/1690): BIGINT UNSIGNED value is out of range in 'unix_timestamp() - 18446744073709551063'

Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |mysqli::query(): (22003/1690): BIGINT UNSIGNED value is out of range in 'unix_timestamp() - 18446744073709551063'
 Exception Type |php
 phpMyAdmin version |5.0.0-dev
 Incident count | 1
 Link | [Repo

[2019-07-09 06:15] tm8544 opened #15380 "Status - Advisor error"
5.0.0-alpha1

Select Status and then Advisor

Result:
Error in processing request
Error code 500
Error text Internal Server Error (rejected)

Expected result:
Advisory report

PHP logs the following error (server name replaced with xxxx)
PHP Fatal error:  Uncaught TypeError: trim() expects parameter 1 to be string, int given in xxxxxxxxxxxxxxxxxx\\libraries\\classes\\SysInfoWINNT.php:88\nStack tra

[2019-07-09 07:42] tm8544 commented on #15380
This propably relates to #14245

[2019-07-09 16:12] williamdes commented on #14898
Still on master branch.

[2019-07-09 22:19] Blaimi commented on #15236
some links:
https://www.github.com/blaimi/phpmyadmin-debian-omnibus
https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa/

I also added tcpdf and php-symfony-polyfill to the phpmyadmin ppa

the omnibus-package cannot (yet?) be installed on jessie because the php-package-names have changed from php5-* to php-*. I don't know yet if I'll ever find the motivation to do this …

[2019-07-09 23:34] jfcherng opened #15381 "5.0.0-alpha1 leaks real path on filesystem"
Take the login page as an example,
![image](https://user-images.githubusercontent.com/6594915/60929698-ff3de380-a2e4-11e9-96fb-21bb92776e4c.png)

---

https://github.com/phpmyadmin/phpmyadmin/blob/781949372bb9438db4e3b8a6506530a4fe038dac/libraries/classes/Util.php#L463
The `ROOT_PATH` is the absolute path of the project root on the real filesytem.

---

With 5.0.0 starts its alpha stage, hope we c

[2019-07-10 13:59] Donkie opened #15383 "User requires mysql.proc SELECT access to execute routines"
### Describe the bug
Took me a while to figure this out. I had given a user execute permissions (on multiple different levels, no difference) for a set of routines. The user could see the routines properly in the tree etc but got the message `Error in processing request: No routine with name '%s' found in database '%s'.` when he tried to execute the routine, a message that is quite unhelpful with

[2019-07-10 18:39] dpfender44 opened #15384 "tcpdf_fonts.php has PHP error in Export tab"
### Describe the bug
Warning in .\vendor\tecnickcom\tcpdf\include\tcpdf_fonts.php#1671
chr() expects parameter 1 to be int, string given

Backtrace

.\vendor\tecnickcom\tcpdf\include\tcpdf_fonts.php#1671: chr(string '')
.\vendor\tecnickcom\tcpdf\include\tcpdf_fonts.php#1803: TCPDF_FONTS::unichr(
string '',
boolean true,
)
.\vendor\tecnickcom\tcpdf\include\tcpdf_fonts.php#2099: TCPDF_FONTS::UTF8Arr

[2019-07-10 18:58] mauriciofauth commented on #15384
Related to https://github.com/tecnickcom/TCPDF/pull/123

[2019-07-10 19:50] williamdes commented on #15384
Duplicate of #15309

[2019-07-10 19:53] williamdes commented on #15381
@mauriciofauth Can you please have a look, maybe this was introduced by on of your changes.

[2019-07-10 19:54] williamdes commented on #15374
@sMexFalco Can you send the phpmyadmin version you are using ?

[2019-07-10 20:02] #15381 closed

[2019-07-10 20:04] mauriciofauth commented on #15381
Hi, @jfcherng. Thank you for reporting this.

The fix (5b67d2189cd930ceb4e72da737dbd267b781daf9) will be included in the next 5.0.0 release.

[2019-07-10 21:50] ibennetch commented on #15286
@PHPUSERZ The official release versions (which you can download from https://www.phpmyadmin.net/downloads/ or https://github.com/phpmyadmin/phpmyadmin/releases/) do not require using Composer and are probably the stand-alone versions you're asking about.

By the way, if you continue to work with the Git repository, there's a `STABLE` branch you can use which always points to the most recent releas

[2019-07-10 21:52] ibennetch commented on #14567
I think this is solved by 86743163219, which incidentally might be the first time I've seen a commit hash without any letters.

[2019-07-10 21:52] #14567 closed

[2019-07-10 22:11] #14599 closed

[2019-07-10 22:11] #15252 closed

[2019-07-10 22:30] rwhirn opened #15385 "Timeout Loading Large Database Structure"
### Describe the bug

I have a MySQL database on AWS RDS that has nearly 1000 tables. My link to phpMyadmin includes the database name so upon login I get the first 250 tables of the db. If I click next or select from dropdown to see page 2, 3 or 4 of the table list phpMyAdmin hangs at "Loading..." until ultimately I get a "504 Gateway Timeout" error from the server hosting phpMyAdmin.

### To Rep

[2019-07-11 00:21] johnh530 commented on #14433
I have phpMyAdmin 4.9.0.1 apache2 on old Ubuntu14_04 with php5 working with mysql 5.5 and 5.7
$cfg['Servers'][$i]['DisableIS'] = true;
did _NOT_ resolve the problem.

[2019-07-11 04:00] gmanon commented on #14410
Thanks for letting me know.  If was an open parenthesis.

[2019-07-11 05:34] cdp1337 opened #15386 "ZIP Export with discrete table files have indexes elsewhere!"
PHPMyAdmin version 4.8.5
OS: CentOS (CPanel specifically)

Actions:

Select table, browse to export, expand Custom, select "Export tables as separate files".  Leave all other options default.

Expected Behaviour:

Get a zip with each table self contained in its own file.

Actual Behaviour:

Got a zip (great), with each table self contained in its own file, (so far so good), **WITH NO INDEXES OR AU

[2019-07-11 05:35] cdp1337 commented on #15386
As an immediate follow up, if this is *not* native upstream functionality, but instead some CPanel / WHM trickery, I'm more than happy to yell at them instead! :)

[2019-07-11 07:28] AdamReece-WebBox commented on #14433
If you have the PMA configuration database/tables defined in your `config.inc.php` check see https://github.com/phpmyadmin/phpmyadmin/issues/14433#issuecomment-490385669

[2019-07-11 07:50] williamdes commented on #14433
To be clear, I need a way to reproduce this issue.
It would be awesome if someone could send the phpmyadmin config file and the '/var/lib/mysql' folder in a zip (please remove sensitive data but be sure the issue still exists)
Also send the exact version you are using so I can start a docker container

I think this issue is maybe some mysql data being corrupt

:ping_pong: @hoxi

[2019-07-11 08:52] objecttothis commented on #14433
@williamdes I'd like to help out, but I'm going to need some assistance locating the files you need.  the config.inc.php is easy.  I'm running this mysql/phpmyadmin from a Jail in FreeBSD 11.2 and there is no /var/lib/mysql.  I have a /usr/local/var/lib/ but no mysql folder there.  Are you just needing the my.cnf file?  I can provide that to you (with data redacted).

[2019-07-11 09:21] williamdes commented on #14433
@objecttothis Thanks

From what I see on https://forums.freebsd.org/threads/moving-mysql-data-dir.3711/ the data folder would be `/var/db/mysql` or `/usr/mysql`

I would like to have everything (data and config) from the mysql server + `config.inc.php`

[2019-07-11 11:10] rolfjentsch commented on #15367
any Progress on this ?

[2019-07-11 13:53] cdp1337 commented on #15386
After sleeping on this this issue, I came to the realization that historically I may not have used table-specific exports before from PMA, but instead always used `mysqldump` in conjunction with a custom `foreach table ...` script to achieve this.  For this particular instance, I did not have shell access, so had to resort to the web interface to achieve a similar result.  Since individual table f

[2019-07-11 16:18] stuartcusackie commented on #14159
Yep. I'm using phpmyadmin on a local virtual server and the browser goes back when I try to delete text in a table row.  This doesn't happen on any other website. Weird.

[2019-07-11 16:35] bm322741 opened #15387 "browse doesnt show all records"
### Describe the bug

Browsing a table, click the >> to go to the last row. The last page isn't the last records in the database. 66,080 records, last calculated page is 2607. Should be 2644 [25 records/page] based on record count.

### To Reproduce

Steps to reproduce the behavior:
1. Browse table
2. Click on '>>'
3. Last Page is 2607

### Expected behavior

Last page should be 2644.

### Screens

[2019-07-11 18:25] williamdes commented on #15387
#15100

[2019-07-11 18:25] williamdes commented on #15387
Duplicate of #15077

[2019-07-11 18:27] williamdes commented on #15387
Fixed by #15094
Thanks for reporting @bm322741
Can you please confirm that the issue does not exist anymore on version `4.9.0.1`, you can download `4.9.0.1` on our [website](https://www.phpmyadmin.net/downloads/)

[2019-07-11 18:48] objecttothis commented on #14433
@williamdes Found the directory.  The problem I have now is that I have to remove all key pairs, certs and all the directories with database content other than the phpMyAdmin folder to maintain GDPR compliance.  That doesn't leave a whole lot.  Will that be enough for you?  It does leave some error logs, etc.  Also, tell me where you want me to send it if it will be enough.  I'm not going to uploa

[2019-07-11 19:06] williamdes commented on #14433
@objecttothis you can remove logs since they are not part of the state of the server
Remove everything that is confidential
If you can boot the server in another folder and then remove all the data and still have the bug It will be okay for me

I really want to be able to have the same issue when starting the server

you can email me, and if you have a GPG key you can protect the data you send me

[2019-07-11 20:19] bm322741 commented on #15387
The same with 4.9.0.1. I tried a repair just in case [no errors reported] but still doesn't get all the records. The page count/last record are exactly the same.

[2019-07-11 20:25] williamdes commented on #15387
@bm322741 Can you try to set `$cfg['MaxExactCount'] = 100000;` https://docs.phpmyadmin.net/en/latest/config.html#cfg_MaxExactCount

[2019-07-11 20:28] bm322741 opened #15388 "rollback when finished error"
### Describe the bug

executing sql with "Rollback when finished" gives error "Only INSERT, UPDATE, DELETE and REPLACE SQL queries containing transactional engine tables can be rolled back."

Single table insert on an innodb table.

statement was format: insert into table(fields) values(list),(list),(list);

A single (list) worked, multiple failed.

Executes fine without the rollback checked.

###

[2019-07-11 20:35] bm322741 commented on #15387
Yes. that did it. Is that a bug or just a config issue? I have other tables with 2,000,000 rows.

[2019-07-11 20:38] williamdes commented on #15387
I think this is a config issue, counting rows can take too long on very large tables.

@ibennetch what do you think about it ?

[2019-07-11 20:40] williamdes commented on #15388
@bm322741 Can you send the structure of the table, especially the engine it is using ?

[2019-07-11 21:29] bm322741 commented on #15388
Insert of 5 rows works, but adding a 6th fails.

insert into product_additions(seq, id, created, manufacturer, manufacturer_id, code, name)
VALUES('1','248727','2019-06-03 08:40:47','3M DBI SALA FALL PROTECTION FOR TOOLS','1481','1500003','D-Ring Tool Attachment Point'),
('2','248728','2019-06-03 08:40:48','3M DBI SALA FALL PROTECTION FOR TOOLS','1481','1500007','D-Ring Tool Attachment Point'),
('

[2019-07-11 21:54] williamdes commented on #15388
Are you sure your data is correct?

I could reproduce the issue when pasting all the content (data and structure)

But could not using only the data you sent

So, in conclusion : issue reproduced

Dataset:
[code]

I duplicated the ID=5

[2019-07-12 01:36] ibennetch commented on #15387
I don't think this is a bug. It's unfortunate that we have to find some threshold at which to switch from an exact count to an approximate one, but otherwise we run out of resources (especially on shared hosting situations). The solution, as you have seen, is to increase the limit further if your server can support that behavior.

The bug/feature enhancement that we should investigate here is lett

[2019-07-12 05:09] #15350 closed

[2019-07-12 07:38] OlafvdSpek commented on #15350
Is this targeted at 5.0 or at 5.1?

[2019-07-12 13:52] bm322741 commented on #15387
I'm not sure how you handle it internally, but I don't know why you need 80,000 something when I am only showing 25, 50, 100 records at  a time. We do it all the time with our web sites. 80,000 records / 25 = 3,200 pages, but I only need to show 1 page so that is 25 items.

For me, most of the time I am interested in the last records inserted so it makes browsing kind of useless for large tables.

[2019-07-12 16:04] bm322741 opened #15389 "current page indicator after deleting all rows on current page"
### Describe the bug

Not really bug but a usability issue.

After using "Check All" and deleting rows the "current page" is set to 1 with no records which gives the impression the table is now empty [which it isn't]

If there is 1 row and I delete using the "delete" button [vs the checkbox] the "current page" stays the same with no rows [more intuitive that there is more data in the table].

###

[2019-07-13 09:11] RRJena commented on #14234
Thanx . It works for me..

[2019-07-13 15:10] objecttothis commented on #14433
@williamdes email sent.

[2019-07-16 08:30] raimundmeyer opened #15390 "Insert/edit broken with BLOB fields (Fatal PHP Error)"
### Describe the bug
When a table contains a BLOB field, one cannot insert or edit a row.
Tested on https://demo.phpmyadmin.net/master-config/
### To Reproduce

Steps to reproduce the behavior:

1. Create a table with a blob field
`CREATE TABLE `testblobedit` ( `id` INT NOT NULL AUTO_INCREMENT , `blobfield` BLOB NOT NULL , `textfield` TEXT NOT NULL , PRIMARY KEY (`id`)) ENGINE = InnoDB; `
2. Click

[2019-07-18 13:26] ArthurEzenwanne commented on #15374
*__SUMMARY:__*
I have same error, even to the same line error number *__"C:\xampp\phpMyAdmin\libraries\classes\Response.php on line 266"*__
@williamdes, I am using XAMPP for Windows v7.3.7 which included the following:
*__Apache 2.4.39, MariaDB 10.3.16, PHP 7.3.7, phpMyAdmin 4.9.0.1__*, OpenSSL 1.1.1, XAMPP Control Panel 3.2.4, Webalizer 2.23-04, Mercury Mail Transport System 4.63, FileZilla FTP S

[2019-07-18 13:27] ArthurEzenwanne commented on #15374
@sMexFalco, did you update your OS to Windows 1903 also?

[2019-07-18 14:54] stormyboy60 opened #15391 "The polygon of the geometry field is not drawn from 4.9"
I have a table with a geometry field that contains polygons and multipolygons like this:
POLYGON ((2.43653 49.556457.2.431825 49.557172,2.429612 ....))

On phpmyadmin 4.6.x or 4.8.x I can display the polygon:
![polygoneok](https://user-images.githubusercontent.com/53050791/61467791-84c43200-a97c-11e9-9cc2-22f5cf73b8c0.jpg)

If I update to version 4.9.x then the polygon no longer appears:
![polygon

[2019-07-18 17:34] Pantyboy commented on #14184
I too have had this problem for over a year. I thought it would be rectified with each update but, here we are, 12 months on and still the problem exists.

I get around it by using Microsoft Edge. Why doesn't that have this problem?

[2019-07-21 02:25] ibennetch opened #15394 "mysqli_result error on Insert page"
When going to the Insert tab from any table, I get this error in my webserver error log:

Git bisect tells me that 0d8f6a3a93cbd099366fd76e22d0b35992415ffd is the first bad commit

I'm on master with Apache web server and Firefox and Chrome browsers.

@Tithugues does this seem related to your changes?

[2019-07-21 08:22] Tithugues commented on #15394
If `git bisect` told it, it should be true. I'll try to have a look today.

[2019-07-21 09:57] Zoddo commented on #14235
Hi,

If that can help: I just updated my phpMyAdmin version from 4.7.1 to 4.9.0.1. Before the update, I was able to switch between servers without being prompted for login details every time. Now, every time I switch I should relogin (that also happens when using two browser's tabs).

[2019-07-21 17:38] #15394 closed

[2019-07-22 01:40] ibennetch opened #15396 ""No database selected" error when removing columns"
### Describe the bug

Unable to remove a column from a table.

### To Reproduce

Steps to reproduce the behavior:

1. Go to a table's structure tab
2. Click the checkbox for a column or two
3. "Drop" the column
4. Confirm the drop

The error message "No database selected" is shown.

### Expected behavior

The selected items should be removed.

Running master. The problem does not occur in QA_4_9.

[2019-07-22 02:01] ibennetch opened #15397 "NULL values not shown in INT columns"
### Describe the bug

When I have a table containing an INT(11) datatype, NULL values in that column are not shown when in the Browse tab. Instead, those are blank.

### To Reproduce

Steps to reproduce the behavior:

1. Create a table with any INT(11) column, allowing NULL values
2. Insert a row containing a NULL value
3. Browse the table

### Expected behavior

NULL should be shown.

### Screens

[2019-07-23 02:01] #15396 closed

[2019-07-23 09:05] Toopala commented on #14159
At least add setting to disable the functionality. This is by far the most infuriating thing about PHPmyadmin. I have big database and I navigate it by the tree view and filter the tables via the textbox. When you hit enter, the focus on the textbox is lost. If I made a typo or mistakenly wrote the wrong table I instinctively press backspace to correct myself and see myself back on the login scree

[2019-07-23 13:15] lucaslehot opened #15399 "Phpmyadmin keeps throwing me error 1146 'table xxx.xxx doesn't exist' no matter what I do"
Hi,
Everything was going well, I have a wordpress database that I was using for my work, but when I uploaded everything my computer crashed, and it looks like the database didn't like it that much. Every single database I had still has it's tables and their .frm and .idb files, but they are empty and Phpmyadmin throws 1146 errors when I try to open them.

I tried reinstalling Mamp, doing it again

[2019-07-24 08:53] helmo commented on #15236
Thanks for working on this!

I've installed it on a test Debian Buster VM and it works nice.

I'm also trying this on a test Debian stretch VM, but it's missing the php-psr-container package.
I've manually added it from [the buster repo](http://ftp.de.debian.org/debian/pool/main/p/php-psr-container/php-psr-container_1.0.0-1_all.deb)

Then it's still missing  a part of Twig (1.24.0-2+deb9u1 of php-

[2019-07-26 11:08] Blaimi commented on #15236
the new version of pma is not planned to be released for debian stretch. debian stretch has a working phpmyadmin-package. Since stretch is now oldstable it's not worth the effort to get any new version into backports.

Our goal at the moment is to get the package as fast as possible into buster-backports. For ubuntu 18.04 the ppa is working and we maybe can get it also into bionic-packports. The e

[2019-07-26 12:26] garak opened #15401 "Undefined index HMAC_secret"
### Describe the bug

Every time I execute a query, I get following notice (repeated many times):

Undefined index: HMAC_secret

### To Reproduce

Steps to reproduce the behavior:
1. Go to your database
2. Perform a search (or a manual query)
3. See error

### Expected behavior

No notice

### Server configuration

- Operating system: Ubuntu 18.04
- Web server: PHP cli
- Database version: 5.7.20
-

[2019-07-26 13:22] williamdes commented on #15401
@garak Try to logout and login again

[2019-07-26 13:40] williamdes commented on #15399
@lucaslehot what version of phpMyAdmin are you using?

[2019-07-26 13:42] williamdes commented on #14184
@Pantyboy what browser are you using and what extensions are enabled?

[2019-07-26 14:19] lucaslehot commented on #15399
Hi @williamdes, I'm on 4.8.3

[2019-07-26 14:34] garak commented on #15401
It looks like logout/login workaround is working.
Anyway, I would suggest to avoid relying on session variables that could be empty (and, in general, on any variable that could be undefined)

[2019-07-26 14:52] williamdes commented on #15401
@garak you created the session with a previous version and updated the code
The variable should not have been undefined
See: #15325
I think you can close the issue?

[2019-07-26 14:53] williamdes commented on #15399
Hi @lucaslehot can you please try 4.9.0.1?

[2019-07-26 21:05] rodvelcae commented on #14915
I had the same error, i solve it doing this.
1.- go to /var/lib/php/sessions
2.- erase all sess_*

good to go.

[2019-07-26 21:27] Tithugues commented on #15397
According to `git bisect`, it seems to come from the commit 3dce65d913cd95206038e8343ec63c1bbedd46ee.

[2019-07-27 05:11] nPHYN1T3 commented on #14184
I really wish the "which browser and which extensions" question would crawl in a ditch and die. I've tested this on virtually every browser you can list with and without extensions and the problem is always there. I have a VM with every browser still being actively worked on I can install all clean, no extensions, no tweaks or setting changes that I test things with.

I've also noticed a problem w

[2019-07-27 05:26] williamdes commented on #14184
@nPHYN1T3 okay, can you tell us more about your server setup? proxy?

[2019-07-27 08:04] nPHYN1T3 commented on #14184
It's a server, no proxy...enlightening! Sorry dealing with so many technical issues lately I'm starting to get fed up. Not much to tell. All I can really say since I've forgot most of the things I've looked into or tried since this problem has persisted so long is that if I say make a fake domain in my hosts file on a client machine and a fake vhost for the pma folder it fails but when I log in ag

[2019-07-27 09:16] Pantyboy commented on #14184
@williamdes I using Firefox 68.0.1 (64bit). I'm using Apache 2.4.39 (Win64), php 7.3.7, MySQL 5.7.19 and phpmyadmin 4.9.0.1 on Windows 10 Home 64bit.

I have tried using Firefox (with and without extensions), Chrome (same). Both these browsers have the same issue. Internet Explorer and Edge do not.

phpmyadmin used to work on Firefox with extensions. What has happened in the last year?

My config.

[2019-07-27 19:42] anoop-sethu commented on #15209
@williamdes This official documentation [here](https://dev.mysql.com/doc/refman/5.6/en/performance-schema-query-profiling.html) explains the way to fix this issue. I will give it a try.

[2019-07-27 22:06] cheri3a opened #15406 "fatal JavaScript error has occurred. Would you like to send an error report?"
### Describe the bug

fatal JavaScript error has occurred. Would you like to send an error report?
### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Server

[2019-07-27 22:18] cheri3a commented on #15406
solved just upgrade the phpMyAdmin

[2019-07-27 22:18] #15406 closed

[2019-07-28 15:14] Tithugues commented on #15390
According to `git bisect`, this bug may have been introduced in 6cf8ee083175a0a077b47103a3e32fdd76c669b6.

[2019-07-28 19:26] Tithugues commented on #15388
It seems that from the 4.6 (and maybe before) it was already broken.

[2019-07-28 20:29] Tithugues commented on #15370
Using command line, here are some things I identified. (Please note that I added a `\n` at the end of the 3rd parameter of `REGEXP_REPLACE` to have both cases: single / double slashes.)

Using `show create procedure` command returns:
[code]

Using `select` in `ROUTINES` returns this (no double slash):
[code]

So unfortunately, I think that relying on `ROUTINES` table won't let us fix this bug.

Ne

[2019-07-29 08:06] lucaslehot commented on #15399
I just did, it didn't change a thing.

[2019-07-29 08:27] williamdes commented on #15399
@lucaslehot do you have a phpmyadmin database?
Can you send the phpmyadmin `config.inc.php`?

[2019-07-29 08:30] lucaslehot commented on #15399
Yeah I do.
Here it is :
[config.inc.zip](https://github.com/phpmyadmin/phpmyadmin/files/3441022/config.inc.zip)

[2019-07-29 13:02] OlafvdSpek commented on #14732
It's happening again still? @ https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=test&table=a

[2019-07-29 14:36] OlafvdSpek opened #15410 "Table options & Auto increment"
1. Open Table Operations - Table options in two tabs
2. Update the Auto increment value in the first tab to simulate some inserts.
3. Update the Table comment in the second tab
4. Note the Auto increment value has been reset to the original value.

I'm not sure about the consequences but I don't think the reset is desirable.

[2019-07-29 19:31] Tithugues commented on #15410
Sorry, but I don't see the issue here.

You have two forms, each one specifies an AUTO_INCREMENT value. Don't you expect it to be used when you submit the form?

[2019-07-29 19:36] OlafvdSpek commented on #15410
I don't expect / want auto-increment to be updated when I only want to update the table comment or another option.

One solution would be to only set auto-increment if the user actually changed it (store the old value in a hidden field).

[2019-07-29 19:39] Tithugues commented on #14291
Hi,
Do we agree that the fix should be provided on the `QA_4_9` please?

[2019-07-30 09:45] Sammion opened #15689 "Could not back to pmahomme"
1. When I try to use the new theme Fallen, it works, but cannot find the option for font size percent,
![image](https://user-images.githubusercontent.com/33392372/62119262-c399a680-b2f1-11e9-8b37-4afb8cb87b0b.png)

2. I try to chage the theme back to pmahomme but it doesn't work.
![image](https://user-images.githubusercontent.com/33392372/62119285-cd230e80-b2f1-11e9-9a71-4132502fad26.png)

[2019-07-30 12:02] DEQ-Dave opened #15412 "Deprecation notices with PHP 7.4 Beta 1"
Multiple PHP deprecation errors when using PHP 7.4.0beta1

Install PHP 7.4.0beta1
Install phpmyadmin 4.9.0.1
Visit the URL for the phpmyadmin installation
The PHP deprecation errors will be shown

![phpmyadmin_error](https://user-images.githubusercontent.com/11816993/62127163-683ec880-b29f-11e9-9cf5-fc15bd165e4b.png)

- Operating system: Windows 10
- Web server: Apache 2.4.39
- PHP version: 7.4.0b

[2019-07-30 14:42] DEQ-Dave commented on #15412
Ran into another deprecation error when trying to browse a table. Couldn't quite figure out the fix for this error though. The full backtrace is included below.

[2019-07-31 06:01] wangtae opened #15413 "Open the Modify Row button to a new tab"
If you open the Modify Row button to a new tab, the Modify page does not open on the new tab and moves to Home.

[2019-08-02 06:07] jfcherng commented on #15412
https://github.com/phpmyadmin/phpmyadmin/pull/15404
https://github.com/phpmyadmin/phpmyadmin/pull/15405

[2019-08-02 06:26] williamdes commented on #14291
@Tithugues Yes

[2019-08-02 10:51] nunoperalta commented on #15363
Just reproduced this and I was going to open an issue!

[2019-08-02 20:26] Tithugues commented on #14291
@williamdes , thanks. I'll try to submit a PR on QA_4_9 also.

[2019-08-02 23:15] #15397 closed

[2019-08-02 23:23] mauriciofauth commented on #15390
Fixed in #15407

[2019-08-02 23:23] #15390 closed

[2019-08-06 05:15] gurrrung opened #15417 "New website UI"
The website of phpMyAdmin sadly looks very outdated when we compare it with those others Open Source projects like Sequel Pro.

[2019-08-06 07:50] raimundmeyer opened #15418 "Error when using browser back button"
### Describe the bug
Going back and forth using the browser's back and forward buttons does not work.
Tested in Chrome & Firefox

### To Reproduce

Steps to reproduce the behavior:
1. Go anywhere, e.g. to a table
2. Click Browser's back button
3. Error is shown, see screenshot
4. Pressing F5 shows the page then correctly

### Screenshots

![grafik](https://user-images.githubusercontent.com/5036692

[2019-08-06 20:52] shrimpwagon opened #15421 "Search icon next to table name in tree"
### Is your feature request related to a problem? Please describe.

No

### Describe the solution you'd like

Add a search icon next to structure icon on the tables listed under the database on the left nav. This would take you right to the table's search tab / page.

### Describe alternatives you've considered

None

### Additional context

- phpMyAdmin version: 4.8.5

[2019-08-06 22:52] lem9 opened #15422 "Server > Status : Invalid argument supplied for foreach()"
### Describe the bug

Warning in ./libraries/classes/Controllers/Server/Status/StatusController.php#250
 Invalid argument supplied for foreach()

Backtrace

./libraries/classes/Controllers/Server/Status/StatusController.php#61: PhpMyAdmin\Controllers\Server\Status\StatusController->getReplicationInfo()

./libraries/entry_points/server/status.php#36: PhpMyAdmin\Controllers\Server\Status\StatusContr

[2019-08-08 05:02] #15418 closed

[2019-08-08 13:42] mvoisard opened #15424 "Logging in to phpmyadmin from my site"
For my website, https://maxstechandmathsite.azurewebsites.net, I've already installed phpmyadmin by cloning the repository of files from the downloaded .zip folder. Problem is, I can't log in to the MySQL server after trying to set up the credentials on the config.inc.php file which was renamed from config.inc.sample.php. Here's what the file looks like:

$cfg['Servers'][$i]['auth_type'] = 'cookie

[2019-08-08 22:16] lem9 commented on #15417
... but clicking on https://sequelpro.com/news shows the latest news dated April 2016. Feel free to send your pull requests to https://github.com/phpmyadmin/website.

[2019-08-09 13:52] Ghiffari opened #15425 "Backslash in column name resulting an error in editing"
### Describe the bug

Backslash is allowed as column name, therefore it broke edit feature . (see screenshot)

### To Reproduce

I was accidentally put backslash when pressing enter, and had my column name with backslash

### Screenshots

1. Backslash Column Name
![image](https://user-images.githubusercontent.com/7784660/62836984-10726b00-bc6a-11e9-8fd2-dd8276504577.png)

2. When using change butt

[2019-08-09 15:10] msk4862 commented on #15127
I'm new here, So, can you please tell me how to test(see) my changes.
Thanks in advance.

[2019-08-09 19:59] lem9 commented on #15424
What's the error message you get when trying to log in?

[2019-08-09 20:12] mvoisard commented on #15424
@lem9 Actually, I figured out my problem was that I didn't even have a MySQL server instance; the IP address I was referencing - my website's - didn't have a MySQL server by default on port 3306, which I should have known. So, I set up a MySQL server from https://www.freemysqlhosting.net and copied the respective host name, username, and password into the config.inc.php file, and now I can log in

[2019-08-09 20:12] #15424 closed

[2019-08-11 11:20] williamdes commented on #14951
I could not reproduce this issue on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2019-08-11 11:47] williamdes commented on #15391
@stormyboy60 Thanks for reporting this issue.
[code]
Source: https://postgis.net/docs/ST_PolygonFromText.html

[2019-08-11 11:50] williamdes commented on #15391
@stormyboy60 can you send test data ?

[2019-08-11 13:39] williamdes commented on #15127
@msk4862 Follow https://github.com/phpmyadmin/phpmyadmin/issues/15127#issuecomment-487077595 to reproduce and make the fix then try to reproduce, if you can not reproduce then you fixed the bug and can create a pull-request.

[2019-08-11 13:40] williamdes commented on #15422
@mauriciofauth can you please have a look at this one ?

[2019-08-11 14:37] williamdes commented on #14804
I think I reproduced this issue (on the check phpmyadmin configuration database page)

Using a cleardb instance and a jawsdb instance

[code]

[2019-08-11 14:39] msk4862 commented on #15127
@williamdes That much I now, But what I wanted to know was will my fixes be visible on Demo servers ( as mentioned in [ #15127 (comment)](https://github.com/phpmyadmin/phpmyadmin/issues/15127#issuecomment-487077595) )

or Do I have to setup the phpmyadmin locally on my machine to check if that bug is fixed. (If yes how? because there is no setup instructions availbale)

( I know its a very silly q

[2019-08-11 14:42] williamdes commented on #15304
I will check but I am not sure that it is a bug.

for now I did not reproduce the issue using config:
[code]

Ref: https://github.com/phpmyadmin/phpmyadmin/issues/14804#issuecomment-520233349

[2019-08-11 14:56] adwiv commented on #14951
@williamdes The demo servers referred by you use MariaDB 10.1.26 whereas the errors happen with newer 10.2 or 10.3.

[2019-08-11 15:37] williamdes commented on #15127
@msk4862 You need to create a local phpmyadmin installation
Follow the steps:
- Fork the repository (fork button on this page)
- Clone your fork of the repository
- Create a new branch from `QA_4_9` for your fix
- Try to fix the issue
- Commit the changes (use the [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) option to add your signoff line in the commit

[2019-08-11 15:51] williamdes commented on #14951
@adwiv please try on my demo server https://phpmyadmin-pr-7.wdes.eu.org/ (QA_4_9)

The servers are `MariaDB 1 > 10.3` `MariaDB 2 > 10.2` `MariaDB 3 > 10.3`

User `root` or `public` and password `public`

I still can not reproduce the issue

[2019-08-11 15:54] williamdes commented on #14951
![image](https://user-images.githubusercontent.com/7784660/62836205-13b52900-bc61-11e9-9724-abbfae4832e5.png)
[code]

[2019-08-11 16:09] williamdes commented on #14804
https://secure.php.net/manual/en/mysqli.ssl-set.php

`Any unused SSL parameters may be given as NULL`

[code]

[2019-08-11 16:10] adwiv commented on #14951
Yes, if the column type is VARCHAR, the move changes NULL default value to string "NULL".
Second time, the error is shown because INT column is moved as string "NULL" cant be converted to int.

If you use the following schema, it will show the error everytime.

[code]
In short, the code is somehow interpreting NULL default value as string "NULL". In case of any non-text column, it will show error.

[2019-08-11 16:11] williamdes commented on #15304
https://secure.php.net/manual/en/mysqli.ssl-set.php

`Any unused SSL parameters may be given as NULL`

[code]

only on master and QA_5_0 branch !

[2019-08-11 16:28] williamdes commented on #15304
https://bugs.php.net/bug.php?id=78399

[2019-08-11 16:40] williamdes opened #15427 "The "FilterLanguages" option does not work"
### Describe the bug

The "FilterLanguages" option is set to "^(en|ru)$", but in the "Language" form all languages are available for selection.

[code]

Reported by @tryfunc : https://github.com/phpmyadmin/phpmyadmin/pull/15426

[2019-08-11 16:49] #15427 closed

[2019-08-11 17:05] williamdes commented on #15015
@ibennetch No updates on this translation typo ?

[2019-08-12 03:27] ibennetch commented on #15015
@williamdes Sorry, no real update since I haven't remembered to look in to the Twig template lately. You're welcome to take a look at it if you'd like.

[2019-08-12 12:11] p-rakowski89 commented on #15367
Hello.
I tested different phpmyadmin versions today because of the inability to run replication. The last version with the option working is phpmyAdmin-4.7.8 in newer versions the modules do not work correctly. When will you improve?

[2019-08-12 15:50] mauriciofauth commented on #15422
Fixed in a667de362950cb9614a4470a439e1331f6a457d3

[2019-08-12 15:50] #15422 closed

[2019-08-13 10:13] Bournvita1998 commented on #14945
@williamdes @shucon @ibennetch Can you still reproduce this?

![Selection_068](https://user-images.githubusercontent.com/26218090/62933788-a6c89d00-bde0-11e9-91d8-a37cb4d7f623.png)

Here I created a database first.second with 2 tables(table1, table2). After creating the relation as suggested above, everything is fine here. I didn't observe any of the changes as mentioned here.

[2019-08-13 13:13] lem9 commented on #15422
Thanks !

[2019-08-14 01:30] ibennetch commented on #14945
[code]

Indeed I can reproduce this.

Once you create a database with a dot in the name (`data.base` in my test, but your `first.second` should also be fine), click the "Save page as" or "Save page" links from the expanding menu on the left, like so:

<img width="795" alt="image" src="https://user-images.githubusercontent.com/1443710/62988228-9977d680-be11-11e9-8056-1d7b10e813df.png">

Does that h

[2019-08-14 02:37] yyss8 opened #15430 "There is always an empty "after" at the end of column adding sql"
### Describe the bug

There is always an empty `after` at the end of column adding sql which results in syntax error when trying to add new columns.

### To Reproduce

Steps to reproduce the behavior:
1. Go to column adding page of any table.
2. Enter dummy column name.
3. Click save.
4. See error:
![image](https://user-images.githubusercontent.com/13445723/62990493-3fc7da00-be1a-11e9-80b6-8c3de43

[2019-08-14 03:16] yyss8 commented on #15430
Duplicated https://github.com/phpmyadmin/phpmyadmin/issues/14950

[2019-08-14 10:04] Bournvita1998 opened #15432 "Names of the pages in the designer could be saved with a already existing name"
### Describe the bug

Pages in the designer can be saved with the exiting names.

### To Reproduce

Steps to reproduce the behaviour:
1. Go to designer
2. Click on 'Save page' in the left panel
3. Try to save a page with some name. (let's say qwe here)
4. Save multiple pages using the same name(qwe here).

### Expected behaviour

It should throw and error saying "there already exists a page named

[2019-08-14 17:39] podkilla opened #15433 "Disable U2F authentication"
How do i disable the U2F authentication without access to the WebIF ?

[2019-08-14 19:24] williamdes commented on #15433
I think you can reset the U2F by deleting the row or the data in the phpmyadmin table

I think it is the table : `phpmyadmin`.`pma__userconfig`

cc @ibennetch

[2019-08-15 08:51] frenkye opened #15434 "Auth cookie change when opening new tab throught collumn name"
### Describe the bug

Since version 4.7.9 you will get logged out, when you try to open new tab/window via collumn name where you can ORDER BY. See screenshots.

### To Reproduce

Steps to reproduce the behavior:
1. Show any table data
2. Open inspection tool to see cookies
3. Right click column name where you can ORDER BY and open new tab/window
4. You should see your cookie changed and be logged

[2019-08-15 16:37] #15433 closed

[2019-08-15 16:38] podkilla commented on #15433
that worked - thanks

[2019-08-15 17:08] marto55555 opened #15435 "ReCAPTCHA couldn't find user-provided function: Functions.recaptchaCallback"
### Describe the bug

It is not possible to log in when ReCaptcha is enabled, as it cannot "find" and execute the login form submit function.

### To Reproduce

Steps to reproduce the behavior:
1. Create an Invisible v2 ReCaptcha from [https://www.google.com/recaptcha/admin/](https://www.google.com/recaptcha/admin/)
2. Add `$cfg['CaptchaLoginPublicKey']` and `$cfg['CaptchaLoginPrivateKey']` to the

[2019-08-15 18:23] williamdes commented on #15434
@frenkye Can you please use `4.9.0.1` to reproduce this issue ?

[2019-08-15 20:15] williamdes commented on #15363
Test table:
[code]

[2019-08-15 21:57] #15202 closed

[2019-08-15 21:57] #14950 closed

[2019-08-15 21:57] #15430 closed

[2019-08-15 22:00] williamdes commented on #15435
@mauriciofauth do you think this could be from one of your changes when renaming functions ?

[2019-08-16 05:11] luccotta opened #15436 "Can't view more than 2 columns in a specific table"
### Describe the bug

I'm having this bug in only one table from my DB. When I click on it, to browse the data, the following error is shown:
**"Some errors have been detected on the server! Please look at the bottom of this window."**
**Then 5.050 similar notices are shown**, containing the backtrace below.
Although the issue happens, I can see the results above the notices, but **I can only see

[2019-08-17 10:25] #14752 closed

[2019-08-17 10:50] williamdes commented on #14986
[code]

[2019-08-17 17:06] PatientLearner commented on #14184
I found this problem in Firefox 69 Dev and solutions that explained above doesn't work for me. I am using PHPMyAdmin 4.8.5 on WAMP Server localhost.

[2019-08-17 22:33] Bournvita1998 commented on #13587
I am able to add the tables from other databases but I am not able to form the relations between the tables(one of the current database and other of the other database). It shows errors like "error: relationship already exists", "FOREIGN KEY relationship could not be added", etc. Basically, I am not able to form the relationship.
Would be great if someone could share the steps to reproduce this fr

[2019-08-18 05:30] Bournvita1998 opened #15439 "Designer page status not updated when added a new table from another database"
### Describe the bug

When we add a new table from another database to a page in the designer, the status of the page(i.e. is there any changes in the page.... which is denoted using the * mark beside the name of the page) in not updated.

### To Reproduce

Steps to reproduce the behavior:
1. Save a page in the designer
2. Click "Add table from other databases" from the designer's left panel
3. Ad

[2019-08-18 05:47] Bournvita1998 opened #15440 "Page number is not being updated in the URL after saving a designer's page"
### Describe the bug

When we save a new page, it's expected to update the url accordingly.

### To Reproduce

Steps to reproduce the behavior:
1. Go and save a page in the designer.
2. Observe the url.
3. Make a small change (may move one of the tables a bit).
4. Save the page again with a different name.
5. Observe the change in the url before and after adding a new page. (URL is still referring

[2019-08-19 01:59] luccotta commented on #15436
Could this be related with my DB being corrupted or something?
I did a dump from my DB and imported it in a test DB and I'm getting no errors.

Also, I initially thought the error was related to one specific table.
But today I got the same error while query a JOIN between 2 different tables:
[code]
While if I query this way, I won't get the error:
`SELECT A.*, B.* `

[2019-08-19 09:52] PepeLopez opened #15443 "Enhance CSV export - include table structure"
### Is your feature request related to a problem? Please describe.

When choosing csv export. only table _data_ will be exported. That's a correct behaviour, but it's not comfortable to use. It's necessary to export the table structure separately, which causes unnecessary extra steps.
Furthermore, when exporting all tables in seperate files, zipped, it's pretty handy to have the table structure fi

[2019-08-19 10:50] PepeLopez opened #15444 "Enhance export: Write to local disk"
### Is your feature request related to a problem? Please describe.

It's not possible to save an export to (local) disk - all exports are sent to the user, which is awful with huge tables or whole databases. It's nice to have great export options in phpmyadmin, and it would be kinda great backup solution when having a "save to disk" feature.

### Describe the solution you'd like

Add a checkbox wi

[2019-08-19 19:55] Tithugues commented on #14291
Just to be clear: it had been done for 4.9 in https://github.com/phpmyadmin/phpmyadmin/pull/15414 and for master in https://github.com/phpmyadmin/phpmyadmin/pull/15411.

[2019-08-19 20:04] Tithugues commented on #15444
Hi,

Sorry, maybe I don't understand the need but when you try to export something (for instance a table), in the options, there is:
![image](https://user-images.githubusercontent.com/1165150/63295540-32ed2f80-c2cd-11e9-8a2f-33e17ab8c318.png)

As you can see, you can `View output as text` or `Save output to a file`.

Is it what you were looking for?

[2019-08-19 21:30] PepeLopez commented on #15444
Ha, I really thought it can be misleading when using "save on _local_ disk". With "local" I mean "where phpmyadmin is running on", which is mostly (?) a remote server.
I want to save the export on the remote server where phpmyadmin is running.

"Save output to file" just means, that you'll receive the result in a file, sent by the server to YOU.
When choosing "View output as text" there will be a

[2019-08-19 22:43] Bournvita1998 opened #15446 "Tables added from other databases are not collapsing in the designer section"
### Describe the bug

In the designer section, after we add a table from other databases, the tables are not collapsing when clicked on 'v' button on the table.

### To Reproduce

Steps to reproduce the behavior:
1. Go to the designer of a database
2. Click "add the tables from other databases" from left panel in the designer.
3. Add a table
4. Click on the collapsing icon('v') on the table

### E

[2019-08-20 03:37] Febry21 opened #15447 "Try to Drop All the Databases and Recover a Bug"
### Is your feature request related to a problem? Please describe.

When I try to drop all databases, the phpmyadmin database is followed checked all

### Describe the solution you'd like

Disable checkbox for phpmyadmin database for avoid an error "phpmyadmin.___' doesn't exist"

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features

[2019-08-20 06:47] Tithugues commented on #15444
OK, I understand it right (I guess) now. Thank you for your answer.

@williamdes @mauriciofauth what do you think about it please?
I think this should not be a "always available" feature, but this should be restricted or restrictable to some persons / profiles, because pMA users should not overload the server if not allowed.
Maybe this can be a configuration.

Also, technical question: how to sele

[2019-08-20 09:15] williamdes commented on #15444
Is this enhancement the configuration option `$cfg['SaveDir'`  ?

https://docs.phpmyadmin.net/en/latest/config.html#cfg_SaveDir

[2019-08-20 09:18] #15388 closed

[2019-08-20 09:18] #14291 closed

[2019-08-20 09:18] #15363 closed

[2019-08-20 09:23] williamdes commented on #15436
Maybe, or specific column rights ?
@luccotta can you please the table structure ?

[2019-08-20 09:27] williamdes commented on #14929
@laodemalfatih I think this issue is a duplicate of #14291
If so it is fixed :tada:

[2019-08-20 09:28] williamdes commented on #14575
Duplicate of #15283

[2019-08-20 09:29] williamdes commented on #14575
Fixed by fd7f2397d36fdcbae7123ef078c536e8e197ffc4

[2019-08-20 09:29] #14575 closed

[2019-08-20 09:35] williamdes commented on #15007
Unable to reproduce, report if you see again this error and we will re-open this issue.

[2019-08-20 09:35] #15007 closed

[2019-08-20 14:21] teo1978 opened #15449 "Autocomplete is retarded"
### Describe the bug

The autocomplete that suggests you SQL code as you type is completely broken.
The examples are countless, where you are typing a query and an obvious possible completion of what you are typing doesn't show up.
This is just one of them

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net and to the SQL tab
2. Start typing
[code]

### Expecte

[2019-08-20 14:40] williamdes commented on #15449
@ibennetch I think this issue should be transferred to the https://github.com/phpmyadmin/sql-parser repository

[2019-08-20 19:08] enyfour5 commented on #12393
is this still up for grabs? Would like to work on this as I am a beginner, but I would need SOME direction. I've only been working in php for about 2 months. Thanks in advance

[2019-08-20 19:36] williamdes commented on #12393
@enyfour5 You should have a look to https://github.com/phpmyadmin/phpmyadmin/projects/7 and maybe choose an issue that is in the "reproduced" column or "to be fixed soon" ?

Do not forget to use [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) option to add your signoff line in the commit body, please use your real name (this option is an agreement to our [

[2019-08-20 19:42] enyfour5 commented on #12393
Awesome, yes it's okay for me. I will get right on it, thank you so much!

[2019-08-20 20:06] luccotta commented on #15436
@williamdes you'd like to see the structure from the table that I'm having issues all the time? I'm pasting it below:

[code]

[2019-08-21 06:47] williamdes commented on #15127
![Screenshot_20190821_084457_com android chrome](https://user-images.githubusercontent.com/7784660/63408893-4ba23600-c3f0-11e9-9b15-673c5ada43cd.jpg)

[2019-08-21 06:48] williamdes commented on #15127
The fix introduced this issue, know I understand why this line was here

[2019-08-21 07:11] gurrrung commented on #15127
Hmm, Sorry for the mistake, I will send a fix soon.

[2019-08-21 09:07] OlafvdSpek commented on #15444
The docs for `SaveDir` are really sparse. I've no idea what `The name of the directory where dumps can be saved.` really means. What dumps?

[2019-08-21 11:37] gurrrung commented on #15127
Can you help me replicate this error? I just used my Chrome Device toggle bar and visited home page, it's not there.

[2019-08-21 12:25] gurrrung commented on #15127
I found it, never mind.

[2019-08-21 12:59] williamdes commented on #15444
I think this means "the data exported" on the page Export

[2019-08-21 16:07] tschallacka commented on #15261
Relevant question on stackoverflow, that gave me the solution. https://stackoverflow.com/questions/34180442/phpmyadmin-gives-export-php-instead-of-database-sql-dump

I have a table structure with roughly 375 tables(highly relational) and I hit the 1000 input vars limit.

I had to set the input vars to 3000 as suggested in the answer(Could have lowballed it, but it's just a dev machine) to get it r

[2019-08-21 16:44] lem9 commented on #15444
Doc improvement: https://github.com/phpmyadmin/phpmyadmin/pull/15450

[2019-08-22 05:33] Pr3mnath opened #15453 "Total number of rows in a table shows incorrect value"
### Describe the bug

The total number of rows in a table incorrectly shows while opening a table in phpmyadmin, it shows the correct while running a query with count(*)

### To Reproduce

Steps to reproduce the behavior:
1. Go to phpmyadmin
2. Click on a database and then open a table
3. At the top in light green color it shows the total number of records in a table
4. But running 'select count(*

[2019-08-22 05:41] williamdes commented on #15453
See: #11905

I think you can configure this using the configuration variable `$cfg['MaxExactCount']`

[2019-08-22 10:20] gurrrung commented on #15127
I found a weird thing with `floating_menubar` when the page is alright and no white square is there it was an empty div element.
![Screenshot from 2019-08-22 15-39-40](https://user-images.githubusercontent.com/30543444/63506990-5514c680-c4f4-11e9-99a2-c807ed137944.png)
and after reloading it when that whitespace appears, it was not an empty div element but had child element which were earlier neig

[2019-08-22 10:23] gurrrung commented on #15127
Anyways my PR removes unwanted space from both the cases but we still need to give it a closer look. Actually, I guess the second one is the correct case as `floating_menubar` should contain `serverinfo`, `topmenucontainer` etc as it isn't meant to be empty all the time.
That unwanted space is also coming in this case, thus I am sure that we don't need any margin lefts here.

[2019-08-22 10:24] williamdes commented on #15127
![image](https://user-images.githubusercontent.com/7784660/63507315-c1350180-c4d7-11e9-88e2-0b3719300eb8.png)

Okay I will test your PR
Thanks @gurrrung :)

[2019-08-22 15:56] Tithugues commented on #15380
@tm8544 , would it be please possible that you try the branch used in this PR: https://github.com/phpmyadmin/phpmyadmin/pull/15456 to see if you still have the error?

Thank you.

[2019-08-22 16:19] tm8544 commented on #15380
I tested the branch you mentioned, and it clears #15380
#14245 remains still.

[2019-08-22 16:48] Tithugues commented on #15380
@tm8544 , yes, these are 2 really different issues.

[2019-08-22 16:57] Tithugues commented on #14245
Just to be clear for developers that would like to work on this issue: some MySQL variables were removed in 8.0.3, like `query_cache_size` (see https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html).

I think that we will need differentiate rules, regarding the MySQL version (and maybe regarding the MariaDB version).
Possible ways to fix it:
* if rule precondition allows to check My

[2019-08-22 21:38] Tithugues commented on #14245
@tm8544 , would it be please possible that you test the branch in this PR: https://github.com/phpmyadmin/phpmyadmin/pull/15457?

[2019-08-23 05:29] tm8544 commented on #14245
This is the result:

Errors occurred while executing rule expressions:
- Failed evaluating precondition for rule 'Query cache efficiency (%)'. Error when evaluating: Variable "Qcache_hits" is not valid around position 70 for expression `(IS_MYSQL == false || PMA_MYSQL_INT_VERSION < 80003) && Com_select + Qcache_hits > 0 && !fired('Query cache disabled')`.
- Failed evaluating precondition for rule

[2019-08-23 12:24] #15446 closed

[2019-08-23 12:24] #13370 closed

[2019-08-23 12:24] #14945 closed

[2019-08-23 19:49] Tithugues commented on #14245
OK, sorry for that, I had some difficulties to use a real MySQL ≥8.0.3, so I didn't have this error…
Unfortunately, I'm not sure that the current changes will help us to fix these last bugs… So maybe we should really think about having many files and use the right one(s) regarding the MySQL version.

[2019-08-23 20:33] Tithugues commented on #14245
@tm8544 , based on what I already did, I split the rules file in 2 files and load the needed file(s) regarding the DBMS.
Can you please have another try?

Thank you.

[2019-08-24 04:43] tm8544 commented on #14245
Tested, there are no errors anymore in advisor output.

[2019-08-26 13:46] Ninos commented on #15236
Debian Stretch has still a working version, which is vulnerable:
https://security-tracker.debian.org/tracker/CVE-2018-19968

That was the reason for my ticket. If it's too complicated, we should set focus on >= Buster. Thank you for your work!!

[2019-08-26 15:12] PepeLopez commented on #15444
May I suggest additional info - #15450 is closed, so mehh...:
-The name of the local webserver directory where export files can be saved.
+The name of the local webserver directory where export files can be saved. If not set to e.g. /tmp, option to save to disk won't appear!

Furthermore, this feature is badly described at all, I really thought it's not implemented yet. Even the manual won't trigg

[2019-08-26 18:01] williamdes commented on #15436
### Some modifications I had to do to try on MariaDB
[code]

## To test on mariadb
[code]

## Data
[code]

I tried MariaDB 10.3 and MySQL 5.5

I am not sure to have good enough data to reproduce this issue..

Can you check that your data is correct by using queries like
[code]

[2019-08-26 18:01] williamdes commented on #15436
cc @luccotta

[2019-08-26 18:04] williamdes commented on #15444
@PepeLopez See #15459

[2019-08-28 12:32] yashtejani commented on #13543
Hello developer,

The same problem I faced but I founded one solution. You login in with this command:- Mysql -u root -p  and past this command.
ALTER USER 'user_name'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password';
I think it is helpful.

[2019-08-28 16:31] gurrrung commented on #13326
Can someone help me reproduce this error?

[2019-08-28 17:56] seattledeveloper opened #15460 "Version Information does not display update status in PHP 7.3.x"
### Describe the bug

phpMyAdmin version information not showing update status in PHP 7.3.x

When running PHP 7.2.x (currently 7.2.21), version information displays:

![7 2](https://user-images.githubusercontent.com/9749337/63879961-9d633700-c981-11e9-85d5-e74cce6d0f00.png)

Immediately after upgrading to PHP 7.3.x (currently 7.3.8), the version information area show no update data:

![7 3](https:

[2019-08-28 17:57] williamdes commented on #15460
@seattledeveloper Can you logout/login to try again to reproduce this issue ?

[2019-08-28 18:04] williamdes commented on #15460
Maybe it already has been reported as #14912 ?

[2019-08-28 18:07] williamdes commented on #13326
@gurrrung

## First create a table with a int type
[code]

## Go to "Search"

Fill the field with a string and submit

## Expected behavior

Add quotes or forbid using non integer values

[2019-08-28 18:10] williamdes commented on #15460
@seattledeveloper I agree

@ibennetch Did you forget to bump php version support ?

[2019-08-29 20:44] #15380 closed

[2019-08-29 20:44] #15425 closed

[2019-08-29 21:10] williamdes commented on #15307
:ping_pong: @TheoVazquez

[2019-08-29 21:12] williamdes commented on #15282
@scorobo Can you try the latest versions we have available on our [website](https://www.phpmyadmin.net/downloads/) ?

[2019-08-29 21:13] williamdes commented on #15008
:ping_pong: @DoctorSubtilis
Did you have some time to try ?

[2019-08-29 21:14] williamdes commented on #14882
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-08-29 21:14] #14882 closed

[2019-08-29 21:15] williamdes commented on #13304
:ping_pong: @Gemorroj
Is this issue still open ?

[2019-08-29 21:18] williamdes commented on #14781
@spawnia https://github.com/phpmyadmin/docker/blob/909eab579e170098d15ca9def9e23f8f59c5d47d/Dockerfile-debian.template#L61 `/usr/src/phpmyadmin/themes` seems to be the right place
Did you add a volume to `/usr/src/phpmyadmin/themes` ?
Did you check that the docker user could read the folder (chmod) ?

[2019-08-29 21:19] williamdes commented on #14082
:ping_pong: I will close this issue if nobody claims to still have it.

[2019-08-30 09:00] Gemorroj commented on #13304
@williamdes, I tested master branch (commit bed2160) the problem is not reproduced

[2019-08-30 09:02] williamdes commented on #13304
@cersos you should maybe close the issue

[2019-08-30 11:25] frenkye commented on #15434
I was out for few days, ill try the version on monday and yes we have multiple servers defined in PMA.

[2019-08-30 11:29] cersos commented on #13304
Unable to reproduce in latest release.

[2019-08-30 11:29] #13304 closed

[2019-09-02 18:31] relm opened #15463 "SQL error when accessing Privileges tab on any database"
I am getting a SQL error when accessing the privileges table on any database table.  Happens on newly created tables too.

It returns the following error:

`#1267 - Illegal mix of collations (utf8mb4_general_ci,COERCIBLE) and (utf8mb4_unicode_ci,COERCIBLE) for operation '<>'`

And the query output shows the following (the error box truncates the output a bit):

[code]

### To Reproduce

Steps to r

[2019-09-03 18:59] luccotta commented on #15436
Hello @williamdes ,

I have checked all the related foreign keys and everything was correct.
Today I decided to do a complete mysqldump including "DROP TABLE IF EXISTS" for all tables, and after I imported this dump the issue no longer appeared.

So I guess the issue was with my data

[2019-09-03 19:50] williamdes commented on #15436
@luccotta Okay, thanks for the update.

Do you want to close the issue ?

[2019-09-03 20:50] lem9 commented on #15453
I confirm @williamdes suggestion and I believe that this issue can be closed. By the way, after clicking on the db name, when the list of tables is shown, under Rows if you see the approximate count (with a tilde symbol), you can click on it to get the real count (which might take a while to calculate).

[2019-09-03 21:23] #15453 closed

[2019-09-03 21:24] williamdes commented on #15460
Duplicate of #14912

[2019-09-03 21:24] #15460 closed

[2019-09-03 21:29] williamdes commented on #15290
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-09-03 21:29] #15290 closed

[2019-09-03 21:37] williamdes commented on #15015
I think there is no typo left

Please comment if you find one.

[2019-09-03 21:37] #15015 closed

[2019-09-03 22:38] luccotta commented on #15436
Yes, although it's a mystery, there's not much we can do if it's not reproducible..
thanks

[2019-09-03 22:38] #15436 closed

[2019-09-03 23:09] Blaimi commented on #15236
I backported this here: [salsa:phpmyadmin-team/phpmyadmin!6](https://salsa.debian.org/phpmyadmin-team/phpmyadmin/merge_requests/6).

[I'm still not 100% aware](https://salsa.debian.org/phpmyadmin-team/phpmyadmin/issues/5#note_97423) of when and how and who to upload and which changes are allowed by the debian-policy and all that stuff … the 'everything is an email with a cli-tool for “easy” usage'

[2019-09-03 23:35] williamdes commented on #15236
@Blaimi I share the feeling
The system seems kind of strange, I did not find any documentation that explained everything 100%

Some other Linux based systems have clear documentation and unsurprisingly they all are up to date for phpmyadmin

If someone can find a way to make some progress on the package queue upload of our packages...

[2019-09-05 10:25] florian2833z commented on #14220
Has this been fixed?

[2019-09-05 10:27] SugarD-x commented on #14220
From my understanding, it is waiting on PHP 7.4.0 to be released, as it is an issue on their end.

[2019-09-06 19:57] lem9 commented on #15447
Note that the 'phpmyadmin' database name comes from config.sample.inc.php but can be something else, as configured in https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_pmadb.

[2019-09-07 19:06] asprazz commented on #15440
Hi! @williamdes , I would like to work on this. I found a solution where it can be solved by just re-loading the selectedPage after creating a new one or if there is a way to update url without reloading which is more desired way Please guide me through it.

[2019-09-07 20:30] williamdes commented on #15440
@asprazz you can create a pull-request from and to `QA_4_9`, do not forget to sign-off
using [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) option to add your signoff line in the commit body, please use your real name (this option is an agreement to our [policy](https://github.com/phpmyadmin/phpmyadmin/blob/master/CONTRIBUTING.md#patches-submission))

I w

[2019-09-08 14:17] williamdes commented on #15127
I reverted everything since this is too much of an issue to be kept as is

If you update your fix I will do a lot more testing so it does not happen again
Can you re-do the PR @gurrrung ?

[2019-09-08 14:44] #15439 closed

[2019-09-08 14:44] #15440 closed

[2019-09-08 16:38] gurrrung commented on #15127
Yeah sure. I will do it soon once I get time. In the meantime if someone wants to take this issue, feel free to.

[2019-09-08 22:04] mvorisek opened #15465 "No profiling output when the result has no rows"
When the result has zero rows, the profiling data is not displayed.

More specificaly only the https://github.com/phpmyadmin/phpmyadmin/issues/15209 MySQL deprecation warning is displayed

[2019-09-09 02:50] relm commented on #15463
I fixed it. It seems that MariaDB since version 10.4.1 creates the mysql.user table as a view and have moved storing the actual credentials to a mysql.global_priv table.

For anyone else experiencing this, the problem is this collations in this view don't automatically update when you change collations from the my.cnf.

To fix that, I clicked on the view within phpmyAdmin, then went to Structure -

[2019-09-10 14:02] spawnia commented on #14781
Just checked again, `/usr/src/phpmyadmin/themes` is working. Not sure what i was doing wrong before. Thanks

[2019-09-10 15:09] #14781 closed

[2019-09-11 01:23] apzentral commented on #14184
I also have the same issue. Once I turn off the "Safe Torrent Scanner" plugin, it now working again.

[2019-09-11 06:20] williamdes commented on #15111
#13256

[2019-09-11 06:20] williamdes commented on #15111
`Uncaught ReferenceError: zxcvbn is not defined` I the Selenium test suite

[2019-09-11 06:20] williamdes commented on #15111
[code]

[2019-09-11 06:24] williamdes commented on #15111
https://travis-ci.org/phpmyadmin/phpmyadmin/jobs/582328957#L564
![pma-xvbn](https://user-images.githubusercontent.com/7784660/64673069-7b7faf00-d46d-11e9-8c35-d4d9bf861f65.gif)

[2019-09-11 06:31] williamdes commented on #14184
Thanks to https://chrome.google.com/webstore/detail/chrome-extension-source-v/jifpbeccnghkjeaalbbjmodiffmgedin
Here is the source code of "Safe Torrent Scanner"
[aegnopegbbhjeeiganiajffnalhlkkjb.zip](https://github.com/phpmyadmin/phpmyadmin/files/3599315/aegnopegbbhjeeiganiajffnalhlkkjb.zip)

If someone finds what is wrong faster than me, post it here ;)

[2019-09-11 12:35] fato63 opened #15467 "Confirm on insert new record"
I have a request for the form to insert new records into a table.

### Is your feature request related to a problem? Please describe.
Now, if you press enter, the new record is inserted without a confirmation request.

###A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
 It is very easy to insert incomplete records when the enter key is pressed only with

[2019-09-11 16:15] williamdes commented on #15387
You are totally right, this issue needs to be addressed quickly !
Caused my trouble in production where I missed rows, I think the page counter is maybe ok but not the limit of the shown data.

[2019-09-11 23:13] mcarvalhor commented on #15467
Hello.

I am a computer science student at [University of Sao Paulo](https://www5.usp.br/#english).

Currently, we are studying open source software, and a group of four students (including me) would like to contribute to phpMyAdmin in this issue.

Would you, please, be our mentor? How should we proceed?

[2019-09-12 06:36] williamdes commented on #15467
@mcarvalhor Yes, I can
Follow the steps:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch since it is an enhancement  and create a new branch from master
- Run `yarn install` or `npm install`
- Run `composer install`
- Create a `config.inc.php` if nedded using the example file
- Access your phpmyadmin website and login
- Start developing the f

[2019-09-13 07:25] rangka-kacang commented on #14184
I've tested this just now and I can't produce it anymore. My environment are as follows (and is a fresh install, no extensions, nothing, just stock iso):

[code]

I have this on my `config.inc.php`:

[code]

I have no problem accessing and logging in via localhost. I'm using phpMyAdmin 4.9.0.1 from https://files.phpmyadmin.net/phpMyAdmin/4.9.0.1/phpMyAdmin-4.9.0.1-all-languages.zip and Google Chro

[2019-09-13 08:10] hacrot3000 opened #15469 "A special SQL statement cannot execute via phpmyadmin"
### Describe the bug

That is a long SQL which can run from terminal or any other MySQL client as well, MySQL only need 0.1 seconds to get the whole result.
But I cannot execute it on phpmyadmin, 99% of the try are got "Mysql gone away", 1% of the try I can get the result as expected.
The phpmyadmin syntax validator says my query is wrong, I am sure it's 100% correct and execute as well.

### To R

[2019-09-13 15:08] Gaurav-Punjabi commented on #15413
Can I solve this one ?

[2019-09-13 15:21] williamdes commented on #15413
@ibennetch can I have some advice on this one?

[2019-09-15 19:01] Tithugues commented on #15469
Hi,

As `cpu` is a reserved word, can you please try to surround it with backquotes and give us the result?

Thanks.

[2019-09-16 13:12] lem9 commented on #15469
I confirm that adding backquotes around the `cpu `reserved word fixes the parser error. See https://dev.mysql.com/doc/refman/5.7/en/keywords.html#keywords-5-7-detailed-C. We don't have your tables to test the query's completion.

[2019-09-16 21:03] stefanelul2000 opened #15470 "Phpmyadmin Docker configuration"
### Describe the bug

Can't edit config file.

### To Reproduce

Mounting /etc/phpmyadmin/ to a local directory and editing config.user.inc.php file makes phpmyadmin ignore the config parameters in the docker config.

### Expected behavior

After editing config.user.inc.php the ssl error should dissaper and I should be able to I frame phpmyadmin.

$cfg['Servers'][$i]['ssl_verify'] = false;
$cfg['A

[2019-09-18 12:32] acs-ferreira opened #15471 "PMA don't show tables/data, CLI does"
- MariaDB 10.4.8
- PHP 7.2.19
- Ubuntu 18.04.3
- PMA 4.9.0.1

I login as `root` into PMA. I click on my `database`, it shows empty (no tables/data).

But trough the command line:

[code]

[2019-09-18 14:17] acs-ferreira commented on #15471
I've assigned a user to this specific DB (`all grants` on it).

One PHP application (Laravel) can R+W on it, i can access it trough SSH (root or this user) bu not PMA...PMA does not see any tables on the DB, either with `root` user or this specific user ❗️

[2019-09-18 15:45] acs-ferreira commented on #15471
DB, deleted, recreated, all good.

[2019-09-18 15:45] #15471 closed

[2019-09-18 17:17] eehmke opened #15472 "Two factor authentication should allow more than one U2F device"
### Is your feature request related to a problem? Please describe.

When the Two Factor Authentication via hardware key is activated, only one device can be configured.

### Describe the solution you'd like
More than one device should be possible. If one device gets lost, there should be a backup. When I use phpMyAdmin on my laptop, it would be nice to use another key so I can have the other one a

[2019-09-19 10:51] OlafvdSpek commented on #15467
If implemented this should be off by default.

[2019-09-19 16:15] fato63 commented on #15467
Hello to all,
in the meantime I would like to thank Matheus, I really need this change!
I agree with Olaf van der Spek, it could be a configurable behavior.
To answer Marc Delisle: I tried various forms on the internet. Everyone
asks for confirmation before sending the data.
In phpAdmin we work on data, in some cases important data.
There is no need to enter meaningless data.
I've been working for

[2019-09-19 19:43] williamdes commented on #15384
tcpdf https://github.com/tecnickcom/TCPDF/releases/tag/6.3.0 is available !

[2019-09-19 21:44] williamdes commented on #15384
Fixed by : 1859f8afc02d0578ab7fb43bb5c8f1e68e994eca

[2019-09-19 21:44] #15384 closed

[2019-09-19 21:58] williamdes opened #15473 "TCPDF 6.3 php notices and warnings"
https://github.com/tecnickcom/TCPDF/pull/136

[code]

[2019-09-19 22:06] williamdes commented on #15473
cc @ibennetch
6.3 introduces the warnings and notices

[2019-09-20 09:09] OlafvdSpek commented on #15467
Not everything behaves like a spreadsheet.. Tab is the key to go to the next field.

[2019-09-20 12:42] williamdes commented on #15473
https://github.com/tecnickcom/TCPDF/releases/tag/6.3.2

[2019-09-20 12:42] #15473 closed

[2019-09-20 18:03] lem9 commented on #15467
Hello fato63,
well I easily found some important forms (google.com, amazon.com) where the enter key submits the searched term.

A discussion about why the enter key should submit a form : https://www.tjvantoll.com/2013/01/01/enter-should-submit-forms-stop-messing-with-that/

[2019-09-21 14:34] ibennetch commented on #14912
I believe this issue has been resolved, phpMyAdmin 4.9.1 should show as the latest when using PHP 7.3.

[2019-09-21 14:34] #14912 closed

[2019-09-21 14:49] williamdes commented on #14912
https://github.com/phpmyadmin/website/commit/833359d2667811d99e31f08676aef6ac758ad7e4

[2019-09-21 17:07] mauriciofauth commented on #14220
A note from the [PHP documentation](https://www.php.net/manual/en/mysqli.requirements.php):

[2019-09-22 09:59] keshakaneria commented on #15467
Having Enter key creates an ambiguous action performed by users who attempts to go to new line but instead ends up inserting the data. So the problem is legit and do requires a button to confirm.

[2019-09-22 15:42] williamdes commented on #15467
Adding a confirmation is a good idea for servers that I have in production, not for the others

I would like to have the confirmation setting per server

And It should be disabled by default, anyone who wants it enabled it :)

[2019-09-22 15:44] williamdes commented on #15470
Are you referring to : #15304 or #14804

[2019-09-22 16:08] williamdes commented on #15304
@aayush-ag Thanks for your patience, this will be fixed on next release
Can you try the patch eb525891ce01b3102b44066d7b77fa644cfd6ec0 ?

[2019-09-22 16:11] williamdes commented on #15412
0a8fc4446b9c74c40afe059fa5df988f9338e859

[2019-09-22 16:13] #15412 closed

[2019-09-22 16:14] williamdes commented on #14929
Fixed in 4.9.1

[2019-09-22 16:14] #14929 closed

[2019-09-22 16:15] williamdes commented on #14245
@tm8544 Can you close this issue if 4.9.1 solves it ?

[2019-09-22 16:33] williamdes commented on #14804
@WKupper can you please try the patch 9a6a66b9f46e9707ae54482ee500945cc3df65d1 ?

[2019-09-22 16:44] tm8544 commented on #14245
Can you confirm that this includes two separate advisory rule files as in https://github.com/Tithugues/phpmyadmin/commit/efbec55643dabd38de1dd148d417a6c1cde7463a?

[2019-09-22 16:50] Tithugues commented on #14245
Yes, it is.

[2019-09-22 16:58] #15304 closed

[2019-09-22 16:58] #14804 closed

[2019-09-22 17:00] tm8544 commented on #14245
When I download phpMyAdmin-4.9.1-english.zip, the libraries folder has only one advisory rule file, advisory_rules.txt.
It still produces the same error when Mysql > 8.0.3

[2019-09-22 17:03] williamdes commented on #14245
@tm8544 I forgot to merge the PR..
can you try the patch https://github.com/phpmyadmin/phpmyadmin/pull/15461 ?

[2019-09-22 17:44] tm8544 commented on #14245
#15461 works ok.
I will close this when it is merged .

[2019-09-22 18:14] #14245 closed

[2019-09-22 18:39] williamdes commented on #15367
I am trying to reproduce this issue but for now I did not succeed

[2019-09-23 07:28] stefanelul2000 commented on #15470
Not sure really, it the error in red that bothers me. See the photo.

https://ibb.co/4177fH0

[2019-09-23 11:18] pmarquesmota commented on #14026
Also, aes_decrypt returns binary in phpmyadmin and must be CASTed to CHAR, unlike the mysql client and the mysql documentation which says it returns the original plaintext string. See [Stackoverflow](https://stackoverflow.com/questions/16556375/how-to-use-aes-encrypt-and-aes-decrypt-in-mysql)

[2019-09-23 11:35] williamdes commented on #14026
Can you please send a step by step guide to help me know what you expect?

[2019-09-23 11:36] williamdes commented on #15470
Okay, I will have a look

Can you send your docker compose or command line?

[2019-09-23 11:48] stefanelul2000 commented on #15470
I don't have the exact docker compose because it's done in unraid. I've attached a photo of the config.

https://ibb.co/5njtWFh

[2019-09-23 15:43] seattledeveloper commented on #14912
I can confirm this is now fixed (at least on my server), even before I upgraded.  Here's two relevant screenshots ...

Before upgrade (showing a new version is available):

![before_upgrade](https://user-images.githubusercontent.com/9749337/65440670-f33ec980-dddd-11e9-82f8-1d813b6881ff.png)

And after upgrade (showing I am up to date):

![after_upgrade](https://user-images.githubusercontent.com/97

[2019-09-24 10:39] Xymph opened #15474 "Cursor disabled at in-line edit of a column"
### Describe the bug

When editing a table column in-line, no cursor is visible.

### To Reproduce

Steps to reproduce the behavior:
1. Go to any database table.
2. Click on 'Browse'.
3. Double click a text column to edit it.
4. Don't get a cursor.

### Expected behavior

Get a visible cursor.

### Server configuration

- Operating system: SciLinux 6.10 (yes, I know it's old)
- Web server: Apache

[2019-09-24 11:55] keshakaneria commented on #15242
This means that the categorization of tables and views shouldn't be done and under Branch, directly everything should be displayed. This is the exactly what is wanted, am I right?

[2019-09-24 19:24] ibennetch commented on #15470
I was able to use Docker in this way: `docker run --name myadmin -d -v /tmp/myconfig:/etc/phpmyadmin/config.user.inc.php  -p 8080:80 phpmyadmin/phpmyadmin` which allowed me to edit the config.user.inc.php file on my host machine.

Note that if you don't use the full path to the file on the host, it seems Docker creates a folder on the destination rather than linking the file.

Can you get the cont

[2019-09-24 22:25] surenenfiajyan opened #15475 "The bottom "Sort by key" is broken"
**The problem description:**

When I try to sort the rows with the bottom "Sort by key" dropdown menu, after displaying the sorted rows it immediately resets to the previous sort mode. Interestingly, the upper "Sort by key" works fine. This is reproducible in 5.1.0-dev and latest stable version (4.9.1).

**Steps to reproduce the behavior:**
1. Create a table with at least one indexed column (prima

[2019-09-25 06:24] keshakaneria commented on #15242
Should it be like everything should be mixed and no (+) scroll downs should be displayed under a database?

[2019-09-25 10:53] ErikKrause commented on #15242
Yes, exactly. Tables and Views mixed like in older versions.

[2019-09-25 13:54] pswaab opened #15476 "Javascript errors in last versions"
### Describe the bug
Hi,

Since the last year or so, I keep getting javascript errors, and phpmyadmin is not working.
I tried on several servers, and in several browsers on Mac and windows (via parallels dekstop).

When I login, I see the red bar in the bottom with "A fatal JavaScript error has occurred. Would you like to send an error report?"
Also console in the browsers show numerous errors (se

[2019-09-25 13:58] williamdes commented on #15476
https://github.com/phpmyadmin/phpmyadmin/blob/1a14b3e4d3b703dae1e36d9d87e65b50bf7b832c/libraries/classes/Header.php#L607-L609

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection#Syntax
https://stackoverflow.com/questions/36329776/why-this-error-in-dev-console-of-chrome-when-using-x-xss-protection

Do you use a proxy ?
Do you have browser extensions ?

[2019-09-25 14:04] pswaab commented on #15476
Hi,

I am not using a proxy (unless my Mac is hacked ;-)).
I turned of all browser extensions, the only one I was using is LastPass.

Regards,

Patrick

On 25 Sep 2019, at 15:59, William Desportes <notifications@github.com<mailto:notifications@github.com>> wrote:

https://github.com/phpmyadmin/phpmyadmin/blob/1a14b3e4d3b703dae1e36d9d87e65b50bf7b832c/libraries/classes/Header.php#L607-L609

https://

[2019-09-25 14:48] pswaab commented on #15476
The latest version which does not give me errors is 4.7.9

[2019-09-25 17:06] stefanelul2000 commented on #15470
The output of the command you provided is

`root@UnRAID:~# docker exec -it 3f41cd38f408 bash
root@3f41cd38f408:/var/www/html# cd /
root@3f41cd38f408:/# ls -lha /etc/phpmyadmin/
total 16K
drwxr-xr-x 1 root root   108 Sep 24 04:04 .
drwxr-xr-x 1 root root  1.4K Sep 24 04:03 ..
-rw-r--r-- 1 root root  4.6K Sep 23 17:13 config.inc.php
-rw-r--r-- 1 root root    68 Sep 24 04:04 config.secret.inc.php
-rw

[2019-09-25 18:52] sdurban commented on #15435
@williamdes The problem here is the callback function is inside a object called Functions and recaptcha can't find it.

If we attach this function to the window global object and change the data-callback the problem is solved.

It's not elegant but it's a problem from captcha side...

Here's an example of how to fix it:
https://github.com/sdurban/phpmyadmin/commit/a4f6b801c28f7bfaaa60fc6a1545b44a7

[2019-09-25 19:08] williamdes commented on #15435
Thanks @sdurban!

It is exactly what I was thinking, the recent refractor broke recaptcha callback

I will try to fix it soon

[2019-09-25 22:47] credomane commented on #14433
Well the way I continually reproduced the issue in 4.9.1 is to setup the phpmyadmin's controluser and pmadb. Grant the controluser all rights to pmadb but do NOT run the sql file to populate the pmadb with the tables required by phpmyadmin; leave it as a completely empty db.

Then log into phpmyadmin from the web interface as the root user. Once logged in everything seems to work correctly (despit

[2019-09-26 00:22] aschuch247 commented on #15295
I can still reproduce the error.

* phpMyAdmin: 4.9.1
* browser: Firefox 69.0 (64-bit)
* operating system: KDE neon

And a general question: Do you want me to track 'my bugs' and update the issue if I can reproduce the issue in newer versions of phpMyAdmin? Or is it too much noise? What is the process here?

[2019-09-26 01:09] aschuch247 commented on #15187
I can still reproduce the error.

* phpMyAdmin: 4.9.1
* browser: Firefox 69.0 (64-bit)
* operating system: KDE neon

[2019-09-26 01:27] aschuch247 commented on #14598
I can reproduce the issue in phpMyAdmin 4.9.1.

Is there a chance that some magic as done in #15325 could get it working? :) `sql_query=` is present as GET parameter.

[2019-09-26 01:56] aschuch247 opened #15477 "Check referential integrity' not present for InnoDB tables without foreign key, but with configured phpMyAdmin relation"
### Describe the bug

phpMyAdmin supports custom relations between rows as stored in `pma__relation` table. The GUI calls them `internal relationships`. If the tables are of MyISAM, the operations tab shows a `Check referential integrity` section. If the tables are InnoDB, the operations tab does not contain a `Check referential integrity` section.

### To Reproduce

1. Create two tables using the

[2019-09-26 06:13] williamdes commented on #15295
@aschuch247 Yes, keep them updated if possible
Explaining the steps to reproduce the issue is very important for us :)

[2019-09-26 06:18] williamdes commented on #14598
@aschuch247 Yes, absolutely
I will use that same system

[2019-09-26 06:45] nunoperalta commented on #14956
Hi guys,

Can this become more priority, please? :)

The documentation was improved today: https://mariadb.com/kb/en/library/compression/

Here's an example of CREATE TABLE:

[code]

PAGE_COMPRESSED is not allowed when ROW_FORMAT=COMPRESSED.
Must be DYNAMIC or COMPACT.

Might be worth putting a note saying that compression algorithm can be set with:
innodb_compression_algorithm="zlib"

(zlib is al

[2019-09-26 07:15] AdamReece-WebBox commented on #14433
Yep, I concur with @credomane. That exact situation happened to me only a couple of weeks ago when spinning up a Debian (9.9) VPS for a client. I just forgot to run the SQL script to import PMA DB. (Privileges were set correctly.)

[2019-09-26 08:33] sleeksorrow commented on #14433
That fixed my problem, too. I already had a PMA DB and no warnings about it at all, but nevertheless I first tried dropping this DB and recreating it using the script. Sadly this did not fix the problem. Then I dropped the pma user and recreated it, and then the problem disappeared.

[2019-09-27 17:54] saffabook opened #15479 "Getting Deprecation errors"
I am getting quite a few Deprecation errors after a fresh server setup.

### Server configuration

- Operating system: CentOS
- Web server: Apache/2.4.6 (CentOS) OpenSSL/1.0.1e-fips mod_fcgid/2.3.9 PHP/7.4.0RC2
- Database version: 5.5.64-MariaDB - MariaDB Server
- PHP version: 7.4.0RC2
- phpMyAdmin version: 5.0.0-alpha1

After setting up a new hosting I get the errors in the below image.
I saw a r

[2019-09-27 18:11] williamdes commented on #15479
Hello
Tjansk for reporting the issue, it was been fixed by PRs and commits referenced in https://github.com/phpmyadmin/phpmyadmin/issues/15412

[2019-09-27 18:11] williamdes commented on #15479
Next 5.0 release will address the issue you have

cc @ibennetch @mauriciofauth

[2019-09-28 09:06] williamdes commented on #12669
There is nothing to fix on our end for this issue, closing.

[2019-09-28 09:06] #12669 closed

[2019-09-28 20:57] alokupadhya commented on #12924
Problem Solved:

Update phpmyadmin version to 4.9.1

https://stackoverflow.com/a/58005655/12088879

[2019-09-30 19:59] CristopherVidalMachado commented on #15467
I believe the correct is a setting that allows the choice of the user in this type of situation. It would be great to add a table-specific setting, confirming more than one pre-configured action type.

[2019-10-01 00:39] murraycollingwood opened #15480 "Configuration already exists, setup is disabled! - except it doesn't exist"
### Describe the bug

Fresh install (new Debian 9 server) latest stable copies of everything
Used an "apt" install of phpmyadmin
Ran /usr/sbin/pma-configure
Went to visit http://server1/phpmyadmin/setup
Enter login credentials
Get this error: Configuration already exists, setup is disabled!
However when I look in /usr/share/phpmyadmin there is no config.inc.php

### To Reproduce

I reproduced it o

[2019-10-01 02:45] ibennetch opened #15481 "Uncaught TypeError when trying to load Setup script"
With current master, I get this Uncaught TypeError when trying to run the setup script (with no `config.inc.php` in my main directory).

[code]

[2019-10-01 03:00] ibennetch commented on #15480
Most likely what's happened is that the Debian folks have changed the path (to fit Debian policy) and it appears they may have overlooked something when doing so. I've done some testing with versions 4.6.6 and 4.9 (the current phpMyAdmin release) and don't have any trouble with this, so it seems very likely it's a Debian-specific problem.

I know there's a team trying to get a more recent phpMyAdm

[2019-10-01 03:00] #15480 closed

[2019-10-01 10:24] tryfunc opened #15482 "plus sign (+) in the table or database name when configuring foreign keys"
### Describe the bug

Target table select box  (Foreign -> table) is empty if the current table or database name contains a plus sign (+).

The problem is that the ajax request to tbl_relation.php includes non-url-encoded parameters the table and the db.

### To Reproduce

Steps to reproduce the behavior:

1. Create database '+testdb'. (innodb).
2. Create table 'test' in database '+testdb'.
3. Go

[2019-10-01 10:27] murraycollingwood commented on #15480
So I made a small change to the code:
if (file_exists(CONFIG_FILE)) {
    PMA_fatalError(__('Configuration '.CONFIG_FILE.' already exists, setup is disabled!'));
}
And now I get the message:
Configuration /etc/phpmyadmin/config.inc.php already exists, setup is disabled!

If this is wrong where should I fix it?  This is the first problem I've come across on this install, however in my experience if

[2019-10-01 11:21] murraycollingwood commented on #15480
I'm having so many issues with phpmyadmin installation.
1. First the above with the location of the config.inc.php
2. To even get to access phpmyadmin we have to create a user/password in the htpasswd system.
Now I have the config.inc.php configured
3. The login is failing: mysqli_real_connect(): (HY000/1698): Access denied for user 'root'@'localhost' . Which really doesn't tell me what the proble

[2019-10-01 11:39] murraycollingwood commented on #15480
It looks as though there is a difference between 'root'@'127.0.0.1' and 'root'@'localhost'
That may be a MariaDB installation problem.  Although it would be nice if phpmyadmin noticed this and told me.

[2019-10-01 16:27] Kishlin commented on #15475
Hey, is anybody working on this? If not, I'd be happy to contribute as part of the Hacktoberfest. :)

[2019-10-02 07:36] williamdes commented on #15475
@Kishlin Nobody, you can go ahead :)

- Create a branch from QA_4_9
- Do not forget to use [`--signoff`](https://git-scm.com/docs/git-commit#Documentation/git-commit.txt---signoff) option to add your signoff line in the commit body, please use your real name (this option is an agreement to our [policy](https://github.com/phpmyadmin/phpmyadmin/blob/master/CONTRIBUTING.md#patches-submission))
- Push

[2019-10-02 11:43] 3phreal opened #15485 "Designer not working with MySQL relations only"
This is a duplicate of #12160.

But I also have this problem. And the above case was closed but did not offer a solution for me.

Although i have changed all my tables to InnoDB and created the storage.

I have both mySql and PhpMyAdmin running in a docker container.

MySQL version : **5.7.27 - MySQL Community Server (GPL)**

PHPMyAdmin version : **4.9.1**

Regards

[2019-10-02 15:17] enzo-ctes opened #15486 "Configurar archivo config.inc.php desde NAS MyCloud"
Buenas quisiera saber como habilito la opción de "guardar", "cargar" y "borrar" en el apartado phpMyAdmin setup" ya que necesito agregar una configuraciòn en el archivo config.inc.php y solo puedo descargar o verlo, la aplicación la tengo instalada en una NAS MyCloud, y no veo o no tengo acceso a los directorios propios de la aplicacion instalada para ubicar el archivo de configuración solamente l

[2019-10-03 06:16] williamdes commented on #15485
@3phreal please explain in details what you expect to see and what you see
Send screen captures
Document as mutch as you can your issue

It will be easy for me to fix it if I can reproduce it

You can use demo servers (`root`, no password) if you want
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2019-10-03 06:28] williamdes commented on #15480
@murraycollingwood We are working on making 4.9.1 available in Debian (#15236)
I recommend you to chose between the following options :
- uninstall the package and install from our website
- go to the phpmyadmin directory and remove all contents and replace by the contents of 4.9.1 found on our website
- use the PPA linked in #15236 in order to install 4.9.1 from Ubuntu repository

Tell me if that

[2019-10-03 06:35] murraycollingwood commented on #15480
No problem - I've move to Querious.

[2019-10-03 07:22] 3phreal commented on #15485
Ok

I have made my table on your demo server. Its called Relation_bug

Under the designer I expect to see a relation between T_Function:ID and T_Function_Test:FunctionID

But i does not show on your demo server either.

Regards

[2019-10-05 06:22] SophieYoonseo opened #15490 "I have finished translating "SQL parser" into Korean."
I have tried phpMyAdmin and think it is a very useful software tool.
So I tried the translation and finished it.
https://hosted.weblate.org/projects/phpmyadmin/sql-parser/ko/

[2019-10-05 08:48] zapper opened #15491 "Generate password complexity setting"
Hello,

I always encounter problem when mysql server is set to medium password level it requires special character in passwords when creating user.

When you use generate password function it doesn't have any of special chars so you always get an error from mysql for incorrect password.

Solution was simple: add special chars to function suggestPassword in functions.js file, no commas, no dots, no

[2019-10-05 11:42] rorkyendo commented on #13270
may i contribute? i'm the first time to join open source projects

[2019-10-05 12:30] williamdes commented on #13270
@rorkyendo yes, you can contribute :)
We are happy to have new contributions

Here are some steps:
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch since it is an enhancement  and create a new branch from master
- Run `yarn install` or `npm install`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access

[2019-10-05 22:16] xz0tic commented on #14220
im trying to login phpmyadmin with xampp for the first time and i keep getting this:
https://imgur.com/CmxPcSR

 Cannot log in to the MySQL server

mysqli_real_connect(): The server requested authentication method unknown to the client [sha256_password]
 mysqli_real_connect(): (HY000/2054): The server requested authentication method unknown to the client
 Connection for controluser as defined in y

[2019-10-06 15:01] asprazz commented on #15127
Hie @williamdes and @gurrrung, I noticed some strange behaviour too before reloading and after reloading the designer page. Attaching screenshots for more details about what I observed, in first screenshot (body) have padding-top to add some space for (floating-menubar) while (floating-menubar) is position fixed. In second screenshot that is after reloading it empties up the (floating-menubar).

C

[2019-10-06 17:01] salvadorrueda commented on #15467
Hi everyone.
I'm trying to add "Prevent form submission on hitting Enter key" option in "Page-related settings",
but no clue how many files I've to edit or how to do that.

Right now just reading code from "libraries/classes/Config"

![page-related_settings_tf](https://user-images.githubusercontent.com/760491/66272363-2fa40800-e869-11e9-9e22-efba18897295.png)

Any help will be appreciate. Thanks.

[2019-10-07 13:15] OlafvdSpek commented on #15491
Can't MySQL be fixed to not require special chars per se? ;)

[2019-10-07 13:39] Dubz opened #15496 "Modify ReCaptcha to allow for custom siteVerifyUrl value"
### Is your feature request related to a problem? Please describe.

Web servers behind firewalls that cannot reach google.com are unable to authenticate ReCaptcha responses.

### Describe the solution you'd like

Allow use of customizing the siteVerifyUrl in the ReCaptcha\RequestMethod class constructors

### Describe alternatives you've considered

Manually modifying phpMyAdmin after install/upda

[2019-10-08 10:02] axessweb opened #15497 "Export database or tables not correctly with JSON type"
### Describe the bug

If you have a type json in your table, during the export, this one is incomplete.
There are missing columns.

### To Reproduce

Steps to reproduce the behavior:
1. Create a new table
2. Create multiple columns, and one of json type in the middle
3. export
4. view exported file `.sql`

### Server configuration

- Operating system: Win 10 (x64)
- Web server: Apache 2.4.41
- Dat

[2019-10-08 13:58] fliespl opened #15498 "Poor formatting of SESSION variables"
### Describe the bug

Both PMA_Token and HMAC_secret provide leading and tail spaces throught the code. Is it by design or is it okay to make pull request to clean it up?
[code]

[2019-10-08 14:00] williamdes commented on #15498
Yes, I think so, kind of a protection so they are not misused

@mauriciofauth @ibennetch do you have some comments ?

[2019-10-08 14:03] ibennetch commented on #15498
I don't recall any specific design decisions that were made about this, although the thoughts by William seem right.

I'm somewhat indifferent about this; I understand wanting to protect these items, but also it makes it confusing for anyone looking at (or trying to refactor) the code.

[2019-10-09 13:05] tm8544 opened #15499 "Unparenthesized `a ? b : c ? d : e` is deprecated."
With php 7.4.0RC3 & phpmyadmin 4.9.1 I get the following notice in Apache log

PHP Deprecated:  Unparenthesized `a ? b : c ? d : e` is deprecated. Use either `(a ? b : c) ? d : e` or `a ? b : (c ? d : e)` in ..\libraries\tbl_columns_definition_form.inc.php on line 431

[code]

I guess it should be replaced with this:
[code]

[2019-10-09 22:29] aziyan99 opened #15501 "Phpmyadmin Light Weight"
### LightWeight PMA

I very love phpmyadmin, but I'm always frustrated when i must open a lot of tabs in chrome where my laptop RAM is low and want to upgrade it doesn't have money, you know yourself how chrome takes up memory, I hope the phpmyadmin want to make a lightweight phpmyadmin

[2019-10-10 00:48] Shakil-Shahadat commented on #15501
You can also use Adminer. Less feature but much faster.

[2019-10-10 01:34] ibennetch commented on #15501
Thanks for your input, but I’m not sure what is the particular problem that you’re experiencing. Could you tell us a bit more about the problem? You don’t need to open multiple tabs to use phpMyAdmin, and in my experience it doesn’t use too many resources in my browser. I should see what memory usage my browser reports for a session, but don’t have that data at the moment.

[2019-10-10 08:11] dant89 commented on #15499
The master branch code is slightly different so it might not need this fix?

[code]

[2019-10-10 09:25] williamdes commented on #15499
NB: The fix must target `QA_4_9` and use `QA_4_9` as a base branch

[2019-10-10 09:27] zapper commented on #15491
Do you think that lowering security level for passwords is a good way to solve the problem? :)

[2019-10-10 19:49] fliespl opened #15504 "Allow Signon login method to alter expiration time"
While implementing single singon feature I have come to the point that I am unable to set session expiration time. In my case - I won't to make it so that it expires in let's say 5 minutes (in contrary to default 24 minutes in php).

Normally in php I can alter it using setcookie:
`setcookie(session_name(), session_id(), time() + PMA_SIGNON_TIMEOUT, '/' ,null, is_https(), true);`

It will set it c

[2019-10-10 19:53] edgarasg commented on #15485
It seems that with 4.9.1 we can't create relations through Designer page despite configuration storage is enabled or not. `pma__table_coords` table is empty. Relations with enabled configuration storage are working with v4.8.5.

[2019-10-10 19:57] williamdes commented on #15485
thanks @edgarasg for the details

Can you please post a step by step guide to help fix the bug ?

[2019-10-11 06:37] edgarasg commented on #15485
1. Select database
2. Go to Designer page
3. Click Create relantionship in left menu
4. Select Reference and Foreign keys

Result: no relationship lines are shown, `pma__table_coords` table is empty. However, `pma__relation` table is filled with relation entries.

[2019-10-12 20:16] Tithugues commented on #15481
Hi,
Do you mean that you have the error just calling a route like "http://0.0.0.0:30000/setup"?
Do you have the error when loading the first page or after submitting anything?
Would it be possible to know which PHP version please?

Even if it's not beautiful, I'm able to load the page with a PHP 7.3:
![image](https://user-images.githubusercontent.com/1165150/66707247-aba4c100-ed3d-11e9-9b7e-9b0959

[2019-10-13 14:47] fliespl opened #15506 "History table saving only last query in multi query statement"
### Describe the bug

Executing multi query will result in only last one saved in history table.

### To Reproduce

Execute:
[code]

Check history table. Only rollback command gets saved.

### Expected behavior

All queries should be saved. Either in one entry or multiple.

[2019-10-13 16:47] MauricioFauth opened #15507 "HTTP handling should implement PSR-7"
The HTTP request and HTTP response handling should be refactored to implement the [PSR-7](https://www.php-fig.org/psr/psr-7/) standard.

From the PSR-7 standard:

[2019-10-13 23:38] ibennetch commented on #15481
I realize now this error isn't presented when first loading the setup script, but once it occurs I have to clear the pma cookies for it to go away.

To reproduce, go to the setup page. Click the "New server" button, then "Apply" (you needn't make any change to the default settings, but in my testing the error still occurs even if I do make changes).

The error is logged, I'm shown a blank page, an

[2019-10-14 17:37] zapper commented on #15491
Personally I don't see any reasons why it can't be added.

[2019-10-14 21:45] kkarol012 commented on #12277
Hello. Is issue still occurring?

[2019-10-15 00:41] ibennetch commented on #12277
@kkarol012 This may not be a great first issue (because there's already been one attempt to fix it that hasn't solved all use-cases), but it is open and available. You certainly may work on it.

[2019-10-15 00:43] ibennetch commented on #12277
I have two ideas for how to fix this.

1. Start the form with an empty field and let the user manually add however many values they want.

2. We could incorporate a checkbox to the side of each field that would say "blank value" or "include blank value" or perhaps "empty string", and the user could click that checkbox to force the inclusion of the empty value, otherwise the form should ignore the

[2019-10-15 06:45] KasperFranz commented on #13124
Is this not already implemented - when I just tried to open this it looked like it was correct

[2019-10-15 21:54] williamdes commented on #12277
LGTM

[2019-10-16 12:20] edgarasg commented on #15485
@williamdes sorry for bothering, have you tried to replicate this on v4.9.1 ?

[2019-10-16 13:58] williamdes commented on #15485
No, this is the right thing to do ;)

Hi @edgarasg, I get caught up by the packaging issue on Debian `#15236` and did not have time to do some triage and reproduce issues, I will try ASAP

I will do everything to send you a patch ASAP and to include the fix in the next release :)

[2019-10-17 16:08] kkarol012 commented on #12277
Second option looks good to me too. I'll try to implement that way.

[2019-10-17 21:00] #15482 closed

[2019-10-17 21:00] #15499 closed

[2019-10-17 21:00] #14898 closed

[2019-10-17 22:14] #15161 closed

[2019-10-18 10:13] keeshoekzema opened #15511 "Exporting users after a delete will delete all selected users"
### Describe the bug

If you want to export a user from the Useraccounts page after you deleted a user, you will also delete the user you want to export.

I wanted to export a few users so I could import them into a new database, but before exporting I decided to delete 2 old user accounts that were no longer in use. After deleting those users I selected all users and pressed the 'with selected: e

[2019-10-18 10:44] williamdes commented on #15511
@keeshoekzema Thank you for reporting this to us !

[2019-10-18 11:03] williamdes commented on #15511
You can even do, Delete>Cancel>Export and the user will be deleted

[2019-10-18 11:47] #15511 closed

[2019-10-18 11:48] williamdes commented on #15511
@keeshoekzema Can you try the patch 7dca0167731fc81af65bec8d24caa9f3f3ba9b4c

It solved the issue on my side.

[2019-10-18 11:50] ibennetch commented on #15511
Thanks for the report.

@williamdes @mauriciofauth I think this is important enough to release 4.9.2 rather soon, do you agree? It's currently scheduled for a month from now.

[2019-10-18 11:53] keeshoekzema commented on #15511
@williamdes yes, that patch fixed it for me as well.

[2019-10-18 12:07] williamdes commented on #15511
@ibennetch I agree but not before `https://github.com/phpmyadmin/phpmyadmin/issues/15485` is solved and I upstream some of the patch from https://salsa.debian.org/phpmyadmin-team/phpmyadmin/issues/25#note_114115

[2019-10-19 13:03] nlkduy opened #15515 "Package on Ubuntu 19.10"
Hi guys,

I installed Ubuntu 19.10, but I didn't find phpmyadmin on this link: https://launchpad.net/ubuntu/eoan/+source/phpmyadmin.

Thank you for seeing!

[2019-10-19 13:19] adwiv commented on #14951
Okay. I figured out the cause of issue.

Starting with MariaDB 10.2, they have made some changes to the Information Scheme Table which deviates from MySQL. [ChangeLog Here](https://mariadb.com/kb/en/library/changes-improvements-in-mariadb-102/#information-schema)

So, when we have a nullable column with NULL default in MariaDb, instead of getting a null value from the information_schema table for

[2019-10-19 13:26] kartik1000 commented on #14951
@adwiv, you must be right because I checked the changes made in the codebase when moving columns, and checked if what change possibly triggered this issue as it was working fine earlier but couldn't find any. @williamdes what can we now do possibly to fix the issue?

[2019-10-19 18:44] williamdes commented on #15515
Hi @nlkduy have a look to #15236, you will find a link to our PPA here (https://github.com/phpmyadmin/phpmyadmin/issues/15236#issuecomment-502392098)
We are working on packaging for Debian and Ubuntu will update after Debian

Am I correct @Blaimi?

[2019-10-19 18:48] williamdes commented on #14951
@kartik1000 I would add an override to the existing code

[2019-10-19 18:52] kartik1000 commented on #14951
@kartik1000 It will implement the desired code after checking the MariaDB version right?

[2019-10-19 19:05] williamdes commented on #14951
@kartik1000 Yes, perfect :)

[2019-10-20 08:16] adwiv commented on #14951
@kartik1000 @williamdes There is another problem introduced due to a recent commit https://github.com/phpmyadmin/phpmyadmin/commit/98a7479174a081ac60419034151fd89ec952265f which results in column always becoming NOT NULL when moved. This commit changed the expected value of `$null` parameter in function `Table::generateFieldSpec` from NULL/NOT NULL to YES/NO.

https://github.com/phpmyadmin/phpmyad

[2019-10-20 09:37] williamdes commented on #14598
@matthiasradde Reproduced for the 2nd time, but I edited your script.
Will be fixed in next phpMyAdmin version !

[2019-10-20 09:45] williamdes commented on #14598
@matthiasradde Fixed by e87c6b822d9a0c1750c3e1897d299b2259b0498e
You can try the patch is you want :)

[2019-10-20 11:21] matthiasradde commented on #14598
Tested - works great :-)
Thanks to all the people involved in fixing this issue

[2019-10-20 11:22] williamdes commented on #14433
Thank you @objecttothis the server you sent me has the issue.
I am trying to find a fix

I apologise for making everybody here wait for a fix for a so long time but life goes so quickly :)

[2019-10-20 12:49] williamdes commented on #14433
If everyone where can try my patch and comment or add a reaction to say it works ?

The patch: https://github.com/phpmyadmin/phpmyadmin/commit/b8650115be7cc2d79d231723b7a6f1961e834d27

https://github.com/phpmyadmin/phpmyadmin/commit/b8650115be7cc2d79d231723b7a6f1961e834d27.patch

[2019-10-20 13:14] williamdes commented on #14082
Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.

[2019-10-20 13:14] #14082 closed

[2019-10-21 01:09] williamdes commented on #15485
@edgarasg I think you can try https://github.com/phpmyadmin/phpmyadmin/commit/eab791dee655a8c803dca8e5538964bc40e47ddc

It should solve your issue :)

[2019-10-21 06:57] 3phreal commented on #15485
Hi I have been watching from the side line. Is this also fixed in the current Docker version ?

[2019-10-21 07:58] edgarasg commented on #15485
@williamdes thanks, will check! When is v4.9.2 planned to be released?

[2019-10-21 10:14] williamdes commented on #15485
@edgarasg November 20th but maybe earlier (https://github.com/phpmyadmin/phpmyadmin/milestone/251)
cc @ibennetch

[2019-10-21 11:03] #14598 closed

[2019-10-21 11:03] #14433 closed

[2019-10-21 15:41] keshakaneria commented on #15242
I should start with which file to first edit where queries for displaying tables and views is present?

[2019-10-21 16:19] keshakaneria commented on #15242
Also I am not able to make views in my database, **how to solve that error?**
Error text: not found (rejected) It seems that connection to server has been lost. Please check your network connectivity and server status.

[2019-10-21 16:52] williamdes commented on #15242
@keshakaneria on what version of phpMyAdmin ?

[2019-10-21 17:28] williamdes commented on #15306
We now are at 4.9.1 so I think this issue is over.

[2019-10-21 17:28] #15306 closed

[2019-10-21 17:43] williamdes commented on #15477
Hi @aschuch247 I fixed #14598 and opened #15517

@lem9 Made the choice to not show for InnoDB 16 years ago, so I think the choice can be re-evaluated

[2019-10-21 17:51] williamdes commented on #15200
@ibennetch If I can have your comments on this issue, I am okay with implementing the code @aschuch247 sent us.

[2019-10-21 17:54] williamdes commented on #14517
@fr51 Can you try again on the latest version of phpMyAdmin so I can know what to fix ?

[2019-10-21 18:04] williamdes commented on #15391
Using `git bisect` the first bad commit is 9ed068aacba8744556f4f310a6c18d43768a8f3e

[2019-10-21 18:17] williamdes commented on #15391
@stormyboy60 Fixed by 5b6405b7cafbebf0cd1f51da493a43cd6f97dd31
You can try the patch if you want :)

[2019-10-21 18:35] lonix1 commented on #15200
Yeah I also encountered this bug! 😞

@aschuch247 Do you have a workaround for now to stop that error? Can I just ignore it??

[2019-10-21 18:42] williamdes commented on #15311
I imported your fix as 157582c33532c1add1cb4d01479160630b80cc1d

Thanks for the report and the fix, will be included in next release of phpMyAdmin

[2019-10-21 18:52] williamdes commented on #15387
I need a way to reproduce it.

You can refer to data on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

If you reproduce the issue and post you will accelerate the fixing process ;)

[2019-10-21 18:55] #15311 closed

[2019-10-21 18:55] #15391 closed

[2019-10-22 05:57] williamdes commented on #15490
@SophieYoonseo Thank you! :100:
If you want you can have a look to the other components we have in Weblate for phpmyadmin (https://hosted.weblate.org/projects/phpmyadmin/)

[2019-10-22 05:57] #15490 closed

[2019-10-22 06:00] williamdes commented on #15486
Hi @enzo-ctes from what I understand you need to change the permissions on the folder or file to achieve this

[2019-10-22 06:01] williamdes commented on #15497
Will have a look, thanks for the report

[2019-10-22 06:08] williamdes commented on #15386
@cdp1337 I need to investigate what you sent us, will keep you updated ^^

[2019-10-22 06:11] williamdes commented on #14678
Duplicate of #15231

[2019-10-22 06:13] williamdes commented on #14410
@gmanon see my comments on #15515

[2019-10-22 06:50] lonix1 opened #15522 "[Bug] Missing image error fills logs"
### Describe the bug

My error logs are getting huge because of a missing image:

### To Reproduce

Steps to reproduce the behavior:
1. setup phpmyadmin via docker
2. log in
3. check your logs

### Expected behavior

Image to exist at the expected path.

### Server configuration

- Operating system: ubuntu 18.04
- Web server: nginx latest
- Database version: mariadb latest
- PHP version: whatever

[2019-10-22 06:58] keshakaneria commented on #15242
@williamdes phpMyAdmin version 4.7.9

[2019-10-22 07:07] keshakaneria commented on #15242
@williamdes phpMyAdmin version 4.7.9
Should I re-install the latest one?

[2019-10-22 07:09] williamdes commented on #15242
@keshakaneria Yes please, we do not support 4.7 anymore.

[2019-10-22 07:09] keshakaneria commented on #15242
@williamdes okay sir reinstalling it. Thank you

[2019-10-22 12:08] williamdes commented on #15522
Thanks for the report !

https://github.com/phpmyadmin/phpmyadmin/commit/fecf2de315554adabdc30e15eefa6cafa01ad6c0#diff-cdc377a9732b1a4e9f03ca798f9c8453

[2019-10-22 15:35] Blaimi commented on #15515
Yep.

I'm not sure if the ppa is working currently for eoan because it doesn't have php-symfony-polyfill.

I'll update a new package without the dependency in the next days along with an update to 4.9.1

[2019-10-22 17:06] harsh-kukreja commented on #15475
Is this issue solved? If not I'd be happy to contribute.

[2019-10-22 18:09] harsh-kukreja commented on #14411
Is this issue solved?

[2019-10-22 18:30] fr51 commented on #14517
I can't access this database any more. Instead I'll try on a local one on Saturday

[2019-10-22 18:37] williamdes commented on #14411
No, unfortunately
If you want to fix go ahead

[2019-10-23 03:03] miklcct opened #15523 "inline editing in "select distinct" does not quote the values correctly"
### Describe the bug

When editing a value inline after running a "select distinct" statement, the values generated by the SQL query have quotes missing, causing SQL error.

### To Reproduce

Steps to reproduce the behavior:
1. Run a "select distinct" statement on a table
2. Click on a value to edit it
3. See error

### Expected behavior
The value is changed

### Screenshots

If applicable, add sc

[2019-10-23 09:47] Kishlin commented on #15475
Go ahead, :) I can't work on this anymore.

[2019-10-23 12:06] edgarasg commented on #15485
Does it work for anyone? Same symptom for me - no relation lines are shown and `pma__table_coords` is empty.

[2019-10-24 11:07] williamdes commented on #15367
@rolfjentsch @p-rakowski89 I would be very happy to include a fix in the next version if someone can send screenshots and more instructions to reproduce the issue (step by step ?)

[2019-10-24 17:12] keshakaneria commented on #15242
I've read complete files and PHP pages to change the code for merging tables and views. But aint getting how to start the flow with, for changing the code. Where exactly displaying for those tables and views individually is done?

[2019-10-24 18:25] keshakaneria commented on #15242
I've read complete files and PHP pages for this navigation settings to merge tables and views. But ain't getting how is the flow and from where exactly should I start to change the code for merging individual table and views under database.

[2019-10-24 20:57] bm322741 commented on #15387
Issue 1:
I'm loading a lot of data manually (pasting inserts from export). I
added 76 records, checked to see if they were loaded. Default was
25/page so 4 pages. I set to 100/page, the pager disappeared, but I was
left with the last [76th] records shown [page 4 of 25/page]. I would
expect to see all 76 records [ie when the pager is changed, reload the
data being displayed according to the new pag

[2019-10-24 21:07] williamdes commented on #15387
Thank you so much, I will try the instructions you provided

You can try on my testing server https://phpmyadmin-pr-7.wdes.eu.org/ if you want
root/public
public/public

Please do not load more than1G of data :)

[2019-10-24 21:40] williamdes commented on #15242
@keshakaneria there is a class named NodeDatabase, I think that you will find a twig template that does the rendering

Will get back to you with code when I can tomorrow or ASAP :)

A good thing to do is to inspect and find a class name and search it in the code-base
If you are not sure make a change and reload, you will be able to find the files to change to do this feature

[2019-10-25 01:58] zeenayouhan opened #15527 "New error"
Earlier reverting back the old changes looked like the best way to get out of it but soon I realized that in the screenshot you send, the blank space was also coming from an unwanted margin-left.

[2019-10-25 06:07] keshakaneria commented on #15189
Can you please elaborate this issue? When i am trying to increase the column size, text is completely visible and when decreased, text gets wrapped.

[2019-10-25 06:23] williamdes commented on #15189
@murex971 can you export your test table and send it?

[2019-10-25 09:28] williamdes commented on #15242
https://github.com/phpmyadmin/phpmyadmin/blob/1a14b3e4d3b703dae1e36d9d87e65b50bf7b832c/libraries/classes/Navigation/NavigationTree.php#L900
https://github.com/phpmyadmin/phpmyadmin/blob/5254ec1b65fb21a88aceec405c159e62eda69394/templates/navigation/tree/state.twig#L12

https://github.com/phpmyadmin/phpmyadmin/blob/1a14b3e4d3b703dae1e36d9d87e65b50bf7b832c/libraries/classes/Navigation/NavigationTree.

[2019-10-25 21:40] official-garlic commented on #13158
The problem is still present in the built as of today. I'm sorry I am not able to reproduce the error because I don't know how to use and connect to the demo version.

[2019-10-25 22:07] Tithugues commented on #15527
Sorry, I don't really get the point…

Would it be please possible to get some screenshots / the steps to get the error you talked about?

Thank you.

[2019-10-25 22:23] Tithugues commented on #15523
Hi,

Would it be possible to get a script with your structure and data please?

I'm currently unable to reproduce your error with the current QA_4_9 version.

Thank you.

[2019-10-25 22:44] Tithugues commented on #15507
Maybe the refactoring can be done using https://packagist.org/packages/guzzlehttp/psr7.

[2019-10-25 23:10] mauriciofauth commented on #15507
Or [Symfony HttpClient](https://symfony.com/components/HttpClient) or [Nyholm PSR-7](https://github.com/Nyholm/psr7) or [Zend Diactoros](https://docs.zendframework.com/zend-diactoros/).

[2019-10-25 23:44] pirland commented on #12437
Hello, is this still an active issue that needs work?

[2019-10-26 05:27] yasfdany commented on #14887
this solved my problem, thanks

[2019-10-26 07:22] OlafvdSpek commented on #13158
https://demo.phpmyadmin.net/master-config/

[2019-10-26 08:08] williamdes commented on #12437
@pirland This issue still needs work, you can work on it :)

[2019-10-26 18:23] My1 commented on #15472
isnt this the same as #14129?

[2019-10-26 21:01] Tithugues commented on #15497
The bug is easily reproductible.

[code]

The error seems to be in the parser that doesn't seem to understand the `check` or something later on this line for the `MY_JSON` field.

Currently looking at it. But I don't really know the parser, so… it might be difficult.

[2019-10-26 21:38] williamdes commented on #15497
@Tithugues I immediately thought about https://github.com/phpmyadmin/sql-parser/pull/200 and https://github.com/phpmyadmin/sql-parser/issues/167

Patching your `sql-parser` in `vendor` would fix the issue ?

[2019-10-26 22:47] Tithugues commented on #15497
@williamdes , sorry I didn't see you comment… and I just realized that there were PR on this topic…

So I created a new one: https://github.com/phpmyadmin/sql-parser/pull/263

Thank you.

[2019-10-26 23:41] Tithugues commented on #15497
It seems I missed an easier way to do it… So here is a new shorter MR with valid checks: https://github.com/phpmyadmin/sql-parser/pull/264

[2019-10-27 00:08] axessweb commented on #15497
Merci @Tithugues.

Thx you.

Sorry for my bad english :(

[2019-10-27 08:57] eehmke commented on #15472
Yes indeed, that is the same issue.

Am 26. Oktober 2019 20:23:27 MESZ schrieb My1 <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2019-10-27 12:45] ksimenic commented on #12437
Based on the [updated FAQ](https://developers.google.com/recaptcha/docs/faq#im-using-content-security-policy-csp-on-my-website.-how-can-i-configure-it-to-work-with-recaptcha) new recommendation is as follows.

[2019-10-27 16:52] Tithugues commented on #15522
@williamdes , did you already fix it in the image please? I don't have any issue launching the `phpmyadmin/phpmyadmin:latest`.

@lonix1 , on which page do you have this image loaded please?

[2019-10-27 17:06] seyfer commented on #14801
I also did some contributions here. :blush:

[2019-10-27 17:07] seyfer commented on #14801
@mauran there is still a lot. Just search the PHP files with `'<`. :smile:

[2019-10-27 18:29] lonix1 commented on #15522
On the login page, and afterwards also

[2019-10-27 19:27] Tithugues commented on #15522
@lonix1 , which theme are you using please?

[2019-10-27 21:33] Tithugues commented on #15506
The last sentence of @fliespl is interesting…

@williamdes @mauriciofauth @ibennetch , what do you think please? Should a "multi-queries" request be logged as one entry or should it be as many entries than the number of queries?

My opinion would be to have one entry with all queries because in some cases this is the whole pack which is relevant (for instance when you have some queries creating te

[2019-10-27 22:40] Tithugues commented on #15491
Just a note, but it might be interesting to generate a password regarding the MySQL configuration : https://dev.mysql.com/doc/refman/5.7/en/validate-password-options-variables.html#sysvar_validate_password_policy

[2019-10-27 22:43] Tithugues commented on #15491
In the code, there is one reason:

"editors and viewers regard the password as multiple words and
things like double click no longer work"

In my opinion, this is not a good reason…

[2019-10-27 23:26] OverRide-BT opened #15536 "CSRF"
I have Found a vulnerability in phpmyadmin

Type: (CSRF) cross site script forgery
Impact: Delete database and tabels
i need to report about it

[2019-10-27 23:41] williamdes commented on #15536
@OverRide-BT please contact our security email first
@ibennetch

[2019-10-27 23:44] OverRide-BT commented on #15536
I have already send email for
Security@phpmyadmin.net

If there any email please let me know

On Mon, Oct 28, 2019 at 1:41 AM William Desportes <notifications@github.com>
wrote:

--
Best wishes,
Abdallah Fouad

[2019-10-28 06:07] lonix1 commented on #15522
Whatever is the default, I didn't change anything. Just started the container and visited the url.

[2019-10-28 06:52] williamdes commented on #15522
@Tithugues I did not fix anything, there is a use case that needs this icon.
Needs some research to find out

[2019-10-28 06:55] williamdes commented on #15506
@Tithugues one entry seems like a good idea

[2019-10-28 08:35] lonix1 commented on #15522
I think the default theme references this icon, but it doesn't actually exist anymore. Maybe it was deprecated but the theme wasn't updated?

I wouldn't even care about it, except that it pollutes the logs because a request is made for that icon every time.

[2019-10-28 10:50] ibennetch commented on #15536
Hi, I'm responsible for processing the incoming security reports but didn't see anything that relates to your report. Could you re-send it or forward a copy to my personal address — bennetch at gmail.com?

[2019-10-28 11:02] OverRide-BT commented on #15536
Hi, i have send it

[2019-10-28 14:58] ibennetch commented on #15477
I'm pretty sure that the decision was made 16 years ago because phpMyAdmin did not allow internal relations for InnoDB types. It didn't make sense to run the referential integrity at the time on an InnoDB table. The ability to add internal relations on other table types was added a few years ago and I feel this change, while beneficial, was completely overlooked at the time. I agree about fixing t

[2019-10-28 17:16] 3phreal commented on #15485
In which docker version does relations work ?
I've Tried latest and 4.8.5

[2019-10-28 18:00] williamdes commented on #15485
@edgarasg @3phreal what do you call work ?

I have some trouble reproducing the issues you have

Can someone send screenshots ?

[2019-10-28 18:19] edgarasg commented on #15485
Are you able to draw relation lines in Designer?

[2019-10-28 20:32] williamdes commented on #15485
@edgarasg No, like you I can not draw lines
But in some cases after the fix it maybe works
Working on another fix :)

[2019-10-28 21:34] vmedvedev commented on #15475
Hi to all!

I found that change event fires two times on dropdown menu that in the bottom of navigation.

[2019-10-28 22:20] williamdes commented on #15522
Done in d4d1f664951cc752d3c154a5d89bf7f1a92ef7ce
Will be fixed in next release, thanks you for reporting this issue

[2019-10-28 23:32] #15477 closed

[2019-10-28 23:32] #15522 closed

[2019-10-29 03:34] dausruddin commented on #14184
I am using squid proxy (latest) and phpmyadmin refusing to work on it.
Also when I left the tab for some time and it logged out, it will give the same error when I hit login button. Refreshing webpage seems to fix it, but I am hoping for a permanent solution.

[2019-10-30 08:56] b3acon opened #15540 "Uncaught TypeError: htmlspecialchars() in NavigationTree"
### Describe the bug

after copy a db over options. the 5.0.0-alpha1 locked me out with this fatal.error.
used the default options to copy it.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'select a database'
2. Click on 'options'
2. Fill out 'new databse name'
4. Click on 'copy databse'
4. See error

[code]
### Server configuration

- Operating system: gentoo
- Web server: apache
-

[2019-10-30 09:52] 3phreal commented on #15485
Umm I started this issue with the problem so it is explained above. But I'm using PHPMyAdmin in a docker container.
you commented above:

that it should work with 4.8.5 but I tried to load the Docker container with that version and I still do not get any Relations shown in the Designer. So I asked in what version does the Work ?
or am I mistaken ?

Regards
Anders

[2019-10-30 17:03] keshakaneria commented on #15242
I am not able to find any file in phpmyadmin/templates/navigation neither of these lines are there in phpmyadmin/libraries/classes/Navigation/NavigationTree.php. I am using phpmyadmin 4.9.1. Can this issue be solved by other method other than changing these?

[2019-10-30 17:07] pirland commented on #12437
Most of these are addressed by my recent pull request:  https://github.com/phpmyadmin/phpmyadmin/pull/15539

12.1 reflected-xss seems to be depreciated.  I don't think it is required any more, but please correct me if I'm wrong.

I changed style-src to use a nonce, but doing so automatically disables unsafe-inline .  This interfered with other inline styles being used, so I disabled it for the tim

[2019-10-30 17:07] williamdes commented on #15242
@keshakaneria You need to switch to master branch since this issue is an enhancement :)

[2019-10-30 18:07] keshakaneria commented on #15449
I would like to work on this issue. And would also change other suggestions too other than 'LE' which should show up but doesn't, if there are any. But where should I start from?

[2019-10-30 20:39] williamdes commented on #15449
@keshakaneria I think that you need to go on the `sql-parser` phpMyAdmin repository to find the autocomplete OR it is from the vendor codemirror and we can not make changes
If you find out let us know

[2019-10-30 22:37] williamdes commented on #15475
Hi everyone,
Please try 44e168d7d33f4d15d4b16056f32b9db24b5f8bf9 and tell us if the fix works fine :)

[2019-10-30 22:46] williamdes commented on #15540
Reproduced using this setup, the issue only occurs when you have groups
![db groups](https://user-images.githubusercontent.com/7784660/67904696-71c22000-fb6f-11e9-9502-e206f47b32c2.png)

[2019-10-30 22:56] williamdes commented on #15540
Fixed by 128d3a09a0392a5a0a6c4e6ea9aefcd8ddf9efca
@b3acon please apply the fix and you will be okay until next 5.0 release, I also included the fix in 4.9 as explained in ab0b6e248a9c77c782f1274a63ea426d40cc300d

[2019-10-30 22:57] #15475 closed

[2019-10-30 22:57] #15540 closed

[2019-10-30 22:59] williamdes commented on #15476
@pswaab can you please try 4.9.1 ?

[2019-10-30 23:24] williamdes commented on #15475
Can be tested on https://demo.phpmyadmin.net/QA_4_9/

[2019-10-30 23:30] williamdes commented on #13176
Hi @stevenwdv, years have passed and in my latest test I could not reproduce the behavior
Can you confirm it is not solved or close the issue?

_I will auto close this issue if no answer is given in some time since the issue is quite old_

[2019-10-30 23:32] williamdes commented on #14641
Hello @cvicentiu do you have news or an ETA ?

[2019-10-30 23:36] williamdes commented on #14028
__Could not reproduce, closing since no way of reproducing this issue was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason.__

[2019-10-30 23:36] #14028 closed

[2019-10-31 09:42] OverRide-BT opened #15541 "upload function"
# Describe the bug
in import.php
when i import new database  there is no validation while the uploaded extension , for example i uploaded img and i name it like that : <svg/onload=alert(document.cookie)>

and i see the successful upload image and the app try to show me that error but there isn't any shown errors from it

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'import.php'
2. C

[2019-10-31 10:31] lllopo opened #15542 "MariaDB 10.4 users"
### Describe the bug

phpMyAdmin is not compatible with MariaDB 10.4 changes to users management ([https://jira.mariadb.org/browse/MDEV-17658](https://jira.mariadb.org/browse/MDEV-17658))
mysql.users table is retired in favor of mysql.global_priv

### To Reproduce
Try to edit user or privileges with MariaDB 10.4

### Server configuration

- Operating system: Windows10
- Web server:Apache 2.4
- Dat

[2019-10-31 13:34] cvicentiu commented on #14641
Hi @williamdes
We have done a lot of migration work behind the scenes this year.

Sadly we had a lot more baggage to take care of than anticipated and this one is still on our TODO list. As this has been hanging for a long time, I will look to prioritize it as soon as possible. I'll personally work on it between 11-15 of November and let you know how it goes.

[2019-10-31 18:12] keshakaneria commented on #15195
I have done with changing the position of logout in UI and also it works properly. I am using phpmyadmin 4.9.1 and do not have some folders with this present one. I have NavigationHeader.php which is not present in master branch. How can I commit changes here? Only sending pull request is left so that i can edit again according to your suggestions. How can I commit change?

[2019-10-31 18:57] anburocky3 commented on #15515
Tried the **PPA** `sudo add-apt-repository ppa:phpmyadmin/ppa`, didn't work for **Ubuntu 19.10**

[2019-10-31 19:17] anburocky3 commented on #15515
Do we have any timeline deliveries for this package?

[2019-10-31 20:19] williamdes commented on #15195
@keshakaneria You can open a pull-request to master branch
Be careful to use phpMyAdmin on master branch when developing new features !
You can have twice more work if you do not use the right branch, a lot of changes have been made on master branch

[2019-10-31 20:30] williamdes commented on #15515
@Blaimi Can you please publish the package for the disco series on the PPA ?

[2019-10-31 21:23] williamdes commented on #15515
"since Eoan is past feature freeze and Debian import freeze, phpmyadmin won't be included in the 19.10 release."
From: https://bugs.launchpad.net/ubuntu/+source/phpmyadmin/+bug/1837775

But we will update the PPA to offer support for Ubuntu 19.10

[2019-10-31 23:20] Blaimi commented on #15515
I'll do my best to find the time on the coming weekend to update the ppa to 4.9.1 for eoan as well as bionic and inbetweeners.

(If I don't, feel free to disturb 😋)

[2019-10-31 23:52] Tithugues commented on #13951
Here is a fix proposal: https://github.com/phpmyadmin/sql-parser/pull/265

[2019-11-01 08:45] williamdes commented on #15479
Comment back if next one does not solve the issue you have

[2019-11-01 08:45] #15479 closed

[2019-11-01 10:00] anburocky3 commented on #15515
Waiting for eoan release. (Y)

[2019-11-01 12:26] williamdes commented on #13951
This issue needs to be closed after a new version of `sql-parser`

[2019-11-01 12:30] williamdes commented on #15497
Same for this one, waiting on next version of `sql-parser`.

[2019-11-01 17:57] pirland commented on #12437
Hey, I was hoping someone could take a look at my pull request: https://github.com/phpmyadmin/phpmyadmin/pull/15539
I am pretty new to git, and I seem to have picked up someone else's changes and added them into my fork.  When I made my pull request I was prompted to rebase, in order to sign off on all my commits, which I thought I had already done.  Previous to that I thought I had only  pulled c

[2019-11-01 19:22] Blaimi commented on #15515
the ppa ist up-to-date now :) tested on eoan, bionic and debian buster.

[2019-11-02 03:02] nlkduy commented on #15515
![Screenshot from 2019-11-02 10-01-54](https://user-images.githubusercontent.com/16206786/68065173-e35cc280-fd57-11e9-9708-48a07f24b23e.png)
Its work! Thank you very much!

[2019-11-02 07:02] OlafvdSpek commented on #15491
That doesn't add a setting for password complexity, it changes it unconditionally. :(

[2019-11-02 08:46] Tithugues commented on #15491
@OlafvdSpek , you're right. My first idea was to provide a quick fix to be able to generate a valid password (even if it may not always be valid). But here, at least, we **can** have a valid password.

In another version, I would like to generate a password regarding the MySQL configuration.

So I would suggest to keep this issue open if this is OK for you @williamdes @mauriciofauth .

Thank you.

[2019-11-02 09:05] williamdes commented on #15491
Okay
I did not clear the milestone since I hope someone will do the implementation before the release :)
Thank you for the quick fix @Tithugues

[2019-11-02 09:27] williamdes commented on #15316
@Tithugues Can you have a look at this one if you want?

[2019-11-02 09:35] williamdes commented on #13418
@passerbyxp @buzanits Can you please try on latest version of phpmyadmin?

_No response will end up by closing the issue since it is quite old and not reproduced_

[2019-11-02 09:37] williamdes commented on #12241
@Tithugues
(please let me know if you want me to find you issues to fix if you want ?)

[2019-11-02 09:42] williamdes commented on #13322
@claskfosmic I think this issue is solved on last version of phpmyadmin?

[2019-11-02 13:26] Tithugues commented on #12241
In tbl_export.php, there is this piece of code:

[code]

@williamdes @mauriciofauth @ibennetch , do you see any reason to remove the aliases please?

[2019-11-02 13:38] Tithugues commented on #12241
For information, removing this "tokens removals" do the job.

Looking at https://github.com/phpmyadmin/phpmyadmin/commit/ce6c465d15e35282fc708366dd486f8a763980df#diff-6a4db2d5db5d33a4f7d97eaeb58377c6, I would say this is something kept from an old version when export was available on one table only.
But now, I think that aliases are mandatory.

[2019-11-02 14:03] williamdes commented on #12241
For me, no reason.
We should keep the user's query untouched.

[2019-11-02 15:06] passerbyxp commented on #13418
@williamdes Just tried the latest version on the previously-problematic server, and it seems it's working fine now. Thank you guys for the great work!

[2019-11-02 15:23] #13418 closed

[2019-11-02 16:04] Janmm14 opened #15555 "Add Ip2Long transformation. For Input. You already have Long2Ip transformation."
### Is your feature request related to a problem? Please describe.

I want to store ipv4 addresses efficiently. But manual input in phpmyadmin is a little annoying to find and select INET_ATON again and again.

### Describe the solution you'd like

An input transformation which converts ip addresses to BigInt / Long like INET_ATON. To be compatible with the existing Long2Ip transformation.

### De

[2019-11-02 16:25] williamdes commented on #15542
@lllopo from my investigation MariaDB provides a view that you can query.

I added and edited an user without any issues

Can you please describe the issue ?

[2019-11-02 20:56] Tithugues commented on #15542
I do not understand either. It seems that pma doesn't directy rely on `users` table.

[2019-11-02 21:01] lllopo commented on #15542
It was a test setup that i destroyed since it didnt worked, but will try to set it again and provide more details tomorrow or the day after ... as soon as i have the time for it.

[2019-11-03 07:48] OlafvdSpek commented on #15491
Could the update be reverted until it's (fully) ready?

[2019-11-03 07:59] Tithugues commented on #15491
@OlafvdSpek, sorry, but why ?

Is there any issue with this patch ? Because there might be a better solution, does it mean that we shouldn't provide a temporary solution ?

Thank you for your feedback.

[2019-11-03 09:02] OlafvdSpek commented on #15491
See the reason for the current solution @ https://github.com/phpmyadmin/phpmyadmin/issues/15491#issuecomment-546742667

[2019-11-03 11:09] lllopo commented on #15542
Ok. I re-created the setup and greatly narrowed it down. Not sure if it is a bug anymore ... maybe that's how it should work. Anyway, here's the deal :
I've setup a pristine Maria DB 10.4.8 server with default users. At this point I'm able to login properly (which is expected), BUT when I go to the "user accounts" tab I get "You do not have privileges to manipulate with the users !" and that is my

[2019-11-03 11:29] williamdes commented on #15542
@lllopo you just reproduced #14433 that is now closed on next 4.9 version :)

See: https://github.com/phpmyadmin/phpmyadmin/issues/14433#issuecomment-544249375 to patch your local setup if needed before next version

So if it is a duplicate can you close this issue ?

[2019-11-03 11:31] lllopo commented on #15542
Yup. Looks like it :-))). Closing. Thank you.

[2019-11-03 11:31] #15542 closed

[2019-11-03 12:41] mokraemer commented on #14956
it would be great to have at least support for column compression, since editing a column changes (the ugly string) "text /*!100301 COMPRESSED*/" to "text"

Changing collations on compressed columns shows an error, indicating the column can not be converted, which is not true. Executing the generated query is just fine.

[2019-11-03 14:58] #14184 closed

[2019-11-03 15:04] williamdes commented on #14184
So this issue is now closed in next version, the unfixed (for now) part of this issue is #13172

Please, everybody that can do it:
Apply patch 21695cfeb743d62098abed74a9cceb79bec92560 (https://github.com/phpmyadmin/phpmyadmin/commit/21695cfeb743d62098abed74a9cceb79bec92560.patch)

And comment about if it works or not on your setup

[2019-11-03 15:39] anburocky3 commented on #15515
Here is the PPA rep link:

[2019-11-03 18:33] williamdes commented on #15374
@sMexFalco is the issue still present on version 4.9.1 of phpmyadmin?

[2019-11-03 18:38] williamdes commented on #14809
@OlafvdSpek please send more details on how to reproduce this issue

[2019-11-03 22:36] Tithugues commented on #15555
@Janmm14 , is there any chance for you to test the branch in the PR, to ensure it fits your need and that there is no bug?

Thank you.

[2019-11-04 12:13] buzanits commented on #13418
Works fine now.

[2019-11-05 14:15] scratchoo commented on #13525
If any one face this here is how we solve it:

1- at the sidebar of phpmyadmin, locate the table then expend it by clicking the + sign
2- locate the column name and click on it
3- rename the column to something (you can add a letter/character to it) then save
4- rename the column back to its original name

That's it ;)

[2019-11-05 19:20] williamdes commented on #13525
@scratchoo Are you using the latest version of phpMyAdmin ?

[2019-11-05 19:53] williamdes commented on #14906
Reproduced using https://hub.docker.com/r/i386/ubuntu/ on my 64 bit system

[2019-11-05 20:36] williamdes commented on #14906
Fixed by #14906

[2019-11-05 22:18] #14906 closed

[2019-11-06 14:22] williamdes opened #15558 "LIMIT SYNTAX error when using SELECT FOR UPDATE"
# Execute
[code]

[code]
[code]

[2019-11-06 15:07] mossmoss opened #15559 "[auth][load-balancer] It seems that the connection to server has been lost - 4.9.0.1"
After a few minutes (in any browser), simple clicking / loading of a page in the interface brings up a pink/red box saying:

![error](https://user-images.githubusercontent.com/3586595/68311330-64c99300-007f-11ea-9b83-4611755e20cf.jpg)

Error in processing request
Error text: error (rejected)
It seems that the connection to server has been lost. Please check your network connectivity and server sta

[2019-11-06 18:18] ibennetch commented on #15559
Could this be related to your load balancer and unsynchronized PHP session management? If you run two (or more) phpMyAdmin instances behind a load balancer, you must either use shared session storage or carefully configure the load balancer to maintain an entire phpMyAdmin session to a specific server. This is because of the use of PHP session data to store and cache some information.

Did this wo

[2019-11-06 20:14] mossmoss commented on #15559
Thanks for the reply. I'm not sure if this worked in an earlier version.

The load balanced and Shibboleth config is new for us and we started using it with phpMyAdmin-4.9.0.1-all-languages.

We're not using shared session storage as far as I know. How is this done?

Our cloud team said this about the ALB:

1) It utilizes cookies, so as long as client's browser settings are ok, the session will re