[2019-01-29 11:52] lastsamurai26 commented on #14912
Yes we have made sure of that. It is already running with multiple Versions of PHP.
So this could certainly not be the problem.

![photo_2019-01-29_12-40-23](https://user-images.githubusercontent.com/3257844/51905988-1e922580-23c3-11e9-837f-951c142fd7d7.jpg)

[2019-01-29 12:13] saurass commented on #14909
@dddns @williamdes  , could you elaborate, why you require to add this line as you described above, I mean the motive behind it and what effect it causes, I would love to resolve this : )

[2019-01-29 12:16] dddns commented on #14909
@saurass the 1st day of the week for me it's monday, not sunday.
It's very confusion having PMA showing me the calendar with sunday as the 1st option for the week.

[2019-01-29 13:14] ibennetch commented on #14909
It makes sense now. I would say this is worthy of a new configuration directive and would be a great project for the new Google Summer or Code applicants that are starting to contribute to our project.

[2019-01-29 13:20] saurass commented on #14909
@ibennetch I am a gsoc aspirant and would love to work on that. :)

[2019-01-29 13:33] saurass commented on #14909
@ibennetch please elaborate how to proceed with this.

[2019-01-29 13:36] matthiasradde commented on #14868
@bahl24
I agree - there is no (obvious) reason why it is not working as expected for me.
Tried again with different client + server-versions:
phpMyAdmin 4.8.4 + PHP 5.6 running on a Synology NAS with Firefox 60.4.0esr on OSX as client
phpMyAdmin 4.8.5 + PHP 7.2 running on OSX with Apache and Safari or Firefox 60.4.0esr on OSX as client.
phpMyAdmin 4.8.5 + PHP 7.2 running on Win7x64 (home premium)

[2019-01-29 13:42] dddns commented on #14909
Cool, please do!
A configuration options is the best for this.

[2019-01-29 15:30] artemlv opened #14915 "Invalid session state after crash on import big file"
### Describe the bug
[code]
### To Reproduce

Steps to reproduce the behavior:
1. imort big file and wait for crash
2. go to log file
3. See error
4. done

### Expected behavior

import big file

### Server configuration

- Operating system: Linux ubuntu 4.13.0-46-generic #51-Ubuntu SMP Tue Jun 12 12:36:29 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- Web server:Server version: Apache/2.4.33 (Ubuntu);

[2019-01-29 17:39] bahl24 commented on #14815
@williamdes @ibennetch Is this feature desired? If yes, can I start working on it?

[2019-01-29 17:48] matthiasradde commented on #14868
@bahl24
Tested with older phpMyAdmin-versions on my test-server. All URLs look the same (of course except for the version-number in the path :-) ):
https://192.168.0.14/phpMyAdmin-4.8.2/view_create.php?db=lsy_kb4&table=anz_docs_per_year&goto=tbl_structure.php&back=tbl_structure.php&view[operation]=alter&view[definer]=root%40localhost&view[sql_security]=DEFINER&view[name]=anz_docs_per_year&view[as]

[2019-01-29 18:18] rishikesh1410 commented on #14542
Hello Everyone , I also find it strange .
When you click on the sql tab and enter a query that doesn't yield a result , it display that query with empty result but when you click on the search tab and search a query that doesn't yield a result than it doesn't display that query .
I want to ask that Can I also work on this issue ?

[2019-01-29 18:24] williamdes commented on #14820
@akkywadhwa You can modify `.scss` files that are in each theme directory
And run `npm run css-compile` or `yarn run css-compile`
cc @mauriciofauth (Can you explain the process ?)

[2019-01-29 18:31] williamdes commented on #14868
Confirmed on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[code]

[2019-01-29 18:34] williamdes opened #14916 "Creating a view using a query does not pre-fill the query"
### Describe the bug

Creating a view using a query does not pre-fill the query

### To Reproduce

Steps to reproduce the behavior:
1. Select from a table
2. Click on 'Create a view'

### Expected behavior

Pre-fill the query into the modal

### Actual behavior

Empty query

### Additional bug

**Submit empty modal shows waiting forever !**

[2019-01-29 18:47] williamdes commented on #14555
### To Reproduce

Steps to reproduce the behavior:
1. Go to a database `world` on demo servers
2. Go to 'Sql`
3. Type `SELECT 1 FROM City`
4. Hint `ctrl+enter` when hint shows up, seems to do the error using the first hint

Reproduced on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

### Error
[code]

[2019-01-29 19:03] bahl24 commented on #14916
@williamdes Are you expecting a default query in AS field?

[2019-01-30 02:56] ibennetch commented on #14911
I believe I neglected to run `yarn install` after changing between branches. After running Yarn, I am also unable to reproduce this. Sorry for the noise.

[2019-01-30 02:56] #14911 closed

[2019-01-30 10:45] kartik1000 commented on #14763
Hey, is anybody still working on this issue? If not, please let me know

[2019-01-30 10:54] kartik1000 commented on #14715
Does this issue still exist or has it been fixed? Because I am unable to replicate the issue and the Zoom search works fine for me

[2019-01-30 13:16] thelounge-zz opened #14918 "insane token params"
may you guys consider instead crap like "&token=hzRo%3F6v~*95v'_7]" where intrusion detection systems react create tokens like every normal person on this plant with hash functions?

[2019-01-30 13:22] williamdes commented on #14763
@kartik1000 @saurass Has done a pr, see: #14839

[2019-01-30 13:33] krosssc commented on #14715
It still happens in the version listed. I'm not able to test with a more recent version

[2019-01-30 13:35] thelounge-zz commented on #14918
and errors like "PHP Warning:  Unknown: Input variables exceeded 1000. To increase the limit change max_input_vars in php.ini. in Unknown on line 0" triggered by various exports sucks too - triggered by a user

may you consider roll back to the version before ajax and forget any "development" which happened from then?

[2019-01-30 13:47] thelounge-zz commented on #14918
BTW: it's the f**ing ~ - who the hell is using that in a GET request on servers where you don't serve userhomes and backup files to the world?

[2019-01-30 13:54] thelounge-zz commented on #14918
guess what - gefore phpMyAdmin 4.8.x no problem

# 18.05.2013
SecRule REQUEST_URI "~" "id:'121',phase:1,status:404,nolog,t:none,t:htmlEntityDecode,t:urlDecodeUni,t:removeWhitespace,t:replaceNulls,block"

[2019-01-30 15:23] paveldvorak5 opened #14920 "processlist: show only active doesn't work"
### Describe the bug
When "show only active" checkbox is checked, it still shows sleeping connections. See image

### To Reproduce
Go to Status -> Processes
Click the show only active button

### Expected behavior

Hide sleeping conections

### Screenshots

![image](https://user-images.githubusercontent.com/14863835/51991247-fe3d9600-24aa-11e9-8c8d-01884b7d8ea3.png)

### Server configuration

Serv

[2019-01-30 15:31] kartik1000 commented on #13773
Can anyone give some details on what exactly needs to be fixed in this issue? and if anyone is also working currently please let me know..I wish to work on it.

[2019-01-30 15:44] kartik1000 commented on #12782
@emanuelb Hey, Can I work on this issue if no one is working?

[2019-01-30 16:27] kartik1000 commented on #14772
Hey, @OlafvdSpek I wish to work on this issue can you let me know how and where do you wish the option be to there for password_hash function?

[2019-01-30 18:48] williamdes commented on #12782
@kartik1000 Yes :)

[2019-01-30 19:58] kartik1000 commented on #12782
Hey, @williamdes thanks a lot! Hey i had a doubt, in the above files mentioned I couldn't find places where the script tag and inline Js is there, so are these really the files where this needs to be done or are there some other files?

[2019-01-30 22:42] williamdes commented on #12782
@mauriciofauth Do you think there is still some places that need some work?

[2019-01-31 08:47] kartik1000 commented on #14772
@williamdes I have a good idea on how to go about this but as i am contributing for the first time on phpmyadmin i was looking at all the files and everything, i founded both php and js part for the page that i was looking for but could not find the html part? can you give some help on where i can find the html part of the pages?

[2019-01-31 10:09] rm-km-it opened #14921 "Auto Completion of column names doesn't work"
### Describe the bug
When typing SQL the auto complete menu shows [object Object] instead of the colum name that starts wit the typed letters. This is in the SQL tab as well as the "edit inline" textarea.

### To Reproduce

Steps to reproduce the behavior:
1. Go to SQL tab of a table or click "Edit inline" below the SQL field
2. Enter some SQL
3. Start typing a column name at an appropriate positi

[2019-01-31 10:10] williamdes commented on #14921
Duplicate of #14475

[2019-01-31 10:10] williamdes commented on #14921
@rm-km-it Thank you for the report !
cc @Gaurav-Punjabi

[2019-01-31 10:11] #14921 closed

[2019-01-31 12:59] nabtron commented on #11492
still having this issue in 4.8.3

[2019-01-31 13:26] williamdes opened #14922 "Uncaught TypeError: Argument 1 passed to PhpMyAdmin\Export::outputHandler() must be of the type string or null, boolean given, ExportJson.php on line 273"
[code]

[2019-01-31 16:41] bahl24 commented on #14916
@williamdes Clicking on table->create view and view->new invoke the same script, so I am planning to use the arguments sent as default value for fields such as 'AS' and 'Column names'.

[2019-01-31 17:04] williamdes commented on #14916
@bahl24 phpMyAdmin `4.7.7` had the behavior of using the query, so you can use `4.7.7` to see how it behaved :)

Maybe adding a parameter to fill the query and if no parameter is passed, leave empty ?

[2019-01-31 17:10] vporton opened #14923 "DB import should ask confirmation"
DB import should ask confirmation, because it is a pretty dangerous operation.

[2019-01-31 18:50] bahl24 commented on #14916
@williamdes Although I am yet to behavior of 4.7.7, kindly take a look at the above commit. I will fix the additional bug shortly.

[2019-01-31 19:20] williamdes commented on #14920
See: #14800

[2019-01-31 19:23] paveldvorak5 commented on #14920
OK. I though it's separate issue

[2019-02-01 05:53] bahl24 commented on #14916
![screenshot from 2019-02-01 11-21-00](https://user-images.githubusercontent.com/36095178/52105127-7cb54780-2613-11e9-9e3e-c7b72ec3b4e4.png)

@williamdes As we already have Go and [X] button for the form, do we require the extra 'Go' and 'Cancel' button in the form footer?

[2019-02-01 06:46] williamdes commented on #14916
@bahl24 Only cancel seems okay

[2019-02-01 10:06] saurass commented on #14909
@williamdes @ibennetch @dddns please review if the changes are place in correct places.
Also please review the code and suggest changes.

[2019-02-01 14:17] ibennetch commented on #14916
The "Edit view" functionality is also affected by this.

Edit view can be found from the Structure tab of a view, below the column list and above the Partition label.

[2019-02-01 14:21] ibennetch opened #14926 "View overview: add an Edit link for each view"
### Is your feature request related to a problem? Please describe.

The list of views should show an edit link for each view. From the navigation pane, there's a "Views" text which can be clicked on to show all the views in the database. There's a list of tabs, "Browse," "Structure," etc — I propose adding an "Edit" link here.

I don't think we can add "Edit" to the dropdown list for working with

[2019-02-01 15:01] bahl24 commented on #14916
@ibennetch @williamdes
![screenshot from 2019-02-01 20-22-24](https://user-images.githubusercontent.com/36095178/52130048-28d05000-265f-11e9-9ad4-baab1f81ff6d.png)
I get the following screen when I click on edit view.
So, are you referring to autofill the view name, algorithm, definer and sql security fields?

Also, I feel we should remove 'Go' and "close' button from the form footer as another 'G

[2019-02-01 15:04] bahl24 commented on #14926
@ibennetch Can I take up this issue?
Also, I think we should create a new php file edit_create.php as the current file calls view_create.php?
We can auto fill the form in edit_view.php.

[2019-02-01 17:25] garas opened #14927 "Show InnoDB table overhead (free space)"
Currently, phpMyAdmin shows `-` for InnoDB and some value for MyISAM in _Overhead_ column of table list.

phpMyAdmin could fetch free space of InnoDB and display it in _Overhead_ column.

Like for MyISAM tables, if table has overhead, phpMyAdmin could show link to `OPTIMIZE` to rebuild table and reclaim disk space.

Table data, index and free space can be retrieved by running
[code]

- phpMyAdmin

[2019-02-01 19:21] williamdes commented on #14235
See: #6262

[2019-02-02 22:53] ajgassner commented on #14723
same issue here. cannot export to any output format when the query is too big. url length limit...

[2019-02-03 04:15] ibennetch commented on #13773
It seems like no one is working on it.

You could look at https://github.com/phpmyadmin/phpmyadmin/pull/13422 for some inspiration from the project that made many of the other pages responsive. This feature request refers to a mobile-friendly design.

[2019-02-03 06:30] bahl24 commented on #14926
@ibennetch @williamdes Should I create new view_edit file or try to autofill existing view_create file?

[2019-02-03 10:59] sijie123 commented on #14922
Hello! I'm new around here, so do let me know if I missed anything.

I took a look at the exact line pointed out in the error:
[code]
encode($data) calls json_encode, which will return false on failure.
Indeed, this could cause a crash with a TypeError exception if the encode($data) fails and returns false

I would be very happy to submit a fix for this. Please let me know if that's okay - and I'l

[2019-02-03 12:36] bahl24 commented on #14926
ok @ibennetch , I will modify the existing file itself

[2019-02-03 16:43] GrigoriyMo commented on #14332
Thank You!

[2019-02-03 23:13] Ioannis-Karyotis commented on #14883
Hello , Can I take on this issue?

[2019-02-04 06:51] williamdes commented on #14922
@sijie123 You can submit a PR against `QA_4_8` and we will add your patch on master

If you want to write Unit tests, open a PR against `master`.
Thank you for wanting to help us!

I will send you more information in order to reproduce the issue

[2019-02-04 06:54] williamdes commented on #14883
@Ioannis-Karyotis Yes, you can :)

[2019-02-04 12:00] laodemalfatih opened #14929 "The Foreign Key Link leads to the wrong Foreign Key because text is overflow."
### Describe the bug

The Foreign Key Link leads to the wrong Foreign Key because text is overflow.

### Screenshots

Foreign key value:
`y307jeWP3Z5G9bgkhJ9HI+Fv7ZxNF2FgGOXFPNiOg91W2ktmnEn1VB1uu30+gjW6QWihIl8+JJMKcbjES00HOA==`

Before Click:
![image](https://user-images.githubusercontent.com/39755201/52206991-97efb380-28ae-11e9-8551-5e80ac1416e5.png)

After Click, browser redirect to target table

[2019-02-04 18:17] bahl24 commented on #14926
@ibennetch @williamdes How can I set a global variable such as `$_POST['alterview']`

[2019-02-05 05:54] bahl24 commented on #14926
@ibennetch @williamdes  If we go to structure tab in a view, then click on edit view, what we get is a form to create view and not edit the view. You can test it by trying to modify the view by putting `VIEW name` as the view which you previously selected and change `AS` fields.
This will throw the error saying that view already exists.
We might need to create a new file for editing views. What do

[2019-02-05 07:59] ibennetch commented on #14916
Changing the interface would be a separate issue to merge in to master only. The bug fix should go to QA_4_8, but we try not to change the interface in the QA branches.

[2019-02-05 08:00] ibennetch commented on #14926
You’re seeing this bug: bug https://github.com/phpmyadmin/phpmyadmin/issues/14916#issuecomment-459736492

[2019-02-05 09:19] williamdes opened #14931 "count(): Parameter must be an array or an object that implements Countable, ./libraries/classes/Sql.php#1623"
### Describe the bug

Warning/Error

### To Reproduce

Execute:
[code]

phpMyAdmin version: 5.0.0-dev, 4.8.4

[2019-02-05 09:19] williamdes commented on #14931
Can not reproduce twice, closing.

[2019-02-05 09:31] williamdes commented on #14931
`QA_4_8`

[code]

[2019-02-05 11:06] bahl24 commented on #14926
@ibennetch So maybe I should make a pr for the bug fix currently to branch QA. And work on the feature request (creating new file for editing views) off the master branch. The pr for #14916 is mine only and I encountered the error you are mentioning.

[2019-02-05 12:14] bahl24 commented on #14916
@ibennetch @williamdes Should I work on removing the buttons then? This will fix https://github.com/phpmyadmin/phpmyadmin/pull/14924#issuecomment-459738503

[2019-02-05 20:14] nunoperalta commented on #14890
@ibennetch Ok to implement this? :) Thanks very much!

[2019-02-06 08:31] WayneGit1 commented on #14903
Hi,

Were you able to reproduce the issue?

Thanks

[2019-02-06 16:58] shucon opened #14933 "Theme Generator is broken"
### Describe the bug

As all the CSS files are converted to SASS files the theme generator has stopped working. Necessary changes need to be made so that the files generated are SASS files and the relevant CSS files need to be converted to SASS.

Branch : gsoc-theme-generator

[2019-02-06 16:59] shucon commented on #14933
@ibennetch

[2019-02-06 18:05] kartik1000 commented on #14908
@mauriciofauth can't we use the raw filter of twig in {{error}} part?

[2019-02-06 18:25] kartik1000 commented on #14826
Hey @williamdes I googled the issue and found (https://stackoverflow.com/questions/26036533/phpmyadmin-class-pma-message-not-found-in-usr-share-phpmyadmin-libraries-erro) that people have managed to fix this issue by restarting apache server. I think, then the issue might be then due to some apache service not being started sometimes 🤔

[2019-02-06 18:30] smartinec opened #14934 "All Fields Readonly on Edit/Insert Screens"
Unable to type in fields on the Edit and Insert screens (inline edits work fine).

### To Reproduce
Steps to reproduce the behavior:
1. Browse table records
2. Click on Edit action for a single row
3. Attempt to type in field

### Expected behavior
Ability to edit values.

### Screenshots
![2019-02-06_13-24-40](https://user-images.githubusercontent.com/1090227/52364272-d1d9ca80-2a12-11e9-8300-ea3f

[2019-02-06 18:49] bahl24 commented on #14933
So do you want to implement a function to complile the sass files to css

[2019-02-06 18:52] shucon commented on #14933
No the files are currently being generated in CSS they should be generated in SASS and go into the corresponding folders.

[2019-02-06 19:14] williamdes commented on #14826
@kartik1000 A lot of users still have this issue according to what I found on phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net)
Can you find a way to reproduce this issue ?
It would help me a lot !

[2019-02-06 20:11] bahl24 commented on #14934
@smartinec What error message are you getting?
I am unable to reproduce your issue both on my local machine as well as https://demo.phpmyadmin.net/QA_4_8/index.php.

[2019-02-06 20:17] smartinec commented on #14934
There is no error message. The fields are simply locked from editing. Notice the code in the developer tools window where it's set to readonly="readonly". Also notice how the Function column is missing all the drop-downs. I just tested in Firefox with the same result. Is there a config setting or internal error checking that would cause the screen to go into this mode?

[2019-02-06 20:24] bahl24 commented on #14934
Actually, for me the fields are editable and function drop-down is also visible.
![screenshot from 2019-02-07 01-51-20](https://user-images.githubusercontent.com/36095178/52371239-fe293180-2a7a-11e9-969b-2bd0447a95b5.png)

[2019-02-06 20:26] bahl24 commented on #14934
@smartinec  Do you have the permissions to edit the table?

[2019-02-06 20:41] smartinec commented on #14934
Ok, here is what privileges looks like (I am logged in as "shaun"). It seems that phpMyAdmin is not properly detecting my wildcard DB privilege. Like I mentioned before, I can make inline edits, but it doesn't think I have permission on the edit page. I verified that if I login as "root", the edit page shows properly. This setup used to work in older versions of phpMyAdmin.

![2019-02-06_15-41-01]

[2019-02-07 04:37] Kastlebrick commented on #14912
I was just coming here to ask about the following quote, from the Downloads page and [https://www.phpmyadmin.net/files/4.8.5/](https://www.phpmyadmin.net/files/4.8.5/):

I am using PHP version: 7.3.1
and phpMyAdmin Version: 4.8.5

Note: I am _**NOT**_ able to recreate your issue @lastsamurai26

..SO, (not trying to post-hijack) but are there any known issues with phpMyAdmin 4.8.5
and using PHP 7.3

[2019-02-07 04:57] ibennetch commented on #14912
I believe there were some quirks, most of which have been sorted out, which caused us to not promote full 7.3 compatibility. By memory, I’d say we probably could increase the newest supported version again as a result.

[2019-02-07 09:21] kartik1000 commented on #14826
@williamdes I am onto it..

[2019-02-07 10:57] OlafvdSpek opened #14936 "[5.0+] Display NULL on numeric fields"
Null values appear to be displayed as empty strings in result tables, could this be changed such that it's displayed the same as when viewing a null default value in the structure page?

[2019-02-07 12:04] ZeroGit2015 opened #14938 ""show full queries" not work"
Steps to reproduce the behavior:
1. Go to 'Status'->'Processes'
2. Click on '<-T->'(Show full queries)
3. Link in address string changed, but queries not show full.

![processes](https://user-images.githubusercontent.com/12425062/55821329-e1a28780-5b05-11e9-903d-a2b9dc653098.png)

- Operating system: OpenSSL/1.0.1g
- Web server: Apache 2.4.7
- Database version: MySQL 5.7
- PHP version: PHP 5.6
- p

[2019-02-07 12:07] williamdes commented on #14938
Duplicate of #14800 ?

[2019-02-07 13:04] kartik1000 commented on #14936
@OlafvdSpek Can you please elaborate the issue? Will be helpful in exactly knowing what needs to be changed.

[2019-02-07 13:06] Liri96 opened #14939 "phpmyadmin shows 404 after logging in"
Hello guys. Im trying to fix this problem I have for about 3 hours now and I dont get it working properly. I hope you can help me out with this.

After installing phpmyadmin I had a problem with the layout because of a missing .css file. I fixed that by creating it and copying the css commands into it.
My next problem is after I log in with root and my mysql root password phpMyAdmin shows "Error 4

[2019-02-07 13:12] williamdes commented on #14939
@Liri96 What was the previous version used ?

[2019-02-07 13:15] Liri96 commented on #14939
@williamdes Hey Williamdes, thanks for your time. I´ve not used anything else except this version. I just installed my server so there´s no previous version used.

[2019-02-07 13:21] williamdes commented on #14939
@Liri96 Can you please try another version to be sure this is a new issue ?
Try `4.8.3` :)

Can you send some php error logs ?

[2019-02-07 13:36] Liri96 commented on #14939
@williamdes William? I love you.

4.8.5 is missing many files (left)
4.8.3 is good and working perfectly

Shown in screen.

<img width="722" alt="omg" src="https://user-images.githubusercontent.com/46671664/52414771-7f1d1300-2ae5-11e9-8f73-f308dd435876.PNG">

[2019-02-07 13:39] #14939 closed

[2019-02-07 13:43] bahl24 commented on #14936
@OlafvdSpek As much as I can understand, it is because you can double click the null value on browse page for inline editing. But on the structure page, there is no need of editing.
![screenshot from 2019-02-07 19-11-30](https://user-images.githubusercontent.com/36095178/52415161-48a6be80-2b0c-11e9-8d0c-1918272c74fc.png)
Correct me if I am wrong.

[2019-02-07 13:45] williamdes commented on #14939
@Liri96 ^^
Can you send the link or a way to reproduce the empty phpMyAdmin setup you had ?
Are all the files into the zip ?

[2019-02-07 14:19] kartik1000 commented on #14826
Hey, @williamdes I found that the issue is related to permissions on session folder phpmyadmin is using and many people have fixed it by allowing sessions folder the required permissions and also in one of the cases it was related to space available for php to create sessions. See https://web.archive.org/web/20141102061301/http://gnuwhatimsaying.com/phpmyadmin-error-class-pma_message-not-found/ an

[2019-02-07 15:06] bahl24 commented on #14933
@shucon I am getting this page when I switch to gsoc-theme-generator branch, is this expected?
![screenshot from 2019-02-07 20-30-28](https://user-images.githubusercontent.com/36095178/52420089-60377480-2b17-11e9-8750-cb27e8e44d40.png)

[2019-02-07 19:32] kartik1000 commented on #14870
@Enurhe Hey, i think that the date and time should have been same in ods file as per me. Am I correct or wrong do let me know..

[2019-02-07 20:58] ibennetch commented on #14933
The theme generator was designed against the 4.x branch. Since the time of that project, development for 5.x has changed to using the SASS files. Maurício and I have been trying to figure out how to handle this. Long-term, the best solution is to modify the theme generator to work with the new theme style. Unfortunately, this project became a victim of the change in how we're handling theme files

[2019-02-07 21:06] mauriciofauth commented on #14824
@Deltafox79 @williamdes Can you try to reproduce this issue with PHP 7.3.2?

[2019-02-07 21:07] lastsamurai26 commented on #14912
I have connected 3 php versions to Apache via FCGI.
PHP7.3.2
PHP7.2.15
PHP7.1.26

I exclude here at this point a misconfiguration of php and the server. I don't get any errors reported neither via PHP nor in the apache error log. If it is an error of the server why is it running under php 7.2.15 ?
For this case i switched back to php 7.2.15

[2019-02-08 03:48] Deltafox79 commented on #14824
Tested on Apache v2.4.38 Php 7.3.2 NTS and Phpmyadmin 4.8.5 everything seems to work properly..

![immagine](https://user-images.githubusercontent.com/2518850/52457924-98ad7180-2b5c-11e9-9dbf-2267cb6bafcc.jpg)

![immagine2](https://user-images.githubusercontent.com/2518850/52457946-bc70b780-2b5c-11e9-90c1-7ebd2ae0b484.jpg)

Regards

[2019-02-08 08:36] Liri96 commented on #14939
@williamdes Looks like its fixed... I´ve downloaded it from the official website from phpmyadmin and checked it today again. Should be working now.

[2019-02-08 09:38] mbolli opened #14940 "Ability to favorite databases similar to tables"
### Is your feature request related to a problem? Please describe.

We have some database servers with literally hundreds of databases. It would only make sense to be able to "star" databases similar to the favorite tables feature.

### Describe the solution you'd like

- feature can be enabled/disabled in config
- star/button to add a database to one's favourites (probably stored in localstorage

[2019-02-08 11:01] kartik1000 commented on #14832
@williamdes , Hey i reproduced the bug on my local server successfully and yes ensured that the bug can be fixed by changing (j_tabs[db + '.' + T] !== '1') to (j_tabs[db + '.' + T] !== 1) as it is holds some integer value as stated above. Shall I make the PR to fix it if you wish?

[2019-02-08 11:52] williamdes commented on #14832
@kartik1000 Yes, please to `QA_4_8` :)

[2019-02-08 13:44] bahl24 commented on #14940
@williamdes @mauriciofauth @ibennetch Is this enhancement required? I would love to work on it.

[2019-02-08 14:58] kartik1000 commented on #14816
@williamdes, @taleski working fine for me too in phpmyAdmin 4.8.4 and demo server as well.

[2019-02-08 15:48] amarjitsingh52922 commented on #13424
@williamdes i made the code and tested on my local phpmyadmin it works like a charm
but has few doubts regarding PR. in PR template there are some options to choose with square brackets

so for them i have to put x in them like [x] or let it as it is

pl guide as i am new to github but too good in PHP/jquery

[2019-02-08 17:27] kartik1000 opened #14943 "Loading Forever when creating new view without filling any field"
### Describe the bug
The issue comes up when you create a new view in the browse tab of any table. If you submit the dialog box of create view without filling any fields and click on go button a loading box will then keep loading forever, even when you close the dialog box of create view.
### To Reproduce
Steps to reproduce the behaviour:
1. Go to browse tab of any table.
2. Click on 'Create view'

[2019-02-08 17:28] williamdes commented on #14943
Thank you for creating a separate issue
This is described in #14916

[2019-02-08 17:31] williamdes commented on #13424
@amarjitsingh52922 I will review the PR soon :)

[2019-02-08 17:43] amarjitsingh52922 commented on #13424
@williamdes thanks but i also need direction to do more PR as going to tackle some some more issues/enchancements

[2019-02-08 18:28] kartik1000 commented on #14804
I couldn't replicate it as well on phpmyadmin (Version:  4.8.4) and demo server too.

[2019-02-08 20:50] williamdes commented on #13424
@amarjitsingh52922 Can you join [Slack](https://join.slack.com/t/phpmyadmin/shared_invite/enQtNDc0MTI4MTY5MTU3LTc1Y2Y1NTFlMjk2MzllMTFhNWVmODliYWQ5MjcyMjUwZTA3OWQxMmNmZWFiYzcwMDA2MmVkN2I0NmVmMjg0MmE) or [Gitter](https://gitter.im/phpmyadmin/Lobby), so I can help you :)

[2019-02-09 08:20] amarjitsingh52922 commented on #13424
It says slack invitation link is no more active. Can you please send again

On Sat, Feb 9, 2019, 02:20 William Desportes <notifications@github.com>
wrote:

[2019-02-09 15:28] voltel commented on #14184
Dear fellow php programmers,

May I share with you the solution I have found to this problem of ours. As I understand, there might be a multitude of reasons all of which are having the same misleading presentation – the infamous "_Failed to set session cookie. Maybe you are using HTTP instead of HTTPS_" error. So, I guess at least some of you could possibly have the same _problem root cause_ as I

[2019-02-09 17:30] williamdes commented on #13424
@amarjitsingh52922 Here is a new [link](https://join.slack.com/t/phpmyadmin/shared_invite/enQtNTQ3ODU0NzExNTExLTUwZjg3YTUxZTYxOTdkN2VkZjFkMjE3YWY2ZWRiNjcxYjYxYmJiOGQwZGUwNWEzYTdiODQyNjlmZGM0NjEyYTY) :)

[2019-02-09 20:45] shucon commented on #14933
@bahl24 try using `yarn install` and `composer update`

[2019-02-09 22:09] cj1067b opened #14945 "Designer page save fails if dB name contains period."
Ver 4.8.5, repeatable
Open database with a period in the name
Ex beta.testdb

When saving page from designer, an error box opens  "insert into phpmyadmin.pma__table_coords..."

Viewing the pma_table_coords, phpmyadmin saved the part of the database name before the period, in the case above "beta" into the db_name column, which I believe should be the full database name, and the part after the peri

[2019-02-10 07:18] kartik1000 commented on #14870
@williamdes, Hey I tried making some changes and this was the result
![screenshot 2019-02-10 at 12 44 31 pm](https://user-images.githubusercontent.com/43112279/52530846-df07f980-2d31-11e9-9609-daf0ecee8b12.png)
Is it ok?

[2019-02-11 11:33] kartik1000 commented on #14751
Hey @williamdes, the designer view is working fine for me on the demo server for the tables which support designer view. Is the issue still occurring? If Yes, then I can definitely work on it
![screenshot 2019-02-11 at 5 00 37 pm](https://user-images.githubusercontent.com/43112279/52560549-b3167200-2e1e-11e9-9e8c-8fe0a3dea17c.png)

[2019-02-11 11:50] kartik1000 commented on #14746
Also, @ibennetch  I feel that if we add a separate documentation explaining a bit about the codebase of phpmyadmin, the twig template that we use and other frameworks which are involved, it will be a good guide for any newcomer and they can immediately start contributing without much chaos. We can also make that as an addition to CONTRIBUTING.md if we wish to keep it brief. I am ready to help wher

[2019-02-11 13:27] williamdes opened #14946 "Report issues on multi server setup broken and multiple modals opening"
See https://github.com/phpmyadmin/phpmyadmin/commit/fa303ee2923f43ee9483c3bc3c880cee7c4812d0

Find a way to have a javascript error and see that multiple modals are open on `QA_4_8`

Ping me for more info if you want to solve this issue.

The commit https://github.com/phpmyadmin/phpmyadmin/commit/fa303ee2923f43ee9483c3bc3c880cee7c4812d0 is maybe missing on `QA_4_8`

[2019-02-11 13:37] williamdes commented on #14751
@kartik1000 I can not reproduce this issue or remember on what setup I had this one ..

[2019-02-11 13:38] williamdes commented on #14931
Also on designer.

[2019-02-11 14:50] ibennetch commented on #14746
In general, that sort of documentation would be more suited for the wiki. Anyone can edit that and most of our documentation for developers is located there.

Your suggestions are appreciated, though. Thanks for the input.

[2019-02-11 16:23] tm8544 opened #14947 "Util.php does not use correct MySql version if version is 8.0 or above"
If Mysql version is 8.0 or above, phpmyadmin/libraries/classes/Util.php still uses max version 5.7

See Util.php starting from line 358:
`           if ($serverVersion >= 50700) {`
`                $mysql = '5.7';`
`            } elseif ($serverVersion >= 50600) {`
`                $mysql = '5.6';`
`            } elseif ($serverVersion >= 50500) {`
`                $mysql = '5.5';`
`            }`

[2019-02-11 16:27] tm8544 commented on #14245
Probably needs an update to libraries\advisory_rules.txt

[2019-02-11 16:48] bahl24 commented on #14940
@ibennetch What do you think about this feature, should I work on it?

[2019-02-11 21:24] kartik1000 commented on #14870
@williamdes, Hey I did this with multiple tables
![screenshot 2019-02-12 at 2 03 41 am](https://user-images.githubusercontent.com/43112279/52594383-6a3bd900-2e71-11e9-9d1b-4b1c7a7f055b.png)

[2019-02-11 21:34] williamdes commented on #14870
@kartik1000 Can you try to use the "Zip" option in "Custom" mode please ?

[2019-02-11 21:45] kartik1000 commented on #14870
@williamdes Hey, I tried with zip option this time,
![screenshot 2019-02-12 at 3 10 42 am](https://user-images.githubusercontent.com/43112279/52595632-4e860200-2e74-11e9-9af8-6fdf6d880e0a.png)
![screenshot 2019-02-12 at 3 13 22 am](https://user-images.githubusercontent.com/43112279/52595634-5180f280-2e74-11e9-9544-7d81307ab527.png)

[2019-02-11 22:31] williamdes commented on #14870
@kartik1000 Thanks, It seems that you sent the wrong second screeshot
Can I have a screenshot of the times in the .zip file (because I now I had the issue) ?

[2019-02-12 02:18] edhongcy opened #14948 "Change password is not showing password Strength difference at the second attempt."
### Describe the bug

Change password is not showing password Strength difference at the second attempt.

### To Reproduce

Steps to reproduce the behavior:

1. Login phpMyAdmin
2. Change password
3. Keyin password then password strength indicator will show different color when password is stronger or weaker
4. Cancel it then change password again
5. Password strength indicator will remain the sam

[2019-02-12 08:21] williamdes commented on #14948
Confirmed, thanks for the report @edhongcy

[2019-02-12 09:15] fengyqf commented on #11983
Same request here.
At least, bring back it as an option, whitch not enabled default.

[2019-02-12 13:36] kartik1000 commented on #14870
Ok,
![screenshot 2019-02-12 at 2 30 09 pm](https://user-images.githubusercontent.com/43112279/52639010-47ed9e00-2ef9-11e9-8ce4-be2633c46c50.png)

[2019-02-12 15:29] MarcoStuurman opened #14950 "Left database overview "add column" triggers error"
### Describe the bug

The left database hierarchy menu triggers a bug in after_field when clicking "Add column" in that particular menu.

### To Reproduce

Steps to reproduce the behavior:
1. Log in to PHPMyAdmin
2. Have a database with at least one table with one column
3. Add a column (check Screenshot1 below)
4. Enter any name as column, leave INT etc.
5. Submit and dismiss SQL error ( ... AFTE

[2019-02-12 17:09] amarjitsingh52922 commented on #14767
@OlafvdSpek going to work on it. do you have suggestion for length of tooltip?

[2019-02-12 17:11] OlafvdSpek commented on #14767
Let's try 200.

[2019-02-12 17:29] amarjitsingh52922 commented on #12726
@OlafvdSpek going to work on clickable username to go to edit privileges page

[2019-02-12 17:53] amarjitsingh52922 commented on #14767
ok

On Tue, Feb 12, 2019, 22:41 Olaf van der Spek <notifications@github.com>
wrote:

[2019-02-12 18:01] adwiv opened #14951 "Moving Columns with DEFAULT NULL doesn't work on MariaDB 10.2+"
### Describe the bug
When a column is nullable with default value NULL, trying to move it using the "Move Columns" popup either does not work or works incorrectly with disastrous side effects.

It appears that the SQL generated for **moving the column converts the NULL keyword value into 'NULL' string value**. If the column is a text column, the default value is changed to 'NULL' String instead of

[2019-02-12 18:12] akkywadhwa commented on #14820
@mauriciofauth Can you please explain?

[2019-02-12 19:53] williamdes commented on #14951
Tested on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/) (not affected)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/) (affected)

![QA_4_8](https://user-images.githubusercontent.com/7784660/52663936-1af4b780-2f08-11e9-9051-29c35811e9f5.png)

On `QA_4_8` there is a modal that is broken.
Can not test more.

[2019-02-13 00:36] adwiv commented on #14951
On further testing I can confirm that the bug is somehow dependent on Server version.

The latest snapshot works fine with MariaDB 10.1.38, but fails with newer MariaDB 10.2.22 and 10.3.12, whereas MySQL 5.7/8.0 do not seem to be affected.

Tested using docker images on Ubuntu 18.04 with apache and phpMyAdmin-5.0+snapshot-all-languages.tar.gz

[2019-02-13 08:48] nsoggia opened #14952 "Simple trick to let phpMyAdmin work with MySQL 5.1"
I was curious if I could use the latest phpMyAdmin with MySQL 5.1.
It's indeed possible setting $cfg['MysqlMinVersion'] and **not** setting the lc_messages system variable on MySQL servers older than 5.5.
Here is my solution:

[code]
This error will disappear and most of the phpMyAdmin features will work
![lc_messages](https://user-images.githubusercontent.com/18053505/52697577-03521900-2f72-11e9-

[2019-02-13 15:30] linaspasv opened #14953 "Faster index rename"
phpMyAdmin is still using the old DROP INDEX and ADD INDEX method when someone tries to rename index/key. It's not the problem for small tables but it's time consuming for a larger ones.

As of MySQL 5.7 version RENAME INDEX is possible through ALTER TABLE (please see http://dev.mysql.com/doc/refman/5.7/en/alter-table.html). It would be nice if we could have a possibility of RENAME INDEX if nothin

[2019-02-13 21:35] bahl24 commented on #14940
@ibennetch @williamdes @mauriciofauth Where should I put the star button for adding the database to the fav. One location would be the database tab but default nav bar appears to be short thus adding a star/button here might not be the best idea.

[2019-02-13 21:40] bahl24 commented on #14940
Also, IMHO I don't think there is a need to enable/disable feature in config settings like fav tables

[2019-02-13 22:15] zeke0816 commented on #14699
I'm having the same issue with the same version, 4.8.3.

### Here's my error report:

[code]

[2019-02-13 22:37] Chealer opened #14954 "Allow displaying exact string contents (VARCHAR as binary or hexadecimal)"
With version 4.6.5.2 I can't figure out how to see the exact value of a VARCHAR field. I know it has newlines, but I can't tell if they're Windows or UNIX. I cannot see how to either:

1. display LF as "\n"
1. display contents as binary
1. or display contents as hexadecimal

I must be missing something, but if so, please consider this as a request to make this more obvious.

[2019-02-14 08:11] svaningelgem commented on #14888
I can't reproduce this anymore in 4.8.5.
Closing the issue.

[2019-02-14 08:11] #14888 closed

[2019-02-14 20:04] The-Dutchman opened #14955 "phpMyAdmin Upgrade/Update is "impossible" to install"
### Describe the bug
First problem: when i try to download it from phpmyadmin.net the file: phpMyAdmin-4.8.5-all-languages.zip it takes FOREVER....and hours to download, but if you choose another file: phpMyAdmin-4.8.5-english.zip than it's quick to download.

Second problem: once file downloaded it is Impossible to install it Inside the folder XAMPP/LAMPP and folder phpmyadmin! xampp does not all

[2019-02-15 00:04] nunoperalta opened #14956 "Implement Page/Column Compression options"
Make use of the new PAGE_COMPRESSED=1 and Column's COMPRESSED=1 features.

Page compression: https://mariadb.com/kb/en/library/compression/

Column compression: https://jira.mariadb.org/browse/MDEV-11371

These don't seem to be available anywhere on phpMyAdmin.

(edited post as I was also reporting the issue on #14673, which appears to have a different cause)

[2019-02-15 00:07] nunoperalta commented on #13801
I believe this is not a problem anymore, in the latest version of phpMyAdmin.

The query box stays without change, and each query (including SET) is shown as independent result boxes below.

[2019-02-15 00:07] #13801 closed

[2019-02-15 07:50] akkywadhwa commented on #14946
@williamdes can you please elaborate this issue? I want to work on this.

[2019-02-15 11:13] ibennetch commented on #14955
Hi and thanks for your report.

Sorry but this doesn't sound like something we can fix. XAMPP is a packaged solution where the versions of each distributed program are tested and maintained specifically by the XAMPP packagers, it's not meant for a user to be able to upgrade any individual component by hand. Aside from that, we don't control XAMPP and I believe the proper place to report a problem

[2019-02-15 11:13] #14955 closed

[2019-02-15 16:16] #14514 closed

[2019-02-15 16:16] #14515 closed

[2019-02-15 17:47] linaspasv opened #14957 "Virtuality is not selected when editing generated column"
When trying to edit a generated column, a correct virtuality option is not being picked from a dropdown. I have not tested other version but latest 5.0.0-dev is affected.

[2019-02-15 19:29] bahl24 commented on #14957
@linaspasv Can you elaborate testing instructions or provide screenshots?

[2019-02-15 20:00] linaspasv commented on #14957
So I got a generated column on table and when I try on change it, the dropdown for virtuality is empty in edit page (it should have been selected as persistant in my case). Also, I have tested on the latest stable release and the same problem is there aswell.

![image](https://user-images.githubusercontent.com/1407067/52881152-84750000-316c-11e9-92e4-2a02f4ce05fb.png)

I hope it helps, let me know

[2019-02-16 01:36] Nopm commented on #14217
Can confirm. I cloned 4.8.5 recently and well, the issue still exists with user editing. Creating a new user works fine.

[2019-02-16 09:45] acs-ferreira opened #14958 "innodb_log_files_in_group in Advisor"
### Describe the bug

Actually, PMA outputs a warning if `innodb_log_file_size` **!==** 25% of `innodb_buffer_pool_size`.

### Expected behavior

I believe that the calculation should take `innodb_log_files_in_group` into the logic.

So:

`innodb_log_file_size * innodb_log_files_in_group / innodb_buffer_pool_size`

Take this:

[code]

16G * 2 / 128G `==` 25%

This actually outputs the warning in P

[2019-02-16 18:41] kartik1000 commented on #14632
@williamdes, Hey I tried replicating it but couldn't reproduce. i think there must be more info. to it to reproduce or some conditions.

[2019-02-16 19:26] williamdes commented on #14632
@kartik1000 Sorry, do not have more informations
@andyknas Do you have more informations?

[2019-02-16 19:43] kartik1000 commented on #14870
@williamdes, can you confirm about the above screenshot?

[2019-02-16 21:01] dddns commented on #14535
Howdy,

A small update on this, after i removed xdebug everything's much better, dumb me left it loaded by accident.
But, i still have one place where it's slow, when i try to insert a record in mysql.user table.
It takes sometimes 4 or 5 minutes, only here, any other table it's fast.

Where should i look for/where?

[2019-02-17 06:14] kartik1000 commented on #14612
@williamdes, Hey can't we refer this issue to #14691 because both seem have to have same encoding issue.

[2019-02-17 06:40] kartik1000 commented on #14733
@williamdes, I think this has already been fixed in both the themes
![screenshot 2019-02-17 at 12 39 54 am](https://user-images.githubusercontent.com/43112279/52909284-62829700-32ac-11e9-9ff5-8729fa16e5ec.png)
![screenshot 2019-02-17 at 12 40 13 am](https://user-images.githubusercontent.com/43112279/52909285-63b3c400-32ac-11e9-8bef-fb8d426e389e.png)
Also, verified the same for structure of table a

[2019-02-17 10:01] JustinLindsayChapman opened #14959 "phpmyadmin export to opendocument or text goes to error message after accessing export.php"
### It must be something simple, export works for all other export types. Only has a problem on the Opendocument requests. I am sure it is a typo or something. Come someone must have 10 minutes to take a look at this. If someone could point me in the right direction as to where export types are checked. Only ODS and ODT are not working all other types are working.

### Describe the bug
Seems to be

[2019-02-17 10:50] bahl24 commented on #14957
@linaspasv I was able to reproduce the issue and found that virtuality is missing but expression is prefilled.

[2019-02-18 09:39] kartik1000 commented on #14611
Hey, @mauriciofauth, Is this issue still there? because I couldn't reproduce it and Clicking Enter Button Does Nothing.

[2019-02-18 10:06] kartik1000 commented on #14611
Hey, @mauriciofauth  I was able to reproduce this issue. But I found out that this issue is not being caused in Safari, but is there in Chrome.

[2019-02-18 11:07] linaspasv commented on #14957
@bahl24 correct, the expression is here but virtuality option is not being selected from the dropdown. But when virtuality is not being pre-selected and you click on save, phpmyadmin alters column to a regular one. In my case, this led to accidental overwrite of a generated column.

[2019-02-18 12:30] williamdes commented on #14735
@saurass I like the `EMPTY_STRING` in italic option :)
@ibennetch @mauriciofauth Any thoughts on this ?

[2019-02-18 12:42] OlafvdSpek commented on #14735
`Empty` or `Empty String` might look nicer.

[2019-02-18 14:23] saurass commented on #14735
Great, it can be done, lets see what @ibennetch and @mauriciofauth say; will be happy working on that : )

[2019-02-18 17:09] bastux commented on #14217
I took a look at libraries/classes/Server/Privileges.php and adjusted the function updatePrivileges(), so that a statement like
[code]
gets split in two statements:
[code]

This is a quick and dirty fix for me, someone closer to the project should review it. To avoid changes for older mysql versions the splitting only takes effect for mysqlVersion >=80011. The changed Privileges.php and a diff-fil

[2019-02-18 17:12] williamdes commented on #14870
@kartik1000 Yes, can you open a PR, could not find one for this issue :)

[2019-02-18 17:13] williamdes commented on #14612
@kartik1000 Can you please fix this issue ?

[2019-02-18 17:19] kartik1000 commented on #14870
@williamdes, Thanks a lot :)

[2019-02-18 17:20] kartik1000 commented on #14612
@williamdes, I am onto it

[2019-02-18 20:12] pekrogel commented on #14816
I get the error when clicking on a table in the sidebar when in the designer.  It's more immediate if you click on 'Create relation' in the designer first.

Uncaught TypeError: Cannot read property 'style' of null
    at HTMLDocument.MouseUp (move.js?v=4.8.3:184)
﻿
￼I tried it on the dev server and it is an issue there as well.

[2019-02-19 19:19] mauriciofauth commented on #14735
Regardless of the text, it must have some kind of emphasis, to differentiate it from `DEFAULT 'Empty'`.

[2019-02-20 12:09] bahl24 commented on #14957
@linaspasv Which database server are you using, MySQL or MariaDB?

[2019-02-20 13:00] linaspasv commented on #14957
@bahl24 I am using MariaDB 10.3 . I have not tested with MySQL.

[2019-02-20 13:33] bahl24 commented on #14957
@linaspasv Kindly check

[2019-02-20 15:33] linaspasv commented on #14957
@bahl24 I have tested the change and it works perfectly. Very good job, thanks!

[2019-02-20 22:53] dddns opened #14967 "Database export and INFORMATION_SCHEMA"
Howdy,

I have "old" servers with mysql 5.5 and PMA 4.2.8, and database export (also import) works quite good, and very fast, and they have INFORMATION_SCHEMA enabled.

But in my new servers with mysql 5.7 and PMA 4.8.5 it's so slow, very very slow, and i've noticed that on every database export, it goes to INFORMATION_SCHEMA to read things with INFORMATION_SCHEMA enabled or disabled, same behavio

[2019-02-21 05:47] mauriciofauth commented on #14967
Hi, @dddns. Thanks for reporting.

This was fixed recently by #14825 and it will be included in next release.

[2019-02-21 09:35] dddns commented on #14967
Mauricio,

Oh great!
Stream the download, that's the correct work i was looking for, thank you!

Any idea when the 4.8.5 final will be out?

[2019-02-21 09:40] dddns commented on #14967
I mean 4.8.6!

[2019-02-22 01:18] Adwin-Jason commented on #12900
Two years since the initial bug report and this is still a major problem. Has there been no resolution yet?

[code]
The report seems to cut off after that point and is interrupted by a lovely checkbox with "send report automatically"...

[2019-02-23 11:09] OlafvdSpek opened #14969 "No Database Selected"
1. Open SQL tab of a table
2. Execute default query
3. Execute again

pMA 4.8.6-dev

![pma](https://user-images.githubusercontent.com/2218936/53285687-c4874480-3763-11e9-9a85-ec87c2c8d3b1.PNG)

[2019-02-23 13:37] bahl24 commented on #14969
@OlafvdSpek I was unable to reproduce the issue, kindly elaborate testing instruction.
I am getting no error.

[2019-02-23 14:04] bahl24 commented on #14927
@garas Refer to the following post about clearing overhead in InnoDB
https://dba.stackexchange.com/questions/24773/mysql-innodb-does-daily-optimization-improve-performance
It is not same as MyISAM, if you can post a way on how to clear in InnoDB, I will be happy to help.

[2019-02-23 14:19] bahl24 commented on #14920
@paveldvorak5 @williamdes I couldn't reproduce the issue, I think it has been fixed. Kindly check

[2019-02-23 16:26] garas commented on #14927
I agree that reclaiming few percents overhead is overkill, it won't improve anything  and sometimes MySQL reports same overhead after `OPTIMIZE`.

But it might be useful when overhead is large (50% or more) and it can reclaim much space.

I've reported this issue because I've overlooked that some tables had high overhead because I couldn't see that in phpMyAdmin. After I've optimized tables, they

[2019-02-23 17:25] bahl24 commented on #14927
Ok, let me work on it. But optimise won't work with innodb tables.

[2019-02-23 17:28] garas commented on #14927
It works with `innodb_file_per_table=ON`

[2019-02-23 20:24] bahl24 commented on #14815
@williamdes I am not able to understand where to put the checkbox, should I put it alongside
![screenshot from 2019-02-24 01-51-02](https://user-images.githubusercontent.com/36095178/53291287-c8a07a00-37d6-11e9-8fb1-f17469fce85e.png)
or elsewhere as this is regarding exporting a db and not individual view.

[2019-02-23 20:38] williamdes commented on #14815
@bahl24 In the `data creation option area` ?

[2019-02-23 20:49] akkywadhwa opened #14971 "Ability to generate pre-coded HTML+PHP forms to insert data in database"
### Is your feature request related to a problem? Please describe.
The data in these databases is often inserted using any application having a well defined front end and backend. Most developers make an insert form for the tables present in the database. There can be a feature in phpMyAdmin which would generate an application (front end+backend using php) which can prevent developers writing code

[2019-02-23 21:03] williamdes commented on #14920
@bahl24 @paveldvorak5 Could not reproduce this issue on latest `QA_4_8`.

[2019-02-23 21:04] akkywadhwa commented on #14971
@williamdes Can you please suggest that how should be the retrieval of column names for generation of forms done? Should it loop over all the column header shown in particular HTML tag or it should fetch information about the table from the database internally?

[2019-02-23 21:08] williamdes commented on #14971
@akkywadhwa Is this feature request a php code generator ?

[2019-02-23 21:11] akkywadhwa commented on #14971
@williamdes  Yes! I want to generate boiler-plate code for CRUD operations on the tables of database.

[2019-02-23 21:12] williamdes commented on #14969
@OlafvdSpek Could not reproduce this issue

[2019-02-23 21:13] williamdes commented on #14971
cc @ibennetch Can I have some advice for this feature request please ?

[2019-02-23 21:22] OlafvdSpek commented on #14969
Is there a log with more info that would allow you to repro or find out what went wrong?

[2019-02-23 21:29] williamdes commented on #14969
@OlafvdSpek Can you please try on demo servers (root, no password) ?
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

And write down the steps to reproduce ?

[2019-02-23 21:34] williamdes commented on #14733
Thank you @kartik1000, closing !

Checked on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

@OlafvdSpek Please comment or re-open if issue is still present :)

[2019-02-23 21:38] OlafvdSpek commented on #14733
Git revision: 115aa8a from master branch,
committed on Feb 23, 2019 at 06:58 AM by Hosted Weblate,
authored on Feb 22, 2019 at 04:13 PM by Joshua PowellNishiyama

![pma](https://user-images.githubusercontent.com/2218936/53291960-b1a05e80-37bb-11e9-9234-18bcc3f9187b.PNG)

[2019-02-23 21:40] williamdes commented on #14733
@OlafvdSpek Can you send the table ?

[2019-02-23 21:46] OlafvdSpek commented on #14733
Could it just be the disabled pretty printer?
I don't think table structure really matters.

[2019-02-23 21:53] williamdes commented on #14733
@OlafvdSpek If you find a way to reproduce on demo server this will be good for me and a contributor willing to solve the issue ;)

[2019-02-24 07:35] kartik1000 commented on #14575
@ibennetch, Hey is the issue some table specific or based on some particular properties of table because when I tried reproducing it, it worked fine for me on `world` database of demo server
![screenshot 2019-02-24 at 1 04 19 pm](https://user-images.githubusercontent.com/43112279/53296423-cd941680-3834-11e9-9d36-d9bba45b9124.png)

[2019-02-24 07:38] kartik1000 commented on #14575
@williamdes, Hey also your sql query is causing collation error on my local server. Is it working fine for you still?
![screenshot 2019-02-24 at 12 56 01 pm](https://user-images.githubusercontent.com/43112279/53296441-25328200-3835-11e9-8990-86df156e0a54.png)

[2019-02-24 07:54] williamdes commented on #14575
Hey @kartik1000 The collation must be an error, the most important part to reproduce this issue is to have a view in the database :)

[2019-02-24 14:36] wmac opened #14972 "Procedures page: very slow"
### Describe the bug
The procedures page is unusably slow (either times out or comes up with a long delay). Specially if phpMyAdmin is on another server on the same LAN.

### To Reproduce

Steps to reproduce the behavior: (preferably use phpMyAdmin on another server)

1. create at least 30-40 procedures.
2. visit the page

### Expected behavior

Page should come up in a reasonable time e.g. 10-15

[2019-02-24 23:52] #14642 closed

[2019-02-24 23:57] tota1099 commented on #14943
Hi,

I fixed this issue and i'm trying create the pull request.

One doubt, i should create the pull request against the branch "master" or for other branch?

Thanks

[2019-02-25 06:31] bahl24 commented on #14815
@williamdes I was thinking maybe in object creation system

[2019-02-25 06:47] williamdes commented on #14943
@tota1099 You can create a PR against `QA_4_8` :)

[2019-02-25 08:17] marin1993 commented on #14184
在config.inc.php中设置$cfg['PmaAbsoluteUri'] = '';值为你在浏览器访问的phpmyadmin的url的路径，比如我通过nginx代理转发到私网的地址$cfg['PmaAbsoluteUri'] = 'https://192.168.1.10/db/';
nginx 配置为
server {
        listen       443 ssl http2;
        server_name  192.168.1.10;

        ssl_certificate      server.pem;
        ssl_certificate_key  server.key;

        ssl_session_cache    shared:SSL:50m;
        ssl_session_timeout  5m;

[2019-02-25 11:54] paveldvorak5 commented on #14920
It still doesn't work for me.
Server version: 5.7.23-log - MySQL Wsrep Server (GPL), wsrep_25.15
maybe wsrep is the problem?

[2019-02-25 13:07] tota1099 commented on #14943
@williamdes thank you very much. I'm never had make some pull request for other repository in the github.

I believe that i had make something wrong, you can see my pull request, please?

https://github.com/phpmyadmin/phpmyadmin/pull/14974

I think that i should work in the "QA_4_8" in my fork, right? I have done the fix in the master branch.

Just confirm it, that i'll redo the fix in the correct

[2019-02-25 13:40] kartik1000 commented on #14425
@williamdes, Hey I fixed this issue shall I open PR against QA_4_8?

[2019-02-25 14:09] kartik1000 commented on #14943
@tota1099 Don't worry, Hey You first to need add to description and Fixes in your PR so that others can exactly know what your PR is fixing and what problem was occurring.
After that, your PR contains too many commits. You need to make only a single commit in your PR which fixes that issue. Your PR contains lot of other commits which are not even related to issue
Then, you have to make a PR by cre

[2019-02-25 16:16] tota1099 commented on #14943
@kartik1000 thank you very much for the help.

I tried to do it again, you can check please.

https://github.com/phpmyadmin/phpmyadmin/pull/14975

[2019-02-25 16:35] kartik1000 commented on #14943
@tota1099, Hey almost all the things are fine. Just one suggestion, It would be better if you name your Pull Request better like a bit of issue you fixed (you can see other PR's name). Also in Fixes #(Enter fix number here). Rest of the things seem good to me.
Good Work 👍

[2019-02-25 19:38] williamdes commented on #14425
@kartik1000 Yes, please, go ahead :)

[2019-02-25 23:14] nunoperalta commented on #14956
I think this should be top priority, since it can revert the ROW_FORMAT of a Table, when altering one of these options.

I had a table that was DYNAMIC, and it was converted back to COMPACT, because I missed this option. I had to manually do an `ALTER TABLE table ROW_FORMAT=DYNAMIC` to get it fixed again.

(both DYNAMIC and COMPRESSED are missing from here)

[2019-02-25 23:17] nunoperalta commented on #14956
I was testing here - https://demo.phpmyadmin.net/master-config/

Seems that even for MySQL those 2 options are missing?

So maybe it's not really related to the PAGE_COMPRESSED=1 feature?

[2019-02-26 05:21] latifolia commented on #14673
I am not very good at programming but I think since All file-format variables are deprecated, erased in newer MySQL and MariaDB,  the solution proposed may be to focus on these lines in Operations.php :

       if ('Barracuda' == $innodb_file_format
            && $innodbEnginePlugin->supportsFilePerTable()
        ) {
            $possible_row_formats['INNODB']['DYNAMIC'] = 'DYNAMIC';

[2019-02-26 09:10] OlafvdSpek commented on #14971
Would this really make sense for pMA?

[2019-02-26 11:45] akkywadhwa commented on #14971
@OlafvdSpek pMA is generally used by developers while developing backend and frontend. Imagine a scenario you are developing a website which uses MySQL/Maria DB. You have made a table which stores feedback from all the users of the website. You have made 5 fields in the table to store the feedback. You would need an HTML form with fields of this table and backend code to connect the database to th

[2019-02-26 14:04] ibennetch commented on #14971
I think this is a bit beyond the scope of what phpMyAdmin should do. In particular, the HTML part would be customized enough by the programmer that our generic code would probably be meaningless and the PHP part is too complex to make guesses about the user's environment. I think such work is better managed by a good IDE.

In the past, phpMyAdmin had a similar feature, which broke through a code c

[2019-02-26 14:13] ibennetch commented on #14952
This is a workaround for one aspect of the incompatibilities between MySQL 5.1 and 5.5, but there are other areas in the code where we've had trouble in the past. Since MySQL 5.1 ended official support over 5 years ago, we decided some time ago to deprecate and remove support for that version. There were multiple incompatibilities and using this workaround to get through the first error still leav

[2019-02-26 14:45] ibennetch commented on #14947
This is a great suggestion and good job noticing this behavior.

A complete solution should probably also adjust for different MariaDB versions, as well. For instance, I'm on MariaDB 10.1.37 (getVersion returns 100137) but I'm still linked to the 5.7 documentation with this patch.

@williamdes I thought you had done some work to link to the appropriate documentation depending on if the user was ru

[2019-02-26 14:45] ibennetch commented on #14947
The proposed patch is a good improvement despite the other issue I pointed out.

[2019-02-26 17:59] williamdes commented on #14947
@ibennetch @tm8544 I think this can be implemented on https://github.com/williamdes/mariadb-mysql-kbs

[2019-02-26 22:01] smartinec commented on #14934
@bahl24 Did you see my comment above? Any chance this will be addressed soon?

[2019-02-27 00:54] eric9930 opened #14981 "Page Not Found"
### Describe the bug

I currently have hired a developer to work on my website, as of today we are receiving a page not found error when loading phpmyadmin index. What steps do I need to take to resolve this issue so he can continue working on my website?

### To Reproduce

Steps to reproduce the behavior:
1. Go to my admin url
http://13.59.255.217/phpMyAdmin-R58JU23K74EJF/index.php
The website is

[2019-02-27 01:06] ibennetch commented on #14981
Since we maintain the phpMyAdmin software but don't host any user data, this is a question better suited for your hosting provider. It could be that you (or someone) has renamed or moved the phpMyAdmin subdirectory in your web root. Perhaps your installation uses a virtual host in your webserver which has been removed. It's possible your webserver error logs have more information, but we have no a

[2019-02-27 01:10] eric9930 commented on #14981
Ok, thank you!

[2019-02-27 02:14] #14981 closed

[2019-02-27 05:44] Gaurav-Punjabi commented on #14931
Can I solve this issue ?

[2019-02-27 06:47] williamdes commented on #14931
@Gaurav-Punjabi Yes ;)

[2019-02-27 07:43] bahl24 commented on #14934
@smartinec Sorry I must have missed it, I will try to resolve it.

[2019-02-27 09:46] M-Mommsen commented on #14575
Same problem here - a view stops the alter operations on a database! (latest "stable" from git)
Only workaround so far -> delete the views, alter the collation of the database, recreate the views ... which is not very practical!

[2019-02-27 10:36] DoctorSubtilis opened #14982 "setting "null" keep an "enum" value"
In my database (mariadb) I have a enum field with "yes" or "not" ("si" o "no").
If I do un insert new record, there is no problem, not setting that filed (remain NULL);
but **if I copy from an existing record**, I cannot set to NULL that field: if it is yes is remain yes, even I check the NULL checkpox.

![phpmyadmin enum bug](https://user-images.githubusercontent.com/20089138/53484665-a0d63e00-3a

[2019-02-27 11:25] marcus-hiles commented on #14972
yeah, I experienced a similar issue yesterday

[2019-02-27 11:35] marcus-hiles commented on #14959
This seems to work for me though, with similar configurations as yours, but am using a MacOS
...will try to test this on an Ubuntu system also

[2019-02-27 12:21] williamdes commented on #14982
Reproduced on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

### Tests data
[code]
Copy `a` record and check `NULL`, will throw an error because the `NULL` option has an issue when copying record.

[2019-02-27 12:28] williamdes commented on #14959
I could not reproduce on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

Did I miss something @JustinLindsayChapman using

'File not found'

[2019-02-27 15:36] khaydarov commented on #14053
@williamdes
I wanted to start with this issue, but for it is ok. Using 4.8.5

![image](https://user-images.githubusercontent.com/6507765/53502131-87ea7e80-3abe-11e9-853d-6bc5320705ed.png)

[2019-02-27 16:30] kartik1000 commented on #14326
@williamdes, Hey is this issue still there? Because Zipped Compression for a database is working fine for me on Local Server. Or if I am missing something please let me know.
![screenshot 2019-02-27 at 9 58 32 pm](https://user-images.githubusercontent.com/43112279/53505928-e9b8e180-3ada-11e9-90a6-ee408588a606.png)

[2019-02-27 17:02] mauriciofauth commented on #14298
Closed by 87bf7c397f4513a17b3bff9dc643f7442367146b

[2019-02-27 17:02] #14298 closed

[2019-02-27 17:12] williamdes commented on #14326
@kartik1000 Remove php-zip extension :)
`apt-get remove php7.3-zip`

[2019-02-27 17:15] #14725 closed

[2019-02-27 18:11] kartik1000 commented on #14215
@ibennetch, Just a suggestion, Now we can even shift to plotly.js for making Graphs of all kind, and as it provides a user with lots of options it can be a great choice. But the only problem is it will require some Major Code Changes in Chart.js file.
Have a look at it [https://plot.ly/javascript/](url)

[2019-02-27 18:36] marcus-hiles commented on #14969
@OlafvdSpek same here couldn't reproduce this issue...but try inspecting and repairing tables of that database or recreate a database with a different name, manually recreate the same tables and import only the data to the new database and tables.

Sometimes databases and tables in mysql get corrupted, this might help.
You can connect more with me here www.marcus-hiles.com

[2019-02-27 18:42] marcus-hiles commented on #14967
Wow awesome, can't wait for 4.8.6 to be out!!! 👍

[2019-02-27 19:01] marcus-hiles commented on #14956
Wow I also upgraded to MariaDB 10.3, so any answers here will be appreciated guys :-)

[2019-02-27 19:19] marcus-hiles commented on #14954
@Chealer Kinda difficult to understand your issue, can you attach some snapshots please?

[2019-02-27 19:39] dddns commented on #14967
Me too!!
Please make 4.8.6 out now :P

[2019-02-27 21:00] bahl24 commented on #14982
@williamdes What do you mean by copy record?

[2019-02-27 21:09] bahl24 commented on #14934
@smartinec In the picture your privileges are set to `global` which doesn't have edit privileges.
Can you elaborate `wildcard DB privilege` you mentioned before?
Also, if you can recall till which version pma worked fine, it would be helpful

[2019-02-27 21:38] Chealer commented on #14954
@marcus-hiles I clarified the description a little, but here is a screenshot
![phpmyadmin browse whitespace](https://user-images.githubusercontent.com/486141/53524538-a1cf9580-3aad-11e9-81d8-c9d68d8abeb4.png)

It is more what is not seen here that matters though. The main problem is that newline characters can be either CR, CRLF or LF, depending on the system. But these different characters are al

[2019-02-27 21:46] bahl24 commented on #14934
@smartinec I think I got it, the global privileges on `shaun` account supersedes the wildcard ones.
![screenshot from 2019-02-28 03-04-51](https://user-images.githubusercontent.com/36095178/53524848-82188b80-3b06-11e9-9519-56f545e4224e.png)
When only wildcard privileges are there, I was able to edit. But when I changed it to
![screenshot from 2019-02-28 03-12-43](https://user-images.githubusercont

[2019-02-27 21:48] bahl24 commented on #14934
In the picture your privileges are set to global which doesn't have edit
privileges.

On Thu 28 Feb, 2019, 3:16 AM nitish <notifications@github.com wrote:

[2019-02-28 04:30] bahl24 commented on #14940
@williamdes @ibennetch What do you think?

[2019-02-28 06:48] DoctorSubtilis commented on #14982
In Pma you can edit a record, or "copy", which is a **very useful** function: you keep data of another record and change what you want. E.g. I copy a record with the author and title of work, and change only the page and the quotation's content.

[2019-02-28 07:11] balticer commented on #14433
Hello,

i have this issue on verrsion 4.8.5. Any news on this if it should be fixed?
The PMA user has full privileges on the PMA database. I login as superuser and cannot add new users. It shows "You do not have privileges to manipulate with the users!".

regards
Kai

[2019-02-28 07:13] bahl24 commented on #14982
@DoctorSubtilis Ok I got it, thanks.

[2019-02-28 10:14] kartik1000 commented on #14936
@williamdes, Hey is this Enhancement required? I too feel it will be better if we display Null instead of empty strings which will make it more clear.

[2019-02-28 11:22] shucon commented on #14933
One option is to migrate the code to work for 5.x, currently it's not working properly as the gsoc-theme-generator branch was merged against 5.x.
The other option is to fix the code separately for 4.x and 5.x.
I don't think it would take much time to fix the issue and don't need to be a separate project. Maybe someone could take this up as an issue for General Improvements.
If anyone is not workin

[2019-02-28 11:25] shucon commented on #14953
@ibennetch @williamdes what do you think? I think it would be a good enhancement.

[2019-02-28 11:35] hudecof opened #14985 "session store redis breaks phpMyAdmin"
### Describe the bug

When enabled session store in redis, the application got gateway timeout.

### To Reproduce
Just try to open the login page.

Try to open index page.
### Expected behavior

Login page should be rendered.

### Screenshots

### Server configuration

- Operating system: CentOS 7
- Web server: nginx, php-fpm
- Database version:
- PHP version: 7.3.2-1 /remi repos/
- phpMyAdmin ver

[2019-02-28 12:27] williamdes commented on #14953
@shucon I think adding the new syntax could be great is we detect that the version supports it :)

[2019-02-28 12:28] williamdes commented on #14936
I too feel it will be better if we display Null instead of empty strings which will make it more clear

I agree, maybe a PR can be done if you want :)

[2019-02-28 12:30] williamdes commented on #14940
@bahl24 Looks nice :), also in the left bar It could be great ?

[2019-02-28 12:33] bahl24 commented on #14936
@williamdes But then inline editing won't be possible, to edit the NULL value

[2019-02-28 12:36] bahl24 commented on #14940
By left bar do you mean the navigation sidebar?
Won't it become too cluttered, what do you think?

[2019-02-28 12:37] williamdes commented on #14940
Yes

Yes, forget about it ;)

[2019-02-28 14:27] smartinec commented on #14934
@bahl24 I went back to version 4.0.10.20 and it works fine again. Database specific permissions should override global permissions.
![2019-02-28_09-24-46](https://user-images.githubusercontent.com/1090227/53573226-fcfb9980-3b3a-11e9-8919-6f6bfdb2f41e.png)

[2019-02-28 14:49] bahl24 commented on #14934
To find where is the bug, I tried ALTER and UPDATE table from terminal and got the error-
![screenshot from 2019-02-28 20-13-11](https://user-images.githubusercontent.com/36095178/53574460-b0917780-3b95-11e9-9b86-17e94dc3cdb3.png)
![screenshot from 2019-02-28 20-12-42](https://user-images.githubusercontent.com/36095178/53574463-b25b3b00-3b95-11e9-8083-65001f503439.png)
thus I think there is no bug

[2019-02-28 15:04] smartinec commented on #14934
I don't think you have your permissions setup to match mine or maybe need to reload the privileges table. Local privileges should override global (see below). Also, as I mentioned before, phpMyAdmin is letting me do inline edits in latest version. I'm pretty sure there is a bug.
![2019-02-28_10-02-13](https://user-images.githubusercontent.com/1090227/53575740-29fe7b00-3b40-11e9-9e41-1b781f1dd35e.p

[2019-02-28 15:36] bahl24 commented on #14934
Ok, Iet me test

[2019-02-28 18:55] marcus-hiles commented on #14938
@ZeroGit2015 steps to reproduce are not quiet clear here, could you please add some snapshots?

[2019-02-28 18:58] marcus-hiles commented on #14936
I agree also, displaying null will be better

[2019-02-28 19:00] marcus-hiles commented on #14945
Hi @cj1067b, could you please provide some snap to aid in reproducing this, thanks?

[2019-02-28 20:54] bahl24 commented on #14934
@smartinec I confirm the issue and have started working on it

[2019-03-01 08:49] theking2 opened #14986 "#1292 error for insert format fractional current_timestamp, support custom default functions"
phpMyAdmin version 4.8.5
MariaDB 10.3.12
php 7.3.1

create table log:
[code]

select the table and click insert

the logtime value is prompted as `current_timestamp(2).000000`

1) this result in a `#1292 - Incurrent datetime value: 'current_timestamp(2).00000' for column logtime`
2) removing the trailing .000000 also results in the same error

A working statement would be `insert into log values(

[2019-03-01 08:54] williamdes commented on #14986
@theking2 Can you please explain how to reproduce this issue using the phpmyadmin web interface ?

[2019-03-01 10:15] OlafvdSpek commented on #14954
`select hex(blah) from table where id = 1`?

[2019-03-01 12:45] OlafvdSpek opened #14987 "Weird error for collation = ''"
https://demo.phpmyadmin.net/master-config/db_operations.php?db=Books

Select blank collation, click Go.

![pma](https://user-images.githubusercontent.com/2218936/53638944-25ad8d00-3c28-11e9-8721-2a23ed8a43b6.png)

[2019-03-01 14:06] williamdes commented on #14987
@kartik1000 Select the empty option in the collation list and execute "change all tables collations"

[2019-03-01 16:16] Chealer commented on #14954
Thanks Olaf,
By pasting this hexadecimal value in a hexadecimal converter such as https://www.rapidtables.com/convert/number/hex-to-ascii.html I was able to determine what characters formed the problematic whitespace.

The above converter is not ideal though - in a large text, it does not show which character(s) corresponds to which hexadecimal value(s).

So this is a good enough alternative to de

[2019-03-01 16:58] kartik1000 commented on #14837
@williamdes, Hey I have made this Enhancement :) Shall I make a PR against master?

[2019-03-01 17:51] williamdes commented on #14837
@kartik1000 Yes, please :)

[2019-03-01 18:38] williamdes commented on #14205
This only works for the last page of the list

[2019-03-01 21:10] marcus-hiles commented on #14954
Awesome, good hack around for this @OlafvdSpek

[2019-03-01 21:43] cj1067b commented on #14945
I'm not seeing an option to attach snaps. I'm writing this with Firefox on Android.

create a database "test.db"
Create table 1, with an ID field primary.
Create table 2, with a table1_id column, indexed.

Go to the designer, show both tables and create a relationship between ID in table 1 and table1_id column in table2.
As soon as I created this, the designer blanked. If I show the 2 tables in de

[2019-03-01 22:01] williamdes commented on #12900
Follow https://github.com/phpmyadmin/phpmyadmin/issues/14945#issuecomment-468822082 to reproduce the issue
<details><summary>Report</summary>
<p>

[code]
</p>
</details>

[2019-03-01 22:06] williamdes commented on #14804
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: ssl_key
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 4
 Link | [Report#55810](https://reports.phpmyadmin.net/reports/view/55810)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-01 22:06] williamdes commented on #14804
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: ssl_cert
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 4
 Link | [Report#55811](https://reports.phpmyadmin.net/reports/view/55811)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-01 22:06] williamdes commented on #14804
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: ssl_ca_path
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 3
 Link | [Report#55812](https://reports.phpmyadmin.net/reports/view/55812)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-01 22:06] williamdes commented on #14804
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: ssl_ciphers
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 3
 Link | [Report#55813](https://reports.phpmyadmin.net/reports/view/55813)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-01 22:14] williamdes commented on #14804
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: ssl_ca
 Exception Type |php
 phpMyAdmin version |4.3.8
 Incident count | 4
 Link | [Report#6623](https://reports.phpmyadmin.net/reports/view/6623)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-01 22:18] williamdes commented on #14945
Reproduced some of the issue on demo server (root, no password)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2019-03-01 22:21] williamdes commented on #14913
Duplicate of #14235

[2019-03-01 22:22] williamdes commented on #14913
@barkermn01 Can you confirm this issue is a duplicate, if so you can close it :)
Thanks for reporting !

[2019-03-01 22:24] williamdes commented on #14918
@ibennetch @mauriciofauth

[2019-03-01 22:26] williamdes commented on #14950
Successfully reproduced on demo servers (root, no password)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2019-03-01 22:32] barkermn01 commented on #14913
@williamdes It's the same sort of problem but that bug seems to be going into another direction because they are focusing on cookie auth for which they can use hmac whereas this is the default session system but they have highlighted the problem, In the message https://github.com/phpmyadmin/phpmyadmin/issues/14235#issuecomment-393270836

So i'm not sure if it is a duplicate.

[2019-03-01 23:23] #14402 closed

[2019-03-01 23:23] #14896 closed

[2019-03-01 23:23] #14922 closed

[2019-03-02 05:55] bahl24 commented on #14934
It looks like PMA isn't able to detect wildcard priv
@williamdes After few hours of trying to debug this code, I came across the problem mentioned as @todo on line 270. Can you help me as to how to proceed further as to solve @todo problem more $GLOBAL variables must be required which in turn need to be fetched by some SQL query.
![screenshot from 2019-03-02 11-08-41](https://user-images.githubuse

[2019-03-02 06:34] hv7214 opened #14989 "Text size controller button in phpmyadmin, SQL."
### Is your feature request related to a problem? Please describe.

Text size is too small. To make it big one has to force zoom, which makes other elements hectic to look.

### Describe the solution you'd like

So to solve this issue, we should introduce a text size controller button.

### Describe alternatives you've considered

Alternative would be giving default font size an appropriate value.

[2019-03-02 08:07] bahl24 commented on #14989
Such a feature already exists in v4.8.6 in the appearance settings.
Unfortunately, I found that it's missing in master branch.
I have started working on master branch to add this feature.

[2019-03-02 08:47] bahl24 commented on #14989
I just finished making the form, when I saw #13919. Although I also feel, such a feature should be there.
Maybe @williamdes can take a call.

[2019-03-02 09:12] danielmarschall opened #14990 ""Multiple definition" in PO files"
Hello,

I am running following script on my system every day to have always the latest phpMyAdmin version.

https://misc.daniel-marschall.de/code/bash/update_pma.sh

It worked for many years, but since several months, I get hundreds of error messages
"multiple definition" in the PO files. At some point, msgfmt even crashes with a "double free or corruption" error.

I was unsure if my repository wa

[2019-03-02 09:20] williamdes commented on #14989
Great !

I also think that such a feature should be there, #13919.

@ibennetch what do you think about this zoom feature ?

[2019-03-02 09:24] hv7214 commented on #14989
Even default font size is way too small.

[2019-03-02 09:28] williamdes opened #14991 "TypeError in GIS data editor"
Cannot read property 'w' of null

Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'w' of null
 Exception Type |js
 phpMyAdmin version |4.8.3
 Incident count | 1860
 Link | [Report#52611](https://reports.phpmyadmin.net/reports/view/52611)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmy

[2019-03-02 09:28] williamdes commented on #14991
[code]

[2019-03-02 09:29] williamdes commented on #14991
[code]

[2019-03-02 09:32] williamdes opened #14992 "Error on reporting error"
Undefined index: url

Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: url
 Exception Type |php
 phpMyAdmin version |4.8.2
 Incident count | 33
 Link | [Report#51697](https://reports.phpmyadmin.net/reports/view/51697)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-02 09:34] williamdes commented on #14992
[code]

[2019-03-02 09:43] williamdes commented on #14992
<details><summary>Request details (removed part of trace)</summary>
<p>

[code]
</p>
</details>

[2019-03-02 09:45] williamdes commented on #14992
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |svg.on is not a function
 Exception Type |js
 phpMyAdmin version |5.0.0-dev
 Incident count | 2
 Link | [Report#56405](https://reports.phpmyadmin.net/reports/view/56405)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-02 09:59] williamdes commented on #14990
@danielmarschall Looking at your script, can you send the `msgfmt --version`

I am using `msgfmt (GNU gettext-tools) 0.19.8.1` without issues

[2019-03-02 10:01] williamdes commented on #14588
Affects also `.ods` and `.odt` exports

[2019-03-02 10:13] #14837 closed

[2019-03-02 10:26] williamdes commented on #14934
@bahl24 Maybe use `Privileges.php::getGrants` ?

If you can add a failing unit test to `CheckUserPrivilegesTest` in order to validate the fix that would be great :)

[2019-03-02 10:35] #13975 closed

[2019-03-02 10:45] danielmarschall commented on #14990
Thank you for your reply.

Here is the console output:

$ msgfmt --version
msgfmt (GNU gettext-tools) 0.19.8.1
Copyright � 1995-1998, 2000-2016 Free Software Foundation, Inc.
Lizenz GPLv3: GNU GPL Version 3 oder neuer <http://gnu.org/licenses/gpl.html>
Dies ist freie Software; es steht Ihnen frei, sie zu ver�dern und
weiterzugeben.
Es gibt KEINE GARANTIE, soweit gesetzlich zul�sig.
Geschrieben von

[2019-03-02 11:07] #14503 closed

[2019-03-02 11:11] williamdes commented on #14990
@danielmarschall Strange..
Can you send the output of `locale` command ?

[2019-03-02 11:12] williamdes commented on #14990
[code]

[2019-03-02 11:12] bahl24 commented on #14989
@hv7214  That is a hard coded value and can be changed with a line of code.

[2019-03-02 11:20] danielmarschall commented on #14990
Sure. Here it is:

$ locale
LANG=de_DE
LANGUAGE=
LC_CTYPE="de_DE"
LC_NUMERIC="de_DE"
LC_TIME="de_DE"
LC_COLLATE="de_DE"
LC_MONETARY="de_DE"
LC_MESSAGES="de_DE"
LC_PAPER="de_DE"
LC_NAME="de_DE"
LC_ADDRESS="de_DE"
LC_TELEPHONE="de_DE"
LC_MEASUREMENT="de_DE"
LC_IDENTIFICATION="de_DE"
LC_ALL=

Note, that I am not using UTF-8, because I have a lot of legacy stuff

[2019-03-02 11:23] bahl24 commented on #14989
@hv7214 I think there is already a feature to change size on the homepage itself in this version.

[2019-03-02 11:33] #14425 closed

[2019-03-02 12:01] bahl24 commented on #14982
@DoctorSubtilis There is something I would like to add, bug is also in insert screen, initially as default val is `null`, it is selected. But when you let's say click on `a` but later change to `null`, `a` remains selected like when copying a record

[2019-03-02 12:27] hv7214 commented on #14989
@bahl24 can you quote that feature, I didn't found it.

[2019-03-02 14:04] ibennetch commented on #14642
I'm still confused about this, if a package such as polyfill-mbstring requires iconv, that should depend on it, rather than the base phpMyAdmin package. The main code within phpMyAdmin itself should be able to handle a missing iconv, since`$cfg['RecodingEngine']` will fall back to recode_string or mbstring when iconv is missing. I still think we should handle this upstream.

Further, even with a d

[2019-03-02 15:38] danielmarschall commented on #14990
I haved picked one of these errors and looked closer at it.

For example:

po/de.po:15114: Mehrfachdefinition der Meldung...
po/de.po:14936: ...dies ist die Stelle der ersten Definition

Now I have looked at "po/de.po". I have uploaded the file here:
http://misc.daniel-marschall.de/temp/phpmyadmin_de_po.txt

At line 15114, there is:

#: templates/display/export/options_output.twig:2
#: templates/d

[2019-03-02 16:07] williamdes commented on #14990
Thanks for the debugging @danielmarschall :) !

[2019-03-02 16:13] bahl24 commented on #14982
@williamdes  @DoctorSubtilis After spending few hours on this, I was able to successfully solve the issue. Kindly check

[2019-03-02 16:20] williamdes commented on #14990
@danielmarschall Just ran your script after installing `gettext` and had the same errors as you ..

[2019-03-02 16:28] williamdes commented on #14990
@danielmarschall Weird
Works fine:
[code]
Errors:
[code]

[2019-03-02 16:34] williamdes commented on #14990
@danielmarschall This is only on `STABLE` branch

[2019-03-02 17:05] williamdes commented on #14990
@ibennetch @nijel @mauriciofauth From what I found we have an issue, the translation files are not in sync with the code between `RELEASE_4_8_5` and `STABLE`

See the following script

[code]

[2019-03-02 19:24] #14870 closed

[2019-03-03 08:09] bahl24 commented on #14989
![screenshot from 2019-03-03 13-39-06](https://user-images.githubusercontent.com/36095178/53692646-ba93c000-3db9-11e9-9814-60f22eb531a2.png)
This is on the index page itself( first screen you get after logging)

[2019-03-03 10:35] hv7214 commented on #14989
@bahl24 but it doesn't change the font size in MYSQL.

[2019-03-03 10:49] bahl24 commented on #14989
Sorry, I didn't get you, what font size are you talking about? The general theme fonts, ui size changes with this.

[2019-03-03 10:49] bahl24 commented on #14989
Sorry, I didn't get you, what font size are you talking about? The general theme fonts, ui size changes with this.

[2019-03-03 10:51] hv7214 commented on #14989
![sql](https://user-images.githubusercontent.com/42354803/53694146-65af7400-3dd0-11e9-9bdb-40612afa5a6f.PNG)
<br>
This one

[2019-03-03 10:57] bahl24 commented on #14989
Oh you meant size in console, I misunderstood. Let @williamdes @ibennetch comment on this, then I can work.
In the meantime, does zooming in browser works?

[2019-03-03 11:02] hv7214 commented on #14989
It make it to look messy.

[2019-03-03 11:02] hv7214 commented on #14989
Zooming make it to look messy

[2019-03-03 11:05] williamdes commented on #14989
@bahl24 I would also like this feature, having a zoom is very useful for showing a query to students on a projector screen !
Can you also fix the right click to paste in sql query box ? (does not work on chrome linux or android)

[2019-03-03 13:04] cnmicha commented on #14615
Same issue here. MariaDB 10.3.13

[2019-03-03 20:09] Bournvita1998 commented on #14868
Is anyone working on this issue? If not, I would like to take it up.

[2019-03-03 20:10] Bournvita1998 commented on #13270
Using git grep '\<on[a-z]*=', I found js/designer/history.js and js/functions.js files with inline js. I made a few changes in history.js files but I couldn't test it. Someone, please let me know how could I test if the changed file is working fine or not.

[2019-03-03 20:24] Bournvita1998 commented on #14933
I am currently working on this issue.

[2019-03-03 21:42] williamdes commented on #14868
@Bournvita1998 You can take it if you want :)

[2019-03-04 19:17] dcolter opened #14995 "Simulated Delete Query with ORDER BY and LIMIT Causes Error"
The query:

[code]
when the SIMULATED button is pressed, this error results:
`
#1064 - You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'ORDER BY id ASC LIMIT 1 LIMIT 1' at line 2
`
but when GO is pressed, the query completes correctly.

[2019-03-04 19:27] williamdes commented on #14995
Successfully reproduced on demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[2019-03-05 00:58] #14763 closed

[2019-03-05 08:45] OlafvdSpek commented on #14989
What about browser zoom?

This issue is about text size isn't it, not zoom.

[2019-03-05 08:55] hv7214 commented on #14989
@OlafvdSpek Browser's zoom doesn't help much, rather it make website more hectic.

[2019-03-05 15:08] DEQ-Dave opened #14997 "Foreign key drop downlist on insert duplicating FK values"
### Problem

When inserting new values in a table that has a foreign key reference the foreign key values are duplicate in the dropdown list with a space added between the 2 groupings.

### To Reproduce
[code]
Switch to table 2 and click on Insert. Select the pulldown next to the `name` field and you should see the 2 entries from table 1 in the list twice with a space between them as shown in the

[2019-03-05 15:12] williamdes commented on #14997
@DEQ-Dave Thank you for the report, this issue seems to be a duplicate of #14181

[2019-03-05 16:15] adamlaughlin commented on #14332
I also had the issue mentioned above, but had to make a different edit.  For me, line 613 should read:
`|| ((count($analyzed_sql_results['select_expr']) == 1)`

It looks like there have been some new lines added to this function since the StackExchange question was first answered, so this "patch" has been updated.

Berd Schumacher was also helpful in showing how to fix Export functions, also broke

[2019-03-05 17:20] COOLak opened #14999 "Move columns feature not saving results after refresh"
After changing the order of some columns with "Move columns" feature, they don't retain their position after refreshing the columns list or page. So they move only visually but not saving the order.

I made a video to explain better: https://youtu.be/wTYESOgaKTY
The bug was encountered on phpMyAdmin 4.8.5, Firefox 65.0.2. MySql version 8.0.15.

[2019-03-05 19:12] #14607 closed

[2019-03-05 20:53] williamdes opened #15000 "[5.0.0] call_user_func_array() expects parameter 1 to be a valid callback, class 'PhpMyAdmin\Util' does not have a method 'getClassForType'"
At 0556625f2db7a156cbc3ea746941071651fa9556

On structure
[code]

[code]

### Config
[code]
#### PHP FPM
[code]

[code]

[2019-03-05 20:53] williamdes commented on #15000
@mauriciofauth can you have a look please ?

[2019-03-05 20:57] bahl24 commented on #14995
What does this mean, as there is no error on executing query.

[2019-03-05 20:58] williamdes commented on #14995
@bahl24 It means "SIMULATE query" button next to "Go" :)

[2019-03-05 21:01] bahl24 commented on #14989
I should work on increasing size of console separately from rest of the UI, right?

[2019-03-05 21:03] williamdes commented on #14999
I can not reproduce this issue, tested 2 mysql versions and 3 mariadb versions

[2019-03-05 21:08] bahl24 commented on #14995
Where @williamdes , I still can't find it? Looked in SQL tab and elsewhere

[2019-03-05 21:13] williamdes commented on #14989
Seems like a good idea

[2019-03-05 21:15] williamdes commented on #14995
@bahl24 You need to paste the query first

Demo servers
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

![image](https://user-images.githubusercontent.com/7784660/53837912-144fe200-3f94-11e9-803d-e46a34579c22.png)

[2019-03-05 22:46] #15000 closed

[2019-03-05 22:47] mauriciofauth commented on #15000
Thanks @williamdes.

[2019-03-06 00:20] ANDYTTYN commented on #13543
I'm having the same issue here. can't login using PHPMyadmin. I used to login but I left my machine for about 2 months and the issue started. I'm using  wampserver on Windows 10

[2019-03-06 00:40] jonjie0317 opened #15001 "Login Cookie Validity"
This might be a useful feature until I upgrade my wamp to 3.1.7 which has `phpmyadmin v4.8.4`. How can I set this now?

Screenshot:

<img src="https://i.stack.imgur.com/Ow7Bw.png">

[2019-03-06 01:56] ibennetch commented on #15001
Are you saying that you had been able to set LoginCookieValidity through the "Settings" tab? If so, please let me know which version you had so we can look in to why this disappeared.

Aside from that, not all of the configuration options are exposed in the Settings tab, for some (including, I thought, LoginCookieValidity), you have to edit the configuration file `config.inc.php` and add a line li

[2019-03-06 06:40] peterkahl opened #15002 "Validation of simulated query fails"
### Describe the bug

Within the SQL query box, enter a "DELETE" query. When simulating the query, JavaScript reports syntax error although the query is perfectly valid.

### To Reproduce

Steps to reproduce the behavior:
1. Go to tab SQL
2. Enter this query "DELETE FROM `sometable` WHERE 1 ORDER BY `column` ASC LIMIT 100;"
3. Hit 'Simulate Query'.
4. See error '...error near LIMIT 100 LIMIT 100'

[2019-03-06 08:20] jonjie0317 commented on #15001
@ibennetch

<img src="https://imgur.com/hVBTe2p">

[2019-03-06 11:59] ibennetch commented on #15001
Ok, thanks. Could you tell me which version that is? Version information is on the main page, in the right hand column.

[2019-03-06 13:44] williamdes commented on #14816
This Issue is no longer associated with [Report#54220](https://reports.phpmyadmin.net/reports/view/54220)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-06 13:44] williamdes commented on #14816
Param | Value
 -----------|--------------------
 Error Type | TypeError
 Error Message |Cannot read property 'style' of null
 Exception Type |js
 phpMyAdmin version |4.8.4
 Incident count | 1491700
 Link | [Report#54220](https://reports.phpmyadmin.net/reports/view/54220)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-06 13:46] williamdes commented on #14816
This issue is very serious, as it affects a lot of versions of phpMyAdmin and after grouping issues, it has a total count of `1 491 700` incidents !

[2019-03-06 15:24] #14832 closed

[2019-03-06 15:24] #14948 closed

[2019-03-06 18:41] #14868 closed

[2019-03-06 18:48] williamdes commented on #14868
Merged, thank you @matthiasradde !

[2019-03-06 19:33] williamdes commented on #15002
See #14995

[2019-03-06 19:35] COOLak commented on #14999
@williamdes Maybe try with 8.0.15 then?

[2019-03-06 20:16] williamdes commented on #14985
@hudecof I could not reproduce this issue, works perfectly using latest redis docker image
and php fpm config
[code]

[2019-03-06 20:19] williamdes commented on #14985
`docker run --name redis-phpmyadmin -d redis`

![redis](https://user-images.githubusercontent.com/7784660/53910942-6278ea00-4055-11e9-85ed-5d2e00a759c0.png)

[2019-03-06 20:21] williamdes commented on #14999
@COOLak I can not reproduce on demo server that uses `8.0.3-rc-log - MySQL Community Server (GPL)` https://demo.phpmyadmin.net/QA_4_8/

[2019-03-06 23:01] #14734 closed

[2019-03-06 23:01] #14943 closed

[2019-03-07 01:09] jonjie0317 commented on #15001
@ibennetch It was `v4.6.4`

[2019-03-07 07:51] hudecof commented on #14985
@williamdes your enviroment differs form mine.
I will try to create docker image with the enviroment like mine.

Right now Im using *memcached*, since *memcache* was crasing php ;(

[2019-03-07 09:17] Alain-Chappuis opened #15004 "phpMyAdmin No base has been selected"
### Describe the bug

I am using phpMyAdmin via Xampp latest version under W10 build 1809.

All that goes on normally and when I display a table of any database to continue in the pages I get the message:

`1046 - No base has been selected`
While we can see in the following picture that I am well in the right base selected

The message arrives once I use the command > or >> (in yellow) once the ta

[2019-03-07 09:19] OlafvdSpek opened #15005 "Drop unsupported phpMyAdmin 4.0 download"
IMO unsupported versions shouldn't be offered for download.

[2019-03-07 10:25] Alain-Chappuis commented on #15004
# #

[2019-03-07 11:04] MikyWoW opened #15006 "UUID as default value"
### Is your feature request related to a problem? Please describe.

1. Table creating: I am not able to set default value to UUID().
2. Inserting row: There is not pre-selected function to UUID() when table have set default value UUID().

### Describe the solution you'd like

1. Be able to select default value UUID like NULL or CURRENT_TIMESTAMP.

Should generate something like this:
[code]

Inser

[2019-03-07 12:41] williamdes commented on #14985
@hudecof > Right now Im using memcached, since memcache was crasing php ;(

See: https://github.com/phpmyadmin/phpmyadmin/issues/12669#issuecomment-386834345

[2019-03-07 12:51] williamdes commented on #15004
@Alain-Chappuis I could not reproduce this issue, can you send the table structure or a way to reproduce the issue ?
![image](https://user-images.githubusercontent.com/7784660/53957968-17f07f80-40e0-11e9-92b3-06073272dddf.png)

[2019-03-07 13:06] williamdes commented on #15005
@ibennetch @nijel The daily archives do not seem very daily using the hash ..
https://github.com/phpmyadmin/phpmyadmin/commit/a5f9cdafee47721b67c1c5a3d44151db547bab8b (14 days ago)
https://github.com/phpmyadmin/phpmyadmin/commit/5efceb2315e84f131fcb1e448513662b23107a5b (16 days ago)

![image](https://user-images.githubusercontent.com/7784660/53958681-fd1f0a80-40e1-11e9-8e7d-a100998dfd7f.png)

[2019-03-07 13:07] williamdes commented on #15004
By the way, can you please try https://files.phpmyadmin.net/snapshots/phpMyAdmin-4.8+snapshot-all-languages.zip because you have issue #13975 (query time is 0.0000) ?

[2019-03-07 13:41] #15005 closed

[2019-03-07 15:45] Alain-Chappuis commented on #15004
Hello Willam and thank you for the interest you for my problem.
The problem is visible for all databases and tables long enough on a display page. As soon as we use the ">" or ">>" this message appears.
Here is the structure of a table "elements" in image:
![table-evenements](https://user-images.githubusercontent.com/48139483/53968770-edaabc00-40f7-11e9-9c94-1746d651d7ba.jpg)

I wanted to do a "re

[2019-03-07 15:51] Alain-Chappuis commented on #15004
.

[2019-03-07 16:11] ibennetch opened #15007 "mb_strtoupper error in tbl_relation"
I saw this in the error log, but I don't know how to reproduce it. Maybe we can figure it out, or maybe we'll just have to close this without enough information.

[code]

[2019-03-07 16:50] Alain-Chappuis commented on #15004
Apache/2.4.38 (Win64) PHP/7.3.2
Version du client de base de données : libmysql - mysqlnd 5.0.12-dev - 20150407 - $Id: 7cc7cc96e675f6d72e5cf0f267f48e167c2abb23 $

Version de PHP : 7.3.2
phpMyAdmin
Version : 4.8.6-dev

The problem remain for all databases and tables :-(

Alain

[2019-03-07 17:53] hudecof commented on #12669
@williamdes I have got `zend_mm_heap corrupted` with memcache, no core dump.

[2019-03-07 17:58] hudecof commented on #14985
Strange, I reverted it back to redis ad it works ;(
I spent 2 days with troubleshooting, the roundcube mail was working, the pma not. Now both applications are OK.
Maybe the issue could be closed if there nobody with the same problem.

[2019-03-07 19:38] apoorvkhare07 commented on #14995
@dcolter @williamdes Hi, I would like to work on this issue. Is this is still up for taking ?
Would open a PR soon.

[2019-03-07 19:44] williamdes commented on #15007
Found nothing on report server.

[2019-03-07 19:51] williamdes commented on #14995
@apoorvkhare07 You can open a PR against `QA_4_8` if you want ;)

[2019-03-07 19:52] williamdes commented on #14985
@hudecof Yes, maybe someone will find this issue :+1:
Thank you for reporting !

[2019-03-07 19:52] #14985 closed

[2019-03-07 20:26] DoctorSubtilis opened #15008 "Warning: #1265 Data truncated"
### Describe the bug

After inserting a new item, I get this error message *for empty fields* (and **only** for empty fields):
    "Warning: #1265 Data truncated for column 'column-name' at row 1"
E.g.

Inserted row id: 1379
Warning: #1265 Data truncated for column 'luogo' at row 1
Warning: #1265 Data truncated for column 'trad_edizione' at row 1
Warning: #1265 Data truncated for column 'riferito'

[2019-03-07 20:32] williamdes commented on #15008
@DoctorSubtilis can you please send the table structure ?

[2019-03-07 20:34] DoctorSubtilis commented on #15008
How?

[2019-03-07 21:22] williamdes commented on #14912
I have no idea how to reproduce this issue ..
Can someone help me

[2019-03-07 21:30] lastsamurai26 commented on #14912
You can compile php 7.3.3 with the following command
`'./configure' '--prefix=/usr/share/php73' '--datadir=/usr/share/php73' '--mandir=/usr/share/man' '--bindir=/usr/bin/php73' '--with-libdir=lib/x86_64-linux-gnu' '--includedir=/usr/include/php73' '--sysconfdir=/etc/php73/apache2' '--with-config-file-path=/etc/php73/apache2' '--with-config-file-scan-dir=/etc/php73/conf.d' '--enable-libxml' '--enab

[2019-03-07 21:35] williamdes commented on #14915
@artemlv phpMyAdmin 4.6.6 is not currently supported, can you try with latest version ?

[2019-03-07 22:00] williamdes commented on #14912
Reproduced successfully using php `7.3.2-3+ubuntu18.04.1+deb.sury.org+1`
and php fpm config file :
[code]

[2019-03-07 22:16] dcolter commented on #14995
@williamdes   @apoorvkhare07 - You got me to dig into phpmyadmin by offering to work on this issue.  I don't know how to work with a PR (never done it), but I did find the problem.

In **/libraries/classes/Import.php**, is a function named
`getSimulatedDeleteQuery(array $analyzed_sql_results)`

It returns the query:
[code]
which, obviously has a problem with repetition repetition.

There are 2 if

[2019-03-07 22:31] JohnnyKing94 opened #15009 "Version checking not working"
### Describe the bug

The *version_check.php* should give the latest info release about phpmyadmin, but i get an empty json response.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'website.tld/version_check.php'
2. Check the JSON response

### Expected behavior

A page with the json fields valued and not []

### Server configuration

- Operating system: Ubuntu Linux 18.04.1
- Web se

[2019-03-07 22:35] williamdes commented on #14912
After browsing the code, I found out that the release is not compatible for php `7.3` and no one is, so I do not know if this is a real issue.
See: https://github.com/phpmyadmin/phpmyadmin/issues/14912#issuecomment-461288446
When `7.3` will be compatible the GUI will show new available version.

[2019-03-07 22:36] williamdes commented on #15009
Duplicate of #14912

[2019-03-07 22:36] williamdes commented on #15009
Thank you for the report, it is a duplicate, see: #14912

[2019-03-07 22:36] #15009 closed

[2019-03-07 22:37] williamdes commented on #14912
See phpMyAdmin api response on issue #15009

[2019-03-07 22:42] williamdes commented on #14995
Hello @dcolter Thank you for starting to debug this issue, you can follow the following tutorial : https://github.com/firstcontributions/first-contributions

Do not forget to use `--signoff` option of git commit and to use `QA_4_8` as a base branch and target for the PR

Is this okay for you ?

[2019-03-07 22:50] williamdes commented on #15004
@Alain-Chappuis I tried everything and could not reproduce the issue, can you try to reproduce it on
demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

That would help us solve this issue :)
Maybe provide a test table and very detailed steps ?

[2019-03-07 23:05] williamdes opened #15010 "Sql preview empty modal on tbl_relation"
Use following links
Demo servers (root, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master-config/tbl_relation.php?db=information_schema&table=INNODB_BUFFER_PAGE)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/tbl_relation.php?db=information_schema&table=INNODB_BUFFER_PAGE)

`tbl_relation.php?db=information_schema&table=INNODB_BUFFER_PAGE`

### Bug
- Click on `SQL PREVIEW` button
- Sh

[2019-03-07 23:06] williamdes commented on #15010
@mauriciofauth Can you please have a look why `tbl_relation` has a 500 on demo server ?

[2019-03-07 23:06] williamdes commented on #15007
`tbl_relation.php?db=information_schema&table=INNODB_BUFFER_PAGE`

[2019-03-07 23:07] williamdes commented on #15004
@Alain-Chappuis Can you also post the url part after the domain name ?

[2019-03-07 23:40] mauriciofauth commented on #14840
Reset button is a secondary button, I think it should not be bold. But there are some inconsistencies that need to be addressed.

[2019-03-08 00:24] dcolter commented on #14995
@williamdes  Thank you for providing the instructions.  I will give it a try.

[2019-03-08 01:51] fivemru commented on #14826
I solved the problem with the PMA_messages error as follows:
before: http://localhost/phpmyadmin
after: https://localhost/phpmyadmin

[2019-03-08 02:56] dcolter commented on #14995
Where is the Query class hiding?  I cannot find the `Query::getClause()` function definition.

I've noticed: `use PhpMyAdmin\SqlParser\Utils\Query;` at the top of **libraries/classes/Import.php**

[2019-03-08 06:49] williamdes commented on #14995
@dcolter are you looking for https://github.com/phpmyadmin/sql-parser/blob/master/src/Utils/Query.php   ?

[2019-03-08 07:05] JohnnyKing94 commented on #15009
With the *version_debug.php* file I can easily get the info via curl from the phpmyadmin site (downloadable here, make some corrections) https://github.com/phpmyadmin/phpmyadmin/issues/12846#issuecomment-274263660

[code]

so is it working under php 7.3 or is another type of error we're talking about?

[2019-03-08 07:05] JohnnyKing94 commented on #14912
With the *version_debug.php* file I can easily get the info via curl from the phpmyadmin site (downloadable here, make some corrections) https://github.com/phpmyadmin/phpmyadmin/issues/12846#issuecomment-274263660

[code]

so is it working under php 7.3 or is another type of error we're talking about?

[2019-03-08 07:08] williamdes commented on #14912
@JohnnyKing94
There is no issue, phpmyadmin does not support php 7.3 officially so no release is proposed.

[2019-03-08 13:42] P-Band opened #15011 "count(): parameter must be an array or an object that implements countable line 613"
Heyya !

There is a little error on the file ./libraries/sql.lib.php line 613 !
With PHP7.2, "count" function throws an error if the parameter is not countable.
The error is : count(): parameter must be an array or an object that implements countable.
It happens when, on pma, I show datas of table...
The line 613 is "|| (count($analyzed_sql_results['select_expr'] == 1)"
The correction is "|| (coun

[2019-03-08 14:00] Alain-Chappuis commented on #15004
Bonjour William,

Mais je suis avec xampp en localhost!

Alain

[2019-03-08 14:23] williamdes commented on #15011
Duplicate of #14273

[2019-03-08 14:23] williamdes commented on #15011
This file does not exist on version 4.8.x, deleted on commit https://github.com/phpmyadmin/phpmyadmin/commit/2124311e3828b8bdf14092e73d0f62830e8ce1ff#diff-73378a096e2547c3f4278abf8106c723

Please upgrade to latest phpMyAdmin :)

[2019-03-08 14:23] #15011 closed

[2019-03-08 14:25] williamdes commented on #15004
Bonjour @Alain-Chappuis
C'est pas un problème, juste les paramètres d'URL suffisent :)

[2019-03-08 14:25] Alain-Chappuis commented on #15004
William,
voilà j'ai créé sous 4.8.x la base "chappuis" puis la table "statrep" je ne reproduit pas mon problème.
C'est bien évident car c'est un système Linux puis les versions de php et de mysql ne sont pas les mêmes que celle sur mon PC (localhost)
Donc pour avoir le même résultat il faut installe xampp puis télécharger la DB "chappuis" puis l'installer dans ton PC.
---------------
here I create

[2019-03-08 14:32] Alain-Chappuis commented on #15004
William,
voici en image le problème:

![statrep](https://user-images.githubusercontent.com/48139483/54034425-16de5180-41b7-11e9-8fa7-b194c330903f.jpg)

Donc j'affiche les données de la table, puis essaie de descendre avec la touche > ou >> et c'est là que j'ai l'erreur 1046.

Si tu y vois quelque chose je suis preneur!
Bien amicalement.
Alain

[2019-03-08 14:37] Alain-Chappuis commented on #15004
Ah je vois que c'est bien la module sql.php paramètre pos= si je joue avec il n'y a aucun problème j'ai mes données affichées.
Je pense qu'il faut chercher dans ce script.

Alain

[2019-03-08 14:48] williamdes commented on #15004
@Alain-Chappuis Ton url est avec des ';' ce n'est pas normal, je regarde ce soir

[2019-03-08 14:49] Alain-Chappuis commented on #15004
En effet c'est des & qu'il faudrait!

[2019-03-09 11:21] mynetx commented on #15006
@MikyWoW Thank you for this suggestion!

### Version support
* From my research, I think that MySQL supports expressions as field default values since MySQL 8.0 (5.7 lacks this feature).
* For MariaDB, the minimum required version is [10.2.1](https://jira.mariadb.org/browse/MDEV-10134).

### Parentheses

As for your code sample, I think that MySQL (not MariaDB if I see it correctly) requires the e

[2019-03-09 11:33] mynetx commented on #14954
This also applies to non-breaking spaces and other non-printable characters. Ideally, we’d use a `<div contenteditable="true">` and render such characters, much like this is done in Word when you switch on the <kbd>¶</kbd> button on the toolbar.

[2019-03-09 11:54] mynetx commented on #14918
From [Util.php, lines 4761+](https://github.com/phpmyadmin/phpmyadmin/blob/30484fa5a52572e22892670fa446cc058f71d782/libraries/classes/Util.php#L4761-L4789):

[code]

The problem here is that the returned random string can also contain URL-problematic characters, like `~` and `#`.

After taking a look at the ASCII table, I suggest to remove the interval from U+0021 (33) to U+002B (43) and thus excl

[2019-03-09 12:00] mynetx commented on #14885
@davidtessier We have to be careful for the Ajax-based navigation. So in my opinion, the Matomo loading code needs to go to the site header, while the page navigation code needs to be copied to the Ajax navigator as well.

[2019-03-09 12:42] williamdes opened #15012 "Login error, localised messages are badly encoded '�'"
### Reproduce
- `SET GLOBAL lc_messages = 'fr_FR';`
- Fail a login using bad username and password

Bad message:
[code]

Detected using: XAMP, WAMP, NGINX, PHP-FPM, MySQL, MariaDB, Windows7, Ubuntu
Using: Google Chrome

[2019-03-09 12:43] Alain-Chappuis commented on #15008
Hello
Bad structured INSERT:
`INSERT INTO bibliografie (ID, autore, autore_nome, titolo, curatori, curatore_unico, opera, rivista, num, pagg, edizione, luogo, data, trad_titolo, trad_edizione, trad_luogo, trad_data, contenuti, temi, temi_chiave, reperibilita, letto, letto_quando, valutazione, tipologia, riferito, pro-doctorato) VALUES (NULL, 'Ratzinger', 'Joseph', 'La legge di Re Salomone', **'',*

[2019-03-09 12:47] williamdes commented on #14989
re-opened since the PR is still active.

[2019-03-09 13:09] MikyWoW commented on #15006
@mynetx  I tested some versions a you are right.

**MySQL**
5.7.25 not working
8.0.15 working (only with parentheses)
**MariaDB**
10.1.38 not working
10.2.22 working (with and without parentheses)

[2019-03-09 13:42] thelounge-zz commented on #14918
seriously why do people these days need for every trivial piece of code complex solutions, libraries and frameworks?

php > echo bin2hex(openssl_random_pseudo_bytes(30));
09f233736262e11d4a1e24be2833c539b48d6804b50cc565ebd04fa9132b

php > echo bin2hex(random_bytes(30));
0448309d9f75c816242a3ed1f196e6ccb761bf9e44951012106b5a430dbe

[2019-03-09 13:49] Bournvita1998 commented on #15012
@williamdes can you please elaborate the procedure to reproduce it, as I am unable to locate the file where we need to make the required change to reproduce this error.

[2019-03-09 15:14] williamdes commented on #15012
@Bournvita1998 You need to execute the following sql query `SET GLOBAL lc_messages = 'fr_FR';` into the mysql console or into phpmyadmin and the fail a login on the login page

[2019-03-09 16:04] ibennetch commented on #14752
This causes the daily documentation build to fail because of the 500 error linking to https://demo.phpmyadmin.net/master/setup/

[2019-03-09 19:04] kartik1000 commented on #15010
@williamdes, Hey the above link is not working for me. Can you please check?

[2019-03-09 19:44] kartik1000 commented on #14951
@williamdes, Hey it's working fine for me both on mariadb and mySql Server on demo server. I'll share the screenshot with you and in preview Sql mode also its working fine for me
![Screenshot 2019-03-10 at 1 09 50 AM](https://user-images.githubusercontent.com/43112279/54076441-ab3cd700-42d1-11e9-9e5a-2f0bec779209.png)

[2019-03-09 22:00] williamdes commented on #15010
@kartik1000 Hello, see my comment above and use 4.x server please :)

[2019-03-09 22:04] williamdes commented on #14951
@kartik1000 Can you please try on `wdes`'s demo servers ? (we have enough mariadb and mysql servers)

https://phpmyadmin-pr-6.wdes.eu.org and https://phpmyadmin-pr-7.wdes.eu.org

public/public

[2019-03-09 22:34] gpcat opened #15013 "Presentation Error in Setup"
CSS Breaks when selecting 'New Server'

`<Body-style="min-width: [insanely_large_number]";> `

[2019-03-10 14:39] williamdes commented on #15013
@gpcat Can you please send a screenshot ?

[2019-03-10 18:20] AndikanAffiah commented on #15012
I think the the issue is not from phpmyadmin but i think it is coming from your computer not being able to fully interpret the unicode character or does not support it.

I tried pasting this on my phpmyadmin console after logging in `🎀  🍓 ⋆`
It showed `🎀  🍓 ⋆` then changed to this as shown in in the screenshot attached
![Screenshot (448)](https://user-images.githubusercontent.com/31145045/54089439

[2019-03-10 20:01] DoctorSubtilis commented on #15008
Thank you. I believe that this problem comes from [this update](https://github.com/phpmyadmin/phpmyadmin/pull/14994), as I said. The error message seems to come for the fields that are empty *without* NULL value. I will confirm the next days.

[2019-03-10 20:04] williamdes commented on #15012
It is a bug, you did dot understand the issue, please follow the steps.

cc @Bournvita1998 @AndikanAffiah

### 1, open a demo server link below
Demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

### 2, run the query
[code]
### 3, Logout
Fail a login, the message is well encoded, no issue there.

### 4, Use my de

[2019-03-10 20:05] williamdes commented on #15012
![bad](https://user-images.githubusercontent.com/7784660/54090769-2a84e600-4378-11e9-8891-73e0a58dab3d.png)
![good](https://user-images.githubusercontent.com/7784660/54090776-4092a680-4378-11e9-9082-067fba4e255a.png)

[2019-03-10 20:10] williamdes commented on #15008
@DoctorSubtilis Does the PR #14994 solve the issue or create a new one ?

[2019-03-10 20:12] DoctorSubtilis commented on #15008
I think it's the *cause* of the problem...

[2019-03-11 14:54] ibennetch commented on #14947
Related to #14520

[2019-03-11 15:05] ibennetch commented on #14747
Your phpMyAdmin installation is somewhat outdated; more recent versions actually include a "Format" button in this area with which to do exactly as you've requested. I suggest updating to the current release and trying that.

Currently, we use our own SQL linter and formatter, called [sql-parser](https://github.com/phpmyadmin/sql-parser/), but we're always open to suggestions on how to improve it

[2019-03-11 15:05] #14747 closed

[2019-03-11 16:00] SplashDance opened #15014 "Connecting to phpMyAdmin Database Remotely Using R."
### My Issue

Basically, I want to be able to use the **R** programming language to interact
with a MySQL database available via phpMyAdmin. Right now I'm trying to
determine whether the errors I'm getting trying to connect to this database are
because I'm passing in the wrong arguments or whether there is just something
fundamentally wrong with the way I'm going about everything.

### Preliminary

[2019-03-11 16:18] dcolter commented on #14995
I have narrowed down this issue to `Query::getClause()`

I am, however, unable to tell if the problem is in the 3 arguments input to it by `Import::getSimulatedDeleteQuery()`.  (note: the 4th and 5th arguments are default values)

Breaking down the building of the `SELECT` query, within the the function above, I found this:

    $table_references = array (
      0 => '`renewal`',
    )
    //  aft

[2019-03-11 18:36] DEQ-Dave commented on #14997
It is indeed so I'll follow that issue.

[2019-03-11 18:36] #14997 closed

[2019-03-11 18:45] williamdes commented on #14997
Duplicate of #14181

[2019-03-11 18:46] williamdes commented on #14995
@devenbansod Can you give your thoughts for this issue ?

[2019-03-11 18:47] dcolter commented on #14995
@williamdes  (notice previous 2 comments)   In both of the cases of WHERE and ORDER BY clauses, the `Query::getClause()` method is **_not recognizing_** when `$token->type` == ORDER BY or LIMIT.  it **_continues looping_** and adds the **_following_** clause!

I would think it should `continue;` the for loop (at about line 615) for these 2 conditions.

Should invite someone from the sql-parser gro

[2019-03-11 18:50] williamdes commented on #15014
@SplashDance I am confused, you know phpMyAdmin is only a web interface and not a database server right ?

I do not understand why R would have anything to do with phpMyAdmin ?

cc @ibennetch
cc @mauriciofauth

Did I misunderstand your issue ?

[2019-03-11 19:19] dcolter commented on #14995
@williamdes @devenbansod

I found the problem!!  Is it an issue with the `$currIdx` ??

Approx line 654 - Query.php - getClause()

instead of less than or equal to `$lastClauseIdx`

    if (($firstClauseIdx <= $currIdx) && ($currIdx <= $lastClauseIdx)) {
use less than `$lastClauseIdx`

    if (($firstClauseIdx <= $currIdx) && ($currIdx < $lastClauseIdx)) {

[2019-03-11 19:21] SplashDance commented on #15014
Right. I get that **phpMyAdmin** an interface for interacting with a database server and not the server itself. Or, at least, I have some vague understanding that to interact with the server I have to go through phpMyAdmin.

But right now I *only* have the phpMyAdmin address to work with and I was thinking (and I get that this could be *way* off) that I would have to, in effect, connect to said da

[2019-03-11 19:34] kartik1000 commented on #14951
@williamdes, Hey Yes You are right It ain't working on these servers switching col 1 to top does give back an error and the error is same as stated by @adwiv , and moreover  https://phpmyadmin-pr-7.wdes.eu.org does not show sql preview option whereas the other one does.

[2019-03-11 19:35] williamdes commented on #14995
@dcolter Can you please open a pull-request on the `sql-parser` repo ?

[2019-03-11 19:39] williamdes commented on #15014
I think not, and from what I know we no not offer any api or way to interact with databases.
The only way is human interaction with the interface

Did you try to connect with R to mysql like http://stla.github.io/stlapblog/posts/RMySQL.html suggests ?

Maybe the database server is on the same machine than the database, this would be why you only have the hostname of the "phpmyadmin"/database? serv

[2019-03-11 19:42] ibennetch commented on #15014
Most MySQL installations prevent incoming network connections by default. In order to directly connect from an external address, such as an application running on your local computer, you'd have to expose the MySQL port to the internet. That's generally a bad security practice. Many times, phpMyAdmin runs on the same server as the MySQL instance, so it connects either to the localhost address (127

[2019-03-11 19:43] #15014 closed

[2019-03-11 19:46] williamdes commented on #14951
Thank you @kartik1000 :)

[2019-03-11 19:51] dcolter commented on #14995
@williamdes  I can.  Should that be a PR against `QA_4_8` also ??

[2019-03-11 19:53] williamdes commented on #14995
@dcolter If there is any code to change on the phpmyadmin repo you can open against `QA_4_8` and for changes on the `sql-parser` repo you can open against https://github.com/phpmyadmin/sql-parser/branches `master`

[2019-03-11 19:59] SplashDance commented on #15014
First of all, let me just say that I *really* appreciate all of your responses (especially considering the amateurishness of my initial question) and I especially appreciate Isaac's response--it was particularly thoughtful and very helpful.

 If anything, it's a relief to finally get a definitive answer so I won't have to waste any more time trying different combinations of function arguments, etc

[2019-03-11 20:02] dcolter commented on #14995
@williamdes - Remembering that this is my first time contributing and that I followed the first-contributions instructions ... Will I need to follow those steps again to open a PR to sql-parser repo `master` ??

p.s. The proposed correction is removing one character from Sql.php file.

[2019-03-11 20:09] williamdes commented on #14995
@dcolter You can use the same instructions, we welcome your first contribution ! an will help you if needed ;)
The pull-request will trigger a run of the test suite to be sure that the one character does not make existing code fail
You can open the pull request on the `sql-parser` repository against `master` branch

Do you need more details ?

[2019-03-11 20:11] dcolter commented on #14995
@williamdes - Got it.  Thank you.  I will ask here if I need further assistance.

[2019-03-11 20:54] apoorvkhare07 commented on #15012
@williamdes Hey, I don't this in phpmyadmin. It is the issue of the system as it is not able to interpret the when in french.
As after changing the language to french the error was coming fine when I tried a wrong password while logging in through the terminal and it gave the correct error message in french.
![Screenshot from 2019-03-13 00-15-13](https://user-images.githubusercontent.com/26320019/

[2019-03-11 21:16] apoorvkhare07 commented on #15012
@williamdes Hey, I don't this in phpmyadmin. It is the issue of the system as it is not able to interpret the when in french.
As after changing the language to french the error was coming fine when I tried a wrong password while logging in through the terminal and it gave the correct error message in french.
![Screenshot from 2019-03-13 00-15-13](https://user-images.githubusercontent.com/26320019/

[2019-03-11 21:20] williamdes commented on #15012
@aphisitworachorch Please try using `SET GLOBAL lc_messages = 'ru_RU';`

[2019-03-11 21:25] dcolter commented on #14995
@williamdes  - PR submitted request on the `sql-parser` repository against `master` branch

[2019-03-11 21:32] dcolter commented on #14995
@williamdes - I see your excitement!!  Imagine mine?

I see the Travis-CI test failed and hope it was not for something I did.

Thank you, William, for encouraging me onward.

[2019-03-11 21:44] kartik1000 commented on #14526
@williamdes, Hey is this required?

[2019-03-11 21:47] williamdes commented on #14526
@kartik1000 I do not think it has a top priority :)

[2019-03-11 21:52] williamdes commented on #14995
@dcolter I understand ;) ;)
You broke unit tests, see: https://travis-ci.org/phpmyadmin/sql-parser/jobs/504924214
Maybe there is a better fix that does not break anything, maybe @devenbansod has an idea ?

[2019-03-11 22:05] dcolter commented on #14995
@williamdes @devenbansod  - Since submitting, I've noticed that simulated queries without an ORDER BY clause work just fine with the release version.  Add the ORDER BY clause and the simulated SELECT query breaks.

I don't have a more complicated query to test.

Are you certain the unit test is correct??

Looking at the 1st failure in the Travis-CI you sent above:

    1) PhpMyAdmin\SqlParser\Test

[2019-03-11 22:38] apoorvkhare07 commented on #14991
Hey @williamdes, for the second issue reported `Uncaught TypeError: svg.on is not a function`, the issue might be that `svg` is not valid jQuery function unless some plugin is used. Here though we have used a plugin, the error may be coming up in cases when the plugin is not able to be loaded properly.

For this we might use a svg image of the same circle image and load it when required. something

[2019-03-11 22:39] williamdes commented on #14991
@apoorvkhare07 Thank you for the research !, can you fix this issue ?

[2019-03-11 22:43] apoorvkhare07 commented on #14991
Ya sure, Will do that. Should I open the Pull request against `QA_4_8` ?

[2019-03-11 22:47] apoorvkhare07 commented on #15012
@williamdes I tried with `SET GLOBAL lc_messages = 'ru_RU';`
Here are the results
![Screenshot from 2019-03-13 04-07-11](https://user-images.githubusercontent.com/26320019/54163068-c3e9f000-447d-11e9-9c37-2a12b458e0c8.png)
![Screenshot from 2019-03-13 04-07-14](https://user-images.githubusercontent.com/26320019/54163076-c5b3b380-447d-11e9-8149-6f21411ad10b.png)

[2019-03-11 22:54] williamdes commented on #15012
@apoorvkhare07 So, we have the same results, do you agree now that this is a phpMyAdmin issue ?
If not why ? (code sample ?)
Thank you for helping !

[2019-03-11 22:55] williamdes commented on #14991
@apoorvkhare07 Yes, please, against `QA_4_8` :)

[2019-03-11 23:06] apoorvkhare07 commented on #15012
@williamdes It seems like a phpmyadmin issue. I would work on it and let you know when its done.
Thankyou.

[2019-03-11 23:32] williamdes commented on #15012
@apoorvkhare07 You can work on this one :)

[2019-03-12 00:02] apoorvkhare07 commented on #15012
@williamdes I have checked the output of `$mysqli` variable just after it calls `mysqli_real_connect` which is the most initial point of contact with the sql database. And it has the value wrong then itself.
![Screenshot from 2019-03-13 05-19-01](https://user-images.githubusercontent.com/26320019/54165728-f7317c80-4487-11e9-979f-1db4f7edaf21.png)

[2019-03-12 01:23] wwycheuk opened #15015 "Suspected typo"
### Describe the bug

Found suspected typo while doing translation

[2019-03-12 01:25] wwycheuk commented on #15015
Please see the attached pictures:
For picture 1: Should there be a "\" in the text string, just like that in picture 2?
For picture 3: Should it be "length" instead of "lenght"?

![phpmyadmin-typo1](https://user-images.githubusercontent.com/9688953/54168227-7d5dbb00-44a8-11e9-96e9-75af1187ac6a.png)
![phpmyadmin-typo2](https://user-images.githubusercontent.com/9688953/54168231-80f14200-44a8-11e9-90

[2019-03-12 01:51] ibennetch commented on #15015
You're correct about both of these. I'll fix them soon. Thank you for reporting!

[2019-03-12 11:49] apoorvkhare07 commented on #15012
@williamdes seems like the message is getting curropted before getting into phpmyadmin.
So, I think either we correct/render the message explicitly when language is not English or you have some alternate way to correct it ?

[2019-03-12 12:12] williamdes commented on #15012
@apoorvkhare07 Can you please try another language than `php` to understand if they are corrupted by the php mysql driver ?

[2019-03-12 13:29] apoorvkhare07 commented on #15012
Ya sure, will check that.

[2019-03-12 13:48] rtgoodwin opened #15016 "Twig 2.7.0 breaks TokenParserInterface"
### Describe the bug

(Hit enter too soon)
Apparently Twig 2.7 breaks many sites; I learned about it with Craft CMS this morning, as I was randomly installing phpMyAdmin at the same time. More info:
https://github.com/craftcms/cms/issues/3983

### To Reproduce

Steps to reproduce the behavior:
1. Install pma with composer and load site.
2. Observe it fails with an error about Twig as seen in linke

[2019-03-12 14:51] rtgoodwin commented on #15016
Twig reference: https://github.com/twigphp/Twig/issues/2886

[2019-03-12 15:42] devenbansod commented on #14995
@dcolter I'm slightly short on time right now; I will try to take a look at this (and also your PR to sql-parser) over the weekend.

cc: @williamdes

[2019-03-12 15:51] stof commented on #15016
Fix has been released in Twig 2.7.1

[2019-03-12 16:23] rtgoodwin commented on #15016
Confirmed with `composer require twig/twig:^2.7.1` (and 2.7.1 installed). Should this be closed, or left open to address the namespacing changes Twig wants to make that they temporarily patched?

[2019-03-12 16:43] stof commented on #15016
Well, non-namespaced classes will keep working in 1.x and 2.x. But they will be removed entirely from Twig 3.x later this year.

[2019-03-12 17:32] devenbansod commented on #14995
Actually, I did find some time to look at this. I've made a PR at  https://github.com/phpmyadmin/sql-parser/pull/233 to hopefully fix this.

[2019-03-12 17:39] gmanon commented on #14410
I got this error today:
-------------------------------------------------------
    Server: Localhost via UNIX socket
    Server type: MySQL
    Server version: 5.7.25-0ubuntu0.18.04.2 - (Ubuntu)
    Protocol version: 10

Web server

    Apache/2.4.29 (Ubuntu)
    Database client version: libmysql - mysqlnd 5.0.12-dev - 20150407 -
    PHP version: 7.2.15-0
   ubuntu0.18.04.1
----------------------

[2019-03-12 17:54] ibennetch commented on #14410
@gmanon Unfortunately, the version of phpMyAdmin that's packaged with Ubuntu 18.04 (phpMyAdmin 4.6.6) is no longer maintained by us. I believe that version of Ubuntu has MySQL 5.7 or MariaDB 10.1 and PHP 7.2, both of which meet the requirements for the current phpMyAdmin release.

The Ubuntu package folks are unlikely to backport this fix, so I suggest removing the Ubuntu package and [installing y

[2019-03-12 17:57] rtgoodwin commented on #15016
Ok going to close this then; it was more for awareness anyway so it will be archived at least. Thanks!

[2019-03-12 17:57] ibennetch commented on #15016
I think we should keep this open for now and tweak the requirements in composer.json.

Thanks for the reports and information, folks!

[2019-03-12 17:58] #14995 closed

[2019-03-12 19:38] ndom91 opened #15017 "Cannot activate 2FA on 5.0.0-dev"
### Describe the bug

In **settings** -> **two-factor authentication** it still tells me all three dependencies are missing although I have installed them. I have tried clearing my cache as well as restarting nginx, that unfortunately made no difference.

### To Reproduce

This is from a fresh upgrade from 4.8.1.

I downloaded the latest 5.0.0-dev tarball from the homepage, extracted it, copied my

[2019-03-12 20:17] mauriciofauth commented on #15016
I don't think it is necessary to change composer.json. Twig 2.7.1 was released shortly after 2.7.0, so everyone updating now will get the fix.

[2019-03-12 22:26] ibennetch commented on #15016
Thanks @mauriciofauth. I'll close this, then.

[2019-03-12 22:26] #15016 closed

[2019-03-12 22:52] ibennetch commented on #15017
Confirmed, the daily build script seems to be skipping packages `pragmarx/google2fa-qrcode`, `bacon/bacon-qr-code`, and `samyoul/u2f-php-server`

[2019-03-12 23:01] apoorvkhare07 commented on #15012
Hey @williamdes, I tried the same in python and was getting the correct error message.
I think, now we can conclude the issue is with the php mysql driver.

![Screenshot from 2019-03-14 04-20-18](https://user-images.githubusercontent.com/26320019/54241950-c8c7a600-4548-11e9-92ee-60832825f956.png)

[2019-03-13 00:04] ibennetch commented on #15017
This will take some further research; the build works correctly on my local machine with PHP 7.3.3.

[2019-03-13 06:27] williamdes commented on #15012
@apoorvkhare07 Thank you for the investigation and your patience !
I will try to find the bug on the php reporting system and search for patches

I do not know is it is worth to have a fix for the php driver..

[2019-03-13 07:18] ndom91 commented on #15017
I've tried to manually install all three packages though and its still not recognized. Using composer 1.8.4 and PHP 7.2.16 on my CentOS6 box

[2019-03-13 07:25] staabm opened #15018 "Extract mysql variable/config recommendations/check into a separate package"
Phpmyadmin has a nice view on mysql settings including checks when runtime-variables indicate a config problem (too small buffers or similar).

We would love to re-use this phpmyadmin mysql related knowledge to bring this recommendations to users of our open source cms.

Would it be possible to factor out the „recommendation-engine“ into a separate/standalone composer package, too ease re-use?

[2019-03-13 08:42] ndom91 commented on #15017
Unfortunately i had to downgrade back to 7.0 because another critical application on this server was still running on an older version of Zend, so I wont be able to help debug any further.

[2019-03-13 11:08] fjeddy commented on #12485
Shouldn't be closed, the blowfish generated by `setup` is giving this error by default.

[2019-03-13 13:48] Alain-Chappuis commented on #15004
Salut William,
tu as oublié de regarder mon problème?
Peux-tu me dire ce qu'il en est?

Alain

[2019-03-13 16:37] aliber4079 opened #15019 "SQL typeahead shows [object object] sometimes"
Before I type a description and replicate steps, is there an already existing issue?

[2019-03-13 17:08] williamdes commented on #15004
Salut Alain,
J'ai regardé et essayé Xampp et Wampp sans problème..
Peux tu coller (dé-zippé) https://files.phpmyadmin.net/snapshots/phpMyAdmin-4.8+snapshot-all-languages.zip dans ton répertoire `htdocs` de xampp puis y acccéder ?

[2019-03-13 17:09] williamdes commented on #15019
Duplicate of #14475

[2019-03-13 17:10] williamdes commented on #15019
@aliber4079 Yes, see #14475
You can post some replicate steps if they are different from those on #14475 :)

[2019-03-13 17:11] #15019 closed

[2019-03-13 17:12] williamdes commented on #12485
@fjeddy Witch version of phpMyAdmin ?

[2019-03-13 17:17] Alain-Chappuis commented on #15004
J'ai installé cet aprèm déjà la toute dernière version et j'ai toujours le même problème.
Voici en image:

![phpMA](https://user-images.githubusercontent.com/48139483/54299897-1c270c00-45bc-11e9-842b-ffd7261a88cc.jpg)

Merci par avance pour ton aide.
En revanche la dernière version corrige le lapstime!!!

Alain

[2019-03-13 17:22] fjeddy commented on #12485
@williamdes `phpMyAdmin-4.8.5-english.zip`

[2019-03-13 17:35] williamdes commented on #15004
As tu une réécriture d'URL ?

[2019-03-13 17:41] Alain-Chappuis commented on #15004
Non pas du tout!

Alain

[2019-03-13 18:23] williamdes commented on #15004
@Alain-Chappuis J'ai trouvé !
[code]

Peux tu me trouver la valeur de ta variable `arg_separator.input`

# The issue
Set `arg_separator.input` to `;`
Browse or set url to have `;` instead of `&` and the use pagination.

[2019-03-13 18:30] williamdes commented on #14311
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Undefined index: dbi
 Exception Type |php
 phpMyAdmin version |4.8.3
 Incident count | 2730
 Link | [Report#52177](https://reports.phpmyadmin.net/reports/view/52177)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-13 18:38] #14311 closed

[2019-03-13 19:01] williamdes commented on #14312
@mauriciofauth Can you please fix this one ?, I would add an `if (isset($GLOBALS['dbi']))` to all the contents of `libraries/check_user_privileges.inc.php` but I am not sure this is a good idea..

[2019-03-13 19:11] williamdes commented on #12485
@fjeddy Can some examples of `blowfish_secret` that throw the error ?

And send the output of the following script ?
[code]

[2019-03-13 19:59] Alain-Chappuis commented on #15004
Donc avec phpinfo: CORE

arg_separator.input | &; | &;

arg_separator.output | & | &

Donc je dois voir dans php.ini ????

[2019-03-13 20:12] Alain-Chappuis commented on #15004
J'ai fait la modif mais le problème c'est que ça bloque phpMyAdmin, il tourne en rond maintenant!

[2019-03-13 20:18] Alain-Chappuis commented on #15004
Voici l'incidence que cela fait:
![phpMA2](https://user-images.githubusercontent.com/48139483/54311671-649ef380-45d5-11e9-990b-1db70284a3f1.jpg)

Un poil bizarre hein...

[2019-03-13 20:24] Alain-Chappuis commented on #15004
; List of separator(s) used by PHP to parse input URLs into variables.
; PHP's default setting is "&".
; NOTE: Every character in this directive is considered as separator!
; http://php.net/arg-separator.input
; Example:
arg_separator.input = "&"

Bingo ça joue! merci pour l'aide William!

Tu peux fermer le message!

Alain

[2019-03-14 03:03] jonjie0317 commented on #15001
@ibennetch Any updates?

[2019-03-14 08:14] #15004 closed

[2019-03-14 10:24] nu111 opened #15020 ""Goto Anything" navigation like Sublime Text"
I would like to access databases or tables with a navigation system like the _Goto Anything_ <kbd>CTRL + P</kbd> of [Sublime Text](https://www.sublimetext.com).

[2019-03-14 20:43] #9419 closed

[2019-03-14 20:48] williamdes commented on #11949
This Issue is no longer associated with [Report#16725](https://reports.phpmyadmin.net/reports/view/16725)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-14 20:48] williamdes commented on #11949
Param | Value
 -----------|--------------------
 Error Type | Error
 Error Message |Syntax error, unrecognized expression: data
 Exception Type |js
 phpMyAdmin version |4.5.0.1
 Incident count | 210
 Link | [Report#16725](https://reports.phpmyadmin.net/reports/view/16725)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-14 20:50] #11949 closed

[2019-03-14 20:53] williamdes commented on #12140
@docljn Closing, too old.
Comment if It should be re-created using new instructions.

[2019-03-14 20:53] #12140 closed

[2019-03-14 20:58] williamdes commented on #12156
Reproduced on demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/master/)
- [`4.8.x`](https://demo.phpmyadmin.net/QA_4_8/)

[code]

[2019-03-14 21:08] williamdes commented on #12392
Versions have been released of https://github.com/tecnickcom/tcpdf

[2019-03-14 21:11] williamdes commented on #12668
This issue does not exist anymore.

[2019-03-14 21:11] #12668 closed

[2019-03-14 21:14] williamdes commented on #12731
Confirmed.

[2019-03-14 21:19] williamdes commented on #12843
Solved.

[2019-03-14 21:19] #12843 closed

[2019-03-14 21:22] williamdes commented on #12856
@Konstantinos-Sk Closing, could not reproduce
Comment if still an issue :)

[2019-03-14 21:22] #12856 closed

[2019-03-14 21:51] ibennetch commented on #15001
Thanks for providing the additional information. I was able to determine that this was removed with commit 1fb2887a2ad11ab4b030bc6cf427a75fa0384d0e for the release of 4.8.0.

I'm not certain, but I think the intention with that commit was to maintain consistency; I think there's no reason we can't incorporate some more of the cookie settings here.

[2019-03-14 23:35] #14991 closed

[2019-03-15 08:42] Rob75 opened #15023 "How to change my database from old to new in one run"
I want te rename my URL in the database I like to do this in one run example
From 'http://www.oldurl' to 'http://www.newurl');
I google trough the internet and it always use / trough one column.
QST Can I replace old en new name trough all column automatically?
Some body have a advice?
Thx Rob75 Poland.

[2019-03-15 10:26] svaningelgem commented on #14773
I could reproduce this on the current [4.8 version](https://demo.phpmyadmin.net/QA_4_8/):

Reproduction steps:
1. go to the url & log on
2. click on the SQL tab on top (don't select anything else)
3. enter the query: "select * from acid.authors;" (hopefully it still exists when you check it ;-))
4. run it
5. it will show the table with the entries
6. click on the "export" tab on top.
7. here it sa

[2019-03-15 14:28] kunalvishnoi opened #15024 "Bootstrap button class missing"
Bootstrap **btn btn-primary** class should be used in **APPLY** button as old class **ui-button** is used and **btn btn-secondary** class should be used in **CANCEL** button in **Navigation Panel setting modal**.

**Current View**

![php](https://user-images.githubusercontent.com/24695316/54437645-16b3f800-475b-11e9-8901-736f2299ddcb.jpg)

**Future View**
![php2](https://user-images.githubusercont

[2019-03-15 14:29] kunalvishnoi commented on #15024
After shifting phpMyAdmin to bootstrap-4 all buttons should have a new bootstrap button class like btn btn-primary or btn btn-secondary but Navigation Panel setting modal still have old **ui-button** class ,

[2019-03-15 17:40] #14312 closed

[2019-03-15 20:44] AghaSaad04 commented on #15024
Hey @kunalvishnoi! Can you please review that, because this is not the problem on my side

[2019-03-15 20:47] AghaSaad04 opened #15026 "Reset icon visibility issue"
### Is your feature request related to a problem? Please describe.
I have attached an image below, the problem is that reset icons are not that visible, their styling or color should be changed.

![image](https://user-images.githubusercontent.com/36513474/54460858-98704980-478c-11e9-81ea-93dfb7522b88.png)

### Describe the solution you'd like
Change the styling or color of the icon such that it be

[2019-03-15 21:28] AghaSaad04 opened #15027 "Colon in index.php file"
### Is your feature request related to a problem? Please describe.
I have attached an image below, in which you can see there's no need for a colon.

![image](https://user-images.githubusercontent.com/36513474/54462636-46322700-4792-11e9-88ad-7d6d65e296b8.png)

### Describe the solution you'd like
Remove the colon from the UI, because UI doesn't need that.

### Additional context

- phpMyAdmin ver

[2019-03-15 22:14] AghaSaad04 opened #15029 "Redundant character"
### Is your feature request related to a problem? Please describe.
There is a redundant character in below image that I have attached. Character basically shows that max limit is 25 but if somebody doesn't hover on that and increases the history length still he'll get the error message that "Value must be equal or lower than 25!". So there's no need of that character.

![image](https://user-images

[2019-03-16 01:23] mauriciofauth commented on #15027
@ibennetch I hadn't noticed this issue before changing index.php. Take a look:

https://github.com/phpmyadmin/phpmyadmin/commit/cedfe813b9f972e19f395cfc832a3cf41c349144#diff-202fc9478eaa89de01ed52676e57a89fR37

[2019-03-16 01:25] mauriciofauth commented on #15027
![Screenshot from 2019-03-15 22-24-49](https://user-images.githubusercontent.com/120970/54468992-2b02ef80-4771-11e9-8318-c0a96c3c1133.png)

[2019-03-16 06:24] sijie123 commented on #14987
This issue happens because users are not required to select any particular value within the dropdown list. When PMA sees that nothing has been selected, i.e. $_POST['db_collation'] is not set when the form is POSTed, then it's as good as if a user has just navigated to the page. Hence the response is a new form as shown in the screenshot by @OlafvdSpek.

I will work on a fix for this issue. I prop

[2019-03-16 08:43] kartik1000 commented on #14987
LGTM 👍.Hey @sijie123 I would suggest you to wait for @williamdes 's opinion about this one

[2019-03-16 08:51] apoorvkhare07 commented on #15010
@williamdes I am on it, if no one else is working on this ?

[2019-03-16 09:36] williamdes commented on #14987
I agree!

[2019-03-16 09:39] williamdes commented on #15010
@apoorvkhare07 Great, go ahead !

[2019-03-16 12:28] AghaSaad04 opened #15032 "Export button"
### Is your feature request related to a problem? Please describe.
The problem is that the export button is not in the right place. I have attached the image.

![image](https://user-images.githubusercontent.com/36513474/54475179-2b9e9300-4810-11e9-81ad-ecdc0190bfae.png)

### Describe the solution you'd like
The Export button should be on the right side of the import button and I think this can be

[2019-03-16 13:24] AghaSaad04 opened #15033 "Settings error repeated too many times"
### Describe the bug
Printing error multiple times. I was in settings>features>database, I changed the maximum database number greater than 100 and it showed an error that part is good but before applying the new settings I repeated the process by clicking on "features" and then on the "database" and so on, I got multiple errors

### To Reproduce
Steps to reproduce the behavior:
1. Click on 'setti

[2019-03-16 13:30] apoorvkhare07 commented on #15010
@williamdes Is the demo server [4.8.x](https://demo.phpmyadmin.net/QA_4_8/index.php) continuously in sync with branch `QA_4_8` or its a release of some checkpoint of `QA_4_8` ?

[2019-03-16 13:31] AghaSaad04 opened #15034 "Printing error multiple times when limit exceeds"
### Describe the bug
Printing error thrice. I think it should print once and that would be enough

### To Reproduce

Steps to reproduce the behavior:

1. Click on 'settings'
2. Click on 'features'
3. Click on 'database'
4. Change the maximum tables number greater than 250
5. It'll print the error thrice.

### Expected behavior

It should print the error once.

### Screenshots

![image](https://use

[2019-03-16 13:36] williamdes commented on #15010
@apoorvkhare07 The demo server [4.8.x](https://demo.phpmyadmin.net/QA_4_8/index.php) is in sync with commits on `QA_4_8` :)
So you can open PRs against `QA_4_8` since it is the branch for next release

[2019-03-16 13:55] AghaSaad04 opened #15035 "Input value change"
### Describe the bug
I have given 9999999999.. values in input fields of char textarea columns, char textarea rows, textarea rows, textarea columns as there wasn't any limit mentioned for those fields. Then I clicked on apply and those 9999999999.. changes to 21474.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'features'
3. Click on 'text fields'
5. Change th

[2019-03-16 14:08] AghaSaad04 opened #15036 "Input fields are missing checks."
### Describe the bug
Some input fields are allowing negative numbers. So there should be a check and those fields should not allow negative numbers.

### To Reproduce

Steps to reproduce the behavior:
1. Click on 'settings'
2. Click on 'features'
3. Click on 'text fields'
4. Change the Minimum size for input field to a negative number
5. Change the Maximum size for input field to a negative number

[2019-03-16 14:27] #14053 closed

[2019-03-16 14:31] AghaSaad04 opened #15037 "Reset button on Settings > Features does not reset error messages"
### Describe the bug
I have given some negative number as an input in multiple fields and those fields show warning which says that "Not a positive number". Then I clicked on the reset button those negative values got reset but it is still showing the warnings.

### To Reproduce

Steps to reproduce the behavior:

2. Click on 'settings'
3. Click on 'features'
4. Click on 'text fields'
5. Change the

[2019-03-16 15:32] kunalvishnoi commented on #15024
@AghaSaad04 please check the Navigation Panel setting modal by clicking top left setting symbol and inspect the button code.
I found **ui-button ui-corner-all ui-widget** class instead of any bootstrap-4 class.

[2019-03-16 16:48] apoorvkhare07 commented on #15010
@williamdes If server `4.8.x` is continuously in sync with the `QA_4_8` branch. Why is there some difference in the server and my local phpmyadmin version.

eg: Relational view button is not coming for all databases and only for those there is empty modal on Preview sql.

This is on the 4.8 server :
<img width="1440" alt="Screen Shot 2019-03-16 at 10 10 00 PM" src="https://user-images.githubuserco

[2019-03-16 17:14] williamdes commented on #15010
@apoorvkhare07 I do not know there is some reason but, for this issue it it quite typical to have those differences..
Mostly because of infrastructure configurations IMHO

Does this answer your question ?

[2019-03-16 18:30] AghaSaad04 opened #15038 "Console height allows negative number"
### Describe the bug
I have given a large negative number as a console height it has not given an error or warning but converted that number to some other number when I clicked the apply button.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'features'
3. Click on  'console'
4. Give a negative large number as an input for console height
5. Click on the apply bu

[2019-03-16 18:58] AghaSaad04 opened #15039 "Error when I click "Go back page button""
### Describe the bug
I am in settings>navigation panel> navigation panel. I clicks on phpMyAdmin logo, which redirects me to the index page. Then I clicks on 'go back page button' of the browser. Then it gives an error.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'navigation panel'
3. Click on 'navigation panel'
4. Click on phpmyadmin logo
5. Click on go bac

[2019-03-16 19:33] williamdes commented on #14811
@svaningelgem I can not reproduce this issue, can you please help me ?
Can you send your configuration please ?
Can you send the users and their grants ?

[2019-03-16 19:34] #14534 closed

[2019-03-16 19:36] williamdes commented on #14751
@Nemzag Can you please try on latest version to give us an update ?

[2019-03-16 19:38] Nemzag commented on #14751
I use PhpMyAdmin, in W.A.M.P., if I reinstall it, I need to export & import all database, reinstall PostGreSQL and it's quite a job, I don't know if the last W.A.M.P. use your last version ?

[2019-03-16 19:44] svaningelgem commented on #14811
@williamdes : I think it's better to ask @Nitromethane (see previous comment: https://github.com/phpmyadmin/phpmyadmin/issues/14811#issuecomment-449845822)

He had a very good description of the bug.

My tables are quite often "in use" because of all the different processes running on the server, so it's very feasible what (s)he said.

[2019-03-16 19:45] williamdes commented on #14751
@Nemzag You do not need to "reinstall" phpMyAdmin, in fact you can download latest version on our website at https://www.phpmyadmin.net/downloads/ or a snapshot (4.8+ snapshot) for the next version an unzip it in the `c:\wamp\www` or the directory used for `www` files and then access phpMyAdmin

If you have any issues with setup I can help you :)

[2019-03-16 19:47] Nemzag commented on #14751
That's very kind, you are are very nice man !
Ok I will try what you suggest…

[2019-03-16 19:48] williamdes commented on #14811
Thank you for the response @svaningelgem
Maybe @Nitromethane you can help me reproduce the issue :)

[2019-03-16 19:53] Nemzag commented on #14751
The page say ;
"La configuration interdit une connexion sans mot de passe (voir AllowNoPassword)"
I don't know what is the login or password… I tried root but it not vorg !!!

[2019-03-16 20:00] williamdes commented on #14751
@Nemzag Add the following file `config.inc.php` with
[code]

[2019-03-16 20:01] williamdes commented on #14751
@Nemzag If it does not work copy the file `config.inc.php` from the phpMyAdmin installed by WAMP and paste it into the new phpMyAdmin

[2019-03-16 20:02] Nemzag commented on #14751
Ok

[2019-03-16 20:04] Nemzag commented on #14751
Shyper !!! It vorg perfectly…
You corrected the bug,
I was not the only one who had this bug in my web‑dev class,
my teacher who installed the same version of W.A.M.P. than me, had the same bug.
Do you know if W.A.M.P. made a new version using this release ?

[2019-03-16 20:05] Nemzag commented on #14751
Ħêktangθh you !

[2019-03-16 20:12] williamdes commented on #14751
I do now know, but the WAMP website indicates that the latest is `4.8.4`

Thank you very much for reporting !
Do not hesitate to report issues and tell your web‑dev classmates to do so ;)

Closing since this issue is solved :)

[2019-03-16 20:12] #14751 closed

[2019-03-16 20:21] #14826 closed

[2019-03-16 20:27] apoorvkhare07 commented on #15010
@williamdes Not really. But I seem to have found the solution to this. It is giving empty modal because the `previewSQL` is being called from here
`if (isset($_POST['destination_foreign_db'])) {
            $this->updateForForeignKeysAction();
        }`
and in some cases `destination_foreign_db` param is not set in the request so the modal is coming empty.

I think instead of sending empty `desti

[2019-03-17 05:14] svaningelgem commented on #14811
@williamdes : I thought about reproducing this on the demo version available, but it's just not possible. As @Nitromethane stated, you need to "lock tables <table> write" in order to make it work. But the locking session immediately ends on the web interface (as the script stops & all locks are cleared at the end of the session).

So I tried his steps:
1. Log on to the MySQL server: "mysql coffee"

[2019-03-17 08:04] williamdes commented on #14931
@Gaurav-Punjabi are you still on this issue?

[2019-03-17 09:19] apoorvkhare07 commented on #15037
@williamdes Hi, I think I have found the solution. Should I make a PR for this ?

[2019-03-17 10:52] williamdes commented on #15037
Hi @apoorvkhare07 , yes please :)

[2019-03-17 12:30] Bournvita1998 commented on #15033
I think it's not that error will be printed 3 times. The number of errors will keep increasing if you follow these steps.

**Steps:**
1. Click on 'features'
2. Click on 'database'
3. Change the maximum database number greater than 100
4. Repeat from step 1 i.e. click on 'features'

Here is a screenshot for the same(tried on demo servers):
![Selection_019](https://user-images.githubusercontent.com/

[2019-03-17 12:50] AghaSaad04 commented on #15033
Hi, @Bournvita1998. Yeah, you are right. Thanks for informing :)

[2019-03-17 12:53] AghaSaad04 commented on #15033
Sir @williamdes, I don't know if I should edit my issue now? or not?

[2019-03-17 12:57] AghaSaad04 commented on #15034
These errors keep increasing if we repeat steps 2 - 4

[2019-03-17 13:06] williamdes commented on #15033
yes, you can

[2019-03-17 13:09] AghaSaad04 opened #15041 "Logo Link URL"
### Describe the bug
I changed the logo link URL to github.com and applied it. But when I clicked on the logo it redirected to index.php

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'navigation panel'
3. Click on 'navigation panel'
4. Change the logo link URL to some other
5. Click on logo.
6. It will redirect to index.php

### Expected behavior

It should ha

[2019-03-17 13:33] AghaSaad04 opened #15042 "phpMyAdmin logo"
### Is your feature request related to a problem? Please describe.

I think display logo thing should work even without actually applying the settings because then the user will come to know about how the layout will look without the logo.

### Describe the solution you'd like
Add the above functionality

### Additional context

- phpMyAdmin version: 4.8.5

Add any other context or screenshots abo

[2019-03-17 13:50] AghaSaad04 opened #15043 "Multiple printing + Checks missing"
### Describe the bug

I am in settings>navigation panel> navigation panel. Some inputs fields are printing errors multiple times and some input fields are missing checks and don't print any error.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'navigation panel'
3. Click on 'navigation panel'
4. Give negative numbers in the input fields
5. Some will print error

[2019-03-17 14:26] AghaSaad04 opened #15044 "Apply button doesnt work for empty fields"
### Describe the bug

I remove default values from input fields and apply new settings. I click on apply button but unfortunately apply button works like a reset button and changes all the input field values back to the default values.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'settings'
2. Click on 'Main panel'
3. Click on 'Table structure'
4. Remove all the input values
5. App

[2019-03-17 14:53] williamdes commented on #14475
Git bisect found that 393204ccd0a0c1e0083782fa73a3803150a6415b is the bad commit

[2019-03-17 16:32] sagarpandya1999 commented on #15041
I want to contribute in GSoC 2019 in your organization.
@williamdes, can you please assign me this bug?

[2019-03-17 16:57] sagarpandya1999 commented on #15041
I want to contribute in GSoC 2019.
@williamdes, can you assign me this bug?

[2019-03-17 18:49] Bournvita1998 commented on #15032
Is this issue still there? I went to Setting --> Features (as shown in the given screenshot). For me, changing the size of the browser(zoom in/out) is working fine to get them(import and export buttons) on the same line.

Have a look at these images but with different browser sizes(different zoom in/out %ages).

1. At 90%(based on my screen)

![Selection_021](https://user-images.githubusercontent.

[2019-03-17 19:46] AghaSaad04 opened #15046 "Panel hides on refreshing the browser"
### Describe the bug
Open inspect element and move the dock to right, refresh the page and side panel gets to hide.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'any tab'
2. Open inspect element and dock to right
3. Refresh the page
4. The side panel will get hidden

### Expected behavior

It should have not hidden the side panel.

### Screenshots
Before refresh:

![image](https://

[2019-03-17 21:25] williamdes commented on #15041
I can not assign you technically but you are the one to try to solve it now :)
Keep us updated on your progress

[2019-03-17 22:28] lem9 commented on #15046
Cannot reproduce this problem (tested in Firefox on Linux). When I refresh the page, the inspector is still there on the right side and phpMyAdmin's left side panel is still there. In your steps, did you forget to mention closing the inspector? How did you refresh the page?

[2019-03-18 07:37] Rob75 commented on #15023
Better Search Replace. A small plugin for running a search/replace on your WordPress database.
https://bettersearchreplace.com/
Excellent problem solved
Thx Rob75 Poland.

[2019-03-18 09:12] AghaSaad04 commented on #15046
Hi Sir, @lem9. I have refreshed the page without closing the inspector.

[2019-03-18 10:02] lem9 commented on #15046
@AghaSaad04 But in your last screenshot the inspector is not visible, do you know why?

[2019-03-18 11:06] Bournvita1998 commented on #15026
Working on it

[2019-03-18 12:11] AghaSaad04 commented on #15046
@lem9  after refreshing the page I closed the Inspector. Even if I don't close the inspector, the side panel still gets hide

![image](https://user-images.githubusercontent.com/36513474/54529126-c75f0900-49a0-11e9-9d4a-687691470ecd.png)

[2019-03-18 12:36] lem9 commented on #15046
@AghaSaad04 Are you sure you did not click on the small arrow near the server name, which can be used to hide the panel?

[2019-03-18 12:40] AghaSaad04 commented on #15046
Yes Sir I am sure, I didn't click any thing

[2019-03-18 12:45] apoorvkhare07 commented on #15032
@williamdes I dont think this is an issue. This is because of the responsiveness of the website, when the screen width is not enough to accommodate all buttons in one line it keeps some of the buttons in next line.

eg:
<img width="1247" alt="Screen Shot 2019-03-18 at 6 12 28 PM" src="https://user-images.githubusercontent.com/26320019/54530773-ae0e8a80-49a9-11e9-873f-73b0de070e50.png">

In case we

[2019-03-18 12:53] apoorvkhare07 commented on #15036
@williamdes On it.

[2019-03-18 12:54] apoorvkhare07 commented on #15043
I will like to look into this one.

[2019-03-18 13:57] slim16165 commented on #13558
Hi Nijel,
Thanks in advance for your help. I'm going to try if this solve my problem.

I also apologize in advance because I'm a [diagnosed OCD] so please don't hate me because being perfectionist is in my personality.

If PHPMyAdmin offer a feature which is a label / an alias for a server name. Which is visible from the UI and it calls if "verbose". We **should** consider it a bug. At least if th

[2019-03-18 14:14] MrThanlon commented on #15042
I think it's unnecessary, especially when the network is slow(considering RTT).

[2019-03-18 15:18] MrThanlon commented on #15042
I am going to contribute in GSoC 2019.
@williamdes, can you assign me this?
(BTW, how to add JavaScript to page? Which file I need to modify?

[2019-03-18 15:29] MrThanlon commented on #15041
It seems to must be full URL, just like that

[2019-03-18 16:59] sagarpandya1999 commented on #15041
@williamdes, i found the same as @MrThanlon.
If you provide any url without http protocol, it just redirect you at index.php (Home Page).
so, i think this is not a bug.
or you want any other change to do please tell me.

[2019-03-18 17:22] mauriciofauth commented on #15042
@MrThanlon It's not possible to assign issues to non-members. But you can open a pull request even if the issue is not assigned to you.

[2019-03-18 22:00] williamdes commented on #15023
Closing this issue since this is not a phpmyadmin issue or an enhancement request, and you solved it :)

[2019-03-18 22:00] #15023 closed

[2019-03-19 06:55] murex971 commented on #15032
@AghaSaad04 @williamdes
![image](https://user-images.githubusercontent.com/46920259/54586044-d77af500-4a41-11e9-8c20-44e94bc58004.png)
This ain't any issue. It's just the responsive behaviour of page which wraps the buttons to next line as the size of browser window decreases.
This feature provides user a better view of all the features(buttons) irrespective of window size.
So I don't think it req

[2019-03-19 08:48] aektos commented on #14801
Hi there Can I work too on this? First on db_datadict.php ?

[2019-03-19 09:03] aektos commented on #14801
Hi there can I work too on this? Which file can I pick?

[2019-03-19 10:38] AghaSaad04 commented on #15032
@apoorvkhare07  @murex971 that's what I am saying, as this website needs enhancement and needs to be in bootstrap for a better layout.

[2019-03-19 10:50] AghaSaad04 commented on #15032
When I click on "manage your settings" all the tabs are in one line:

![image](https://user-images.githubusercontent.com/36513474/54599873-66e1d180-4a5d-11e9-9444-8ed14942f691.png)

When I click on "features" export button moves to the second line: Though there's not a single change in those tabs:

![image](https://user-images.githubusercontent.com/36513474/54599994-9d1f5100-4a5d-11e9-8b4c-079a64a

[2019-03-19 11:49] tarunk04 commented on #15046
Hi @AghaSaad04, this is not a issue because while using inspect element as docked to right reduces the window size which on reload collapse the side pane due to the responsiveness of UI.

[2019-03-19 12:26] AghaSaad04 commented on #15046
Hi @tarunk04, then the side panel should've collapsed when I open inspect element without reloading due to the responsiveness of UI.

[2019-03-19 12:38] MrThanlon commented on #15042
#15051 @williamdes @mauriciofauth  I have solve it.

[2019-03-19 12:44] MrThanlon commented on #15046
Well, I think it's not the kind of **RESPONSIVENESS** of UI, it only respond when refreshing the browser instead of resizing the browser window?

[2019-03-19 13:58] AghaSaad04 commented on #15046
@MrThanlon That's what I am saying it only responds when I reload the browser. Isn't it a bug then?

[2019-03-19 14:05] ibennetch commented on #15046
I believe the responsive interface is only checked when the page first loads, so if the browser window is resized, the navigation pane isn't hidden automatically (until you reload or log out and log back in). Likewise, after the navigation pane is hidden, it's not automatically shown again until the page is refreshed or you've logged out and back in again.

Is that consistent with the behavior you

[2019-03-19 14:17] MrThanlon commented on #15042
#15052 solve it.

[2019-03-19 14:30] ibennetch commented on #15018
That's an interesting question. I think it's unlikely that we'd be willing to do the work for it, at least in the near future, because of how the code is integrated, but it's likely that we'd accept a pull request with such changes (and take ownership/responsibility for the new package).

[2019-03-19 14:31] ibennetch commented on #15027
At least as far back as 4.5.0, the colon is on the right side of the help icon.

Now in master, it's on the left side, which is where it belongs.

We should keep the colon for consistency with the rest of the interface. I think we should move the help icon to the right side of the dropdown. We also should add a colon to the Language item and move the icon for that as well.

[2019-03-19 14:33] ibennetch commented on #15029
I find this change reasonable. A pull request for it should target master.

[2019-03-19 14:39] ibennetch commented on #15034
Is this the same issue as #15033 ?

[2019-03-19 14:40] ibennetch commented on #15035
Related to: #15038.

[2019-03-19 14:41] ibennetch commented on #15038
Related to: #15035.

[2019-03-19 14:51] ibennetch commented on #15041
I agree with @sagarpandya1999, this seems to be working as expected for external sites. By providing a protocol, phpMyAdmin can know how to redirect to an external site, otherwise it seems you want a local file called github.com. phpMyAdmin can't know what you intend here, so this seems to be the correct behavior to me.

However, I can't get this to accept any local file. So for a web host who wis

[2019-03-19 15:10] tarunk04 commented on #15046
Sir @ibennetch, I agree with you. @AghaSaad04 u can try one thing reduce the width of your inspect panel and then try to reload. Side pane will not collapse then.

[2019-03-19 15:27] mauriciofauth commented on #14801
@aektos Yes, anyone can work on this. :smile:

[2019-03-19 16:36] AghaSaad04 commented on #15027
Yes Sir @ibennetch, that's what I was thinking, there should be a colon after language

[2019-03-19 16:37] aektos commented on #14801
@mauriciofauth Cool :) Can I pick prefs_manage.php?

[2019-03-19 16:43] AghaSaad04 commented on #15034
Yes, Sir @ibennetch, this is a similar issue as #15033 but for a different attribute (Maximum tables).

[2019-03-19 17:11] murex971 commented on #15032
@AghaSaad04
could you be more clear about the problem you want to convey.
Since I can't see any . The appearance of tabs in single or multiple lines totally depends upon size of browser window . If size is enough , and you click on 'features' then all tabs are displayed in a single line.
/home/nupur/Pictures/pic1.png
And if you decrease the size of browser window, and click on 'manage your setting

[2019-03-19 17:13] murex971 commented on #15032
@AghaSaad04
could you be more clear about the problem you want to convey.
Since I can't see any . The appearance of tabs in single or multiple lines totally depends upon size of browser window . If size is enough , and you click on 'features' then all tabs are displayed in a single line.
![pic1](https://user-images.githubusercontent.com/46920259/54626994-6286da00-4a98-11e9-8a99-38404d63286c.png)

[2019-03-19 17:23] AghaSaad04 commented on #15032
@murex971, I have not changed the browser size. When I click on features, the "export"  tab gets to the next line.

[2019-03-19 17:38] lapkritinis opened #15053 "Allow disable SSL globally, not per server"
### Is your feature request related to a problem? Please describe.

There is an option to allow enter hostname:

`$cfg['AllowArbitraryServer'] = true;`
but there is no option to set SSL off globally.
I could only set it via [$cfg['Servers'][$i]['ssl'] = false](url), but my servers config is emtpy;

### Describe the solution you'd like

Introduce something like this:
$cfg['Ssl'] = false;

### Descr

[2019-03-19 18:32] williamdes commented on #14475
This is the bad change
[code]

[2019-03-19 18:34] lem9 commented on #15032
In my case, clicking on Features moves Export on the second menu line, only because the Features page is longer and requires a right vertical scrollbar, taking some screen space away from the menu.

[2019-03-19 19:05] williamdes commented on #14475
See: https://github.com/codemirror/CodeMirror/commit/6041c2280e29e0b62302ca91d657767b23c5a983

See: https://github.com/codemirror/CodeMirror/pull/5348

[2019-03-19 20:47] apoorvkhare07 commented on #15043
@williamdes @AghaSaad04 I think Check Missing on some field and multiple printing of errors should be different issues, as both are completely unrelated.

[2019-03-19 21:08] williamdes commented on #14475
Made PR https://github.com/codemirror/CodeMirror/pull/5819

[2019-03-19 21:27] williamdes commented on #14811
Reproduced successfully when using `LOCK TABLES testtable1 READ;` in my mysql cli

[2019-03-19 21:39] #14811 closed

[2019-03-19 22:07] Bournvita1998 commented on #15044
Will work on this, planning to do basic error handling here.

[2019-03-19 23:38] MrThanlon commented on #15032
@AghaSaad04
Do you mean flex layout?

[2019-03-20 05:36] svaningelgem commented on #14811
Thanks for the fix :+1:

[2019-03-20 05:36] Gaurav-Punjabi commented on #15039
Can I solve this ?

[2019-03-20 14:54] ibennetch commented on #15041
The checkLink function seems to be causing the problem here, I'd say it's being a bit overzealous in this particular instance.

Currently accepted values for this, other than external URLs, are phpMyAdmin pages such as `./sql.php?` or `./db_events.php?`. I just wasn't trying the magic combination of characters around the filename.

I believe this was changed with 31f6d764051 as part of #12479. Tha

[2019-03-20 19:04] #14475 closed

[2019-03-20 19:44] svaningelgem opened #15057 ""enclosed by" is not recognized by the SQL parser"
### Describe the bug

"enclosed by" is not recognized by the SQL parser

### To Reproduce

Steps to reproduce the behavior:
1. Go to SQL window
2. Type for example: SELECT a
into outfile '/tmp/temp.data'
fields terminated by ',' enclosed by '"'
FROM sometable
3. no need to run it
4. See error

### Expected behavior

No error (no red cross at the left side)

### Observed behaviour

Red cross at the

[2019-03-20 20:15] apoorvkhare07 commented on #15038
@ibennetch @williamdes @AghaSaad04  The configuration for validating console height goes like `$cfg_db['Console']['Height'] = 'integer';` in `config.value.php`. Which defines it as a PHP integer value which can have value between  **-2,147,483,648** to **2,147,483,647** only. This is the reason for this issue as well as #15035 .

In order to fix this we can think of a different way of validating t

[2019-03-20 23:21] williamdes commented on #14946
@akkywadhwa Got this issue fixed.

https://github.com/phpmyadmin/phpmyadmin/commit/b5659f09af4ee522f1d805355b3df2fb69e36681

https://github.com/phpmyadmin/phpmyadmin/commit/27f7b7a75fa9421e310b0d1d9e7bc34accb96fb9

[2019-03-20 23:21] #14946 closed

[2019-03-20 23:23] williamdes commented on #14946
Duplicate of #14359

[2019-03-21 00:04] sudoranger opened #15059 ""Server charset" in "Database server" tab showing wrong information."
I'm new here. I got a little confuse so please be kind.

In `/etc/mysql/mariadb.cnf` I changed:

[code]

into:

[code]

and restarted `sudo systemctl restart mariadb`. I also did a Ctrl+F5 refresh on the page but it is still showing the old/wrong information:

Server charset: UTF-8 Unicode (utf8)

Is this information being cache somewhere? When I go to the "Databases" tab, it is showing the correc

[2019-03-21 05:33] bahl24 commented on #15046
Yes, doesn't seem like a bug

[2019-03-21 06:38] #14916 closed

[2019-03-21 15:00] anfegoga18 opened #15060 "No Tabs when enter on phpMyAdmin"
Hi,

I'm having a problem when I open my phpMyAdmin, I have no tabs to make modifications. I'm using WampServer 3.1.7 _x64

Do anyone knows why this is happening?

I attatched a print screen to ilustrate better my problem and system configuration

![Print](https://user-images.githubusercontent.com/43587560/54760560-138f9080-4bcf-11e9-8782-91689063d2d2.jpg)

Thanks for your help

Configurations

Op

[2019-03-21 22:03] lem9 commented on #15032
@AghaSaad04 Any reaction to my comment about the Features page being longer and requiring a vertical scrollbar?

[2019-03-22 00:41] anfegoga18 commented on #15060
Hi,

I found a solution to my problem, changing my default browser from Firefox developer 67.0b3 (64-bits) to Chrome. I don't know why doesn't work with Firefox.

How do I know if I can close the issue? or the problem with Firefox must be solved before?

[2019-03-22 02:15] ibennetch commented on #14769
Aside from the previous suggestions, you can remove your local phpMyAdmin cookies. They start with `pma`. Any cookie-based settings would reset, including the language selection.

[2019-03-22 02:15] #14769 closed

[2019-03-22 02:16] #14952 closed

[2019-03-22 04:44] AghaSaad04 commented on #15032
Yes, Sir @lem9. You are right. If we change margins of the list, we can adjust all tabs in one line

[2019-03-22 06:23] williamdes commented on #15060
@anfegoga18 I will investigate before closing, you can find why this occurs if you want :)

[2019-03-22 07:10] apoorvkhare07 commented on #15038
@williamdes @ibennetch Can you please comment on in what way should I proceed with this ?
Because trying some other way to validate this might be different from the convention used for other fields of same type.
So, please let me know what way is fine for you all.

[2019-03-22 07:21] apoorvkhare07 commented on #15057
@williamdes @svaningelgem I think this issue should be added in sql-parser repository as this issue is with the parser.
The solution is adding parsing for these unimplemented options.
Should I work on this one?

[2019-03-22 09:00] spawnia commented on #14781
Where exactly are themes supposed to go?

I tried both `/www/themes` and `/usr/src/phpmyadmin/themes`, using the `4.8.5` docker image. None were recognized.

[2019-03-22 14:24] zhzhdoai opened #15062 "Administrator Backstage LFI"
http://127.0.0.1/phpadmin/index.php?target=sql.php?/../../../../../../../../etc/passwd

/phpadmin/libraries/classes/Core.php  443
 public static function checkPageValidity(&$page, array $whitelist = [])
'&$page'  does not change  $_REQUEST['target']

In index.php "include $_REQUEST['target'];" will cause LFI

[2019-03-22 14:44] mauriciofauth commented on #15062
Hi, @zhzhdoai. Thank you for your report.

What is the version of phpMyAdmin you are using?

[2019-03-22 14:51] lem9 commented on #15032
@AghaSaad04 So I guess you can close the issue.

[2019-03-22 16:24] williamdes commented on #15057
cc @devenbansod ?

[2019-03-22 18:52] patricknn opened #15063 "Error trying to connect to mysql"
### Describe the bug

I just installed the version phpMyAdmin.noarch 0:4.8.5-1.el7.remi using yum on my Centos 7 server and I'm trying to connect to my mysql server that is in another physical server/different IP

I use PHP 5.6.4 on my server

Error that I receive: mysqli_real_connect(): (HY000/2002): No such file or directory

My config.inc.php is just the line with my host IP

$cfg['Servers'][1]

[2019-03-22 20:20] AghaSaad04 commented on #15063
Hey @patricknn, Can you share some Screenshots to better understand the problem?

[2019-03-22 20:24] patricknn commented on #15063
Like this?

https://imgur.com/a/TYxJBEv

If you need anything else, let me know

[2019-03-22 20:31] AghaSaad04 commented on #15063
@patricknn is there any config.sample.inc.php file in your local repository?

[2019-03-22 20:45] patricknn commented on #15063
No, those are the files inside my libraries folder

advisory_rules.txt
config.default.php
information_schema_relations.inc.php
replication.inc.php
tbl_columns_definition_form.inc.php
vendor_config.php
check_user_privileges.inc.php
config.inc.php
db_table_exists.inc.php
language_stats.inc.php
tbl_common.inc.php
config.values.php
error.inc.php
mult_submits.inc.php
server_common.inc.php
tbl_partition

[2019-03-22 20:50] AghaSaad04 commented on #15063
Okay.
Compare your 'authentication type' thing in config.inc.php with the below one.

![image](https://user-images.githubusercontent.com/36513474/54852198-f2818980-4d0d-11e9-99d0-7cd2504e5a42.png)

[2019-03-22 21:20] patricknn commented on #15063
my mysql server is not in the same phpmyadmin server so I need to change the host parameter to my mysql server IP
also, my root username has a password, so, if I set AllowNoPassword to true will not work.

[2019-03-23 06:42] chiragsharma111 commented on #15063
Hi @patricknn , @AghaSaad04.
Guys, the file 'config.sample.inc.php' is in 'phpMyAdmin' folder.
Try setting the host value = '127.0.0.1' (localhost ip)
Then set the 'AllowNoPassword' = 'false'
![Screenshot (1162)](https://user-images.githubusercontent.com/22794080/54862724-dceb7e80-4d64-11e9-8641-f1b698c3f2f2.png)
You can see the ip of your localhost using cmd> ' ipconfig/all ' (for windows) and if

[2019-03-23 07:23] williamdes commented on #14931
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |mysqli_fetch_fields() expects parameter 1 to be mysqli_result, bool given
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 1
 Link | [Report#56646](https://reports.phpmyadmin.net/reports/view/56646)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.ph

[2019-03-23 07:25] williamdes commented on #14931
Param | Value
 -----------|--------------------
 Error Type | Warning
 Error Message |count(): Parameter must be an array or an object that implements Countable
 Exception Type |php
 phpMyAdmin version |4.8.2
 Incident count | 5
 Link | [Report#51841](https://reports.phpmyadmin.net/reports/view/51841)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.p

[2019-03-23 07:29] williamdes commented on #14931
Param | Value
 -----------|--------------------
 Error Type | Notice
 Error Message |Trying to get property of non-object
 Exception Type |php
 phpMyAdmin version |4.8.5
 Incident count | 77
 Link | [Report#55941](https://reports.phpmyadmin.net/reports/view/55941)

*This comment is posted automatically by phpMyAdmin's [error-reporting-server](https://reports.phpmyadmin.net).*

[2019-03-23 07:58] chiragsharma111 commented on #15046
@AghaSaad04 bro, it isn't seems a bug to me.
Try clicking on the top left 'right arrow' to get back the side panel.

![phpMyAdmin2](https://user-images.githubusercontent.com/22794080/54863510-82a3eb00-4d6f-11e9-9164-11bfc9616d0b.PNG)

[2019-03-23 07:59] zhzhdoai commented on #15062
v4.8.1

[2019-03-23 08:08] #14931 closed

[2019-03-23 08:09] patricknn commented on #15063
@chiragsharma111 there is no config.sample.inc.php at the phpMyAdmin's folder and my host it is not in the same server where phpMyAdmin is installed, so I need to set host to my Mysql server IP.

The error persists.

[2019-03-23 08:11] mohdluqman commented on #15063
@patricknn You can connect to remote MySql connection in PhpMyAdmin in following two ways

1. Create an SSH tunnel to remote server MySql server & Then connect to local port. You have to periodically check the opening of the SSH tunnel.

- `ssh -NL 3307:localhost:3306 root@REMOTE_HOST` //pass this command to phpmyadmin server shell
- `#Edit following lines in config.inc.php`
- `$cfg['Servers'][$i]

[2019-03-23 08:14] apoorvkhare07 commented on #15059
@sudoranger did you try the same in incognito/private window ? As caching might be the issue here.

[2019-03-23 08:31] patricknn commented on #15063
@mohdluqman My Mysql Server is in the same datacenter of the phpMyAdmin server and all the configs are working to connect to this server.

The phpMyAdmin server is also my script server where there is a bunch os PHP scripts which connects to this mysql server. All of my scripts are connecting to my Mysql Server fine.
In my Mysql Server, my Firewall is already configured to accept connections from

[2019-03-23 08:33] williamdes opened #15064 "Add Export SQL option for a raw query"
### Describe the bug

Execute
[code]
Go to export below results
No sql option on export page ..

Similar to #14775

[2019-03-23 08:40] patricknn commented on #15063
I created a PHP file in my server with the example of the mysql_real_connect located in this url: http://php.net/manual/pt_BR/mysqli.real-connect.php

I was able to connect to my mysql server fine.

$link = mysqli_init();
if (!$link) {
    die('mysqli_init failed');
}

if (!mysqli_options($link, MYSQLI_INIT_COMMAND, 'SET AUTOCOMMIT = 0')) {
    die('Setting MYSQLI_INIT_COMMAND failed');
}

if (!my

[2019-03-23 08:42] williamdes commented on #14723
Could not reproduce using query :
<details><summary>Query</summary>
<p>

[code]

</p>
</details>

[2019-03-23 10:06] sudoranger commented on #15059
I checked with incognito but it still the showing the wrong information. I also reinstall mariadb and a fresh phpmyadmin 4.8.5 on another machine,

[code]

Restarted the mysql service and this is what I got:

![Screenshot from 2019-03-23 17-44-54](https://user-images.githubusercontent.com/46080678/54864596-55b5ff00-4d94-11e9-932c-0ef2189e42a2.jpg)

As you can see, I'm using ut8mb4 but it is showin

[2019-03-23 12:38] apoorvkhare07 commented on #15059
@sudoranger No, Actually I found the issue. actually the `charset` is hardcoded as `utf-8` in the code.
@williamdes How do we plan to resolve this ? Is there some specific reason that it is hardcoded ? Or can I open a PR for this ?

[2019-03-23 12:41] ibennetch commented on #15015
The first issue (the "Lenght" typo") was fixed with b247fbedfe9ccfbcf20ca75451bd34eecea26a87.

The other issue seems related to escaping with the Twig template engine, so I'll have to look a bit further in to it.

[2019-03-23 14:40] AghaSaad04 commented on #15046
Yes, @chiragsharma111, I know that, but I was saying something else.

[2019-03-23 16:07] ibennetch commented on #15063
Hello,

I wonder if your config.inc.php is being read; the first thing I suggest trying is adding another line like `die("config.inc.php is being read properly");` to `config.inc.php` and trying to load phpMyAdmin again; you'll see the message if everything is working correctly but the login page if your config.inc.php is being ignored (which could mean a permission problem, it's in the wrong dire

[2019-03-23 16:27] patricknn commented on #15063
Hi @ibennetch you are correct at your first guess, the `config.inc.php` of the `phpMyAdmin/libraries` folder is not being read, so I went to the `/etc/phpMyAdmin` folder and I found another `config.inc.php`.

I changed the host parameter in this config and it did not work either, so I tried to add the `die` line to make sure that the `config.inc.php` is being read and it is not.

Now I don't now w

[2019-03-23 16:43] patricknn commented on #15063
Well, I finally did it
The issue is that the `/etc/phpMyAdmin/config.inc.php` was not being read, so I did 2 things

first I changed the file ownership `chgrp -R nginx /etc/phpMyAdmin` and I restarted php-fpm
It now reading the file

Thank you for your all messages

[2019-03-23 16:43] #15063 closed

[2019-03-23 17:20] BauyrzhanMaksot commented on #15039
Did anyone try to solve this issue?
I am newbie in this project but tried to solve the issue.
I found out that the problem is when you go back one page the GET variables can not be seen and read although it is in URL. Instead the system sends other empty variables such as db,table,target and variable server which equals to 1.

[2019-03-23 17:48] ibennetch commented on #15063
I'm so glad you sorted it out!

Thanks for the community coming together to try to help, too.

[2019-03-23 17:51] adityasanil commented on #15064
I would like to work on this with you.

[2019-03-23 19:04] AghaSaad04 opened #15065 "Login page layout issue in theme: original"
### Describe the bug

I have changed the theme to original and noticed the login page layout issue in that.

### To Reproduce

Steps to reproduce the behavior:
1. Change the theme to the original
2. Go to the login page of that theme
3. You will notice layout issue

### Expected behavior

I was expecting a stable layout of the login page.

### Screenshots
Layout page of theme original:

![loginphp

[2019-03-23 19:06] murex971 opened #15066 "Multiple occurrences of error messages in settings"
error messages are occuring multiple times wherever entries related to  number bounds are concerned.

Steps to reproduce the behavior:
1. Go to 'Settings'.
2. Click on any tab.
3. Insert a value that is beyond the number bounds.
4. repeat steps 2,3.

![p1](https://user-images.githubusercontent.com/46920259/54870461-004a1400-4dcd-11e9-8014-df7af054b635.png)
![p2](https://user-images.githubuserconte

[2019-03-23 19:09] AghaSaad04 commented on #15066
Similar to #15034

[2019-03-23 19:10] williamdes commented on #15064
@adityasanil Yes, go ahead, you can open a pull-request if you find how to solve the issue!
I will help you if you need :)

[2019-03-23 19:37] murex971 commented on #15066
Yeah! But that issue was regarding only 1 particular field. This problem of multiple occurences of error messages occur wherever there is number constrains regarding input.

[2019-03-23 19:51] AghaSaad04 opened #15068 "Reduntant text after theme name"
### Describe the bug

I have switched the themes of phpmyadmin and noticed something different in theme: metro. There's something "scheme: win" (basically it is a scheme color and I don't know why is it there and not in other themes and it is not useful information) written after theme name which is not in the other two themes. I think this should be removed.

### To Reproduce

Steps to reproduce

[2019-03-23 19:56] AghaSaad04 commented on #15066
Yeah, but basically we have concluded from those issues that there's a problem in all the constraints.
#15043

[2019-03-23 19:58] mauriciofauth commented on #15068
Metro theme have different color schemes. See:

https://github.com/phpmyadmin/phpmyadmin/blob/b247fbedfe9ccfbcf20ca75451bd34eecea26a87/themes/metro/scss/_variables.scss#L10-L14

However there is no way to change the color scheme through the GUI.

[2019-03-23 20:02] AghaSaad04 commented on #15068
Yeah, you are right Sir @mauriciofauth, but as we cannot change that color scheme from GUI, then I think there's no need for that.

[2019-03-23 20:08] murex971 opened #15070 "Overflow of pie chart legend box"
### Describe the bug

pie chart legend box (or the key box) is overflowing with the main box containing entire pie chart and the legend itself.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Status'
2. Click on 'Query statistics'.

### Expected behavior
the legend box should come completely inside the main box annd should not overflow.

### Screenshots

![pie](https://user-images.gi

[2019-03-23 20:14] AghaSaad04 commented on #15070
Not on my side, not sure why are you facing that.

![image](https://user-images.githubusercontent.com/36513474/54871183-245c2400-4dd2-11e9-85f3-b70ccb12f6b5.png)

[2019-03-23 20:49] murex971 opened #15071 "Improper display of hover box"
### Describe the bug

when you hover over a section on the graph nearer to corners hover box is not displayed properly. Its content got hidden.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Status'
2. Click on 'monitor'
3. Hover over the graph near to the corners.

### Expected behavior

Content of hover box should be properly displayed.

### Screenshots

![WhatsApp Image 2019-03-2

[2019-03-23 21:18] murex971 opened #15072 "Redundant close button"
### Describe the bug

The cross sign at the right top corner serves the purpose of closing the dialog box. So there is no need of extra 'close' button at the bottom.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Status'
2. Click on 'advisor'.
3. Click on instructions.

### Screenshots

![close_btn](https://user-images.githubusercontent.com/46920259/54871730-3b554300-4ddf-11e9-8d3a-

[2019-03-23 21:30] AghaSaad04 commented on #15072
I am working on it @murex971.

[2019-03-23 21:42] AghaSaad04 opened #15074 "Server logo behind the button"
### Describe the bug
I switched the theme to the "original" and have noticed that the "server logo" is hidden behind the button. I have attached the screenshots about the problem.
### To Reproduce

Steps to reproduce the behavior:
1. Change theme to the "original"
2. Notice that the server logo is behind the button.

### Screenshots
Problem:

![image](https://user-images.githubusercontent.com/3651

[2019-03-24 05:44] razonklnbd commented on #14184
hello developers,
i want to share my experience as i too face this problem.

history:
- installed php7.2 at ubuntu16
- old pma return count problem (see change log for php 7.2 http://php.net/manual/en/function.count.php)
- download and install pma latest stable version
- copy existing config.sample.inc.php to config.inc.php
- restart apache 2

everything fine as usual. logged in into pma, works fi

[2019-03-24 07:45] BauyrzhanMaksot opened #15077 "Incorrect Page Numbers"
### Describe the bug

When you set Maximum number of databases displayed in database list to 1, the page number will begin from 2 and the last page will be 1.

### To Reproduce

1. Go to Settings
2. Go to Features
3. Go to Databases
4. Change Maximum Databases to 1
5. Then click Databases on Main Navigation panel (not the same button as in step 3)
6. See error, Page number: 2, and ends with 1.

##

[2019-03-24 08:57] apoorvkhare07 commented on #15072
@ibennetch @murex971 I don't think this really is an issue . This is a very common practice to have such UI.
![55244640_647882728957040_6864533752593252352_n](https://user-images.githubusercontent.com/26320019/54877152-c7e41d80-4e40-11e9-8a38-7fccde9196df.png)

And @AghaSaad04 Even if we decide to remove one of the two, top-right close icon should be removed not the close button as it gives a bett

[2019-03-24 09:38] apoorvkhare07 commented on #15068
@mauriciofauth Should we add the feature of changing the color scheme through GUI ?

[2019-03-24 09:42] apoorvkhare07 commented on #15066
@murex971 This issue has been resolved in #15043 as pointed by @AghaSaad04 . Since that Pull request is not yet merged you can't see the changes for now.

[2019-03-24 10:21] murex971 commented on #15072
@apoorvkhare07 when we open the instruction dialog box of monitor tab, it shows only cross sign and no close button.
I think the site should follow a common UI.
also the ss which you have attached is regarding confirmation of exit action and there exit button and cross symbol are playing different roles . Ours is a different scenario.
![ss_close](https://user-images.githubusercontent.com/46920259/

[2019-03-24 10:27] apoorvkhare07 commented on #15072
@murex971 Ya we should follow a common UI at all places. So we can add a close button in Monitor instruction as well. I mean that thing @ibennetch @williamdes can decide what common UI elements we need to follow.
Also @murex971 in the screenshot I pasted above the close icon and the cancel button are playing pretty similar role.

[2019-03-24 10:42] murex971 opened #15079 "Responsive behaviour of instruction dialog box"
### Is your feature request related to a problem? Please describe.

Open the instruction dialog box of 'monitor' or 'advisor' tab under status.
Now increase the width of left panel .
One will notice that dialog box's content got hidden.

when left panel was in default size.
![dbox1](https://user-images.githubusercontent.com/46920259/54878190-3b8d2700-4e4f-11e9-9674-15c468da151e.png)

when width of

[2019-03-24 10:50] agasheaditya opened #15082 "Safe deletion of database and tables , or providing a recycle bin for databases so we can restore our dropped databases later when we required."
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

Safe deletion of database and tables, or providing a recycle bin for databases so we can restore our dropped databases later when we required.

### Describe alternatives you've considered

A clear and

[2019-03-24 10:53] agasheaditya commented on #15082
We can add database by default namely "trash" and then before deletion we can ask for move to trash of delete permanently.

[2019-03-24 10:55] agasheaditya opened #15083 "mobile application for database control and tracking."
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2019-03-24 11:16] AghaSaad04 commented on #15082
Hey @agasheaditya. Can you please fill up the above thing for the better understanding of the problem you are facing or the feature you want.

[2019-03-24 11:55] josemmo commented on #15064
For anyone trying to fix this, the bug seems to be related to the "single_table" parameter.

`ExportSql.php` will only initialize itself if the following conditions are met:
https://github.com/phpmyadmin/phpmyadmin/blob/1303def5dfa336bf434de6eea1752472a5ef18c8/libraries/classes/Plugins/Export/ExportSql.php#L72-L81

But "single_table" is never set to true when executing the given query as [Query::g

[2019-03-24 15:06] PAPERPANKS opened #15095 "Wrong format of comments"
### Describe the bug

There is the wrong format used to comment inside a PHP file.

### To Reproduce

Steps to reproduce the behavior:
1. Go to `phpmyadmin\libraries\error.inc.php`
2. Scroll down to `line 30` inside the CSS block

### Expected behavior

To comment down, should use `//` or `/* ... */`

### Server configuration

- Operating system: Windows 10(1809)
- Web server: WAMP
- PHP version:

[2019-03-24 15:34] AghaSaad04 commented on #15095
Yeah @PAPERPANKS, you are right. I am working on it

[2019-03-24 17:14] amarjitsingh52922 commented on #15064
@williamdes is anyone working on this issue? if not i would like to work on it

[2019-03-24 17:14] AghaSaad04 opened #15098 "Spaces issue in radio button"
### Describe the bug
I have noticed that there's padding and spaces issue in radio buttons.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Settings
2. Then on manage your settings
3. You'll see the problem

### Expected behavior

I was expecting the same consistent padding and spaces for all the buttons.

### Screenshots

Before:

![image](https://user-images.githubusercontent.com/36

[2019-03-24 17:34] BauyrzhanMaksot opened #15100 "Incorrect Page Numbers 2."
### Describe the bug

Same as #15077 but for maximum tables.

### To Reproduce

1.Go to Settings
2.Go to Features
3.Go to Databases
4.Change Maximum Tables to 1
5. Then click Databases on Main Navigation panel (not the same button as in step 3)
6. Choose any database.
7. See error, Page number: 2, and ends with 1.

### Expected behavior

Page number must begin with 1, and end with a number that de

[2019-03-24 17:40] AghaSaad04 opened #15101 "Margin before checkbox"
### Describe the bug

I have noticed margin issue before checkbox in settings>manage your settings

### To Reproduce

Steps to reproduce the behavior:
1. Go to Settings
2. Manage your settings
3. See the margin before the checkbox

### Expected behavior

I was expecting a consistent margin before checkbox throughout the theme

### Screenshots

![image](https://user-images.githubusercontent.com/365

[2019-03-24 17:51] BauyrzhanMaksot commented on #15100
After looking to last pull request of amokrousov12345678 to this issue #15077, I think it has been solved

[2019-03-24 21:49] mauriciofauth commented on #15062
This has been fixed in phpMyAdmin version 4.8.2. Please upgrade your installation.
For more details, see [PMASA-2018-4](https://www.phpmyadmin.net/security/PMASA-2018-4/).
Thank you for your report.

[2019-03-24 21:49] #15062 closed

[2019-03-24 23:15] williamdes commented on #15064
@amarjitsingh52922 You can work on this issue, would be great if you find a fix !

[2019-03-24 23:21] williamdes commented on #15059
@apoorvkhare07 You can open a pull-request since this seems to be a bad idea to set the value in the code :)

[2019-03-24 23:35] ibennetch commented on #15029
Thanks for reporting, this has been fixed in master and will be part of the 5.0 release.

[2019-03-24 23:35] #15029 closed

[2019-03-25 02:59] apoorvkhare07 commented on #15059
Ya, on it.

[2019-03-25 07:51] AghaSaad04 commented on #15029
Okay, great Sir @ibennetch 👍

[2019-03-25 07:55] shucon commented on #14936
@williamdes Is this issue fixed?

[2019-03-25 12:59] #15065 closed

[2019-03-25 13:02] williamdes commented on #15070
@AghaSaad04 Try to resize the browser screen like the one from the screenshot (see before "more" menu)

[2019-03-25 13:08] #15071 closed

[2019-03-25 13:25] AghaSaad04 commented on #15070
Oh yeah got it Sir @williamdes.

[2019-03-25 15:28] Dhartim commented on #14801
Hello, I have just started to contribute in open source. I read newbie tags to start with. I want to know that can I do pull request and start working on anything random or should I go in some systematic order ? Aslo, I would like to know if there is any detailed documentation for this or i need to do brute force on this ?

[2019-03-25 17:48] williamdes commented on #14936
I am not sure, @OlafvdSpek ? (latest QA snapshot)

[2019-03-25 17:52] OlafvdSpek commented on #14936
What commit would've fixed it?

[2019-03-25 17:59] #15095 closed

[2019-03-25 19:38] #15074 closed

[2019-03-25 19:49] #13424 closed

[2019-03-25 20:50] lem9 commented on #15083
@agasheaditya Please clarify what you mean by this issue.

[2019-03-25 20:54] lem9 commented on #15082
I believe that the confirmation warnings we get when deleting tables or databases via the UI are sufficient. Moving everything to a recycle bin could be time-consuming and phpMyAdmin should not replace a backup solution.