[2022-10-29 21:29] #17611 closed

[2022-10-29 21:31] williamdes commented on #17623
Hi @torvista
Can you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) and let me know if this is still accurate?
Can you also post a screenshot?

[2022-10-29 21:34] williamdes commented on #17628
This is something that we should implement, thank you for reporting it

[2022-10-29 21:36] williamdes commented on #16779
No, until now I did not manage to create the new packages :/

[2022-10-29 22:41] kamil-tekiela commented on #16042
This is the third time I have been looking at the same piece of code. This time I decided to dig up the history to understand why it's there. Here are some links:

- https://bugs.chromium.org/p/chromium/issues/detail?id=268085
- https://github.com/phpmyadmin/phpmyadmin/commit/ccd65816b8420b5e5239537bb110185d7ac2cace (Initial fix. I don't think this fix was the correct one. It seems to incorrectly

[2022-10-30 09:08] #16373 closed

[2022-10-30 09:09] #16116 closed

[2022-10-30 09:15] comradekingu commented on #16116
@williamdes Could you enlighten me as to why this is needed?
Why is it only in 4.9, 5.2, and development?

[2022-10-30 09:16] comradekingu commented on #16373
@DCO And how many people do you think didn't contribute because of it?

[2022-10-30 09:21] williamdes commented on #16116
I do not know because I was not there when it was added

@ibennetch do you know ?

[2022-10-30 09:28] williamdes commented on #17843
Hi @kamil-tekiela
This is impossible in 5.2, right ?
It was added in #16636 to version 5.1.0.

[2022-10-30 09:34] logopk commented on #17483
Hi @williamdes, I don't see the problem anymore.
One thing that caused problems was the hostname that matched a "real life" hostname and was resolved by docker dns to the external IP, which of course did not work. (setting dns_search to "" fixed this).
That was I guess pure coincidence, I moved phpmyadmin to a new dockerhost.

What I don't know is, how my static config.user.inc.php plays along wit

[2022-10-30 09:58] williamdes commented on #17483
Okay, I am happy this is fixed. You should probably use DNS aliases on docker containers and use `.local` hostnames.

Let me know how it goes

[2022-10-30 09:58] #17483 closed

[2022-10-30 10:10] kamil-tekiela commented on #17843
They're using PHP 7.2 so it should be silent error mode anyway. I think
it's a dupe of https://github.com/phpmyadmin/phpmyadmin/issues/17832 MySQL
servers report errors from subqueries upon fetching not execution so I
assume it's the same PHP bug as i have recently fixed.

On Sun, Oct 30, 2022, 09:28 William Desportes ***@***.***>
wrote:

[2022-10-30 13:26] stratege1401 commented on #17464
Hi.

Sorry, I am 100% command line now as I was not able to fix my bug. Did not
received any relevant help and endless tries were not my stuff...

Le sam. 29 oct. 2022, 23:08, William Desportes ***@***.***> a
écrit :

[2022-10-30 16:00] williamdes commented on #17464
Bonjour,

I have clients using Apache2 without any issues, I use https://gist.github.com/williamdes/883f2158f17e9ed5a83d892ada56f5df and install the snapshot in a folder available on the web server.

I can help you by email if you prefer williamdes[at]wdes[dot]fr ?

[2022-10-30 16:01] williamdes commented on #17843
Thank you @kamil-tekiela

@burninghey are you sure about your PHP version ?

[2022-10-30 16:01] #17843 closed

[2022-10-30 16:36] Arpit-Gulgulia commented on #17841
Is this issue still open to working on?

[2022-10-30 17:01] williamdes commented on #17841
Yes, please go ahead. I think there is some digging to do because I did not find code related to making it work nor did I did find how it was supposed to work on the first version it was released on

[2022-10-31 01:59] vimalMK opened #17847 "Uncaught TypeError: Cannot read properties of undefined (reading 'get')"
### Describe the bug
Uncaught TypeError: Cannot read properties of undefined (reading 'get')

I was not having any problem with phpmyadmin until I did a pull from the master to my local. I know there are similar issues revolving around. Just want to know the fix if its a config issue on my end.

Thanks you so much in advance.

### To Reproduce

Steps to reproduce the behavior:
1. Login to phpmyadm

[2022-10-31 05:16] Bossesoneroom opened #17848 "my website not open"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain the bug.

### Server configuration

- Operating s

[2022-10-31 07:34] liviuconcioiu commented on #17847
@vimalMK see #17845. You should replace that filename until the PR is merged.

[2022-10-31 10:01] #17847 closed

[2022-10-31 10:02] williamdes commented on #17848
Hi @Bossesoneroom
Could you detail a bit more what you are reporting ?
The title does not help guess what it is.

[2022-10-31 10:02] #17848 closed

[2022-10-31 10:23] liviuconcioiu opened #17849 "TypeError: Argument 1 passed to PhpMyAdmin\DatabaseInterface::escapeString() must be of the type string, null given"
### Describe the bug

TypeError: Argument 1 passed to PhpMyAdmin\DatabaseInterface::escapeString() must be of the type string, null given

Only master is affected.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/index.php?route=/server/replication](https://demo.phpmyadmin.net/master/index.php?route=/server/replication)
3. See error

### Expected beh

[2022-10-31 10:28] williamdes commented on #17849
Broken by #17819

[2022-10-31 11:27] williamdes commented on #17642
You should try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot)

[2022-10-31 11:27] #17642 closed

[2022-10-31 11:28] williamdes commented on #17636
Hi @djohle
Sorry for the very late reply to your request :/
Could you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) ?
And let me know if it works fine please

[2022-10-31 11:30] williamdes commented on #17654
Hi !
I think this is an interesting request.

What does `SHOW GRANTS` give for this user ?

[2022-10-31 11:32] williamdes commented on #17675
It needs to be investigated, I have never heard about this being possible

[2022-10-31 11:33] vimalMK commented on #17847
@liviuconcioiu thanks a lot. :)

[2022-10-31 11:33] williamdes commented on #17742
Hi
You mean to narrow down the search on columns within a certain name ?

[2022-10-31 11:34] williamdes commented on #17815
Hi !
Thank you for this report

[2022-10-31 11:45] williamdes commented on #17793
That's really strange because I can not confirm that on my local QA using MariaDB 10.8
What version where you on ?

[2022-10-31 11:47] williamdes commented on #16144
I think the point of @OlafvdSpek is that it should disable validation and allow insert if it is checked, right ?

[2022-10-31 11:47] El-Virus commented on #17675
@williamdes it might not be. An alternative would be to:

[2022-10-31 12:04] williamdes commented on #17028
I confirm the results with the dataset you provided

[2022-10-31 12:40] williamdes commented on #17028
I added a test case in 455016557ef91ac02046375b37981dcf09a1d7e3 to make sure we can check what is the final SQL for count query

[2022-10-31 12:53] liviuconcioiu commented on #17793
10.9.3

[2022-10-31 13:48] williamdes commented on #17028
Hi @fliespl

I applied the `SELECT 1 FROM` optimisation in #17851

Can you test the changes on your side and let me know ?

[2022-10-31 13:56] williamdes commented on #17541
Could you create a copy of your table and see if it suffers from the same effects ?
It may be that some software is changing the value

[2022-10-31 13:58] neuraload commented on #17737
I am having the same issue but with Nginx. Any ideas ?

[2022-10-31 13:58] williamdes commented on #17710
Did you try installing a newer version of MariaDB ?

I think this can be closed as I see no bug within phpMyAdmin

[2022-10-31 13:58] #17710 closed

[2022-10-31 13:59] williamdes commented on #17737
What version are you using ?
Did you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) ?

[2022-10-31 15:05] vimalMK commented on #17777
PR #17852

[2022-10-31 18:36] #16042 closed

[2022-10-31 19:20] williamdes commented on #16042
Thank you @kamil-tekiela for your great work and investigation !
The the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) is updated, you can test it and let us know here

[2022-10-31 19:41] jormaster3k commented on #17654
`SHOW GRANTS` returns:

Our use case for this is that we create a MySQL user for our customers and grant their user account the appropriate permissions, securely provide them with their password, then ask them to change their password upon initial login. Since the change password functionality does not allow this in the phpMyAdmin UI, it's more difficult for them to change it.

[2022-10-31 19:51] fliespl commented on #17028
I can confirm it behaves correctly now in other datasets as well.

[2022-10-31 21:34] OlafvdSpek commented on #16144
Right

[2022-10-31 21:50] williamdes commented on #17240
Thank you @jr01
This is very well explained and the minimal example to reproduce the issue is very nice to have

[2022-10-31 22:54] williamdes commented on #17705
I did this change to fix one of the reported behaviors: 6dd05c51ad390bd9c75cd467bb5de1e8c234ef93

Could people test this and let me know ?
Change in  `js/dist/functions.js`

[2022-10-31 23:30] williamdes commented on #17705
The scroll bars are now visible, I think this was done for them to be hidden.

This is what I tried to add but now scrollbars are visible
[code]

The video when overflow is removed: https://github.com/phpmyadmin/phpmyadmin/issues/17705#issuecomment-1250362541 explains quite a lot about this issue

But also adding `overflow: hidden !important;` fix it all 🎉

I think the final fix should be bff74dc5

[2022-11-01 07:50] liviuconcioiu commented on #17705
Works here!

[2022-11-01 12:10] burninghey commented on #17843
@williamdes

![Opera Momentaufnahme_2022-11-01_130839_put pandt-test de](https://user-images.githubusercontent.com/29624928/199229228-fc26239d-2b6b-4db8-a7cb-517767d40858.png)

[2022-11-01 12:28] kamil-tekiela commented on #17843
@burninghey This error will be fixed in PHP 8.2, 8.1.13 and 8.0.26. Once either of them is released please upgrade and retest.

[2022-11-01 17:16] STaRDoGG opened #17858 "@DATABASE@ is empty when exporting?"
### Describe the bug

To save from re-typing, here is a link to the description on StackOverflow: https://stackoverflow.com/q/74254950/553663

### To Reproduce

Steps to reproduce the behavior:
1. Go to database overview on the server
2. Select 1 more more db's to export
3. Enter @SERVER@ @DATABASE@__%Y-%m-%d_%H-%M-%S as the file template name, so it'll include the actual name of the db in the exp

[2022-11-01 19:17] liviuconcioiu commented on #17858
First, if multiple databases are exported, you can't have the database name in the archive filename (which name to choose?). I think is not working because this is how it was intended to work.

Also, there is a bug, when a single database is exported (is missing from the filename) and when multiple databases are exported (`@DATABASE@` isn't used as a replacement for the names - is only added at th

[2022-11-01 19:31] michacassola commented on #17661
Installing with composer this still happens to me. So I have to do now:

    composer -d/var/www create-project phpmyadmin/phpmyadmin --no-dev /var/www/pma
    pma_version=$(yq .version /var/www/pma/package.json)
    composer -d/var/www/pma config version "$pma_version"
    composer -d/var/www/pma update

[2022-11-01 21:03] williamdes commented on #17661
Yes, it still happens until 5.2.1 is out, you can subscribe to #17830

[2022-11-02 13:50] svivian commented on #17705
The buttons work fine in the snapshot, but the console is still broken. The original problem I had with the console was it only showed one line of SQL in the query input. In others words the box is only one line high, clicking Edit on a previous query only shows the last line.

However in the snapshot version, I can't see anything at all in the query input. Screenshot:

![Screenshot 2022-11-02 at

[2022-11-02 13:57] svivian commented on #17443
I still get the jumpy scrolling on that snapshot, when clicking "Structure" (either at the top of the main panel or the icon next to a table in the navigation panel).

[2022-11-02 16:09] williamdes commented on #17443
Thank you for the feedback, it's back as a bug to be fixed then

[2022-11-02 18:41] STaRDoGG commented on #17858
I agree on that part and is understandable; the only thing is, I usually also check the box saying to export them individually when I select multiple db's, and it still doesn't add the individual db names, which can add a lot of unnecessary confusion because then the file names are just saved as `mysql-etc.sql.gz`, `mysql(1)-etc.sql.gz`, `mysql(2)-etc.sql.gz`, and so on, which means at some later

[2022-11-02 20:29] liviuconcioiu commented on #17793
Hi @sureemo! Thank you for the PR, but still doesn't behave as it should.

This is the table structure (fields set to non-NULL values) - **OK**

![1](https://user-images.githubusercontent.com/25424343/199594643-7a980a63-fd35-4a03-bfaa-6a8f6c123f61.png)

This is how the insert looks like - **OK**

![2](https://user-images.githubusercontent.com/25424343/199594657-93a62399-bff9-472c-bc9c-fc03be1bcffc

[2022-11-02 20:33] scottmcgowan24 opened #17861 "Paging issue with Stored Procedure Results"
### Describe the bug

When a large number of rows are returned from a Stored Procedure, they are not paged correctly, and all are displayed at once.

### To Reproduce

Steps to reproduce the behavior:
1. create a stored procedure which selects multiple rows
2. In the SQL tab, run _call <stored procedure name>_
3. Scroll down to result
4. See that the results are not paged correctly

### Expected b

[2022-11-03 09:17] rohini-ranjanR commented on #17722
I was using XAMPP 3.3.0. I think if we have two accounts on our PC and XAMPP has opened in one account and if we try to open XAMPP again in some other account, then this issue occur.

[2022-11-03 15:18] kamil-tekiela commented on #17861
I think paging should just be disabled for stored procedures because it confuses users and isn't really possible. Maybe someone can investigate how to disable paging for stored procedures?

[2022-11-03 19:14] williamdes commented on #17705
Only in the SQL console, right ?
Not on a SQL box in structure or on a SQL page ?

[2022-11-03 19:43] #17793 closed

[2022-11-03 20:37] #17777 closed

[2022-11-03 21:52] vimalMK commented on #17651
can I get assigned to this issue please. :)

[2022-11-03 22:35] williamdes commented on #17651
Do not worry this is not needed
I will add the label: has-pr

[2022-11-03 23:32] vimalMK commented on #17651
oh thanks for lettting me know.

[2022-11-04 09:08] RegProctor opened #17867 "Blank screen to do with MySqli constants"
### Describe the bug

I just upgraded my openSUSE Leap from 15.3 to 15.4. In the process it upgraded phpMyAdmin to 5.2 and then all as I could get is a blank screen. The system is running PHP 7.4.

I tried PMA 5.1.4, down to 5.1.1 and got the same result so I settled on 5.1.4 to do some debugging figuring it was likely the most solid.

After much figuring out I got it to work but I had to do the f

[2022-11-04 09:13] vimalMK commented on #17703
Please find the PR #17868

For the last problem where the tooltip was misplaced concern, I think it was intentional. The code snippet was added just to display the tooltip content into the notes section as expected. I just styled a little to make it look more like a notes. Let me know if I need to remove it . Thanks

[2022-11-04 09:28] williamdes commented on #17867
Hi @RegProctor
What is the output of `php -m` ?
It looks like you have a broken build of PHP with mysqli

[2022-11-04 09:51] RegProctor commented on #17867
Okay, it's starting to make sense and this might be an apache/PHP config issue because this:

<?php
echo "\n\n";
if(defined('MYSQLI_NUM_FLAG')) {
echo 'Exists';}
else {echo 'Absent';}
echo "\n\n";

Outputs "Exists" from the command line as in:

but "Absent" from the associated URL as in:   http://www.pma.local/test-stuff.php .

I came across this because I started getting PHP Warning: Use of undef

[2022-11-04 09:55] RegProctor commented on #17867
Yeah, I checked for mysqli being there many times. Here's the output
[pi.txt](https://github.com/phpmyadmin/phpmyadmin/files/9937066/pi.txt)

[2022-11-04 10:10] RegProctor commented on #17867
As a logical next thing to check here's grep for mysqli.so on the php configuration:

[code]

I also ran:

[code]

from : http://www.pma.local/info.php

and the mysqli module shows up which I don't understand because I thought if it was absent then I wouldn't see it there I've attached the output from that.
[phpinfo-output.zip](https://github.com/phpmyadmin/phpmyadmin/files/9937154/phpinfo-output.

[2022-11-04 10:11] williamdes commented on #17867
If it shows absent and present elsewere 🤔
What is your php fpm and nginx config them ? 🤔

[2022-11-04 10:12] RegProctor commented on #17867
I've never configured those and don't use them. I just use apache.

[2022-11-04 10:25] williamdes commented on #17867
Okay. To summarize:
5.1.4 works, previous versions do not
and 5.2.0 does not work.

If you edit phpMyAdmin's `index.php` and add
[code]

What does it say ?

[2022-11-04 10:25] RegProctor commented on #17867
I found one more thing that I didn't know about. I was looking through the apache config and there are two files I didn't know about: phpMyAdmin.conf and phpMyAdmin.inc.

Having a quick look at them there are file paths of /usr/share/phpMyAdmin and it's not running there right now because for debugging I wasn't going to mess with something under /usr/share/ so it's in a subfolder of my home direct

[2022-11-04 10:28] RegProctor commented on #17867
Absent

[2022-11-04 10:34] williamdes commented on #17867
Hi @kamil-tekiela
Can I have some of your help on this issue please ?

[2022-11-04 10:42] ibennetch commented on #17867
I don’t have much to add to this yea, but the output of php -m and
phpinfo() through the web server are not expected to be the same. Using
php-m on the command line (or the output of phpinfo() viewed through the
command line) use the command line configuration, which has a separate
configuration from the PHP Apache module.

So trust what phpinfo() says when viewed through the web server, not the
c

[2022-11-04 10:42] RegProctor commented on #17867
Yeah, I know how you feel, it's been a problem for me for two days now. It's weird.

I changed the file paths in the apache phpMyAdmin.conf config file so they point to where I'm debugging, no change unfortunately.

I was thinking of installing the previous version of PHP 7.3 thinking many suse messed something up with the latest version but I couldn't find any version other than PHP 7.4 for Leap

[2022-11-04 10:46] RegProctor commented on #17867
Correct me if I'm wrong but phpinfo() (attached in a previous comment) is showing that mysqli is there through the web server but when we test that with code in the index.php file it suggests that it is not. Is that correct or am I reading the phpinfo() output incorrectly?

[2022-11-04 10:52] RegProctor commented on #17867
One last thing, just to make things wierder, I was thinking maybe something in the lamp stack was broken so no website could run so I tried an old Drupal (CMS) website I was working on and the whole thing worked just fine and Drupal uses mysql quite extensively so the lamp stack works in general.

[2022-11-04 11:58] liviuconcioiu commented on #17778
I will add another issue, sometimes years are going negative. Theoretically should be OK, but negative years aren't allowed.

https://dev.mysql.com/doc/refman/5.6/en/datetime.html

![negative](https://user-images.githubusercontent.com/25424343/199965827-4a22b374-14ba-42a4-b8a4-161c7d2eb40b.png)

[2022-11-04 12:55] kamil-tekiela commented on #17867
This is definitely not phpMyAdmin issue. To be blunt, the fix you suggested makes zero sense. Is there an error that got you to this conclusion? What debugging did you do? From your further messages, it seems that you are missing mysqli extension or it's not enabled. Check your error logs and make sure that startup errors are enabled too so that you can see what's wrong with loaded extensions. In

[2022-11-04 13:54] svivian opened #17869 "Extra table header cell incorrectly added"
### Describe the bug

View any database table in Browse mode. On the right of the header row there is an extra cell. It's only on the header, not the table body. Image:

![Screenshot 2022-11-04 at 13 45 38](https://user-images.githubusercontent.com/207887/199988729-fc7cd2b0-d649-4164-8729-be729abc9e2e.png)

In the HTML it's an extra td element like this:

    <td class="d-print-none"><span></span>

[2022-11-05 10:19] williamdes commented on #17778
Thank, I think it should get fixed for 5.2.1, it's not a very good UI experience

[2022-11-05 15:31] #17849 closed

[2022-11-05 17:47] #17779 closed

[2022-11-07 01:12] liviuconcioiu opened #17875 "TypeError: Argument 2 passed to PhpMyAdmin\ReplicationGui::getHtmlForPrimaryReplication() must be of the type bool or null, string given"
### Describe the bug

`TypeError: Argument 2 passed to PhpMyAdmin\ReplicationGui::getHtmlForPrimaryReplication() must be of the type bool or null, string given, called in /home/demo/.pma-demo/master/libraries/classes/Controllers/Server/ReplicationController.php on line 108`

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/index.php?route=/server/repl

[2022-11-07 03:48] RegProctor commented on #17867
I saw this in the file:

MySQLi | Zak Greant, Georg Richter, Andrey Hristov, Ulf Wendel

but looking at closer it's under "Module Authors" which just because it's there probably doesn't mean it's loaded.

Agreed, what I did isn't the solution, there's a bug in PHP in my install that's preventing the module from loading when being used in web mode but not a problem with the CLI mode. As for how I g

[2022-11-07 05:19] #17867 closed

[2022-11-07 08:34] vimalMK opened #17876 "Copy to Clipboard Feature from the Modal-Box."
### Is your feature request related to a problem? Please describe.

When performing some quick actions such as deleting tables , database or selecting records etc. The pop up modal shows a confirmation with query as a string.

![image](https://user-images.githubusercontent.com/35750792/200261210-0ee11148-3b8e-4a82-bd97-ca1561cc200d.png)

### Describe the solution you'd like

Instead if its a clipb

[2022-11-07 09:19] williamdes commented on #17876
Hi @vimalMK
It's a very good feature. I think you should first `Functions.highlightSql(htmlElement)` and then make the text selectable for manyal copy and also add the nice feature to copy to clipboard. If that sounds okay ?

[2022-11-07 14:35] williamdes opened #17877 "Add INDEX is not working"
### Describe the bug

Add index on existing column

### Expected behavior

SQL success

### Screenshots

A bit HTML blob is shown in the result box

### Server configuration

- phpMyAdmin version: 5.2.1-dev

### Additional context

POST Request: `/table/structure/add-key?server=2`
[code]
I suspect ajax_page_request to be the issue

[2022-11-07 14:39] williamdes commented on #17877
DROP index (after modal close)
![image](https://user-images.githubusercontent.com/7784660/200337172-37306631-ec3d-47c5-9302-b665e1568484.png)

[2022-11-07 14:40] williamdes commented on #17877
All actions seem to work but the user feedback show wrong things

[2022-11-07 14:42] kamil-tekiela opened #17878 "A PRIMARY key should not be possible to rename"
### Describe the bug

An index can be renamed. PhpMyAdmin has a dedicated button for this action on table/structure/ page. However, trying to rename a PRIMARY key yields a strange error. This is because the code doesn't expect this option to be available for PRIMARY key.

### To Reproduce

Steps to reproduce the behavior:
1. Go to /table/structure
2. Click on 'rename' on a PRIMARY key
3. Give some

[2022-11-07 14:47] kamil-tekiela commented on #17878
Now that I think about it... if you are using a version that doesn't have `RENAME` support, this feature is completely broken. Probably the button should only be available on versions that support this feature in the first place.

[2022-11-07 15:41] vimalMK commented on #17876
@williamdes Sounds Great!! I think that works better.

[2022-11-07 18:58] djohle commented on #17636
I was working on this today, but just before installing the snapshot I wanted to make sure the problem was still reproducible.  I removed that workaround config setting, and to my surprise it was not failing.

Checking the network requests, I saw that it was in fact doing the "version-check" once again, however that request was now actually coming back with valid JSON (an empty array, no actual in

[2022-11-07 18:58] #17636 closed

[2022-11-07 19:15] williamdes commented on #17636
Thank you for the feedback, if you encounter this feel free to comment here

[2022-11-07 21:51] williamdes commented on #17878
Should we disable the button or hide it @MauricioFauth?

[2022-11-08 04:21] ibennetch commented on #17876
I like this suggestion.

[2022-11-08 07:54] nunoperalta commented on #17482
@williamdes @MauricioFauth I was looking at the code here,

<img width="419" alt="image" src="https://user-images.githubusercontent.com/487079/200504279-8715c10e-e823-454f-a317-7b42ba667706.png">

seems that `ANALYZE` maps to `AnalyzeStatement`, which is seen as "Table Maintenance Statements", which is fine, for `ANALYZE TABLE`.

However, `ANALYZE SELECT` is similar to `EXPLAIN` (in MariaDB), so i

[2022-11-08 07:59] williamdes commented on #17482
Hi @nunoperalta
I think we would probably use our sql parser and no regex expression for that. The parser can indicate to us what statement this is. But like you explained it seems to be mistaken for now. I would say this is the first step to do, implement or fix the statement on the parser

[2022-11-08 08:23] nunoperalta commented on #17482
@williamdes Thanks
Something like this then?

<img width="442" alt="image" src="https://user-images.githubusercontent.com/487079/200512305-1c1a3de9-6d30-48b7-89b1-0213eb710631.png">

[2022-11-08 08:57] iifawzi commented on #17482
Yes, this definitely should be fixed in the parser, I've not really looked over all the comments, but I will take a deeper look later this weekend. side note: I've been inactive for a while, but I'm planning to get back on track, starting this weekend, hopefully.

I'm just afraid that the solution you proposed might break other parts that depend on the `ANALYZE` statements (without TABLE at the en

[2022-11-08 11:25] eroffa commented on #17523
**I solved this problem in the following way.**

1. Install phpmyadmin.
`sudo apt install phpmyadmin`

2. Following the instructions on the link downloaded phpMyAdmin-4.9.10.
`https://devanswers.co/manually-upgrade-phpmyadmin/`

3. To remove deprecated notifications.
`sudo nano /usr/share/phpmyadmin/config.inc.php`
Add string.
`$cfg['SendErrorReports'] = 'never';`

**PhpMyAdmin will work with php

[2022-11-08 11:33] arcanisgk commented on #17523
@eroffa RTFT.

[2022-11-08 13:23] williamdes commented on #17523
Hi @eroffa
First: do not follow such tutorials, they are crap. It's stupid to change package contents and expect it will work in the future.
Second: download the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) and unzip it and it works 🎉
Third: This may help having a clean "up to date" package: [Wiki for install methods on

[2022-11-08 15:16] eroffa commented on #17523
Thanks @williamdes, your solution works.

[2022-11-08 15:33] arcanisgk commented on #17523
@williamdes i have send this PR: https://github.com/phpmyadmin/phpmyadmin/pull/17883

[2022-11-08 18:27] williamdes commented on #17523
I think the solution would be that I make a patch for the Ubuntu package to force the right PHP version
Anyway old PHP versions are EOL: https://www.php.net/supported-versions.php
And people that have made manual fixes will be able to revert the patch locally
Seems right @arcanisgk ?

[2022-11-08 18:52] arcanisgk commented on #17523
@williamdes true, all good, thanks for the support and your dedication.

[2022-11-08 19:16] nunoperalta commented on #17482
Thank you very much, folks.
Really appreciate your time. Cheers!

[2022-11-08 19:41] williamdes commented on #17523
Okay, keeping this open until I ship the patch to the Ubuntu PPA. Sorry non PPA users Ubuntu needs to fix this 🤷🏻‍♂️

[2022-11-08 21:57] adorade opened #17884 "Strange behavior of `navbar-collapse` for devices smaller than 992px."
### Describe the bug

Strange behavior of `navbar-collapse` in topmenu for devices smaller than 992px. The text appears first and then the background is filled with color. Tested on https://demo.phpmyadmin.net/QA_5_2/index.php with Bootstrap theme. The same problem with the Darkwolf theme. The other themes (Metro, original and pmahomme) work correctly.

### To Reproduce

[demo.phpmyadmin.net _ php

[2022-11-09 01:52] vimalMK commented on #17703
PR #17885

[2022-11-09 04:21] vimalMK commented on #17404
@OlafvdSpek  Good find. Redirecting sounds like a valid solution instead of a error message.

[2022-11-09 05:09] vimalMK commented on #17876
Working on this feature for 5.3.

[2022-11-09 06:25] vimalMK commented on #17404
@williamdes

PR #17886  show do the job.

[2022-11-09 09:42] Arpit-Gulgulia commented on #17841
@williamdes, thanks for the heads up. Unfortunately, I am not getting much time after my office hours. Will work on it when I get some time Thanks.

[2022-11-10 02:03] vimalMK commented on #17141
Hey @williamdes

I have some questions regarding the styling. I know each theme is having its own CSS . Just wondering is there a common CSS file which applies to all the themes?

[2022-11-11 00:45] #17875 closed

[2022-11-11 22:30] iifawzi commented on #17482
we can get benefit from the `querytype` property from our parser, we're already detecting the statements, then maybe we can check if `querytype` is either `EXPLAIN` or `ANALYZE` and set  of `full text` accordingly.

I didn't understand the issue mentioned here, is it a separate issue? and what its impact on this feature request. I might be missing something. btw, we have no implementation for the

[2022-11-12 00:24] nunoperalta commented on #17482
@iifawzi - Thank you for looking into this.

The issue is that `ANALYZE` is mapping to `AnalyzeStatement`, under "Table Maintenance Statements".

`ANALYZE SELECT ...` is not a Table Management Statement.
`ANALIZE TABLE` is.

I'm just afraid that `ANALYZE` is always assumed to be a Table Management Statement, and therefore used in the code only for that purpose, making it a bit hard to differentiat

[2022-11-12 00:40] iifawzi commented on #17482
I got it, my bad, thank you for elaborating on this.

You're right, this's definitely an issue from the parser point of view if the ANALYZE table is seen as ANALYZE statement. I will take another look on it tomorrow

[2022-11-12 12:47] iifawzi commented on #17482
Summing this up:

1- We have `ANALYZE` statement in the parser, this should only parse `ANALYZE TABLE` statements in both `MariaDB` and `MySQL` and the parse logic for this is already implemented.
https://dev.mysql.com/doc/refman/5.6/en/analyze-table.html
https://mariadb.com/kb/en/analyze-table/

2- We have `EXPLAIN` statement in the parser ( not implemented yet ), this should only parse:
- `Expla

[2022-11-12 13:26] #17705 closed

[2022-11-12 14:03] nunoperalta commented on #17482
That seems spot on, @iifawzi ! Thank you very much.

Just to let you know in advance, please note that checking for `ANALYZE SELECT` isn't enough, as there can be a `FORMAT=xxx` in the middle, e.g. `ANALYZE FORMAT=JSON SELECT ...`.

Thank you once more. Have a great weekend 👍🏼👍🏼

[2022-11-12 16:09] williamdes commented on #17705
The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) is updated with the fix

[2022-11-12 23:21] kamil-tekiela opened #17892 "Closing index edit modal and reopening causes it to fire twice"
### Describe the bug

When the index edit/rename modal is opened on /table/structure page, then closed, and then reopened once again, all actions are triggered twice. The jQuery event handler seems to be added again and the old one isn't discarded.

### To Reproduce

Steps to reproduce the behavior:
1. Go to /table/structure
2. Click on edit index
3. Click Close
4. Click on edit index again
5. Cli

[2022-11-13 05:33] vimalMK commented on #17869
PR #17893. Should fix this issue.

[2022-11-13 08:02] vimalMK commented on #17724
Hey @williamdes

`QA_5_2` cloned in my local shows the same error pop up instead of graceful message. To test I revoked the permission for `root` to create databases.

[127.0.0.1_81 _ 127.0.0.1 _ phpMyAdmin 5.2.webm](https://user-images.githubusercontent.com/35750792/201511943-9bb8088d-ce77-4d66-9b22-2ec011b364c4.webm)

[2022-11-13 08:46] flysk1 commented on #17830
Any plan to release new official version sir?

[2022-11-13 09:26] williamdes commented on #17830
The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) is also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots).

[2022-11-14 11:59] williamdes commented on #17869
Sources:
https://github.com/phpmyadmin/phpmyadmin/commit/76409e259d061ba65458516ca16c8f99588f6630#diff-401fa9ac455f80ecd82d75155b189c586eadf55f976b2050915d031eaf79a39dR2050-R2065
https://github.com/phpmyadmin/phpmyadmin/commit/37d50c1822c9b3b8d8bd1f5cb5c8a5e74ee1d268#diff-98f45ff6ce5760b40756ed7ce67dc0b880e8ba55f1298d7c79bd7bb8b49a3d60R671-R685

Seems like it goes back 21 years ago into 16843c684b

[2022-11-14 12:18] williamdes commented on #17869
Here is the same bug on phpMyAdmin 3.5.0
![image](https://user-images.githubusercontent.com/7784660/201658118-4e4c94ce-24bc-4e31-a421-2e7c033bdec8.png)

with this HTML
[code]

[2022-11-14 12:30] williamdes commented on #17869
On 5.2
with `$cfg['RowActionLinks'] = 'both';`
Please use the same view and database !
![image](https://user-images.githubusercontent.com/7784660/201660282-b6003589-6b6a-40cb-901c-fbf173a3a680.png)

[2022-11-14 12:32] williamdes commented on #17892
Hi @kamil-tekiela
On 5.2 or 5.3 or both ?

[2022-11-14 12:33] kamil-tekiela commented on #17892
I haven't checked 5.2 yet. I only checked 5.3

[2022-11-14 13:26] #17892 closed

[2022-11-14 14:05] williamdes commented on #17830
This issues are "blocking" the release (https://github.com/phpmyadmin/phpmyadmin/milestone/273):
- [ ] #17833 (could be skipped but is problematic for some users)
- [ ] #17703 (showing the date picker when not needed is not very cool)
- [ ] #17778 (can be skipped, another date picker one)
- [ ] #17877 (⚠️ This one is important as most structure actions do not work correctly, the feedback shown to

[2022-11-14 16:39] vimalMK commented on #17869
21 years ago !! wow.

[2022-11-14 23:43] AgentFriday opened #17896 "Cannot alter Time portion of timestamp directly via grid edit"
When I double-click a timestamp field to edit it, then make the edit directly in the raw text of the field, it will allow me be to alter the date (changing the highlighted date in the calendar as I type), but when I type a time following the date then press Enter, the time in the date picker's "Time" field (usually the current time of day) is substituted instead.

If I am editing any type of date

[2022-11-15 09:05] williamdes commented on #17896
Hi @AgentFriday
Is it better or solved if you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots)?

[2022-11-15 20:18] megabert opened #17898 "PHPMyAdmin produces not output if mysqli is missing"
### Description

PHPMyAdmin does not generate any output (CLI or browser). So no hint what is wrong when the mysqli extension is missing.

### To Reproduce

Just call PHPMyAdmin in browser or from commandline.

### Expected behavior

The program states that mysqli extension (or whatever else) is missing via the error log or via stderr.

### Server configuration

Server 1:

- Operating system: Ubun

[2022-11-15 21:08] megabert commented on #17898
Here's a package list for php/apache packages on the system:

[code]

[2022-11-15 22:13] nunoperalta opened #17899 "Can't preview SQL for editing an index"
5.2.0

1) Open table structure
2) Edit index
3) Add a new column to that index (in the modal that opened)
4) Preview SQL

The network request (to `/table/indexes`) happens, and seems to return the SQL preview and "success: true" (in the JSON response), but nothing happens in the UI. The same Edit Index modal stays there.

I'm using the Docker version with the Original theme.

This seems to be reso

[2022-11-15 22:38] williamdes commented on #17898
Hi!
I think this is a duplicate of #17527
You should try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) and let us know

[2022-11-15 22:46] williamdes commented on #17899
Hi @nunoperalta
Can you try
the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots)

This new docker image should help you test the changes we make, let me know about it :)

[2022-11-16 10:23] williamdes commented on #17899
After searching for "modal" into https://github.com/phpmyadmin/phpmyadmin/milestone/273?closed=1 I found #17606
But it's true it is missing in the ChangeLog

[2022-11-16 10:23] #17899 closed

[2022-11-16 11:14] megabert commented on #17898
Verified. Problem fixed in phpMyAdmin 5.2+snapshot :  _Daily snapshot, generated 2022-11-13, from [Git commit 482e7c2a2130ca4c7f3b586891d8f55f78182d06](https://github.com/phpmyadmin/phpmyadmin/commit/482e7c2a2130ca4c7f3b586891d8f55f78182d06)._

[2022-11-16 11:17] #17898 closed

[2022-11-16 11:22] williamdes commented on #17898
Duplicate of #17527

[2022-11-16 14:56] d-w-d commented on #17654
Had same problem running phpmyadmin on AWS RDS. I had to run `grant create user on *.* to USERNAME with grant option;` to enable that user to change its own password, which seems less than ideal.

[2022-11-16 15:00] ibennetch commented on #17898
Great, thank you for the report and for testing the fix!

[2022-11-17 00:10] YouveGotMeowxy commented on #17858
Here's some more discussion on it:

https://gist.github.com/iamphilrae/d538d5b48608de290bfee791df3e6f54?permalink_comment_id=4352266#gistcomment-4352266

[2022-11-17 05:01] AgentFriday commented on #17896
I would be reluctant to install a development version on our production server.  I'd consider installing the latest stable release, if the learning curve is not too steep.

I used to have no problem editing timestamps, and have not upgraded manually, so apparently the problem was introduced by some automatic update, within the last couple months.  We are using cPanel.

[2022-11-17 09:22] williamdes commented on #17896
I can understand that, there is not much differences between a release and a snapshot version. But there is currently no GPG signing on it. You can install 5.2.0 that is a stable version and provide feedback on it. But the feedback may be outdated. Anyway we should have a release for 5.2.1 some time soon: #17830

If you are not that easy on installs you can use my easy install script: https://gist

[2022-11-17 12:50] lostpetjp commented on #17830
Hello.
I have used the latest version and am impressed with the significant improvements.
It is a hassle to download and build, but it is definitely worth it.

[2022-11-17 15:32] williamdes commented on #17830
That's cool, thank you !
Why did you need to build ? I am curious if you can let us know :)
Because we provide a snapshot version: [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots)

[2022-11-17 15:59] williamdes commented on #17830
As I added into the TODO list sql-parser will need a new release, this is why I pushed 9a8452735c653ac0c35059ab8c93d5b90561fd8c to start testing the changes before the release

[2022-11-17 16:00] williamdes commented on #17482
I just merged https://github.com/phpmyadmin/sql-parser/pull/386 and pushed 9a8452735c653ac0c35059ab8c93d5b90561fd8c this morning. So the hash should be updated and changes be made here if necessary before sql-parser is released

[2022-11-17 16:02] iifawzi commented on #17482
Perfect, I will make sure to create a PR to address the needed changes for this feature to be done

[2022-11-17 16:57] nunoperalta commented on #17482
@iifawzi  - thank you very much for this!

I saw your test cases,

can you please also add another test?

`ANALYZE FORMAT=JSON SELECT * FROM orders`

[2022-11-17 17:53] iifawzi commented on #17482
This can surely be added, but this case is implicitly covered by the added tests already because we're checking whether it's an ANALYZE TABLE Statement or not, if it's not so this's definitely an Explain statement.

https://github.com/phpmyadmin/sql-parser/blob/8fddb4becdfb657db3b9ade52e952ef3c822a26b/tests/data/parser/parseExplain1.out#L425-L427

[2022-11-17 19:55] nunoperalta commented on #17482
Aahhh... ok, great then! Thanks very much 😊

[2022-11-17 21:02] tasiot opened #17902 "Error 500 if related table has longtext on the first column"
### Describe the bug

I don't have found this bug in the issues, opened or closed, so I suppose it's not yet fixed.
Sorry if you are fixed that from the v5.1.0…

When a constraint (InnoDb FK) exists, PMA formats the foreign key value in a link with a title attribute that contains the first text column of the related table.
However, if the first text column is not a varchar but a longtext for examp

[2022-11-17 21:19] williamdes commented on #17902
Bonjour,

Thank you for you report, I will have a look into it in detail.
Can you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) ?

[2022-11-17 21:32] tasiot commented on #17902
Ok, it works on my local with docker, but I get some warning related to memory limit and I get an very large tooltip…

I really think you must to truncate the foreign table text and I think it's really easy for you (the difficulty for me is to locate the code that retrieves this text).
It is really useless to return the complete content of the text field…

[2022-11-17 23:31] tasiot commented on #17902
Thank you.
In my opinion, the "title" attribute should be used to quickly tell us what the related entity is, not to return all its content.

[2022-11-18 00:51] lostpetjp commented on #17830
I do not have the knowledge to do this, and I described "unzip and edit the config file" as build.
Sorry for the confusion with the confusing wording.
I always update phpMyAdmin this way.

[2022-11-18 06:42] ayenewyihune commented on #17722
Just running mysql_upgrade.exe found in \xampp\mysql\bin worked for me.

[2022-11-18 21:44] petewulf opened #17907 "Empty page when editing/inserting to some tables"
### Describe the bug

On several tables there is no query executed after clicking on "OK" when editing or insert.
After my research it ist only related to tables which contains sets. After clicking "OK" it results in an empty page content with no errors  as it can be seen on the screenshot.

### To Reproduce

Steps to reproduce the behavior:
1. Go to a table which contains a set
2. Click on a row

[2022-11-18 23:51] williamdes commented on #17907
Hi,
Thank you for reporting this
I am curious, could you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots)?

[2022-11-19 09:02] williamdes commented on #17722
I think we should handle nicely this bug and silence it so it stops getting sent to our error reporting sever

[2022-11-19 18:09] #17482 closed

[2022-11-19 21:32] petewulf commented on #17907
Hey William,

thanks for your fast reply.
Your latest snapshot is working, there are no more problems when editing SET-rows.

Thanks very much!

[2022-11-19 21:32] #17907 closed

[2022-11-20 00:59] Bossesoneroom commented on #17848
My website is not open please  some body help me to open

[2022-11-20 01:40] ibennetch commented on #17848
@Bossesoneroom You haven't really provided enough information for us to help. What is the site and what is the problem are two questions that could help — but probably we won't be able to help because we work on the phpMyAdmin application. That's an interface that helps administrators manage a database, but isn't directly responsible for handling your web site.

You should probably seek assistance

[2022-11-20 01:56] Bossesoneroom commented on #17848
Mahoganyshop.wpcomstaging.com/
When i install plogin  starting not open

[2022-11-20 01:57] Bossesoneroom commented on #17848
What I do

[2022-11-20 09:40] williamdes commented on #17902
I agree, it's a bug.
I confirm that I can reproduce what you reported

[2022-11-20 10:27] DorianCoding opened #17908 "Syntax error shown while there is none"
When using ROW_NUMBER and an alias such as :

`SELECT ROW_NUMBER() OVER (ORDER BY `start`)`

Phpmyadmin is showing an error but the query works.

It says "An alias was previously found" near the index.

![image](https://user-images.githubusercontent.com/108593662/202897054-6958b4a2-f64b-43ed-9173-5a51976b150e.png)

### Server configuration

- Operating system: Ubuntu
- Web server: Nginx + Apache
-

[2022-11-20 11:23] robetus commented on #17369
Thanks for that, worked great!

[2022-11-20 11:41] williamdes commented on #17902
I confirm this behavior on text, mediumtext, longtext, varchars and also blob columns

I think all types are affected. This occurs when you set the column as display column on table 1

[2022-11-20 12:44] williamdes commented on #17902
There is more to this if you use internal relations
![image](https://user-images.githubusercontent.com/7784660/202902517-f9599bc6-9db3-4eb3-9f8a-b31a355fc498.png)

[2022-11-20 14:23] MajinSheron opened #17909 "Need help: Unable to generate a URL for the named route "admin_link_block_list" as such route does not exist."
PHP 7.3
Prestashop 1.7.8.7

HEY,
I have a problem for a few days that I can't solve.
I can't connect to my prestashop back office.
![Capture d’écran 2022-11-20 à 14 13 03](https://user-images.githubusercontent.com/118672754/202907008-db38d66c-120b-49a9-aaad-fdb8b259bfe9.png)
![Capture d’écran 2022-11-20 à 14 12 42](https://user-images.githubusercontent.com/118672754/202907026-95a37a9a-b879-484

[2022-11-20 14:28] williamdes commented on #17703
Finally I think that the note strings `strMysqlAllowedValuesTipTime` and others could have `Note: ` added in start of the text. It would show on the tooltip and on the calendar. What do you think @liviuconcioiu ?
https://github.com/phpmyadmin/phpmyadmin/blob/ca2b36cfb08f1acf13e39be0a2f8464cf9777e37/libraries/classes/Controllers/JavaScriptMessagesController.php#L513-L529

[2022-11-20 14:33] #17902 closed

[2022-11-20 15:27] liviuconcioiu commented on #17703
That should be okay, but for example the same note isn't shown for datetime and timestamp and also the tooltip is not present for datetime and timestamp.

https://user-images.githubusercontent.com/25424343/202910697-b2f438d6-75d9-41a5-b393-06177a70a90c.mp4

[2022-11-20 15:51] williamdes commented on #17703
Can you open a new issue for this one ?
Since it will be closed when I merge the fix into 5.3

[2022-11-20 16:17] liviuconcioiu opened #17910 "Tooltip issues"
### Describe the bug

A clear and concise description of what the bug is.

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

https://user-images.githubusercontent.com/25424343/188072078-6da04a85-01a7-42ce-81c7-5f6f8ac49f91.mp4

Tooltip is not present for datetime and timestamp.

https://user-images.githubusercontent.com/25424343/202910697-b2f4

[2022-11-20 17:16] #17703 closed

[2022-11-20 17:16] #17446 closed

[2022-11-20 17:27] liviuconcioiu commented on #17703
@williamdes, @vimalMK there's an icon of date picker that still shows for other field types.

https://user-images.githubusercontent.com/25424343/202916590-6c798513-a421-4517-a620-1f742801f002.mp4

[2022-11-20 17:54] williamdes commented on #17703
__The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) is updated with the fix.__

Are you sure to be up to date and the JS cache cleared ?
I can not reproduce this

[2022-11-20 17:55] williamdes commented on #17446
_The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) is updated with the fix 🚀_

Let me know if everything is fine

[2022-11-20 17:55] williamdes commented on #17340
_The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) is updated with the fix 🚀_

[2022-11-20 17:58] williamdes commented on #17321
_The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) is updated with the fix 🚀_

[2022-11-20 17:59] williamdes commented on #17431
_The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots) is updated with the fix 🚀_

[2022-11-20 17:59] #17431 closed

[2022-11-20 18:06] williamdes commented on #17672
Hi @A-Wat
Could you send here a test table with test data ?

[2022-11-20 18:20] liviuconcioiu commented on #17703
Cache is cleared. You have to click on date first.

https://user-images.githubusercontent.com/25424343/202919024-126b1573-16e0-418c-9149-823572d90ecd.mp4

[2022-11-20 18:22] vimalMK commented on #17703
I thought I handled that case. Sorry about that. Maybe there is another use case yet to be handled.

[2022-11-20 18:22] liviuconcioiu commented on #17703
I think this happens because the demo server hasn't the last commit for QA_5_2

[2022-11-20 18:24] vimalMK commented on #17703
-

Its a demo server. Very well you might be right.

[2022-11-20 19:36] williamdes commented on #17535
I managed to reproduce this !
Hit <kbd>F5</kbd> to refresh the page and as soon as possible click on the delete button

[2022-11-20 20:37] williamdes commented on #17535
I am marking this as skipped to this milestone, it may require risky changes

[2022-11-20 20:47] #17770 closed

[2022-11-20 20:49] williamdes commented on #17754
Hi @renancamargo
Can you the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots#readme) ?

[2022-11-20 20:54] williamdes commented on #17538
Related to: https://github.com/phpmyadmin/phpmyadmin/issues/17878#issuecomment-1305723031

[2022-11-20 21:48] williamdes opened #17911 "Broken configuration file error display is broken"
### Describe the bug

Due to c04f85f2bb96c442086d9ad057953567cc794486

### To Reproduce

Make a config file with a php syntax mistake in it

### Expected behavior

![image](https://user-images.githubusercontent.com/7784660/202927799-9d933744-639d-4941-a430-e9840603d049.png)

### Screenshots

**Do not try to fix errors one by one from the screenshot below, it is pointless as you will end up renderi

[2022-11-20 21:48] williamdes commented on #17911
@MauricioFauth you did the fix I mentioned, what is the best patch ?

[2022-11-20 21:56] williamdes commented on #17478
Hi @yonexone
You need to use
[code]

And it shows up nicely

![image](https://user-images.githubusercontent.com/7784660/202928281-d513e3d5-0cb7-41ee-8ccd-871e5c4962bb.png)

[2022-11-20 21:56] #17478 closed

[2022-11-21 04:38] nunoperalta commented on #17535
Thanks @williamdes  - I still from time to time don't get the confirmation alert, and I'm pretty sure it's not a "timing issue" (like opening the page and delete quickly), but I'm glad you found a way to reproduce this anyway!

[2022-11-21 09:14] williamdes commented on #17703
We should probably Web hook the servers so they get updated quicker or I should probably re-make my own demo servers work

[2022-11-21 14:15] maximewim opened #17913 "Click does not close windows"
### Describe the bug

![image](https://user-images.githubusercontent.com/89021780/203076595-a7e5a5fb-1176-40ac-b2d4-aaf57905ced3.png)

### Server configuration

- phpMyAdmin version:  5.2.1-dev+20221117.9a8452735c

[2022-11-21 14:44] maximewim commented on #17913
I also have the same behaviour on sql errors

[2022-11-21 15:58] php4fan opened #17914 "Settings for "Full texts", "show BLOB contents" etc. get reset at every change of page or sorting"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Browse a table that has `TEXT` and `BLOB` columns
2. Click on the "<- T ->" button to expand texts
3. Click on "Extra options" and check "Show BLOB contents"
4. Click on a column to change the sorting of the results, or change the number of rows displayed or change page

[2022-11-21 19:37] #17911 closed

[2022-11-21 20:10] williamdes commented on #17833
Hi @MauricioFauth
Can I have some of your help on this one please ?

[2022-11-21 21:48] vimalMK commented on #17913
I might help with this but @maximewim can you provide me the steps to reproduce the issue. the wording in the image is not helping me, my fault :)

[2022-11-21 22:18] williamdes commented on #17913
You need to double click on a column name to copy it to the clipboard. I could not reproduce this

[2022-11-21 22:56] vimalMK commented on #17913
Thank you @williamdes . Let me try to reproduce my side.

[2022-11-22 05:14] ibennetch commented on #17909
Hi, unfortunately troubleshooting your Prestashop installation is quite a bit outside of our knowledge or ability to help with. I wouldn't have any idea why the table you're trying to modify doesn't exist and such questions are really better asked if the Prestashop support folks instead. Here we really only focus on the phpMyAdmin application itself and don't know about other programs. Good luck w

[2022-11-22 05:14] #17909 closed

[2022-11-22 20:27] vimalMK commented on #17913
I could not reproduce as well. Works as expected (click does close the notification modal for me).

The server and version details are as follows:

![image](https://user-images.githubusercontent.com/35750792/203414511-aa81cc3a-ef6e-41ee-bc61-daae27f589a7.png)

[2022-11-22 22:53] williamdes commented on #17913
I was there when @maximewim did the screenshot, so it definitely existed but maybe this has something to do with long sql requests or results. Not really sure. Can you test another time @maximewim?

[2022-11-24 04:09] pravintargaryen commented on #17618
Guys is it still problem still open for contribution?

[2022-11-24 04:10] pravintargaryen commented on #17618
Hey Guys,

Is this issue still open for contributions?

[2022-11-24 08:40] williamdes commented on #17618
Yes, sure. Please use QA_5_2 as a base branch for your new branch and as a target for your PR
It's normally a bug and should be investigated why the link disappeared and if possible on what version :)

[2022-11-24 13:15] momala454 opened #17920 "Moving column with empty default value will replace it with ''"
### Describe the bug

When you try to move a column where the default value is an empty string, the generated sql will replace the empty string with ''
Example
[code]

### To Reproduce

Steps to reproduce the behavior:
Create a table with at least 2 columns, one with varchar, and default value empty
change the order of the column
the default value is now ''

### Expected behavior

No change in def

[2022-11-25 05:55] ArtooS opened #17922 "remembering table sorting issue"
When I click on the column name link to sort by that column it is not remembering that setting when I return to the table after performing other tasks on other tables.   I checked the setting and do have the "Remember table's sorting' option checked.

I have tried unchecking that option and restarting then re-checking that option again and restarting and still have the issue.  As long as I stay on

[2022-11-25 17:11] williamdes commented on #17482
The [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots#readme) is updated with the fixes made to sql-parser 🚀

[2022-11-25 17:52] williamdes commented on #17922
Hi @ArtooS
Thank you for reporting this issue

[2022-11-25 17:58] williamdes commented on #17264
Hi @dcallebaut
It's a bit late to answer but is this still an issue for you using the `phpmyadmin:latest` container ?

[2022-11-25 18:00] williamdes commented on #17250
Hi @mpdude
Since the PHP fix was released, is there still something we should fix here ?
What is the current situation ?

[2022-11-25 18:15] mpdude commented on #17250
@williamdes do you refer to https://github.com/php/php-src/commit/0044a81fbbe0807158a626c4c5a4d8f4d379247f?

As I understand it, this only makes it possible in the first place to detect/handle the error alone, but it still requires error checking and/or handling code in phpMyAdmin itself. As I wrote above, I know too little about the export plugins to tell how this error handling might look like.

[2022-11-25 18:21] williamdes commented on #17250
Okay, I add this to my list of issues to reproduce then. I will keep this updated
There is another problematic subject also about not reporting errors: #16164

Well we do not use PDO (#16281) but use mysqli

[2022-11-25 18:38] mpdude commented on #17250
Wait, I had to re-read my above comments.

Seems we have a reproduce script and it is possible to detect the situation in mysqli, but there is currently no way to bail out of the export process with a good error message?

[2022-11-25 18:54] williamdes commented on #17250
There is ways to output messages, I never had to do until now so it needs some investigation to figure out

[2022-11-25 19:02] williamdes commented on #17766
I made a fix for this issue: https://github.com/phpmyadmin/phpmyadmin/pull/17923

[2022-11-25 19:37] williamdes commented on #17877
I am unable to reproduce this issue now. Maybe my JS files where broken or something

[2022-11-25 19:37] #17877 closed

[2022-11-25 19:41] williamdes commented on #17830
Hi @ibennetch
I updated the TODO list: https://github.com/phpmyadmin/phpmyadmin/issues/17830#issuecomment-1313763138

And the next task to be done by you is to release sql-parser. I think that one day after that we can declare phpMyAdmin ready for a release.

To the known bugs in the release mail we should document the 2FA key issue: #17229

[2022-11-25 20:31] williamdes commented on #17353
It's possible that this is already fixed by some other fix, maybe the one for #17892
Anyway one additional fix may be a safe guard for such scenarios

[2022-11-25 20:33] williamdes commented on #17353
Edit: I can reproduce this one on 5.3

[2022-11-25 20:48] #17353 closed

[2022-11-25 21:20] #17598 closed

[2022-11-25 21:20] #17632 closed

[2022-11-25 21:27] kamil-tekiela opened #17925 "What's the purpose of DisableIS?"
I know that it disables the usage of `INFORMATION_SCHEMA`, but my question is rather why do we even use `INFORMATION_SCHEMA`? Why is there a choice between the two?
Using IS isn't always correct. It's not a direct replacement and leads to bugs such as https://github.com/phpmyadmin/phpmyadmin/issues/17920
Disabling IS seems to also improve performance.
So my question is why do we even use `INFORMAT

[2022-11-25 21:28] kamil-tekiela commented on #17920
This was introduced in https://github.com/phpmyadmin/phpmyadmin/commit/75d296af15d43553cbf1fa03ebfb079d0dd5ad7b when `SHOW CREATE TABLE` was replaced with `SELECT` on `INFORMATION_SCHEMA`. Disabling [`$cfg['Servers'][$i]['DisableIS']`](https://docs.phpmyadmin.net/en/latest/config.html#cfg_Servers_DisableIS) seems to fix the issue.

[2022-11-25 21:51] williamdes commented on #16954
This is really similar to #17535

[2022-11-25 21:51] williamdes commented on #17535
This one probably links to #16954

[2022-11-25 21:51] #17123 closed

[2022-11-25 22:05] williamdes commented on #17174
I am closing this one since it seems not to have appeared. This could be because of my fix: a9356e4d16579103292a0ec03ffb39373ffaafe8

[2022-11-25 22:05] #17174 closed

[2022-11-25 22:07] williamdes commented on #17177
Now we have a modal in modal issue. No more preview works

[2022-11-25 22:07] williamdes commented on #17177
And it affects QA 5.2 yay..

[2022-11-25 23:04] williamdes commented on #16518
Is this still accurate ?

[2022-11-25 23:07] williamdes commented on #15887
I can confirm errors are ignored for multi mode with one or multiple tables

[2022-11-25 23:25] liviuconcioiu commented on #17913
@vimalMK here is one if you can fix. Probably, you can look for the same bug in other parts of the code.

1. Go to [https://demo.phpmyadmin.net/QA_5_2/index.php?route=/database/routines&type=PROCEDURE&db=sakila](https://demo.phpmyadmin.net/QA_5_2/index.php?route=/database/routines&type=PROCEDURE&db=sakila)
2. Click on Drop at the top
3. Click OK
4. Click on notification - it won't close

https://u

[2022-11-25 23:26] iifawzi commented on #17920
Hi, this bug is only affecting MariaDB versions newer than 10.2.7, it seems like MariaDB 10.2.7 broke compatibility with MySQL with their `INFORMATION_SCHEMA.COLUMNS.COLUMN_DEFAULT` new implementation.

There are multiple reports of the issue but it seems to be intentional, not a bug. [MDEV-13341](https://jira.mariadb.org/browse/MDEV-13341).

[2022-11-25 23:41] iifawzi commented on #17925
I'm not very sure, but most probably it gives more accurate/detailed maybe information, in the case of #17920, the default value is implemented differently when using information_schema to differentiate between the default values and the expressions at MariaDB. [MDEV-13132](https://jira.mariadb.org/browse/MDEV-13132)

[2022-11-25 23:46] williamdes commented on #17153
The simplest form that makes an error is:
[code]

[2022-11-26 00:15] vimalMK commented on #17913
Will have a look at this. thanks @liviuconcioiu

[2022-11-26 01:04] ibennetch commented on #17925
I can research this a little bit more later, but by memory I believe MySQL was working on removing several of the direct queries in favor of using queries against INFORMATION_SCHEMA. I think it was preferred for us to switch over several types of queries so that we would be compatible with future versions.

That was several years ago so my memory is a bit fuzzy, but that seems approximately correc

[2022-11-26 03:37] vimalMK commented on #17913
while am working on this, will take some time and run a quick check across the app and handle any similar issue.

[2022-11-26 09:08] nunoperalta commented on #17535
Cheers. I don't think I am seeing any warning showing, when this happens to me. Could have been a coincidence, when it happened to that user. Or just another reason for this bug to happen :)

[2022-11-26 09:21] williamdes commented on #17535
I think this could be another reason. Since the code needs to register itself to prevent the bug to occur. Anything that prevents it to register let's the bug occur

[2022-11-26 11:45] kamil-tekiela commented on #17920
Ok, so if I understand correctly, we have the following three points:
- We get different behaviour on MariaDB 10.2.7 vs all previous versions and MySQL. MySQL might fix this bug soon too.
- We have different output from IS and from `SHOW COLUMNS`
- If we stick with the new behaviour of IS then we have quoted and properly formatted value coming from IS vs what we get from HTML form. Thus we cannot

[2022-11-26 12:32] liviuconcioiu opened #17928 "shared.js missing on demo server"
### Describe the bug

shared.js missing on demo server.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/master/](https://demo.phpmyadmin.net/master/)
2. See error

### Expected behavior

JS files should be updated.

### Screenshots

![a](https://user-images.githubusercontent.com/25424343/204089079-b742ea8c-c53f-4cb6-859d-eb429c6266c8.png)

### Server confi

[2022-11-26 12:43] liviuconcioiu opened #17929 "Go button disappears on Routines page"
### Describe the bug

Go button disappears on Routines page.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [https://demo.phpmyadmin.net/QA_5_2/index.php?route=/database/routines&add_item=1&db=sakila](https://demo.phpmyadmin.net/QA_5_2/index.php?route=/database/routines&add_item=1&db=sakila)
2. Click on Change to FUNCTION
3. Go button is missing.

### Expected behavior

Go button sho

[2022-11-26 14:11] williamdes commented on #17929
Most probably will be solved when someone manages to put them back into modals. See: #17833

[2022-11-26 16:33] iifawzi commented on #17920
I believe that we need to keep the use of IS, we're definitely going to support the default expressions in the future, so we will still need the information we get from IS at that time.

The issue is only in the retrieval, not the insertion. MariaDB will always quote the values if they're not expressions, so I do suggest having a helper maybe `getMariaDBDefaultValue`, that gets the actual values w

[2022-11-26 21:03] MauricioFauth commented on #17928
Could be related to #17846.

[2022-11-26 22:04] #17928 closed

[2022-11-28 17:38] thejoker8814 opened #17930 "2FA setup not working after upgrade"
### Describe the bug

I upgraded my pma instance from 4.9.10 to 5.2.0 and after the upgrade the 2FA was not working.
Before the upgrade, I used 2FA to secure my account. I tried to re-enable it once more, but the setup page stays blank, so the setup is not completed.
Using simple-2fa ([$cfg['DBG']['simple2fa']) works fine for the user - I know it's just for debugging, but I think it's good to know

[2022-11-28 17:48] williamdes commented on #17930
Hi @thejoker8814
Some fixes where made to displaying errors, could you try the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) ?

[2022-11-28 17:49] williamdes commented on #17930
it could be related to #17506

[2022-11-28 23:17] aliber4079 opened #17931 "unable to focus cursor in console after commit c411d"
### Describe the bug

somewhere between c411d0fa4db3b83567672a55b886eedbb6670733 and 1df41153e42cd7bcd9081618bb6300a5ca7a174c I am no longer able to focus the cursor in the console

### To Reproduce

Steps to reproduce the behavior:
1. install 1df41153e42cd7bcd9081618bb6300a5ca7a174c or later
2. Click on console with the icon of the terminal
3. in the textarea where you type commands the cursor mi

[2022-11-28 23:17] belene opened #17932 "Use of mutation testing in phpmyadmin - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool  in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently bee

[2022-11-29 00:07] williamdes commented on #17931
Thank you for the report!
So you can confirm that with the latest 5.2 version in development [(phpMyAdmin 5.2+snapshot)](https://www.phpmyadmin.net/downloads/#snapshot_5.2+snapshot) also available as a [non official docker image](https://github.com/sudo-bot/docker-phpmyadmin-snapshots#readme) the bug still exists ?

[2022-11-29 00:07] williamdes commented on #17830
New blocking one: https://github.com/phpmyadmin/phpmyadmin/issues/17931

[2022-11-29 00:13] aliber4079 commented on #17931
I tried it with the latest git pull from the master branch about an hour
ago and the bug was still there.

On Mon, Nov 28, 2022, 18:07 William Desportes ***@***.***>
wrote:

[2022-11-29 00:20] williamdes commented on #17931
Please check out QA_5_2 branch and do not forget to run `yarn && composer update`

Is this what you usually do?

It's very important because QA_5_2 is the version we currently care about and master is the development version not released :)

[2022-11-29 00:56] aliber4079 commented on #17931
I always did yarn install, I didn't do composer update all the time but I
did do both yarn and composer update with a fresh install of the latest
master branch a couple of hours ago and the bug was still there.

On Mon, Nov 28, 2022, 18:20 William Desportes ***@***.***>
wrote:

[2022-11-29 03:20] thejoker8814 commented on #17930
@williamdes many thanks for your quick response!

It was the same problem as in #17506 - my bad I must have missed this issue in my search before.

Anyway, I checked out the current 5.2 snapshot efae3a9:
- "Application 2FA" option is not offered/ displayed in the "Settings / Two-Factor Authentication" screen, if libxml is not installed

[2022-11-29 03:20] #17930 closed

[2022-11-29 07:26] MauricioFauth commented on #17932
Hello Ana, I answered the questionnaire. Thank you.

[2022-11-29 07:26] #17932 closed

[2022-11-29 08:46] williamdes commented on #17930
Duplicate of #17506

[2022-11-29 14:26] aliber4079 commented on #17931
QA_5_2 works, sorry for the inconvenience!

[2022-11-29 17:41] williamdes commented on #17931
Thanks for confirming, this bug is probably due to other recent js changes from @MauricioFauth

[2022-11-29 19:00] #17931 closed

[2022-11-30 09:12] Popolon opened #17933 "Js are missing in 5.2.0 tarball"
### Describe the bug
A clear and concise description of what the bug is.
Install phpMyAdmin 5.2.0 from tarball, following usual rules (configuration file, create database) etc... Then connect to phpMyAdmin. A blank page is shown. Similar to #16753 with phpMyAdmin 5.1.
### To Reproduce

Get  phpMyAdmin 5.2.0  tarball (tar.gz) from this page https://www.phpmyadmin.net/downloads/
unarchive it
configu

[2022-11-30 09:24] Popolon commented on #17933
I understood, that was linked to php_fpm cache, after restarting it, everything woked, sorry.

[2022-11-30 09:24] #17933 closed

[2022-11-30 12:27] crustamet opened #17935 "strftime PHP 8.1 deprecated"
Can we have support for the new PHP 8.1 release, i have noticed this error warning but it is such a pain in the ass by navigating the phpmyadmin while each request the notice pops up.

can we please have this fixed ? i know there needs a rewrite where all **strftime** function was used.

![image](https://user-images.githubusercontent.com/36475250/204795994-f07b0263-e2ae-42cc-969f-ff92dffe83b7.png)

[2022-11-30 12:50] klaoun commented on #17935
Hello, it's corrected is september 2021 for @strftime from phpmyadmin 5.1.2

[2022-11-30 13:25] MauricioFauth opened #17936 "Drop support for MySQL 5.5 and MariaDB 5.5"
Support for MySQL 5.5 and MariaDB 5.5 should be dropped on phpMyAdmin 6.0, as both versions are no longer maintained.

- [MySQL 5.5 EOL notice](https://www.mysql.com/support/eol-notice.html):

- [MariaDB 5.5 EOL notice](https://mariadb.org/about/#unmaintained-releases):

For now, only new features shouldn't support these versions.
Users can use the [`$cfg['MysqlMinVersion']`](https://docs.phpmyadm

[2022-11-30 13:26] MauricioFauth commented on #17936
What do you think about this? @phpmyadmin/developers

[2022-11-30 13:36] ibennetch commented on #17936
Good point, although it's hard to know what justifies a jump to version 6. It seems possible to me that this could be part of 5.3.

I feel the semver standard is a great guideline, but often fails to account for the nuances of versioning when we don't provide any API and just depend on other software.

As far as dropping those old versions, we should maybe check whether they are in common use on a

[2022-11-30 16:43] MauricioFauth opened #17937 "Select arrow doesn't hide the content when direction is different"
### Describe the bug

As reported in https://github.com/phpmyadmin/phpmyadmin/pull/17926, the Select's arrow doesn't hide the content when direction is different.

### Expected behavior

The select's arrow should hide the content.

### Screenshots

![before](https://user-images.githubusercontent.com/25424343/204065422-6574d216-67ba-44d3-a08e-5d3d856fa89d.png)

### Additional context

- https://git

[2022-11-30 16:54] williamdes commented on #17936
I think I see no point dropping versions, people have old servers still running and I know a client that has. It will make people use older phpmyadmin versions and that's really not good for us. I think we should invest some time in making a library or class with all security bug versions of php/mysql/perconadb and MariaDB
And then displaying a big warning box somewhere very obvious
People hate wa

[2022-11-30 18:46] #15887 closed

[2022-11-30 18:46] #17177 closed

[2022-11-30 20:10] MauricioFauth commented on #17936
The reasoning is that 5.3 is close to release and I want the next version to be 6.0, so I can work on the public directory issue.

- https://github.com/phpmyadmin/phpmyadmin/issues/16229

I really like this idea. I think it's a better option than removing support for old versions.
Increasing MySQL/MariaDB versions is different than increasing the PHP version, because it doesn't cost too much to us