[2019-12-30 18:57] seattledeveloper commented on #15724
A bit more information, it seems that two-factor auth is actually removed from the configuration, because once I downgraded back to 4.9.2, it was no longer there.

And, FYI, I sftp the tar.gz file to the server, copy over the config file from a previous version, and just update a symlink.  So I can easily move between versions.

[2019-12-30 19:26] stresbiz commented on #15724
Thank you for your input seattledeveloper!  Hopefully they can fix the issue ASAP.

[2019-12-30 19:48] raimund-schluessler commented on #15724
I see the same issue on 5.0.0.

[2019-12-30 20:10] pamamolf commented on #15200
More details please?

[2019-12-30 20:14] travisbotello commented on #15200
Just run `yarn` command in your terminal after `git pull`, manually or in your deploy script. Once the CSS resources have been compiled the error msg is gone.

[2019-12-30 21:11] pamamolf commented on #15200
It's ok for the missing css but it doesn't fix the mismatch https error :(

[2019-12-30 21:21] centminmod commented on #15200
oh actually doing yarn install does fix phpmyadmin 5's mismatch errors it seems ! interesting :)

[2019-12-30 22:17] pamamolf commented on #15200
It seems all to be ok now :)

Another user report that there is an error 500 when you try to export a database:

[28-Dec-2019 23:18:27 UTC] PHP Fatal error:  Uncaught TypeError: set_time_limit() expects parameter 1 to be integer, string given in /usr/local/nginx/html/25218_mysqladmin106/libraries/classes/Util.php:4842
Stack trace:
#0 /usr/local/nginx/html/25218_mysqladmin106/libraries/classes/Util

[2019-12-31 01:51] peterkahl commented on #15724
I confirm the same issue. 2fa worked on 4.9.2 but not on 4.9.3 and 5.0.0.

[2019-12-31 07:22] aschuch247 commented on #15200
@pamamolf: Please do not hijack this issue. If you found another bug, please just file another bug. Thanks. :smiley:

[2019-12-31 10:05] williamdes opened #15725 "error 500 when exporting - set time limit when $cfg['ExecTimeLimit'] used a string and not an int value"
Another user report that there is an error 500 when you try to export a database:

[28-Dec-2019 23:18:27 UTC] PHP Fatal error:  Uncaught TypeError: set_time_limit() expects parameter 1 to be integer, string given in /usr/local/nginx/html/25218_mysqladmin106/libraries/classes/Util.php:4842
Stack trace:
#0 /usr/local/nginx/html/25218_mysqladmin106/libraries/classes/Util.php(4842): set_time_limit('28

[2019-12-31 11:06] #15725 closed

[2019-12-31 11:07] williamdes commented on #15725
@pamamolf now fixed.
Please read the documentation and use int for in values or you will break more things
But I still agree that we should handle it on our side

[2019-12-31 11:12] OlafvdSpek opened #15726 "Enum Editor Delete Icon"
https://demo.phpmyadmin.net/master-config/index.php?route=/server/databases&server=2

![pma](https://user-images.githubusercontent.com/2218936/71619854-bea19180-2bc6-11ea-8f52-278d0b1550c3.PNG)

[2019-12-31 11:51] yashrajbothra commented on #15726
Hey @williamdes can i work on this issue?

[2019-12-31 12:03] williamdes commented on #15726
@yashrajbothra yes, you will need to use master branch

[2020-01-01 07:43] arifnofriadi opened #15728 "phpmyadmin ubuntu 19.10"
hi guys
after installation phpmyadmin on ubuntu 19.10
i tried to access phpmyadmin page but what i found " The requested URL was not found on this server.
Apache/2.4.41 (Ubuntu) Server at localhost Port 80"
please help me...

[2020-01-01 07:44] williamdes commented on #15728
Hello
Please have a look at #15515

[2020-01-01 07:45] williamdes commented on #15728
I doubt that you installed phpmyadmin if you did not have our PPA installed :)

[2020-01-01 07:46] arifnofriadi commented on #15728
I had seen the instructions before, but after I tried the results were the same

[2020-01-01 07:46] williamdes commented on #15728
Are you sure the installation was successfull?

[2020-01-01 07:47] arifnofriadi commented on #15728
yes sure

[2020-01-01 07:49] williamdes commented on #15728
Okay, thank you
Could you check your apache configuration files?
I dot know much about apache but If I remember correctly we add a file for phpMyAdmin

[2020-01-01 07:51] arifnofriadi commented on #15728
I remember that there was an configuration file that had to be changed, I remembered vaguely like "etc / nano / .." but I didn't remember it

[2020-01-01 07:52] arifnofriadi commented on #15728
sorry if my english bad

[2020-01-01 07:55] arifnofriadi commented on #15728
![Screenshot 2020-01-01 14:54:39](https://user-images.githubusercontent.com/53391649/71639306-b4ef5b00-2ca6-11ea-9c74-86ad13b70d6a.png)

[2020-01-01 07:56] williamdes commented on #15728
Maybe `sudo nano /etc/apache2/sites-available/default`
https://www.digitalocean.com/community/tutorials/how-to-configure-the-apache-web-server-on-an-ubuntu-or-debian-vps

But first can you purge phpmyadmin and re install it?
Then post the install output?

[2020-01-01 08:02] arifnofriadi commented on #15728
yeah it looks the same as what I used to do but what I remember after typing "sudo nano / etc / apache2 / sites-available / default" is just a blank page and the file has to be edited, sorry, but it doesn't seem to use the default

[2020-01-01 08:05] arifnofriadi commented on #15728
wait, is this affected if I install laravel?

[2020-01-01 08:31] arifnofriadi commented on #15728
I remember "sudoedit /etc/apache2/apache2.conf" but set the edit section
<Directory / var / www />
   Options Indexes FollowSymLinks
   AllowOverride none
   Required all granted
</Directory>
Becomes
<Directory / var / www />
   Options Indexes FollowSymLinks
   AllowOverride all
   Required all granted
</Directory>
still can not

[2020-01-01 08:47] williamdes commented on #15728
@arifnofriadi a quick fix:
- purge phpMyAdmin package
- go to our website and download 5.0.0
- extract it to /var/www
- rename the folder to a more friendly name 'phpmyadmin'
- refresh the browser page

Done :tada:

[2020-01-01 09:43] yashrajbothra commented on #15726
Hey @williamdes , I found the problem in CSS can i change SCSS file in themes??

[2020-01-01 10:00] arifnofriadi commented on #15728
yes its change to 403 Forbidden You don't have permission to access / on this server

[2020-01-01 10:23] williamdes commented on #15728
You maybe need to `chmod 777 - R phpmyadmin`

[2020-01-01 10:25] williamdes commented on #15726
Hey @yashrajbothra yes, you can change them and run yarn run css-compile

[2020-01-01 10:43] OlafvdSpek opened #15729 "Virtuality options drop-down for MariaDB"
[code]

So it doesn't make sense to have three options..

https://mariadb.com/kb/en/generated-columns/

![pma](https://user-images.githubusercontent.com/2218936/71640520-e7d82580-2c8b-11ea-8c80-ef88fee63f73.PNG)

[2020-01-01 12:02] ibennetch commented on #15312
Isn’t INPLACE the default, according to
https://dev.mysql.com/doc/refman/8.0/en/alter-table.html ?

I’m not particularly against implementing this, I just am not sure that
it’s needed.

[2020-01-01 12:06] williamdes commented on #15312
@ibennetch the PR #15420 adds an option for 'ONLINE' only

[2020-01-01 16:37] shahimahesh4 opened #15731 "Error on Phpmyadmin"
I changed  port 3306 to 3007 in xampp phpmyadmin config setting  but it showing some error can you please help me to solve below issue

**Issue**
phpMyAdmin tried to connect to the MySQL server, and the server rejected the connection. You should check the host, username and password in your configuration and make sure that they correspond to the information given by the administrator of the MySQL

[2020-01-01 16:38] williamdes commented on #15731
@shahimahesh4 can you please post the error or a screenshot

[2020-01-01 19:55] arielesp opened #15733 "sql tab disappear after full page load"
### Describe the bug

sql tab disappear after full page load

### To Reproduce
~~https://youtu.be/cQbi_ZTw574~~

Steps to reproduce the behavior:
1. check video above

### Expected behavior

Tab textarea disappear

### Server configuration

- Operating system: CentOS 7.7
- Web server: vestacp httpd php nginx
- Database version: Percona 5.7
- PHP version: 5.7
- phpMyAdmin version: 4.9.3

### Client

[2020-01-02 13:54] williamdes commented on #15728
@arifnofriadi did it work ?

[2020-01-02 14:11] arifnofriadi commented on #15728
Not at all

[2020-01-02 14:19] williamdes commented on #15728
Maybe you are missing a php handler `apt install libapache2-mod-php`

[2020-01-02 14:22] arifnofriadi commented on #15728
Ok i aprroved first

[2020-01-02 14:26] williamdes commented on #15728
Let me know what still does not work

[2020-01-02 14:32] arifnofriadi commented on #15728
I used to remember that I could still install Xampp and it would create an opt / lampp directory, but now I can't

[2020-01-02 14:34] arifnofriadi commented on #15728
![1](https://user-images.githubusercontent.com/53391649/71672115-a472d980-2da7-11ea-98a2-3e1ac5fe90f0.png)
I have done the steps you told before but still can't

[2020-01-02 14:35] #15726 closed

[2020-01-02 14:37] williamdes commented on #15728
and http://localhost/phpmyadmin/index.php   ?

[2020-01-02 14:38] arifnofriadi commented on #15728
yes and  http://localhost/phpmyadmin/index.php

[2020-01-02 14:50] baqwas commented on #15515
Hello,

Sorry to comment on a closed topic but I'm a total newbie on many things including **phpMyAdmin**. I did follow the suggestions on appending ppa to my installation (Ubuntu **Eoan 19.10** with all standard _update_/_upgrade_ operations applied currently). I was able to install **phpMyAdmin** successfully with elevated privileges but when I launch a session with the following command:

`http

[2020-01-02 14:51] #15717 closed

[2020-01-02 14:53] williamdes commented on #15515
@baqwas you should maybe try to run `sudo apt-get install libapache2-mod-php`

[2020-01-02 14:54] williamdes commented on #15728
please post the output of `ls -lah /var/www/`

[2020-01-02 14:59] #15712 closed

[2020-01-02 15:24] #15693 closed

[2020-01-02 16:11] williamdes opened #15734 "Uncaught TypeError: http_build_query() in setup"
### Describe the bug

[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to /setup/
2. Click on new server
3. Click on apply
4. See error

### Expected behavior

No errors

### Server configuration
- phpMyAdmin version: 5.0+

[2020-01-02 16:28] #15734 closed

[2020-01-02 16:44] williamdes commented on #15724
git bisect said it was introduced by 542ba3025a9272b9547a3fd3aabfb8711eed626a

[2020-01-02 17:22] williamdes commented on #15724
Hi everyone I found a fix
[code]

Can you test it ?

[2020-01-02 17:41] OlafvdSpek opened #15736 "Daily snapshot, generated 2019-12-29"
Is snapshot generation stuck in 2019? ;)

Perhaps 5.0 could be listed before 4.9 @ https://www.phpmyadmin.net/downloads/

[2020-01-02 18:18] baqwas commented on #15515
Hello @williamdes,

Thanks for stepping up to assist. The package `libapache2-mod-php` indeed was **not** installed previously in the system. I did install it per your suggestion. Unfortunately, I am still unable to use **phpMyAdmin** as I used to in previous versions of Ubuntu (including 19.04!). Navigating to the installed phpmyadmin folder via `http://localhost/phpmyadmin/ `still results in the

[2020-01-02 18:58] seattledeveloper commented on #15724
I edited the TwoFactor.php file on the server in the 5.0.0 tree, adding the 3 new lines of code.  2FA is now working again, as verified by 2 different users, and logging in more than once (just to ensure that the configuration didn't go away between the first and second logins).

And, IMHO, it seems that this fix should be added to the 4.9.x tree as well, since this broke a feature that really is

[2020-01-02 20:36] williamdes commented on #15724
@seattledeveloper Thank your for the feedback, the final fix is in #15724
I crafted a short version so you could test it

@thg2k Can you please apply **(PR #15724)** and let us know if the fix does not break the tree like it did in #15608 ?

For everyone, the fix will go into next 4.9 version (#15724)

[2020-01-03 06:37] kevinaltaf opened #15738 "UI phpMyAdmin error? version phpmyadmin 5.0.0-1"
# Error

- Operating system: Arch Linux
- Web server: Nginx
- Database version: mysql  Ver 15.1 Distrib 10.4.11-MariaDB, for Linux (x86_64) using readline 5.1
- PHP version: PHP 7.4.1 (cli) (built: Dec 18 2019 12:59:28) ( NTS )
- phpMyAdmin version: 5.0.0-1

![Screenshot_20200103_133152](https://user-images.githubusercontent.com/47493498/71710297-24438700-2e2e-11ea-8121-1ade0954f38a.png)

[2020-01-03 07:39] ibennetch commented on #15738
Hello,

Could you please tell us how you have installed phpMyAdmin? Are you usin
some package manager or running directly from the Git repository?

[2020-01-03 09:59] jantheon opened #15739 "NULL not shown"
From version 5.0.0, NULL values are not shown as NULL.

Specially when you add new column (example int[10]) to table and change values from empty to NULL. NULL value is shown as null but when you refresh/update table view then NULL is not shown anymore, it's just an EMPTY field.

Tested with PHP 7.4.1 and MariaDB 10.4.10

[2020-01-03 11:04] williamdes commented on #15739
Duplicate of #14936

[2020-01-03 11:05] williamdes commented on #15739
Thank you for the report @jantheon
It is a duplicate of #14936

[2020-01-03 11:05] #15739 closed

[2020-01-03 12:58] timoteo7 commented on #14887
after:
`mysql> ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';`

error change to:

[2020-01-03 13:12] williamdes commented on #15738
@ibennetch `5.0.0-1` looks like your composer tag ?

[2020-01-03 14:20] Gaurav-Punjabi commented on #15733
I'll go ahead and work on this one.

[2020-01-03 14:40] kevinaltaf commented on #15738
I used the package manager when phpmyadmin version 5 below was still fine, but when I upgraded phpmyadmin version 5 I got a look like this and I tried reinstalling but it's still the same

[2020-01-03 15:47] ibennetch commented on #15738
It almost looks like the CSS files weren't generated correctly, but the package list at https://www.archlinux.org/packages/community/any/phpmyadmin/ seems to have included them.

I suggest trying with your browser in private mode (or clearing your cache) to see if that has any change. You could also try looking at the demo server https://demo.phpmyadmin.net/master/ (the username is root with a bla

[2020-01-03 18:09] yashrajbothra commented on #15717
Hey @victorphoenix3 @williamdes , the error popup is fixed but the an unexpected error message is showing at the end of the page which is not dissapearing even after popup dissapears.

![image](https://user-images.githubusercontent.com/47683556/71740396-161f5600-2e82-11ea-81b1-fbb67f6f42c3.png)

[2020-01-03 18:18] victorphoenix3 commented on #15717
@yashrajbothra I think its the intended setting for all such error messages and notices.
@williamdes should this  error history not be shown?

[2020-01-03 19:43] yashrajbothra opened #15741 "Fatal javascript error on clicking "Pick from Central Columns""
### Describe the bug

Fatal Javascript error when clicking on **Pick from Central Columns**
[Click to goto Demo](https://demo.phpmyadmin.net/master-config/index.php?route=/table/structure&db=sakila&table=city&goto=index.php%3Froute%3D%2Ftable%2Fstructure%26amp%3Bserver%3D1&back=index.php%3Froute%3D%2Ftable%2Fstructure%26amp%3Bserver%3D1&field=city&change_column=1&server=1#)
### To Reproduce
Steps

[2020-01-03 19:44] yashrajbothra commented on #15741
I would like to work on this issue.

[2020-01-03 20:06] williamdes commented on #15741
@yashrajbothra you reproduced the famous `"message": "makeGrid is not defined",`

[2020-01-03 20:07] williamdes commented on #15741
Duplicate of #14299

[2020-01-03 20:09] williamdes commented on #14299
After months, maybe years of trying to reproduce this issue I finally got a procedure:
- https://demo.phpmyadmin.net/QA_5_0/tbl_change.php?db=world&table=City
- <kbd>CTRL+F5</kbd>
- click on table `Country` on the left bar
- see the error

cc @yashrajbothra can you please try to fix it ?

[2020-01-03 20:15] yashrajbothra commented on #14299
I have started working on the issue.I will try hard to fix it.

[2020-01-03 20:17] williamdes commented on #15717
@victorphoenix3 I think that to know if this is a bug or a regression you should try using an old phpMyAdmin

Using 4.9.0.1:
![image](https://user-images.githubusercontent.com/7784660/71746839-51178e80-2e6e-11ea-9191-9fa89641b592.png)

The error was a normal one and did not have a spinner, but stayed forever

Can you open a PR to revert the change and disable the spinner ?

I should have checked t

[2020-01-03 23:10] victorphoenix3 commented on #15717
@williamdes  In 4.9 the "background" property for the ajax_notification in the css file overrided the background-image so the spinner is not visible.
In 5.1 we no longer have this background property in the scss file so the spinner image appears in every simple notification like "loading....".
To hide the spinner for "no column selected"  I  overrided it by sending the message string with type = "

[2020-01-04 00:01] williamdes commented on #15717
I would vote for a revert so we can keep the same behavior than before and fix the real bug that is a CSS one as you found out :)

[2020-01-04 05:00] steven130169 opened #15742 "About Tranditional Chinese font-family"
### Is your feature request related to a problem? Please describe.

I think Metro theme is very nice. But the Tranditional Chinese words,The font-family is very ugly.

### Describe the solution you'd like

The font-family can use google-font Noto Sans. Or the other Monospaced Font Thanks！

### Additional context

- phpMyAdmin version:5.0

[2020-01-04 08:41] yashrajbothra commented on #14299
Sorry but i couldn't find credentials to login. Can you please help @williamdes

BTW I tried to reproduce in local but cant see any error.

[2020-01-04 08:44] williamdes commented on #14299
The demo server credentials are `root` and no password

[2020-01-04 08:46] yashrajbothra commented on #14299
Thanks @williamdes

[2020-01-04 09:03] OlafvdSpek opened #15745 "Incorrect parsing of latest version.json shows old version as latest"
;)

[2020-01-04 09:11] victorphoenix3 commented on #15717
@williamdes I have opened PR #15743 for the revert and another PR #15744 with a possible fix for this issue.
![notify](https://user-images.githubusercontent.com/48182195/71763281-473e6b80-2f00-11ea-9f99-73e19db8f193.gif)

[2020-01-04 10:22] williamdes commented on #15745
@ibennetch our api does not indicate the right latest version

[2020-01-04 12:02] yashrajbothra commented on #14299
Hey @williamdes which branch should i take as base?

[2020-01-04 15:19] ibennetch commented on #15745
https://www.phpmyadmin.net/home_page/version.json returns an array (if that's the proper way to refer to it in JSON) of currently supported versions:

[code]

In my shell scripts, I use `curl -fsSL 'https://www.phpmyadmin.net/home_page/version.json'|jq -r '.releases|.[]|.version'` to get a list of all current downloads.

I think that the first/outer 'version' always points to the latest release, s

[2020-01-04 16:04] williamdes commented on #14299
@yashrajbothra QA_5_0 should be used as a base

[2020-01-04 17:00] eehmke opened #15746 "Fatal error: require_once(): Failed opening required 'ROOT_PATH"
### Describe the bug

After upgrading from 4.9.3 to 5.0.0 I got this error message:

When I downgraded to 4.9.3 the problem disappeared.

### To Reproduce

Steps to reproduce the behavior:
Upgrade from 4.9.3 to 5.0.0

### Expected behavior

phpmyadmin  should just work

### Server configuration

- Operating system: Debian 10.3
- Web server: Apache 2.4.38-3+deb10u3
- Database version: mariadb 10.3.

[2020-01-04 17:00] williamdes commented on #15746
@eehmke do you use op cache ?

[2020-01-04 17:01] williamdes commented on #15746
Duplicate of #15721

[2020-01-04 18:09] yashrajbothra commented on #15741
hey @williamdes #15747 this PR does not fix this issue.

[2020-01-04 18:23] kevinaltaf commented on #15738
@ibennetch

I don't know what happened I tried your way but the results are the same, and even I can't touch anything just move on that page.

[2020-01-05 07:59] AbdullahiAbdulkabir commented on #15606
Hello, how can I contribute to the documentation. I am kinda confused about where to send a pull request

[2020-01-05 12:58] ibennetch commented on #15606
This one is actually not a good issue as I’ve started working on it
yesterday.

In general, you would use the GitHub fork feature to mirror our repository
in your workspace, push your commits there, then use the GitHub interface
to create a pull request. The GitHub help is quite useful for the details
of each step, I suggest you start there and let us know if you have
specific problems.

[2020-01-05 13:13] victorphoenix3 commented on #15351
I'll try to fix this bug.

[2020-01-05 14:34] williamdes commented on #15351
@victorphoenix3 please apply fix for #15724 before trying to fix

[2020-01-05 16:50] garak commented on #15236
What about Ubuntu?
I see [PPA](https://launchpad.net/~phpmyadmin/+archive/ubuntu/ppa) has 4.9.1 as latest version.
Can we get 4.9.3?

[2020-01-05 17:47] yashrajbothra commented on #15741
hey @williamdes #15747 this PR does not fix this issue.

[2020-01-05 19:00] williamdes commented on #15236
@garak we will update the PPA as soon as possible, we are updating Debian testing soon

[2020-01-05 20:48] Gaurav-Punjabi commented on #15745
@ibennetch Are you suggesting that we should parse the JSON in such a way that it considers the highest version ?

[2020-01-05 21:40] yashrajbothra opened #15751 "Error 404 when edit sql"
### To Reproduce

Steps to reproduce the behavior:
1. After Performing any sql query
2. Click on '**Edit**'
3. See error

### Expected behavior

Should redirect to SQL tab with query

### Screenshots

![demophpmyadminnet_phpMyAdmindemo](https://user-images.githubusercontent.com/47683556/71786425-24f83b00-3031-11ea-99b7-8f9e5a26d578.gif)

### Server configuration

- Operating system: Windows 10
- W

[2020-01-05 21:41] yashrajbothra commented on #15751
I would like to work on this issue

[2020-01-05 22:19] jesinwp commented on #15738
I had the same issue, I ran `yarn install` and it generated the appropriate CSS files.

[2020-01-06 00:08] ibennetch commented on #15745
Yes, I think phpMyAdmin should look at the first version (which should be
the latest), then go through the list of versions to verify that the PHP
and MySQL versions are compatible.

[2020-01-06 06:40] Gaurav-Punjabi commented on #15745
Got it 👍
Will submit a PR for this soon.

[2020-01-06 13:26] #15724 closed

[2020-01-06 13:29] williamdes commented on #15724
Will be part of 4.9.4 and 5.0.1

[2020-01-06 13:39] tabraiz961 commented on #15432
I am new to contribution. Can you help me out with steps fequired to correctly solve the issue.

[2020-01-06 14:10] kevinaltaf commented on #15738
@jesinwp

thank you for the response but I have done that but I get the same results even though I clean the cache in my browser

[code]

[2020-01-06 14:18] williamdes commented on #15738
@kevinaltaf can you post https://www.whatismybrowser.com/detect/what-is-my-user-agent and list all the extensions you have enabled ?
do you use a proxy/school/professional proxy ?

[2020-01-06 14:20] kevinaltaf commented on #15738
I found the problem, there was something wrong in my nginx configuration, when I run php built in server
[code]

[2020-01-06 14:50] kevinaltaf commented on #15738
if I may ask where is my nginx.conf error?

[code]

[2020-01-06 15:00] jb-boin commented on #15504
It is possible to set a timeout since the last access to PMA :
`$cfg['Servers'][$i]['SignonCookieParams']['lifetime'] = PMA_SIGNON_TIMEOUT;`

The expiration is reset to `time() + this value` at every access to a PMA page while still logged on so it might not be what you want (strict expiration PMA_SIGNON_TIMEOUT seconds after the initial login).

[2020-01-06 15:12] williamdes commented on #15504
I did change the code in https://github.com/phpmyadmin/phpmyadmin/commit/47c3f131b405932a0794d2082544fe23900f3b23  to fix #14412

maybe it did fix this issue ?

[2020-01-06 15:48] jb-boin commented on #15504
I did find out how to set the cookie parameters by reading this function on 4.9.3 but i am not sure about the logic of re-setting the cookie parameters at every access after the user has been logged.

The default `LoginCookieValidity` is set to 1440, when i replaced cookie authentication with signon i did expect the expiration to continue to use `$cfg['LoginCookieValidity']` or at least the defaul

[2020-01-06 19:17] #15751 closed

[2020-01-06 20:58] williamdes commented on #15738
@kevinaltaf one of my config looks like that, but I would recommend that you ask SlackOverflow users to help you
[code]

[2020-01-06 22:07] lem9 commented on #15731
@shahimahesh4 Which port does your MySQL server listen to?

[2020-01-06 22:34] williamdes commented on #15634
I have this error and my phpinfo shows

Directive | Local Value | Master Value
-- | -- | --
session.save_handler | files | files
session.save_path | no value | no value

[2020-01-06 22:48] #14875 closed

[2020-01-06 22:56] williamdes commented on #15741
hey @yashrajbothra
can you reproduce the issue and post the it here "show report details"

[2020-01-06 23:00] williamdes commented on #15432
@tabraiz961 I suggest that you find another issue on this repository because the designer is not the best part of our code-base for someone new :)

[2020-01-06 23:05] williamdes commented on #15515
Hello @baqwas

Please send me an email "williamdes at wdes.fr" or open a question on StackOverflow so you can have some help.

I would prefer not to add to much comments here so that other internet users do not have to scroll and load at lot of unrelated comments ;)

I am sorry but as they said (Ubuntu team) https://github.com/phpmyadmin/phpmyadmin/issues/15515#issuecomment-559779931 they will not

[2020-01-06 23:15] #14299 closed

[2020-01-06 23:17] williamdes commented on #15705
@rutvik106 can you try version 5.0 ?
You can find it on our [website](https://www.phpmyadmin.net/downloads/)

[2020-01-06 23:21] williamdes commented on #15602
@xkill I can not reproduce the issue either, can you reproduce it on these demo servers (`root`, no password) ?
- [`5.0.0-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-01-06 23:24] williamdes commented on #15746
@eehmke something must be wrong on your configuration
Can you explain how you did install/upgrade/downgrade phpMyAdmin ?
Do you use a tool ?

[2020-01-06 23:26] williamdes commented on #15728
@arifnofriadi did you manage to solve the issue ?
can you ask on StackOverflow for some help ?

[2020-01-06 23:56] tabraiz961 commented on #15432
@williamdes  glad to know that.

[2020-01-07 00:53] williamdes commented on #15200
I am unable to reproduce the issue using a centos setup.
Can someone debug this issue or give me access to a server that has it ?

[2020-01-07 06:36] yashrajbothra commented on #15741
**Error report**:
[code]

[2020-01-07 06:37] yashrajbothra commented on #15741
can i use master branch as base?

[2020-01-07 06:48] williamdes commented on #15741
@yashrajbothra yes :)

[2020-01-07 09:27] eehmke commented on #15746
No tool. I installed the new version in a separate directory, copied the config.inc.php from the working 4.9.3 to the new directory, and switched the phpMyAdmin symlink to point to the new directory. Then the error message appeared immediately, no login screen. Switching back the symlink to the 4.9.3 directory  solved the problem.
This procedure worked for me for all previous upgrades, and also wo

[2020-01-07 09:49] rutvik106 commented on #15705
@williamdes Issue Solved. Thanks for your great support.

[2020-01-07 12:00] TobiasGrave opened #15756 "Error 500 when selecting a database table"
I get the following error message in the web browser when selecting some database tables in phpMyAdmin:

This error does not occur with all tables, only a few are affected.

The PHP error log shows the following error:
[code]

In the error log the table 'arbeit' is mentioned, although I selected a table named 'arbeit_aufgabe' when the error occured. Oddly enough, the table 'arbeit' can be selected

[2020-01-07 12:01] williamdes commented on #15756
Duplicate of #15723

[2020-01-07 12:02] williamdes commented on #15756
@TobiasGrave can you try "phpMyAdmin 5.0+snapshot" https://www.phpmyadmin.net/downloads/ ?

[2020-01-07 12:09] williamdes commented on #15705
Closing, thank you for the confirmation

[2020-01-07 12:09] #15705 closed

[2020-01-07 12:11] williamdes commented on #15746
@eehmke Can you try "phpMyAdmin 5.0+snapshot" on https://www.phpmyadmin.net/downloads/ ?

If it does not work can you send the `config.inc.php` contents here ?

[2020-01-07 12:32] eehmke commented on #15746
The snapshot made no difference. Here is the config file:
[config.inc.php.txt](https://github.com/phpmyadmin/phpmyadmin/files/4030646/config.inc.php.txt)

[2020-01-07 12:36] williamdes commented on #15746
@eehmke You have something that breaks somewhere, can you send your php fpm config and apache config ?

- I downloaded the snapshot `phpMyAdmin-5.0+snapshot-all-languages.zip`
- unziped it
- saved your config
- phpMyAdmin is working on php 7.3

[2020-01-07 12:56] williamdes commented on #15746
@eehmke can you explain the process that you use to create the symlink ?
Do you have .htaccess files that configure variables ?

[2020-01-07 12:57] eehmke commented on #15746
Ok, here we go. Other vhosts deleted from the apache config.
[ftv.conf.txt](https://github.com/phpmyadmin/phpmyadmin/files/4030729/ftv.conf.txt)
[www-pma.conf.txt](https://github.com/phpmyadmin/phpmyadmin/files/4030735/www-pma.conf.txt)

[2020-01-07 13:15] williamdes commented on #15746
@eehmke I will look at it in details in about 5 hours, can you check the permissions of `libraries/vendor_config.php` and other files ?

[2020-01-07 17:12] TobiasGrave commented on #15756
I have applied the suggested fix https://github.com/phpmyadmin/phpmyadmin/commit/f9157f2ac428b63e863dd713d078b6391ce12706 and the errors are gone.

[2020-01-07 17:26] #15756 closed

[2020-01-07 17:39] eehmke commented on #15746
[code]
www-pma is the owner of the complete directory. www-data is in the group of www-pma.

[2020-01-07 17:46] williamdes commented on #15746
Did the upgrade work on you another machine ?

[2020-01-07 17:56] williamdes commented on #15634
I am stuck in a situation where a browser can not login anymore and when using private browsing it works fine.
"Failed to set session cookie. Maybe you are using HTTP instead of HTTPS to access phpMyAdmin."
Currently searching for the reason.

[2020-01-07 18:32] williamdes commented on #15634
![image](https://user-images.githubusercontent.com/7784660/71919033-f2ab2280-3183-11ea-93a9-d5415829e51f.png)
![image](https://user-images.githubusercontent.com/7784660/71919076-0fdff100-3184-11ea-80db-ff212014a208.png)

So if you have a secure cookie in your storage you will not be able to overwrite it and you will have the message for ever.

[2020-01-07 18:52] pesc commented on #15746
@eehmke Possible that there's still a php process running from the old instance?

As you can read in #15721

[2020-01-07 20:01] eehmke commented on #15746
The hint to restart both apache2 and php7.3-fpm was the solution! Now it works. Thank you!!!

In the version info, it still says: 5.0.0, aktuelle stabile Version: 4.9.3. Is 5.0.0 considered stable?

[2020-01-07 20:01] #15746 closed

[2020-01-07 20:02] williamdes commented on #15746
Yes 5.0.0 is latest stable version.
You can follow #15745 for that issue

[2020-01-07 20:26] #15351 closed

[2020-01-08 03:46] ibennetch opened #15760 "Inline comments improperly removed during query"
### Describe the bug

The query:
`select * from /*!i*/nformation_schema.tables;`

Executes as if it were:
`select * from information_schema.tables;`

This is improper.

### Expected behavior

MySQL and MariaDB return an error message, this is probably the most expected result. Perhaps a syntax error should be generated from the parser.

### Server configuration

- Operating system: Debian
- Web se

[2020-01-08 03:47] ibennetch commented on #15760
Note that this does not circumvent existing access controls; it cannot be used to escalate privileges.

[2020-01-08 07:51] trendchiller opened #15761 "php error using $cfg['ServerDefault'] = 0; on 5.0"
after copying an working existing config.inc.php from phpMyAdmin 4.9.4 to the phpMyAdmin 5.0.1 directory phpMyAdmin 5.0.1 shows only a white page.
Running _php index.php_ shows some error - perhaps that may help.

Running phpMyAdmin 5.0.1 without config works - generating a config from /setup leads to the same error...
[code]

[2020-01-08 08:22] williamdes commented on #15761
Thank you for the report, I will look into it ASAP

[2020-01-08 08:42] mvorisek opened #15762 "Remove/replace all symbolic links"
Symbolic links are not normally supported on Windows, see release extraction log:
[code]

Symbolic links are often also disable in Apache config.

Analyse if the symbolic links are used and remove them or replace them with another solution.

[2020-01-08 08:42] mvorisek opened #16033 "Remove/replace all symbolic links"
Symbolic links are not normally supported on Windows, see release extraction log:
[code]

Symbolic links are often also disable in Apache config.

Analyse if the symbolic links are used and remove them or replace them with another solution.

[2020-01-08 16:28] thesmallstar commented on #12726
@devenbansod can I work on this?

[2020-01-08 16:30] thesmallstar commented on #14310
@williamdes  Can I work on this?

[2020-01-08 16:34] williamdes commented on #14310
@thesmallstar Yes, please use `QA_5_0` as base and feel-free to ask questions ;)

[2020-01-08 16:34] williamdes commented on #12726
@thesmallstar Yes, please use QA_5_0 as base and feel-free to ask questions ;)

[2020-01-08 19:52] ibennetch commented on #15738
This sounds like a problem with the configuration of your webserver, and troubleshooting this is a bit outside my area of expertise, so I'm going to suggest we close this issue.

[2020-01-08 19:52] #15738 closed

[2020-01-08 19:54] ibennetch commented on #14220
We've added a FAQ about this (1ae14b59a40ff5d8b62b50f9c1172dbea0e61b1f), and since this isn't a bug with phpMyAdmin I'm going to suggest we close this issue.

[2020-01-08 19:54] #14220 closed

[2020-01-08 19:58] williamdes commented on #15605
#14220 ?

[2020-01-09 01:36] NKarasek commented on #15720
Thanks for v501 and v494 but sorry to see that the work done for 15720 didn't make it into the new releases.  Designer folks simply can't use designer until these small changes are made.  :-(

[2020-01-09 06:57] williamdes commented on #15720
Hi @NKarasek
The security fix rushed an upload and I could not merge all the fixes I had planned.
I will assign this one for next milestone

Thank you

[2020-01-09 11:05] krzndb opened #15767 "phpmyadmin 5.0.X cannot copy user account - error #1133"
### Describe the bug

When i try to copy an existing user account a new user is not created and i get the error message #1133 - Can't find any matching row in the user table.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'User accounts'
2. Click on 'Edit Privileges' of an existing user
3. Change tab to 'Login Information'
4. Edit User Name to a different Username.
5. Click on 'Go' t

[2020-01-09 14:36] victorphoenix3 commented on #13419
@williamdes  This is a duplicate of #13864 . Have submitted a PR on this.

[2020-01-09 14:40] williamdes commented on #13419
Thank you @victorphoenix3 !
I added #13864 to next release milestone

[2020-01-09 14:40] williamdes commented on #13419
Duplicate of #13864

[2020-01-09 14:40] #13419 closed

[2020-01-09 15:16] tabraiz961 commented on #15432
Hi @williamdes i looked in some issues but this seemed to be appropriate for me so i submmited a commit with a sign off on master. Please look into it and if it seems okay to merge.

[2020-01-09 15:59] tabraiz961 commented on #15317
Hi i would like to contribute to this issue. I will be using the branch QA_4_9. Should i start working on it as it has no_pr

[2020-01-09 16:07] williamdes commented on #15432
I would say it is a way to contribute but not the easiest way :)
To fix the CSS issue you need to run the `yarn` command and `yarn run css-compile`

Please **create a branch from QA_5_0** before you do the fix and then you can commit and push your changes. You will then be able to open a pull-request here to branch **QA_5_0**

If you already opened a pull-request please comment the #id here

[2020-01-09 16:09] williamdes commented on #15317
@tabraiz961 You can start to work on it but you need to use QA_5_0 branch since QA_4_9 is now for security fixes only

[2020-01-09 16:59] DiscordGoated opened #15769 "Could you please help me code some discord bots ive been look around websites for devs and I know nothing about code im just here for help"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2020-01-09 17:01] victorphoenix3 commented on #13106
will try to fix this.

[2020-01-09 17:24] ibennetch commented on #15769
Hello,

I’m afraid your question is quite out of the scope of what help we are able
to provide. Here we discuss bugs in the phpMyAdmin application, which is an
interface for administrators to manage a database server. Creating a bot or
interacting with Discord are tasks with which we are not familiar.

Best wishes

[2020-01-09 17:50] #12726 closed

[2020-01-09 18:28] thesmallstar commented on #14310
@williamdes, does removing the  $('.tblFooters').hide();  statement solve this issue?
also, I was wondering if does not provide any functionality why was it added in the first place, am I missing something?

[2020-01-09 18:33] williamdes commented on #14310
Thank you for searching for this issue
Can you please post the link to the file you found that line ?

[2020-01-09 20:37] yashrajbothra commented on #15767
Hello @williamdes i can try to fix this. Which branch should i use?

[2020-01-09 21:12] #15769 closed

[2020-01-09 21:19] williamdes commented on #15767
@yashrajbothra Yes you can try, use QA_5_0 for this one

[2020-01-10 07:51] thesmallstar commented on #14310
I was referring to this comment.

[2020-01-10 08:09] williamdes commented on #14310
Okay, then we can remove the line :)

[2020-01-10 08:09] williamdes commented on #14310
Or fix the implementation

[2020-01-10 08:13] thesmallstar commented on #15242
@williamdes Can I work on this?
Also is this decided? I am not able to understand why it is not a good idea to seperate them, and rather merge them (I see both ways has some benefits, what to choose?)

[2020-01-10 08:19] williamdes commented on #15242
@thesmallstar I think code refactoring is necessary to implement correctly a solution

[2020-01-10 08:53] thesmallstar commented on #14310
@williamdes okay thank you, I am looking into the best possible solution.

[2020-01-10 11:46] #15767 closed

[2020-01-10 11:47] williamdes commented on #15767
Thank you for the report, the fix will be part of 5.0.2

[2020-01-10 12:36] #15588 closed

[2020-01-10 13:26] victorphoenix3 commented on #13106
@williamdes  have we disabled the edit column by double-click/click feature or is it a bug? $cfg['GridEditing']  is set to 'double-click' but its not working on any of the dev setup.

[2020-01-10 14:07] TobiasGrave opened #15772 "Error code 500 during pagination in table overview"
When selecting another page in the left table overview on a database with many tables so that pagination is required, I get the following error in the web browser:

The error occurs with Firefox and Chrome, so it's probably not a browser problem.

I see the following error in the PHP error logs:
[code]

phpMyAdmin version is 5.0.1
PHP version is 7.2.26

[2020-01-10 14:09] williamdes commented on #15772
@TobiasGrave can you send your `config.inc.php` file ?

[2020-01-10 14:29] TobiasGrave commented on #15772
[config.inc.php.zip](https://github.com/phpmyadmin/phpmyadmin/files/4046076/config.inc.php.zip)

[2020-01-10 19:51] thesmallstar commented on #14310
@williamdes I was trying to reproduce the issue, I got a fatal javascript error on clicking
Pick from Central Columns button, does this work for you? Am I Missing something?
I am attaching the error details.
![image](https://user-images.githubusercontent.com/42006277/72182019-9a3c8500-3410-11ea-9fa0-d2ac4f7505e2.png)

{
    "pma_version": "5.0.1-dev",
    "browser_name": "CHROME",
    "browser_ver

[2020-01-10 20:03] yashrajbothra commented on #14310
Hey @thesmallstar I think maybe you are talking abt this. #15741

[2020-01-10 20:08] yashrajbothra commented on #15772
Can anyone help me reproduce this error?

[2020-01-10 20:29] Sartech-B commented on #13270
Is there anymore inline JS code left? Couldn't find any...

[2020-01-10 20:31] williamdes opened #15773 "a view named 'views' adds an expand button"
![image](https://user-images.githubusercontent.com/7784660/72184308-723d2980-33f0-11ea-84a6-3b185ac9901e.png)

PMA 5.0 and maybe before

create a view named *views* and use `SELECT 1;` as value

[2020-01-10 20:32] williamdes commented on #15773
Maybe related to #14698

[2020-01-10 20:39] williamdes commented on #15772
Yes
![image](https://user-images.githubusercontent.com/7784660/72184748-7289f480-33f1-11ea-8da9-94e456c0984c.png)

I am sending the fix, to simple for a PR

[2020-01-10 20:43] williamdes commented on #15772
@TobiasGrave can you apply 6981910c8c2c2fd1aaa515c2a37459e68a3740e3 and let us know if that solved the issue ?

[2020-01-10 20:44] williamdes commented on #13270
@Sartech-B if you want to work on JS code #15296 is a good issue since we have JS code in our PHP code

[2020-01-10 20:46] williamdes opened #15774 "Fatal javascript error on clicking "Pick from Central Columns""
I got a fatal javascript error on clicking
Pick from Central Columns button, does this work for you? Am I Missing something?
I am attaching the error details.
![image](https://user-images.githubusercontent.com/42006277/72182019-9a3c8500-3410-11ea-9fa0-d2ac4f7505e2.png)

[code]

_Originally posted by @thesmallstar in https://github.com/phpmyadmin/phpmyadmin/issues/14310#issuecomment-573181057_

[2020-01-10 20:46] williamdes commented on #15774
Duplicate of #15741

[2020-01-10 20:46] #15774 closed

[2020-01-10 20:47] williamdes commented on #14310
Yes, I renamed it to make it obvious

[2020-01-10 20:58] TobiasGrave commented on #15772
@williamdes Yes, that cast to int solved the issue.

[2020-01-10 21:00] #15772 closed

[2020-01-10 21:01] #15728 closed

[2020-01-10 21:04] williamdes commented on #15696
@Anonycoders I tried twice to reproduce but did not succeed, can you send `php  -m` output
The error 500 contents would also help / php error logs

[2020-01-11 03:32] round1xyz opened #15776 "privileges page return http 500"
### To Reproduce

if the username is pure number(such as "1234"), the privileges page will return http 500 error

the error log show "htmlspecialchars() expects parameter 1 to be string, integer given"

### Expected behavior

### Screenshots

![image](https://user-images.githubusercontent.com/57136667/72198215-342e1d00-3465-11ea-9928-2571c466966d.png)

### Server configuration

- Operating system:

[2020-01-11 04:42] ibennetch opened #15777 "Table grouping doesn't work"
Using 4.9.4 or master, the table level grouping feature doesn't work.

To reproduce, you need a database with several tables, the default separator is `__` (two underscores), such as `table__1`, `table__2`, `table__3`.

Expected behavior:
<img width="162" alt="image" src="https://user-images.githubusercontent.com/1443710/72198902-9b66b580-3402-11ea-8161-f79505e84421.png">

Actual behavior:
<img wi

[2020-01-11 07:14] yashrajbothra commented on #15773
Could you explain me little more?

[2020-01-11 07:21] williamdes commented on #15773
@yashrajbothra create a view named "views" the expand button should not exist

[2020-01-11 10:03] victorphoenix3 commented on #15729
@williamdes what needs to be done here?

[2020-01-11 11:50] williamdes commented on #15729
@victorphoenix3 I would agree to remove an option and maybe reword persistent option

[2020-01-11 13:46] williamdes commented on #15777
@ibennetch is that a duplicate of #12817 ?

[2020-01-11 14:44] ibennetch commented on #15777
I think it's not a duplicate of the reported issue, because that's about database grouping when no other databases are shown, and this relates to the table level. It does seem to be the same as the comment at https://github.com/phpmyadmin/phpmyadmin/issues/12817#issuecomment-269833782, though.

[2020-01-11 14:49] williamdes commented on #15661
@yashrajbothra When I wanted to merge your PR I could not reproduce it anymore

[2020-01-11 15:29] ibennetch commented on #15606
This should have automatically closed with #15748:

Closing manually.

[2020-01-11 15:29] #15606 closed

[2020-01-11 15:29] #15741 closed

[2020-01-11 16:52] yashrajbothra commented on #15661
I tried to trace in history but it looks like this error was not from this file. So it think this was also not an appropriate solution. Should i close PR?

[2020-01-11 16:59] williamdes commented on #15661
Yes, please do so
Closing the issue.

[2020-01-11 16:59] #15661 closed

[2020-01-11 17:23] yashrajbothra commented on #15773
Thanks @williamdes I got the issue and started working on it 👍👍

[2020-01-11 17:53] yashrajbothra commented on #15773
when creating table named 'table' and click on expand icon it also give multiple errors

Like: `Warning in .\libraries\classes\Navigation\NavigationTree.php#1178
 vsprintf(): Too few arguments`

#keyword error

[2020-01-11 17:56] williamdes commented on #15773
@yashrajbothra yes, this is an issue on master branch
If you want to fix it go ahead, but please fix #15733 on QA_5_0 ;)

[2020-01-11 18:07] yashrajbothra commented on #15733
@williamdes  kindly help me reproduce this error

[2020-01-11 18:17] williamdes commented on #15733
@yashrajbothra I have no Idea how to reproduce this issue

@arielesp can you help ?

[2020-01-11 18:36] Sartech-B commented on #15296
Is someone working on this issue? I downloaded OpenLayers 6.1.1 source and the files and folders seem to be way too different compared than the one in JS/vendors/openlayers. How are we supposed to implement that? It will require a lot of re-writing code all across the project to integrate OpenLayers 6.1.1 or am I missing something?

[2020-01-11 18:41] williamdes commented on #15296
@Sartech-B you are right, so you need to replace the files into `js/vendors/openlayers` and re-implement all the code that uses the library
Using master branch

[2020-01-11 18:59] williamdes commented on #14770
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2020-01-11 19:00] williamdes commented on #15399
Please use latest 4.9 or 5.0 version and let us know if that solved the issue.

[2020-01-11 19:00] #15399 closed

[2020-01-11 19:01] #15486 closed

[2020-01-11 21:43] Sartech-B commented on #15296
Which all files require openlayer library?

[2020-01-11 22:01] yashrajbothra commented on #15773
hey @williamdes after debugging and tracing the code history. I got to know it happens https://github.com/phpmyadmin/phpmyadmin/commit/abb0cb9262b9eb8ec2f08a1fa8f318326bbf5723
file: `libraries/classes/Navigation/NavigationTree.php`
line:`822`
because if node name itself is in sterile, then it allows it as Group and shows expand

If any suggestion plz suggest. I will try to propose solution tommoro

[2020-01-11 22:10] williamdes commented on #15773
Hey @yashrajbothra
Why did you link the commit, I do not understand how it could have changed something :thinking:

Okay, I will wait then

[2020-01-11 22:13] williamdes commented on #15296
`libraries/classes/Gis/GisVisualization.php`
`libraries/classes/Gis/GisGeometry.php`
`libraries/classes/Gis/*.php` (some other files with minor implementations)
Seem to be the only files to have the JS code for openlayers

[2020-01-11 23:28] thesmallstar commented on #15136
@williamdes, I wanted to work on this.
The real issue is we cannot store a Hexadecimal number in an integer format if we convert an integer to hex it is quite possible it would have Alphabets that cannot be stored in an int.

But if we treat the integer as String we have a very special benefit.

Consider the number 4:

If we treat this as '4' instead it would be converted to hex in the following f

[2020-01-11 23:31] thesmallstar commented on #15777
@ibennetch Can I work on this?

[2020-01-11 23:36] williamdes commented on #15777
@thesmallstar Yes, you can work on this issue

[2020-01-11 23:41] williamdes commented on #15136
@thesmallstar Yes, I think the best Idea is that I can see your proposal to better understand it

What bout #15147 ?

[2020-01-12 01:45] Sartech-B commented on #15296
How do I test if openlayers is implemented properly? Which feature on the pma interface uses openlayers or rather is there a way to test its implementation through unit testing. I tried the PHP unit testing but that doesn't seem to test openlayers implementation.

[2020-01-12 01:49] williamdes commented on #15296
I think you can use https://github.com/wdesportes/phpmyadmin-local-setup/blob/master/*.sql/opengis.sql to test your implementation

[2020-01-12 01:51] williamdes commented on #15296
The php unit tests test that the content is present
Also: do not hesitate to extract the code to twig templates if necessary because having code in the actual way is horrible to maintain :)

[2020-01-12 01:53] Sartech-B commented on #15296
Oh thanks, I will check it out. What do you mean by extracting the code to twig? Not familiar with Twig.

[2020-01-12 02:02] Sartech-B commented on #15296
Hm, the sql file you sent for testing OpenLayer implementation doesn't seem to be right. It ran successfully on my local phpmyadmin setup even tho I didn't change any code and replaced the old OL with the new OpenLayer lib...

[2020-01-12 02:03] Sartech-B commented on #15296
Or am I using the SQL file incorrectly? What is the procedure of using the SQL file for testing?

[2020-01-12 02:08] williamdes commented on #15296
You can try on demo servers (`root`, no password)
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/QA_5_0/) (use this one for now since active development broke some code on master)

And should have the same on your local setup

I will post screenshots

[2020-01-12 02:09] williamdes commented on #15296
![Screenshot_20200112_030631_com android chrome](https://user-images.githubusercontent.com/7784660/72213069-d80cdc80-34e8-11ea-976e-811dd4e559ce.jpg)
![Screenshot_20200112_030640_com android chrome](https://user-images.githubusercontent.com/7784660/72213073-dcd19080-34e8-11ea-9104-113e70cddcc7.jpg)

[2020-01-12 02:14] williamdes commented on #15296
I hope you will find a way to import the data and visualize GIS
I am going to sleep and be back in ~10h

About extraction to twig templates you can  have a look at this example https://github.com/phpmyadmin/phpmyadmin/pull/15616/files
Ref: https://github.com/phpmyadmin/phpmyadmin/issues/14801

If you prefer and more detailed explanation about twig you can ask and I will write something tomorrow :)

[2020-01-12 06:36] yashrajbothra commented on #15773
Sorry, I refered to a Incorrect commit now i have changed that you can see `(in_array($node->real_name, $sterile)` this takes name of every node and if the sterile array contains that than it becomes a group.

[2020-01-12 08:13] thesmallstar commented on #15136
@williamdes , have a look at this
![image](https://user-images.githubusercontent.com/42006277/72216014-32d22280-3541-11ea-8046-a81a919462a0.png)

When we implement the PR, unexpected behaviour is shown, since now Alphabets are also returned by the function. I don't think it is needed, only a note for the user will do regarding what he is trying to do.

On which branch do I need to proceed?

[2020-01-12 08:17] thesmallstar commented on #15777
Should I work on master Branch?

[2020-01-12 09:02] thesmallstar commented on #15777
@ibennetch  This is rather a feature, though not needed. it was added so that no grouping is done if there is only one group, that might make sense in some cases.
Have a look at this,
![image](https://user-images.githubusercontent.com/42006277/72216483-7fb8f780-3547-11ea-9f89-5e534693989c.png)

When I add one more table that does not belong to this group or increase the number of groups.
![image](

[2020-01-12 09:40] williamdes commented on #15136
I understand, thank you for the example
Use QA_5_0 for the fix

[2020-01-12 10:37] kartik1000 commented on #15136
@thesmallstar I agree with you. I opened the issue because I felt I was not able to understand the behavior of the function and there should be a quick note regarding what you mentioned.

[2020-01-12 11:48] williamdes commented on #15773
Thank you, I understand better now
I will try to understand why the commit has introduced and see if your fix does not break that previous fix
You can also do that if you want :)

[2020-01-12 12:21] yashrajbothra commented on #15773
Okay. I will check on it👍

[2020-01-12 12:41] yashrajbothra commented on #15773
LGTM 👍.Because `columns` and `indexes` always have one children(`New`) it will not break any case.

[2020-01-12 14:35] lem9 commented on #15710
This is configurable, see https://docs.phpmyadmin.net/en/latest/config.html#cfg_ForeignKeyMaxLimit

[2020-01-12 15:36] victorphoenix3 commented on #15729
@williamdes The PR #14966 added the 'stored' option for mariadb .Should I revert this change?

[2020-01-12 15:38] OlafvdSpek commented on #15729
No, https://github.com/phpmyadmin/phpmyadmin/pull/14966#issuecomment-465575141

[2020-01-12 15:46] williamdes commented on #15729
@OlafvdSpek what needs to be done ?

[2020-01-12 15:48] williamdes commented on #15710
@lem9 What do you think about this issue ?

[2020-01-12 15:51] victorphoenix3 commented on #15729
@OlafvdSpek  Currently we show only 'stored' for mysql and both 'persistent' and 'stored' for mariadb.

[2020-01-12 15:53] OlafvdSpek commented on #15729
Yes, it seems `stored` is required to fix https://github.com/phpmyadmin/phpmyadmin/issues/14957 though I don't understand why. Is MariaDB returning `stored` rather then `persistent`?

[2020-01-12 16:59] victorphoenix3 commented on #15729
@williamdes  we are returning `stored` even for columns generated as `persistent`.
So, maybe we should remove the `persistent` option and just keep `stored` and `virtual`.
I will check the codebase again to make sure nothing breaks.

[2020-01-12 17:15] OlafvdSpek commented on #15729
Does MariaDB 10.1 support `stored`?

[2020-01-12 17:21] #15773 closed

[2020-01-12 17:25] victorphoenix3 commented on #15729
stored is only supported by 10.2.1 and later.
I will apply a check on the version.

[2020-01-12 17:54] lem9 commented on #15710
@williamdes I don't see an issue as the user just has to increase this parameter to their liking. Having a limit here makes sense both from a UI perspective, and to avoid hitting browser limits for dropdowns (10000 for Chrome if I read correctly).

[2020-01-12 17:59] williamdes commented on #15710
Thank you, closing

[2020-01-12 17:59] #15710 closed

[2020-01-12 20:31] DoctorSubtilis commented on #15710
Yes, with these settings I can get a drop-down pop-up, that is **better**.

But there is still some problem:

1. the values are a) not single value, but b) a cluster of values (the _historical_ cluster, so to say: that is what already I have set whitin tha table "linked" in relation view structure, as you can see in attached image);
2. besides I can choice only one cluster of values (as it was "en

[2020-01-12 20:41] yashrajbothra opened #15780 "Unexpected UI of action links"
### Describe the bug

Some action links are not clearly visible

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Settings -> Main Panel -> Browse Mode'
2. Change `How to display various action links` to Text
3. Go To any Table Structure
4. See error in Action Links

### Expected behavior

AFAIK Action Links should be visible in blue

### Screenshots
![image](https://user-images.github

[2020-01-12 20:41] williamdes commented on #15780
Version ?

[2020-01-12 20:42] yashrajbothra commented on #15780
Version : 5.0.2-dev

[2020-01-12 20:42] yashrajbothra commented on #15780
I would like to work on this issue.

[2020-01-12 20:45] Gaurav-Punjabi opened #15781 "Illegal string offset error on structure page of 'information_schema'"
### Describe the bug
PhpMyAdmin throws various illegal string offset error when navigating to structure page of `information_schema` database after executing this query
`select * from information_schema.tables`

### To Reproduce
1. Go to SQL tab of 'information_schema'
2. Execute this query `select * from information_schema.tables`
3. After the results are displayed select the structure tab of the

[2020-01-12 20:48] williamdes commented on #15781
On 4.9 it would throw :
![image](https://user-images.githubusercontent.com/7784660/72225372-1eb01480-3585-11ea-8705-d5cb261751ac.png)

[2020-01-12 20:49] Gaurav-Punjabi commented on #15781
@williamdes So on what version should I work on to fix this issue? 5.0 or 4.9?

[2020-01-12 20:50] williamdes commented on #15781
4.9 is okay and does not accept any fixes
Please use branch QA_5_0 as base

Important reproducing step: **Go to SQL tab of 'information_schema'**

[2020-01-12 20:51] williamdes commented on #15781
Just restore the behavior of 4.9 and you will be good for a PR ;)

[2020-01-12 20:51] Gaurav-Punjabi commented on #15781
Okay 👍

[2020-01-12 20:51] williamdes commented on #15780
@yashrajbothra I assigned it to you, let us know your progress :)

[2020-01-12 20:53] yashrajbothra commented on #15780
Great I have started working on it👍

[2020-01-12 20:57] yashrajbothra commented on #15780
Should i use 5.0.2 as base?

and after changing branch do we always have to use `npm install` and `composer install`

[2020-01-12 21:06] williamdes commented on #15780
I personally do use `yarn` that convinced my with its speed :rocket:
And I run `composer update` on master branch and go back to `QA_5_0` without any more command than just `yarn` or `yarn run css-compile` (slower to type ^^)

[2020-01-12 21:10] yashrajbothra commented on #15780
Thanks😊

[2020-01-12 21:21] williamdes commented on #15776
Hello @round1xyz
Seems like I forgot to tag the issue, done now.
Can you apply aa95fff91914e2b02856431961ba6378dfc57514 and let me know if it fixes the issue ?

Because I could not reproduce it on my local setup, but if you are right I then fixed the root cause of this issue.

[2020-01-12 23:18] tabraiz961 commented on #14801
Hi i would like to help with twig files. Its good to start with good-first-issues. I will be starting with master branch or please mention another branch

[2020-01-12 23:32] williamdes commented on #14801
@tabraiz961 For this issue please use master branch

[2020-01-13 05:50] thesmallstar commented on #15777
@williamdes I am considering this a bug then not a feature, Which branch should I work on?

[2020-01-13 06:14] thesmallstar opened #15782 "Allow only Integer values in INT field"
### Is your feature request related to a problem? Please describe.

We can enter non-integer values in Integer fields, Which is not required/should not be allowed.

### Describe the solution you'd like

We can allow only integer values to be entered in the field, by adding front end check like type- number.

I would like to work on this.

![image](https://user-images.githubusercontent.com/42006277

[2020-01-13 06:48] williamdes commented on #15782
Duplicate of #13326

[2020-01-13 06:50] williamdes commented on #15782
I agree and it will fix the issue I linked
NB: check insert and search pages

[2020-01-13 06:54] williamdes commented on #15777
@thesmallstar please use QA_5_0

[2020-01-13 07:59] thesmallstar commented on #15782
I am sorry to ask this repeatedly, I am not sure what branch to work on while picking an issue. Is there something I should know?

[2020-01-13 08:09] williamdes commented on #15782
@thesmallstar okay, I need to explain to you
- QA_4_9 is for security fixes
- QA_5_0 is for bug fixes
- master is for non bug fixes (enhancements ...) and bug fixes that only affect master branch

Please always do create a branch from the right one on the list, never develop on one of this branches directly or it will create trouble for PRs

So for this one QA_5_0

[2020-01-13 11:48] JarnoVgr commented on #15761
Had the same error. Work-around for me was changing `$cfg['ServerDefault'] = 0;` to `$cfg['ServerDefault'] = 1;`.

[2020-01-13 12:11] thesmallstar commented on #15760
Can I work on this?

[2020-01-13 12:24] williamdes commented on #15760
@thesmallstar Yes, but you will maybe need to do changes on https://github.com/phpmyadmin/sql-parser/tree/QA

[2020-01-13 12:38] yashrajbothra commented on #15780
![image](https://user-images.githubusercontent.com/47683556/72256590-92a6f700-362f-11ea-93a2-4c4b7d858f66.png)

There is very less space between Links. Should i add more space to it?

[2020-01-13 12:53] yashrajbothra commented on #15780
i mean like this ->

![image](https://user-images.githubusercontent.com/47683556/72257497-d3a00b00-3631-11ea-8985-0aedfd0e584b.png)

[2020-01-13 13:07] williamdes commented on #15780
@yashrajbothra I did not have time to check but I would like that you restore the behavior 4.9 had ;)
(see demo server https://demo.phpmyadmin.net/QA_4_9/)

[2020-01-13 13:56] yashrajbothra commented on #15780
@williamdes   i checked in QA_4_9 and it looks like this ->

![image](https://user-images.githubusercontent.com/47683556/72261224-6c3a8900-363a-11ea-9bf3-10bafcc3fa3a.png)

If it looks okay which IDTS is then i can open PR.

[2020-01-13 14:07] williamdes commented on #15780
@yashrajbothra I would agree to add more spacing, you can open a PR if you want

[2020-01-13 14:14] williamdes commented on #15761
Thank you so much @JarnoVgr I could reproduce this issue thanks to your comment !

[2020-01-13 17:34] victorphoenix3 commented on #12117
will work on this

[2020-01-13 19:58] trendchiller commented on #15761
I can confirm this, thank you !

[2020-01-14 08:34] thesmallstar opened #15788 "Place buttons on more intutive positions"
### Is your feature request related to a problem? Please describe.

The buttons in the sidebar seem to be randomly placed.
The logout button, for example, should be the rightmost button as it is more intuitive, personally, when I searched for the logout button I was not happy with the position.

Also, look at this interesting post:   [The UX Logout Lapse](https://usabilitygeek.com/ux-logout-lapse/

[2020-01-14 08:43] OlafvdSpek opened #15789 "5.0 not supported"
`Supported versions`

https://www.phpmyadmin.net/downloads/

[2020-01-14 11:50] williamdes commented on #15761
Also triggered #14312
[code]

[2020-01-14 12:35] OlafvdSpek opened #15790 "MySQL Documentation button"
It's tooltip is just `Documentation` rather than `MySQL Documentation`.
It links to 5.7 rather than 8.0.
It links to MySQL rather then MariaDB on a MariaDB server.

(nav panel)

[2020-01-14 12:40] williamdes commented on #15790
#14947

[2020-01-14 12:53] williamdes commented on #15761
a686ff83601066f91396f4900dc3fd4bd25b2943 ?

[2020-01-14 14:33] victorphoenix3 commented on #15790
will fix this

[2020-01-14 17:51] williamdes opened #15791 "facebook/php-webdriver is renamed to php-webdriver/php-webdriver"
https://github.com/php-webdriver/php-webdriver/pull/733

https://github.com/php-webdriver/php-webdriver/issues/730#issuecomment-574294670

[2020-01-14 18:18] williamdes commented on #15777
https://sourceforge.net/p/phpmyadmin/bugs/1634/ (seems unrelated)

24f1cb2265189210bffbc8b761718760f4703f5f (in 4.5.0.0)

http://phpmyadmin150.rssing.com/chan-30024075/all_p8.html

[code]

@ibennetch this is the history I found

So, bug or feature ?

[2020-01-14 18:24] williamdes commented on #15777
https://github.com/phpmyadmin/phpmyadmin/wiki/2015-05_Meeting_IRC_Log

[2020-01-14 18:26] williamdes commented on #15777
"09:27 < Marc9> Not grouping here would be inconsistent and we would get a RFE to bring it back"

Years later here we are.

cc @lem9

[2020-01-14 18:27] williamdes commented on #15777
cc @OlafvdSpek

[2020-01-14 19:40] OlafvdSpek commented on #15777
Haha, isn't it ironic @ibennetch was in that IRC meeting too? ;) FYI I wasn't.
Is grouping really not working or is it working as intended (i.e. don't group when there's only one group)?

[2020-01-14 19:46] ibennetch commented on #15777
Wow, that’s so funny that we had this very talk that long ago. Perhaps not
as funny that I didn’t remember it.

I’m torn. This seems like what the users would want, but it’s not super
intuitive.

I think we should better document this (in the documentation and maybe even
as a tool tip in the navigation pane) then leave it how it is.

[2020-01-14 20:14] thesmallstar commented on #15777
@OlafvdSpek it is working as intended i.e don't group when there's only one group

[2020-01-14 21:04] williamdes commented on #15777
@OlafvdSpek since you did the feature request, do you want to remove the feature ?

IMO I would not remove it since not grouping looks nicer but on another hand having a group is what I would expect so I would remove it.

So "I’m torn" too

[2020-01-14 21:18] yashrajbothra commented on #15209
Hey @williamdes help me reproduce if issue persist.

[2020-01-14 21:19] OlafvdSpek commented on #15777
No, of course I don't want to remove it. ;)
Having only one group just doesn't make sense..

[2020-01-14 21:40] lem9 commented on #15710
@DoctorSubtilis Please open a different issue for this. By the way, your keywords-dottorato column is not a set.

[2020-01-14 21:54] #15432 closed

[2020-01-14 21:54] #14310 closed

[2020-01-14 21:54] #15776 closed

[2020-01-14 22:28] mauriciofauth opened #15792 "jQuery positional selectors are deprecated"
jQuery 3.4.0 [deprecated](https://blog.jquery.com/2019/04/10/jquery-3-4-0-released/) the positional selectors `:first`, `:last`, `:eq`, `:even`, `:odd`, `:lt`, `:gt`, and `:nth`.

It's possible to know where we use jQuery positional selectors running the following command:
[code]
That command will return something similar to this:
[code]

[2020-01-14 22:44] yashrajbothra commented on #15792
I would like to work on this one✋

[2020-01-14 23:02] williamdes commented on #15209
Hey @yashrajbothra you will need MySQL 8.0 or 5.7.21+ and then follow my screenshots

[2020-01-14 23:04] williamdes commented on #15792
@yashrajbothra Go ahead and use master branch :)

[2020-01-15 02:42] Sartech-B commented on #15296
Which file adds the stylesheet tag to the header which imports ol.css file? @williamdes

[2020-01-15 02:43] Sartech-B commented on #15296
I figured how to migrate to OL6, it was quite hard since OL3 was a major update and changed a lot of methods and sytaxes. ( I wonder why nobody bothered to update to OL3 back then)

[2020-01-15 02:45] Sartech-B commented on #15296
@williamdes your help has been invaluable, I apologize for constantly asking for help since this is my first working on a major project of this size.

[2020-01-15 02:57] thesmallstar commented on #15777
@williamdes @OlafvdSpek  as @ibennetch  said, if we do not remove it should we document it or show a tool tip?

[2020-01-15 06:27] thesmallstar commented on #15782
@williamdes I am planning to use type = "number" as an attribute to int fields, so as to solve this issue should I proceed or you have any suggestions?

[2020-01-15 07:33] williamdes commented on #15777
3rd option for me: add a configuration override

I agree for the documentation, maybe in FAQ?

[2020-01-15 07:34] williamdes commented on #15782
@thesmallstar I think you can proceed, if it adds the validator I am okay with that

[2020-01-15 08:10] williamdes commented on #15296
@Sartech-B this is what I found (OpenLayers lib adds the css file)
![image](https://user-images.githubusercontent.com/7784660/72416305-ac068b00-3776-11ea-8616-313857b42dc0.png)

No problem, it is normal :)

[2020-01-15 08:59] OlafvdSpek commented on #15777
IMO it's low priority, I'd focus on other issues.

[2020-01-15 09:59] thesmallstar commented on #15760
@williamdes  okay thank you :)

[2020-01-15 11:18] victorphoenix3 commented on #14947
@williamdes  I have tested and found that we cannot directly implement this patch since then many of the links will break.
For example - when we call `show_mysql_docu('procedure_analyse')` in `display_structure.twig` we get redirected to https://dev.mysql.com/doc/refman/5.7/en/procedure-analyse.html .
But after applying the patch we will be redirected to https://dev.mysql.com/doc/refman/8.0/en/pro

[2020-01-15 11:27] williamdes commented on #14947
@victorphoenix3 this fix must be implemented on this repo https://github.com/williamdes/mariadb-mysql-kbs

[2020-01-15 11:28] williamdes commented on #14947
I would make sense

[2020-01-15 11:35] victorphoenix3 opened #15795 "Fix Broken link on "MySQL said""
### Describe the bug

Many of the links to which the user is redirected are broken.

![Screenshot from 2020-01-15 16-55-21](https://user-images.githubusercontent.com/48182195/72430524-a0d44f00-37b8-11ea-9664-af38e44eb9f4.png)

Clicking on the icon Redirects to page not found.

on 5.1.0-dev

using 10.3.16-MariaDB

[2020-01-15 11:35] williamdes commented on #15795
Version ?

[2020-01-15 11:35] victorphoenix3 commented on #15795
@williamdes  will test links while working on issue #14947

[2020-01-15 11:36] williamdes commented on #15795
@victorphoenix3 are the links broken on 5.0.1 ?

[2020-01-15 11:37] victorphoenix3 commented on #15795
am using 10.3.16-MariaDB. Must be infact redirected to mariadb documentation.

[2020-01-15 11:39] williamdes commented on #15795
Thank, you I updated the post and added the version at the bottom so I do not skip it another time ^^

[2020-01-15 11:43] victorphoenix3 commented on #15795
yes

[2020-01-15 11:48] williamdes commented on #15795
Okay, please comment when you find the issue ;)

[2020-01-15 12:58] #15761 closed

[2020-01-15 12:58] #15780 closed

[2020-01-15 12:59] williamdes commented on #15761
@JarnoVgr @trendchiller you can apply 876b6e13c48c160e17576a939ebfb7bd6af48f05 if you want to fix the issue before the snapshot is updated [(phpMyAdmin 5.0+snapshot)](https://www.phpmyadmin.net/downloads/)

The fix will be part of the next release

[2020-01-15 19:16] #15729 closed

[2020-01-15 20:06] yashrajbothra opened #15797 "Relation view broken in master"
### Describe the bug

Can't see anything in Relation View

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Any Table/Structure'
2. Click on 'Relation View'
3. See error

### Screenshots
[Master Demo](https://demo.phpmyadmin.net/master-config/index.php?route=/table/relation&goto=index.php%3Froute%3D%2Ftable%2Fstructure&back=index.php%3Froute%3D%2Ftable%2Fstructure)
![image](https://use

[2020-01-15 20:06] #15017 closed

[2020-01-15 20:07] williamdes commented on #15017
@ndom91 If you still have the issue please comment here

[2020-01-15 20:49] thesmallstar opened #15798 "Prompted for confirmation for abandoning change when not needed on run SQL Page (checkboxes)"
### Describe the bug

we are Prompted for confirmation for abandoning change when not needed on run SQL Page.

### To Reproduce

Steps to reproduce the behaviour:
1. Go to Run SQL page.
![image](https://user-images.githubusercontent.com/42006277/72469429-61801f80-3805-11ea-926f-5a7dfc4d2aaf.png)

2. Type anything in bookmarks query
![image](https://user-images.githubusercontent.com/42006277/724694

[2020-01-15 20:53] williamdes commented on #15798
I assume this is an error also on 5.0.2-dev for anyone who wants to fix it please use QA_5_0 branch as base

[2020-01-15 20:57] thesmallstar commented on #15798
I am working on this :)

[2020-01-15 21:12] thesmallstar opened #15799 "Documentation icon is not clickable in Profiling"
### Describe the bug

Documentation icon is not clickable in Profiling page, instead, it triggers the default sorting of the column.

### To Reproduce

Steps to reproduce the behaviour:
1. Browse any table
2. tick profiling
![image](https://user-images.githubusercontent.com/42006277/72471908-8e363600-3809-11ea-9a08-8f3c5f5821db.png)

3. Try opening documentation for state
![image](https://user-ima

[2020-01-15 21:14] thesmallstar commented on #15799
working :)

[2020-01-15 21:45] Sartech-B commented on #15296
Which file imports OpenLayers.js and how (under what conditions)? I did find JS code which adds the script tags in the document header in js/gis_data_editor.js in function loadJSAndGisEditor(), but when I inspect the page with the geometry visual, there doesn't seem to be an OpenLayers.js import in the head tag.

[2020-01-15 21:50] williamdes commented on #15296
@Sartech-B The script uses javasript to add the JS file so you will not find a line in the header

https://github.com/phpmyadmin/phpmyadmin/blob/1a14b3e4d3b703dae1e36d9d87e65b50bf7b832c/js/table/gis_visualization.js#L154-L156

You are maybe looking for:
https://github.com/phpmyadmin/phpmyadmin/blob/edbb713494d463c3767d0f697dcdbd7b2cec4d31/js/gis_data_editor.js#L107-L110

[2020-01-15 21:56] yashrajbothra commented on #15792
I am not able to find any alternative to use for `:even :odd` selectors.

https://api.jquery.com/even-selector/

[2020-01-16 02:52] ridwantanjung opened #15800 "Notice in ./libraries/DisplayResults.php#1229 Trying to access array offset on value of type bool"
### Describe the bug
I've updated PHP to 7.4.1, and when I open the table of my database this error occurred, I didn't know this was caused by me updating PHP or not, whereas before it was fine
### To Reproduce

Steps to reproduce the behavior:
1. Go to 'localhost/phpmyadmin'
2. Click on 'some table'
4. See error

### Screenshots

![phpmyadminbug](https://user-images.githubusercontent.com/52048216

[2020-01-16 06:51] williamdes commented on #15800
Hi @ridwantanjung
You can install our PPA (#15515) (`sudo add-apt-repository ppa:phpmyadmin/ppa`)
And then you will be up to date

[2020-01-16 06:54] williamdes commented on #15800
Please keep us updated
But 4.6 is not supported anymore.

[2020-01-16 06:54] #15800 closed

[2020-01-16 10:41] kartik1000 commented on #15285
@williamdes Does the checkbox need to be under the SQL tab when someone is running some query? I am willing to work on this enhancement.

[2020-01-16 10:42] williamdes commented on #15285
@kartik1000 I would say yes, can you make a proposal and post the capture here ?

[2020-01-16 10:51] kartik1000 commented on #15285
Sure @williamdes.

[2020-01-16 11:20] victorphoenix3 commented on #15797
are u working on this @yashrajbothra ?

[2020-01-16 11:31] yashrajbothra commented on #15797
@victorphoenix3  Not Yet, If you want you can go for it 👍

[2020-01-16 12:17] Mattie112 opened #15802 "Why is there a SET AUTOCOMMIT=0 in the SQL of a database export"
The first 4 lines of a database export with default settings in phpMyAdmin are:
[code]

The last 4 lines contain:
[code]

I see that the AUTOCOMMIT is disabled but never enabled. I have noticed because we imported a SQL (generated by phpMyAdmin) and in the same session also executed some INSERT statements. These rows where not visible in the database (because they where never committed).

In the M

[2020-01-16 12:18] williamdes commented on #15802
Seems like a bug, thank you for reporting it !

[2020-01-16 15:30] ibennetch commented on #15802
I also can't think of a reason why this would be the intended behavior.
Thanks for reporting this!

[2020-01-16 16:27] kartik1000 commented on #15285
![Screenshot 2020-01-16 at 9 54 11 PM](https://user-images.githubusercontent.com/43112279/72542862-d5c0ce80-38aa-11ea-97ef-31bde41bbf8c.png)
Something like this @williamdes  🤔

[2020-01-16 16:41] williamdes commented on #15285
@kartik1000 I like that solution :heart_eyes: , can you make a PR ?
@nunoperalta what do you think about it ?

[2020-01-16 16:56] kartik1000 commented on #15285
@williamdes. I hope to make a PR as soon as I am done with its backend.

[2020-01-16 17:40] ghnp5 commented on #15285
Hey guys. Yup - that's exactly what I was looking for.

Would it make more sense to have it the opposite way, like "[x] Calculate total rows" instead of the negative.

Thanks!

[2020-01-16 17:44] ghnp5 commented on #15285
And possibly rename "Show this query here again" to "Keep query box" ?
Just to reduce the space used (and possibly looks more professional, the second).

[2020-01-16 17:45] nunoperalta commented on #15285
Hey guys. Yup - that's exactly what I was looking for.

Would it make more sense to have it the opposite way, like "[x] Calculate total rows" instead of the negative?

And possibly rename "Show this query here again" to "Keep query box" ?
Just to reduce the space used (and possibly looks more professional, the second).

Thanks!

@kartik1000 - I appreciate very much your availability for this.

[2020-01-16 17:52] williamdes commented on #15285
Would make more sense and make it obvious that we will calculate by default

[2020-01-16 19:51] williamdes commented on #15312
![image](https://user-images.githubusercontent.com/7784660/72557881-ea4c9900-38a1-11ea-97a5-db5089f2707d.png)

Thank you @kartik1000 for implementing this feature
I added a documentation button

[2020-01-16 19:53] nunoperalta commented on #15312
OMG - this!!!
Thank you so much @kartik1000 - you rock.

Just one thing - I believe that ALTER ONLINE is MariaDB specific.
For MySQL, I think we should use "ALGORITHM=INPLACE".

Unless I'm wrong?

[2020-01-16 19:56] williamdes commented on #15312
I found it in the MySQL docs https://dev.mysql.com/doc/refman/8.0/en/alter-table.html so I do not think it is specific at all :)

[2020-01-16 19:59] nunoperalta commented on #15312
I did a search in that page for "ONLINE", but I don't see it as part of the syntax.
Can you please quote the specific part that says "ALTER ONLINE TABLE" is allowed?

Also, I tried in phpMyAdmin Demo with MySQL, I got:

SQL query: Copy

ALTER ONLINE TABLE `BanNumber` ADD `test` INT NOT NULL AFTER `NbdeBans`
MySQL said: Documentation

#1064 - You have an error in your SQL syntax; check the manual t

[2020-01-16 20:01] williamdes commented on #15312
Indeed, I did read the docs too quicky

So for MySQL we need to use `ALGORITHM=INPLACE` ?

[2020-01-16 20:08] williamdes commented on #15312
https://mariadb.com/kb/en/alter-table/#algorithminplace seems to be a more compatible method
Do you agree @nunoperalta ?

[2020-01-16 20:59] kartik1000 commented on #15312
Does Algorithm = Inplace works for both MariaDB and MySQL? Or we need to use different syntax on the basis of server?

[2020-01-16 21:01] nunoperalta commented on #15312
@kartik1000  @williamdes  Should work for both.

Thank you!

[2020-01-16 21:07] #15720 closed

[2020-01-16 21:07] #15799 closed

[2020-01-16 23:51] OfficialOzioma commented on #15788
@williamdes can assign a task to me, i can try working on this

[2020-01-17 00:08] williamdes commented on #15788
@OfficialOzioma I think another issue would be a better idea because I am not sure to merge work for this one

[2020-01-17 00:10] williamdes commented on #15200
@OfficialOzioma do you want to implement this issue using QA_5_0 branch as base?

NB: please add and update the unit tests

[2020-01-17 08:11] kartik1000 commented on #15802
@williamdes I am willing to work on this issue :)

[2020-01-17 08:17] williamdes commented on #15802
@kartik1000 I assigned it to you for now

[2020-01-17 08:31] yenaulrik commented on #15619
It was a margin.bottom 'x'rem set to the <label> but i can't see anymore the project :'(

[2020-01-17 08:45] kartik1000 commented on #15802
What should I prefer removing SET AUTO COMMIT = 0 or Adding SET AUTO COMMIT = 1? @williamdes

[2020-01-17 09:52] Fabien91150 opened #15804 "HTML editor for text fields"
Could be very helpfull to have an integrated HTML text editor for text fields

[2020-01-17 09:54] thesmallstar commented on #15804
Can you please tell a bit more about this? Where do you want this exactly and how will this help?

[2020-01-17 10:04] Mattie112 commented on #15802
I would suggest removing the `SET AUTOCOMMIT = 0`  is it is already done according to the MySQL docs.
https://dev.mysql.com/doc/refman/8.0/en/commit.html

[2020-01-17 10:22] kartik1000 commented on #15802
ok @Mattie112

[2020-01-17 10:33] Mattie112 commented on #15802
And just to confirm:

The docs state this for 8.0, 5.7, 5.6 and 5.5

The MariaDB docks also state this:
(https://mariadb.com/kb/en/start-transaction/)

[2020-01-17 12:45] goblin2oo8 commented on #15628
I have same bug. Column type binary(16)
Data example INSERT INTO test_table SET ip = INET6_ATON('::ffff:8.8.8.8')
If I use function INET6_NTOA in SELECT query - it is works
But display transformation not working, error write:
JSON encoding failed: Malformed UTF-8 characters, possibly incorrectly encoded

[2020-01-17 12:54] #15791 closed

[2020-01-17 13:11] #15312 closed

[2020-01-17 13:14] williamdes commented on #15628
@harsh-kukreja @Gaurav-Punjabi @victorphoenix3 @kartik1000 first one who wants to work on it (if it can be reproduced) comments here :)

[2020-01-17 13:19] kartik1000 commented on #15628
Well I'll first try to reproduce @williamdes and then let you know 😄

[2020-01-17 14:04] markus-ksg opened #15806 "Layout: Bad alignment of sticky column headers after scrolling"
### Describe the bug

When browsing a table, after scrolling down the sticky column headers are not aligned with the column data any more

### To Reproduce

Steps to reproduce the behavior:
1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/sql&server=1&server=1&db=opengis&table=world_borders&pos=0
2. Scroll down until the column headers reach the top of the page
=> Headers jump t

[2020-01-17 14:38] markus-ksg opened #15807 "SQL query editor: MariaDB window function with alias gives bad linting errors"
### Describe the bug

A MariaDB window function used together with an alias results in bad linting errors in the SQL query editor.

### To Reproduce

1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/table/sql&db=opengis&table=world_borders&server=1
2. Enter query:
[code]
=> Linting errors:

![phpmyadmin-linting-error](https://user-images.githubusercontent.com/47326631/72619870-8

[2020-01-17 22:33] yashrajbothra opened #15810 "Unexpected Modal Heading"
### Describe the bug

Unexpected code appearing on heading of modal

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Navigation Bar'
2. Click on (+) 'Function || Procedure -> New'
3. See error

### Expected behavior

A heading like **Add Routine** Should appear on Modal

### Screenshots
Unexpected
![image](https://user-images.githubusercontent.com/47683556/72650558-e22a5180-39a6-11ea-

[2020-01-18 03:49] ibennetch commented on #15810
Probably similar to #15119

[2020-01-18 08:09] kartik1000 commented on #15810
This bug is not present till 4.8. 🤔

[2020-01-18 09:28] williamdes commented on #15810
Thank you for the research, If someone had time to do a git bisect between the first affected version ans the previous one then please post the results here

[2020-01-18 12:42] yashrajbothra commented on #15810
`git bisect` result 6ed803588a4c87416e3605e9f725264ea97cfa5b as first bad commit

![image](https://user-images.githubusercontent.com/47683556/72663935-f8272900-3a1d-11ea-8a22-0f5225fbf3d8.png)

[2020-01-18 13:35] lem9 commented on #15804
Fabien is probably storing whole web pages inside a text column.

[2020-01-18 16:01] Fabien91150 commented on #15804
Storing some html for web purpose. (Case of any CMS)

[2020-01-18 17:24] mauriciofauth opened #15811 "Browse foreign values doesn't work with grid edit"
### Describe the bug

The _Browse foreign values_ link doesn't work when editing relational values inline. It opens a new page instead of opening a modal.

### To Reproduce

Steps to reproduce the behavior:
1. Go to [_Browse_ tab](https://demo.phpmyadmin.net/master-config/index.php?route=/sql&db=sakila&table=film_actor&pos=0&server=1) of the _film_actor_ table of the _sakila_ database.
2. Double c

[2020-01-18 18:35] markus-ksg opened #15813 "SQL query editor: MariaDB window function with alias gives bad linting errors"
### Describe the bug

A MariaDB window function used together with an alias results in bad linting errors in the SQL query editor.

### To Reproduce

1. Go to https://demo.phpmyadmin.net/master-config/index.php?route=/table/sql&db=opengis&table=world_borders&server=1
2. Enter query:
[code]
=> Linting errors: "An alias was previously found. An alias was expected. Unexpected token."

![phpmyadmin-li

[2020-01-18 18:39] markus-ksg commented on #15813
Oops, sorry for the duplicate. My machine crashed yesterday, and I didn't find the bug any more, so I assumed it was not saved.

However, it already got moved to https://github.com/phpmyadmin/sql-parser/issues/283

[2020-01-18 18:39] #15813 closed

[2020-01-18 19:19] williamdes commented on #15813
I forgot to post a message to let you know I moved it, sorry

[2020-01-18 19:45] thesmallstar commented on #15811
Can I look into it?

[2020-01-18 19:52] williamdes commented on #15811
Yes :)

[2020-01-18 20:01] rip057 opened #15814 "[5.0.1-1.fc31] Variables Tab Causes Uncaught Error in VariablesController.php"
my system is:

the output of php-fpm/www-error.log:

I have installed the only package i can find that has anything like the name williamdes which is php-williamdes-mariadb-mysql-kbs-1.2.8-1.fc31.noarch.rpm to no avail

any help is appreciated.

[2020-01-18 20:02] williamdes commented on #15814
@rip057 You need to run `composer update`

[2020-01-18 20:03] rip057 commented on #15814
where at? inside /usr/share/phpMyAdmin ?

[2020-01-18 20:03] williamdes commented on #15814
Maybe the .rpm packaging has a mistake

How did you install phpMyAdmin ?

[2020-01-18 20:05] rip057 commented on #15814
installed via

Last metadata expiration check: 3:08:20 ago on Sat 18 Jan 2020 10:55:39 AM CST.
Installed Packages
php-phpmyadmin-motranslator.noarch                                                                             4.0-5.fc31                                                                               @fedora
php-phpmyadmin-shapefile.noarch

[2020-01-18 20:07] williamdes commented on #15814
Okay, thank you for the feedback

for now you can replace the contents of `/usr/share/phpMyAdmin` by the contents of the latest  5.0 version from our [website](https://www.phpmyadmin.net/downloads/).
NB: copy your config files before

[2020-01-18 20:09] rip057 commented on #15814
thank you, it just seems like a dependency issue anyways, nothing super major...

thanks

[2020-01-18 20:10] rip057 commented on #15814
I forgot this in the cut and paste.

I am on 5.0.1-1.fc31 of phpmyadmin

[2020-01-18 20:23] thesmallstar commented on #15798
@williamdes , the lock appears to be showing up at each change of event-hash, checkbox being one of them.
One of the possible solutions is to ignore all checkbox event, should I proceed?
It does make sense of doing it since a user won't want that popup if he only changed the states of checkboxes.

[2020-01-18 20:30] thesmallstar commented on #15811
@williamdes
I am getting a bad gateway error on the demo link, and also here:
![image](https://user-images.githubusercontent.com/42006277/72670093-6f30e180-3a5f-11ea-82e5-8b02ad3e4ed7.png)

am I missing anything?

[2020-01-18 21:30] yashrajbothra commented on #15811
@thesmallstar  ya,I also get that error sometimes but IDTS you are missing anything.

[2020-01-18 21:45] williamdes commented on #15814
@remicollet Can you give some advice on this issue, is it a packaging mistake ?
https://www.rpmfind.net/linux/RPM/fedora/updates/testing/31/x86_64/Packages/p/phpMyAdmin-5.0.1-1.fc31.noarch.html

My vendor files seem to be missing

[2020-01-18 21:54] williamdes commented on #15798
It does make sense of doing it since a user won't want that popup if he only changed the states of checkboxes.

I agree, if no SQL request needs to be saved then the user should be able to exit without a confirmation

[2020-01-18 22:35] NKarasek opened #15815 "For Designer: retain Designer Page (for the session) after bouncing back to setup an index."
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2020-01-19 06:45] remicollet commented on #15814
@williamdes yes, this is a packaging issue, which should have be reported on https://bugzilla.redhat.com/

@rip057 please try [5.0.1-2](https://bodhi.fedoraproject.org/updates/FEDORA-2020-ef66b1c971)

[2020-01-19 07:43] rip057 commented on #15814
I will update tomorrow, I am tired it has been a long day of troubleshooting mariadb issues then this happened.

I will update tomorrow and close upon completion.

Thank you both, I was having a minor stroke with the mariadb issues, and the quickness of this has been incredible and calming.

[2020-01-19 08:27] thesmallstar commented on #15798
Okay :)

[2020-01-19 08:43] williamdes commented on #15814
Thank you @remicollet 🎉
@rip057 you can close this issue when it is fixed

[2020-01-19 10:52] victorphoenix3 commented on #12117
@williamdes  i think this has been fixed....Haven't been able to reproduce it.

[2020-01-19 13:06] nunoperalta opened #15817 "New Table - layout issue on original theme"
phpMyAdmin 5.0.1

See headings - Name, Type, etc...

![image](https://user-images.githubusercontent.com/487079/72681521-573b7b00-3abc-11ea-89a3-fbf330bdcbe8.png)

[2020-01-19 13:11] nunoperalta opened #15818 "[regression] Table borders missing on theme original"
Since phpMyAdmin 5.0.0, the classic theme lost the borders of the tables, making it a bit "ugly" to look at:

![image](https://user-images.githubusercontent.com/487079/72681586-f3658200-3abc-11ea-9c3e-98722a28c81a.png)

![image](https://user-images.githubusercontent.com/487079/72681612-31fb3c80-3abd-11ea-808a-7193025d0159.png)

I have automated the following addition to CSS on phpMyAdmin upgrades:

[2020-01-19 13:37] williamdes commented on #15818
@nunoperalta adding
[code]

Fixes the issue, do I commit that for next version ?

[2020-01-19 13:41] nunoperalta commented on #15818
Ah yeah! That makes it look like before.
Yup - I'd go ahead with that!

[2020-01-19 13:45] #15802 closed

[2020-01-19 13:45] #15818 closed

[2020-01-19 13:54] williamdes commented on #12117
[code]
@victorphoenix3 I could reproduce it
Did you follow `using my browser native "back" button`

[2020-01-19 14:05] rip057 commented on #15814
all is good and fixed, sorry if this wasn't the correct place to report this again, but all is fixed as far as i can see.  My mariadb problems have also been fixed (loads of dead locks) although i also extended my innodb log size as well, so that could have been related maybe not.  Either way phpMyAdmin-5.0.1-2.fc31.noarch fixes my issue with the variables tab.

thanks all

[2020-01-19 14:05] #15814 closed

[2020-01-19 14:35] #13864 closed

[2020-01-19 14:35] #15811 closed

[2020-01-19 14:44] #15797 closed

[2020-01-20 08:34] remicollet commented on #15814
@rip057 thanks for the feedback.
BTW, if you have a FAS account you can give feedback on the update (preious link) and thus, make it quickly go to stable repo.

[2020-01-20 11:04] smarek opened #15821 "Mysql 8: Relations (foreign key constraints) not shown"
### Describe the bug

PMA does not show relations (foreign key constraints)
I've verified that constraints are present using MySQL workbench and mysql console
I see no user-visible, or console (php/nginx) logs relevant to the issue

Intially observed without configured PMADB, configuring it correctly, makes no difference

### To Reproduce

Steps to reproduce the behavior:
1. Go to '...'
2. Click o

[2020-01-20 11:28] milosterzic commented on #15817
@nunoperalta

Hi, can you tell us what browser you are using?

[2020-01-20 12:03] nunoperalta commented on #15817
Chrome, Windows 10

if you cannot reproduce, let me know

[2020-01-20 12:30] williamdes commented on #15821
@smarek Can you post a screenshot ?
All tables and engines are affected ?

[2020-01-20 12:53] smarek commented on #15821
@williamdes screenshot of what?
url is "/tbl_relation.php?db=dbname&table=tblname"
we're using only InnoDB, so that is affected for sure
and yes, i've just tested, and all tables are affected

[2020-01-20 13:58] rip057 commented on #15814
I will work out creating one today just for you and all that you do.

On Mon, Jan 20, 2020, 2:34 AM Remi Collet <notifications@github.com> wrote:

[2020-01-20 16:18] milosterzic commented on #15817
@williamdes

Can I take this one?

[2020-01-20 16:23] williamdes commented on #15817
@milosterzic Yes, go ahead and you can use QA_5_0 as base branch if you think it is a UI regression between 4.9 and 5.0

Demo servers (`root`, no password)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-01-20 16:25] OfficialOzioma commented on #15788
@williamdes alright, you can assign any issues to me, for beginners

[2020-01-20 16:37] williamdes commented on #15810
@OfficialOzioma can you have a look into this issue ?

You will probably have to revert a change made in 6ed803588a4c87416e3605e9f725264ea97cfa5b

[2020-01-20 20:07] yashrajbothra commented on #15792
I was not able to test all the files as reproducing all features was very hard and time consuming. But what i did instead, first of all i created prototype and tested it and then i also test each type of change in actual code.I hope i did not broke any part of the code.

All PRs are ready to review

[2020-01-20 20:24] williamdes commented on #15792
Excellent !

Thank you, I am waiting for one more review so I can merge your work :muscle:

[2020-01-20 21:53] e7o-de opened #15825 "X XPRIMARY clipboard doesn't work in text areas"
Hey guys,

some thing always annoying me when working with phpmyadmin is the fact that the fancy SQL editor thingy aka colorful textarea somehow doesn't work together with X server's PRIMARY clipboard. Means: when selecting a text in a different program or even within the same site (means phpmyadmin), I can't paste that selected text via middle mouse button into the text area.

I think this worked

[2020-01-20 21:54] williamdes commented on #15825
Hello @e7o-de
Thank you for reporting this issue, are you using 5.0 ?

[2020-01-21 06:16] usama-kabel opened #15826 "AutoComplete Attribute Not Disabled for Password in Form Based Authentication"
The Web server allows form based authentication without disabling the AutoComplete feature for the password field.

### Expected behavior

The AutoComplete attribute should also be disabled for the user ID field.
Developers can add the following attribute to the form or input element: autocomplete="off"
This attribute prevents the browser from prompting the user to save the populated form values f

[2020-01-21 09:34] OlafvdSpek commented on #15826
Why?
IMO it's up to the browser and the user what to do with `input=password` fields.

[2020-01-21 18:05] #15817 closed

[2020-01-21 18:34] e7o-de commented on #15825
Hey, actually ... I'm so sorry, I've been hitting this issue for years, 5.0 (used your demo) actually improves behaviour. Looks like I have to kick my hoster in the * to update it soon.

I correct my bug report: Insertion kind of works, but selecting of text within the text area doesn't update PRIMARY. Kind of a lower importance then, but still buggy :(

[2020-01-21 18:59] williamdes commented on #15825
This is a good reason to fix it soon then ;)

Right click does not work ?
What browser do you use ?

Can you give as much information possible so somebody can solve this issue soon.

[2020-01-21 19:09] e7o-de commented on #15825
Right click does work, but not sure what to do there ;)

Used https://demo.phpmyadmin.net/STABLE/server_sql.php for testing.

Tested the issue in Firefox 72.0.1 (64 bit), not a lot of settings changed there.

Tested in SeaMonkey 2.49.5, and actually there's the PRIMARY not working at all, so ... think I know why I didn't see it working when testing before opening the issue here. Not sure, might be

[2020-01-21 19:11] williamdes commented on #15825
@victorphoenix3 do you want to have a look into this issue ?

[2020-01-21 20:11] victorphoenix3 commented on #14430
will try to debug this

[2020-01-21 20:20] victorphoenix3 commented on #15825
@williamdes  will try to fix this :)

[2020-01-21 21:05] yagiribenma opened #15830 "Error 500 in Table Structure Screen , Japanese Lang"
[Symptom]
Table Structure page gives 500 error in Ver 5.0.1, Japanese Language Mode.

[Steps to reproduce the behavior]
1. Choose Language to 'Japanese', and login to phpmyadmin 5.0.1
2. Choose any database table , and Click on 'Structure'
3. It does not go to database structure page. Instead, Error code 500 pops up. The message says that network connection is lost.

The error does not reproduce w

[2020-01-21 21:13] williamdes commented on #15830
@yagiribenma I could not reproduce this issue, can you send your `config.inc.php` file and the php error log ?

[2020-01-21 21:41] yagiribenma commented on #15830
Here it is
[config.inc.php.txt](https://github.com/phpmyadmin/phpmyadmin/files/4093828/config.inc.php.txt)
[php_errors.log](https://github.com/phpmyadmin/phpmyadmin/files/4093850/php_errors.log)

[2020-01-21 21:58] williamdes commented on #15830
"As the output is dependent upon the underlying C library, some conversion specifiers are not supported. On Windows, supplying unknown conversion specifiers will result in 5 E_WARNING messages and return FALSE. On other operating systems you may not get any E_WARNING messages and the output may contain the conversion specifiers unconverted."

https://www.php.net/manual/en/function.strftime.php

@y

[2020-01-21 22:19] yagiribenma commented on #15830
Screenshots of date and mbstring are as follows:

![datesection](https://user-images.githubusercontent.com/60155953/72848136-49b60900-3ce7-11ea-8f91-dd26855061f9.jpg)
![mbstringsection](https://user-images.githubusercontent.com/60155953/72848140-4c186300-3ce7-11ea-8f1b-b3ea478f7a40.jpg)

[2020-01-22 02:31] POPSuL opened #15831 "Invalid behavior in convertBitDefaultValue (escape_mysql_wildcards) helper"
### Describe the bug

Page `server_privileges` have option list with list of databases. If database starts with `b` (like `big`) option value has `ig`, but title seems correct.

### To Reproduce

Steps to reproduce the behavior:
1. Create database like `big_database`
2. User accounts, select any user that click `Database` tab
3. Select `big_database` in `Add privileges on the following database(s)

[2020-01-22 07:41] jsonjuri commented on #15804
I have added TinyMCE to my PhpMyAdmin, great for local development and easy changes in HTML content if you don't have a CMS yet.

https://github.com/jsonjuri/TinyMCE-PhpMyAdmin

[2020-01-22 11:45] tabraiz961 commented on #15242
Hi @williamdes
I'd like to work on it, I will be working on the master branch and aim to include an option in the Navigation Tree that shows Views and Table together, however how should we manage Stored Procedures and Triggers ?

[2020-01-22 12:09] thesmallstar commented on #15242
@tabraiz961 go ahead, I am into some other issue at the moment😁

[2020-01-22 12:23] williamdes commented on #15242
@tabraiz961 My first idea would be to include some configuration setting(s?) to manage the behavior

But as I said "I think code refactoring is necessary to implement correctly a solution"
I think you can not implement a good solution before doing this step first

[2020-01-22 14:20] craue opened #15833 "TypeError when submitting unchanged data"
### Describe the bug

PHP Fatal error:  Uncaught TypeError: Argument 5 passed to PhpMyAdmin\\Sql::getQueryResponseForResultsReturned() must be of the type string or null, object given, called in /var/opt/phpmyadmin/5.0.1/libraries/classes/Sql.php on line 2271 and defined in /var/opt/phpmyadmin/5.0.1/libraries/classes/Sql.php:1816

### Steps to reproduce the behavior

1. ```CREATE TABLE `menu` (`id

[2020-01-22 17:38] victorphoenix3 commented on #14430
@williamdes  The issue lies with `getDefinition` function in DatabaseInterface.php which returns a false for every user who is not named in the DEFINER clause for the procedure. Thus, execute button  is not available even the user has privileges.

will it be right to override this function?

[2020-01-22 17:48] victorphoenix3 commented on #14430
The issue lies with getDefinition function in DatabaseInterface.php which returns a false for every user who is not named in the DEFINER clause for the procedure. Thus, execute button is not available even when the user has privileges.

will it be right to override this function?

[2020-01-22 17:49] victorphoenix3 commented on #14430
@williamdes The issue lies with getDefinition function in DatabaseInterface.php which returns a false for every user who is not named in the DEFINER clause for the procedure. Thus, execute button is not available even the user has privileges.

will it be right to override this function ?

[2020-01-22 18:05] williamdes commented on #14430
From what I understand It would be right

[2020-01-22 18:35] williamdes opened #15836 "Field :group:OpenDocument/OpenOffice 試算表 has no type"
### Describe the bug

Use language zh_TW `中文 - Chinese traditional`

Go to export
- phpMyAdmin version: 5.0

![image](https://user-images.githubusercontent.com/7784660/72922957-528df580-3d4e-11ea-8b7d-7e64491237d8.png)

https://github.com/phpmyadmin/phpmyadmin/commit/9130ebb7b64f0a5d010e8af92b04a8cf006cccbf#diff-9a11bfc1b2129220f65019e35cb7f7a6R163

This is because `':group:' . __('OpenDocument Sp

[2020-01-22 21:39] williamdes commented on #15833
Thank you for the report and precise steps !

[2020-01-22 21:53] #15798 closed

[2020-01-22 21:53] #15833 closed

[2020-01-22 22:00] craue commented on #15833
Confirmed as fixed. That was quick, @williamdes. Thanks.

[2020-01-23 00:16] apircalabu opened #15838 "[CSS] phpmyadmin 5.0.1 rendering broken with nginx + php-fpm"
### Describe the bug

In exactly the same environment stock phpMyAdmin-4.9.4-all-languages.tar.gz works fine.

### To Reproduce

Steps to reproduce the behavior:
1. Download phpMyAdmin-5.0.1-all-languages.tar.gz from https://www.phpmyadmin.net/downloads/ and unpack it under /var/www/vhosts/pma501
2. Update nginx configuration and reload, if necessary
3. Access https://host/pma501/ and see the resu

[2020-01-23 01:09] ArtooS opened #15839 "theme issue?"
### Describe the bug

I've downloaded and installed the latest version of phpmyadmin.  I had setup phpmyadmin to use the theme 'metro' and when i first load it, it loads using the normal theme.  I press F5 to refresh the page and then the 'metro' theme loads.

### Server configuration

- Operating system: Windows 10 pro 64-bit
- Web server:  XAMPP 7.4.1
- Database version: MariaDB 10.4.11
- PHP ve

[2020-01-23 06:15] yashrajbothra commented on #15792
Hey @williamdes I think i missed one error as I can still see one error.
![image](https://user-images.githubusercontent.com/47683556/72961005-c0313480-3dd5-11ea-8d53-b363643a2a73.png)

Do i need to Open a PR for that?

[2020-01-23 06:44] williamdes commented on #15792
Yes, you can open a PR

[2020-01-23 13:00] rabeehrz commented on #15839
Does it happen everytime or did it happen just once?

[2020-01-23 13:27] rabeehrz opened #15841 "Pick from central columns shows error when empty."
### Describe the bug

While inserting a table, clicking on pick from central columns throws a Javascript error when there are no central columns present.

### To Reproduce

Steps to reproduce the behavior:
1. Go to db
2. Click on new table button
3. Under name field, click pick from central column

### Expected behavior

A user friendly error message.

### Screenshots

If applicable, add screensho

[2020-01-23 13:36] yashrajbothra commented on #15841
Hey @rabeehrz  i tried to reproduce and got this error
![image](https://user-images.githubusercontent.com/47683556/72988950-4fa90880-3e13-11ea-9166-d650e49a29f5.png)

Can you please elborate?

[2020-01-23 13:45] williamdes commented on #15841
Duplicate of #15774

[2020-01-23 13:45] #15841 closed

[2020-01-23 13:46] williamdes commented on #15841
Please have a look to #15774 where the bug is fixed

[2020-01-23 15:04] yashrajbothra commented on #13857
Can anyone please elaborate how to reproduce this ?

[2020-01-23 16:00] ArtooS commented on #15839
its not everytime.  It happens the fist time I load phpmyadmin after starting XAMPP and occasionally after that.

[2020-01-23 16:19] jrdevforlife commented on #15806
It's a second table + thead which is getting displayed on top of that table when the original thead scrolls up. Can be fixed with position: sticky; and top: 59.5667px; on that original thead from what I've simulated.

[2020-01-23 16:29] barkermn01 opened #15843 "Support for ini_sets in a configuration file."
### Is your feature request related to a problem? Please describe.
Problem is the inability to ini_set specific rules for phpMyAdmin easily.

this used to work now does not,
Adding an ini_set to the config.ini.php causes a blank 500 error with no output. so now there is no simple way to add ini_set rules for phpMyAdmin. (such as increased upload size or post_max_size)

### Describe the solution yo

[2020-01-23 17:02] gurrrung commented on #15806
@jrdevforlife Can you make a PR or help me understand how you resolved it so that I can make a PR?

[2020-01-23 17:50] williamdes commented on #15843
Hi @barkermn01

`due to the config.inc.php parser.` I never have seen any parser code, can you post your php error log ?

[2020-01-23 18:01] williamdes commented on #15806
No problem for me, they will have the bug and that will be okay. IE is now replaced by Edge ^^
And Edge will be Chrome soon :laughing:

[2020-01-23 18:06] victorphoenix3 commented on #14947
@williamdes  could u please explain why I need to use this repo? What is this repo is for?

[2020-01-23 18:12] svivian commented on #13857
Tested in 5.0.1 and the bug has been fixed.

[2020-01-23 18:12] #13857 closed

[2020-01-23 18:13] williamdes opened #15844 "PhpMyAdmin\DatabaseInterface->_cacheTableData( on Designer"
[code]

If someone can reproduce this issue, please comment here.
pma version: 5.0

[2020-01-23 18:13] #15844 closed

[2020-01-23 18:19] williamdes commented on #14947
I started to move out all the dynamic data in #14459

And would like to continue moving out the data, and URLs that are left.
Because it is not phpMyAdmin's job to keep up to date with the websites.
And also it would allow to have links for MariaDB :

 #14459 is be an example and the first purpose of my repo

[2020-01-23 18:38] jrdevforlife commented on #15806
@gurrrung

It's currently in Projects: issues; and marked as 'to be fixed soon'. Guess you don't have to take action here. But if you wanna do it anyway for the sake of learning or whatever, so here's how I would go about it if I had no clue.

- Find the corresponding table element in your devtools and check what class it has
- Since I would bet the scroll event is controlled with JS through jQuer

[2020-01-23 18:48] mjulian87 opened #15845 "Two-factor authentication not Working after 5.0.1 update"
After updating to 5.0.1 I am no longer able to login. After entering username/password I receive this message:

`The configured two factor authentication is not available, please install missing dependencies.`

php version 7.3.14. php and phpMyAdmin installed from remi repo.

`yum install php-pragmarx-google2fa-qrcode`

Outputs:

`Package php-pragmarx-google2fa-qrcode-1.0.3-1.el7.remi.noarch alrea

[2020-01-23 18:50] williamdes commented on #15845
Hello @mjulian87
Could you open a bug on https://bugzilla.redhat.com/ as `@remicollet` said on
https://github.com/phpmyadmin/phpmyadmin/issues/15814#issuecomment-575972929

Maybe it is a packaging issue, please keep us up to date.

[2020-01-23 18:50] barkermn01 commented on #15843
There is no error that the problem, `/library/classes/Config/ConfigFile.php`

[2020-01-23 18:52] williamdes commented on #15843
@barkermn01 can you post your config.inc.php file here ?
And the ini_set lines you are trying to set

[2020-01-23 18:54] barkermn01 commented on #15843
[code]

If I uncomment that ini_set it happens

[2020-01-23 18:57] yashrajbothra commented on #13849
![image](https://user-images.githubusercontent.com/47683556/73014473-42564300-3e40-11ea-9f81-b5471055eb3a.png)

please help me reproduce this issue?

[2020-01-23 18:58] williamdes commented on #15843
`ini_set("display_errors", true);` does a 500 without any trace.
Using 7.1 or 8.0

Thank you

[2020-01-23 18:59] williamdes commented on #15843
@barkermn01 https://www.php.net/manual/en/function.ini-set.php
You should use `ini_set("display_errors", "true");`
The function signature wants a string

[2020-01-23 19:01] williamdes commented on #13849
#15825 ?

[2020-01-23 19:04] barkermn01 commented on #15843
Might I ask why are strict types enforced in phpMyAdmin?

[2020-01-23 19:14] williamdes commented on #15843
It was added in #14296
It was a development choice and it allows us to have typing in all the code base in a strict way.
PHP is very permissive without types.

[2020-01-23 19:14] #15843 closed

[2020-01-23 21:12] williamdes commented on #12842
cc @rich06 I flagged this an enhancement until someone can find a working version

[2020-01-23 21:13] williamdes commented on #14026
@pmarquesmota :ping_pong:

[2020-01-23 21:15] williamdes commented on #14149
@nunoperalta do you still have this issue ?

[2020-01-23 21:16] williamdes commented on #14871
@Enurhe can you help reproduce this issue ?

[2020-01-23 21:17] williamdes commented on #15469
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2020-01-23 21:17] #15469 closed

[2020-01-23 21:18] williamdes commented on #15615
@ianthedev can you try version 5.0.1 ?

[2020-01-23 21:19] #15731 closed

[2020-01-23 21:27] williamdes commented on #15700
@jmgtheworld94 can you try latest phpMyAdmin 5.0 version ?

[2020-01-23 21:29] williamdes commented on #15070
@murex971 can you try a >=5.0.1 version ?

[2020-01-23 21:30] williamdes commented on #15476
@pswaab ?

[2020-01-23 21:30] #15375 closed

[2020-01-23 21:31] williamdes commented on #14972
:ping_pong:

[2020-01-23 21:31] #15307 closed

[2020-01-23 21:53] williamdes commented on #14802
_Could not reproduce, closing since no feedback or no way of reproducing was found.
Comment if you find a way to reproduce this issue, or want to re-open for a valid reason._

[2020-01-23 21:53] #14802 closed

[2020-01-23 21:58] #14770 closed

[2020-01-23 21:59] williamdes commented on #14495
@mightydok did you check ?

[2020-01-23 22:02] williamdes commented on #14473
@erolatreston can I close this issue ?

[2020-01-23 22:02] #14386 closed

[2020-01-23 22:06] #14168 closed

[2020-01-23 22:08] williamdes commented on #15838
@apircalabu I will try to reproduce this issue ASAP
thank you for reporting it

[2020-01-23 22:10] williamdes commented on #12963
@ItalyPaleAle is this issue still up to date ?

[2020-01-23 22:16] williamdes commented on #13521
@mauriciofauth is this still a 2020 idea to implement ?

[2020-01-23 22:24] williamdes commented on #14321
@yznima is it a security issue or an expected behavior ?
I do not see how the config could connect without having the id and password

[2020-01-23 22:26] williamdes commented on #12559
#6188

[2020-01-23 22:34] #14807 closed

[2020-01-23 22:57] mauriciofauth commented on #13521
Runkit dependency was removed in 76a4b086a6cd228f33f5cd736dae198f7b9fd14c.

[2020-01-23 22:57] #13521 closed

[2020-01-23 23:18] yznima commented on #14321
@williamdes I believe this is a security issue since it shouldn't return anything and might leak information to the end-user. It seems like it is redirecting the user to login before proceeding. but at the same time, it returns the body of the first page of the PHPmyadmin

[2020-01-23 23:19] MostafaHamedAbdelmasoud commented on #15839
yes it happened for me also, but it happened for cloned phpmyadmin from github, it does not happen for the one installed from xampp.

[2020-01-23 23:28] williamdes commented on #14321
Okay, can you make a list of the leaked data so we are okay about what needs to be fixed or not?

[2020-01-23 23:31] williamdes commented on #15839
@MostafaHamedAbdelmasoud
This is because if you clone directly from git you will have to run `yarn run css-compile`

Maybe consider using the composer version for example

[2020-01-23 23:35] yznima commented on #14321
Shouldn't the response of the following request only be

[code]

Since anything else could include information not intended to be shown. For instance, we had an IP address that could show up in the response because of this.

[2020-01-23 23:44] williamdes commented on #14321
I will need to investigate the sign-on Auth option

Thank you for the example

If you want to contribute or have a fix we accept contributions

[2020-01-24 00:30] nunoperalta commented on #14149
Since long ago, this seems to be a lot more stable.

However, I think that since 5.0.0, when the session expires, the page goes to the logged out page automatically, while before, it stayed on the same page until I do something first (e.g. press a button).

This is not fully confirmed yet, but I can make a few tests first.

[2020-01-24 00:33] ianthedev commented on #15615
Thanks @williamdes for your help!

I already deleted the "Test" database. If I encounter this issue in the future again, I will firstly update the version and see if the issue gets fixed.

[2020-01-24 00:33] #15615 closed

[2020-01-24 06:41] mjulian87 commented on #15845
Hi @williamdes

Will do. Thanks for the quick response.

[2020-01-24 08:50] nunoperalta commented on #14149
Yup - definitely happening. I left the page open during the night, and now in the morning, I lost what I had opened.

I don't mind having some alert somewhere saying the session is expired, but I'd prefer if I didn't lose the page that was previously open.

![image](https://user-images.githubusercontent.com/487079/73056209-5f156980-3e86-11ea-9804-6ce5369732d6.png)

[2020-01-24 08:56] williamdes commented on #14149
Thank your for the testing.
I need to do some research but it is possible that the php sessions expire more quickly than we defined in `$cfg['LoginCookieValidity'] = 604800;`

[2020-01-24 09:23] yashrajbothra commented on #14149
Did you mean after log-in you should be on same page ?

[2020-01-24 11:48] erolatreston commented on #14473
yes.

[2020-01-24 11:49] #14473 closed

[2020-01-24 12:00] williamdes commented on #12614
@emanuelb is this issue still up to date ?

[2020-01-24 12:13] #15082 closed

[2020-01-24 12:15] williamdes commented on #15648
Duplicate of #14335

[2020-01-24 12:16] williamdes commented on #14130
can U2F keys be emulated ?

[2020-01-24 12:21] williamdes commented on #13113
@ibennetch can you please have a look ?
How owns the account ?

[2020-01-24 12:29] williamdes commented on #13124
@JSn1nj4 Are you still interested in contributing ?

[2020-01-24 12:31] williamdes commented on #14953
@kartik1000 do you want to implement the change ?

[2020-01-24 12:33] williamdes commented on #15101
![image](https://user-images.githubusercontent.com/7784660/73069433-05c13080-3eae-11ea-9f76-8ddc3fba531c.png)
Alignment could be better

[2020-01-24 12:37] williamdes commented on #14100
Seems implementable on our side

[2020-01-24 12:41] williamdes commented on #15410
@OlafvdSpek do you mean for example you open the page, someone increments the value and you save the comment. The good value would be lost.
Let me know if I am right.
In that case it is a bug.

[2020-01-24 12:43] williamdes commented on #15035
The input has now validation.

[2020-01-24 12:43] #15035 closed

[2020-01-24 12:43] OlafvdSpek commented on #15410
You're right ;)

[2020-01-24 12:45] kartik1000 commented on #14953
@williamdes Yes surely.

[2020-01-24 12:47] williamdes commented on #13542
I think so, closing this issue.

[2020-01-24 12:47] #13542 closed

[2020-01-24 12:49] williamdes commented on #14123
@arnisjuraga Is it better with latest 5.0 version ?

[2020-01-24 12:53] williamdes commented on #14183
Done https://github.com/phpmyadmin/phpmyadmin/pull/15775#pullrequestreview-341606311

[2020-01-24 12:53] #14183 closed

[2020-01-24 13:27] My1 commented on #14130
in theory yes. I dont know how though although there are a few of them which are VERY cheap.

[2020-01-24 16:35] victorphoenix3 commented on #12117
@williamdes  been able to reproduce it...will debug.

[2020-01-24 17:08] nunoperalta commented on #14149
Guys,

For sure, the time the session takes to expire isn't the problem for me anymore. I think it's simply the definition in "session.gc_maxlifetime", which is ok for me. (definitely improved since I reported this bug)

However, the fact that now phpMyAdmin kicks me off automatically from every open tab, redirecting all tabs to the Log In page is the problem for me.

Before 5.0.0, the session exp

[2020-01-24 17:15] williamdes commented on #14149
@nunoperalta I think what you are asking for was implemented in #14313 but maybe does not work in your case

[2020-01-24 17:19] nunoperalta commented on #14149
Strange... I have never seen a popup about being logged out, in phpMyAdmin.
Surprised it was implemented in 2018...

Either I see nothing and I am being redirected as soon as I do something on the current page, or now with 5.0.0, I am automatically redirected without notice.

[2020-01-24 17:22] yashrajbothra commented on #14149
Don't Worry @nunoperalta I will test this issue and let you know 👍

[2020-01-24 17:45] williamdes commented on #5722
Hello @lem9
What do you think about this issue in 2020 ?

[2020-01-24 18:07] williamdes commented on #12969
@OlafvdSpek :ping_pong:

[2020-01-24 18:07] williamdes commented on #12969
Are you talking about an error and you are trying to copy the query ?

[2020-01-24 18:17] OlafvdSpek commented on #12969
I was trying to copy the error message.

[2020-01-24 18:18] williamdes commented on #13027
Looks similar to #13684

[2020-01-24 18:19] williamdes commented on #12969
Okay, now someone will he able to work on this issue :+1:

[2020-01-24 18:28] williamdes commented on #13519
@OlafvdSpek For me this is already implemented

[2020-01-24 18:28] ibennetch commented on #14321
Before we can further assess this, we'd have to see the contents of your login and logout scripts (what you've referenced as `https://www.ANYHOST.com/login` and `https://www.ANYHOST.com/logout`).

[2020-01-24 18:29] OlafvdSpek commented on #13519
![pma](https://user-images.githubusercontent.com/2218936/73093934-e17e4780-3edf-11ea-9d8a-948d5831bd24.PNG)

[2020-01-24 18:32] williamdes commented on #13519
Okay, on a a new table.
That was a missing detail !

[2020-01-24 18:34] OlafvdSpek commented on #13519
Was mentioned in https://github.com/phpmyadmin/phpmyadmin/issues/13519#issuecomment-332099932 two years ago.

[2020-01-24 18:34] williamdes commented on #12326
@paveldvorak5 I agree, this seems to be implementable very easily

[2020-01-24 18:35] ibennetch commented on #14321
In order to further diagnose your specific problem, it would help to see the contents of your login and logout scripts (what you've referenced as `https://www.ANYHOST.com/login` and `https://www.ANYHOST.com/logout`).

[2020-01-24 18:36] williamdes commented on #13519
Right, reading the message stops the eye to the picture.
I hope somebody will pick this one and solve it.

[2020-01-24 19:23] williamdes commented on #12150
@OlafvdSpek enhancement or bug ?

[2020-01-24 19:49] williamdes commented on #15782
Search:
![image](https://user-images.githubusercontent.com/7784660/73098925-adf4ea80-3eea-11ea-9f99-d4fa0cfbbfc9.png)
Insert:
![image](https://user-images.githubusercontent.com/7784660/73098990-cb29b900-3eea-11ea-94d1-464629a3f2a9.png)

I am not sure that you can do something about it, if you can not solve it I will merge it and try to fix it :+1:

Maybe an unsigned/not unsigned issue

[2020-01-24 19:50] yashrajbothra commented on #14149
![image](https://user-images.githubusercontent.com/47683556/73099094-beb85700-3f10-11ea-8b81-b1c93b8fe8a5.png)
As @nunoperalta said there was no popup shown up 😕

[2020-01-24 19:53] williamdes commented on #15782
Closing the issue in favor of #13326 as said in https://github.com/phpmyadmin/phpmyadmin/issues/15782#issuecomment-573529687 this one is a duplicate.

[2020-01-24 19:53] #15782 closed

[2020-01-24 19:55] yashrajbothra commented on #14149
Ohh sorry Actully this is a model but covering the whole page so cant really say that its a model
![image](https://user-images.githubusercontent.com/47683556/73099402-78172c80-3f11-11ea-8107-37bd45d3b954.png)

[2020-01-24 19:58] yashrajbothra commented on #14149
the functionality is fine though 👍

UI could be little better i guess?

[2020-01-24 20:01] williamdes commented on #14149
@yashrajbothra are you sure to have tested the case where `session.gc_maxlifetime` < `$cfg['LoginCookieValidity']`

In that case does the modal work as good ?

[2020-01-24 20:07] yashrajbothra commented on #14149
@williamdes  No, In that case it doesnt even logout but instead there is a error below

![image](https://user-images.githubusercontent.com/47683556/73100228-25d70b00-3f13-11ea-932c-bc263f3a9312.png)

[2020-01-24 20:14] thesmallstar commented on #13519
Can I work on this?

[2020-01-24 20:14] williamdes commented on #13519
@thesmallstar yes, go ahead

[2020-01-24 20:32] nunoperalta commented on #14149
Hold on... are you guys saying that what I think is me being kicked off to the logged out page is actually an overlay ??? I didn't know it was a modal 😂
But usually (at least before 5.0.0), when I log-in using the form, I always get a full page refresh, which makes me lose the work I was doing anyway.

**I can re-try again and see if what I get is the modal, and what happens when I login**... if I

[2020-01-24 20:40] yashrajbothra commented on #14149
I think the opacity should be reduced of the white background so users can see that as **Model** instead of **Page**

[2020-01-24 20:43] williamdes commented on #14149
You can open an PR to master branch for that change is you want

[2020-01-24 21:01] #15792 closed

[2020-01-24 21:10] CoreyBuckley commented on #15831
Hi, I'm interested in working on this issue. Is that okay? 🙂

[2020-01-24 21:11] williamdes commented on #14430
[code]

[2020-01-24 21:13] williamdes commented on #15831
hello @CoreyBuckley
You can work on this one, please use QA_5_0 as base branch and target for your PR

[2020-01-24 21:55] OlafvdSpek commented on #12150
Enhancement I guess

[2020-01-24 22:14] williamdes commented on #15200
I implemented it as 3db8949ad3836db24e5cf182cbe715296654f56e

@aschuch247 & @centminmod can you please test my implementation ?

[2020-01-24 22:25] #13326 closed

[2020-01-25 01:12] POPSuL commented on #15831
Maybe write tests for that?

[2020-01-25 01:48] CoreyBuckley commented on #15831
I'm not sure how to do that 😅

I can see that there is a function for testing convertBitDefaultValue already in test/classes/UtilTest.php, but I'm not sure where I would add the actual test case..

[2020-01-25 02:08] CoreyBuckley commented on #15831
I noticed in the log from Travis that for the test I'm failing it uses the input `b'` and expects this to become the empty string.

In Util.php the function has the comment
[code]

Should there also be an example in the comment like:

[code]

?

[2020-01-25 09:45] williamdes commented on #15831
I will add comments on the PR to help you

[2020-01-25 09:45] POPSuL opened #15850 "Cant display content from information_schema.PROCESSLIST"
### Describe the bug

Display nothing. Also, if you take manually select from this table, you're got that error:
[code]

### To Reproduce

Steps to reproduce the behavior:
1. Go to SQL
2. execute `select * from information_schema.PROCESSLIST`
3. show nothing

### Expected behavior
Should shows process list

### Server configuration

CentOS, PHP 7.4, PMA 5.0.1

[2020-01-25 13:49] kartik1000 commented on #14953
@williamdes Shall I add another button of 'rename' in addition to edit and drop or should it work through edit only?

[2020-01-25 15:36] rabeehrz commented on #15850
I would like to work on this

[2020-01-25 18:28] williamdes commented on #14953
If RENAME support changing the definition of the index then use edit.
If RENAME only does renaming add a rename button.

[2020-01-25 18:32] williamdes commented on #15850
@rabeehrz You can work on this issue, please use QA_5_0 as base branch and target for your PR.

[2020-01-25 20:17] #15831 closed

[2020-01-26 10:22] braindigitalis opened #15852 "Autocomplete makes use of phpmyadmin impossible on mobile"
### Describe the bug

Using latest mobile chrome on Android, phpmyadmin can't be used to issue queries because the auto complete randomly inserts keywords whenever the cursor moves.

### To Reproduce

Steps to reproduce the behavior:
1. Click "edit inline"
2. Attempt to type or tap to move cursor to new position
4. See error

### Expected behavior

Editor should be usable.

### Screenshots

![Scre

[2020-01-26 10:23] stalks opened #15853 "controlhost being ignored"
I have a docker environment with several mysql databases that I wish to manage from a single phpmyadmin instance. I wish to use a central controlhost so I don't need a pma database on each sql instance. I have set controlhost = <centralserver> on all servers, however when I visit all but the server hosting the pma control database I don't get the features that a control database offers.

Example s

[2020-01-26 10:25] williamdes commented on #15853
@stalks can you post your docker-compose file?

[2020-01-26 10:36] williamdes commented on #15852
Hi @braindigitalis
I could not reproduce this issue on 4.9.x https://demo.phpmyadmin.net/QA_4_9/db_sql.php?db=opengis&server=1

Demo servers (`root`, no password)
- [`5.1.0-dev`](https://demo.phpmyadmin.net/master/)
- [`5.0.0-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

You can upgrade the version you are using with our PPA #15515 or see the progress

[2020-01-26 10:46] stalks commented on #15853
Sure.

[code]

[2020-01-26 11:04] #15598 closed

[2020-01-26 11:09] williamdes commented on #15853
can I have the `nginx-sql` block or short answer did you add a network alias ?
https://github.com/wdesportes/phpmyadmin-local-setup/blob/6e1e8c78e26326d28e119e011c951aa8e28da7a6/docker-compose.yml#L62 will help you

[2020-01-26 11:14] stalks commented on #15853
I didn't add an alias. I'm relying on the internal DNS being configured by docker for name resolution. The databases are accessible by name, as I am able to connect to them all in phpmyadmin, including nginx-sql.

phpmyadmin screenshot -- connected to nginx-sql:
![image](https://user-images.githubusercontent.com/1316058/73134294-dc7ade80-402c-11ea-8790-8328343e475d.png)

docker config for nginx-sq

[2020-01-26 11:18] williamdes commented on #15853
If you could post a full docker-compose file or add an example to my repository I could help you in a better way ;)

[2020-01-26 11:47] stalks commented on #15853
I've created a simple 3 container docker-compose file consisting of phpmyadmin 5.0.1 (full apache version) and 2x mariadb databases. In the ENV of phpmyadmin I have added the control variables and the first mariadb container creates the necessery user for phpmyadmin.

[code]

My actions are:

1. docker-compose up

[2020-01-26 11:56] stalks commented on #15853
I have created a docker-compose file for a simple 3-container setup. phpmyadmin, sql1 and sql2. The intention is to use sql1 for the controlhost.

[code]

Steps taken are therefore:

1. `docker-compose up`
2. wait 20 seconds for mariadb to complete intialization
3. visit `http://dockerhost:9191/`
4. login as root to `pma-example-sql1`
5. at bottom of screen click "Find out why" (regarding missing

[2020-01-26 13:39] rabeehrz commented on #15566
@williamdes Hey, what should be done here? Should the tools bar moved to the left side? Could you tell me what kind of UI change you have in mind?

[2020-01-26 13:41] williamdes commented on #15566
Hi @rabeehrz
First thing to be fixed is to anchor back the relations to the tables.
Maybe the only issue to fix :)

Please use QA_5_0 branch

[2020-01-26 13:42] Idesmi commented on #15838
I have the same issue.
### Screenshots
![2020-01-26-141918_1920x1080_scrot](https://user-images.githubusercontent.com/21034950/73135824-b5c5a380-403e-11ea-8aad-c03865fb9b64.png)
![2020-01-26-141834_1920x1080_scrot](https://user-images.githubusercontent.com/21034950/73135825-b5c5a380-403e-11ea-9e2a-a757ef638499.png)
![2020-01-26-141934_1920x1080_scrot](https://user-images.githubusercontent.com/2103

[2020-01-26 13:57] #15850 closed

[2020-01-26 13:59] williamdes commented on #15838
@Idesmi did you also use the tarball ?

[2020-01-26 14:00] williamdes commented on #15838
@Idesmi one quite strange thing is that you have a very old logo displayed :thinking:

[2020-01-26 14:53] rabeehrz opened #15854 "Designer full screen issues (Menu item toggling and black borders)"
### Describe the bug

When switching to fullscreen on the designer,

- Black borders appears on the canvas and the canvas resizes when moving tables around.
- Pressing ESC key to exit full screen in the Designer messes up the menu toggle buttons.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Designer
2. Click on View Fullscreen in the menu
3. You can see the black borders. Move the

[2020-01-26 14:54] rabeehrz commented on #15854
I would like to work on this issue as well!

[2020-01-26 14:54] ibennetch commented on #15838
@apircalabu Could you please try loading your page in private browsing mode, which will temporarily bypass any existing cookies?

[2020-01-26 14:55] williamdes commented on #15854
@rabeehrz I agree, I had that issue too much ^^
Thank you for opening an issue about it

[2020-01-26 14:57] rabeehrz commented on #15854
@williamdes I can work on this right? What should I use as base?

[2020-01-26 15:08] williamdes commented on #15854
yes you can, I will be very glad to see this issue fixed !

Please use QA_5_0

In general for branches:
`QA_4_9` > security fixes
`QA_5_0` > bug fixes
`master` > features or other things

[2020-01-26 15:47] ibennetch opened #15856 "Relation view rendering problems and constraints missing"
This was discovered when I was investigating #15821, but since that report is for 5.0.1 and **this only applies to master**, I felt this might be a different issue.

With MySQL 8, when I try to view the "Relation view" I get some bad rendering where even the breadcrumb isn't correct:

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/1443710/73137451-3af08e80-4026-11ea-9

[2020-01-26 15:49] ibennetch commented on #15821
I'm afraid I can't quite reproduce the issue as you've described it — with phpMyAdmin 5.0.1 everything works as expected for me:

<img width="796" alt="image" src="https://user-images.githubusercontent.com/1443710/73137431-e2b98c80-4025-11ea-8fd2-d4f61907cb26.png">

Could you try on the demo server? You can use https://demo.phpmyadmin.net/QA_5_0/ with username root and a blank password, this is th

[2020-01-26 16:49] rabeehrz commented on #15024
@williamdes Is anyone working on this? If not, may I?

[2020-01-26 16:55] williamdes commented on #15024
@rabeehrz Nobody commented recently, you can work on this one if you want

Use master branch for this one

[2020-01-26 17:06] BlackWiCKED commented on #15800
I experience the same issue with PHP version 7.4.2 and phpMyAdmin version 4.9.1.

[2020-01-26 17:12] williamdes commented on #15800
@BlackWiCKED can you send the steps to reproduce the issue ?

Can you please try on demo servers (`root`, no password)
- [`5.0.x-dev`](https://demo.phpmyadmin.net/QA_5_0/)
- [`4.9.x`](https://demo.phpmyadmin.net/QA_4_9/)

[2020-01-26 17:31] BlackWiCKED commented on #15800
Do you have PHP 7.4 on the demo servers?

[2020-01-26 17:40] BlackWiCKED commented on #15800
The issue does not seems to appear on the demo servers. I ended up reverting to PHP 7.3 on my server, but will give another try to reproduce later - there must be something with the version change.

[2020-01-26 17:42] yashrajbothra commented on #12969
![image](https://user-images.githubusercontent.com/47683556/73139143-f0f0c280-4090-11ea-93af-be197afabbf2.png)

When we click it gets dissmissed so there no room to copy.

IMO it should copy and dismiss on same click? Any other suggestion ❔

[2020-01-26 18:15] williamdes commented on #12969
Maybe adding more time if we detect that the user is copying the text would be an option

[2020-01-26 18:18] yashrajbothra commented on #12969
Did you mean If user click-n-hold then stop and if its just a click then dismiss?

[2020-01-26 18:36] philippemilink opened #15860 "Version 5.0.1 suggests 4.9.4 as latest stable version"
Hello,

I updated PhpMyAdmin from 4.9.3 to 5.0.1 and phpMyAdmin is saying that last available stable version is 4.9.4 !

![image](https://user-images.githubusercontent.com/5911232/73139861-be37d180-4072-11ea-81f3-22290bcb15d3.png)

[2020-01-26 18:49] OlafvdSpek commented on #12969
Maybe it shouldn't be a popup at all.. it could be a 'normal' message above the input field.

[2020-01-26 18:53] yashrajbothra commented on #12969
Ya, but then it will be limited to input fields only 😕

[2020-01-26 19:10] yashrajbothra commented on #12326
So ,did it mean that there should be an option in prefrences of Navigation Tree  like this ⬇️

![image](https://user-images.githubusercontent.com/47683556/73140300-79756000-409d-11ea-897a-e0780bece5a4.png)

[2020-01-26 19:13] williamdes commented on #15707
https://github.com/php/pecl-php-uploadprogress/pull/3#issuecomment-578530653
https://pecl.php.net/package/uploadprogress/1.1.2
https://github.com/php/pecl-php-uploadprogress/releases/tag/uploadprogress-1.1.2
Thank you so much @ramsey !

Fixed.

[2020-01-26 19:13] #15707 closed

[2020-01-26 19:17] williamdes commented on #15860
Duplicate of #15745

[2020-01-26 19:18] williamdes commented on #15860
Thank you for the report @philippemilink
It is a duplicate but I will keep it open until it is solved.

[2020-01-26 19:20] philippemilink commented on #15860
Sorry... However I looked for a similar issue, but without good results... I probably used wrong keywords ! :wink:

[2020-01-26 19:47] williamdes commented on #15860
Pas de soucis ;)

I hope to get this fixed on next version
PR: #15754

BTW: the INRA link on your website is broken

[2020-01-26 21:30] williamdes commented on #12326
Okay, why not :)

[2020-01-26 22:27] williamdes commented on #15853
Thank you @stalks for the compose file
I had a strange issue on sql2 and now the 2 servers are okay, but I will try from scratch another time soon

[2020-01-26 22:31] williamdes commented on #15853
@stalks I did compose down and up and could not reproduce the issue..

Can you help me ?

[2020-01-26 23:16] smarek commented on #15821
Well, testing more, there must be something specific to given DB server version.
I've just tested with versions 5.0.0 and 4.9.4, both suffering from same issue.

I don't get incorrect breadcrumbs or empty constraints so I guess this really is different issue from #15856

I've verified that foreign key constraints exist by using query
[code]

So I installed from GIT and set-up current master branch

[2020-01-26 23:24] williamdes commented on #15821
I have an idea, could you post your `config.inc.php` file without private data ?

[2020-01-26 23:28] smarek commented on #15821
Sure

[code]

[2020-01-27 00:40] smarek commented on #15821
And this might be related too, opening Designer tab (`/index.php?route=/database/designer&db=dbname`), will show structure of all tables, but not the relations (toggle relationship lines both on and off)
So the issue might not be limited to "Relation view"

[2020-01-27 01:12] williamdes commented on #15821
Thank you for the precious information!
I will have a look ASAP tomorrow

[2020-01-27 02:30] smarek commented on #15821
I might have found a culprit, but that is just silly effort to debug to-me-unknown-codebase

observation no.1: libraries/classes/Relation.php(line 853) fetches data from pmadb.pma__relation, which table is completely empty
observation no.2: libraries/classes/Relation.php(line 876) uses vendor/phpmyadmin/sql-parser(class Parser) to parse following SQL query

[code]

and produces this (var_dump outp

[2020-01-27 07:41] apaulo opened #15861 "Misleading translation to portuguese"
Hi,

When exporting data I noticed the word "dump" has been translated to "eliminar".
"Eliminar" means "delete", in portuguese.

So you have (in portuguese):
"Dump some row(s)" and "Dump all rows" translated as "Delete some row(s)" and "Delete all rows"... it's pretty scary.

### To Reproduce

Steps to reproduce the behavior:
1. Change language do Portuguese
2. Select a table
3. Click on 'export'

[2020-01-27 08:07] zatie12 opened #15862 "Font size option gone in 5.0? Plus, dark theme request"
### Is your feature request related to a problem? Please describe.

I am no longer able to find the font size option since upgrading from 4.9.x to 5.0.1. I am assuming this is intentional so I haven't listed as a bug report. Is there a new recommended way to scale fonts, or simply use browser zoom?

### Additional context

- phpMyAdmin version: 5.0.1

A metro dark theme would be a great addition,

[2020-01-27 08:20] nunoperalta commented on #14149
Ok - I got the login page today.

It's definitely an overlay, and I see I was back to the same page as before, without a page reload.

I'm 100% ok with this.

However, I think it would be nice if the overlay could say something like:

"You haven't lost your changes."

or

"You will go back to where you left off."

Whatever most appropriate sentence. At least this gives the security to the user tha

[2020-01-27 08:27] Idesmi commented on #15838
@williamdes I just set a different theme

[2020-01-27 08:28] braindigitalis commented on #15852
Thanks very much!

I have installed 4.9 from PPA, and this appears to have fixed the issue.

[2020-01-27 08:28] #15852 closed

[2020-01-27 08:32] yashrajbothra commented on #14149
Ya either way if we keep the opacity low then user can see his work in background and he will know the works is not lost 👍

[2020-01-27 10:52] kartik1000 commented on #14953
I will add a button then because it only renames the button. I referred to the documentation given in description of the issue

[2020-01-27 11:33] ibennetch commented on #15861
Hi,

Thanks for your detailed report. The easiest way to fix translations is
through the Weblate interface at
https://hosted.weblate.org/projects/phpmyadmin/ — since you already have a
GitHub account it should be pretty straightforward.

Specifically, (if these links work correctly), you may wish to review these
three items:
*
https://hosted.weblate.org/translate/phpmyadmin/4-9/pt/?q=eliminar&offs

[2020-01-27 11:34] ibennetch commented on #15861
Hi,

Thanks for your detailed report. The easiest way to fix translations is through the Weblate interface at https://hosted.weblate.org/projects/phpmyadmin/ — since you already have a GitHub account it should be pretty straightforward.

Specifically, (if these links work correctly), you may wish to review these three items:
* https://hosted.weblate.org/translate/phpmyadmin/4-9/pt/?q=eliminar&offs

[2020-01-27 11:42] mauriciofauth commented on #15861
Hi, @apaulo. Looks like this issue is already fixed. Could you please try using a new version to confirm that?

[2020-01-27 12:11] #15232 closed

[2020-01-27 12:13] williamdes commented on #15862
cc @mauriciofauth

[2020-01-27 12:27] ibennetch commented on #14149
I'm pretty sure there was a reason this was implemented as it was. If a
user walks away from their desk, and phpMyAdmin logs them out, then a
malicious user walks past the desk, this hides any details about what the
user was working on.

I'm not sure whether that continues to be a good justification (in a time
when users in that situation should lock the screen of their computer
rather than walkin

[2020-01-27 12:44] williamdes commented on #14149
malicious user walks past the desk

Malicious but not clever, he could use inspect tool and remove the modal ^^

saying something like "You have been automatically logged out due to
inactivity. Once you log in again, you should be able to resume working
where you left off." — what do you think?

I agree, and it would be QA_5_0 compatible.
Do you agree for this change to go to QA_5_0 @ibennetch ?

[2020-01-27 12:49] rabeehrz opened #15863 "Designer move menu icon not changing directions"
### Describe the bug

The move menu icon in the designer toolbar doesn't toggle when clicked.

### To Reproduce

Steps to reproduce the behavior:
1. Go to Designer
2. Click on Move Menu icon at the bottom of the toolbar
3. See the bug

### Expected behavior

The icon should toggle between left and right.

### Server configuration

- Operating system: phpMyAdmin demo - MySQL (192.168.30.23 via TCP/

[2020-01-27 12:49] rabeehrz commented on #15863
@williamdes I would like to work on this issue. :)

[2020-01-27 13:12] OlafvdSpek opened #15864 "Table comment shouldn't be required"
![pma](https://user-images.githubusercontent.com/2218936/73177356-18867000-410f-11ea-82f1-98235969cbfb.PNG)

V: 5.1.0-dev

[2020-01-27 13:21] williamdes commented on #15863
@rabeehrz You can work on this issue, can you post a gif/video of the bug ?

[2020-01-27 13:43] rabeehrz commented on #15863
@williamdes I've updated the issue with a gif of the bug. Will open a PR soon.

[2020-01-27 13:55] rabeehrz commented on #15864
@williamdes Can I work on this?

[2020-01-27 14:00] rabeehrz commented on #15864
@OlafvdSpek I couldn't reproduce this issue. Is it at the time of table creation?

[2020-01-27 14:04] yashrajbothra commented on #14149
I think just leaving a message is better than showing some confidential info in background.
Ya ,they can delete modal by inspecting but atleast we should protect as much as we can 👍

[2020-01-27 14:04] OlafvdSpek commented on #15864
Operations tab

[2020-01-27 14:18] ibennetch commented on #14149
This change could go to QA_5_0.

[2020-01-27 14:21] nunoperalta commented on #14149
Worst case scenario, we can probably have a Setting where the admin can choose whether to fully logout (with a redirect) for security purposes, or have a modal which is less secure.

I would choose the less secure setting, because I don't log into my databases using public computers or mobile devices...

[2020-01-27 17:11] williamdes commented on #15821
Thank you for the research @smarek !
That will help find a fix

[2020-01-27 17:12] williamdes commented on #14149
It could be a good idea to have a setting :+1:

First we can start with a message, and add the setting in another PR

[2020-01-27 17:21] williamdes commented on #15864
Yes :)

[2020-01-27 17:50] yashrajbothra commented on #14149
So far i have good understanding of the issue so i think i can take this up. Can I @williamdes ??

[2020-01-27 18:07] williamdes commented on #14149
Yes @yashrajbothra you can take it

[2020-01-27 19:24] williamdes commented on #15864
30b5fc46d2f68b826ab838faecab72ab0dab5aa4

[2020-01-27 19:27] #15864 closed

[2020-01-27 20:28] #15064 closed

[2020-01-27 20:41] #15555 closed

[2020-01-27 22:08] apircalabu commented on #15838
Same result in private mode
![Screenshot_2020-01-28_09-06-35](https://user-images.githubusercontent.com/13774483/73218237-ae70d800-41ad-11ea-9ad8-754b0425c1b5.png)
![Screenshot_2020-01-28_09-05-56](https://user-images.githubusercontent.com/13774483/73218238-af096e80-41ad-11ea-9460-0894a7cb8698.png)

[2020-01-27 22:09] williamdes commented on #15838
@apircalabu Can you let us know if some errors are in the developer console or network console ?

[2020-01-27 22:22] apircalabu commented on #15838
No errors afaict. These are screenshots from a Chrome incognito window.
![Screenshot_2020-01-28_09-20-46](https://user-images.githubusercontent.com/13774483/73219163-9437f980-41af-11ea-8b4f-eb90103978f5.png)
![Screenshot_2020-01-28_09-20-39](https://user-images.githubusercontent.com/13774483/73219165-9437f980-41af-11ea-9486-584677973ab3.png)
![Screenshot_2020-01-28_09-19-45](https://user-images.gi

[2020-01-27 22:30] williamdes commented on #15838
@apircalabu very very strange, all are code 200
If you inspect the css files, what are the contents ?

can you "copy as curl" a css request and post it here

[2020-01-27 22:46] apircalabu commented on #15838
@williamdes the css files look alright to me, they're served from the right location.
adi@adi:~$ cd /tmp/
adi@adi:/tmp$ wget https://host/pma501/themes/pmahomme/jquery/jquery-ui.css
--2020-01-28 09:35:09--  https://host/pma501/themes/pmahomme/jquery/jquery-ui.css
[...]
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: 'jquery-ui.css’

jquery-ui.css

[2020-01-27 22:59] williamdes commented on #15838
@apircalabu can you email me a link to the instance?
Or can you reproduce the issue from scratch using docker for example?

Some people seem to have the same issue and something must be different between the versions

If it is not cache, cookies, server config

What could it be :thinking:

[2020-01-27 23:04] apircalabu commented on #15838
@williamdes can't provide you with a link, since it's running in a private network. Will try to find some time to reproduce it in another environment.

[2020-01-27 23:48] apircalabu commented on #15838
I've replicated it on a different CentOS 7 instance with nginx listening on port 80, http only. Similar behaviour. On a stock nginx installation here should be the steps to replicate the bug:
1. Download https://files.phpmyadmin.net/phpMyAdmin/5.0.1/phpMyAdmin-5.0.1-all-languages.tar.gz and unpack under /var/www/vhosts/pm501
2. Configure nginx & php-fpm using the attached files as a start. Copy ad

[2020-01-27 23:54] apircalabu commented on #15838
https://files.phpmyadmin.net/snapshots/phpMyAdmin-5.1+snapshot-all-languages.tar.gz is also broken in the same environment.

[2020-01-28 07:56] kartik1000 commented on #14953
@williamdes Does something like this look good?
![Screenshot 2020-01-28 at 1 24 55 PM](https://user-images.githubusercontent.com/43112279/73245202-b3e01980-41d1-11ea-805d-580d8ee51b9e.png)

[2020-01-28 08:05] williamdes commented on #14953
@kartik1000 Yeah, looks good !

[2020-01-28 14:35] anirudhsingh20 commented on #14801
hi, I am completely new here and want to contribute to this issue and please share your suggestions with me.

[2020-01-28 16:12] rabeehrz commented on #15194
@williamdes Is someone working on this? If not, Can I work on this?

[2020-01-28 16:17] joshuamwolfe commented on #15101
I'd like to give this a shot.

[2020-01-28 16:40] DTDwind opened #15869 "Uncaught SyntaxError: Unexpected token <"
### **Steps to reproduce**

1.Install phpmyAdmin 5.0.1 or 4.9.2 on IIS 7.5
2.login phpMyadmin or change language

### **Expected behaviour**

I should be able to view next page

### **Actual behaviour**

I view a phpinfo page!

### **Server configuration**

**Operating system:**
Windows 7x64 Pro
**Web server:**
IIS7.5
**Database:**
MySQL 5.5
**PHP version:**
7.1.33
**phpMyAdmin version:**
5.0.1 or

[2020-01-28 17:12] rabeehrz commented on #14820
@williamdes Hey, can I work on this?

[2020-01-28 17:27] williamdes commented on #15869
@DTDwind can you post the content get the browser received ?

[2020-01-28 17:28] williamdes commented on #15194
@rabeehrz You can work on this one if you want

[2020-01-28 17:29] williamdes commented on #15101
@joshuamwolfe You can try to fix it if you want
Please use master branch as base and target for the PR

[2020-01-28 17:30] williamdes commented on #14820
Hey @rabeehrz
Yes you can

[2020-01-28 17:33] DTDwind commented on #15869
![image](https://user-images.githubusercontent.com/22238266/73289209-47980100-4237-11ea-9605-c71357c3439b.png)

[2020-01-28 17:35] williamdes commented on #15869
could you click on `whitelist.php` to get the contents ?

[2020-01-28 17:38] DTDwind commented on #15869
No, it will go here.
![image](https://user-images.githubusercontent.com/22238266/73289598-f50b1480-4237-11ea-9fc7-f8781ae0bfb2.png)
But I can click "jquery-migrate.js"
![image](https://user-images.githubusercontent.com/22238266/73289501-c42adf80-4237-11ea-98ef-db9de6dd7cef.png)

[2020-01-28 17:41] williamdes commented on #15869
Thank you, that will help

Can you check if the `whitelist.php` file exists on the server ?

[2020-01-28 17:42] DTDwind commented on #15869
Yes, it is in the "js".

[2020-01-28 17:44] DTDwind commented on #15869
This is the code of  ```whitelist.php``` on my server.
![image](https://user-images.githubusercontent.com/22238266/73290128-d8bba780-4238-11ea-8242-20a4771e3542.png)

[2020-01-28 17:45] williamdes commented on #15869
Everything seems okay then

Last step before asking you your config.inc.php file

Can you download and extract the latest version on our [website](https://www.phpmyadmin.net/downloads/) and extract it in another folder to have a try ?

[2020-01-28 17:50] DTDwind commented on #15869
Previous Screenshots is the phpMyadmin 3.4.1 on my server.
This is  phpMyadmin 5.0.1.
![image](https://user-images.githubusercontent.com/22238266/73290587-abbbc480-4239-11ea-9544-59079010c5ed.png)
They have same error.

[2020-01-28 17:53] williamdes commented on #15869
Okay then, if it is a bug between so much versions it could be because of some config somewhere

Do you have specific configurations ?

[2020-01-28 17:56] DTDwind commented on #15869
NO, just like this.
![image](https://user-images.githubusercontent.com/22238266/73291132-909d8480-423a-11ea-98d5-ad524bc9856d.png)

[2020-01-28 18:00] DTDwind commented on #15869
The change of my ```php.ini```  is follow:

 ; extension_dir = "ext" **to** extension_dir = "ext"
 ;cgi.force_redirect = 1 **to** cgi.force_redirect = 0
;cgi.fix_pathinfo=1 **to** cgi.fix_pathinfo=1
;fastcgi.impersonate = 1; **to** fastcgi.impersonate = 1
;extension=php_mbstring.dll **to** extension=php_mbstring.dll
;extension=php_mysql.dll **to** extension=php_mysql.dll
;extension=php_mysqli.dll

[2020-01-28 18:03] williamdes commented on #15869
would you mind trying another php version just in case ?

It will take time for me to boot a windows, I hope to do that soon

[2020-01-28 18:07] DTDwind commented on #15869
I set my environment follow this chinese [web ](http://mirlab.org/users/pony.chen/note/phpAndMySQL_on_Win7_x64_IIS7.asp?title=%A6bWindows%207%20x64%A5%AD%A5x%AA%BAIIS%AC%5B%B3%5DPHP%BBPMySQL)
But the PHP version I use  7.1.33.
I am unfamiliar how to use on windows IIS, but I will try to another php version.
Maybe it need some time...

[2020-01-28 18:14] #15194 closed

[2020-01-28 18:27] DTDwind commented on #15869
I use ```PHP  5.3.1RC1```, and then two version of phpMyadmin get "HTTP ERROR 500".

[2020-01-28 18:31] williamdes commented on #15869
Can you give the error ?
Maybe you can find it in an error log file or in the system events
I had a lot of trouble to find the errors last time using windows

[2020-01-28 18:47] #15836 closed

[2020-01-28 18:59] DTDwind commented on #15869
OK, I get the log!!!
PHP Parse error:  syntax error, unexpected '[' in C:\inetpub\wwwroot\QAQ\index.php on line 60

[2020-01-28 19:03] williamdes commented on #15869
This is because it is a new array syntax..
Can you try php 7.2 for example ?

A better idea would be to avoid IIS and use nginx + php fpm (https://mkyong.com/nginx/nginx-php-on-windows/)
Hope the issue will not persist

[2020-01-28 19:09] DTDwind commented on #15869
I will try  php 7.2 , because the server's user not only me.

[2020-01-28 19:13] williamdes commented on #14801
@anirudhsingh20
To contribute I would recommend following
- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch  and create a new branch from master
- Run `yarn install` or `npm install`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Start developing
- Do not forget

[2020-01-28 19:18] DTDwind commented on #15869
```php 7.2.27``` still get the error ```Uncaught SyntaxError: Unexpected token <```

[2020-01-28 19:21] DTDwind commented on #15869
Now I can click ```whitelist.php```, and get strange error.
![image](https://user-images.githubusercontent.com/22238266/73297298-44f0d800-4246-11ea-8128-43fdae73d07b.png)

[2020-01-28 19:43] williamdes commented on #15619
I am not sure to understand, can you explain ?

[2020-01-28 19:47] #15671 closed

[2020-01-28 19:47] williamdes commented on #15671
Replaced by our package in #15674

[2020-01-28 19:57] thesmallstar commented on #13519
@williamdes I tried searching for the solution, The previewSql is present(in code) but it doesn't appear in the frontend. Probably the innerHTML is being replaced. Can you help me with how to proceed?

[2020-01-28 20:11] DTDwind commented on #15869
I try to use localhost, and get this error.

![image](https://user-images.githubusercontent.com/22238266/73301168-3f4ac080-424d-11ea-8ee1-793173871686.png)
![image](https://user-images.githubusercontent.com/22238266/73301210-4ffb3680-424d-11ea-9799-27b680493a3c.png)

[2020-01-28 20:11] williamdes commented on #13519
@thesmallstar are you looking for `Functions.highlightSql($('#page_content'));` ?

[2020-01-28 20:13] williamdes commented on #15869
`data-cfasync="false"`

@DTDwind you have a CloudFlare setup ?

[2020-01-28 20:16] yashrajbothra opened #15873 "Unexpected UI in Navigation Setting / Server"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Navigation Panel'
2. Click on 'Setting (⚙️) icon '
3. Go to 'Server' tab
4. See error

### Expected behavior

![image](https://user-images.githubusercontent.com/47683556/73301645-29cb9b80-4239-11ea-8dae-38215ffef25c.png)

### Screenshots

![image](https://user-ima

[2020-01-28 20:18] DTDwind commented on #15869
No, where is it?

[2020-01-28 20:23] williamdes commented on #15869
@DTDwind sorry about that, I checked and we have `data-cfasync="false"` in our codebase. It was a wrong question.

I am trying to reproduce this issue on my Windows VM.

[2020-01-28 20:34] thesmallstar commented on #13519
no, I have found the line that is causing this problem.
line 409, indexes.js
` // We dont need the slider at this moment.
$(this).find('fieldset.tblFooters').remove();`

If I remove this,
![image](https://user-images.githubusercontent.com/42006277/73302800-3f41c500-423b-11ea-8c22-8f43356d7fd0.png)
something like this would appear.

I could remove the duplicate Go button, and it looks like this.
![

[2020-01-28 20:38] williamdes commented on #13519
Okay, I agree to remove it
If you search in the history I am quite sure to have merged a PR to remove duplicate Go buttons

I think it is hidden for some reason, but not sure why,

We can add it back and see what happens, anyways it is the development version :)

[2020-01-28 21:47] #15863 closed

[2020-01-28 21:47] #15854 closed

[2020-01-28 21:56] OfficialOzioma commented on #15873
@williamdes  can i work on this

[2020-01-28 21:57] williamdes commented on #15873
Yes you can @OfficialOzioma

[2020-01-28 22:03] williamdes opened #15874 "Warning with Jquery Version 5.1.0-dev"
Warning with Jquery Version 5.1.0-dev:
https://demo.phpmyadmin.net/master-config/

![image](https://user-images.githubusercontent.com/1207306/73308914-3a572400-41ef-11ea-9f56-f79dd2a80843.png)

![image](https://user-images.githubusercontent.com/1207306/73308980-61adf100-41ef-11ea-8288-9305707585bb.png)

![image](https://user-images.githubusercontent.com/1207306/73309011-6c688600-41ef-11ea-81c0-158

[2020-01-28 22:06] williamdes commented on #15869
I could not find anything.
If someone can investigate that would be cool

I will try in 2 weeks when I will be back.

[2020-01-28 22:14] #14820 closed

[2020-01-28 22:19] williamdes commented on #15838
I hope someone will find out, will have another try in 2 weeks :crossed_fingers:

[2020-01-29 02:12] apircalabu commented on #15838
Alright, figured it out with some help from remirepo forum. Attached a working nginx configuration.
[apps.include2.gz](https://github.com/phpmyadmin/phpmyadmin/files/4125841/apps.include2.gz)

[2020-01-29 06:08] DTDwind commented on #15869
Sorry for spending your time.
I find that the bug is because of somebody set a error ```URL Rewirte```, and the require for php would be Rewirte.
Thank you very much.

[2020-01-29 06:08] #15869 closed

[2020-01-29 06:36] EGBEEYONGREFERANDUM commented on #15874
hello am a newbie and would like to help out

[2020-01-29 06:43] yashrajbothra commented on #15873
![image](https://user-images.githubusercontent.com/47683556/73333694-9c1b9a80-4290-11ea-8974-79203e348291.png)

Also lookup on Setting/Main Panel

[2020-01-29 06:48] williamdes commented on #15874
Hi @EGBEEYONGREFERANDUM
Did you find where the error was located?

[2020-01-29 06:50] williamdes commented on #15838
@apircalabu can you post a link to the conversation?

[2020-01-29 06:54] yashrajbothra commented on #12326
Should i make a setting for Index and columns only ? or just Expand All?

[2020-01-29 07:06] williamdes commented on #12326
Index and columns only seems to be the best option

[2020-01-29 07:10] yashrajbothra commented on #12326
So when any of the column will be true the respected column will automatilly exapnd when we expand any table.

Am i right?

[2020-01-29 07:27] yashrajbothra commented on #15410
Can anyone elaborate this issue?

What i understood is for example:
I have 2 tabs for editing same row which has `25` as its primary index.
In first tab we increment primary index
then in second one we change another column

So the change in 2nd tab will be lost?
Am i right?

[2020-01-29 07:40] OlafvdSpek commented on #13519
What is that supposed to mean? ;)

[2020-01-29 07:52] williamdes commented on #13519
That we have a very long review time before a release is done
So if something is not perfect or has side effects a solution can be found ;)

[2020-01-29 09:36] rabeehrz commented on #15874
@williamdes Is it possible these are in the vendor files? I see a lot of .filters in the vendor files.

[2020-01-29 09:42] rabeehrz commented on #15874
@williamdes If it is the vendor files and it is deprecated, won't jQuery UI fix it before it gets removed from jQuery?

[2020-01-29 10:27] mauriciofauth commented on #13519
Makes sense, however we should pay attention to this because it's very easy to something temporary become permanent.

[2020-01-29 10:31] OlafvdSpek commented on #13519
IMO the goal should be for the main dev branch to be production quality / release ready at all times.
Ensure an update is correct before merging it, rather then fixing it after merging.

[2020-01-29 11:27] williamdes commented on #15874
https://github.com/jquery/jquery-ui/commit/995b5faec966b608ba15ed2a68c1f1565f77053b

https://github.com/jquery/jquery-ui/commits/master

@rabeehrz they did not make a release since 2016-2017..

Is it possible to remove JQuery UI from phpMyAdmin ?

[2020-01-29 12:04] rabeehrz commented on #15874
JQuery UI is currently used to handle all the dialog boxes. I don’t know what else it is used for, if it is used for something else, it won’t be easy. It is going to be a long project.

[2020-01-29 12:23] mauriciofauth commented on #15874
phpMyAdmin uses jQuery UI in several places. We have plans to replace it with something else, but nothing has been defined yet. This topic should be discussed in another issue.

[2020-01-29 12:35] rabeehrz commented on #15874
@mauriciofauth I would be happy to be a part of that discussion and contribute to the same.

[2020-01-29 12:42] williamdes commented on #15874
@rabeehrz could you create the issue ?

[2020-01-29 12:44] rabeehrz commented on #15874
@williamdes On it.

[2020-01-29 12:44] williamdes commented on #13519
True

Ensure an update is correct before merging it, rather then fixing it after merging.

I agree, I try to have everything right and clean before merging.
But I would needs more reviewers to be 100% sure nothing escaped my attention

[2020-01-29 12:48] williamdes commented on #12326
Am i right?

I am not sure tu understand
But if the setting is true we should expand indexes automatically

[2020-01-29 12:50] williamdes commented on #15410
Changing the table description for example

The incrementation from first tab will be lost and replace by the value of the 2nd tab (bug !)

[2020-01-29 12:50] rabeehrz opened #15875 "Replacing JQuery UI"
Extension of #15874

Methods used in JQuery UI 1.12 is deprecated (as of JQuery 3.0) and it hasn't had an update since 2017.

The idea is to replace JQuery UI with something else that is compatible with latest versions of JQuery.

[2020-01-29 12:51] rabeehrz commented on #15875
@williamdes I'll start looking for alternate solutions.

[2020-01-29 14:31] rabeehrz commented on #15875
After a bit of research and looking at other options, I've realised that changing to a different framework will introduce visual incompatibility with the existing look of pMA. Something else we could do is build custom jQuery widgets required using Bootstrap classes and then add the required functionality to it. I'm proposing Bootstrap as it already exists within the code base. I would like you gu

[2020-01-29 15:30] yutv opened #15876 "Can't search by IN condition because of dropdown"
### Describe the bug

Can't search by the **IN** condition because of dropdown

### To Reproduce

Steps to reproduce the behavior:
1. Choose a table and go to the Search tab
2. Select Operator = IN (...) for a field
Result: impossible to select multiple values

### Expected behavior

Expected to have ability to select multiple values in the **Value** column

### Screenshot

![image](https://user-i

[2020-01-29 16:07] williamdes commented on #15875
I would agree to make custom  jQuery widgets using Bootstrap

[2020-01-29 16:08] williamdes commented on #15876
Thank you for the report @yutv
I hope somebody will look into it ASAP

[2020-01-29 16:11] thesmallstar commented on #13519
Quite a few things to learn from this discussion :P
@williamdes I will proceed with the proposed solution.

[2020-01-29 16:44] joshuamwolfe commented on #15101
First-time contributor. I will, thanks for the heads up.

[2020-01-29 17:34] felsd opened #15877 "One specific table can not be browsed anymore: preg_match() expects parameter 2 to be string, null given"
Since today I can't view the data of only one specific table anymore. I have been using phpMyAdmin on this server since several months with multiple databases and until today everything was working fine.

-------

**phpMyAdmin 4.9.4** in combination with **PHP 7.0** displayed only the first column of the table and a long error message at the end of the page. Unfortunately I don't have the full mes

[2020-01-29 17:47] williamdes commented on #15877
@yashrajbothra could you please have a look? (if you want ^^)

[2020-01-29 18:25] rabeehrz commented on #13959
@williamdes Can I work on this?

[2020-01-29 18:28] yashrajbothra commented on #15877
Definitely👍

[2020-01-29 18:33] williamdes commented on #13959
@rabeehrz yes

[2020-01-29 19:21] arcanisgk commented on #15875
You can use:
Bootstrap (Next Version 5 would Abandon Jquery)
Material Design
Bulma
Cardinal
Foundation

I think there are better and many alternatives to JQuery UI much more modern and flexible.

That would be interesting to use an effective plugin for the tables.
get a partner like https://datatables.net/

I also supported the abandonment of JQuery (Excellent library at the beginning),
I think ph

[2020-01-29 20:11] arcanisgk commented on #15874
After reading a little or enough on the subject:

JQMIGRATE is a tool.
      1.-Install it on your page,
      2.-see the warnings and errors,
      3.-fix them,
      4.-remove it.

If you don’t want to see the warnings, don’t use JQMIGRATE on Release Version.

But be careful; You should think that all Warnings in the dev version will become a problem in the future. Think of migrating to another

[2020-01-29 20:53] nunoperalta opened #15879 ""Simulate Query" button style"
Under the "SQL" tab:

![image](https://user-images.githubusercontent.com/487079/73396474-5636f480-42d9-11ea-896b-8860a982b925.png)

[2020-01-29 21:47] mauriciofauth commented on #15875
I agree.

[2020-01-29 22:01] yashrajbothra commented on #15877
After some lookup in error log i found error is related to sorting of table headers. Can you please try to elborate whole story of the issue @felsd which can help me reproducing.

if you can give structure of those tables it can help?

[2020-01-29 22:18] yashrajbothra opened #15880 "Show / Hide query box text link"
### Is your feature request related to a problem? Please describe.

![image](https://user-images.githubusercontent.com/47683556/73402361-24428400-4313-11ea-903c-cb64de8dc592.png)

### Describe the solution you'd like

Could be a button or Link rather than pain text

[2020-01-29 22:36] arcanisgk commented on #15875
**_In this case use the modals, they already exist in Bootstrap._**

[2020-01-30 00:30] apircalabu commented on #15838
@williamdes of course: https://forum.remirepo.net/viewtopic.php?pid=11013#p11013

[2020-01-30 01:02] williamdes commented on #15838
Thank you, I will investigate to find out if we can write a test procedure or an article in the FAQ

[2020-01-30 04:05] ibennetch commented on #15875
I also agree with this suggestion.

I'm thinking we'll have to keep jQueryUI in phpMyAdmin 5.0 and perhaps we'll target the migration for 5.1?

[2020-01-30 04:39] rabeehrz commented on #15875
I’ll start looking into making widgets right away.

[2020-01-30 05:56] felsd commented on #15877
Only one table is affected.

## Structure
[code]

## Indexes
[code]

## Partitions
[code]

## Additional Info
[code]

## The Story
When I click on "Browse" I get the error dialog that I mentioned and the exception appears in the nginx log.

The previous sorting of that table was either by `id` descending or by of the timestamp columns (`column_14`, `column_15`, `column_16` or `column_18`).
I can't

[2020-01-30 07:59] williamdes commented on #15880
I am not sure to understand

And "rather than pain text" confused me on the interpretation

[2020-01-30 08:09] yashrajbothra commented on #15880
I mean it could be a button like this
![image](https://user-images.githubusercontent.com/47683556/73431105-98a61300-4365-11ea-93f7-b152ee5aa099.png)

or a link like:
![image](https://user-images.githubusercontent.com/47683556/73431164-cb500b80-4365-11ea-87cc-40b195dc5d9d.png)

Just pain text doesn't appeal to much as a clickable.

[2020-01-30 08:28] yashrajbothra commented on #15877
@felsd Are you getting error again n again or it was only one time?

[2020-01-30 09:02] williamdes commented on #15880
Okay, I understand
Why not :)

[2020-01-30 09:06] rabeehrz commented on #15880
@williamdes I'll work on this?

[2020-01-30 09:07] williamdes commented on #15880
Yes you can
Maybe another team member could comment if we should change the text to a button?

@mauriciofauth?

[2020-01-30 09:49] mightydok commented on #14495
Nope, i lost access to this database, so cant check right now

[2020-01-30 09:49] #14495 closed

[2020-01-30 10:54] felsd commented on #15877
I still get that error.

[2020-01-30 12:20] yashrajbothra commented on #15877
I added the affected table structure to my local machine and tried reproducing the issue but unfortunately i was unable to reproduce the error.

@williamdes Can You please help me reproducing the issue ?

[2020-01-30 12:36] mauriciofauth commented on #15880
I think a button is a good idea.

[2020-01-30 12:39] lem9 commented on #15876
Tested version 5.0.1 with sakila.film_category. I chose the `IN(...)` operator for the `category_id` column, used the standard CTRL/click to click multiple values, and the correct query was generated.

[2020-01-30 13:12] yutv commented on #15876
@lem9 CTRL/click works only when dropdown is marked as multiple (http://i.imgur.com/H9mfshZ.png), but it is not multiple sometimes (http://i.imgur.com/5v1jrkO.png)

[2020-01-30 14:26] anirudhsingh20 commented on #14801
@williamdes what should I do to understand file structure and codebase?  is there any documentation available ?

[2020-01-30 14:30] yashrajbothra commented on #14801
Take a [look](https://develdocs.phpmyadmin.net/phpmyadmin/PhpMyAdmin/Partition.html)

[2020-01-30 14:35] williamdes commented on #15877
@yashrajbothra sorry, no computer for now
I am traveling, when I get home in a week if no one found a solution :)

[2020-01-30 16:15] anirudhsingh20 opened #15882 "Bad UI: buttons showing instead of text (bootstrap theme)"
### Describe the bug

Buttons are showing instead of text in page-related-settings / navigation panel / logo link target ( bootstrap theme )

### To Reproduce

In bootstrap theme

1. Go to 'Navigation Panel'
2. Click on 'Setting (⚙️) icon '
3. Go to 'navigation panel' tab
4. In Logo link target -> (main) and (new) large button size as compared to text.

### Screenshots

![Capture](https://user-ima

[2020-01-30 16:30] rabeehrz commented on #15882
I wasn't able to reproduce this issue on 5.1.0-dev.

[2020-01-30 17:39] victorphoenix3 opened #15883 "procedure execute dialog box"
Create a new database.
create a procedure in the database.
click on its icon in the navigation tree to execute the procedure.
An empty Execute dialog opens .

![Screenshot from 2020-01-30 23-03-55](https://user-images.githubusercontent.com/48182195/73474967-7b009a00-43b5-11ea-888f-aac902053c14.png)

[2020-01-30 17:40] victorphoenix3 commented on #15883
working on this as a part of PR #15840  (issue #14430 )

[2020-01-30 19:36] rabeehrz opened #15885 "Small spacing issue in Metro Login Screen"
### Describe the bug

No margin between Username label and Username text input on login screen in metro theme.

### To Reproduce

Steps to reproduce the behavior:
1. Change theme to Metro
2. Logout
3. See bug

### Expected behavior
Proper spacing between label and text input

### Screenshots

![bug](https://i.imgur.com/o0x3Eub.png)

### Server configuration

- Operating system: macOS Catalina
- We

[2020-01-30 23:03] gregesposito commented on #13849
Hmm, this functionality is working on PMA 4.8.5 on Chrome 79.0.3945.130 (64-bit) on my setup now.

However, it is not working on the PMA demo page running 5.1.0-dev Git revision: d7b3d9f from master branch.

[2020-01-31 04:54] anirudhsingh20 commented on #15882
Are you using bootstrap theme ? It is present only in bootstrap theme

On Thu, 30 Jan 2020 at 08:30, Mohammed Rabeeh <notifications@github.com>
wrote:

[2020-01-31 09:44] OlafvdSpek opened #15887 "Drop table errors ignored"
If you drop multiple tables from the database structure tab, any errors appear to be ignored.
For example, if a table can't be dropped because of foreign key issues.

V: 4.9.4

[2020-01-31 12:20] OfficialOzioma commented on #15873
@williamdes i need help trying to locate the file that contain settings

[2020-01-31 13:40] yashrajbothra commented on #15873
Hey @OfficialOzioma r u talking about frontend part?

[2020-01-31 14:03] OfficialOzioma commented on #15873
Yes @yashrajbothra  am finding difficult to understand the folder structure and locating the file, spend two days already still not making progress. A help

[2020-01-31 15:13] AkashDPA opened #15888 "Android app to Publish information"
### Problem?

PhpMyAdmin is no doubt one of the best open source project but the problem(which i think) is that open source projects have less publicity and awareness in public. Of which advantage is taken by commercial products, even if they are not that worth at all but due to unawareness people fall for honey traps.

### Solution I can contribute

So I suggest that I can build a Android app (wi

[2020-01-31 15:29] yashrajbothra commented on #15873
Hey @OfficialOzioma what i suggest to do in this senerio is to run `git bisect` as it was not on earlier version so u can find a commit which caused this issue. U can also match the source code of `QA_5_0` and `master` and see whats causing the issue.

For folder Structure i follow the route of the particular URL. Routes are declared in `PMA/libraries/routes.php`. I recommend you to use a debugger

[2020-01-31 16:26] anirudhsingh20 commented on #15882
I have worked on this issue waiting for pr #15889 to accept and then I will add new pr .... as it is asking to merge all changes.

[2020-01-31 20:07] ibennetch commented on #15888
How would such an app be updated, maintained, and distributed?

[2020-02-01 05:40] AkashDPA commented on #15888
Thats where we need one more contributer as I only know Android Studio

[2020-02-01 07:00] kartik1000 commented on #14953
@williamdes I have implemented this feature but this is not supported by MariaDB and is supported by only MySQL after MySQL 5.7.  I should have checked this first 😅 . What should I do now?

[2020-02-01 08:33] yashrajbothra commented on #15888
I think for cross platform we could use frameworks like : Flutter ,React Native etc.

[2020-02-01 10:04] williamdes commented on #14953
@kartik1000 I think you need to hide the button or disable it
Maybe disabling the button and adding a tooltip to explain could be an idea

[2020-02-01 10:06] kartik1000 commented on #14953
@williamdes I thought we can keep the button for MariaDB but it will perform task through add/drop instead of rename. What do you think?

[2020-02-01 10:48] AkashDPA commented on #15888
Agree. But I have no experience with cross-platform framework. I will do some research.

[2020-02-01 11:13] anirudhsingh20 commented on #15882
I can not add a new pull request if I have a pending pull request??

[2020-02-01 11:45] anirudhsingh20 opened #15890 "Bad Ui: Chart not responsive ( navigation -> status -> query statistics chart)"
### Describe the bug

Chart is not responsive in navigation -> status -> query statistics ##chart

### To Reproduce

for screen width less than 1060 px

Steps to reproduce the behavior:
1. Go to 'navigations -> status'
2. Click on 'query Statistics'
3. See  'Chart'
4. See not responsive chart on the medium screen ( screen width less than 1160px)

### Screenshots

![chart0](https://user-images.gith

[2020-02-01 12:39] williamdes commented on #15882
@anirudhsingh20 yes you can, but you need to use different branches for each PR
Eg:
fix-issue-xyz > QA_5_0
fix-issue-abc > QA_5_0

[2020-02-01 14:58] williamdes commented on #14953
Yeah, very good idea!

[2020-02-01 15:00] williamdes commented on #15888
For me flutter is the only option but I do not understand how you could build an app because phpMyAdmin is not an api :confused:

[2020-02-01 15:18] OfficialOzioma commented on #15873
Thank @yashrajbothra that was helpful,

[2020-02-01 18:34] Uggy1 commented on #15845
after running following command "composer require pragmarx/google2fa-qrcode"

phpmyadmin gets php error 500

[2020-02-01 18:44] yashrajbothra opened #15893 "Invalid Link of Column | Index in Nav Panel"
### Describe the bug

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Navigation Panel'
2. Expand Database -> Table
3. See error (Invalid URL of link)

### Expected behavior

![image](https://user-images.githubusercontent.com/47683556/73597302-6a385b80-4550-11ea-8ab2-b7b58d571674.png)

### Screenshots

![image](https://user-images.g

[2020-02-01 19:15] williamdes commented on #15845
Thank you @Uggy1 I will try that ASAP

[2020-02-02 05:12] aschuch247 commented on #15200
@williamdes: I am not yet ready for phpMyAdmin 5, but I had a look at your implementation. I added two comments there.

[2020-02-02 06:21] victorphoenix3 commented on #15893
The bug didn't appear in my system.
![Screenshot from 2020-02-02 11-45-28](https://user-images.githubusercontent.com/48182195/73604169-486fc080-45b2-11ea-851c-5be3665ab64d.png)

[2020-02-02 07:41] williamdes commented on #15200
Thank you, re-opening so I do not forget to fix the implementation

[2020-02-02 09:33] yashrajbothra commented on #15893
Can you please provide system configration?

[2020-02-02 10:07] yashrajbothra commented on #15893
After Some Analaysis what i found is the link depends on the current page URL

### Example
If we are Browsing a Table Named `cms` and we click the link on the `Column` of any other table the current page will be refreshed

![image](https://user-images.githubusercontent.com/47683556/73606512-fe4a0780-45d0-11ea-83a6-ed0431340ab0.png)

In the above image i want to go to `Columns` of `ajax_test/subscr

[2020-02-02 11:16] yashrajbothra commented on #15187
Hey @aschuch247 can u please tell me how u changed the `SQL_MODE`

As I am unable to reproduce the issue

![image](https://user-images.githubusercontent.com/47683556/73607384-70274e80-45db-11ea-9931-65dd8c7051fa.png)

[2020-02-02 12:36] anirudhsingh20 commented on #15885
I am working on it

[2020-02-02 13:19] anirudhsingh20 opened #15895 "navigation icons are not positioned correctly (metro theme)"
### Describe the bug

PHPMyAdmin logo is missing and navigation icons are not positioned correctly in the left navigation panel (in the metro theme)

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'home'
2. Select 'Metro' theme
4. See the left navigation panel.

### Screenshots

![logomissing0](https://user-images.githubusercontent.com/49402380/73608732-7245d900-45ec-11ea-9090-955f0d3

[2020-02-02 15:28] MouadBH commented on #15895
hello am a newbie and would like to help out.

[2020-02-02 18:30] aschuch247 commented on #15187
I can still reproduce the error.

* phpMyAdmin: 4.9.4
* browser: Firefox 72.0.1 (64-bit)
* operating system: KDE neon

[2020-02-02 18:33] aschuch247 commented on #15187
@yashrajbothra: See the documentation at https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_no_auto_value_on_zero.

[code]

[2020-02-02 18:46] yashrajbothra commented on #15187
Thanks you @aschuch247 :)

I think `NULL` will be good solution as it creates New primary key for every new row even in `'NO_AUTO_VALUE_ON_ZERO'` mode.

Hey @williamdes is it Okay if we replace `0` to `NULL` for evey `Insert new Row`??

[2020-02-02 18:48] williamdes commented on #15187
Hey @yashrajbothra I think it would be okay but I need some documentation proof from MySQl and MariaDB to approve such a change

Can you please do some research?

[2020-02-02 18:50] williamdes commented on #15187
"NO_AUTO_VALUE_ON_ZERO affects handling of AUTO_INCREMENT columns. Normally, you generate the next sequence number for the column by inserting either NULL or 0 into it. NO_AUTO_VALUE_ON_ZERO suppresses this behavior for 0 so that only NULL generates the next sequence number."

Approved change for MySQL

[2020-02-02 19:01] yashrajbothra commented on #15187
For MariaDB : [Docs](https://mariadb.com/kb/en/auto_increment/)
![image](https://user-images.githubusercontent.com/47683556/73613498-62de8400-461c-11ea-8579-0928f11665d3.png)

cc @williamdes

[2020-02-02 19:02] williamdes commented on #15187
Thank you!
I think a PR can be made and merged into next patch version

[2020-02-02 19:13] yashrajbothra commented on #15187
Okay then Will Open a PR soon 👍

[2020-02-02 23:29] dala00 commented on #15830
Just for a information, may be a same issue.
![f37dd84b36bcbac2749ed7d9d5d7127f5e371d0148fdd](https://user-images.githubusercontent.com/6899053/73617129-081a4c00-465f-11ea-9376-6dd877426e7b.png)

details.
https://crieit.net/posts/phpMyAdmin5-0-1-Fatal-Error

[2020-02-02 23:35] d2inco commented on #15282
This issue is still present with PMA 5.0.1 and Mysql 8.0.17

[2020-02-03 01:24] iBrabus opened #15897 "Server status monitor not works"
### Describe the bug
Javascript error
Error in processing request
Error code: 500
Error text: Internal Server Error (rejected)
It seems that the connection to server has been lost. Please check your network connectivity and server status.

XHR Request:
500,GET,localhost,server_status_monitor.php?ajax_request=true&ajax_page_request=true&_nocache=1580692333607633734&token=3a3e2b38342d347125455f47505

[2020-02-03 02:24] MatisAct opened #15898 "sql injection in /phpmyadmin/libraries/classesCreateAddField.php"
### Describe the bug

- sql injection in  /phpmyadmin/libraries/classesCreateAddField.php
- function getTableCreationQuery() line 457
![sqli_phpmyadmin](https://user-images.githubusercontent.com/22276712/73620854-38b1b400-4666-11ea-869f-e536cbee876b.png)
### To Reproduce

Steps to reproduce the behavior:
1. Go to http://localhost/phpmyadmin/tbl_create.php?db=anydb
2. Click on save
3. sniff resques

[2020-02-03 03:21] ibennetch commented on #15898
We’ll investigate this and work on an expedited fix.

It’s common to alert a project privately when there is a potential security
matter so that a proper fix can be prepared and tested before the details
of the vulnerability are made public. In fact, when creating the issue here
on GitHub, we provide a series of prompts to help guide properly reporting
these issues.

[2020-02-03 06:42] williamdes commented on #15200
https://github.com/phpmyadmin/phpmyadmin/commit/3db8949ad3836db24e5cf182cbe715296654f56e#commitcomment-37079212

[2020-02-03 06:54] williamdes commented on #15830
Thank you @dala00 for the link.
It explains the bug and the fix

[2020-02-03 08:38] williamdes commented on #15895
Hi @MouadBH
I think you would need to follow this guide:

- Fork the repository
- Clone the fork locally into a web folder eg:`/var/www`
- Checkout master branch and create a new branch from it
- Run `yarn install` or `npm install`
- Run `composer install`
- Create a `config.inc.php` if needed using the example file
- Access your phpmyadmin website and login
- Start developing the fix
- Do not for

[2020-02-03 08:40] williamdes commented on #15897
Hi @iBrabus can you post the php error logs?

[2020-02-03 08:41] williamdes commented on #15282
@d2inco could you please give detailed instructions to reproduce this issue?

[2020-02-03 09:45] yashrajbothra commented on #15887
![image](https://user-images.githubusercontent.com/47683556/73642578-ebe6d100-4697-11ea-8ad7-287105b2cc8f.png)

@OlafvdSpek can you please explain little more ? 😕

[2020-02-03 09:48] OlafvdSpek commented on #15887
Did you do this from the database structure tab?

[2020-02-03 09:54] yashrajbothra commented on #15887
Sorry , Previously i tried in Dev( 5.1.0-dev) version.

Reproduced in Latest Stable (4.9.4)

[2020-02-03 10:00] williamdes commented on #15887
@yashrajbothra QA_5_0

[2020-02-03 10:08] OlafvdSpek commented on #15887
What branch would be used for updates to 5.0 then?

[2020-02-03 10:20] satyamsihare commented on #15890
I am currently working on improving the responsiveness of the Chart.

[2020-02-03 10:26] williamdes commented on #15887
@OlafvdSpek the mapping goes like this QA_y_z = y.z.x

QA_4_9 is closed for non security updates

and master branch is next z+1 actually

[2020-02-03 10:27] OlafvdSpek commented on #15887
OK, so @yashrajbothra should first try to reproduce in 5.0.

[2020-02-03 10:29] yashrajbothra commented on #15887
Ya , I tried and it seems there is also issue.

So . I will use QA_5_0 as base 👍

[2020-02-03 11:20] OlafvdSpek opened #15899 "Uncaught TypeError: mb_strtoupper - Relation view of a view"
[code]

V: 5.0.2-dev

[2020-02-03 12:11] OlafvdSpek opened #15900 "Error text"
What does rejected mean?
And why does it think the connection to the server has been lost?

I think this is returned on all internal server errors.

5.0.2-dev

![image](https://user-images.githubusercontent.com/2218936/73652132-6d356800-4686-11ea-8567-e508d525ae3b.png)

[2020-02-03 12:24] yashrajbothra commented on #15887
By `git bisect` i found 351e34ecf58c9125a2eba6492a3d025adf0d6fee was first good commit in Master branch.

[2020-02-03 12:36] williamdes commented on #15887
Bad commit I think

[2020-02-03 12:38] victorphoenix3 commented on #15899
will look into this

[2020-02-03 12:42] yashrajbothra commented on #15887
As `Master` have this feature and `QA_5_0` does not
So i ran a bisect in `master` and found the fetaure is reflecting after this commit so it should be called as GOOD commit i guess.

[2020-02-03 12:54] yashrajbothra commented on #15887
@williamdes do i need to open a PR because by mergeing 351e34e this in QA_5_0 it will get fixed specifically `libraries/mult_submits.inc.php` changes

[2020-02-03 12:56] OlafvdSpek commented on #15887
Is 351e34e the minimal change necessary to fix this?

[2020-02-03 12:58] yashrajbothra commented on #15887
`libraries/mult_submits.inc.php` just changes in this file will fix it 👍

[2020-02-03 13:06] MouadBH commented on #15895
@williamdes well done.

[2020-02-03 13:39] rabeehrz opened #15903 "Update .gitattributes"
Is it possible to add .DS_Store to .gitignore? Has it been left out for some specific reason?

[2020-02-03 13:55] williamdes commented on #15903
I agree to add it
But if in your PR you can review each line and remove eventual legacy things it would be awesome

[2020-02-03 13:55] williamdes commented on #15903
Branch: master

[2020-02-03 13:56] rabeehrz commented on #15903
@williamdes Can you explain what you mean by legacy things? I didn't get you.

[2020-02-03 14:02] williamdes commented on #15903
Oh sorry I did a mistake it is the `.gitattributes` file

https://github.com/phpmyadmin/phpmyadmin/blob/a972a00c9bccd30b1be8326538dcef74783c6dec/.gitattributes#L9

[2020-02-03 14:07] rabeehrz commented on #15903
@williamdes Oh Okay. I'll add .DS_Store to .gitignore and open up a PR.

[2020-02-03 14:08] TCB13 opened #15904 "Twig; Uncaught Error: Unsupported operand types in FilesystemCache.php:66"
Hello,
I installed the latest version 5.x from the website however it doesn't seem to work properly. After running setup and saving my config file I can connect to the databases however sometimes the UI fails with error 500 and I get this in PHP logs:
[code]

PHP: PHP 7.3.11-1;
Webserver: nginx/1.14.2

I event tried to edit composer.json and update twig to 2.12.3, however the problem persists.

Th

[2020-02-03 14:09] mauriciofauth commented on #15903
Hi, @rabeehrz. This file is not related to phpMyAdmin project. You can add your environment specific files to the [global ignore file](https://help.github.com/en/github/using-git/ignoring-files#create-a-global-gitignore).

[2020-02-03 14:14] williamdes commented on #15903
Okay, then let's not add it.
Anyway I never saw people committing this file.

[2020-02-03 14:22] d2inco commented on #15282
* Build a new lab machine with CentOS 8.0, and upgrade to CentOS 8.1.
* `dnf install mysql-server`, enable it, start the server.
* run `mysql_secure_installation` to set root account password.
* Grant access to root on remote box so that I can access via phpmyadmin.
* Log into PhpMyAdmin v.5.0.1, on the remote box.
* Add User Account:  'david', '%', (password), all admin privileges, GO.
--> This d

[2020-02-03 14:25] williamdes commented on #15904
@TCB13 apparently the root cause of this issue according to https://github.com/twigphp/Twig/blob/a086a3704d7a25cbd2beb4622ad9c006d645a61c/src/Cache/FilesystemCache.php#L66
Would be that the cache directory is not writable

Can you check this?

Anyway this code can not be fixed on our end so if you do not succeed please send your `config.inc.php` file and some details about your OS

[2020-02-03 14:28] williamdes commented on #15282
Thank you so much I will try ASAP

[2020-02-03 14:29] williamdes commented on #15900
Either it is a backend code issue or a CORS issue that prevents to get the error code

[2020-02-03 14:31] AkashDPA commented on #15888
App is not for using PhpMyAdmin in Mobile device but to educate people about PhpMyAdmin

[2020-02-03 14:33] OlafvdSpek commented on #15900
It happens with https://github.com/phpmyadmin/phpmyadmin/issues/15899 for example.

[2020-02-03 14:34] williamdes commented on #15888
Oh sorry I misunderstood
Yeah so flutter would be cool for that.
To be discussed then

[2020-02-03 14:36] anirudhsingh20 opened #15905 "Bad UI: Empty space after charsets table"
### Describe the bug

There is an empty space after the charsets table.

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'top navigations'
2. Click on 'charset'
3. See empty space after the charset table

### Screenshots
![charset)](https://user-images.githubusercontent.com/49402380/73661690-79d6b200-46c0-11ea-9af1-068b354e0e36.PNG)

### Expected behavior

![charset1](https://user-imag

[2020-02-03 14:36] williamdes commented on #15861
:ping_pong:

[2020-02-03 16:27] rabeehrz commented on #15903
Okay. I guess you can close this issue now.

[2020-02-03 18:06] #15903 closed

[2020-02-04 00:11] iBrabus commented on #15897
Sure, sorry!

https://pastebin.com/fcnu0gpb

[2020-02-04 00:20] iBrabus commented on #15897
Okay, enabling iconv extension in php.ini file helps! Now it works, but you can make some warning message for users, if they are missing some extensions!

Thank you!

[2020-02-04 00:28] williamdes commented on #15897
Thank you, we will improve this so users can have a warning displayed

[2020-02-04 02:26] stu01509 opened #15908 "UI Issue: User accounts table left spacing"
### Describe the bug

The User accounts overview table need left spacing, I think maybe some HTML or CSS cause this issue.

### To Reproduce

Steps to reproduce the behavior:
1. Go to User accounts overview

### Expected behavior
![](https://i.imgur.com/M1lDKyJ.png)

### Screenshots
![](https://i.imgur.com/FpwqNEX.png)

### Server configuration

- Operating system: Windows 10
- Web server: Apache/

[2020-02-04 08:08] michelepapucci opened #15909 "Translation error in it.po"
### Describe the bug

In po/it.po, line 16445, 'pazienza' shoudn't be there.

### Expected behavior

'pazienza' should become 'pazienza' or 'attendi'.

[2020-02-04 08:19] bismitaguha opened #15910 "UI issue: Alignment issues in form labels"
### Describe the bug

Alignment issues in Settings>>Tabs and Settings>>Display Relational Schema

### To Reproduce

Steps to reproduce the behavior:
1. Go to 'Settings'
2. Click on 'Tabs/Display Relational Schema'
4. See error in help icon alignment

### Expected behavior

In the other tabs like 'Startup' or 'Database Structure', the help icon is aligned to the right of the labels in the form.

##

[2020-02-04 08:21] bismitaguha commented on #15898
Can I work on this issue? @ibennetch

[2020-02-04 08:36] williamdes commented on #15909
@michelepapucci please go to https://hosted.weblate.org/projects/phpmyadmin/5-0/ to fix this issue

[2020-02-04 08:36] #15909 closed

[2020-02-04 11:20] yashrajbothra commented on #15410
Hey @williamdes I think the better solution would be to give a warning if the `auto_increment` value has diffrence.

What do you think?

[2020-02-04 11:23] williamdes commented on #15410
Hey @yashrajbothra I do not agree
Having a hidden field to detect if the value was changed by the user is the right solution :)

Ex:
AI value
AI initial value

If (AI value! = AI initial value)
//User changed the value
Update the AI value ()

[2020-02-04 11:28] yashrajbothra commented on #15410
Okay this also seems good solution i will try to implement this 👍

[2020-02-04 11:33] tawfiek commented on #15515
E: The repository 'http://ppa.launchpad.net/jfi/ppa/ubuntu eoan Release' does not have a Release file

[2020-02-04 11:48] #15635 closed

[2020-02-04 12:07] yashrajbothra commented on #14371
I will try to reproduce and fix this 👍

[2020-02-04 12:09] saurass commented on #14371
Yeah sure go ahead : )

[2020-02-04 12:43] stu01509 opened #15913 "UI Issue: Bootstrap UI DataBase table add column field overflow"
### Describe the bug

In Bootstrap UI, The database create page, Top of add column field overflow.

After Create database table, It will go to configuration table field page.
![](https://i.imgur.com/ntiyFEI.png)

### To Reproduce

Steps to reproduce the behavior:
1. Select the database you want to create a table.
2. Create table.
3. Saw the add column field overflow.

### Expected behavior
![](htt

[2020-02-04 12:56] williamdes commented on #15515
@Blaimi could you please have a look?

[2020-02-04 13:56] yashrajbothra commented on #14371
![image](https://user-images.githubusercontent.com/47683556/73750897-0b5b2800-4784-11ea-8222-699e8918caac.png)

Can anyone help me reproduce this I tried it in -> [DEMO](https://demo.phpmyadmin.net/master-config/)
using MariaDB

[2020-02-04 13:59] williamdes commented on #14371
@yashrajbothra you need to use difficult examples
See my comment https://github.com/phpmyadmin/phpmyadmin/issues/14371#issuecomment-433714771

[2020-02-04 17:10] bismitaguha commented on #15821
@williamdes Can I work on this issue?

[2020-02-04 17:19] williamdes commented on #15821
@bismitaguha yes, but check https://github.com/phpmyadmin/sql-parser/issues/284 before
Fixing that on the library could solve this issue

[2020-02-04 19:28] Blaimi commented on #15515
The ppa with the error is the one from `jfi` for package `psensor` not for phpMyAdmin.

Execute `sudo add-apt-repository --remove ppa:jfi/ppa`and the error should be gone.

[2020-02-04 20:39] erolatreston opened #15918 "Unable to find template "sql/sql_query_results.twig""
### Describe the bug
Getting when clicking on a non-empty table
[code]

A clear and concise description of what the bug is.

### To Reproduce

Steps to reproduce the behavior:
2. Click on a non-empty database table
4. See error in a pink box

### Screenshots

If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/13632094/73784966-495d4980-4

[2020-02-04 20:59] williamdes commented on #15918
https://github.com/phpmyadmin/phpmyadmin/blob/RELEASE_5_0_1/templates/sql/sql_query_results.twig

Hi @erolatreston I think you had a copy issue because the file exists
Did you check any caching solution that you may have?
Please try to extract the version once more

[2020-02-04 21:54] ibennetch commented on #15898
Sure, Bismita. I’m not sure in which branch this first appears, but a fix
should target QA_4_9 if applicable.

[2020-02-04 21:57] erolatreston commented on #15918
`templates/sql/**` files got filtered out during installation.
This is caused by installation error.

[2020-02-04 21:57] #15918 closed

[2020-02-05 00:47] apircalabu commented on #15706
Right, think I can replicate this problem on multiple instances, all on CentOS7 using both nginx and Apache and various php versions, with both php-fpm as well as mod_php. For me upload just doesn't work at all, even the simplest sql table dump crashes php (or httpd if using mod_php) with SIGSEGV. Best I could produce so far is to get httpd to dump core files :)
More information on one testing mac

[2020-02-05 01:01] williamdes commented on #15706
@apircalabu I have an intuition
Can you try to disable the uploadprogress extension or/and the ioncube extension

[2020-02-05 01:52] MatisAct commented on #15898
sorry about the issues,i don't know about it.  How i can contact security team? contact email "security@phpmyadmin.net"?

[2020-02-05 02:06] apircalabu commented on #15707
Yes, that did @williamdes :) After disabling uploadprogress the crashes went away, thanks!

[2020-02-05 02:08] apircalabu commented on #15706
Yes, that did @williamdes :) After disabling uploadprogress the crashes went away, thanks!

[2020-02-05 02:13] apircalabu commented on #15706
As a side note, I was seeing the crashes using uploadprgress version 1.1.3 installed from Remi repositories, e.g.:
php-pecl-uploadprogress-1.1.3-1.el7.remi.7.3.x86_64
php-pecl-uploadprogress-1.1.3-1.el7.remi.7.4.x86_64
php71-php-pecl-uploadprogress-1.1.3-1.el7.remi.x86_64
php72-php-pecl-uploadprogress-1.1.3-1.el7.remi.x86_64

[2020-02-05 02:13] ramsey commented on #15706
What version of the uploadprogress extension do you have installed? Re-enable it and dump the output of `php --ri uploadprogress` here, please.

[2020-02-05 02:15] apircalabu commented on #15706
@ramsey just posted the versions, php --ri uploadprogress shows:

uploadprogress

uploadprogress support => enabled
Version => 1.1.3

Directive => Local Value => Master Value
uploadprogress.file.filename_template => /tmp/upt_%s.txt => /tmp/upt_%s.txt
uploadprogress.file.contents_template => /tmp/upload_contents_%s => /tmp/upload_contents_%s
uploadprogress.get_contents => 0 => 0

[2020-02-05 02:15] ramsey commented on #15706
Thanks!

[2020-02-05 02:21] ramsey commented on #15706
Are you, by chance, using a public Docker container that has all of these things installed on it? If not, no worries. I can set it up, but I want to replicate the whole system, since I have a hunch that there’s some kind of conflict with either opcache or ioncube.

[2020-02-05 02:26] apircalabu commented on #15706
@ramsey no docker image available unfortunately (perhaps ask Remi repo maintainer https://forum.remirepo.net/ if he has one with the required packages instaleld on it?), but it should be pretty straightforward to replicate the environment starting with a stock CentOS 7 installation and following the instructions from:
https://blog.remirepo.net/post/2018/12/10/Install-PHP-7.3-on-CentOS-RHEL-or-Fedo

[2020-02-05 04:02] ibennetch commented on #15898
Yes, that's correct; we prefer to use that email address for security matters.

Thank you for your report; we'll keep you posted either here or through email regarding any release that will fix this. Best wishes.

[2020-02-05 05:26] #15910 closed

[2020-02-05 06:07] ramsey commented on #15706
Quick update:

I've put together a CentOS 7 Docker image with PHP 7.3 and Apache 2.4.6, including all the PHP modules you listed above: https://hub.docker.com/layers/benramsey/php-sandbox/centos7-phpmyadmin/images/sha256-b1e52243e81898cd587b6cf6410af7f8b821c9b9c9db03d24d6db5b27c3aaa6d

I've also got a `docker-compose.yml` file that will run an environment to test this: https://github.com/ramsey/do

[2020-02-05 06:27] yashrajbothra commented on #14371
I tried above query in Demo server and it gave the issue as explained.
But when i tried to reproduce it in local machine i was unable to reproduce 😕

### Configuration
![image](https://user-images.githubusercontent.com/47683556/73816325-5e79bd00-480e-11ea-8130-ceaac2ce3de6.png)

OS : Windows 10 Pro 1909

cc @williamdes

[2020-02-05 06:57] williamdes commented on #14371
@yashrajbothra did you try queries from the linked issues in my comment?

[2020-02-05 08:53] yashrajbothra commented on #14371
Thanks @williamdes So,I looked into all the related issue and What i understood is that the when we insert any pre-defined functions of mysql into value it treats function as string.Execpt current_timestap() .
Because of this ->
![image](https://user-images.githubusercontent.com/47683556/73825890-d225c500-4822-11ea-9703-35deb337452b.png)

So, current_timestap(2) is also treated as string.

Did i g